<main class="page">
  <mm-title-with-description
    title="Textarea"
    description="long content field"
  ></mm-title-with-description>

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd>TextInput</dd>
    <dd>Input</dd>
  </dl>

  <section class="component-example">
    <div style="max-width: 400px">
      <mm-textarea
        label="Textarea"
        placeholder="Textarea Placeholder... rows는 기본값"
      ></mm-textarea>
      <small class="textfield-byte"><b>0</b> / 100</small>
    </div>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <dt>name</dt>
      <dd>string</dd>
      <dt>label</dt>
      <dd>string</dd>
      <dt>isHiddenLabel<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>value</dt>
      <dd>string</dd>
      <dt>placeholder</dt>
      <dd>string</dd>
      <dt>length</dt>
      <dd>number</dd>
      <!-- <dt>rows</dt>
      <dd>number. 플랫폼에서 고정.</dd> -->
      <dt>helper<attr>?</attr></dt>
      <dd>string</dd>
      <dt>isDisabled<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>isReadOnly<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>isAutoFocus<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>onChange<attr>?</attr></dt>
      <dd>(event: React.ChangeEvent&lt;HTMLInputElement&gt;) => void</dd>
      <dt>onKeyDown<attr>?</attr></dt>
      <dd>(event: KeyboardEvent&lt;HTMLInputElement&gt;) => void</dd>
      <dt>onFocus<attr>?</attr></dt>
      <dd>(event: React.FocusEvent&lt;HTMLInputElement&gt;) => void</dd>
    </dl>
  </section>

  <!-- <section class="component-guide"></section> -->
  <div style="height: 1rem"></div>

  <mm-component-section title="Comment Input" description="TODO"> </mm-component-section>
  <mm-component-section title="Prompt Input" description="TODO">
    <div style="background: var(--color-background-weak); border-radius: var(--radius)">
      <mm-textarea placeholder="샘플러"></mm-textarea>
      <div
        class="prompt-input-actions"
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: var(--space-2) var(--space-3);
        "
      >
        <mm-icon-button icon="star"></mm-icon-button>
        <mm-button variant="primary" size="small">전송</mm-button>
      </div>
    </div>
  </mm-component-section>
</main>
