<main class="page">
  <mm-text-group variant="title">
    <mm-text variant="title">Textarea</mm-text>
    <mm-text variant="body-large">long content field</mm-text>
  </mm-text-group>

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd>TextInput</dd>
    <dd>Input</dd>
  </dl>

  <section class="component-example">
    <div style="max-width: 400px">
      <mm-textarea
        label="Textarea"
        placeholder="Textarea Placeholder... rows는 기본값"
      ></mm-textarea>
      <small class="textfield-byte"><b>0</b> / 100</small>
    </div>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <dt><del>type - to be deprecated</del></dt>
      <dd><del>HTMLInputTypeAttribute? | "text" | "number"</del></dd>
      <dt>name</dt>
      <dd>string</dd>
      <dt>label</dt>
      <dd>string</dd>
      <dt>isHiddenLabel<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>value</dt>
      <dd>string</dd>
      <dt>placeholder</dt>
      <dd>string</dd>
      <dt>length</dt>
      <dd>number</dd>
      <dt>rows</dt>
      <dd>number</dd>
      <dt>helper<attr>?</attr></dt>
      <dd>string</dd>
      <dt>isDisabled<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>isReadOnly<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>isAutoFocus<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>onChange<attr>?</attr></dt>
      <dd>(event: React.ChangeEvent&lt;HTMLInputElement&gt;) => void</dd>
      <dt>onKeyDown<attr>?</attr></dt>
      <dd>(event: KeyboardEvent&lt;HTMLInputElement&gt;) => void</dd>
      <dt>onFocus<attr>?</attr></dt>
      <dd></dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text variant="body">코멘트, 게시판 내용.</mm-text>
    </mm-text-group>

    <mm-text-group>
      <mm-text variant="subhead">Platform problems</mm-text>
    </mm-text-group>
  </section>
</main>
