/* reset */
i {
  font-style: normal;
}

.icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 1rem !important;
  color: var(--color-text);

  --icon-size: 0;
  --icon-font-size: 0;

  &[data-size=small] {
    font-size: .875rem !important
  }
  &[data-size=large] {
    font-size: 1.5rem !important;
  }
}