<main class="component">
  <!-- 아이콘버튼은 아바타가 아니라 칩/버튼 액션이다. -->

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Chips</test-text>
    <test-text variant="body-large"
      >사용자 여정을 보조하는 액션입니다. 실행 페이지에서 사용자는 즉각적인 결과를 기대할 수
      있습니다.</test-text
    >
    <dl class="article-aka" style="margin: 0">
      <dt>a.k.a.</dt>
      <dd>Tag</dd>
      <dd>Pill</dd>
      <dd>Badge</dd>
      <dd>Token</dd>
      <dd>Label</dd>
    </dl>

    <section class="component-example">
      <test-chip-group>
        <test-chip label="default"></test-chip>
        <test-chip label="active" status="active"></test-chip>
        <test-chip label="disabled" status="disabled">
          style="opacity: 0.5; cursor: not-allowed" disabled</test-chip
        >
        <test-chip label="destructive" status="destructive">
          background: var(--red100) / color: var(--red800)</test-chip
        >
      </test-chip-group>
      <test-separator></test-separator>
      <test-chip-group>
        <test-chip label="checkable" status="checked">
          <test-icon slot="icon" name="check"></test-icon>
        </test-chip>
        <test-chip label="removable / clearable" status="checked">
          <test-icon slot="suffix" name="xmark"></test-icon>
        </test-chip>
        <test-chip label="expandable" aria-expanded="true">
          <test-icon slot="suffix" name="nav-arrow-down"></test-icon>
        </test-chip>
        <test-chip label="with icon">
          <i slot="icon">🦔</i>
        </test-chip>
        <test-chip icon="" label="좋아요" value="117">
          <i slot="icon">❤️</i>
          <!-- <div slot="suffix" style="margin-left: -0.5rem"><test-badge>11</test-badge></div> -->
        </test-chip>
      </test-chip-group>
      <test-separator></test-separator>
      <test-chip-group>
        <test-chip name="Filter" label="Created by anyone">
          <test-icon slot="suffix" name="nav-arrow-down"></test-icon>
        </test-chip>
        <test-chip status="info" name="Sort" label="Last modified">
          <test-icon slot="suffix" name="nav-arrow-down"></test-icon>
        </test-chip>
      </test-chip-group>
      <test-separator></test-separator>
      <test-chip-group>
        <test-searchfield size="small" placeholder="검색꾸">
          <test-icon slot="prefix" name="search" size="small"></test-icon>
        </test-searchfield>
        <test-chip name="Filter" label="오늘">
          <test-icon slot="suffix" name="nav-arrow-down"></test-icon>
        </test-chip>
        <div style="margin-left: auto">
          <test-chip status="info" name="Sort" label="최신순">
            <test-icon slot="suffix" name="nav-arrow-down"></test-icon>
          </test-chip>
        </div>
      </test-chip-group>
      <test-separator></test-separator>
      <div style="display: flex">
        <test-chip label="">
          <i slot="icon">🦔</i>
        </test-chip>
        <test-chip status="info" label="">
          <test-icon slot="icon" name="user"></test-icon>
        </test-chip>
        <test-chip status="info" label="">
          <test-icon slot="icon" name="bell"></test-icon>
        </test-chip>
      </div>
    </section>

    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>name</dt>
        <dd>string</dd>
        <dd></dd>
        <dt>label</dt>
        <dd>string</dd>
        <dd>하나의 단어 또는 복합명사</dd>
        <dt>isChecked<attr>?</attr></dt>
        <dd>boolean</dd>
        <dd>with ariaSelected. toggle or single active. 링크로 쓰지 않는다.</dd>
        <dt>onClick</dt>
        <dd>() => void</dd>
        <dd>TODO checked 의존</dd>
        <dt>onRemoveClick<attr>?</attr></dt>
        <dd>() => void</dd>
        <dd>TODO 합성 컴포넌트를 만드는 게 좋다. isRemovable과 통합</dd>
        <dt>aria???</dt>
        <dd>'checked' | 'expanded' | 'selected' | 'pressed'</dd>
        <dd>TODO onRemoveClick와 설명과 같은 맥락</dd>
        <dt>ariaHaspopup<attr>?</attr></dt>
        <dd>null</dd>
        <dd>TODO</dd>
      </dl>
    </section>

    <section class="component-guide">
      <test-text variant="subhead">Behavior</test-text>
      <test-text variant="body">
        하나의 칩은 하나의 액션을 합니다. splitButton이 아님. 아이콘은 단지 indicator의 역할을 하고
        칩 자체가 하나의 클릭 액션. 아이콘이 별도의 액션을 하는 것 아님.
      </test-text>
      <test-text variant="subhead">Visual Style</test-text>
      <test-text variant="body"
        >맥락이 다른 chip을 그룹으로 제공할 수 있습니다. 이 때 단일선택, 다중선택, 삭제여부,
        펼침메뉴 등의 기표를 충분히 제공하세요.
      </test-text>
      <test-text variant="body"
        >목록의 재정렬을 위한 옵션 목록을 group으로 제공하지 마세요. 현재 정렬 상태만 요약 표기하고
        확장가능한 메뉴로 정렬 목록을 제공하세요. (bad case: 2022.04 구글 지도 바뀐 것)</test-text
      >
      <test-text variant="body"
        >TODO 선택을 클리어하는 클리어버튼을 만드는 게 좋을지도. 이건 검색필드에서 쓰는 컴포넌트와
        같음.
      </test-text>

      menu button - dropdown trigger , listbox - allows a user to select one or more of them

      <test-text variant="subhead">A11y</test-text>
      <test-text variant="body">
        chipGroup selected=[] role=listbox aria-orientation="vertical"
        aria-multiselectable="true"<br />
        chip value="" role="option" aria-selected="true"
      </test-text>

      <test-text variant="subhead">Meta problems</test-text>
      <test-text variant="body"
        >안드로이드: chipGroup, HorizontalScrollView, singleLine, action/entry/filter(check
        active)/choice</test-text
      >
      <test-text variant="body">
        형태로 분류하면 결국 그냥 버튼임. 기능으로 분류하는 것이 중요함. 많은 디자인 시스템이 칩을
        정의하지 않고 있음. 도메인에 특화된
      </test-text>
      <test-text variant="body">
        More. position 규칙이 필요함. 글자수 제한. 모달로 열릴 수 있어서, 드롭다운은
        제거함.</test-text
      >
      <test-text variant="body"> Markup(button vs radio,checkbox)</test-text>
    </section>

    <test-text variant="subhead">Action Button<sup>keyword searching</sup></test-text>
    <section class="component-case">
      <test-group class="keywords-group">
        <test-chip label="로얄테넌바움"></test-chip>
        <test-chip label="소매치기"></test-chip>
        <test-chip label="이탈리아여행"></test-chip>
        <test-chip label="아파트열쇠를빌려드립니다"></test-chip>
      </test-group>
    </section>

    <test-text variant="subhead">Contents filtering<sup>single selection</sup></test-text>
    <section class="component-case">
      <test-group>
        <test-chip label="전체" status="active" class="js-toggle is-active"></test-chip>
        <test-chip label="결제완료" class="js-toggle"></test-chip>
      </test-group>
      <test-separator></test-separator>
      <test-group aria-multiselectable="true">
        <test-chip role="option" aria-selected="true" status="checked" label="소설">
          <test-icon slot="icon" name="check"></test-icon>
        </test-chip>
        <test-chip role="option" aria-selected="false" status="checked" label="영화">
          <test-icon slot="icon" name="check"></test-icon>
        </test-chip>
        <test-chip label="타이포그래피" role="option" aria-selected="false"></test-chip>
      </test-group>
    </section>

    <test-text variant="subhead">Toggle Button / 아니면 아이콘 ? selection</test-text>
    <section class="component-case">
      <test-chip-group>
        <test-chip label="팔로우" status="active"></test-chip>
        <test-chip label="팔로우 중"></test-chip>
      </test-chip-group>
      <test-separator></test-separator>
      <test-chip-group>
        <test-chip label="추가하기">
          <test-icon slot="icon" name="plus"></test-icon>
        </test-chip>
        <test-chip label="추가됨" status="checked">
          <test-icon slot="icon" name="check"></test-icon>
        </test-chip>
      </test-chip-group>
      <test-separator></test-separator>
      <test-chip-group>
        <test-chip label="TODO 좋아요" status="active"></test-chip>
      </test-chip-group>
    </section>

    <test-text variant="subhead"
      >Pick Button Expandable / aria-expanded :: dropdown with icon / dropdown/overflow/pulldown /
      filter / sort</test-text
    >
    <section class="component-case">
      <test-group>
        <div class="dropdown">
          <test-chip label="필터" class="js-toggle" aria-expanded="true">
            <test-icon slot="icon" name="filter"></test-icon>
          </test-chip>
          <test-tile variant="elevated" size="small" style="max-width: 300px; position: absolute">
            <test-menu-group class="dropdown-menu">
              <test-radio name="gogo" value="">1~3명</test-radio>
              <test-radio name="gogo" value="">1~3명</test-radio>
              <test-chip label="적용"></test-chip>
            </test-menu-group>
          </test-tile>
        </div>
        <div class="dropdown">
          <test-chip label="최신순" aria-expanded="true">
            <test-icon slot="suffix" name="nav-arrow-up"></test-icon>
          </test-chip>
          <test-tile variant="elevated" size="small" style="max-width: 300px; position: absolute">
            <test-menu-group class="dropdown-menu">
              <h6 class="dropdown-menu-title" hidden>Dropdown header</h6>
              <test-menuitem label="최신순" disabled>
                <test-icon slot="check" name="check"></test-icon>
              </test-menuitem>
              <test-menuitem label="인기순">
                <span slot="check"> </span>
              </test-menuitem>
            </test-menu-group>
          </test-tile>
        </div>
        <div class="dropdown">
          <test-chip aria-label="more_vert" aria-haspopup="menu" aria-expanded="false">
            <test-icon slot="icon" name="more-vert"></test-icon>
          </test-chip>
          <test-tile variant="elevated" size="small" style="max-width: 300px; position: absolute">
            <test-menu-group class="dropdown-menu">
              <test-menuitem label="신고"></test-menuitem>
              <test-separator></test-separator>
              <!-- TODO <hr class="dropdown-menu-divider" style="margin: 0.5rem 0" /> -->
              <test-menuitem label="수정"></test-menuitem>
              <test-menuitem label="삭제"></test-menuitem>
            </test-menu-group>
          </test-tile>
        </div>
      </test-group>
    </section>

    <test-text variant="subhead"
      >addable/removable 이거 필요한가? 칩 말고 다른 형태로 하고 싶다.</test-text
    >
    <section class="component-case">
      <test-group> </test-group>
    </section>

    <!-- <li>당연한 얘기... 텍스트 레이블을 생략하는 경우 관습적인 메타포의 아이콘(북마크/하트/카트 등)을 사용하고 대체 텍스트와 툴팁을 제공하세요.</li> -->

    <section class="component-references">
      <test-text variant="label">References</test-text>
      <test-link href="https://material.io/components/menus" target="_blank" style="display: block"
        >MD menu</test-link
      >
      <!-- <span class="icon-bullet"></span> -->
      <test-link
        href="https://developer.apple.com/design/human-interface-guidelines/components/menus-and-actions/pull-down-buttons"
      >
        pull down button</test-link
      >
      <!-- <span class="icon-bullet"></span> -->
      <test-link
        href="https://developer.apple.com/design/human-interface-guidelines/ios/controls/pull-down-menus/"
        target="_blank"
      >
        HIG pull down menu
      </test-link>
      <!-- <span class="icon-bullet"></span> -->
      <test-link
        href="https://developer.android.com/reference/com/google/android/material/chip/ChipGroup"
        target="_blank"
      >
        MD chip group
      </test-link>
    </section>
  </article>
</main>
