<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Chips</test-text>
    <test-text variant="title">사용자 여정을 보조하는 액션입니다. 실행 페이지 내에서 사용자는 즉각적인 결과를 기대할 수 있습니다.</test-text>

    <p>todo aria-expanded :: dropdown with icon</p>

    <aside class="article-aka" style="margin: 0">
      <test-tag>a.k.a.</test-tag>
      <span class="hashtag" title="">Tag</span>
      <span class="hashtag" title="">Pill</span>
      <span class="hashtag" title="">Badge</span>
      <span class="hashtag" title="gitlab">Token</span>
      <span class="hashtag" title="">Label</span>
    </aside>

    <section class="component-example">
      <test-tile>
        <test-row>
          <test-chip label="default"></test-chip>
          <test-chip label="active" status="active"></test-chip>
          <test-chip label="disabled" status="disabled"> style="opacity: 0.5; cursor: not-allowed" disabled</test-chip>
          <test-chip label="destructive"> background: var(--red100) / color: var(--red800)</test-chip>
        </test-row>
      </test-tile>
      <test-tile>
        <test-row>
          <test-chip icon="❤️" label="좋아요" value="117"></test-chip>
          <test-chip label="removable"></test-chip>
          <test-chip icon="🦔" label="with icon"></test-chip>
          <test-chip icon="✓" label="checkable" status="active"></test-chip>
          <test-chip label="expandable" aria-expanded="true"></test-chip>
        </test-row>
      </test-tile>
      <test-tile>
        <test-row>
          <!-- 아이콘버튼은 아바타가 아니라 칩/버튼 액션이다. -->
          <test-chip>
            <span class="material-symbols-outlined">close</span>
          </test-chip>
          <test-chip>
            <span class="material-symbols-outlined">close</span>
          </test-chip>
        </test-row>
      </test-tile>
      <article class="component-props">
        <test-text variant="subhead">Props</test-text>
        <dl>
          <dt>name</dt>
          <dd>string</dd>
          <dd></dd>
          <dt>label</dt>
          <dd>string</dd>
          <dd>하나의 단어 또는 복합명사</dd>
          <dt>isChecked<attr>?</attr></dt>
          <dd>boolean</dd>
          <dd>with ariaSelected. toggle or single active. 링크로 쓰지 않는다.</dd>
          <dt>onClick</dt>
          <dd>() => void</dd>
          <dd>TODO checked 의존</dd>
          <dt>onRemoveClick<attr>?</attr></dt>
          <dd>() => void</dd>
          <dd>TODO 합성 컴포넌트를 만드는 게 좋다. isRemovable과 통합</dd>
          <dt>aria???</dt>
          <dd>'checked' | 'expanded' | 'selected' | 'pressed'</dd>
          <dd>TODO onRemoveClick와 설명과 같은 맥락</dd>
        </dl>
      </article>
    </section>

    <!-- <test-text variant="subhead">Best practices</test-text> -->
    <test-text variant="body-large" class="article-kicker">
      <b>groupable</b> 맥락이 다른 chip을 그룹으로 제공할 수 있습니다. 이 때 단일선택, 다중선택, 삭제여부, 펼침메뉴 등의 기표를 충분히 제공하세요.
    </test-text>

    <test-text variant="body-large" class="article-kicker">
      데이터 목록의 재정렬을 위한 옵션 목록을 group으로 제공하지 마세요. 현재 정렬 상태만 요약 표기하고 확장가능한 메뉴로 정렬 목록을 제공하세요. (bad
      case: 2022.04 구글 지도 바뀐 것)
    </test-text>
    <!-- <li>changelog. dropdown을 칩과 분리. 이 디자인 시스템에서는 같은 형태를 사용하지만 배경색을 뺀 형태 케이스 고려해보기.</li> -->
    <!-- <li>changelog. icon button은 clickable이기 때문에 아바타가 아니라 칩을 mixin. 2개의 사이즈로 확장. => chip container style</li> -->

    <!-- <p>- addable/removable, todo: chip-icon의 hover... 결국 chip과 분리된 컴포넌트가 필요함. 역할이 다르기 때문에 괜찮음.</p> -->
    <!-- Markup(button vs radio,checkbox) -->
    <!-- <p>안드로이드: chipGroup, HorizontalScrollView, singleLine, action/entry/filter(check active)/choice</p> -->

    <!-- 
      <p>MD 기준.</p>
      <ul>
        <li>Input - removable</li>
        <li>Choice</li>
        <li>Filter with check icon</li>
        <li>Action with icon</li>
      </ul> -->

    <test-tile>
      <test-text variant="subhead">actionable chip<br />Keywords search</test-text>
      <test-row class="keywords-group">
        <test-chip label="로얄테넌바움"></test-chip>
        <test-chip label="소매치기"></test-chip>
        <test-chip label="이탈리아여행"></test-chip>
        <test-chip label="아파트열쇠를빌려드립니다"></test-chip>
      </test-row>
    </test-tile>
    <!-- <p>
        단일 칩으로 존재하지 않는다. 콘텐츠 필터링을 위한 칩 그룹에서, 액티브 상태에 브랜드 컬러를 쓰지 않는 경향. 콘텐츠 탐색이 cta. 눈에 띄지 않는
        무채색 활용이 높아짐.
      </p> -->
    <test-tile>
      <test-text variant="subhead" style="margin-top: 0">checkable chip<br />single selection - Contents filtering</test-text>
      <test-row>
        <test-chip label="전체" class="js-toggle is-active"></test-chip>
        <test-chip label="결제완료" class="js-toggle"></test-chip>
      </test-row>
    </test-tile>
    <test-tile>
      <test-text variant="subhead" style="margin-top: 0">multiple selections with check</test-text>
      <test-row aria-multiselectable="true">
        <test-chip role="option" aria-selected="true" label="소설">
          <figure class="chip-icon">
            <span class="material-symbols-outlined">check</span>
          </figure>
        </test-chip>
        <test-chip role="option" aria-selected="false" label="영화">
          <figure class="chip-icon">
            <span class="material-symbols-outlined">check</span>
          </figure>
        </test-chip>
        <test-chip label="타이포그래피" role="option" aria-selected="false"></test-chip>
      </test-row>
    </test-tile>

    <!-- <p>글자수 제한. 모달로 열릴 수 있어서, 드롭다운은 제거함. dropdown/overflow/pulldown. sorting contents</p> -->
    <test-tile>
      <test-text variant="subhead" style="margin-top: 0">Expandable chip<br />Filtering / Sorting / More<br />position setting</test-text>
      <test-row>
        <span class="stack" style="margin-left: -0.25rem">
          <span class="material-symbols-outlined"> do_not_disturb_on </span>
          1개 선택됨
        </span>
        <span class="material-symbols-outlined"> download </span>
        <span class="material-symbols-outlined"> delete </span>
      </test-row>
      <test-row>
        <div class="dropdown">
          <test-chip class="chip js-toggle" aria-expanded="true">
            <span class="chip-label" title="일행 당 인원 수">필터</span>
            <figure class="chip-icon material-symbols-outlined">arrow_drop_down</figure>
          </test-chip>
          <menu class="dropdown-menu" role="menu">
            <!-- role="menuitem" -->
            <test-radio id="gogo1" name="gogo" value="">1~3명</test-radio>
            <test-radio id="gogo1" name="gogo" value="">1~3명</test-radio>
            <footer style="margin: var(--space-2) 0 0 0">
              <button class="chip"><span class="chip-label">적용</span></button>
            </footer>
          </menu>
        </div>
        <div class="dropdown">
          <test-chip aria-expanded="true">
            <span class="chip-label">정렬</span>
            <figure class="chip-icon material-symbols-outlined">arrow_drop_down</figure>
          </test-chip>
          <menu class="dropdown-menu" role="menu">
            <h6 class="dropdown-menu-title" hidden>Dropdown header</h6>
            <a
              class="dropdown-menu-item"
              role="menuitem"
              href="#"
              disabled
              style="display: flex; justify-content: space-between; align-items: center"
            >
              최신순
              <span class="material-symbols-outlined">check</span>
            </a>
            <a class="dropdown-menu-item" role="menuitem" href="#">최신순</a>
          </menu>
        </div>
        <div class="dropdown">
          <test-chip aria-label="" aria-haspopup="menu" aria-expanded="false">
            <span class="material-symbols-outlined">more_vert</span>
          </test-chip>
          <menu class="dropdown-menu">
            <a class="dropdown-menu-item" href="#componets">신고</a>
            <hr class="dropdown-menu-divider" style="margin: 0.5rem 0" />
            <a class="dropdown-menu-item" href="#componets">수정</a>
            <a class="dropdown-menu-item" href="#componets">삭제</a>
          </menu>
        </div>
      </test-row>
      <style>
        [role='cell'] {
          width: 25%;
          padding: var(--space-3);
        }
      </style>
      <div
        role="row"
        style="
          display: flex;
          margin: var(--space-3) 0 0 0;
          font-size: var(--font-size-small);
          font-weight: var(--font-weight-bold);
          color: var(--color-text-light);
        "
      >
        <span role="cell" style="flex: auto">이름</span>
        <span role="cell" style="flex: auto">소유자</span>
        <span role="cell" style="flex: auto">마지막으로 수정한 날짜</span>
        <span role="cell" style="flex: auto">파일 크기</span>
      </div>
      <div class="" role="row" style="display: flex; border-top: var(--border)">
        <span role="cell" style="flex: auto">이름</span>
        <span role="cell" style="flex: auto">소유자</span>
        <span role="cell" style="flex: auto">2023. 05. 05</span>
        <span role="cell" style="flex: auto">2KB</span>
      </div>
    </test-tile>

    <div class="component-references">
      <test-text variant="subhead">References</test-text>
      <a href="https://material.io/components/menus" target="_blank" style="display: block">MD menu</a>
      <span class="icon-bullet"></span>
      <a href="https://developer.apple.com/design/human-interface-guidelines/components/menus-and-actions/pull-down-buttons">pull down button</a>
      <span class="icon-bullet"></span>
      <a href="https://developer.apple.com/design/human-interface-guidelines/ios/controls/pull-down-menus/" target="_blank" style="display: block"
        >HIG pull down menu</a
      >
      <span class="icon-bullet"></span>
      <a href="https://developer.android.com/reference/com/google/android/material/chip/ChipGroup" target="_blank"> MD chip group </a>
    </div>
  </article>
</main>
