.subscribe {@include tile-elevated;}
.subscribe-title {@include text-subhead;}
.subscribe-description {margin:var(--space-after-subhead) 0 var(--space-after-description) 0;}
.subscribe-field {}
.subscribe-submit {@include button-primary;width:50%;margin-top:var(--space-after-button);}
.subscribe-helper {display:block;margin:.25rem 0 0 0;font-size:var(--font-size-caption);}

.sitemap {display:flex;padding:4rem var(--grid-margin);position:relative;z-index:var(--zindex-default);}
.sitemap-background {@include bleeding;background:var(--color-background-weak);}
.sitemap-title {margin:0 0 1rem 0;@include text-subhead;}
.sitemap-item {width:25%;}
.sitemap-item-title {margin:0 0 var(--space-4) 0;font-size:var(--font-size-body);font-weight:normal;color:var(--color-text-light);}
.sitemap-item-link {display:block;margin:var(--space-2) 0;color:var(--color-text);}
.sitemap-item-link:hover {@include hover-text;}

.footer {display:block;padding:2rem var(--grid-margin);overflow:hidden;position:relative;z-index:var(--zindex-default);}
.footer-background {@include bleeding;}
.footer-address {}
.footer-address-logo {display:block;font-size:var(--font-size-subhead);filter:grayscale(100%);opacity:.5;}
.footer-address-slogan {@include text-subhead;margin:2rem 0 var(--space-4) 0;}
.footer-address-info {}
.footer-copyright {display:block;}

.footer-terms {}
.footer-terms-link {margin:0 1rem 0 0;}

.footer-scroll {}
.footer-scroll-indicator {}
.footer-scroll-indicator i {width:2px;height:8px;background:var(--gray800);margin:8px auto 0;animation:bounce 0.5s infinite alternate;transform:rotate(90deg);}
.footer-scroll-top {@include chip;}
.footer-scroll-bottom {display:none;}


.is-opened-menu .footer {margin-left:var(--menu-width);}

@media (--small) {
	.subscribe-field {width:100%;}

	.sitemap {flex-direction: column;}
	.sitemap-item {width:100%;margin:0 0 2rem 0;}
	.sitemap-item:nth-last-child(1) {margin-bottom:0;}
}


.footer-temp {
	margin:0 0 var(--space-4) 0;
	a {
		display: block;
		@include text-subhead;
	}
}