.subscribe {background:var(--gray200);padding:4rem 10% 6rem;text-align:center;position:relative;z-index:1;}
.subscribe-title {font-size:2rem;}
.subscribe-description {margin:1rem 0 3rem 0;}
.subscribe-field {width:50%;max-width:400px;margin:2rem auto .5rem;}
.subscribe-submit {@include button-primary;width:100%;max-width:400px;}
.subscribe-helper {display:block;margin:.5rem 0 0 0;font-size:.8rem;}

.footer {background:var(--gray0);overflow:hidden;margin:0 auto;padding:4rem 10% 8rem;box-sizing:border-box;position:relative;z-index:4;}

.footer-background {position:absolute;left:-50%;right:-50%;top:0;bottom:0;z-index:-1;}

.footer-scroll {position:fixed;bottom:1rem;right:1rem;z-index:8;}
.footer-scroll-indicator {}
.footer-scroll-indicator i {width:2px;height:8px;background:var(--gray800);margin:8px auto 0;animation:bounce 0.5s infinite alternate;transform:rotate(90deg);}
.footer-scroll-top {@include box-light;box-shadow:1px 1px 1rem rgba(0,0,0,.1)}
.footer-scroll-top i {transform:rotate(-90deg);}
.footer-scroll-bottom {display:none;}
.footer-scroll-top .is-visible {right:50px;}

.footer-sitemap {float:left;width:50%;position:relative;}
.footer-sitemap:after {content:'';display:block;clear:both;}
.footer-sitemap-title {margin:0 0 1rem 0;font-size:$subhead;}
.footer-sitemap-item {float:left;width:25%;}
.footer-sitemap-item-title {display:inline-block;margin:0 0 .75rem 0;font-size:14px;color:var(--gray400);}
.footer-sitemap-item-link {display:block;color:var(--gray600);}
.footer-sitemap-item-link:hover {color:$color-primary;}
.footer-terms {margin:2rem 0 1rem 0;}
.footer-terms-link {margin:0 1rem 0 0;}
.footer-address {float:right;width:50%;}
.footer-address:before {content:' ';display:block;height:inherit;/*border-top:1px solid var(--gray200);*/position:absolute;left:-50%;right:-50%;top:0;bottom:0;z-index:-1;}
.footer-address-logo {display:block;margin:1rem 0;filter:grayscale(100%);opacity:.5;}
.footer-address-info {}
.footer-slogan {font-size:$subhead;}
.footer-copyright {display:block;margin:2rem 0 0 0;}

// 간단한 푸터 :: 정책, 로그인 등
.is-short {padding-bottom:6rem;}
.is-short .footer-sitemap {display:none;}
.is-short .footer-address {float:none;width:100%;text-align:center;}
.is-short .footer-address-info {display:none;}

@media (--viewport-small) {
	.footer {padding:3rem 5% 6rem;}
	.subscribe {padding-left:5%;padding-right:5%;}
	.subscribe-field {width:100%;}
	.footer-sitemap {float:none;width:100%;position:relative;}
	.footer-sitemap-item {float:left;width:25%;}
	.footer-terms {margin:2rem 0 1rem;}
	.footer-address {float:none;width:100%;}
}