.footer {/*max-width:1080px;*/background:$gray0;overflow:hidden;margin:0 auto 0;padding:4rem 10% 6rem;box-sizing:border-box;position:relative;z-index:4;}
.footer-background {position:absolute;left:-50%;right:-50%;top:0;bottom:0;z-index:-1;}
.footer-newsletter {margin:0rem 0 3rem;}
.footer-newsletter-title {font-size:1.25rem;color:$gray800;}
.footer-newsletter-description {margin:.5rem 0 0 0;color:$gray400;}
.footer-newsletter-field {width:50%;margin:1.5rem 0 0 0;}
.footer-newsletter-field input {}
.footer-newsletter-field button {}
.footer-sitemap {float:left;width:50%;position:relative;}
.footer-sitemap:after {content:'';display:block;clear:both;}
.footer-sitemap-title {margin:0 0 16px 0;font-size:16px;}
.footer-sitemap-item {float:left;width:25%;}
.footer-sitemap-item-title {display:inline-block;margin:0 0 .75rem 0;font-size:14px;color:$gray400;}
.footer-sitemap-item-link {display:block;color:$gray600;}
.footer-sitemap-item-link:hover {color:#409EFF}
.footer-terms {margin:0 0 1rem 0;}
.footer-terms-link {margin:0 1rem 0 0;}
.footer-address {float:right;width:50%;}
.footer-address:before {content:' ';display:block;height:inherit;/*border-top:1px solid $gray200;*/position:absolute;left:-50%;right:-50%;top:0;bottom:0;z-index:-1;}
.footer-address-logo {display:inline-block;display:none;width:40px;margin:0 0 16px 0;filter: grayscale(100%);opacity:.5;}
.footer-address-info {}
.footer-copyright {display:block;margin:.5rem 0 0 0;}

@media (max-width: $breakpoint-small) {
	.footer {padding:3rem 5% 6rem;}
	.footer-newsletter-field {width:100%;}
	.footer-sitemap {float:none;width:100%;position:relative;}
	.footer-sitemap-item {float:left;width:25%;}
	.footer-terms {margin:2rem 0 1rem;}
	.footer-address {float:none;width:100%;}
}