$fixedHeaderHeight: 50px;

.header {width:100%;height:64px;margin:0 auto;background:#fff;position:fixed;left:0;right:0;top:0;z-index:4;transition:all .4s;box-shadow:$shadow400;}
.header-logo {font-size:2rem;color:$gray80;position:absolute;left:24px;top:50%;z-index:1;transform:translateY(-50%);margin-top:-2px;}
.header-logo img {display:block;float:left;width:40px;}
.header-logo span {float:left;display:block;font-size:1.5rem;color:$gray80;transition:all .2s;}
.header .navigation {position:relative;}
.header .navigation-toggle {display:none;width:48px;height:48px;position:absolute;left:10px;top:50%;z-index:6;transform:translateY(-50%);margin-top: -2px;}
.header .navigation-toggle:hover {background:#f9f9f6;}
.header .navigation ul {display:flex;width:100%;max-width:50%;margin-left:72px;}
.header .navigation ul li {margin:0;padding:0;position:relative;} // m p reset
.header .navigation ul li:before {display:none;} /* TODO: remove ul li default style */
.header .navigation ul li > a {display:block;padding:15px 16px 18px;text-align:left;font-size:1.25rem;color:$gray80;transition:all .2s ease;}
.header .navigation ul li > a i {margin-left:8px;}
.header .navigation ul li menu {display:flex;padding:48px 4rem 0;background-color:$color-primary;position:fixed;left:0;right:0;top:-240px;z-index:2;overflow:hidden;transition:$transition-base;}
.header .navigation ul li menu a {margin:0 1.5rem;font-size:14px;line-height:60px;color:#fff;opacity:0;transition:all .4s ease .4s;}

.is-shown .header-logo {color:#fff;z-index:8;}
.is-shown .icon-caret {border-top-color:#fff;}
.is-shown .header-user {z-index:8;}
.is-shown .header-user i {color:#fff;}
.is-shown .header-user .header-user-account-trigger img {background:#fff;}
.is-shown .navigation ul li.is-active .bg {display:block;}
.is-shown .navigation ul li > a {color:#fff;position:relative;z-index:3;} // z-index
.is-shown .navigation ul li > a em {color:#fff;}
.is-shown .navigation ul li menu {top:0;}
.is-shown .navigation ul li menu a {opacity:1;}


.setting {max-width:$width-medium;margin: 0 auto;}

.quick {width:64px;background:#fff;position:fixed;left:0;top:0;bottom:0;z-index:2;}
.quick a {display: block;width:100%;height:64px;margin:.25rem 0;text-align:center;color:$gray80;position: relative;}
.quick a i {vertical-align:middle;}
.quick a svg {vertical-align:middle;}
// .quick a:first-child {height: 56px;margin:0 auto 0;}
.quick a:nth-of-type(even) {}
.quick a:after {
	display: none;
	height: 24px;
	padding: 0 1rem;
	line-height: 24px;
	content: attr(aria-label);
	background: $gray80;
	font-size:12px;
	color:#fff;
	position: absolute;
	right: -40px;
	top: 50%;
	transform: translateY(-50%);
}
.quick a:hover:after {display: block;}


//.navigation.is-hidden ul li button:after {content: '';display: block;width:90%;height:8px;background: currentColor;position: absolute;bottom:0px;opacity: .6;transform: scaleX(0);transform-origin: right center;transition: .55s transform cubic-bezier(.19,1,.22,1);}
//.navigation.is-hidden ul li button:hover:after {transform: scaleX(1);transform-origin:left center;}
.header-user {display:flex;position:absolute;right:16px;top:16px;z-index:1;}
.header-user-link {margin:0 8px;color:$gray40;}
.header-user-cart {margin:0 8px;color:$gray40;}
.header-user-cart i {display:inline-block;min-width:18px;height:18px;line-height:18px;margin:0 0 0 2px;border-radius:10px;vertical-align:middle;padding:0 4px;box-sizing:border-box;background:$gray80;text-align:center;font-size:12px;color:#fff;}
// .header-user-link.--join {padding:8px 16px;background:crimson;color:#fff;}
.header-user-search {position:relative;}
.header-user-search-trigger {display:flex;justify-content:center;align-items:center;width:32px;height:32px;}
.header-user-search a i {vertical-align:middle;color:$gray80;}
.header-user-search-form {display:none;background:crimson;padding:6rem 10%;box-sizing:border-box;position:fixed;left:0;right:0;top:0;bottom:50%}
.header-user-search-form .textfield {max-width:800px;margin:0 auto;}
.header-user-search-form input {background:none;padding-left:0;border:none;border-bottom:4px solid rgba(255, 255, 255, .4);font-size:1.5rem;color:rgba(255, 255, 255, .4);}
.header-user-search-form input::placeholder {color:inherit;}
.header-user-search-form-close {position:absolute;right:5%;top:10%;}
.header-user-search-option {max-width:800px;margin:4rem auto;}
.header-user-search-option-heading {margin:0 0 .5rem;font-size:1.25rem;color:rgba(255, 255, 255, .4);}
.header-user-search-option-item {display:block;padding:.25rem 0;color:#fff;}
.is-active + .header-user-search-form {display:block;}

.header-user-notification {margin:0 1rem 0 .25rem;position:relative;}
.header-user-notification-trigger {display:flex;justify-content:center;align-items:center;width:32px;height:32px;}
.header-user-notification-trigger i {vertical-align:middle;color:$gray80;}
.header-user-notification-trigger em {display:block;width:4px;height:4px;border-radius:50px;background:$red800;border:1px solid #fff;text-indent:-9999px;position:absolute;right:.25rem;top:.25rem;}
.header-user-notification-menu {width:320px;height:0;padding:.5rem 1rem;box-sizing:border-box;background:#fff;box-shadow:$shadow400;position:absolute;top:36px;right:0;z-index:4;transition:all .2s ease;transform:scale(0);transform-origin:right top}
.header-user-notification-menu:before {content:'';display:block;position:absolute;left:50%;right:0;top:-8px;bottom:0;}
.header-user-notification-empty {width:320px;height:0;padding:2rem 0;box-sizing:border-box;background:#fff;box-shadow:$shadow400;position:absolute;top:36px;right:0;z-index:4;transition:all .2s ease;transform:scale(0);text-align:center;font-size:12px;color:$gray40;transform-origin:right top}
.header-user-notification-empty:before {content:'';display:block;position:absolute;left:50%;right:0;top:-8px;bottom:0;}
.header-user-notification.is-expanded menu {height:auto;transform:scale(1);}

.header-user-account {position:relative;}
.header-user-account-trigger {display:flex;justify-content:center;align-items:center;height:32px;}
.header-user-account-trigger span {float:left;display:block;width:32px;height:32px;overflow:hidden;border-radius:$radius400;background:$color-primary;position:relative;}
.header-user-account-trigger span img {width:auto;height:32px;position:absolute;}
.header-user-account-trigger i {float:left;display:block;margin:0 0 0 8px;}
.header-user-account-menu {width:200px;height:0;padding:.5rem 0;box-sizing:border-box;background:#fff;box-shadow:$shadow400;position:absolute;top:40px;right:0;z-index:4;transition:all .2s ease;transform:scale(0);transform-origin:right top;}
.header-user-account-menu:before {content:'';display:block;position:absolute;left:50%;right:0;top:-8px;bottom:0;z-index:0;}
.header-user-account-menu-heading {padding:.5rem 1rem;font-size:12px;}
.header-user-account-menu-item {display:block;padding:.25rem 1rem;font-size:12px;color:$gray60;position:relative;z-index:1;}
.header-user-account-menu-item:hover {background:$gray10;}
.header-user-account.is-expanded menu {height:auto;transform:scale(1);}

.dropdown {margin:1rem 0;position:relative;}
.dropdown-trigger {}
.dropdown-panel {min-width:200px;width:auto;height:0;padding:8px 0;background:#fff;position:absolute;z-index:5;box-shadow:$shadow400;transition:all .2s ease;transform:scale(0);}
.dropdown-panel-heading {padding:.5rem 1rem;font-size:12px;}
.dropdown-panel-link {display:block;padding:.25rem 1rem;font-size:12px;color:$gray60;position:relative;z-index:1;}
.dropdown-panel-link:hover {background:rgba(0,0,0,.05);}

.dropdown-panel.is-visible {height:auto;transform:scale(1);transform-origin:left top;}


.nav-up {top: -64px;}



@media (max-width:$breakpoint-small) {
	.header {height:48px;}
	.header-logo {margin-left:2rem;margin-top:-2px;z-index:6;}
	.header-user {top:7px;}
	.header .navigation {height:100%;}
	.header .navigation-toggle {display:block;left:0;}
	.header .navigation ul {display:block;margin-left:0;padding:48px 0;box-sizing:border-box;background:rgba(255,255,255,1);box-shadow:$shadow400;opacity:0;position:fixed;left:0px;top:0px;bottom:0px;z-index:5;transition:all .8s cubic-bezier(.165,.84,.44,1);transform:translateX(-100%);}
	.header .navigation ul.is-visible {opacity:1;transform:translateX(0);}
	.header .navigation ul li {display:block;}
	.header .navigation ul li > a {height:48px;line-height:48px;padding:0 2rem;}
	.header .navigation ul li menu a {line-height:32px;}
	.nav-up {top: -48px;}

	// .navigation ul li menu {position:static;top:auto;top:auto;}
	.is-shown .navigation ul li > a {display:block;color:$gray80;} // z-index
	.is-shown .navigation ul li menu {display:block;margin:0 0 1rem 0;padding:0rem 5%;background:none;position:static;top:auto;transition:initial;}
	.is-shown .navigation ul li menu a {color:$gray80;opacity:1;}
}

// 헤더 안에 배너?
@keyframes marquee {
	0% {left: 0;}
	100% {left: -100%;}
}




.page-head {display:flex;align-items:center;height:48px;border-radius:4px;margin:1rem auto;padding:0 1rem;position:fixed;left:10%;right:10%;z-index:2;transition:$transition-base;}
.page-heading {margin-top:-3px;font-size:1.25rem;}
.page-head-back {display:block;margin-left:-12px;}

.page-head.--white {}
.--white .page-heading {color:#fff;}
.--white .icon-arrow:before {border-color:#fff;}
.--white .icon-arrow:after {background-color:#fff;}

.page-head.is-fixed {height:64px;background:#fff;margin:0;padding:0 10%;top:0;left:0;right:0;z-index:5;}
.--white.is-fixed .page-heading {color:$gray80;}
.--white.is-fixed .icon-arrow:before {border-color:$gray80;}
.--white.is-fixed .icon-arrow:after {background-color:$gray80;}

@media (max-width:$breakpoint-small) {
	.page-head {left:0;right:0;}
	.page-head.is-fixed {height:48px;padding:0 5%;}
}