.topbar {display:flex;align-items:center;padding:1rem 10%;border-radius:$radius400;position:absolute;left:0;right:0;z-index:3;}
.topbar-back {}
.topbar-back-icon {@include box-light;margin:0 1rem 0 0;}
.topbar-back-icon {transform:rotate(180deg);}
.topbar-title {padding:0 10%;font-size:1rem;position:absolute;left:4rem;bottom:50%;transform:translateY(50%);z-index:5;}
.topbar-backdrop {height:32px;padding:1rem 0;}
.topbar-cta {@include button-tertiary;min-width:auto;margin-left:auto;padding:$padding100;font-size:12px;}

.is-sticky-topbar .topbar {background:var(--gray0);box-shadow:$shadow400;position:fixed;top:0;left:0;right:0;z-index:5;}
.is-sticky-topbar .topbar-title {display:flex;align-items:center;}
.is-white .topbar-back {color:var(--gray0);}
.is-sticky-topbar .is-white .topbar-back {color:var(--gray800);}

@media (--viewport-small) {
  .topbar {width:auto;padding:1rem 5%;}
  .topbar-title {padding:0 5%;}
  .is-sticky-topbar .topbar {height:32px;}
}

.dropdown {position:relative;}
.dropdown-trigger {}
.dropdown-trigger-caret {margin-left:.5rem;}
.dropdown-menu {
  min-width:200px;
  width:auto;
  height:0;
  padding:8px 0;
  background:var(--gray0);
  position:absolute;
  z-index:5;
  box-shadow:$shadow400;
  transition:all 0.2s ease;
  transform:scale(0);
  transform-origin:left top;
}
.dropdown-menu.is-visible {
  height:auto;
  transform:scale(1);
}
.dropdown-menu-title {
  padding:0.5rem 1rem;
  font-size:12px;
}
.dropdown-menu-link {
  display:block;
  padding:0.25rem 1rem;
  font-size:12px;
  color:var(--gray600);
  position:relative;
  z-index:1;
}
.dropdown-menu-link:hover {background:rgba(0, 0, 0, 0.05);}
.dropdown-menu-divider {}