.titlebar {display:flex;align-items:center;padding:var(--space-between-item) var(--grid-margin);position:relative;left:0;right:0;z-index:5;}
.titlebar-back {position:relative;z-index:1;}
.titlebar-back-icon {@include box-small;transform:rotate(180deg);}
.titlebar-title {margin:-1px 0 0;padding:0 3rem;font-size:var(--body);position:absolute;}
.titlebar-cta {margin-left:auto;}
.titlebar-cta svg {width:1rem;}
.titlebar-background {@include bleeding;background-color:var(--gray0);}
.titlebar-backdrop {height:32px;padding:var(--space-between-item) 0;background:var(--gray0);}

.is-sticky-titlebar .titlebar {position:fixed;top:0;}
.is-sticky-titlebar .titlebar-background {border-radius:var(--radius400);box-shadow:var(--shadow400);}