.navbar {display:flex;padding:var(--space) var(--grid-margin);background:var(--color-background);position:sticky;top:0;z-index:var(--zindex-navigation);}
.navbar-logo {@include avatar-medium;background-color:gold;border-radius:50%;}
.navbar-burger {@include chip;display:none;margin:0 var(--space-small) 0 0;z-index:calc(var(--zindex-navigation) + 1);}
.navbar-menu {display:flex;align-items:center;margin:-2px 0 0 var(--space);position:relative;z-index:var(--zindex-navigation);}
.navbar-menu-item {padding:0 var(--space);color:var(--color-text);position:relative;z-index:var(--zindex-default);transition:all .4s;} // m p reset
.navbar-menu-item.has-submenu {z-index:0;}
.navbar-menu-item.is-current:before {content:'';display:block;width:4px;height:4px;background:gold;}

.navbar-menu-item a {color:inherit;}
.navbar-menu-item:before {display:none;}
.navbar-menu-item i {margin-left:8px;}
.navbar-menu-item menu {display:flex;justify-content:center;padding:48px 5rem 0;background-color:var(--gray800);position:fixed;left:0;right:0;top:-240px;z-index:var(--zindex-navigation);transition:$transition-base;}
.navbar-menu-item menu a {margin:0 var(--space);line-height:60px;color:var(--gray0);opacity:0;transition:all .4s ease .3s;}
.navbar-menu-item menu a:hover {@include hover-text;}

.navbar-menu-item-submenu
// item - link

.navbar-menu-item.is-active {text-decoration:underline;}

.navbar-search-trigger {@include avatar-medium;}

// todo close icon rotate
.search {}
.search-form {background:var(--color-background);padding:.5rem var(--gr);box-sizing:border-box;}
.search-form-close {@include avatar-medium;position:absolute;left:1rem;top:14px;transform:rotate(180deg);}
.search-form-title {margin:0 auto 1rem;font-size:var(--font-size-subhead);}
.search-recommend {padding:0 var(--grid-margin);}
.search-recommend-title {margin:0 auto var(--space);@include text-label;}
.search-recommend-group {@include chip-group;}
.search-recommend-group-item {@include chip;}

.search-recent {padding:0 var(--grid-margin);}
.search-recent-title {margin:0 0 var(--space) 0;@include text-label;}
.search-recent-group {@include chip-group;}
.search-recent-group-item {@include chip;}

.search-preview {padding:0 var(--grid-margin);}
.search-preview-item {display:flex;align-items:center;position:relative;z-index:1;}
.search-preview-item + .search-preview-item {margin:var(--space-after-item) 0 0 0;}
.search-preview-item-avatar {@include avatar-medium;margin:0 var(--space-small) 0 0;}

// todo dropdown width mixin
// todo menu, empty 통일
// todo hidden state
.navbar-notification {margin:0 .5rem;position:relative;}
.navbar-notification-trigger {@include avatar-medium;}
.navbar-notification-trigger i {vertical-align:middle;color:var(--gray800);}
.navbar-notification-trigger img {width:20px;pointer-events:none;}
.navbar-notification-trigger em {display:block;width:.5rem;height:.5rem;border-radius:50%;border:var(--border);box-sizing:border-box;background:var(--red800);text-indent:-9999px;position:absolute;right:.5rem;top:.5rem;}
.navbar-notification-menu {width:400px;@include tile-elevated;}
.navbar-notification-menu:before {content:'';display:block;position:absolute;left:50%;right:0;top:-8px;bottom:0;}
.navbar-notification-menu-title {margin:var(--space-leading-subhead) 0 var(--space-after-subhead);font-size:var(--font-size-subhead);}
.navbar-notification-menu-all {position:absolute;top:13px;right:1rem;}
.navbar-notification-menu-item {padding:.5rem 1rem;cursor:pointer;position:relative;}
.navbar-notification-menu-item:hover {background:var(--color-background);;}
.navbar-notification-menu footer {border-top:var(--border);margin:1rem -1.5rem -1.5rem;}
.navbar-notification-menu footer button {@include button-tertiary;width:100%;background:none;}
.navbar-notification-empty {width:var(--width-tiny);height:0;@include tile-elevated;position:absolute;top:36px;right:0;z-index:var(--zindex-navigation);transform:scale(0);}
.navbar-notification-empty:before {content:'';display:block;position:absolute;left:50%;right:0;top:-8px;bottom:0;}
.is-active + .navbar-notification-menu,
.is-active + .navbar-notification-empty {height:auto;transform:scale(1);}



.notification {}
.notification-list {padding:1rem 2rem;}
.notification-item {min-height:var(--size-large);padding-left:calc(48px + var(--space));position:relative;z-index:var(--zindex-default);}
.notification-item + .notification-item {margin:var(--space) 0 0 0;}
.notification-item:hover {@include hover-item;}
.notification-item-avatar {@include avatar-large;position:absolute;left:0;top:0;}
.notification-item-user {display:block;font-size:var(--font-size-body);line-height:var(--font-line-height-small);}
.notification-item-date {color:var(--color-text-light);}
.notification-item-content {}

.notification-unread {display:block;@include avatar-tiny;font-size:var(--font-size-caption);position:absolute;left:-.125rem;top:-.125rem;z-index:var(--zindex-default);}

// todo util
.navbar-user {display:flex;align-items:center;margin:0 0 0 auto;position:relative;}
.navbar-user-trigger {@include chip;margin:0 0 0 var(--space-small);}
// .navbar-user-trigger-avatar {width:24px;pointer-events:none;}
.navbar-user-trigger img {display:block;width:24px;}
// todo--
.navbar-user-trigger-avatar:hover {@include hover-button;}

.navbar-user-menu {width:var(--width-tiny);height:0;@include tile-elevated;position:absolute;top:32px;right:0;z-index:var(--zindex-popover);transform:scale(0);}
.is-active + .navbar-user-menu {height:auto;transform:scale(1);}

.user {display:block;color:var(--gray800);position:relative;z-index:var(--zindex-default);@include clearfix;}
.user:hover {@include hover-item;}
.user-avatar {float:right;@include avatar-huge;}
.user-avatar-change {width:32px;height:32px;border-radius:var(--radius);position:absolute;right:-8px;bottom:-8px;}
.user-name {margin:var(--space-leading-subhead) 0 0 0;@include text-subhead;}
.user-email {}
// todo this is item
.user-logout {display:flex;align-items:center;width:100%;margin:var(--space-after-item) 0;position:relative;}
.user-logout-icon {@include avatar-medium;}
.user-logout-label {margin:0 0 0 var(--space-small);}
.user-logout:hover {@include hover-item;}
.user-logout:hover .user-logout-icon {background:var(--color-background);}
.user-myinfo {@include link-outer;margin:.25rem 0 0;}
.user-footer {}
.user-footer a {font-size:var(--font-size-caption);color:var(--color-text-light);}


.is-active .navbar-logo {z-index:calc(var(--zindex-navigation) + 2);z-index:5;}
.is-active .navbar-user {z-index:calc(var(--zindex-navigation) + 2);z-index:5;}
.is-active .navbar-user .navbar-user-trigger img {background:var(--color-background);}
.is-active .navbar-menu {}
.is-active .navbar-menu-item {color:var(--gray0);}
.is-active .navbar-menu-item > a {position:relative;z-index:calc(var(--zindex-navigation) + 2);}
.is-active .navbar-menu-item i {border-top-color:var(--gray0);}
.is-active .navbar-menu-item menu {top:0;}
.is-active .navbar-menu-item menu a {opacity:1;}
// .is-darktheme .navbar-menu-item {color:var(--gray0);}
.is-darktheme .navbar-user-search-trigger i {color:var(--gray0);}
.is-darktheme .navbar-notification-trigger i {color:var(--gray0);}

.is-sticky-navbar {padding-top:64px;}
.is-sticky-navbar .navbar {background:var(--color-background);position:fixed;top:0;left:0;right:0;}

@media (--breakpoint-small) {
	.navbar {}
	.navbar-logo {position:absolute;left:50%;transform:translateX(-50%);}
	.navbar-burger {display:block;}
	.navbar-burger.is-active {position:fixed;}

	.navbar-menu {display:block;margin-left:0;padding:4rem 0;box-sizing:border-box;background:var(--color-background);box-shadow:var(--shadow);position:fixed;left:0px;right:0;top:0px;bottom:0px;transition:all .8s cubic-bezier(.165,.84,.44,1);transform:translateX(-100%);}
	.navbar-menu-item {display:block;padding:var(--space-small) var(--grid-margin);font-size:var(--font-size-subhead);}
	.navbar-menu-item menu {flex-wrap:wrap;padding:var(--space-small) 0;background:var(--color-background);position:static;left:auto;right:auto;top:auto;transition:none;}
	// .navbar-menu-item:hover menu {display:block;}
	.navbar-menu-item menu a {display:block;width:100%;margin-left:0;padding:.5rem 0 .5rem 1.5rem;border-left:var(--border);font-size:var(--font-size-body);line-height:24px;color:var(--gray800);opacity:1;}
	

	.is-active .navbar-logo {z-index:3;}
	.is-active .navbar-user {z-index:3;}
	.is-active + .navbar-menu {transform:translateX(0);}
	.is-active .navbar-menu-item {color:var(--gray800);} // animation:fadeup .4s cubic-bezier(.455, .03, .515, .955) both;
	// .navbar-menu-item menu a {color:var(--gray800);}
	.is-active .navbar-menu-item i {border-top-color:var(--gray800);}
	// .is-active .navbar-menu-item:nth-child(1) {animation-delay:.3s;}
	// .is-active .navbar-menu-item:nth-child(2) {animation-delay:.4s;}
	// .is-active .navbar-menu-item:nth-child(3) {animation-delay:.5s;}
	// .is-active .navbar-menu-item:nth-child(4) {animation-delay:.6s;}
	// .is-active .navbar-menu-item:nth-child(5) {animation-delay:.7s;}
	// .is-active .navbar-menu-item:nth-child(6) {animation-delay:.8s;}
}
