.navbar {display:flex;height:var(--navbar-height);padding:var(--space-3) var(--grid-margin);border-bottom:var(--border);box-sizing:border-box;background:var(--color-background);position:fixed;top:0;left:0;right:0;z-index:var(--zindex-menu);}
.navbar-logo {@include avatar-medium;background-color:var(--color-background-strong) !important;border-radius:50%;}
.navbar-burger {@include chip;margin:0 var(--space-2) 0 0;z-index:calc(var(--zindex-menu) + 1);}
.navbar-menu {display:flex;align-items:center;margin:-2px 0 0 var(--space-4);position:relative;z-index:var(--zindex-menu);}
.navbar-menu-item {padding:0 var(--space-4);color:var(--color-text);position:relative;z-index:var(--zindex-default);transition:all .4s;} // m p reset
.navbar-menu-item.has-submenu {z-index:0;}
.navbar-menu-item.is-current:before {content:'';display:block;width:4px;height:4px;background:var(--color-accent);}

.navbar-menu-item > span {display:block;margin-top:-.5rem;color:inherit;@include text-label;}
.navbar-menu-item:before {display:none;}
.navbar-menu-item i {display:none;margin-left:8px;}
.navbar-menu-item menu {display:flex;justify-content:center;justify-content:left;position:fixed;left:0;right:0;top:-240px;z-index:var(--zindex-menu);transition:var(--transition-base);}
.navbar-menu-item menu a {display:flex;align-items:center;margin:var(--space-2) 0;color:var(--color-text);opacity:0;position:relative;z-index:var(--zindex-default);}
.navbar-menu-item menu a:hover {@include hover-item;}
.navbar-menu-item menu a.is-current {@include hover-item;}

.navbar-backdrop {height:var(--navbar-height);}

.navbar-notification {margin:0 .5rem;position:relative;}
.navbar-notification-trigger {@include avatar-medium;}
.navbar-notification-trigger i {vertical-align:middle;color:var(--gray800);}
.navbar-notification-trigger img {width:20px;pointer-events:none;}
.navbar-notification-trigger em {display:block;width:.5rem;height:.5rem;border-radius:50%;border:2px solid var(--color-background-weak);box-sizing:border-box;background:var(--red800);text-indent:-9999px;position:absolute;right:5px;top:5px;}

.navbar-notification-menu {width:400px;@include tile-elevated;}
// .navbar-notification-menu:before {content:'';display:block;position:absolute;left:50%;right:0;top:-8px;bottom:0;}
.navbar-notification-menu-title {}
.navbar-notification-menu-all {position:absolute;top:13px;right:1rem;}
.is-active + .navbar-notification-menu {height:auto;transform:scale(1);}


.navbar-user {display:flex;align-items:center;margin:0 0 0 auto;position:relative;}
.navbar-user-trigger {@include avatar-medium;margin:0 0 0 var(--space-2);}

.navbar-user-card {max-width:400px;height:0;@include tile-elevated;position:absolute;top:32px;right:0;z-index:var(--zindex-popover);transform:scale(0);}
.is-active + .navbar-user-card {height:auto;transform:scale(1);}

// .is-active .navbar-logo {z-index:calc(var(--zindex-menu) + 2);z-index:5;}
// .is-active .navbar-user {z-index:calc(var(--zindex-menu) + 2);z-index:5;}
// .is-active .navbar-user .navbar-user-trigger img {background:var(--color-background);}
// .is-active .navbar-menu-item {color:var(--gray0);}
// .is-active .navbar-menu-item > a {position:relative;z-index:calc(var(--zindex-menu) + 2);}
// .is-active .navbar-menu-item i {border-top-color:var(--gray0);}
// .is-active .navbar-menu-item menu {top:0;}
// .is-active .navbar-menu-item menu a {opacity:1;}
// .is-darktheme .navbar-menu-item {color:var(--gray0);}

// sidemenu
.navbar-menu {display:block;max-width:var(--width-sidemenu);margin:0 0 0 calc(var(--grid-margin) - var(--space-4));padding:0 var(--space-4);
    background:var(--color-background);position:fixed;left:0px;top:calc(var(--navbar-height) + 2px);bottom:0px;transition:transform var(--duration-slowly) cubic-bezier(.165,.84,.44,1);
    transform:translateX(-120%);}
.navbar-menu-item {padding:var(--space-2) 2rem var(--space-2) 0;font-size:var(--font-size-large);}
.navbar-menu-item menu {flex-wrap:wrap;position:static;left:auto;right:auto;top:auto;transition:none;}

.navbar-menu-item menu a {width:100%;height:var(--size-medium);font-size:var(--font-size-large);font-weight:var(--font-weight-bold);opacity:1;}

.navbar-menu::-webkit-scrollbar {display:none;width:.5rem;height:auto;padding:.125rem;}
.navbar-menu:hover::-webkit-scrollbar {display:block;}
.navbar-menu::-webkit-scrollbar-track {background:inherit;}
.navbar-menu::-webkit-scrollbar-thumb {margin:.125rem;background:var(--color-background-strong);border-radius:var(--radius);}
.navbar-menu::-webkit-scrollbar-button {display:none;background-color:inherit;}
.navbar-menu::-webkit-scrollbar-corner {background-color:inherit;}

.is-opened-menu .navbar-menu {transform:translateX(0);overflow-y:auto;}
.is-opened-menu .navbar-menu-item {color:var(--gray800);}
.is-opened-menu .navbar-menu-item i {border-top-color:var(--gray800);}
