.titlebar {display:flex;align-items:center;padding:var(--space-3) var(--grid-margin);position:relative;z-index:3;}
.titlebar-background {@include bleeding;background-color:var(--color-background);}

.titlebar-title {margin:-1px 0 0;font-size:var(--font-size-subhead);font-weight:var(--font-weight-normal);position:absolute;left:50%;transform:translateX(-50%);}
.titlebar-back {@include chip;}
.titlebar-action {margin-left:auto;}
.titlebar-action-icon {}
.titlebar-action-label {color:var(--color-primary);}
.titlebar-backdrop {height:32px;padding:var(--space-4) 0;background:var(--color-background);}


.titlebar[data-size=large] {align-items:baseline;height:100px;}
.titlebar[data-size=large] .titlebar-title {@include text-subhead;font-size:1.5rem;position:absolute;left:0;top:calc(var(--titlebar-height) - .25rem);transform:translateX(0);}
.is-sticky-titlebar .titlebar {position:fixed;top:0;}
.is-sticky-titlebar .titlebar-background {box-shadow:var(--shadow);}


@media (--small) {
}