<main class="page">
  <mm-text-group variant="title">
    <mm-text variant="title">Step / Workflow</mm-text>
    <mm-text variant="body-large">내용 없음.</mm-text>
  </mm-text-group>

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd title="">Timeline</dd>
    <dd title="">Stepper</dd>
  </dl>

  <section class="component-example">
    <section class="step">
      <div class="step-item is-active" aria-current="step">
        <span class="step-item-icon">1</span>
        <b class="step-item-label">장바구니</b>
      </div>
      <div class="step-item">
        <span class="step-item-icon">2</span>
        <b class="step-item-label">결제</b>
      </div>
      <div class="step-item">
        <span class="step-item-icon">3</span>
        <b class="step-item-label">주문완료</b>
      </div>
      <div class="step-space">
        <span class="step-space-dot"></span>
        <span class="step-space-dot"></span>
        <span class="step-space-dot"></span>
      </div>
    </section>
    <div style="height: var(--space-4)"></div>
    <section class="step" data-align="vertical">
      <div class="step-item is-active" aria-current="step">
        <span class="step-item-icon">1</span>
        <b class="step-item-label">장바구니</b>
        <p class="step-item-description">
          대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다. 국가원로자문회의의 조직·직무범위
          기타 필요한 사항은 법률로 정한다. 국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다.
        </p>
      </div>
      <div class="step-item">
        <span class="step-item-icon">2</span>
        <b class="step-item-label">결제</b>
      </div>
      <div class="step-item">
        <span class="step-item-icon">3</span>
        <b class="step-item-label">주문완료</b>
      </div>
    </section>
  </section>

  <section class="component-props">
    <dl>
      <dt>test</dt>
      <dd>test</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text-list
        texts='[
      "타임라인과 구분. 타임라인은 히스토리 맥락으로 스텝의 역순. 확장, 링크, indentation",
      "Changelog. non-clickable 로 변경 2021.10"
      ]'
      >
      </mm-text-list>
    </mm-text-group>
  </section>

  <section class="component-case">
    <mm-tile flat="flat" size="medium">
      <mm-group class="order-item-head">
        <mm-tag class="order-item-head-type" style="width: var(--size-large)">포장</mm-tag>
        <time class="order-item-head-time">2022. 12. 05. 15:32</time>
        <b class="order-item-head-status" style="margin-left: auto">배달완료</b>
      </mm-group>
      <div style="height: var(--space-after-subhead)"></div>
      <mm-menuitem>
        <mm-avatar slot="avatar" size="large">
          <span class="avatar-badge"></span>
        </mm-avatar>
        <div slot="text" class="item-description">
          <b>쩜순이네닭강정 요기요st</b>
          <p style="display: flex; align-items: center; color: var(--color-text-light)">
            <span>떡볶이</span>
            <span style="font-size: var(--font-size-small); margin-top: -1px"> x </span>
            <span>5</span>
            <span> 외 1건</span>
          </p>
        </div>
      </mm-menuitem>
      <div style="height: var(--space-4)"></div>
      <div class="step">
        <div class="step-item is-active">
          <span class="step-item-icon">1</span>
          <h3 class="step-item-label">주문확인</h3>
        </div>
        <div class="step-item">
          <span class="step-item-icon">2</span>
          <h3 class="step-item-label">조리중</h3>
        </div>
        <div class="step-item">
          <span class="step-item-icon">3</span>
          <h3 class="step-item-label">배달중</h3>
        </div>
        <div class="step-item">
          <span class="step-item-icon">4</span>
          <h3 class="step-item-label">배달완료</h3>
        </div>
      </div>
      <div style="height: var(--space-4)"></div>
      <mm-group>
        <mm-button>재주문</mm-button>
        <mm-button>후기작성</mm-button>
      </mm-group>
      <!-- <mm-tag>네이버 쇼핑은 왜 주문 내역을 숨길 수 있나?</mm-tag> -->
    </mm-tile>
    <mm-tile>
      <mm-group>
        <mm-menuitem>
          <mm-avatar slot="avatar" size="medium"></mm-avatar>
          <div slot="text">
            <mm-text variant="label">Step 1</mm-text>
            <mm-text variant="">UPLOAD 3D FILES</mm-text>
          </div>
        </mm-menuitem>
        <mm-menuitem>
          <mm-avatar slot="avatar" size="medium"></mm-avatar>
          <div slot="text">
            <mm-text variant="label">Step 2</mm-text>
            <mm-text variant="word-strong">UPLOAD 3D FILES</mm-text>
          </div>
        </mm-menuitem>
        <div>
          <div style="display: flex; align-items: center; height: 32px; gap: var(--space-3)">
            <mm-text variant="subhead">01</mm-text>
            <mm-text variant="body-bold">Choose your platform</mm-text>
          </div>
          <div style="display: flex; align-items: center; height: 32px; gap: var(--space-3)">
            <mm-text variant="subhead">02</mm-text>
            <mm-text variant="body-bold">Set color theme</mm-text>
          </div>
        </div>
      </mm-group>
    </mm-tile>
    <mm-tile>
      <header class="authentication-head">
        <mm-text variant="subhead">Tell us about yourself</mm-text>
        <mm-text variant="body" class="authentication-head-description">
          Now that you're all signed up, let's personalize your experience.
        </mm-text>
      </header>

      <section class="step" data-align="vertical" style="margin: 1rem 0">
        <div class="step-item is-active">
          <span class="step-item-icon" style="color: #fff">1</span>
          <mm-text class="step-item-label">I'm an engineer</mm-text>
        </div>
        <div class="step-item is-active">
          <span class="step-item-icon" style="color: #fff">2</span>
          <mm-text class="step-item-label">I want to design from scratch</mm-text>
          <!-- <p class="step-item-description">
            1칼럼(모바일)에서 결제 버튼을 누르기 전 최종 금액을 확인할 수 있는 구조가 되려면 2칼럼에서 우측을 결제를 위한 칼럼을 배치할
            때(체크아웃페이지의 일반적인 레이아웃) 상품&서머리&결제버튼이 같은 컨테이너로 포함되어야.
          </p>
          <p class="step-item-description">결제정보 - 결제방법/주문상태/주문접수일시/주문완료일시/배송비/쿠폰사용금액/결제금액</p>
          <p class="step-item-description">주문 정보를 로컬에 저장.</p> -->
        </div>
        <div class="step-item">
          <span class="step-item-icon" style="font-size: var(--font-size-small)">3</span>
          <mm-text class="step-item-label" style="color: var(--color-text)">
            One last thing ㅡ how will you use your prototpe?
          </mm-text>
          <small>(You can pick more than one)</small>
          <div style="height: var(--space-3)"></div>
          <mm-group variant="" style="margin-left: 0.75rem">
            <mm-button>Share for feedback</mm-button>
            <mm-button>Present live</mm-button>
            <mm-button>Test with users</mm-button>
            <mm-button>Collaborate in real time</mm-button>
            <mm-button>Hand off to developers</mm-button>
          </mm-group>
        </div>
      </section>
      <footer><mm-button variant="primary">Start creating</mm-button></footer>
    </mm-tile>
  </section>
</main>
