<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Step / Workflow</test-text>
    <test-text variant="body-large">내용 없음.</test-text>

    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd title="">Timeline</dd>
      <dd title="">Stepper</dd>
    </dl>

    <section class="component-example">
      <section class="step">
        <div class="step-item is-active">
          <span class="step-item-icon">1</span>
          <b class="step-item-label">장바구니</b>
        </div>
        <div class="step-item">
          <span class="step-item-icon">2</span>
          <b class="step-item-label">결제</b>
        </div>
        <div class="step-item">
          <span class="step-item-icon">3</span>
          <b class="step-item-label">주문완료</b>
        </div>
        <!-- <div class="step-space">
          <span class="step-space-dot"></span>
          <span class="step-space-dot"></span>
          <span class="step-space-dot"></span>
        </div> -->
      </section>
      <section class="step" data-align="vertical">
        <div class="step-item is-active">
          <span class="step-item-icon">1</span>
          <b class="step-item-label">장바구니</b>
          <p class="step-item-description">
            대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다. 국가원로자문회의의
            조직·직무범위 기타 필요한 사항은 법률로 정한다. 국가는 대외무역을 육성하며, 이를
            규제·조정할 수 있다.
          </p>
        </div>
        <div class="step-item">
          <span class="step-item-icon">2</span>
          <b class="step-item-label">결제</b>
        </div>

        <div class="step-item">
          <span class="step-item-icon">3</span>
          <b class="step-item-label">주문완료</b>
        </div>
      </section>
    </section>

    <section class="component-props">
      <dl>
        <dt></dt>
        <dd></dd>
      </dl>
    </section>

    <section class="component-guide">
      <ul>
        <li>타임라인과 구분. 타임라인은 히스토리 맥락으로 스텝의 역순. 확장, 링크, indentation</li>
      </ul>
    </section>
    <!-- <p>클릭하고 싶지 않은 형태로 변경 2021.10</p> -->
  </article>
</main>
