<main class="page">
  <mm-title-with-description
    title="Surface"
    description="연관 정보를 묶어 시각적으로 강조하는 컨테이너입니다."
  ></mm-title-with-description>

  <!-- 추가 콘텐츠에 대한 티저로 사용할 수 있습니다 -->
  <!-- 세로값을 지정하지 않으면, border-width 만큼 세로 값이 더해진다. -->
  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd title="protocol mozilla">EmphasisBox</dd>
    <dd title="biings">Box</dd>
    <dd title="">Card</dd>
    <dd title="pinterest gestalt">Module</dd>
    <dd title="radix">Section</dd>
    <dd title="radix">Container</dd>
    <dd title="mui">Paper</dd>
    <dd title="mui">Building block</dd>
    <dd title="fluent UI">Segment</dd>
    <dd title="elastic UI">Panel</dd>
  </dl>

  <section class="component-example">
    <mm-group variant="button">
      <mm-surface variant="flat">
        <mm-title-with-description
          level="3"
          title="flat"
          description="단순 구획을 표현. 클릭할 수 없다."
        ></mm-title-with-description>
      </mm-surface>
      <mm-surface variant="tinted">
        <mm-title-with-description
          level="3"
          title="tinted"
          description="강조 표현. 클릭할 수 있다."
        ></mm-title-with-description>
      </mm-surface>
      <mm-surface variant="elevated">
        <mm-title-with-description
          level="3"
          title="elevated"
          description="강조 표현2. 클릭할 수 있다."
        ></mm-title-with-description>
      </mm-surface>
    </mm-group>
    <mm-separator></mm-separator>
    <mm-group>
      <mm-surface variant="elevated" size="small">
        <mm-title-with-description
          level="4"
          title="small"
          description="스몰 사이즈. 메뉴에서만 사용?"
        ></mm-title-with-description>
      </mm-surface>
      <mm-surface variant="elevated" size="medium">
        <mm-title-with-description
          level="4"
          title="medium (size default)"
          description="미디엄 사이즈"
        ></mm-title-with-description>
      </mm-surface>
    </mm-group>
  </section>

  <section class="component-props">
    <dl>
      <dt>variant?</dt>
      <dd>'flat ? outlined' | 'elevated' | 'plain? soft?' | 'white', 'transparent'</dd>
      <dt>size</dt>
      <dd>'medium' | 'small'</dd>
      <dt>children</dt>
      <dd>React.Node</dd>
    </dl>
  </section>

  <!-- <div class="feature columns">
      <mm-feature icon="box-iso" titleText="컨테이너" description="ㅅㄷㄴㅅ"></mm-feature>
      <mm-feature icon="box-iso" titleText="컨테이너 역할" description="ㅅㄷㄴㅅ"></mm-feature>
      <mm-feature icon="box-iso" titleText="컨테이너 역할" description="ㅅㄷㄴㅅ"></mm-feature>
      <mm-feature icon="box-iso" titleText="컨테이너 역할" description="ㅅㄷㄴㅅ"></mm-feature>
    </div> -->

  <section class="component-guide">
    <mm-text-list
      texts='[
          "타일 내부 leading, tailing 컴포넌트에 따라 시각보정이 필요할 수 있습니다.",
          "inset이 너무 커지면 물리적 화면 크기에 따라 inset의 변경이 필요할 수 있다. 콘텐츠 모듈을 가운데 정렬로 해결할 수 있다."
        ]'
    >
    </mm-text-list>
    <!-- "foundation :: elevated는 타일 전체가 하나의 클릭 가능한 컴포넌트이거나 타일 내부에 클릭 가능한
    컴포넌트를 포함.", -->
    <!-- "transparented tile 을 정의하여 모든 contentbox가 tile이 되는 것은 어떤가? 비어있는
    컴포넌트(Box, Row, div)와는 어떤 차이가 있나? row는 레이아웃 컴포넌트, tile은 형태 컴포넌트이다.
    tile에 과도한 책임을 부여하지 말 것.", => transparent 필요. 배경있는 상황 -->

    <mm-text variant="body">
      At its core, Card is a Box with specific styling attributes and more explicit use cases that
      you can find in Examples. If you find yourself limited by the default styling and constraints
      of a Card, you may consider using a Box instead, but first consider bringing the problem you
      are trying to solve to Design System Office Hours to see if another component or pattern could
      fit your needs.
    </mm-text>
  </section>
  <mm-text-group>
    <!-- <aside
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0;
        padding: 0.5rem 2rem;
        border: var(--border);
        border-radius: 50px;
      "
    >
      <mm-avatar size="large" default="true"></mm-avatar>
      <mm-text variant="subhead"> You can download this product with the All-Access Pass. </mm-text>
      <mm-button variant="primary">Get All-Access</mm-button>
    </aside> -->

    <!-- <picture>
      <source
        srcset="photo-light.png"
        media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)"
      />
      <source srcset="photo-dark.png" media="(prefers-color-scheme: dark)" />
      <source type="image/svg+xml" srcset="pyramid.svg" />
      <source type="image/webp" srcset="pyramid.webp" />
      <source media="(max-width: 799px)" srcset="elva-480w-close-portrait.jpg" />
      <source media="(min-width: 800px)" srcset="elva-800w.jpg" />
      <img src="elva-800w.jpg" alt="딸 엘바를 안고 서 있는 크리스" loading="lazy" />
    </picture> -->
    <!-- <img
      srcset="elva-fairy-320w.jpg 320w, elva-fairy-480w.jpg 480w, elva-fairy-640w.jpg 2x, elva-fairy-800w.jpg 800w"
      sizes="(max-width: 320px) 280px, (max-width: 480px) 440px, 800px"
      src="elva-fairy-800w.jpg"
      alt="요정 옷을 입은 엘바"
    /> -->
  </mm-text-group>

  <mm-component-section title="PricingTile" description="">
    <div style="position: relative">
      <!-- <mm-tag style="position: absolute; left: -0.25rem; top: var(--space-3)"> -->
      <mm-tag> 🔥 Most Popular </mm-tag>
      <div style="height: 1rem"></div>
      <mm-text variant="subhead">Standard</mm-text>
      <mm-text variant="body"> 대법원장은 국회의 동의를 얻어 대통령이 임명한다. </mm-text>
      <div style="margin: var(--space-3) 0 1.5rem 0">
        <mm-text variant="title">₩ 6,800</mm-text>
        <mm-text variant="subheading">한 달에 한 번</mm-text>
      </div>
      <mm-text-list
        texts='[
        "스토리지 2TB",
        "Google 전문가와의 상담",
        "회원을 위한 추가 혜택"
        ]'
      >
      </mm-text-list>
      <br />
      <mm-group>
        <mm-button variant="primary" size="large" isfullwidth="true">업그레이드</mm-button>
      </mm-group>
    </div>
  </mm-component-section>

  <mm-component-section title="FeedTile" description="TODO">
    <section class="feeds" role="feed" aria-busy="false">
      <!-- <aside
        style="
          position: fixed;
          top: 6rem;
          left: calc(50% + var(--width-sidemenu) - var(--grid-margin) + 1rem);
          transform: translateX(-50%);
          z-index: 8;
        "
      >
        <button
          style="
            padding: 0.5rem 1rem;
            border-radius: 50px;
            box-shadow: var(--shadow);
            background: var(--color-primary);
          "
          onclick="javascript:alert('샘플 유아이')"
        >
          1월 1일 변경된 내용 보기
        </button>
      </aside> -->
      <article class="feed" aria-setsize="3" aria-posinset="1">
        <mm-tag> 🔥 Most Popular </mm-tag>
        <div style="height: 0.75rem"></div>
        <mm-list-row size="small" primaryText="수줍이" secondaryText="2 hour"> </mm-list-row>
        <div class="feed-content">
          <figure size="huge" class="feed-content-media">
            <img src="/public/images/springsteen.jpg" alt="" />
          </figure>
          <mm-text variant="body">
            Monotonectally productivate progressive human capital without user friendly portals.
            Globally benchmark top-line ideas with distributed catalysts for change. Authoritatively
            restore ubiquitous partnerships vis-a-vis
            <mm-link href="#feed">synergistic models</mm-link>.
          </mm-text>
          <!-- <mm-text-list
              texts='[
            "원활한 피드 탐색 경험을 위해 모든 피드를 보여주지 않는 것이 좋을 수 있다. 너무 많은 피드 콘텐츠.",
            "피드가 노출되는 이유를 알려줄 수 있다. 또한 사용자는 보고 싶은 피드와 보고 싶지 않은 피드를 결정할 권리가 있다.",
            "글줄의 길이를 상대적으로 좁게 짜는 경향이 있다.",
            "피드의 상세 페이지.",
            "리액션 버튼과 리액션 수치를 각각 제공할 수 있고 따로 제공할 수 있다. 리액션한 사용자 목록을 어떻게 보여줄 것인가. 중복 리액션과 횟수 등 기능 정의. 리액션 => 알림. restful - put과 함께 공부해보기",
            "시의성이 강조되는 서비스이거나 현안을 다루는 서비스라면 스텟을 실시간으로 갱신할 수 있다.",
            "피드를 작성할 때 하나 이상의 이미지를 포함할 수 있다면 하나 이상의 이미지를 볼 수 있는 인터페이스가 필요하다."
            ]'
            >
            </mm-text-list> -->
          <div style="height: var(--space-3)"></div>
          <mm-group variant="tag">
            <mm-tag>Google</mm-tag>
            <mm-tag>Meta</mm-tag>
            <mm-tag>Nvidia</mm-tag>
          </mm-group>
          <div style="height: var(--space-4)"></div>
          <mm-surface variant="elevated">
            <mm-tag>3월 14일 수정됨</mm-tag>
            <div style="height: var(--space-3)"></div>
            <mm-group alignment="vertical">
              <mm-list-row
                primaryText="Kakao"
                secondaryText="https://www.kakaocorp.com"
                size="large"
              >
              </mm-list-row>
              <mm-list-row primaryText="Naver" secondaryText="https://www.naver.com" size="large">
              </mm-list-row>
            </mm-group>
          </mm-surface>
          <div style="height: var(--space-3)"></div>
          <mm-group>
            <mm-menuitem icon="heart" label="192"> </mm-menuitem>
          </mm-group>
        </div>
      </article>

      <style>
        .feed {
          max-width: 400px;
          /* margin: 3rem 0; */
        }

        .feed-content {
          margin: var(--space-3) 0 0 0;
        }

        .feed-content-media {
          margin: 0 0 var(--space-3) 0;
          overflow: hidden;
          object-fit: cover;
          border-radius: var(--radius);
        }
      </style>

      <script>
        var form = document.getElementById('subscription-form')
        form.addEventListener('submit', event => {
          event.preventDefault()
          const latestInvoicePaymentIntentStatus = localStorage.getItem(
            'latestInvoicePaymentIntentStatus',
          )

          if (latestInvoicePaymentIntentStatus === 'requires_payment_method') {
            const invoiceId = localStorage.getItem('latestInvoiceId')
            const isPaymentRetry = true
          }
        })
      </script>
    </section>
  </mm-component-section>

  <!-- <mm-component-section title="RatingTile" description="TODO">
    <mm-surfacebar heading="Ratings"></mm-surfacebar>
    <div aria-label="별점 5개 만점에 3.9개를 받았습니다." style="text-align: center">
      <mm-text variant="subheading">리뷰 116만개</mm-text>
      <mm-text variant="subhead">⭐ 4.8</mm-text>
    </div>
    <mm-separator></mm-separator>
    <div class="graph2">
      <b class="graph-label">5 Stars</b>
      <span class="graph-value">68%</span>
      <progress class="progress" value="40" max="100">40%</progress>
    </div>
    <div class="graph2">
      <b class="graph-label">4 Stars</b>
      <span class="graph-value">24%</span>
      <progress class="progress" value="40" max="100">40%</progress>
    </div>
    <small>별 다섯개에서 점수만큼 채우는 유아이는 최근 잘 보이지 않는다. 구현이 어려움.</small>
  </mm-component-section> -->
  <!-- <div class="graph-bar"><b style="width: 68%"></b></div> -->

  <mm-component-section title="이 상품을 구매한">
    <section class="product-recommend">
      <article class="card">
        <figure class="card-thumbnail">
          <img src="/public/images/product_sample.png" style="width: 50%" alt="" />
        </figure>
        <div
          class="card-item-price"
          style="
            margin: var(--space-3) 0 0;
            font-size: var(--font-size-18);
            font-weight: var(--font-weight-bold);
          "
        >
          <em>₩ 16,000</em>
        </div>
        <h3 class="card-title" style="padding-top: 0.25rem">가격을 강조하는 카드.</h3>
        <a
          href="#"
          style="
            display: block;
            margin: var(--space-3) 0;
            color: var(--gray800);
            text-decoration: underline;
          "
          >애플</a
        >
        <mm-group>
          <mm-tag class="card-category">인기있는</mm-tag>
          <mm-tag class="card-note">무료배송 / 200 포인트 적립</mm-tag>
        </mm-group>
      </article>
    </section>
  </mm-component-section>

  <!-- <mm-surface variant="flat">
      <mm-avatar style="background: aliceblue">
        <mm-icon name="graph-up"></mm-icon>
      </mm-avatar>
      <div style="height: var(--space-3)"></div>
      <mm-text variant="label-strong">상해종합주가지수</mm-text>
      <mm-text variant="body">2999.55p</mm-text>
      <div style="margin-top: var(--space-1)"></div>
      <mm-tag variant="up">4.33% 상승</mm-tag>
      <div style="margin-top: var(--space-3)">
        <mm-text variant="caption">
          <span style="color: var(--color-foreground-light)">10분 지연. live</span>
        </mm-text>
        <mm-text variant="caption">
          <span style="color: var(--color-foreground-light)">현지 시간 기준 10.27. 01:27</span>
        </mm-text>
      </div>
    </mm-surface> -->
  <!-- <mm-surface>
      <q>
        I'm impressed by how GitHub Copilot seems to know exactly what I want to type next. GitHub
        Copilot is particularly helpful when working on React components, where it makes eerily
        accurate predictions. GitHub Copilot has become an indispensable part of my programmer
        toolbelt.
      </q>
      <figcaption style="margin: var(--space-3) 0 0 0">
        <mm-text variant="subheading">Byline</mm-text>
      </figcaption>
    </mm-surface> -->
</main>
