
.bottombar {
  display: flex;
  justify-content: space-around;
  padding: var(--space-1) 0 calc(constant(safe-area-inset-bottom) + var(--space-2));
  padding: var(--space-2) 0 calc(env(safe-area-inset-bottom) + var(--space-2));
  border-radius: var(--radius);
  background: var(--color-background);
  box-shadow: var(--shadow);
}

.bottombar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--space-2);
  color: var(--color-text);
  position: relative;
}
.bottombar-item:hover {
  /* @mixin hover-item; */
}

.bottombar-item-icon {
  /* @mixin avatar-medium; */
  margin: 0 auto;
  background: none;
}

.bottombar-item-label {
  display: block;
  margin: -.25rem 0 0 0;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  color: var(--color-text);
}

.bottombar-item em {
  display: flex;
  width: 4px;
  height: 4px;
  background: var(--red800);
  border-radius: var(--radius);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(var(--space-3), -1.125rem);
}
.bottombar-item.is-active {}