<main class="page">
  <article class="article js-observer js-scrollspy-section">
    <mm-text variant="title">Menubar</mm-text>
    <mm-text variant="body-large"> toolbar / chip group / role=menubar</mm-text>
    <section class="component-example">
      <menu role="menubar" style="display: flex; align-items: center">
        <mm-checkbox>28 selected</mm-checkbox>
        <mm-chip icon="bonfire" style="margin-left: auto"> </mm-chip>
        <mm-chip variant="plain" icon="more-vert"> </mm-chip>
      </menu>
      <mm-separator></mm-separator>
      <mm-group variant="chip" role="menubar">
        <mm-textfield size="small" hiddenLabel="false" placeholder="검색꾸">
          <!-- <mm-avatar slot="prefix" icon="search"></mm-avatar> -->
          <mm-icon slot="prefix" name="search"></mm-icon>
        </mm-textfield>
        <mm-chip variant="" name="Filter">
          <mm-icon slot="suffix" name="nav-arrow-down"></mm-icon>
          Created by anyone
        </mm-chip>
        <mm-chip variant="" name="Sort">
          Last modified
          <mm-icon slot="suffix" name="nav-arrow-down"></mm-icon>
        </mm-chip>
      </mm-group>
    </section>
  </article>

  <article class="article js-observer js-scrollspy-section">
    <mm-text variant="title">Title bar / Page header / TopAppBar(md)</mm-text>
    <mm-text variant="body-large"> 페이지 헤더 .</mm-text>

    <section class="component-example">
      <mm-titlebar heading="수줍이님 뒤로가기 아이콘이 없는 형태가 필요" role="navigation">
        <mm-group slot="action" variant="chip">
          <mm-chip variant="plain" icon="cart"> </mm-chip>
          <mm-chip variant="plain" icon="cart"> </mm-chip>
        </mm-group>
      </mm-titlebar>
      <mm-separator></mm-separator>
      <mm-titlebar heading="Product" role="navigation">
        <mm-chip slot="action" variant="plain" icon="cart"> </mm-chip>
      </mm-titlebar>
      <!-- <div class="titlebar-backdrop js-header"></div> -->
      <mm-separator></mm-separator>
      <mm-titlebar class="js-titlebar" role="navigation" data-size="large">
        <mm-group slot="action" variant="chip">
          <mm-chip>저장</mm-chip>
          <mm-chip
            class="titlebar-back"
            icon="more-vert"
            onclick="javascript:window.location.href='/';"
          >
          </mm-chip>
        </mm-group>
      </mm-titlebar>
    </section>
    <section class="component-props">
      <mm-text variant="subhead">Props</mm-text>
      <dl>
        <dt>title<attr>?</attr></dt>
        <dd>string</dd>
        <dd>
          최대 8자로 제한합니다. 타이틀이 말줄임표로 표시되지 않아야. 아니구나 폴더블에서는 어쩔 수
          없이 말줄임표.
        </dd>
        <dt>backType????<attr>?</attr></dt>
        <dd>'close' | 'back',</dd>
        <dd>
          TODO 패턴 정의. 탭 바로 접근하는 경우 등. close에서는 우측 액션을 제한해야 할 지도.
          closeButton ==> TitleBar component의 자식으로 항상 함께 사용되기 때문에
          titlebarBackbutton으로 추상화할 필요는 없다.
        </dd>
        <dt>actions</dt>
        <dd>React.Node</dd>
        <dd>todo 우측 actions. 갯수 제한. md에서 최대 3개. hamberger case.</dd>
        <!-- <dt>hasNext<attr>?</attr></th>
          <dd>
            boolean / 함수만 넘겨줘서 next 액션을 랜더링하는 방법이 나을 지도.
          </dd> -->
        <dt>onComplete(?) / onCancel<attr>?</attr></dt>
        <dd>() => void</dd>
      </dl>
    </section>
    <section class="component-guide">
      <mm-text variant="subhead">Changelog</mm-text>
      <mm-text variant="body">
        2401 뒤로가기 버튼이 chip과 달라야 콘텐츠와 제목 영역의 위계가 잡힘. 새로운 칩 추가.
      </mm-text>
      <mm-text variant="body"> 231230 backSlot 제거 </mm-text>
    </section>
    <section class="component-references">
      <mm-text variant="subhead">References</mm-text>
      <a href="https://m3.material.io/components/top-app-bar/overview" target="_blank">
        MD3 top app bar
      </a>
    </section>
  </article>

  <article class="article js-observer js-scrollspy-section">
    <mm-text variant="title">Bottom Bar / Bottom Navigation</mm-text>
    <mm-text variant="body-large">모바일 환경의 글로벌 네비게이션.</mm-text>

    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd title="google">Navigation Bar</dd>
    </dl>

    <section class="component-example">
      <nav class="bottombar">
        <a href="#" class="bottombar-item is-active">
          <mm-avatar variant="tertiary" icon="air-conditioner"> </mm-avatar>
          <span class="bottombar-item-label">홈</span>
          <em></em>
        </a>
        <a href="#" class="bottombar-item">
          <mm-avatar variant="tertiary" icon="air-conditioner"> </mm-avatar>
          <span class="bottombar-item-label">카테고리</span>
        </a>
        <a href="#" class="bottombar-item">
          <mm-avatar variant="tertiary" icon="air-conditioner"> </mm-avatar>
          <span class="bottombar-item-label">설정</span>
        </a>
      </nav>
    </section>

    <section class="component-props">
      <mm-text variant="subhead">Props</mm-text>
      <dl>
        <dt>test<attr>?</attr></dt>
        <dd>test</dd>
        <dd>TODO</dd>
      </dl>
    </section>

    <section class="component-guide">
      <ul>
        <li>TODO 바텀 네비게이션과 햄버거 메뉴를 혼용할 수 있는 패턴을 정의.</li>
        <li>
          바텀 네비게이션의 메뉴로 햄버거 아이콘을 사용하는 케이스: 커머스 도매인에서 카테고리 메뉴.
          주로 왼쪽에 배치.
        </li>
        <li>
          bottom navigation의 label은 예외적으로 10px입니다. 예외 케이스는 어디에서 정의해야 하는가.
          => 컴포넌트 스코프 + 관련 패턴 페이지
        </li>
        <li>Global Navigation. top and bottom.</li>
      </ul>
    </section>

    <div class="component-references">
      <mm-text variant="subhead">References</mm-text>
      <a href="https://m2.material.io/components/bottom-navigation" target="_blank"
        >M2 Bottom Navigation</a
      >
      <a href="https://m3.material.io/components/navigation-bar/overview" target="_blank"
        >M3 Navigation Bar</a
      >
      <a
        href="https://developer.apple.com/design/human-interface-guidelines/components/navigation-and-search/tab-bars"
        target="_blank"
        >HIG Tab bars</a
      >
    </div>
    <!-- // iOS isTranslucent: Bool -->
  </article>
</main>
