<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">role=menubar</test-text>
    <test-text variant="body-large"> toolbar / chip group </test-text>
    <section class="component-example">
      <menu role="menubar" style="display: flex; align-items: center">
        <test-checkbox>28 selected</test-checkbox>
        <test-chip style="margin-left: auto">
          <test-icon slot="icon" name="bonfire"></test-icon>
        </test-chip>
        <test-chip variant="plain">
          <test-icon slot="icon" name="more-vert"></test-icon>
        </test-chip>
      </menu>

      <test-separator></test-separator>
      <test-chip-group>
        <test-searchfield size="small" placeholder="검색꾸">
          <test-icon slot="prefix" name="search" size="small"></test-icon>
        </test-searchfield>
        <test-chip name="Filter">
          <test-icon slot="suffix" name="nav-arrow-down"></test-icon>
          Created by anyone
        </test-chip>
        <div style="margin-left: auto">
          <test-chip variant="plain" name="Sort">
            Last modified
            <test-icon slot="suffix" name="nav-arrow-down"></test-icon>
          </test-chip>
        </div>
      </test-chip-group>
    </section>
  </article>

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Title Bar</test-text>
    <test-text variant="body-large">
      뒤로가기 버튼이 chip과 달라야 콘텐츠와 제목 영역의 위계가 잡힘. 그래서 슬롯 대신. 구분선이나
      배경색도 없어서.
    </test-text>
    <test-text variant="body-large"> 231230 backSlot 제거 </test-text>

    <section class="component-example">
      <div>
        <test-titlebar heading="Page Title" class="js-titlebar" role="navigation">
          <test-text variant="subhead">쇼핑</test-text>
          <test-chip slot="action">
            <test-icon slot="prefix" name="cart"></test-icon>
            장바구니
          </test-chip>
        </test-titlebar>
        <!-- <div class="titlebar-backdrop js-header"></div> -->
      </div>
      <test-separator></test-separator>
      <test-titlebar class="js-titlebar" role="navigation" data-size="large" style="padding: 0">
        <h1 class="titlebar-title js-page-title" title="page title">Large Case</h1>
        <test-group slot="action">
          <test-chip>저장</test-chip>
          <test-chip class="titlebar-back" onclick="javascript:window.location.href='/';">
            <test-icon slot="icon" name="more-vert"></test-icon>
          </test-chip>
        </test-group>
      </test-titlebar>
    </section>
    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>title<attr>?</attr></dt>
        <dd>string</dd>
        <dd>
          최대 8자로 제한합니다. 타이틀이 말줄임표로 표시되지 않아야. 하지만 화면 크기는 점점
          작아지니(접힌 상태의 폴더블폰) 대안이 필요하다.
        </dd>
        <dt>backType????<attr>?</attr></dt>
        <dd>'close' | 'back',</dd>
        <dd>
          TODO 패턴 정의. 탭 바로 접근하는 경우 등. close에서는 우측 액션을 제한해야 할 지도.
          closeButton ==> TitleBar component의 자식으로 항상 함께 사용되기 때문에
          titlebarBackbutton으로 추상화할 필요는 없다.
        </dd>
        <dt>actions</dt>
        <dd>React.Node</dd>
        <dd>todo 우측 actions. 갯수 제한. md에서 최대 3개. hamberger case.</dd>
        <!-- <dt>hasNext<attr>?</attr></th>
          <dd>
            boolean / 함수만 넘겨줘서 next 액션을 랜더링하는 방법이 나을 지도.
          </dd> -->
        <dt>onComplete(?) / onCancel<attr>?</attr></dt>
        <dd>() => void</dd>
      </dl>
    </section>
    <div class="component-references">
      <test-text variant="subhead">References</test-text>
      <a href="https://m3.material.io/components/top-app-bar/overview" target="_blank">
        MD3 top app bar
      </a>
    </div>
  </article>

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Bottom Bar / Bottom Navigation</test-text>
    <test-text variant="body-large">모바일 환경의 글로벌 네비게이션.</test-text>

    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd title="google">Navigation Bar</dd>
    </dl>

    <section class="component-example">
      <nav class="bottombar">
        <a href="#" class="bottombar-item is-active">
          <test-avatar variant="tertiary" fallback=" ">
            <test-icon slot="icon" name="air-conditioner"></test-icon>
          </test-avatar>
          <span class="bottombar-item-label">홈</span>
          <em></em>
        </a>
        <a href="#" class="bottombar-item">
          <test-avatar variant="tertiary" fallback=" ">
            <test-icon slot="icon" name="air-conditioner"></test-icon>
          </test-avatar>
          <span class="bottombar-item-label">카테고리</span>
        </a>
        <a href="#" class="bottombar-item">
          <test-avatar variant="tertiary" fallback=" ">
            <test-icon slot="icon" name="air-conditioner"></test-icon>
          </test-avatar>
          <span class="bottombar-item-label">설정</span>
        </a>
      </nav>
    </section>

    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>test<attr>?</attr></dt>
        <dd>test</dd>
        <dd>TODO</dd>
      </dl>
    </section>

    <ul>
      <li>TODO 바텀 네비게이션과 햄버거 메뉴를 혼용할 수 있는 패턴을 정의.</li>
      <li>
        바텀 네비게이션의 메뉴로 햄버거 아이콘을 사용하는 케이스: 커머스 도매인에서 카테고리 메뉴.
        주로 왼쪽에 배치.
      </li>
      <li>
        bottom navigation의 label은 예외적으로 10px입니다. 예외 케이스는 어디에서 정의해야 하는가.
        => 컴포넌트 스코프 + 관련 패턴 페이지
      </li>
    </ul>

    <div class="component-references">
      <test-text variant="subhead">References</test-text>
      <a href="https://m2.material.io/components/bottom-navigation" target="_blank"
        >M2 Bottom Navigation</a
      >
      <a href="https://m3.material.io/components/navigation-bar/overview" target="_blank"
        >M3 Navigation Bar</a
      >
      <a
        href="https://developer.apple.com/design/human-interface-guidelines/components/navigation-and-search/tab-bars"
        target="_blank"
        >HIG Tab bars</a
      >
    </div>
    <!-- // iOS isTranslucent: Bool -->
  </article>
</main>
