.imgbox {width:1920px;position:relative;left:50%;margin-left:-960px;z-index:1;}
.imgbox img {display:block;}

.visual {width:100%;overflow:hidden;text-align:center;position:relative;}
.visual h1 {width:100%;font-size:44px;font-weight:var(--font-weight-bold);color:#fff;position:absolute;left:50%;top:295px;z-index:2;transform:translate(-50%, 0);}
.visual span {width:100%;font-family:'Open Sans';font-size:14px;text-transform:uppercase;letter-spacing:9.4px;color:rgba(255,255,255,.7);position:absolute;left:50%;top:360px;z-index:2;transform:translate(-50%, 0);}

.breadcrumb {width:1240px;height:70px;background:#c59b5c;margin:-35px auto 0;box-shadow:0 6px 18px rgba(0,0,0, .15);position:relative;z-index:3;}
.breadcrumb ul li {float:left;display:block;border-right:1px solid #d1b489;position:relative;}
.breadcrumb ul li:nth-of-type(1) {}
.breadcrumb ul li:nth-of-type(2) {width:280px;background:url('../images/common/icon-arrow-down.png') no-repeat 240px center;}
.breadcrumb ul li:nth-of-type(3) {width:280px;background:url('../images/common/icon-arrow-down.png') no-repeat 240px center;}
.breadcrumb ul li > a {display:block;padding:0 27px;box-sizing:border-box;color:#fff;font-size:18px;line-height:70px;}
.breadcrumb ul li div {display:none;width:280px;padding:10px 27px 30px;background:#c59b5c;position:absolute;left:0;top:70p;}
.breadcrumb ul li div a {display:block;font-size:17px;line-height:31px;color:#fff;}
.breadcrumb ul li.on div {display:block;}