.meter {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.meter-track {
  height: 0.5rem;
  background-color: var(--color-background-weak);
  border-radius: var(--radius);
  overflow: hidden;
  flex: auto;
  /* margin: 0 var(--space-2); */
  /* position: relative; */
}
.meter-thumb {
  display: block;
  width: 90%;
  height: inherit;
  background: var(--color-accent);
}
.meter-text {
  display: block;
  font-size: 12px;
}


.meter-graph {
  display: flex;
  gap: .25rem;

  padding: var(--space-1);
  border-radius: var(--radius);
  background: var(--color-background-weak);

  /* position: absolute;
  left: var(--space-1-minus);
  right: var(--space-1-minus);
  top: var(--space-1-minus);
  bottom: var(--space-1-minus); */
}

.meter-graph-item {
  height: var(--size-tiny);
  border-radius: var(--radius);
}

.meter-legend {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
  max-width: var(--width-medium);
  margin: 0 auto;
}
.meter-legend mm-text[variant=word] {margin-left:auto}
.meter-legend-item {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  position: relative;
}
/* .meter-legend-item:before {content:'';display:block;width:100%;border-bottom:1px dotted #ccc;position:absolute;z-index:-1;} */

.meter [data-type=facebook] {
  background: var(--color-facebook);
}
.meter [data-type=twitter] {
  background: var(--color-twitter);
}
.meter [data-type=instagram] {
  background: var(--color-pinterest);
}

.graph {padding:1rem 0 4rem;text-align:center;position:relative;}
.graph-title {padding:16px 5%;}
.graph-item {display:inline-block;width:48px;height:100px;margin:0 .5rem;border-radius:var(--radius);background:var(--color-background-weak);position:relative;}
.graph-item-bar {height:30px;border-radius:0 0 var(--radius) var(--radius);background:var(--red800);position:absolute;left:0;right:0;bottom:0;}
.graph-item-value {font-size:var(--font-size-small);text-align:center;color:var(--color-text);position:absolute;left:0;right:0;bottom:32px;}
.graph-item-label {display:block;font-size:var(--font-size-small);text-align:center;position:absolute;left:0;right:0;bottom:-1.5rem;}


.graph-label {
  display: block;
  width: 46px;
  font-weight: var(--font-weight-normal);
}
.graph-value {
  width: 1.75rem;
  text-align: right;
  color: var(--color-text-light);
}