
			.about-era1 {margin:4rem auto;padding:0 10%;box-sizing:border-box;position:relative;}
			.about-era1-background {width:0;height:640px;background:gainsboro;position:absolute;right:0;top:-2.5rem;z-index:-1;transition:all .6s cubic-bezier(.455, .03, .515, .955) .2s;}
			.about-era1-title {padding:0 65% 0 0;margin:0 auto 1rem;font-family:'AritaBuri';font-size:2rem;color:$gray800;}
			.about-era1-description {margin:0 auto;font-size:15ox;padding:0 65% 0 0}
			.about-era1 ul {margin:2.5rem 0 0 0;}
			.about-era1 ul li {}

			/* animation */
			.about-era1-background.is-scrolled {width:70%;}
			.about-era1-title.is-scrolled {animation:fadeup .6s cubic-bezier(.455, .03, .515, .955) forwards;}
			.about-era1-description.is-scrolled {animation:fadeup .6s cubic-bezier(.455, .03, .515, .955) forwards;}

			.about-era2 {width:1080px;margin:20rem auto;padding:0 5%;box-sizing:border-box;position:relative;}
			.about-era2-background {height:400px;background:gold;position:absolute;left:-5rem;right:-5rem;bottom:-6rem;z-index:-1;}
			.about-era2-title {padding:0 65% 0 0;margin:0 auto 1rem;font-family:'AritaBuri';font-size:2rem;color:$gray800;}
			.about-era2-description {margin:0 auto;padding:0 65% 0 0}
			.about-era2 ul {margin:2.5rem 0 0 0;}
			.about-era2 ul li {}

			.about-era2-title.is-scrolled {animation:fadeup .6s cubic-bezier(.455, .03, .515, .955) forwards;}
			.about-era2-description.is-scrolled {animation:fadeup .8s cubic-bezier(.455, .03, .515, .955) forwards;}

				.licensed-fonts {width:1080px;margin:4rem auto;}
				.licensed-fonts h3 {font-family:'AritaBuri';font-size:2rem;color:$gray800;}
				.licensed-fonts ul {width:100%;overflow:hidden;}
				.licensed-fonts ul li {float:left;width:25%;padding:1rem 2rem;box-sizing:border-box;}
				.font-name {color:$gray800;}
				.font-maker {}
				.font-famliy {}
        .font-preview {}
        

				.row {width:720px;margin:0 auto;position:relative;}
				.row:after {content:'';display:block;clear:both;}
				.row .col {float:left;width:400px;padding:32px;box-sizing:border-box;}
				.row .col p {margin-bottom:16px;}
	
				.row2 {width:1200px;margin:0 auto;position:relative;}
				.row2:after {content:'';display:block;clear:both;}
				.row2 .col {float:left;width:400px;padding:32px;box-sizing:border-box;}
				.row2 .col p {margin-bottom:16px;}
				.row2 .col + .col {width:800px;}
				.row2 .col2 {float:left;width:400px;margin-left:400px;padding:32px;box-sizing:border-box;}
				.row2 .col2 + .col2 {margin-left:0;}
				.row2 .col3 {width:800px;margin:240px 0 0;padding:32px;box-sizing:border-box;}
				
				.abab {width:1400px;margin:80px auto;overflow: hidden;}
				.abab div {float:left;width:50%;height:800px;background-color: crimson}
        .abab div:first-child {background-color: darkcyan}
        


						.projects {margin-left:16px;}
						.projects time {margin-right:16px;}
						.projects cite {margin-right:16px;}
						.projects span {font-size:12px;color:$gray400;}