// todo
.cake {@include container-large;}


.cake-head {position:relative;}
.cake-background {@include bleeding;height:380px;background:url('/public/images/newman.jpg') no-repeat 0 -200px fixed;}
.cake-head-title {@include text-title;}
.cake-head-engtitle {margin:0 0 1.5rem 0;@include text-subhead;}
.cake-head-description {margin:1rem 0 0 0;}

.cake-poster {width:50%;max-width:272px;border:var(--border);border-radius:var(--radius);overflow:hidden;position:absolute;right:0;z-index:var(--zindex-default);}
.cake-poster img {display:block;}
.cake-head-button {@include button-primary;min-width:11rem;margin-right:1rem;}

.cake-meta {}
.cake-meta dl {}
.cake-meta-summary {max-width:640px;}

.cake-info {display:flex;flex-wrap:wrap;padding:2rem 0 2.25rem;overflow:auto;position:relative;}
// .cake-info button {@include button-tertiary;position:absolute;left:0;bottom:3rem;}
.cake-info h2 {width:240px;flex-shrink:0;@include text-subhead;}
.cake-info p {width:calc(100% - 240px);}
.cake-info footer {margin-left:240px;margin-top:1rem;}
.cake-info footer a {@include link-outer;}

.cake .profile-tablist {margin-top:6rem;}


@media (--breakpoint-small) {
  .cake-poster {height:auto;margin:0 0 var(--space) 0;@include reset-position;}
  .cake-meta {padding-left:0;padding-right:0;}
  .cake-meta ul {margin-left:0;margin-right:0;padding-left:0;padding-right:0;}
  .cake-meta-summary {padding-right:0;}
  .cake-info {flex-wrap:wrap;}
  .cake-info h2 {width:100%;margin:0 0 1rem 0;}
  .cake-info p {width:100%;}
  .cake-info footer {margin-left:0;}

  .cake .profile-tablist {}
}



.person-list {
  display: flex;
  width: 160px;
}
.person {
  @include tile-elevated-small;
  margin: 0 .75rem 0 0;
  padding: var(--space-small);
  padding: .75rem;
}
.person:hover {@include hover-item;}
.person figure {
  @include avatar-huge;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.person figure img {
  height: 100%;
  object-fit: cover;
}
.person-name {display:block;margin:.25rem 0 0 0;color:var(--color-text);line-height:var(--font-line-height-small);word-break:keep-all;}
.person-test {
  @include tag-primary;
  position: absolute;
  left: .5rem;
  top: .5rem;
  z-index: 1;
}
.person-viewall {min-width:100px;padding-top:2.5rem;display:flex;flex-wrap:wrap;justify-content:center;position:relative;}
.person-viewall:hover {@include hover-item;}


.cake-short {display:flex;position:relative;}
.cake-short figure:nth-of-type(1) {@include tile-flat-small;width:var(--grid-column);}
.cake-short figure:nth-of-type(2) {@include tile-flat-small;width:var(--grid-column);}
