.cake {padding:0 5%;}

.cake-head {max-width:var(--container-large);margin:0 auto;padding:3rem 0;position:relative;}
.cake-background {height:400px;background:url('/public/images/newman.jpg') no-repeat 0 -200px fixed;position:absolute;left:-100%;right:-100%;top:0;z-index:-1;}
.cake-head-title {@include title;}
.cake-head-engtitle {@include subhead;}
.cake-head-description {margin:1rem 0 0 0;}
.cake ul {margin:0rem -3rem 0;padding:2rem 3rem 1rem;border-radius:var(--radius400);background:var(--gray0);position:relative;}
.cake ul li {margin:0 0 .25rem 0;padding:0;}
.cake ul li::before {display:none;}
.cake ul li b {float:left;width:72px;margin:0 1rem 0 0;font-weight:normal;color:var(--gray400);}
.cake-summary {margin:0 -3rem;padding:1rem 50% 2rem 3rem;}
.cake-poster {width:400px;height:600px;overflow:hidden;border-radius:var(--radius400);box-shadow:var(--shadow400);position: absolute;right:0;top:4rem;z-index:1;}
.cake-poster img {animation: fadeup 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards .2s;}
.cake-head-button {@include button-primary;min-width:11rem;margin-right:1rem;}
.cake-head-review {@include button-text;min-width:11rem;}

.cake-info {display:flex;max-width:var(--container-large);margin:0 auto;padding:2rem 0 2.25rem;border-top:var(--border150);border-bottom:var(--border150);position:relative;}
.cake-info + .cake-info {border-top:none;}
.cake-info button {@include button-tertiary;position:absolute;left:0;top:4rem;}
.cake-info h2 {width:400px;flex-shrink:0;@include subhead;}
.cake-info p {}

@media (--viewport-large) {
  .cake-head {padding-left:5%;padding-right:5%;}
  .cake-poster {width:60%;height:auto;position:static;right:auto;top:auto;}
  .cake-summary {margin-left:0;margin-right:0;padding-left:0;padding-right:0;}
  .cake-info {flex-wrap:wrap;padding-left:5%;padding-right:5%;}
  .cake-info h2 {width:100%;margin:0 0 1rem 0;}
}