.cart {@include layout-large;}
.cart-head {}
.cart-title {@include text-title;position:relative;}
.cart-description {}
.cart-head time {display:block;margin:2rem 0 0;}

.cart-item {@include tile-elevated;padding:1rem;@include clearfix;}
.cart-item-delete {@include chip;position:absolute;left:.5rem;top:.5rem;z-index:var(--zindex-default);}

.cart-item-thumbnail {float:left;display:block;width:20%;max-width:160px;margin:0 var(--space-4) 0 0;background:var(--color-background-weak);border-radius:var(--radius);position:relative;}
.cart-item-thumbnail img {
  width: auto;
  height: auto;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  }
.cart-item-thumbnail:after {content: "";display: block;padding-bottom:100%;}
  // cart-item은 cell-group

.cart-item-option-label {display:none;color:var(--color-text-light);}
.cart-item-option-value {@include text-subhead;}

.cart-item-name {}
.cart-item-name-label {@extend .cart-item-option-label;}
.cart-item-name-value {@extend .cart-item-option-value;}
.cart-item-color {margin:var(--space-2) 0;}
.cart-item-color-label {@extend .cart-item-option-label;}
.cart-item-color-value {@extend .cart-item-option-value;}
.cart-item-qty {margin:var(--space-2) 0;}
.cart-item-qty-label {@extend .cart-item-option-label;}
.cart-item-qty-value {@extend .cart-item-option-value;}
.cart-item-price {}
.cart-item-price-label {@extend .cart-item-option-label;}
.cart-item-price-value {@extend .cart-item-option-value;}

// todo 금액 아이템
.cart-item-addition {padding:var(--space-2) 0;border-top:var(--border);box-sizing:border-box;position:relative;}
.cart-item-addition-description {font-size:var(--font-size-small);color:var(--color-text-light);}
.cart-item-addition p {width:80%;}
.cart-item-addition-price {float:right;position:absolute;right:0;top:.5rem;}
.cart-item-ship {padding:var(--space-2) 0 0;border-top:var(--border);position:relative;}
.cart-item-ship-description {font-size:var(--font-size-small);color:var(--color-text-light);}
.cart-item-ship span {float:right;position:absolute;right:0;top:.5rem;}

.cart-summary {max-width:560px;margin:var(--space-4) 0 0 auto;position:relative;}
.cart-summary-subtotal {margin:.5rem 0;}
.cart-summary-discount {margin:.5rem 0;}
.cart-summary-shipping {margin:.5rem 0;}
.cart-summary-label {}
.cart-summary-value {float:right;}
.cart-summary-total {margin:var(--space-2) 0 var(--space-4);@include text-subhead;}
.cart-summary-total .cart-summary-label {}
.cart-summary-total .cart-summary-value {}
.cart-summary-controls {}
.cart-summary-checkout {@include button-primary;width:100%;}


@media (--small) {
  .cart {}
  .cart-item-thumbnail {float:none;width:100%;margin:0 0 1rem 0;}
  .cart-item-name {float:none;width:100%;padding:1rem 0 0;}
  .cart-item-color {width:35%;margin:.5rem 0;padding:0;text-align:left;}
  .cart-item-qty {width:25%;margin:.5rem 0;padding:0;text-align:left;}
  .cart-item-price {width:40%;margin:.5rem 0;padding:0;}
  .cart-item-more {padding:0;}
  .cart-item-addition {width:100%;margin:0;}
  .cart-item-ship {width:100%;margin:0;}
  .cart-item-coupon {width:100%;margin:0;}

  .cart-summary {max-width:100%;}
}