.cart {@include layout-large;}
.cart-head {}
.cart-title {@include text-title;position:relative;}
.cart-description {}
.cart-head time {display:block;margin:2rem 0 0;}

.cart-item {@include tile-elevated;padding:1rem;}
.cart-item:after {content:'';display:block;clear:both;}
.cart-item-delete {@include chip;position:absolute;left:.5rem;top:.5rem;z-index:var(--zindex-default);}
.cart-item-thumbnail {float:left;display:block;width:20%;background:var(--color-background-weak);border-radius:var(--radius);box-sizing:border-box;position:relative;}
// .cart-item-thumbnail img {width:auto;height:auto;max-width:100%;max-height:130%;margin:auto;position:absolute;left:0;right:0;top:40%;bottom:0;transition:all .4s;}
.cart-item-thumbnail img {bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;}
  // todo media size
.cart-item-thumbnail:after {    content: "";
  display: block;
  padding-bottom: 100%;
}
.cart-item-name {float:left;width:35%;margin:-.5rem 0 0 0;padding:0 var(--space-4);box-sizing:border-box;}
.cart-item-name-label {display:block;color:var(--color-text-light);}
.cart-item-name-value {@include text-subhead;line-height:var(--font-line-height-small)}
.cart-item-color {float:left;width:15%;margin:-.5rem 0 0 0;padding:0 var(--space-4);box-sizing:border-box;text-align:right;}
.cart-item-color-label {display:block;color:var(--color-text-light);}
.cart-item-color-value {@include text-subhead;line-height:var(--font-line-height-small)}
.cart-item-qty {float:left;width:15%;margin:-.5rem 0 0 0;padding:0 var(--space-4);box-sizing:border-box;text-align:right;}
.cart-item-qty-label {display:block;color:var(--color-text-light);}
.cart-item-qty-value {@include text-subhead;line-height:var(--font-line-height-small)}
.cart-item-price {float:left;width:15%;margin:-.5rem 0 0 0;padding:0 0 0 var(--space-4);box-sizing:border-box;text-align:right;}
.cart-item-price-label {display:block;color:var(--color-text-light);}
.cart-item-price-value {@include text-subhead;line-height:var(--font-line-height-small)}

.cart-summary {max-width:560px;margin:var(--space-4) 0 0 auto;position:relative;}
.cart-summary-subtotal {margin:.5rem 0;}
.cart-summary-discount {margin:.5rem 0;}
.cart-summary-shipping {margin:.5rem 0;}
.cart-summary-label {}
.cart-summary-value {float:right;}
.cart-summary-total {margin:var(--space-2) 0 var(--space-4);@include text-subhead;}
.cart-summary-total .cart-summary-label {}
.cart-summary-total .cart-summary-value {}
.cart-summary-controls {}
.cart-summary-checkout {@include button-primary;width:100%;}


			
.cart-item-more {margin:var(--space-3) 0 var(--space-2);padding:0 var(--space-4);box-sizing:border-box;text-align:left;color:var(--color-primary);}
.cart-item-more i {margin:0 0 0 var(--space-2);}
.cart-item-remove {float:right;margin:var(--space-3) 0 var(--space-2);color:var(--color-primary);}
.cart-item-addition {width:calc(100% - 20% - var(--space-4));margin:0 0 0 calc(20% + var(--space-4));padding:var(--space-2) 0 var(--space-3);border-top:var(--border);box-sizing:border-box;position:relative;}
.cart-item-addition-description {font-size:var(--font-size-caption);line-height:var(--font-line-height-small);color:var(--color-text-light);}
.cart-item-addition p {width:80%;}
.cart-item-addition-price {float:right;position:absolute;right:0;top:.5rem;}
.cart-item-ship {width:calc(100% - 20% - var(--space-4));margin:0 0 0 calc(20% + var(--space-4));padding:var(--space-2) 0 0;border-top:var(--border);position:relative;}
.cart-item-ship p {}
// .cart-item-ship p + p {margin:var(--space-05) 0 var(--space-1);}
.cart-item-ship-description {font-size:var(--font-size-caption);line-height:var(--font-line-height-small);color:var(--color-text-light);}
.cart-item-ship span {float:right;position:absolute;right:0;top:.5rem;}
.cart-item-coupon {margin-left:calc(20% + 2rem);padding:.5rem var(--space-4);border:var(--border);box-sizing:border-box;color:var(--color-text-light);}

.is-expanded .cart-item-addition {display:none;}
.is-expanded .cart-item-ship {display:none;}
.is-expanded .cart-item-coupon {display:none;}



@media (--small) {
  .cart {}
  .cart-item-thumbnail {float:none;width:100%;margin:0 0 1rem 0;}
  .cart-item-name {float:none;width:100%;padding:1rem 0 0;}
  .cart-item-color {width:35%;margin:.5rem 0;padding:0;text-align:left;}
  .cart-item-qty {width:25%;margin:.5rem 0;padding:0;text-align:left;}
  .cart-item-price {width:40%;margin:.5rem 0;padding:0;}
  .cart-item-more {padding:0;}
  .cart-item-addition {width:100%;margin:0;}
  .cart-item-ship {width:100%;margin:0;}
  .cart-item-coupon {width:100%;margin:0;}

  .cart-summary {max-width:100%;}
}