.changelog {padding:0 var(--grid-margin) 8rem;}

.changelog-head {
  font-family:'DunkelSans';font-size:2rem;padding:4rem 0;
}

.changelog-filter {@include chip-group;}
.changelog-filter-chip {@include chip;}
.changelog-filter-chip-label {@include chip-label;}

.changelog-item {@include tile-elevated;margin:var(--space) 0 0 0;border-bottom:var(--border);}
.changelog-item:hover {@include hover-item;}
// .changelog-item time {@include tile-flat;position:absolute;left:-8rem;top:-2px;}
.changelog-item-icon {margin-left:auto;@include avatar-small;transform:rotate(90deg);}
.changelog-item-head {display:flex;align-items:center;}
.changelog-item-target {@include tag;width:88px;margin:0 var(--space) 0 0;text-align:center;}
.changelog-item-tag {@include avatar-small;margin:0 var(--space-small) 0 0;font-size:var(--font-size-caption);}
.changelog-item-tag.is-negative {background-color:var(--red100);}
.changelog-item-tag.is-positive {background-color:var(--green100);}

.changelog-item-time {}
.changelog-item-title {font-size:var(--font-size-body);font-weight:var(--font-weight-normal);}
.changelog-item-content {@include tile-flat-small;margin:var(--space) 0 0 0;}
// .changelog-item-target {display:block;margin:var(--space-after-subhead) 0 0 0;font-weight:var(--font-weight-normal);color:var(--gray400);}
.changelog-item div {display:none;}

.changelog-item.is-active div {display:block;}
.changelog-item.is-active .changelog-item-icon {transform:rotate(-90deg);}