.changelog {}
.changelog-item {padding:2rem var(--grid-margin) 2.5rem;border-bottom:var(--border);position:relative;}
.changelog-item-time {}
.changelog-item-title {font-size:var(--font-size-subhead);font-weight:var(--font-weight-normal);}
.changelog-item-content {margin:.25rem 0 0 0;font-size:var(--font-size-body);}
.changelog-item-target {display:block;margin:var(--space-after-subhead) 0 0 0;font-weight:var(--font-weight-normal);color:var(--gray400);}
