

@mixin item {display:flex;align-items:center;padding:.125rem 0 1.125rem;border-radius:$radius400;position:relative;}
@mixin item-emoji {margin-top:-.25rem;font-size:2rem;position:absolute;left:0;top:50%;transform:translate(0, -50%);}
@mixin item-label {width:120px;margin-left:3rem;color:$gray400;font-size:1rem;}
@mixin item-value {margin-left:1rem;font-size:$subhead;}

@mixin container {margin:0 20%;}

.checkout {padding-bottom:8rem;position:relative;}
.checkout-head {padding:4rem 0 5rem;background: $gray100;}
.checkout-head-eyebrow {@include container;margin-bottom:.5rem;font-size:1rem;color:$gray400;}
.checkout-head-title {@include container;font-size:2rem;}

.checkout-date {@include container;padding:4rem 0;}
.checkout-date-title {font-size:1.25rem;}

.checkout-shipping {@include container;margin-top:4rem;}
.checkout-shipping-title {margin:1rem 0 1.5rem;font-size:$subhead;}
.checkout-shipping-name {@include item;}
.checkout-shipping-name-emoji {@include item-emoji;}
.checkout-shipping-name-label {@include item-label;}
.checkout-shipping-name-value {@include item-value;}
.checkout-shipping-phone {@include item;}
.checkout-shipping-phone-emoji {@include item-emoji;}
.checkout-shipping-phone-label {@include item-label;}
.checkout-shipping-phone-value {@include item-value;}
.checkout-shipping-address {@include item;}
.checkout-shipping-address-emoji {@include item-emoji;}
.checkout-shipping-address-label {@include item-label;}
.checkout-shipping-address-value {@include item-value;}

.checkout-product {width:400px;padding:2rem 2.5rem;box-sizing:border-box;background:#fff;border-radius:$radius400;box-shadow:$shadow400;position:absolute;right:20%;top:4rem;}
.checkout-product-title {margin:0 0 1.5rem 0;font-size:$subhead;}
.checkout-product-item {height:$cell-large;margin:0 0 1rem 0;position:relative;}
.checkout-product-item-media {@include box-large;float:left;margin-right:1.5rem;}
.checkout-product-item-name {}
.checkout-product-item-text {font-size:12px;color:$gray400;}
.checkout-product-item-price {font-size:$subhead;}



.checkout-product-price1 {display:flex;justify-content:space-between;margin:.5rem 0;}
.checkout-product-price1-label {}
.checkout-product-price1-value {}
.checkout-product-price2 {display:flex;justify-content:space-between;padding:.5rem 0 0;font-size:$subhead;}
.checkout-product-price2-label {}
.checkout-product-price2-value {}


.checkout-payment {@include container;margin-top:4rem;}
.checkout-payment-title {font-size:$subhead;}
.checkout-payment-description {margin:1rem 0 0 0;}

.checkout-alert {@include container;max-width:480px;margin-top:1rem;}
.checkout-alert p {display:flex;align-items:center;}
.checkout-alert span {margin-right:.5rem;font-size:1.5rem;}
.checkout-alert strong {font-size:12px;}

.checkout-foot {display:flex;justify-content:center;margin:8rem 0;}
.checkout-foot button {@include button-primary;width:240px;font-size:$subhead;}
// .checkout-shipping-phone {margin:.5rem 0;padding:1rem 2rem 1.5rem;border-radius:$radius400;background:$gray100;position:relative;}
// .checkout-shipping-phone-emoji {font-size:2rem;position:absolute;top:50%;transform:translate(0, -50%);}
// .checkout-shipping-phone-label {margin-left:3.5rem;color:$gray400;}
// .checkout-shipping-phone-value {margin-left:3.5rem;font-size:$subhead;}
// .checkout-shipping-address {padding:1rem 2rem 1.5rem;border-radius:$radius400;background:$gray100;position:relative;}
// .checkout-shipping-address-emoji {font-size:2rem;position:absolute;top:50%;transform:translate(0, -50%);}
// .checkout-shipping-address-label {margin-left:3.5rem;color:$gray400;}
// .checkout-shipping-address-value {margin-left:3.5rem;font-size:$subhead;}