.checkout {@include layout-medium;}
.checkout-step {}
.checkout-head {position:relative;}
.checkout-head-background {display:none;background:var(--color-background-weak);position:absolute;left:-200%;right:-200%;top:0;bottom:0;z-index:-1;}
.checkout-head-eyebrow {}
.checkout-head-title {}
.checkout-head-description {}

.checkout-product {}
.checkout-product-title {margin:0 0 var(--space-3) 0;@include text-subhead;}
.checkout-product-item {height:var(--size-huge);position:relative;}
.checkout-product-item-media {float:left;@include avatar-huge;margin:0 var(--space-4) 0 0;}
.checkout-product-item-name {font-size:var(--font-size-medium);font-weight:var(--font-weight-normal);}
.checkout-product-item-text {color:var(--color-text-light);}
.checkout-product-item-price {@include text-subhead;}

.checkout-shipping {display:flex;flex-wrap:wrap;justify-content:space-between;margin:2rem 0;}
.checkout-shipping-title {width:100%;margin:var(--space-3) 0;@include text-subhead;}
.checkout-shipping-name {}
.checkout-shipping-phone {}
.checkout-shipping-address {width:100%;margin:var(--space-4) 0 0 0;}

.checkout-payment {margin:2rem 0;}
.checkout-payment-title {margin:0 0 var(--space-3) 0;@include text-subhead;}
.checkout-payment-description {}
.checkout-payment-button {width:100%;@include button-primary;}
.checkout-payment-button-emoji {display:block;margin-bottom:-.5rem;font-size:var(--font-size-huge);}
.checkout-payment-button-check {position:absolute;right:16px;top:42%;}


@media (--large) {
  // .checkout-foot {
  //   margin: 0;
  //   padding: 1rem 1rem calc(constant(safe-area-inset-bottom) + 1rem);
  //   padding: 1rem 1rem calc(env(safe-area-inset-bottom) + 1rem);
  //   background: var(--color-background);
  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: 8;
  // }
  // .checkout-foot-pay {
  //   width: 100%;
  //   max-width: 100%;
  // }
}