.color {overflow:hidden;}
.color-group {display:flex;justify-content:space-between;}
.color-item {width:100%;}
.color-item.is-gray000 div {border:var(--border100);background:var(--gray0);}
.color-item.is-gray100 div {background:var(--gray100);}
.color-item.is-gray200 div {background:var(--gray200);}
.color-item.is-gray400 div {background:var(--gray400);}
.color-item.is-gray600 div {background:var(--gray600);}
.color-item.is-gray800 div {background:var(--gray800);}
.color-item.is-red100 div {background:var(--red100);}
.color-item.is-red800 div {background:var(--red800);}
.color-item.is-primary100 div {background:var(--green100);}
.color-item.is-primary200 div {background:var(--color-primary);}
.color-item.is-gradient div {background-image:linear-gradient(106deg,var(--red800),var(--color-primary));}
.color-item div {float:left;@include avatar-large;margin:0 var(--space) 0 0;}
.color-item h3 {font-size:var(--font-size-body);text-transform:capitalize;}
.color-item span {color:var(--gray400);}

@media (--breakpoint-small) {
}

.surface-item div {@include avatar-large;box-shadow:var(--shadow400);}
.surface-item-bold div {@include avatar-large;box-shadow:var(--shadow800);}

.design {}
.design-head {background:var(--gray100);border-radius:var(--radius400);position:fixed;left:5%;top:3.75rem;right:70%;bottom:3.75rem;}
// .design-head {overflow:hidden;background:var(--color-primary);position:fixed;left:0;right:0;top:0;bottom:0;z-index:var(--zindex-default);transform:translateX(-50%);transition:transform .8s $bezier-base .4s;}
// .design-head.is-scrolled {transform:translateX(-50%);transition:transform .8s $bezier-base .4s;}

.design-navigation {padding:.75rem var(--grid-margin);background:var(--gray0);position:relative;z-index:6 ;position:sticky;top:0;}
.design-navigation-background {@include bleeding;border-bottom:var(--border100);}
.design-navigation-scroll {@include group-bleeding;margin:0 var(--grid-margin-minus);padding:0 var(--grid-margin);position:relative;}

.design-body {max-width:var(--width-medium);margin:0 auto;overflow-x:hidden;padding:0 var(--grid-margin) 8rem;}
// .design-body {width:50%;overflow-x:hidden;max-width:36rem;margin:0 0 0 50%;padding:0 6rem 8rem;}

.design-article {margin:var(--space-between-article) 0;position:relative;}
.design-article-title {margin:0 0 1rem 0;@include subhead;}
.design-article-description {margin:0 0 2rem 0;}
.design-article-more {display:flex;align-items:center;font-size:var(--font-size-caption);color:var(--color-primary);font-weight:var(--font-weight-bold);position:absolute;right:0;top:0;}
.design-article-more i {margin-left:1.5rem;}
.design-article.is-scrolled {animation:fadeup .8s forwards;}
.design-article-helper {margin:var(--space-after-item);font-size:var(--font-size-caption);}

.design-typograph-group {display:flex;justify-content:space-between;}
.design-typograph-group .design-typograph-item {width:var(--grid-column);}


.design-buttongroup {@include group-bleeding;padding: .5rem 0;margin: -.5rem 0;}

.design-typograph-size {margin:1rem 0;overflow:hidden;}
.design-typograph-size-title {line-height:var(--size-medium);}
.design-typograph-size-title span {
  float:right;
  font-size:var(--font-size-body);
  // color:var(--gray400);
  // margin:0 0 0 .5rem;font-weight:normal;
}
.design-typograph-size-toggle {display:none;@include link-outer;}
.design-typograph-size p {display:none;margin-top:1rem;}
.design-typograph-size div {display:none;}

// .design-typograph-size.is-active {height:auto;}
// .design-typograph-size.is-active p {display:block;}
// .design-typograph-size.is-active div {display:block;}

.design-tile-flat {@include tile-flat;}
.design-tile-flat-small {@include tile-flat-small;}
.design-outer-elevated {@include tile-elevated;}
.design-outer-elevated:hover {@include hover-item;}
.design-outer-elevated-small {@include tile-elevated-small;}
.design-outer-elevated-small:hover {@include hover-item;}


.spacing-card {@include tile-elevated;}
.space {height:100%;background:var(--green100);text-align:center;position:relative;}
.space .tag {margin:0;padding:0 .25rem;border-radius:var(--radius400);background:var(--color-primary);font-size:var(--font-size-caption);color:var(--gray0);position: absolute;
  left: 50%;
  /* z-index: 5151515; */
  top: 50%;
  transform: translate(-50%, -50%);}
.space .tag:before {content:'';}

@media (--breakpoint-large) {
  .design {padding:0;}
  .design-head {height:20rem;position:relative;left:0;right:0;top:-8rem;bottom:0;transform:translateX(0)}
  .design-head.is-scrolled {transform:translateX(0)}
  .design-body {padding-left:var(--grid-margin);padding-right:var(--grid-margin);}
  // .design-article {width:50%;}
}


@media (--breakpoint-small) {
  // .design-article {width:100%;}
}


.stamp {
  // position: absolute;
  // right: 6vmax;
  // top: 6vmax;
  z-index: 2;
}
.stamp p {
  font-size: var(--font-size-subhead);
  color: var(--color-primary);
  margin: 0;
}
.stamp .circle {
  position: absolute;
  width: 1px;
  height: 1px;
  display: block;
  left: 50%;
  top: 50%;
  background-color: transparent;
  animation: rotation 9.5s linear infinite;
}
.stamp .circle span {
  font-size: 1rem;
  height: 5vmax;
  color: var(--color-primary);
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  transform-origin: bottom center;
}


.char1 {
  transform: rotate(13deg);
}
.char2 {
  transform: rotate(26deg);
}
.char3 {
  transform: rotate(39deg);
}
.char4 {
  transform: rotate(52deg);
}
.char5 {
  transform: rotate(65deg);
}
.char6 {
          transform: rotate(78deg);
}
.char7 {
          transform: rotate(91deg);
}
.char8 {
          transform: rotate(104deg);
}
.char9 {
          transform: rotate(117deg);
}
.char10 {
          transform: rotate(130deg);
}
.char11 {
          transform: rotate(143deg);
}
.char12 {
          transform: rotate(156deg);
}
.char13 {
          transform: rotate(169deg);
}
.char14 {
          transform: rotate(182deg);
}
.char15 {
          transform: rotate(195deg);
}
.char16 {
          transform: rotate(208deg);
}
.char17 {
          transform: rotate(221deg);
}
.char18 {
          transform: rotate(234deg);
}
.char19 {
          transform: rotate(247deg);
}
.char20 {
          transform: rotate(260deg);
}
.char21 {
          transform: rotate(273deg);
}
.char22 {
          transform: rotate(286deg);
}
.char23 {
          transform: rotate(299deg);
}
.char24 {
  transform: rotate(312deg);
}
.char25 {
  transform: rotate(325deg);
}
.char26 {
  transform: rotate(338deg);
}
.char27 {
  transform: rotate(351deg);
}
.char28 {
  transform: rotate(364deg);
}


.design-article-icon {@include avatar-medium;}
.design-article-avatar-huge {@include avatar-huge;background:url(/public/images/soo.png) no-repeat center center var(--gray100);background-size:auto 100%;}
.design-article-avatar-large {@include avatar-large;background:url(/public/images/soo.png) no-repeat center center var(--gray100);background-size:auto 100%;}
.design-article-avatar-medium {@include avatar-medium;background:url(/public/images/soo.png) no-repeat center center var(--gray100);background-size:auto 100%;}
.design-article-avatar-small {@include avatar-small;background:url(/public/images/soo.png) no-repeat center center var(--gray100);background-size:auto 100%;}
.design-article-avatar-tiny {@include avatar-tiny;background:url(/public/images/soo.png) no-repeat center center var(--gray100);background-size:auto 100%;}
.design-article-primary {@include button-primary;}
.design-article-secondary {@include button-secondary;}
.design-article-tertiary {@include button-tertiary;}
.design-article-text {@include button-text;}
.design-article-primary-small {@include button-primary;@include button-small;}
.design-article-secondary-small {@include button-secondary;@include button-small;}
.design-article-tertiary-small {@include button-tertiary;@include button-small;}
.design-article-text-small {@include button-text;@include button-small;}


.number {display:flex;justify-content:center;}
.number-card {display:flex;justify-content:center;align-items:center;width:48px;height:64px;background:var(--gray100);border-radius:var(--radius400);font-size:var(--font-size-huge);font-weight:var(--font-weight-bold);margin:0 .25rem;}

.userlist {@include tile-elevated;max-width:400px;}
.userlist header {display:flex;align-items:center;justify-content:space-between;margin:var(--space-leading-subhead) 0 1rem 0;}
.userlist header h1 {@include subhead;}
.userlist header a {font-weight:var(--font-weight-bold);}
.userlist .profile-user:hover {@include hover-item;}
.userlist-cta {width:100%;margin:1rem 0 0 0;@include button-secondary;}
// .userlist:after {
//   content:'';display:block;clear:both;
// }
// .userlist .profile-user:hover:after {
//   content:'';display:block;box-shadow:var(--shadow400);border-radius:var(--radius400);position:absolute;left:-.5rem;right:-.5rem;top:-.5rem;bottom:-.5rem;z-index:-1;
// }



.textbox {}
.textbox-toolbar {display:flex;position:relative;margin:1rem 0;}
.textbox-toolbar-bold {@include avatar-medium;margin:0 .5rem 0 0;}
.textbox-toolbar-italic {@include avatar-medium;}

.media {width:400px;overflow:hidden;border-radius:var(--radius400);position:relative;}
.media:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}
.media img {@include image-centered;}



.hover-sample {@include avatar-huge;}
.hover-sample:hover {@include hover-item;}


.guide {
  // @include tile-elevated;
  // todo icon do dont로 구분하기
  .guide-do {
    display: flex;
    align-items: center;
    line-height: 16px;
    span {
      i {border-color:var(--color-primary);}
    }
  }
  .guide-donot {
    display: flex;
    align-items: center;
    line-height: 16px;
    span {
      i:before, i:after {background-color:var(--red800);}
    }
  }
  span {
    @include avatar-tiny;
    margin: 0 .5rem 0 0;
  }
}



.summary {}
.summary-item {display:flex;justify-content:space-between;padding:.25rem 0;}
.summary-item-label {}
.summary-item-value {}
.summary-total {display:flex;justify-content:space-between;padding:.5rem 0 0;@include subhead;}



.sidebar {}
.sidebar-heading {margin:0 0 .5rem 0;@include text-label;}
.sidebar-item {display:flex;align-items:center;margin:1rem 0;line-height:31px;position:relative;z-index:var(--zindex-default);}
.sidebar-item:hover {@include hover-item;}
.sidebar-item h2 {display:flex;align-items:center;}
.sidebar-item h2 figure {@include avatar-medium;font-size:var(--font-size-body);}
.sidebar-item-tag {margin-top:2px;}


.sheet {@include tile-elevated;}
.sheet-title {@include subhead;}
.sheet button {position:relative;z-index:var(--zindex-default);}
.sheet button:hover {@include hover-item;}

.keywords {@include tile-elevated;max-width:400px;}
.keywords-title {@include subhead;margin:var(--space-leading-subhead) 0 .75rem 0;}
.keywords-group {}
.keywords-group-keyword {@include chip;}

.avatarlist {@include tile-elevated;padding:.5rem;color:var(--gray800);}
.avatarlist:hover {@include hover-item;}


.temp8 {}
.temp8 div {margin-right:.5rem;

  @include tile-flat-small;
  font-size:var(--font-size-caption);
  position:relative;
  z-index: 1;
}
.temp8 div:hover{@include hover-item;}
.temp8 div figure {
  display:flex;align-items:center;justify-content:center;
          width:80px;height:80px;border-radius:var(--radius400);background:indianred;font-size:var(--font-size-huge);
}




@mixin group {display:flex;}
@mixin group-vertical {@include group;flex-direction:column;}
@mixin group-horizental {@include group;flex-direction:row-reverse;}

@mixin listbox {
  display: flex;
}






.accordion {@include tile-elevated;padding:1.5rem;position:relative;}
.accordion:hover {@include hover-item;}
.accordion + .accordion {margin:1rem 0 0 0;cursor:pointer;}
.accordion-title {display:flex;align-items:center;justify-content:space-between;@include subhead;}
.accordion-title-icon {@include avatar-medium;display:none;}
.accordion-panel {display:none;}
.accordion-panel p {margin:1rem 0;}
.is-active + .accordion-panel {display:block;}
// [aria-expanded=true] + .accordion-panel {}




.design-home {display:flex;flex-wrap:wrap;@include container-large;}
.design-home header {width:100%;background:var(--gray0);text-align:center;position: relative;z-index:var(--zindex-default);}
.design-home header h1 {@include title;}
.design-home header p {margin:var(--space-after-title) 0 0 0;font-size:var(--font-size-subhead);}
.design-home nav {display:flex;flex-wrap:wrap;justify-content:center;width:100%;padding:4rem 0;background:var(--gray0);position:relative;z-index:var(--zindex-default);}
.design-home nav a {display:flex;align-items:center;@include tile-elevated;width:30%;margin:1.5%;font-size:var(--font-size-subhead);font-weight:var(--font-weight-bold);color:var(--gray800);}
.design-home nav a[readonly] {opacity:.5;cursor:not-allowed;}
.design-home nav a:hover:not([readonly]) {@include hover-item;}
.design-home nav a span {@include avatar-medium;margin-left:auto;margin-top:2px;}
.design-home nav a div {margin:2px 0 0 var(--space-before-badge);}

@media (--breakpoint-small) {
  .design-home nav {flex-direction:column;}
  .design-home nav a {width:100%;margin:.5rem 0;}
}




.uxsitemap {position:relative;}
.uxsitemap .map {margin-left:1rem;}
.uxsitemap .map-head {margin:1rem 0;}
.uxsitemap .map-body {margin:1rem 1rem;}
// .uxsitemap > section {width:8rem;height:8rem;margin:1rem 0;background:var(--green100);}



.coding {max-width:var(--width-medium);margin:0 auto;}



.design-ticker {
  display: flex;
  max-width: var(--width-large);
  height: 240px;
  // overflow: hidden;
  margin: 0 auto 2rem;

  cursor: default;
  
  user-select: none;
  position: relative;
  filter: grayscale(1);
}
.design-ticker-item {
  animation: marquee 12s linear infinite;
  white-space: nowrap;
  margin: 0 2rem;
  opacity: .5;
}
.design-ticker:hover h1 {
  animation-play-state: paused;
}


.design-ticker-overay {
  // position: absolute;left:0;right:0;top:0;bottom:0;
  height: 20rem;
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,1));
@include bleeding; z-index: 0;
	// top: -20rem;
}