.color {overflow:hidden;}
.color-item {position:relative;}
.color-item.is-gray100 div {background:$gray100;}
.color-item.is-gray200 div {background:$gray200;}
.color-item.is-gray400 div {background:$gray400;}
.color-item.is-gray600 div {background:$gray600;}
.color-item.is-gray800 div {background:$gray800;}
.color-item.is-positive div {background:$color-positive;}
.color-item.is-red100 div {background:$red100;}
.color-item.is-red800 div {background:$red800;}
.color-item.is-primary100 div {background:#f2f8fc;}
.color-item.is-primary200 div {background:$color-primary;}
.color-item.is-gradient div {background-image:linear-gradient(106deg,#ff3a4e,#7e4cff);}
.color-item div {width:48px;height:48px;border-radius:$radius400;background:$color-primary;position:relative;}
.color-item figcaption {display:none;background:$gray0;border-radius:$radius400;letter-spacing:1px;overflow:hidden;padding:0 .5rem;font-size:10px;position:absolute;left:.5rem;bottom:.5rem;}
.color-item figcaption span {display:block;transition:all .4s;}
.color-item figcaption b {}

.color-item:hover figcaption span {margin-top:-24px;}

.design {}
.design-head {overflow:hidden;background:url('/public/images/caleb-woods-182648-unsplash.jpg') no-repeat center center;background-size:cover;position:fixed;left:0;right:50%;top:0;bottom:0;z-index:1;}
.design-body {width:50%;max-width:40rem;margin-left:50%;padding:6rem;}

.design-article {margin:0 0 6rem 0;position:relative;}
.design-article-title {margin:0 0 1rem 0;font-size:$subhead;}
.design-article-description {margin:0 0 1.5rem 0;}
.design-article-more {font-size:12px;color:$gray800;text-decoration:underline;position:absolute;right:0;top:0;}

.design-article.is-scrolled {animation:fadeup .8s;}

.design-button {position:relative;}
.design-button h1 {margin:0 0 0rem 0;font-size:1.5rem;}
.design-button h2 {margin:4rem 0 0.5rem 0;position:relative;}
.design-button p {margin:0 0 1.25rem 0;}
.design-button div {position:relative;}
.design-button-subhead {font-size:$body;text-decoration:underline;}


@media (--viewport-large) {
  .design {padding:0;}
  .design-head {height:50vh;position:relative;left:0;right:0;top:0;bottom:50%;}
  .design-body {width:60%;margin:4rem 10%;padding:0;}
}


@media (--viewport-small) {
  .design-head {}
  .design-body {width:90%;max-width:480px;margin-left:5%;}
}



.pagenav {padding:0 0 4rem 0;}
.pagenav-nav {/*display:flex;overflow:auto;white-space:nowrap;*/}
.pagenav-title {padding:.5rem 0;font-size:1rem;color:#999;}
.pagenav-link {display:flex;align-items:center;margin:0 0 .5rem 0;}
.pagenav-link:hover {text-decoration:underline;}
.pagenav-link:last-child {margin:.5rem 0 0 0;}
.pagenav-link i {display:flex;align-items:center;justify-content:center;margin-right:1rem;background:$gray100;}


.user {max-width:320px;padding:2rem 0 0;border-radius:$radius400;box-shadow:$shadow400;text-align:center;}
.user-avatar {@include box-large;margin:0 auto .75rem;position:relative;}
.user-avatar-change {width:32px;height:32px;border-radius:$radius400;position:absolute;right:-8px;bottom:-8px;}
.user-name {font-size:$subhead;color:$gray800;}
.user-email {display:block;margin:-.25rem 0 0 0;}
.user-action {display:block;width:100%;margin:1rem 0 0 0;padding:1rem 0;border-top:1px solid $gray100;border-bottom:1px solid $gray100;}
.user-logout {padding:1rem 0;border-bottom:1px solid $gray100;}
.user-myinfo {text-decoration:underline;}
.user footer {padding:1rem 0;font-size:12px;}
.user footer a {color:$gray400;}



@keyframes spinAround{
  0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
  o{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.spinner {
    animation: spinAround .8s linear infinite;
    border-radius: 50%;
    border-color: transparent transparent #dfdbe3 #dfdbe3;
    border-style: solid;
    border-width: 2px;
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    border-color: rgba(67,47,101,.1) rgba(67,47,101,.1) $color-positive $color-positive;
    position: relative;
}


.stamp {
  position: absolute;
  right: 6vmax;
  top: 6vmax;
  z-index: 10;
}
.stamp p {
  font-size: 2.5rem;
  color: $color-primary;
  margin: 0;
}
.stamp .circle {
  position: absolute;
  width: 1px;
  height: 1px;
  display: block;
  left: 50%;
  top: 50%;
  background-color: transparent;
          animation: rotation 9.5s linear infinite;
}
.stamp .circle span {
  font-size: 1rem;
  height: 5vmax;
  color: $color-primary;
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  transform-origin: bottom center;
}


.char1 {
  transform: rotate(13deg);
}
.char2 {
  transform: rotate(26deg);
}
.char3 {
  transform: rotate(39deg);
}
.char4 {
  transform: rotate(52deg);
}
.char5 {
  transform: rotate(65deg);
}
.char6 {
          transform: rotate(78deg);
}
.char7 {
          transform: rotate(91deg);
}
.char8 {
          transform: rotate(104deg);
}
.char9 {
          transform: rotate(117deg);
}
.char10 {
          transform: rotate(130deg);
}
.char11 {
          transform: rotate(143deg);
}
.char12 {
          transform: rotate(156deg);
}
.char13 {
          transform: rotate(169deg);
}
.char14 {
          transform: rotate(182deg);
}
.char15 {
          transform: rotate(195deg);
}
.char16 {
          transform: rotate(208deg);
}
.char17 {
          transform: rotate(221deg);
}
.char18 {
          transform: rotate(234deg);
}
.char19 {
          transform: rotate(247deg);
}
.char20 {
          transform: rotate(260deg);
}
.char21 {
          transform: rotate(273deg);
}
.char22 {
          transform: rotate(286deg);
}
.char23 {
          transform: rotate(299deg);
}
.char24 {
          transform: rotate(312deg);
}
.char25 {
          transform: rotate(325deg);
}
.char26 {
          transform: rotate(338deg);
}
.char27 {
          transform: rotate(351deg);
}
.char28 {
          transform: rotate(364deg);
}


.design-article-icon {
  @include box-light;
}

.design-article-avatar {@include box-light;}
.design-article-avatar img {width:auto;height:80px;}
.design-article-avatar-large {@include box-large;}
.design-article-avatar-large img {width:auto;height:80px;}
.design-article-avatar-medium {@include box-medium;}
.design-article-avatar-medium img {width:auto;height:80px;}
.design-article-avatar-small {@include box-small;}
.design-article-avatar-small img {width:auto;height:80px;}
.design-article-primary {@include button-primary;}
.design-article-secondary {@include button-secondary;}
.design-article-tertiary {@include button-tertiary;}
.design-article-primary-small {@include box-light;@include button-primary;}
.design-article-secondary-small {@include box-light;@include button-secondary;}
.design-article-tertiary-small {@include box-light;@include button-tertiary;}
// .design-article-text {@include button-text;}

.copyurl {
  @include box-light;
}