.color {overflow:hidden;}
.color-group {display:flex;flex-wrap:wrap;}
.color-item {margin:0 .5rem 0 0;position:relative;}
.color-item.is-gray100 div {background:var(--gray100);}
.color-item.is-gray200 div {background:var(--gray200);}
.color-item.is-gray400 div {background:var(--gray400);}
.color-item.is-gray600 div {background:var(--gray600);}
.color-item.is-gray800 div {background:var(--gray800);}
.color-item.is-red100 div {background:$red100;}
.color-item.is-red800 div {background:$red800;}
.color-item.is-primary100 div {background:$blue100;}
.color-item.is-primary200 div {background:$color-primary;}
.color-item.is-gradient div {background-image:linear-gradient(106deg,$red800,$color-primary);}
.color-item div {@include box-medium;position:relative;}
.color-item figcaption {margin:.25rem 0 0 0;font-size:10px;color:var(--gray400)}

.surface-item div {@include box-medium;background:var(--gray0);box-shadow:$shadow400;}

.design {}
.design-head {overflow:hidden;background:var(--color-primary);position:fixed;left:0;right:60%;top:0;bottom:0;z-index:1;}
// .design-head {overflow:hidden;background:url('/public/images/teemu-paananen-OOE4xAnBhKo-unsplash.jpg') no-repeat center center;background-size:cover;position:fixed;left:0;right:60%;top:0;bottom:0;z-index:1;}
.design-head.is-scrolled {right:50%;transition: all 1s $bezier-base .2s;}
.design-body {width:50%;max-width:40rem;margin-left:50%;padding:6rem;}

.design-article {margin:6rem 0;position:relative;}
.design-article-title {margin:0 0 1rem 0;@include subhead;}
.design-article-description {margin:0 0 1.5rem 0;}
.design-article-more {display:flex;align-items:center;font-size:$caption;position:absolute;right:0;top:0;}
.design-article-more i {margin-left:1.5rem;}
.design-article.is-scrolled {animation:fadeup .8s;}

.design-button {position:relative;}
.design-button h1 {margin:0 0 0rem 0;font-size:1.25rem;}
.design-button h2 {margin:4rem 0 0.5rem 0;position:relative;}
.design-button p {margin:0 0 1.25rem 0;}
.design-button div {position:relative;}
.design-button-subhead {font-size:$body;text-decoration:underline;}


@media (--viewport-large) {
  .design {padding:0;}
  .design-head {height:20rem;position:relative;left:0;right:0;top:0;bottom:0;}
  .design-body {margin:0 10%;padding:0;}
}


@media (--viewport-small) {
  .design-head {}
  .design-body {width:90%;max-width:90%;margin-left:5%;margin-right:5%;}
}


.stamp {
  position: absolute;
  right: 6vmax;
  top: 6vmax;
  z-index: 2;
}
.stamp p {
  font-size: $subhead;
  color: $color-primary;
  margin: 0;
}
.stamp .circle {
  position: absolute;
  width: 1px;
  height: 1px;
  display: block;
  left: 50%;
  top: 50%;
  background-color: transparent;
  animation: rotation 9.5s linear infinite;
}
.stamp .circle span {
  font-size: 1rem;
  height: 5vmax;
  color: $color-primary;
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  transform-origin: bottom center;
}


.char1 {
  transform: rotate(13deg);
}
.char2 {
  transform: rotate(26deg);
}
.char3 {
  transform: rotate(39deg);
}
.char4 {
  transform: rotate(52deg);
}
.char5 {
  transform: rotate(65deg);
}
.char6 {
          transform: rotate(78deg);
}
.char7 {
          transform: rotate(91deg);
}
.char8 {
          transform: rotate(104deg);
}
.char9 {
          transform: rotate(117deg);
}
.char10 {
          transform: rotate(130deg);
}
.char11 {
          transform: rotate(143deg);
}
.char12 {
          transform: rotate(156deg);
}
.char13 {
          transform: rotate(169deg);
}
.char14 {
          transform: rotate(182deg);
}
.char15 {
          transform: rotate(195deg);
}
.char16 {
          transform: rotate(208deg);
}
.char17 {
          transform: rotate(221deg);
}
.char18 {
          transform: rotate(234deg);
}
.char19 {
          transform: rotate(247deg);
}
.char20 {
          transform: rotate(260deg);
}
.char21 {
          transform: rotate(273deg);
}
.char22 {
          transform: rotate(286deg);
}
.char23 {
          transform: rotate(299deg);
}
.char24 {
  transform: rotate(312deg);
}
.char25 {
  transform: rotate(325deg);
}
.char26 {
  transform: rotate(338deg);
}
.char27 {
  transform: rotate(351deg);
}
.char28 {
  transform: rotate(364deg);
}


.design-article-icon {@include box-small;}
.design-article-avatar-large {@include box-large;background:url(/public/images/caleb-woods-182648-unsplash.jpg) no-repeat center center;background-size:auto 100%;}
.design-article-avatar-medium {@include box-medium;background:url(/public/images/caleb-woods-182648-unsplash.jpg) no-repeat center center;background-size:auto 100%;}
.design-article-avatar-small {@include box-small;background:url(/public/images/caleb-woods-182648-unsplash.jpg) no-repeat center center;background-size:auto 100%;}
.design-article-avatar-tiny {@include box-tiny;background:url(/public/images/caleb-woods-182648-unsplash.jpg) no-repeat center center;background-size:auto 100%;}
.design-article-primary {@include button-primary;}
.design-article-secondary {@include button-secondary;}
.design-article-tertiary {@include button-tertiary;}
.design-article-text {@include button-text;}
.design-article-primary-small {@include button-primary;padding:$padding100;font-size:$caption;}
.design-article-secondary-small {@include button-secondary;padding:$padding100;font-size:$caption;}
.design-article-tertiary-small {@include button-tertiary;padding:$padding100;font-size:$caption;}
.design-article-text-small {@include button-text;padding:$padding100;font-size:$caption;}


.number {display:flex;justify-content:center;}
.number-card {display:flex;justify-content:center;align-items:center;width:48px;height:64px;background:var(--gray100);border-radius:4px;font-size:2rem;font-weight:bold;margin:0 .25rem;}


.minicard {width:$cell-large;padding:1.5rem 0;text-align:center;}
.minicard-emoji {@include box-large;font-size:3rem;}
.minicard-value {margin:1rem 0 0;font-size:1rem;line-height:1;}
.minicard-label {font-size:$caption;color:var(--gray400);}