:root {
  --container-padding: 0 10%;
}

.faq {margin:0 10%;}
.faq-head {
  margin: 0 -15%;
  border: 1px solid #000;
  border-radius: $radius400;
  font-size: 2rem;
}
.faq i {display:none;}
.faq-item {margin:4rem 0;padding:0 0 4rem 0;border-bottom:$border100;}
.faq-item + .faq-item {border-top:none;}
.faq-item-question {margin:0 0 1rem 0;font-size:1.25rem;}
.faq-item-answer {font-size:1.25rem;}

.faq-contact {margin:8rem 0;}
.faq-contact-title {
  margin: 0 -15%;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  border-radius: $radius400;
  font-size: 2rem;
}
.faq-contact-description {width:50%;margin:4rem 0;font-size:$subhead;}
.faq-contact-form {width:50%;margin:4rem 0 8rem;}

.faq-reaction {margin:8rem 0;border-top:1px solid $gray100;border-bottom:1px solid $gray100;text-align:center;padding:3rem 5% 4rem;}
.faq-reaction-title {margin:0 0 1rem 0;font-size:1.25rem;color:$gray800;}
.faq-reaction-button {margin:0 2rem;color:$gray400;}
.faq-reaction-button span {display:block;font-size:2rem;}

.marquee {
  display: flex;
  align-items: center;
  overflow: hidden;

}
.marquee p {
  animation: marquee 4s linear infinite;
  white-space: nowrap;
  // will-change: auto;
}
.marquee p:after {
  content: '';
  white-space: nowrap;
  padding-right: 50px;
}





