.help {padding:0 0 10rem 0;}
.help-head {padding:4rem 0 6rem;text-align:center;position:relative;}
.help-head-title {@mixin text-title;}
.help-head-description {margin:1rem 0;}
.search-result {max-width:560px;height:auto;margin:0 auto;padding:.5rem 0;border:var(--border);box-sizing:border-box;background:var(--color-background);text-align:left;position:absolute;left:0;right:0;top:89px;z-index:var(--zindex-default);}
.search-result-title {margin:0 0 0 0;padding:var(--space-3) 1.5rem;font-size:var(--font-size-medium);text-decoration:underline;}
.search-result-item {display:block;padding:var(--space-3) 1.5rem;line-height:32px;}
.search-result-item h3 {font-size:var(--font-size-medium);}
.search-result-item p {color:var(--color-text-light);line-height:1.6;}
.search-result-item:hover {background:#f9f9f6;}

.help-feedback {position:relative;}
.help-feedback-title {}
.help-feedback-status {display:block;margin:0 0 var(--space-4) 0;}
.help-feedback-button {@mixin chip;margin:0 var(--space-2) 0 0;}

.help-foot {@mixin tile-elevated;;}
.help-foot-body {}
.help-foot-link {}

.faq {}
.faq-head {padding:2rem 0;position:relative;}
.faq-head-title {margin:0 0 1rem 0;@mixin text-subhead;}
.faq-head-ask {@mixin button-tertiary;}
.faq-item {padding:var(--space-4);border-top:var(--border);box-sizing:border-box;background:var(--color-background);position:relative;}
.faq-item-question {font-size:var(--font-size-large);font-weight:var(--font-weight-bold);cursor:pointer;}
.faq-item-question i {margin: 0 1rem 0 0;}
.faq-item-answer {margin:1rem 0 0;}
// [role=button] {cursor:pointer;}

.faq-contact {padding:3rem 0 4rem;}
.faq-contact-emoji {display:block;margin:0 0 1rem 0;font-size:3rem;}
.faq-contact-title {@mixin text-title;}
.faq-contact-description {margin:1rem auto 2rem;}
.faq-contact-form {margin:4rem 0;}
.faq-contact-form-foot {}
.faq-contact-form-foot-ask {@mixin button-primary;padding-left:4rem;padding-right:4rem;}
.faq-contact-privacy {padding:2rem 0;}
.faq-contact-privacy-title {@mixin text-subhead;}
.faq-contact-privacy-description {margin:1rem 0;}

.faq-reaction {}
.faq-reaction-title {margin:0 0 var(--space-2) 0;@mixin text-subhead;}
.faq-reaction-button {margin:0 2rem;color:var(--color-text-light);}
.faq-reaction-button-emoji {display:block;font-size:var(--font-size-huge);}