
:root{
  --darkRed: #C42847;
  --red: #DE3C4B;
  --orange: #E28413;
  --white: #000;
	--black: #101010;
}


$border-width: 4px;
$border: $border-width solid #000;
	
// text-shadow: 3px 4px var(--orange), 6px 7px var(--red), 9px 10px var(--darkRed);

.starfield {
	user-select: none;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	animation: fadein 15s;
}

.starfield > * {
	position: absolute;
	top: -450%;
	left: 0;
	height: 1000%;
	width: 100%;
}

.starfield > * {
	background-size: 200px 200px;
	background-image: radial-gradient(
			2px 2px at 40px 60px,
			#ccc,
			rgba(0, 0, 0, 0)
		),
		radial-gradient(2px 2px at 20px 50px, var(--white), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 30px 100px, var(--white), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 40px 60px, var(--white), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 110px 90px, var(--white), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 190px 150px, var(--white), rgba(0, 0, 0, 0));
	background-repeat: repeat;
}

.starfield > * {
	transform-origin: 50% 50%;
	animation-name: starfieldRotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.starfield > *:nth-child(1) {
	animation-duration: 16s;
}
.starfield > *:nth-child(2) {
	animation-duration: 20s;
}
.starfield > *:nth-child(3) {
	animation-duration: 35s;
}
.starfield > *:nth-child(4) {
	animation-duration: 55s;
}
.starfield > *:nth-child(5) {
  animation-duration: 120s;
}




// .pledge {margin-top:-10rem;}
.pledge header {text-align:center;}
.pledge header h2 {}
.pledge header p {}
.pledge span {display:block;margin:-$border-width 0 0;padding:3rem 0 3.5rem;text-align:center;border:4px solid #000;;color:#000;font-size:3rem;position:relative;}
.pledge span time {display:block;font-size:1rem;position:relative;z-index:1;}
.pledge span h3 {color:#000;position:relative;z-index:1;}
// .pledge div {display:flex;justify-content:center;margin:5% 20%;overflow:hidden;}
// .pledge div div {flex-wrap:nowrap;width:25%;margin:1rem;text-align:center;border:4px solid #000;;font-size:2rem;color:#000;}

.style-heading {
	border: $border;
	// margin: 0 20%;
	padding: 4rem 0;
	background: #fff;
	font-size: 3rem;
	color: #000;
	position: relative;
}
.style-description {
	border: $border;
	font-size: 16px;
	color: #000;
	// margin: 0 20%;
	padding: 2rem 0;
	margin-top: -$border-width;
	position: relative;
	h3 {
		margin: 0 0 1rem 0;
	}
	p {
		font-size: 14px;
	}
	.read-more {
		margin: 1rem 0 0 0;
		font-size: 14px;
		text-decoration: underline;;
	}
}




.style-list {
	// margin: 0 20%;
	font-size:1.25rem;
	color:#000;
	> div {
		display:flex;
		margin-top:-$border-width;
		position:relative;
		span {
			display:block;
			width:32px;
			height:32px;
			border-radius:50%;
			background:gold;
		}
	}
}

.style-list.is-visible {display: none;}

.style-first {display:flex;align-items:center;justify-content:center;width:67px;box-sizing:border-box;border:$border;}
.style-label {width:25%;padding:1rem 2rem;box-sizing:border-box;border:$border;margin-left:-$border-width;}
.style-blank {width:calc(40% + 67px);padding:1rem 2rem;box-sizing:border-box;border:$border;margin-left:-$border-width;text-align:right;}
.style-value {width:calc(30% + 8px);padding:1rem 2rem;box-sizing:border-box;border:$border;margin-left:-$border-width;}