
:root{
	--newneek-gray: #ebebeb;
	--newneek-black: #000;
	--newneek-orange: #fb7800;
}

$border-width: 1px;
$border: $border-width solid #000;
// text-shadow: 3px 4px var(--orange), 6px 7px var(--red), 9px 10px var(--darkRed);
$height-header: 80px;

.starfield {
	user-select: none;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	animation: fadein 15s;
}

.starfield > * {
	background-size: 200px 200px;
	background-image: radial-gradient(
			2px 2px at 40px 60px,
			#ccc,
			rgba(0, 0, 0, 0)
		),
		radial-gradient(2px 2px at 20px 50px, var(--white), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 30px 100px, var(--white), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 40px 60px, var(--white), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 110px 90px, var(--white), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 190px 150px, var(--white), rgba(0, 0, 0, 0));
	background-repeat: repeat;
	position: absolute;
	top: -450%;
	left: 0;
	height: 1000%;
	width: 100%;
}

.starfield > * {
	transform-origin: 50% 50%;
	animation-name: starfieldRotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.starfield > *:nth-child(1) {
	animation-duration: 16s;
}
.starfield > *:nth-child(2) {
	animation-duration: 20s;
}
.starfield > *:nth-child(3) {
	animation-duration: 35s;
}
.starfield > *:nth-child(4) {
	animation-duration: 55s;
}
.starfield > *:nth-child(5) {
  animation-duration: 120s;
}

h2 {font-size:3rem;}

.marquee {
	overflow: hidden;
	position: relative;
	// -webkit-text-stroke: 4px #000;
	// color: #fff;
}
.marquee p {
	display: flex;
	white-space: nowrap;
	animation-name: marquee;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	/* animation-direction: alternate; */
	will-change: auto;
	font-family: 'Noto Serif KR';
	font-size: 1.25rem;
}
.marquee p:hover {
	/* animation-play-state: paused; */
}
.marquee p:after {
	content: '';
	white-space: nowrap;
	padding-right: 50px;
}




.navbar {
	display: flex;
	align-items: center;
	background: none;
	height:$height-header;
	margin-top:.5rem;
	margin-bottom:-$border-width;
	padding: 0 1rem;
	border: $border;
}
.navbar-user {display:none;}
.navbar-menu {justify-content:center;margin:0 20%;}
.navbar-menu-item {font-family:'Noto Serif KR';}
.navbar-cta {position:absolute;right:2rem;top:50%;transform:translate(0, -50%);}
.navbar-logo {width:160px;height:auto;margin:0;left:2rem;}
a {color:#fb7800;}
em {color:#000;}

// .modal-dialog {max-width:100%;height:100vh;margin:0;}
// .modal-close {display:block;margin-left:1rem;padding:2.5rem;}
// .modal-body {max-width:560px;padding:0 2rem;}


.hero img {width:600px;position:absolute;left:50%;top:-32rem;transform:translateX(-50%);}


.emoji.is-large {display:block;font-size:3rem;}

.primary-button {background:#fb7800;border-radius:0;font-family:'Noto Sans KR';color:#000;border:$border;box-shadow:2px 2px 0;}
.primary-button:hover:not(:disabled) {background:#e2720c;}

.card-group {display:flex;justify-content:center;padding:0 0 8rem;position:relative;}
.card {width:320px !important;margin:0 1rem !important;border:$border;border:none;background:#ebebeb;text-align:center !important;transition:transform .4s ease;}
.card:hover figcaption {background:#fff;}
.card img {width:200px;margin-bottom:-1rem;}
.card figcaption {padding:1rem 0 2.5rem;border:1px solid #000;background:#fff;position:relative;}
.card-title {font-size:2rem !important;}
.card-tags {display:flex;justify-content:center;margin-bottom:1rem}
.card-thumbnail {background:#000 !important;}
.pagehead {display:flex;justify-content:center;}
.pagehead h2 {display:flex;align-items:center;justify-content:center;font-size:1.25rem;line-height:1.4;width:80px;height:$height-header;border:$border;position:relative;}
.pagehead h2 + h2 {width:160px;margin-left:-$border-width;}
.pagehead .marquee {display:flex;align-items:center;width:calc(100% - 234px);height:$height-header;border:$border;margin-left:-$border-width;}


.banner {
	border: $border;
}
.banner-text {
	color: #000;
}

.style-heading {
	padding: 8rem 2rem 4rem;
	text-align: center;
	position: relative;
	time {display:block;font-size:1rem;text-align:center;position:relative;z-index:1;}
	h2 {
		display: inline-block;
    margin: 2rem auto;
    padding: .5rem 0 .75rem;
		border-top: 4px solid #000;
    border-bottom: 4px solid #000;
		color:#000;
		position:relative;
		z-index:1;
	}
}
.style-description {
	border: $border;
	padding: 2rem 2rem;
	margin-top: -$border-width;
	position: relative;
	h3 {
		font-size: 1.25rem;
		color: #000;
	}
}


.style-row {display:flex;margin:0 -1rem;padding: 0 20%;opacity:0;transform:translateZ(0) scale(1.5);transition:all .4s ease-in-out;}
.style-row.is-scrolled {opacity:1;transform:translateZ(0) scale(1);}
.style-row.is-scrolled a {animation:rotation 2s;}
.style-row.is-scrolled .style-column:nth-of-type(2) a {animation-delay:1s;}
.style-row .primary-button {background:#fff;}


.style-column {width:50%;margin:-1rem 2rem 2rem;border:$border;box-sizing:border-box;position:relative;z-index:1;background:#ebebeb;transform:rotate(-2.5deg);}
.style-column-back {display:block;width:100%;height:100%;position:absolute;right:-1rem;bottom:-1rem;border:2px solid #000;}
// .style-column + .style-column {border-left-width:1px;border-right-width:2px;}
.style-column h1 {margin:2rem 3rem .75rem;font-size:1.25rem;/*position:absolute;left:50%;top:0;transform:translate(-50%, -50%);*/}
.style-column figure + div {margin-top:-1rem;}
.style-column div {margin-top:-$border-width;border-top:$border;border-bottom:$border;display:flex;}
.style-column div b {width:20%;padding:1rem 1rem;border-right:$border;box-sizing:border-box;text-align:center;}
.style-column div p {width:80%;padding:1rem 1rem;box-sizing:border-box;}
.style-column h3 {
	padding: 1.5rem 2rem 1rem;
	font-size: 2rem;
}
.style-column > p {margin: 0 2rem 2rem 4rem;}
.style-column a {}
.style-column footer {padding:1rem 2rem;position:relative;}
.style-column footer a {}
.style-column .style-column {transform:rotate(-1.25deg)}


.scroll-fadeup.is-scrolled {animation:fadeup .6s;}
.scroll-flash {opacity:0;transform:translateZ(0) scale(1.5);transition:all .4s ease-in-out;}
.scroll-flash.is-scrolled {opacity:1;transform:translateZ(0) scale(1);}

.pledge {padding-bottom: 8rem;}

.manual {margin:2rem 20% 8rem;border:$border;overflow:hidden;opacity:0;transform:translateZ(0) scale(2);transition:all .3s ease-in-out;position:relative;}
.manual.is-scrolled {opacity:1;transform:translateZ(0) scale(1) rotate(.5deg);}
.manual-title {padding: 1.5rem 2rem 1.75rem;font-size: 2rem;}
.manual article {border-top:$border;box-sizing:border-box;position:relative;}
.manual article + article {border:none;}
.manual-subhead {margin:1rem 2rem;font-size:1.25rem;}
.manual-subhead i {
	display: inline-block;
	line-height: 46px;
	width: 48px;
	height: 48px;
	margin:0 1rem 0 0;
	/* background: #000; */
	border-radius: 50%;
	/* color: #fff; */
	border: $border;
	text-align:center;
}
.manual-body {display:flex;margin-top:-$border-width;border-top:$border;border-bottom:$border;}
.manual-body i {width:20%;padding-bottom:4px;border-right:$border;text-align:center;}
.manual-body p {padding:1rem 2rem;}

.dictionary {margin:0 -1rem;padding-bottom:10rem;background:#fff;position:relative;}
// .dictionary b {color:#fff;}
.dictionary a {margin-top:1rem;}
// .dictionary h2 {color:#fff;border-top-color:#fff;border-bottom-color:#fff;}
// .dictionary-description {color:#fff;}

.dictionary-head {max-width:800px;margin:0 auto;}
.dictionary-body {max-width:720px;margin:0 auto;padding:0 2rem;}
.dictionary-body-item {
	border: $border;
	margin: .5rem 0;
	background: #ebebeb;
	border-color:#000;color:#000;position: relative;}
.dictionary-body-item h3 {padding:1.25rem 2rem;font-size:1.25rem;color:inherit;position: relative;}
.dictionary-body-item h3 i {position: absolute;right:2rem;top:50%;transform:translateY(-50%);}
.dictionary-body-item div {display:none;padding:1rem 2rem 2rem;border-top:1px solid #000;}
.dictionary-body-item h3.is-active {background:#fff;}
.dictionary-body-item div.is-visible {display:block;background:#fff;}

.banner {display:none !important;}

.icon-circle {
	display: inline-block;
	line-height: 42px;
	width: 48px;
	height: 48px;
	margin: 0 1rem 0 0;
	border-radius: 50%;
	border: 1px solid #000;
	text-align: center;
}

@media (max-width:$breakpoint-small) {

	.style-heading {padding:4rem 2rem 4rem;}
	.style-row {display:block;padding:0;}
	
	.style-column {width:100%;margin:-1rem 2rem 2rem;border:$border;box-sizing:border-box;position:relative;z-index:1;background:#ebebeb;transform:rotate(-2.5deg);}

	.manual {margin-left:0;margin-right:0;}

	.pagehead h2,
	.pagehead .marquee {
		height:48px;
	}
	.navbar {height:50px;}
	.navbar-menu {margin-top:-2px;}
	.navbar > a:not(.navbar-logo) {display:none;} // cta instagram

	.navbar-logo {width:120px;left:1rem}

	.pagehead {display:block;}
	.pagehead h2 {float:left;width:calc(20% + 2px);}
	.pagehead h2 + h2 {width:40%;}
	.pagehead .marquee {width:100%;margin-left:0;border-top:none;}

	.hero img {width:60%}

	.icon-circle {
    width: 32px;
		height: 32px;
		line-height: 28px;
	}
}