
:root{
	--newneek-gray: #ebebeb;
	--newneek-black: #000;
	--newneek-orange: #fb7800;
}

@font-face { font-family: 'Noto Sans KR'; src:url('/public/webfonts/NotoSans-Medium.woff');}
@font-face { font-family: 'Noto Serif KR'; src:url('/public/webfonts/NotoSerifCJKkr-Black.woff');}

html {
	font-family: 'Noto Sans KR';
	/* letter-spacing: -.025rem; */
	color:#000;
	letter-spacing: -.025rem;
	/* font-weight: 500; */
}
a:hover, button, [role=button] {
	cursor:url(/public/images/cursor-gosum.png), auto;
}
* {box-sizing:border-box;}
body {
	background: #ebebeb;
	overflow: hidden;
	// cursor:url(/public/images/cursor-pointer.png), auto;
}
b { 
	color:#000;
}
b, p {
	font-family: 'Noto Sans KR';
	font-size: 1.125rem;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: 900;
	font-family: 'Noto Serif KR';
	color:#000;
}

.tag {background:#000;color:#fff;}

.modal-body h2 {margin:2rem 0 1rem 0;font-size:1.25rem;}
.modal-body p {}
.modal-body ul {margin:1rem 0;}

$newneek-gray: #ebebeb;
$newneek-black: #000;
$newneek-orange: #fb7800;
$border-width: 1px;
$border: $border-width solid #000;
// text-shadow: 3px 4px var(--orange), 6px 7px var(--red), 9px 10px var(--darkRed);
$height-header: 80px;

$description: 1.25rem;
$description-line: 2;

u:after {height:2px;}
h2 {font-size:3rem;}
p, a, button {font-size:1.125rem;}
.marquee {
	overflow: hidden;
	position: relative;
	// -webkit-text-stroke: 4px #000;
	// color: #fff;
}
.marquee p {
	display: flex;
	white-space: nowrap;
	animation-name: marquee;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	/* animation-direction: alternate; */
	will-change: auto;
	font-family: 'Noto Serif KR';
	font-size: 1.25rem;
}
.marquee p:hover {
	/* animation-play-state: paused; */
}
.marquee p:after {
	content: '';
	white-space: nowrap;
	padding-right: 50px;
}

a {color:$newneek-orange;}
em {color:#000;}

.newneek-hero {border-radius:0;overflow:hidden;padding:0;background:$newneek-gray;}
.newneek-hero-image {display:block;width:560px;margin:0 auto;position:relative;top:-1rem;}
.newneek-hero-image .nose {width:80px;position:absolute;right:-16px;top: 235px;animation:pulse 1s infinite;}
// .newneek-hero-image .water {width:80px;position:absolute;right:-16px;top: 235px;animation:pulse 1s infinite;}
.newneek-hero h1 {font-size:5rem;color:#fff;background:#000;margin:-14rem -100rem 4rem;padding:4rem 0 5rem;text-align:center;position:relative;z-index:1;transform:rotate(-4deg);}
.newneek-hero h1 span span {font-size:1.125em;}

.emoji.is-large {display:flex;justify-content:center;align-items:center;font-size:2.5rem;}

.primary-button {background:$newneek-orange;border-radius:0;font-family:'Noto Sans KR';color:#000;border:$border;box-shadow:2px 2px 0;}
.primary-button:hover:not(:disabled) {background:#e2720c;}

.card-group {display:flex;flex-wrap: wrap;max-width:1080px;margin:0 auto;justify-content:center;position:relative;}
.card {width:320px !important;margin:1rem !important;border:$border;border:none;background:$newneek-gray;text-align:center !important;transition:transform .4s ease;}
.card:hover figcaption {background:#fff;}
.card-title {padding-top:1rem;font-size:2rem !important;}
.card img {width:200px;margin-bottom:-1rem;}
.card figcaption {padding:1rem 0 2.5rem;border:$border;background:#fff;position:relative;}
.card-tags {display:flex;justify-content:center;margin-bottom:1rem}
.card-thumbnail {background:#000 !important;}
.card-circle {
	display:flex;justify-content:center;align-items:center;width:6rem;height:6rem;border-radius:50%;border:1px solid #000;background:#fff;color:#000;line-height:1.4;position:absolute;left:-1rem;top:-1rem;z-index:1;
}
.card-circle span {display:block;transform:rotate(-5deg);font-family:'Noto Serif KR';}



.pagehead {display:flex;justify-content:center;margin:0 .5rem;}
.pagehead h2 {display:flex;align-items:center;justify-content:center;font-size:1.25rem;line-height:1.4;width:80px;height:$height-header;border:$border;position:relative;}
.pagehead h2 + h2 {width:160px;margin-left:0;border-left:0;}
.pagehead .marquee {display:flex;align-items:center;width:calc(100% - 234px);height:$height-header;border:$border;margin-left:-$border-width;}

.newneek-banner {display:flex;align-items:center;justify-content:center;height:80px;margin:.5rem;font-size:1.25rem;position:fixed;left:0;right:0;bottom:-150px;z-index:6;transition:all .8s;
}
.newneek-banner.is-up {transform: translateY(-150px);}
.newneek-banner-background {background:$newneek-orange;border:$border;position:absolute;left:0;right:0;top:0;bottom:0;z-index:-1;}
.newneek-banner-text {font-size:1.25rem;color:#000;}
.newneek-banner-image {width:160px;position:absolute;left:50%;bottom:0;z-index:-2;transform:translate(-50%, 2rem);transition:all .4s}
.newneek-banner-button {background:#fff;margin-left:1rem;}

.newneek-banner:hover .newneek-banner-image {transform:translate(-50%, 0rem);}

.style-heading {
	padding: 6rem 2rem 4rem;
	text-align: center;
	position: relative;
	time {display:block;font-size:1rem;text-align:center;position:relative;z-index:1;}
	h2 {
		display: inline-block;
    margin: 2rem auto;
    padding: .5rem 0 .75rem;
		border-top: 4px solid #000;
    border-bottom: 4px solid #000;
		color:#000;
	}
}
.style-description {
	border: $border;
	padding: 2rem 2rem;
	margin-top: -$border-width;
	position: relative;
	h3 {
		font-size: 1.25rem;
		color: #000;
	}
}


.style-row {display:flex;margin:0 -1rem;padding: 0 20%;opacity:0;transform:translateZ(0) scale(1.5);transition:all .4s ease-in-out;}
.style-row.is-scrolled {opacity:1;transform:translateZ(0) scale(1);}
.style-row.is-scrolled a {animation:rotation 2s;}
.style-row.is-scrolled .style-column:nth-of-type(2) a {animation-delay:1s;}
// .style-row .primary-button {background:#fff;}

.style-column {width:542px;margin:0 1rem 2rem;background:url(/public/images/frame.png) no-repeat;position:relative;z-index:1;}
.style-column-back {display:block;width:100%;height:100%;position:absolute;right:-1rem;bottom:-1rem;border:2px solid #000;}
// .style-column + .style-column {border-left-width:1px;border-right-width:2px;}
.style-column h1 {margin:2rem 3rem .75rem;font-size:1.25rem;/*position:absolute;left:50%;top:0;transform:translate(-50%, -50%);*/}
.style-column figure + div {margin-top:-1rem;}
.style-column div {border-top:$border;border-bottom:$border;display:flex;}
.style-column div + div {border-top:none;}
.style-column div b {width:20%;padding:1rem 1rem;border-right:$border;box-sizing:border-box;text-align:center;}
.style-column div p {width:80%;padding:1rem 1rem;box-sizing:border-box;}
.style-column h3 {
	padding: 1.5rem 2rem 1rem;
	font-size: 2rem;
}
.style-column > p {margin: 0 2rem 2rem 4rem;}
.style-column a {}
.style-column footer {padding:1rem 2rem;position:relative;}
.style-column .style-column {transform:rotate(-1.25deg)}

.scroll-fadeup {opacity:0;}
.scroll-fadeup.is-scrolled {opacity:1;animation:fadeup .6s;}
.scroll-flash {opacity:0;transform:translateZ(0) scale(1.5);transition:all .4s ease-in-out;}
.scroll-flash.is-scrolled {opacity:1;transform:translateZ(0) scale(1);}

.pledge {padding-bottom: 8rem;background:$newneek-gray;}
.pledge-description {font-size:$description;line-height:$description-line;}

.faq {padding-bottom:8rem;background:$newneek-gray;position:relative;}
.faq-description {font-size:$description;line-height:$description-line;}

.manual {margin:0rem 20%;border:$border;overflow:hidden;background:#fff;opacity:0;transform:translateZ(0) scale(2);transition:all .3s ease-in-out;position:relative;}
.manual.is-scrolled {opacity:1;transform:translateZ(0) scale(1);}
.manual-title {padding: 1.5rem 2rem 1.75rem;font-size: 2rem;}
.manual article {border-top:$border;box-sizing:border-box;position:relative;}
.manual article + article {border:none;}
.manual-subhead {margin:1rem 2rem;font-size:1.25rem;}
.manual-subhead i {
	display: inline-block;
	line-height: 46px;
	width: 48px;
	height: 48px;
	margin:0 1rem 0 0;
	/* background: #000; */
	border-radius: 50%;
	/* color: #fff; */
	border: $border;
	text-align:center;
}
.manual-body {display:flex;margin-top:-$border-width;border-top:$border;border-bottom:$border;}
.manual-body i {width:20%;padding-bottom:4px;border-right:$border;text-align:center;}
.manual-body p {width:80%;padding:1rem 2rem;}

.dictionary {margin:0 -1rem;padding-bottom:10rem;background:#fff;overflow:hidden;position:relative;}
.dictionary a {margin-top:1rem;}
// .dictionary h2 {color:#fff;border-top-color:#fff;border-bottom-color:#fff;}
.dictionary-description {font-size:$description;line-height:$description-line;}

.dictionary-head {max-width:800px;margin:0 auto;}
.dictionary-body {max-width:720px;margin:0 auto;padding:0 2rem;}
.dictionary-body-item {
	border: $border;
	margin: .5rem 0;
	background: $newneek-gray;
	border-color:#000;position: relative;}
.dictionary-body-item h3 {padding:1.25rem 2rem;font-size:1.25rem;color:inherit;position: relative;}
.dictionary-body-item h3 i {position: absolute;right:2rem;top:50%;transform:translateY(-50%);}
.dictionary-body-item div {display:none;padding:1.5rem 2rem 2rem;border-top:$border;}
.dictionary-body-item h3.is-active {background:#fff;}
.dictionary-body-item div.is-visible {display:block;background:#fff;}

.icon-circle {
	display: inline-block;
	line-height: 42px;
	width: 48px;
	height: 48px;
	margin: 0 1rem 0 0;
	border-radius: 50%;
	border: $border;
	text-align: center;
}


.newneek-navbar {height:$height-header;background:$gray0;margin:0 auto;position:relative;left:0;right:0;top:0;z-index:4;/*box-shadow:$shadow400;*/}
.newneek-navbar-logo {display:flex;align-items:center;justify-content:center;width:48px;height:48px;border-radius:4px;font-size:2rem;position:absolute;left:24px;top:50%;z-index:6;transform:translateY(-50%);margin-top:-1px;}
.newneek-navbar-logo span {float:left;display:block;font-size:1.5rem;color:$gray800;transition:all .2s;}
.newneek-navbar-menu {display:flex;align-items:center;width:100%;height:100%;margin-top:-2px;margin-left:6rem;position:relative;}
.newneek-navbar-menu-item {padding:.5rem 1rem;font-size:$subhead;color:$gray800;position:relative;z-index:1;} // m p reset
.newneek-navbar-menu-item.is-active {text-decoration:underline;}
.newneek-navbar-menu-item a {color:inherit;}
.newneek-navbar-menu-item:before {display:none;} /* TODO: remove ul li default style */
.newneek-navbar-menu-item i {margin-left:8px;}


.newneek-navbar {
	display: flex;
	align-items: center;
	background: none;
	height:$height-header;
	margin: .5rem .5rem 0;
	margin-bottom:-$border-width;
	padding: 0 1rem;
	border: $border;
}
.newneek-navbar-user {display:none;}
.newneek-navbar-menu {justify-content:center;margin:0 20%;}
.newneek-navbar-menu-item {font-family:'Noto Serif KR';}
.newneek-navbar-cta {position:absolute;right:2rem;top:50%;transform:translate(0, -50%);}
.newneek-navbar-logo {width:160px;height:auto;margin:0;left:2rem;}


.is-sticky-navbar {padding-top: 88px;}
.is-sticky-navbar .newneek-navbar {padding:1rem;box-sizing:border-box;background:#fff;position:fixed;top:0;}


.newneek-subscribe {
	margin:0 0 0;
	padding:6rem 0;
	background: #000;
	text-align: center;
}
.newneek-subscribe-title {font-size:$subhead;font-size:3rem;color:#fff;}
.newneek-subscribe-description {margin:.5rem 0 2rem 0;color:#fff;font-size:$description;line-height:$description-line;}
.newneek-subscribe-description + button {width: 15rem;}


.newneek-footer {background: #000;color: #fff;padding:2rem 2rem 5rem;text-align:center;position:relative;}

@media (max-width:1400px) {
	.newneek-hero-image {width:480px;}
	// .hero h1 {font-size:3rem;padding:3rem 0 4rem;}
}
@media (max-width:$breakpoint-small) {
	.style-heading {padding:4rem 2rem 4rem;}
	.style-row {display:block;padding:0;}
	
	.style-column {width:100%;margin:-1rem 2rem 2rem;}

	.modal-body {height:100vh;}

	.manual {margin-left:0;margin-right:0;}

	.pagehead h2,
	.pagehead .marquee {
		height:48px;
	}
	.newneek-navbar {height:50px;}
	.newneek-navbar-menu {margin:-2px 0 0;justify-content:flex-end;}
	.newneek-navbar > a:not(.newneek-navbar-logo) {display:none;} // cta instagram

	.newneek-navbar-logo {width:120px;left:1rem}

	.pagehead {display:block;margin-top:-2px;}
	.pagehead h2 {float:left;width:20%;}
	.pagehead h2 + h2 {width:40%;}
	.pagehead .marquee {width:100%;margin-left:0;border-top:none;}

	.newneek-hero h1 {font-size:3rem;padding:3rem 0 4rem;}

	.icon-circle {
    width: 32px;
		height: 32px;
		line-height: 28px;
	}
	.style-column {width:auto;transform:rotate(0)}
	.style-column footer a {}

	.manual {margin:-1rem 1rem 0;}
	.manual.is-scrolled {transform:rotate(0)}

	.style-heading h2 {font-size:2rem;}
}


@media (max-width:720px) {
	.newneek-hero-image {width:60%;}
	.marquee p {animation-duration: 4s;}
}