
.landing {
  --section-inset: var(--grid-margin);
}

@mixin landing-section-title {
	font-size: var(--font-size-large);
}

.landing-2 {@include layout-large;padding: var(--section-inset) var(--grid-margin);}
.landing-2-background {@include bleeding;background:var(--color-background-weak);}
.landing-2-title {@include landing-section-title;margin:0 0 0 var(--left);}
.landing-2-description {margin:var(--space-4) 0;margin-left:var(--left);}
.landing-2-button {@include link-outside;display:block;margin-left:var(--left);margin-top:var(--space-after-description);}
.landing-2-figure {float:left;width:100%;max-width:47.5%;height:220px;border-radius:var(--radius);background:crimson;}

@media (--small) {
  .landing {
    // --section-inset: 4rem;
    --left: 0;
  }

	.landing-hero {max-width:1080px;margin:0 auto;padding-top:5em;padding-bottom:8rem;text-align:left;}
	.landing-hero-object1 {display:none;width:300px;height:400px;top:75%;}
	.landing-hero-object2 {display:none;right:260px;top:80%;}

  .landing-2-figure {float:none;max-width:100%;margin:0 0 2rem 0;}
}

