
.order {@include layout-medium;}
.order-head {position:relative;}
.order-head-title {@include text-title;}
.order-head-description {}

.order-item {@include tile-elevated;}
.order-item-head {}
.order-item-head-date {display:block;width:100%;}
.order-item-head-date-label {display:block;font-size:var(--font-size-small);}
.order-item-head-date-value {}
.order-item-head-status {@include tag;}
.order-item-head-method {@include tag;}

.order-item-product {@include tile-elevated}
.order-item-product-thumbnail {@include avatar-huge;float:left;margin:0 var(--space-after-avatar-huge) 0 0;}
.order-item-product-name {@include text-body;}
.order-item-product-price {@include text-subhead;}