
.order {max-width:$container600;margin:0 auto 10rem;padding:0 5%;}
.order-head {margin:4rem 0;position:relative;}
.order-head-title {margin:1rem 0;@include title;}
.order-head-description {}

.order-item {margin:2rem 0;border:$border100;border-radius:$radius400;position:relative;}
.order-item-head {padding:1rem 2rem 1.5rem;border-bottom:$border100;box-sizing:border-box;position:relative;}
.order-item-head-date {display:block;width:100%;}
.order-item-head-date-label {display:block;font-size:$caption;}
.order-item-head-date-value {}
.order-item-head-status {margin-right:.5rem;}
.order-item-head-status-label {display:block;font-size:$caption;}
.order-item-head-status-value {}
.order-item-head-method {}
.order-item-head-method-label {display:block;font-size:$caption;}
.order-item-head-method-value {}
.order-item-body {margin:1rem 0;padding:0 2rem;overflow:hidden;position:relative;}
.order-item-product {margin:.5rem 0;@include clearfix;}
.order-item-product-thumbnail {float:left;@include box-large;margin-right:1.5rem;}
.order-item-product-name {font-size:1rem;}
.order-item-product-price {font-size:1.25rem;}
.order-item-foot {margin:1rem 0 0;padding:.25rem;border-top:$border100;position:relative;}
.order-item-foot-button {@include button-text;width:100%;}
.order-item-foot-helper {margin: .5rem 0 0;}