
.order {}
.order-head {position:relative;}
.order-head-title {}
.order-head-description {}

.order-item {}
.order-item-head {display: flex; align-items: center; line-height: 24px}
.order-item-head-type {width: var(--size-large); justify-content: center}
.order-item-head-time {margin-left: var(--space-2); color: var(--color-text-light); font-size: var(--font-size-small)}
.order-item-head-status {margin-left: auto; font-size: var(--font-size-small);}
