.password {max-width:560px;margin:10rem auto 20rem;padding:0 10%;}
.password-head {margin-bottom:3rem;}
.password-heading {margin:0 0 0.25rem 0;font-size:14px;}
.password-description {font-size:1.5rem;line-height:1.4;color:$gray80;}
.password-submit {float:left;width:200px;max-width:50%;}
.password-link {float:right;margin-top:16px;}
.password-foot {margin:1rem 0 0;}