.post {@include container-medium;padding:40px var(--grid-margin);} // img - margin
.post-head {position:relative;}
.post-head-category {display:flex;align-items:center;@include link-outer;position:relative;}
.post-head-category:hover {}
.post-head-category figure {@include avatar-tiny;margin:0 .5rem 0 0;font-size:10px;}
.post-head-headline {@include text-title;line-height:1.4;} /* 상하단 패딩 똑같이해야 스키티때 */
.post-head-dateline {}
.post-head-readingtime {}
.post-head-progress {display:none;height:2px;background:var(--color-primary);border-radius:var(--radius);position:absolute;bottom:0;}
.post-head-kicker {margin:.75rem 0 0 0;font-size:var(--font-size-large);line-height:var(--font-line-height-small);}

// .is-sticky-post-head .post {padding-top:110px;}
.is-sticky-post-head .post-head {background:var(--color-background);text-align:left;position:fixed;left:0;right:0;top:0;z-index:var(--zindex-menu);}
.is-sticky-post-head .post-head-category {display:none;}
// todo + border-width + space
.is-sticky-post-head .post-head-headline {padding:var(--space) var(--grid-margin) 1rem;box-sizing:border-box;font-size:var(--font-size-subhead);line-height:32px;text-align:center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.is-sticky-post-head .post-head-dateline {display:none;}
.is-sticky-post-head .post-head-kicker {display:none;}
.is-sticky-post-head .post-head-readingtime {display:none;}
.is-sticky-post-head .post-head-dateline + .icon-bullet {display:none;}
.is-sticky-post-head .post-head-progress {display:block;}

// .post-byline {display:flex;align-items:center;position:relative;}
.post-byline {position:relative;}
.post-byline-avatar {float:left;@include avatar-large;margin:0 var(--space-after-avatar-large) 0 0;}
.post-byline-name {display:block;margin:var(--space-leading-subhead) 0 0 0;}
.post-byline-time {color:var(--color-text-light);}
.post-byline:hover {@include hover-item;}

.post-body {position:relative;} /* graident 때문에 아래요소에서 마진값주기 */
.post-body-kicker {margin:2rem 0 2.5rem 0;font-size:var(--font-size-subhead);position:relative;}
// .post-body-image {float:left;width:400px;height:600px;overflow:hidden;margin:0 0 0 -240px;}
.post-body-image {height:240px;overflow:hidden;margin:3rem -10rem 3.5rem;border-radius:var(--radius);}
.post-body-subhead {margin:4rem 0 var(--space-after-subhead) 0px;@include text-subhead;}
.post-body-paragraph {margin:1rem 0px;line-height:1.9;}
.post-body-paragraph:first-line {}
.post-body-paragraph:not(:nth-of-type(1))::first-letter {padding-left:0;}
.post-body-link {}
.post-body-code {display:block;margin: 0 0 2rem 0;}
.post-body pre {margin:0;padding:0;}

.post-hashtag {@include chip-group;}
.post-hashtag-item {@include chip;}

.post-share {margin:2rem 0;}
.post-share-title {}
.post-share-facebook {display:flex;align-items:center;margin:.5rem 0 0 0;}
.post-share-twitter {display:flex;align-items:center;margin:.5rem 0 0 0;}
.post-share button span {@include avatar-medium;margin-right:1rem;}
.post-share button span img {width:18px;}

.post-reaction {}
.post-reaction-like {display:flex;align-items:center;cursor:pointer;position:relative;}
.post-reaction-like:hover {@include hover-item;}
.post-reaction-like-icon {@include avatar-medium;}
.post-reaction-like-icon img {display:flex;width:20px;margin-top:1px;margin-left:2px;}
.post-reaction-like-count {margin:0 0 0 var(--space-after-avatar-medium);}
.is-reacted {}
.is-reacted .post-reaction-like-count {color:var(--red800);}

.post-comment {position:relative;}
.post-comment-title {display:flex;align-items:center;margin:1rem 0;position:relative;}
.post-comment-title:hover {@include hover-item;}
.post-comment-title figure {@include avatar-medium;margin-right:1rem;}
.post-comment-title-icon {@include avatar-medium;}
.post-comment-list {}
.post-comment-list.is-active i {background:var(--gray400);}
.post-comment-list-item {position:relative;}
.post-comment-list-item-avatar {@include avatar-medium;margin:0 0 .25rem;}
.post-comment-list-item-avatar img {}
.post-comment-list-item-author {font-weight:var(--font-weight-bold);color:var(--color-text);}
.post-comment-list-item-date {display:block;margin-top:-.25rem;color:var(--color-text-light);font-size:var(--font-size-caption);}
.post-comment-list-item-text {margin:var(--space-small) 0 0;}
.post-comment-list-item-morevert {@include avatar-medium;position:absolute;right:0;top:0;}
.post-comment-list-item-morevert:hover {}
// todo tile margin / menuitem
.post-comment-list-item-menu {display:none;@include tile-elevated-small;width:var(--width-dropdown);margin:0;padding:0;position:absolute;right:40px;top:0;z-index:var(--zindex-default);}
.post-comment-list-item-menu button {display: block;width:calc(100% - 2rem);margin: 1rem;text-align:left;position: relative;z-index: 1;}
.post-comment-list-item-menu button:hover {@include hover-item;}
.post-comment-list-item-reply {margin:1rem 0 0 0;@include link-outer;}

.is-active + .post-comment-list-item-menu {display:block;}

// .post-comment-list-item:hover > .post-comment-list-item-morevert {display:block;}
.post-comment-list-item .post-comment-list-item {margin:1rem 0;padding-left:1rem;}
.post-comment-list-item .post-comment-list-item:before {content:'';display:block;width:2px;height:100%;background-color:var(--color-border);position:absolute;left:0;top:0;}

.comment-write {display:flex;flex-wrap:wrap;justify-content:space-between;}
.comment-write-text {width:100%;margin:0 0 var(--space-after-button) 0;}
// line-height 때무네 space로 간격을 주지 않고 1rem을 줌.
.comment-write-name {display:none;width:var(--grid-column);margin:0 0 1rem 0;}
.comment-write-password {display:none;width:var(--grid-column);margin:0 0 1rem 0;}
.comment-write-submit {@include button-secondary;}
.comment-write-cancel {@include button-text;margin:0 auto 0 var(--space-after-button);}

.is-focused .comment-write-name {display:block;}
.is-focused .comment-write-password {display:block;}

.post-pagination {display:flex;justify-content:space-between;padding:2rem var(--grid-margin);
	border-top:var(--border);border-bottom:var(--border);
}
.post-pagination-previous {width:var(--grid-column);text-align:left;position:relative;}
.post-pagination-previous:hover {@include hover-item;}
.post-pagination-previous-media {@include avatar-medium;margin-bottom:1rem;}
.post-pagination-previous-label {margin:0 0 .25rem 0;font-size:var(--font-size-body);font-weight:normal;color:var(--color-text-light);}
.post-pagination-previous-postname {@include text-subhead;}
.post-pagination-next {width:var(--grid-column);text-align:right;position:relative;}
.post-pagination-next:hover {@include hover-item;}
.post-pagination-next-media {@include avatar-medium;margin-bottom:1rem;margin-left:auto;}
.post-pagination-next-label {margin:0 0 .25rem 0;font-size:var(--font-size-body);font-weight:normal;color:var(--color-text-light);}
.post-pagination-next-postname {@include text-subhead;}

@media (--breakpoint-small) {
	.post-body-image {float:none;margin-left:-5vw;margin-right:-5vw;}

	.post-pagination {flex-wrap:wrap;flex-direction:column-reverse;}
	.post-pagination-previous {width:100%;margin-top: 0;}
	.post-pagination-next {width:100%;margin:0 0 var(--space) 0;}
}

.post-relation {margin:4rem auto 8rem;}
.post-relation-title {width:100%;margin:0 0 var(--space-after-title) 0;@include text-subhead;}
.post-relation-description {font-size:var(--font-size-subhead);color:var(--color-text-light)}

.post-attract {text-align:center;position:relative;}
.post-attract-blur {
	height: 20rem;
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,1));
	position: absolute;
	left: 0;
	right: 0;
	top: -20rem;
}
.post-attract-title {margin:0 0 var(--space-after-subhead) 0;@include text-subhead;}
.post-attract-description {}
.post-attract-signup {@include button-primary;margin:var(--space-after-description) 0;}


.theme-dark {
	.post-attract-blur {
		background: linear-gradient(to bottom, rgba(37,45,41,0), rgba(37,45,41,.75), rgba(37,45,41,1));
	}
}