
@define-mixin overay {
  overflow:auto;
  background:rgba(0,0,0,.6);
  position:fixed;left:0;top:0;right:0;bottom:0;
  z-index:var(--zindex-modal);
}

@define-mixin sheet {
  @mixin tile-elevated;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  /* // todo include position-sheet */
  position: fixed;
  left: var(--space-2);
  right: var(--space-2);
  margin-bottom: var(--space-2);
  /* // todo outset */
  bottom:calc(constant(safe-area-inset-bottom));bottom:calc(env(safe-area-inset-bottom));
  z-index: var(--zindex-bottombar);
}

@define-mixin modal-dialog {
  max-width: 800px;
  margin:5% auto;
  padding:4rem var(--grid-margin);
  background:var(--color-background);
  border-radius:var(--radius);
  box-shadow:var(--shadow);
  animation:modal .2s forwards;
  position:relative;
}

@define-mixin toast {
  position: fixed;
  left: var(--space-4);
  bottom: var(--space-4);
}

.presentation {@mixin overay;}
.presentation [data-presentation=sheet] {@mixin sheet;}
.presentation [data-presentation=modal] {@mixin modal-dialog;}
.presentation [data-presentation=toast] {@mixin toast;}

.sheet-overay {@mixin overay;z-index:6;}
.sheet {@mixin sheet;transform:translateY(50vh);transition:all 1s;}
.sheet.is-visible {transform:translateY(0);}
.sheet-title {margin:0 0 var(--space-3);@mixin text-subhead;}
.sheet-toggle {width:80px;height:.25rem;border-radius:var(--radius);background:var(--color-background-weak);position:absolute;left:50%;top:.5rem;transform:translateX(-50%);}
/* // .sheet.is-hidden {animation:temp111 1s forwards} */

.sheet.is-visible { transform:translateY(50vh);}
.is-active + .sheet {transform:translateY(0) !important;}


.is-opened-sheet .presentation {display:block;}
.is-opened-modal .presentation {}


.actionsheet {}
.actionsheet button {display:block;width:100%;height:var(--size-large);text-align:center;background:var(--color-background-weak);border-radius:var(--radius);}

.popover {display:none;width:100%;max-width:400px;}
.is-active + .popover {display:block;position:absolute;left:0;top:calc(var(--size-large));}


.sheet-close {@mixin chip;position:absolute;right:.5rem;top:.5rem;}


.toast {background:gold;margin:var(--space-4);padding:var(--space-4);border-radius:var(--radius);position:fixed;left:0;bottom:0;z-index:var(--zindex-toast);
  transition:all .4s ease;transform:translateX(-100vw);
}
.is-active + .toast {transform:translateX(0);}

@media (--small) {
  .toast {bottom:calc(constant(safe-area-inset-bottom) + 0);bottom:calc(env(safe-area-inset-bottom) + 0);}
}
