.product {margin:0 auto 10rem;padding:6rem 0 0 0;position:relative;}
// .product:before {content:'';display:block;height:800px;background:$gray10;position:absolute;left:10%;right:-50%;top:-5rem;z-index:-1;}
.product-image {width:480px;height:480px;position:absolute;left:50%;margin-left:-240px;}
.product-iamge-list {position:absolute;}
.product-image img {width:auto;height:auto;max-width:100%;max-height:100%;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;margin-top:-50px;}
.product-image-navigation {width:inherit;text-align:center;position:fixed;left:10%;top:520px;}
.product-image-navigation button {width:8px;height:8px;margin:0 .25rem;border:1px solid rgba(0,0,0,.1);background:$gray10;}
.product-image-navigation button.is-current {background:$gray80;}
.product-info {width:25%;position:absolute;left:5%;top:0;}
.product-info-name {font-size:2rem;width:28px;line-height:1.2;text-align:center;position:absolute;left:-64px;top:0px;}
.product-info-price {margin:-.25rem 0 0 0;font-size:1.25rem;}
.product-info-price del {color:$gray40;}
.product-info-price .per {margin:0 .5rem 0 0;font-size:1.25rem;}
.product-info-price span {color:$gray80;font-size:1.5rem;}
.product-info-description {margin:.5rem 0 1.25rem 0;padding-bottom:1.5rem;border-bottom:1px solid $gray10;line-height:1.6;}
.product-order {width:25%;margin:0 0 0 75%;}
.product-order-info {margin:0rem 0 1rem 0;padding:1rem 0;border-top:1px solid $gray10;border-bottom:1px solid $gray10;border-radius:2px;}
.product-order-discount {margin:1rem 0 1rem 0;background:#f9f9f6;border:1px solid #e9e9e6;text-align:center;padding:8px 0;}
.product-order-size {margin:1.5rem 0;}
.product-order-size:after {content:'';display:block;clear:both;}
.product-order-size-title {margin:.5rem 0;font-size:12px;}
.product-order-size-item {float:left;width:32px;height:32px;border-radius:$radius400;margin:0 .5rem 0 0;border:1px solid $gray20;font-size:12px;position:relative;}
.product-order-size-item.is-selected {border-color:$color-primary;color:$color-primary;}
.product-order-color {margin:1.5rem 0;}
.product-order-color:after {content:'';display:block;clear:both;}
.product-order-color-title {margin:.5rem 0;font-size:12px;}
.product-order-color-item {float:left;width:32px;height:32px;border-radius:$radius400;margin:0 .5rem 0 0;position:relative;}
.product-order-color-item.is-selected:before {content:'';display:block;border:1px solid $gray0; position:absolute;left:2px;right:2px;top:2px;bottom:2px;}
.product-order-color-item.--crimson {background:$color-primary;border:1px solid $color-primary}
.product-order-color-item.--salmon {background:salmon;border:1px solid salmon}
.product-order-count {padding:16px 0;border-top:1px solid $gray60;border-bottom:1px solid $gray60;position:relative;}
.product-order-count-title {margin:0 0 16px 0;}
.product-order-count-title .aaa {display:inline-block;width:8px;height:8px;margin:0 4px 0 0;background:salmon;vertical-align:1px}
.product-order-count-close {position:absolute;right:-10px;top:10px;}
.product-order-count-variation {width:50%;margin:0 0;}
.product-order-count-price {position:absolute;right:0;bottom:20px;}
.product-order-price {margin:.5rem 0 0 0;}
.product-order-price-label {float:left;line-height:40px;color:$gray80;text-transform:uppercase;letter-spacing:10px;}
.product-order-price-value {float:right;font-size:21px;color:$gray80;line-height:40px;text-align:right;}
.product-order-control {margin:6rem 0 0 0;position:relative;}
.product-order-control-cart {float:right;min-width:16%;}
.product-order-control-purchase {width:80%;}
.product-navigation {margin-top:3rem;margin-bottom:-3rem;}
.product-navigation a {display:inline-block;margin:0 16px;padding:4px;}
.product-navigation a:first-child {margin-left:0;}
.product-detail {margin:10rem 10%;}
.product-detail-nav {margin:4rem auto;padding:16px 0;width:60%;text-align:center;}
.product-detail-nav-item {display:inline-block;padding:8px 56px;font-size:14px;color:$gray40;}
.product-detail-nav-item.is-active {border-bottom:1px solid $gray80;color:$gray80;}
.product-detail-body {width:60%;margin:0 auto;}
.product-detail-body-title {margin:.5rem 0;}
.product-detail-body-description {}

.product-quickorder {width:1080px;height:88px;margin:0 auto;background:$gray0;position:fixed;left:0;right:0;bottom:0;z-index:5;}
.product-quickorder:before {content:'';display:block;height:88px;background:$gray0;border-top:1px solid rgba(0,0,0,.1);position:fixed;left:0;right:0;bottom:0;}
.product-quickorder-head {width:40%;position:absolute;left:2%;bottom:50%;transform:translateY(50%);}
.product-quickorder-head-image {float:left;width:64px;margin:0 16px 0 0;}
.product-quickorder-head-title {margin:8px 0 0;}
.product-quickorder-head-description {}
.product-quickorder-total {text-align:right;position:absolute;right:25%;bottom:50%;transform:translateY(50%);}
.product-quickorder-total-count {margin-right:24px;vertical-align:middle;}
.product-quickorder-total-price {font-size:1.75rem;color:$gray80;vertical-align:middle;}
.product-quickorder-controls {position:absolute;left:80%;right:0;bottom:50%;transform:translateY(50%);}
.product-quickorder-controls-purchase {width:100%;}



.review {position:relative;}
.review-sorting {border-bottom:1px solid $gray10;}
.review-sorting button {height:32px;margin:0 !important;color:$gray40;position:relative;}
.review-sorting button:before {content:'';display:inline-block;width:2px;height:2px;background:$gray40;margin:0 8px 0 0;vertical-align:middle;}
.review-sorting button.is-active {color:$gray80;}
.review-sorting button.is-active:before {width:10px;height:4px;background:none;border-left:2px solid;border-bottom:2px solid;border-color:$gray80;vertical-align:3px;transform:rotate(-45deg);}
.review-sorting button i {margin-left:1rem;}
.review-filter {display:flex;align-items:center;height:32px;font-size:12px;position:absolute;right:0;top:0;}


[role=group] {display:flex;flex-flow: wrap-reverse;margin:-.125rem;}
[role=group] > * {margin:.125rem;}

[role=group] input[type="radio"] + label {margin:0 16px 0 0;color:$gray40;padding-left:0;}
[role=group] input[type="radio"] + label:before {content:'';display:inline-block;width:2px;height:2px;background:$gray40;margin:0 10px 0 0;vertical-align:3px;position:static;left:auto;top:auto;}
[role=group] input[type="radio"] + label:after {display:none;}
[role=group] input[type="radio"]:checked + label {color:$gray80}
[role=group] input[type="radio"]:checked + label:before {border-color:$gray80;width:10px;height:4px;border-left: 2px solid #f3f2f1;border-bottom: 2px solid #f3f2f1;background:none;margin:0 8px 0 0;border-color:$gray40;vertical-align:3px;transform:rotate(-45deg);border-radius:0;border-right:0;border-top:0;position:static;left:auto;top:auto;}




.review-item {width:320px;}
.review-item-thumbnail {height:200px;margin:0 0 1rem 0;background:$gray80;}
.review-item-title {margin:0 0 .5rem 0;font-size:1.25rem;}
.review-item-comment {line-height:1.6;}
.review-item-byline {font-size:12px;}
.review-item-byline:after {content:'';display:inline-block;width:1px;height:7px;margin:0 6px 0 10px;vertical-align:middle;background:#ddd;}
.review-item-time {font-size:12px;}


.product-brand {border-radius:4px;}

.product-review {margin:4rem 10% 8rem;position:relative;}
.product-review-eyebrow {}
.product-review-title {font-size: 1.25rem;line-height: 1.8;}

.product-review-list {}
.product-review-list .inner {overflow:auto;white-space:nowrap;font-size:0;}
.product-review-list .inner .quote {display:inline-block;width:320px;font-size:1rem;}
.product-review-list .inner .quote-body {white-space:wrap;}

.product-review-arrows {display:flex;position:absolute;right:0;top:0;}
.product-review nav .prev {background:$color-primary;border-radius:4px;/*position:absolute;left:-24px;top:50%;*/}
.product-review nav .next {background:$color-primary;border-radius:4px;/*position:absolute;right:-24px;top:50%;*/}


.product-detail {}
.product-detail-headline {width:50%;font-size:1.75rem;line-height:1.6;}
.product-detail .images {display:flex;justify-content:center;width:100%;margin:0 0 8rem;padding:0 10%;box-sizing:border-box;overflow:hidden;}
.product-detail figure {width:40%;height:560px;margin:4rem 2.5% 0;background:url('https://source.unsplash.com/random') no-repeat center center;background-size:cover;}
.product-detail figure + figure {margin-top:0;}

.product-detail dl {width:66.6666%;overflow:hidden;box-sizing:border-box;}
.product-detail dt {float:left;width:20%;margin:.25rem 0;}
.product-detail dd {float:left;width:80%;margin:.25rem 0;}

.product-center {text-align:center;width:40%;margin:4rem auto 12rem;}
.product-center h1 {margin:0 0 2rem 0;font-size: 1.75rem;line-height: 1.6;}
.product-center p {}

@media (max-width:$breakpoint-medium) {
	.product {padding:0 5%}
	.product:before {display:none;}
	.product-image {margin-left:0;left:0;}
	.product-info {left:55%;}
	.product-info ol {display:none;}
	.product-info b {display:none;}
	.product-order {width:40%;margin:10rem 0 0 55%;padding-top:140px;}

	.product-detail {margin-left:0;margin-right:0;}
	.product-detail-headline {width:100%;}
	.product-detail dl {width:100%;}

	.product-center {width:90%;margin:4rem 5%;}
	.product-center h1 {}
	.product-center p {}
}


@media (max-width:$breakpoint-small) {
	.product {max-width:100%;margin-top:3rem;}
	.product-image:before {content:'';display:block;background:$gray10;position:absolute;top:-320px;left:-240px;bottom:240px;z-index:-1;}
	.product-info {width:100%;padding:4rem 0;text-align:center;position:static;left:auto;top:auto;}
	.product-info-name {width:100%;position:static;left:auto;top:auto;}
	.product-info-price {margin:.25rem 0 0 0;}
	.product-image {width:100%;height:400px;position:relative;left:auto;margin-left:0;}
	.product-order {width:100%;margin:0 0 0 0;padding-top:0;}
	.product-order-size {overflow:auto;white-space:nowrap;}
	.product-order-color {overflow:auto;white-space:nowrap;}
	
	.pricing-info {flex-wrap:wrap;}
	.pricing-info-item {width:100%;margin:0 0 4rem 0;}


	.product-quickorder {display:none;}
}