@mixin container {
	max-width: 1080px;
}

.product {max-width:1440px;margin:2rem auto 10rem;position:relative;}
// .product:before {content:'';display:block;height:800px;background:var(--gray100);position:absolute;left:10%;right:-50%;top:-5rem;z-index:-1;}
.product-image {width:480px;height:480px;margin:0 auto;background:var(--gray100);border-radius:var(--radius400);position:relative;}
.product-iamge-list {position:absolute;}
.product-image img {width:auto;height:auto;max-width:100%;max-height:100%;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}
.product-image-navigation {width:inherit;text-align:center;position:fixed;left:10%;top:520px;}
.product-image-navigation button {width:8px;height:8px;margin:0 .25rem;border:var(--border100);background:var(--gray100);}
.product-image-navigation button.is-current {background:var(--gray800);}
.product-info {width:25%;position:absolute;}
.product-info-name {width:28px;text-align:center;word-break:normal;@include title;line-height:1.25;position:absolute;left:-64px;top:0px;}
.product-info-price {display:flex;align-items:center;font-size:$subhead;}
.product-info-price del {color:var(--gray400);}
.product-info-price b {margin:0 .5rem;color:var(--gray800);}
.product-info-price em {margin:0 .5rem 0 0;}
.product-info-description {margin:.5rem 0 1.25rem 0;}
.product-order {width:25%;position:absolute;right:0;top:0;}
.product-order-info {margin:0rem 0 1rem 0;padding:1rem 0;border-top:var(--border100);border-bottom:var(--border100);border-radius:var(--radius400);}
.product-order-discount {margin:1rem 0 1rem 0;background:#f9f9f6;border:var(--border100);text-align:center;padding:8px 0;}
.product-order-size {display:flex;flex-wrap:wrap;margin:1rem 0;}
.product-order-size-title {width:100%;margin:0 0 .25rem 0;font-size:$caption;}
.product-order-size-item {@include box-small;margin:0 .5rem 0 0;font-size:$caption;}
.product-order-size-item.is-selected {border-color:var(--color-primary);color:var(--color-primary);}
.product-order-color {display:flex;flex-wrap:wrap;margin:1rem 0 1.5rem;}
.product-order-color-title {width:100%;margin:0 0 .25rem 0;font-size:$caption;}
.product-order-color-item {@include box-small;margin:0 .5rem 0 0;}
.product-order-color-item.is-selected:before {content:'';display:block;border:1px solid var(--gray0);border-radius:var(--radius400);position:absolute;left:2px;right:2px;top:2px;bottom:2px;}
.product-order-color-item.is-crimson {background:var(--color-primary);border:1px solid var(--color-primary)}
.product-order-color-item.is-salmon {background:salmon;border:1px solid salmon}
.product-order-count {margin:1rem 0;padding:1rem 0 1.25rem;border-top:var(--border100);border-bottom:var(--border100);position:relative;}
.product-order-count-title {margin:0 0 1rem 0;font-weight:400;}
.product-order-count-title .aaa {display:inline-block;width:8px;height:8px;margin:0 .5rem 0 0;border-radius:var(--radius400);background:salmon;vertical-align:1px}
.product-order-count-close {@include box-small;background:none;border:none;position:absolute;right:-10px;top:10px;}
.product-order-count-quantity {width:50%;margin:0 0;}
.product-order-count-price {position:absolute;right:0;bottom:18px;}
.product-order-total {display:flex;align-items:center;justify-content:space-between;height:3rem;margin:1rem 0 1.25rem;}
.product-order-total-label {color:var(--gray800);text-transform:uppercase;}
.product-order-total-value {@include title;text-align:right;}
.product-order-control {display:flex;justify-content:space-between;position:relative;}
.product-order-control-cart {@include button-tertiary;min-width:auto;width:15%;}
.product-order-control-purchase {@include button-primary;width:calc(85% - 1rem);}

.product-navigation {display:flex;justify-content:center;margin:4rem 0;}
.product-navigation a {margin:0 1rem;}

.product-detail {margin:4rem 10%;}

.product-detail table tbody tr {display:block;margin:2rem 0;}
.product-detail table tbody tr td {display:block;width:100%;margin:0 0 .5rem 0;border:0;line-height:1.8;}
.product-detail table tbody tr td:nth-of-type(1) {
	color:var(--gray800);
}

.product-detail-more {display:flex;flex-wrap:wrap;justify-content:center;width:100%;margin:4rem 0;overflow:hidden;position:relative;}
.product-detail-more::before {content:'';display:block;height:1px;background:var(--gray200);position:absolute;left:-100%;right:-100%;top:16px;}
.product-detail-more i {@include box-small;margin:0 0 .5rem 0;}
.product-detail-more span {width:100%;}

.product-detail-nav {margin:4rem auto;padding:16px 0;width:60%;text-align:center;}
.product-detail-nav-item {display:inline-block;padding:8px 56px;font-size:14px;color:var(--gray400);}
.product-detail-nav-item.is-active {border-bottom:1px solid var(--gray800);color:var(--gray800);}
.product-detail-body {width:60%;margin:0 auto;}
.product-detail-body-title {margin:.5rem 0;}
.product-detail-body-description {}

.product-detail-summary {}
.product-detail-summary-title {margin:4rem 0 1rem 0;@include subhead;}

.product-detail-brand {border-radius:var(--radius400);}

.product-features {display:flex;justify-content:space-evenly;flex-wrap:wrap;margin:12rem 0;}
.product-features-head {width:100%;margin:0 auto 4rem;text-align:center;}
.product-features-head h1 {margin:0 0 2rem 0;@include title;word-break:keep-all;}
.product-features-head p {}
.product-features-item {max-width:320px;}
.product-features-item-avatar {display:block;font-size:3rem;position:relative;}
.product-features-item-avatar:before {content:'';display:block;@include box-medium;background:var(--gray100);position:absolute;left:1.5rem;z-index:-1;}
.product-features-item-title {@include subhead;}
.product-features-item-description {margin-top:1rem;}
.product-features-item-link {display:block;margin-top:1.5rem;}

.product-detail-box {display:flex;margin:6rem 0;border:var(--border100);border-radius:var(--radius400) var(--radius400) 0 0;overflow:hidden;}
.product-detail-box div {width:50%;}
.product-detail-box div.leftbox {background:var(--color-primary);}
.product-detail-box div.rightbox {padding:4rem 4rem 5rem;box-sizing:border-box;}
.product-detail-box div.rightbox h2 {@include subhead;margin:0 0 1rem 0;}
.product-detail-box + .product-detail-box {margin-top:calc(-6rem - 2px);border-radius:0 0 var(--radius400) var(--radius400);}

.product-quick {display:flex;align-items:center;width:1080px;height:88px;margin:0 auto;background:var(--gray0);position:fixed;left:0;right:0;bottom:0;z-index:5;}
.product-quick:before {content:'';display:block;height:88px;background:var(--gray0);border-top:1px solid rgba(0,0,0,.1);position:fixed;left:0;right:0;bottom:0;}
.product-quick-head {width:35%;position:relative;}
.product-quick-head-image {float:left;width:64px;margin:0 16px 0 0;}
.product-quick-head-title {margin:8px 0 0;}
.product-quick-head-description {}
.product-quick-total {margin:0 2rem 0 auto;text-align:right;position:relative;}
.product-quick-total-count {margin-right:24px;vertical-align:middle;}
.product-quick-total-price {@include title;vertical-align:middle;}
.product-quick-controls {position:relative;}
.product-quick-controls-purchase {@include button-primary;width:100%;}


.product-detail-headline {@include title;}

.product-detail-intro {display:flex;justify-content:center;width:100%;margin:0 0 12rem;padding:0 10%;box-sizing:border-box;}
.product-detail-intro figure {width:50%;margin:4rem 2.5% -4rem;padding-top:50%;box-sizing:border-box;background:url('https://source.unsplash.com/random') no-repeat center center;background-size:cover;border-radius:var(--radius400);}
.product-detail-intro figure + figure {margin-top:0;margin-bottom:0;}

.product-detail-summary dl {width:66.6666%;overflow:hidden;box-sizing:border-box;}
.product-detail-summary dt {float:left;width:8rem;margin:.25rem 0;color:var(--gray400)}
.product-detail-summary dd {float:left;width:calc(100% - 8rem);margin:.25rem 0;}


.product-policy {margin:4rem 0;}
.product-policy-title {margin:0 0 1rem 0;@include subhead;}
.product-policy ul {}
.product-policy ul li {}


@media (--viewport-large) {
	.product {padding:0 5%;}
	.product:before {display:none;}
	.product-image {margin:0;position:absolute;top:0;}
	.product-info {width:auto;margin-left:60%;position:relative;left:auto;right:auto;top:auto;bottom:auto;}
	.product-order {width:auto;margin-left:60%;position:relative;left:auto;right:auto;top:auto;bottom:auto;}

	.product-detail {margin-left:0;margin-right:0;}
	.product-detail dl {width:100%;}
}


@media (--viewport-small) {
	.product-image:before {content:'';display:block;background:var(--gray100);position:absolute;top:-320px;left:-240px;bottom:240px;z-index:-1;}
	.product-info {width:100%;margin-left:0;}
	.product-info-name {width:100%;text-align:left;position:initial;}
	.product-info-byline {margin:.25rem 0 0 0;}
	.product-info-price {margin:.5rem 0 0 0;}
	.product-image {width:100%;height:400px;position:relative;top:auto;}
	.product-order {width:100%;margin:0;padding:1rem 5% calc(constant(safe-area-inset-bottom) + 1rem);padding:1rem 5% calc(env(safe-area-inset-bottom) + 1rem);box-sizing:border-box;background:var(--gray0);position:fixed;left:0;right:0;top:auto;bottom:0;z-index:6;}
	
	.product-order-option,
	.product-order-size,
	.product-order-color,
	.product-order-count,
	.product-order-total {display:none}

	.product-order-size {overflow:auto;white-space:nowrap;}
	.product-order-color {overflow:auto;white-space:nowrap;}

	.product-quick {display:none;}
  
	.product-detail {margin:10rem auto;}

  .product-features-item {display:block;width:100%;max-width:100%;margin:2rem 0;}
}





.products {display:flex;flex-wrap:wrap;}
.products-item {width:25%;border:1px solid #000;border-width: 0 1px 1px 0;box-sizing:border-box;}
.products-item-thumbnail {height:320px;border-bottom:1px solid #000;}
.products-item-brand {display:block;margin:1rem 1.5rem 0;}
.products-item-name {margin:.5rem 1.5rem 1rem;@include subhead;}
.products-item-price {display:block;margin:1rem 1.5rem;}








.product-review {margin:4rem 0% 8rem;position:relative;}
.product-review-eyebrow {}
.product-review-title {font-size:$subhead;}

.product-review-list {}
.product-review-list .inner {overflow:auto;white-space:nowrap;font-size:0;}
.product-review-list .inner .quote {display:inline-block;width:320px;font-size:$body;}
.product-review-list .inner .quote-body {white-space:wrap;}

.product-review-arrows {display:flex;position:absolute;right:0;top:0;}
.product-review nav .prev {background:var(--color-primary);border-radius:var(--radius400);/*position:absolute;left:-24px;top:50%;*/}
.product-review nav .next {background:var(--color-primary);border-radius:var(--radius400);/*position:absolute;right:-24px;top:50%;*/}

.review-item {width:320px;}
.review-item-thumbnail {height:200px;margin:0 0 1rem 0;background:var(--gray800);}
.review-item-title {margin:0 0 .5rem 0;font-size:$subhead;}
.review-item-comment {line-height:1.6;}
.review-item-byline {font-size:$caption;}
.review-item-byline:after {content:'';display:inline-block;width:1px;height:7px;margin:0 6px 0 10px;vertical-align:middle;background:#ddd;}
.review-item-time {font-size:$caption;}