.profile {margin:0 auto;padding:5.25rem 10% 0;position:relative;}
.profile-head {@extend .hero;margin:0 0 3rem 0 !important;}
.profile-head-background {@extend .hero-background;background:url('/public/images/caleb-woods-182648-unsplash.jpg') no-repeat center center;background-size:cover;}
.profile-head-headline {@extend .hero-title;color:$gray0;position:relative;}
.profile-head-description {@extend .hero-description;color:$gray0;position:relative;}
.profile-head-share {@extend .tertiary-button;}
.profile-head-temp {position:absolute;left:65%;top:3.25rem;}

.profile-user {float:left;width:320px;box-sizing:border-box;position:relative;z-index:1;}
.profile-user-avatar {float:right;width:80px;height:80px;border-radius:4px;background:url('/public/images/caleb-woods-182648-unsplash.jpg') no-repeat center center;background-size:cover;transition:all 0.4s ease;}
.profile-user-avatar:hover {box-shadow:$shadow450;}
.profile-user-name {font-size:1.25rem;line-height:1.4;color:$gray80;}
.profile-user-id {display:block;color:$gray40;}
.profile-user-career {display:block;margin:6px 0 0;color:$gray40;}
.profile-user-description {max-height:4.8em;margin:1.5rem 0;white-space:normal;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;line-height:1.6;position:relative;}
.profile-user-description-more {/*display:block;position:absolute;right:0;bottom:1px;z-index:1;*/}
// .profile-user-description::after {content:'';display:block;width:50px;height:24px;background:$gray0;filter:blur(4px);position:absolute;right:0;bottom:0;z-index:0;}
.profile-user-toggle {width:100%;display:inline-block;text-align:center;}
.profile-user-toggle i {display:inline-block;vertical-align:middle;}
// .profile-user-description-more {position:absolute;right:0;bottom:1px;z-index:1;}
// .profile-user-description-more:before {content:'';display:block;padding:8px;background:$gray0;position:absolute;left:-.5rem;right:0;top:0;bottom:0;z-index:-1;}
.profile-user-category {padding:4px 16px;background:coral;font-size:12px;color:$gray0;border-radius:50px;}
.profile-user-address {margin:1rem 0 1.25rem 0;padding:1rem 0 1rem 0;border-top:1px solid #e9e9e6;border-bottom:1px solid #e9e9e6;}
.profile-user-address i {margin:0 8px 0 0;font-size:14px;color:$gray40;vertical-align:middle;}
.profile-user-hashtags {display:flex;flex-wrap:wrap;margin:-.25rem;}
.profile-user-statistic {}
.profile-controls {margin:2rem 0 1rem;}
.profile-controls-follow {width:100%;}
.profile-body {min-height:640px;padding:0 0 64px 400px;box-sizing:border-box;position:relative;}
.profile-tablist {margin:0 0 0.5rem 0;position:relative;}
.profile-tablist-active {width:4px;height:4px;margin:0 auto;border-radius:50%;transition:all 0.4s ease;background:$color-primary;position:absolute;top:8px;left:0;}
.profile-tablist:before {display:none;content:'';position:absolute;bottom:0;left:0;right:0;height:1px;background:#e9e9e6;}
.profile-tablist-tab {margin:0 1.5rem 0 0;padding:1rem 0;border-radius:$radius400;color:$gray40;}
.profile-tablist-tab[aria-selected='true'] {color:$gray80;text-decoration:underline;}
.profile-tablist-panel {min-height:600px;}


.profile-display {display:flex;margin:0 0 1.5rem 0;padding:0 0 1rem 0px;border-bottom:1px solid #e9e9e6;}
.profile-display-title {margin:0 0 0.25rem 0;font-size:12px;}
.profile-display-button {display:flex;justify-content:center;align-items:center;width:32px;height:32px;margin:0 4px 0 0;border-radius:4px;background:$gray20;color:$gray80;opacity:0.2;}
.profile-display-button.is-selected {opacity:1;}
.profile-display-button i {font-size:20px;vertical-align:middle;}
.profile-display-button img {width:1rem;}
.profile-socials {margin:2rem 0 2rem 0;}
.profile-socials-title {margin:0.5rem 0;font-size:1.25rem;}
.profile-socials-link {display:block;color:$gray40;}
.profile-boards {margin:2rem 0 2rem 0;}
.profile-boards-title {margin:0.5rem 0;font-size:1.25rem;}
.profile-boards-link {display:block;color:$gray40;}
//.is-sticky .profile-user {position:fixed;top:0;bottom:0;margin-top:0;overflow:auto;}


.accordion {}
.accordion-trigger {display:flex;align-items:center;justify-content:space-between;width:100%;margin:0 0 0 0;padding:10px 0 11px;border-top:1px solid $gray10;border-bottom:1px solid $gray10;cursor:pointer;text-align:left;position:relative;transition:all .4s;}
.accordion-trigger:not(:nth-of-type(1)) {border-top:none;}
.accordion-trigger i {float:right;transition:all .2s}
.accordion-trigger:hover {color:$gray80;}
.accordion-trigger.is-active {color:$color-primary;}
.accordion-trigger.is-active i {transform:rotate(180deg)}
.accordion-panel {height:0;opacity:0;transition:all .25s;}
.accordion-panel.is-visible {height:auto;opacity:1;margin:0 0 1rem 0;padding:1rem 0 2rem;box-sizing:border-box;/*animation:fadeup 0.4s $bezier-base forwards;*/}


.image-centered {width:auto;height:auto;max-width:150%;max-height:150%;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}



.card {display:block;width:25%;margin:0 0 1.5rem;position:relative;}
.card-byline {margin:12px 0 12px;}
.card-byline img {display:block;float:left;width:16px;height:16px;border-radius:$radius400;background:$gray10;}
.card-byline-name {padding-left:24px;line-height:16px;color:$gray40;}
.card-more {display:none;width:32px;height:32px;background:#f1f3f4;position:absolute;right:.5rem;top:.5rem;}
.card-thumbnail {padding-top:50%;overflow:hidden;background:$gray80;border-radius:4px;border:1px solid rgba(0, 0, 0, 0.05);border-color:$gray0;box-sizing:border-box;position:relative;}
.card-thumbnail img {display:block;width:auto;height:auto;max-width:100%;max-height:130%;margin:auto;background:$gray80;position:absolute;left:-1px;right:-1px;top:-1px;bottom:-1px;}
.card-category {padding:2px 0;background:$color-primary;font-size:10px;color:$gray0;position:absolute;left:16px;top:64px;}
.card-title {padding:.75rem 0 0;font-size:1rem;}
.card-date {display:block;padding:0 0;font-size:12px;color:$gray40;}
.card-text {padding:4px 0 12px;line-height:1.4;color:$gray60;}
.card-key {padding:4px 0;font-size:12px;line-height:1.4;color:$gray40;}
.card-key span {float:right;color:$gray80;}
.card-tags {margin-top:1rem !important;}
.card-foot {margin:1.25rem 0 0 0;}
.card-foot-add {width:100%;padding:12px 16px;text-align:left;color:$color-primary;font-size:12px;border-top:1px solid #e9e9e6;}
// .card-more .icon-more {background:$gray0;}
.card-item {height:48px;margin:1rem 0;position:relative;}
.card-item img {float:left;display:block;margin-right:1rem;background:$gray80;}
.card-item-name {display:block;color:$gray80;position: relative;top:0px;}
.card-item-price {position:relative;top:-4px;}

// .card:hover {transform:translateY(-1px);}
.card:hover .card-more {display:block;}



.works {margin:0 -1%}
.works:after {content:'';display:block;clear:both;}
.works .card {
  float: left;
  display: block;
  width: 23%;
  margin: 0 1% 1.5rem;
}

.works.list .card {float:none;width:100%;padding-left:96px;}


.list .card {width:100%;height:80px;padding-left:96px;}
.list .card-thumbnail {width:80px;height:80px;padding-top:0;position:absolute;left:0;top:0;}
.list .card-thumbnail img {max-width:150%;}
.list .card-title {padding-top:0;}
// .card {width:50%;}
// .card-title {padding-top:0;}
// .card-thumbnail {
// width: 50%;
// float: left;
// margin-right: 2rem;
// padding-top: 20%;
// }

@media (max-width:$breakpoint-large) {
  .profile-user {float:none;width:100%;margin:0px auto 0;padding:0 5% 0;box-sizing:border-box;}
  .profile-body {width:100%;margin-top:0;padding:0 5% 8rem;}
}

@media (max-width:$breakpoint-small) {
  .profile-user {width:100%;}
  .profile {padding-left:0;padding-right:0;}
  .profile-head {height:auto;margin-left:5%;margin-right:5%;padding:2rem 5% 3rem;border-radius:0;}
  .profile-head-background {max-width:100%;}
  .profile-head-headline {}
  .profile-head-description {width:100%;}
  .profile-head-share {bottom:auto;}
  .profile-user-id {margin-top:-2px;}
  .profile-user-career {margin-top:3px}
  .profile-user-avatar {width:64px;height:64px;}
}

@media (max-width:$breakpoint-tiny) {
  .works .card {width:48% !important;}
}