.profile {@include container-large;}
.profile::after {content:'';display:block;clear:both;}

.profile-user {float:left;width:320px;position:relative;z-index:1;}
.profile-user-avatar {float:right;@include box-large;background-image:url('/public/images/soo.png');background-size:contain;transition:all 0.4s ease;}
.profile-user-avatar:hover {box-shadow:var(--shadow400);}
.profile-user-name {@include subhead;}
.profile-user-id {display:block;}
.profile-user-career {display:block;margin:.5rem 0 0;color:var(--gray400);}
.profile-user-description {max-height:4.8em;margin:1.5rem 0;white-space:normal;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;line-height:1.6;position:relative;}
.profile-user-description-more {margin:0 .5rem;@include link-outer;}
.profile-user-toggle {width:100%;margin:1rem 0;text-align:center;color:var(--gray800);}
.profile-user-toggle.is-active .profile-user-toggle-icon {transform:rotate(180deg);}
.profile-user-toggle-icon {@include box-small;}
.profile-user-category {padding:4px 16px;background:coral;font-size:var(--caption);color:var(--gray0);border-radius:50px;}
.profile-user-address {}
.profile-user-address div {}
.profile-user-address div b {margin:0 .5rem 0 0;font-weight:normal;color:var(--gray400);}
// .profile-user-address div img {width:1rem;margin-right:.5rem;opacity:.4;}
.profile-user-address i {margin:0 .5rem 0 0;font-size:14px;color:var(--gray400);vertical-align:middle;}
.profile-user-hashtags {display:flex;flex-wrap:wrap;}
.profile-user-statistic {display:flex;justify-content:space-between;}
.profile-user-statistic .statistic {width: var(--grid-column);position: relative;}
.profile-user-statistic .statistic:hover {@include hover-item;}
.profile-user-socials {}
.profile-user-socials-title {margin:0.5rem 0;font-size:1rem;font-weight:normal;color:var(--gray400);}
.profile-user-socials-link {display:block;color:var(--gray800);text-decoration:underline;}
.profile-user-socials-link:hover {color:var(--color-primary);}
.profile-user-controls {display:flex;margin:2rem 0 1rem;}
.profile-user-controls-follow {@include button-primary;width:calc(70% - 1rem);}
.profile-user-controls-message {@include button-tertiary;min-width:auto;width:30%;margin-left:auto;}

.profile-foot-follow {@include button-tertiary;width:100%;}
.profile-body {padding:0 0 64px 398px;box-sizing:border-box;position:relative;}

.profile-display {display:flex;}
.profile-display-title {margin:0 0 0.25rem 0;font-size:var(--caption);}
.profile-display-button {@include box-small;background:none;color:var(--gray800);outline:none;}
// .profile-display-button:hover {@include hover-item;}
.profile-display-button.is-selected {background:var(--gray100);}
.profile-display-button i {vertical-align:middle;}

.profile-tablist {display:flex;margin:0 0 1rem 0;padding:.25rem;border-radius:var(--radius400);background:var(--gray100);position:relative;}
.profile-tablist-tab {padding:$padding100;color:var(--gray400);font-weight:bold;cursor:pointer;position:relative;z-index:1;}
.profile-tablist-tab[aria-selected=true] {color:var(--gray800);}
.profile-tablist-tab-badge {font-size:var(--caption);}
.profile-tablist-indicator {display:block;height:calc(100% - .5rem);border-radius:var(--radius400);background:var(--gray0);position:absolute;top:.25rem;left:4px;transition:all 0.4s ease;}
.profile-tabpanel {display:flex;flex-wrap:wrap;margin:0 -.5rem;}
.profile-tabpanel[aria-hidden=true] {display:none;}
.profile-tabpanel .card {width:calc(33.3333% - 1rem);margin:0 .5rem 1rem;}


.accordion {position:relative;}
.accordion-item {position:relative;}
.accordion-item-trigger {}
.accordion-item-panel {}

.accordion-trigger {display:flex;align-items:center;justify-content:space-between;margin:.5rem 0;font-size:1rem;font-weight:bold;cursor:pointer;position:relative;transition:all .4s;}
// .accordion-trigger:hover {@include hover-item;}
.accordion-trigger-icon {@include box-small;}
.accordion-trigger.is-active {color:var(--color-primary);}
.accordion-panel {height:0;opacity:0;transition:all .25s;}
.accordion-panel.is-visible {height:auto;padding:0 0 2rem;animation:fadeup 0.2s $bezier-base forwards;}

.card {display:block;background:var(--gray0);position:relative;@include container-card;}
.card-more {@include box-small;display:none;position:absolute;right:.5rem;top:.5rem;}
.card-thumbnail {padding-top:50%;overflow:hidden;background:var(--gray100);border-radius:var(--radius400);border:var(--border150);box-sizing:border-box;position:relative;}
.card-thumbnail img {display:block;width:auto;height:auto;max-width:100%;max-height:130%;margin:auto;box-shadow:var(--shadow400);position:absolute;left:-1px;right:-1px;top:-1px;bottom:-1px;transition:all .4s;}
.card-byline {display:flex;margin:.75rem 0 1rem 0;position:relative;}
.card-byline-avatar {@include box-tiny;margin-right:.5rem;}
.card-byline-name {line-height:16px;color:var(--gray400);}
.card-title {padding:1rem 0 0;font-size:var(--body);}
.card-text {padding:.5rem 0 1rem;@include truncate-multi;}
.card-category {@include tag-secondary;position:absolute;left:1rem;top:1rem;}
.card-date {color:var(--gray400);}
.card-tags {display:flex;flex-wrap:wrap;margin-top:.5rem;}
.card-tags-item {@include hashtag;}
.card-item {height:48px;margin:1rem 0;position:relative;}
.card-item-media {float:left;display:block;margin-right:1rem;@include box-medium;}
.card-item-name {display:block;color:var(--gray800);}
.card-item-price {position:relative;}
.card-note {border:var(--border150);border-radius:var(--radius400);text-align:center;font-size:var(--caption);}
.card-cta {@include button-primary;width:100%;margin:2rem 0;}
.card-foot {display:flex;justify-content:space-between;margin:2rem 0 0;}
.card:hover {@include hover-item;}
// .card:hover .card-thumbnail img {transform:translateY(-.25rem);}
.card:hover .card-more {display:block;}

.list .card {float:none;width:100%;margin-bottom:1rem;padding:1rem;}
.list .card-thumbnail {float:left;width:80px;height:80px;margin-right:1.5rem;padding-top:0;}
.list .card-thumbnail img {max-width:150%;}
.list .card-title {padding-top:0;}
.list .card-byline {margin-top:.5rem;margin-bottom:.5rem;}
.list .card-more {right:0;top:0;}

@media (--viewport-large) {
  .profile-tabpanel .card {width:calc(50% - 1rem);}
}

@media (--viewport-small) {
  .profile-user {float:none;width:100%;box-sizing:border-box;}
  .profile-user-description {margin:1rem 0 2rem;}

  .profile-body {margin:0 auto;padding-left:0;}
  .profile-user-toggle {display:flex;align-items:center;justify-content:space-between;}
  .profile-user-info {display:none;}
  .profile-user-info.is-visible {display:block;margin-bottom:4rem;}

}
