.profile {max-width:1330px;margin:0 auto;padding:2rem 0;box-sizing:border-box;position:relative;}
// .profile-head {@extend .hero;margin:0 0 3rem 0 !important;}
// .profile-head-background {@extend .hero-background;background:url('/public/images/caleb-woods-182648-unsplash.jpg') no-repeat center center;background-size:cover;}
// .profile-head-headline {@extend .hero-title;position:relative;}
// .profile-head-description {@extend .hero-description;position:relative;}
// .profile-head-share {@extend .tertiary-button;}
// .profile-head-temp {position:absolute;left:65%;top:3.25rem;}
// .profile-head h5 {margin:0 0 1rem 0;color:$gray0;}
.profile-user {float:left;width:320px;box-sizing:border-box;position:relative;z-index:1;}
.profile-user-avatar {@include box-large;float:right;background:url('/public/images/soo.png') no-repeat center center;background-size:contain;transition:all 0.4s ease;}
.profile-user-avatar:hover {box-shadow:$shadow450;}
.profile-user-name {font-size:$subhead;}
.profile-user-id {display:block;color:$gray400;}
.profile-user-career {display:block;margin:.5rem 0 0;color:$gray400;}
.profile-user-description {max-height:4.8em;margin:1.5rem 0;white-space:normal;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;line-height:1.6;position:relative;}
.profile-user-description-more {margin:0 .5rem;color:#000;text-decoration:underline;}
.profile-user-toggle {display:none;width:100%;margin:1rem 0;text-align:center;}
.profile-user-toggle i {display:inline-block;vertical-align:middle;margin-left:.5rem;}
.profile-user-category {padding:4px 16px;background:coral;font-size:12px;color:$gray0;border-radius:50px;}
.profile-user-address {margin:1rem 0 1.25rem 0;padding:1rem 0 1rem 0;border-top:1px solid #e9e9e6;border-bottom:1px solid #e9e9e6;}
.profile-user-address div img {width:1rem;margin-right:.5rem;opacity:.4;}
.profile-user-address i {margin:0 8px 0 0;font-size:14px;color:$gray400;vertical-align:middle;}
.profile-user-hashtags {display:flex;flex-wrap:wrap;margin:-.25rem;}
.profile-user-statistic {}
.profile-controls {display:flex;margin:2rem 0 1rem;}
.profile-controls-follow {@include button-primary;width:68%;}
.profile-controls-message {@include button-tertiary;min-width:auto;width:30%;margin-left:auto;}
.profile-body {padding:0 0 64px 400px;box-sizing:border-box;position:relative;}
.profile-tablist {margin:0 0 0.5rem 0;position:relative;}
.profile-tablist-active {width:4px;height:4px;margin:0 auto;border-radius:50%;transition:all 0.4s ease;background:$color-primary;position:absolute;top:8px;left:0;}
.profile-tablist:before {display:none;content:'';position:absolute;bottom:0;left:0;right:0;height:1px;background:#e9e9e6;}
.profile-tablist-tab {margin:0 1.5rem 0 0;padding:1rem 0;border-radius:$radius400;color:$gray400;}
.profile-tablist-tab[aria-selected=true] {color:$gray800;text-decoration:underline;}
.profile-tabpanel {}

.profile-display {display:flex;margin:0 0 1.5rem 0;padding:0 0 1rem 0px;border-bottom:1px solid #e9e9e6;}
.profile-display-title {margin:0 0 0.25rem 0;font-size:12px;}
.profile-display-button {@include box-light;margin:0 .25rem 0 0;color:$gray800;}
.profile-display-button.is-selected {background:$gray200;}
.profile-display-button i {font-size:20px;vertical-align:middle;}
.profile-display-button img {width:1rem;}
.profile-socials {margin:2rem 0 2rem 0;}
.profile-socials-title {margin:0.5rem 0;font-size:$subhead;}
.profile-socials-link {display:block;color:$gray400;}
.profile-boards {margin:2rem 0 2rem 0;}
.profile-boards-title {margin:0.5rem 0;font-size:$subhead;}
.profile-boards-link {display:block;color:$gray400;}


.accordion {position:relative;}
// border-top:1px solid $gray100;border-bottom:1px solid $gray100;
.accordion-trigger {display:flex;align-items:center;width:100%;margin:0 0 0 0;padding:$padding200;padding-left:0;padding-right:0;cursor:pointer;text-align:left;position:relative;transition:all .4s;}
// .accordion-trigger:before {content:'';display:block;width:8px;height:8px;border-radius:$radius400;background:#999;margin-right:1rem;}
.accordion-trigger:not(:nth-of-type(1)) {border-top:none;}
.accordion-trigger .icon-caret {margin-left:auto;transition:all .2s}
.accordion-trigger:hover {color:$gray800;}
.accordion-trigger.is-active {border-bottom:none;color:$color-primary;}
.accordion-trigger.is-active .icon-caret {transform:rotate(180deg)}
.accordion-panel {height:0;opacity:0;transition:all .25s;}
.accordion-panel.is-visible {height:auto;opacity:1;padding:1rem 0 3rem;box-sizing:border-box;/*animation:fadeup 0.4s $bezier-base forwards;*/}

.image-centered {width:auto;height:auto;max-width:150%;max-height:150%;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}

.card {display:block;width:297px;margin:0 0 1.5rem;position:relative;transition:all .4s;}
.card-byline {display:flex;margin:.75rem 0 1rem 0;position:relative;}
.card-byline-avatar {display:block;width:16px;height:16px;overflow:hidden;margin-right:.5rem;border-radius:$radius400;background:$gray100;position:relative;}
.card-byline-avatar img {@include image-centered;}
.card-byline-name {line-height:16px;color:$gray400;}
.card-more {@include box-light;display:none;position:absolute;right:.5rem;top:.5rem;}
.card-thumbnail {padding-top:50%;overflow:hidden;background:$gray800;border-radius:$radius400;border:$border400;border-color:$gray0;box-sizing:border-box;position:relative;}
.card-thumbnail img {display:block;width:auto;height:auto;max-width:100%;max-height:130%;margin:auto;background:$gray800;position:absolute;left:-1px;right:-1px;top:-1px;bottom:-1px;}
.card-category {padding:2px 0;background:$color-primary;font-size:10px;color:$gray0;position:absolute;left:16px;top:64px;}
.card-title {padding:1rem 0 0;font-size:$body;}
.card-date {display:block;padding:0 0;color:$gray400;}


.card-text {margin:0 0 1rem 0;padding:.5rem 0 1rem;@include truncate-multi;}


.card-key {padding:4px 0;font-size:12px;line-height:1.4;color:$gray400;}
.card-key span {float:right;color:$gray800;}
.card-tags {}
.card-foot {margin:1.25rem 0 0 0;}
.card-foot-add {width:100%;padding:12px 16px;text-align:left;color:$color-primary;font-size:12px;border-top:1px solid #e9e9e6;}
.card-item {height:48px;margin:1rem 0;position:relative;}
.card-item-avatar {@include box-medium;}
.card-item img {float:left;display:block;margin-right:1rem;background:$gray800;}
.card-item-name {display:block;color:$gray800;position: relative;top:0px;}
.card-item-price {position:relative;}
.card-note {border:$border400;border-radius:$radius400;text-align:center;font-size:12px;}

.card:hover {transform:translateY(-.25rem);}
.card:hover .card-more {display:block;}



.works {margin:0 -1%}
.works:after {content:'';display:block;clear:both;}
.works .card {
  float: left;
  display: block;
  margin: 0 1% 2rem;
}

.list .card {float:none;width:100%;}
.list .card-thumbnail {float:left;width:80px;height:80px;margin-right:1.5rem;padding-top:0;}
.list .card-thumbnail img {max-width:150%;}
.list .card-title {padding-top:0;}

@media (--viewport-medium) {
  .profile {max-width:906px;}
  .profile-user {float:none;width:100%;margin:0px auto 0;box-sizing:border-box;}
  .profile-body {margin:0 auto;padding-left:0;}
  .profile-user-toggle {display:block;}
  .profile-user-info {display:none;}
  .profile-user-info.is-visible {display:block;}
}


@media (--viewport-small) {
  .profile {max-width:572px;padding:2rem 5%;}
  .profile-user-career {margin-top:3px}
  .profile-user-avatar {width:64px;height:64px;}
  .profile-user-description {margin:1rem 0;}
  .profile-user-id {margin-top:-2px;}
  .works .card {width:100% !important;margin-left:0 !important;margin-right:0;}
  // .profile-head {height:auto;margin-left:5%;margin-right:5%;padding:2rem 5% 3rem;border-radius:0;}
  // .profile-head-share {bottom:auto;}
}

// @media (--viewport-tiny) {
// }