$container-auth: 400px;


.login {max-width:$container-auth;margin:0 auto;padding:5rem 5% 20rem;position:relative;}
.login-title {font-size:2rem;text-indent:-2px;}
.login-description {margin:.25rem 0;font-size:$body;}
.login-email {margin:2rem 0;}
.login-password {}
.login-remember {margin:1rem 0;}
.login-divider {margin:12px auto;text-align:center;position:relative;z-index:1;} // separator
.login-divider:before {content:'';display:block;width:100%;height:1px;background:#e9e9e9;position:absolute;top:50%;transform:translateY(-1px);}
.login-divider:after {content:'또는';width:4rem;line-height:24px;background:$gray0;font-size:12px;color:$gray400;position:absolute;left:50%;top:0;transform:translateX(-50%);}
.login-foot-submit {@include button-primary;width:100%;}
.login-social {}
.login-social-facebook {@include button-primary;width:100%;background-color:$color-facebook;}
.login-social-twitter {background:#4ab3f4;}
.login-social-naver {margin-bottom:8px;background:#3bcc15;}
.login-social-kakao {float:left;width:49%;color:$gray0;margin-right:2%;background:#f9df34;}
.login-option {margin:2rem 0;text-align:center;}
.login-option-link {margin:0 1rem;}
.login-fail {display:block;margin:2rem 0 1rem;color:$color-negative;}

.signup {max-width:$container-auth;margin:0 auto;padding:5rem 5% 10rem;}
.signup-head {}
.signup-head-title {margin:0 0 1rem 0;font-size:1.5rem;}
.signup-head-description {color:$gray800;}
.signup-foot {margin:3rem 0;}
.signup-foot-submit {@include button-primary;width:100%;}
.signup .textfield {margin:2rem 0;}
.signup-terms {}
.signup-terms-content {height:120px;margin:8px 0 24px;padding:8px 16px;border:$border100;box-sizing:border-box;font-size:12px;color:$gray400;overflow-y:scroll;}

.password {max-width:560px;margin:0 auto;padding:5rem 5% 20rem;position:relative;}
.password-head {margin-bottom:3rem;}
.password-title {margin:0 0 .5rem 0;font-size:14px;}
.password-description {font-size:1.5rem;line-height:1.4;color:$gray800;}
.password-submit {float:left;width:200px;max-width:50%;}
.password-link {float:right;margin-top:16px;}
.password-foot {margin:1rem 0 0;}
.password-foot-submit {@include button-primary;}
.password-result {margin:4rem 5%;text-align:center;}
.password-result-title {margin:0 0 2rem 0;line-height:1.8;}
.password-result-login {@include button-tertiary;}

.delete {max-width:$container-auth;margin: 0 auto;padding: 5rem 5% 20rem;position:relative;}
.delete-head {padding:2rem 0% 4rem;}
.delete-head-title {}
.delete-head-description {margin:1rem 0;}
.delete-suggest {padding:4rem 0%;}
.delete-suggest-subhead {margin:1rem 0;font-size:$subhead;}
.delete-why {padding:0 0%;}
.delete-why-title {font-size:$subhead;}
.delete-why-description {margin:1rem 0;}
.delete-why-action {padding:4rem 0;}