
.signup {width:480px;margin:5% auto;}
.signup-head {}
.signup-head-title {margin:0 0 1rem 0;font-size:1.5rem;}
.signup-head-description {font-size:24px;color:$gray80;}
.signup-phone {}
.signup-email {}
.signup-password {}
.signup-password {}
.signup-name {}
.signup-firstname {}
.signup-foot {padding:32px 0;}
.signup .textfield {margin:24px 0;}
.firstname-label {width:49%;}
.firstname-input {width:49%;}
.lastname-label {width:49%;position:absolute;right:0;top:0;}
.lastname-input {width:49%;position:absolute;right:0;bottom:25px;}