.terms {}
.terms-head {max-width:var(--width-medium);margin:0 auto;padding:4rem 4% 0;box-sizing:border-box;}
.terms-head-title {font-size:var(--subhead);}
.terms-head p time {}

.terms-archive {max-width:var(--width-medium);margin:0 auto;padding:2rem 4%;box-sizing:border-box;}
.terms-archive-title {margin:2rem 0 .75rem 0;font-size:var(--body);font-weight:bold;}
.terms-archive-link {display:block;margin:0 0 .25rem 0;}

.terms-body {max-width:var(--width-medium);margin:2rem auto;padding:0 4%;box-sizing:border-box;}
.terms-body h2 {margin:4rem 0 1rem 0;@include subhead;}
.terms-body p {}

.terms-sidebar {width:100%;max-width:320px;background:var(--gray0);padding:8rem 1.5rem;border-right:var(--border100);box-sizing:border-box;overflow-y:auto;position:fixed;top:0;bottom:0;z-index:1;}
.terms-sidebar a {display:block;line-height:40px;}

@media (--viewport-large) {
  .terms-sidebar {max-width:280px;}
  .terms-head {max-width:var(--width-medium);margin:0;margin-left:320px;}
  .terms-body {max-width:var(--width-medium);margin:0;margin-left:320px;}
  
}
@media (--viewport-small) {
  .terms-sidebar {display:none;}
  .terms-head {margin:0 auto;}
  .terms-body {margin:0 auto;}
}


.personal {@include container-medium;}
.personal-title {margin:0 0 1rem 0;@include subhead;}
.personal-description {margin:0 0 2rem 0;}
.personal dl {display:flex;padding:.25rem 0;}
.personal dl dt {font-weight:bold;}
.personal dl dd {margin:0 0 0 1rem;}
.personal footer {margin:1rem 0 0 0;}
.personal footer strong {}
.personal footer p {}