
.size-huge {@include avatar-huge;background:var(--color-primary);}
.size-large {@include avatar-large;background:var(--color-primary);}
.size-medium {@include avatar-medium;background:var(--color-primary);}
.size-small {@include avatar-small;background:var(--color-primary);}
.size-tiny {@include avatar-tiny;background:var(--color-primary);}
.color {overflow:hidden;}
.color-group {display:flex;flex-wrap:wrap;justify-content:space-between;}
.color-item {@include tile-flat-small;width:100%;}
.color-item + .color-item {margin:var(--space-small) 0 0 0;}

@keyframes emoji-temp {
  0% {transform:translateY(0)}
  100% {transform:translateY(200px)}
}
@mixin token-emoji {
  font-size: 2rem;
  margin: 1rem;
  animation: fade-up 1s ease infinite alternate;
}
.tokens-hero {display:flex;flex-direction:row-reverse;min-height:50vh;position:relative;}
.tokens-hero-image {display:flex;flex-wrap:nowrap;justify-content:center;align-items:center;width:50%;padding:0 0 1rem 0;background:#343c38;overflow:hidden;position:relative;}
.tokens-hero-image img {@include image-centered;}
.tokens-hero-image-butter {@include token-emoji;}
.tokens-hero-image-salt {@include token-emoji;}
.tokens-hero-image-egg {@include token-emoji;}
.tokens-hero-image-milk {@include token-emoji;}
.tokens-hero-head {width:50%;padding:6rem var(--grid-margin) 8rem;box-sizing:border-box;background:var(--color-primary);font-size:var(--font-size-subhead);position:relative;}

.tokens-body {max-width:var(--width-medium);margin:0 auto;padding:0 var(--grid-margin);}
.design-article code {padding-left:2rem !important;padding-right:2rem !important;margin-left:-2rem;margin-right:-2rem;}


.tokens {}
// .tokens-inner {@include group-bleeding;}
.token-item {min-height:var(--size-huge);padding:0 0 0 calc(50% + var(--space));box-sizing:border-box;overflow:hidden;position:relative;}
.token-item figure {float:left;width:50%;margin:0 var(--space) 0 0;position:relative;position:absolute;left:0;top:0;}
.token-item figure:after {content:'';display:block;background:var(--gray100);height: 80px;
  z-index: -1;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 0;
  bottom: 0;
  border: 1px solid var(--gray100);
  border-radius: 4px;
  box-sizing: border-box;
  border-top-left-radius: 0;}
// .token-item:nth-of-type(1) {border-top:var(--border100);}
.token-item + .token-item {margin:var(--space) 0 0 0;}
.token-item-avatar {height:var(--size-large);width:100%;border-radius:var(--radius400);background:var(--gray100);}
.token-item-name {margin:0 0 .125rem 0;font-size:var(--body);}
.token-item-description {line-height:var(--font-line-height-small);}
.token-item-value {}
.token-item-tags {}
.token-item-tag {@include hashtag;font-size:var(--font-size-tiny);}

.token-item.is-gray000 figure {border:var(--border100);background:var(--gray0);}
.token-item.is-gray100 figure {background:var(--gray100);}
.token-item.is-gray200 figure {background:var(--gray200);}
.token-item.is-gray400 figure {background:var(--gray400);}
.token-item.is-gray600 figure {background:var(--gray600);}
.token-item.is-gray800 figure {background:var(--gray800);}
.token-item.is-red100 figure {background:var(--red100);}
.token-item.is-red800 figure {background:var(--red800);}
.token-item.is-primary100 figure {background:var(--green100);}
.token-item.is-primary200 figure {background:var(--color-primary);}
.token-item.is-gradient figure {background-color:none;background-image:linear-gradient(106deg,var(--red800),var(--color-primary));}
.token-item.is-elevation figure {background:none;box-shadow:var(--shadow400);}




.color-item div {float:left;@include avatar-large;margin:0 var(--space) 0 0;}
.color-item h3 {font-size:var(--font-size-body);text-transform:capitalize;}
.color-item span {color:var(--gray400);}

@media (--breakpoint-small) {
  .tokens-hero {flex-wrap:wrap;min-height:auto;}
  .tokens-hero-image {display:flex;flex-wrap:nowrap;justify-content:center;align-items:center;width:100%;padding:0 0 .5rem 0;background:#343c38;overflow:hidden;position:relative;}
  .tokens-hero-head {width:100%;}

}



// .color-group {}
// .color-group .color-skeleton {@include avatar-large;}
// .color-gray000 {@include avatar-large;border:var(--border100);background:var(--gray0);}
// .color-gray100 {@include avatar-large;background:var(--gray100);}
// .color-gray200 {@include avatar-large;background:var(--gray200);}
// .color-gray400 {@include avatar-large;background:var(--gray400);}
// .color-gray600 {@include avatar-large;background:var(--gray600);}
// .color-gray800 {@include avatar-large;background:var(--gray800);}
// .color-red100 {@include avatar-large;background:var(--red100);}
// .color-red800 {@include avatar-large;background:var(--red800);}
// .color-green100 {@include avatar-large;background:var(--green100);}
// .color-green800 {@include avatar-large;background:var(--green800);}
// .color-gold {@include avatar-large;background:gold;}
// .color-elevation {@include avatar-large;background:var(--gray0);box-shadow:var(--shadow400);}
// .color-gradient {@include avatar-large;background-image:linear-gradient(106deg,var(--red800),var(--color-primary));}