
.token-navigation {}
.token-navigation a {display:block;align-items:center;padding:var(--space);color:var(--color-text);}
// .token-navigation a i {margin:0 var(--space-small) 0 0;transform:rotate(90deg);}

.token-item .size-huge {@include avatar-huge;background:var(--color-primary);}
.token-item .size-large {@include avatar-large;background:var(--color-primary);}
.token-item .size-medium {@include avatar-medium;background:var(--color-primary);}
.token-item .size-small {@include avatar-small;background:var(--color-primary);}
.token-item .size-tiny {@include avatar-tiny;background:var(--color-primary);}
.token-item .color {overflow:hidden;}
.token-item .color-group {display:flex;flex-wrap:wrap;justify-content:space-between;}
.token-item .color-item {@include tile-flat-small;width:100%;}
.token-item .color-item + .color-item {margin:var(--space-small) 0 0 0;}

@keyframes emoji-temp {
  0% {transform:translateY(0)}
  100% {transform:translateY(200px)}
}
@mixin token-emoji {
  font-size: 2rem;
  margin: 1rem;
  animation: fade-up 1s ease infinite alternate;
}
.tokens-hero {position:relative;}
.tokens-hero-image {display:flex;flex-wrap:nowrap;justify-content:center;align-items:center;border-radius:var(--radius);margin:0 0 2rem 0;background:var(--color-background-strong);overflow:hidden;position:relative;}
.tokens-hero-image img {@include image-centered;}
.tokens-hero-image-item {@include token-emoji;}
.tokens-hero-head {padding:4rem var(--grid-margin);border-radius:var(--radius);box-sizing:border-box;font-size:var(--font-size-subhead);position:relative;}

.article code {padding-left:2rem !important;padding-right:2rem !important;margin-left:-2rem;margin-right:-2rem;}

.tokens {}
// min-height:var(--size-large);todo
.token-item {@include tile-flat-small;margin:.75rem 0;padding:.75rem;overflow:hidden;letter-spacing:0px;transition:margin .8s;}
// todo ! 
.article-helper {margin:0 0 var(--space) 0;}
.token-item.is-scrolled {margin-top:.75rem;}
.token-item-avatar {@include avatar-large;float:right;}

.token-item-badge {@include tag;position:absolute;right:.25rem;top:.25rem;}
.token-item b {display:block;margin:var(--space-leading-title) 0 .125rem 0;font-weight:var(--font-weight-normal);}
.token-item > div {font-size:var(--font-size-caption);color:var(--color-text-light);}
.token-item div p {color:var(--color-text-light);}
.token-item strong {font-weight:var(--font-weight-bold);color:var(--text-color-light);}
// .token-item figure:before {content:'';display:block;height:var(--size-huge);background:var(--color-background-weak);position:absolute;left:0;right:0;top:0;bottom:0;z-index:-1;}
// .token-item-avatar:after {content:'';display:block;background:var(--gray100);height: 80px;
//   z-index: -1;
//   position: absolute;
//   left: -1px;
//   right: -1px;
//   top: 0;
//   bottom: 0;
//   border: 1px solid var(--gray100);
//   border-radius: 4px;
//   box-sizing: border-box;
//   border-top-left-radius: 0;
// }

.token-item-name {margin:0 0 var(--space-small) 0;font-size:var(--body);font-weight:var(--font-weight-bold);}
.token-item-description {line-height:var(--font-line-height-small);}
.token-item-value {}
.token-item-tags {@include tag-group;width:100%;}
.token-item-tag {@include tag;}

.token-item.is-gray000 figure {border:var(--border);background:var(--color-background);}
.token-item.is-gray100 figure {background:var(--gray100);}
.token-item.is-gray200 figure {background:var(--gray200);}
.token-item.is-gray400 figure {background:var(--gray400);}
.token-item.is-gray600 figure {background:var(--gray600);}
.token-item.is-gray800 figure {background:var(--gray800);}
.token-item.is-red100 figure {background:var(--red100);}
.token-item.is-red800 figure {background:var(--red800);}
.token-item.is-primary100 figure {background:var(--green100);}
.token-item.is-primary200 figure {background:var(--color-primary);}
.token-item.is-gradient figure {background-color:none;background-image:linear-gradient(106deg,var(--red800),var(--color-primary));}
.token-item.is-elevation figure {background:none;box-shadow:var(--shadow);}




.color-item div {float:left;@include avatar-large;margin:0 var(--space) 0 0;}
.color-item h3 {font-size:var(--font-size-body);text-transform:capitalize;}
.color-item span {color:var(--color-text-light);}

@media (--breakpoint-small) {
  .tokens-hero {flex-wrap:wrap;min-height:auto;}
  .tokens-hero-image {display:flex;flex-wrap:nowrap;justify-content:center;align-items:center;width:100%;padding:0 0 .5rem 0;background:#343c38;overflow:hidden;position:relative;}

  // .token-item {
  //   margin-left:calc(-5vw - 1px);
  //   margin-right:calc(-5vw - 1px);
  //   padding-left:calc(5vw + 1px);
  //   padding-right:calc(5vw + 1px);
  // }
}
