.concept {display:flex;height:20rem;position:relative;}
.concept div {display:flex;align-items:center;justify-content:center;font-size:var(--font-size-subhead);color:var(--gray0);position:absolute;}
.concept .concept-tokens {width:6rem;height:6rem;border-radius:50%;background:blue;left:2rem;top:50%;transform:translateY(-50%);z-index:3;}
.concept .concept-styles {width:70%;height:14rem;border-radius:50%;background:red;left:1rem;top:50%;transform:translateY(-50%);z-index:2;}
.concept .concept-roles {justify-content:flex-end;width:100%;height:20rem;padding:0 12.5% 0 0;box-sizing:border-box;border-radius:50%;background:yellow;}

.tokens {}
.token-item {@include tile-flat-small;width:100%;}
// .token-item:nth-of-type(1) {border-top:var(--border100);}
.token-item + .token-item {margin:var(--space) 0 0 0;}
.token-item-avatar {height:var(--size-large);width:100%;border-radius:var(--radius400);background:var(--gray100);}
.token-item-name {margin:.25rem 0 .5rem;font-size:var(--body);}
.token-item-description {line-height:var(--font-line-height-small);}
.token-item-value {}
.token-item-tags {margin-top:var(--space);}
.token-item-tag {@include hashtag;font-size:var(--font-size-tiny);}

.token-item.is-gray000 figure {border:var(--border100);background:var(--gray0);}
.token-item.is-gray100 figure {background:var(--gray100);}
.token-item.is-gray200 figure {background:var(--gray200);}
.token-item.is-gray400 figure {background:var(--gray400);}
.token-item.is-gray600 figure {background:var(--gray600);}
.token-item.is-gray800 figure {background:var(--gray800);}

.size-huge {@include avatar-huge;background:var(--color-primary);}
.size-large {@include avatar-large;background:var(--color-primary);}
.size-medium {@include avatar-medium;background:var(--color-primary);}
.size-small {@include avatar-small;background:var(--color-primary);}
.size-tiny {@include avatar-tiny;background:var(--color-primary);}
.token-item.is-red100 div {background:var(--red100);}
.token-item.is-red800 div {background:var(--red800);}
.token-item.is-primary100 div {background:var(--green100);}
.token-item.is-primary200 div {background:var(--color-primary);}
.token-item.is-gradient div {background-image:linear-gradient(106deg,var(--red800),var(--color-primary));}

.color {overflow:hidden;}
.color-group {display:flex;flex-wrap:wrap;justify-content:space-between;}
.color-item {@include tile-flat-small;width:100%;}
.color-item + .color-item {margin:var(--space-small) 0 0 0;}


.color-item div {float:left;@include avatar-large;margin:0 var(--space) 0 0;}
.color-item h3 {font-size:var(--font-size-body);text-transform:capitalize;}
.color-item span {color:var(--gray400);}

@media (--breakpoint-small) {
}



// .color-group {}
// .color-group .color-skeleton {@include avatar-large;}
// .color-gray000 {@include avatar-large;border:var(--border100);background:var(--gray0);}
// .color-gray100 {@include avatar-large;background:var(--gray100);}
// .color-gray200 {@include avatar-large;background:var(--gray200);}
// .color-gray400 {@include avatar-large;background:var(--gray400);}
// .color-gray600 {@include avatar-large;background:var(--gray600);}
// .color-gray800 {@include avatar-large;background:var(--gray800);}
// .color-red100 {@include avatar-large;background:var(--red100);}
// .color-red800 {@include avatar-large;background:var(--red800);}
// .color-green100 {@include avatar-large;background:var(--green100);}
// .color-green800 {@include avatar-large;background:var(--green800);}
// .color-gold {@include avatar-large;background:gold;}
// .color-elevation {@include avatar-large;background:var(--gray0);box-shadow:var(--shadow400);}
// .color-gradient {@include avatar-large;background-image:linear-gradient(106deg,var(--red800),var(--color-primary));}

.token-item-text {@include avatar-huge;font-weight:bold;color:var(--gray800);position:absolute;right:1rem;top:1rem;}