/* // ! text-heading-medium / text-heading-small */

/* // utilities */
@define-mixin truncate {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
@define-mixin truncate-multi {
  /* // height:3rem;
  // white-space:normal;word-wrap:break-word; */
  /* overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical; */
}

/* reset */
h1, h2, h3, p {
  margin: 0;
  line-height: var(--font-line-height-large);
}

.text {
  /* color for toggling theme */
  color: var(--color-text);
}

[data-variant=display] {
  font-size: 64px;
  line-height: 1;
  font-weight: var(--font-weight-bold);
}

.text[data-variant=title] {
  font-size:var(--font-size-huge);
  font-weight:var(--font-weight-bold);
  line-height:var(--font-line-height);
  color:var(--color-text);
}
.text[data-variant=subhead] {
  /* // 단독으로 쓰이지 않음 */
  /* TODO 단독으로 쓰일 때 아바타의 이름 */
  line-height: var(--font-line-height);
  font-size:var(--font-size-large);
  font-weight:var(--font-weight-bold);
  color: var(--color-text);
}
.text[data-variant=subhead] + .text[data-variant=body] {
  display: block;
  margin: var(--space-after-subhead) 0 0;
}

.text[data-variant=subhead] + .text[data-variant=body] + .test[data-variant=body-bold] {
  display: block;
  margin: var(--space-after-subhead) 0 2rem;
}

.text[data-variant=body] {
  max-width: 540px;
  line-height: var(--font-line-height-large);
  font-weight: var(--font-weight-normal);
}

.text[data-variant=body-bold] {
  font-weight: var(--font-weight-bold);
}

.text[data-variant=body-large] {
  font-size:var(--font-size-large);
  line-height: var(--font-line-height-large);
  font-weight: var(--font-weight-normal);
}

.text[data-variant=label] {
  /* text-transform: uppercase;
  letter-spacing: .5px; */
  font-size:var(--font-size-medium);
  font-weight:var(--font-weight-normal);
  /* line-height: var(--size-small); */
  line-height: var(--font-line-height);
  color:var(--color-text-light);
}

.text[data-variant=caption] {
  font-size: var(--font-size-small);
}

.text[data-variant=word] {
  font-size: var(--font-size-medium);
  line-height: var(--font-line-height);
}
.text[data-variant=word-strong] {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height);
}
.text[data-variant=word-weak] {
  font-size: var(--font-size-medium);
  line-height: var(--font-line-height);
  color: var(--color-text-light);
}
.text[data-variant=word-large] {
  font-size: var(--font-size-large);
  line-height: var(--font-line-height);
}

.util-truncate {
    height:3rem;
  white-space:normal;word-wrap:break-word;
  overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;
}


.text[data-variant=body][data-truncated] {
  height:3rem;
  white-space:normal;word-wrap:break-word;
  overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;
}