/* // ! text-heading-medium / text-heading-small */

/* // utilities */
@define-mixin truncate {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
@define-mixin truncate-multi {
  /* // height:3rem;
  // white-space:normal;word-wrap:break-word; */
  /* overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical; */
}

/* reset */
h1, h2, h3, p {
  margin: 0;
  line-height: var(--font-line-height-large);
}

h1, h2, h3, h4, h5, h6 {}
p {}

[data-variant=display] {
  font-size: 64px;
  line-height: 1;
  font-weight: var(--font-weight-bold);
}

.text[data-variant=title] {
  line-height: var(--line-height);
  font-size:var(--font-size-huge);
  font-weight:var(--font-weight-bold);
  line-height:var(--font-line-height);
  color:var(--color-text);
}
.text[data-variant=subhead] {
  /* // 단독으로 쓰이지 않음 */
  /* TODO 단독으로 쓰일 때 아바타의 이름 */
  line-height: var(--line-height);
  font-size:var(--font-size-large);
  font-weight:var(--font-weight-bold);
  color: var(--color-text);
}
.text[data-variant=subhead] + .text[data-variant=body] {
  display: block;
  margin: var(--space-after-subhead) 0 0;
}

.text[data-variant=subhead] + .text[data-variant=body] + .test[data-variant=body-bold] {
  display: block;
  margin: var(--space-after-subhead) 0 2rem;
}



.text[data-variant=body] {
  max-width: 640px;
  line-height: 1.715;
}

.text[data-variant=body-bold] {
  /* line-height: 24px; */
  font-weight: var(--font-weight-bold);
}

.text[data-variant=body-large] {
  /* TODO 항상 title과 쓰이는 디스크립션일까? */
  max-width: 800px;
  margin: var(--space-after-title) 0 0;
  font-size:var(--font-size-large);
  line-height: 32px;
}

.text[data-variant=label] {
  /* text-transform: uppercase;
  letter-spacing: .5px; */
  font-size:var(--font-size-medium);
  font-weight:var(--font-weight-normal);
  color:var(--color-text-light);
}

.text[data-variant=caption] {
  font-size: var(--font-size-small);
}

test-text[variant=body] + test-text[variant=body] {
  color: var(--color-text-light);
}

test-text[variant=body] + test-text[variant=subhead] {
  display: block;
  margin: 2rem 0 0 0;
}

.util-truncate {
    height:3rem;
  white-space:normal;word-wrap:break-word;
  overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;
}