<main class="component">
  <article class="article">
    <test-text variant="title">Entity</test-text>
    <test-text variant="body-large">
      분류. bottom nav item, icon button with label, user(entity huge). icon button vertical
      horizontal label이 박스 위 안에 있나 밖에 있나. 슬롯을 써도 그것은 결국 컴포넌트에서
      일회성으로 이루어지는 것이기 때문에 공통 아이콘 요소는 슬롯으로 가는 것이 어떨까.
    </test-text>
    <test-text variant="body-large">
      icon button과 칩을 분리. 아이콘 버튼이 variant를 갖고 레이블이 노출된 형태. 하지만 이건
      person/story랑은 또 구별되네
    </test-text>

    <section class="component-example">
      <test-group alignment="vertical">
        <test-entity
          size="huge"
          label="이거 subhead는 형태이고 name은 역할인데."
          description="list로 사용할 때 maxWidth"
          description2="description area2."
        >
          <test-avatar slot="avatar" size="huge" variant="secondary"></test-avatar>
        </test-entity>
        <p>
          TODO ??? ICON BUTTON ??? 지금의 문제는 아이콘 버튼이 없고, 칩으로 대체하기 때문에 이걸
          표현하기가 어렵다.
        </p>
        <button
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            gap: var(--space-1);
            background-color: crimson;
            border: none;
            font: inherit;
          "
        >
          <test-icon
            slot="avatar"
            size="large"
            name="share-ios"
            style="font-size: 1.5rem"
          ></test-icon>
          <small>공유하기</small>
        </button>
        <button
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            gap: var(--space-1);
            background-color: crimson;
            border: none;
            font: inherit;
          "
        >
          <test-icon
            slot="avatar"
            size="large"
            name="share-ios"
            style="font-size: 1.5rem"
          ></test-icon>
          <small>공유하기</small>
        </button>

        <test-text variant="body">
          <mark>페이지 레벨</mark> 정보의 주체. 단독으로 사용. 클릭할 수 있는 요소가 아니라 페이지를
          대표하는 요소, 시각 정보로만 동작한다. 왜냐하면 이미 해당 페이지의 타이틀 롤이기 때문.
        </test-text>
        <test-tile>
          <test-entity label="windows-emoji" description="tag page head">
            <test-avatar slot="avatar" variant="secondary" size="huge">#</test-avatar>
          </test-entity>
        </test-tile>
        <br /><br />
        <test-text variant="body"
          >다수의 유저 목록을 표현. 또는 <mark>아티클 레벨</mark> 정보의 주체. 피드 등에서
          사용하는.</test-text
        >
        <test-tile size="small">
          <test-menuitem label="수줍이">
            <test-avatar slot="avatar">
              <i class="iconoir-github-circle"></i>
            </test-avatar>
            <test-chip slot="action">팔로우</test-chip>
          </test-menuitem>
        </test-tile>
        <!-- class="social-link social-github"
  role="menuitem"
  href="https://github.com/soojubm"
  target="_blank"
  rel="noopener noreferrer" -->
      </test-group>
    </section>
  </article>

  <article class="article">
    <test-text variant="title">Links</test-text>
    <test-text variant="body-large"
      >사용자 여정 목적지. 페이지 이동. destination that can be bookmarked. 정보 확장 기능은 따로
      정의해야 함.</test-text
    >

    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd title="">Anchor</dd>
    </dl>

    <section class="component-example">
      <p style="display: flex; flex-wrap: wrap; gap: var(--spae-2)">
        형무소 안에서는 소장의 말이 곧 법이었으며 죄수들의 잘못과 실수는 결코 용납되지 않는다.
        어머니의 사망 소식을 듣고 인해 2번이나 탈옥을 시도했다가 체포된
        <test-link href="#">루크</test-link>의 발에 쇠통이 채워지며 루크는…
        <test-link href="#">더 보기</test-link>
      </p>
      <br />
      <test-group variant="tag">
        <test-tag variant="hashtag">이것은헤시태그</test-tag>
        <test-tag variant="hashtag">해시태그는클릭할수있다?</test-tag>
        <test-tag variant="hashtag">해시태그를통한검색</test-tag>
      </test-group>
      <test-separator></test-separator>
      <p>
        <button
          style="display: flex; align-items: center; gap: 0.5rem; color: var(--color-primary)"
        >
          View More <test-icon name="nav-arrow-down"></test-icon>
        </button>
        <button
          style="display: flex; align-items: center; gap: 0.5rem; color: var(--color-primary)"
        >
          View Less <test-icon name="nav-arrow-up"></test-icon>
        </button>
      </p>
    </section>

    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>style</dt>
        <dd>'inside' | 'outside'</dd>
        <dd>
          단락 내부와 외부에서의 형태를 구분합니다. 단락 내부에서는 본문 텍스트와 대비를 높이기 위해
          언더라인을 표시합니다. 불필요해보이는 규칙.
        </dd>
        <dt>href?</dt>
        <dd>string</dd>
        <dd>NNNNN</dd>
        <dt>isExternal<attr>?</attr></dt>
        <dd>boolean</dd>
        <dd>속성들... target=_blank rel=noopener noreferrer</dd>
      </dl>
    </section>

    <section class="component-guide">
      <test-text variant="subhead">Use do</test-text>
      <test-text variant="body"
        >text button과의 차이. Link는 항상 텍스트 단락과 함께 사용합니다. 버튼은 단독으로 쓰이거나
        버튼의 그룹으로 쓰인다.</test-text
      >
    </section>
  </article>

  <article class="article">
    <test-text variant="title">임시 Badges</test-text>
    <test-text variant="body-large">
      Badges. 사실 뱃지로 퉁치기 어려움. 아바타와 바텀 네비게이션 등 특정 컴포넌트 의존성이 있어
      통합된 형태가 아니면 뱃지 컴포넌트를 정의하지 않는 것이 좋다.. notification / status /
      informational (tag 느낌)
    </test-text>
    <test-text variant="body-large">
      Badges show the count of some adjacent data. A dot badge notifies the user that something is
      new or updated without showing a count.
    </test-text>
    <section class="component-guide">
      <test-text variant="body-bold">activity bar counter (vs code) </test-text>
      <test-text variant="body-bold">Dot. New/Red badge (status)</test-text>
      <test-text variant="body-bold">Dot. Live badge (status)</test-text>
      <test-text variant="body-bold">Dot. Unread badge (status)</test-text>
      <test-text variant="body-bold">Counter badge (quantity)</test-text>
    </section>

    <section class="component-example">
      <test-group variant="tag">
        <style>
          .dot-badge {
            display: inline-flex;
            width: 0.5rem;
            height: 0.5rem;
            /* padding: var(--space-1); */
            margin-right: var(--space-2);
            background: crimson;
            border-radius: 50%;
          }
        </style>
        <em class="dot-badge"></em>
        <test-badge variant="primary">24</test-badge>
        <test-badge variant="secondary">16</test-badge>
        <test-badge>8</test-badge>
      </test-group>
    </section>
  </article>

  <article class="article">
    <test-text variant="title">Select</test-text>
    <test-text variant="body-large">input shape와 chip shape</test-text>
    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd title="">dropdown</dd>
      <dd title="">Picker</dd>
      <dd title="shopify">Choice list</dd>
      <dd title="shopify">Action list</dd>
    </dl>

    <section class="component-example">
      <div class="textfield">
        <label class="textfield-label" for="select1">셀렉트 레이블</label>
        <select class="textfield-input" id="select1">
          <option value="option1">Choose an option</option>
        </select>
        <test-icon name="nav-arrow-down" class="textfield-suffix"></test-icon>
      </div>
    </section>

    <section class="component-props">
      <dl>
        <dt>options</dt>
        <dd>Option[]</dd>
        <dd></dd>
        <dt>label - option label과 혼동될 수도</dt>
        <dd>string</dd>
        <dd></dd>
        <dt>selectedValue</dt>
        <dd>Option.value</dd>
        <dd></dd>
        <dt>onChange - handleSelectChange</dt>
        <dd>(event: React.FormEvent[HTMLSelectElement]) => void</dd>
        <dd></dd>
      </dl>
    </section>

    <section class="component-guide">
      <blockquote>
        <ul>
          <li>
            제품의 초기 단계에서는 native select와 dropdown을 함께 가져갈 필요가 있나. native
            select는 모바일 사용성이 좋고 초기 구축이 쉽다. 그러나 제품 또는 제품 개발 과정이 궤도에
            올라왔을 때는 일정 수준의 컴포넌트가 확보되어 있을 것이기 때문. naming select / width /
            input bar(google font)
          </li>
          <li>레이블 클릭해도 셀렉트가 열리지 않기 때문에 id prop 불필요.</li>
        </ul>
      </blockquote>
      <test-text variant="subhead">Best practices</test-text>
      <ul>
        <li>
          셀렉트 옵션의 텍스트 길이에 맞춰 너비가 조절된다. indicator를 position으로 넣고 옵션에
          말줄임표를 넣어야.
        </li>
        <li>
          다중 선택(combobox)을 셀렉트로 제공하지 마세요. 가 아니라 애초에 콤보박스라는 컴포넌트
          정의가 안 되어 있음. chip group으로 선택 옵션을 풀어서 제공하세요. 너무 많은 선택에서는
          콤보박스가 필요. 하지만 그냥 모달 등의 새로운 뷰로 대체하는 게 모바일 친화적.
        </li>
        <li>
          memo. 레이블을 포함하는 형태. select 엘리먼트가 아니라 부모 엘리먼트에 컨테이너 스타일링이
          필요하고, 클릭 영역까지 지정해야 했다. 그리고 드롭다운으로 구현해야 한다.
        </li>
      </ul>
      var selected = Array.from(dnd.options).filter((option) => { return option.selected;
      }).map((option) => option.value);
    </section>
  </article>

  <div
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2rem 0;
      padding: 0.5rem 2rem;
      border: var(--border);
      border-radius: 50px;
    "
  >
    <figure style="width: 48px; height: 48px; border-radius: 50%; border: var(--border)"></figure>
    <test-text variant="subhead">
      You can download this product with the All-Access Pass.
    </test-text>
    <test-button variant="primary">Get All-Access</test-button>
  </div>

  <section class="textbox" style="margin: 4rem var(--grid-margin); position: relative">
    <test-group
      data-e="menu"
      class="textbox-toolbar"
      style="width: max-content; position: absolute; top: var(--space-1); left: var(--space-1)"
    >
      <test-chip icon="bold" class="textbox-toolbar-bold"></test-chip>
      <test-chip icon="italic" class="textbox-toolbar-italic"></test-chip>
    </test-group>
    <div
      class="textbox-view"
      role="textbox"
      contenteditable="true"
      aria-placeholder=""
      aria-labelledby=""
      style="padding: 48px var(--space-2) var(--space-1)"
    >
      <h1
        class="textbox-view-heading"
        style="margin: 0 0 var(--space-4) 0; color: var(--color-text-light)"
      >
        제목
      </h1>
      <div class="textbox-view-bdoy" style="color: var(--color-text-light)">
        제목 / 내용 선택 영역에 is-selected
      </div>
    </div>
    <footer class="textbox-footer">
      <button class="textbox-footer-publish">게시</button>
    </footer>
  </section>

  <!-- https://story.pxd.co.kr/1451 -->
  <p>loading state/dfn/abbr</p>
  https://material.io/design/interaction/states.html

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">File Uploader</test-text>
    <test-text variant="body-large">프로필 사진 또는 이미지 업로드.</test-text>
    <section class="component-example">
      <form class="file" method="" enctype="multipart/form-data">
        <b class="file-title">프로필 사진</b>
        <div class="file-upload">
          <test-button variant="primary">사진 업로드. 여기로 드래그 하셔도 되어요.</test-button>
          <!-- //  accept=".jpg,.png" capture="camera" -->
          <input class="file-input js-file-input visually-hidden" type="file" id="file2" multiple />
          <label class="file-label visually-hidden" for="file2"
            >사진 업로드. 여기로 드래그 하셔도 되어요.</label
          >
          <p class="file-helper"><small>Only .jpg and .png files. 500kb max file size.</small></p>
        </div>
        <div class="file-attachment">
          <b class="file-attachment-title">첨부한 파일</b>
          <p class="file-attachment-helper js-file-attachment-helper" role="status">
            No files currently selected for upload.
          </p>
          <section class="file-attachment-list js-file-attachment-list"></section>
        </div>
      </form>
    </section>
  </article>

  <!-- // Chris said Marcus replied -->

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Carousel</test-text>
    <test-text variant="body-large">작성 중.</test-text>
    <p>aka. carousel, slider</p>
    <p>
      -webkit-appearance: slider-vertical slider<br />CSS 속성에서 사용하기 때문에 slider보다
      carousel로 명명하는 것이 더 좋음. input type="range" 형태를 slider 또는 stepper로 명명하기도.
    </p>
    <p>https://web.dev/carousel-best-practices/</p>
    <p><b>block</b> -> inline / font-size: 0</p>
    <p><b>flex</b> -> block + min-width</p>
    <p>scroll-behavior: smooth</p>
    <section class="component-example">
      <section class="carousel js-carousel">
        <nav style="display: flex; gap: var(--space-3)" role="tablist">
          <test-entity description="추가">
            <test-avatar slot="avatar" size="huge" fallback="+"></test-avatar>
          </test-entity>
          <test-entity description="공유하기" data-index="keyword">
            <test-avatar slot="avatar" size="huge" fallback="🌏"></test-avatar>
          </test-entity>
          <test-entity description="키워드목록">
            <test-avatar slot="avatar" size="huge" fallback="💀"></test-avatar>
          </test-entity>
          <test-entity description="주문 아이템">
            <test-avatar slot="avatar" size="huge" fallback="🍔"></test-avatar>
          </test-entity>
        </nav>
        <nav class="carousel-arrows">
          <test-chip
            variant="back"
            icon="arrow-left"
            class="carousel-arrows-prev js-carousel-prev"
            aria-label="이전"
          >
          </test-chip>
          <test-chip
            variant="back"
            icon="arrow-right"
            class="carousel-arrows-next js-carousel-next"
            aria-label="다음"
          >
          </test-chip>
        </nav>
        <test-group class="carousel-viewer js-carousel-viewer">
          <test-entity size="huge" label="폴 뉴먼" description="주연">
            <test-avatar
              slot="avatar"
              variant="tertiary"
              size="huge"
              src="/public/images/springsteen.jpg"
            ></test-avatar>
          </test-entity>
          <test-entity size="huge" label="폴 뉴먼" description="주연">
            <test-avatar
              slot="avatar"
              size="huge"
              src="/public/images/springsteen.jpg"
            ></test-avatar>
          </test-entity>
        </test-group>
        <!-- <nav class="carousel-dots">
                <button class="carousel-dots-dot">1</button>
                <button class="carousel-dots-dot">1</button>
                <button class="carousel-dots-dot">1</button>
              </nav> -->
      </section>
      <!-- data-scroll="vertical" -->
    </section>

    <ul>
      <li>서드파티 라이브러리를 사용하지 마세요.</li>
      <li>터치 제스쳐를 지원하지 않는 환경에서는 arrow 버튼을 제공하세요.</li>
      <!-- // todo 가로 스크롤 패턴 -->
    </ul>
  </article>

  <article class="article">
    <test-text variant="title">Range</test-text>
    <test-text variant="body-large"></test-text>
    <section class="component-example">
      <div class="range">
        <label for="">숙박 인원</label>
        <input type="range" min="1" max="10" value="2" step="any" list="tickmarks" id="myRange" />
        <datalist id="tickmarks">
          <option value="0" label="0"></option>
          <option value="5" label="5"></option>
        </datalist>
      </div>
    </section>
  </article>

  <article class="article">
    <test-text variant="title">Calendar</test-text>
    <test-text variant="body-large"></test-text>
    <section class="component-example">
      <div class="calendar">
        <b>2020년 12월</b>
        <nav class="calendar-navigation">
          <button class="calendar-navigation-prev" aria-label="앞으로">
            <i class="icon-caret is-left"></i>
          </button>
          <button class="calendar-navigation-next" aria-label="뒤로">
            <i class="icon-caret is-right"></i>
          </button>
        </nav>
        <div class="calendar-head">
          <div>일</div>
          <div>월</div>
          <div>화</div>
          <div>수</div>
          <div>목</div>
          <div>금</div>
          <div>토</div>
        </div>
        <div class="calendar-body">
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
        </div>
      </div>
    </section>
  </article>

  <article class="article">
    <label for="cb1-edit">레이블</label>
    <!-- a11y combobox -->
    <input
      type="text"
      aria-activedescendant="cb1-opt1"
      aria-readonly="true"
      aria-owns="cb1-list"
      aria-autocomplete="list"
      aria-label="label"
      id="cb1-edit"
    />
    <ul aria-expanded="true" role="listbox" id="cb1-list">
      <li role="option" id="cb1-opt1">Alabama</li>
      <li role="option" id="cb1-opt2">Alaska</li>
      <li role="option" id="cb1-opt3">American Samoa</li>
    </ul>

    <p>ID <span id="output-element"></span></p>
    <p>텍스트 <span id="output-text"></span></p>
    <form>
      <label for="ta-example-one">레이블</label>
      <textarea id="ta-example-one" rows="3" cols="40">
  텍스트 영역 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, lorem a porttitor molestie, odio nibh iaculis libero, et accumsan nunc orci eu dui.</textarea
      >
      <label for="ta-example-two">레이블</label>
      <textarea id="ta-example-two" rows="3" cols="40">
  텍스트 영역 2. Fusce ullamcorper, nisl ac porttitor adipiscing, urna orci egestas libero, ut accumsan orci lacus laoreet diam. Morbi sed euismod diam.</textarea
      >
    </form>

    <test-menuitem data-size="large" style="margin-bottom: var(--space-3)">
      <test-avatar></test-avatar>
      <span class="item-description">관심사가 비슷한 사용자</span>
      <h2 class="item-name">Gyeongsoo I</h2>
      <!-- <button class="item-action"><span class="item-action-label">팔로우</span></button> -->
    </test-menuitem>

    <test-tile>
      <test-text variant="subhead">Senior Front-end Developer</test-text>
      <test-group>
        <test-tag>Full-Time</test-tag>
        <test-tag>Korea</test-tag>
        <test-tag>Remote friendly</test-tag>
      </test-group>
      <test-chip>View Job</test-chip>
    </test-tile>

    <section>
      <test-textfield label="임시" placeholder="you@gamil.com">
        <test-icon slot="prefix" name="mail"></test-icon>
      </test-textfield>
      <test-tile variant="elevated" size="small">
        <test-menuitem label="Add the member" style="max-width: 50%">
          <test-avatar slot="avatar" icon="plus"> </test-avatar>
        </test-menuitem>
      </test-tile>
    </section>

    <test-separator></test-separator>

    <p>TeeVee</p>
    <p>icon-indicator (textfield-check/select indicator) - inline or float: right</p>
    <p>
      Note: Make sure the role of the element that serves as the container for the popup content is
      a menu, listbox, tree, grid or dialog and that the value of aria-haspopup matches the role of
      the popup container.
    </p>

    <div class="file-attachment-item" style="max-width: var(--width-medium)">
      <figure class="file-attachment-item-image">
        <img src="/public/images/springsteen.jpg" alt="${file.name}" />
      </figure>
      <b class="file-attachment-item-name">${file.name}</b>
      <small class="file-attachment-item-size">${returnFileSize(file.size)}</small>
      <test-chip icon="xmark" class="file-attachment-item-delete js-remove-this"> </test-chip>
    </div>

    <!-- ! flex-wrap: warp일 때 min-width가 fixed -->
    <!-- ! width:100% and max-width doesnt' work-->
    <br />

    <test-tile>
      <q>
        I'm impressed by how GitHub Copilot seems to know exactly what I want to type next. GitHub
        Copilot is particularly helpful when working on React components, where it makes eerily
        accurate predictions. GitHub Copilot has become an indispensable part of my programmer
        toolbelt.
      </q>
      <figcaption style="margin: var(--space-3) 0 0 0; color: var(--color-text-light)">
        Byline
      </figcaption>
    </test-tile>
  </article>

  <section style="display: flex; justify-content: center; gap: 2rem; margin: 0 var(--grid-margin)">
    <div
      class=""
      style="
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-image: url('../../../public/images/springsteen.jpg');
        background-size: cover;
        position: relative;
      "
    >
      <h3
        class="quote-title"
        style="
          color: #fff;
          background: #000;
          display: inline-block;
          color: #fff;
          position: relative;
          z-index: 1;
        "
      >
        Cool Hand Luke
      </h3>
      <br />
      <cite
        class="quote-byline"
        style="
          color: #fff;
          background: #000;
          display: inline-block;
          margin-top: 0;
          position: relative;
          z-index: 1;
        "
      >
        <div class="quote-byline-name" style="color: #fff; position: relative">
          Bruce Springsteen
        </div>
        <time class="quote-byline-job" style="color: #fff; position: relative">1967</time>
      </cite>
      <div
        style="
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5),
            rgb(0, 0, 0.75)
          );
          height: 128px;
          z-index: 0;
          border-radius: var(--radius);
        "
      ></div>
    </div>

    <div
      style="
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-image: url('../public/images/prometheus.jpg');
        background-size: cover;
        position: relative;
      "
    >
      <h3
        class="quote-title"
        style="
          color: #fff;
          background: #000;
          display: inline-block;
          color: #fff;
          position: relative;
          z-index: 1;
        "
      >
        프로메테우스
      </h3>
      <br />
      <cite
        class="quote-byline"
        style="
          color: #fff;
          background: #000;
          display: inline-block;
          margin-top: 0;
          position: relative;
          z-index: 1;
        "
      >
        <div class="quote-byline-name" style="color: #fff; position: relative">리들리 스콧</div>
        <time class="quote-byline-job" style="color: #fff; position: relative">2012, 미국</time>
      </cite>
    </div>
  </section>
</main>
