<main class="page">
  <article class="article">
    <mm-text variant="title">Entity</mm-text>
    <mm-text variant="body-large">
      분류. bottom nav item, icon button with label, user(entity huge). icon button vertical
      horizontal label이 박스 위 안에 있나 밖에 있나. 슬롯을 써도 그것은 결국 컴포넌트에서
      일회성으로 이루어지는 것이기 때문에 공통 아이콘 요소는 슬롯으로 가는 것이 어떨까.
    </mm-text>
    <mm-text variant="body-large">
      icon button과 칩을 분리. 아이콘 버튼이 variant를 갖고 레이블이 노출된 형태. 하지만 이건
      person/story랑은 또 구별되네
    </mm-text>

    <blockquote>
      이걸 제품이 없는 상황에서 미리 정의해두려는 시도 자체가 바보같은 짓. 도메인에 맞게 작은 단위의
      컴포넌트를 조합해서 쓰면 됨. 하지만 세로 형태의 아이콘과 레이블 조합된 컴포넌트는 정의해면
      좋겠다. 칩과 아이콘 버튼과 중복되는 역할.
    </blockquote>

    <!-- TODO categoryButton / personItem 이것은 결국 칩으로 퉁치기에는 강조될 필요가 있는 것. 칩을 고집하지말기. -->

    <section class="component-example">
      <mm-group alignment="vertical">
        <mm-text variant="body">
          <mark>페이지 레벨</mark> 정보의 주체. 단독으로 사용. 클릭할 수 있는 요소가 아니라 페이지를
          대표하는 요소, 시각 정보로만 동작한다. 왜냐하면 이미 해당 페이지의 타이틀 롤이기 때문.
        </mm-text>
        <mm-tile>
          <mm-entity
            label="windows-emoji"
            description="tag page head"
            description2="description area2."
          >
            <mm-avatar slot="avatar" variant="secondary" size="huge">#</mm-avatar>
          </mm-entity>
        </mm-tile>

        <p>
          TODO ??? ICON BUTTON ??? 지금의 문제는 아이콘 버튼이 없고, 칩으로 대체하기 때문에 이걸
          표현하기가 어렵다.
        </p>
        <button
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            gap: var(--space-1);
            border: none;
            background-color: #fff;
            font: inherit;
          "
        >
          <mm-avatar slot="avatar" size="large" icon="share-ios"></mm-avatar>
          <small>공유하기</small>
        </button>
        <button
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            gap: var(--space-1);
            padding: var(--space-1) var(--space-3);
            border: var(--border);
            border-radius: var(--radius);
            background-color: transparent;
            font: inherit;
          "
        >
          <mm-icon slot="avatar" size="large" name="share-ios" style="font-size: 1.5rem"></mm-icon>
          <small>공유하기</small>
        </button>
        <br /><br />
        <mm-text variant="body-bold">바이라인Byline</mm-text>
        <mm-text variant="body">다수의 유저 목록을 표현. 피드 등에서 사용하는.</mm-text>
        <mm-tile size="small">
          <mm-menuitem label="수줍이">
            <mm-avatar slot="avatar">
              <i class="iconoir-github-circle"></i>
            </mm-avatar>
            <mm-chip slot="action">팔로우</mm-chip>
          </mm-menuitem>
        </mm-tile>
        <!-- class="social-link social-github"
  role="menuitem"
  href="https://github.com/soojubm"
  target="_blank"
  rel="noopener noreferrer" -->
      </mm-group>
    </section>
  </article>

  <article class="article">
    <mm-text variant="title">Links</mm-text>
    <mm-text variant="body-large"
      >사용자 여정 목적지. 페이지 이동. destination that can be bookmarked. 정보 확장 기능은 따로
      정의해야 함.</mm-text
    >

    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd title="">Anchor</dd>
    </dl>

    <section class="component-example">
      <p>
        형무소 안에서는 소장의 말이 곧 법이었으며 죄수들의 잘못과 실수는 결코 용납되지 않는다.
        어머니의 사망 소식을 듣고 인해 2번이나 탈옥을 시도했다가 체포된
        <mm-link href="#">루크</mm-link>의 발에 쇠통이 채워지며 루크는…
        <mm-link href="#">더 보기</mm-link>
      </p>
      <div style="height: var(--space-3)"></div>
      <mm-group variant="tag">
        <mm-tag variant="hashtag">이것은헤시태그</mm-tag>
        <mm-tag variant="hashtag">해시태그는클릭할수있다?</mm-tag>
        <mm-tag variant="hashtag">해시태그를통한검색</mm-tag>
      </mm-group>
      <mm-separator></mm-separator>
      <p>
        <button
          style="display: flex; align-items: center; gap: 0.5rem; color: var(--color-primary)"
        >
          View More <mm-icon name="nav-arrow-down"></mm-icon>
        </button>
        <button
          style="display: flex; align-items: center; gap: 0.5rem; color: var(--color-primary)"
        >
          View Less <mm-icon name="nav-arrow-up"></mm-icon>
        </button>
      </p>
      <mm-separator></mm-separator>
      <a href="#" style="color: var(--color-text); font-weight: bold">더보기</a>
    </section>

    <section class="component-props">
      <mm-text variant="subhead">Props</mm-text>
      <dl>
        <dt>variant</dt>
        <dd>'inside' | 'outside'</dd>
        <dd>
          단락 내부와 외부에서의 형태를 구분합니다. 단락 내부에서는 본문 텍스트와 대비를 높이기 위해
          언더라인을 표시합니다. 불필요해보이는 규칙.
        </dd>
        <dt>href?</dt>
        <dd>string</dd>
        <dd>NNNNN</dd>
        <dt>isExternal<attr>?</attr></dt>
        <dd>boolean</dd>
        <dd>속성들... target=_blank rel=noopener noreferrer</dd>
      </dl>
    </section>

    <section class="component-guide">
      <blockquote>
        <ul class="checklist">
          <li>
            Link가 문단과 함께 사용되면 line-height-large가 되어야 한다. 링크가 word와 함께 사용될
            수 있는가? 블라블라? + ~하기 패턴.
          </li>
        </ul>
      </blockquote>
      <mm-text variant="subhead">Use do</mm-text>
      <mm-text variant="body"
        >text button과의 차이. Link는 항상 텍스트 단락과 함께 사용합니다. 버튼은 단독으로 쓰이거나
        버튼의 그룹으로 쓰인다.</mm-text
      >
    </section>
  </article>

  <div
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2rem 0;
      padding: 0.5rem 2rem;
      border: var(--border);
      border-radius: 50px;
    "
  >
    <figure style="width: 48px; height: 48px; border-radius: 50%; border: var(--border)"></figure>
    <mm-text variant="subhead"> You can download this product with the All-Access Pass. </mm-text>
    <mm-button variant="primary">Get All-Access</mm-button>
  </div>

  <section class="textbox" style="margin: 4rem var(--grid-margin); position: relative">
    <mm-group
      data-e="menu"
      class="textbox-toolbar"
      style="width: max-content; position: absolute; top: var(--space-1); left: var(--space-1)"
    >
      <mm-chip icon="bold" class="textbox-toolbar-bold"></mm-chip>
      <mm-chip icon="italic" class="textbox-toolbar-italic"></mm-chip>
    </mm-group>
    <div
      class="textbox-view"
      role="textbox"
      contenteditable="true"
      aria-placeholder=""
      aria-labelledby=""
      style="padding: 48px var(--space-2) var(--space-1)"
    >
      <h1
        class="textbox-view-heading"
        style="margin: 0 0 var(--space-4) 0; color: var(--color-text-light)"
      >
        제목
      </h1>
      <div class="textbox-view-bdoy" style="color: var(--color-text-light)">
        제목 / 내용 선택 영역에 is-selected
      </div>
    </div>
    <footer class="textbox-footer">
      <button class="textbox-footer-publish">게시</button>
    </footer>
  </section>

  <!-- https://story.pxd.co.kr/1451 -->
  <p>loading state/dfn/abbr</p>

  <article class="article js-observer js-scrollspy-section">
    <mm-text variant="title">File Uploader</mm-text>
    <mm-text variant="body-large">프로필 사진 또는 이미지 업로드.</mm-text>
    <section class="component-example">
      <form class="file" method="" enctype="multipart/form-data">
        <mm-text variant="body">프로필 사진</mm-text>
        <div class="file-upload">
          <mm-button variant="primary">사진 업로드. 여기로 드래그 하셔도 되어요.</mm-button>
          <!-- //  accept=".jpg,.png" capture="camera" -->
          <input class="file-input js-file-input visually-hidden" type="file" id="file2" multiple />
          <label class="file-label visually-hidden" for="file2"
            >사진 업로드. 여기로 드래그 하셔도 되어요.</label
          >
          <p class="file-helper"><small>Only .jpg and .png files. 500kb max file size.</small></p>
        </div>
        <div class="file-attachment">
          <b class="file-attachment-title">첨부한 파일</b>
          <p class="file-attachment-helper js-file-attachment-helper" role="status">
            No files currently selected for upload.
          </p>
          <section class="file-attachment-list js-file-attachment-list"></section>
        </div>
      </form>
    </section>
  </article>

  <article class="article">
    <mm-text variant="title">Range</mm-text>
    <mm-text variant="body-large"></mm-text>
    <section class="component-example">
      <div class="range">
        <label for="">숙박 인원</label>
        <input type="range" min="1" max="10" value="2" step="any" list="tickmarks" id="myRange" />
        <datalist id="tickmarks">
          <option value="0" label="0"></option>
          <option value="5" label="5"></option>
        </datalist>
      </div>
    </section>
  </article>

  <article class="article">
    <mm-text variant="title">Calendar</mm-text>
    <mm-text variant="body-large"></mm-text>
    <section class="component-example">
      <div class="calendar">
        <b>2020년 12월</b>
        <nav class="calendar-navigation">
          <button class="calendar-navigation-prev" aria-label="앞으로">
            <i class="icon-caret is-left"></i>
          </button>
          <button class="calendar-navigation-next" aria-label="뒤로">
            <i class="icon-caret is-right"></i>
          </button>
        </nav>
        <div class="calendar-head">
          <div>일</div>
          <div>월</div>
          <div>화</div>
          <div>수</div>
          <div>목</div>
          <div>금</div>
          <div>토</div>
        </div>
        <div class="calendar-body">
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
        </div>
      </div>
    </section>
  </article>

  <article class="article">
    <label for="cb1-edit">레이블</label>
    <mm-menuitem data-size="large" style="margin-bottom: var(--space-3)">
      <mm-avatar></mm-avatar>
      <span class="item-description">관심사가 비슷한 사용자</span>
      <h2 class="item-name">Gyeongsoo I</h2>
      <!-- <button class="item-action"><span class="item-action-label">팔로우</span></button> -->
    </mm-menuitem>

    <section>
      <mm-textfield label="임시" placeholder="you@gamil.com">
        <mm-icon slot="prefix" name="mail"></mm-icon>
      </mm-textfield>
    </section>

    <mm-separator></mm-separator>

    <p>TeeVee</p>
    <p>icon-indicator (textfield-check/select indicator) - inline or float: right</p>
    <p>
      Note: Make sure the role of the element that serves as the container for the popup content is
      a menu, listbox, tree, grid or dialog and that the value of aria-haspopup matches the role of
      the popup container.
    </p>

    <div class="file-attachment-item" style="max-width: var(--width-medium)">
      <figure class="file-attachment-item-image">
        <img src="/public/images/springsteen.jpg" alt="${file.name}" />
      </figure>
      <b class="file-attachment-item-name">${file.name}</b>
      <small class="file-attachment-item-size">${returnFileSize(file.size)}</small>
      <mm-chip icon="xmark" class="file-attachment-item-delete js-remove-this"> </mm-chip>
    </div>

    <!-- ! flex-wrap: warp일 때 min-width가 fixed -->
    <!-- ! width:100% and max-width doesnt' work-->
    <br />

    <mm-tile>
      <q>
        I'm impressed by how GitHub Copilot seems to know exactly what I want to type next. GitHub
        Copilot is particularly helpful when working on React components, where it makes eerily
        accurate predictions. GitHub Copilot has become an indispensable part of my programmer
        toolbelt.
      </q>
      <figcaption style="margin: var(--space-3) 0 0 0; color: var(--color-text-light)">
        Byline
      </figcaption>
    </mm-tile>
  </article>

  <section style="display: flex; justify-content: center; gap: 2rem; margin: 0 var(--grid-margin)">
    <div
      class=""
      style="
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-image: url('../../../public/images/springsteen.jpg');
        background-size: cover;
        position: relative;
      "
    >
      <h3
        class="quote-title"
        style="
          color: #fff;
          background: #000;
          display: inline-block;
          color: #fff;
          position: relative;
          z-index: 1;
        "
      >
        Cool Hand Luke
      </h3>
      <br />
      <cite
        class="quote-byline"
        style="
          color: #fff;
          background: #000;
          display: inline-block;
          margin-top: 0;
          position: relative;
          z-index: 1;
        "
      >
        <div class="quote-byline-name" style="color: #fff; position: relative">
          Bruce Springsteen
        </div>
        <time class="quote-byline-job" style="color: #fff; position: relative">1967</time>
      </cite>
      <div
        style="
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5),
            rgb(0, 0, 0.75)
          );
          height: 128px;
          z-index: 0;
          border-radius: var(--radius);
        "
      ></div>
    </div>

    <div
      style="
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-image: url('../public/images/prometheus.jpg');
        background-size: cover;
        position: relative;
      "
    >
      <h3
        class="quote-title"
        style="
          color: #fff;
          background: #000;
          display: inline-block;
          color: #fff;
          position: relative;
          z-index: 1;
        "
      >
        프로메테우스
      </h3>
      <br />
      <cite
        class="quote-byline"
        style="
          color: #fff;
          background: #000;
          display: inline-block;
          margin-top: 0;
          position: relative;
          z-index: 1;
        "
      >
        <div class="quote-byline-name" style="color: #fff; position: relative">리들리 스콧</div>
        <time class="quote-byline-job" style="color: #fff; position: relative">2012, 미국</time>
      </cite>
    </div>
  </section>
</main>
