<footer class="footer" role="contentinfo" style="padding-top:2rem;">
  <!-- <div class="skeleton-screen"></div> -->
  <div class="footer-background"></div>
  <aside class="footer-scroll" style="display:none;">
    <p class="footer-scroll-indicator" aria-hidden="true" hidden>스크롤하세요</p>
    <!-- <button class="footer-scroll-bottom js-to-bottom">아래로</button> -->
    <button class="footer-scroll-top js-to-top"><i class="icon-arrow"></i> <b hidden aria-hidden="true">맨위로</b></button>
  </aside>
  <address class="footer-address">
    <span class="footer-address-logo">🐤</span>
    <p class="footer-address-slogan">
      부끄러우니까 보지마요.
    </p>
    <div class="footer-address-info">
      사업자등록번호: 888-88-88888<i class="icon-bullet"></i>통신판매업신고번호: 2018-서울강서구-1234<i class="icon-bullet"></i>주소: 서울시 강서구
      화곡로 1818, 3층<i class="icon-bullet"></i>대표이사: 수줍이<i class="icon-bullet"></i>대표전화: 02-1234-5678<i class="icon-bullet"></i>팩스:
      02-5678-1234
      <!-- <abbr title="phone"></abbr> -->
    </div>
    <small class="footer-copyright" role="copyright"
      >© 2019 soojubm. All rights Reserved.
      <p>
        이 제작물은 아모레퍼시픽의 아리따글꼴을 사용하여 디자인 되었습니다.
      </p>
    </small>
  </address>
</footer>
