<footer class="footer" role="contentinfo">
  <!-- <div class="skeleton-screen"></div> -->
  <div class="footer-background"></div>
  <nav class="footer-temp">
    <a href="#">Home</a>
    <a href="#">Design Tokens</a>
    <a href="#">Components</a>
    <a href="#">Changelog</a>
  </nav>
  <nav class="footer-temp">
    <a route="/design" href="#profile">User Profile</a>
    <a route="/design" href="#login">Sign In</a>
    <a route="/design" href="#signup">Sign Up</a>
    <a route="/design" href="#forgot">비밀번호찾기</a>
    <a route="/design" href="#settings">Settings</a>
    <a route="/design" href="#post">Post</a>
    <a route="/design" href="#product">상품</a>
    <a route="/design" href="#cart">Cart</a>
    <a route="/design" href="#checkout">Checkout</a>
    <!-- <a route="/design" href="#orders">주문</a> -->
    <!-- <a route="/design" href="#event">프로모션(draft)</a> -->
    <a route="/design" href="#cake">상세</a>
    <!-- <a route="/design" href="#" onClick="javascript:alert('준비 중이니 기다려주세요!')">대시보드</a> -->
    <!-- <a href="#terms">약관</a> -->
  </nav>

  <!-- <div class="footer-address-info">
    <span>사업자등록번호: 888-88-88888</span>
    <i class="icon-bullet"></i>
    <span>대표: 수줍이</span>
    <br />
    <span>서울시 강서구 까치산로 182, 1028호</span>
    <i class="icon-bullet"></i>
    <span>대표전화: 02-1234-5678</span>
    <br />
    <span>통신판매업신고번호: 2018-서울강서구-1234</span>
    <span>팩스: 02-5678-1234</span>
    <abbr title="phone"></abbr>
  </div> -->
  <small class="footer-copyright" role="copyright">© 2019 soojubm. All rights Reserved. </small>
  <small>이 제작물은 아모레퍼시픽의 아리따글꼴을 사용하여 디자인 되었습니다.</small>
  <!-- <address class="footer-address">
    <p class="footer-address-slogan">
      부끄러우니까 보지마요
    </p>
  </address> -->

  <aside class="footer-scroll" style="margin:1.5rem 0 0 0;">
    <p class="footer-scroll-indicator" aria-hidden="true" hidden>스크롤</p>
    <!-- <button class="footer-scroll-bottom js-to-bottom">아래로</button> -->
    <button class="footer-scroll-top js-to-top"><i class="icon-arrow"></i> <b hidden aria-hidden="true">맨위로</b></button>
  </aside>
</footer>
