<nav class="sitemap">
  <div class="sitemap-background"></div>
  <h1 class="sitemap-title" hidden aria-hidden="true">
    하단 사이트맵
  </h1>
  <div class="sitemap-item">
    <h2 class="sitemap-item-title">사이트맵 컴포넌트</h2>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
  </div>
  <div class="sitemap-item">
    <h2 class="sitemap-item-title">사이트맵 컴포넌트</h2>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
  </div>
  <div class="sitemap-item">
    <h2 class="sitemap-item-title">사이트맵 컴포넌트</h2>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
    <a class="sitemap-item-link" href="#">사이트맵 컴포넌트 샘플</a>
  </div>
  <div class="sitemap-item">
    <h2 class="sitemap-item-title" title="or Regal">사이트맵 컴포넌트</h2>
    <a class="sitemap-item-link" href="#">서비스이용약관</a>
    <a class="sitemap-item-link" href="#"><strong>개인정보취급방침</strong></a>
  </div>
</nav>
