<main class="page">
  <mm-pageheader
    title="Avatar"
    description="개체(유저, 회사, 프로젝트 등)를 대표하는 시각 정보입니다. 정보 더미의 주체로서 인접한 정보
  더미 중 최상위 위계(시각적인 위계가 아님)를 갖습니다."
  ></mm-pageheader>

  <section class="component-example">
    <mm-group variant="">
      <mm-avatar variant="secondary" size="huge" default="true" badge="true"></mm-avatar>
      <mm-avatar size="huge" default="true" badge="true" badge></mm-avatar>
      <mm-avatar size="large" default="true" default="true" badge="true"></mm-avatar>
      <mm-avatar size="medium" default="true" fallback="수" badge="true"></mm-avatar>
      <mm-avatar size="small" default="true"> </mm-avatar>
    </mm-group>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">interface Props</mm-text>
    <dl>
      <dt>variant</dt>
      <dd>'primary' | 'secondary'</dd>
      <dt>src<abbr>?</abbr></dt>
      <dd>string</dd>
      <dt>size</dt>
      <dd>'huge' | 'large' | 'medium' | 'small'</dd>
      <dt>badge<abbr>?</abbr></dt>
      <dd>'unread' | 'new' | 'live'</dd>
      <dt>icon</dt>
      <dd>iconNameType?</dd>
      <dt>src</dt>
      <dd>string</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text variant="body"> fallback 정의 </mm-text>
      <mm-text variant="body"> border color. rgba</mm-text>
      <mm-text variant="body">
        variant. user와 company 등 다른 개체를 대표하는 아바타를 radius로 구분하는 방법.</mm-text
      >
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">Platform problems</mm-text>
      <mm-text variant="body">아웃라인 아바타는 클릭할 수 없다.</mm-text>
      <mm-text variant="body"> medium과 small은 두 줄의 TextPair와 함께 사용할 수 없다. </mm-text>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">AvatarGroup</mm-text>
      <mm-text variant="body">maximum avatar</mm-text>
      <mm-tile>
        <mm-group variant="avatar">
          <mm-avatar size="medium" default="true"></mm-avatar>
          <mm-avatar size="medium" default="true"></mm-avatar>
          <mm-avatar size="medium" default="true"></mm-avatar>
          <mm-avatar size="medium">+3</mm-avatar>
        </mm-group>
      </mm-tile>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">User</mm-text>
      <mm-text variant="body">composed component</mm-text>
      <mm-tile> User name={} description={string | React.ReactNode} avatarProps={} </mm-tile>
    </mm-text-group>
    <mm-text-list
      texts='[
        "단독으로 쓰일 때는 aria-label이 필요할 수 있고, 텍스트와 함께 쓰일 때의 menuitem 같은 컴포넌트.,
        "제품이 없는 상황에서 디테일을 정의하려 하지 말자. 실무에서는 도메인에 맞게 작은 단위의 컴포넌트를 조합하는 도메인 컴포넌트가 필요하다.",
      ]'
    ></mm-text-list>
  </section>

  <div style="display: flex; gap: var(--space-4)">
    <mm-avatar size="huge" src="/public/images/springsteen.jpg"> </mm-avatar>
    <mm-test-group>
      <mm-text variant="subhead">제목의 영역</mm-text>
      <mm-text variant="body">Facebook 안팎의 모든 사람</mm-text>
      <mm-group variant="chip">
        <mm-tag variant="hashtag">React</mm-tag>
        <mm-tag variant="hashtag">Java</mm-tag>
        <mm-tag variant="hashtag">Phython</mm-tag>
      </mm-group>
    </mm-test-group>
  </div>
</main>
