<main class="page">
  <mm-pageheader
    title="Avatar"
    description="개체(유저, 회사, 프로젝트 등)를 대표하는 시각 정보입니다. 정보 더미의 주체로서 인접한 정보
  더미 중 최상위 위계(시각적인 위계가 아님)를 갖습니다."
  ></mm-pageheader>

  <section class="component-example">
    <mm-group variant="">
      <mm-avatar variant="secondary" size="huge" default="true" badge="true"></mm-avatar>
      <mm-avatar size="huge" default="true" badge="true" badge></mm-avatar>
      <mm-avatar size="large" default="true" default="true" badge="true"></mm-avatar>
      <mm-avatar size="medium" default="true" fallback="수" badge="true"></mm-avatar>
      <mm-avatar size="small" default="true"> </mm-avatar>
    </mm-group>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">interface Props</mm-text>
    <dl>
      <dt>variant</dt>
      <dd>'primary' | 'secondary'</dd>
      <dt>src<abbr>?</abbr></dt>
      <dd>string</dd>
      <dt>size</dt>
      <dd>'huge' | 'large' | 'medium' | 'small'</dd>
      <dt>badge<abbr>?</abbr></dt>
      <dd>'unread' | 'new' | 'live'</dd>
      <dt>icon</dt>
      <dd>iconNameType?</dd>
      <dt>src</dt>
      <dd>string</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text variant="body"> fallback 정의 </mm-text>
      <mm-text variant="body"> 텍스트의 정렬 정의</mm-text>
      <mm-text variant="body"> border color. rgba</mm-text>
      <mm-text variant="body">
        variant. user와 company 등 다른 개체를 대표하는 아바타를 radius로 구분하는 방법.</mm-text
      >
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">Platform problems</mm-text>
      <mm-text variant="body">아웃라인 아바타는 클릭할 수 없다.</mm-text>
      <mm-text variant="body"> medium과 small은 두 줄의 TextPair와 함께 사용할 수 없다. </mm-text>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">AvatarGroup</mm-text>
      <mm-text variant="body">maximum avatar</mm-text>
      <mm-tile>
        <mm-group variant="avatar">
          <mm-avatar size="medium" default="true"></mm-avatar>
          <mm-avatar size="medium" default="true"></mm-avatar>
          <mm-avatar size="medium" default="true"></mm-avatar>
          <mm-avatar size="medium">+3</mm-avatar>
        </mm-group>
      </mm-tile>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">User</mm-text>
      <mm-text variant="body">composed component</mm-text>
      <mm-tile> User name={} description={string | React.ReactNode} avatarProps={} </mm-tile>
    </mm-text-group>
    <mm-text-list
      texts='[
        "단독으로 쓰일 때는 aria-label이 필요할 수 있고, 텍스트와 함께 쓰일 때의 menuitem 같은 컴포넌트.,
        "제품이 없는 상황에서 디테일을 정의하려 하지 말자. 실무에서는 도메인에 맞게 작은 단위의 컴포넌트를 조합하는 도메인 컴포넌트가 필요하다.",
      ]'
    ></mm-text-list>
  </section>

  <section class="component-case">
    <div style="display: flex; gap: var(--space-4)">
      <mm-avatar size="huge" src="/public/images/springsteen.jpg"> </mm-avatar>
      <mm-test-group>
        <mm-text variant="subhead">제목의 영역</mm-text>
        <mm-text variant="body">Facebook 안팎의 모든 사람</mm-text>
        <mm-group variant="chip">
          <mm-tag variant="hashtag">React</mm-tag>
          <mm-tag variant="hashtag">Java</mm-tag>
          <mm-tag variant="hashtag">Phython</mm-tag>
        </mm-group>
      </mm-test-group>
    </div>
    <mm-tile>
      <mm-menuitem label="수줍이" description="Youtube subscriber">
        <mm-avatar slot="avatar" default="true"></mm-avatar>
      </mm-menuitem>
      <div style="margin: var(--space-2) 0 0">
        <mm-text variant="body">
          Sometimes at night, I find myself behind the computer. When I finally blink, a mess of
          code is drawing random structures on the screen. I spend the rest of the night staring.
        </mm-text>
      </div>
      <div style="margin-block: 1rem">
        <mm-group variant="button">
          <mm-keyvalue key="팔로워" value="62" alignment="inline"></mm-keyvalue>
          <i class="icon-bullet"></i>
          <mm-keyvalue key="팔로잉" value="8" alignment="inline"></mm-keyvalue>
        </mm-group>
      </div>
      <mm-tile variant="tile" size="small">
        <mm-text>🥺 수줍이님을 팔로우하고 있는 친구가 없습니다.</mm-text>
      </mm-tile>
    </mm-tile>
    <mm-tile variant="elevated">
      <div style="display: flex; gap: 1rem">
        <mm-avatar size="huge" variant="secondary" default="true"></mm-avatar>
        <mm-group style="flex-direction: column; gap: var(--space-2)">
          <div>
            <mm-text variant="label">Top User</mm-text>
            <mm-text variant="subhead">수줍이</mm-text>
          </div>
          <div>
            <mm-text variant="label">Daily Purchase</mm-text>
            <mm-text variant="subhead">10 Items</mm-text>
          </div>
        </mm-group>
      </div>
      <mm-separator></mm-separator>
      <mm-keyvalue key="Total New Users" value="5.9K" alignment="vertical"></mm-keyvalue>
      <mm-tag>8.2% 상승</mm-tag>
      <mm-tile variant="elevated" size="small" style="margin: 1rem 0">
        <mm-group variant="avatar">
          <mm-avatar size="small" default="true"></mm-avatar>
          <mm-avatar size="small" default="true"></mm-avatar>
          <mm-avatar size="small" default="true"></mm-avatar>
          <mm-avatar size="small" default="true"></mm-avatar>
          <mm-text style="margin-left: var(--space-2)"> Followed by 수줍이 외 4명 </mm-text>
        </mm-group>
      </mm-tile>
      <mm-text class="mutiual">
        내가 팔로우하는 사용자 중에는 팔로워가 없습니다. (twitter)
      </mm-text>
    </mm-tile>
  </section>
</main>
