<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <!-- <test-titlebar heading="이전 페이지로">
      <test-icon slot="back" name="arrow-left"></test-icon>
    </test-titlebar> -->
    <header>
      <!-- <test-avatar fallback=" " size="large">
        <test-icon slot="icon" name="user"></test-icon>
      </test-avatar> -->
      <test-text variant="title">Avatars</test-text>
      <test-text variant="body-large">
        개체(유저, 회사, 프로젝트 등)를 대표하는 시각 정보입니다. 정보 더미의 주체로서 인접한 정보
        더미 중 최상위 위계<span hidden>(시각적인 위계가 아님)</span>를 갖습니다.
      </test-text>
    </header>
    <section class="component-example">
      <test-group temp="vertical">
        <test-avatar size="huge" badge="true"></test-avatar>
        <test-avatar variant="secondary" size="huge" badge="true"></test-avatar>
        <test-avatar size="large" badge="true"></test-avatar>
        <test-avatar size="medium" fallback="수" badge="true"></test-avatar>
        <test-avatar size="small"> </test-avatar>
      </test-group>
    </section>

    <!-- <div style="margin-top: 0; margin-bottom: 2rem; display: flex; gap: var(--space-3); font-size: 12px; color: var(--color-primary)">
      <a class="hashtag" label="Size Token">#Size Token</a>
      <a class="hashtag" label="Icon">#Icon</a>
      <a class="hashtag" label="Image">#Image</a>
      <a class="hashtag" label="Radius Token">#Radius Token</a>
      <a class="hashtag" label="Background Weak">#Background Token</a>
      <a class="hashtag" label="Badge Component">#Badge Component</a>
    </div> -->

    <!-- <div>
      <table style="font-size: 12px">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>container</td>
            <td></td>
          </tr>
          <tr>
            <td>content</td>
            <td>이미지, 텍스트, 아이콘, 이모지를 포함할 수 있습니다.</td>
          </tr>
        </tbody>
      </table>
    </div> -->

    <section class="component-props">
      <!-- <test-text variant="body-large" style="margin-top: 0">Props</test-text> -->
      <dl>
        <dt>variant</dt>
        <dd>'primary' | 'secondary'</dd>
        <dd></dd>
        <dt>name</dt>
        <dd>string</dd>
        <dd>avatar name? label?</dd>
        <dt>src<abbr>?</abbr></dt>
        <dd>string</dd>
        <dd>링크일 수도 링크가 아닐 수도 있다. variant 대체 가능?</dd>
        <dt>size</dt>
        <dd>"huge" | "large" | "medium" | "small"</dd>
        <dd>TODO. 페이지, 섹션, 아티클 각 레벨에서 용법이 제한됨.</dd>

        <dt>badge<abbr>?</abbr></dt>
        <dd>"unread" | "new" | "live"</dd>
        <dd>TODO. 합성 컴포넌트에서 상세하게 정의 ?? badgeSlot ?? badge에 숫자가 포함될 수도.</dd>

        <dt>fallback?</dt>
        <dd>"string" | "image?"</dd>
        <dd>예시. 유저 닉네임의 첫 알파벳. 달걀 이미지. 기본값을 정의.</dd>
        <dd></dd>
      </dl>
    </section>

    <section class="component-guide">
      <test-text variant="subhead">Behavior</test-text>
      <test-text variant="body" data-temp="clickable">
        아바타 또는 아바타릂 포함하는 상위 요소(클릭을 보조하는 역할)는 항상 클릭할 수 있습니다.
      </test-text>
      <test-text variant="body">아웃라인 형태를 클릭할 수 없는 아바타로 정의 추가.</test-text>
      <test-text variant="subhead">Visual style</test-text>
    </section>

    <!-- <test-tag>groupable</test-tag> -->
    <!-- <test-text variant="subhead">아바타 그룹</test-text> -->
    <test-text variant="subhead">Use cases</test-text>
    <section class="component-case">
      <test-tile variant="elevated" size="small" style="max-width: 400px">
        <test-group style="align-items: center">
          <test-avatar-group>
            <test-avatar size="small"></test-avatar>
            <test-avatar size="small"></test-avatar>
            <test-avatar size="small"></test-avatar>
            <test-avatar size="small"></test-avatar>
          </test-avatar-group>
          <span class="avatargroup-label">Followed by 수줍이 외 4명</span>
        </test-group>
      </test-tile>
      <small class="mutiual" style="display: block; margin: var(--space-2) 0 0 0"
        >내가 팔로우하는 사용자 중에는 팔로워가 없습니다. (twitter)</small
      >
    </section>
    <section class="component-case">
      <test-card variant="elevated" style="max-width: 400px">
        <div slot="entire">
          <test-menuitem label="수줍이" description="Youtube subscriber">
            <test-avatar slot="avatar"></test-avatar>
          </test-menuitem>
          <div
            class="statistic"
            data-size="small"
            style="justify-content: left; margin: var(--space-2) 0 0 0"
          >
            <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
              <i class="statistic-label">팔로워</i>
              <span class="statistic-value">62</span>
            </div>
            <i class="icon-bullet"></i>
            <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
              <i class="statistic-label">팔로잉</i>
              <span class="statistic-value">8</span>
            </div>
          </div>
          <div style="margin: var(--space-2) 0 0">
            <!-- <figure>🥺</figure> -->
            <span class="avatargroup-label">🥺 수줍이님을 팔로우하고 있는 친구가 없습니다.</span>
          </div>
        </div>
      </test-card>
      <test-card variant="elevated" style="width: 400px; margin: 1rem 0 0">
        <div slot="entire">
          <div style="display: flex; gap: 1rem">
            <test-avatar size="huge" variant="secondary"></test-avatar>
            <div
              class="statistic"
              style="gap: var(--space-2); flex-direction: column; justify-content: left"
            >
              <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
                <i class="statistic-label">Top User</i>
                <span class="statistic-value">Bruce Springsteen</span>
              </div>
              <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
                <i class="statistic-label">Daily Purchase</i>
                <span class="statistic-value">10 Items</span>
              </div>
            </div>
          </div>
          <test-separator></test-separator>
          <test-group style="align-items: center; width: 400px">
            <test-avatar-group>
              <test-avatar size="small"></test-avatar>
              <test-avatar size="small"></test-avatar>
              <test-avatar size="small"></test-avatar>
              <test-avatar size="small"></test-avatar>
            </test-avatar-group>
            <span class="avatargroup-label">Followed by 수줍이 외 4명</span>
          </test-group>
        </div>
      </test-card>
    </section>

    <!-- <li>icon button, icon indicator, entity avatar, menu item avatar(icon)</li> -->
    <!-- <li>memeo. medium. 이하의 크기는 디스크립션을 제공하지 않는다. 항상 align-items:center.</li> -->
    <!-- <li>pagination item은 chip과 같은 size token을 사용하지만 chip도 avatar도 아닙니다.</li> -->
    <!-- <p>아바타만 단독으로 사용하는 케이스. space-after-avatar가 필요하지 않음.</p> -->
  </article>
</main>
