<main class="page">
  <mm-text-group>
    <mm-text variant="title">Select</mm-text>
    <mm-text variant="body-large">
      input shape와 chip shape. select를 직접 스타일링 하지 않고, 시각적으로 숨겨서 사용하라. 형태를
      갖는 컴포넌트는 시각적으로 나타나며 이것을 variantion
    </mm-text>
    <p>TODO mm-select. class="textfield</p>
  </mm-text-group>
  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd title="">dropdown</dd>
    <dd title="">Picker</dd>
    <dd title="shopify">Choice list</dd>
    <dd title="shopify">Action list</dd>
  </dl>

  <section class="component-example">
    <div class="select" style="width: fit-content; position: relative">
      <mm-button>칩 형태 셀렉트</mm-button>
      <select
        id="select1"
        style="opacity: 0; position: absolute; left: 0; right: 0; top: 0; bottom: 0"
      >
        <option value="option1">Choose an option</option>
      </select>
    </div>
    <mm-separator></mm-separator>
    <div class="select" style="max-width: 300px; position: relative">
      <label class="textfield-label" for="select1">셀렉트 레이블</label>
      <div
        class="textfield-input"
        data-temp="의미론적으로 숨겨야"
        style="display: flex; align-items: center; color: inherit"
      >
        인풋 셀렉트
      </div>
      <select
        id="select1"
        style="opacity: 0; position: absolute; left: 0; right: 0; top: 0; bottom: 0"
      >
        <option value="option1">Choose an option</option>
      </select>
    </div>
    <mm-separator></mm-separator>
    <div class="textfield">
      <label class="textfield-label" for="select2">셀렉트 레이블</label>
      <select class="textfield-input" id="select2">
        <option value="option1">Choose an option</option>
      </select>
      <div style="pointer-events: none" class="textfield-suffix">
        <mm-icon name="nav-arrow-down"></mm-icon>
      </div>
    </div>
  </section>

  <section class="component-props">
    <dl>
      <dt>options</dt>
      <dd>Option[]</dd>
      <dt>selectedValue</dt>
      <dd>Option[value]</dd>
      <dt>onChange</dt>
      <dd>(event: React.FormEvent&lt;HTMLSelectElement&gt;) => void</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="body">
        var selected = Array.from(dnd.options).filter((option) => { return option.selected;
        }).map((option) => option.value);
      </mm-text>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">Best practices</mm-text>
      <mm-text-list
        texts='[
        "셀렉트 옵션의 텍스트 길이에 맞춰 너비가 조절된다. indicator를 position으로 넣고 옵션에 말줄임표를 넣어야.",
        "label 클릭 시 옵션을 열지 않고 포커싱만 된다.",
        "memo. 레이블을 포함하는 형태. select 엘리먼트가 아니라 부모 엘리먼트에 컨테이너 스타일링이 필요하고, 클릭 영역까지 지정해야 했다. 그리고 드롭다운으로 구현해야 한다.",
        "다중 선택(combobox)을 셀렉트로 제공하지 마세요. 가 아니라 애초에 콤보박스라는 컴포넌트 정의가 안 되어 있음. chip group으로 선택 옵션을 풀어서 제공하세요. 너무 많은 선택에서는 콤보박스가 필요. 하지만 그냥 모달 등의 새로운 뷰로 대체하는 게 모바일 친화적."
      ]'
      >
      </mm-text-list>
    </mm-text-group>
  </section>
</main>

<!-- <input type="text" inputmode="numeric" pattern="[0-9]*" />
<small id="" class="textfield-helper" aria-live="assertive">pattern="[0-9]+"</small> -->
<!-- <mm-text variant="label-strong">DateRangeField / DateField</mm-text> -->
