<main class="page">
  <mm-title-with-description
    title="Select"
    description="셀렉트와 드롭다운, 세그먼트 컨트롤을 어떤게 분류할 것인가"
  ></mm-title-with-description>

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd title="">dropdown</dd>
    <dd title="">Picker</dd>
    <dd title="shopify">Choice list</dd>
    <dd title="shopify">Action list</dd>
  </dl>
  <section class="component-example">
    <div style="width: 400px">
      <button-list-component
        id="button-list"
        options='[
          {"label": "Apple", "value": "apple"},
          {"label": "Banana", "value": "banana"},
          {"label": "Cherry", "value": "cherry"}
        ]'
      ></button-list-component>
    </div>
    <script>
      const buttonList = document.getElementById('button-list')

      buttonList.addEventListener('optionChange', event => {
        console.log('Selected value:', event.detail.value)
      })

      buttonList.setAttribute(
        'options',
        JSON.stringify([
          { label: 'Orange', value: 'orange' },
          { label: 'Grapes', value: 'grapes' },
        ]),
      )
    </script>
    <mm-separator></mm-separator>
    <div style="max-width: 400px">
      <mm-dropdown>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </mm-dropdown>
    </div>
    <mm-separator></mm-separator>
    <div class="select">
      <label class="textfield-label" for="select1">셀렉트 레이블</label>
      <select class="textfield-input" id="select2">
        <option value="option2">Choose an option1</option>
        <option value="option2">Choose an option2</option>
      </select>
    </div>
  </section>

  <section class="component-props">
    <dl>
      <dt>options</dt>
      <dd>Option[]</dd>
      <dt>selectedValue</dt>
      <dd>Option[value]</dd>
      <dt>onChange</dt>
      <dd>(event: React.FormEvent&lt;HTMLSelectElement&gt;) => void</dd>
    </dl>
  </section>

  <!-- var selected = Array.from(dnd.options).filter((option) => { return option.selected;
        }).map((option) => option.value); -->

  <section class="component-guide">
    <mm-text-list
      texts='[
          "다중 선택(combobox).모달이나 바텀 시트 등의 새로운 뷰로 대체하는 게 모바일 친화적.",
          "select와 action menu의 차이. selected value.",
          "label tag 클릭 시 옵션이 열리지 않고 셀렉트에 포커스만 동작한다.",
          "navtive select의 장점. 접근성, 키보드 네비게이션, 시스템 스타일 일관성 유지.",
          "indicator를 position으로 넣고 옵션에 말줄임표를 넣어야.",
          "changelog: 250203 label + select 패턴이 모던 웹에서 필요할까? "
        ]'
    >
    </mm-text-list>
  </section>
</main>
