[role=tablist] {
  --tablist-border: null;
  --tablist-background: var(--color-background-weak);

  --tab-radius: var(--radius);
  --tab-border: var(--border);
  --tab-label-color: var(--color-text-light);
  --tab-label-weight: var(--font-weight-bold);
  --tab-label-color-actived: var(--color-text)
  --tab-size: var(--size-large);

  display: flex;
  width: fit-content;
  padding: var(--space-1);
  border-radius: var(--tab-radius);
  background:var(--tablist-background);
  position: relative;
}
[role=tab] {}
[role=tabpanel][aria-hidden=false] {display:block;}
[role=tabpanel][aria-hidden=true] {display:none;}

[role=tablist][data-variant=primary] {
  --tablist-background: transparent;
  --tab-size: var(--size-large);
  border-bottom: var(--border);
}

button {
  /* // reset */
  border: 1px solid transparent;
  background: none;
  font-family: inherit;
}

.tab {
  display:flex;align-items:center;justify-content:center;
  width: 100%;
  height:var(--size-medium);
  gap: var(--space-2);
  padding: 0 var(--space-3);
  color:var(--color-text-light);
  font-weight: var(--font-weight-bold);
  position:relative;
  z-index:var(--zindex-default);

}
.tab[aria-selected=true] {
  /* border: var(--border); */
  border-radius: var(--radius);
  background:var(--color-background);
  box-shadow: var(--shadow);
  box-sizing: border-box;
  /* font-weight: var(--font-weight-bold); */
  color:var(--color-text);
}

.tab-label {padding:0 0 var(--adjust-label-line) 0;}

.tablist-indicator {display:block;height:calc(100% - .5rem);background:var(--color-background);box-shadow:var(--shadow);border-color:var(--color-background-strong);border-radius:var(--radius);position:absolute;transition:all var(--duration);}
.tablist-tab:nth-child(1)[aria-selected=true] ~ .tablist-indicator {transform: translateX(clac(70px * 1))}

.profile-display {display:flex;margin:0 0 var(--space-3) 0;}
.profile-display-title {margin:0 0 var(--space-1) 0;font-size:var(--font-size-small);}
.profile-display-button {@mixin chip;background:none;}
.profile-display-button.is-selected {background:var(--color-background-weak);}
.profile-display-button i {vertical-align:middle;}
