/* .subscribe {}
.subscribe-title {@mixin text-subhead;}
.subscribe-description {margin:var(--space-after-subhead) 0 var(--space-after-description) 0;}
.subscribe-field {}
.subscribe-submit {@mixin button-primary;width:50%;margin-top:var(--space-after-button);}
.subscribe-helper {display:block;margin:.25rem 0 0 0;font-size:var(--font-size-small);} */

.sitemap {display:flex;padding:4rem var(--grid-margin);position:relative;z-index:var(--zindex-default);}
.sitemap-background {@mixin bleeding;background:var(--color-background-weak);}
.sitemap-title {margin:0 0 1rem 0;@mixin text-subhead;}
.sitemap-item {width:25%;}
.sitemap-item-title {margin:0 0 var(--space-4) 0;font-size:var(--font-size-medium);font-weight:normal;color:var(--color-text-light);}
.sitemap-item-link {display:block;margin:var(--space-2) 0;color:var(--color-text);}
.sitemap-item-link:hover {@mixin hover-text;}

.footer {padding:2rem var(--grid-margin);position:relative;z-index:var(--zindex-default);}
.footer-background {@mixin bleeding;border-top:var(--border);}
.footer-address {}
.footer-address-logo {display:block;font-size:var(--font-size-large);filter:grayscale(100%);opacity:.5;}
.footer-address-slogan {margin:var(--space-4) 0;@mixin text-body-large;letter-spacing:.5px;}
.footer-address-info {}
.footer-address-info dt {color:var(--color-text-label)}
.footer-copyright {display:block;}

.footer-terms {}
.footer-terms-link {margin:0 1rem 0 0;}

.footer-scroll {}
.footer-scroll-indicator {}
.footer-scroll-indicator i {width:2px;height:8px;background:var(--gray800);margin:8px auto 0;animation:bounce 0.5s infinite alternate;transform:rotate(90deg);}
.footer-scroll-bottom {display:none;}


.is-opened-menu .footer {margin-left:calc(var(--width-sidemenu) + 5vw);}

@media (--small) {
	.subscribe-field {width:100%;}

	.sitemap {flex-direction: column;}
	.sitemap-item {width:100%;margin:0 0 2rem 0;}
	.sitemap-item:nth-last-child(1) {margin-bottom:0;}

	.is-opened-menu .footer {margin-left:0;}
}


.footer-temp {
	margin:var(--space-4) 0;
	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: var(--width-tiny);
		margin: var(--space-2) 0;
		position: relative;
		@mixin text-subhead;
		&:hover {@mixin hover-item;}
	}
}