.footer {
	padding:2rem var(--grid-margin);position:relative;}
.footer-background {
	margin: 0 -50vw;
	position: absolute;
	left: 50%;
	right: 50%;
	top: 0;
	bottom: 0;
	z-index: -1;
	border-top:var(--border);}
.footer-address {}
.footer-address-logo {display:block;font-size:var(--font-size-large);filter:grayscale(100%);opacity:.5;}
.footer-address-slogan {margin:var(--space-4) 0;font-size:var(--font-size-large);letter-spacing:.5px;}
.footer-address-info {display: flex;
	flex-wrap: wrap;
	column-gap: var(--space-2);}
.footer-address-info dt {color:var(--color-text-light);}
.footer-copyright {display:block;}

.footer-terms {}
.footer-terms-link {margin:0 1rem 0 0;}

.footer-scroll {}
.footer-scroll-indicator {}
.footer-scroll-indicator i {width:2px;height:8px;background:var(--gray800);margin:8px auto 0;animation:bounce 0.5s infinite alternate;transform:rotate(90deg);}
.footer-scroll-bottom {display:none;}

/* article is main TODO */
.is-menu-opened .page {margin-left:calc(var(--width-sidemenu) + var(--grid-margin) + 1rem);}
.is-menu-opened .footer {margin-left:calc(var(--width-sidemenu) + var(--grid-margin) + 1rem);}

.footer.is-observed {
	/* background:gold;transition:all .8 ease; */
}

@media (max-width: 1100px) {

	.is-menu-opened .footer {margin-left:0;}
}

.footer-temp {
	margin:var(--space-4) 0;
	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: var(--width-tiny);
		margin: var(--space-2) 0;
		position: relative;
	}
}