<footer class="footer" role="contentinfo">
  <div class="footer-background"></div>
  <figure class="footer-logo" hidden></figure>
  <article class="user" style="margin-top: -4rem; z-index: 5">
    <figure class="user-avatar" style="outline: 6px solid var(--color-background)"></figure>
    <h2 class="user-name">수줍이</h2>
    <span class="user-id">soojubm@gmail.com</span>
    <div class="user-id">82 10 3121 7045</div>
    <span class="user-job">UI Designer</span>
  </article>

  <nav class="footer-temp">
    <a href="https://soojubm.notion.site/UI-Designer-9c18f4dd39eb4181b9f9c2ee76896618" target="_blank">
      About
      <figure class="icon-indicator" role="img"><span class="material-symbols-outlined">call_made</span></figure>
    </a>
    <a href="https://github.com/soojubm" target="_blank">
      Github
      <figure class="icon-indicator" role="img"><span class="material-symbols-outlined">call_made</span></figure>
    </a>
  </nav>

  <dl class="footer-address-info">
    <dt>사업자등록번호</dt>
    <dd>888-88-88888</dd>
    <dt>대표자</dt>
    <dd>수줍이</dd>
    <dt>주소</dt>
    <dd>서울시 강서구 까치산로 182, 1028호</dd>
    <dt>대표전화</dt>
    <dd>02-1234-5678</dd>
    <dt>통신판매업신고번호</dt>
    <dd>2018-서울강서구-1234</dd>
    <abbr title="phone"></abbr>
  </dl>
  <small class="footer-copyright">© 2019 soojubm. All rights reserved.</small>
  <address class="footer-address">
    <p class="footer-address-slogan" style="font-size: var(--font-size-medium)">Making things better.</p>
  </address>

  <aside class="footer-scroll" style="margin: 1.5rem 0 0 0">
    <p class="footer-scroll-indicator" aria-hidden="true" hidden>스크롤</p>
    <button class="footer-scroll-bottom js-to-bottom" hidden>아래로</button>
    <button class="footer-scroll-top js-to-top" aria-label="맨 위로">
      <span class="material-symbols-outlined"> arrow_upward </span>
      <b hidden aria-hidden="true">맨위로</b>
    </button>
  </aside>

  <div class="footer" hidden>infinite scroll test</div>
</footer>
