<footer class="footer" role="contentinfo">
  <div class="footer-background"></div>
  <figure class="footer-logo" hidden></figure>
  <div style="margin-top: -4rem; z-index: 5">
    <test-entity label="수줍이" description="soojubm@gmail.com" description2="82 10 3121 7045">
      <test-avatar
        slot="avatar"
        size="huge"
        variant="secondary"
        style="outline: 6px solid var(--color-background)"
      ></test-avatar>
      <test-chip>팔로우</test-chip>
    </test-entity>
    <!-- <p>
      UI를 그립니다. 스타트업의 환경이나 태도에 관심이 많았습니다만 여전히 스물의 목적잃은 표본인 양 갈피를 못 잡고 프리랜서로 혼자서 일하다보니 부쩍,
      동료들과 함께 시너지를 발휘하여 문제를 해결하고 싶다는 데, 우리의 프로덕트를 함께 만들어 가고 싶다는 데 마음이 동했습니다. 나이 서른이 넘어도
      세상을, 자신을 잘 모르겠지만 그러한 마음 만은 알 것도 같습니다.
    </p> -->
  </div>

  <div style="max-width: 240px; margin: 0.75rem 0 1.5rem">
    <test-menu-group class="footer-temp">
      <test-menuitem
        label="About"
        href="https://soojubm.notion.site/UI-Designer-9c18f4dd39eb4181b9f9c2ee76896618"
        target="_blank"
      >
        <test-avatar slot="avatar" size="medium" fallback=" ">
          <test-icon slot="icon" name="people-tag"></test-icon>
        </test-avatar>
        <test-icon slot="action" name="arrow-up-right"></test-icon>
      </test-menuitem>
      <test-menuitem label="Github" href="https://github.com/soojubm" target="_blank">
        <test-avatar slot="avatar" size="medium" fallback=" ">
          <test-icon slot="icon" name="github"></test-icon>
        </test-avatar>
        <test-icon slot="action" name="arrow-up-right"></test-icon>
      </test-menuitem>
      <test-menuitem label="영화감상 목록" href="./films.html">
        <test-avatar slot="avatar" size="medium" fallback=" ">
          <test-icon slot="icon" name="movie"></test-icon>
        </test-avatar>
      </test-menuitem>
      <test-menuitem label="독서 목록" href=".//films.html">
        <test-avatar slot="avatar" size="medium" fallback=" ">
          <test-icon slot="icon" name="book"></test-icon>
        </test-avatar>
      </test-menuitem>
    </test-menu-group>
  </div>

  <dl class="footer-address-info">
    <dt>사업자등록번호</dt>
    <dd>888-88-88888</dd>
    <dt>대표자</dt>
    <dd>수줍이</dd>
    <dt>주소</dt>
    <dd>서울시 강서구 까치산로 182, 1028호</dd>
    <dt>대표전화</dt>
    <dd>02-1234-5678</dd>
    <dt>통신판매업신고번호</dt>
    <dd>2018-서울강서구-1234</dd>
    <abbr title="phone"></abbr>
  </dl>
  <small class="footer-copyright" style="display: block; margin: var(--space-3) 0 0 0"
    >© 2019 soojubm. All rights reserved.</small
  >
  <address class="footer-address" style="margin: 0.5rem 0 0 0">
    <p class="footer-address-slogan">Making things better.</p>
  </address>

  <aside class="footer-scroll" style="margin: 1.5rem 0 0 0">
    <p class="footer-scroll-indicator" aria-hidden="true" hidden>스크롤</p>
    <button class="footer-scroll-bottom js-to-bottom" hidden>아래로</button>
    <test-chip class="footer-scroll-top js-to-top" aria-label="맨 위로">
      <test-icon slot="icon" name="arrow-up"></test-icon>
    </test-chip>
  </aside>

  <div class="footer" hidden>infinite scroll test</div>
</footer>

<script>
  document.addEventListener('click', scrollToTop)
  function scrollToTop(event) {
    if (!event.target.closest('.js-to-top')) return

    event.preventDefault()
    window.scrollTo(0, 0)
  }
</script>
