<main>
  <form class="authentication signup" name="signup-foot-submit" action="" method="">
    <header class="authentication-head">
      <h3 class="authentication-head-title">Welcome<i style="font-style: italic">!</i></h3>
      <p class="authentication-head-description">
        Find your people. Engage your customers. Build your brand. Do it all with Mailchimp’s Marketing Platform. Already have an account?
        <a href="#">Log in</a>
      </p>
    </header>

    <fieldset class="authentication-fieldset required">
      <legend hidden>필수입력</legend>
      <div class="login-social">
        <button class="login-social-facebook">페이스북으로 시작 <small hidden>Sing in with Facebook</small></button>
      </div>
      <div class="login-separator" role="separator">또는</div>

      <div class="textfield is-valid">
        <label class="textfield-label" for="email">이메일</label>
        <input class="textfield-input" type="text" name="email" placeholder="soojubm@gmail.com" value="soojubm@gmail.com" id="email" />
        <small class="textfield-helper" role="alert">이메일을 입력하시와아요.</small>
        <button class="textfield-clear">
          <span class="material-symbols-outlined" style="font-size: 1rem">close</span>
        </button>
      </div>
      <div class="textfield">
        <label class="textfield-label" for="signup-password">비밀번호<abbr title="required" aria-hidden="true" hidden>*</abbr></label>
        <input
          class="textfield-input js-password-test"
          type="password"
          name="password"
          id="signup-password"
          placeholder="6자리 이상"
          autocomplete="new-password"
        />
        <button class="textfield-reveal js-view-password" type="button">비밀번호 보기</button>
        <!-- <input class="textfield-input" type="password" id="signup-password-confirm" placeholder="비밀번호 확인 (6자리 이상)" /> -->
      </div>
      <div class="textfield">
        <label class="textfield-label" for="signup-password-confirm" hidden>비밀번호 확인</label>
        <input class="textfield-input" type="password" id="signup-password-confirm" placeholder="6자리 이상" />
        <button class="textfield-reveal js-view-password" type="button">비밀번호 보기</button>
      </div>
      <!-- <div style="margin: -1rem 0 2rem; font-size: var(--font-size-small)">
        <p>비밀번호 확인 필드가 없는 경우에 써보기.</p>
        <p>One lowercase character</p>
        <p>One special character</p>
        <p>One number</p>
        <p>One special character</p>
        <p>8 characters minimum</p>
      </div> -->
      <!-- <style>
        .is-valid1 .validation1 {
          color: red;
        }
        .is-valid2 .validation2 {
          color: red;
        }
        .is-valid3 .validation3 {
          color: red;
        }
        .is-valid4 .validation4 {
          color: red;
        }
        .is-valid5 .validation5 {
          color: red;
        }
      </style> -->
    </fieldset>
    <fieldset class="authentication-fieldset optional">
      <legend hidden>선택입력</legend>
      <div class="textfield">
        <label class="textfield-label" for="username">닉네임 <small>선택입력</small></label>
        <input class="textfield-input" type="text" placeholder="수줍이" id="username" />
      </div>
      <div class="textfield-group" style="margin-top: calc(var(--space-after-textfield) * -1)">
        <div class="textfield">
          <label class="textfield-label" for="signup-birthyear">출생년도 <small>선택입력</small></label>
          <input class="textfield-input" type="password" id="signup-birthyear" placeholder="출생년도" />
        </div>
        <div class="textfield">
          <label class="textfield-label" for="signup-gender">성별 <small>선택입력</small></label>
          <select class="textfield-input" id="signup-gender">
            <option value="other">기타</option>
            <option value="women">여성</option>
            <option value="man">남성</option>
          </select>
          <span class="textfield-indicator material-symbols-outlined">arrow_drop_down</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="authentication-fieldset signup-terms">
      <legend class="signup-terms-title" hidden>약관 동의</legend>
      <!-- <strong>회원가입 시 <a href="#">이용약관</a>과 <a href="#">개인정보처리방침</a>에 동의하는 것으로 간주합니다.</strong> -->
      <!-- <div class="checkbox">
        <input type="checkbox" class="js-checkall" id="check-all" />
        <label for="check-all"><em>모두 동의합니다.</em></label>
      </div> -->
      <!-- <div class="checkbox">
        <input type="checkbox" class="js-check js-required" id="agree-terms" />
        <label for="agree-terms">이용약관 동의</label>
        <div class="signup-terms-content">
          <p>
            - 개인정보를 제공받는 자: 엔에이치엔페이코(주)<br />
            - 제공항목: 광고ID, 이용자 단말기 내 설치된 어플리케이션 정보(앱 설치·실행시각 포함)<br />
            - 제공받는 자의 개인정보 이용목적: 이용자 관심 등에 기반한 맞춤형 서비스 제공<br />
            - 제공받는자의 개인정보 보유이용기간: 수집일로부터 2년
          </p>
        </div>
      </div> -->
      <div class="checkbox">
        <input type="checkbox" class="js-check js-required" id="agree-terms" />
        <label for="agree-terms"><a href="#">서비스이용약관</a>과&nbsp;<a href="#">개인정보수집</a>에 동의</label>
        <div class="signup-terms-content">
          <p>
            - 내용1<br />
            - 내용2<br />
            - 내용3<br />
            - 내용4
          </p>
        </div>
      </div>
      <div class="checkbox">
        <input type="checkbox" class="js-check" id="check-three" />
        <label for="check-three">광고성 정보 수신 동의<small style="margin-left: 0.5rem; color: var(--color-text-light)">선택</small></label>
      </div>

      <div class="checkbox">
        <input type="checkbox" id="user-agree" />
        <label for="user-agree"
          ><strong>[웹사이트] <a href="#">이용약관</a>과 <a href="#">개인정보처리방침</a>에 동의합니다.</strong></label
        >
      </div>
    </fieldset>
    <footer class="authentication-foot">
      <button class="authentication-foot-submit" type="submit" disabled>이메일 주소로 가입</button>
    </footer>

    <footer>
      <p>©2001–2021 All Rights Reserved. Mailchimp® is a registered trademark of The Rocket Science Group. Cookie Preferences, Privacy, and Terms.</p>
    </footer>
  </form>

  <!-- <div class="text-sm" style="display:none;">
        <div class="validation1" style="display: flex; align-items: center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path>
          </svg>
          <span class="text-sm">Uppercase letter</span>
        </div>
        <div class="validation2" style="display: flex; align-items: center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path>
          </svg>
          <span class="text-sm">Lowercase letter</span>
        </div>
        <div class="validation3" style="display: flex; align-items: center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-4 h-4">
            <path
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
              fill-rule="evenodd"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="text-sm">Number</span>
        </div>
        <div class="validation4" style="display: flex; align-items: center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path>
          </svg>
          <span class="text-sm">Special character (e.g. !?&lt;&gt;@#$%)</span>
        </div>
        <div class="validation5" style="display: flex; align-items: center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path>
          </svg>
          <span class="text-sm">&gt; 7 characters</span>
        </div>
      </div> -->
</main>
<script defer>
  function onChangePhoneNumberFormat(num) {
    let update = ''
    for (var i = 0; i < num.length; i++) {
      var changed = num.charAt(i).replace('-', '')
      update += changed
    }
    return update
  }
  document.addEventListener('DOMContentLoaded', () => {
    document.addEventListener(
      'blur',
      event => {
        if (event.target.matches('.email-input')) {
          if (event.target.value == '') {
          }
        }
      },
      true,
    )
    document.addEventListener(
      'keyup',
      event => {
        if (event.target.matches('.email-input')) {
          if (event.target.value.length < 6) {
            alert('너무 짧아요')
          }
        }
      },
      true,
    )
  })
</script>

<script>
    function createCustomer() {
      let billingEmail = document.querySelector('#email').value;
      return fetch('/create-customer', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: billingEmail,
        }),
      }).then((response) => {
          return response.json()
      }).then((result) => {
        // result.customer.id is used to map back to the customer object
        // result.setupIntent.client_secret is used to create the payment method
        return result
      });
    }
  ​
    let signupForm = document.getElementById('signup-form');
  ​
    signupForm.addEventListener('submit', function (evt) {
      evt.preventDefault();
      // Create Stripe customer
      createCustomer().then((result) => {
        customer = result.customer;
      });
    });


    function showCardError(event) {
      let displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    }
</script>
