<main class="account">
  <style>
    .page-head {display: none;}
    </style>
  <header class="account-head">
    <nav class="breadcrumbs">
      <a class="breadcrumbs-item" href="/">계정</a>
      <a class="breadcrumbs-item breadcrumbs-last" href="#">개인정보</a>
    </nav>
    <h1 class="account-head-heading">개인정보</h1>
  </header>
  <section class="post-byline">
      <figure class="post-byline-avatar avatar --large"><img src="" alt=""></figure>
      <a href="#" class="post-byline-name">soojubm</a>
      <p class="post-byline-description">부끄러우니까 보지마요</p>
    </section>
  <form class="contact-form boxed-form" action="">
    <h4>회원 정보</h4>
    <p style="margin:0 0 1rem 0;">부끄러우니까 보지마요. 부끄러우니까 보지마요. 부끄러우니까 보지마요</p>
    <div class="textfield">
      <label class="textfield-label" for="">Street Number</label>
      <input class="textfield-input" type="text" value="659">
      <button class="textfield-button ghost-button">수정</button>
    </div>
    <!-- <div class="textfield" style="margin-top:-1px;border-color:crimson;z-index:1;"> -->
      <div class="textfield" style="margin-top:-1px;"> 
      <label class="textfield-label" for="">First Name</label>
      <input class="textfield-input" type="text" placeholder="이름을 입력하세요." value="이명박">
      <button class="textfield-button ghost-button">수정</button>
      <!-- <p class="textfield-helper">이름이 이상합니다. 너무 이상해요. 개 이상해요.</p> -->
    </div>
    <div class="textfield" style="margin-top:-1px;">
      <label class="textfield-label" for="">First Name</label>
      <input class="textfield-input" type="text" placeholder="이름을 입력하세요.">
    </div>
    <!-- <footer class="action" style="margin-top:1rem;">
      <button class="primary-button" type="submit">전송하기</button>
      <button class="secondary-button" type="button" style="margin-left:8px;">취소하기</button>
    </footer> -->
  </form>
  <section class="account-body">
    <!-- <h2 class="account-body-heading">프로필</h2>
    <p class="account-body-description">일부 정보가 Google 서비스를 사용하는 다른 사람에게 표시될 수 있습니다. 자세히 알아보기</p> -->
    <!-- <div>
      <small>이름</small>
      <p>수줍이</p>
      <button class="ghost-button">수정</button>
    </div>
    <div>
      <small>성별</small>
      <p>기타</p>
      <button class="ghost-button">수정</button>
    </div>
    <div>
      <small>생년월일</small>
      <p>1988년 1월 11일</p>
      <button class="ghost-button">수정</button>
    </div>
    <div>
      <small>이메일주소</small>
      <p>soojubm@gmail.com</p>
      <button class="ghost-button">수정</button>
    </div>
    <div>
      <small>전화번호</small>
      <p>+82 10 3121 7045</p>
      <button class="ghost-button">수정</button>
    </div>
    <div>
      <small>비밀번호</small>
      <p>제공되지 않음</p>
      <button class="ghost-button">수정</button>
    </div> -->
  </section>

    <style>
    .checkout {max-width:560px;margin:0 auto;padding:4rem 10% 2rem;}
    .checkout-heading {text-align:center;}
    .checkout-invoice {}
    .checkout-payment {margin:2rem 0;}
    .textfield + .textfield {margin-top:-1px;}
    .checkout-items {margin:2rem 0;}
    </style>

  
		<section class="checkout">
    <h1 class="checkout-heading">Thanks For Your order!</h1>
    <form class="checkout-invoice boxed-form" action="">
      <h4>주문 정보</h4>
      <div class="textfield">
        <label class="textfield-label" for="">주문 날짜</label>
        <input class="textfield-input" type="text" value="December 10, 2018">
      </div>
      <div class="textfield">
        <label class="textfield-label" for="">주문 번호</label>
        <input class="textfield-input" type="text" value="4016">
      </div>
      <div class="textfield">
        <label class="textfield-label" for="">구매자</label>
        <input class="textfield-input" type="text" value="수줍이">
      </div>
      <div class="textfield">
        <label class="textfield-label" for="">주소</label>
        <input class="textfield-input" type="text" value="344, Hwagok-ro, Gangseo-gu Gyeongdong Empire State 1303 Seoul, 11, 07653, KR">
      </div>
    </form>
    <form class="checkout-payment boxed-form" action="">
      <h4>결제 정보</h4>
      <!-- <p style="margin:0 0 1rem 0;">부끄러우니까 보지마요. 부끄러우니까 보지마요. 부끄러우니까 보지마요</p> -->
      <div class="textfield">
        <label class="textfield-label" for="">결제 수단</label>
        <input class="textfield-input" type="text" value="비씨카드 124-45-67880">
        <button class="textfield-button ghost-button">수정</button>
      </div>
      <!-- <footer class="action" style="margin-top:1rem;">
        <button class="primary-button" type="submit">전송하기</button>
        <button class="secondary-button" type="button" style="margin-left:8px;">취소하기</button>
      </footer> -->
    </form>
    <section class="checkout-items">
      <figure class="card-item">
        <img src="" alt="" class="avatar --medium">
        <figcaption class="card-item-name">퓨어 오렌지 주스</figcaption>
        <figcaption class="card-item-price">
          <del>19,000원</del>
          16,000원
          <em>할인율 20%</em>
        </figcaption>
      </figure>
      <figure class="card-item">
        <img src="" alt="" class="avatar --medium">
        <figcaption class="card-item-name">퓨어 오렌지 주스</figcaption>
        <figcaption class="card-item-price">
          <del>19,000원</del>
          16,000원
          <em>할인율 20%</em>
        </figcaption>
      </figure>
    </section>
    <footer class="cart-summary" style="padding-left:0;">
      <div class="cart-summary-subtotal">
        <span class="cart-summary-label">Subtotal</span>
        <b class="cart-summary-value">₩ 30,000</b>
      </div>
      <div class="cart-summary-shipping">
        <span class="cart-summary-label">Shipping</span>
        <b class="cart-summary-value">₩ 3,000</b>
      </div>
      <div class="cart-summary-discount">
        <span class="cart-summary-label">Discount</span>
        <b class="cart-summary-value">₩ 2,000</b>
      </div>
      <div class="cart-summary-total">
        <span class="cart-summary-label">Total</span>
        <b class="cart-summary-value">₩ 37,000</b>
      </div>
      <div class="cart-summary-controls">
        <button class="cart-summary-checkout secondary-button" type="button">닫기</button>
      </div>
    </footer>
</main>