<main class="account">
  <form class="contact-form boxed-form" action="">
    <h4>회원 정보</h4>
    <p style="margin:0 0 1rem 0;">부끄러우니까 보지마요. 부끄러우니까 보지마요. 부끄러우니까 보지마요</p>
    <div class="textfield">
      <label class="textfield-label" for="">Street Number</label>
      <input class="textfield-input" type="text" value="659">
      <button class="textfield-button text-button">수정</button>
      <!-- <p class="textfield-helper">이름이 이상합니다. 너무 이상해요. 개 이상해요.</p> -->
    </div>
    <footer class="action" style="margin-top:1rem;">
      <button class="primary-button" type="submit">전송하기</button>
      <button class="secondary-button" style="margin-left:8px;">취소하기</button>
    </footer>
  </form>


    <style>
    .checkout {max-width:560px;margin:0 auto;padding:4rem 10% 2rem;}
    .checkout-title {text-align:center;}
    .checkout-invoice {}
    .checkout-payment {margin:2rem 0;}
    .textfield + .textfield {margin-top:-1px;}
    .checkout-items {margin:2rem 0;}
    </style>

  
		<section class="checkout">
    <h1 class="checkout-title">Thanks For Your order!</h1>
    <form class="checkout-invoice boxed-form" action="">
      <h4>주문 정보</h4>
      <div class="textfield">
        <label class="textfield-label" for="">주문 날짜</label>
        <input class="textfield-input" type="text" value="December 10, 2018">
      </div>
    </form>
    <section class="checkout-items">
      <figure class="card-item">
        <figcaption class="card-item-name">퓨어 오렌지 주스</figcaption>
        <figcaption class="card-item-price">
          <del>19,000원</del>
          16,000원
          <em>할인율 20%</em>
        </figcaption>
      </figure>
      <figure class="card-item">
        <figcaption class="card-item-name">퓨어 오렌지 주스</figcaption>
        <figcaption class="card-item-price">
          <del>19,000원</del>
          16,000원
          <em>할인율 20%</em>
        </figcaption>
      </figure>
    </section>
</main>