<main class="search pattern js-tab" role="" aria-label="site">
  <div class="article">
    <h1 class="article-title">Actions</h1>
    <p class="article-description">작성 중</p>

    <section class="component-example">
      <div class="tile-flat"></div>
    </section>

    <h4 class="article-subhead">ShowMoreButton<span hidden>Image Button, CheckoutButton</span></h4>
    <ul style="margin-bottom: 0.5rem">
      <li>fullWidth로 사용하지 마세요. 단일 콘텐츠 또는 콘텐츠 목록보다 너비를 좁게 하여 대비를 높입니다.</li>
    </ul>
    <div class="tile-flat">
      <button class="button" data-variation="tertiary">
        Show more
        <figure class="icon-indicator" data-size="small">
          <span class="material-symbols-outlined">expand_more</span>
        </figure>
      </button>
    </div>

    <h4 class="article-subhead">Button group</h4>
    <ul>
      <li>binary choices. 최대 2개의 버튼.</li>
      <li>primary action에 먼저 포커스할 수 있어야 합니다. tab index보다 마크업 순서를 권장.</li>
      <li>fullWidth보다 fluid라는 명칭이 더 유용하다. tablist도 fluid 가능하다.</li>
      <!-- <li>toolbar 컴포넌트와 구분하기.</li> -->
    </ul>
    <div class="tile-flat">
      <div class="stack" style="max-width: var(--layout-width-tiny)">
        <button class="button" data-variation="tertiary">취소</button>
        <button class="button" data-variation="primary">저장 (confirm)</button>
      </div>
    </div>

    <div class="tile-flat">
      <div class="stack" style="max-width: var(--layout-width-tiny)">
        <button class="button" data-variation="tertiary">이전</button>
        <button class="button" data-variation="secondary">다음</button>
      </div>
    </div>

    <div class="tile-flat">
      <div class="stack" style="max-width: var(--layout-width-tiny)">
        <button class="button" data-variation="text">건너뛰기</button>
        <button class="button" data-variation="secondary">다음</button>
      </div>
    </div>
  </div>
</main>
