<main class="component">
  <section class="hero" role="banner">
    <!-- <div class="hero-background"></div> -->
    <!-- <span class="hero-eyebrow">Components</span> -->
    <!-- <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;"><span style="color:var(--color-text-light);">We 🐷</span><br />built this city.</h1> -->
    <h1 class="hero-title">Actions</h1>
    <p class="hero-description"></p>
    <!-- <p>액션과 링크의 차이를 설명하기. fluid vs fullWidth.</p> -->
    <ul>
      <li>Text Link와 Text Button의 구분</li>
    </ul>
  </section>

  <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Buttons</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Chips</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Links</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Menu Items</span></a>
    </div>
  </nav>

  <section class="component-body">

    <!-- <article class="article">
      <h1 class="article-title">Media</h1>
      <p class="article-description">카드 썸네일은 2:1. 블리딩 시 높이를 고정해야 한다.</p>
      <figure class="media">
        <img src="/public/images/springsteen.jpg" alt="">
        <figcaption></figcaption>
      </figure>
    </article> -->
    
    <!-- todo 단순 액션(팔로우 등) -->
    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Chips 🔥</h1>
      <p class="article-description">사용자 여정을 보조하는 액션입니다. 실행 페이지 내에서 사용자가 즉각적인 결과를 기대할 수 있습니다.</p>
      
      <aside class="article-aka" style="margin:0;">
        <span class="tag">a.k.a.</span>
        <span class="hashtag" title="">Tag</span>
        <span class="hashtag" title="">Pill</span>
        <span class="hashtag" title="">Badge</span>
        <span class="hashtag" title="gitlab">Token</span>
        <span class="hashtag" title="">Label</span>
      </aside>

      <!-- <h4 class="article-subhead">anatomy</h4>
      <div class="">
        <span class="article-anatomy-item">chip group</span>
        <span class="article-anatomy-item">chip aria-expanded aria-haspopup</span>
      </div>
      <ul>
        <li>icon role="label" <small class="is-optional">optional</small></li>
        <li>text label</li>
        <li>avatar <small class="is-optional">optional</small></li>
        <li>remove icon <small class="is-optional">optional</small></li>
      </ul> -->

      <!-- <h4 class="article-subhead">Props</h4> -->
      <!-- <dl>
        <dt style="width:45%;">name</dt>
        <dd style="width:45%;">string</dd>
        <dt style="width:45%;">label</dt>
        <dd style="width:45%;">string</dd>
        <dt style="width:45%;">isRemovable<attr>?</attr></dt>
        <dd style="width:45%;">boolean</dd>
        <dt style="width:45%;">onClick</dt>
        <dd style="width:45%;">function()</dd>
        <dt>isAddable / isCheckable?<attr>?</attr></dt>
        <dd>boolean</dd>
      </dl> -->

      <h4 class="article-subhead">Best practices</h4>
      <ul>
        <li>맥락이 다른 chip을 나열할 수 있습니다. 이 때 단일선택, 다중선택, 삭제여부, 펼침메뉴 등의 기표를 충분히 제공하세요.</li>
        <li>콘텐츠 정렬sorting을 위한 옵션을 chip group으로 chip을 나열하지 마세요. dropdown으로 현재 정렬 상태만 요약합니다. (bad case: 2022.04 구글 지도 바뀐 것)</li>
      </ul>

      <blockquote>
        <p>콘텐츠 필터링을 위한 칩 그룹에서, 액티브 상태에 브랜드 컬러를 쓰지 않는 경향이 있습니다. 콘텐츠 탐색이 cta이기 때문인데요.</p>
        <p>overflow menu의 trigger는 chip이지만 menulist는 시트/드롭다운/셀렉트박스/모달이 될 수 있어야 합니다. 모달이 가장 범용적. sorting/filtering 등 역할 기반 컴포넌트를 만들고 chip을 mixin.</p>
      </blockquote>

      <div class="tile-flat">
        <div class="chip-group" role="group" aria-orientation="horizontal">
          <button class="chip">
            <span class="chip-label">default</span>
          </button>
          <button class="chip is-active">
            <span class="chip-label">active</span>
          </button>
          <button class="chip" style="opacity:.5;cursor:not-allowed;" disabled>
            <span class="chip-label">disabled</span>
          </button>
          <button class="chip" style="background:var(--red100);">
            <span class="chip-label" style="color:var(--red800);">Destructive</span>
          </button>
        </div>
      </div>

      <!-- <h4 class="article-subhead">Removable</h4> -->
      <div class="tile-flat">
        <div class="chip-group" role="group">
          <button class="chip" data-property="removable">
            <span class="chip-label">removable</span>
            <figure class="chip-remove"><i class="icon-x"></i></figure>
          </button>
          <button class="chip">
            <figure class="chip-icon">🦔</figure>
            <span class="chip-label">with icon</span>
          </button>
          <button class="chip is-active">
            <figure class="chip-icon" style="background:none;"><i class="icon-check" style="border-color:var(--color-background);"></i></figure>
            <span class="chip-label" style="padding-left:0;">checkable</span>
          </button>
          <button class="dropdown-trigger js-toggle" aria-expanded="true">
            <span class="dropdown-trigger-label">expandable</span>
            <figure class="dropdown-trigger-icon"><i class="icon-caret"></i></figure>
          </button>
        </div>
      </div>
      
      <!-- <p>- addable/removable, todo: chip-icon의 hover... 결국 chip과 분리된 컴포넌트가 필요함. 역할이 다르기 때문에 괜찮음.</p> -->
      <!-- Markup(button vs radio,checkbox) -->
      <!-- <p>안드로이드: chipGroup, HorizontalScrollView, singleLine, action/entry/filter(check active)/choice</p> -->

      <h4 class="article-subhead">Roles</h4>
<!-- 
      <p>MD 기준.</p>
      <ul>
        <li>Input - removable</li>
        <li>Choice</li>
        <li>Filter with check icon</li>
        <li>Action with icon</li>
      </ul> -->
      <p style="margin:2rem 0 0;"><b>Keywords</b>. (action / search)/p>
      <div class="tile-flat">
        <div class="keywords-group" role="group">
          <a class="keywords-group-keyword" href="#components">
            <span class="keywords-keyword-label chip-label">국정감사</span>
          </a>
          <a class="keywords-group-keyword" href="#components">
            <span class="chip-label">윤석열검찰총장</span>
          </a>
          <a class="keywords-group-keyword" href="#components">
            <span class="chip-label">조국</span>
          </a>
          <a class="keywords-group-keyword" href="#components">
            <span class="chip-label">차별금지법</span>
          </a>
          <a class="keywords-group-keyword" href="#components">
            <span class="chip-label">추미매법무부장관</span>
          </a>
        </div>
      </div>

      <h4 class="article-label">Contents Filtering - Single Selection</h4>
      <div class="tile-flat">
        <div class="chip-group" role="group" aria-orientation="horizontal">
          <button class="chip js-toggle is-active">
            <span class="chip-label">전체</span>
          </button>
          <button class="chip js-toggle">
            <span class="chip-label">결제완료</span>
          </button>
        </div>
      </div>

      <h4 class="article-label">Choice - Multiple Selections</h4>
      <div class="tile-flat">
        <div class="chip-group" role="group" aria-orientation="horizontal">
          <button class="chip">
            <span class="chip-label">소설</span>
          </button>
          <button class="chip">
            <span class="chip-label">소설</span>
          </button>
        </div>
      </div>
      <!-- <p style="margin:0 0 var(--space-2) 0;color:var(--color-text-light);">selected <em>10</em> / 50</p> -->

      <h4 class="article-label">Dropdown (Overflow menu)</h4>
      <div class="tile-flat">
        <!-- // todo 마이너스 마진 때문에 하나 더  -->
        <div class="chip-group">
          <div class="dropdown">
            <button class="dropdown-trigger js-toggle" aria-expanded="true">
              <span class="dropdown-trigger-label">메뉴</span>
              <figure class="dropdown-trigger-icon"><i class="icon-caret"></i></figure>
            </button>
            <menu class="dropdown-menu" role="menu">
              <h6 class="dropdown-menu-title" hidden>Dropdown header</h6>
              <a class="dropdown-menu-link" href="#" disabled>
                프로필 관리
                <!-- -->
              </a>
              <a class="dropdown-menu-link" href="#">고객센터</a>
              <hr class="dropdown-menu-divider" />
              <a class="dropdown-menu-link" href="#">로그아웃</a>
            </menu>
          </div>
          <div class="dropdown">
            <button class="dropdown-trigger js-toggle" aria-expanded="true">
              <span class="dropdown-trigger-label" title="일행 당 인원 수">필터</span>
              <figure class="dropdown-trigger-icon"><i class="icon-caret"></i></figure>
            </button>
            <menu class="dropdown-menu" role="menu" style="padding:var(--space-3);">
              <fieldset role="radiogroup">
                <!-- <legend class="article-anatomy-title" style="margin-bottom:0;">radiogroup</legend> -->
                <div class="radio">
                  <input type="radio" id="gogo1" name="gogo" value="">
                  <label for="gogo1" title="">1~3명</label>
                </div>
                <div class="radio">
                  <input type="radio" id="gogo2" name="gogo" value="" checked>
                  <label for="gogo2" title="">3명 이상</label>
                </div>
              </fieldset>
              <footer style="margin:var(--space-2) 0 0 0;">
                <!-- <button>옵션 초기화</button> -->
                <button class="chip" style="width:100%;"><span class="chip-label">적용 / 24개 상품 보기 (airbnb)</span></button>
              </footer>
            </menu>
          </div>
          <div class="dropdown">
            <button class="dropdown-trigger js-toggle" aria-expanded="true">
              <span class="dropdown-trigger-label">정렬</span>
              <figure class="dropdown-trigger-icon"><i class="icon-caret"></i></figure>
            </button>
            <menu class="dropdown-menu" role="menu">
              <h6 class="dropdown-menu-title" hidden>Dropdown header</h6>
              <!-- // todo  -->
              <a class="dropdown-menu-link" href="#" disabled style="display:flex;justify-content:space-between;align-items:center;">
                최신순
                <i class="icon-check"></i>
              </a>
              <a class="dropdown-menu-link" href="#" disabled>최신순</a>
            </menu>
          </div>
          <div class="dropdown">
            <button class="dropdown-trigger js-toggle" aria-label="" aria-haspopup="menu" aria-expanded="false">
              <span class=""><i class="icon-more"></i></span>
            </button>
            <menu class="dropdown-menu">
              <a class="dropdown-menu-link" href="#componets">수정</a>
              <a class="dropdown-menu-link" href="#componets">삭제</a>
            </menu>
          </div>
        </div>
      </div>

      <h4 class="article-label">Dropdown controls</h4>
      <div class="tile-flat tile-elevated" style="max-width:360px;overflow:hidden;">
        <p>콘텐츠 영역</p>
        <footer class="dropdown-footer chip-group" role="group" aria-orientation="horizontal">
          <p class="dropdown-footer-question">Going?</p>
          <button class="dropdown-footer-action chip">
            <span class="chip-label">Yes</span>
            <figure class="dropdown-trigger-icon"><i class="icon-caret"></i></figure>
          </button>
          <button class="dropdown-footer-action chip">
            <span class="chip-label">No</span>
          </button>
          <button class="dropdown-footer-action chip">
            <span class="chip-label">Maybe</span>
          </button>
        </footer>
      </div>
      <aside class="article-helper">
        <p>페이지 레벨(시트/모달 등)이 될 때 액션이 더 눈에 강조되어야 한다.</p>
      </aside>

      <h4 class="article-subhead">references</h4>
      <div class="" style="display:flex;flex-wrap:wrap;">
        <a href="https://material.io/components/menus" target="_blank" style="display:block;">MD menu</a>
        <span class="icon-bullet"></span>
        <a href="https://developer.apple.com/design/human-interface-guidelines/ios/controls/pull-down-menus/" target="_blank" style="display:block;">HIG pull down menu</a>
        <span class="icon-bullet"></span>
        <a href="https://developer.android.com/reference/com/google/android/material/chip/ChipGroup" target="_blank">
          MD chip group
        </a>
      </div>
    </article>

    <!-- <p class="article-description"><em>post 페이지에서 태그와 컴포넌트에서의 태그. hashtag는 tag 컴포넌트와 역할이 다르기 때문에 별도의 컴포넌트로 만들어주어야 한다. 현재 hashtag(keyword)는 chip으로 대체. todo. 댑스가 2이상 인 케이스.</em></p> -->

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Links</h1>
      <p class="article-description">페이지를 이동하거나 요약된 콘텐츠를 확장합니다. destination that can be bookmarked</p>

      <aside class="article-aka">
        <span class="tag">a.k.a.</span>
        <span class="hashtag" title="">Anchor</span>
      </aside>

      <p>형무소 안에서는 소장의 말이 곧 법이었으며 죄수들의 잘못과 실수는 결코 용납되지 않는다. 어머니의 사망 소식을 듣고 인해 2번이나 탈옥을 시도했다가 체포된 <a class="link-inner" href="#">루크</a>의 발에 쇠통이 채워지며 루크는…<a class="more link-outer" href="#" style="margin-left:.25rem;">더 보기</a></p>
      <div style="margin-top:var(--space-3);">
        <a class="hashtag" href="">이것은헤시태그</a>
        <a class="hashtag" href="">해시태그는클릭할수있다?</a>
        <a class="hashtag" href="">해시태그는검색의맥락</a>
      </div>

      <h4 class="article-subhead">Props</h4>
      <dl>
        <dt title="a target=_blank rel=noopener noreferrer">isExternal<attr>?</attr></dt>
        <dd>boolean</dd>
      </dl>


      <h4 class="article-subhead">Best practices</h4>
      <ul>
        <li>텍스트 단락과 함께 사용합니다.</li>
        <li>텍스트 단락 내부와 외부에서의 형태를 구분합니다. 단락 내부에서는 본문 텍스트와 대비를 높이기 위해 언더라인을 추가합니다.</li>
        <li>'여기', '클릭', '확장' 등 시각에 의존한 단어로 작성하지 마세요.</li>
      </ul>

      <!-- <span class="tag">@mixin link-outer</span>
      <span class="tag">@mixin link-inner</span> -->
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Menu Item</h1>
      <p class="article-description">사용자가 수행할 수 있는 링크나 행동(작업)의 목록.</p>

      <button class="user-logout js-darkmode" title="change theme">
        <figure class="user-logout-icon"><i class="icon-moon"></i></figure>
        <span class="user-logout-label">어둡게 보기</span>
        <span class="switch" style="margin-left:auto;">
          <input type="checkbox" id="temp55" name="" role="switch" />
          <label for="temp55" style="padding-left:48px;"></label>
        </span>
      </button>
      <hr />
      <div class="sidebar-item" role="listitem">
        <figure class="sidebar-item-icon">🏹</figure>
        <span class="sidebar-item-label">entity와 구별</span>
        <span class="sidebar-item-tag tag" data-appearance="primary">새소식</span>
      </div>
      <hr />

      <button class="menu-item">
        <span class="menu-item-label">메뉴 아이템 레이블</span>
        <em class="menu-item-icon"><i class="icon-check"></i></em>
      </button>

      <h4 class="article-subhead">Memo</h4>
      <ul>
        <li>액션 타입/링크 타입/토글 타입/선택 타입</li>
        <li>dropdown에서의 형태(smaller)와 sheet/sidebar에서의 형태를 구분해야 한다.</li>
        <li>leading icon / tailing icon / badge. => props로 제공해도 되는 정보.</li>
      </ul>
    </article>

    <!-- <p>Badges show the count of some adjacent data. A dot badge notifies the user that something is new or updated without showing a count.</p> -->
    <!-- <article class="article js-observer js-scrollspy-section" >
      <h1 class="article-title">Badges</h1>
      <p class="article-description">수치</p>
      <em class="badge" data-variant="primary">24</em>
      <em class="badge" data-variant="secondary">16</em>
    </article> -->
  </section>
</main>
