<main class="search pattern js-tab" role="" aria-label="site">
  <div class="article">
    <h1 class="article-title">Actions</h1>
    <p class="article-description">작성 중</p>

    <section class="component-example">
      <div class="tile-flat"></div>
    </section>

    <h4 class="article-subhead">ShowMoreButton<span hidden>Image Button, CheckoutButton</span></h4>
    <ul style="margin-bottom: 0.5rem">
      <li>fullWidth로 사용하지 마세요. 단일 콘텐츠 또는 콘텐츠 목록보다 너비를 좁게 하여 대비를 높입니다.</li>
    </ul>
    <div class="tile-flat">
      <button class="button-tertiary">
        Show more
        <figure class="icon-indicator" data-size="small">
          <span class="material-symbols-outlined">expand_more</span>
        </figure>
      </button>
    </div>
  </div>
</main>
