<main class="component">
  <section class="hero" role="banner">
    <!-- <div class="hero-background"></div> -->
    <!-- <span class="hero-eyebrow">Components</span> -->
    <!-- <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;"><span style="color:var(--color-text-light);">We 🐷</span><br />built this city.</h1> -->
    <h1 class="hero-title">Alerts</h1>
    <p class="hero-description">keywords: attention / feedback / confirm</p>
  </section>

  <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Dialog</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Callout?</span></a>
    </div>
  </nav>

  <section class="component-body">
    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Callouts?</h1>
      <p class="article-description">시스템이나 브라우저의 상태 이상, 사용자의 행동에 피드백합니다.</p>

      <aside class="article-aka">
        <span class="tag">a.k.a.</span>
        <span class="hashtag" title="">Alert</span>
        <span class="hashtag" title="">Message</span>
        <span class="hashtag" title="">Callout</span>
        <span class="hashtag" title="">Banner</span>
        <span class="hashtag" title="">Information</span>
      </aside>
      <!-- <ul>
        <li>브라우저가 role="alert" 속성이 있는 요소를 발견 하면 즉시 사용자에게 경고 내용을 읽습니다.</li>
        <li>( + 게임에서 파티 탈퇴와 같이 직접 실행하지 않은, 시간을 특정하기 힘든 연속적인... 경우 여러 개가 필요하구나.)</li>
        <p>toast=>snackbar(withAction) - 정리하기, single line / multiple lines (head,body 텍스트)</p>
      </ul> -->

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <li>
          모든 액션에 피드백할 필요는 없습니다. (ex bad case: 인스타그램 앱에서 로그인되었다는 toast. 홈으로 이동과 피드 노출만으로 로그인 상태를
          인지할 수 있다.)
        </li>
        <li>닫기나 되돌리기와 같은 액션을 포함하지 않습니다. 액션이 필요한 경우에는 주목도가 높은 모달 형태를 사용하세요.</li>
        <li>사용자의 귀책이 아닌 경우, 단순 "오류" 대신 "시스템 오류"와 같은 용어를 사용하여 사용자가 잘못한 것처럼 느끼지 않도록 합니다.</li>
        <li>Don't show more than one at a time.</li>
        <li>사라지는 시간을 정의.</li>
      </ul>

      <h4 class="article-subhead">Editing Checklist</h4>
      <ul>
        <li>최대 2문장.</li>
      </ul>
      <!-- Icon: Informs users of the kind of notification at a glance.
      Title: Gives users a quick overview of the notification.
      Message (1optional): Provides additional detail and actionable steps for the user to take.
      Inline notification action (1optional): Ghost button that allows users to address the notification or navigates them to a page with further details.
      Close button (1optional): Closes the notification.
      Time stamp (1optional): Shows the time the toast notification was sent. -->

      <!-- <aside class="alert">
        <button class="alert-close" aria-label="close"><i class="icon-x"></i></button>
        <p class="alert-head">
          This includes the <a href="#">global HTML attributes</a>.
        </p>
        <p class="alert-body">
          <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
        </p>
      </aside> -->

      <h6 class="article-subhead">Inline</h6>
      <p role="alert" style="color:var(--red800);">비밀번호가 일치하지 않습니다.</p>

      <h6 class="article-subhead">Callouts with Toast</h6>
      <aside class="alert">
        <span class="alert-icon">🧡</span>
        <p class="alert-text">좋아요 표시한 동영상에 추가됨</p>
      </aside>
      <aside class="alert" data-temp="danger">
        <p class="alert-text" style="color:var(--gray0);">인터넷에 연결되어 있지 않습니다.</p>
        <!-- <button class="alert-close" aria-label="close alert"><i class="icon-x"></i></button> -->
      </aside>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Dialog</h1>
      <p class="article-description">
        정보나 재산이 변경 또는 삭제 전에 다시 확인할 수 있도록 환기. 사용자는 모달 형태의 집중된 환경에서(?) 리스크를 관리할 수 있습니다.
      </p>

      <aside class="article-aka" style="margin:0;">
        <span class="tag">a.k.a.</span>
        <span class="hashtag" title="">Alert</span>
        <span class="hashtag" title="">Modal</span>
      </aside>

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <li>레이어를 2개 이상 쌓지 마세요..</li>
        <li>memo: dialog의 구조: header/body/footer 단순 다이얼로그는 복잡한 구조가 필요 없지만.</li>
        <li>memo: dim엘리먼트 클릭 시 모달을 닫으면 리액트에서 구현이 쉬움</li>
      </ul>

      <h4 class="article-subhead">Editing Checklist</h4>
      <ul>
        <li>버튼의 레이블은 다이얼로그 제목의 동사와 페어링합니다.</li>
      </ul>

      <h4 class="article-subhead">anatomy</h4>
      <div class="article-anatomy is-anatomy">
        <span class="article-anatomy-item"><b>dialog</b> role aria-labelledby aria-describedby</span>
        <span class="article-anatomy-item is-nested">title</span>
        <span class="article-anatomy-item is-nested">description <small class="is-optional">optional</small></span>
        <span class="article-anatomy-item is-nested"
          >buttonGroup theme="unary(confirm) | binary(cancel/confirm) <small class="is-optional">optional</small></span
        >
      </div>
      <aside class="dialog" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description">
        <!-- <header class="dialog-head">
          <h2 class="dialog-head-title">제목</h2>
          <button class="dialog-close js-close" style="position:relative;right:auto;top:auto;" aria-label="delete"><i class="icon-x"></i></button>
        </header>
        <div class="dialog-body"></div> -->
        <h1 class="dialog-title" id="dialog-title">부끄러우니까 보지마요!</h1>
        <p class="dialog-description" id="dialog-description">다이얼로그 디스크립션입니다.</p>
        <footer class="dialog-footer">
          <button class="dialog-footer-confirm">안 볼래요</button>
          <button class="dialog-footer-cancel">볼래요</button>
        </footer>
        <button class="dialog-close js-close" aria-label="delete"><i class="icon-x"></i></button>
      </aside>
    </article>
  </section>
</main>
