<main class="component">
  <!-- <section class="hero" role="banner">
    
    <h1 class="hero-title">Actions</h1>
    <p class="hero-description">크게 action와 link로 나눈다.</p>
    <ul>
      <li>Text Link와 Text Button의 구분</li>
    </ul>
  </section> -->

  <!-- <div class="hero-background"></div> -->
  <!-- <span class="hero-eyebrow">Components</span> -->
  <!-- <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;"><span style="color:var(--color-text-light);">We 🐷</span><br />built this city.</h1> -->

  <!-- <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Buttons</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Chips</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Links</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Menu Items</span></a>
    </div>
  </nav> -->
  <article class="article js-observer js-scrollspy-section">
    <h1 class="article-title">Avatars</h1>
    <p class="article-description">개체(유저, 회사, 프로젝트 등)를 대표하는 시각 정보입니다.</p>

    <article class="tile-flat" style="display:flex;">
      <figure class="item-avatar" data-size="huge" title="huge avatar" style="width:var(--size-huge);height:var(--size-huge);border:none;">
        <span class="avatar-badge"></span>
      </figure>
      <figure class="item-avatar" data-size="large" title="large avatar">
        <span class="avatar-badge"></span>
      </figure>
      <figure class="item-avatar" data-size="medium" style="width:var(--size-medium);height:var(--size-medium);background-image:none;">
        수
      </figure>
      <figure
        class="item-avatar"
        data-size="small"
        title="small avatar"
        style="width:var(--size-small);height:var(--size-small);background-image:none;"
      >
        <i class="icon-x"></i>
      </figure>
    </article>

    <h4 class="article-subhead">Features</h4>
    <ul>
      <li>
        <b>clickable.</b>
        <div class="tile-flat" style="margin-top:var(--space-2);">
          <article class="item" data-size="huge">
            <figure class="item-avatar">
              <span class="avatar-badge"></span>
            </figure>
            <h3 class="item-name">Entity huge</h3>
            <p class="item-description">huge는 디스크립션을 2개(?) 갖습니다.</p>
            <span></span>
          </article>
          <article class="item" data-size="large">
            <figure class="item-avatar"></figure>
            <h3 class="item-name">Entity large</h3>
            <p class="item-description">large는 디스크립션을 갖습니다.</p>
          </article>
          <article class="item" data-size="medium">
            <figure class="item-avatar"></figure>
            <h3 class="item-name" style="font-weight:var(--font-weight-normal);">Entity medium</h3>
            <!-- <time>작성일</time> -->
            <!-- <button class="item-delete"><i class="icon-x"></i></button> -->
          </article>
          <article class="item" data-size="small">
            <figure class="item-avatar"></figure>
            <h3 class="item-name" style="font-weight:var(--font-weight-normal);">Entity small</h3>
          </article>
        </div>
        <aside class="article-helper">
          <p>현재 이 컴포넌트가 썸네일 카드의 역할까지 하는 상황. 참고 profile 페이지의 display button.</p>
          <p>todo. byline에서 작성일을 표기하는 경우.</p>
          <p>use case. checkout: product item / profile: user / setting: toggle item</p>
        </aside>
      </li>
      <li>
        <b>non-clickable.</b> avatar를 오른쪽에 배치.
        <article class="user tile-flat" style="margin:var(--space-2) 0 var(--space-4);text-align:left;">
          <figure class="profile-user-avatar"></figure>
          <h2 class="profile-user-name">수줍이</h2>
          <span class="profile-user-id">soojubm@gmail.com</span>
          <span class="profile-user-job">UI Designer / Frontend Engineer</span>
        </article>
      </li>
      <li>
        <b>groupable.</b> entity list on modal.
        <article class="avatargroup" style="margin:var(--space-2) 0 var(--space-4);">
          <span>Followed by</span>
          <figure>
            <img src="https://source.unsplash.com/random" alt="" />
          </figure>
          <figure>
            <img src="https://source.unsplash.com/random" alt="" />
          </figure>
          <figure>
            <img src="https://source.unsplash.com/random" alt="" />
          </figure>
          <figure>
            <img src="https://source.unsplash.com/random" alt="" />
          </figure>
          <span style="margin:0 0 0 var(--space-2);">수줍이 외 4명</span>
        </article>
      </li>
      <li>
        <b>hoverable.</b> 상세 사용자 정보.
        <article class="tile-elevated" style="margin:var(--space-2) 0 var(--space-3);">
          <article class="item" data-size="medium">
            <figure class="item-avatar"></figure>
            <h3 class="item-name">사용자이름</h3>
          </article>
          <p class="user-description" style="margin:var(--space-2) 0;">Youtube subscriber</p>
          <div class="statistic" data-size="small" style="justify-content:flex-start;margin:var(--space-2) 0 0 0;">
            <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
              <i class="statistic-label">팔로워</i>
              <span class="statistic-value">62</span>
            </div>
            <i class="icon-bullet"></i>
            <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
              <i class="statistic-label">팔로잉</i>
              <span class="statistic-value">8</span>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <h4 class="article-subhead">Best practices</h4>
    <ul>
      <li>인접한 정보 중 최상위 위계의 시각 정보입니다.</li>
      <li>이미지, 텍스트, 아이콘, 이모지를 포함합니다.</li>
      <li>fallback. username의 첫 자리 또는 egg profile</li>
      <li>pagination item은 chip과 같은 size token을 사용하지만 chip도 avatar도 아닙니다.</li>
      <li>searchfield clear button은 textfield-surfix입니다(?). chip도 avatar도 icon button도 아닙니다.</li>
    </ul>

    <blockquote>
      <p>아바타만 단독으로 사용하는 케이스를 모아보기. (+ space-after-avatar).</p>
    </blockquote>

    <h4 class="article-subhead">Props</h4>
    <!-- <table>
      <caption hidden>
        Table Caption
      </caption>
      <tbody role="rowgroup">
        <tr role="row">
          <th scope="row">name</th>
          <th>type</th>
        </tr>
        <tr role="row">
          <th scope="row"><code>appearance</code></th>
          <td>"primary" | "secondary" | "tertiary"</td>
        </tr>
      </tbody>
    </table> -->
    <!-- appearance: 'link' | 'subtle' | 'primary' -->

    <!-- <br /> -->

    <dl class="article-props">
      <dt>name</dt>
      <dd>string</dd>
      <dt>src<abbr>?</abbr></dt>
      <dd>string</dd>
      <dt>size</dt>
      <dd>"huge" | "large" | "medium" | "small"</dd>
      <dt>badge<abbr>?</abbr></dt>
      <dd>"unread" | "new" | "live"</dd>
    </dl>

    <!-- <h4 class="article-subhead">anatomy</h4>
      <div class="article-anatomy">
        <span class="article-anatomy-item">avatar role=img</span>
        <span class="article-anatomy-item is-nested">media (todo)</span>
        <span class="article-anatomy-item is-nested">label for entity <small class="is-optional">optional</small></span>
        <span class="article-anatomy-item is-nested">badge <small class="is-optional">optional</small> - unread/new/live</span>
      </div> -->

    <h4 class="article-subhead">Related components</h4>
    <a href="">Entities</a>

    <h4 class="article-subhead">Use cases</h4>
    <p>mui에서 아이콘 아바타를 사용.</p>
  </article>
</main>
