<main class="sds-component js-observer js-scrollspy-section">
  <h1 class="sds-component-title">Avatars</h1>
  <p class="sds-component-description">
    단독으로 사용하거나 텍스트와 함께 사용하여 콘텐츠의 주목도를 높입니다.
  </p>

  <ul class="sds-component-checklist" style="margin:var(--space) 0;">
    <li><i class="icon-check"></i> 이미지, 텍스트, 아이콘을 포함합니다.</li>
  </ul>

  <article class="sds-component-group tile-flat" style="margin:var(--space-small) 0;">
    <div class="avatar-group" role="group">
      <figure class="design-article-avatar-huge" title="huge avatar" style="background-image:url('/public/images/springsteen.jpg');border:none;">
        <span class="avatar-badge"></span>
      </figure>
      <figure class="design-article-avatar-large" title="large avatar">
        <span class="avatar-badge"></span>
      </figure>
      <figure class="design-article-avatar-medium" style="background-image:none;font-weight:var(--font-weight-bold);color:var(--colro-text);">
        수
      </figure>
      <figure class="design-article-avatar-small" title="small avatar" style="background-image:none;">
        <i class="icon-x"></i>
      </figure>
    </div>
  </article>

  <!-- <div class="design-article-role">
      <span class="design-article-role-title">token: sizes</span>
      <span class="design-article-role-item">huge</span>
      <span class="design-article-role-item">large</span>
      <span class="design-article-role-item">medium</span>
      <span class="design-article-role-item">small</span>
    </div> -->
  <!-- <div class="design-article-role">
      <span class="design-article-role-title">role</span>
      <span class="design-article-role-item">썸네일</span>
      <span class="design-article-role-item">아이콘버튼</span>
      <span class="design-article-role-item">유저아바타</span>
    </div> -->
  <br />
  <h2 class="" style="margin-bottom:var(--space-small);font-size:var(--font-size-subhead);"><i class="tag-label">anatomy</i></h2>
  <div>
    <span class="design-article-anatomy-item">avatar</span>
    <span class="design-article-anatomy-item is-nested">thumbnail</span>
    <span class="design-article-anatomy-item is-nested">label <small class="is-optional">optional</small></span>
    <span class="design-article-anatomy-item is-nested">badge <small class="is-optional">optional</small> - unread / new indicator / live</span>
  </div>
  <article class="avatarlist" style="display:flex;align-items:center;">
    <span>Followed by</span>
    <figure class="design-article-avatar-small" style="margin-left:.5rem;box-shadow: var(--color-background) 0px 0px 0px 2px;">
      <img src="/public/images/soo.png" alt="" />
    </figure>
    <figure class="design-article-avatar-small" style="margin-left:-.5rem;box-shadow: var(--color-background) 0px 0px 0px 2px;">
      <img src="/public/images/soo.png" alt="" />
    </figure>
    <figure class="design-article-avatar-small" style="margin-left:-.5rem;box-shadow: var(--color-background) 0px 0px 0px 2px;">
      <img src="/public/images/soo.png" alt="" />
    </figure>
    <figure class="design-article-avatar-small" style="margin-left:-.5rem;box-shadow: var(--color-background) 0px 0px 0px 2px;">
      <img src="/public/images/soo.png" alt="" />
    </figure>
    <span style="margin:0 0 0 var(--space-small);">수줍이 외 4명</span>
  </article>
</main>
