<main class="sds-component js-observer js-scrollspy-section">
  <h1 class="sds-component-title">Avatars</h1>
  <p class="sds-component-description">
    단독으로 사용하거나 텍스트와 함께 사용하여 콘텐츠의 주목도를 높입니다.
  </p>

  <div class="tile-flat">
    <b>NOTE</b>
    A toggle button is similar in function to a switch, but you can use a toggle button outside of a list or table row and you don’t need to provide a
    label that explains its purpose.
  </div>

  <br />

  <h2>Guidelines</h2>

  <br />
  <h3>Interaction</h3>
  <ul class="sds-component-checklist">
    <li>이미지, 텍스트, 아이콘을 포함합니다.</li>
  </ul>

  <br />
  <h3>Code</h3>
  <ul class="sds-component-checklist">
    <li>이미지, 텍스트, 아이콘을 포함합니다.</li>
  </ul>

  <br />
  <h3>Editorial</h3>
  <ul class="sds-component-checklist">
    <li>Minimize pill length to two- to three-words.</li>
    <li>Separate property-value pairs with a colon (“:”) and bold neither the property nor value.</li>
    <li>
      Display dialog boxes centered horizontally and vertically over content. Always use a dark overlay to provide sufficient contrast between the box
      and page behind it. Never display dialogs as inline block elements. Never use a reverse color scheme for dialog boxes (ie. light text on a dark
      background). Always display a primary action on the right most side, with less prominent actions to its left. Always display cancel on the far
      left, visually separated from positive actions
    </li>
  </ul>

  <!-- <div class="design-article-role">
      <span class="design-article-role-title">token: sizes</span>
      <span class="design-article-role-item">huge</span>
      <span class="design-article-role-item">large</span>
      <span class="design-article-role-item">medium</span>
      <span class="design-article-role-item">small</span>
    </div> -->
  <!-- <div class="design-article-role">
      <span class="design-article-role-title">role</span>
      <span class="design-article-role-item">썸네일</span>
      <span class="design-article-role-item">아이콘버튼</span>
      <span class="design-article-role-item">유저아바타</span>
    </div> -->
</main>
