<main class="cake js-tab">
  <header class="cake-head">
    <figure class="cake-poster"><img src="/public/images/coolhandluke.jpg" alt="" /></figure>

    <div class="stack" style="margin-bottom: var(--space-2)">
      <span class="tag" data-style="primary">개봉예정 D-12</span>
      <a class="tag"><span class="post-hashtag-item-label tag-label">액션</span></a>
      <a class="tag"><span class="post-hashtag-item-label tag-label">모험</span></a>
      <a class="tag"><span class="post-hashtag-item-label tag-label">범죄</span></a>
    </div>

    <h1 class="cake-head-title">쿨 핸드 루크</h1>
    <span class="cake-head-engtitle" style="display: block">Cool Hand Luke</span>

    <section class="cake-meta">
      <!-- // todo naming :: time / byline -->
      <time class="cake-head-time">1967</time>
      <i class="icon-bullet"></i>
      <span class="cake-head-byline">
        <b style="margin-right: var(--space-2); color: var(--color-text-light); font-weight: normal">Directed by</b>스튜어트 로젠버그
      </span>
      <dl>
        <dt>국가</dt>
        <dd>미국</dd>
        <dt>언어</dt>
        <dd>영어</dd>
        <dt>장르</dt>
        <dd>드라마</dd>
        <dt aria-label="runtime">러닝타임</dt>
        <dd>103분</dd>
      </dl>

      <p class="cake-meta-summary" style="margin: var(--space-2) 0 0 0">
        <b style="margin: 0 var(--space-1) 0 0; color: var(--color-text-light); font-weight: var(--font-weight-normal)">줄거리</b>
        루크 잭슨은 술이 취한 상태에서 물건을 부수는 바람에 흉악범이 아님에도 불구하고 중노동형을 선고 받는다.죄수들의 리더는 새로 들어온 신입죄수
        루크의 요령피우는 태도가 눈에 거슬려 루크에게 싸움을 건다. 모두들 리더와 도라의 압도적인 승리로 끝나리라 예상한다.
        <a href="#" style="margin-left: var(--space-2)">더 보기</a>
      </p>

      <div class="statistic" style="margin: 1.5rem 0 0 0; justify-content: space-between; max-width: 400px">
        <div class="statistic-item">
          <i class="statistic-label">리뷰 116개</i>
          <span class="statistic-value">⭐ 4.8</span>
        </div>
        <div class="statistic-item">
          <i class="statistic-label">Tomatometer</i>
          <span class="statistic-value">🍅 97%</span>
        </div>
        <div class="statistic-item">
          <i class="statistic-label">등급</i>
          <span class="statistic-value">18세 이상</span>
        </div>
      </div>
    </section>

    <!-- <div class="cake-head-review">⭐ 4.32 (126명)</div> -->
  </header>

  <br />

  <nav class="tablist" role="tablist" style="margin-bottom: 0">
    <button class="tablist-tab" role="tab" aria-selected="true">주요정보</button>
    <button class="tablist-tab" role="tab" aria-selected="false">안주요정보</button>
    <button class="tablist-tab" role="tab" aria-selected="false">평가</button>
    <i class="tablist-indicator"></i>
  </nav>

  <section class="cake-info cake-crew" role="tabpanel" aria-hidden="false" data-index="1">
    <h2>출연진</h2>
    <div class="person-list">
      <a class="person" href="#">
        <figure class="avatar" data-size="huge">
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <span class="person-name">스튜어트 로젠버그</span>
        <span class="person-test">Director</span>
      </a>
      <a class="person" href="#">
        <figure class="avatar" data-size="huge">
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <span class="person-name">폴 뉴먼</span>
      </a>
      <a class="person" href="#">
        <figure class="avatar" data-size="huge">
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <span class="person-name">폴 뉴먼</span>
      </a>
      <a class="person-viewall" href="#">
        <figure
          style="
            width: var(--size-large);
            height: var(--size-large);
            background: var(--color-background-weak);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--radius);
          "
        ></figure>
        <span style="display: block; width: 100%; margin-top: -1.35rem; text-align: center; color: var(--color-text)">모두 보기</span>
      </a>
    </div>
    <!-- <footer>
      <button>모두보기</button>
    </footer> -->
  </section>
  <section class="cake-info cake-prize">
    <h2>수상내역</h2>
    <div>
      <span style="display: block; margin: 0 0 var(--space-1) 0; color: var(--color-text-light)">Academy Awards</span>
      <p>Best Actor</p>
      <p>Best Supporting Actor</p>
      <p>Best Screenplay – Based on Material from Another Medium</p>
      <p>Best Original Music Score</p>
      <br />
      <span style="display: block; margin: 0 0 var(--space-1) 0; color: var(--color-text-light)">포켓 와이파이</span>
      <p>데이터 요금 폭탄 걱정없이 전세계 어디서나 와이파이를 이용하세요.</p>
      <p>일반 문의 09:00-22:00</p>
      <p>실시간 항공권 문의 09:00-18:00</p>
      <p>연중무휴 / 점심 12:00-13:00</p>
    </div>
  </section>
  <section class="cake-info cake-review">
    <h2>리뷰</h2>
    <p>
      이 호텔에는 레스토랑, 사우나, 셀프 주차(요금 별도) 등이 마련되어 있습니다. 공용 장소에서의 WiFi의 경우 무료입니다. 이 밖에 24시간 운영 프런트
      데스크 및 프런트 데스크의 귀중품 보관함도 시설 내에 마련되어 있습니다.
    </p>
    <footer>
      <a href="#">Read More Reviews</a>
    </footer>
  </section>

  <!-- <footer style="max-width:1080px;margin:4rem auto 8rem;">
    <button class="button-more tertiary-button is-fullwidth"><span class="material-symbols-outlined">add</span> 더 보기</button>
  </footer> -->
</main>
