<main class="cart">
  <header class="cart-head">
    <p class="cart-description">Free delivery and free returns.</p>
    <h1 class="cart-title">Here's what's in your bag.</h1>
    <time class="cart-status" role="status">4 items in your cart</time>

    <ul>
      <li>오픈 마켓은 특수한 케이스기 때문에 제외해보자. 판매자 배송.</li>
      <li>개별 삭제만 제공.</li>
      <li>쿠폰이 적용되었을 때 마이너스(-) 금액을 표시.</li>
      <li>주문페이지에서 주문정보 입력, 쿠폰/적립금 사용</li>
    </ul>
  </header>
  <br />
  <figure class="cart-item">
    <button class="cart-item-delete"><span class="material-symbols-outlined">close</span></button>
    <a href="#" class="cart-item-thumbnail"><img src="/public/images/product_sample.png" alt="" /></a>
    <div class="cart-item-name">
      <span class="cart-item-name-label">product</span>
      <b class="cart-item-name-value">폰타나 베네치아 로스티드 쉬림프 크림 (수정해보는 중...)</b>
    </div>
    <div class="cart-item-color">
      <span class="cart-item-color-label">color</span>
      <b class="cart-item-color-value">Brown</b>
    </div>
    <div class="cart-item-qty">
      <span class="cart-item-qty-label">qty</span>
      <b class="cart-item-qty-value">3</b>
    </div>
    <div class="cart-item-price">
      <span class="cart-item-price-label">price</span>
      <b class="cart-item-price-value">₩ 22,500</b>
    </div>

    <button class="cart-item-remove chip">
      <span class="chip-label">수량/옵션 변경</span>
    </button>

    <div class="cart-item-addition">
      <b class="cart-item-addition-title">AppleCare+ for Macbook/MacBook Air</b>
      <p class="cart-item-addition-description">Automatically registered width your Apple hardware.</p>
      <span class="cart-item-addition-price">₩ 20,000</span>
    </div>
    <div class="cart-item-ship">
      <p class="cart-item-ship-title">배송비</p>
      <p class="cart-item-ship-description">도서/산간 지역 추가 배송비가 발생할 수 있습니다.</p>
      <span class="cart-item-ship-price">₩ 2,500</span>
    </div>
  </figure>
  <footer class="cart-summary">
    <div class="cart-summary-subtotal">
      <span class="cart-summary-label">Subtotal</span>
      <span class="cart-summary-value">₩ 30,000</span>
    </div>
    <div class="cart-summary-shipping">
      <span class="cart-summary-label">배송비</span>
      <span class="cart-summary-value">₩ 3,000</span>
    </div>
    <div class="cart-summary-discount">
      <span class="cart-summary-label">Discount</span>
      <span class="cart-summary-value">₩ 2,000</span>
    </div>
    <div class="cart-summary-total">
      <span class="cart-summary-label">Total</span>
      <b class="cart-summary-value">₩ 37,000</b>
    </div>
    <div class="cart-summary-controls">
      <button class="cart-summary-checkout">Checkout</button>
    </div>
  </footer>
</main>
