<section class="changelog">
  <header class="changelog-head hero-head">
    <h1 class="hero-title" style="margin-bottom:1rem;">Changelog sample</h1>
  </header>

  <p>수정 / 삭제 / 변경 아이콘이 큰 의미는 없어보임..</p>

  <!-- <nav class="changelog-filter">
    <button class="changelog-filter-chip is-active"><span class="changelog-filter-chip-label">모두</span></button>
    <button class="changelog-filter-chip" onClick="javascript:alert('필터링 준비 중.');">
      <span class="changelog-filter-chip-label">변경</span>
    </button>
    <button class="changelog-filter-chip" onClick="javascript:alert('필터링 준비 중.');">
      <span class="changelog-filter-chip-label">추가</span>
    </button>
    <button class="changelog-filter-chip" onClick="javascript:alert('필터링 준비 중.');">
      <span class="changelog-filter-chip-label">삭제</span>
    </button>
  </nav> -->

  <div class="dropdown">
    <button class="dropdown-trigger js-toggle" aria-expanded="true">
      <span class="dropdown-trigger-label">최신순</span>
      <figure class="dropdown-trigger-icon"><i class="icon-caret"></i></figure>
    </button>
    <menu class="dropdown-menu" role="menu">
      <h6 class="dropdown-menu-title" hidden>Dropdown header</h6>
      <!-- // todo  -->
      <a class="dropdown-menu-link" href="#" disabled style="display:flex;justify-content:space-between;align-items:center;">
        최신순
        <i class="icon-check"></i>
      </a>
      <a class="dropdown-menu-link" href="#" disabled>
        최신순
      </a>
    </menu>
  </div>

  <hr />

  <!-- <article class="changelog-item js-accordion">
    <header class="changelog-item-head">
      <em class="changelog-item-tag is-negative">✂️</em>
      <span class="changelog-item-target">Tag Group</span>
      <h3 class="changelog-item-title">tag item margin</h3>
      <figure class="changelog-item-icon"><i class="icon-chevron"></i></figure>
    </header>
    <div class="changelog-item-content">
      <p>
        space-small => .25rem. 모바일 환경에서 공간이 커보입니다.
      </p>
    </div>
  </article> -->
  <!-- <article class="changelog-item js-accordion">
    <header class="changelog-item-head">
      <em class="changelog-item-tag is-negative">✂️</em>
      <span class="changelog-item-target">Settings</span>
      <h3 class="changelog-item-title">페이지 제목page title</h3>
      <figure class="changelog-item-icon"><i class="icon-chevron"></i></figure>
    </header>
    <div class="changelog-item-content">
      <p>
        페이지 제목이 한 두가지의 설정에만 해당하는 베네핏이었다. 해당 설정 영역과 근접 배치했다. 그리고 탑 바가 타이틀이 포함하는 구조를 위해서.
      </p>
    </div>
  </article> -->
  <article class="changelog-item js-accordion">
    <time class="changelog-item-date">1일전</time>
    <span class="changelog-item-target">Tile</span>
    <em class="changelog-item-tag is-positive">🧶</em>
    <p class="changelog-item-content">
      large 추가
    </p>
  </article>

  <article class="changelog-item js-accordion">
    <time class="changelog-item-date">1일전</time>
    <span class="changelog-item-target">Signup</span>
    <em class="changelog-item-tag">🔨</em>
    <p class="changelog-item-content">
      소셜 가입을 상단으로 이동
    </p>
  </article>

  <article class="changelog-item js-accordion">
    <time class="changelog-item-date">1일전</time>
    <span class="changelog-item-target">Button</span>
    <em class="changelog-item-tag is-negative">✂️</em>
    <p class="changelog-item-content">
      small 크기 삭제. chip과 button small 형태의 변별력이 없고 용법이 중복.
    </p>
  </article>

  <article class="changelog-item js-accordion">
    <time class="changelog-item-date">1일전</time>
    <span class="changelog-item-target">Tile</span>
    <em class="changelog-item-tag">🔨</em>
    <p class="changelog-item-content">
      medium 크기의 inset을 1.5rem에서 1rem으로 변경 / small 추가
    </div>
  </article>

  <article class="changelog-item js-accordion">
    <time class="changelog-item-date" datetime="2021-05">1일전</time>
    <span class="changelog-item-target">Size</span>
    <em class="changelog-item-tag is-positive">🧶</em>
    <p class="changelog-item-content">
      small 추가
    </div>
  </article>

  <article class="changelog-item js-accordion">
    <time class="changelog-item-date" datetime="5">1일전</time>
    <span class="changelog-item-target">Breadcrumb</span>
    <em class="changelog-item-tag is-positive">🧶</em>
    <p class="changelog-item-content">
      홈 아이콘을 텍스트로 변경. 페이지에서 상대적으로 중요도가 낮은 정보이기 때문에 주목도를 낮춤.
    </div>
  </article>

  <article class="changelog-item js-accordion">
    <time class="changelog-item-date" datetime="5">1일전</time>
    <span class="changelog-item-target">Color</span>
    <em class="changelog-item-tag is-negative">✂️</em>
    <p class="changelog-item-content">
      gray600 삭제. 본문용으로 야외나 밝은 조명 아래서 가시성이 떨어짐.</h3>
    </p>
  </article>

  <!-- <article class="changelog-item js-accordion">
    <header class="changelog-item-head">
      <em class="changelog-item-tag">🧶</em>
      <span class="changelog-item-target">Typography</span>
      <h3 class="changelog-item-title">bold weight(800) 추가</h3>
    </header>
    <div>
      <p class="changelog-item-content">제목용 텍스트에 대한 일반적인(?) 사용자의 인식. 조금 더 간결한 위계 설정.</p>
    </div>
  </article> -->


</section>
