<!-- // invoice랑 구분 -->

<main class="checkout">
	<header class="checkout-head">
		<div class="checkout-head-eyebrow">Order Invoice</div>
		<h1 class="checkout-head-title">안녕, 콩 뉴니커! 😎<br />주문정보를 확인해주세요!</h1>
	</header>
	<section class="checkout-price">
		<div class="checkout-price-label">금액</div>
		<div class="checkout-price-value">$73.00</div>
	</section>
	<section class="checkout-date">
		<div class="checkout-date-label">주문일자</div>
		<div class="checkout-date-value">2020/05/20<div>
	</section>
	<section class="checkout-shipping">
		<h2 class="checkout-shipping-title">주문주소</h2>
		<div class="checkout-shipping-name">
			<div class="checkout-shipping-name-emoji">🙍</div>
			<div class="checkout-shipping-name-label">받는 분 이름</div>
			<div class="checkout-shipping-name-value">수줍이</div>
		</div>
		<div class="checkout-shipping-phone">
			<div class="checkout-shipping-phone-emoji">☎️</div>
			<div class="checkout-shipping-phone-label">받는 분 연락처</div>
			<div class="checkout-shipping-phone-value">010-3121-7045</div>
		</div>
		<div class="checkout-shipping-address">
			<div class="checkout-shipping-address-emoji">📍</div>
			<div class="checkout-shipping-address-label">배송 주소</div>
			<div class="checkout-shipping-address-value">서울시 강서구 화곡로 344</div>
		</div>
	</section>
	<section class="checkout-product">
		<h2 class="checkout-product-title">주문상품</h2>
		<div class="checkout-product-item">
			<div class="checkout-product-item-media"></div>
			<div class="checkout-product-item-name">아르바나 폰트</div>
			<div class="checkout-product-item-text">Order Type: license for 1-3 Users</div>
		</div>
		<div class="checkout-product-item">
			<div class="checkout-product-item-media"></div>
			<div class="checkout-product-item-name">아르바나 폰트</div>
			<div class="checkout-product-item-text">Order Type: license for 1-3 Users</div>
		</div>
	</section>
	<!-- <section class="checkout-discount">
		<h2 class="checkout-discount-title">쿠폰</h2>
	</section>
	<section class="checkout-payment">
		<h2 class="checkout-payment-title">결제수단</h2>
	</section> -->

	<!-- <section class="cart-summary" style="padding-left:0;">
		<div class="cart-summary-subtotal">
			<span class="cart-summary-label">Subtotal</span>
			<b class="cart-summary-value">₩ 30,000</b>
		</div>
		<div class="cart-summary-shipping">
			<span class="cart-summary-label">Shipping</span>
			<b class="cart-summary-value">₩ 3,000</b>
		</div>
		<div class="cart-summary-discount">
			<span class="cart-summary-label">Discount</span>
			<b class="cart-summary-value">₩ 2,000</b>
		</div>
		<div class="cart-summary-total">
			<span class="cart-summary-label">Total</span>
			<b class="cart-summary-value">₩ 37,000</b>
		</div>
		<div class="cart-summary-controls">
			<button class="cart-summary-checkout">Checkout</button>
		</div>
	</section> -->

	<footer>

	</footer>

</main>
