<main class="checkout">
  <!-- <header class="checkout-head">
    <div class="checkout-head-background"></div>
    <h1 class="checkout-head-title">주문정보를<br />확인하세요<i style="font-style:italic;">!</i></h1>
    <p class="checkout-head-description"></p>
  </header> -->
  <!-- // invoice랑 구분 -->

  <section class="checkout-step step" style="margin: 0 0 2rem 0">
    <div class="step-item is-active">
      <span class="step-item-icon">1</span>
      <h3 class="step-item-label">장바구니</h3>
    </div>
    <div class="step-item is-active">
      <span class="step-item-icon">2</span>
      <h3 class="step-item-label">상품결제</h3>
      <p class="step-item-description">
        1칼럼(모바일)에서 결제 버튼을 누르기 전 최종 금액을 확인할 수 있는 구조가 되려면 2칼럼에서 우측을 결제를 위한 칼럼을 배치할
        때(체크아웃페이지의 일반적인 레이아웃) 상품&서머리&결제버튼이 같은 컨테이너로 포함되어야.
      </p>
      <p class="step-item-description">결제정보 - 결제방법/주문상태/주문접수일시/주문완료일시/배송비/쿠폰사용금액/결제금액</p>
      <p class="step-item-description">주문 시도 이력을 로컬스토리지에 저장.</p>
      <p class="step-item-description">할인 쿠폰 및 코드. 신용카드 할인. 간편결제.</p>
    </div>
    <div class="step-item">
      <span class="step-item-icon">3</span>
      <h3 class="step-item-label">주문완료</h3>
    </div>
  </section>

  <h2 class="checkout-product-title" title="summary">상품정보</h2>
  <section class="checkout-product">
    <div class="checkout-product-item">
      <div class="checkout-product-item-media"></div>
      <h3 class="checkout-product-item-name">뉴닉이 풀어 쓴 경제상식사전</h3>
      <div class="checkout-product-item-text">평생 소장</div>
      <div class="checkout-product-item-price">₩ 11,900</div>
    </div>
  </section>

  <fieldset class="checkout-shipping">
    <h2 class="checkout-shipping-title">배송정보</h2>
    <div class="setting-item" style="width: 100%; margin: 0">
      <h2 class="setting-item-label">배송지</h2>
      <div class="setting-item-value">
        <p class="setting-item-value-username">이경수</p>
        <p class="setting-item-value-address">[07655]</p>
        <p class="setting-item-value-address" title="address-level / address-line">서울특별시 강서구 까치산로 182 1202호</p>
        <p class="setting-item-value-phone">010-3121-7045</p>
      </div>
    </div>

    <hr />

    <div class="textfield-group">
      <div class="checkout-shipping-name textfield">
        <label class="checkout-shipping-name-label textfield-label">받는 사람</label>
        <input class="checkout-shipping-name-value textfield-input" type="text" name="email" id="login-email" placeholder="수줍이" />
      </div>
      <div class="checkout-shipping-phone textfield">
        <label class="checkout-shipping-phone-label textfield-label">연락처</label>
        <input class="checkout-shipping-phone-value textfield-input" type="text" name="email" id="login-email" placeholder="01012345678" />
      </div>
    </div>
    <div class="checkout-shipping-address textfield">
      <label class="checkout-shipping-address-label textfield-label" for="address">주소</label>
      <input class="checkout-shipping-address-value textfield-input" type="text" name="email" id="address" placeholder="클릭하여 우편번호 찾기" />
    </div>
    <div class="checkbox" style="margin-right: auto; margin-top: var(--space-2)">
      <input class="js-checkall" type="checkbox" id="line00" value="" aira-checked="mixed" aria-controls="1 2" indeterminate />
      <label for="line00" title="Check All"><em>기본 배송지로 설정합니다</em></label>
    </div>

    <hr />

    <div class="order-address-address2 textfield">
      <label class="textfield-label" for="login-email">상세주소</label>
      <input class="textfield-input" type="text" name="email" id="login-email" placeholder="" />
    </div>
    <div class="order-address-zipcode textfield">
      <label class="textfield-label" for="login-email">First name, Last Name, Country / Region, State, Zipcode</label>
      <input class="textfield-input" type="text" name="email" id="login-email" placeholder="soojubm@gmail.com" autofocus />
    </div>
    <button>우편번호 찾기</button>
  </fieldset>

  <section class="checkout-payment">
    <h2 class="checkout-payment-title">결제수단</h2>
    <!-- <p class="checkout-payment-description">현재 신용카드 결제만 가능합니다.</p> -->
    <fieldset>
      <div class="payment-method-list">
        <div class="payment-method-item status-is-active">
          <figure style="background: aliceblue">💳</figure>
          <span>신용카드</span>
        </div>
        <div class="payment-method-item">
          <figure style="background: #defade">💵</figure>
          <span>현금</span>
        </div>
        <div class="payment-method-item">
          <figure style="background: antiquewhite; font-size: 1.8rem">🫓</figure>
          <span>무통장입금</span>
        </div>
      </div>
      <div class="radio tile-elevated" style="margin-top: 0; border-bottom: var(--border)">
        <input type="radio" id="raidio5" name="gender" value="" checked />
        <label for="raidio5" title="">신용/체크카드</label>
      </div>
      <div class="radio tile-elevated">
        <input type="radio" id="raidio5" name="gender" value="" disabled />
        <label for="raidio5"
          >무통장입금 <small style="color: var(--color-text)">COMING SOON<i style="font-style: italic">!</i></small></label
        >
      </div>
    </fieldset>
    <footer style="margin: 2rem 0">
      <span style="color: var(--color-text-light)">결제 안내</span>
      <p>신용카드 결제만 가능합니다.</p>
      <p>해외에서 발행된 카드는 이용할 수 없습니다.</p>
      <br />
      <span style="color: var(--color-text-light)">주문취소 및 환불 안내</span>
      <p>주문취소 또는 환불은 <a href="#">고객센터</a>로 문의해 주세요.</p>
    </footer>
  </section>

  <fieldset class="checkout-coupon">
    <h2 class="checkout-shipping-title">쿠폰</h2>
    <p>사용 가능한 쿠폰이 없습니다.</p>
    <div class="textfield">
      <label class="textfield-label" for="select1">보너스 쿠폰 </label>
      <select class="textfield-input" id="select1">
        <option value="select-option1">사용 가능 쿠폰 1장</option>
      </select>
      <span class="select-indicator" role="img"><span class="material-symbols-outlined"> arrow_drop_down </span></span>
    </div>
  </fieldset>

  <br />

  <fieldset class="checkout-coupon">
    <h2 class="checkout-shipping-title">마일리지</h2>
    <div class="checkout-shipping-name textfield">
      <label class="checkout-shipping-name-label textfield-label">사용 마일리지</label>
      <input class="checkout-shipping-name-value textfield-input" type="text" name="email" id="login-email" placeholder="수줍이" />
    </div>
    <button class="chip"><span class="chip-label">보유 마일리지 1,186p 모두사용</span></button>
  </fieldset>

  <hr />
  <footer class="cart-summary" style="max-width: 100%">
    <div class="cart-summary-subtotal">
      <span class="cart-summary-label">총 상품금액</span>
      <span class="cart-summary-value">₩ 30,000</span>
    </div>
    <div class="cart-summary-shipping">
      <span class="cart-summary-label">배송료</span>
      <span class="cart-summary-value">₩ 3,000</span>
    </div>
    <div class="cart-summary-total">
      <span class="cart-summary-label">최종 결제 금액</span>
      <b class="cart-summary-value">₩ 37,000</b>
    </div>
    <div class="cart-summary-controls">
      <button class="cart-summary-checkout">결제</button>
    </div>
  </footer>
</main>

<script>
  var form = document.getElementById('subscription-form');
  form.addEventListener('submit', (ev) => {
    ev.preventDefault();
    // If a previous payment was attempted, get the latest invoice
    const latestInvoicePaymentIntentStatus = localStorage.getItem('latestInvoicePaymentIntentStatus');
  ​
    if (latestInvoicePaymentIntentStatus === 'requires_payment_method') {
      const invoiceId = localStorage.getItem('latestInvoiceId');
      const isPaymentRetry = true;
    }
  });
</script>
