<!-- // invoice랑 구분 -->
<main class="checkout">
  <header class="hero" role="banner" style="padding-left:0;padding-right:0;">
    <div class="hero-background"></div>
    <span class="hero-eyebrow">Checkout</span>
    <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;">
      <span style="color:var(--color-text-light);">Lorem Ipsum is</span><br />simply dummy text of the printing and typesetting industry.
    </h1>
    <p class="hero-description">
      2칼럼으로 우측에 결제를 위한 칼럼을 만들었을 때, 상품&서머리&결제버튼을 같은 구조에 배치. 모바일에서 결제 버튼을 누르기 전에 최종 금액을
      확인하기 어려운 구조가 된다.
    </p>
  </header>

  <!-- <header class="checkout-head">
    <div class="checkout-head-eyebrow">주문확인</div>
    <div class="checkout-head-background"></div>
    <h1 class="checkout-head-title">주문정보를<br />확인하세요<i style="font-style:italic;">!</i></h1>
    <p class="checkout-head-description"></p>
  </header> -->
  <!-- 
  <section class="checkout-step step" style="margin:0 0 2rem 0;">
    <div class="step-item is-active">
      <span class="step-item-icon">1</span>
      <h3 class="step-item-title">장바구니</h3>
    </div>
    <div class="step-item is-active">
      <span class="step-item-icon">2</span>
      <h3 class="step-item-title">상품결제</h3>
    </div>
    <div class="step-item">
      <span class="step-item-icon">3</span>
      <h3 class="step-item-title">주문완료</h3>
    </div>
  </section> -->

  <h2 class="checkout-product-title" title="summary">상품정보</h2>
  <section class="checkout-product">
    <div class="checkout-product-item">
      <div class="checkout-product-item-media"></div>
      <h3 class="checkout-product-item-name">뉴닉이 풀어 쓴 경제상식사전</h3>
      <div class="checkout-product-item-text">Order Type: license for 1-3 Users</div>
      <div class="checkout-product-item-price">₩ 44,612</div>
    </div>
  </section>

  <fieldset class="checkout-shipping">
    <h2 class="checkout-shipping-title">배송정보</h2>
    <div class="setting-item" style="width:100%;margin:0;">
      <h2 class="setting-item-label">배송지</h2>
      <div class="setting-item-value">
        <p class="setting-item-value-username">이경수</p>
        <p class="setting-item-value-address">[07655]</p>
        <p class="setting-item-value-address" title="address-level / address-line">서울특별시 강서구 까치산로 182 1202호</p>
        <p class="setting-item-value-phone">010-3121-7045</p>
      </div>
      <span class="setting-item-change"><b>저장하기</b> <i class="icon-arrow"></i></span>
    </div>
    <div class="tile-elevated" style="display: flex;flex-wrap: wrap;justify-content: space-between;">
      <div class="checkout-shipping-name textfield">
        <label class="checkout-shipping-name-label textfield-label">받는 사람</label>
        <input class="checkout-shipping-name-value textfield-input" type="text" name="email" id="login-email" placeholder="수줍이" />
      </div>
      <div class="checkout-shipping-phone textfield">
        <label class="checkout-shipping-phone-label textfield-label">연락처</label>
        <input class="checkout-shipping-phone-value textfield-input" type="text" name="email" id="login-email" placeholder="01012345678" />
      </div>
      <div class="checkout-shipping-address textfield">
        <label class="checkout-shipping-address-label textfield-label" for="address">주소</label>
        <input class="checkout-shipping-address-value textfield-input" type="text" name="email" id="address" placeholder="클릭하여 우편번호 찾기" />
      </div>
      <div class="checkbox" style="margin-right: auto;margin-top: var(--space-small);">
        <input class="js-checkall" type="checkbox" id="line00" value="" aira-checked="mixed" aria-controls="1 2" indeterminate />
        <label for="line00" title="Check All"><em>이 배송지를 저장합니다</em></label>
      </div>
    </div>
    <!-- <div class="order-address-address2 textfield">
      <label class="textfield-label" for="login-email">상세주소</label>
      <input class="textfield-input" type="text" name="email" id="login-email" placeholder="" />
    </div> -->
    <!-- <div class="order-address-zipcode textfield">
      <label class="textfield-label" for="login-email">우편번호</label>
      <input class="textfield-input" type="text" name="email" id="login-email" placeholder="soojubm@gmail.com" autofocus />
    </div> -->
    <!-- <div class="checkbox">
      <input class="js-checkall" type="checkbox" id="line00" value="" aira-checked="mixed" aria-controls="1 2" />
      <label for="line00" title="Check All">기본 배송지로 등록</label>
    </div> -->
  </fieldset>

  <section class="checkout-payment">
    <h2 class="checkout-payment-title">결제수단</h2>
    <!-- <p class="checkout-payment-description">현재 신용카드 결제만 가능합니다.</p> -->
    <fieldset>
      <div class="radio theme-button" style="border-bottom:var(--border);">
        <input type="radio" id="raidio5" name="gender" value="" checked />
        <label for="raidio5" title="">신용/체크카드</label>
      </div>
      <div class="radio theme-button">
        <input type="radio" id="raidio5" name="gender" value="" disabled />
        <label for="raidio5" title=""
          >무통장입금 <small style="color:var(--color-text);">COMING SOON<i style="font-style:italic">!</i></small></label
        >
      </div>
    </fieldset>
    <!-- <button class="checkout-payment-button">신용/체크카드</button> -->
    <!-- <button class="checkout-payment-button">네이버페이<i class="checkout-payment-button-check icon-check"></i></button> -->
    <!-- <footer style="margin:2rem 0;">
      <span style="color:var(--color-text-light);">결제 안내</span>
      <p>신용카드 결제만 가능합니다.</p>
      <p>해외에서 발행된 카드는 이용할 수 없습니다.</p>
      <br />
      <span style="color:var(--color-text-light);">주문취소 및 환불 안내</span>
      <p>주문 취소나 환불은 <a href="#">고객센터</a>로 문의해 주세요.</p>
    </footer> -->
  </section>

  <hr />

  <footer class="cart-summary">
    <div class="cart-summary-subtotal">
      <span class="cart-summary-label">총 상품금액</span>
      <span class="cart-summary-value">₩ 30,000</span>
    </div>
    <div class="cart-summary-shipping">
      <span class="cart-summary-label">배송료</span>
      <span class="cart-summary-value">₩ 3,000</span>
    </div>
    <div class="cart-summary-total">
      <span class="cart-summary-label">최종 결제 금액</span>
      <b class="cart-summary-value">₩ 37,000</b>
    </div>
    <div class="cart-summary-controls">
      <button class="cart-summary-checkout">결제</button>
    </div>
  </footer>
</main>

<script>

  var form = document.getElementById('subscription-form');
  ​
  form.addEventListener('submit', function (ev) {
    ev.preventDefault();
  ​
    // If a previous payment was attempted, get the latest invoice
    const latestInvoicePaymentIntentStatus = localStorage.getItem(
      'latestInvoicePaymentIntentStatus'
    );
  ​
    if (latestInvoicePaymentIntentStatus === 'requires_payment_method') {
      const invoiceId = localStorage.getItem('latestInvoiceId');
      const isPaymentRetry = true;
    }
  });
</script>
