<main class="class js-tab">
  <header class="class-head">
    <figure class="class-head-thumbnail"><img src="https://newneek.co/static/media/economy-thumbnail.0e2ed4c5.png" alt="" /></figure>
  </header>

  <section class="class-order">
    <div class="class-head-info">
      <small class="class-head-eyebrow">고슴이 생존기 - 경제 기본기편</small>
      <h1 class="class-head-title">고슴이와 함께<br />경제 기본기 마스터하겠슴?</h1>
      <p class="class-head-description">고슴이 에피소드 읽으면서 쉽고 재밌게<br />하루 5분으로 열흘 만에 경제 기본기를 마스터할 수 있어요.</p>
    </div>

    <br />

    <div class="minicard-wrap">
      <div class="minicard" style="display:flex;">
        <span role="img" aria-label="" class="minicard-emoji">⏰</span>
        <p class="minicard-value">하루 5분</p>
      </div>
      <div class="minicard" style="display:flex;">
        <span role="img" aria-label="" class="minicard-emoji">📖</span>
        <p class="minicard-value">에피소드 10개</p>
      </div>
      <div class="minicard" style="display:flex;">
        <span role="img" aria-label="" class="minicard-emoji">🗓️</span>
        <p class="minicard-value">이용기간 무제한</p>
      </div>
      <div class="minicard" style="display:flex;">
        <span role="img" aria-label="" class="minicard-emoji">🤼</span>
        <p class="minicard-value"><del>얼리버드 500명 (마감)</del></p>
      </div>
    </div>

    <br />

    <div class="class-order-price" role="suggestion">
      <del class="class-order-price-deletion" role="deletion">₩30,000</del>
      <b class="class-order-price-insertion" role="insertion">₩20,000</b>
      <em class="class-order-price-percentage">(30%)</em>
    </div>
    <footer class="class-order-action">
      <button class="class-order-action-purchase">콘텐츠 구매하기</button>
      <!-- <button class="class-order-action-share">공유</button> -->
    </footer>
    <p>더 궁금한 점이 있다면 <a href="/help" style="text-decoration: underline;">👉고객센터</a>로 문의해 주세요. 고맙슴!</p>
  </section>

  <section class="class-detail">
    <article class="class-detail-summary"></article>
    <article class="class-detail-feature"></article>
    <article class="class-detail-target"></article>
    <article class="class-detail-curriculum"></article>
    <article class="class-detail-faq"></article>
  </section>
</main>
