<main class="coding">
  <article class="design-article js-scrollspy-section">
    <h1 class="design-article-title">Naming Conventions</h1>
    <div class="design-article-description">
      <p class="checklist">
        <span><i></i></span> 역할에 근거합니다. 여러 개의 tag를 감싸는 부모 태그는 tag group이 tags보다 좋고, tag list보다 좋습니다.
      </p>
      <p class="checklist">
        <span><i></i></span> leading/tailing vs prefix/surfix
      </p>
      <p class="checklist">
        <span><i></i></span> cancel vs delete
      </p>
      <p class="checklist">
        <span><i></i></span> 저장 vs 등록
      </p>
      <p class="checklist">
        <span><i></i></span> 모달, 토스트는 컴포넌트가 아님. 기능에 가까움. alert toast, dialog modal
      </p>

      <p class="xlist">
        <span><i></i></span> rule: 레이아웃을 위한 mix을 정의하지 마세요. 레이아웃은 항상 변동성이 큼. 네이밍도 left, right 하지 않기. 기능으로.
      </p>
    </div>
  </article>
</main>
