<section style="border-top:var(--border);font-size:1.5rem;letter-spacing:-.025rem;">
  <p style="padding:1rem 5%;border-bottom:var(--border);">
    역할 기반의 네이밍
  </p>
</section>

<main class="coding">
  <article class="article js-scrollspy-section">
    <h1 class="article-title">Naming</h1>
    <div class="article-description">
      <p class="checklist">
        <span><i></i></span> 역할에 근거합니다. 역할 기반의 네이밍. 여러 개의 tag를 감싸는 부모 태그는 tag group이 tags보다 좋고, tag list보다
        좋습니다.
      </p>
      <p class="checklist">
        <span><i></i></span> leading/tailing vs prefix/surfix
      </p>
      <p class="checklist">
        <span><i></i></span> cancel vs delete
      </p>
      <p class="checklist">
        <span><i></i></span> 저장 vs 등록
      </p>
      <p class="checklist">
        <span><i></i></span> 모달, 토스트는 컴포넌트가 아님. 기능에 가까움. alert toast, dialog modal
      </p>

      <p class="checklist">
        <span><i></i></span> 컴포넌트, 클래스 네이밍에 방향(left, right)을 사용하지 마세요. 레이아웃은 변동 가능성이 큽니다.
      </p>

      <p class="xlist">
        <span><i></i></span> rule: 레이아웃을 위한 mix을 정의하지 마세요. 레이아웃은 항상 변동성이 큼.
      </p>

      <p>21-07-28 chip-label 엘리먼트 항상 사용. space-chip-inset 레이블에 패딩을 주면 아이콘 컨트롤이 쉬워짐.</p>
    </div>
  </article>

  <article class="article js-scrollspy-section">
    <h1 class="article-title">Javascript</h1>
    <div class="article-description">
      <p class="checklist">
        <span><i></i></span> early return. 네스팅 최소화
      </p>
      <p class="checklist">
        <span><i></i></span> isTrue. boolean.
      </p>
    </div>
  </article>

  <article class="article js-scrollspy-section">
    <h1 class="article-title">React</h1>
    <div class="article-description">
      <p class="checklist">
        <span><i></i></span> event handler naming
      </p>
    </div>
  </article>
</main>
