<!-- https://comet.discoveryeducation.com/index.html -->
<!-- https://simplicable.com/new/visual-information -->
<!-- https://biings.design/#/ -->
<!-- todo top hat -->

<main class="component">
  <!--
    <p>
    유저는 대부분 디스크립션을 자세히 읽기를 원하지 않으므로,
    필요한 내용을 빠르게 캐치할 수 있도록 간결하게 쓰는 게 좋다.
    한 줄에 50자, 세 줄 이하로 쓸 것을 권장하고 있다. 텍스트를 간결하게 유지하고
    전달할 내용을 스캐너블한 덩어리로 나누는 것은,
    유저들이 그들의 이해도와 이 서비스를 활용하는 능력에 대해 신뢰를 갖게 만든다.
  </p>
  <p>
    유저가 중요한 액션을 수행했을 경우,
    완료 메시지를 전달하기 위해 한 화면 전체를 사용하는 경우가 있다.
    이때는 유저가 집중할 수 있는 정보가 하나뿐이어서 맥락이 복잡하지 않으므로,
    \"이미지가 담긴 포스팅이 완료되었습니다.\" 등의 문장형으로 길게 설명할 필요 없이,
    \"제출 완료!\"같은 단일 단어로 대체할 수 있다.
  </p>
  <p>
    알림은 언제나 유저에게 베네핏을 주거나,
    긴급한 메시지이거나, 적어도 적절한 타이밍의 내용이어야 한다.
    똑같은 텍스트가 각각의 컴포넌트에 쓰였을 때
    어떤 맥락으로 유저에게 닿을 수 있는지를.
  </p>
  <p>inline error / detour derror / blocking error</p> -->
  <!--
    시스템 디자이너로서 제품을 소비할 때
    디자이너와 개발자의 경험을 대규모로 최적화하는 것은 우리의 의무입니다.
    시스템 자체. 스타일 프리미티브 구성이 우선순위가 지정되지 않으면
    디자이너와 개발자 사이에 많은 마찰이 있을 뿐만 아니라
    토큰 아키텍처를 통해 피할 수 있는 많은 스타일 불일치가 있을 것입니다.
  -->
  <!-- https://story.pxd.co.kr/1451 -->
  <section class="hero" role="banner">
    <!-- <div class="hero-background"></div> -->
    <!-- <span class="hero-eyebrow">Components</span> -->
    <!-- <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;"><span style="color:var(--color-text-light);">We 🐷</span><br />built this city.</h1> -->
    <h1 class="hero-title">Components</h1>
    <p class="hero-description">todo 페이지나누기/loading state/dfn/abbr</p>
    <!-- <p>역할로 나눌 때의 문제 :: chip의 다양한 역할. 하지만 그 기능들은 지금 우연히 형태가 같을 뿐이지만 디지털 환경에서 하는 역할은 고정되어 있으며 더 좋은 경험을 위해 언제든 개선의 여지가 있다. => chip과 avatar는 그냥 그대로 정의해도 좋을 듯. 린하게...</p>
    <p>anatomy vs props 설명하려고 하는 정보 유사함. 잘 구분해보기. anatomy에서 접근성 속성과 html 구조를 다룬다.</p> -->

      <!-- <li>변경하기 쉬운 (이것도 ㅓㅁ포넌트)</li>
      <li>형태로보기 - 버튼/칩...</li>
      <li>역할로보기 - 컨테이너/시각정보/인터렉션(필터/정렬...)...</li>
      <li>모든 시각정보는 non-clickable. 모든 인터렉션은 clickable.</li> -->

      <!-- / success / warning / danger ? -->
      <!-- <h4 class="article-subhead">selection</h4>
        <h4 class="article-subhead">목록의 나머지를 더 보여줄 때는 [모두보기], 미리보기 형식의 텍스트를 더 보여줄 때는 [전체보기].click - tag 컴포넌트/화살표/아이콘 아이템 전체가 클릭 영역</h4>
        <h4 class="article-subhead">link - /external</h4>
        <dt>모두보기</dt><dd>see all(15)(internal, arrow-right)</dd>
        <dt>더보기</dt><dd>더보기vs더불러오기(more, arrow-down), 자세히보기, learn more 등(external, arrow-right-top)</dd> -->
      <!-- https://material.io/design/interaction/states.html -->
      <!-- variants -->
      <!-- <article class="article js-scrollspy-section">
        <p>site(app)-page-section-article(dialog,card등 article level로 정의. tile은 article level에 사용.)-item-</p>
      </article> -->
      <!-- <li><i class="icon-check"></i>dos / don'ts 케이스는 이미지를 사용하지 않고 간결하게 서술합니다. </li> -->
      <!-- <li><i class="icon-check"></i>사용 빈도가 낮은 케이스는 예외 케이스로 정의합니다.</li> -->
      <!-- 긍정문 / 한자 지양 / -적 / 복합명사는 붙여쓰기
      '-때', '경우', '사용' 최소화. 부정어/긍정어/명령형?
      하세요, 할 수 있습니다. 보다 합니다. 입니다 -->
    
    <!-- <footer class="hero-foot">
      <a class="hero-cta">공사중입니다</a>
      <a class="hero-detail">더 알아보기</a>
    </footer> -->

    <!-- <div class="hero-obj1"></div>
    <div class="hero-obj2"></div>
    <div class="hero-obj3"></div> -->
  </section>

  <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Tags</span></a>
      <!-- <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Badges</span></a> -->
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Tiles - container</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Seporator</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Tooltip</span></a>
      <!-- <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">File Uploader</span></a> -->
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Carousel</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Table - data</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Accordion</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Result</span></a>
    </div>
  </nav>

  <!-- <p style="font-size:var(--font-size-caption);">- Clickable은 Link/Action/Submit</p>
  <p style="font-size:var(--font-size-caption);">- "Feedback Needed" after action</p>
  <p style="font-size:var(--font-size-caption);">- Actions: removable, selectable(single/multiple), checkable/uncheckable, addable</p>
  <p style="margin:0 0 var(--space) 0;font-size:var(--font-size-caption);">- Groupable과 Stackable을 구분하는 것이 좋을찌?</p> -->

  <section class="component-body">

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Tags <span hidden>(or badge/label)</span></h1>
      <p class="article-description">인접 요소나 부모 요소를 부연하는 시각 정보입니다. 상태, 카테고리, 키워드(또는 키워드 목록)로 강조된 시각 정보는 사용자가 복잡한 정보 더미에서 중요한 정보를 우선적으로 파악하도록 돕습니다.</p>

      <div class="">
        <div class="tag-group">
          <span class="tag" data-appearance="primary">Primary</span>
          <span class="tag" role="listitem" data-appearance="secondary">Secondary (outdated)</span>
          <span class="tag" role="listitem">Tertiary</span>
          <span class="tag" role="listitem" style="background:var(--red100);border-color:var(--red100);color:var(--red800);">15</span>
          <!-- todo -->
          <span class="tag" data-role="accent">
            <figure class="tag-icon" role="img">🔥</figure>
            <small class="tag-label">Most Popular 22.05.02. 최대 1개. w icon</small>
          </span>
        </div>
      </div>

      <h4 class="article-subhead">Best practices</h4>
      <ul>
        <li>non-clickable<span hidden>triggering interaction</span></li>
        <li>Primary는 하나의 콘텐츠에 1개만 사용하세요.</li>
        <li>태그 그룹에 4개 이상의 태그를 포함하지 마세요. <mark>핵심 키워드를 요약</mark>하여 사용자의 콘텐츠 탐색과 선택을 돕는 역할이기 때문에 너무 많은 태그 목록을 노출하는 것은 콘텐츠 탐색을 어렵게 합니다.</li>
        <!-- <li>해시태그(#)는 항상 클릭할 수 있어야 합니다.</li> -->
      </ul>

      <h4 class="article-subhead">Editing checklist</h4>
      <ul data-align="horizontal">
        <li>형용사 또는 명사</li>
        <li>최대 2단어</li>
      </ul>
    </article>

    <!-- <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Entities</h1>
      <p class="article-description">요약된 정보 개체.</p>
       <li>아이템 컴포넌트: card component, page 레벨에서 상대적으로 중요도가 낮은 경우 오른쪽에 배치할 수 있습니다.</li>
        <li>아이템 컴포넌트: 텍스트 말 줄임표 조건 정의.</li>

    </article> -->

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title" title="or Box">Tiles</h1>
      <p class="article-description">연관 정보를 묶어 시각적으로 강조하는 컨테이너입니다.</p>

      <aside class="article-aka">
        <span class="tag">a.k.a.</span>
        <span class="hashtag" title="protocol mozilla">EmphasisBox</span>
        <span class="hashtag" title="biings">Box</span>
        <span class="hashtag" title="">Card</span>
      </aside>

      <div class="tile-flat" style="padding:1rem;">
        <h5 style="font-size:var(--font-size-subhead);">flat large with subhead</h5>
        <p style="margin:var(--space-after-description);">변별력이 없기는 하지만 inset을 더 키우면 작은 화면에서 공간 낭비로 미디어쿼리로 inset 조정이 필요해진다. 하지만 콘텐츠를 가운데 정렬로 용법을 제한한다면 괜찮다.</p>
        <p style="margin-top:.75rem;">이 tile은 페이지 레벨의 컴포넌트가 될 수 있다.</p> 
      </div>
      <div class="tile-flat">
        <b>flat</b>
      </div>
      <div class="tile-elevated">
        <b>elevated</b>
        <p style="margin-top:.75rem;">TODO flat 형태와 구별이 잘 안 됨.</p>
      </div>
      <div class="tile-flat-small">
        <b>flat small</b>
      </div>

      <h4 class="article-subhead">Best practices</h4>
      <ul>
        <li>'클릭할 수 있음'의 기표로 elevated 스타일을 사용합니다. 타일 전체가 클릭 영역일 수도, 타일 내부에 클릭 가능한 요소를 포함할 수도 있습니다.</li>
        <li>아티클 레벨에 사용합니다. 페이지 레벨의 타이틀과 디스크립션을 타일로 만들지 마세요.</li>
        <li>타일 내부 leading, tailing 엘리먼트의 시각보정이 필요할 수 있습니다.</li>
        <li>tile의 내부에 subhead text가 포함되어 있다면 large size의 tile을 사용하세요.</li>
      </ul>


    </article>


    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Seperator</h1>
      <p class="article-description">선으로 콘텐츠를 구획합니다. 반복과 대비가 구획되었다는 인상을 주기 때문에 남용하지 않습니다.</p>
      <hr role="separator" />
      <h4 class="article-subhead">Best practices</h4>
      <ul>
        <li>아티클 레벨에서 사용합니다. 섹션 레벨과 페이지 레벨에서는 충분한 여백으로 콘텐츠를 구획합니다.</lip>
        <li>border 속성으로 스타일링하지 않습니다. hr 태그를 사용하면 의미론적으로 주제를 분리할 수 있고 컴포넌트의 고유성을 유지할 수 있습니다.</p>
        <!-- <p> -> 문제: 수정이 어렵다. (or css 인접 연산자)<</p> -->
      </ul>
      <br />
    </article>

    

    <article class="article js-observer js-scrollspy-section" style="overflow:visible;">
      <h1 class="article-title">Tooltip</h1>
      <!-- Popover -->
      <p class="article-description">용어를 설명하거나 정보의 근거를 보충합니다.</p>
      <!-- todo. 페이지 로딩 시점에 열려 있는 경우 doorhanger/pointing arrow 필요. -->
      
      <h4 class="article-subhead">Best practices</h4>
      <ul>
        <li>행동을 유도하는 가이드로 사용하지 마세요.</li>
        <li>툴팁의 물음표 아이콘을 페이지 링크로 사용하지 마세요.</li>
        <li>사용자가 반드시 숙지해야 하는 중요한 정보라면, 충분히 강조된 button이나 text link를 사용하세요.</li>
      </ul>
      <br />
      <aside class="tooltip">
        <span class="tooltip-trigger" aria-describedby="tooltip1">툴팁 <i class="tooltip-trigger-question">?</i></span>
        <p class="tooltip-content" role="tooltip" id="tooltip1"  hidden>제1항의 해임건의는 국회재적의원 3분의 1 이상의 발의에 의하여 국회재적의원 과반수의 찬성이 있어야 한다.</p>
      </aside>
      <hr />
      <aside class="tooltip is-icon">
        <span class="tooltip-trigger" aria-describedby="tooltip1"><i class="icon-person"></i></span>
        <p class="tooltip-content" role="tooltip" id="tooltip1"  hidden>로그인</p>
      </aside>

      <!-- <span class="tooltip" data-tooltip="Just like this one.">Any element</span> -->
    </article>

    <article class="article js-observer">
      <h1 class="article-title">File Uploader</h1>
      <p class="article-description">프로필 사진 또는 이미지 업로드.</p>
      <form class="file" method="" enctype="multipart/form-data">
        <h3 class="file-title" hidden>프로필 사진</h3>
        <div class="file-upload">
          <input class="file-input js-file-input" type="file" id="file2" multiple accept=".jpg,.png" capture="camera" />
          <label class="file-label" for="file2">사진 업로드. 여기로 드래그 하셔도 되어요.</label>
          <p class="file-helper"><small>Only .jpg and .png files. 500kb max file size.</small></p>
        </div>
        <div class="file-attachment">
          <h5 class="file-attachment-title">첨부한 파일</h5>
          <p class="file-attachment-helper js-file-attachment-helper">No files currently selected for upload.</p>
          <ul class="file-attachment-list js-file-attachment-list"></ul>
        </div>
      </form>
    </article>

    <!-- <article class="article">
      <h1 class="article-title">Index</h1>
      <p class="article-description"></p>
      <nav class="index">
        <h2 class="index-title">Table of contents.</h2>
        <ol>
          <li><a href="#">Xero</a></li>
          <li><a href="#">Xero</a></li>
          <li><a href="#">Xero</a></li>
          <li><a href="#">Xero</a></li>
          <li><a href="#">Xero</a></li>
        </ol>
      </nav>
    </article> -->
    <!-- // Chris said Marcus replied -->


    

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Carousel</h1>
      <p class="article-description">작성 중.</p>
      <ul>
        <li>서드파티 라이브러리를 사용하지 않고 가로 스크롤을 활용합니다.</li>
        <li>터치 제스쳐를 지원하지 않는 환경에서는 arrow 버튼을 제공합니다.</li>
      </ul>
      <br />
      <section class="carousel" style="max-width:auto;">
        <div class="carousel-viewer" style="margin-right:-50%;padding-right:200px;">
          <a class="carousel-viewer-slide" href="#profile">
            <span class="carousel-viewer-slide-media">🧑‍🦱</span>
            <p class="carousel-viewer-slide-name">사용자 프로필</p>
          </a>
          <a class="carousel-viewer-slide" href="#signup">
            <span class="carousel-viewer-slide-media">🗂️</span>
            <p class="carousel-viewer-slide-name">회원가입</p>
          </a>
          <a class="carousel-viewer-slide" href="#login">
            <span class="carousel-viewer-slide-media">🗂️</span>
            <p class="carousel-viewer-slide-name">로그인</p>
          </a>
          <a class="carousel-viewer-slide" href="#forgot">
            <span class="carousel-viewer-slide-media">🔑</span>
            <p class="carousel-viewer-slide-name">비밀번호 찾기</p>
          </a>
          <a class="carousel-viewer-slide" href="#post">
            <span class="carousel-viewer-slide-media">✍️</span>
            <p class="carousel-viewer-slide-name">포스트</p>
          </a>
          <a class="carousel-viewer-slide" href="#product">
            <span class="carousel-viewer-slide-media">🧴</span>
            <p class="carousel-viewer-slide-name">상품</p>
          </a>
        </div>
        <!-- <nav class="carousel-dots">
          <button class="carousel-dots-dot">1</button>
        </nav> -->
        <nav class="carousel-arrows">
          <button class="carousel-arrows-prev" title="이전"><i class="icon-chevron is-left"></i></button>
          <button class="carousel-arrows-next" title="다음"><i class="icon-chevron"></i></button>
        </nav>
      </section>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Table</h1>
      <p class="article-description">표.</p>
      <table>
        <caption>히라가나 오십음도</caption>
        <!-- <colgroup>
          <col>
          <col span="2" class="batman">
          <col span="2" class="flash">
        </colgroup> -->
        <thead role="rowgroup">
          <tr role="row">
            <!-- <th role="columnheader" aria-sort="none" class="table-checkbox">
              <div>
                <input type="checkbox" id="temp1">
                <label for="temp1"></label>
              </div>
            </th> -->
            <th scope="col">あ단</th>
            <th scope="col">い단</th>
            <th scope="col">う단</th>
            <th scope="col">え단</th>
            <th scope="col">お단</th>
            <th scope="col" class="right">숫자</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          <tr role="row" aria-rowindex="11">
            <td>な</td>
            <td>に</td>
            <td>ぬ</td>
            <td>ね</td>
            <td>の</td>
            <td class="right">9,600</td>
          </tr>
          <tr>
            <td>わ</td>
            <td>ゐ wi</td>
            <td>-</td>
            <td>ゑ we</td>
            <td>を wo(o)</td>
            <td class="right"> ん n/nn</td>
          </tr>
        </tbody>
      </table>
      <br />
      <!-- // todo 가로 스크롤 패턴 -->
      <table>
        <caption>히라가나 오십음도</caption>
        <tbody role="rowgroup">
          <tr role="row" aria-rowindex="11">
            <th scope="row">제목</th>
            <td>に</td>
          </tr>
          <tr role="row" aria-rowindex="11">
            <th scope="row">제목</th>
            <td>に</td>
          </tr>
          <tr role="row" aria-rowindex="11">
            <th scope="row">제목</th>
            <td>に</td>
          </tr>
        </tbody>
      </table>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Accordion / Details</h1>
      <p class="article-description">사용자의 필요에 따라 취사선택할 수 있도록 정보 목록을 요약합니다.</p>

      <h4 class="article-subhead">Best practices</h4>
      <ul>
        <li>사용자가 반드시 숙지해야 하는 정보를 아코디언으로 요약해서 보여주지 마세요. (툴팁도)</li>
      </ul>

      <h4 class="article-subhead">Editing checklist</h4>
      <ul>
        <li>heading은 한 문장으로 간결하게 작성하세요.</li>
      </ul>

      <blockquote>
        <p>레거시 유아이. 자주묻는질문(FAQ) 정도 외에는 잘 쓰지 않음. 교육 도매인에서 커리큘럼 정도에서 보임. 간단한 콘텐츠 확장에는 모바일 친화적인 모달이나 시트를 사용함. </p>
        <p>클릭 영역의 정의. 제목/제목+본문. 단, 아코디언이 활성화 상태일 때 본문을 클릭하여 닫을 수 있게 되면, 본문에 페이지 링크를 사용할 수 없음.</p>
      </blockquote>


      <!-- <details class="details">
        <summary class="details-summary">써머리</summary>
        <p>안녕</p>
      </details> -->

      <section class="faq"><abbr title="Frequently asked questions" hidden>FAQ</abbr></section>
      <header style="padding-bottom:2rem;text-align:center;">
        <!-- <small>Find Your Answers</small> -->
        <h2 style="font-size:var(--font-size-title);" title="FAQs">궁금한 점이 있으신가요?</h2>
      </header>

      <section class="faq">
        <article class="accordion js-accordion" aria-expanded="false">
          <h3 class="accordion-title" role="button">
            탈퇴하고 싶어요.
            <figure class="accordion-title-icon"><i class="icon-chevron is-down"></i></figure>
          </h3>
          <div class="accordion-panel">
            <p>모든 국민은 건강하고 쾌적한 환경에서 생활할 권리를 가지며, 국가와 국민은 환경보전을 위하여 노력하여야 한다. 대통령은 내우·외환·천재·지변 또는 중대한 재정·경제상의 위기에 있어서 국가의 안전보장 또는 공공의 안녕질서를 유지하기 위하여 긴급한 조치가 필요하고 국회의 집회를 기다릴 여유가 없을 때에 한하여 최소한으로 필요한 재정·경제상의 처분을 하거나 이에 관하여 법률의 효력을 가지는 명령을 발할 수 있다.</p>
            <p>제1항의 지시를 받은 당해 행정기관은 이에 응하여야 한다. 국회의원은 법률이 정하는 직을 겸할 수 없다. 대통령의 임기연장 또는 중임변경을 위한 헌법개정은 그 헌법개정 제안 당시의 대통령에 대하여는 효력이 없다.</p>
          </div>
        </article>
        <article class="accordion js-accordion" aria-expanded="false">
          <h3 class="accordion-title" role="button">
            주문을 취소하고 싶어요.
            <figure class="accordion-title-icon"><i class="icon-chevron is-down"></i></figure>
          </h3>
          <div class="accordion-panel">
            <p>모든 국민은 건강하고 쾌적한 환경에서 생활할 권리를 가지며, 국가와 국민은 환경보전을 위하여 노력하여야 한다. 대통령은 내우·외환·천재·지변 또는 중대한 재정·경제상의 위기에 있어서 국가의 안전보장 또는 공공의 안녕질서를 유지하기 위하여 긴급한 조치가 필요하고 국회의 집회를 기다릴 여유가 없을 때에 한하여 최소한으로 필요한 재정·경제상의 처분을 하거나 이에 관하여 법률의 효력을 가지는 명령을 발할 수 있다.</p>
            <p>제1항의 지시를 받은 당해 행정기관은 이에 응하여야 한다. 국회의원은 법률이 정하는 직을 겸할 수 없다. 대통령의 임기연장 또는 중임변경을 위한 헌법개정은 그 헌법개정 제안 당시의 대통령에 대하여는 효력이 없다.</p>
          </div>
        </article>
      </section>

      <p style="margin:var(--space) 0 0 0;">궁금증을 해결하지 못하셨나요? <a href="#">Get in touch with us.</a></p>

    </article>


    <!-- <style>
      .container {
        display: flex;
        height: 300px;
        justify-content: space-between;
        align-items: flex-end;
      }

      .item { width: 14%; }
      .item-1 { height: 40%; }
      .item-2 { height: 50%; }
      .item-3 { height: 60%; }
      .item-4 { height: 20%; }
      .item-5 { height: 30%; }
    </style> -->
    
    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Result</h1>
      <p class="article-description">실행 결과. 오류. 내용 없음. 케이스에 모두 사용할 수 있는.</p>

      <aside class="article-aka">
        <span class="tag">a.k.a.</span>
        <span class="hashtag" title="">EmptyState</span>
        <span class="hashtag" title="github">Blankslate</span>
      </aside>

      <section class="empty" style="border:var(--border);border-radius:var(--radius);margin:2rem 0 0 0;">
        <i class="empty-icon">🧟</i>
        <h1 class="empty-title">주문을 확인해주세요.</h1>
        <p class="empty-description">헌법재판소 재판관의 임기는 6년으로 하며, 법률이 정하는 바에 의하여 연임할 수 있다. 대통령은 법률안의 일부에 대하여 또는 법률안을 수정하여 재의를 요구할 수 없다.</p>
        <div class="empty-list">
          <div class="empty-list-item"><b>주문시간</b><span>2019-08-10</span></div>
          <div class="empty-list-item"><b>결제금액</b><span>₩ 54,000</span></div>
        </div>
        <a class="empty-action" href="#">주문내역 보기</a>
      </section>

      <h4 class="article-subhead">Props</h4>
      <dl>
        <dt>src<abbr>?</abbr></dt>
        <dd>string</dd>
        <dt>title<abbr>?</abbr></dt>
        <dd>string</dd>
        <dt>description<abbr>?</abbr></dt>
        <dd>string</dd>
        <dt>primaryActionLabel<abbr>?</abbr></dt>
        <dd>string</dd>
        <dt>primaryActionHref<abbr>?</abbr></dt>
        <dd>string</dd>
        <dt>secondaryActionLabel<abbr>?</abbr></dt>
        <dd>string</dd>
      </dl>

      <h4 class="article-subhead">Best practices</h4>
      <ul>
        <li>왼쪽 정렬의 기본적인 텍스트 모듈과 대비를 위해 가운데 정렬합니다.</li>
        <li>페이지 레벨과 섹션 레벨의 empty, error, complete 상황에서 사용합니다.</li>
      </ul>
    </article>
  </section>

  <!-- <i class="icon-check1"></i>
  <style>
  .icon-check1 {display:block;width:40px;height:40px;border-radius:50%;border:2px solid var(--gray800);position:relative;}
  .icon-check1:before {content:'';display:inline-block;width:28px;height:9px;border-left:2px solid;border-bottom:2px solid;border-color:var(--gray800);transform:rotate(-45deg);position:absolute;right:-2px;top:4px;z-index:var(--zindex-default);}
  .icon-check1:after {content:'';display:block;width:16px;height:18px;background:var(--color-background);position:absolute;right:-6px;top:0px;z-index:var(--zindex-default);}
  </style> -->

</main>

  <!-- <input type="text" aria-label="Tag" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="owned_listbox" aria-activedescendant="selected_option">
  <ul role="listbox" id="owned_listbox">
    <li role="option">Zebra</li>
    <li role="option" id="selected_option">Zoom</li>
  </ul>

  <input type="text" aria-activedescendant="cb1-opt6" aria-readonly="true" aria-owns="cb1-list" aria-autocomplete="list" role="combobox" id="cb1-edit">
  <ul aria-expanded="true" role="listbox" id="cb1-list">
    <li role="option" id="cb1-opt1">Alabama</li>
    <li role="option" id="cb1-opt2">Alaska</li>
    <li role="option" id="cb1-opt3">American Samoa</li>
    <li role="option" id="cb1-opt4">Arizona</li>
    <li role="option" id="cb1-opt5">Arkansas</li>
    <li role="option" id="cb1-opt6">California</li>
    <li role="option" id="cb1-opt7">Colorado</li>
  </ul> -->

<!--
<p>아래 두 영역에서 텍스트를 선택해보세요.</p>
<form>
  <textarea name="ta-example-one" id="ta-example-one" rows="7" cols="40">텍스트 영역 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, lorem a porttitor molestie, odio nibh iaculis libero, et accumsan nunc orci eu dui.</textarea>
  <textarea name="ta-example-two" id="ta-example-two" rows="7" cols="40">텍스트 영역 2. Fusce ullamcorper, nisl ac porttitor adipiscing, urna orci egestas libero, ut accumsan orci lacus laoreet diam. Morbi sed euismod diam.</textarea>
</form>

<p>활성화된 요소 ID: <b id="output-element"></b></p>
<p>선택한 텍스트: <b id="output-text"></b></p>

function onMouseUp(e) {
  const activeTextarea = document.activeElement;
  const selection = activeTextarea.value.substring(
    activeTextarea.selectionStart, activeTextarea.selectionEnd
  );

  const outputElement = document.getElementById('output-element');
  const outputText = document.getElementById('output-text');
  outputElement.innerHTML = activeTextarea.id;
  outputText.innerHTML = selection;
}

const textarea1 = document.getElementById('ta-example-one');
const textarea2 = document.getElementById('ta-example-two');
textarea1.addEventListener('mouseup', onMouseUp, false);
textarea2.addEventListener('mouseup', onMouseUp, false);
-->


    <!-- <article class="article">
      <h1 class="article-title">Range</h1>
      <p class="article-description">샘플. 라이브러리를 사용을 권장합니다.</p>
      <div class="range">
        <label for="">숙박 인원</label>
        <input type="range" min="1" max="10" value="2" step="any" list="tickmarks" id="myRange">
        <datalist id="tickmarks">
          <option value="0" label="0"></option>
          <option value="5" label="5"></option>
          <option value="10" label="10"></option>
        </datalist>
      </div>
      <script>
      var carousel = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = carousel.value; // Display the default carousel value
      // Update the current carousel value (each time you drag the carousel handle)
      carousel.oninput = function() {
        output.innerHTML = this.value;
      }
    </script>
    </article> -->


    <!-- <article class="article">
      <h1 class="article-title">Calendar</h1>
      <p class="article-description"></p>
      <div class="calendar">
        <h3>2020년 12월</h3>
        <nav class="calendar-navigation">
          <button class="calendar-navigation-prev"><i class="icon-caret is-left"></i></button>
          <button class="calendar-navigation-next"><i class="icon-caret is-right"></i></button>
        </nav>
        <div class="calendar-head" role="row">
          <div>일</div>
          <div>월</div>
          <div>화</div>
          <div>수</div>
          <div>목</div>
          <div>금</div>
          <div>토</div>
        </div>
        <div class="calendar-body" role="row">
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
        </div>
      </div>
    </article> -->