<main class="contact">
	<section class="contact-head">
		<div class="contact-head-background"></div>
		<h1 class="contact-head-title">오시는 길</h1>
		<div style="width:100%;overflow:hidden;">
			<p class="contact-head-description">페이지 디스크립션을 아무거나 입력합니다. 저희가 하는 일이나 저희 팀에 궁금한 점이 있으면 언제든 연락주세요. 부끄러우니까 연락하지마요.</p>
			<div class="contact-head-phone">
				대구광역시 달서구<br>
				죽전동 268-8<br>
				강남빌라 500호
			</div>
			<div class="contact-head-address">
				<div>E. soojubm@gmail.com</div>
				<div>T. +357 22 875996</div>
				<div>F. +357 22 875996</div>
			</div>
		</div>
	</section>

	<section class="contact-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.492719612198!2d121.55932191500658!3d25.051283883964214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab94e6c63c77%3A0xb57fea257fc2bff2!2z7LmY7JWE642UIO2OkeumrOyImA!5e0!3m2!1sko!2skr!4v1553940621738!5m2!1sko!2skr" allowfullscreen></iframe>
	</section>
</main>
