<main class="dashboard">
  <style>
    .dashboard {
      height: 100vh;
      background-color: var(--gray100);
    }
    .navbar {
      display: none;
    }
    .titlebar {
      display: none;
    }
  </style>
  <aside class="dashboard">
    <header class="dashboard-head tile-elevated" style="max-width:400px;position:fixed;left:var(--space);top:var(--space);bottom:var(--space);">
      <a href="" style="display:block;margin-top:var(--space-leading-subhead);font-size:2rem;">🐤</a>

      <form class="filter">
        <header class="filter-head">
          <!-- <h1 class="filter-title">필터</h1> -->
        </header>
        <fieldset class="filter-fieldset">
          <legend class="filter-fieldset-legend">예약하기</legend>
        </fieldset>
        <hr />
        <footer class="filter-foot">
          <button class="filter-foot-confirm">적용</button>
          <button class="filter-foot-reset">clear filters</button>
        </footer>
      </form>
    </header>
  </aside>
</main>
