<main class="delete">
	<header class="delete-head">
		<h1 class="delete-head-title">회원 탈퇴</h1>
		<p class="delete-head-description">회원탈퇴를 신청하기 전에 안내 사항을 꼭 확인해주세요.</p>
	</header>

	<!-- <section class="delete-suggest">
		<h3 class="delete-suggest-subhead">이메일이 너무 많이 오나요?</h3>
		<p>내 정포 페이지에서 뉴스레터 수신거부 할 수 있어요.</p>
	</section> -->

	<section class="delete-why">
		<h2 class="delete-why-title">어떤 점이 불편하셨나요?</h2>
		<p class="delete-why-description">불편했던 점을 말씀해주시면, 와디즈의 서비스 개선에 참고하도록 하겠습니다.</p>
		<fieldset>
			<div class="checkbox">
				<input class="js-check" type="checkbox" id="line01" value="" checked />
				<label for="line01" title="Everyday is like sunday">콘텐츠 품질과 서비스 정보 부족/불만족</label>
			</div>
			<div class="checkbox">
				<input class="js-check" type="checkbox" id="line01" value="" checked />
				<label for="line01" title="Everyday is like sunday">다른 이메일로 재가입</label>
			</div>
			<div class="checkbox">
				<input class="js-check" type="checkbox" id="line01" value="" checked />
				<label for="line01" title="Everyday is like sunday">잦은 시스템 장애</label>
			</div>
			<div class="checkbox">
				<input class="js-check" type="checkbox" id="line03" value="" checked />
				<label for="line03" title="Everyday is like sunday">개인정보 노출 우려</label>
			</div>
			<div class="checkbox textfiled">
				<input class="js-check" type="checkbox" id="other" name="interest" value="other">
				<label for="other">기타</label>
				<input type="text" name="other" class="textfield-input" placeholder="다른 거 뭔지 입력해주세요.">
			</div>
		</fieldset>
	</section>

	<footer class="delete-action">
		<button class="danger-button">모든 정보와 계정을 삭제합니다</button>
		<button class="text-button" style="color:#000;">다음에 탈퇴</button>
	</footer>
</main>