<main class="delete">
	<header class="delete-head">
		<h1 class="delete-head-title">회원 탈퇴</h1>
		<p class="delete-head-description">안내 사항</p>
	</header>
	<section class="delete-suggest">
		<h3 class="delete-suggest-subhead">이메일이 너무 많이 오나요?</h3>
		<p>내 정보 페이지에서 수신거부 할 수 있어요.</p>
	</section>
	<hr />
	<form class="delete-why">
		<!-- <h2 class="delete-why-title">어떤 점이 불편하셨나요?</h2> -->
		<!-- <p class="delete-why-description">불편했던 점을 말씀해주시면, 서비스 개선에 참고하도록 하겠습니다.</p> -->
		<fieldset>
			<legend>어떤 점이 불편하셨나요?</legend>
			<div class="checkbox">
				<input class="js-check" type="radio" id="delete01" name="delete" value="" />
				<label for="delete01" title="Everyday is like sunday">콘텐츠 품질 및 서비스 정보 불만족</label>
			</div>
			<div class="checkbox">
				<input class="js-check" type="radio" id="delete02" name="delete" value="" />
				<label for="delete02" title="Everyday is like sunday">다른 이메일로 재가입</label>
			</div>
			<div class="checkbox">
				<input class="js-check" type="radio" id="delete03" name="delete" value="" />
				<label for="delete03" title="Everyday is like sunday">너무 많은 이메일을 받고 있음</label>
				<p>
					<a href="#">이메일 설정</a>을 변경할 수 있다는 사실을 알고 계셨나요?
				</p>
			</div>
			<!-- <div class="checkbox">
				<input class="js-check" type="radio" id="delete03" name="delete" value="" />
				<label for="delete03" title="Everyday is like sunday">잦은 시스템 장애</label>
			</div> -->
			<div class="checkbox">
				<input class="js-check" type="radio" id="delete04" name="delete" value="" />
				<label for="delete04" title="Everyday is like sunday">개인정보 노출 우려</label>
			</div>
			<div class="checkbox textfield">
				<input class="js-check" type="radio" id="delete05" name="delete" value="other" />
				<label for="delete05">기타</label>
				<input type="text" name="other" class="textfield-input" placeholder="제이드" />
			</div>
		</fieldset>
	</section>
	<hr />
	<footer class="delete-action">
		<button class="delete-action-confirm" onClick="javascript:confirm('정말로 탈퇴하시겠습니까?')">계정과 계정 정보를 모두 삭제합니다</button>
		<button class="delete-action-back">조금 더 이용해볼게요</button>
	</footer>


</main>