<main class="design-home">
  <header>
    <h1>
      Making<br />
      things better
    </h1>
    <p>디자인 시스템을 코드 베이스에서 실험하며<br />베스트 프랙티스를 찾고 있습니다.</p>
  </header>

  <nav>
    <a href="#" readonly
      >Principles
      <span><i class="icon-arrow"></i></span>
    </a>
    <a href="#components"
      >Components
      <div class="tag" data-appearance="secondary">Draft</div>
      <span><i class="icon-arrow"></i></span>
    </a>
    <a href="#" readonly
      >Voices & Tone (or Writing)
      <span><i class="icon-arrow"></i></span>
    </a>
    <a href="#coding"
    >Coding
    <span><i class="icon-arrow"></i></span>
  </a>
  </nav>

  <!-- <p>reserch / persona / user journey map / sitemap 관해서 정리해보기.. 부족한 부분..</p> -->

  <footer
    style="width: var(--width-medium);
  margin: 0 auto;"
  >
    <div class="uxsitemap">
      <div>
        <h2 style="margin-bottom:1rem;">"Flat" Site Architecture</h2>
        <p>필요 이상으로 복잡한 사이트를 디자인하지 못하도록 하는 목적.</p>
        <p>A Flat Architecture means that users (and search engine crawlers) can reach any page on your site in 4 clicks or less.</p>
      </div>
      <br />
      <div role="group">
        <span class="tag">URL Structure</span>
        <span class="tag">Category Pages</span>
      </div>
      <ol>
        <li>프로젝트에 참여하는 모든 사람이 액세스 할 수있는 형식으로 사이트 맵 유지</li>
        <li>웹 사이트 구조에서 일어나는 모든 변화를 반영하는 살아있는 문서 여야합니다 변경/ 반영이 쉬워야 한다.</li>
        <li>
          정신 모델은 뭔가 현실 세계에서 작동하는 방법에 대한 다른 사람의 생각에 대한 설명입니다. Jakob의 법칙에 따르면 사용자는 대부분의 시간을 다른
          사이트에서 보냅니다. 이는 사용자가 이미 알고있는 다른 모든 사이트와 동일한 방식으로 작동하는 사이트를 선호한다는 것을 의미합니다. 이 규칙은
          시각 디자인과 정보 아키텍처 모두에 적용됩니다. 즉, 웹 사이트의 시각적 모양과 논리적 구조가 해당 카테고리의 경쟁 업체 웹 사이트와 크게 다르지
          않아야합니다. 예를 들어 회사 웹 사이트를 디자인하는 경우 대부분의 방문자가이 정보를 기대하기 때문에 "회사 소개"페이지를 포함하고 최상위 탐색
          옵션으로 만드는 것이 좋습니다. 대상 청중을 대표하는 사람들과 함께 공개 카드 정렬 워크샵 을 수행하고 콘텐츠를 그룹으로 구성하고 그룹의 이름을
          제시하도록하는 것이 좋습니다 .
        </li>
        <li>
          사용자가 작업을 완료하기 위해 수행해야하는 단계가 많을수록 (예 : 웹 사이트에서 제품 구매) 방문자가 작업을 완료하지 않고 사이트를 떠날
          가능성이 높아집니다. 3 번 클릭 규칙 은 웹 사이트의 모든 페이지를 탐색하는 데 3 번의 클릭 만하면된다는 비공식적 인 웹 디자인 규칙입니다. 이는
          사이트 사용자가 좌절감을 느끼고 세 번의 클릭으로 정보를 찾을 수 없으면 종종 떠날 것이라는 믿음에 기반합니다. 사이트 맵을 사용하여 필수
          단계와 선택 단계를 파악하고 가능한 경우 단계를 결합하세요.
        </li>
      </ol>
      <a href="https://www.nngroup.com/articles/flat-vs-deep-hierarchy/"></a>
      <hr />
      <section>
        <h1>Home</h1>
      </section>
      <section class="map">
        <div class="map-head">
          <b>1</b>
          <h2>design system</h2>
        </div>
        <div class="map-body">
          <b>1-1</b>
          <h3>Principles</h3>
        </div>
        <div class="map-body">
          <b>1-2</b>
          <h3>Components</h3>
        </div>
        <div class="map-body">
          <b>1-3</b>
          <h3>Writings or Voice & Tone</h3>
        </div>
        <div class="map-body">
          <b>1-4</b>
          <h3>Source Code or Coding Conventions - html / css / javascript</h3>
        </div>
        <div class="map-body">
          <b>1-5</b>
          <h3>Accessibility</h3>
        </div>
      </section>
      <section class="map">
        <div class="map-head">
          <b>2</b>
          <h2>Pages</h2>
        </div>
        <div class="map-body">
          <b>2-1</b>
          <h3>Temp</h3>
        </div>
        <div class="map-body">
          <b>2-2</b>
          <h3>Temp</h3>
        </div>
        <div class="map-body">
          <b>2-3</b>
          <h3>Temp</h3>
        </div>
      </section>
      <section>
        <div class="map-head">
          <b>6</b>
          <h2>Users</h2>
        </div>
        <div class="map-body">
          <b>6-1</b>
          <h3>User info</h3>
        </div>
      </article>
    </section>
      <section>
          <div class="map-head">
            <b>5</b>
            <h2>about</h2>
          </div>
          <div class="map-body">
            <b>5-1</b>
            <h3>about</h3>
          </div>
          <div class="map-body">
            <b>1-2</b>
            <h3>contact</h3>
          </div>
        </article>
      </section>
      <section>
        <div class="map-head">
          <b>0</b>
          <h2>Login</h2>
        </div>
        <div class="map-body">
          <b>0-1</b>
          <h3>Forgot password</h3>
        </div>
        <div class="map-body">
          <b>0-1</b>
          <h3>Settings</h3>
        </div>
        <div class="map-body">
          <b>0-2</b>
          <h3>User Profile</h3>
        </div>
        <div class="map-body">
          <b>0-3</b>
          <h3>Delete account</h3>
        </div>
      </section>
      <section>
        <div class="map-head">
          <b>0</b>
          <h2>Signup</h2>
        </div>
      </section>
      <section>
        <div class="map-head">
          <b>0</b>
          <h2>Legal</h2>
        </div>
        <div class="map-body">
          <b>0-1</b>
          <h3>Terms of Service</h3>
        </div>
        <div class="map-body">
          <b>0-1</b>
          <h3>Privacy Policy</h3>
        </div>
      </section>
    </div>
  </footer>
</main>
