<main class="design">
  <header class="design-head">
  </header>
  <section class="hero">
    <div class="hero-obj1"></div>
    <div class="hero-obj2"></div>
    <div class="hero-obj3"></div>
    <div class="hero-background"></div>
    <h1 class="hero-title">부끄러우니까 보지마요 🗯</h1>
    <p class="hero-description">바닐라 자바스크립트로 개발하였습니다.<br />이 폰트는 윈도우즈에서 예쁘게 나오지 않아요.</p>
    <a class="hero-cta">Call to Action</a>
    <img class="hero-obj4" src="/public/images/blob-shape.svg" alt="" />
  </section>
  <section class="design-body">
<!-- 
  <div class="stamp">
    <div class="circle">
      <p id="circle-content">EXPERIMENTS . EXPERIMENTS .</p>
    </div>
    <p>2018</p>
  </div>
    <script>
function _defineProperty(obj, key, value) {if (key in obj) {Object.defineProperty(obj, key, { value: value, enumerable: true, configurable: true, writable: true });} else {obj[key] = value;}return obj;}const cursor = document.getElementById("cursor");
const amount = 20;
const sineDots = Math.floor(amount * 0.3);
const width = 26;
const idleTimeout = 150;
let lastFrame = 0;
let mousePosition = { x: 0, y: 0 };
let dots = [];
let timeoutID;
let idle = false;
let hoverButton;
let hoverTL;

class HoverButton {
  constructor(id) {_defineProperty(this, "onMouseEnter",
    () => {
      this.hoverInAnim();
    });_defineProperty(this, "hoverInAnim",

    () => {
      if (!this.hovered) {
        this.hovered = true;
        this.animatingHover = true;
        this.forceOut = false;
        TweenMax.fromTo(
        this.bg,
        this.timing,
        { x: "-112%" },
        {
          x: "-12%",
          ease: Power3.easeOut,
          onComplete: () => {
            this.animatingHover = false;
            if (this.forceOut) {
              this.foceOut = false;
              this.hoverOutAnim();
            }
          } });


      }
    });_defineProperty(this, "onMouseLeave",

    () => {
      if (!this.animatingHover) {
        this.hoverOutAnim();
      } else {
        this.forceOut = true;
      }
    });_defineProperty(this, "hoverOutAnim",

    () => {
      this.hovered = false;
      TweenMax.to(this.bg, this.timing, {
        x: "100%",
        ease: Power3.easeOut,
        onComplete: () => {
        } });

    });this.hovered = false;this.animatingHover = false;this.forceOut = false;this.timing = 0.65;this.el = document.getElementById(id);this.bg = this.el.getElementsByClassName("bg")[0];this.el.addEventListener("mouseenter", this.onMouseEnter);this.el.addEventListener("mouseleave", this.onMouseLeave);}}


class Dot {
  constructor(index = 0) {
    this.index = index;
    this.anglespeed = 0.05;
    this.x = 0;
    this.y = 0;
    this.scale = 1 - 0.05 * index;
    this.range = width / 2 - width / 2 * this.scale + 2;
    this.limit = width * 0.75 * this.scale;
    this.element = document.createElement("span");
    TweenMax.set(this.element, { scale: this.scale });
    cursor.appendChild(this.element);
  }

  lock() {
    this.lockX = this.x;
    this.lockY = this.y;
    this.angleX = Math.PI * 2 * Math.random();
    this.angleY = Math.PI * 2 * Math.random();
  }

  draw(delta) {
    if (!idle || this.index <= sineDots) {
      TweenMax.set(this.element, { x: this.x, y: this.y });
    } else {
      this.angleX += this.anglespeed;
      this.angleY += this.anglespeed;
      this.y = this.lockY + Math.sin(this.angleY) * this.range;
      this.x = this.lockX + Math.sin(this.angleX) * this.range;
      TweenMax.set(this.element, { x: this.x, y: this.y });
    }
  }}


class Circle {
  constructor(id) {
    const el = document.getElementById(id);
    const parent = el.parentElement;
    parent.removeChild(el);
    const chars = el.innerText.split("");
    chars.push(" ");
    for (let i = 0; i < chars.length; i++) {
      const span = document.createElement("span");
      span.innerText = chars[i];
      span.className = `char${i + 1}`;
      parent.appendChild(span);
    }
  }}


function init() {
  window.addEventListener("mousemove", onMouseMove);
  window.addEventListener("touchmove", onTouchMove);
  hoverButton = new HoverButton("button");
  // eslint-disable-next-line no-new
  new Circle("circle-content");
  lastFrame += new Date();
  buildDots();
  render();
}

/*function limit(value, min, max) {
      return Math.min(Math.max(min, value), max);
  }*/

function startIdleTimer() {
  timeoutID = setTimeout(goInactive, idleTimeout);
  idle = false;
}

function resetIdleTimer() {
  clearTimeout(timeoutID);
  startIdleTimer();
}

function goInactive() {
  idle = true;
  for (let dot of dots) {
    dot.lock();
  }
}

function buildDots() {
  for (let i = 0; i < amount; i++) {
    let dot = new Dot(i);
    dots.push(dot);
  }
}

const onMouseMove = event => {
  mousePosition.x = event.clientX - width / 2;
  mousePosition.y = event.clientY - width / 2;
  resetIdleTimer();
};

const onTouchMove = () => {
  mousePosition.x = event.touches[0].clientX - width / 2;
  mousePosition.y = event.touches[0].clientY - width / 2;
  resetIdleTimer();
};

const render = timestamp => {
  const delta = timestamp - lastFrame;
  positionCursor(delta);
  lastFrame = timestamp;
  requestAnimationFrame(render);
};

const positionCursor = delta => {
  let x = mousePosition.x;
  let y = mousePosition.y;
  dots.forEach((dot, index, dots) => {
    let nextDot = dots[index + 1] || dots[0];
    dot.x = x;
    dot.y = y;
    dot.draw(delta);
    if (!idle || index <= sineDots) {
      const dx = (nextDot.x - dot.x) * 0.35;
      const dy = (nextDot.y - dot.y) * 0.35;
      x += dx;
      y += dy;
    }
  });
};

init();

    </script> -->
    <!-- <nav class="pagenav">
      <h1 class="pagenav-title">이 페이지에는-</h1>
      <div class="pagenav-nav">
        <a class="pagenav-link" href=""><i class="avatar">📚</i> 서점</a>
        <a class="pagenav-link" href=""><i class="avatar">🤩</i> 장르</a>
        <a class="pagenav-link" href=""><i class="avatar">👑</i> 최다 판매 도서</a>
        <a class="pagenav-link" href=""><i class="avatar">👼🏼</i> 신작</a>
        <a class="pagenav-link" href=""><i class="avatar">💗</i> 로맨스</a>
        <a class="pagenav-link" href=""><i class="avatar">🧜‍♀️</i> 만화</a>
        <a class="pagenav-link" href="">Back to Top</a>
      </div>
      <br />
      <p>기능 정의<br />스크롤스파이. 스크롤되면 고정(> mobile devices). 모바일에서 가로 정렬 후 좌우 스크롤.</p>
    </nav> -->
    <!-- <div role="textbox" contenteditable="true" aria-placeholder="5-digit zipcode" aria-labelledby="txtboxLabel">contentEditable</div>  -->
    <article class="design-article typography">
      <h1 class="design-article-title">Typhography</h1>
      <button class="design-article-more">View All</button>
      <p class="design-article-description">하나의 무게Weight를 사용합니다.</p>
      <!-- <p>200 light / 400 normal / 700 bold</p> -->
      <div style="display:flex;">
        <div style="width:50%">
          <i style="display:block;margin-bottom:.5rem;width:16px;height:16px;border-radius:4px;background:cadetblue"></i>
          한글 <b style="display:block;font-size:1.25rem;">아리타 산스</b>
        </div>
        <div style="width:50%">
          <i style="display:block;margin-bottom:.5rem;width:16px;height:16px;border-radius:4px;background:cadetblue"></i>
          영문 <b style="display:block;font-size:1.25rem;">Asap</b style="display:block;font-size:$subhead;margin-top:.5rem;">
        </div>
      </div>
      
      <div style="margin:3rem 0 0 0;">
        <!-- <i style="display:block;margin-bottom:.5rem;width:16px;height:16px;border-radius:4px;background:cadetblue"></i> -->
        <h4 class="typography-subhead" style="margin:0 0 1rem;font-size: 1.25rem;">선약이 있어서 자아실현은 못할 것 같아요.</h4>
        <p class="typography-paragraph" style="margin: 0 0 1.5rem">서브헤드와 디스크립션 혹은 패러그라프는 이렇게 사용하세요. 서브헤드와 디스크립션 혹은 패러그라프는 이렇게 사용하세요. 서브헤드와 디스크립션 혹은 패러그라프는 이렇게 사용하세요. 서브헤드와 디스크립션 혹은 패러그라프는 이렇게 사용하세요.</p>
        <time class="typography-caption">10 January, 2020</time>
      </div>
    </article>

    <article class="design-article grayscale">
      <h1 class="design-article-title">Colors</h1>
      <p class="design-article-description">칼라칼라컬러컬러🐣</p>
      <h2 style="margin:0 0 .5rem;"><small>Gray Colors</small></h2>
      <div role="group">
        <figure class="color-item is-gray100">
          <div></div>
          <figcaption>
            gray100
          </figcaption>
        </figure>
        <figure class="color-item is-gray200">
          <div></div>
          <figcaption>gray200</figcaption>
        </figure>
        <figure class="color-item is-gray400">
          <div></div>
          <figcaption>gray400</figcaption>
        </figure>
        <figure class="color-item is-gray600">
          <div></div>
          <figcaption>gray600</figcaption>
        </figure>
        <figure class="color-item is-gray800">
          <div></div>
          <figcaption>gray800</figcaption>
        </figure>
      </div>
      <br />
      <h2 style="margin:0 0 .5rem;"><small>Main Colors</small></h2>
      <div role="group">
        <figure class="color-item is-red100">
          <div></div>
          <figcaption>red100</figcaption>
        </figure>
        <figure class="color-item is-red800">
          <div></div>
          <figcaption>red800</figcaption>
        </figure>
        <!-- <figure class="color-item is-positive">
          <div></div>
          <figcaption>green80</figcaption>
        </figure> -->
        <figure class="color-item is-primary100">
          <div></div>
          <figcaption>blue40</figcaption>
        </figure>
        <figure class="color-item is-primary200">
          <div></div>
          <figcaption>blue80</figcaption>
        </figure>
        <figure class="color-item is-gradient">
          <div></div>
          <figcaption>gradient</figcaption>
        </figure>
      </div>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Divider or Seperator</h1>
      <p class="design-article-description">html 문서에서 구분이 필요할 때 border 스타일을 사용하지 마세요. hr 태그로 마크업하세요. 중량감에 따라 마진을 달리 주기</p>
      <hr />
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Avatars & Cells</h1>
      <p class="design-article-description">사진이 들어간 아바타를 사용할 때와 아이콘을 사용할 때 지정된 4가지의 사이즈만 사용하세요.</p>
      <div role="group">
        <a href="" class="avatar is-large">
          <img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" />
        </a>
        <a href="" class="avatar is-medium">
          <img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" />
          <!-- <span class="avatar-badge"></span> -->
        </a>
        <a href="" class="avatar">
          <img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" />
        </a>
        <a href="" class="avatar is-small" style="width:22px;height:22px;">
          <img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" />
        </a>
        <a href="" class="avatar is-small">
          <img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" />
        </a>
      </div>
    </article>

<!-- 
    <article class="design-article">
      <h1 class="design-article-title">Emphasis</h1>
      <p class="design-article-description">수줍이는 이렇게 강조해요. 특정 단어를 강조하기 보담 시선을 끄는 카피를 선택하는 안목을 기르세요. 커밍 순...</p>
      <ol class="list-sample">  
        <li>수줍이는 <em>이렇게</em> 강조해요. <div>링크 텍스트로 오인될 수 있으니 주의하세요.</div></li>
        <li>수줍이는 <b>이렇게</b> 강조해요. <div>하나의 폰트 패밀리만 사용하기 때문에 볼드로 강조할 수 없다요.</div></li>
        <li>수줍이는 <u>이렇게</u> 강조해요. <div>언더라인으로 강조해요.</div></li>
        <li>수줍이는 <i style="font-style:italic;">이렇게</i> 강조해요. <div>한글에는 이탤릭의 개념이 없습니다.</div></li>
        <li>수줍이는 <sup>이렇게</sup> 강조해요. <div>수치를 표현할 때만 사용하세요.</div></li>
      </ol>
    </article> -->
    
    <article class="design-article">
      <h1 class="design-article-title">Breadcrumbs</h1>
      <p class="design-article-description">페이지 레벨이 3단계 이상일 때 사용해요. 홈 아이콘 대신 텍스트를 사용하니 깔끔해보인다. 모바일에서 사용하지 마세요.</p>
      <nav class="breadcrumbs" aria-label="breadcrumbs">
        <a class="breadcrumbs-item breadcrumbs-home" href="/"><span aria-hidden="true">홈</span>Home</a>
        <i class="breadcrumbs-divider icon-bullet"></i>
        <a class="breadcrumbs-item " href="#">페이지 이름</a>
        <i class="breadcrumbs-divider icon-bullet"></i>
        <a class="breadcrumbs-item breadcrumbs-last" href="#">페이지 이름</a>
      </nav>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Text Links</h1>
      <p class="design-article-description">문단 <span style="color:#00783e">내부 링크</span>와 문단 <span style="text-decoration:underline;color:#333;">외부 링크</span>를 구분합니다.</p>
      <p>형무소 안에서는 소장의 말이 곧 법이었으며 죄수들의 잘못과 실수는 결코 용납되지 않는다. 어머니의 사망 소식을 듣고 인해 2번이나 탈옥을 시도했다가 체포된 <a href="">루크</a>의 발에 쇠통이 채워지며 루크는…<a class="more" href="#" style="margin-left:.25rem;color:#000;text-decoration:underline;">더 보기</a></p>
    </article>

    <!-- <article class="design-article">
      <h1 class="design-article-title">Side Navigation</h1>
      <p class="design-article-description">탭리스트와 동일하게 마크업하세요. 스크롤스파이 개발하기.</p>
      <nav class="tablist is-vertical" style="margin-top:1rem" role="tablist">
        <div class="tablist-active"></div>
        <button class="tablist-tab is-active" role="tab" aria-selected="true" data-index="1">웹사이트 <i class="tablist-tab-badge">4</i></button>
        <button class="tablist-tab" role="tab" aria-selected="false" data-index="2">페이지 <i class="tablist-tab-badge">6</i></button>
        <button class="tablist-tab" role="tab" aria-selected="false" data-index="3">컴포넌트 <i class="tablist-tab-badge">18</i></button>
        <button class="tablist-tab" role="tab" aria-selected="false" data-index="4">빈 상태 <i class="tablist-tab-badge">18</i></button>
      </nav>
    </article> -->

    <article class="design-article">
      <h1 class="design-article-title">Tags</h1>
      <p class="design-article-description">임시로 code태그로 마크업해서 사용 중이에요. 닫기 아이콘 연하게.</p>
      <div class="tags" role="group">
        <!-- <div role="list"></div> -->
        <span class="tag tags-item" role="listitem">I'm hashtag</span>
        <span class="tag tags-item is-red" role="listitem">I'm hashtag</span>
      </div>
      <div role="group" style="margin-top:.5rem;">
        <button class="secondary-button is-small is-addable">Typhography <i class="icon-plus"></i></button>
        <button class="secondary-button is-small is-addable is-added">Cinema <i class="icon-close"></i></button>
      </div>
    </article>

    <article class="design-article" style="padding-bottom:80px;">
      <h1 class="design-article-title">Tooltip</h1>
      <p class="design-article-description">툴팁의 위치.</p>
      <aside class="tooltip" role="tooltip">
        <span class="tooltip-target">동그라미 안에 물음표 아이콘</span>
        <div class="tooltip-content">
          <p>마우스를 올렸을 때 나오는 툴팁입니다.</p>
          <p>스타일시트의 인접 선택자로 만들어져 있다요.</p>
        </div>
      </4aside>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Lists</h1>
      <p class="design-article-description">군집을 이루는 엘리먼트라면 모두 리스트로 취급될 수 있으니 주의하요. 리스트업된 텍스트 노드만 리스트 태그로 마크업.</p>
      <ul class="list-sample">
        <li title="unordered list, level 1">순서가 없는 리스트, 1레벨
          <ul>
            <li title="unordered list, level 2">순서가 없는 리스트, 2레벨</li>
            <li>순서가 없는 리스트, 2레벨</li>
          </ul>
        </li>
        <li>순서가 없는 리스트, 1레벨</li>
      </ul>
      <hr style="margin: 1rem 0;" />
      <ol class="list-sample">
        <li>순서가 있는 리스트, 1레벨
          <ol>
            <li>순서가 있는 리스트, 2레벨</li>
            <li>순서가 있는 리스트, 2레벨</li>
          </ol>
        </li>
        <li>순서가 있는 리스트, 1레벨</li>
      </ol>
      <!-- <hr style="margin: 1rem 0;" /> -->
      <!-- <dl class="row1 is-pull" style="margin:0 0 .5rem 0;">
        <dt>Definition term</dt>
        <dd>Definition text</dd>
      </dl>
      <dl class="row1 is-pull" >
        <dt>Definition term</dt>
        <dd>Definition text</dd>
      </dl> -->
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Statistic</h1>
      <p class="design-article-description">레이블과 밸류로 이루어진 유아이들을...</p>
      <div class="statistic"><i class="statistic-label">팔로워</i><span class="statistic-value">21,682</span></div>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Temp</h1>
      <p class="design-article-description">Temp</p>
      <!-- <p class="design-article-description">긍정 상황에 사용합니다. 부정 혹은 경고, 주의, 성공, 알림 등을 추가할까요?</p> -->
      <aside class="message">
        <span class="message-text"> This includes the <a href="">global HTML attributes</a>.</span>
        <button class="message-close" aria-label="close"><i class="icon-close"></i></button>
        <div class="message-head">
          <!-- <p>Hello World</p> -->
          <!-- <button class="delete" aria-label="delete"></button> -->
        </div>
        <div class="message-body" style="margin-top:.5rem;">
          <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
        </div>
      </aside>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">CSS Icons</h1>
      <p class="design-article-description">제곧내.</p>
      <div class="dd" role="group">
        <button class="design-article-icon"><i class="icon-person"></i></button>
        <button class="design-article-icon"><i class="icon-search"></i></button>
        <button class="design-article-icon"><i class="icon-chevron"></i></button>
        <button class="design-article-icon"><i class="icon-arrow"></i></button>
        <button class="design-article-icon"><i class="icon-more"></i></button>
        <button class="design-article-icon"><i class="icon-plus"></i></button>
        <button class="design-article-icon"><i class="icon-close"></i></button>
        <button class="design-article-icon"><i class="icon-caret"></i></button>
        <button class="design-article-icon"><i class="icon-hamberger"></i></button>
        <button class="design-article-icon"><i class="icon-bullet"></i></button>
        <!-- <button class="icon-button"><i class="icon-home"><span></span><span></span></i></button> -->
      </div>
    </article>

    <article class="design-article button-article">
      <style>
        .design-article.button-article > div {margin:0 0 2rem 0;}
        .design-article.button-article button {}
        .design-article.button-article button.icon-button {width: 48px;}
        .dd {overflow:hidden;width:100%;}
        .dd button {float:left;}
      </style>
      <h1 class="design-article-title">Buttons</h1>
      <p class="design-article-description">제곧내.</p>
      <div>
        <h6>Default Sizes</h6>
        <div role="group">
          <button class="primary-button">프라이머리</button>
          <button class="primary-button" disabled>프라이머리</button>
          <button class="secondary-button">세컨더리</button>
          <button class="tertiary-button">터시어리</button>
          <button class="text-button">텍스트</button>
          <!-- <button class="danger-button" aria-label="danger">Danger</button>
          <button class="success-button" aria-label="success">Success</button> -->
        </div>
      </div>
      <!-- <div>
        <h2>Disabled States</h2>
        <div role="group">
          <button class="primary-button" disabled>Primary</button>
          <button class="secondary-button" disabled>Secondary</button>
          <button class="tertiary-button" disabled>Tertiary</button>
          <button class="text-button" disabled>Text</button>
        </div>
      </div> -->
      <!-- <div class="button-group is-center" role="group">
        <button class="tertiary-button is-small">Prev</button>
        <button class="primary-button is-small">Next</button>
      </div> -->
      <div>
        <h6>Small Buttons</h6>
        <div role="group">
          <button class="primary-button is-small">프라이머리</button>
          <!-- <button class="danger-button is-small" aria-label="danger">Danger</button>
          <button class="success-button is-small" aria-label="danger">Success</button> -->
          <button class="secondary-button is-small">세컨더리</button>
          <button class="tertiary-button is-small">터시어리</button>
          <button class="text-button is-small">텍스트</button>
        </div>
      </div>
      <!-- <div>
        <h2>Button Group</h2>
        <div class="button-group" role="group">
          <p>2개 기준, 버튼 간 간격(gap) 버튼의 위치(left center right between), width, filtering</p>
          <button class="primary-button is-small is-active">Button Group</button>
          <button class="tertiary-button is-small">Button Group</button>
          <button class="tertiary-button is-small">Button Group <i class="icon-caret"></i></button>
        </div>
      </div> -->
      <!-- <div class="review">
        <div class="review-sorting" role="group">
          <button class="text-button is-small is-active">최신순</button>
          <button class="text-button is-small">별점낮은순</button>
          <button class="text-button is-small">별점높은순</button>
        </div>
        <div class="review-filter">
          <input type="checkbox" id="photo">
          <label for="photo">포토리뷰만 보기</label>
        </div>
      </div> -->
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Checkboxes</h1>
      <p class="design-article-description">checkbox, checkall, intermediate</p>
      <fieldset>
        <div class="checkbox">
          <input class="js-checkall" type="checkbox" id="line00" value="" />
          <label for="line00" title="Check All">전체 선택</label>
        </div>
        <hr />
        <div class="checkbox">
          <input class="js-check" type="checkbox" id="line01" value="" checked />
          <label for="line01" title="Everyday is like sunday">매일매일이 일요일 같아</label>
        </div>
        <div class="checkbox">
          <input class="js-check" type="checkbox" id="line03" value="" checked disabled />
          <label for="line03" title="Everyday is like sunday">매일매일이 일요일 같아</label>
        </div>
        <div class="checkbox textfiled">
          <input class="js-check" type="checkbox" id="other" name="interest" value="other">
          <label for="other">기타</label>
          <input type="text" name="other" class="textfield-input" placeholder="다른 거 뭔지 입력해주세요.">
        </div>
      </fieldset>
    </article>


    <article class="design-article">
      <h1 class="design-article-title">Radio</h1>
      <p class="design-article-description">내용이 없습니다.</p>
      <fieldset role="radiogroup">
        <div class="radio">
          <input type="radio" id="gender-man" name="gender" value="" checked>
          <label for="gender-man" title="Video Killed the Radio Button">비디오는 라디오 버튼을 죽여요</label>
          <p class="radio-helper">선택한 버튼에 대한 보조 텍스트를 제공합니다.</p>
        </div>
        <div class="radio">
          <input type="radio" id="gender-women" name="gender" value="">
          <label for="gender-women" title="Video Killed the Radio Button">비디오는 라디오 버튼을 죽여요</label>
        </div>
        <div class="radio">
          <input type="radio" id="gender-etc" name="gender2" value="" checked disabled>
          <label for="gender-etc" title="Video Killed the Radio Button">비디오는 라디오 버튼을 죽여요</label>
        </div>
      </fieldset>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Switch</h1>
      <p class="design-article-description">on/off 설정 등에 사용합니다.</p>
      <span class="switch" style="margin: 0 0 .75rem 0;">
        <input type="checkbox" id="switch1" name="" role="switch" value="on" checked />
        <label for="switch1" title="Receive weekly newsletter">주간 뉴스레터 받아보기</label>
      </span>
      <span class="switch">
        <input type="checkbox" id="switch2" name="" role="switch" value="off" disabled />
        <label for="switch2" title="Receive weekly newsletter">주간 뉴스레터 받아보기</label>
      </span>
    </article>
    <article class="design-article">
      <h1 class="design-article-title">Range</h1>
      <p class="design-article-description">샘플. 라이브러리를 사용을 권장합니다.</p>

      <div class="range">
        <label for="">숙박 인원</label>
        <input type="range" min="1" max="10" value="2" step="any" list="tickmarks" id="myRange">
        <datalist id="tickmarks">
          <option value="0" label="0"></option>
          <option value="5" label="5"></option>
          <option value="10" label="10"></option>
        </datalist>
      </div>
      <script>
      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value; // Display the default slider value

      // Update the current slider value (each time you drag the slider handle)
      slider.oninput = function() {
        output.innerHTML = this.value;
      }
    </script>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Textfield</h1>
      <p class="design-article-description">Input text, Textarea, Select, with Icon, with Unit, with Button</p>
      
      <div class="variation js-variation">
        <input class="variation-input js-variation-input js-number-input" name="variation1" type="number" value="0" min="5" max="20" >
        <button class="variation-decrement js-variation-decrement"><i class="icon-minus"></i></button>
        <button class="variation-increment js-variation-increment"><i class="icon-plus"></i></button>
      </div>
      <!-- addons === 검색 버튼 포함 가능 -->
      <!-- <div class="textfield" style="margin:2rem 0;">
        <label class="textfield-label" for="number">prefix와 suffix</label>
        <span class="textfield-prefix">http://</span>
        <i class="textfield-icon">prefix</i>
        <input class="textfield-input js-number-input" id="number" type="number" min="5" max="20" placeholder="숫자만 입력가능합니다."></input>
        <span class="textfield-suffix">@soojubm.com</span>
      </div> -->
      <!-- <div class="textfield" style="margin:2rem 0;">
        <label class="textfield-label" for="">아이디<abbr title="This field is mandatory" aria-label="required"></abbr></label>
        <input class="textfield-input" type="text" placeholder="soojubm" readonly></input>
      </div> -->
      <div class="textfield is-invalid" style="margin:2rem 0;">
        <label class="textfield-label" for="">레이블</label>
        <input class="textfield-input js-input-test" type="text" placeholder="Textarea Placeholder..." value=""></input>
        <!-- <button class="textfield-button primary-button">ddd</button> -->
        <small class="textfield-helper">You can @mention other users and organizations to link to them.</small>
      </div>
      <div role="group">
        <div class="textfield" style="flex-grow: 1;">
          <label class="textfield-label" for="date-start"><i class="">체크인</i></label>
          <label class="textfield-icon is-left is-right" for="date-start"><i class="material-icons">today</i></label>
          <input class="textfield-input" type="date" id="date-start" placeholder="날짜를 설정해주세요.">
        </div>
        <div class="textfield" style="flex-grow: 1;">
          <label class="textfield-label" for="date-start"><i class="">체크아웃</i></label>
          <label class="textfield-icon is-left is-right" for="date-start"><i class="material-icons">today</i></label>
          <input class="textfield-input" type="date" id="date-start" placeholder="날짜를 설정해주세요.">
        </div>
      </div>
      <div class="textfield" style="margin:2rem 0;">
        <label class="textfield-label" for="search1">Sort by</label>
        <select class="textfield-input" name="" id="">
          <option class="select-option" value="" disabled selected hidden>Choose an option</option>
          <option class="select-option" value="solong" >My Morning Jackt</option>
          <optgroup class="select-optgroup" label="Category 1">
            <option class="select-option" value="option1" disabled>Option 1</option>
            <option class="select-option" value="option2">Option 2</option>
          </optgroup>
          <optgroup class="select-optgroup" label="Category 2">
            <option class="select-option" value="option1">Option 1</option>
            <option class="select-option" value="option2">Option 2</option>
          </optgroup>
        </select>
        <i class="selectbox-indicator icon-caret"></i>
      </div>
    </div>
    <div class="textfield is-text" style="margin:2rem 0;">
      <label class="textfield-label" for="search1">Sort by</label>
      <select class="textfield-input" name="" id="">
        <option class="select-option" value="">Choose an option</option>
      </select>
      <i class="selectbox-indicator icon-caret"></i>
    </div>
      <div class="textfield" style="margin:2rem 0;">
        <label class="textfield-label" for="search1">텍스트에어리어 레이블</label>
        <small class="textfield-byte"><b>0 KB</b> / 100 KB</small>
        <textarea class="textfield-input" rows="3" placeholder="Textarea Placeholder..."></textarea>
      </div>

      <div class="textfield is-small is-inline" style="margin-bottom:8px;">
        <label class="textfield-label" for="">회사</label>
        <input class="textfield-input" type="text" placeholder="인풋 인라인스타일 스몰사이즈">
      </div>
      <div class="textfield is-small is-inline">
        <label class="textfield-label" for="">직위</label>
        <input class="textfield-input" type="text" placeholder="인풋 인라인스타일 스몰사이즈">
      </div>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Spinner</h1>
      <p class="design-article-description">샘플</p>
      <div class="spinner"></div>
    </article>

    <!-- <article class="design-article">
      <h1 class="design-article-title">Calendar</h1>
      <p class="design-article-description">미완성</p>
      <div class="calendar">
        <h3>2020년 12월</h3>
        <nav class="calendar-navigation">
          <button class="calendar-navigation-prev"><i class="icon-caret is-left"></i></button>
          <button class="calendar-navigation-next"><i class="icon-caret is-right"></i></button>
        </nav>
        <div class="calendar-head" role="row">
          <div>일</div>
          <div>월</div>
          <div>화</div>
          <div>수</div>
          <div>목</div>
          <div>금</div>
          <div>토</div>
        </div>
        <div class="calendar-body" role="row">
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
        </div>
      </div>
    </article> -->

    <article class="design-article">
      <h1 class="design-article-title">Dropdown</h1>
      <p class="design-article-description">오른쪽 정렬되었을 때 상태가 필요합니다. 드롭업 상태가 필요할까요?</p>
      <div class="header-user-account dropdown">
        <button class="dropdown-trigger js-toggle" aria-haspopup="menu" aria-expanded="false">
          드롭다운
          <i class="icon-caret" style="margin-left:.5rem;"></i>
        </button>
        <menu class="dropdown-menu" role="menu">
          <h6 class="dropdown-menu-title">Dropdown header</h6>
          <a class="dropdown-menu-link" href="" disabled>프로필 관리</a>
          <a class="dropdown-menu-link" href="">고객센터</a>
          <hr class="dropdown-menu-divider" />
          <a class="dropdown-menu-link" href="">수줍이에서 로그아웃</a>
        </menu>
      </div>
      <div class="header-user-account dropdown">
        <button class="dropdown-trigger js-toggle" aria-haspopup="menu" aria-expanded="false" style="width:32px;height:32px;">
          <i class="icon-more"></i>
        </button>
        <menu class="dropdown-menu">
          <a class="dropdown-menu-link" href="">수정</a>
          <a class="dropdown-menu-link" href="">삭제</a>
        </menu>
      </div>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">File Uploader</h1>
      <p class="design-article-description">파일 업로드</p>
      <!-- 파일 콘텐츠는 url 매개변수로 보낼 수 없다. 여러 조각-->
      <form class="file" method="" enctype="multipart/form-data">
        <!-- <h3 class="file-title">프로필 사진</h3> -->
        <div class="file-upload">
          <input class="file-input js-file-input" type="file" id="file2" multiple accept=".jpg,.png" />
          <!-- <input type="file" accept="image/*" capture="camera"> -->
          <label class="file-label" for="file2">파일을 추가하세요. 여기로 드래그 하셔도 되어요.</label>
          <p class="file-helper"><small>Only .jpg and .png files. 500kb max file size.</small></p>
        </div>
        <div class="file-attachment">
          <h1 class="file-attachment-title">첨부한 파일</h1>
          <p class="file-attachment-helper js-file-attachment-helper">No files currently selected for upload.</p>
          <ul class="file-attachment-list js-file-attachment-list">
          </ul>
        </div>
        <!-- <button class="js-file-submit primary-button" type="submit">등록하기</button> -->
      </form>
  </article>

    <article class="design-article grayscale">
      <h1 class="design-article-title">Cards</h1>
      <p class="design-article-description">하나의 마크업으로 가로형 세로형이 가능하도록...</p>
      <div class="card" style="width:320px;margin:2rem 0;">
        <figure class="card-thumbnail"><img alt="" /></figure>
        <h3 class="card-title">카드 유아이</h3>
        <p class="card-text">
          하나의 마크업으로 가로형 세로형이 가능하도록 하나의 마크업으로 가로형 세로형이 가능하도록 하나의 마크업으로 가로형 세로형이 가능하도록
        </p>
        <!-- <div class="card-price">
          <del>19,000원</del>
          16,000원
          <em>할인율 20%</em>
        </div> -->
        <time class="card-date">September 12, 2017</time>
        <figure class="card-byline">
          <div class="card-byline-avatar"><img src="/public/images/soo.png" alt="" /></div>
          <figcaption class="card-byline-name">수줍이</figcaption></figure>
        <div class="card-tags" role="group" style="margin-bottom:1rem">
          <span class="tag">기획</span>
          <span class="tag">디자인</span>
          <span class="tag">개발(워드프레스)</span>
        </div>
        <hr />
        <figure class="card-item">
          <img src="" alt="" class="avatar is-medium" />
          <figcaption class="card-item-name">퓨어 오렌지 주스</figcaption>
          <figcaption class="card-item-price">
            <del>19,000원</del>
            16,000원
            <em>할인율 20%</em>
          </figcaption>
        </figure>
        <figure class="card-item">
          <img src="" alt="" class="avatar is-medium" />
          <figcaption class="card-item-name">퓨어 오렌지 주스</figcaption>
          <figcaption class="card-item-price">
            <del>19,000원</del>
            16,000원
            <em>할인율 20%</em>
          </figcaption>
        </figure>
        <div class="card-note">마일리지 적립 200P</div>
        <!-- <div class="card-state">판매 상태(재고수/품절/재고없음/판매중단)</div> -->
        <button class="card-more"><i class="icon-more"></i></button>
      </div>

      <div class="quote" style="margin:2rem 0;">
        <div class="quote-avatar avatar">
          <i class="icon-person"></i>
        </div>
        <div class="quote-title">테스트 텍스트</div>
        <div class="quote-body">Amazing experience I love it a lot. Thanks to the team dreams come true, great! I really.</div>
        <div class="quote-byline">
          <div class="quote-byline-name">Lassy Chester</div>
          <div class="quote-byline-job">Art Director</div>
        </div>
        <button class="tertiary-button" style="margin:2rem 0 0 0;width:50%;">자세히보기</button>
      </div>

      <div class="pricing-item">
        <span class="tag is-red" style="position:absolute;right:.5rem;top:.5rem;">most popular</span>
        <!-- <i style="margin-top:-.5rem;font-size:40px;">🧞‍</i> -->
        <h1 class="pricing-item-title">Standard</h1>
        <p class="pricing-item-description">부끄러우니까 구매하지마요.</p>
        <span class="pricing-item-price">
          <span class="pricing-item-price-unit">₩ </span>
          <span>6,800</span>
          <small class="pricing-item-price-">(1인/월)</small>
        </span>
        <ul>
          <li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
          <li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
          <li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
        </ul>
        <button class="pricing-item-button secondary-button" style="margin-bottom:1rem;">업그레이드</button>
        <button class="pricing-item-button text-button">And More...</button>
      </div>

      <!-- <div class="test">
        <span class="tag">단원취약</span>
        <span class="tag">난이도 <i>중하</i></span>
        <span class="tag">기본</span>
        <h3>다항식의 연산 - 복소수의 연산</h3>
        <div>
          <span>문항수 30</span>
          <time>출제일 19. 11. 28</time>
          <span>점수 <i>98</i></span>
        </div>
      </div> -->
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Dialog</h1>
      <p class="design-article-description">예 아니오 예!</p>
      <aside class="dialog" role="dialog">
        <!-- <img src="/public/images/soo.png" alt="" style="width:6rem;margin:-3rem 0 0 -1rem;"> -->
        <!-- <button class="toast-close js-close" style="position:aboslute;right:0;top:0;"><i class="icon-close"></i></button> -->
        <p class="dialog-title">부끄러우니까 보지마요?</p>
        <p class="dialog-description">다이얼로그 유아이입니다. 디스크립션을 입력해주세요.</p>
        <footer class="dialog-footer">
          <button class="text-button" style="color:#999;">취소</button>
          <button class="text-button" type="submit">삭제</button>
        </footer>
      </aside>
    </article>


    <article class="design-article">
      <h1 class="design-article-title">Paginations</h1>
      <p class="design-article-description">페이지네이션의 첫 페이지와 마지막 페이지는 더블 화살표 아이콘보다 총 페이지 수를 노출한다.</p>
      <nav class="pagination" aria-label="pagination">
        <a class="pagination-previous" href="#" title="앞 페이지로 이동">Previous</a>
        <a class="pagination-next" href="#" title="뒷 페이지로 이동">Next</a>
        <a class="pagination-link" href="#" title="맨 앞 페이지로 이동">1</a>
        <i class="pagination-ellipsis" title="맨 앞 페이지로 이동">...</i>
        <a class="pagination-link" href="#" title="1 페이지로 이동">5</a>
        <a class="pagination-link" href="#" title="1 페이지로 이동">6</a>
        <a class="pagination-link is-current" href="#" title="1 페이지로 이동">7</a>
        <a class="pagination-link" href="#" title="1 페이지로 이동">8</a>
        <a class="pagination-link" href="#" title="1 페이지로 이동">9</a>
        <i class="pagination-ellipsis" title="맨 앞 페이지로 이동">...</i>
        <a class="pagination-link" href="#" title="맨 뒤 페이지로 이동">50</a>
      </nav>
      <nav class="pagination2">
        <a href="#" class="pagination2-prev" title="앞 페이지로 이동">이전</a>
        <span class="pagination2-current">1</span>
        <span class="pagination2-divider"> / </span>
        <span class="pagination2-all">44</span>
        <!-- <span>page 2 of 22</span> -->
        <a href="#" class="pagination2-next" title="뒷 페이지로 이동">다음</a>
      </nav>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Table</h1>
      <p class="design-article-description">보더를 사용하지 말아요.</p>
      <table>
        <caption>히라가나 오십음도</caption>
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader" aria-sort="none" class="table-checkbox">
              <div>
                <input type="checkbox" id="temp1">
                <label for="temp1"></label>
              </div>
            </th>
            <th>あ단</th>
            <th>い단</th>
            <th>う단</th>
            <th>え단</th>
            <th>お단</th>
            <th class="right">숫자</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          <tr role="row" aria-rowindex="11">
            <td role="cell">
              <div>
                <input type="checkbox">
                <label for=""></label>
              </div>
            </td>
            <td>な</td>
            <td>に</td>
            <td>ぬ</td>
            <td>ね</td>
            <td>の</td>
            <td class="right">9,600</td>
          </tr>
          <tr>
            <td><input type="checkbox"><label for=""></label></td>
            <td>ま</td>
            <td>み</td>
            <td>む</td>
            <td>め</td>
            <td>も</td>
            <td class="right"><span class="tag">12,000</span></td>
          </tr>
          <tr>
            <td><input type="checkbox"><label for=""></label></td>
            <td>や</td>
            <td>-</td>
            <td>ゆ</td>
            <td>-</td>
            <td>よ</td>
            <td class="right"></td>
          </tr>
          <tr>
            <td><input type="checkbox"><label for=""></label></td>
            <td>ら</td>
            <td>り</td>
            <td>る</td>
            <td>れ</td>
            <td>ろ</td>
            <td class="right">12,000</td>
          </tr>
          <tr>
            <td><input type="checkbox"><label for=""></label></td>
            <td>わ</td>
            <td>ゐ wi</td>
            <td>-</td>
            <td>ゑ we</td>
            <td>を wo(o)</td>
            <td class="right"> ん n/nn</td>
          </tr>
        </tbody>
      </table>

      <div style="overflow:auto;" role="rowgroup">
        <div class="row is-head" role="row">
          <!-- <div class="row-checkbox">Ranking</div> -->
          <div class="row-checkbox">Check</div>
          <div class="row-avatar">Avatar</div>
          <div class="row-id">Id</div>
          <div class="row-phone">Phone</div>
          <div class="row-address">Address</div>
          <div class="row-delete">Delete</div>
        </div>
        <div class="row">
          <div class="row-checkbox">
            <div>
              <input type="checkbox" id="temp1">
              <label for="temp1"></label>
            </div>
          </div>
          <div class="row-avatar"><div class="avatar"><img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" /></div></div>
          <div class="row-id">soojubm</div>
          <div class="row-phone">010.3121.7045</div>
          <div class="row-address">서울시 강서구 까치산로</div>
          <div class="row-delete"><button class="tertiary-button is-small">삭제</button></div>
          <!-- <div class="row-progress"><button class="primary-button is-small">출제하기</button></div> -->
        </div>
        <div class="row">
          <div class="row-checkbox">
            <div>
              <input type="checkbox" id="temp1">
              <label for="temp1"></label>
            </div>
          </div>
          <div class="row-avatar"><div class="avatar"><img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" /></div></div>
          <div class="row-id">springsteen</div>
          <div class="row-phone">010.3121.7045</div>
          <div class="row-address">서울시 강서구 까치산로</div>
          
          <div class="row-delete"><button class="tertiary-button is-small">삭제</button></div>
          <!-- <div class="row-progress"><button class="primary-button is-small">출제하기</button></div> -->
        </div>
        <div class="row">
          <div class="row-checkbox">
            <div>
              <input type="checkbox" id="temp1" checked>
              <label for="temp1"></label>
            </div>
          </div>
          <div class="row-avatar"><div class="avatar"><img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" /></div></div>
          <div class="row-id">google</div>
          <div class="row-phone">010.3121.7045</div>
          <div class="row-address">서울시 강서구 까치산로</div>
          
          <div class="row-delete"><button class="tertiary-button is-small">삭제</button></div>
          <!-- <div class="row-progress"><button class="primary-button is-small">출제하기</button></div> -->
        </div>
      </div>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Carousel</h1>
      <p class="design-article-description">만드는 중.</p>
      <section class="slider">
        <div class="slider-viewer">
          <button class="slider-viewer-slide">초1</button>
          <button class="slider-viewer-slide">초2</button>
          <button class="slider-viewer-slide">초3</button>
          <button class="slider-viewer-slide">초4</button>
          <button class="slider-viewer-slide">초5</button>
          <button class="slider-viewer-slide">초6</button>
          <button class="slider-viewer-slide" style="background:green;">중1</button>
          <button class="slider-viewer-slide" style="background:green;">중2</button>
          <button class="slider-viewer-slide" style="background:green;">중3</button>
          <button class="slider-viewer-slide" style="background:blue;">고1</button>
          <button class="slider-viewer-slide" style="background:blue;">고2</button>
          <button class="slider-viewer-slide" style="background:blue;">고3</button>
        </div>
        <!-- <nav class="slider-dots">
          <button class="slider-dots-dot">1</button>
          <button class="slider-dots-dot">1</button>
          <button class="slider-dots-dot">1</button>
        </nav> -->
        <nav class="slider-arrows">
          <button class="slider-arrows-prev"><i class="icon-chevron is-left"></i></button>
          <button class="slider-arrows-next"><i class="icon-chevron"></i></button>
        </nav>
      </section>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Accordions</h1>
      <p class="design-article-description">질의응답에 주로 사용해요. 공지사항 정도의 간단한 게시글에서도 사용할 수 있으나 그 이상의 경우에는 다른 유아이를 고민하세요.</p>
      <button class="accordion-trigger js-toggle" aria-expanded="false">
        <i class=""></i>
        회원탈퇴는 어떻게 할 수 있나요?
        <i class="icon-caret"></i></button>
      <article class="accordion-panel">
        안녕
      </article>
      <button class="accordion-trigger js-toggle" aria-expanded="false">
        주문을 취소하고 싶어요.
        <i class="icon-caret"></i>
      </button>
      <article class="accordion-panel">
        안녕
      </article>
    </article>


    <article class="design-article">
      <h1 class="design-article-title">Bottom Navigation</h1>
      <p class="design-article-description">제곧내. 모바일에서만 사용.</p>
      <nav class="bottom-navigation">
        <a href="">
          <i class="icon-person"></i>
          <span>홈</span>
        </a>
        <a href="">
            <i class="icon-person"></i>
          <span>피드</span>
        </a>
        <a href="">
          <i class="icon-person"></i>
          <span>설정</span>
        </a>
      </nav>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Rating</h1>
      <p class="design-article-description">테스트.</p>
      <!-- <div class="rating">
        <h1 class="rating-title" aria-hidden="true">별점</h1>
        <span class="rating-score">.3</span>
        <div class="rating-star">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
          <span class="rating-star-front">별별별별별</span>
          <span class="rating-star-back">별별별별별</span>
        </div>
        <small class="rating-count">총 24개의 평가</small>
      </div> -->
      <div class="rating2 is-large">
        <i class="rating2-star material-icons">star</i>
        <span class="rating2-score">4.71점(평가 277개)</span>
      </div>
      <div class="rating2">
        <i class="rating2-star material-icons">star</i>
        <span class="rating2-score">4.3</span>
      </div>
      <hr style="margin:2rem 0;" />
      <dl class="row1 is-pull">
        <dt>의사소통</dt>
        <dd style="display: flex;align-items: center;">
          <div class="graph-item is-horizontal">
            <span class="graph-item-value">4.8</span>
            <div class="graph-item-bar"></div>
          </div>
        </dd>
      </dl>
      <dl style="display:block;margin:1rem 0;">
        <dt>클라우드 스토리지</dt>
        <dd style="display:block;align-items: center;margin-top:-.5rem;">
          <div class="graph-item is-horizontal" style="margin:0;width:100%;">
            <span class="graph-item-value" style="right:0;bottom:12px;">92%</span>
            <div class="graph-item-bar"></div>
          </div>
          <small>2GB 중 5,218KB 사용됨</small>
        </dd>
      </dl>
    </article>

    <article class="design-article">
      <h1 class="design-article-title">Graph</h1>
      <p class="design-article-description">수치만큼 자바스크립트로 그래프를 채워줍니다.</p>
      <div class="graph js-graph">
        <div class="graph-title">1월 26일 <em>컴퓨터통신 분야</em>에서는<br><em>7백명의 지식iN</em>들이 답변하셨습니다.</div>
        <div class="graph-item">
          <span class="graph-item-value">40%</span>
          <div class="graph-item-bar"></div>
          <span class="graph-item-label">10대</span>
        </div>
        <div class="graph-item">
          <span class="graph-item-value">30%</span>
          <div class="graph-item-bar"></div>
          <span class="graph-item-label">20대</span>
        </div>
        <div class="graph-item">
          <span class="graph-item-value">20%</span>
          <div class="graph-item-bar"></div>
          <span class="graph-item-label">30대</span>
        </div>
        <div class="graph-item">
          <span class="graph-item-value">10%</span>
          <div class="graph-item-bar"></div>
          <span class="graph-item-label">40대</span>
        </div>
        <div class="graph-item">
          <span class="graph-item-value">0%</span>
          <div class="graph-item-bar"></div>
          <span class="graph-item-label">50대</span>
        </div>
      </div>
    </article>

    <!-- <article class="design-article">
      <h1 class="design-article-title">Comment</h1>
      <p class="design-article-description">코맨트 / 대화형 유아이 / 피드 / 유저 카드 공용 마크업 가능하려면 컨테이너 필요.</p>
      <div class="post-comment-list-item is-typeb">
        <a class="post-comment-list-item-avatar" href="#"><img src=""></a>
        <a class="post-comment-list-item-author" href="#">mb</a>
        <time class="post-comment-list-item-date" datetime="2016">2018. 06. 28</time>
        <p class="post-comment-list-item-text">부끄러우니까 코멘트 달지 마요.</p>
        <button class="post-comment-list-item-morevert js-toggle"><i class="icon-more"></i></button>
        <menu class="post-comment-list-item-menu">
          <button class="">수정</button>
          <button class="">삭제</button>
          <button class="">신고</button>
        </menu>
      </div>
    </article> -->

    <article class="design-article">
      <h1 class="design-article-title">Steps</h1>
      <p class="design-article-description">단계다단계</p>
      <div class="step">
        <div class="step-item is-active">
          <i class="step-item-icon material-icons">email</i>
          <p class="step-item-title">주문</p>
        </div>
        <div class="step-space is-active"><span></span><span></span><span></span></div>
        <div class="step-item is-active">
          <i class="step-item-icon material-icons">email</i>
          <p class="step-item-title">조리</p>
        </div>
        <div class="step-space"><span></span><span></span><span></span></div>
        <div class="step-item">
          <i class="step-item-icon material-icons">email</i>
          <p class="step-item-title">배달</p>
        </div>
      </div>
    </article>

    <!-- <form class="filter">
      <h1 class="filter-title">Filters</h1>
      <fieldset class="filter-fieldset">
        <legend class="filter-fieldset-legend">예약하기</legend>
        <div class="textfield" style="float:left;width:50%;">
          <label class="textfield-label" for="date-start"><i class="">시작일</i></label>
          <label class="textfield-icon" for="date-start"><i class="material-icons">today</i></label>
          <input class="textfield-input" type="date" id="date-start" placeholder="날짜를 설정해주세요." />
          <span class="textfield-unit">cm</span>
        </div>
        <div class="textfield" style="float:left;width:50%;">
          <label class="textfield-label" for="date-end">종료일</label>
          <label class="textfield-icon " for="date-start"><i class="material-icons">today</i></label>
          <input class="textfield-input" type="date" id="date-end" placeholder="날짜를 설정해주세요." style="border-left:none;" />
        </div>
      </fieldset>
      <fieldset class="filter-fieldset">
        <legend class="filter-fieldset-legend">체크박스</legend>
        <div class="checkbox">
          <input type="checkbox" id="line01" value="" checked />
          <label for="line01">Everyday is like sunday</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="line02" value="" indeterminate />
          <label for="line02">Everyday is like sunday</label>
        </div>
      </fieldset>
      <footer class="filter-foot is-child-pull">
        <button class="primary-button">필터링하기</button>
        <button class="text-button">clear filters</button>
      </footer>
    </!-->


    <!-- <form class="todo js-todo" style="max-width:560px;margin:0 auto;">
      <fieldset class="todo-body">
        <legend>위시리스트</legend>
        <div class="textfield">
          <label class="todoList-label textfield-label">What do you want for your birthday?</label>
          <input class="todoList-input textfield-input js-todo-input" type="text" placeholder="write a to do">
        </div>
        <ol class="todo-list js-todo-list">
        </ol>
      </fieldset>
      <footer class="todo-control">
        <button class="todo-control-add primary-button js-todo-submit" type="submit">Add to todoList</button>
        <button class="todo-control-remove text-button js-todo-clear">remove all items</button>
      </footer>
    </form> -->

    <!-- <article class="design-article">
      <h1 class="design-article-title">Timeline or Feed</h1>
      <p class="design-article-description">왼쪽에 아바타가 있는 경우 항상 사용할 수 있게 만들기.</p>
      <section class="timeline">
        <h1 class="timeline-title">1회차 주문 현황 (임시 텍스트)</h1>
        <div class="timeline-item payment --complete">
          <header class="timeline-item-head">
            <span class="timeline-item-head-icon --complete"><i class="far fa-credit-card"></i></span>
            <h1 class="timeline-item-head-title">결제</h1>
          </header>
          <div class="timeline-item-body">
            <div class="timeline-item-body-panel --success">
              결제가 완료되었습니다.
            </div>
            <div class="timeline-item-body-cancel">
              <p>집행 중 취소 시 수수료가 발생합니다. <button class="text-button">주문취소</button></p>
            </div>
          </div>
        </div>
        <div class="timeline-item">
          <header class="timeline-item-head">
            <span class="timeline-item-head-icon"><i class="fas fa-file-upload"></i></span>
            <h1 class="timeline-item-head-title">소재등록</h1>
            <div class="timeline-item-head-note"><i class="far fa-question-circle"></i></div>
          </header>
          <div class="timeline-item-body">
            <div class="timeline-item-body-panel --required">
              <span>3개의 매체에 대한 소재등록이 필요합니다.</span>
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="timeline-item-body-panel --success">
              <span>[확정] 등록한 소재가 확정되었습니다.</span>
              <i class="fas fa-angle-down"></i>
            </div>
          </div>
        </div>
      </section>
    </article> -->

      <form action="">
        <input type="checkbox">
        <input type="radio">
        <input type="text">
        <input type="date">
        <input type="tel">
        <select name="" id="">
          <option value=""></option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button type="submit">제출</button>
      </form>
      <!-- <span class="letter-piece"><i>스</i></span> -->

      <!-- <i class="icon-check1"></i> -->
      <style>
      .icon-check1 {display:block;width:40px;height:40px;border-radius:50%;border:2px solid #000;position:relative;}
      .icon-check1:before {content:'';display:inline-block;width:28px;height:9px;border-left:2px solid;border-bottom:2px solid;border-color:#000;transform:rotate(-45deg);position:absolute;right:-2px;top:4px;z-index:2;}
      .icon-check1:after {content:'';display:block;width:16px;height:18px;background:$gray0;position:absolute;right:-6px;top:0px;z-index:1;}
      </style>
      </fieldset>
    </section>
  </section>
</main>
<!-- 
<nav class="panel">
    <p class="panel-title">Repositories</p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <p class="panel-tabs">
      <a class="is-active">All</a>
      <a>Public</a>
    </p>

    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      marksheet
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      minireset.css
    </a>
    <label class="panel-block">
      <input type="checkbox">
      remember me
    </label>
    <div class="panel-block">
      <button class="button is-link is-outlined is-fullwidth">
        Reset all filters
      </button>
    </div>
  </nav> -->


  