<main class="component" style="padding-bottom:8rem;">
  <header class="hero">
    <h1 class="hero-title">Dictionary</h1>
    <p class="hero-title">용어 사전. + ux writings 규칙 정리해보기.</p>
  </header>
  <div class="dictoinary-item">
    <b>행동</b>
    <span>action</span>
  </div>
  <div class="dictoinary-item">
    <b>다중 선택</b>
    <span>multiple selections</span>
  </div>
  <div class="dictoinary-item">
    <b>선택</b>
    <span>choice VS select</span>
  </div>
  <div class="dictoinary-item">
    <b>목록</b>
    <span>List</span>
  </div>
  <div class="dictoinary-item">
    <b>메뉴 VS 네비게이션</b>
  </div>
  <hr />
  <div class="dictoinary-item"><del>유저</del> <b>사용자</b></div>
  <div class="dictoinary-item"><del>및/혹은</del> <b>또는</b></div>
  <div class="dictoinary-item"><del>자세히보기/더보기/~보러가기)</del> <b>더 알아보기</b></div>
  <hr />
  <div class="dictoinary-item">총결제금액 VS 결제예정금액</div>
  <div class="dictoinary-item">복합명사는 붙여쓴다/띄어쓴다</div>
</main>
