<main class="component">
  
  <section class="hero" role="banner">
    <!-- <div class="hero-background"></div> -->
    <!-- <span class="hero-eyebrow">Components</span> -->
    <!-- <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;"><span style="color:var(--color-text-light);">We 🐷</span><br />built this city.</h1> -->
    <h1 class="hero-title">Dummies</h1>
    <p class="hero-description">내용없음.</p>
  </section>


  <section class="component-body" style="padding:2rem var(--grid-margin);">

    <div style="max-width:400px;margin:0 auto;padding:0 var(--grid-margin);">
      <h3 style="text-align:center;">See this post in</h3>
      <hr />
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <h2 class="item-name" style="line-height:48px;">수줍이 앱</h2>
        <button class="item-action"><span class="item-action-label">열기</span></button>
      </div>
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <h2 class="item-name" style="line-height:48px;">사파리 브라우저</h2>
        <button class="item-action" style="background-color:var(--color-background-weak);color:var(--color-text);"><span class="item-action-label">계속</span></button>
      </div>
    </div>


    <section class="greeting" style="max-width:400px;">
      <figure class="greeting-avatar" style="font-size:1.5rem;">🐶</figure>
      <h1 class="greeting-title">Hello, Stranger<i style="font-style:italic;">!</i></h1>
      <p class="greeting-description">Tender is the night.</p>
    </section>
    
        <!-- <ul style="font-size:var(--font-size-caption);">
          <li>모든 아이콘에 배경색이 있어서 너무 강조되어 보인다.</li>
          <li>탭이 지금보다 상위 위계로 보이도록 시각적으로 강조해야 한다.</li>
          <li>디자인 퀄리티를 높이고 싶은데 지금 색상과 텍스트 크기 등으로 한계가 명확한 듯. 조금 더 일반적인 유아이를</li>
        </ul> -->
        <!-- <aside class="tile-flat" style="padding-top:.5rem;padding-bottom:.75rem;">
          <p>
            todo. 페이지에서 인삿말과 함께 우측에 아바타나 아이콘을 배치하는 패턴이 꽤 트랜디. 이 패턴에서 아바타는 시각 정보가 아니라 링크로 사용(바텀
            네비게이션 맨 우측 마이페이지 링크 대신). 이 디자인 시스템에서 한 사람의 유저를 강조(?)할 때 사용하는 유저 유아이(우측에 아바타가 배치된)
            패턴은 이 유아이 패턴(greeting)와 시각적으로 분리할 필요가 있음.
          </p>
        </aside> -->
    
        <!-- <article class="card onboarding" role="listitem" style="text-align:center;">
          <figure class="card-thumbnail" style="object-fit:cover;">
            <img src="https://source.unsplash.com/random" alt="" style="max-height:fit-content;" />
          </figure>
    
          <h3 class="card-title" style="font-weight: bold;padding:.75rem 0 .25rem 0;">Welcome to...</h3>
          <p class="card-text" style="width:90%;margin:0 auto;font-size:var(--font-size-body);line-height:var(--font-line-height-small);">
            버튼 그룹은 2개 이상의 버튼을 가질 수 없도록. 2개 이상이 필요한 것은 버튼이 아닌 툴바.
          </p>
          <br />
          <footer class="onboarding-control">
            <button class="onboarding-control-next button-primary">Next</button>
            <button class="onboarding-control-skip button-tertiary">Skip</button>
          </footer>
        </article> -->

    <article class="tile-elevated" style="max-width:400px;padding:1rem;z-index:1;">
      <figure class="user-avatar"></figure>
      <h2 class="user-name">Gyeongsoo I</h2>
      <div class="user-id">@soojubm</div>
      <div class="user-job">Youtube Subscriber</div>
      <!-- <p class="user-description" style="margin:var(--space-small) 0 0 0;">TBreaking news alerts and updates from the BBC. For news, features, analysis follow </p> -->

      <footer class="user-foot" style="margin:.75rem 0;">
        <button class="profile-foot-follow"><span class="item-action-label">팔로우</span></button>
      </footer>
      <!-- <footer class="user-foot" style="display:flex;margin:1rem 0;">
        <span class="tag">대한민국</span>
        <span class="tag">자전거</span>
      </footer> -->
      <div class="statistic" data-size="small">
        <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
          <i class="statistic-label">팔로워</i>
          <span class="statistic-value">62</span>
        </div>
        <i class="icon-bullet"></i>
        <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
          <i class="statistic-label">팔로잉</i>
          <span class="statistic-value">8</span>
        </div>
      </div>
      <article class="avatarlist" style="margin-bottom:0;justify-content:center;">
        <span>Followed by</span>
        <figure>
          <img src="https://source.unsplash.com/random" alt="">
        </figure>
        <figure>
          <img src="https://source.unsplash.com/random" alt="">
        </figure>
        <figure>
          <img src="https://source.unsplash.com/random" alt="">
        </figure>
        <figure>
          <img src="https://source.unsplash.com/random" alt="">
        </figure>
        <span style="margin:0 0 0 var(--space-small);">수줍이 외 4명</span>
      </article>
    </article>

    <div
      class="navbar-user-card is-active"
      style="display:block;max-width:400px;width:100%;padding:1rem;transform:scale(1);position:relative;left:auto;right:auto;top:auto;bottom:auto;z-index:0;height:auto;"
    >
      <a class="user" href="#settings">
        <figure class="user-avatar">
          <div class="user-avatar-change"></div>
        </figure>
        <h2 class="user-name">soojubm</h2>
        <div class="user-email">soojubm@gamil.com</div>
        <div class="user-myinfo">내 프로필 관리</div>
      </a>
      <hr role="separator" style="margin-left:-1rem;margin-right:-1rem;" />
      <button class="user-logout js-darkmode" title="change theme">
        <figure class="user-logout-icon"><i class="icon-moon"></i></figure>
        <span class="user-logout-label">어둡게 보기</span>
        <span class="switch" style="margin-left:auto;">
          <input type="checkbox" id="temp55" name="" role="switch" />
          <label for="temp55" style="padding-left:48px;"></label>
        </span>
      </button>
      <!-- todo -->
      <button class="item" data-size="medium" title="sign out" style="display:flex;align-items:center;text-align:left;">
        <figure class="item-avatar" style="background-image:none;">
          <i class="icon-out"><span class="icon-out-door"></span></i>
        </figure>
        <span class="item-label">고객센터 및 도움말</span>
      </button>
      <hr role="separator" style="margin-left:-1rem;margin-right:-1rem;" />
      <button class="user-logout" title="sign out">
        <figure class="user-logout-icon">
          <i class="icon-out"><span class="icon-out-door"></span></i>
        </figure>
        <span class="user-logout-label">로그아웃</span>
      </button>
      <hr role="separator" style="margin-left:-1rem;margin-right:-1rem;" />
      <footer class="user-footer" style="margin:-.25rem 0 0 0;">
        <a href="#">개인정보처리방침</a>
        <i class="icon-bullet"></i>
        <a href="#">서비스 약관</a>
      </footer>
    </div>

    <table>
      <thead>
        <tr>
          <td style="padding:var(--space-small) 0;">
            <span class="textfield-check" style="margin-right:var(--space-small);position:relative;right:auto;top:auto;background:var(--green100);"><i class="icon-check" style="border-color:var(--color-primary);"></i></span>
          </td>
          <td style="padding:var(--space-small) 0;">
            <span class="textfield-check" style="position:relative;right:auto;top:auto;background:var(--red100);"><i class="icon-x is-red"></i></span>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b>Alerte de Retour</b>
            <br />
            cette notification expire dans 5 jours
          </td>
          <td>
            <b>Alerte de Retour</b>
            <br />
            cette notification expire dans 5 jours
          </td>
        </tr>
        <tr>
          <td style="border:none;">
            cette notification expire dans 5 jours
          </td>
          <td style="border:none;">
            cette notification expire dans 5 jours
          </td>
        </tr>
      </tbody>
    </table>

    <article class="card has-item" role="listitem" style="max-width:400px;" data-align="vertical">
      <figure class="card-thumbnail"><img src="/public/images/springsteen.jpg" alt="" /></figure>
      <h3 class="card-title">카드 유아이</h3>
      <p class="card-text">
        텍스트는 최대 두 줄이다. 따봉은 상세페이지에서 제공하세요. 뉴스피드 유아이에서는 밖에서 제공할 수 있어요.북마크는 밖에 두어도 좋은가?
        상세페이지에서 제공하는 것이 좋음. 기능이 많아짐. 신선식품 장바구니는 밖에 인정.
      </p>
      <time class="card-date">2017. 12. 21.</time>
      <div class="card-tags" role="group">
        <span class="card-tags-item">기획</span>
        <span class="card-tags-item">UI</span>
        <span class="card-tags-item">React</span>
      </div>
      <div class="card-byline">
        <figure class="card-byline-avatar"><img src="https://source.unsplash.com/random" alt="" /></figure>
        <span class="card-byline-name">수줍이</span>
      </div>
      <span class="card-category">카테고리</span>
      <hr />
      <div class="item" data-size="large">
        <figure class="item-avatar" style="background-image:none;">🍊</figure>
        <h4 class="item-name">퓨어 오렌지 주스</h4>
        <div class="item-price"><del>₩19,000</del> ₩16,000 <em>할인율 20%</em></div>
      </div>
      <div class="card-note">마일리지 적립 200P</div>
      <button class="card-more" hidden><i class="icon-more"></i></button>
    </article>

    <div class="" role="group" style="display:flex;">
    </div>

    <div class="file-attachment-item" style="max-width:400px;">
      <figure class="file-attachment-item-image"><img src="/public/images/springsteen.jpg" alt=${file.name}></figure>
      <b class="file-attachment-item-name">${file.name}</b>
      <small class="file-attachment-item-size" >${returnFileSize(file.size)}</small>
      <button class="file-attachment-item-delete js-remove-this"><i class="icon-x"></i></button>
    </div>
    <div class="reactions" style="margin:1rem 0;">
      <button class="reaction-item">
        <figure class="reaction-item-avatar">❤️</figure>
        <span class="reaction-item-label">좋아요</span>
        <span class="reaction-item-count">117</span>
      </button>
    </div>

    <div class="jobitem" role="listitem" style="max-width:400px;margin:0 0 var(--space) 0;">
      <h2 class="jobitem-name">Senior Front-end Developer</h2>
      <div class="jobitem-tags">
        <span class="tag">Full-Time</span>
        <span class="tag">Korea</span>
        <span class="tag">Remote friendly</span>
      </div>
      <button class="jobitem-view is-active">View Job</button>
    </div>

    <div class="tile-elevated" style="max-width:400px;padding:.75rem;">
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <h2 class="item-name">Gyeongsoo I</h2>
        <span class="item-description">유아이 디자이너</span>
        <button class="item-action is-active" style="right:2.25rem;"><span class="item-action-label">팔로잉</span></button>
        <button class="chip" style="background:none;border:none;position:absolute;right:0;top:50%;transform:translateY(-50%)"><i class="icon-more"></i></button>
      </div>
    </div>

    <article class="bookitem" style="max-width:400px;">
      <figure class="bookitem-cover">
        <img src="https://source.unsplash.com/random" alt="" />
      </figure>
      <h3 class="bookitem-name">
        <span role="img" aria-label="">📙</span> ${item.title}
      </h3>
      <span class="bookitem-description">이미지의 크기가 다른 케이스</span>
      <hr />
      <p class="bookitem-byline">${item.author || '정보가 없습니다'}</p>
      <time class="bookitem-publishedyear">${item.publishedDate || '정보가 없습니다'}</time>
    </article>

    <article class="keywords" style="padding:1rem;z-index:1;">
      <h3 class="keywords-title">지금 인기있는 이슈 키워드</h3>
      <div class="keywords-group" role="group">
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">국정감사</span></a>
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">윤석열검찰총장</span></a>
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">조국</span></a>
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">뉴닉</span></a>
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">차별금지법</span></a>
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">추미매법무부장관</span class="keywords-group-keyword-label"></a>
      </div>
      <button class="button-elevated" style="margin-bottom:0;">
        <figure class="button-elevated-avatar"></figure>
        <span class="button-elevated-label">직접 검색</span>
      </button>
    </article>

    <div class="quote" style="padding:1rem;">
      <figure class="quote-avatar">🥫</figure>
      <h3 class="quote-title">Quote</h3>
      <p class="quote-body">Don't you know that God is Pooh bear? Don't you know that God is Pooh bear?</p>
      <cite class="quote-byline">
        <div class="quote-byline-name">Jack Kerouac</div>
        <div class="quote-byline-job">Poet / Novelist</div>
      </cite>
      <button class="quote-action">더 알아보기</button>
      <!-- <button class="quote-later">지금은 괜찮아요</button> -->
    </div>

    <div class="quote" style="background-image:url('../public/images/springsteen.jpg');background-size:cover;padding:8rem 1rem 1rem;">
      <h3 class="quote-title" style="color:#fff;">Quote</h3>
      <p class="quote-body" style="color:#fff;">Don't you know that God is Pooh bear? Don't you know that God is Pooh bear?</p>
      <cite class="quote-byline">
        <div class="quote-byline-name" style="color:#fff;">Jack Kerouac</div>
        <div class="quote-byline-job">Poet / Novelist</div>
      </cite>
    </div>

    <article class="userlist" style="max-width:400px;padding:1rem;overflow:hidden;z-index:1;">
      <button class="sheet-toggle"></button>
      <h1>팔로워</h1>
        <!-- <a class="link-outer" href="#">모두 보기 (todo 위치)</a> -->
      <div class="share-group" role="group" style="margin-top:.75rem;margin-bottom:.5rem;">
        <button class="chip is-active"><span class="chip-label">필터링 1</span></button>
        <button class="chip"><span class="chip-label">필터링 2</span></button>
      </div>
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <h2 class="item-name">Gyeongsoo I</h2>
        <span class="item-description">유아이 디자이너</span>
        <button class="item-action is-active"><span class="item-action-label">팔로잉</span></button>
      </div>
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <h2 class="item-name">Gyeongsoo I</h2>
        <span class="item-description">유아이 디자이너</span>
        <button class="item-action"><span class="item-action-label">팔로우</span></button>
      </div>
      <button class="button-elevated" style="margin-bottom:0;">
        <figure class="button-elevated-avatar"></figure>
        <span class="button-elevated-label">더 많은 친구를 찾아보세요!</span>
      </button>
    </article>

    <div class="pricing-item" style="max-width:400px;padding:1rem;">
      <span class="tag" data-role="accent" style="
      margin-left: -1.5rem;
      display: inline-flex;
      position: absolute;
      top:.75rem;">
        <figure class="tag-icon" role="img">🔥</figure>
        <small class="tag-label">Most Popular</small>
      </span>
      <h1 class="pricing-item-title" style="margin:1.75rem 0 0;">Standard</h1>
      <p class="pricing-item-description">전직대통령의 신분과 예우에 관하여는 법률로 정한다. 대법원장은 국회의 동의를 얻어 대통령이 임명한다.</p>
      <ul>
        <li>스토리지 2TB</li>
        <li>Google 전문가와의 상담</li>
        <li>회원을 위한 추가 혜택</li>
      </ul>
      <span class="pricing-item-price">
        <span class="pricing-item-price-per" style="font-size:var(--font-size-body);font-weight:normal;">한 달에 한 번</span>
        <span class="pricing-item-price-unit">₩</span>
        <span>6,800</span>
        <!-- <i class="icon-bullet"></i> -->
      </span>
      <button class="pricing-item-upgrade">업그레이드</button>
      <button class="pricing-item-more">And More...</button>
    </div>
    
    <form class="subscribe" style="max-width:400px;padding:1rem;">
      <h2 class="subscribe-title">수줍이 뉴스레터</h2>
      <p class="subscribe-description">섭스크라이브 유아이 콤포넌트 입니다. <br />두 줄 단락을 위해 쓰고 있습니다.</p>
      <div class="subscribe-field textfield">
        <label for="" class="textfield-label">이메일 주소</label>
        <input class="textfield-input" placeholder="Enter Your Email.." />
      </div>

      <button class="subscribe-submit" type="submit">뉴스레터 구독</button>
    </form>

    <article class="share" style="max-width:400px;padding:1rem;">
      <h2 class="share-title">가족이나 친구와<br />함께 보세요!</h2>
      <hr />
      <button class="share-back"><i class="icon-x"></i></button>
      <button class="share-facebook">
        <figure class="share-facebook-icon"></figure>
        <span class="share-facebook-label">facebook으로 공유하기</span>
      </button>
      <button class="share-twitter">
        <figure class="share-twitter-icon"></figure>
        <span class="share-facebook-label">twitter로 공유하기</span>
      </button>
      <button class="share-kakao">
        <figure class="share-kakao-icon"></figure>
        <span class="share-facebook-label">kakao로 공유하기</span>
      </button>
      <hr />
      <div class="share-copy textfield">
        <input class="share-copy-url textfield-input" type="text" value="https://newneek.co/post/jadebabo" readonly />
        <button class="share-copy-button js-copy" type="button" tabindex="0">링크 복사</button>
      </div>
    </article>
    
    <article class="sheet" style="max-width:400px;padding:1rem;">
      <h3 class="sheet-title">목록 정렬</h3>
      <button class="menu-item">
        iOS 액션 시트 참고
      </button>
      <button class="menu-item">
        바텀 시트 옵션 <i class="icon-check"></i>
      </button>
      <!-- <button class="button-tertiary">닫기</button> -->
    </article>

    <nav class="sidebar tile-elevated" style="max-width:400px;padding:1rem;">
      <h4 class="sidebar-heading" style="margin-top:-.25rem;">대분류</h4>
      <div class="sidebar-item" role="listitem">
        <figure class="sidebar-item-icon">⚽</figure>
        <span class="sidebar-item-label">축구</span>
      </div>
      <div class="sidebar-item" role="listitem">
        <figure class="sidebar-item-icon">🏹</figure>
        <span class="sidebar-item-label">양궁</span>
        <span class="sidebar-item-tag tag" data-appearance="primary">새소식</span>
      </div>
    </nav>

    <!-- // ! todo z-index tile in tile -->
    <article class="tile-elevated" style="max-width:400px;padding:1rem;z-index:1;">
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <span class="item-description">관심사가 비슷한 사용자</span>
        <h2 class="item-name">Gyeongsoo I</h2>
        <button class="item-action"><span class="item-action-label">팔로우</span></button>
      </div>
      <div class="temp8">
        <div>
          <figure>🧀</figure>
          <span>Typography</span>
        </div>
        <div>
          <figure style="background:cadetblue;">🌭</figure>
          <span>Cinema</span>
        </div>
        <div>
          <figure style="background:darkseagreen;">🌮</figure>
          <span>Design System</span>
        </div>
        <div>
          <figure style="background:lightsalmon;">🍿</figure>
          <span>Startup</span>
        </div>
      </div>
      
      <button class="button-elevated" style="margin:.25rem 0 0 0;">
        <figure class="button-elevated-avatar">🦄</figure>
        <span class="button-elevated-label">샘플 유아이</span>
        <i class="button-elevated-helper icon-arrow"></i>
      </button>
    </article>

    <article class="tile-elevated" style="max-width:400px;padding:1rem;z-index:1;">
      <header>
        <h1 class="share-title">컬렉션에 추가</h1>
      </header>
      <fieldset>
        <div class="checkbox">
          <input class="" type="checkbox" id="playlist" value="" aira-checked="mixed" aria-controls="1 2" />
          <label for="playlist" title="play list">재생 목록 1,</label>
          <!-- <small>나만 보기</small> -->
        </div>
        <div class="checkbox">
          <input class="" type="checkbox" id="playlist2" value="" aira-checked="mixed" aria-controls="1 2" />
          <label for="playlist2" title="play list2">재생 목록 2</label>
        </div>
      </fieldset>
      <button class="button-elevated">
        <figure class="button-elevated-avatar">
          <i class="icon-plus" style="transform:scale(1.25);"></i>
        </figure>
        <span class="button-elevated-label">새 컬렉션 만들기</span>
      </button>
      <br />
      <div class="textfield">
        <label class="textfield-label" for="">컬렉션 이름</label>
        <input class="textfield-input" type="text" placeholder="컬렉션 이름">
      </div>
      <!-- <footer class="user-foot" style="display:flex;justify-content:space-between;margin:var(--space) 0 0 0;">
        <button class="button-text" style="width:100%;">컬렉션 만들기</button>
        <button class="button-primary" style="width:100%;">취소</button>
      </footer> -->
    </article>

    <section class="post-comment-list" style="max-width:400px;">
      <article class="post-comment-list-item" role="comment">
        <a class="post-comment-list-item-avatar" href="#"><img src="https://source.unsplash.com/random"></a>
        <a class="post-comment-list-item-author" href="#">soojubm</a>
        <time class="post-comment-list-item-date" datetime="2016">1 day ago</time>
        <p class="post-comment-list-item-text">코멘트는 노출 순서와 정렬 기능 여부 갯수, 답글 스타일, 최초 노출형태, 신고/수정/삭제/아바타는 우선순위를 낮게 설정하고, 리뷰와 코멘트는 비슷한 구조이지만 별도의 컴포넌트로 관리되어야 한다. 또 있을까?</p>
        
        <button class="button-elevated">
          <figure class="button-elevated-avatar">🦄</figure>
          <span class="button-elevated-label">샘플 유아이</span>
          <i class="button-elevated-helper icon-arrow"></i>
        </button>
        
        <button class="post-comment-list-item-reply">답글 <small>7</small></button>
        <button class="post-comment-list-item-morevert js-toggle"><i class="icon-more"></i></button>
        <menu class="post-comment-list-item-menu">
          <button class="">수정</button>
          <button class="">삭제</button>
        </menu>
        <!-- 대댓글 샘플 -->
        <article class="post-comment-list-item" role="comment">
          <a class="post-comment-list-item-avatar" href="#"><img src="https://source.unsplash.com/random"></a>
          <a class="post-comment-list-item-author" href="#">soojubm</a>
          <time class="post-comment-list-item-date" datetime="2016">1 day ago</time>
          <p class="post-comment-list-item-text">우와 처음으로 댓글 남겨요! 댓글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요. 우와 처음으로 댓글 남겨요! 댓글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요.</p>
          <button class="post-comment-list-item-morevert js-toggle"><i class="icon-more"></i></button>
          <menu class="post-comment-list-item-menu">
            <button class="">수정</button>
            <button class="">삭제</button>
          </menu>
        </article>
      </article>
    </section>


    <!-- <div class="daylist">
      <div class="day" role="listitem">
        <span class="day-label">mon</span>
        <b class="day-value">24</b>
      </div>
      <div class="day" role="listitem">
        <span class="day-label">tue</span>
        <b class="day-value">25</b>
      </div>
      <div class="day" role="listitem">
        <span class="day-label">wed</span>
        <b class="day-value">26</b>
      </div>
    </div> -->

    <br />

<!-- 
    <div class="number">
      <div class="number-card">8</div>
      <div class="number-card">8</div>p
    </div> -->

    <!-- <aside class="help-feedback">
      <p class="help-feedback-title">이 문서가 도움이 되었나요?</p>
      <small class="help-feedback-status" title="17 out of 439 found this helpful">417명 중 349명이 도움을 받았어요.</small>
      <footer style="display:flex;">
        <button class="help-feedback-button"><span class="chip-label">도움이 됐어요</span></button>
        <button class="help-feedback-button"><span class="chip-label">부족해요</span></button>
      </footer>
    </aside> -->

    <br />

    <figure class="tile-flat">
      <q>I'm impressed by how GitHub Copilot seems to know exactly what I want to type next. GitHub Copilot is particularly helpful when working on React components, where it makes eerily accurate predictions. GitHub Copilot has become an indispensable part of my programmer toolbelt.</q>
      <figcaption style="margin:.75rem 0 0 0;color:var(--color-text-light);">Byline</figcaption>
    </figure>


    
      <div class="graph js-graph" style="border:var(--border);border-radius:var(--radius);">
        <div class="graph-title">1월 26일 <em>컴퓨터통신 분야</em>에서는<br><em>7백명의 지식iN</em>들이 답변하셨습니다.</div>
        <div class="graph-item">
          <span class="graph-item-value">40%</span>
          <div class="graph-item-bar"></div>
          <span class="graph-item-label">10대</span>
        </div>
        <div class="graph-item">
          <span class="graph-item-value">30%</span>
          <div class="graph-item-bar"></div>
          <span class="graph-item-label">20대</span>
        </div>
        <div class="graph-item">
          <span class="graph-item-value">20%</span>
          <div class="graph-item-bar"></div>
          <span class="graph-item-label">30대</span>
        </div>
        <div class="graph-item">
          <span class="graph-item-value">10%</span>
          <div class="graph-item-bar"></div>
          <span class="graph-item-label">40대</span>
        </div>
      </div>
      <!-- <div class="tile-flat" style="background:var(--color-background-weak);">
        최근 3개월간 네이버플러스 멤버십으로<br />
        <em>15,799원 추가 적립 혜택</em>이 생겼어요!
      </div> -->

      <!-- <p class="article-description">워크플로우입니다. changelog: 클릭하고 싶지 않은 형태로 변경 2021.10</p> -->
      <!-- <p class="article-description">타임라인(역순)/히스토리 맥락. 확장<small class="is-optional">optional</small>, 링크<small class="is-optional">optional</small>, indentation</p> -->
      <!-- <blockquote>
        <p>css속성으로 -webkit-appearance: slider-vertical slider 속성 값을 사용하기 때문에 slider는 carousel로 명명. input type="range" 형태를 stepper로 명명하는 경우가 있음.</p>
      </blockquote> -->

      <div class="token-item" style="padding:var(--space);">
        <section class="step">
          <div class="step-item is-active">
            <span class="step-item-icon">1</span>
            <h3 class="step-item-title">장바구니</h3>
            <p class="step-item-description">대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다. 국가원로자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다.</p>
          </div>
          <div class="step-item">
            <span class="step-item-icon">2</span>
            <h3 class="step-item-title">결제</h3>
          </div>
          <!-- <div class="step-space">
            <span class="step-space-dot"></span>
            <span class="step-space-dot"></span>
            <span class="step-space-dot"></span>
          </div> -->
          <div class="step-item">
            <span class="step-item-icon">3</span>
            <h3 class="step-item-title">주문완료</h3>
          </div>
        </section>
      </div>

      <div class="token-item" style="padding:var(--space);">
        <section class="step is-vertical">
          <div class="step-item is-active">
            <span class="step-item-icon">1</span>
            <h3 class="step-item-title">장바구니</h3>
          </div>
          <div class="step-item">
            <span class="step-item-icon">2</span>
            <h3 class="step-item-title">결제</h3>
          </div>
          <div class="step-item">
            <span class="step-item-icon">3</span>
            <h3 class="step-item-title">주문완료</h3>
          </div>
        </section>
      </div>

    </article>
  </section>
</main>
