<main class="component" style="overflow:hidden;">
  <!-- <section style="padding:4rem 5vw;">
    <div class="pill" style="border:none;background:gold;transform:rotate(-5deg);">안녕안녕</div>
    <div class="pill" style="margin-left:2rem;background:var(--color-background);">
      테스트 <span style="position:absolute;right:1rem;top:-2.5rem;">🚧</span>
    </div>
  </section>
  <style>
    .pill {
      display: inline-flex;
      padding: 0.5rem 5rem;
      border-radius: 200px;
      border: 1px solid;
      font-size: 3rem;
      font-weight: var(--font-weight-bold);
      box-sizing: border-box;
      position: relative;
    }
  </style> -->

  <!-- <button aria-haspopup="true" aria-expanded="false">
    Difficulty
    <span aria-hidden="true">&#x25be;</span>
  </button>
  <div role="menu">
    <button role="menuitemradio" tabindex="-1">Easy</button>
    <button role="menuitemradio" aria-checked="true" tabindex="-1">Medium</button>
  </div> -->

  <!-- <p>Naming Conventions</p>
  <p>
    Styling hooks follows a specific naming convention to promote predictability and consistency. All SLDS styling hooks adhere to the following
    convention.
  </p>
  <p>
    --[namespace]-[scope]-[component]-[element]-[category]-[property]-[attribute]-[state]
  </p> -->
  <!-- <li>global :  --[name]-[componentName]-[role]-[?state]</li> -->

  <!-- <h4>Accessibility</h4>
  <p>role=checkbox aria-checked=false</p>
  <p>menuitemradio, menuitemcheck aria-checked</p>
  <input id="startTime" type="text" aria-errormessage="msgID" aria-invalid="true" value="11:30 PM" />
  <span id="msgID" aria-live="assertive" style="visibility:visible"> Invalid time: the time must be between 9:00 AM and 5:00 PM" </span> -->

  <section class="hero" role="banner">
    <div class="hero-background"></div>
    <h1 class="hero-title" style="display:flex;align-items:center;color:var(--color-text-light);">
      Dummies
      <span class="icon-button" data-size="small" role="img" style="margin-left:.5rem;"
        ><span class="material-symbols-outlined">arrow_drop_down</span></span
      >
    </h1>
    <h1 class="hero-title">Hero Component의 description은 <span class="linebreak-desktop">최대 두 줄로 작성하세요.</span></h1>
    <p class="hero-description">히어로 섹션의 샘플. e.detail.originalEvent</p>
    <footer>
      <button class="button-primary">샘플 버튼</button>
    </footer>
  </section>

  <section class="component-body" style="padding:2rem var(--grid-margin);">
    <article class="item" data-size="large">
      <figure class="item-avatar" style="background:aliceblue;">
        <span class="material-symbols-outlined" style="color:blue;">
          trending_up
        </span>
      </figure>
      <h3 class="item-name">Entity large</h3>
      <p class="item-description">description area.</p>
      <span style="color:blue;">35%</span>
    </article>

    <article class="item" data-size="large">
      <figure class="item-avatar" style="background:var(--red100);">
        <span class="material-symbols-outlined" style="color:var(--red800);">
          trending_down
        </span>
      </figure>
      <h3 class="item-name">Entity large</h3>
      <p class="item-description">description area.</p>
      <span style="color:var(--red800);">35%</span>
    </article>

    <section>
      <p>foundations: tokens / signifier / layout / level /</p>
      <p>
        changelog: 221022: before, after 선택자로 checkbox와 switch를 스타일링 하지 않고, 컴포넌트로 정의해서 다양한 인터페이스에 활용할 수 있도록.
        예를 들면 checkable tile에서, setting item에서.
      </p>

      <article class="tile-elevated">
        <h2 style="margin-top:var(--space-leading-subhead);font-size:var(--font-siez-subhead);">test</h2>
        <p>TODO hover state와 active state를 표현. 클릭 범위와 체크 아이콘의 위치 지정.</p>
        <div style="margin:var(--space-2) 0;">
          <input type="checkbox" id="" />
          <div class="checkbox-input"></div>
        </div>
      </article>

      <div class="setting-item tt">
        <div class="item" data-size="small" role="menuitem">
          <div class="item-avatar"></div>
          <span style="display:block;padding-top:1px;line-height:24px;">레이블</span>
          <input type="checkbox" id="abcde" style="opacity: 0;" />
          <label class="switch-bar" for="abcde" style="margin-left:auto;">
            <div class="switch-thumb"></div>
          </label>
        </div>
      </div>

      <style>
        .tt label:before,
        .tt label:after {
          opacity: 0;
        }
        .switch-bar {
          width: 36px;
          height: 20px;
          padding: 2px !important;
          box-sizing: border-box;
          background: var(--color-background-weak);
          border-radius: var(--radius);
          transition: background 0.2s;
          cursor: pointer;
          position: relative;
        }
        .switch-thumb {
          width: var(--size-tiny);
          height: var(--size-tiny);
          border-radius: var(--radius);
          background: var(--color-background);
          box-shadow: var(--shadow);
          transition: transform 0.2s;
        }
        input:checked + .switch-bar {
          background: var(--color-primary);
        }
        input:checked + .switch-bar .switch-thumb {
          transform: translateX(16px);
        }

        .checkbox-input {
          width: var(--size-tiny);
          height: var(--size-tiny);
          border-radius: 4px;
          border: var(--border);
          box-sizing: border-box;
        }
        input:checked + .checkbox-input {
          border-color: var(--color-primary);
          background: var(--color-primary);
        }

        input[type='checkbox'] ~ label:before {
          /* position: absolute;
          left: 0; */
        }
        /* input[type=checkbox] ~ label:after {content:'';display:none;width:6px;height:2px;border-left:2px solid;border-bottom:2px solid;border-color:var(--gray200);position:absolute;left:4px;top:9px;transform:rotate(-45deg);} */
      </style>
    </section>

    <hr />

    <div style="display:flex;align-items:center;line-height:var(--font-line-height-small);">
      <span>떡볶이</span>
      <span class="material-symbols-outlined" style="font-size:var(--font-size-subhead);color:var(--color-text-light);">
        close
      </span>
      <span>5</span>
    </div>

    <h3 class="article-subhead">
      Select payment method<br />token은 활용했지만 컴포넌트에 정의하지 않은 형태. 판매자가 선택할 수 있는 결제 방법과 구매자가 선택할 수 있는 결제
      방법의 차이. todo: radio hint
    </h3>

    <div class="payment-method-list temp8" style="margin:var(--space-after-subhead) 0 0 0;">
      <div class="payment-method-item status-is-active" style="margin:0 .75rem 0 0;">
        <i class="tag" data-style="primary" style="width:16px;height:16px;padding:0;position:absolute;z-index:5;top:.25rem;left:.25rem;"
          ><i class="material-symbols-outlined" style="font-size:20px;position:absolute;left:-3px;top:-3px;">check</i></i
        >
        <figure style="height:var(--size-large);padding-bottom:.5rem;background:aliceblue;">💳</figure>
        <span style="display:block;text-align:center;font-size:var(--font-size-body);">신용카드</span>
      </div>
      <div class="payment-method-item" style="margin:0 .75rem 0 0;">
        <figure style="height:var(--size-large);padding-bottom:.25rem;background:#defade;">💵</figure>
        <span style="display:block;text-align:center;font-size:var(--font-size-body);">현금</span>
      </div>
      <div class="payment-method-item" style="margin:0 .75rem 0 0;">
        <figure style="height:var(--size-large);padding-top:.25rem;background:antiquewhite;font-size:1.8rem;">🫓</figure>
        <span style="display:block;text-align:center;font-size:var(--font-size-body);">무통장입금</span>
      </div>
    </div>

    <hr />

    <div style="display:flex;margin:0 -.375rem;">
      <div class="tile-elevated" style="width:240px;margin:0 .375rem;padding:1rem;box-shadow:none;border:0;background:var(--green100);">
        <h2 style="line-height:var(--font-line-height-small);">Designers</h2>
        <p>50 People</p>
        <!-- <i class="material-symbols-outlined" style="font-size:20px;position:absolute;left:-3px;top:-3px;">arrow-right</i> -->
      </div>
      <div class="tile-elevated" style="width:240px;margin:0 .375rem;padding:1rem;box-shadow:none;border:0;background:aliceblue;">
        <h2 style="line-height:var(--font-line-height-small);">Engineers</h2>
        <p>50 People</p>
      </div>
      <div class="tile-elevated" style="width:240px;margin:0 .375rem;padding:1rem;">
        <h2 style="line-height:var(--font-line-height-small);">Managers</h2>
        <p>20 People</p>
      </div>
    </div>

    <hr />

    <div class="meter" style="max-width:640px;">
      <h1 class="meter-title">200 GB 중 187.23 GB 사용됨</h1>
      <div class="meter-graph">
        <div class="meter-graph-bar" style="width:40%;background:crimson;height:var(--size-tiny);border-radius:var(--radius);"></div>
        <div class="meter-graph-bar" style="width:30%;margin:0 .25rem;background:blue;height:var(--size-tiny);border-radius:var(--radius);"></div>
        <div class="meter-graph-bar" style="width:7%;background:green;height:var(--size-tiny);border-radius:var(--radius);"></div>
      </div>
      <div class="meter-detail">
        <div class="meter-detail-item">
          <i class="meter-detail-item-color"></i>
          <h3 class="meter-detail-item-title">Google 드라이브</h3>
          <span class="meter-detail-item-value">800,000원</span>
        </div>
        <div class="meter-detail-item">
          <i class="meter-detail-item-color"></i>
          <h3 class="meter-detail-item-title">Gmail</h3>
          <span class="meter-detail-item-value">800,000원</span>
        </div>
        <div class="meter-detail-item">
          <i class="meter-detail-item-color"></i>
          <h3 class="meter-detail-item-title">Google 포토</h3>
          <span class="meter-detail-item-value">800,000원</span>
        </div>
      </div>
    </div>

    <div class="" style="display:flex;align-items:center;flex-direction:row-reverse;">
      <label for="">주문 내역 총 <b>3</b>건</label>
      <select class="chip" name="" id="">
        <option value="">최근 3개월</option>
      </select>
    </div>
    <p>최근 3개월 내 주문 내역이 없습니다. <a href="">2022년 주문 내역 보기</a></p>
    <div class="list">
      <h2>Your Payments / Wallet</h2>
      <p>memo. name on card / expiration date. billing address (따로 관리 됨).</p>
      <a class="card js-modal" href="#newneek" data-modal="newneek" style="display:block;overflow:hidden;">
        <figure class="card-thumbnail">
          <img src="https://images-fe.ssl-images-amazon.com/images/G/0…rtal/r1/credit-card-image-blank._CB647740938_.png" alt="" />
        </figure>
        <h3 class="card-title" style="padding-bottom:0;">VISA 1988 XXXX 1111</h3>
        <time class="card-date">Expires on 10/23</time>
        <!-- <p class="card-description"></p> -->
        <div class="card-category">기본</div>
        <em style="display:block;margin-top:.25rem;">Edit</em>
        <button class="card-more" hidden="">
          <span class="material-symbols-outlined">
            more_vert
          </span>
        </button>
      </a>
      <button class="">Add a payment method</button>
    </div>

    <p>TeeVee</p>
    <p>icon-button size=small === icon-indicator (textfield-check/select indicator) - inline or float: right</p>
    <p>
      Note: Make sure the role of the element that serves as the container for the popup content is a menu, listbox, tree, grid or dialog and that the
      value of aria-haspopup matches the role of the popup container.
    </p>
    <p>Elements with role combobox have an implicit aria-haspopup value of listbox.</p>
    <br />

    <div class="sorting" style="position:relative;display:flex;">
      <label class="" for="select2" style="margin:0 var(--space-2) 0 0;">Sort by</label>
      <select class="" id="select2" style="background:none;border:none;padding:0 var(--space-2) 0 0;font:inherit;color:var(--color-text);">
        <option class="select-option" value="select-option1">최신순</option>
      </select>
      <span class="icon-button" data-size="small" role="img"><i class="material-symbols-outlined">arrow_drop_down</i></span>
    </div>
    <br />
    <button style="display:flex;align-items:center;">
      Learn more
      <span class="icon-button material-symbols-outlined" data-size="small" style="margin-left:.5rem;">
        arrow_right_alt
      </span>
    </button>

    <br />

    <div class="textfield-group" style="display:flex;align-items:flex-end;max-width:480px;">
      <div class="textfield">
        <label class="textfield-label" for="search">Length</label>
        <input class="textfield-input" type="number" id="search" placeholder="cm unit" />
      </div>
      <span class="material-symbols-outlined" style="padding:0 var(--space-1);color:var(--color-text-light);line-height:48px;">
        close
      </span>
      <div class="textfield">
        <label class="textfield-label" for="search">Width</label>
        <input class="textfield-input " type="search" id="search" placeholder="x means" />
      </div>
      <span class="material-symbols-outlined" style="padding:0 var(--space-1);color:var(--color-text-light);line-height:48px;">
        close
      </span>
      <div class="textfield">
        <label class="textfield-label" for="search">Height</label>
        <input class="textfield-input" type="search" id="search" placeholder="cm" />
      </div>
    </div>

    <br />
    <section style="max-width:480px;">
      <div class="textfield">
        <button class="textfield-prefix searchfield-prefix">
          <span class="material-symbols-outlined">mail </span>
        </button>
        <!-- <label class="textfield-label" for="search">검색(시각적으로숨겨야함)</label> -->
        <input class="textfield-input" type="text" id="search" placeholder="you@gamil.com" />
        <button class="textfield-clear" hidden><span class="material-symbols-outlined">close</span></button>
      </div>
      <div class="textfield" style="margin:var(--space-2) 0;">
        <button class="textfield-prefix searchfield-prefix">
          <span class="material-symbols-outlined">mail </span>
        </button>
        <!-- <label class="textfield-label" for="search">검색(시각적으로숨겨야함)</label> -->
        <input class="textfield-input" type="text" id="search" placeholder="you@gamil.com" />
        <button class="textfield-clear" hidden><span class="material-symbols-outlined">close</span></button>
      </div>
      <button class="button-elevated" style="max-width:240px;margin-bottom:0;">
        <figure class="button-elevated-avatar">
          <span class="material-symbols-outlined">add</span>
        </figure>
        <span class="button-elevated-label">add</span>
      </button>
    </section>

    <hr />

    <nav class="index">
      <h2 class="index-title" style="font-size:var(--font-siez-body);">Table of contents.</h2>
      <ol>
        <li><a href="#">Xero</a></li>
        <li><a href="#">Xero</a></li>
        <li><a href="#">Xero</a></li>
      </ol>
    </nav>

    <br />

    <div class="warningbox" style="background-color:var(--color-background-weak);padding:1rem var(--grid-margin);font-size:var(--font-size-caption);">
      <div class="warningbox-background"></div>
      <ul>
        <li style="color:var(--color-text-light);">금융투자상품은 예금자보호법에 따라 예금보험공사가 보호하지 않습니다.</li>
        <li style="color:var(--color-text-light);">유의사항 등. 이벤트 페이지 등의 최하단에 주로 사용. text list.</li>
        <li style="color:var(--color-text-light);">전환을 위한 핵심 콘텐츠는 아니기 때문에 background-strong 등의 강조된 형태를 사용하지 마세요.</li>
        <li style="color:var(--color-text-light);">background weak는 clickable 요소이지만 텍스트를 톤 다운해서 보완.</li>
      </ul>
    </div>
    <div class="feature-item tile-elevated" style="max-width:400px;padding:1rem;z-index:0;">
      <span class="feature-item-avatar" role="img">💃</span>
      <h3 class="feature-item-title">Feature Item Heading</h3>
      <p class="feature-item-description">남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
      <a class="feature-item-link" href="#">숙소 등록</a>
    </div>

    <br />

    <h3>타임라인. 체인지로그에서써도됨.</h3>
    <section class="timeline">
      <div class="timeline-item">
        <span class="timeline-item-icon">🐺</span>
        <h1 class="timeline-item-title">폰트 디자인</h1>
        <time class="timeline-item-date">2021. 12</time>
        <span>이도타입 / 한동훈</span>
      </div>
      <div class="timeline-item">
        <span class="timeline-item-icon">🦔</span>
        <h1 class="timeline-item-title">뉴닉, 프로덕트 디자이너</h1>
        <time class="timeline-item-date">2020. 02. - 2021. 02</time>
        <ul>
          <li>MVP / Feature 일정 산정 및 스펙 정의</li>
          <li>이슈 트래킹, 우선순위 관리를 위한 백로그 구축</li>
          <li>온라인 리서치, VOC 분석을 통한 문제 정의</li>
          <li>Userflow / UI / GUI</li>
          <li>프론트엔드 개발 (react/mobx/typescript)</li>
          <li>데이터 트래킹 및 분석 (hotjar, google analytics, google optimize)</li>
        </ul>
      </div>
      <div class="timeline-item">
        <span class="timeline-item-icon">🔢</span>
        <h1 class="timeline-item-title">그로스해킹 - 데이터와 실험을 통해 성장하는 서비스를 만드는 방법</h1>
        <time class="timeline-item-date">2020</time>
        <span>인프런 양승화</span>
      </div>
      <div class="timeline-item">
        <span class="timeline-item-icon">🔢</span>
        <h1 class="timeline-item-title">FE CONF2020 프론트엔드 컨퍼런스</h1>
        <time class="timeline-item-date">2019</time>
        <span>롯데타워</span>
      </div>
      <div class="timeline-item">
        <span class="timeline-item-icon">🐺</span>
        <h1 class="timeline-item-title">자바스크립트 기본</h1>
        <time class="timeline-item-date">2018.07 ~ 2018.09</time>
        <span>양재동코드랩 / 서울창업허브 세미나실 3 김영보</span>
      </div>
      <div class="timeline-item">
        <span class="timeline-item-icon">🔢</span>
        <h1 class="timeline-item-title">글자, 그리고 표현</h1>
        <time class="timeline-item-date">2017.07 ~ 2017.09</time>
        <span>한글타이포그래피학교 현승재</span>
      </div>
      <!-- <div class="timeline-item">
        <span class="timeline-item-icon">🐺</span>
        <h1 class="timeline-item-title">GUI 디자인</h1>
        <time class="timeline-item-date">2015. 06. - 2015. 05</time>
        <span>SK 상생협력센터 T아카데미</span>
      </div> -->
      <!-- <div class="timeline-item">
        <span class="timeline-item-icon">🐺</span>
        <h1 class="timeline-item-title">크로스브라우징 디지털 퍼블리싱 4기</h1>
        <time class="timeline-item-date">2014.01 ~ 2014.06</time>
        <span>경원직업전문학교</span>
      </div> -->
    </section>

    <br />

    <form class="tile-elevated" action="" style="max-width:400px;">
      <header class="titlebar" style="padding:0;">
        <h1 class="titlebar-title">게시물 만들기</h1>
        <button class="titlebar-back" aria-label="이전 페이지로">
          <span class="material-symbols-outlined">arrow_back</span>
        </button>
      </header>
      <div class="item tile" data-size="medium" style="margin:var(--space-4) 0 0;">
        <figure class="item-avatar"></figure>
        <h3 class="item-name" style="font-weight:var(--font-weight-normal);">수줍이</h3>
      </div>
      <div class="textfield comment-write-text" style="margin:var(--space-3) 0;">
        <!-- <label class="textfield-label" for="" aria-hidden="true">댓글</label> -->
        <textarea
          class="textfield-input"
          rows="4"
          name="comment"
          placeholder="무슨 생각을 하고 계신가요? feed와 comment에서 사용. textarea 컴포넌트 정의. 취소 버튼의 위치. toolbar."
          style="height:auto;"
        ></textarea>
      </div>

      <footer>
        <button class="comment-write-submit" type="submit">게시</button>
      </footer>
    </form>

    <article class="tile-elevated" style="max-width:400px;z-index:1;">
      <h3 style="text-align:center;font-size:var(--font-size-subhead);">Ratings</h3>
      <div class="statistic-item tile-flat" aria-label="별점 5개 만점에 3.9개를 받았습니다." style="margin-top:.5rem;text-align:center;z-index:auto;">
        <i class="statistic-label">리뷰 116만개</i>
        <span class="statistic-value" style="margin-left:-.5rem;">⭐ 4.8</span>
      </div>
      <div class="graph2">
        <b class="graph-label">5 Stars</b>
        <div class="graph-bar"><b style="width:68%;"></b></div>
        <span class="graph-value">68%</span>
      </div>
      <div class="graph2">
        <b class="graph-label">4 Stars</b>
        <div class="graph-bar"><b style="width:24%;"></b></div>
        <span class="graph-value">24%</span>
      </div>
      <div class="graph2">
        <b class="graph-label">3 Stars</b>
        <div class="graph-bar"><b style="width:0;"></b></div>
        <span class="graph-value">0%</span>
      </div>
      <div class="graph2">
        <b class="graph-label">2 Stars</b>
        <div class="graph-bar"><b style="width:2%;"></b></div>
        <span class="graph-value">2%</span>
      </div>
      <div class="graph2">
        <b class="graph-label">1 Star</b>
        <div class="graph-bar"><b style="width:6%;"></b></div>
        <span class="graph-value">6%</span>
      </div>
      <small>별 다섯개에서 점수만큼 채우는 유아이는 요즘 잘 안 보임. 구현하기 은근 까다로움.</small>
    </article>
    <br />
    <div style="max-width:400px;position:relative;">
      <h3 style="text-align:center;font-size:var(--font-size-subhead);">See this post in</h3>
      <button class="" style="position:absolute;right:0;top:-.25rem;">
        <figure class="chip"><span class="material-symbols-outlined">close</span></figure>
      </button>
      <hr />
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <h2 class="item-name" style="line-height:48px;">수줍이 앱</h2>
        <button class="item-action"><span class="item-action-label">열기</span></button>
      </div>
      <div class="item" data-size="large">
        <figure class="item-avatar"></figure>
        <h2 class="item-name" style="line-height:48px;">사파리 브라우저</h2>
        <button class="item-action is-active"><span class="item-action-label">계속</span></button>
      </div>
    </div>

    <br />

    <section class="greeting" style="max-width:400px;">
      <figure class="greeting-avatar" style="font-size:1.5rem;">🐶</figure>
      <h1 class="greeting-title">Hello, Stranger<i style="font-style:italic;">!</i></h1>
      <p class="greeting-description">Tender is the night.</p>
    </section>

    <!-- <aside class="tile-flat">
      <p>
        todo. 페이지에서 인삿말과 함께 우측에 아바타나 아이콘을 배치하는 패턴이 트랜디. 이 패턴에서 아바타는 시각 정보가 아니라 링크로 사용(바텀
        네비게이션 맨 우측 마이페이지 링크 대신)
      </p>
    </aside> -->

    <article class="card onboarding" role="listitem" style="max-width:400px;text-align:center;">
      <figure class="card-thumbnail" style="object-fit:cover;">
        <img src="/public/images/springsteen.jpg" alt="" style="max-height:fit-content;" />
      </figure>
      <h3 class="card-title" style="font-weight: bold;padding:var(--space-3) 0 .25rem 0;">Welcome to...</h3>
      <p class="card-text" style="width:90%;margin:0 auto;font-size:var(--font-size-body);line-height:var(--font-line-height-small);">
        디스크립션. PrevButton 이라면 secondary vs tertiary
      </p>
      <footer class="onboarding-control">
        <button class="onboarding-control-next button-primary">Next</button>
        <button class="onboarding-control-skip button-tertiary">Skip</button>
      </footer>
    </article>

    <article class="tile-elevated" style="max-width:400px;padding:1rem;z-index:1;">
      <figure class="user-avatar"></figure>
      <h2 class="user-name">Gyeongsoo I</h2>
      <div class="user-id">@soojubm</div>
      <div class="user-job">Youtube Subscriber</div>
      <footer class="tag-group">
        <span class="tag">대한민국</span>
        <span class="tag">자전거</span>
      </footer>
      <p>여기서 팔로우 버튼이 작은 것이 트랜드..</p>
      <!-- <p class="user-description" style="margin:var(--space-2) 0 0 0;">TBreaking news alerts and updates from the BBC. For news, features, analysis follow </p> -->

      <footer class="user-foot" style="margin:var(--space-3) 0;">
        <button class="profile-foot-follow"><span class="item-action-label">팔로우</span></button>
      </footer>
      <div class="statistic" data-size="small">
        <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
          <i class="statistic-label">팔로워</i>
          <span class="statistic-value">62</span>
        </div>
        <i class="icon-bullet"></i>
        <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
          <i class="statistic-label">팔로잉</i>
          <span class="statistic-value">8</span>
        </div>
      </div>
      <article class="avatargroup" style="margin-bottom:0;justify-content:center;">
        <figure>
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <figure>
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <figure>
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <figure>
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <span class="avatargroup-label">Followed by 수줍이 외 4명</span>
      </article>
    </article>

    <div
      class="navbar-user-card is-active"
      style="display:block;max-width:400px;width:100%;padding:1rem;transform:scale(1);position:relative;left:auto;right:auto;top:auto;bottom:auto;z-index:0;height:auto;"
    >
      <a class="user" href="#settings">
        <figure class="user-avatar">
          <div class="user-avatar-change"></div>
        </figure>
        <h2 class="user-name">soojubm</h2>
        <div class="user-email">soojubm@gamil.com</div>
        <div class="user-myinfo">내 프로필 관리</div>
      </a>
      <hr role="separator" style="margin-left:-1rem;margin-right:-1rem;" />
      <button class="item js-darkmode" data-size="medium" title="change theme" role="menuitem">
        <figure class="item-avatar" style="background-image:none;"><span class="material-symbols-outlined">nights_stay</span></figure>
        <span class="item-label">어둡게 보기</span>
        <span class="switch" style="margin-left:auto;">
          <input type="checkbox" id="temp55" name="" role="switch" />
          <label for="temp55" style="padding-left:48px;"></label>
        </span>
      </button>
      <button class="item" data-size="medium" title="sign out" role="menuitem">
        <figure class="item-avatar" style="background-image:none;">
          <span class="material-symbols-outlined">
            logout
          </span>
        </figure>
        <span class="item-label">고객센터 및 도움말</span>
      </button>
      <hr role="separator" style="margin-left:-1rem;margin-right:-1rem;" />
      <button class="item" data-size="medium" title="sign out" role="menuitem">
        <figure class="item-avatar" style="background-image:none;">
          <span class="material-symbols-outlined">
            logout
          </span>
        </figure>
        <span class="item-label">로그아웃</span>
      </button>
      <hr role="separator" style="margin-left:-1rem;margin-right:-1rem;" />
      <footer class="user-footer" style="margin:-.25rem 0 0 0;">
        <a href="#">개인정보처리방침</a>
        <i class="icon-bullet"></i>
        <a href="#">서비스 약관</a>
      </footer>
    </div>

    <table>
      <thead>
        <tr>
          <td style="padding:var(--space-2) 0;">
            <span class="icon-button is-positive" data-size="small">
              <span class="material-symbols-outlined" style="color:var(--color-primary);">check</span>
            </span>
          </td>
          <td style="padding:var(--space-2) 0;">
            <span class="icon-button is-negative" data-size="small"><span class="material-symbols-outlined">close</span></span>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b>Alerte de Retour</b>
            <br />
            cette notification expire dans 5 jours
          </td>
          <td>
            <b>Alerte de Retour</b>
            <br />
            cette notification expire dans 5 jours
          </td>
        </tr>
        <tr>
          <td style="border:none;">
            cette notification expire dans 5 jours
          </td>
          <td style="border:none;">
            cette notification expire dans 5 jours
          </td>
        </tr>
      </tbody>
    </table>

    <article class="card has-clickable" role="listitem" style="max-width:400px;" data-align="vertical">
      <figure class="card-thumbnail"><img src="/public/images/springsteen.jpg" alt="" /></figure>
      <h3 class="card-title">카드 유아이</h3>
      <p class="card-text">
        텍스트는 최대 두 줄이다. 따봉은 상세페이지에서 제공하세요. 뉴스피드 유아이에서는 밖에서 제공할 수 있어요.북마크는 밖에 두어도 좋은가?
        상세페이지에서 제공하는 것이 좋음. 기능이 많아짐. 신선식품 장바구니는 밖에 인정.
      </p>
      <time class="card-date">2017. 12. 21.</time>
      <div class="card-tags" role="group">
        <span class="card-tags-item">기획</span>
        <span class="card-tags-item">UI</span>
        <span class="card-tags-item">React</span>
      </div>
      <div class="card-byline">
        <figure class="card-byline-avatar"><img src="/public/images/springsteen.jpg" alt="" /></figure>
        <span class="card-byline-name">수줍이</span>
      </div>
      <span class="card-category">카테고리</span>
      <hr />
      <div class="item" data-size="large">
        <figure class="item-avatar" style="background-image:none;">🍊</figure>
        <h4 class="item-name">퓨어 오렌지 주스</h4>
        <div class="item-price"><del>₩19,000</del> ₩16,000 <em>할인율 20%</em></div>
      </div>
      <div class="card-note">마일리지 적립 200P</div>
      <button class="card-more" hidden>
        <span class="material-symbols-outlined">
          more_vert
        </span>
      </button>
    </article>

    <div class="" role="group" style="display:flex;"></div>

    <div class="file-attachment-item" style="max-width:400px;">
      <figure class="file-attachment-item-image"><img src="/public/images/springsteen.jpg" alt="${file.name}" /></figure>
      <b class="file-attachment-item-name">${file.name}</b>
      <small class="file-attachment-item-size">${returnFileSize(file.size)}</small>
      <button class="file-attachment-item-delete js-remove-this"><span class="material-symbols-outlined">close</span></button>
    </div>
    <div class="reactions" style="margin:1rem 0;">
      <button class="reaction-item">
        <figure class="reaction-item-avatar">❤️</figure>
        <span class="reaction-item-label">좋아요</span>
        <span class="reaction-item-count">117</span>
      </button>
    </div>

    <div class="jobitem" role="listitem" style="max-width:400px;margin:0 0 var(--space-4) 0;">
      <h2 class="jobitem-name">Senior Front-end Developer</h2>
      <div class="jobitem-tags">
        <span class="tag">Full-Time</span>
        <span class="tag">Korea</span>
        <span class="tag">Remote friendly</span>
      </div>
      <button class="jobitem-view"><span class="chip-label">View Job</span></button>
    </div>

    <div class="tile-elevated" style="max-width:400px;padding:var(--space-3);">
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <h2 class="item-name">Gyeongsoo I</h2>
        <span class="item-description">유아이 디자이너</span>
        <button class="item-action is-active" style="right:2.25rem;"><span class="item-action-label">팔로잉</span></button>
        <button class="chip" style="background:none;border:none;position:absolute;right:0;top:50%;transform:translateY(-50%)">
          <span class="material-symbols-outlined">
            more_vert
          </span>
        </button>
      </div>
    </div>

    <article class="bookitem" style="max-width:400px;">
      <figure class="bookitem-cover">
        <img src="/public/images/springsteen.jpg" alt="" />
      </figure>
      <h3 class="bookitem-name"><span role="img" aria-label="">📙</span> ${item.title}</h3>
      <span class="bookitem-description">이미지의 크기가 다를 때. 책 표지. 세로값을 고정하고 가로를 오토. 바운더리 안에 책을 배치.</span>
      <hr />
      <p class="bookitem-byline">${item.author || '정보가 없습니다'}</p>
      <time class="bookitem-publishedyear">${item.publishedDate || '정보가 없습니다'}</time>
    </article>

    <article class="keywords" style="padding:1rem;z-index:1;">
      <h3 class="keywords-title">지금 인기있는 이슈 키워드</h3>
      <div class="keywords-group" role="group">
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">국정감사</span></a>
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">윤석열검찰총장</span></a>
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">조국</span></a>
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">뉴닉</span></a>
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">차별금지법</span></a>
        <a class="keywords-group-keyword" href="#"><span class="keywords-group-keyword-label">추미매법무부장관</span></a>
      </div>
      <button class="button-elevated" style="margin-bottom:0;">
        <figure class="button-elevated-avatar">
          <span class="material-symbols-outlined">search</span>
        </figure>
        <span class="button-elevated-label">직접 검색</span>
      </button>
    </article>

    <div class="quote" style="padding:1rem;">
      <figure class="quote-avatar">🥫</figure>
      <h3 class="quote-title">Quote</h3>
      <p class="quote-body">Don't you know that God is Pooh bear? Don't you know that God is Pooh bear?</p>
      <cite class="quote-byline">
        <div class="quote-byline-name">Jack Kerouac</div>
        <div class="quote-byline-job">Poet / Novelist</div>
      </cite>
      <button class="quote-action">더 알아보기</button>
      <!-- <button class="quote-later">지금은 괜찮아요</button> -->
    </div>

    <div class="quote" style="background-image:url('../public/images/springsteen.jpg');background-size:cover;padding:8rem 1rem 1rem;">
      <h3 class="quote-title" style="color:#fff;">Quote</h3>
      <p class="quote-body" style="color:#fff;">Don't you know that God is Pooh bear? Don't you know that God is Pooh bear?</p>
      <cite class="quote-byline">
        <div class="quote-byline-name" style="color:#fff;">Jack Kerouac</div>
        <div class="quote-byline-job">Poet / Novelist</div>
      </cite>
    </div>

    <article class="userlist" style="max-width:400px;padding:1rem;overflow:hidden;z-index:1;">
      <h1>팔로워</h1>
      <!-- <a class="link-outside" href="#">모두 보기 (todo 위치)</a> -->
      <div class="share-group" role="group" style="margin-top:var(--space-3);margin-bottom:.5rem;">
        <button class="chip is-active"><span class="chip-label">필터링 1</span></button>
        <button class="chip"><span class="chip-label">필터링 2</span></button>
      </div>
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <h2 class="item-name">Gyeongsoo I</h2>
        <span class="item-description">유아이 디자이너</span>
        <button class="item-action is-active"><span class="item-action-label">팔로잉</span></button>
      </div>
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <h2 class="item-name">Gyeongsoo I</h2>
        <span class="item-description">유아이 디자이너</span>
        <button class="item-action"><span class="item-action-label">팔로우</span></button>
      </div>
      <button class="button-elevated" style="margin-bottom:0;">
        <figure class="button-elevated-avatar"></figure>
        <span class="button-elevated-label">더 많은 친구를 찾아보세요!</span>
      </button>
    </article>

    <div class="pricing-item" style="max-width:400px;padding:1rem;">
      <span
        class="tag"
        style="
      margin-left: -1.5rem;
      display: inline-flex;
      position: absolute;
      top:var(--space-3);"
      >
        <figure class="tag-icon" role="img">🔥</figure>
        <small class="tag-label">Most Popular</small>
      </span>
      <h1 class="pricing-item-title" style="margin:2rem var(--space-after-subhead) 0 0;">Standard</h1>
      <p class="pricing-item-description">전직대통령의 신분과 예우에 관하여는 법률로 정한다. 대법원장은 국회의 동의를 얻어 대통령이 임명한다.</p>
      <ul>
        <li>스토리지 2TB</li>
        <li>Google 전문가와의 상담</li>
        <li>회원을 위한 추가 혜택</li>
      </ul>
      <span class="pricing-item-price">
        <span class="pricing-item-price-per" style="font-size:var(--font-size-body);font-weight:normal;">한 달에 한 번</span>
        <span class="pricing-item-price-unit">₩</span>
        <span>6,800</span>
        <!-- <i class="icon-bullet"></i> -->
      </span>
      <button class="pricing-item-upgrade">업그레이드</button>
      <button class="pricing-item-more">And More...</button>
    </div>

    <article class="share" style="max-width:400px;padding:1rem;">
      <h2 class="share-title">가족이나 친구와<br />함께 보세요!</h2>
      <hr />
      <close-button class="share-back"></close-button>
      <button class="share-facebook">
        <figure class="share-facebook-icon"></figure>
        <span class="share-facebook-label">facebook으로 공유하기</span>
      </button>
      <button class="share-twitter">
        <figure class="share-twitter-icon"></figure>
        <span class="share-facebook-label">twitter로 공유하기</span>
      </button>
      <button class="share-kakao">
        <figure class="share-kakao-icon"></figure>
        <span class="share-facebook-label">kakao로 공유하기</span>
      </button>
      <hr />
      <div class="share-copy textfield">
        <input class="share-copy-url textfield-input" type="text" value="https://newneek.co/post/jadebabo" readonly />
        <button class="share-copy-button js-copy" type="button" tabindex="0">복사</button>
      </div>
    </article>

    <!-- // ! todo z-index tile in tile -->
    <article class="tile-elevated" style="max-width:400px;z-index:1;">
      <div class="item" role="listitem" data-size="large">
        <figure class="item-avatar"></figure>
        <span class="item-description">관심사가 비슷한 사용자</span>
        <h2 class="item-name">Gyeongsoo I</h2>
        <button class="item-action"><span class="item-action-label">팔로우</span></button>
      </div>
      <div class="temp8">
        <div>
          <figure>🧀</figure>
          <span>Typography</span>
        </div>
        <div>
          <figure style="background:cadetblue;">🌭</figure>
          <span>Cinema</span>
        </div>
        <div>
          <figure style="background:darkseagreen;">🌮</figure>
          <span>Design System</span>
        </div>
        <div>
          <figure style="background:lightsalmon;">🍿</figure>
          <span>Startup</span>
        </div>
      </div>

      <button class="button-elevated" style="margin:.25rem 0 0 0;">
        <figure class="button-elevated-avatar">🦄</figure>
        <span class="button-elevated-label">샘플 유아이</span>
        <i class="button-elevated-helper"><span class="material-symbols-outlined">arrow_forward</span></i>
      </button>
    </article>

    <article class="tile-elevated" style="max-width:400px;padding:1rem;z-index:1;">
      <header>
        <h1 class="share-title">컬렉션에 추가</h1>
      </header>
      <fieldset>
        <div class="checkbox">
          <input class="" type="checkbox" id="playlist" value="" aira-checked="mixed" aria-controls="1 2" />
          <label for="playlist" title="play list">재생 목록 1,</label>
          <!-- <small>나만 보기</small> -->
        </div>
        <div class="checkbox">
          <input class="" type="checkbox" id="playlist2" value="" aira-checked="mixed" aria-controls="1 2" />
          <label for="playlist2" title="play list2">재생 목록 2</label>
        </div>
      </fieldset>
      <button class="button-elevated">
        <figure class="button-elevated-avatar">
          <span class="material-symbols-outlined">add</span>
        </figure>
        <span class="button-elevated-label">새 컬렉션 만들기</span>
      </button>
      <br />
      <div class="textfield">
        <label class="textfield-label" for="">컬렉션 이름</label>
        <input class="textfield-input" type="text" placeholder="컬렉션 이름" />
      </div>
    </article>

    <section class="post-comment-list" style="max-width:400px;">
      <article class="post-comment-list-item" role="comment">
        <a class="post-comment-list-item-avatar" href="#">
          <img src="/public/images/springsteen.jpg" />
          <b class="post-comment-list-item-author" href="#">soojubm</b>
          <time class="post-comment-list-item-date" datetime="2016">1 day ago</time>
        </a>
        <p class="post-comment-list-item-text">
          코멘트는 노출 순서와 정렬 기능 여부 갯수, 답글 스타일, 최초 노출형태, 신고/수정/삭제/아바타는 우선순위를 낮게 설정하고, 리뷰와 코멘트는
          비슷한 구조이지만 별도의 컴포넌트로 관리되어야 한다. 또 있을까?
        </p>

        <button class="button-elevated">
          <figure class="button-elevated-avatar">🦄</figure>
          <span class="button-elevated-label">샘플 유아이</span>
          <i class="button-elevated-helper"><span class="material-symbols-outlined">arrow_forward</span></i>
        </button>

        <button class="post-comment-list-item-reply">답글 <small>7</small></button>
        <button class="post-comment-list-item-morevert js-toggle">
          <span class="material-symbols-outlined">
            more_vert
          </span>
        </button>
        <menu class="post-comment-list-item-menu">
          <button class="">수정</button>
          <button class="">삭제</button>
        </menu>
        <!-- 대댓글 샘플 -->
        <div class="post-comment-list-item" role="comment">
          <a class="post-comment-list-item-avatar" href="#"><img src="/public/images/springsteen.jpg"/></a>
          <a class="post-comment-list-item-author" href="#">soojubm</a>
          <time class="post-comment-list-item-date" datetime="2016">1 day ago</time>
          <p class="post-comment-list-item-text">
            우와 처음으로 댓글 남겨요! 댓글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요. 우와 처음으로 댓글 남겨요! 댓글이 길어지면 어떻게
            보일까요? 두 줄로 세 줄로 안녕하세요.
          </p>
          <button class="post-comment-list-item-morevert js-toggle">
            <span class="material-symbols-outlined">
              more_vert
            </span>
          </button>
          <menu class="post-comment-list-item-menu">
            <button class="">수정</button>
            <button class="">삭제</button>
          </menu>
        </div>
      </article>
    </section>

    <div class="number">
      <div class="number-card">8</div>
      <div class="number-card">8</div>
      <div class="number-card">2</div>
      <div class="number-card">0</div>
    </div>

    <aside class="help-feedback tile-elevated">
      <p class="help-feedback-title">이 문서가 도움이 되었나요?</p>
      <small class="help-feedback-status" title="17 out of 439 found this helpful">417명 중 349명이 도움을 받았어요.</small>
      <footer style="display:flex;">
        <button class="help-feedback-button"><span class="chip-label">도움이 됐어요</span></button>
        <button class="help-feedback-button"><span class="chip-label">부족해요</span></button>
      </footer>
    </aside>

    <br />

    <figure class="tile-flat">
      <q
        >I'm impressed by how GitHub Copilot seems to know exactly what I want to type next. GitHub Copilot is particularly helpful when working on
        React components, where it makes eerily accurate predictions. GitHub Copilot has become an indispensable part of my programmer toolbelt.</q
      >
      <figcaption style="margin:var(--space-3) 0 0 0;color:var(--color-text-light);">Byline</figcaption>
    </figure>

    <div class="graph" style="border:var(--border);border-radius:var(--radius);">
      <div class="graph-title">1월 26일 <em>컴퓨터통신 분야</em>에서는<br /><em>7백명의 지식iN</em>들이 답변하셨습니다.</div>
      <div class="graph-item">
        <span class="graph-item-value">40%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">10대</span>
      </div>
      <div class="graph-item">
        <span class="graph-item-value">30%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">20대</span>
      </div>
      <div class="graph-item">
        <span class="graph-item-value">20%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">30대</span>
      </div>
      <div class="graph-item">
        <span class="graph-item-value">10%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">40대</span>
      </div>
    </div>
    <div class="tile-flat" style="text-align:center;">
      최근 3개월간 네이버플러스 멤버십으로<br />
      <em>15,799원 추가 적립 혜택</em>이 생겼어요!
    </div>

    <p>워크플로우입니다. changelog: 클릭하고 싶지 않은 형태로 변경 2021.10</p>
    <p>타임라인(역순)/히스토리 맥락. 확장, 링크, indentation</p>
    <blockquote>
      <p>
        css속성으로 -webkit-appearance: slider-vertical slider 속성 값을 사용하기 때문에 slider는 carousel로 명명. input type="range" 형태를 stepper로
        명명하는 경우가 있음.
      </p>
    </blockquote>

    <section class="step">
      <div class="step-item is-active">
        <span class="step-item-icon">1</span>
        <h3 class="step-item-title">장바구니</h3>
        <p class="step-item-description">
          대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다. 국가원로자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 국가는
          대외무역을 육성하며, 이를 규제·조정할 수 있다.
        </p>
      </div>
      <div class="step-item">
        <span class="step-item-icon">2</span>
        <h3 class="step-item-title">결제</h3>
      </div>
      <!-- <div class="step-space">
        <span class="step-space-dot"></span>
        <span class="step-space-dot"></span>
        <span class="step-space-dot"></span>
      </div> -->
      <div class="step-item">
        <span class="step-item-icon">3</span>
        <h3 class="step-item-title">주문완료</h3>
      </div>
    </section>

    <section class="step is-vertical">
      <div class="step-item is-active">
        <span class="step-item-icon">1</span>
        <h3 class="step-item-title">장바구니</h3>
      </div>
      <div class="step-item">
        <span class="step-item-icon">2</span>
        <h3 class="step-item-title">결제</h3>
      </div>
      <div class="step-item">
        <span class="step-item-icon">3</span>
        <h3 class="step-item-title">주문완료</h3>
      </div>
    </section>
  </section>
</main>
