<main class="component" style="overflow: hidden">
  <div style="padding: 0 var(--grid-margin)">
    <section class="sample-container" style="margin-top: 0">
      <header class="greeting" data-temp="이 패턴에서 아바타는 시각 정보가 아니라 링크로 사용">
        <figure class="greeting-avatar" style="font-size: 1.5rem">🐶</figure>
        <h1 class="greeting-title">Hello, Stranger<i style="font-style: italic">!</i></h1>
        <p class="greeting-description">Tender is the night.</p>
      </header>

      <section class="">
        <header style="display: flex; align-items: center; justify-content: space-between; max-width: 400px; margin: 0 auto var(--space-3)">
          <h2>내 요금제</h2>
          <button style="color: var(--color-primary); font-weight: bold; text-decoration: underline">요금제 변경하기</button>
        </header>
        <article class="purchase" style="border: var(--border); max-width: 400px; margin: 0 auto">
          <header class="purchase-head">
            <h3>Premium 베이직</h3>
            <small>Premium 베이직 계정 1개 / 클라우드 330GB (월 5,500원)</small>
          </header>
          <div class="add_money_area" style="padding: 1rem">
            <div class="add_inner">
              <p class="use_time">이용기간 23.04.09. ~ 23.05.02.</p>
              <div class="add_money">
                이번 달 결제금액 <em class="accent"><span id="sale_price">4,258</span>원</em>
                <em class="num">(<span id="remainDays">24</span>일 이용요금)</em>
              </div>
            </div>
          </div>
          <div class="purchase-body">
            <dl>
              <dt style="width: 50%; margin: 0">오늘부터 시작</dt>
              <dd style="width: 50%; margin: 0; text-align: right">월 8,690 KRW</dd>
              <dt style="width: 50%; margin: 0">다음 결제일</dt>
              <dd style="width: 50%; margin: 0; text-align: right">2023. 3. 10.</dd>
            </dl>
            <ul style="margin: var(--space-4) 0 0 0">
              <li>다음 청구일은 2023. 3. 10.입니다.</li>
              <li>언제든 해지 가능합니다. 혜택 약관이 적용됩니다.</li>
            </ul>
          </div>
        </article>
      </section>

      <div class="item" role="listitem" data-size="large" style="margin-bottom: var(--space-3)">
        <figure class="item-avatar"></figure>
        <span class="item-description">관심사가 비슷한 사용자</span>
        <h2 class="item-name">Gyeongsoo I</h2>
        <!-- <button class="item-action"><span class="item-action-label">팔로우</span></button> -->
      </div>

      <article class="tile-elevated" style="z-index: 1">
        <header class="titlebar" style="padding: 0; margin-bottom: var(--space-4)">
          <h1 class="titlebar-title">See this post in</h1>
          <button class="titlebar-back" aria-label="이전 페이지로">
            <figure class="chip material-symbols-outlined">close</figure>
          </button>
        </header>
        <div class="item" role="menuitem">
          <figure class="item-avatar is-secondary"></figure>
          <span class="item-label">수줍이 앱</span>
          <button class="item-action"><span class="item-action-label">열기</span></button>
        </div>
        <div class="item" role="menuitem">
          <figure class="item-avatar is-secondary"></figure>
          <span class="item-label">사파리 브라우저</span>
          <button class="item-action is-active"><span class="item-action-label">계속</span></button>
        </div>
      </article>

      <div class="jobitem" role="listitem">
        <h2 class="jobitem-name">Senior Front-end Developer</h2>
        <div class="jobitem-tags">
          <span class="tag">Full-Time</span>
          <span class="tag">Korea</span>
          <span class="tag">Remote friendly</span>
        </div>
        <button class="jobitem-view"><span class="chip-label">View Job</span></button>
      </div>

      <div class="tile-elevated" style="max-width: 400px">
        <article class="item" data-size="huge">
          <figure class="item-avatar">
            <span class="avatar-badge"></span>
          </figure>
          <b class="item-name">개인</b>
          <p class="item-description">Apple One</p>
          <span>가족 구독</span>
        </article>
        <hr />
        <h3>1개월 무료 체험</h3>
        <small>오늘부터</small>
        <h3 style="margin: var(--space-3) 0 0 0">14,900원/개월</h3>
        <small>2023년 05월 22일부터</small>
        <hr />
        <p>약정 기간이 없습니다. 갱신일 최소 하루 전까지 설정 > Apple ID에서 언제든지 취소할 수 있습니다. 취소할 때까지 요금제가 자동 갱신됩니다.</p>
        <hr />
        <p style="color: var(--color-text-light)">계정: soojubm@gmail.com</p>
      </div>

      <article style="position: relative">
        <div class="tile-flat" style="border: none; margin-left: -0.75rem; margin-right: -0.75rem">
          <b>Personal License</b>
          <b class="item-price" style="position: absolute; right: var(--space-3); top: var(--space-3)">18,800 KRW</b>
          <small style="display: block; color: var(--color-text-light)">1 user</small>
        </div>

        <div class="item" data-size="large">
          <figure class="item-avatar" style="background-image: none; font-size: var(--font-size-large)">🎅🏻</figure>
          <b class="item-name">Widgefy iOS Widgets</b>
          <!-- <p class="item-description">description area.</p> -->
          <div style="display: flex; align-items: center; color: var(--color-text-light)">
            <small style="line-height: 24px">떡볶이</small>
          </div>
          <b class="item-price" style="position: absolute; right: 0; top: 0">18,800 KRW</b>
          <small style="color: var(--color-text-light); position: absolute; right: 0; top: 22px">6410</small>
        </div>

        <footer style="margin: 1rem 0">
          <button class="button-primary" style="width: 100%; font-size: 15px">Buy now</button>
        </footer>
      </article>

      <form class="feed-make tile-elevated" action="">
        <header class="titlebar" style="padding: 0; margin-bottom: var(--space-4)">
          <h1 class="titlebar-title">게시물 만들기</h1>
          <button class="titlebar-back" aria-label="이전 페이지로">
            <span class="material-symbols-outlined">close</span>
          </button>
        </header>
        <div class="item" data-size="medium">
          <figure class="item-avatar"></figure>
          <span class="item-name">수줍이</span>
        </div>
        <div class="textfield comment-write-text" style="margin: var(--space-3) 0">
          <!-- <label class="textfield-label" for="" aria-hidden="true">댓글</label> -->
          <textarea
            class="textfield-input"
            rows="3"
            name="comment"
            placeholder="무슨 생각을 하고 계신가요? feed와 comment에서 사용. textarea 컴포넌트 정의. 취소 버튼의 위치. toolbar."
            style="height: auto"
          ></textarea>
        </div>
        <footer>
          <button class="comment-write-submit" type="submit">게시</button>
        </footer>
      </form>

      <article class="tile-elevated">
        <header class="titlebar" style="padding: 0; margin-bottom: var(--space-4)">
          <h1 class="titlebar-title">VASP 선택</h1>
          <button class="titlebar-back" aria-label="이전 페이지로">
            <figure class="chip material-symbols-outlined">arrow_back</figure>
          </button>
        </header>
        <div class="textfield" data-size="small">
          <button class="textfield-prefix searchfield-prefix">
            <span class="material-symbols-outlined" style="font-size: 20px">search</span>
          </button>
          <input class="textfield-input" type="text" id="search" placeholder="VASP명 / 심볼" autocomplete="off" />
          <!-- <button class="textfield-clear" hidden><span class="material-symbols-outlined">close</span></button> -->
        </div>

        <hr />

        <div class="item" data-size="medium" role="menuitem">
          <figure class="item-avatar"></figure>
          <b class="item-name" style="font-weight: var(--font-weight-normal)">빗썸</b>
          <div class="checkbox" data-size="large" style="margin-left: auto">
            <input type="checkbox" id="menutype1" name="gender" checked="" />
            <label for="menutype1" title=""></label>
          </div>
        </div>
        <div class="item" data-size="medium" role="menuitem">
          <figure class="item-avatar"></figure>
          <b class="item-name" style="font-weight: var(--font-weight-normal)">코인원</b>
          <div class="checkbox" data-size="large" style="margin-left: auto">
            <input type="checkbox" id="menutype2" name="gender" checked="" />
            <label for="menutype2" title=""></label>
          </div>
        </div>
      </article>
    </section>
  </div>
  <aside style="position: fixed; top: 6rem; left: calc(50% + var(--width-sidemenu) - var(--grid-margin)); transform: translateX(-50%); z-index: 8">
    <button
      style="padding: 0.5rem 1rem; border-radius: 50px; box-shadow: var(--shadow); background: var(--color-primary); color: var(--color-text-weak)"
      onclick="javascript:alert('샘플 유아이')"
    >
      1월 1일 변경된 내용 보기
    </button>
  </aside>

  <!-- <button aria-haspopup="true" aria-expanded="false">
    Difficulty
    <span aria-hidden="true">&#x25be;</span>
  </button>
  <div role="menu">
    <button role="menuitemradio" tabindex="-1">Easy</button>
    <button role="menuitemradio" aria-checked="true" tabindex="-1">Medium</button>
  </div>
  <p>role=checkbox aria-checked=false</p> -->

  <section class="component-body" style="margin: 0 var(--grid-margin)">
    <!-- <form class="subscribe" style="max-width: var(--layout-width-small)">
    <h2 class="subscribe-title">수줍이 뉴스레터</h2>
    <p class="subscribe-description">섭스크라이브 유아이 콤포넌트 입니다. <br />두 줄 단락을 위해 쓰고 있습니다.</p>
    <div class="subscribe-field textfield">
      <label for="" class="textfield-label">이메일 주소</label>
      <input class="textfield-input" type="text" placeholder="Enter Your Email.." />
    </div>
    <p class="subscribe-helper setting-item-helper">
      샘플 텍스트. 걱정하지 마세요. 스팸은 없습니다! 귀하의 정보는 web.dev 및 Chrome 관련 업데이트에만 사용되며 당사에서 보내는 이메일은 일반적으로 한
      달에 1-2회를 넘지 않습니다. 언제든지 구독을 취소할 수 있습니다.
    </p>
    <div class="checkbox" style="margin: var(--space-4) 0">
      <input class="checkbox-input" type="checkbox" />
      <label for="" class="checkbox-label"
        >본인은 Google의 <a href="" rel="noopener" target="_blank">이용 약관</a>에 동의하며 본인의 정보가 Google의
        <a href="" rel="noopener" target="_blank">개인정보보호 정책</a>에 따라 이용된다는 것을 인정합니다.</label
      >
    </div>

    <button class="subscribe-submit" type="submit">뉴스레터 구독</button>
  </form> -->

    <article class="card has-clickable" role="listitem" style="max-width: 400px; z-index: 1" data-align="vertical">
      <figure class="card-thumbnail"><img src="/public/images/springsteen.jpg" alt="" /></figure>
      <!-- <figure class="card-avatar">🍊</figure> -->
      <h3 class="card-title">카드 유아이</h3>
      <p class="card-text">
        텍스트는 최대 두 줄이다. 따봉은 상세페이지에서 제공하세요. 뉴스피드 유아이에서는 밖에서 제공할 수 있어요.북마크는 밖에 두어도 좋은가?
        상세페이지에서 제공하는 것이 좋음. 기능이 많아짐. 신선식품 장바구니는 밖에 인정.
      </p>
      <div class="card-tags" role="group">
        <span class="card-tags-item">기획</span>
        <span class="card-tags-item">UI</span>
        <span class="card-tags-item">React</span>
      </div>
      <div class="card-byline" style="margin: var(--space-3) 0">
        <figure class="card-byline-avatar"><img src="/public/images/springsteen.jpg" alt="" /></figure>
        <span class="card-byline-name">수줍이</span>
        <time class="card-date">2017. 12. 21.</time>
      </div>
      <span class="card-category">카테고리</span>
      <hr />
      <button class="item" data-size="large" style="width: 100%">
        <figure class="item-avatar" style="background-image: none">🍊</figure>
        <span class="item-name">퓨어 오렌지 주스</span>
        <div class="item-description"><del>₩19,000</del> ₩16,000 <em>할인율 20%</em></div>
      </button>

      <div class="card-note">마일리지 적립 200P</div>

      <button class="card-more" hidden>
        <figure class="material-symbols-outlined">more_vert</figure>
      </button>
    </article>

    <!-- <div class="album-track">
      <header class="album-track-label" role="row">
        <span class="album-track-label-item" role="columnheader">#</span>
        <span class="album-track-label-item">제목</span>
        <span class="album-track-label-item">Gengre</span>
        <span class="album-track-label-item">Progress</span>
        <span class="album-track-label-item">Status</span>
        <span class="album-track-label-item">러닝타임</span>
        <span class="album-track-label-item" title=" date added(sort)">Date</span>
      </header>
      <div class="album-track-row" role="row">
        <span class="album-track-row-column" data-cell="number">1</span>
        <span class="album-track-row-column">
          <div class="item" style="width: 100%">
            <figure class="item-avatar"></figure>
            <b class="item-name">Dancing in the Dark</b>
            <small class="item-description">Bruce Springsteen</small>
          </div>
        </span>
        <span class="album-track-row-column stack"><span class="tag">hiphop</span><span class="tag">rap</span></span>
        <span class="album-track-row-column">In Review --</span>
        <span class="album-track-row-column"
          ><em class="badge" style="height: auto; margin-right: 0.5rem; background: gold; padding: 3px"></em> Error</span
        >
        <span class="album-track-row-column">7 : 02</span>
      </div>
    </div> -->
    <section class="">
      toolbar is not chip.. 단지 지금 chip의 컨테이너를 가지고 있는 것.
      <p class="profile-display-status" role="status">Viewing 1,000 Projects</p>
      <div class="tile-elevated-small">
        <div style="width: 100%; display: flex">
          <button class="profile-display-button js-test-toggle is-selected" name="grid">
            <figure class="chip-icon"><span class="material-symbols-outlined">grid_on</span></figure>
            <span class="chip-label" aria-hidden="true" aria-lable="grid" style="line-height: 24px">격자</span>
          </button>
          <button class="profile-display-button js-test-toggle" name="list" style="margin-left: 0.5rem">
            <figure class="chip-icon" style="background: none">
              <span class="material-symbols-outlined"><span class="material-symbols-outlined"> view_agenda </span></span>
            </figure>
            <span class="chip-label" aria-hidden="true" style="line-height: 24px">List</span>
          </button>
        </div>
        <div style="width: 100%; display: flex; margin-top: 0.75rem">
          <button class="profile-display-button js-test-toggle is-selected" name="grid">
            <figure class="chip-icon"><span class="material-symbols-outlined">format_bold</span></figure>
            <span class="chip-label" aria-hidden="true" aria-lable="grid" hidden>격자</span>
          </button>
          <button class="profile-display-button js-test-toggle" name="list" style="margin-left: 0.25rem">
            <figure class="chip-icon" style="background: none"><span class="material-symbols-outlined">format_italic</span></figure>
            <span class="chip-label" aria-hidden="true" hidden>List</span>
          </button>
          <button class="profile-display-button js-test-toggle" name="list" style="margin-left: 0.25rem">
            <figure class="chip-icon" style="background: none"><span class="material-symbols-outlined">format_align_center</span></figure>
            <figure class="icon-indicator" style="margin-left: -0.5rem; background: none">
              <span class="material-symbols-outlined">arrow_drop_down</span>
            </figure>
            <span class="chip-label" aria-hidden="true" hidden>List</span>
          </button>
        </div>
      </div>
    </section>

    <hr />
    <!-- ! flex-wrap: warp일 때 min-width가 fixed -->
    <!-- ! width:100% and max-width doesnt' work-->
    <form class="tile-elevated" action="" style="max-width: 400px; z-index: 1">
      <header class="titlebar" style="padding: 0; margin-bottom: var(--space-3)">
        <h1 class="titlebar-title" style="line-height: 32px; position: relative; left: auto; transform: translateX(0)">"파일 제목.pdf" 공유</h1>
        <button class="chip" style="margin-left: auto"><span class="material-symbols-outlined">settings</span></button>
      </header>
      <!-- <div class="textfield" style="margin:1rem 0 0;">
          <label class="textfield-label" for="" aria-hidden="true">댓글</label>
          <input class="textfield-input" type="text" rows="4" name="comment" placeholder="사용자 및 그룹 추가"></input>
        </div> -->
      <button class="item" role="menuitem" data-tile="elevated" data-size="medium" style="margin-bottom: var(--space-3)">
        <figure class="item-avatar" style="background-image: none">
          <span class="material-symbols-outlined">add</span>
        </figure>
        <span class="item-label">사용자 및 그룹 추가</span>
      </button>

      <p style="margin: 1rem 0 0.25rem; font-size: var(--font-size-medium)">액세스 권한이 있는 사용자</p>
      <div class="item" data-size="medium" role="menuitem">
        <figure class="item-avatar"></figure>
        <b class="item-name">수줍이 (나)</b>
        <span class="tag" style="margin-left: auto">소유자</span>
      </div>
      <div class="item" data-size="medium" role="menuitem">
        <figure class="item-avatar" style="background: purple"></figure>
        <b class="item-name">뾱뾱이</b>
        <span class="tag" data-status="danger" style="margin-left: auto">
          <span class="tag-label">제한됨</span>
        </span>
        <figure class="icon-indicator" style="margin-left: var(--space-1)"><span class="material-symbols-outlined">arrow_drop_down</span></figure>
      </div>
      <footer style="display: flex; justify-content: right; margin: 2rem 0 0">
        <button class="button-primary" type="submit">완료</button>
      </footer>

      <hr />

      <header class="titlebar" style="padding: 0; margin-bottom: 1rem">
        <h1 class="titlebar-title">공유 설정</h1>
        <button class="titlebar-back" aria-label="이전 페이지로">
          <span class="material-symbols-outlined">arrow_back</span>
        </button>
      </header>
      <div class="checkbox">
        <input type="checkbox" />
        <label for="">편집자가 권한을 변경하고 공유할 수 있습니다.</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" />
        <label for="">뷰어 및 댓글 작성자에게 다운로드, 인쇄, 복사 옵션 표시.</label>
      </div>
      <hr />
      <p>일반 액세스 (기본 액세스라는 의미인 듯)</p>
      <button class="chip">
        <!-- <figure class="chip-icon">
            <span class="material-symbols-outlined">lock</span>
          </figure> -->
        <span class="chip-label">제한됨</span>
        <figure class="chip-icon">
          <span class="material-symbols-outlined">arrow_drop_down</span>
        </figure>
      </button>
      <div style="margin: 0.75rem 0">
        <p>액세스 권한이 있는 사용자만 링크로 열 수 있습니다.</p>
      </div>

      <hr />

      <p>개선한 부분</p>
      <ul>
        <li>일반 액세스는 설정에서 제공. 소제목 제거. 액세스 권한이 있는 사용자.</li>
        <li>multiple select 인터페이스를 정의하지 않기 위해 버튼을 사용. => 디자인 시스템에 정의하지 않은 요소.</li>
        <li>한 번에 여러 명과 공유 / 긴 파일 이름 / 추가 버튼이 리스트의 최상단과 최하단애 배치되는 맥락 정의 /</li>
      </ul>
    </form>

    <section>
      <div class="textfield">
        <button class="textfield-prefix searchfield-prefix">
          <span class="material-symbols-outlined">mail </span>
        </button>
        <input class="textfield-input" type="text" id="search" placeholder="you@gamil.com" />
      </div>
      <button class="item" role="menuitem" data-tile="elevated" data-size="medium" style="max-width: 50%">
        <figure class="item-avatar" style="background-image: none">
          <span class="material-symbols-outlined">add</span>
        </figure>
        <span class="item-label">Add the member</span>
      </button>
    </section>

    <hr />
    <div>
      <article class="item tile-elevated-small" data-size="large" style="width: 200px; margin: 0; z-index: auto">
        <!-- <figure class="item-avatar" style="background:aliceblue;">
          <span class="material-symbols-outlined" style="color:blue;">trending_up</span>
        </figure> -->
        <b class="item-name" style="font-size: 16px">상해종합주가지수</b>
        <p class="item-description" style="color: var(--color-text)">2999.55p</p>
        <span class="tag" style="color: #fff; text-align: center; justify-content: center; background: blue; border: 0; margin-top: 0.5rem"
          >4.33% 상승</span
        >

        <div style="margin-top: 0.5rem; color: var(--color-text-light); line-height: var(--font-line-height)">
          <small>10분 지연. live</small>
          <br />
          <small>현지 시간 기준 10.27. 01:27</small>
        </div>
      </article>

      <article class="item tile-elevated-small" data-size="large" style="width: 200px; margin: 0; z-index: auto">
        <figure class="item-avatar" style="background: var(--red100)">
          <span class="material-symbols-outlined" style="color: var(--red800)">trending_down</span>
        </figure>
        <h3 class="item-name">Entity large</h3>
        <span style="color: var(--red800)">35%</span>
      </article>
    </div>

    <hr />

    <section style="max-width: 640px">
      <section class="dashboard-">
        <div class="dashboard-item overview-item tile-elevated" style="width: var(--width-tiny); padding: 1rem">
          <div class="dashboard-item-label" style="font-size: var(--font-size-medium)">수신</div>
          <span class="dashboard-item-tag tag" style="position: absolute; right: 1rem; top: 0.875rem">태그</span>
          <b class="dashboard-item-value" style="font-size: var(--font-size-huge)">
            1,508<small style="margin: 0 0 0 0.25rem; font-size: var(--font-size-medium); vertical-align: super">90%</small>
            <!-- <i>icon</i> -->
          </b>
          <div class="dashboard-item-graph graph-bar" style="margin: var(--space-3) 0 0 0"><b style="width: 68%"></b></div>
        </div>
      </section>

      <div class="keywords-group" role="group">
        <button class="keywords-group-keyword is-active">
          <span class="chip-label">오늘</span>
        </button>
        <button class="keywords-group-keyword">
          <span class="chip-label">최근 3개월</span>
        </button>
        <button class="keywords-group-keyword">
          <span class="chip-label">최근 1년</span>
        </button>
        <button class="keywords-group-keyword">
          <span class="chip-label">최근 3년</span>
        </button>
      </div>
      <p style="margin: 0.75rem 0" role="status">주문 내역 총 <b>3</b>건. Statusbox</p>

      <section class="empty">
        <figure class="empty-icon" style="background: none; border: var(--border)">🙀</figure>
        <h2 class="empty-title">최근 3개월 내 <br />주문 내역이 없습니다.</h2>
        <button class="empty-action">2022년 주문 내역 보기</button>
      </section>
    </section>

    <!-- <p>TeeVee</p>
    <p>icon-indicator (textfield-check/select indicator) - inline or float: right</p>
    <p>
      Note: Make sure the role of the element that serves as the container for the popup content is a menu, listbox, tree, grid or dialog and that the
      value of aria-haspopup matches the role of the popup container.
    </p> -->
    <br />

    <div class="textfield-group" style="display: flex; align-items: flex-end; max-width: 480px">
      <div class="textfield">
        <label class="textfield-label" for="search">Length</label>
        <input class="textfield-input" type="number" id="search" placeholder="cm unit" />
      </div>
      <span class="material-symbols-outlined" style="padding: 0 var(--space-1); color: var(--color-text-light); line-height: 48px"> close </span>
      <div class="textfield">
        <label class="textfield-label" for="search">Width</label>
        <input class="textfield-input" type="search" id="search" placeholder="x means" />
      </div>
      <span class="material-symbols-outlined" style="padding: 0 var(--space-1); color: var(--color-text-light); line-height: 48px"> close </span>
      <div class="textfield">
        <label class="textfield-label" for="search">Height</label>
        <input class="textfield-input" type="search" id="search" placeholder="cm" />
      </div>
    </div>

    <hr />

    <article class="card onboarding" role="listitem" style="max-width: 400px; text-align: center">
      <figure class="card-thumbnail" style="object-fit: cover">
        <img src="/public/images/springsteen.jpg" alt="" style="max-height: fit-content" />
      </figure>
      <h3 class="card-title" style="font-weight: bold; padding: var(--space-3) 0 0.25rem 0">Welcome to...</h3>
      <p class="card-text" style="width: 90%; margin: 0 auto; font-size: var(--font-size-medium); line-height: var(--font-line-height)">
        Onboarding card. 디스크립션. PrevButton 이라면 secondary vs tertiary
      </p>
      <footer class="onboarding-control">
        <button class="onboarding-control-next button-primary">Next</button>
        <button class="onboarding-control-skip button-tertiary">Skip</button>
      </footer>
    </article>

    <table>
      <thead>
        <tr>
          <td style="padding: var(--space-2) 0">
            <span class="icon-indicator is-positive" data-size="small">
              <span class="material-symbols-outlined" style="color: var(--color-primary)">check</span>
            </span>
          </td>
          <td style="padding: var(--space-2) 0">
            <span class="icon-indicator is-negative" data-size="small"><span class="material-symbols-outlined">close</span></span>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b>Alerte de Retour</b>
            <br />
            cette notification expire dans 5 jours
          </td>
          <td>
            <b>Alerte de Retour</b>
            <br />
            cette notification expire dans 5 jours
          </td>
        </tr>
        <tr>
          <td style="border: none">cette notification expire dans 5 jours</td>
          <td style="border: none">cette notification expire dans 5 jours</td>
        </tr>
      </tbody>
    </table>

    <div class="" role="group" style="display: flex"></div>

    <div class="file-attachment-item" style="max-width: 400px">
      <figure class="file-attachment-item-image"><img src="/public/images/springsteen.jpg" alt="${file.name}" /></figure>
      <b class="file-attachment-item-name">${file.name}</b>
      <small class="file-attachment-item-size">${returnFileSize(file.size)}</small>
      <button class="file-attachment-item-delete js-remove-this"><span class="material-symbols-outlined">close</span></button>
    </div>

    <div class="quote" style="padding: 1rem">
      <figure class="quote-avatar">🥫</figure>
      <h3 class="quote-title">Quote</h3>
      <p class="quote-body">Don't you know that God is Pooh bear?</p>
      <cite class="quote-byline">
        <div class="quote-byline-name">Jack Kerouac</div>
        <div class="quote-byline-job">Poet / Novelist</div>
      </cite>
      <button class="quote-action">더 알아보기</button>
      <!-- <button class="quote-later">지금은 괜찮아요</button> -->
    </div>

    <div class="quote" style="background-image: url('../public/images/springsteen.jpg'); background-size: cover; padding: 8rem 1rem 1rem">
      <h3 class="quote-title" style="color: #fff">Quote</h3>
      <p class="quote-body" style="color: #fff">Don't you know that God is Pooh bear?</p>
      <cite class="quote-byline">
        <div class="quote-byline-name" style="color: #fff">Bruce Springsteen</div>
        <div class="quote-byline-job">Musician</div>
      </cite>
    </div>

    <article class="tile-elevated" style="max-width: 400px; z-index: 1">
      <header class="titlebar" style="padding: 0; margin-bottom: var(--space-4)">
        <button class="titlebar-back" aria-label="이전 페이지로">
          <span class="material-symbols-outlined">close</span>
        </button>
        <h1 class="titlebar-title">컬렉션에 추가</h1>
      </header>
      <fieldset>
        <div class="checkbox">
          <input class="" type="checkbox" id="playlist" value="" aira-checked="mixed" aria-controls="1 2" />
          <label for="playlist" title="play list">재생 목록 1,</label>
        </div>
        <div class="checkbox">
          <input class="" type="checkbox" id="playlist2" value="" aira-checked="mixed" aria-controls="1 2" />
          <label for="playlist2" title="play list2">재생 목록 2</label>
        </div>
      </fieldset>
      <button class="item" role="menuitem" data-tile="elevated" data-size="medium">
        <figure class="item-avatar" style="background-image: none">
          <span class="material-symbols-outlined">add</span>
        </figure>
        <span class="item-label">새 컬렉션 만들기</span>
      </button>
      <hr />
      <header class="titlebar" style="padding: 0; margin-bottom: var(--space-4)">
        <button class="titlebar-back" aria-label="이전 페이지로">
          <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <h1 class="titlebar-title">컬렉션 만들기</h1>
        <button class="titlebar-action">만들기</button>
      </header>
      <div class="textfield">
        <label class="textfield-label" for="">컬렉션 이름</label>
        <input class="textfield-input" type="text" placeholder="컬렉션 이름" />
      </div>
    </article>

    <section class="comment-list" style="max-width: 400px">
      <article class="comment-list-item" role="comment">
        <article class="item" data-size="medium" style="display: flex; align-items: center">
          <figure class="item-avatar"></figure>
          <b class="item-name">Entity large</b>
          <time class="item-description" style="margin-left: 0.5rem">5 days ago</time>
        </article>
        <p class="comment-list-item-text">
          코멘트는 노출 순서와 정렬 기능 여부 갯수, 답글 스타일, 최초 노출형태, 신고/수정/삭제/아바타는 우선순위를 낮게 설정하고, 리뷰와 코멘트는
          비슷한 구조이지만 별도의 컴포넌트로 관리되어야 한다. 또 있을까? <button style="color: var(--color-primary)">자세히보기</button>
        </p>
        <button class="item" role="menuitem" data-tile="elevated" data-size="medium">
          <figure class="item-avatar"></figure>
          <span class="item-label">샘플 유아이</span>
          <i class="item-helper material-symbols-outlined" style="margin-left: auto">arrow_forward</i>
        </button>

        <button class="comment-list-item-reply">답글 <small>7</small></button>
        <button class="comment-list-item-morevert js-toggle">
          <span class="material-symbols-outlined"> more_vert </span>
        </button>
        <menu class="comment-list-item-menu">
          <button class="">수정</button>
          <button class="">삭제</button>
        </menu>
        <!-- 대댓글 샘플 -->
        <div class="comment-list-item" role="comment">
          <article class="item" data-size="medium">
            <figure class="item-avatar"></figure>
            <b class="item-name">Entity large</b>
            <time class="item-description" style="margin-left: 0.5rem">description area.</time>
          </article>
          <p class="comment-list-item-text">
            우와 처음으로 댓글 남겨요! 댓글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요. 우와 처음으로 댓글 남겨요! 댓글이 길어지면 어떻게
            보일까요? 두 줄로 세 줄로 안녕하세요.
          </p>
        </div>
      </article>
    </section>

    <aside class="help-feedback tile-elevated">
      <p class="help-feedback-title">이 문서가 도움이 되었나요?</p>
      <small class="help-feedback-status" title="17 out of 439 found this helpful">417명 중 349명이 도움을 받았어요.</small>
      <footer style="display: flex">
        <button class="help-feedback-button"><span class="chip-label">도움이 됐어요</span></button>
        <button class="help-feedback-button"><span class="chip-label">부족해요</span></button>
      </footer>
    </aside>

    <br />

    <figure class="tile-flat">
      <q
        >I'm impressed by how GitHub Copilot seems to know exactly what I want to type next. GitHub Copilot is particularly helpful when working on
        React components, where it makes eerily accurate predictions. GitHub Copilot has become an indispensable part of my programmer toolbelt.</q
      >
      <figcaption style="margin: var(--space-3) 0 0 0; color: var(--color-text-light)">Byline</figcaption>
    </figure>

    <div class="graph" style="border: var(--border); border-radius: var(--radius)">
      <div class="graph-title">1월 26일 <em>컴퓨터통신 분야</em>에서는<br /><em>7백명의 지식iN</em>들이 답변하셨습니다.</div>
      <div class="graph-item">
        <span class="graph-item-value">40%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">10대</span>
      </div>
      <div class="graph-item">
        <span class="graph-item-value">30%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">20대</span>
      </div>
      <div class="graph-item">
        <span class="graph-item-value">20%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">30대</span>
      </div>
      <div class="graph-item">
        <span class="graph-item-value">10%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">40대</span>
      </div>
    </div>

    <article class="meter tile-elevated" style="padding: 1rem">
      <h1 class="meter-title">200 GB 중 187.23 GB 사용됨</h1>
      <div class="meter-graph">
        <div class="meter-graph-bar" data-type="facebook" style="width: 40%"></div>
        <div class="meter-graph-bar" data-type="twitter" style="width: 30%"></div>
        <div class="meter-graph-bar" data-type="instagram" style="width: 7%"></div>
      </div>
      <div class="meter-legend">
        <div class="meter-legend-item">
          <i class="meter-legend-item-color" data-type="facebook"></i>
          <h3 class="meter-legend-item-title">페이스북</h3>
          <span class="meter-legend-item-value">800,000원</span>
        </div>
        <div class="meter-legend-item">
          <i class="meter-legend-item-color" data-type="twitter"></i>
          <h3 class="meter-legend-item-title">트위터</h3>
          <span class="meter-legend-item-value">800,000원</span>
        </div>
        <div class="meter-legend-item">
          <i class="meter-legend-item-color" data-type="instagram"></i>
          <h3 class="meter-legend-item-title">핀터레스트</h3>
          <span class="meter-legend-item-value">800,000원</span>
        </div>
      </div>
    </article>

    <div class="tile-flat" style="text-align: center">
      최근 3개월간 네이버플러스 멤버십으로<br />
      <em>15,799원 추가 적립 혜택</em>이 생겼어요!
    </div>
  </section>
</main>
