<main class="pattern">
  <article class="article js-scrollspy-section">
    <h1 class="article-title">Entity</h1>
    <p class="article-description">개체. Entity or Item. or List?</p>

    <h4 class="article-subhead">Best Practices</h4>
    <ul>
      <li>TODO 모든 사례 망라하기.</li>
      <li>TODO 학습이 필요없는 보편 케이스와 도메인에 종속적인 특수 케이스를 구분하기.</li>
    </ul>

    <h4 class="article-subhead">Related</h4>
    <ul>
      <li>Avatar</li>
      <li>@text-body / @text-subhead</li>
      <li>Actions</li>
      <li>Chip</li>
      <li>Utility - Truncated text</li>
    </ul>

    <h4 class="article-subhead">Utility 1.<br />List item</h4>
    <div class="tag-group" role="group" style="margin-top:.75rem;">
      <span class="tag" data-style="primary">Anatomy</span>
      <span class="tag">avatar</span>
      <span class="tag">name</span>
      <span class="tag">description</span>
    </div>
    <div class="tag-group" role="group" style="margin-top:.5rem;">
      <span class="tag" data-style="primary">Size tokens</span>
      <span class="tag">large</span>
      <span class="tag">medium</span>
    </div>
    <div class="tag-group" role="group" style="margin-top:.5rem;">
      <span class="tag" data-style="primary">Actions</span>
      <span class="tag">follow</span>
      <span class="tag">share</span>
    </div>
    <h4 class="article-subhead">Utility 2.<br />Menu item</h4>
    <div class="tag-group" role="group" style="margin-top:.75rem;">
      <span class="tag" data-style="primary">Anatomy</span>
      <span class="tag">avatar</span>
      <span class="tag">name</span>
    </div>
    <div class="tag-group" role="group" style="margin-top:.5rem;">
      <span class="tag" data-style="primary">Size tokens</span>
      <span class="tag">medium</span>
      <span class="tag">small</span>
    </div>
    <div class="tag-group" role="group" style="margin-top:.5rem;">
      <span class="tag" data-style="primary">Actions</span>
      <span class="tag">checkbox</span>
      <span class="tag">radio</span>
      <span class="tag">switch</span>
      <span class="tag">toggle button</span>
      <span class="tag">delete button</span>
      <span class="tag">morevert button</span>
    </div>
  </article>
  <article class="article js-scrollspy-section">
    <h4 class="article-title">Page title</h4>
    <div class="component-example">
      <div class="tile-elevated">
        <article class="item" data-size="huge" style="height:var(--size-huge);">
          <figure
            class="item-avatar"
            style="font-size:var(--font-size-huge);font-weight:var(--font-weight-bold);background:none;border:var(--border);"
          >
            #
          </figure>
          <h3 class="item-name" style="padding-top:.75rem;">windows-emoji</h3>
          <p class="item-description">tag page head</p>
          <!-- <button class="item-action"><span class="item-action-label">팔로우</span></button> -->
        </article>
      </div>
    </div>
  </article>
  <article class="article">
    <h4 class="article-title">User</h4>
    <p class="article-description">
      하나의 유저를 표현. 클릭할 수 있는 요소가 아니라 페이지를 대표하는 요소, 시각 정보로만 동작한다. <mark>페이지 레벨</mark> 정보의 주체.
    </p>
    <!-- <ul>
      <li>action. link.</li>
    </ul> -->
    <div class="tag-group" role="group" style="margin-top:.75rem;">
      <span class="tag" data-style="primary">Features</span>
      <!-- <span class="tag"></span> -->
      <span class="tag">only huge size avatar</span>
      <span class="tag">only huge size avatar</span>
    </div>
    <div class="component-example">
      <div class="tile-elevated">
        <article class="user">
          <figure class="profile-user-avatar" role="img">🦆</figure>
          <h2 class="profile-user-name">수줍이</h2>
          <span class="profile-user-id">82 10 3121 7045</span>
          <span class="profile-user-id">soojubm@gmail.com</span>
          <span class="profile-user-job">UI Designer</span>
        </article>
      </div>
    </div>
  </article>

  <article class="article">
    <h4 class="article-title">User item</h4>
    <p class="article-description">다수의 유저 목록을 표현. 또는 <mark>아티클 레벨</mark> 정보의 주체.</p>
    <div class="tag-group" role="group" style="margin-top:.75rem;">
      <span class="tag" data-style="primary">Features</span>
      <span class="tag">large size avatar with toggle action</span>
      <span class="tag">medium size avatar with ...</span>
    </div>
    <div class="component-example">
      <div class="tile-elevated">
        <div class="item" role="listitem" data-size="large">
          <figure class="item-avatar"></figure>
          <h2 class="item-name">Gyeongsoo I</h2>
          <span class="item-description">유아이 디자이너</span>
          <button class="item-action is-active" style="right:0;top:50%;transform:translateY(-50%);font-weight:var(--font-weight-normal);">
            <span class="item-action-label">팔로잉</span>
          </button>
          <!-- <button class="chip" style="background:none;border:none;position:absolute;right:0;top:50%;transform:translateY(-50%)">
            <span class="material-symbols-outlined">more_vert</span>
          </button> -->
        </div>
        <hr />
        <div class="item" data-size="medium" role="menuitem">
          <figure class="item-avatar" style="background:purple;"></figure>
          <h3 class="item-name" style="font-weight:var(--font-weight-normal);">뾱뾱이</h3>
          <button class="tag" style="margin-left:auto;background:var(--red100);border:0;color:var(--red800);">
            <span class="tag-label">제한됨</span>
          </button>
          <figure class="icon-indicator" style="margin-left:var(--space-1);"><span class="material-symbols-outlined">arrow_drop_down</span></figure>
        </div>
      </div>
    </div>
  </article>

  <article class="article">
    <h4 class="article-title">Person item</h4>
    <p class="article-description">참고.</p>
    <div class="component-example">
      <div class="tile-elevated" style="display:flex;">
        <a class="person" href="#">
          <span class="person-test">Badge</span>
          <figure>
            <img src="/public/images/springsteen.jpg" alt="" />
          </figure>
          <span class="person-name">name</span>
        </a>

        <article class="item" data-size="large" data-align="vertical">
          <figure class="item-avatar"></figure>
          <h3 class="item-name" style="font-weight:var(--font-weight-normal);">Entity</h3>
        </article>
      </div>
    </div>
  </article>

  <article class="article">
    <h4 class="article-title">Share item || Link item</h4>
    <p class="article-description">페이지 공유. 소셜 미디어 링크. role="menuitem" / item componenet</p>
    <div class="component-example">
      <div class="tile-elevated">
        <a
          class="profile-user-socials-link social-link social-github"
          role="menuitem"
          href="https://github.com/soojubm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <figure class="social-link-icon"></figure>
          <span class="social-link-label">github</span>
        </a>
      </div>
      <div class="tile-elevated">
        <button class="share-facebook" role="menuitem" style="margin:0;">
          <figure class="share-facebook-icon"></figure>
          <span class="share-facebook-label">facebook으로 공유하기</span>
        </button>
      </div>
    </div>
  </article>
</main>
