<main class="pattern">
  <article class="article js-scrollspy-section">
    <h1 class="article-title">Entity</h1>
    <p class="article-description">개체. Entity or Item. or List?</p>

    <h4 class="article-subhead">Best practices</h4>
    <ul>
      <li>모든 사례 망라하기.</li>
      <li>학습이 필요없는 보편 케이스와 도메인에 종속적인 특수 케이스를 구분하기.</li>
    </ul>

    <h4 class="article-subhead">Related</h4>
    <ul>
      <li>Avatar</li>
      <li>@text-body / @text-subhead</li>
      <li>Actions</li>
      <li>Chip</li>
      <li>Utility - Truncated text</li>
    </ul>

    <!-- <h4 class="article-subhead">Utility 1.<br />List item</h4>
    <div class="stack" role="group" style="margin-top:.75rem;">
      <span class="tag" data-style="primary">Anatomy</span>
      <span class="tag">avatar</span>
      <span class="tag">name</span>
      <span class="tag">description</span>
    </div>
    <div class="stack" role="group" style="margin-top:.5rem;">
      <span class="tag" data-style="primary">Size tokens</span>
      <span class="tag">large</span>
      <span class="tag">medium</span>
    </div>
    <div class="stack" role="group" style="margin-top:.5rem;">
      <span class="tag" data-style="primary">Actions</span>
      <span class="tag">follow</span>
      <span class="tag">share</span>
    </div>
    <h4 class="article-subhead">Utility 2.<br />Menu item</h4>
    <div class="stack" role="group" style="margin-top:.75rem;">
      <span class="tag" data-style="primary">Anatomy</span>
      <span class="tag">avatar</span>
      <span class="tag">name</span>
    </div>
    <div class="stack" role="group" style="margin-top:.5rem;">
      <span class="tag" data-style="primary">Size tokens</span>
      <span class="tag">medium</span>
      <span class="tag">small</span>
    </div>
    <div class="stack" role="group" style="margin-top:.5rem;">
      <span class="tag" data-style="primary">Actions</span>
      <span class="tag">checkbox</span>
      <span class="tag">radio</span>
      <span class="tag">switch</span>
      <span class="tag">toggle button</span>
      <span class="tag">delete button</span>
      <span class="tag">morevert button</span>
    </div> -->
  </article>
  <article class="article js-scrollspy-section">
    <h4 class="article-title">Page title</h4>
    <div class="component-example">
      <div class="tile-elevated">
        <article class="item" data-size="huge" style="height: var(--size-huge)">
          <figure
            class="item-avatar"
            style="font-size: var(--font-size-huge); font-weight: var(--font-weight-bold); background: none; border: var(--border)"
          >
            #
          </figure>
          <b class="item-name" style="padding-top: 0.75rem">windows-emoji</h3>
          <p class="item-description">tag page head</p>
        </article>
      </div>
    </div>
  </article>
  <article class="article">
    <h4 class="article-title">User</h4>
    <p class="article-description">
      하나의 유저를 표현. 클릭할 수 있는 요소가 아니라 페이지를 대표하는 요소, 시각 정보로만 동작한다. <mark>페이지 레벨</mark> 정보 주체.
    </p>
    <!-- <ul>
      <li>action. link.</li>
    </ul> -->
    <div class="stack" role="group" style="margin-top: 0.75rem">
      <span class="tag" data-style="primary">Features</span>
      <!-- <span class="tag"></span> -->
      <span class="tag">only huge size avatar</span>
      <span class="tag">only huge size avatar</span>
    </div>
    <div class="component-example">
      <div class="tile-elevated">
        <article class="user">
          <figure class="user-avatar" role="img">🦆</figure>
          <h2 class="user-name">수줍이</h2>
          <span class="user-id">82 10 3121 7045</span>
          <span class="user-id">soojubm@gmail.com</span>
          <span class="user-job">UI Designer</span>
        </article>
        <button class="chip" style="margin: 0.5rem 0 0 0"><span class="chip-label">팔로우</span></button>
      </div>
    </div>
  </article>

  <article class="article">
    <h4 class="article-title">User item</h4>
    <p class="article-description">다수의 유저 목록을 표현. 또는 <mark>아티클 레벨</mark> 정보의 주체.</p>
    <div class="stack" role="group" style="margin-top: 0.75rem">
      <span class="tag" data-style="primary">Features</span>
      <span class="tag">large size avatar with toggle action</span>
      <span class="tag">medium size avatar with ...</span>
    </div>
    <div class="component-example">
      <div class="tile-elevated"></div>
    </div>
  </article>

  <article class="article">
    <h4 class="article-title">Share item || Link item</h4>
    <p class="article-description">페이지 공유. 소셜 미디어 링크. role="menuitem" / item componenet</p>
    <div class="component-example">
      <div class="tile-elevated">
        <a
          class="profile-user-socials-link social-link social-github"
          role="menuitem"
          href="https://github.com/soojubm"
          target="_blank"
          rel="noopener noreferrer"
        >
          <figure class="social-link-icon"></figure>
          <span class="social-link-label">github</span>
        </a>
      </div>
      <div class="tile-elevated"></div>
    </div>
  </article>
</main>
