<section class="empty">
  <i class="empty-icon">🧟</i>
  <h1 class="empty-title">아직 새 글이 없어요.</h1>
  <p class="empty-description">포트폴리오를 업로드하여 동료들에게 알리세요.<br />저거 색이랑 휴지통 아이콘 바꿔라.</p>
  <a class="empty-action" href="#">업로드하기</a>
</section>

<main class="error">
  <h1 class="error-title" title="Page not found!">페이지를 찾을 수 없습니다!</h1>
  <span class="error-name">404</span>
  <p class="error-description">
    주소가 변경되었거나 삭제되어 찾을 수 없습니다.
    <span class="linebreak-desktop">주소를 다시 한 번 확인해주세요. 도움이 필요하시면 <a href="#">고객센터</a>로 문의해주세요.</span>
  </p>
  <footer class="error-control">
    <!-- <a class="error-control-back" href="javascript:history.back();">이전 페이지로</a> -->
    <a class="error-control-home" href="javascript:history.back();">홈 페이지로</a>
  </footer>
</main>
