<main class="error">
	<h1 class="error-title">에러 페이지</h1>
	<span class="error-name">404</span>
	<p class="error-description">에러 메세지입니다. 에러 메세지를 입력해주세요. 길게 두 줄로 입력하면 어떻게 보일까요.</p>
	<footer class="error-control">
		<a class="error-control-back" href="javascript:history.back();">이전 페이지로</a>
		<a class="error-control-home" href="javascript:history.back();">홈 페이지로</a>
	</footer>
</main>
<style>
.error {width:100%;max-width:1080px;margin:10rem auto;padding:0 5%;position:relative;}
.error-title {text-align:center;}
.error-name {font:300px/1 'Courier New';color:rgba(0,0,0,.05);position:absolute;left:50%;top:0;transform:translate(-50%,-20%);}
.error-description {margin:1rem 0 4rem 0;text-align:center;}
.error-control {text-align:center;}
.error-control-back {display:inline-block;margin:0 24px;}
.error-control-home {display:inline-block;margin:0 24px;}
</style>
