<aside class="modal" role="dialog">
	<article class="modal-dialog">
		<header class="modal-head">
			<button class="modal-close js-modal-close"><i class="icon-close"></i><span class="off-screen">닫기</span></button>
			<h1 class="modal-head-title">기타 모음</h1>
			<p class="modal-head-description">에이전시에서 작업한 웹사이트.</p>
		</header>
		<section class="modal-body">
			<figure class="modal-body-image">
				<img src="/public/images/work-etc.jpg" alt="" />
				<img src="/public/images/form.jpg" alt="" />
				<img src="/public/images/temp.png" alt="" />
			</figure>
		</section>
	</article>
</aside>