<aside class="modal" role="dialog">
	<article class="modal-dialog">
		<header class="modal-head">
			<button class="modal-close js-modal-close"><i class="icon-close"></i><span class="off-screen">닫기</span></button>
			<h1 class="modal-head-title">페이머스 프로덕트 디자인</h1>
		</header>
		<section class="modal-body">
			<p class="modal-body-description">재능플랫폼 페이머스의 기획, 디자인과 퍼블리싱을 담당했다.</p>  
			<p class="modal-body-description">입사 초기 외주로 진행했던 플랫폼의 디자인을 퍼블리싱하는 일을 시작으로 부분적인 UI를 다시 만들고 UX를 개선했다. 정적 페이지도 일부 만들었다.</p>  
			<figure class="modal-body-image">
				<img src="/public/images/work-famus.jpg" alt="" />
			</figure>
		</section>
	</article>
</aside>