<main class="faq">
  <header class="faq-head">
    <h1>자주묻는질문</h1>
  </header>
  <div class="faq-item">
    <h2 class="faq-item-question"><i>✔</i>뉴닉, 뉴스레터 보려면 돈 내야 해요?</h2>
    <p class="faq-item-answer">놀랍게도 아직은 무료! 누구에게나 열려 있으니 어서 오세요! 기다리고 있을게요. 😉</p>
  </div>
  <div class="faq-item">
    <h2 class="faq-item-question"><i>✔</i>신청했는데 뉴스레터가 안 와요.</h2>
    <div class="faq-item-answer">
      <p>뉴닉과 고슴이가 프로모션함이나 스팸함에 빠지지 않도록, 잠시만 시간을 내주세요!😉</p>
      <br />
      <br />

      <p style="font-weight:bold">지메일로 신청하셨다고요?</p>
      <ol>
        <li>먼저 데스크탑에서 지메일을 열어주세요.</li>
        <li>아래 영상처럼 설정해주세요.</li>
      </ol>

      <br />
      <br />
      <p>너무 호다닥 지나가는 영상이니, 한 번 더 설명해 드릴게요.</p>
      <ol>
        <li>검색창 오른쪽의 검은 화살표(▼)를 클릭합니다.</li>
        <li>보낸 사람에 'whatsup@newneek.co'를 넣고, '필터 만들기' 버튼을 클릭합니다.</li>
        <li>그 메일이 도착했을 때의 '수행 작업'을 고를 수 있는데요. '절대 스팸으로 신고하지 않음'을 체크한 후 '다음 카테고리로 분류'에서 '기본'을 선택합니다.</li>
        <li>마지막으로 '필터 만들기' 누르면 끝!</li>
      </ol>

      <br />
      <br />
      <p style="font-weight:bold">네이버메일로 신청하셨다고요?</p>
      <ol>
        <li>먼저 데스크탑에서 지메일을 열어주세요.</li>
        <li>아래 영상처럼 설정해주세요.</li>
      </ol>

      <br />
      <br />
      <p>너무 호다닥 지나가는 영상이니, 한 번 더 설명해 드릴게요.</p>
      <ol>
        <li>검색창 오른쪽의 검은 화살표(▼)를 클릭합니다.</li>
        <li>보낸 사람에 'whatsup@newneek.co'를 넣고, '필터 만들기' 버튼을 클릭합니다.</li>
        <li>그 메일이 도착했을 때의 '수행 작업'을 고를 수 있는데요. '절대 스팸으로 신고하지 않음'을 체크한 후 '다음 카테고리로 분류'에서 '기본'을 선택합니다.</li>
        <li>마지막으로 '필터 만들기' 누르면 끝!</li>
      </ol>

      <br />
      <br />
      <p style="font-weight:bold">+ 회사 메일로 신청하셨다고요?</p>
      <ol>
        <li>일단 스팸 메일함을 확인해 주세요.</li>
        <li>차단 목록도 확인 부탁드려요.</li>
        <li>마지막으로 whatsup@newneek.co를 주소록에 추가해 주세요.</li>
        <li>그런데도 메일함에서 고슴이를 볼 수 없다면, 회사 이메일 서버가 뉴닉을 차단하는 것이랍니다. 안타깝게도 이 경우에는 저희가 도와드리기 어려운 점 양해 부탁드리며, 자주 사용하는 개인 이메일로 다시 한 번 구독 신청 권장드릴게요. 🦔</li>
      </ol>
    </div>
  </div>

  <div class="faq-item">
    <h2 class="faq-item-question"><i>✔</i> 지난 뉴스레터는 어디서 볼 수 있나요?</h2>
    <p class="faq-item-answer">뉴닉 웹사이트(https://newneek.co/)에서 가장 최근 발송된 뉴스레터 하나를 보실 수 있어요. 그 이전 뉴스레터는 따로 공개하지 않고 있는데요. 뉴니커 분들이 더 좋은 경험으로 이전 뉴스레터를 보실 수 있도록 고민하는 중이니, 조금만 기다려 주세요.</p>
  </div>

  <div class="faq-item">
    <h2 class="faq-item-question"><i>✔</i> 다른 이메일로 뉴스레터 받아보고 싶어요.</h2>
    <p class="faq-item-answer">죄송하게도 현재는 뉴스레터 하단에 있는 '수신거부' 버튼을 통해 기존 이메일을 수신 거부한 후 새로운 이메일로 다시 구독하는 방법이 유일해요. 조금 더 편리한 방법을 만드는 중이니, 조금만 기다려 주세요.</p>
  </div>

  <div class="faq-item">
    <h2 class="faq-item-question"><i>✔</i>해지하고 싶어요. (정말요?! 😢)</h2>
    <p class="faq-item-answer">뉴닉 서비스 해지는 모든 뉴스레터 하단에 있는 '수신거부' 버튼을 통해 하실 수 있답니다. 더욱더 나은 뉴스레터로 찾아뵐 수 있도록 노력할게요. 그동안 건강하셔야 해요!</p>
  </div>

  <section class="faq-contact">
    <h2 class="faq-contact-title">해결이 안 된 문제가 있나요?</h2>
    <p class="faq-contact-description">whatsup+faq@newneek.co로 메일 보내주시면 최대한 빠르게 답변 드릴게요!</p>
    <form class="faq-contact-form" action=""></form>
  </section>

  <footer class="faq-reaction">
    <div class="faq-reaction-title intercom-reaction-prompt">이번 콘텐츠 어떠셨나요?</div>
    <button class="faq-reaction-button" data-reaction-text="disappointed" aria-label="Disappointed Reaction">
      <span data-emoji="disappointed" title="Disappointed">😃</span>
      좋아요 <b class="faq-reaction-button-count">2</b>
    </button>
    <button class="faq-reaction-button" data-reaction-text="neutral_face" aria-label="Neutral face Reaction">
      <span data-emoji="neutral_face" title="Neutral face">😞</span>
      어려워요 <b class="faq-reaction-button-count">2</b>
    </button>
    <button class="faq-reaction-button" data-reaction-text="smiley" tabindex="0" aria-label="Smiley Reaction">
      <span data-emoji="smiley" title="Smiley">😐</span>
      별로에요 <b class="faq-reaction-button-count">2</b>
    </button>
  </footer>
</main>
