<main style="max-width:560px;margin:0 var(--grid-margin);">
  <style>
    header {
      padding: 2rem 0;
    }
    p {
      margin: 2rem 0;
      color: #666;
    }
    strong {
      display: block;
    }
    main {
      font-size: var(--font-size-subhead);
    }
  </style>
  <header>
    <h1>Faqs</h1>
  </header>

  <div class="Privacy_page__LDrm6 AppWrapper_content__s_sbE" style="opacity: 1;">
    <p>
      <strong>인상 깊었던 디자인 시스템이 있나요?</strong>
      문서의 완결성을 고집하지 않고 린하게 작성된 디자인 시스템. draft, progress, todo<br />
      표준 기술을 고집하는 모질라 디자인 시스템.<br />
      새로운 버전의 디자인 시스템에 코드나 태도 위주로 재정의한 카본 디자인 시스템.
    </p>

    <p><strong>What do you call this platform?</strong>It's simply referred to as CV. For example you could say, "I just created my CV profile!".</p>
    <p>
      <strong>Who's behind CV?</strong><a class="MegaLink_megalink__u_TFB" data-hover="true" href="/mehdi">Mehdi</a> and
      <a class="MegaLink_megalink__u_TFB" data-hover="true" href="/andy">Andy</a>.
    </p>
    <p>
      <strong>Why did you build CV?</strong>We wanted an easy to update page where we could list some projects, work history, and other bits that
      might make me sound competent. Something easy to share, less garish than LinkedIn, and more dynamic than a static PDF. Non-visual, more akin to
      a text oriented personal website. Something that wasn't just a one off page, where we could bring in friends and collaborators, and profiles
      could be navigated from one to the other like a blogroll.
    </p>
    <p>We thought this might be useful, so we're putting it out there to see if it is.</p>
    <p><strong>Who should use CV?</strong>If the above resonates with you, you should try using CV.</p>
    <p>
      <strong>Where can I get updates on CV?</strong>Follow
      <a class="MegaLink_megalink__u_TFB" href="https://twitter.com/read_cv" target="_blank" rel="noopener noreferrer" data-hover="true">@read_cv</a>
      on Twitter or join our
      <a class="MegaLink_megalink__u_TFB" href="http://discord.gg/bpXDGEDNRq" target="_blank" rel="noopener noreferrer" data-hover="true">Discord</a>.
    </p>
    <p>
      <strong>I'd like to report a profile for innappropriate content or harrassment, who can I reach out to?</strong>Please reach out to
      <a class="MegaLink_megalink__u_TFB" href="mailto:support@read.cv" target="_blank" rel="noopener noreferrer" data-hover="true">support@read.cv</a
      >. We take all reports very seriously.
    </p>
    <p>
      <strong>I have more questions, who should I call?</strong>Email me,
      <a class="MegaLink_megalink__u_TFB" href="mailto:support@read.cv" target="_blank" rel="noopener noreferrer" data-hover="true">support@read.cv</a
      >.
    </p>
    <nav class="PageFooter_aboutFooter__rlqHL">
      <ul>
        <li>
          <a class="MegaLink_megalink__u_TFB" href="https://twitter.com/read_cv" target="_blank" rel="noopener noreferrer" data-hover="true"
            >Twitter</a
          >
        </li>
        <li><a class="MegaLink_megalink__u_TFB" data-hover="true" rel="canonical" href="/faq">FAQs</a></li>
        <li><a class="MegaLink_megalink__u_TFB" data-hover="true" rel="canonical" href="/terms">Terms</a></li>
        <li>
          <a class="MegaLink_megalink__u_TFB" href="https://discord.gg/bpXDGEDNRq" target="_blank" rel="noopener noreferrer" data-hover="true"
            >Discord</a
          >
        </li>
        <li><a class="MegaLink_megalink__u_TFB" data-hover="true" rel="canonical" href="/support">Support</a></li>
        <li><a class="MegaLink_megalink__u_TFB" data-hover="true" rel="canonical" href="/privacy">Privacy</a></li>
      </ul>
    </nav>
  </div>
</main>
