<main class="feeds" style="max-width:520px;margin:2rem auto;padding:0 var(--grid-margin) 0;">
  <article class="tile-elevated">
    <h2 style="margin-bottom:.5rem;">Heading</h2>
    <p style="margin-bottom:.5rem;">
      Uniquely procrastinate open-source infomediaries vis-a-vis high-quality potentialities. Globally engineer.
    </p>
    <p style="margin-bottom:1rem;">
      다이얼로그나 아티클에서만 1rem의 inset을 갖는 tile을 쓸 수 있다. 기본 tile은 기존 1rem에서 .75rem으로 변경한다. 이 패턴의 heading은 1.25rem이다.
      feed entity와 같은 콘테이너. footer는 toolbar이다.
    </p>
    <time style="color:var(--color-text-light);">수정된 시간: 3월 14일</time>
    <style>
      .tile-flat-small.item:hover:before {
        display: none;
      }
    </style>
    <div
      class="tile-flat-small item"
      data-size="large"
      style="margin-top:.75rem;margin-bottom:.5rem;border:0;line-height:var(--font-line-height-small);background-color:var(--color-background-weak);"
    >
      <figure class="item-avatar" style="overflow:hidden;"><img src="https://source.unsplash.com/random" style="height:100%;" alt="" /></figure>
      <h3 class="item-name">Kakao (bigger than)</h3>
      <p class="item-description">https://www.kakaocorp.com</p>
    </div>
    <div
      class="tile-flat-small item"
      data-size="large"
      style="margin-top:.5rem;border:0;line-height:var(--font-line-height-small);background-color:var(--color-background-weak);"
    >
      <figure class="item-avatar" style="overflow:hidden;"><img src="https://source.unsplash.com/random" style="height:100%;" alt="" /></figure>
      <h3 class="item-name">Naver</h3>
      <p class="item-description">https://www.naver.com</p>
    </div>
    <button style="margin-top:.5rem;">간략히</button>

    <footer class="toolbar" style="display:flex;margin-top:1.5rem;">
      <button class="chip">
        <i class="icon-person" style="opacity:.5;"></i>
      </button>
      <button class="chip" style="margin-left:.5rem;">
        <i class="icon-person" style="opacity:.5;"></i>
      </button>
    </footer>
  </article>
  
  
  <style>
    .feed-content {margin:.125rem 0;}
    .feed-content-media {height:200px;margin:0 0 .75rem 0;overflow:hidden;object-fit:cover;border-radius:var(--radius);
    }
    .feed-content-paragraph {margin:0 0 .75rem 0;line-height:1.6;}
    .feed-reaction {
      margin:var(--space) 0 0 0;position:relative;z-index:1;
    }

    .feed-user {margin:.75rem 0;}
    .feed .article-checklist li:before {top:5px;}

  </style>

  <br />
  
  <article class="feed" style="margin:0 0 3rem 0;">
    <!-- todo tag with icon? 하지만 태그는 아이콘 못 쓰게 했는데. -->
    <span class="tag" data-role="accent">
      <figure class="tag-icon" role="img">🔥</figure>
      <small class="tag-label">Most Popular</small>
    </span>
    <article class="feed-user item" data-size="medium" style="display:flex;align-items:center;">
      <!-- todo flex 아니네 -->
      <figure class="item-avatar">
        <img src="" alt="" />
      </figure>
      <h3 class="item-name" style="width:auto;">Elon Musk</h3>
      <!-- <i class="icon-bullet"></i> -->
      <time style="margin:0 0 0 .5rem;color:var(--color-text-light);">2 hour</time>
    </article>
    <div class="feed-content tile-elevated">
      <figure class="feed-content-media">
        <img src="https://source.unsplash.com/random" alt="" />
      </figure>
      <p class="feed-content-paragraph">
        Monotonectally productivate progressive human capital without user friendly portals. Globally benchmark top-line ideas with distributed
        catalysts for change. Authoritatively restore ubiquitous partnerships vis-a-vis <a href="#feed">synergistic models</a>.
      </p>

      
      <div class="feed-tag tag-group" style="margin:0 0 var(--space) 0;">
        <span class="tag">Google</span>
      </div>

      <ul style="margin:0 0 1.5rem 0;line-height:var(--font-line-height-small);font-size:var(--font-size-caption);">
        <li>
          피드의 상세 페이지에서 전체 댓글 목록과 액션을 제공할 수 있다.
        </li>
        <li>원활한 피드 탐색 경험을 위해 피드의 콘텐츠를 일부 생략해서 보여줄 수 있다.</li>
        <li>
          리액션 버튼과 리액션 수치를 각각 제공할 수 있고 따로 제공할 수 있다. 리액션한 사용자 목록을 어떻게 보여줄 것인가에 의존성이 있다.
        </li>
        <li>리액션에서 한 번 정리했던 것인데, 중복 리액션과 횟수 등 정의.</li>
        <li>
          피드가 노출되는 이유를 알려줄 수 있다. 마찬가지로 사용자는 보고 싶은 피드와 보고 싶지 않은 피드를 결정할 수 있다.
        </li>
        <li>시의성이 강조되는 서비스이거나 현안을 다루는 서비스라면 스텟을 실시간으로 갱신할 필요가 있다.</li>
        <li>피드 작성 폼의 양식 인터페이스를 제공할 필요가 있다.</li>
        <li>하나 이상의 이미지를 포함할 수 있다면, 하나 이상의 이미지를 볼 수 있는 인터페이스가 필요하다.</li>
        <li>리액션 => 알림</li>
        <li>글줄의 길이는 상대적으로 좁게 짜는 경향이 있다.</li>
        <li>대충 이 정도..</li>
      </ul>

      <div class="feed-reaction" style="margin:var(--space-small) 0 0 0;">
        <div class="post-reaction-like">
          <figure class="post-reaction-like-icon" style="width:24px;height:24px;font-size:var(--font-size-caption);">💕</figure>
          <span class="post-reaction-like-count" style="font-size:var(--font-size-caption);">119</span>
        </div>
      </div>
      <!-- <footer>
        <time></time>
        <button></button>
      </footer> -->
    </div>
  </article>

  <article class="feed">
    <article class="feed-user item" data-size="medium" style="display:flex;align-items:center;">
      <!-- todo flex 아니네 -->
      <figure class="item-avatar">
        <img src="" alt="" />
      </figure>
      <h3 class="item-name" style="width:auto;">Bruce Springsteen</h3>
      <!-- <i class="icon-bullet"></i> -->
      <time style="margin:0 0 0 .5rem;color:var(--color-text-light);">22. 05. 02.</time>
    </article>
    <div class="feed-content tile-elevated">
      <p class="feed-content-paragraph">
        Monotonectally productivate progressive human capital without user friendly portals. Globally benchmark top-line ideas with distributed
        catalysts for change. Authoritatively restore ubiquitous partnerships vis-a-vis <a href="#feed">synergistic models</a>.
      </p>

      <div class="feed-reaction" style="margin:var(--space-small) 0 0 0;">
        <div class="post-reaction-like">
          <figure class="post-reaction-like-icon" style="width:24px;height:24px;font-size:var(--font-size-caption);">💕</figure>
          <span class="post-reaction-like-count" style="font-size:var(--font-size-caption);">119</span>
        </div>
      </div>
  </article>
</main>
