<main class="feeds" role="feed" aria-busy="false">
  <article class="tile-elevated" style="padding: 1rem; z-index: 1">
    <h2 style="margin-bottom: 0.5rem; line-height: var(--font-line-height)">Heading</h2>
    <p style="margin-bottom: 0.5rem">Uniquely procrastinate open-source infomediaries vis-a-vis high-quality potentialities. Globally engineer.</p>
    <p style="margin-bottom: 1rem">
      다이얼로그나 아티클에서만 1rem의 inset을 갖는 tile을 쓸 수 있다. 기본 tile은 기존 1rem에서 .75rem으로 변경한다. 이 패턴의 heading은 1.25rem이다.
      feed entity와 같은 콘테이너. footer는 toolbar이다.
    </p>
    <time class="tag">3월 14일 수정됨</time>
    <button class="item" data-size="large" style="margin-top: 0.75rem">
      <figure class="item-avatar"><img src="/public/images/springsteen.jpg" alt="" /></figure>
      <h3 class="item-name">Kakao</h3>
      <p class="item-description">https://www.kakaocorp.com</p>
    </button>
    <button class="item" data-size="large">
      <figure class="item-avatar"><img src="/public/images/springsteen.jpg" alt="" /></figure>
      <h3 class="item-name">Naver</h3>
      <p class="item-description">https://www.naver.com</p>
    </button>
  </article>

  <article class="feed" aria-setsize="3" aria-posinset="1">
    <span class="tag">
      <figure class="tag-icon" role="img">🔥</figure>
      <small class="tag-label">Most Popular</small>
    </span>
    <article class="feed-user item" data-size="medium" role="menuitem">
      <figure class="item-avatar"></figure>
      <h3 class="item-name">Elon Musk</h3>
      <time style="margin: 0 0 0 0.5rem; color: var(--color-text-light)">2 hour</time>
    </article>
    <div class="feed-content tile-elevated">
      <figure class="feed-content-media">
        <img src="/public/images/springsteen.jpg" alt="" />
      </figure>
      <p class="feed-content-paragraph">
        Monotonectally productivate progressive human capital without user friendly portals. Globally benchmark top-line ideas with distributed
        catalysts for change. Authoritatively restore ubiquitous partnerships vis-a-vis <a href="#feed">synergistic models</a>.
      </p>

      <div class="feed-tag stack" style="margin: 0 0 var(--space-4) 0">
        <span class="tag">Google</span>
      </div>

      <ul style="margin: 0 0 1.5rem 0">
        <li>피드의 상세 페이지에서 전체 댓글 목록과 액션을 제공할 수 있다.</li>
        <li>원활한 피드 탐색 경험을 위해 피드의 콘텐츠를 일부 생략해서 보여줄 수 있다.</li>
        <li>리액션 버튼과 리액션 수치를 각각 제공할 수 있고 따로 제공할 수 있다. 리액션한 사용자 목록을 어떻게 보여줄 것인가에 의존성이 있다.</li>
        <li>리액션에서 한 번 정리했던 것인데, 중복 리액션과 횟수 등 정의. restful - put과 함께 공부해보기</li>
        <li>피드가 노출되는 이유를 알려줄 수 있다. 마찬가지로 사용자는 보고 싶은 피드와 보고 싶지 않은 피드를 결정할 수 있다.</li>
        <li>시의성이 강조되는 서비스이거나 현안을 다루는 서비스라면 스텟을 실시간으로 갱신할 필요가 있다.</li>
        <li>피드 작성 폼의 양식 인터페이스를 제공할 필요가 있다.</li>
        <li>하나 이상의 이미지를 포함할 수 있다면, 하나 이상의 이미지를 볼 수 있는 인터페이스가 필요하다.</li>
        <li>리액션 => 알림</li>
        <li>글줄의 길이는 상대적으로 좁게 짜는 경향이 있다.</li>
      </ul>

      <div class="feed-reaction">
        <div class="post-reaction-like">
          <figure class="post-reaction-like-icon">💕</figure>
          <span class="post-reaction-like-count">119</span>
        </div>
      </div>
    </div>
  </article>
</main>
