<main class="pattern">
  <div class="article">
    <h1 class="article-title">Filtering</h1>
    <p class="article-description">
      Single Filter / Multiple Filters 후자는 전환에 필수불가결한 옵션이 존재하는 경우(다소막연).
    </p>
  
    <div class="chip-group">
      <div class="dropdown">
        <button class="dropdown-trigger js-toggle" aria-expanded="true">
          <span class="dropdown-trigger-label" title="일행 당 인원 수">예약옵션</span>
          <figure class="dropdown-trigger-icon"><i class="icon-caret"></i></figure>
        </button>
        <menu class="dropdown-menu" role="menu" style="padding:var(--space-3);">
          <fieldset role="radiogroup">
            <!-- <legend class="article-anatomy-title" style="margin-bottom:0;">radiogroup</legend> -->
            <div class="radio">
              <input type="radio" id="gogo1" name="gogo" value="" />
              <label for="gogo1" title="">1~3명</label>
            </div>
            <div class="radio">
              <input type="radio" id="gogo2" name="gogo" value="" checked />
              <label for="gogo2" title="">3명 이상</label>
            </div>
          </fieldset>
          <footer style="margin:var(--space-2) 0 0 0;">
            <!-- <button>옵션 초기화</button> -->
            <button class="chip" style="width:100%;"><span class="chip-label">적용 / 24개 상품 보기 (airbnb)</span></button>
          </footer>
        </menu>
      </div>
      <div class="dropdown">
        <button class="dropdown-trigger js-toggle" aria-expanded="true">
          <span class="dropdown-trigger-label">예산</span>
          <figure class="dropdown-trigger-icon"><i class="icon-caret"></i></figure>
        </button>
        <menu class="dropdown-menu" role="menu">
          <h6 class="dropdown-menu-title" hidden>Dropdown header</h6>
          <a class="dropdown-menu-link" href="#" disabled style="display:flex;justify-content:space-between;align-items:center;">
            최신순
            <i class="icon-check"></i>
          </a>
          <a class="dropdown-menu-link" href="#" disabled>
            최신순
          </a>
        </menu>
      </div>
      <div class="dropdown">
        <button class="dropdown-trigger js-toggle is-active" aria-expanded="true">
          <span class="dropdown-trigger-label">10평 미만</span>
          <figure class="dropdown-trigger-icon"><i class="icon-caret"></i></figure>
        </button>
      </div>
      <div class="dropdown">
        <button class="dropdown-trigger js-toggle" aria-expanded="true">
          <span class="dropdown-trigger-label">접근성 편의</span>
          <figure class="dropdown-trigger-icon"><i class="icon-caret"></i></figure>
        </button>
      </div>
    </div>

    <hr style="margin:2rem 0;" />

    <button style="margin-bottom:var(--space-3);">
      <i class="icon-filter">
        <div style="transform:scale(.75);">
          <span></span>
          <span></span>
        </div>
        <em class="badge" style="background:var(--color-accent);font-size:10px;color:var(--gray800);position:absolute;right:-.5rem;top:-.5rem;">2</em>
      </i>
    </button>
    <form class="filter tile-elevated" style="max-width:640px;padding:1rem;overflow: hidden;
    margin:0;">
      <header class="titlebar js-titlebar" role="navigation" style="padding:0;">
        <div class="titlebar-background"></div>
        <h1 class="titlebar-title js-page-title" title="page title">필터</h1>
        <button class="titlebar-back" onclick="javascript:window.location.href='/';">
          <figure class="titlebar-back-icon"><i class="icon-x"></i></figure>
          <!-- <span class="titlebar-back-label">뒤로</span> -->
        </button>
        <!-- <button class="titlebar-action" style="color:var(--color-primary);">
          <span class="titlebar-action-label">적용(todo)</span>
        </button> -->
      </header>
      <br />
      <!-- <header class="filter-head">
        <h1 class="filter-title">필터</h1>
        <p class="filter-description">타이틀바 컴포넌트로 head를 짜는 것이 좋다.</p>
      </header> -->
      <fieldset class="filter-fieldset" role="radiogroup">
        <legend class="filter-fieldset-legend">예약옵션</legend>
        <button class="button-elevated" title="" style="border:none;box-shadow:none;padding:0;margin-top:0;margin-bottom:.25rem;">
          <!-- <figure class="button-elevated-avatar">🦊</figure> -->
          <span class="button-elevated-label">즉시 예약</span>
          <span class="switch" style="margin-left:auto;">
            <input type="checkbox" id="temp123456" name="" role="switch" />
            <label for="temp123456" style="padding-left:48px;"></label>
          </span>
        </button>
        <small style="display:block;margin:0 0 var(--space-2) 0;color:var(--color-text-light);"
          >호스트 승인을 기다릴 필요 없이 예약할 수 있는 숙소
        </small>
      </fieldset>

      <hr />

      <fieldset class="filter-fieldset" role="radiogroup">
        <legend class="filter-fieldset-legend">예산</legend>
        <div class="radio">
          <input type="radio" id="gender-man" name="gender" value="" />
          <label for="gender-man" title="Video Killed the Radio Button">50,000원 미만</label>
        </div>
        <div class="radio">
          <input type="radio" id="gender-etc" name="gender" value="" checked />
          <label for="gender-etc" title="Video Killed the Radio Button">100,000원 미만</label>
        </div>
        <div class="radio">
          <input type="radio" id="gender-etc" name="gender" value="" checked />
          <label for="gender-etc" title="Video Killed the Radio Button">150,000원 미만</label>
        </div>
      </fieldset>
      <hr />
      <fieldset class="filter-fieldset" role="radiogroup">
        <legend class="filter-fieldset-legend">평수</legend>
        <div class="chip-group" style="margin-bottom:.25rem;">
          <button class="chip"><span class="chip-label">10평 미만</span></button>
          <button class="chip"><span class="chip-label">20평</span></button>
          <button class="chip"><span class="chip-label">30평</span></button>
        </div>
      </fieldset>
      <hr />
      <fieldset class="filter-fieldset" role="radiogroup">
        <legend class="filter-fieldset-legend">접근성 편의</legend>
        <p class="filter-fieldset-description">호스트가 제공하고 에어비앤비에서 검토한 정보입니다.</p>
        <div class="checkbox">
          <input class="js-check" type="checkbox" id="line03" value="" />
          <label for="line03" title="Everyday is like sunday">게스트 출입구에 계단이나 문턱 없음</label>
        </div>
        <div class="checkbox textfield">
          <input class="js-check" type="checkbox" id="other" name="interest" value="other" />
          <label for="other">너비 81cm 이상의 게스트 출입구</label>
        </div>
        <div class="checkbox textfield">
          <input class="js-check" type="checkbox" id="other" name="interest" value="other" />
          <label for="other">휠체어 접근 가능 주차 공간</label>
        </div>
      </fieldset>
      <footer class="filter-foot">
        <button class="filter-foot-confirm">적용/숙소 25개 표시 (todo fixed)</button>
        <button class="filter-foot-reset" title="clear filters" style="color:var(--color-text);">전체 해제</button>
      </footer>
    </form>
    <br />
  
    <h2 class="article-subhead">Presentation</h2>
    <ul>
      <li>Dropdown with chip group: desktop에서 상. moblie에서 중. desktop과 mobile에 동일한 경험과 낮은 개발 비용. 막연한 탐색.</li>
      <li>Sheet: desktop에서 하. mobile에서 상.</li>
      <li>Modal: desktop과 mobile에서 중. desktop과 mobile에 동일한 경험과 낮은 개발 비용.</li>
      <li>presentation 컴포넌트가 필터의 상태나 적용 방법에 많은 영향을 준다. 필터 옵션의 presentation 컴포넌트는 환경에 최적화된 경험을 위해 변경하기 쉬워야 한다.</li>
    </ul>
  
    <h2 class="article-subhead">필터의 적용</h2>
    <ul>
      <li>Instant updates. 각각의 필터를 즉시 적용 (onChange) - 더 좋은 사용자 경험 but 데이터 소모</li>
      <li>Batch updates. 적용 버튼을 클릭할 때 적용 (onSubmit) - 주로 multiple filters. single filter에서도 사용하는 케이스가 있음...</li>
    </ul>
  
    <h2 class="article-subhead">적용된 필터의 해제Reset</h2>
    <ul>
      <li>부분 해제</li>
      <li>전체 해제</li>
    </ul>
  
    <h2 class="article-subhead">적용된 필터의 상태</h2>
    <ul>
      <li>Multiple Options: 필터 트리거 버튼에 적용된 필터의 갯수 표시.</li>
      <li>Single Option: 액티브 상태와 레이블을 표기. (todo multiple)</li>
      <li>적용된 필터 상태를 removable chips로 추가 제공(case. 오늘의집, 네이버카페) => 이게 의미있는 인터페이스인가?</li>
    </ul>
  
    <h2 class="article-subhead">필터링와 소팅의 위계</h2>
    <p>
      같은 컴포넌트일지라도 위계는 다르다. 소팅은 필터링의 하위 위계임을 시각적으로(위치 등) 명시하라.
    </p>
  
    <h2 class="article-subhead">궁굼이</h2>
    <ul>
      <li>사용자는 적용된 필터 옵션 전체를 초기화하기 위해 새로고침을 할까?</li>
      <li>하나의 화면에서 모든 옵션 목록을 나열할 때 옵션 별로 다른 컴포넌트로 제공할 수 있다. 예를 들면 드롭다운, chip, radio의 혼합 => 디자인과 개발 비용의 증가 만큼 사용자 경험이 월등한가? (case. airbnb)</o>
      <li>필터의 버튼 그룹의 정렬 기준을 정의. hero 섹션과 같고 dialog와는 다르다.</li>
      <li>range option</li>
      <li>모든 필터 옵션을 세로 목록형 가로 스크롤로 나열할 수도 있다. 큰 화면에서 상대적으로 유용하다.</li>
    </ul>
  </div>
</main>
