<aside class="modal" role="dialog">
  <article class="modal-dialog">
    <header class="modal-head">
      <button class="modal-close js-modal-close"><span class="material-symbols-outlined">close</span><span hidden>닫기</span></button>
      <h1 class="modal-head-title">"Flat" Site Architecture</h1>
    </header>
    <section class="modal-body">
      <div class="uxsitemap">
        <header>
          <h3>사이트맵을 만들고 유지하는 이유는 무엇일까요?</h3>
          <p>필요 이상으로 사이트가 복잡해지지 않도록 하기 위해서에요.</p>
          <p>A Flat Architecture means that users (and search engine crawlers) can reach any page on your site in 4 clicks or less.</p>
        </header>

        <div role="group">
          <span class="tag">URL Structure</span>
          <span class="tag">Category Pages</span>
        </div>

        <ul>
          <li>프로젝트에 참여하는 모든 사람이 액세스 할 수 있는 형식으로 사이트 맵 유지</li>
          <li>웹 사이트 구조에서 일어나는 모든 변화를 반영하는 살아있는 문서. 변경이 쉬워야 한다.</li>
          <li>
            멘탈 모델은 뭔가 현실 세계에서 작동하는 방법에 대한 다른 사람의 생각에 대한 설명입니다. Jakob의 법칙에 따르면 사용자는 대부분의 시간을
            다른 사이트에서 보냅니다. 이는 사용자가 이미 알고있는 다른 모든 사이트와 동일한 방식으로 작동하는 사이트를 선호한다는 것을 의미합니다. 이
            규칙은 시각 디자인과 정보 아키텍처 모두에 적용됩니다. 즉, 웹 사이트의 시각적 모양과 논리적 구조가 해당 카테고리의 경쟁 업체 웹 사이트와
            크게 다르지 않아야합니다. 예를 들어 회사 웹 사이트를 디자인하는 경우 대부분의 방문자가 기대하는 정보는 비슷하기 때문에 "회사 소개"페이지를
            포함하고 최상위 탐색 옵션으로 만드는 것이 좋습니다. 대상 청중을 대표하는 사람들과 함께 공개 카드 정렬 워크샵 을 수행하고 콘텐츠를 그룹으로
            구성하고 그룹의 이름을 제시하도록하는 것이 좋습니다 .
          </li>
          <li>
            사용자가 작업을 완료하기 위해 수행해야하는 단계가 많을수록 (예 : 웹 사이트에서 제품 구매) 방문자가 작업을 완료하지 않고 사이트를 떠날
            가능성이 높아집니다. 3 번 클릭 규칙 은 웹 사이트의 모든 페이지를 탐색하는 데 3 번의 클릭 만하면된다는 비공식적 인 웹 디자인 규칙입니다.
            이는 사이트 사용자가 좌절감을 느끼고 세 번의 클릭으로 정보를 찾을 수 없으면 종종 떠날 것이라는 믿음에 기반합니다. 사이트 맵을 사용하여
            필수 단계와 선택 단계를 파악하고 가능한 경우 단계를 결합하세요.
          </li>
        </ul>

        <!-- 한동안 안 듣던 팟빵을 퇴사 후 다시 듣고 있다.
        586세대 진행자가 주축이 되는 상위권 시사 콘텐츠들이 시대정신에 못 미친다는 아쉬움은 뒤로하고,
        스토어의 스크린샷으로 리뉴얼된 앱 화면을 처음 보았을 때는 와 많이 좋아졌네? 하는 인상이었다.
        직접 써 보니 아쉬운 점이 많다.
      가장 큰 문제는 웹, 모바일웹, 앱이 다 다르다... 유지보수 비용은 차치하고,
      콘텐츠가 웹(리뉴얼안됨)에서는 여전히 순위기반인데, 모바일 쪽에서는 큐레이션 기반.
      모바일 바텀 네비게이션 유무.. 앱에서는 2번째 여전히 랭킹 탭....;
      모바일웹에는 햄버거에 주요 기능 다 들어 있고 랭킹도 햄버거 내부에 있어서 랭킹 강조가 안 됨.
      앱
      - 마이페이지에서 다운로드 한 콘텐츠를 관리할 수 없다.
      - 내 보관함이 바텀 네비 위에서 항상 열려있다.
      - 내 보관함이 바텀 시트라서 삭제 등의 관리가 어렵다. 편집 모드에서 최대 2개 밖에 안 보임..
      모바일웹에서 스킵 기본 -10초, +30초 너무 좋았는데
      웹은 -15/+15
      앱은 -30/+30 (설정할 수 있던 것으로 기억. 지금은 모르겠다.)
      
      다음 에피소드 듣기, 데이터, 재생 중인 에피소드 방송 페이지(?) -->

        <aside class="tile-flat"><a href="https://www.nngroup.com/articles/flat-vs-deep-hierarchy/">flat-vs-deep-hierarchy</a></aside>

        <hr />

        <section class="sitemap-item">
          <h1>Home</h1>
        </section>
        <section class="sitemap-item map">
          <div class="map-head">
            <b>1</b>
            <h2>design system</h2>
          </div>
          <div class="map-body">
            <b>1-1</b>
            <h3>Principles</h3>
          </div>
          <div class="map-body">
            <b>1-2</b>
            <h3>Components</h3>
          </div>
          <div class="map-body">
            <b>1-3</b>
            <h3>Writings or Voice & Tone</h3>
          </div>
          <div class="map-body">
            <b>1-4</b>
            <h3>Source Code or Coding Conventions - html / css / javascript</h3>
          </div>
          <div class="map-body">
            <b>1-5</b>
            <h3>Accessibility</h3>
          </div>
        </section>
        <section class="sitemap-item map">
          <div class="map-head">
            <b>2</b>
            <h2>Pages</h2>
          </div>
          <div class="map-body">
            <b>2-1</b>
            <h3>Temp</h3>
          </div>
          <div class="map-body">
            <b>2-2</b>
            <h3>Temp</h3>
          </div>
          <div class="map-body">
            <b>2-3</b>
            <h3>Temp</h3>
          </div>
        </section>
        <section class="sitemap-item">
          <div class="map-head">
            <b>6</b>
            <h2>Users</h2>
          </div>
          <div class="map-body">
            <b>6-1</b>
            <h3>User info</h3>
          </div>
        </section>
        <section class="sitemap-item">
          <div class="map-head">
            <b>5</b>
            <h2>about</h2>
          </div>
          <div class="map-body">
            <b>5-1</b>
            <h3>about</h3>
          </div>
          <div class="map-body">
            <b>1-2</b>
            <h3>contact</h3>
          </div>
        </section>
        <section class="sitemap-item">
          <div class="map-head">
            <b>0</b>
            <h2>Login</h2>
          </div>
          <div class="map-body">
            <b>0-1</b>
            <h3>Forgot password</h3>
          </div>
          <div class="map-body">
            <b>0-1</b>
            <h3>Settings</h3>
          </div>
          <div class="map-body">
            <b>0-2</b>
            <h3>User Profile</h3>
          </div>
          <div class="map-body">
            <b>0-3</b>
            <h3>Delete account</h3>
          </div>
        </section>
        <section class="sitemap-item">
          <div class="map-head">
            <b>0</b>
            <h2>Signup</h2>
          </div>
        </section>
        <section>
          <div class="map-head">
            <b>0</b>
            <h2>Legal</h2>
          </div>
          <div class="map-body">
            <b>0-1</b>
            <h3>Terms of Service</h3>
          </div>
          <div class="map-body">
            <b>0-1</b>
            <h3>Privacy Policy</h3>
          </div>
        </section>
      </div>
    </section>
  </article>
</aside>
