	<main>
		<form class="password" action="" method="">
			<header class="password-head">
				<h1 class="password-title" title="Reset Your Password">비밀번호 초기화</h1>
				<p class="password-description" titl="We get it, stuff happens! What's your email address?">아하<i style="font-style:italic;">!</i> 이메일을 입력하시면 비밀번호를 보내드려요.</i></p>
			</header>
			<section class="password-body">
				<div class="textfield">
					<label class="textfield-label" for="find-email" title="Email Address">이메일</label>
					<input class="textfield-input" type="text" id="find-email" class="required" placeholder="soojubm@gmail.com" autofocus />
					<!-- <p role="alert" class="textfield-helper">필수 입력란입니다.</p> -->
				</div>
				<footer class="password-foot">
					<button type="submit" class="primary-button password-submit">링크발송</button>
					<span class="password-link" title="Remember your password after all?">비밀번호가 전혀 기억이 안나세요? <a href="signin.html">가입하기</a></span>
				</footer>
			</section>
		</form>
	</main>