	<main>
		<form class="password" action="" method="">
			<header class="password-head">
				<h1 class="password-title">Reset Your Password</h1>
				<p class="password-description">We get it, stuff happens! What's your email address?</p>
			</header>
			<section class="password-body">
				<div class="textfield">
					<label class="textfield-label" for="find-email">Email Address</label>
					<input class="textfield-input" type="text" id="find-email" class="required" placeholder="soojubm@gmail.com" autofocus />
					<!-- <p role="alert" class="textfield-helper">필수 입력란입니다.</p> -->
				</div>
				<footer class="password-foot">
					<button type="submit" class="primary-button password-submit">링크발송</button>
					<span class="password-link">Remember your password after all? <a href="signin.html">Sign In</a></span>
				</footer>
			</section>
		</form>
	</main>

	<style>
	.footer {display:none;}
	.banner {display:none;}
	.navbar {display:none;}
	</style>