	<main>
		<form class="password" action="" method="">
			<header class="password-head">
				<h1 class="password-title" title="Reset Your Password">Reset Your Password</h1>
				<p class="password-description" titl="We get it, stuff happens! What's your email address?">
					비밀번호를 잊으셨나요? 걱정 말아요<i style="font-style:italic;">!</i><br />비밀번호를 재설정할 수 있는 링크를 이메일로 보내드릴게요.</i>
				</p>
				<!-- <span style="font-size:3rem;position:absolute;right:0;top:0;">🖐️</span> -->
			</header>
			<section class="password-body">
				<div class="textfield">
					<label class="textfield-label" for="find-email" title="Email Address">이메일 주소</label>
					<input class="textfield-input" type="text" id="find-email" class="required" placeholder="soojubm@gmail.com" autofocus />
					<p role="alert" class="textfield-helper" hidden>올바른 이메일 주소를 입력해주세요.</p>
				</div>
				<footer class="password-foot">
					<button type="submit" class="password-foot-submit">재설정 메일 받아보기</button>
					<a class="password-foot-back" href="#">이메일이 시억 안 나요</a>
					<!-- <span class="password-link" title="Remember your password after all?">이메일이 기억 안 나세요? <a href="signin.html">가입하기</a></span> -->
				</footer>
			</section>
		</form>

		<section class="password-result" hidden>
			<h2 class="password-result-title">
				faf@faf.co으로
				<br />
				비밀번호 재설정 링크를 발송했습니다.
				<br />
				메일함을 확인해주세요.
			</h2>
			<a class="password-result-login" href="#">로그인하기</a>
		</section>
	</main>

	<style>
		.navbar, .footer {display:none;}
	</style>