<main class="component">
  <section class="hero" role="banner">
    <!-- <div class="hero-background"></div> -->
    <!-- <span class="hero-eyebrow">Components</span> -->
    <!-- <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;"><span style="color:var(--color-text-light);">We 🐷</span><br />built this city.</h1> -->
    <h1 class="hero-title">Forms - Inputs</h1>
    <p class="hero-description">키보드 입력이 필요한 폼 필드.</p>
    <ul>
      <li>레이블을 왼쪽에 배치하지 않습니다.</li>
    </ul>
  </section>

  <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Textfield</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Searchfield</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Numberfield</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Datefield</span></a>
    </div>
  </nav>

  <section class="component-body">

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Searchfield</h1>
      <p class="article-description">검색어를 입력합니다. 검색 실행하면 입력한 검색어에 맞는 콘텐츠를 결과로 표시합니다.</p>

      <div class="textfield">
        <button class="textfield-prefix" style="top:11px;"><i class="icon-search"></i></button>
        <!-- <label class="textfield-label" for="search">검색(시각적으로숨겨야함)</label> -->
        <input class="textfield-input js-input-test" type="search" id="search" placeholder="궁금한 인물이나 이슈가 있나요?" style="width:calc(100% - var(--size-huge));" />
        <button class="textfield-clear" hidden style="right:calc(var(--size-huge) + var(--space));"><i class="icon-x"></i></button>
        <button class="textfield-back" style="position:absolute;right:0;top:0;">취소</button>
      </div>

      <section class="search-recent" style="margin-top:1rem;">
        <!-- <h2 class="search-recent-title">최근 검색</h2> -->
        <!-- <button class="search-recommend-modify">수정</button> -->
        <div class="search-suggestion-item item" data-size="medium">
          <figure class="search-suggestion-item-avatar item-avatar"><i></i></figure>
          <p class="item-name">개구리</p>
          <button class="search-suggestion-item-delete item-delete" style="border:none;background:none;color:var(--color-text-light);">삭제</button>
        </div>
        <div class="search-suggestion-item item" data-size="medium">
          <figure class="search-suggestion-item-avatar item-avatar"><i></i></figure>
          <p class="item-name">올챙이</p>
          <button class="search-suggestion-item-delete item-delete" style="border:none;background:none;color:var(--color-text-light);">삭제</button>
        </div>
        <div class="tile-flat">최근 검색 내역 없음</div>
        <!-- <div class="search-recent-group" role="group">
          <a class="search-recent-group-item" href="#"><span class="chip-label">개구리</span></a>
          <a class="search-recent-group-item" href="#"><span class="chip-label">달팽이</span></a>
          <a class="search-recent-group-item" href="#"><span class="chip-label">매미</span></a>
        </div> -->
      </section>

      <br />

      <section class="search-suggestion">
        <div class="search-suggestion-item item" data-size="medium">
          <figure class="search-suggestion-item-avatar item-avatar"><i></i></figure>
          <p class="item-name">자동완성</p>
        </div>
        <div class="search-suggestion-item item" data-size="medium">
          <figure class="search-suggestion-item-avatar item-avatar"></figure>
          <p class="item-name">자동완성유아이</p>
        </div>
        <div class="search-suggestion-item button-elevated" style="z-index:auto;">
          <figure class="search-suggestion-item-avatar"><i class="icon-search"></i></figure>
          <p style="color:var(--color-primary);"><span>자동완</span>(으)로 검색</p>
        </div>
      </section>

      <h4 class="article-subhead">Props (TODO)</h4>
      <table>
        <caption hidden>Table Caption</caption>
        <tbody role="rowgroup">
          <tr role="row">
            <th scope="row" style="font-weight:var(--font-weight-bold);color:var(--color-text);">name</th>
            <th style="font-weight:var(--font-weight-bold);color:var(--color-text);">type</th>
          </tr>
          <tr role="row">
            <th scope="row">type</th>
            <td>"search" | "text" | "textarea"
              <p>HTMLInputTypeAttribute</p>
            </td>
          </tr>
          <tr role="row">
            <th scope="row">placeholder</th>
            <td>string</td>
          </tr>
          <tr role="row">
            <th scope="row">name</th>
            <td>string</td>
          </tr>
          <tr role="row">
            <th scope="row">label</th>
            <td>string</td>
          </tr>
          <tr role="row">
            <th scope="row">value</th>
            <td>string</td>
          </tr>
          <tr role="row">
            <th scope="row">helper</th>
            <td>string
              <p>isUnvalid = helper.length <= 0</p>
            </td>
          </tr>
          <tr role="row">
            <th scope="row">states</th>
            <td>"disabled" | "readonly"
            </td>
          </tr>
          <tr role="row">
            <th scope="row">isAutoFocus<attr>?</attr></th>
            <td>boolean</td>
          </tr>
          <tr role="row">
            <th scope="row">onChange / onKeydown (todo)</th>
            <td>function()</td>
          </tr>
        </tbody>
      </table>

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <li>검색 필드 내부에 뒤로가기 버튼을 포함하지 않습니다. 뒤로가기 버튼은 항상 title bar에 위치합니다.</li>
        <li>검색이 중요한 서비스에서는 큰 사이즈의 검색필드를 추가로 정의하세요.</li>
        <li>iOS 검색 패턴 중 하나. 검색필드를 클릭하면 필드에 focus되는 것이 아니라 네이티브 검색바와 검색 화면을 보여주는 패턴.</li>
        <li>검색 페이지 또는 검색 탭에서 focus 상태 상태에 따라 추천 컨텐츠(focusout)와 최근 검색 결과(focuson)를 구분하여 표시합니다.</li>
        <li>일반 텍스트필드와 구별할 수 있도록 시각적인 단서를 제공하기.</li>
        <li>취소 버튼은 iOS 패턴. (focusout 되며 추천/개인화 콘텐츠 탐색 화면으로 전환)</li>
        <li>todo: 글로벌 검색 패턴과 로컬 검색 패턴을 정의하기.</li>
      </ul>

      <h4 class="article-subhead">Editing Checklist</h4>
      <ul>
        <li>placeholder 작성법.</li>
      </ul>

      <blockquote>
        <p>검색 필드를 클릭했을 때 검색을 입력할 수 있는 패턴과 검색 탭으로 이동하는 2가지 패턴이 가능하다. 검색 탭으로 이동하는 패턴에서는 readonly.</p>
        <p>검색 필드는 helper text가 필요 없음.</p>
      </blockquote>

      <h4 class="article-subhead">References</h4>
      <a href="https://developer.apple.com/documentation/uikit/uisearchbar">HIG searchbar</a>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Numberfield</h1>
      <p class="article-description">수량을 입력합니다. 마이너스와 플러스 아이콘 버튼을 토글로 마우스로만 입력할 수 있</p>

      <!-- <span class="article-anatomy-title">Number (quantity)</span> -->
      <div class="quantity js-quantity" style="max-width:8rem;">
        <input class="quantity-input js-quantity-input js-number-input" name="quantity1" type="number" value="0" min="5" max="20" >
        <!-- <input type="text" inputmode="numeric" pattern="[0-9]*"> -->
        <button class="quantity-decrement js-quantity-decrement"><i class="icon-minus"></i></button>
        <button class="quantity-increment js-quantity-increment"><i class="icon-plus"></i></button>
      </div>

      <h4 class="article-subhead">Editing Checklist</h4>
      <ul>
        <li>내용없음.</li>
      </ul>

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <li>최소값와 최대값을 정의합니다. 입력 제한 피드백을 위해 팝업vsdisabled버튼</li>
      </ul>
    </article>



    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Textfields</h1>
      <p class="article-description">텍스트 정보를 입력합니다.</p>

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <!-- <p><span><i></i></span> 벨리데이션 실행 조건: <b>제출(구현이 쉬움)</b> / 키보드 입력 쉬움 / 블러(구현이 복잡함. 흐름이 끊어짐)</b></p> -->
        <li>기본적으로 Textfield는 필수 입력 필드입니다. 선택 입력에는 '선택' 텍스트로 가이드합니다.</li>
        <li>다중 선택을 위해 셀렉트박스를 사용하지 않습니다.</li>
        <li>stepper(quantity) / search field / selectbox(combo)</li>

        <!-- <li><span><i class="icon-check"></i></span> 사용자의 정보 입력을 돕기 위해 selectbox로 선택할 수 있는 정보 목록을 제공합니다.</li> -->
      </ul>

      <h4 class="article-subhead">Editing Checklist</h4>
      <ul>
        <li>todo: helper(help message)와 feedback message를 구별</li>
      </ul>

      <h4 class="article-subhead">anatomy</h4>
      <div class="article-anatomy is-anatomy">
        <span class="article-anatomy-item">textfield</span>
        <span class="article-anatomy-item is-nested">label</span>
        <span class="article-anatomy-item is-nested">input</span>
        <span class="article-anatomy-item is-nested">helper</span>
        <span class="article-anatomy-item is-nested">clear button <small class="is-optional">optional</small></span>
        <span class="article-anatomy-item is-nested">indicator <small class="is-optional">optional</small></span>
        <!-- <li>required indicator / / validations / masked</li> -->
      </div>

      <br />
      <!-- <p>unit, choose/enter</p> -->
      <!-- <span class="article-anatomy-title">Input</span> -->
      <!-- <abbr title="필수입력">*</abbr> -->
      <div class="textfield is-invalid">
        <label class="textfield-label" for="abc123" style="margin-top:var(--space-leading-subhead);">레이블 <small aria-label="optional">선택입력</small></label>
        <input class="textfield-input js-input-test" type="text" id="abc123" placeholder="Textarea Placeholder..." value="soojubm@gmail.com" aria-describedby="error" aria-invalid="true" />
        <small class="textfield-helper is-error">이미 등록된 이메일입니다.</small>
        <!-- validation feedback -->
          <!-- // todo readonly -->
      </div>
      <br />
      <!-- <span class="article-anatomy-title">Textarea</span> -->
      <div class="textfield">
        <label class="textfield-label" for="search1">레이블</label>
        <small class="textfield-byte"><b>0 KB</b> / 100 KB</small>
        <textarea class="textfield-input" rows="3" placeholder="Textarea Placeholder..."></textarea>
      </div>
      <br />
        <!-- <span class="article-anatomy-title">Input Date</span> -->
        <div class="textfield-group" style="display:flex;justify-content:space-between;">
          <div class="textfield" style="width:var(--column-width);">
            <label class="textfield-label" for="date-start"><i class="">체크인</i></label>
            <label class="textfield-prefix" for="date-start" style="background:var(--color-background);">-</label>
            <input class="textfield-input" type="date" id="date-start" placeholder="날짜를 설정해주세요." />
          </div>
          <div class="textfield" style="width:var(--column-width)">
            <label class="textfield-label" for="date-end"><i class="">체크아웃</i></label>
            <label class="textfield-prefix" for="date-end" style="background:var(--color-background);">-</label>
            <input class="textfield-input" type="date" id="date-end" placeholder="날짜를 설정해주세요." />
          </div>
        </div>
      </div>
      <br />
      <!-- <span class="article-anatomy-title">Selectbox</span> -->
      <div class="textfield">
        <label class="textfield-label" for="select1">셀렉트박스</label>
        <select class="textfield-input" id="select1">
          <option class="select-option" value="select-option1">Choose an option</option>
        </select>
        <span class="selectbox-indicator" role="img"><i class="icon-caret"></i></span>
      </div>

      <!-- var selected = Array.from(dnd.options).filter(function (option) {
        return option.selected;
      }).map(function (option) {
        return option.value;
      }); -->
    </article>

  </section>
</main>
