<main class="faq">
  <header class="help-head">
    <!-- <img src="/public/images/undraw_feeling_of_joy_ioj2.svg" alt="" style="position:absolute;left:50%;top:60px;width:320px;z-index:-1;transform:translateX(-160%);"> -->
    <!-- <h1 class="help-head-title">고객센터</h1> -->
    <h1 class="help-head-title">무엇을 도와드릴까요?</h1>
    <p class="help-head-description">
      Whether you’re starting an open source project or choosing new tools for your team, we’ve got you covered.
    </p>
    <!-- <section class="search-result">
        <h2 class="search-result-title">[검색어]에 대한 검색 결과</h2>
        <a class="search-result-item" href="#">
          <h3>검색어는 어떻게 입력하나요?</h3>
          <p>검색어는 말입니다. 이렇게 검색합니다.</p>
        </a>
        <a class="search-result-item" href="#">
          <h3>검색어는 어떻게 입력하나요?</h3>
          <p>검색어는 말입니다. 이렇게 검색합니다.</p>
        </a>
        <a class="search-result-item" href="#">
          <h3>검색어는 어떻게 입력하나요?</h3>
          <p>검색어는 말입니다. 이렇게 검색합니다.</p>
        </a>
      </section> -->
  </header>

  <section class="help-faq"></section>
  <header class="faq-head">
    <h1 class="faq-head-title">자주 묻는 질문</h1>
    <p class="faq-head-description">놀랍게도 아직은 무료! 누구에게나 열려 있으니 어서 오세요! 기다리고 있을게요.</p>
    <!-- <button class="faq-head-ask">문의하기</button -->
  </header>
  <div class="faq-item">
    <h2 class="faq-item-question js-toggle" role="button" aria-expanded="false" aria-disabled="false"><i>✔</i>뉴닉, 뉴스레터 보려면 돈 내야 해요?</h2>
    <!-- <i class="icon-arrow"></i> -->
    <div class="faq-item-answer" hidden>놀랍게도 아직은 무료! 누구에게나 열려 있으니 어서 오세요! 기다리고 있을게요. 😉</div>
    <footer class="faq-reaction">
      <div class="faq-reaction-title intercom-reaction-prompt">이 답변이 도움이 되었나요?</div>
      <button class="faq-reaction-button" data-reaction-text="disappointed" aria-label="Disappointed Reaction">
        <span class="faq-reaction-button-emoji" data-emoji="disappointed" title="Disappointed">😃</span>
        옹옹 <b class="faq-reaction-button-count">2</b>
      </button>
      <button class="faq-reaction-button" data-reaction-text="neutral_face" aria-label="Neutral face Reaction">
        <span class="faq-reaction-button-emoji" data-emoji="neutral_face" title="Neutral face">😞</span>
        앙앙. <b class="faq-reaction-button-count">2</b>
      </button>
      <!-- <button class="faq-reaction-button" data-reaction-text="smiley" tabindex="0" aria-label="Smiley Reaction">
        <span data-emoji="smiley" title="Smiley">😐</span>
        별로에요 <b class="faq-reaction-button-count">2</b>
      </button> -->
    </footer>
  </div>
  <div class="faq-item">
    <h2 class="faq-item-question js-toggle"><i>✔</i>신청했는데 뉴스레터가 안 와요.</h2>
    <div class="faq-item-answer" hidden>
      <p>뉴닉과 고슴이가 프로모션함이나 스팸함에 빠지지 않도록, 잠시만 시간을 내주세요!😉</p>
      <br />

      <p style="font-weight:bold">지메일로 신청하셨다고요?</p>
      <ol>
        <li>검색창 오른쪽의 검은 화살표(▼)를 클릭합니다.</li>
        <li>보낸 사람에 'whatsup@newneek.co'를 넣고, '필터 만들기' 버튼을 클릭합니다.</li>
        <li>그 메일이 도착했을 때의 '수행 작업'을 고를 수 있는데요. '절대 스팸으로 신고하지 않음'을 체크한 후 '다음 카테고리로 분류'에서 '기본'을 선택합니다.</li>
        <li>마지막으로 '필터 만들기' 누르면 끝!</li>
      </ol>
      <br />
      <p style="font-weight:bold">네이버메일로 신청하셨다고요?</p>
      <ol>
        <li>검색창 오른쪽의 검은 화살표(▼)를 클릭합니다.</li>
        <li>보낸 사람에 'whatsup@newneek.co'를 넣고, '필터 만들기' 버튼을 클릭합니다.</li>
        <li>그 메일이 도착했을 때의 '수행 작업'을 고를 수 있는데요. '절대 스팸으로 신고하지 않음'을 체크한 후 '다음 카테고리로 분류'에서 '기본'을 선택합니다.</li>
        <li>마지막으로 '필터 만들기' 누르면 끝!</li>
      </ol>

      <br />
      <p style="font-weight:bold">회사 메일로 신청하셨다고요?</p>
      <ol>
        <li>일단 스팸 메일함을 확인해 주세요.</li>
        <li>차단 목록도 확인 부탁드려요.</li>
        <li>마지막으로 whatsup@newneek.co를 주소록에 추가해 주세요.</li>
        <li>그런데도 메일함에서 고슴이를 볼 수 없다면, 회사 이메일 서버가 뉴닉을 차단하는 것이랍니다. 안타깝게도 이 경우에는 저희가 도와드리기 어려운 점 양해 부탁드리며, 자주 사용하는 개인 이메일로 다시 한 번 구독 신청 권장드릴게요. 🦔</li>
      </ol>
    </div>
  </div>

  <div class="faq-item">
    <h2 class="faq-item-question js-toggle"><i>✔</i> 다른 이메일로 뉴스레터 받아보고 싶어요.</h2>
    <p class="faq-item-answer" hidden>죄송하게도 현재는 뉴스레터 하단에 있는 '수신거부' 버튼을 통해 기존 이메일을 수신 거부한 후 새로운 이메일로 다시 구독하는 방법이 유일해요. 조금 더 편리한 방법을 만드는 중이니, 조금만 기다려 주세요.</p>
  </div>

  <div class="faq-item">
    <h2 class="faq-item-question js-toggle"><i>✔</i>해지하고 싶어요. (정말요?! 😢)</h2>
    <p class="faq-item-answer" hidden>뉴닉 서비스 해지는 모든 뉴스레터 하단에 있는 '수신거부' 버튼을 통해 하실 수 있답니다. 더욱더 나은 뉴스레터로 찾아뵐 수 있도록 노력할게요. 그동안 건강하셔야 해요!</p>
  </div>

  <!-- <footer class="help-foot">
    <p class="help-foot-body"><em>원하는 내용이 아닌가요?</em> 도움말 커뮤니티에 질문해 보세요.</p>
    <a class="help-foot-link" href="#">지금 질문하기</a>
  </footer> -->
  <section class="faq-contact">
    <span class="faq-contact-emoji">✋</span>
    <h2 class="faq-contact-title">해결이 안 된 문제가 있나요?</h2>
    <p class="faq-contact-description">
      문의내용을 남겨주세요. 영업일 기준 2일 내에 이메일 주소로 답변 드릴게요!<br />
      <span>🦔고슴이: 뉴닉은 일월화수목 근무하슴!</span>
    </p>
    <form class="faq-contact-form" action="">
      <div class="textfield" style="width:50%">
        <label class="textfield-label" for="search1">분류</label>
        <select class="textfield-input" name="" id="">
          <option class="select-option" value="feedback">뉴스레터</option>
          <option class="select-option" value="feedback">웹사이트</option>
          <option class="select-option" value="feedback">환불문의</option>
          <option class="select-option" value="feedback">협업문의</option>
        </select>
        <i class="selectbox-indicator icon-caret"></i>
      </div>
      <p>자주 묻는 질문을 확인해보셨나요? 최소 2일의 기다림 없이 바로 해결할 수 있을지도 몰라요.<br />문의하기 전에 자주 묻는 질문들을 빠르게 훑어보세요!</p>
      <br />
      <form class="faq-contact-form boxed-form" action="">
      <div class="textfield">
        <label class="textfield-label" for="">이메일 주소</label>
        <input class="textfield-input" type="text" placeholder="whatsup@newneek.co" />
        <!-- <button class="textfield-button text-button">수정</button> -->
        <!-- <p class="textfield-helper">이름이 이상합니다. 너무 이상해요. 개 이상해요.</p> -->
      </div>
      <div class="textfield">
        <label class="textfield-label" for="">문의내용</label>
        <textarea class="textfield-input" value="659"></textarea>
        <!-- <button class="textfield-button text-button">수정</button> -->
        <!-- <p class="textfield-helper">이름이 이상합니다. 너무 이상해요. 개 이상해요.</p> -->
      </div>
      <footer class="faq-contact-privacy">
        <h3 class="faq-contact-privacy-title">개인정보 수집·이용에 대한 안내</h3>
        <p class="faq-contact-privacy-description">문의를 접수하고 회신하기 위해 최소한의 개인정보(이메일과 문의내용)를 수집하며 후속조치를 위해 1년간 보관합니다. 개인정보 수집·이용을 거부할 수 있으며, 이 경우 답변이 제한됩니다. 더 자세한 내용에 대해서는 개인정보처리방침을 참고하시기 바랍니다.</p>
        <!-- <div class="checkbox">
          <input class="" type="checkbox" id="line00" value="" aira-checked="mixed" aria-controls="1 2" />
          <label for="line00" title="Check All">동의합니다.</label>
        </div> -->
        <!-- <ul>
          <li>목적 : 고객문의 및 상담요청에 대한 회신</li>
        </ul> -->
        <!--상담을 위한 서비스 이용기록 조회-->
      </footer>
      <footer class="faq-contact-form-foot">
        <button class="faq-contact-form-foot-ask" disabled>문의하기</button>
      </footer>
    </form>
  </section>

  <!-- <section class="faq-partnership">
    <h3 class="faq-partnership-title">파트너십 문의</h3>
    <p class="faq-partnership-description">파트너십 문의는 whatsup@newneek.co로 보내주세요!</p>
  </section> -->
</main>

<main class="help">
  <section class="help-body">
    <section class="help-board">
      <h2 class="help-board-title">공지사항</h2>
      <a class="help-board-item" href="#">
        <span class="help-board-item-checkbox" style="display:none;">
          <input class="checkbox-input" type="checkbox" />
          <label class="checkbox-label"></label>
        </span>
        <b class="help-board-item-title">자동차 시설대여 리스약관 개정 안내</b>
        <p class="notice-item-bodytext" style="display:none;">아아아아아아아아아아아아아아아아아</p>
        <span class="help-board-item-tag">새 글</span>
        <div class="help-board-item-meta">
          <b class="help-board-item-meta-label">등록일</b>
          <time class="help-board-item-meta-value notice-item-time">2018-06-18</time>
          <span class="help-board-item-meta-divider">/</span>
          <b class="help-board-item-meta-label">조회수</b>
          <span class="help-board-item-meta-value">541</span>
        </div>
      </a>
      <a class="help-board-item" href="#">
        <b class="help-board-item-title">'7명 사망' 종로 고시원, 소방안전관리자 선임 의무서도 빠져</b>
        <div class="help-board-item-meta">
          <b class="help-board-item-meta-label">등록일</b>
          <time class="help-board-item-meta-value">2018-06-18</time>
          <span class="help-board-item-meta-divider">/</span>
          <b class="help-board-item-meta-label">조회수</b>
          <span class="help-board-item-meta-value">541</span>
        </div>
        <span class="help-board-item-file">학회보고서.docs</span>
      </a>
      <div class="help-board-item js-toggle is-active">
        <b class="help-board-item-title">'7명 사망' 종로 고시원, 소방안전관리자 선임 의무서도 빠져</b>
        <div class="help-board-item-meta">
          <b class="help-board-item-meta-label">등록일</b>
          <time class="help-board-item-meta-value">2018-06-18</time>
          <span class="help-board-item-meta-divider">/</span>
          <b class="help-board-item-meta-label">조회수</b>
          <span class="help-board-item-meta-value">541</span>
        </div>
        <span class="help-board-item-file">학회보고서.docs</span>
        <div class="help-board-item-content">
          Compellingly maintain functional technology through functional architectures. Efficiently reintermediate cutting-edge infomediaries whereas e-business e-commerce. Enthusiastically brand leading-edge solutions after inexpensive solutions. Progressively transition best-of-breed schemas.
        </div>
        <aside class="help-feedback">
          <p class="help-feedback-body">이 문서가 도움이 되었나요?</p>
          <button class="help-feedback-button secondary-button">예</button>
          <button class="help-feedback-button secondary-button">아니오</button>
        </aside>
      </div>
    </section>
  </section>
</main>
