<main class="help">
  <!-- 자주묻는질문을 아래 보여줄 것. -->
  <!-- 내가 질문한 내역을 보여주는 화면. -->
  <!-- <nav class="help-navigation">
			<a class="help-navigation-link" href="#">문의하기</a>
			<a class="help-navigation-link is-active" href="#">자주묻는질문</a>
    </nav> -->
  
  <header class="help-head">
    <!-- <img src="/public/images/undraw_feeling_of_joy_ioj2.svg" alt="" style="position:absolute;left:50%;top:60px;width:320px;z-index:-1;transform:translateX(-160%);"> -->
    <h1 class="help-head-heading">고객센터</h1>
    <p class="help-head-headline">무엇을 도와드릴까요?</p>
    <p class="help-head-description">
      Whether you’re starting an open source project or choosing new tools for your team, we’ve got
      you covered.
    </p>
    <form class="help-head-search" action="">
      <fieldset class="textfield">
        <legend class="filter-fieldset-legend" aria-hidden="true">검색하기</legend>
        <label class="textfiled-label" for="help-search" aria-hidden="true">검색하기</label>
        <label class="textfield-icon" for="help-search" style="top:0;"><i class="icon-search"></i></label>
        <input
          class="textfield-input"
          type="search"
          id="help-search"
          placeholder="문제를 설명해 주세요."
        />
        <button class="textfield-button primary-button" type="submit">검색하기</button>
        <button
          class="textfield-clear"
          type="button"
          title="clear search input"
          style="display:none;"
        >
          x
        </button>
      </fieldset>
      <!-- <section class="search-result">
					<h2 class="search-result-heading">[검색어]에 대한 검색 결과</h2>
					<a class="search-result-item" href="#">
						<h3>검색어는 어떻게 입력하나요?</h3>
						<p>검색어는 말입니다. 이렇게 검색합니다.</p>
					</a>
					<a class="search-result-item" href="#">
						<h3>검색어는 어떻게 입력하나요?</h3>
						<p>검색어는 말입니다. 이렇게 검색합니다.</p>
					</a>
					<a class="search-result-item" href="#">
						<h3>검색어는 어떻게 입력하나요?</h3>
						<p>검색어는 말입니다. 이렇게 검색합니다.</p>
					</a>
				</section> -->
    </form>
  </header>
  <section class="help-body">
    <!-- a 태그 안에 다시 a태그(파일다운로드)-->
    <section class="help-board">
      <h2 class="help-board-heading">공지사항</h2>
      <a class="help-board-item" href="#">
        <span class="help-board-item-checkbox" style="display:none;">
          <input class="checkbox-input" type="checkbox" />
          <label class="checkbox-label"></label>
        </span>
        <!-- <b class="help-board-item-category">카테고리</b> -->
        <b class="help-board-item-heading">자동차 시설대여 리스약관 개정 안내</b>
        <p class="notice-item-bodytext" style="display:none;">아아아아아아아아아아아아아아아아아</p>
        <span class="help-board-item-tag">새 글</span>
        <div class="help-board-item-meta">
          <b class="help-board-item-meta-label">등록일</b>
          <time class="help-board-item-meta-value notice-item-time">2018-06-18</time>
          <span class="help-board-item-meta-divider">/</span>
          <b class="help-board-item-meta-label">조회수</b>
          <span class="help-board-item-meta-value">541</span>
        </div>
      </a>
      <a class="help-board-item" href="#">
        <b class="help-board-item-heading"
          >'7명 사망' 종로 고시원, 소방안전관리자 선임 의무서도 빠져</b
        >
        <div class="help-board-item-meta">
          <b class="help-board-item-meta-label">등록일</b>
          <time class="help-board-item-meta-value">2018-06-18</time>
          <span class="help-board-item-meta-divider">/</span>
          <b class="help-board-item-meta-label">조회수</b>
          <span class="help-board-item-meta-value">541</span>
        </div>
        <span class="help-board-item-file">학회보고서.docs</span>
      </a>
      <div class="help-board-item js-toggle is-active">
        <b class="help-board-item-heading"
          >'7명 사망' 종로 고시원, 소방안전관리자 선임 의무서도 빠져</b
        >
        <div class="help-board-item-meta">
          <b class="help-board-item-meta-label">등록일</b>
          <time class="help-board-item-meta-value">2018-06-18</time>
          <span class="help-board-item-meta-divider">/</span>
          <b class="help-board-item-meta-label">조회수</b>
          <span class="help-board-item-meta-value">541</span>
        </div>
        <span class="help-board-item-file">학회보고서.docs</span>
        <div class="help-board-item-content">
          Compellingly maintain functional technology through functional architectures. Efficiently
          reintermediate cutting-edge infomediaries whereas e-business e-commerce. Enthusiastically
          brand leading-edge solutions after inexpensive solutions. Progressively transition
          best-of-breed schemas.
        </div>
        <aside class="help-feedback">
          <p class="help-feedback-body">이 문서가 도움이 되었나요?</p>
          <button class="help-feedback-button secondary-button">예</button>
          <button class="help-feedback-button secondary-button">아니오</button>
          <!-- <p>의견을 보내주셔서 감사합니다.</p> -->
        </aside>
      </div>
    </section>
  </section>
  <footer class="help-foot">
    <p class="help-foot-body"><em>원하는 내용이 아닌가요?</em> 도움말 커뮤니티에 질문해 보세요.</p>
    <a class="help-foot-link" href="#">지금 질문하기</a>
  </footer>

  <!-- <nav class="customer-tablist js-tab-bar" role="tablist">
			<u class="customer-tablist-indicator"></u>
			<button type="button" class="customer-tablist-item" role="tab" aria-selected="false" data-index="1">공지사항</button>
			<button type="button" class="customer-tablist-item" role="tab" aria-selected="true" data-index="2">자주 묻는 질문</button>
			<button type="button" class="customer-tablist-item" role="tab" aria-selected="false" data-index="3">질의응답</button>
		</nav>
		<article class="faq-article">
			<button class="faq-article-heading">
				질문입니다.
				<i class="faq-article-heading-icon"></i>
			</button>
			<div class="faq-article-body">
				<p>The end result of both approaches is the same. Both approaches are just setting the initial state of the component. It's worth noting that class properties are a stage 3 proposal, so all development environments may not be able to use them.</p>
				<p>The end result of both approaches is the same. Both approaches are just setting the initial state of the component. It's worth noting that class properties are a stage 3 proposal, so all development environments may not be able to use them.</p>
			</div>
		</article> -->
</main>
