<main class="home">
  <section class="home-hero">
    <h1 class="home-hero-headline">
      <span class="t1">부끄러우니까, </span>
      <span class="t2">보지마요.</span>
    </h1>
    <!-- <p class="home-hero-description">부끄러우니까 제발 보지마요.</p> -->
    <!-- <nav>
      <a href="">유저프로필 / </a>
      <a href="">유저프로필</a>
    </nav> -->
    <style>
    .board {width:1080px;margin:4rem 0;}
    .board-head {display:flex;}
    .board-head div {width:25%;}
    .board-body {display:flex;padding:.5rem 0;}
    .board-body div {width:25%;color:#333;}
    .board-body small {display:block;color:#999;}
    </style>
    <article class="board">
      <div class="board-head">
        <div class="board-head-title">Title</div>
        <div class="board-head-date">Title</div>
        <div class="board-head-title">Title</div>
        <div class="board-head-title">Title</div>
        <div class="board-head-title">Title</div>
      </div>
      <div class="board-body">
        <div class="board-head-title">
          도요사사키 스텍 유리컵
          <small>글로벌 나이프 미니 쵸퍼</small>
        </div>
        <div class="board-head-title">도요사사키 스텍 유리컵</div>
        <div class="board-head-title">도요사사키 스텍 유리컵</div>
        <div class="board-head-title">도요사사키 스텍 유리컵</div>
        <div class="board-head-title">도요사사키 스텍 유리컵</div>
      </div>
      <div class="board-body">
        <div class="board-head-title">
          도요사사키 스텍 유리컵
          <small>글로벌 나이프 미니 쵸퍼</small>
        </div>
        <div class="board-head-title">도요사사키 스텍 유리컵</div>
        <div class="board-head-title">도요사사키 스텍 유리컵</div>
        <div class="board-head-title">도요사사키 스텍 유리컵</div>
        <div class="board-head-title">도요사사키 스텍 유리컵</div>
      </div>
      <div class="board-body">
          <div class="board-head-title">
            도요사사키 스텍 유리컵
            <small>글로벌 나이프 미니 쵸퍼</small>
          </div>
          <div class="board-head-title">도요사사키 스텍 유리컵</div>
          <div class="board-head-title">도요사사키 스텍 유리컵</div>
          <div class="board-head-title">도요사사키 스텍 유리컵</div>
          <div class="board-head-title">도요사사키 스텍 유리컵</div>
        </div>
    </article>
    <table>
        <caption>히라가나 오십음도</caption>
        <thead>
          <tr>
            <th>TITLE</th>
            <th>DIRECTOR</th>
            <th>う단</th>
            <th>え단</th>
            <th>お단</th>
            <th class="right">RELEASE DATE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>도요사사키 스텍 유리컵</td>
            <td>に</td>
            <td>ぬ</td>
            <td>ね</td>
            <td>の</td>
            <td class="right">9,600</td>
          </tr>
          <tr>
            <td>ら</td>
            <td>り</td>
            <td>る</td>
            <td>れ</td>
            <td>ろ</td>
            <td class="right">12,000</td>
          </tr>
        </tbody>
      </table>
  </section>
  <style>
    .banner {display: none;}
    .footer {display: none;}
    /* background:url(/public/images/caleb-woods-182648-unsplash.jpg) no-repeat 50%;position:fixed;left:0;right:50%; */
    .home-hero {height:50vh;padding:0 5%;}
    .home-hero-headline {margin:10rem auto 2rem;font-family:"DunkelSans";font-size:4rem;}
  h1 .t1 {
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: #fff;
  }
  h1 .t2 {
    color: #000;
  }
  .home nav {width:1440px;margin:0 auto;padding-left:50%;}
  .home nav a {font-family:"DunkelSans";font-size:2rem;color:#000;}
  </style>
</main>