<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>수줍이</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=0.25, maximum-scale=5.0" />
    <meta name="format-detection" content="telephone=no, email=no, address=no" />
    <meta name="robots" content="noindex" />
    <meta name="theme-color" content="rgba(255,255,255,.8)" />
    <meta name="apple-mobile-web-app-status-bar-stylnpe" content="black-translucent" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="msapplication-square310x310logo" content="/icon_largetile.png" />
    <meta name="author" content="soojubm" />
    <meta name="subject" content="your document's subject" />
    <meta name="description" content="UI Designer" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="soojubm" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:site_name" content="soojubm" />
    <meta property="og:url" content="https://soojubm.github.io" />
    <meta property="og:title" content="수줍이의 포트폴리오" />
    <meta property="og:image" content="/images/open-graph.png" />
    <meta property="og:description" content="부끄러우니까 보지마요." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:url" content="@" />
    <meta name="twitter:title" content="@" />
    <meta name="twitter:description" content="@" />
    <meta name="twitter:creator" content="@" />
    <link rel="canonical" href="https://soojubm.github.io/" />
    <link rel="icon" sizes="192x192" href="" />
    <link rel="apple-touch-icon" href="" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="../public/javascripts/polyfill.js"></script>
    <!-- <script src="../build/bundle.js"></script> -->
    <link rel="stylesheet" href="../build/main.css" />
    <!-- <meta http-equiv="refresh" content="0; URL=/"> -->
    <!--link rel="shortcut icon" href="images/favicon/favicon.ico">-->
  </head>
  <body>
    <noscript>This website requires JavaScript.</noscript>
<style>
  .navbar,
  .banner,
  .subscribe,
  .header,
  .toast,
  .footer {
    display: none;
  }

  .tag {font-size: 1rem;}

  .modal-head-title {font-size:2rem;}
  .modal-head-description {color:#000;}
  .modal-dialog {
    /* max-width: 80%;
    height: 80%;
    margin: auto; */
    border-radius: 0;
  }
  .modal-body {padding:2rem;}
  .modal-close {display:block;padding:2rem 3rem;transform:rotate(-180deg);}

  .temp-button {
    width: 200px;
    height: 56px;
    background: #76faad;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    position: relative;
  }
  .temp-button:before {
    content: '';
    width: 200px;
    height: 56px;
    background: #ddd;
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: -1;
    transition: all 0.2s ease;
  }
  .temp-button:hover:before {
    left: -6px;
    top: -6px;
  }
  .temp-button:after {
    content: '';
    width: 200px;
    height: 56px;
    border: 2px solid #000;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.2s ease;
  }
  .temp-button:hover:after {
    left: 6px;
    top: 6px;
    z-index: -1;
  }
  .statistic {
    width: auto;
    margin: 2rem;
    border: 2px solid #000;
    text-align: center;
  }
  .statistic-label {
    padding: 0.5rem 1rem;
    border-top: 2px solid #000;
    font-size: 16px;
    color: #000;
    font-weight: bold;
  }
  .statistic-value {
    display: block;
    padding: 1rem;
    color: #000;
    font-size: 2rem;
  }
</style>

<nav class="newneek-navbar js-navbar" role="navigation">
  <a class="newneek-navbar-logo" href="/"><img src="https://cdn.imweb.me/thumbnail/20190221/5c6e2bbdb7d06.gif" alt=""></a>
  <a href="https://newneek.co/" class="newneek-navbar-cta primary-button">뉴닉 구독하기</a>
  <div class="newneek-navbar-menu" role="navigation">
    <a class="newneek-navbar-menu-item" href="#pledge">공약집</a>
    <a class="newneek-navbar-menu-item" href="#dictionary">총선사전</a>
    <a class="newneek-navbar-menu-item" href="#faq">FAQ</a>
  </div>
</nav>

<div class="pagehead">
  <h2>
    <span>2020</span>
  </h2>
  <h2 >
    <span>총선 뽀개기</span>
  </h2>
  <h2 class="dday">
    <span>D-day<i class="icon-circle" style="margin-right:0;margin-left:.5rem;"></i></span>
  </h2>
  <div class="marquee">
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
    <p>이러다 오늘도 가장 유식하겠는데!</p>
  </div>
</div>

<header class="newneek-hero">
  <div class="newneek-hero-image">
    <img src="/public/images/gosum-hero-without-nose.png" alt="">
    <img src="/public/images/gosum-hero-nose.png" alt="" class="nose">
    <img src="/public/images/gosum-hero-water.png" alt="" class="water">
  </div>
  <h1 class="temp js-animation-scroll">
    <span>꼭 그렇게 다 뽀개야만<br />
      <span>속이 후련했냐ㅏㅏㅏㅏ!!</span>
    </span>
  </h1>
  <!-- <div class="style-heading" style="background:none;">
    <img src="/public/images/star1.svg" alt="" style="width:100px;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);" />
    <time>3월 20일 오픈예정</time>
    <h1 style="margin-top:-.25rem;font-size:3rem;text-align:center;position:relative;">일자리</h1>
  </div> -->
</header>

<section class="pledge js-section">
  <header class="style-heading">
    <h2 id="pledge" class="scroll-fadeup js-scroll-animation">이번에 어떤 공약 나왔어?</h2>
    <p class="pledge-description scroll-fadeup js-scroll-animation">
      공약, 많아도 너~무 많죠🏊.<br />
      그중에 뉴니커가 관심 가지면 좋을 공약을 골라왔어요.<br />
      3월 24일부터 매주 화요일, 3개씩 오픈될 예정인데요.<br />
      누구보다 빠르게, 남들과는 다르게 받아보고 싶다면?
    </p>
  </header>
  <div class="card-group">
    <figure class="card scroll-fadeup js-scroll-animation">
      <div class="card-circle">
        <span>
          3월 24일<br />공개예정
        </span>
      </div>
      <figcaption>
        <h3 class="card-title">#일자리</h3>
        <div class="card-tags" role="group">
          <span class="tag">보유세</span>
          <span class="tag">분양가 상한제</span>
          <span class="tag">부담대</span>
        </div>
      </figcaption>
    </figure>
    <figure class="card scroll-fadeup js-scroll-animation">
      <div class="card-circle">
        <span>
          3월 24일<br />공개예정
        </span>
      </div>
      <figcaption>
        <h3 class="card-title">#일자리</h3>
        <div class="card-tags" role="group">
          <span class="tag">보유세</span>
          <span class="tag">분양가 상한제</span>
          <span class="tag">부담대</span>
        </div>
      </figcaption>
    </figure>
    <figure class="card scroll-fadeup js-scroll-animation">
      <!-- <img src="/public/images/gosum-default.png" alt=""> -->
      <div class="card-circle">
        <span>
          3월 24일<br />공개예정
        </span>
      </div>
      <figcaption>
        <h3 class="card-title">#일자리</h3>
        <div class="card-tags" role="group">
          <span class="tag">보유세</span>
          <span class="tag">분양가 상한제</span>
          <span class="tag">부담대</span>
        </div>
      </figcaption>
    </figure>
    <figure class="card scroll-fadeup js-scroll-animation">
      <!-- <img src="/public/images/gosum-default.png" alt=""> -->
      <figcaption>
        <h3 class="card-title">#일자리</h3>
        <div class="card-tags" role="group">
          <span class="tag">보유세</span>
          <span class="tag">분양가 상한제</span>
          <span class="tag">부담대</span>
        </div>
      </figcaption>
    </figure>
    <figure class="card scroll-fadeup js-scroll-animation">
      <!-- <img src="/public/images/gosum-default.png" alt=""> -->
      <figcaption>
        <h3 class="card-title">#일자리</h3>
        <div class="card-tags" role="group">
          <span class="tag">보유세</span>
          <span class="tag">분양가 상한제</span>
          <span class="tag">부담대</span>
        </div>
      </figcaption>
    </figure>
    <figure class="card scroll-fadeup js-scroll-animation">
      <!-- <img src="/public/images/gosum-default.png" alt=""> -->
      <figcaption>
        <h3 class="card-title">#일자리</h3>
        <div class="card-tags" role="group">
          <span class="tag">보유세</span>
          <span class="tag">분양가 상한제</span>
          <span class="tag">부담대</span>
        </div>
      </figcaption>
    </figure>
    <figure class="card scroll-fadeup js-scroll-animation">
      <!-- <img src="/public/images/gosum-default.png" alt=""> -->
      <figcaption>
        <h3 class="card-title">#일자리</h3>
        <div class="card-tags" role="group">
          <span class="tag">보유세</span>
          <span class="tag">분양가 상한제</span>
          <span class="tag">부담대</span>
        </div>
      </figcaption>
    </figure>
    <figure class="card scroll-fadeup js-scroll-animation">
      <!-- <img src="/public/images/gosum-default.png" alt=""> -->
      <figcaption>
        <h3 class="card-title">#일자리</h3>
        <div class="card-tags" role="group">
          <span class="tag">보유세</span>
          <span class="tag">분양가 상한제</span>
          <span class="tag">부담대</span>
        </div>
      </figcaption>
    </figure>
    <figure class="card scroll-fadeup js-scroll-animation">
      <!-- <img src="/public/images/gosum-default.png" alt=""> -->
      <figcaption>
        <h3 class="card-title">#일자리</h3>
        <div class="card-tags" role="group">
          <span class="tag">보유세</span>
          <span class="tag">분양가 상한제</span>
          <span class="tag">부담대</span>
        </div>
      </figcaption>
    </figure>
  </div>
</section>

<section class="dictionary js-section">
  <header class="dictionary-head style-heading">
    <h2 id="dictionary" class="dictionary-title scroll-fadeup js-scroll-animation">선거뉴스, 쫌 어려운 것 같애 😭</h2>
    <p class="dictionary-description scroll-fadeup js-scroll-animation">
      '이건 한국어인가 외계어인가'하면서 조용히 내려놓은 기억, 한 번씩은 다 있죠.
      <br />
      그래서 이번에도 "뉴닉이 뉴닉"했습니다. 딱 5분이면, 우리 모두 선거 뉴스 마스터 🧞
    </p>
  </header>

  <section class="dictionary-body js-scroll-animation" style="position:relative;z-index:1;">
    <div class="dictionary-body-item scroll-fadeup js-scroll-animation">
      <h3 class="js-toggle" role="button">
        총선 🔫
        <i class="icon-caret"></i>
      </h3>
      <div>
        <p>정식 명칭은 국회의원 선거. 300명의 국회의원을 한꺼번에(총) 뽑는다(선)는 의미에서 ‘총선’이라고 불려요.</p>
      </div>
    </div>
    <div class="dictionary-body-item scroll-fadeup js-scroll-animation">
      <h3 class="js-toggle" role="button">
        선거관리위원회 (a.k.a. 선관위) 📙
        <i class="icon-caret"></i>
      </h3>
      <div>
        <p>선거가 자유롭고 공정하게 이뤄질 수 있도록 관리하는 헌법기관*이에요. 예비후보자가 등록하는 시점부터 선거운동을 거쳐 당선자가 확정될 때까지, 선거가 공정당당하게 이뤄지고 있는지 감시하고 선거 비용이 엉뚱한 데 사용되고 있지는 않는지 감시해요.</p>
        <br />
        *헌법기관: 우리나라 최고 상위 법인 헌법에 따라 만들어진 기관. 
      </div>
    </div>
    <div class="dictionary-body-item scroll-fadeup js-scroll-animation">
      <h3 class="js-toggle" role="button">
        공천 ☝️
        <i class="icon-caret"></i>
      </h3>
      <div>
        <p>정당이 선거에 나갈 후보자를 추천하는 것. 보통 한 정당에서는 1 지역구, 1 후보자를 내보내는데요. 한 지역에 같은 당 출신의 후보자가 많아질수록, 표가 나눠져 경쟁력이 떨어질 수 있기 때문.</p>
        <br />
        <p>공천은 보통 2가지 방식으로 이뤄져요: (1) 2~3명의 후보자가 한 지역을 두고 경쟁하는 ‘경선’ 방식과 (2) 중요하다고 생각하는 지역에 당이 후보자를 지명하는 ‘전략공천’ 방식.</p>
      </div>
    </div>
    <div class="dictionary-body-item scroll-fadeup js-scroll-animation">
      <h3 class="js-toggle" role="button">
        지역구 의원 📙
        <i class="icon-caret"></i>
      </h3>
      <div>
        <p>유권자가 ‘사람에 직접 투표'해서 뽑은 국회의원. 길을 가다 어떤 사람의 얼굴이 대문짝만하게 붙은 포스터(기호 O번)를 봤다면, 그 사람은 지역구 의원 후보자일 가능성이 아주아주 높다는 이야기. 선거관리위원회가 정해준 구역(선거구) 안에서 가장 많은 표를 받은 사람이 당선되고요. 총 <u>253명</u>을 뽑아요.</p>
        </div>
    </div>
    <div class="dictionary-body-item scroll-fadeup js-scroll-animation">
      <h3 class="js-toggle" role="button">
        비례대표 의원 📙
        <i class="icon-caret"></i>
      </h3>
      <div>
        <p>유권자가 ‘정당에 투표’해서 뽑은 국회의원. 총선 때는 내가 마음에 드는 사람에 한 표, 마음에 드는 정당에 한표해서 도장을 총 2번 찍는데요. 이때 정당은 받은 득표율에 따라, 비례대표 의석(47석)을 갈라 가져가요. 그리고 선거 전에 미리 만들어 놓은 ‘비례대표 명부(리스트)’에서 가져간 의석 수만큼 1번부터 n번까지에게 그 자리를 주는 것.</p>
        <br />
        <br />
        <p>+ 비례대표 의원 리스트를 보면, 그 당이 밀고 싶은 정책이 무엇인지를 엿볼 수 있는데요. 특히 비례대표 1번 후보는 각 정당이 미는 컨셉이나 정책의 우선순위를 엿볼 수 있는 힌트가 되어준다고.</p>
        <br />
        <p>또 하나의 토막상식: 비례대표의 홀수 번호(1·3·5번 등)에는 여성을 추천하도록 법에 정해져 있어요.</p>
        <br />
        <br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/12C7tErjFxA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="dictionary-body-item scroll-fadeup js-scroll-animation">
      <h3 class="js-toggle" role="button">
        준연동형비례대표제 ⭐
        <i class="icon-caret"></i>
      </h3>
      <div>
        <p>
          올해 총선부터는 국회의원을 뽑는 방식이 달라졌어요. 이전의 선거방식이 민심을 제대로 반영 못한다는 의견이 많았거든요. 그래서 지지율이 30%든 60%든 상관없이 1등만 하면 장땡인 '지역구 선거'의 영향을 줄이고, 정당 득표율에 따라 의석수를 배분하면 민심이 더 잘 반영되지 않겠냐는 말이 나왔는데요(연동형 비례대표제). 그렇다고 갑자기 지역구 의원을 모두 없앨 수는 없겠죠. 그래서 300개 중 딱 30개 자리에만 새로운 룰을 반영하자는 '준연동형비례대표제'가 탄생했어요.
        </p>
        <br />
        <button class="js-modal">
          <b style="text-decoration:underline;">
            👉 그래서 뾰족당 고슴의원에게 어떤 변화가 생겼는지 더 알아보기
          </b>
        </button>
        <aside class="modal" role="dialog">
          <article class="modal-dialog">
            <header class="modal-head">
              <button class="modal-close js-modal-close" style="position:static;right:auto;top:auto;">
                <i class="icon-arrow is-left"></i><span class="off-screen">닫기</span>
              </button>
              <figure style="height:300px;background:#333;border:2px solid #000;"></figure>
              <h1 class="modal-head-title">제목</h1>
              <p class="modal-head-description">내용내용내용내용내용.</p>
            </header>
            <section class="modal-body">
              <button class="accordion-trigger" type="button" aria-expanded="false">
                보유세
              <article class="accordion-panel">
                안녕
              </article>
              <button class="accordion-trigger" type="button" aria-expanded="false">
                분양가 상한제
              </button>
              <article class="accordion-panel">
                안녕
              </article>
              <button class="accordion-trigger" type="button" aria-expanded="false">
                주담대 (대출규제)
              </button>
              <article class="accordion-panel">
                안녕
              </article>
            </section>
          </article>
        </aside>
      </div>
    </div>
    <div class="dictionary-body-item scroll-fadeup js-scroll-animation">
      <h3 class="js-toggle" role="button">
        만 18세 🎒
        <i class="icon-caret"></i>
      </h3>
      <div>
        <p>투표할 수 있는 최소 나이. 단, 2002년 4월 16일 태어난 뉴니커까지만 가능해요. 원래 만 19세였던 투표연령이 만 18세로 내려가면서, 유권자 약 500만 명이 늘어날 예정이에요. 또, 고등학생(5만 명)도 선거에 참여할 수 있게 되었는데요. 청소년의 표심이 어디로 향하는지 처음으로 확인해 보는 거라, 정당들도 설렘 반 긴장 반하면서 지켜보고 있어요.</p>
        <br />
        <button class="js-modal">
          <b style="text-decoration:underline;">
            👉 나 지금 고등학생 뉴니커인데
          </b>
        </button>
        <aside class="modal" role="dialog">
          <article class="modal-dialog">
            <header class="modal-head">
              <button class="modal-close js-modal-close" style="position:static;right:auto;top:auto;">
                <i class="icon-arrow is-left"></i><span class="off-screen">닫기</span>
              </button>
              <h1 class="modal-head-title">나 지금 고등학생 뉴니커인데!</h1>
              <!-- <p class="modal-head-description">내용내용내용내용내용.</p> -->
            </header>
            <section class="modal-body">
              <h2>가이드라인 등판</h2>
              <p>3월 11일, 선관위가 가이드라인을 발표했어요: 학교 안에서 어떤 선거 활동은 되고, 어떤 건 안 되는지 정리한 건데요. 꼭 알아두면 좋을 몇 가지만 소개할게요.</p>
              <ul>
                <li>👩‍🎓 <b>학생 편:</b> 만 18세가 되기 전에는 정당에 가입하거나 선거운동을 할 수 없어요. 즉, 고등학생 중에 생일이 지난 사람만 정당에 가입하거나 선거운동을 할 수 있다는 이야기. 하지만 본격 선거운동이 시작되는 4월 2일~4월 14일에 학교 방송이나 녹음기를 이용해 선거운동을 하면 삐- 선거법 위반입니다.</li>
                <li>👩‍🏫 <b>교사 편:</b> 선생님은 수업 시간에 특정 정당이나 후보자를 지지하거나 반대하면 안 돼요. 학생들 핸드폰이나 이메일로 특정 정당/후보자에 대해 유리하게 말하면 안 되고요.</li>
                <li>🧔 <b>후보자 편:</b> 학교 안에서 명함을 나눠주기, 연설하기 등은 학교가 어떻게 허락하면 가능해요. 하지만 몇몇 후보자에게만 선거 운동할 기회를 주는 건 금지라고.</li>
              </ul>
              <h2>만 18세 선거권이 시끌시끌했던 이유</h2>
              <p>정치권, 교육계, 학부모, 학생. 너나 할 것 없이 만 18세의 투표 참여를 두고 무려 23년간 입씨름을 벌여왔어요.</p>
              <ul>
                <li>🙆 <b>찬성:</b> 세금 내는 거, 군대 가는 거 모두 만 18세부터잖아. 의무를 줬으면 권리도 줘야지. 그리고 요즘 세계 트렌드가 만 18세부터 선거한다는 거, hoxy 아니? (OECD 회원국 중 선거연령 가장 높은 나라).</li>
                <li>🙅‍♀️ <b>반대:</b> 선생님은 수업 시간에 특정 정당이나 후보자를 지지하거나 반대하면 안 돼요. 학생들 핸드폰이나 이메일로 특정 정당/후보자에 대해 유리하게 말하면 안 되고요.</li>
              </ul>
              <p>하지만 정작 당사자인 청소년들은 (2017년 조사 결과) 약 66%가 선거연령을 낮추는 데 동의했다고.</p>
            </section>
          </article>
        </aside>
      </div>
    </div>
    <div class="dictionary-body-item scroll-fadeup js-scroll-animation">
      <h3 class="js-toggle" role="button">
        여론조사 📞
        <i class="icon-caret"></i>
      </h3>
      <div>
        <p>일반적으로 여론조사를 통해, 이번 선거에서 누가 대세인지 알 수 있죠. 그런데 선거 6일 전부터는 여론 조사 결과를 공개할 수 없다는 사실, 아셨나요? (1) 여론조사에 높은 지지율을 보인 후보자에게 표가 더 쏠리거나, (2) 지지율이 낮은 후보자에게 표가 쏠리는 등 선거 결과에 영향을 줄 수 있어서 법으로 금지했다고.</p>
        <br />
        <p>+ **요즘 여론조사가 잘 안 보이는 이유:** 법이 까다로워지면서 여론조사 자체가 적게 시행됐기 때문. 지난 총선 때는 후보자가, 각자 여론을 조사해서 결과를 발표했는데요. 총선 끝나고 보니 실제 결과와 다른 경우가 많았다는 것. 그래도 여론을 알고 싶다면 <a href="https://www.nesdc.go.kr/portal/main.do">[중앙선거여론조사심의위원회 홈페이지]</a>에서 확인할 수 있어요.</p>
      </div>
    </div>
    <div class="dictionary-body-item scroll-fadeup js-scroll-animation">
      <h3 class="js-toggle" role="button">
        사전선거 📅
        <i class="icon-caret"></i>
      </h3>
      <div>
        <p>선거 당일 투표할 수 없다면, 4월 10일(금)-11일(토)에 미리 투표할 수 있어요! 미리 신청해야 하는 거 아니냐고요? 댓츠 노노. 주민등록증, 운전면허증, 여권 등 신분증 하나만 들고, 주변 사전투표소 아무데나 찾아가면 끝! 참 쉽죠? 🎨</p>
      </div>
    </div>
  </section>

  <div class="gosum">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <img src="/public/images/gosum-default.png" style="width: 20%;position: absolute;top: 25%;left:-10rem;z-index: 0;transform: rotate(65deg);" alt="">
  <img src="/public/images/gosum-default.png" style="width: 20%;position: absolute;top: 45%;right:-10rem;z-index: 0;transform: rotate(-105deg);" alt="">
</section>

<section class="faq js-section">
  <header class="style-heading">
    <h2 id="faq" class="scroll-fadeup js-scroll-animation">
      준비 끝!<br />이제 투표장가면 되는 건가?
    </h2>
    <p class="faq-description scroll-fadeup js-scroll-animation">
      호옥시 주변에 아직 누구 뽑을지 잘 모르겠다고 말하는 친구가 있다면,
      <br />
      이 링크를 전달해 주세요. "이거 하나면 투표 문제 없슴!"이라면서요. 
    </p>
    <!-- <div style="display:flex;align-items:center;justify-content:center;width:100px;height:100px;border-radius:50%;border:1px solid #000;position:absolute;right:10%;bottom:0;animation:rotation 4s infinite;">★신분증 필수★</div> -->
    <!-- <div style="display:flex;align-items:center;justify-content:center;width:100px;height:100px;border-radius:50%;border:1px solid #000;position:absolute;left:5%;bottom:-12rem;animation:rotation 4s infinite;">★신분증 필수★</div> -->
    <!-- ★★★★★ 신분증 필수 ★★★★★ -->
    <!-- 주민등록증, 운전면허증, 여권 등 관공서나 공공기관이 발급하고 사진이 붙어있는 신분 증명서</p> -->
  </header>

  <!-- <div>TODO:: 신분증들고 있는 고슴이</div> -->
  
  <div class="style-row js-scroll-animation">
    <article class="style-column">
      <h3>#사전투표</h3>
      <p>사전투표란? 투표 당일, 투표장에 가기 어렵다면 사전투표로 (   )를 보여주세요. 따로 신청하지 않아도, 전국 어디서나 투표할 수 있어요.</p>
      <div>
        <b>시간</b>
        <p>
          4월 10일(금) 오전 6시 ~ 오후 6시
          <br />
          4월 11일(토) 오전 6시 ~ 오후 6시
        </p>
      </div>
      <div>
        <b>장소</b>
        <p>근처 사전투표소 아무곳이나 가능.</p>
      </div>
      <footer>
        <a href="" target="_blank" class="primary-button">근처 사전투표소 찾기</a>
      </footer>
    </article>
    <article class="style-column">
      <h3>#본투표</h3>
      <p>투표 당일이 되었습니다. 아직 투표 안 한 뉴니커는 모두 고개를 들어주세요.</p>
      <div>
        <b>시간</b>
        <p>4월 15일(수) 오전 6시 ~ 오후 6시</p>
      </div>
      <div>
        <b>장소</b>
        <p>주민등록주소에 따라 정해져 있는 투표소에서만 투표할 수 있어요!</p>
      </div>
      <footer>
        <a href="" target="_blank" class="primary-button">내 투표소 찾기</a>
      </footer>
    </article>
  </div>
  
  <section class="manual js-scroll-animation">
    <header>
      <h2 class="manual-title">#투표장 Dos & Don’ts</h2>
    </header>
    <article>
      <h4 class="manual-subhead"><i>하나</i>투표 용지 접는 법</h4>
      <div class="manual-body">
        <i class="emoji is-large">🙅‍♀️</i>
        <p>
          도장을 찍은 후에 가로로 접는 건 삐 -.
          <br />
          잘못하면 다른 후보 또는 정당에 도장이 묻을 수도 있기 때문.
        </p>
      </div>
      <div class="manual-body" style="border-top:none;">
        <i class="emoji is-large">🙆‍♀️</i>
        <p>투표 용지는 반드시 세로로 접어주세요.</p>
      </div>
    </article>
    <article>
      <h4 class="manual-subhead"><i>둘</i>투표 인증샷 찍는 법</h4>
      <div class="manual-body">
        <i class="emoji is-large">🙅‍♂️</i>
        <p>
          도장 찍은 다음에 마음 급한 나머지 투표용지 찍어올렸다면 삐 -.
          <br />
          공직선거법 위반으로 벌금을 물 수도 있어요.
        </p>
      </div>
      <div class="manual-body">
        <i class="emoji is-large">🙆‍♂️</i>
        <p>
          투표 인증샷은 가능하면 꼭! 기표소 밖에서 해주세요.<br />
          아참! 이제 엄지 척👍, 브이✌️, 오케이👌 사인도 다 가능해졌다는 사실.
        </p>
      </div>
      <div class="manual-body" style="border-top:none;border-bottom:none;">
        <p>🦔고슴이: 인증샷 찍고 <u>해시태그 ‘#고슴덕에투표했슴’</u> 다는 것도 잊지 마슴!</p>
      </div>
    </article>
  </section>
</section>

<aside class="newneek-banner">
  <div class="newneek-banner-background"></div>
  <img class="newneek-banner-image" src="/public/images/gosum-default.png" alt="">
  <p class="newneek-banner-text">아직 뉴닉 뉴스레터 구독 안 했슴? 👉👉 </p>
  <a href="https://newneek.co/" class="newneek-banner-button primary-button">지금 구독하기</a>
</aside>

<div style="width:40%;margin:0 auto -4rem;"><img src="/public/images/gosumduck.png" alt=""></div>

<form class="newneek-subscribe">
  <h2 class="newneek-subscribe-title">구독 타이틀.</h2>
  <p class="newneek-subscribe-description">구독 디스크립션.</p>
  <button class="primary-button" type="submit">신청하기</button>
  <!-- <div class="newneek-subscribe-field textfield">
    <input class="textfield-input" placeholder="Enter Your Email..">
  </div> -->
  <!-- <small class="newneek-subscribe-helper">Read more about how we collect and use your data in our <a href="">Privacy Policy page.</a></small> -->
</form>

<footer class="newneek-footer">
  <p>우리가 시간이 없지, 뉴스가 안 궁금하냐!</p>
  <div>NEWNEEK</div>
  <address>서울특별시 중구 남대문로9길 40</address>
  <small>Copyright ⓒ NEWNEEK Co., Ltd. 2018-2020.</small>
  <div style="padding:0 0 2rem;margin-left:auto;">
    <a href="#" style="display:inline-block;width:2rem;margin-right:2rem;"><img src="/public/icons/instagram.svg" alt=""></a>
    <a href="#" style="display:inline-block;width:2rem;"><img src="/public/icons/facebook.svg" alt=""></a>
  </div>
</footer>

<script>

document.addEventListener('DOMContentLoaded', function() {
  // console.log('history', window.location)

  // if ( window.location == 'http://www.abc.com/' ) {
  //   window.location.href='http://www.codingfactory.net/';
  // }

  if (typeof NodeList !== "undefined" && NodeList.prototype && !NodeList.prototype.forEach) {
    // Yes, there's really no need for `Object.defineProperty` here
    NodeList.prototype.forEach = Array.prototype.forEach;
  }
  // document.addEventListener('DOMContentLoaded', function(){
  // const scrollTarget = document.querySelectorAll('.js-scroll-animation')

  // console.log(scrollTarget)
  // const SCROLLED_CLASS = 'is-scrolled'
  // if (!scrollTarget) return

  // let temp

  // scrollTarget.forEach(function(element) {
  //   const isScrolled = element.getBoundingClientRect().bottom <= window.innerHeight
  //   if (!isScrolled) return

  //   element.classList.add(SCROLLED_CLASS)
  // })

  // window.addEventListener('scroll', function() {
  //   scrollTarget.forEach(function(element) {
  //     console.log(window.pageYOffset, element.getBoundingClientRect().top)

  //     const isScrolled = element.getBoundingClientRect().top + element.clientHeight * 0.5 <= window.innerHeight;
  //     // const isScrolled = window.pageYOffset > window.pageYOffset + element.getBoundingClientRect().top - window.innerHeight + 50
  //     if (!isScrolled) return

  //     element.classList.add(SCROLLED_CLASS)
  //     })
  //   })
  // })

  const toggleClass = function() {
    const triggers = document.querySelectorAll('.js-toggle')
    const ACTIVE_CLASS = 'is-active'
    const ACTIVE_CLASS2 = 'is-visible'
    if (!triggers) return

    triggers.forEach(function(element) {
      element.addEventListener('click', function(event) {
        event.preventDefault() // a tag에 사용하는 경우
        event.stopPropagation()

        const triggerNextElement = element.nextElementSibling
        if (!triggerNextElement) return

        element.classList.toggle(ACTIVE_CLASS)
        element.setAttribute('aria-expanded', element.classList.contains(ACTIVE_CLASS))

        element.nextElementSibling.classList.toggle(ACTIVE_CLASS2)
        element.nextElementSibling.addEventListener('click', function(event) {
          event.stopPropagation()
        })
  
        triggers.forEach(function(element) {
          if (event.target === element) return
          element.setAttribute('aria-expanded', 'true')
          element.classList.remove(ACTIVE_CLASS)
          element.nextElementSibling.classList.remove(ACTIVE_CLASS2)
        })
      })
    })
    document.body.addEventListener('click', function() {
      triggers.forEach(function(trigger) {
        trigger.setAttribute('aria-expanded', 'true')
        trigger.classList.remove(ACTIVE_CLASS)
        trigger.nextElementSibling.classList.remove(ACTIVE_CLASS2)
      })
    })
  }

  toggleClass()

  window.addEventListener('scroll', function() {
    let rate = window.pageYOffset * 0.005
    if(window.scrollTop < 1200) {
      document.querySelector('.newneek-hero h1').style.transform = 'rotate(-4deg) scale(' + rate + '})';
    }

    const offset = document.querySelector('.dictionary').getBoundingClientRect().bottom
    const offset2 = document.querySelector('.newneek-subscribe').getBoundingClientRect().bottom + 2000

    if(window.pageYOffset > offset && window.pageYOffset < offset2) {
      document.querySelector('.newneek-banner').classList.add('is-up')
    } else {
      document.querySelector('.newneek-banner').classList.remove('is-up')
    }
  })

  const scrollTarget = document.querySelectorAll('.js-scroll-animation')
  const SCROLLED_CLASS = 'is-scrolled'
  if (!scrollTarget) return

  let temp
  scrollTarget.forEach(function(element) {
    const isScrolled = element.getBoundingClientRect().bottom <= window.innerHeight
    if (!isScrolled) return

    element.classList.add(SCROLLED_CLASS)
  })

  window.addEventListener('scroll', function() {
    scrollTarget.forEach(function(element) {
      const isScrolled = element.getBoundingClientRect().top + element.clientHeight * 0.5 <= window.innerHeight;
      if (!isScrolled) return

      element.classList.add(SCROLLED_CLASS)
      temp && window.cancelAnimationFrame(temp)
      temp = window.requestAnimationFrame(function() {
      })
    })
  })


  const sections = document.querySelectorAll('.js-section')
  const menus = document.querySelectorAll('.newneek-navbar-menu-item')
  // if(!sections || !menus) return

  menus.forEach(function(element, index) {
    element.addEventListener('click', function(event) {
      event.preventDefault()
      const targetOffsetY = sections[index].offsetTop
      window.scrollTo(0, targetOffsetY)
    })
  })
  window.addEventListener('scroll', function() {
    sections.forEach(function(section, index) {
      if(section.offsetTop <= window.pageYOffset + 200) {
        menus.forEach(function(menu) {
          menu.classList.remove('is-active')
        })
        menus[index].classList.add('is-active')
      }
    })
  })

  //sticky
  const body = document.body
  const stickyElement = document.querySelector('.js-navbar')
  if (!stickyElement) return

  let stickyElementHeight = stickyElement.offsetHeight
  let isScrolling

  window.addEventListener('resize', function() {
    isScrolling && window.cancelAnimationFrame(isScrolling)
    isScrolling = window.requestAnimationFrame(function() {
      stickyElementHeight = stickyElement.offsetHeight
    })
  })

  window.addEventListener('scroll', function() {
    // console.log(stickyElementHeight) // 133
    isScrolling && window.cancelAnimationFrame(isScrolling)
    isScrolling = window.requestAnimationFrame(function() {
      if (window.pageYOffset > stickyElement.offsetTop + stickyElementHeight) {
        body.classList.add('is-sticky-navbar')
      } else {
        body.classList.remove('is-sticky-navbar')
      }
    })
  })



  const modals = document.querySelectorAll('.js-modal')
  if (!modals) return

  modals.forEach(function(modal) {
    modal.addEventListener('click', function(event) {
      event.stopPropagation()
      event.preventDefault()

      const nextElementSibling = modal.nextElementSibling
      const closeTrigger = nextElementSibling.querySelector('.js-modal-close')
      if(!nextElementSibling || !closeTrigger) return

      const pageYOffset = window.pageYOffset

      
      nextElementSibling.classList.add('is-visible')
      
      document.body.classList.add('body-lock')
      document.body.style.top = pageYOffset + 'px'
      closeTrigger.addEventListener('click', backHistory)

      const state = { name: 'tester' }
      const title = 'dd'
      const url = 'modal'
      history.pushState(state, title, url)

      window.addEventListener('popstate', function() {
        const isOpened = nextElementSibling.classList.contains('is-visible')
        if (!isOpened) return

        nextElementSibling.classList.remove('is-visible')
        
        document.body.classList.remove('body-lock')
        window.scrollTo(0, pageYOffset)
      });
      document.addEventListener('click', backHistory)

      function backHistory() {
        history.back()
      }
    })
  })
  const modalDialog = document.querySelectorAll('.modal-dialog')
  modalDialog.forEach(function(element) {
    element.addEventListener('click', function() {
      event.stopPropagation()
    })
  })
    
  var now = new Date()
  var then = new Date("April 16, 2020")
  var gap = then.getTime() - now.getTime()
  gap = Math.floor(gap / (1000 * 60 * 60 * 24))
  const aaa = document.querySelector('.dday i')
  console.log(aaa, aaa.innerText, gap)
  aaa.innerText = gap


})
</script>
</body>
</html>


<!-- <h1 style="-webkit-text-stroke:1px #000;font-size:6rem;line-height:1.2;color:#fff;position:fixed;left:4rem;top:6rem;z-index:2;">선약이<br />있어서<br />자아실현은<br />못할 것 같아요.</h1>
<div style="width:800px;height:800px;border-radius:50%;background:crimson;position:fixed;left:50%;top:50%;transform:translate(-50%, -50%)"></div> -->

<!-- <button class="temp-button" onClick="javascript:alert('없음')">아무렇게나 해보는 버튼</button> -->
<!-- <div class="statistic"><span class="statistic-value">21,682</span><i class="statistic-label">성공한 펀딩횟수</i></!-->
<!-- <h1 style="display:flex;align-items:center;justify-content:center;margin:0 1rem;font-size:4rem;padding:0 3rem;color:#0057ff;line-height:1.1;-webkit-text-stroke:1px #0057ff;">
  안녕
  <img src="/public/images/star1.svg" style="width:60px;" alt="">
  하세요!
</h1> -->