<!-- <link href="https://fonts.googleapis.com/css?family=Gothic+A1:300,400,700,900&d?isplay=swap&subset=korean" rel="stylesheet" /> -->

<nav class="navbar1">
  <p style="font-family: 'Ma Shan Zheng', cursive;color:#000;font-size:12rem;">工事中</p>
</nav>
<main class="home">
  <div style="height:640px;background:url('/public/images/vintage.jpeg') no-repeat center center fixed;background-size:cover;"></div>
  <div class="marquee" style="margin-top:-100px;">
    <p>이게 트렌드다!!!</p>
  </div>
  <p><img style="width:32px;display:block;" src="/public/images/cursor.png" alt=""></p>
  <div class="quote" style="margin:2rem;border:3px solid #000;font-family:san-serif;font-weight:700;">
    <div class="quote-avatar avatar">
      <i class="icon-person"></i>
    </div>
    <div class="quote-body">"Amazing experience I love it a lot. Thanks to the team dreams come true, great! I really."</div>
    <div class="quote-byline">
      <div>Lassy Chester,</div>
      <div>Art Director</div>
    </div>
    <button class="tertiary-button" style="margin:2rem 0 0 0;width:50%;border:3px solid #000;">자세히보기</button>
  </div>

  <!-- <figure style="height:90vh;margin-top:-120px;background: url(/public/images/caleb-woods-182648-unsplash.jpg) no-repeat 50%;background-size: cover;"></figure> -->
  <style>
    @import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');
    @import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');
    html {
      -webkit-font-smoothing:antialiased;
      font-family: sans-serif;
      /* cursor: url(public/images/cursor.png), auto;	 */

    }
    body {
      background: #f4f3f3;
    }
    /* .icon-person:before {border-width:2.5px;}
    .icon-person:after {border-width:2.5px;} */
    .navbar {
      background: #f4f3f3;

    }
    .navbar1 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 80px;
      margin: 8rem auto 0;
      border: 3px solid #000;
    }
    main {
      width: 80%;
      margin: -3px auto 0;
      border: 3px solid #000;
      /* position: relative; */
      
    }
    /* main:before {
      content: '';
      display: block;
      width: 3px;
      height: 100%;
      background: #000;
      position: absolute;
      left: 50%;
    } */
    footer {
      width: 80%;
      padding: 1.5rem 4rem;
      margin: -3px auto 6rem;
      border: 3px solid #000;
    }
    footer p {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 1.25rem;
    }

    /* html {font-family: 'Gothic A1', sans-serif;letter-spacing:-.05rem} */
    .board {
      max-width: 1080px;
      margin: 4rem 0;
    }
    .board-head {
      display: flex;
    }
    /* .board-head div {width:25%;} */
    .board-body {
      display: flex;
      padding: 0.5rem 0;
    }
    /* .board-body div {width:25%;color:#333;} */
    .board-body small {
      display: block;
      color: #999;
    }

    .home-hero-image {
      height: 800px;
      transition: all 0.4s;
    }
    .home-hero-image.is-scrolled {
      margin: -5%;
    }

    .board-head-title:nth-of-type(1) {
      width: 20px;
    }
    .board-head-title:nth-of-type(2) {
      width: 60px;
    }
    .board-head-title:nth-of-type(3) {
      width: 300px;
    }
    .board-head-title:nth-of-type(4) {
      width: 300px;
    }
    .board-head-title:nth-of-type(5) {
      width: 100px;
    }
    .board-head-title:nth-of-type(5) {
      width: 50px;
    }

    .banner,
    .header {
      display: none;
    }
    .marquee {
      padding: 0.5em 0;
      overflow: hidden;
      margin-bottom: 10px;
      position: relative;
      -webkit-text-stroke: 3px #000;
      color:#fff;

    }
    .marquee p {
      margin: 0;
      padding-left: 100%;
      display: inline-block;
      white-space: nowrap;
      animation-name: marquee;
      animation-timing-function: linear;
      animation-duration: 12s;
      animation-iteration-count: infinite;
      font-family: 'DunkelSans';
      font-size: 10rem;
    }
    .marquee p:hover {
      /* animation-play-state: paused; */
    }
    .marquee p:after {
      content: '';
      white-space: nowrap;
      padding-right: 50px;
    }

    .footer,
    .toast {
      display: none;
    }

    @keyframes marquee {
      from {
        transform: translate(0%);
      }
      99%,
      to {
        transform: translate(-100%);
      }
    }
  </style>
  <!-- <section class="home-hero">
    <h1 class="home-hero-title">
      <i class="home-hero-eyebrow">🐣</i>
      <span class="t1">부끄러우니까, </span>
      <span class="t2">보지마요.</span>
    </h1>
    <p class="home-hero-description"></p>
    <div class="home-hero-image js-scroll-animation"><img src="/public/images/caleb-woods-182648-unsplash.jpg" alt=""></div>
  </section> -->

  <!-- <button name="usa">미국</button>
    <article class="board">
      <div class="board-head">
        <div class="board-head-title">Title</div>
        <div class="board-head-title">Title</div>
        <div class="board-head-title">Title</div>
        <div class="board-head-title">Title</div>
        <div class="board-head-title">Title</div>
      </div>
    </article> -->
  <!-- <form>
    <input type="text" style="display:block;width:50%;margin:2rem auto;height:56px;border:3px solid #000;font-size:2rem;">
  </form> -->
  <div style="margin:2rem;">
    <button class="temp-button" onClick="javascript:alert('없음')">아무렇게나 해보는 버튼</button>
  </div>
  <div class="statistic"><span class="statistic-value">21,682</span><i class="statistic-label">성공한 펀딩횟수</i></div>
  <style>
    .temp-button {width:200px;height:56px;background:#76faad;text-align:center;font-size:16px;font-weight:700;position:relative;}
    /* .temp-button:hover {background:#fff;} */
    .temp-button:before {content:'';width:200px;height:56px;background:#ddd;position:absolute;left:6px;top:6px;z-index:-1;transition:all .2s ease;}
    .temp-button:hover:before {left:-6px;top:-6px;}
    .temp-button:after {content:'';width:200px;height:56px;border:3px solid #000;box-sizing:border-box;position:absolute;left:0;top:0;z-index:1;transition:all .2s ease;}
    .temp-button:hover:after {left:6px;top:6px;z-index:-1;}
    .statistic {width:auto;margin:2rem;border:3px solid #000;text-align:center;}
    .statistic-label {padding:.5rem 1rem;border-top:3px solid #000;font-size:16px;color:#000;font-weight:bold;}
    .statistic-value {display:block;padding:1rem;font-family:'DunkelSans';color:#000;font-size:2rem;}
  </style>
</main>
<footer>
  <p style="font-family: 'ZCOOL QingKe HuangYou', cursive;color:#000;">匹伊更中載織際墜芸聞投同通護掲社競必著。辞投見研逸報団座相検自渡理。盟三難載年会組宣施読郁郎対成独職軽。證平良入頻一皇覇社六請寄質致子接。拉財辺角間接景千聞罪口直民宮入負歩立教村。議視置暮規重着経前済式碁際万遺差係始貢。極増現問橋示毎外尾書立第。買達申米級周権詳査業季挙回辺朝経。属石保悪錯題軽工団象長意巨間確権更芸。</p>
</footer>
