<main class="search pattern js-tab" role="" aria-label="site">
  <div class="article">
    <h1 class="article-title">Indicators</h1>
    <p class="article-description">Signifier와 무엇이 다른가.</p>

    <section class="component-example">
      <div class="tile-flat">
        <figure class="chip-icon"><span class="material-symbols-outlined">search</span></figure>
      </div>

      <div class="tile-flat">
        <menu class="sorting-group">
          <span class="sorting-title">Sort by</span>
          <div class="sorting-item">
            <select class="" id="">
              <option class="select-option" value="select-option1">최신순</option>
            </select>
            <span class="icon-indicator material-symbols-outlined" role="img">arrow_drop_down</span>
          </div>
        </menu>
        <button class="title-button">
          <h1 class="hero-title" style="display: flex; align-items: center">
            Dummies
            <span class="icon-indicator material-symbols-outlined" data-size="small" role="img">arrow_drop_down</span>
          </h1>
        </button>
        <button style="display: flex; align-items: center; line-height: 24px">
          See more trending developers
          <span class="icon-indicator material-symbols-outlined">arrow_right_alt</span>
        </button>
        <button class="" style="display: flex; align-items: center; line-height: 24px; position: relative">
          Show more
          <span class="icon-indicator material-symbols-outlined">expand_more</span>
        </button>
      </div>
    </section>

    <h4 class="article-subhead">검색의 시작<br />onFocus - 키워드 입력 대기</h4>
    <ul>
      <li><b>onBlur. (default)</b> 인기 콘텐츠 또는 추천 콘텐츠 등 개인화 콘텐츠 탐색할 수 있다.</li>
    </ul>
  </div>
</main>
