<main class="search pattern js-tab" role="" aria-label="site">
  <div class="article">
    <h1 class="article-title">Indicators</h1>
    <p class="article-description">Signifier와 무엇이 다른가.</p>

    <section class="component-example">
      <div class="tile-flat">
        <figure class="chip-icon"><span class="material-symbols-outlined">search</span></figure>
      </div>
    </section>

    <h4 class="article-subhead">검색의 시작<br />onFocus - 키워드 입력 대기</h4>
    <ul>
      <li><b>onBlur. (default)</b> 인기 콘텐츠 또는 추천 콘텐츠 등 개인화 콘텐츠 탐색할 수 있다.</li>
    </ul>
  </div>
</main>
