<main class="landing">
  <header class="landing-hero js-observer" role="banner" style="max-width: 1200px; margin: 0 auto">
    <!-- <div class="landing-hero-background"></div> -->
    <figure class="landing-hero-object1"></figure>
    <!-- <span class="hero-eyebrow"></span> -->
    <h2 class="landing-hero-title" style="color: var(--color-text-light)">Eyebrow</h2>
    <h2 class="landing-hero-title">This is hero section<i style="font-style: italic">!</i></h2>
    <p class="landing-hero-description">
      <span class="linebreak-desktop">Where teams create the world’s best experiences at scale,</span> 오브젝트를 감싸는 컴포넌트가 있는 것이 좋음.
    </p>
    <footer class="landing-hero-actions">
      <button class="landing-hero-actions-primary">Call to action</button>
      <button class="landing-hero-actions-secondary">More</button>
    </footer>

    <article class="tile-elevated landing-hero-object2" style="width: 100%; max-width: 380px">
      <figure class="user-avatar"></figure>
      <h2 class="user-name">Gyeongsoo I</h2>
      <div class="user-id">@soojubm</div>
      <div class="user-job">Youtube Subscriber</div>

      <footer class="user-foot" style="position: absolute; right: 1rem; top: 1rem">
        <button class="chip">
          <span class="chip-label">팔로우 중</span>
        </button>
      </footer>
      <div class="statistic" data-size="small" style="justify-content: left; margin-left: 0">
        <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
          <i class="statistic-label">팔로워</i>
          <span class="statistic-value">62</span>
        </div>
        <i class="icon-bullet"></i>
        <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')">
          <i class="statistic-label">팔로잉</i>
          <span class="statistic-value">8</span>
        </div>
      </div>
      <article class="avatargroup" style="margin-bottom: 0">
        <figure>
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <figure>
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <figure>
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <figure>
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <span class="avatargroup-label">Followed by 수줍이 외 4명</span>
      </article>
    </article>
  </header>

  <section class="feature" style="max-width: 640px">
    <header class="feature-head" style="text-align: center">
      <h1 class="feature-head-title">Why go Premium?<br />Get involved in our community. Everyone is welcome!</h1>
      <p class="feature-head-description">Get involved in our community. Everyone is welcome!</p>
    </header>
    <div class="feature-item">
      <span class="feature-item-avatar" role="img">💃</span>
      <h3 class="feature-item-title">무료로 숙소 등록하기</h3>
      <p class="feature-item-description">남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
      <a class="feature-item-link" href="#">숙소 등록</a>
    </div>
    <div class="feature-item">
      <span class="feature-item-avatar" role="img">💃</span>
      <h3 class="feature-item-title">무료로 숙소 등록하기</h3>
      <p class="feature-item-description">남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
    </div>
    <div class="feature-item">
      <span class="feature-item-avatar" role="img">💃</span>
      <h3 class="feature-item-title">무료로 숙소 등록하기</h3>
      <p class="feature-item-description">남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
    </div>
    <div class="feature-item">
      <span class="feature-item-avatar" role="img">💃</span>
      <h3 class="feature-item-title">무료로 숙소 등록하기</h3>
      <p class="feature-item-description">남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
    </div>
  </section>

  <section class="faq" style="margin: 0 auto; padding: 0 var(--grid-margin)">
    <abbr title="Frequently asked questions" hidden>FAQ</abbr>
    <header style="padding-bottom: 1.5rem">
      <h2 style="font-size: var(--font-size-huge)" title="FAQs">Find Your Answers<br />궁금한 점이 있으신가요?</h2>
    </header>
    <article class="accordion js-accordion is-active" aria-expanded="false">
      <h3 class="accordion-title" role="button">
        탈퇴는 어떻게 하나요?
        <figure class="accordion-title-icon">
          <span class="material-symbols-outlined">expand_more</span>
        </figure>
      </h3>
      <div class="accordion-panel">
        <p>모든 국민은 건강하고 쾌적한 환경에서 생활할 권리를 가지며, 국가와 국민은 환경보전을 위하여 노력하여야 한다.</p>
        <p>
          제1항의 지시를 받은 당해 행정기관은 이에 응하여야 한다. 국회의원은 법률이 정하는 직을 겸할 수 없다. 대통령의 임기연장 또는 중임변경을 위한
          헌법개정은 그 헌법개정 제안 당시의 대통령에 대하여는 효력이 없다.
        </p>
      </div>
    </article>
    <article class="accordion js-accordion" aria-expanded="false">
      <h3 class="accordion-title" role="button">
        주문은 어떻게 취소하나요?
        <figure class="accordion-title-icon">
          <span class="material-symbols-outlined">expand_more</span>
        </figure>
      </h3>
      <div class="accordion-panel">
        <p>모든 국민은 건강하고 쾌적한 환경에서 생활할 권리를 가지며, 국가와 국민은 환경보전을 위하여 노력하여야 한다.</p>
        <p>
          제1항의 지시를 받은 당해 행정기관은 이에 응하여야 한다. 국회의원은 법률이 정하는 직을 겸할 수 없다. 대통령의 임기연장 또는 중임변경을 위한
          헌법개정은 그 헌법개정 제안 당시의 대통령에 대하여는 효력이 없다.
        </p>
      </div>
    </article>
    <!-- <footer>
      <p style="margin:var(--space-4) 0 0 0;">궁금증이 해결되지 않는다면? <a href="#">Get in touch with us.</a></p>
    </footer> -->
  </section>

  <!-- <section class="landing-2">
    <div class="landing-2-background"></div>
    <figure class="landing-2-figure"></figure>
    <h2 class="landing-2-title">Section heading</h2>
    <p class="landing-2-description">
      Our creators are building plugins like linters, chart generators, animation tools, and many more productivity enhancers. You can, too.
    </p>
    <p class="landing-2-description">“It's incredibly easy to build Figma plugins. It took one Sunday morning to build my first ever plugin.”</p>
    <a class="landing-2-button" href="">Create a plugin</a>
  </section> -->

  <section class="aa">
    <a href="#" target="_blank">
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
    </a>
    <!-- <div><img src="" alt=""></div> -->
  </section>
  <!-- <footer class="landing-footer">
    <div class="banner-background"></div>
    <span class="banner-eyebrow">Eyebrow</span>
    <h2 class="banner-title">This is hero section<i style="font-style:italic;">!</i></h2>
    <p class="banner-description">
      <span class="linebreak-desktop">Where teams create the world’s best experiences at scale,</span> powered by the leader in creative tools.
    </p>
    <button class="banner-button">Call to action</button>
  </footer> -->
</main>
