<main class="landing">
  <aside class="banner landing-hero js-observer" role="banner">
    <div class="landing-hero-background"></div>
    <figure class="landing-hero-object1"></figure>
    <span class="banner-eyebrow">Eyebrow</span>
    <h2 class="landing-hero-title banner-title">This is hero section<i style="font-style:italic;">!</i></h2>
    <p class="landing-hero-description banner-description">
      <span class="linebreak-desktop">Where teams create the world’s best experiences at scale,</span> powered by the leader in creative tools.
    </p>
    <button class="banner-button landing-hero-cta">Call to action</button>
    <button class="banner-button landing-hero-more ">More</button>

    <article class="tile-elevated landing-hero-object2">
      <figure class="user-avatar" style="width:var(--size-large);height:var(--size-large);margin-left:0;"></figure>
      <h2 class="user-name" style="text-align:left;">Gyeongsoo I</h2>
      <div class="user-id" style="text-align:left;">@soojubm</div>
      <div class="user-job" style="text-align:left;">Youtube Subscriber</div>
      <!-- <p class="user-description" style="margin:var(--space-2) 0 0 0;">TBreaking news alerts and updates from the BBC. For news, features, analysis follow </p> -->

      <footer class="user-foot" style="position:absolute;right:1rem;top:1rem;">
        <button
          class="profile-foot-follow"
          style="width:auto;height:var(--size-medium);padding-top:0;padding-bottom:0;font-weight:var(--font-weight-normal);background:var(--green100);border:none;color:var(--color-primary);"
        >
          <span class="item-action-label" style="padding:0;">팔로우</span>
        </button>
      </footer>
      <div class="statistic" data-size="small" style="justify-content:flex-start;margin-left:0;">
        <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')" style="display:flex;">
          <i class="statistic-label">팔로워</i>
          <span class="statistic-value" style="margin:0 0 0 var(--space-2);font-size:var(--font-size-body);">62</span>
        </div>
        <i class="icon-bullet"></i>
        <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')" style="display:flex;">
          <i class="statistic-label">팔로잉</i>
          <span class="statistic-value" style="margin:0 0 0 var(--space-2);font-size:var(--font-size-body);">8</span>
        </div>
      </div>
      <article class="avatargroup" style="margin-bottom:0;">
        <span>Followed by</span>
        <figure>
          <img src="https://source.unsplash.com/random" alt="" />
        </figure>
        <figure>
          <img src="https://source.unsplash.com/random" alt="" />
        </figure>
        <figure>
          <img src="https://source.unsplash.com/random" alt="" />
        </figure>
        <figure>
          <img src="https://source.unsplash.com/random" alt="" />
        </figure>
        <span style="margin:0 0 0 var(--space-2);">수줍이 외 4명</span>
      </article>
    </article>
  </aside>

  <!-- <div class="marquee">
    <div class="marquee--inner">
      <span>
        <div class="orb"></div>
        <div class="orb red"></div>
        <div class="orb yellow"></div>
        <div class="orb blue"></div>
        <div class="orb orange"></div>
        <div class="orb purple"></div>
        <div class="orb green"></div>
        <div class="orb"></div>
      </span>
      <span>
        <div class="orb"></div>
        <div class="orb red"></div>
        <div class="orb yellow"></div>
        <div class="orb blue"></div>
        <div class="orb orange"></div>
        <div class="orb purple"></div>
        <div class="orb green"></div>
        <div class="orb"></div>
      </span>
    </div>
  </div> -->

  <section class="product-features">
    <header class="product-features-head">
      <h1 class="product-features-head-title" style="font-size: var(--font-size-huge);text-align:center;">
        Why go Premium?
      </h1>
      <p style="text-align:center;">Get involved in our community. Everyone is welcome!</p>
    </header>
    <div class="product-features-item">
      <span class="product-features-item-avatar" role="img">💃</span>
      <h3 class="product-features-item-title">무료로 숙소 등록하기</h3>
      <p class="product-features-item-description">남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
      <a class="product-features-item-link" href="#">숙소 등록</a>
    </div>
    <div class="product-features-item">
      <span class="product-features-item-avatar" role="img">🧞‍</span>
      <h3 class="product-features-item-title">호스팅 세부사항 설정하기</h3>
      <p class="product-features-item-description">
        호스팅할 수 있는 날짜, 숙소 요금, 게스트 필수요건을 선택하세요. 에어비앤비가 호스팅 전반에 걸쳐 도움을 드립니다.
      </p>
    </div>
    <div class="product-features-item">
      <span class="product-features-item-avatar" role="img">🧚‍</span>
      <h3 class="product-features-item-title">첫 게스트 맞이하기</h3>
      <p class="product-features-item-description">
        숙소가 게시되면 설정하신 예약 조건에 부합하는 게스트가 연락을 할 거예요. 게스트를 맞이하기 전에 궁금한 점이 있으면 언제든 메시지로 물어볼 수
        있습니다.
      </p>
    </div>
  </section>

  <!-- <section class="landing-2">
    <div class="landing-2-background"></div>
    <figure class="landing-2-figure"></figure>
    <h2 class="landing-2-title">Section heading</h2>
    <p class="landing-2-description">
      Our creators are building plugins like linters, chart generators, animation tools, and many more productivity enhancers. You can, too.
    </p>
    <p class="landing-2-description">“It's incredibly easy to build Figma plugins. It took one Sunday morning to build my first ever plugin.”</p>
    <a class="landing-2-button" href="">Create a plugin</a>
  </section>
  <section class="landing-3">
    <div class="landing-3-background"></div>
    <h2 class="landing-3-title">Section heading</h2>
    <p class="landing-3-description">
      Our creators are building plugins like linters, chart generators, animation tools, and many more productivity enhancers. You can, too.
    </p>
    <ul class="landing-3-description article-checklist">
      <li>page inset.</li>
      <li>header inset.</li>
      <li>section inset.</li>
    </ul>
    <a class="landing-3-button" href="">Create a plugin</a>
    <figure class="landing-3-figure"></figure>
  </section> -->

  <style>
    .aa {
      background-color: var(--color-background);
      overflow: hidden;
      position: relative;
    }
    .aa a {
      display: flex;
      align-items: center;
    }
    .aa p {
      white-space: nowrap;
      animation-name: marquee;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 8s;
      will-change: auto;
      color: var(--color-text-light);
      font-size: 5rem;
      font-weight: var(--font-weight-bold);
    }
    .aa p:after {
      content: '';
      white-space: nowrap;
      padding-right: 50px;
    }
  </style>

  <div class="aa">
    <a href="#" target="_blank">
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
      <p>I don't wanna grow up</p>
    </a>
    <!-- <div><img src="" alt=""></div> -->
  </div>
  <!-- <footer class="landing-footer">
    <div class="banner-background"></div>
    <span class="banner-eyebrow">Eyebrow</span>
    <h2 class="banner-title">This is hero section<i style="font-style:italic;">!</i></h2>
    <p class="banner-description">
      <span class="linebreak-desktop">Where teams create the world’s best experiences at scale,</span> powered by the leader in creative tools.
    </p>
    <button class="banner-button">Call to action</button>
  </footer> -->
</main>
