<main class="landing">
  <aside
    class="banner landing-hero"
    role="banner"
    style="max-width:1080px;margin:0 auto;background:var(--color-background-weak);padding-top:6rem;padding-bottom:8rem;text-align:left;"
  >
    <div class="banner-background"></div>
    <figure
      style="width:340px;height:440px;background:url('https://source.unsplash.com/random') center;border-radius:var(--radius);position:absolute;right:5vw;top:3rem;"
    ></figure>
    <span class="banner-eyebrow">Eyebrow</span>
    <h2 class="banner-title" style="font-family:'Changa One';font-weight:var(--font-weight-normal);">
      This is hero section<i style="font-style:italic;">!</i>
    </h2>
    <p class="banner-description">
      <span class="linebreak-desktop">Where teams create the world’s best experiences at scale,</span> powered by the leader in creative tools.
    </p>
    <button class="banner-button" style="margin-right:.5rem;background:var(--color-primary);color:#fff;">Call to action</button>
    <button class="banner-button">More</button>

    <article class="tile-elevated" style="max-width:320px;padding:1rem;z-index:1;filter:blur(1px);position:absolute;right:320px;top:6rem;">
      <figure class="user-avatar"><img src="/public/images/soo.png" alt="" /></figure>
      <h2 class="user-name">Gyeongsoo I</h2>
      <div class="user-id">@soojubm</div>
      <div class="user-job">Youtube Subscriber</div>
      <!-- <p class="user-description" style="margin:var(--space-small) 0 0 0;">TBreaking news alerts and updates from the BBC. For news, features, analysis follow </p> -->

      <footer class="user-foot" style="margin:var(--space) 0;">
        <button class="profile-foot-follow"><span class="item-action-label">팔로우</span></button>
      </footer>
      <!-- <footer class="user-foot" style="display:flex;margin:1rem 0;">
        <span class="tag">대한민국</span>
        <span class="tag">자전거</span>
      </footer> -->
      <div class="statistic" style="justify-content:center;margin:var(--space) 0;">
        <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')" style="display:flex;">
          <i class="statistic-label">팔로워</i>
          <span class="statistic-value" style="margin:0 0 0 var(--space-small);font-size:var(--font-size-body);">62</span>
        </div>
        <i class="icon-bullet"></i>
        <div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')" style="display:flex;">
          <i class="statistic-label">팔로잉</i>
          <span class="statistic-value" style="margin:0 0 0 var(--space-small);font-size:var(--font-size-body);">8</span>
        </div>
      </div>
      <article class="avatarlist" style="margin:var(--space) 0 0 0;justify-content:center;">
        <span>Followed by</span>
        <figure>
          <img src="/public/images/soo.png" alt="" />
        </figure>
        <figure>
          <img src="/public/images/soo.png" alt="" />
        </figure>
        <figure>
          <img src="/public/images/soo.png" alt="" />
        </figure>
        <figure>
          <img src="/public/images/soo.png" alt="" />
        </figure>
        <span style="margin:0 0 0 var(--space-small);">수줍이 외 4명</span>
      </article>
    </article>
  </aside>

  <section class="product-features" style="margin-top:6rem;margin-bottom:5rem;">
    <header class="product-features-head">
      <h1
        class="product-features-head-title"
        style="margin-bottom:-2rem;font-family:'Changa One';font-weight:var(--font-weight-normal);font-size: var(--font-size-huge);text-align:center;"
      >
        Why go Premium?
      </h1>
    </header>
    <div class="product-features-item">
      <span class="product-features-item-avatar" role="img">💃</span>
      <h3 class="product-features-item-title">무료로 숙소 등록하기</h3>
      <p class="product-features-item-description">남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
      <a class="product-features-item-link" href="#">숙소 등록</a>
    </div>
    <div class="product-features-item">
      <span class="product-features-item-avatar" role="img">🧞‍</span>
      <h3 class="product-features-item-title">호스팅 세부사항 설정하기</h3>
      <p class="product-features-item-description">
        호스팅할 수 있는 날짜, 숙소 요금, 게스트 필수요건을 선택하세요. 에어비앤비가 호스팅 전반에 걸쳐 도움을 드립니다.
      </p>
    </div>
    <div class="product-features-item">
      <span class="product-features-item-avatar" role="img">🧚‍</span>
      <h3 class="product-features-item-title">첫 게스트 맞이하기</h3>
      <p class="product-features-item-description">
        숙소가 게시되면 설정하신 예약 조건에 부합하는 게스트가 연락을 할 거예요. 게스트를 맞이하기 전에 궁금한 점이 있으면 언제든 메시지로 물어볼 수
        있습니다.
      </p>
    </div>
  </section>

  <header></header>
  <section class="landing-2">
    <div class="landing-2-background"></div>
    <figure class="landing-2-figure"></figure>
    <h2 class="landing-2-title">Section heading</h2>
    <p class="landing-2-description">
      Our creators are building plugins like linters, chart generators, animation tools, and many more productivity enhancers. You can, too.
    </p>
    <p class="landing-2-description">“It's incredibly easy to build Figma plugins. It took one Sunday morning to build my first ever plugin.”</p>
    <a class="landing-2-button" href="">Create a plugin</a>
  </section>
  <section class="landing-3">
    <div class="landing-3-background"></div>
    <h2 class="landing-3-title">Section heading</h2>
    <p class="landing-3-description">
      Our creators are building plugins like linters, chart generators, animation tools, and many more productivity enhancers. You can, too.
    </p>
    <ul class="landing-3-description">
      <li><i class="icon-check" style="margin-right:var(--space-small)"></i>page inset.</li>
      <li><i class="icon-check" style="margin-right:var(--space-small)"></i>header inset.</li>
      <li><i class="icon-check" style="margin-right:var(--space-small)"></i>section inset.</li>
    </ul>
    <a class="landing-3-button" href="">Create a plugin</a>
    <figure class="landing-3-figure"></figure>
  </section>
  <footer class="landing-footer">
    <div class="banner-background"></div>
    <span class="banner-eyebrow">Eyebrow</span>
    <h2 class="banner-title" style="font-family:'Changa One';font-weight:var(--font-weight-normal);">
      This is hero section<i style="font-style:italic;">!</i>
    </h2>
    <p class="banner-description">
      <span class="linebreak-desktop">Where teams create the world’s best experiences at scale,</span> powered by the leader in creative tools.
    </p>
    <button class="banner-button">Call to action</button>
  </footer>
</main>
