<aside class="modal" role="dialog">
  <article class="modal-dialog">
    <header class="titlebar" style="padding:0;">
      <h1 class="titlebar-title">레터링</h1>
      <button class="titlebar-back" aria-label="이전 페이지로">
        <span class="material-symbols-outlined">arrow_back</span>
      </button>
    </header>
    <section class="modal-body">
      <p class="modal-body-description"></p>
      <figure class="modal-body-image" style="text-align:center;">
        <img src="/public/images/budha.png" style="max-width:560px;" alt="" />
        <img src="/public/images/lettering.png" style="max-width:560px;margin:2rem 0 8rem;" alt="" />
      </figure>
    </section>
  </article>
</aside>
