<main>
  <form class="login" name="login" action="" method="" novalidat="true">
    <header class="login-head">
      <!-- <span class="login-head-logo" style="margin: 0 0 1rem">🐤</span> -->
      <h1 class="login-title">수줍이 로그인<i style="font-style: italic">!</i></h1>
      <p class="login-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </header>

    <div class="login-social">
      <button class="login-social-facebook">페이스북으로 시작 <small hidden>Sing in with Facebook</small></button>
    </div>
    <div class="login-separator" role="separator">또는</div>
    <div class="login-email textfield" style="margin-top: -0.5rem">
      <label class="textfield-label" for="login-email">이메일</label>
      <input
        class="textfield-input js-input-email"
        type="text"
        id="login-email"
        name="email"
        placeholder="soojubm@gmail.com"
        autofocus
        aria-describedby="name-hint"
      />
      <small class="textfield-helper" id="name-hint" role="alert">이메일을 입력하세요. <span hidden>Enter an email address.</span></small>
    </div>
    <div class="login-password textfield">
      <label class="textfield-label" for="loginin-password">비밀번호</label>
      <input
        class="textfield-input js-input-password"
        type="password"
        id="loginin-password"
        name="password"
        placeholder="Enter a password. 8자리 이상."
      />
      <a class="textfield-link" href="forgot.html">비밀번호를 잊으셨나요? <small hidden>Forgot your password?</small></a>
    </div>
    <div class="login-remember checkbox">
      <input type="checkbox" id="remember-id" />
      <label for="remember-id">로그인 상태 유지<small hidden>Remember my email address</small></label>
    </div>
    <p class="login-fail" role="alert" aria-live="assertive">
      <span class="material-symbols-outlined" style="margin: 0 var(--space-1) 0 0"> error </span>
      <span hidden>가입하지 않은 이메일이거나??</span>
      잘못된 비밀번호입니다.
    </p>
    <menu class="login-foot">
      <button class="login-foot-submit" type="submit">로그인</button>
      <p class="login-option">
        계정이 없으신가요?<small hidden>Need an account?</small>
        <a class="login-option-link" href="signup.html">지금 가입하기<small hidden>Join Soojubm for free</small></a>
      </p>
    </menu>
  </form>
</main>

<style>
  .textfield-helper {
    display: none;
  }
</style>
