
	<main>
		<form class="login" name="login" action="" method="" novalidat="true">
			<header class="login-head">
				<h3 class="login-title">Hello<i style="font-style:italic;">!</i></h3>
				<p class="login-description">부끄러우니까 로그인 하지 마요.</p>
				<h3 class="login-title"></h3>
			</header>
			<div class="login-email textfield">
				<label class="textfield-label" for="login-email">이메일</label>
				<input class="textfield-input js-input-email" type="text" name="email" id="login-email" placeholder="soojubm@gmail.com" autofocus />
				<small class="textfield-helper" role="alert">이메일을 입력하세요. <span aria-hidden="true">Enter an email address.</span></small>
			</div>
			<div class="login-password textfield">
				<label class="textfield-label" for="loginin-password">비밀번호</label>
				<input class="textfield-input js-input-password" type="password" title="비밀번호" name="password" id="loginin-password" placeholder="8자 이상" />
				<small class="textfield-helper" role="alert">비밀번호를 입력하세요.<span aria-hidden="true">Enter a password.</span></small>
				<a class="textfield-link" href="forgot.html">비밀번호를 잊으셨나요? <small aria-hidden="true">Forgot your password?</small></a>
			</div>
			<div class="login-remember">
				<input type="checkbox" id="remember-id" />
				<label for="remember-id">아이디 저장<small aria-hidden="true">Remember my email address</small></label>
			</div>
			<footer class="login-foot">
				<button class="primary-button is-fullwidth" type="submit">로그인</button>
				<div class="login-divider" role="separator">또는</div>
				<div class="login-social" role="group">
					<button type="button" class="primary-button -facebook is-fullwidth">
						페이스북으로 시작하기
						<small aria-hidden="true">Sing in with Facebook</small>
					</button>
				</div>
				<p class="login-option">여기에 처음이신가요?<small aria-hidden="true">Need an account?</small> <a class="login-option-link" href="signup.html">가입하기<small aria-hidden="true">Join Soojubm for free</small></a></p>
			</footer>
		</form>
	</main>

	<style>
	.textfield-helper {display:none;}
	</style>