<main class="pattern">
  <div class="article">
    <h1 class="article-title">Menus</h1>
    <p class="article-description"></p>
    <p>
      Menus appear when users interact with a button, action, or other control.
      <br />
      They can be opened from a variety of elements, most commonly icon buttons, buttons, and text fields.
    </p>

    <ul>
      <li>
        MenuItem. 셀렉트, 칩그룹, 라디오 등으로 변경하기 쉬워야 한다. 즉, 동일한 데이터 타입을 받는다. 가능한가. 아바타(아이콘)이 포함되는 버튼의
        경우.
      </li>
    </ul>

    <hr />

    <h2 class="article-subhead">Signifier</h2>
    <p>caret indicator::: select/dropdown 등은 결국 menuTrigger임. chip의형태를갖거나flat형태.</p>
    <p>chip / textfield / title</p>

    <h2 class="article-subhead">Use cases</h2>
    <p>MenuTrigger. use cases. hiddenMenu? Sorting, Single Filtering,</p>

    <ul>
      <li>two sizes. medium / large</li>
    </ul>

    <h2 class="article-subhead">Trigger</h2>
    <ul>
      <li>select (styled textfield)</li>
      <li>expandable chip</li>
    </ul>

    <h2 class="article-subhead">MenuItem</h2>
    <ul>
      <li>title(truncated)</li>
      <li>action(chip togglable)</li>
      <li>action(link(chevron?)</li>
      <li>선택(checkbox/switch)</li>
      <li>선택(checkbox/switch)</li>
    </ul>

    <!-- <li>direction: vertical</li> -->

    <h1>MenuList with presentations</h1>
    <p>MD3에서 Responsive layout에서 정의됨.</p>
    <h2 class="article-subhead">Dropdown menu</h2>
    <h2 class="article-subhead">Sheet menu</h2>
    <h2 class="article-subhead">Modal menu</h2>
    <h2 class="article-subhead">Sidebar menu</h2>
    <h2 class="article-subhead">Navigation? menu</h2>
  </div>
</main>
