<main class="component component-row">
  <!-- <section class="hero" role="banner"> -->
  <!-- <div class="hero-background"></div> -->
  <!-- <span class="hero-eyebrow">Components</span> -->
  <!-- <h1 class="hero-title">Actions</h1> -->
  <!-- <p class="hero-description">크게 action와 link로 나눈다.</p> -->
  <!-- </section> -->

  <section class="component-style component-column"></section>

  <article class="article js-observer js-scrollspy-section component-column">
    <h1 class="article-title">Menu</h1>
    <p class="article-description">다중 옵션의 목록. 모바일 친화적.</p>
    <!-- <p class="article-description">사용자가 수행할 수 있는 행동(또는 링크) 목록.</p> -->

    <button class="item js-darkmode" role="menuitem" data-size="medium" title="change theme">
      <figure class="item-avatar" style="background-image:none;"><i class="icon-moon"></i></figure>
      <span class="item-label">어둡게 보기</span>
      <span class="switch" style="margin-left:auto;">
        <input type="checkbox" id="temp55" name="" role="switch" />
        <label for="temp55" style="padding-left:48px;"></label>
      </span>
    </button>
    <hr />
    <div class="item" data-size="medium" role="menuitem">
      <figure class="item-avatar">🏹</figure>
      <span class="item-label">entity와 구별</span>
      <span class="item-tag" data-appearance="primary">새소식</span>
    </div>
    <hr />
    <button class="item" role="menuitem">
      <span class="item-label">메뉴 아이템 레이블</span>
      <em class="item-icon"><i class="icon-check"></i></em>
    </button>
    <div class="checkbox menutype" data-size="medium">
      <input type="checkbox" id="menutype1" name="gender" value="" checked />
      <label for="menutype1" title="">
        <figure class="item-avatar"></figure>
        카카오뱅크
      </label>
    </div>

    <h4 class="article-subhead">Memo</h4>
    <ul>
      <li>액션 타입/링크 타입/토글 타입/선택 타입</li>
      <li>dropdown에서의 형태(smaller)와 sheet/sidebar에서의 형태를 구분.</li>
      <li>leading icon / tailing icon / badge. => props로 제공해도 되는 정보.</li>
      <li>제목 isTruncated or 2줄.</li>
      <li>role=menuitem 속성을 display:flex;align-items:center.</li>
    </ul>

    <blockquote>
      <p>
        entity와 형태가 굉장히 유사함. solution: menu item는 description이 없기 때문에 align-items: center 속성을 가지는 flexbox로 기술적인 구분을 할
        수는 있겠음.
      </p>
      <p>multiple selections을 위해 checkbox의 checkable 기표를 컴포넌트화</p>
    </blockquote>

    <ul>
      <li><b>presentations:</b> modal, dropdown, sheet, sidebar</li>
      <li><b>aligns:</b> vertical</li>
    </ul>

    <h4 class="article-subhead">Anatomy</h4>
    <ul>
      <li><b>avatar</b> optional</li>
      <li><b>text label</b></li>
      <li><b>icons</b> check/chevron(arrow) with text label</li>
    </ul>

    <h4 class="article-subhead">Features</h4>
    <ul>
      <li>
        <b>actionable.</b>
      </li>
      <li>
        <b>linkable.</b>
      </li>
      <li>
        <b>bookmarkable.</b>
      </li>
      <li><b>single selectable.</b></li>
      <li><b>multiple selectable.</b></li>
    </ul>

    <h4 class="article-subhead">Best practices</h4>
    <ul></ul>

    <h4 class="article-subhead">Props</h4>

    <dl class="article-props">
      <dt>name</dt>
      <dd>string</dd>
      <dt>src<abbr>?</abbr></dt>
      <dd>string</dd>
      <dt>size</dt>
      <dd>"huge" | "large" | "medium" | "small"</dd>
      <dt>badge<abbr>?</abbr></dt>
      <dd>"unread" | "new" | "live"</dd>
    </dl>

    <h4 class="article-subhead">Related components</h4>
    <a href="">entity</a>
    <span class="icon-bullet"></span>
    <a href="">avatar</a>
    <span class="icon-bullet"></span>
    <a href="">checkbox</a>
    <span class="icon-bullet"></span>
    <a href="">radio</a>

    <h4 class="article-subhead">Other cases</h4>
  </article>
</main>
