<!DOCTYPE html>
<html>
  <head>
		<title></title>

		</script>
  </head>
  <body>
			<link rel="stylesheet" href="../build/main.css">
			<script src="../build/main.bundle.js"></script>
		


	
		


	<main class="help">




		<aside class="monthly-modal">
			<button class="monthly-close" type="button">닫기</button>
			<header class="monthly-head">
				<time class="monthly-date">2019년 6월 기준</time>
				<h1 class="monthly-heading">월별 문자 사용량</h1>
				<ul class="monthly-description">
					<li>사용량은 해당 학생이 사용 기간(한 달 기준) 내 '채점'을 한 문제 수 입니다.</li>
					<li>조회된 사용량은 해당 기간 내 채점 수이므로, 조회 시점의 채점 수보다 적을 수 있습니다.</li>
					<li>고정 요금제를 사용중이므로 <em>추가 과금액이 발생하지 않습니다.</em></li>
				</ul>
				<div class="monthly-note">
					기간 내 채점 문제 수가 *n문제 이상이 된 학생이 *n명을 초과할 경우 인당 추가금(*n원/인당)이 발생하며 이는 이용료와 함께 청구됩니다.
				</div>
				<div class="monthly-note message">
					<h3>건별 문자 요금 안내</h3>
					<div>
						<b>SMS 11	원</b>
						<small>90byte 이하의 단문</small>
					</div>
					<div>
						<b>LMS 33	원</b>
						<small>90byte 이상 2,000byte 이하의 단문</small>
					</div>
				</div>
				<a class="monthy-previous" href="">이전 결제 내역보기</a>
				<section class="monthly-use">
					<h2 class="monthly-subhead">이용 현황</h2>
					<div class="monthly-use-item">
						<b>사용 기간</b> 2019-05-28 부터 2019-06-22
					</div>
					<div class="monthly-use-item">
						<b>결제 기준일</b> 매월 25일
					</div>
					<div class="monthly-use-item">
						<b>기간내 사용 학생수</b> 9 / 30 명
					</div>
					<div class="monthly-use-item">
						<b>기간내 추가 과금 학생수</b> 0명
					</div>
					<div class="monthly-use-item total">
						<b>추가 과금액</b> 0원
					</div>
				</section>
			</header>
			<section class="monthly-body">
				<div class="monthly-s">
					<h2 class="monthly-subhead">문자 사용 내역</h2>
					<table>
						<!-- <caption>히라가나 오십음도</caption> -->
						<thead>
							<tr>
								<th>번호</th>
								<th>이름</th>
								<th>학년</th>
								<th class="right">사용량</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>이름입력란</td>
								<td>고 3</td>
								<td class="right">100 문제</td>
							</tr>
							<tr>
								<td>2</td>
								<td>허준</td>
								<td>초6</td>
								<td class="right">100 문제</td>
							</tr>
						</tbody>
					</table>
					<div class="monthly-body-empty">
						<p>기간 내 조회된 데이터가 없습니다.</p>
					</div>
				</div>
			</section>
		</aside>


		<section class="faq">
			<header class="faq-head">
				<h1 class="faq-heading"><em>FAQ</em> 자주 묻는 질문</h1>
				<span class="faq-description">빠르게 문제를 해결해보세요.</span>
			</header>
			<nav class="faq-navigation">
				<button type="button">FAQ</button>
				<button class="is-active" type="button">1:1 문의</button>
			</nav>
			<section class="faq-body">
				<ul class="faq-list">
					<li role="button">
						<em>[기타]</em>
						<p>매쓰플랫은 어떤 서비스인가요?</p>
					</li>
					<li>
							<em>[기타]</em>
							<p>매쓰플랫은 어떤 서비스인가요?</p>
						</li>
						<li>
								<em>[기타]</em>
								<p>매쓰플랫은 어떤 서비스인가요?</p>
							</li>
							<li>
									<em>[기타]</em>
									<p>매쓰플랫은 어떤 서비스인가요?</p>
								</li>
								<li>
										<em>[기타]</em>
										<p>매쓰플랫은 어떤 서비스인가요?</p>
									</li>
									<li>
											<em>[기타]</em>
											<p>매쓰플랫은 어떤 서비스인가요?</p>
										</li>
										<li>
												<em>[기타]</em>
												<p>매쓰플랫은 어떤 서비스인가요?</p>
											</li>
				</ul>
				<article class="faq-viewer">
					<h2 class="faq-viewer-heading">
						<em>[기타]</em>
						<p>매쓰플랫은 어떤 서비스인가요?</p>
					</h2>
					<div class="faq-viewer-content">
						웹 매쓰플랫 이용하기(텍스트링크 my.mathflat.com ) (웹 매쓰플랫에서는 현재 만들기 기능만 지원하고 있으며, 점차 다른 기능도 지원할 예정입니다.)
						매쓰플랫 Window PC에 직접 설치하기(텍스트링크로 teacher_install_pc.pdf 노출)
						미뮤를 통해 PC에서 매쓰플랫 사용하기(텍스트링크 www.memukorea.com)
						녹스를 통해 PC에서 매쓰플랫 사용하기(텍스트링크 kr.bignox.com)
						매쓰플랫 태블릿에 설치하기(텍스트링크)
					</div>
				</article>
			</section>
		</section>


		<section class="certification">
			<h1 class="certification-heading">문자 본인 인증</h1>
			<p class="certification-description">한 번의 인증만 거치면 문자 서비스를 이용할 수 있습니다.</p>
			<div class="certification-content">
				<article class="certification-phone">
					<img src="" alt="">
					<p class="maincopy">문자 서비스의 발신 번호를 휴대폰 번호로 등록할래요!</p>
					<p class="subcopy">아래 ‘인증하기’ 버튼을 눌러서 문자 발송번호로 등록할 휴대폰 번호를 인증해주세요.</p>
					<button type="button">인증하기</button>
				</article>
				<article class="certification-kakao">
					<img src="" alt="">
					<p class="maincopy">문자 서비스의 발신 번호를 일반 지역번호로 등록할래요!</p>
					<p class="subcopy">카카오톡에서 ‘매쓰플랫’을 검색하고, 채팅창에 있는 ‘문자 발신 번호 등록’ 버튼을 눌러주시면 매쓰플랫이 친절하게 안내해드릴게요 :)</p>	
				</article>
			</div>
			<footer>
				<article class="certificate-info">
					<b>SMS 발신 번호 사전 등록제?</b>
					<p>전기통신사업법 제 84조 'SMS 발신 번호 사전 등록제' 가 2015년 10월 16일부로 시행됨에 따라 SMS를 발송하려면 발신 번호를 먼저 등록하셔야 합니다. 거짓으로 표시된 전화번호로 인한 피해 예방을 위해 SMS 발송 시 사전 인증된 발신 번호로만 사용할 수 있도록 등록하는 제도입니다. 사전에 등록하지 않은 발신 번호로는 SMS를 발송하실 수 없습니다.</p>
				</article>
				<article class="certificate-info">
					<b>법인폰 참고 사항</b>
					<p>법인폰인 경우 개인에 대한 정보등록이 되어야 인증이 가능합니다. 정보등록에 대해서는 각 통신사에 문의바랍니다.</p>
				</article>
			</footer>
		</section>



// const guideText = {
	//   title: "SMS 발신 번호 사전 등록제?",
	//   infoText: [
	//     "전기통신사업법 제 84조 'SMS 발신 번호 사전 등록제' 가 2015년 10월 16일부로 시행됨에 따라 SMS를 발송하려면 발신 번호를 먼저 등록하셔야 합니다.",
	//     "SMS 발신 번호 사전 등록제란?",
	//     "거짓으로 표시된 전화번호로 인한 피해 예방을 위해 SMS 발송 시 사전 인증된 발신 번호로만 사용할 수 있도록 등록하는 제도입니다. 사전에 등록하지 않은 발신 번호로는 SMS를 발송하실 수 없습니다."
	//   ]
	// };
	// <p className="title">{guideText.title}</p>
	
	{/* <div className="info-text">
	<p>{guideText.infoText[0]}</p>
	<p>{guideText.infoText[1]}</p>
	<p>{guideText.infoText[2]}</p>
	</div> */}
	
	</main>
</body>