<main class="music">
  <section class="album">
    <div class="album-background"></div>
    <div class="album-list">
      <time class="album-list-date">2019</time>
      <h1 class="album-list-title">Sign of Light</h1>
      <span class="album-list-artist">Head and the Heart</span>
      <div class="album-list-cover">
        <img src="/public/images/yes.jpg" alt="">
      </div>
      <button class="primary-button is-fullwidth">앨범 구매하기</button>
    </div>
    <div class="album-track">
      <dl>
        <dt>저자</dt>
        <dd>북저널리즘</dd>
        <dt>발행일</dt>
        <dd>2019.09.04</dd>
        <dt>리딩타임</dt>
        <dd>28분</dd>
        <dt>태그</dt>
        <dd></dd>
      </dl>
      <h1 class="album-track-title">Track List.</h1>
      <div class="album-track-label">
        <span class="album-track-label-item">No.</span>
        <span class="album-track-label-item">Title.</span>
        <span class="album-track-label-item">Time.</span>
      </div>
      <div class="album-track-list">
        <span class="album-track-list-item">01</span>
        <span class="album-track-list-item">Dancing in the Dark</span>
        <span class="album-track-list-item">07:02</span>
      </div>
      <div class="album-track-list">
        <span class="album-track-list-item">02</span>
        <span class="album-track-list-item">Backstreets</span>
        <span class="album-track-list-item">03:18</span>
      </div>
      <div class="album-track-list">
        <span class="album-track-list-item">02</span>
        <span class="album-track-list-item">Backstreets</span>
        <span class="album-track-list-item">03:18</span>
      </div>
      <div class="album-track-list">
        <span class="album-track-list-item">02</span>
        <span class="album-track-list-item">Backstreets</span>
        <span class="album-track-list-item">03:18</span>
      </div>
      <div class="album-track-list">
        <span class="album-track-list-item">02</span>
        <span class="album-track-list-item">Backstreets</span>
        <span class="album-track-list-item">03:18</span>
      </div>
    </div>
    <div class="album-others">
      <h1 class="album-others-title">Other Albums</h1>
      <div style="display:flex;width:calc(100% + 500px);">
        <div class="album-others-album">
          <img src="/public/images/yes.jpg" alt="">
          <time class="album-others-date">2019</time>
          <h1 class="album-others-title">Sign of Light</h1>
          <span class="album-others-artist">Head and the Heart</span>
        </div>
        <div class="album-others-album">
          <img src="/public/images/yes.jpg" alt="">
          <time class="album-others-date">2019</time>
          <h1 class="album-others-title">Sign of Light</h1>
          <span class="album-others-artist">Head and the Heart</span>
        </div>
        <div class="album-others-album">
          <img src="/public/images/yes.jpg" alt="">
          <time class="album-others-date">2019</time>
          <h1 class="album-others-title">Sign of Light</h1>
          <span class="album-others-artist">Head and the Heart</span>
        </div>
        <div class="album-others-album">
          <img src="/public/images/yes.jpg" alt="">
          <time class="album-others-date">2019</time>
          <h1 class="album-others-title">Sign of Light</h1>
          <span class="album-others-artist">Head and the Heart</span>
        </div>
        <div class="album-others-album">
          <img src="/public/images/yes.jpg" alt="">
          <time class="album-others-date">2019</time>
          <h1 class="album-others-title">Sign of Light</h1>
          <span class="album-others-artist">Head and the Heart</span>
        </div>
        <div class="album-others-album">
          <img src="/public/images/yes.jpg" alt="">
          <time class="album-others-date">2019</time>
          <h1 class="album-others-title">Sign of Light</h1>
          <span class="album-others-artist">Head and the Heart</span>
        </div>
      </div>
    </div>
  </section>
</main>


<style>
.album {max-width:1080px;margin:10rem auto 16rem;padding-left:30%;box-sizing:border-box;position:relative;}

.album-background {background:url('/public/images/springsteen.jpg') no-repeat center center;background-size:cover;position:fixed;left:0;right:70%;top:0;bottom:0;z-index:3;}

.album-list {max-width:50%;position:absolute;left:0;top:0;z-index:4;}
.album-list-date {}
.album-list-title {margin:0 0 .5rem 0;font-size:32px;line-height:1.2;}
.album-list-artist {}
.album-list-cover {width:400px;height:400px;margin:2rem auto 1.5rem;border-radius:4px;}

.album-track {}
.album-track-title {margin:0 0 .5rem 0;font-size:1.25rem;}
.album-track-label {display:flex;}
.album-track-label-item {padding:.5rem 0;color:$gray80;}
.album-track-label-item:nth-of-type(1) {width:10%;}
.album-track-label-item:nth-of-type(2) {width:75%;}
.album-track-label-item:nth-of-type(3) {width:15%;text-align:right;}
.album-track-list {display:flex;}
.album-track-list-item {padding:.5rem 0;}
.album-track-list-item:nth-of-type(1) {width:10%;}
.album-track-list-item:nth-of-type(2) {width:75%;}
.album-track-list-item:nth-of-type(3) {width:15%;text-align:right;}

.album-others {margin:4rem 0;}
.album-others-title {margin:0 0 1rem 0;font-size:1.25rem;}
.album-others-album {width:160px;margin-right:.5rem;}
.album-others-title {font-size:1rem;}
.album-others-artist {font-size:12px;}
</style>