<main class="music">
  <section class="album">
    <!-- <div class="album-background"></div> -->
    <div class="album-list">
      <time class="album-list-date">2019</time>
      <h1 class="album-list-title">Bruce Springsteen</h1>
      <span class="album-list-artist">Head and the Heart</span>
      <div class="album-list-cover">
        <img src="/public/images/yes.jpg" alt="" />
      </div>
      <button class="tertiary-button is-fullwidth">앨범 구매하기</button>
    </div>
    <div class="album-track">
      <dl>
        <dt>저자</dt>
        <dd>북저널리즘</dd>
        <dt>발행일</dt>
        <dd>2019.09.04</dd>
        <dt>리딩타임</dt>
        <dd>28분</dd>
        <dt>태그</dt>
        <dd></dd>
      </dl>
      <!-- <h1 class="album-track-title">Track List.</h1> -->
      <div class="album-track-label">
        <span class="album-track-label-item">#</span>
        <span class="album-track-label-item">제목</span>
        <span class="album-track-label-item">러닝타임<span>
      </div>
      <div class="album-track-list" role="row">
        <span class="album-track-list-item">1</span>
        <span class="album-track-list-item">
          <b>Dancing in the Dark</b>
          <small>Bruce Springsteen</small>
        </span>
        <span class="album-track-list-item">7 : 02</span>
        <!-- <span class="album-track-list-item"><i class="icon-more"></i></span> -->
      </div>
      <div class="album-track-list" role="row">
        <span class="album-track-list-item">2</span>
        <span class="album-track-list-item">
          <b>Backstreets</b>
          <small>Bruce Springsteen</small>
        </span>
        <span class="album-track-list-item">7 : 02</span>
        <!-- <span class="album-track-list-item"><i class="icon-more"></i></span> -->
      </div>
    </div>
  </section>
  <div class="album-others">
    <h1 class="album-others-title">Other Albums</h1>
    <div style="display:flex;width:calc(100% + 500px);">
      <div class="album-others-album">
        <img src="/public/images/yes.jpg" alt="" />
        <h1 class="album-others-title">Sign of Light</h1>
        <span class="album-others-artist">Head and the Heart</span>
      </div>
      <div class="album-others-album">
        <img src="/public/images/yes.jpg" alt="" />
        <h1 class="album-others-title">Sign of Light</h1>
        <span class="album-others-artist">Head and the Heart</span>
      </div>
      <div class="album-others-album">
        <img src="/public/images/yes.jpg" alt="" />
        <h1 class="album-others-title">Sign of Light</h1>
        <span class="album-others-artist">Head and the Heart</span>
      </div>
      <div class="album-others-album">
        <img src="/public/images/yes.jpg" alt="" />
        <h1 class="album-others-title">Sign of Light</h1>
        <span class="album-others-artist">Head and the Heart</span>
      </div>
      <div class="album-others-album">
        <img src="/public/images/yes.jpg" alt="" />
        <h1 class="album-others-title">Sign of Light</h1>
        <span class="album-others-artist">Head and the Heart</span>
      </div>
      <div class="album-others-album">
        <img src="/public/images/yes.jpg" alt="" />
        <h1 class="album-others-title">Sign of Light</h1>
        <span class="album-others-artist">Head and the Heart</span>
        <time class="album-others-date">2019</time>
      </div>
    </div>
  </div>
</main>
