<main class="album">
  <div class="album-head">
    <time class="album-head-date">release date</time>
    <h1 class="album-head-title">Album title</h1>
    <span class="album-head-artist">Artist name</span>
    <div class="album-head-cover">
      <img src="/public/images/springsteen.jpg" alt="" />
    </div>
  </div>
  <ul>
    <li>마우스 호버 시 재생 아이콘</li>
  </ul>

  <div class="album-track">
    <!-- <h1 class="album-track-title">Track List.</h1> -->
    <div class="album-track-label" role="row">
      <span class="album-track-label-item" role="columnheader">#</span>
      <span class="album-track-label-item">제목</span>
      <span class="album-track-label-item">Gengre</span>
      <span class="album-track-label-item">Progress</span>
      <span class="album-track-label-item">Status</span>
      <span class="album-track-label-item">러닝타임</span>
      <span class="album-track-label-item" title=" date added(sort)">Date</span>
    </div>
    <div class="album-track-row" role="row">
      <span class="album-track-row-column">1</span>
      <span class="album-track-row-column item">
        <figure class="item-avatar"></figure>
        <b>Dancing in the Dark</b>
        <small>Bruce Springsteen</small>
      </span>
      <span class="album-track-row-column tag-group"><span class="tag">hiphop</span><span class="tag">rap</span></span>
      <span class="album-track-row-column">In Review --</span>
      <span class="album-track-row-column"><em class="badge" style="height:auto;margin-right:.5rem;background:gold;padding:3px;"></em> Error</span>
      <span class="album-track-row-column">7 : 02</span>
      <span class="album-track-row-column">7 : 02</span>
      <!-- <span class="album-track-row-column"><span class="material-symbols-outlined">
more_vert
</span></span> -->
    </div>
  </div>
  <div class="album-others">
    <h1 class="album-others-title">Other Albums</h1>
    <div class="album-others-album">
      <figure>
        <img src="/public/images/springsteen.jpg" alt="" />
      </figure>
      <h1 class="album-others-title">Sign of Light</h1>
      <span class="album-others-artist">Head and the Heart</span>
      <time class="album-others-date">2019</time>
    </div>
  </div>
</main>
