<main class="component">
  <section class="hero" role="banner">
    <!-- <div class="hero-background"></div> -->
    <!-- <span class="hero-eyebrow">Components</span> -->
    <!-- <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;"><span style="color:var(--color-text-light);">We 🐷</span><br />built this city.</h1> -->
    <h1 class="hero-title">Navigations</h1>
    <p class="hero-description">bar 네이밍을 쓰려면 bottom bar로.</p>
  </section>

  <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Breadcrumb</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Tab</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Title Bar</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Bottom Navigation</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Paginations</span></a>
    </div>
  </nav>

  <section class="component-body">
    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Breadcrumb</h1>
      <p class="article-description">사용자의 현재 위치를 나타내는 계층 구조의 네비게이션입니다.</p>

      <nav class="breadcrumb" aria-label="breadcrumb">
        <a class="breadcrumb-item breadcrumb-home" href="/">홈</a>
        <i class="breadcrumb-divider">/</i>
        <a class="breadcrumb-item " href="#">페이지 이름</a>
        <i class="breadcrumb-divider">/</i>
        <span class="breadcrumb-item breadcrumb-last" href="#">페이지 이름</span>
      </nav>

      <h4 class="article-subhead">Props</h4>
      <p style="margin-bottom:.75rem;">router를 정의하는 방식(예를 들면 json)과 함께 고민해야 함.</p>
      <table>
        <caption hidden>
          Table Caption
        </caption>
        <tbody role="rowgroup">
          <tr role="row">
            <th scope="row" style="font-weight:var(--font-weight-bold);color:var(--color-text);">name</th>
            <th style="font-weight:var(--font-weight-bold);color:var(--color-text);">type</th>
          </tr>
          <tr role="row">
            <th scope="row">currentPage</th>
            <td>
              string
            </td>
          </tr>
        </tbody>
      </table>

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <li>페이지 뎁스 3 이상에서 사용합니다.</li>
        <li>프로모션용 랜딩 페이지에서 사용자 여정을 돕기 위해 사용할 수 있습니다.</li>
        <li>푸터에서 사이트맵과 함께 사용할 수 있습니다.</li>
        <li>모바일 환경에서 네비게이션 바(탑 바/타이틀 바/바텀 네비게이션 등)와 함께 사용하지 않습니다.</li>
      </ul>
      <!-- <blockquote>
        <p>🐹: flat sitemap 트렌드에서 사용 빈도가 높지 않아요. 주로 도움말, 상품 등 카테고리 구조에서 활용하며, pg 심사 시 제품군 정보가 요구될 수 있어요. (토스페이-구엘지페이먼츠시절)</p>
      </blockquote> -->
      <br />
    </article>

    <article class="article js-observer js-scrollspy-section js-tab">
      <h1 class="article-title">Tab</h1>
      <p class="article-description">맥락이 같은 콘텐츠를 주제별로 분류합니다. page/section navigation.<p>

      <nav class="profile-tablist" role="tablist" aria-label="sample tabs" style="margin-left:0;margin-right:0;">
        <button class="profile-tablist-tab" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">
          첫번째 탭
          <!-- <em class="profile-tablist-tab-badge badge">24</em> -->
        </button>
        <button class="profile-tablist-tab" role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="-1">두번째 탭</button>
        <button class="profile-tablist-tab" role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">세번째 탭</button>
        <i class="profile-tablist-indicator"></i>
      </nav>
      <div class="profile-tabpanel" id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1" style="margin:0;">
        <p>Content for the first panel. tablist는 tile inset에 .25rem을 쓰는 예외 케이스...</p>
      </div>
      <div class="profile-tabpanel" id="panel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" aria-hidden="true" style="margin:0;">
        <p>Content for the second panel</p>
      </div>
      <div class="profile-tabpanel" id="panel-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3" aria-hidden="true" style="margin:0;">
        <p>Content for the third panel</p>
      </div>

      <script>
        window.addEventListener("DOMContentLoaded", () => {
          const tabs = document.querySelectorAll('[role="tab"]');
          const tabList = document.querySelector('[role="tablist"]');

          tabs.forEach(tab => tab.addEventListener("click", changeTabs));

          // Enable arrow navigation between tabs in the tab list
          let tabFocus = 0;
          tabList.addEventListener("keydown", e => {
            // Move right
            if (e.keyCode === 39 || e.keyCode === 37) {
              tabs[tabFocus].setAttribute("tabindex", -1);
              if (e.keyCode === 39) {
                tabFocus++;
                // If we're at the end, go to the start
                if (tabFocus >= tabs.length) {
                  tabFocus = 0;
                }
                // Move left
              } else if (e.keyCode === 37) {
                tabFocus--;
                // If we're at the start, move to the end
                if (tabFocus < 0) {
                  tabFocus = tabs.length - 1;
                }
              }

              tabs[tabFocus].setAttribute("tabindex", 0);
              tabs[tabFocus].focus();
            }
          });
        });

        function changeTabs(e) {
          const target = e.target;
          const parent = target.parentNode;
          const grandparent = parent.parentNode;

          parent
            .querySelectorAll('[aria-selected="true"]')
            .forEach(t => t.setAttribute("aria-selected", false));

          target.setAttribute("aria-selected", true);

          grandparent
            .querySelectorAll('[role="tabpanel"]')
            .forEach(p => p.setAttribute("hidden", true));

          grandparent.parentNode
            .querySelector(`#${target.getAttribute("aria-controls")}`)
            .removeAttribute("hidden");
        }
      </script>

      <h4 class="article-subhead">Props (todo)</h4>
      <table>
        <caption hidden>
          Table Caption
        </caption>
        <tbody role="rowgroup">
          <tr role="row">
            <th scope="row" style="font-weight:var(--font-weight-bold);color:var(--color-text);">name</th>
            <th style="font-weight:var(--font-weight-bold);color:var(--color-text);">type</th>
          </tr>
          <tr role="row">
            <th scope="row">tablist</th>
            <td>
              TabType[]
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <aside>
        <p>memo: Chip이 탭의 역할을 많이 가져온 모양새. 탭과 탭바를 구분. iOS는 segmented control이 탭의 역할을 하지만 대체로 페이지 댑스를 깊이 가져가는 패턴.</p>

      </aside> -->

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <li>탭을 중첩하여 플로우를 설계하지 않습니다.<span hidden>(탭 + 칩 그룹의 패턴)</네무></li>
        <li>정렬, 필터로 사용하지 않습니다.</li>
        <li>스크롤스파이로 사용하지 않습니다.</li>
        <li>글로벌 탐색 패턴으로 햄버거 메뉴와 탭(바텀네비게이션, 탭바)을 함께 사용하지 않습니다. (todo: tab과 tab bar(app bar)를 구분)</li>
        <li><del>페이지 링크로 사용하지 않습니다.</del> (todo SPA 라우팅에서 페이지 링크의 개념이 모호)</li>
        <li>todo 탭 갯수를 제한하거나 가로 스크롤을 가능하게 하거나.</p></li>
        <li>todo 브라우저 히스토리 저장 여부.tab(?tab=projects) / linktab</li>
      </ul>

      <br />

      <!-- <h4 class="article-subhead">anatomy</h4>
      <div class="article-anatomy is-anatomy">
        <span class="article-anatomy-item">Tabs</span>
        <span class="article-anatomy-item is-nested">tablist</span>
        <span class="article-anatomy-item is-nested-nested">tab</span>
        <span class="article-anatomy-item is-nested">panel</span>
        <span class="article-anatomy-item is-nested-nested">Indicator (acitive bar)</span>
        <span class="article-anatomy-item is-nested-nested">badge <small class="is-optional">optional</small></span>
        <span class="article-anatomy-item is-nested-nested">unread <small class="is-optional">optional</small></span>
        <span class="article-anatomy-item is-nested-nested">quantity <small class="is-optional">optional</small></span>
        <li>required indicator / optional indicator (모든 textfield는 required. optional만 가이드) / validations / masked</li>
      </div> -->
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Title Bar</h1>
      <p class="article-description">작성 중. 모바일.</p>

      <header class="titlebar js-titlebar" role="navigation" style="padding:0;">
        <div class="titlebar-background"></div>
        <h1 class="titlebar-title js-page-title" title="page title">쇼핑 탭</h1>
        <button class="titlebar-action" style="color:var(--color-primary);">
          <span class="titlebar-action-label">장바구니</span>
        </button>
      </header>

      <hr />

      <header class="titlebar js-titlebar" role="navigation" style="padding:0;">
        <div class="titlebar-background"></div>
        <h1 class="titlebar-title js-page-title" title="page title">페이지 타이틀</h1>
        <button class="titlebar-back" onclick="javascript:window.location.href='/';">
          <figure class="titlebar-back-icon" title="이전 페이지로"><i class="icon-arrow is-left"></i></figure>
          <!-- <figure class="titlebar-back-icon"><i class="icon-close"></i></figure> -->
          <!-- <span class="titlebar-back-label">뒤로</span> -->
        </button>
        <button class="titlebar-action" style="color:var(--color-primary);">
          <figure class="titlebar-action-icon" hidden></figure>
          <span class="titlebar-action-label">공유</span>
        </button>
      </header>

      <hr />

      <header class="titlebar js-titlebar" role="navigation" style="padding:0;">
        <div class="titlebar-background"></div>
        <h1 class="titlebar-title js-page-title" title="page title">페이지 타이틀</h1>
        <button class="titlebar-back" onclick="javascript:window.location.href='/';">
          <figure class="titlebar-back-icon"><i class="icon-x"></i></figure>
          <!-- <span class="titlebar-back-label">뒤로</span> -->
        </button>
        <button class="titlebar-action" style="color:var(--color-primary);">
          <span class="titlebar-action-label">저장</span>
        </button>
      </header>
      <!-- <div class="titlebar-backdrop js-header"></div> -->

      <h4 class="article-subhead">Props</h4>
      <table>
        <caption hidden>
          Table Caption
        </caption>
        <tbody role="rowgroup">
          <tr role="row">
            <th scope="row" style="font-weight:var(--font-weight-bold);color:var(--color-text);">name</th>
            <th style="font-weight:var(--font-weight-bold);color:var(--color-text);">type</th>
          </tr>
          <tr role="row">
            <th scope="row">title<attr>?</attr></th>
            <td>
              string
              <p>truncte보다 타이틀 글자 수 제한이 좋음</p>
            </td>
          </tr>
          <tr role="row">
            <th scope="row">hasBack<attr>?</attr></th>
            <td>
              boolean
              <p></p>
            </td>
          </tr>
          <tr role="row">
            <th scope="row">hasNext<attr>?</attr></th>
            <td>
              boolean
              <p>함수만 넘겨줘서 next 액션을 랜더링하는 방법이 나을 지도.</p>
            </td>
          </tr>
          <tr role="row">
            <th scope="row">hasClose<attr>?</attr></th>
            <td>
              boolean
            </td>
          </tr>
          <tr role="row">
            <th scope="row">isDisabled<attr>?</attr></th>
            <td>
              boolean
            </td>
          </tr>
          <tr role="row">
            <th scope="row">onComplete(?) / onCancel<attr>?</attr></th>
            <td>
              function()
            </td>
          </tr>
        </tbody>
      </table>

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <li>todo 아이콘 배경색 빼는 게 좋지만 버튼 아이콘에서 정의가 안 된 케이스.</li>
        <li>todo 뒤로가기/닫기 패턴 정의하기. 탭 바로 접근하는 경우 등.</li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Bottom Navigation</h1>
      <p class="article-description">모바일 환경에서의 글로벌 네비게이션.</p>

      <nav class="bottombar">
        <a href="#" class="bottombar-item is-active">
          <figure class="bottombar-item-icon"><i class="icon-person"></i></figure>
          <span class="bottombar-item-label">홈</span>
          <em></em>
        </a>
        <a href="#" class="bottombar-item">
          <figure class="bottombar-item-icon"><i class="icon-hamberger"></i></figure>
          <span class="bottombar-item-label">카테고리</span>
        </a>
        <a href="#" class="bottombar-item">
          <figure class="bottombar-item-icon"><i class="icon-person"></i></figure>
          <span class="bottombar-item-label">설정</span>
        </a>
      </nav>

      <h4 class="article-subhead">Memo</h4>
      <ul>
        <li>커머스 도매인에서 카테고리를 표시하기 위해 햄버거 아이콘을 사용하는데, 주로 왼쪽에 배치 됨.</li>
        <li>todo 바텀 네비게이션과 햄버거 메뉴를 같이 사용할 수 있는 케이스를 따로 정의.</li>
        <li>active 상태를 위해 filled 아이콘을 사용하면 리소스 발생.</li>
      </ul>

      <!-- // iOS isTranslucent: Bool -->
    </article>

    
    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Paginations</h1>
      <p class="article-description">레거시. todo.. pagination vs more load vs infinite scroll</p>

      <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" href="#" title="앞 페이지로 이동" aria-label="">이전</a>
        <a class="pagination-next" href="#" title="뒷 페이지로 이동">다음</a>
        <a class="pagination-link" href="#" title="맨 앞 페이지로 이동">1</a>
        <i class="pagination-ellipsis" title="맨 앞 페이지로 이동">...</i>
        <a class="pagination-link" href="#" title="1 페이지로 이동">5</a>
        <a class="pagination-link" href="#" title="1 페이지로 이동">6</a>
        <a class="pagination-link is-current" href="#" title="1 페이지로 이동" aria-current="true">7</a>
        <a class="pagination-link" href="#" title="1 페이지로 이동">8</a>
        <a class="pagination-link" href="#" title="1 페이지로 이동">9</a>
        <i class="pagination-ellipsis" title="맨 앞 페이지로 이동">...</i>
        <a class="pagination-link" href="#" title="맨 뒤 페이지로 이동">50</a>
      </nav>
      <aside><small role="" style="display:block;margin:var(--space) 0 0;text-align:center;">숙소 300개 이상 중 281 – 300 (airbnb)</small>

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <li>첫 페이지와 마지막 페이지에 더블 화살표 아이콘을 사용하지 않습니다. 최초와 최종 페이지 넘버로 대략적인 콘텐츠의 수량을 파악할 수 있도록 도와주세요.</li>
        <li>memo: 게시글 목록과 상품 목록 탐색에 유용. (하지만 최근본목록이나 섬네일에서 북마크를 제공한다면 불필요한 패턴)</li>
      </ul>

      <!-- <nav class="pagination2">
        <a href="#" class="pagination2-prev" title="앞 페이지로 이동">이전</a>
        <span class="pagination2-current">1</span>
        <span class="pagination2-divider"> / </span>
        <span class="pagination2-all">44</span>
        <span>page 2 of 22</span>
        <a href="#" class="pagination2-next" title="뒷 페이지로 이동">다음</a>
      </nav> -->
    </article>
  </section>
</main>
