<aside class="modal" role="dialog">
  <div class="modal-dim"></div>
  <article class="modal-dialog">
    <header class="modal-head">
      <button class="modal-close js-modal-close"><i class="icon-close"></i><span hidden>닫기</span></button>
      <h1 class="modal-head-title">Under Construction</h1>
      <p>대외비</p>
      <!-- <p>실험 :: 레터에서 요약 => 웹사이트에서 전문 (부정적 피드백 80%) inbox에서 콘텐츠 소비하는 경험에 너무너무 익숙함 => 나가리됨</p>
      <p>구독자를 어떻게 웹사이트로 유입시킬까?</p>
      <p>뉴스레터의 링크 클릭율을 조사해보니(a/b test가 아니기 때문에 위험한 데이터지만) 자극적인 단어, 생소한 용어, 시각 콘텐츠(지도, 이미지, 동영상)의 클릭율이 높은 경향을 보임. 레터에서 주황링크를 본문 내부, 본문 외부(끝) 2가지 사용 중이었는데, 본문 외부에서 뉴닉이 정리한 ~~~~보러가기 클릭율이 압도적으로 높음. cta 버튼의 전환율보다 높은 경우도 있음. 하지만 이것은 시각자료 링크도 마찬가지.</p>
      <p>그럼!! 이랗ㄱ[ㅔ!! 유입시키자 레터 내부 주황링크는 사용하지 않고,전체적인 하이퍼링크의 갯수도 줄인다. 문장이 끝나고 뉴닉이 정리한 ~~~ 기사 보러가기 링크 적극적으로 꾸준히 넣기로 제안. 뉴닉이 정리한(이 writing)이 매우매우 주요하다고 생각) ==팬덤!</p>

      <h3>미션 1 신규 방문자 = 구독</h3>
      <p>마케팅 없이 구독자가 증가하는 뉴닉 뉴스레터. 매체, 커뮤니티, 지인 등 입소문을 통해 뉴스레터 서비스로 각인되어 있음. 따라서 홈에서 콘텐츠 큐레이션하는 플로우는 곤란. 구독하기 위해서 이미 방문. (데이터가 없어서 방문자의 몇 퍼센트가 전환되는지 정확히 몰라. 심각한 문제!!)</p>
      <h3>미션 2 구독자 = 예전 뉴닉 콘텐츠 열람</h3>
      <p>6개의 최근 뉴스레터만 공개되어 있기 때문에 유저들의 꾸준한 요구가 있었다. 이것을 이제 우리가 해결해줄게 하며 오픈.</p>

      <p>다음 스텝. 뉴니커가 원하는 것에 대한 설문 진행. 하나 골라서 쿼터에 해결해주기. + 비지니스 모델 실험</p>

      <p>고민: 팬덤이 있는 프로덕트, 브랜드 이미지가 좋기 때문에 일반적인 유저 인터렉션을 고집할 필요가 있을가? 어느 정도?, 넛징을 위한 다크패턴 지양.</p> -->
      
      <!-- <h1>Intro</h1>
      <h2>서비스 확장의 일환으로, 기존 뉴스레터 콘텐츠를 웹사이트에서 소비할 수 있는 환경을 제공합니다.</h2>
      <p>웹사이트 방문자의 대부분은 입소문으로 뉴스레터를 구독하기 위해 방문한다.</p>

      <h1>Review</h1>
      <p>아쉬운 점</p>
      <ul>
        <li>회사 및 제품의 스테이지 상, MVP 개선보다는 새로운 feature 개발에 많은 리소스 사용.</li>
        <li>웹사이트 독점 콘텐츠 부재.</li>
      </ul>

      <p>이미 뉴스레터에서 소비했던 콘텐츠를 재소비하는 방식보다는 궁금했던 이슈를 뉴닉이 어떻게 쉽고 재미있게 풀어냈을까 검색 경험 유도</p>
      <p>큐레이션 => 이슈키워드. 상위 키워드 기반으로 이슈선정 할 수 있을까?</p>
      <p>뉴스레터가 메인 매체.</p>

      <br />

      <b>러닝</b>
      <p>혼자서 기획/디자인/개발/데이터까지 보고 테스트하는 것은 욕심이었다. 직관에 조금 더 의존하고 데이터는 아쉽지만 어느 순간부터 놓아버림. 툴을 세팅하는데 문제가 생기고 a/b 테스트 하다가 문제가 생겼을 때 대응하느라 제품 개발이 지연됨. 빠른 포기. 선택과 집중.</p>
      <p>린 프로세스로 전체를 개괄</p>

      <b>고슴책</b>
      <ol>
        <li>구독자 성향, 도서 신청. 바터</li>
        <li>하드코딩으로 책 등록 후 구글폼으로 신청 받음</li>
        <li>실험 결과 예상보다 많은 신청자. 회원 가입을 유도하고 주소를 저장할 수 있는 옵션을 제공하여 도서 신청 경험을 개선하고, 예정되어 있던 굿즈 구매 과정에서 입력 정보를 간소화함. 성별, 관심분야 등 추가로 수집하여 유저 데이터 확보. (독서가 취미인 유저 데이터라는 한계)</li>
        <li>백오피스 개발하여 에디터가 새로운 책을 등록하고 마감날짜를 지정할 수 있도록 시스템화</li>
        <li>책이 쌓여서 신청 중인 책과 마감된 책을 필터링 할 수 있는 유아이 제공</li>
      </ol>
      <p>신청 시 개인정보와 인구통계학적 데이터를 포함하여 수집. 문제: 책을 좋아하는 유저의 데이터만 수집됨.</p>
      <p>관심분야를 수집하여 콘텐츠 확장에 활용. 그 동안 가지고 있는 유저 데이터가 너무 부족했음.</p>

      <br />
      <p>웹/앱 서비스기획, 일정산정, 웹/앱 UI 디자인, 웹/앱 프론트앤드 개발, 총선 페이지 디자인/개발, 브랜디드 페이지 개발</p>


      <b>개선</b>
      <ul>
        <li>뉴닉 뉴스레터를 구독하면 평일 아침마다 세상 돌아가는 소식을 메일로 보내드려요. => 평일 아침마다 세상 돌아가는 소식을 메일로 받아보세요</li>
        <li>푸터 유틸리티 네비게이션에 피드백 링크를 두니 뉴스레터에 대한 피드백이 대부분이라 웹사이트 개선에 도움이 되지 않는다. 마이페이지로 옮기면 웹사이트에 대한 피드백이 들어올까?</li>
        <li>지금 신청하면 내일 뉴스레터를 읽일 수 있다고 알려주면 뉴스레터 구독 전환에 도움이 될까?</li>
      </ul>

      <br />
      <b>웹사이트</b>
      <p>입소문으로 방문하는 신규 유저가 구독하기 쉽도록.</p>
      <p>대부분의 트래픽은 뉴스레터에서 발생. 뉴스레터에서 클릭율이 높았던 링크들</p>
      <article>
        <h3>시각적인</h3>
        <span>지도</span>
        <span>동영상</span>
        <h3>자극적인</h3>
        <span>폭력</span>
        <h3>?</h3>
        <span>뉴닉이 정리한</span>
      </article>
      <br />

      <br />
      <b>앱</b>
      <p>문제1: (광고) 이슈. 오픈율 하락.</p>
      <p>온라인 리서치: 선택지가 너무 유도 심문이었나?</p>
      <p>mvp: 이메일 플랫폼 의존 없이 앱에서 바로 콘텐츠를 볼 수 있게. 타겟-뉴스레터는 뉴닉만 구독하는 뉴니커/이메일이불편한뉴니커(아웃링크후앱스위칭/이메일사용빈도/이메일불편/다른메일이많아서못챙기는)</p>
      <p>메인레퍼런스:앱 스토어 + 현대카드</p>
      <p>온보딩:</p> -->
    </header>
    <section class="modal-body"></section>
  </article>
</aside>
