<aside class="modal" role="dialog">
  <div class="modal-dim"></div>
  <article class="modal-dialog">
    <header class="modal-head">
      <button class="modal-close js-modal-close"><i class="icon-close"></i><span hidden>닫기</span></button>
      <h1 class="modal-head-title">뉴닉 웹사이트 리뉴얼</h1>
      <a href="https://napp.newneek.co/2020election">사이트 바로가기</a>
    </header>
    <section class="modal-body">
      <h3 class="post-body-subhead">앱</h3>
      <p>문제1: 광고 이슈. 오픈율 하락. 뉴스레터의 한계</p>
      <p>온라인 리서치: 선택지가 너무 유도 심문이었나?</p>
      <p>mvp: 이메일 플랫폼 의존 없이 앱에서 바로 콘텐츠를 볼 수 있게. 타겟-뉴스레터는 뉴닉만 구독하는 뉴니커/이메일이불편한뉴니커(아웃링크후앱스위칭/이메일사용빈도/이메일불편/다른메일이많아서못챙기는)</p>
      <p>메인레퍼런스:앱스토어, 현대카드</p>
      <p>온보딩:</p>
    </section>
  </article>
</aside>
