<aside class="modal" role="dialog">
  <div class="modal-dim"></div>
  <article class="modal-dialog">
    <header class="modal-head">
      <button class="modal-close js-modal-close"><i class="icon-close"></i><span class="off-screen">닫기</span></button>
      <h1 class="modal-head-title">Under Construction</h1>
      <!-- <p>실험 :: 레터에서 요약 => 웹사이트에서 전문 (부정적 피드백 80%) inbox에서 콘텐츠 소비하는 경험에 너무너무 익숙함 => 나가리됨</p>
      <p>구독자를 어떻게 웹사이트로 유입시킬까?</p>
      <p>뉴스레터의 링크 클릭율을 조사해보니(a/b test가 아니기 때문에 위험한 데이터지만) 자극적인 단어, 생소한 용어, 시각 콘텐츠(지도, 이미지, 동영상)의 클릭율이 높은 경향을 보임. 레터에서 주황링크를 본문 내부, 본문 외부(끝) 2가지 사용 중이었는데, 본문 외부에서 뉴닉이 정리한 ~~~~보러가기 클릭율이 압도적으로 높음. cta 버튼의 전환율보다 높은 경우도 있음. 하지만 이것은 시각자료 링크도 마찬가지.</p>
      <p>그럼!! 이랗ㄱ[ㅔ!! 유입시키자 레터 내부 주황링크는 사용하지 않고,전체적인 하이퍼링크의 갯수도 줄인다. 문장이 끝나고 뉴닉이 정리한 ~~~ 기사 보러가기 링크 적극적으로 꾸준히 넣기로 제안. 뉴닉이 정리한(이 writing)이 매우매우 주요하다고 생각) ==팬덤!</p>

      <h3>미션 1 신규 방문자 = 구독</h3>
      <p>마케팅 없이 구독자가 증가하는 뉴닉 뉴스레터. 매체, 커뮤니티, 지인 등 입소문을 통해 뉴스레터 서비스로 각인되어 있음. 따라서 홈에서 콘텐츠 큐레이션하는 플로우는 곤란. 구독하기 위해서 이미 방문. (데이터가 없어서 방문자의 몇 퍼센트가 전환되는지 정확히 몰라. 심각한 문제!!)</p>
      <h3>미션 2 구독자 = 예전 뉴닉 콘텐츠 열람</h3>
      <p>6개의 최근 뉴스레터만 공개되어 있기 때문에 유저들의 꾸준한 요구가 있었다. 이것을 이제 우리가 해결해줄게 하며 오픈.</p>

      <p>다음 스텝. 뉴니커가 원하는 것에 대한 설문 진행. 하나 골라서 쿼터에 해결해주기. + 비지니스 모델 실험</p>

      <p>고민: 팬덤이 있는 프로덕트, 브랜드 이미지가 좋기 때문에 일반적인 유저 인터렉션을 고집할 필요가 있을가? 어느 정도?, 넛징을 위한 다크패턴 지양.</p> -->

      <h3>UX Writing</h3>
      <ul>
        <li>뉴닉 뉴스레터를 구독하면 평일 아침마다 세상 돌아가는 소식을 메일로 보내드려요. => 평일 아침마다 세상 돌아가는 소식을 메일로 받아보세요</li>
      </ul>

      <h3>A/B Testing</h3>
      <ul>
        <li>푸터 유틸리티 네비게이션에 피드백 링크를 두니 뉴스레터에 대한 피드백이 대부분이라 웹사이트 개선에 도움이 되지 않는다. 마이페이지로 옮기면 웹사이트에 대한 피드백이 들어올까?</li>
        <li>지금 신청하면 내일 뉴스레터를 읽일 수 있다고 알려주면 뉴스레터 구독 전환에 도움이 될까?</li>
        <li></li>
      </ul>

      <h3>Features</h3>
      <h4>고슴책</h4>
    </header>
    <section class="modal-body"></section>
  </article>
</aside>
