<main class="notifications">
    <ul>
      <li>
        <b>popover: </b>
        <span>전체 알림 목록을 볼 수 있는 페이지 필요. 모두보기 링크 버튼 필요. </span>
      </li>
      <li>
        <b>modal: </b> <span>전체 알림 목록을 볼 수 있는 페이지 불필요. 모달 내에 infinite scroll vs more load(fixed/notfixed) 기능 필요.</span>
      </li>
      <li>
        checkbox 토글로 읽지 않은 알림만 필터링할 수도 있다.
      </li>
      <li>
        개별 알림에 대한 액션(읽음처리/삭제/신고 등).
      </li>
      <li>알림의 설정.</li>
    </ul>
  </header>

  <button class="navbar-notification-trigger" aria-haspopup="true" aria-expanded="false">
    <span class="material-symbols-outlined">notifications</span>
    <em>new</em>
  </button>

  <header class="titlebar js-titlebar" role="navigation" style="padding-left:0;padding-right:0;">
    <div class="titlebar-background"></div>
    <h1 class="titlebar-title js-page-title" title="page title">알림</h1>
    <button class="titlebar-back" onclick="javascript:window.location.href='/';">
      <figure class="titlebar-back-icon material-symbols-outlined" title="이전 페이지로">arrow_back</figure>
      <!-- <figure class="titlebar-back-icon material-symbols-outlined">close</figure> -->
      <!-- <span class="titlebar-back-label">뒤로</span> -->
    </button>
    <button class="titlebar-action" style="color:var(--color-primary);">
      <figure class="titlebar-action-icon" hidden></figure>
      <span class="titlebar-action-label">편집</span>
    </button>
  </header>

  <nav class="follow-tablist" role="tablist" aria-label="sample tabs">
    <!-- <button class="profile-tablist-tab" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">All</button> -->
    <button class="profile-tablist-tab" role="tab" aria-selected="true" aria-controls="panel-2" id="tab-2" tabindex="-1">like</button>
    <button class="profile-tablist-tab" role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">comment</button>
    <i class="profile-tablist-indicator"></i>
  </nav>

  <div class="notification-filter chip-group" style="margin-top:0;margin-bottom:1rem;">
    <button class="chip is-active">
      <span class="chip-label">모두</span>
    </button>
    <button class="chip">
      <span class="chip-label">읽지않음</span>
    </button>
  </div>
  <div class="notification" style="margin-left:0;padding-bottom:8rem;">
    <section class="empty" role="status">
      <p class="empty-title">최근 알림 메세지가 없습니다.</p>
    </section>
    <menu class="notification-menu">
      <!-- <h6 class="navbar-notification-menu-title">알림</h6>
      <a class="navbar-notification-menu-all" href="#">모두 보기</a> -->
      <div class="item" data-size="large">
        <em class="notification-unread avatar-badge"></em>
        <figure class="item-avatar"></figure>
        <p style="line-height:1.4;">
          <b class="item-name">John Cassavetes</b>
          <time class="item-time">5일 전</time>
          <span class="notification-item-content">comment on <b>John Cassavetes</b></span>
        </p>
        <div class="tile-elevated-small" style="margin:var(--space-4) 0 0;">
          <figure class="avatar"></figure>
          <p>알림 관련 페이지. hover 영역 재설정. item vs notification-item</p>
        </div>
      </div>
    </menu>
  </div>
</main>


<main class="notifications js-tab" style="padding-top:0;">

  <header class="titlebar js-titlebar" role="navigation" style="padding-left:0;padding-right:0;">
    <div class="titlebar-background"></div>
    <h1 class="titlebar-title js-page-title" title="page title">누구의 페이지</h1>
    <button class="titlebar-back" onclick="javascript:window.location.href='/';">
      <figure class="titlebar-back-icon material-symbols-outlined" title="이전 페이지로">arrow_back</figure>
      <!-- <span class="titlebar-back-label">뒤로</span> -->
    </button>
    <!-- <button class="titlebar-action" style="color:var(--color-primary);">
      <figure class="titlebar-action-icon" hidden></figure>
      <span class="titlebar-action-label">공유</span>
    </button> -->
  </header>
  <!-- <div class="titlebar-backdrop js-header"></div> -->
  
  <nav class="follow-tablist" role="tablist" aria-label="sample tabs">
    <!-- <button class="profile-tablist-tab" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">All</button> -->
    <button class="profile-tablist-tab" role="tab" aria-selected="true" aria-controls="panel-2" id="tab-2" tabindex="-1">팔로워</button>
    <button class="profile-tablist-tab" role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">팔로잉</button>
    <i class="profile-tablist-indicator"></i>
  </nav>

  <div class="item" role="listitem" data-size="large" style="position: relative;">
    <figure class="item-avatar"></figure>
    <h2 class="item-name">Gyeongsoo I</h2>
    <span class="item-description">유튜브 구독자</span>
    <button class="item-action is-active" style="right:0;top:50%;transform:translateY(-50%);font-weight:var(--font-weight-normal);">
      <span class="item-action-label">팔로잉</span>
    </button>
  </div>
  <div class="item" role="listitem" data-size="large" style="position: relative;">
    <figure class="item-avatar"></figure>
    <h2 class="item-name">Gyeongsoo I</h2>
    <span class="item-description">유아이 디자이너</span>
    <button class="item-action is-active" style="right:0;top:50%;transform:translateY(-50%);font-weight:var(--font-weight-normal);">
      <span class="item-action-label">팔로잉</span>
    </button>
  </div>

  <footer style="margin:var(--space-4) 0 0 0;">
    <button class="link-outside">
      <span class="">더 보기</span>
    </button>
  </footer>
</main>
