<main class="notifications js-tab">
  <ul>
    <li>
      <b>popover: </b>
      <span>전체 알림 목록을 볼 수 있는 페이지 필요. 모두보기 링크 버튼 필요. </span>
    </li>
    <li><b>modal: </b> <span>전체 알림 목록을 볼 수 있는 페이지 불필요. 모달에서 infinite scroll이나 more load</span></li>
    <li>개별 알림에 대한 액션: 읽음처리/삭제/신고 등).</li>
    <li>전체 알림에 대한 애션: 모두 읽은 상태로 표시</li>
    <li>22-10 알림 컴포넌트가 간결해지는 추세. 전체가 하나의 클릭 영역으로 정의되고, 콘텐츠와 작성자를 분리하지 않음.</li>
  </ul>
  <!-- 
  <button class="navbar-notification-trigger" aria-haspopup="true" aria-expanded="false">
    <span class="material-symbols-outlined">notifications</span>
    <em>new</em>
  </button> -->

  <header class="titlebar js-titlebar" role="navigation" style="padding-left: 0; padding-right: 0">
    <div class="titlebar-background"></div>
    <h1 class="titlebar-title js-page-title" title="page title">알림</h1>
    <button class="titlebar-back" onclick="javascript:window.location.href='/';">
      <figure class="titlebar-back-icon material-symbols-outlined" title="이전 페이지로">arrow_back</figure>
      <!-- <figure class="titlebar-back-icon material-symbols-outlined">close</figure> -->
      <!-- <span class="titlebar-back-label">뒤로</span> -->
    </button>
    <button class="titlebar-action" style="color: var(--color-primary)">
      <figure class="titlebar-action-icon" hidden></figure>
      <span class="titlebar-action-label">편집</span>
    </button>
  </header>

  <nav class="tablist type-t" role="tablist" aria-label="sample tabs" style="margin-bottom: var(--space-3); z-index: 7">
    <button class="tablist-tab" role="tab" aria-selected="true" aria-controls="panel-2" id="tab-2" tabindex="-1">좋아요</button>
    <button class="tablist-tab" role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">코멘트</button>
    <i class="tablist-indicator"></i>
  </nav>

  <div class="notification-filter stack" style="margin-bottom: var(--space-3)">
    <button class="chip is-active"><span class="chip-label">모두</span></button>
    <button class="chip"><span class="chip-label">읽지않음</span></button>
  </div>

  <div class="notification notification-list" style="margin-left: 0; padding-bottom: 8rem">
    <menu class="notification-menu">
      <div class="item" data-size="large">
        <em class="notification-unread avatar-badge"></em>
        <figure class="item-avatar"></figure>
        <p class="notification-item-content" style="line-height: 1.4">
          <b class="item-name" style="font-weight: var(--font-weight-bold)">수랑</b>님이
          <b style="font-weight: var(--font-weight-bold)">Players- 기획자, 마케터, 디자이너, 개발자 모임</b> 그룹에 게시물을 올렸습니다: "**요구사항
          정의서 작성하는 방법(+샘플)** 프로젝트의 시작과 동시, 기획자는..."
        </p>
        <time class="item-description">5일 전</time>
      </div>

      <div class="item" data-size="large">
        <em class="notification-unread avatar-badge"></em>
        <figure class="item-avatar"></figure>
        <p class="notification-item-content" style="line-height: 1.4">
          주연 ZUYONI에서 업로드한 동영상: 신형 에어팟프로 2세대! 1세대보다 얼마나 좋아졌을까? 궁금증 해결!🧐 | 구매가이드, 노이즈캔슬링, 통화품질,
          배터리, 충전, 새로운기능
        </p>
        <time class="item-description">5일 전</time>
      </div>
    </menu>

    <footer style="margin: var(--space-4) 0 0 0">
      <button class="link-outside">
        <span class="">더 보기</span>
      </button>
    </footer>

    <section class="empty" role="status">
      <h2 class="empty-title">최근 알림 메세지가 없습니다.</h2>
    </section>
  </div>
</main>
