<main class="notifications js-tab">
    <ul>
      <li>
        <b>popover: </b>
        <span>전체 알림 목록을 볼 수 있는 페이지 필요. 모두보기 링크 버튼 필요. </span>
      </li>
      <li>
        <b>modal: </b> <span>전체 알림 목록을 볼 수 있는 페이지 불필요. 모달 내에 infinite scroll vs more load(fixed/notfixed) 기능 필요.</span>
      </li>
      <li>
        like/comment은 tab. all/unread chips(filtering)
      </li>
      <li>
        checkbox 토글로 읽지 않은 알림만 필터링할 수도 있다.
      </li>
      <li>
        개별 알림에 대한 액션(읽음처리/삭제/신고 등).
      </li>
      <li>알림의 설정.</li>
    </ul>
  </header>

  <button class="navbar-notification-trigger" aria-haspopup="true" aria-expanded="false">
    <span class="material-symbols-outlined">notifications</span>
    <em>new</em>
  </button>

  <header class="titlebar js-titlebar" role="navigation" style="padding-left:0;padding-right:0;">
    <div class="titlebar-background"></div>
    <h1 class="titlebar-title js-page-title" title="page title">알림</h1>
    <button class="titlebar-back" onclick="javascript:window.location.href='/';">
      <figure class="titlebar-back-icon material-symbols-outlined" title="이전 페이지로">arrow_back</figure>
      <!-- <figure class="titlebar-back-icon material-symbols-outlined">close</figure> -->
      <!-- <span class="titlebar-back-label">뒤로</span> -->
    </button>
    <button class="titlebar-action" style="color:var(--color-primary);">
      <figure class="titlebar-action-icon" hidden></figure>
      <span class="titlebar-action-label">편집</span>
    </button>
  </header>

  <div class="notification-filter chip-group" style="margin-top:0;margin-bottom:1rem;">
    <button class="chip is-active">
      <span class="chip-label">모두</span>
    </button>
    <button class="chip">
      <span class="chip-label">읽지않음</span>
    </button>
  </div>
  <!-- todo padding-bottom vs min-height -->
  <div class="notification" style="margin-left:0;padding-bottom:8rem;">
    <p role="status">최근 알림 메세지가 없습니다.</p>
    <menu class="notification-menu">
      <!-- <h6 class="navbar-notification-menu-title">알림</h6>
      <a class="navbar-notification-menu-all" href="#">모두 보기</a> -->
      <div class="item" data-size="large">
        <em class="notification-unread avatar-badge"></em>
        <figure class="item-avatar"></figure>
        <p style="line-height:1.4;">
          <b class="item-name" style="font-weight:var(--font-weight-bold);">John Cassavetes</b>
          <time class="item-time">5일 전</time>
          <span class="notification-item-content">comment on <b>John Cassavetes</b></span>
        </p>
        <div class="tile-elevated-small" style="margin:var(--space-2) 0;">
          <figure class="avatar"></figure>
          <p>알림 관련 페이지. hover 영역 재설정. item vs notification-item</p>
        </div>
      </div>
      <!-- <footer>
        <button>더 불러오기</button>
      </footer> -->
      <hr />
      <div class="notification-item" style="padding-left:0;">
        <p style="line-height:1.4;">
          <!-- <b class="notification-item-user">John Cassavetes</b> -->
          <span class="notification-item-content" style="color:var(--color-text);">일반에서 브론즈로 등급이 올라갔습니다.</span>
        </p>
        <time class="notification-item-date">5일 전</time>
      </div>
    </menu>
  </div>
</main>
