<main class="order">
	<h1 class="order-heading">주문서</h1>
	<p class="order-massage">Thanks for your order!</p>

	<section class="order-user">
			<div class="order-name">홍길동</div>
			<div class="order-no">n. 51092</div>
			<div class="order-date">2019-05-15</div>
			<div class="order-address">서울시 강서구 화곡로 344</div>
			<div class="order-address">서울시 강서구 화곡로 344</div>
			<div class="order-address">경동엠파이어스테이트 2401호</div>
			<div class="order-zip">31020</div>
	</section>

	<div class="order-item">
		<div class="order-item-thumnail"></div>
		<div class="order-item-name"></div>
		<div class="order-item-name"></div>
	</div>
	<style>
		.order {width:800px;margin:0 auto;position:relative;}
		.order-user {line-height:1.6;}
		.order-name {color:#000;}

		.order-massage {text-align:center;font-size:1.25rem;}
	</style>
</main>