<!-- // invoice랑 구분 -->
<main class="order">
  <header class="order-head">
    <h1 class="order-head-title"></h1>
    <p class="order-head-description"></p>
  </header>

  <ul>
    <li>주문 하나에 여러 개의 상품 vs 하나의 상품</li>
    <li>order detail: 결제 정보. 주문자 정보.</li>
  </ul>
  <section>
    <div class="statistic-item">
      <i class="statistic-label">배송중</i>
      <span class="statistic-value">4</span>
    </div>
    <div class="statistic-item">
      <i class="statistic-label">주문완료</i>
      <span class="statistic-value">15</span>
    </div>
    <div class="statistic-item">
      <i class="statistic-label">취소/교환/환불</i>
      <span class="statistic-value">1</span>
    </div>
  </section>
  <div class="order-item">
    <header class="order-item-head">
      <span class="order-item-head-status">
        <b class="order-item-head-status-label" hidden>주문상태</b>
        결제완료
      </span>
      <time class="order-item-head-date">08. 24 결제</time>
      <!-- <span class="order-item-head-method">
        <b class="order-item-head-method-label" hidden>결제방법</b>신용카드
      </span> -->
      <span class="order-item-head-total">주문총액 42,000원</span>
    </header>
    <div class="order-item-product">
      <figure class="order-item-product-thumbnail">
        <img src="/public/images/springsteen.jpg" alt="" />
      </figure>
      <h3 class="order-item-product-name">뉴닉이 풀어 쓴 경제상식사전</h3>
      <small class="order-item-product-helper">2020년 1월 1일까지 볼 수 있어요!</small>
      <div class="order-item-product-price">₩ 45,000</div>
    </div>
    <footer class="order-item-foot">
      <button class="order-item-foot-button">배송조회</button>
    </footer>
  </div>

  <section class="order-detail">
    <div class="order-detail-item">
      <h2>배송지정보</h2>
    </div>
    <div class="order-detail-item">
      <h2>결제정보</h2>
      <p>카드 간편결제</p>
      <b>53,800원</b>
      <p>현대(5121-****-****-****) 일시불</p>
    </div>
  </section>
</main>
