<!-- // invoice랑 구분 -->

<main class="order">
  <header class="order-head">
    <h1 class="order-head-title">soojubm님, 환영합니다.</h1>
    <p class="order-head-description">정보, 개인정보 보호 및 보안을 관리하여 Google을 나에게 맞게 사용할 수 있습니다.</p>
  </header>
  <div class="order-item">
    <header class="order-item-head">
      <time class="order-item-head-date">2020/04/20 09:35:48</time>
      <span class="order-item-head-method badge">신용카드</span>
      <span class="order-item-head-status badge">결제완료</span>
      <!-- <div class="order-item-head-date">
        <span class="order-item-head-date-label">주문일시</span>
        <time class="order-item-head-date-value">2020/04/20 09:35:48</time>
      </div> -->
      <!-- <div class="order-item-head-status">
        <span class="order-item-head-status-label">주문상태</span>
        <span class="order-item-head-status-value">결제완료</span>
      </div> -->
      <!-- <div class="order-item-head-method">
        <span class="order-item-head-method-label">결제수단</span>
        <span class="order-item-head-method-value">신용카드</span>
      </div> -->
      <!-- <span class="order-item-head-code">503-9764331-2937463</span>
      <span class="order-item-head-total">주문총액42,000원</span> -->
    </header>
    <div class="order-item-body">
      <div class="order-item-product">
        <figure class="order-item-product-thumbnail">
          <img src="/public/images/soo.png" alt="" />
        </figure>
        <h3 class="order-item-product-name">Basic 월 정기 결제</h3>
        <div class="order-item-product-price">45,000원, 2개</div>
        <small class="order-item-product-helper" style="color:crimson;" title="이용기간 2020.04.20. 09:35 ~ 2020.05.19. 23:59">2020년 1월 1일까지 볼 수 있어요!</small>
      </div>
    </div>
    <footer class="order-item-foot">
      <button class="order-item-foot-button">보러가기</button>
    </footer>
  </div>

  <footer class="order-foot">
    <!-- <p class="order-item-foot-helper">환불 및 문의사항은 whatsup@newneek.co로 보내주세요!</p> -->
  </footer>
</main>
