<aside class="modal" role="dialog">
  <article class="modal-dialog">
    <header class="modal-head">
      <button class="modal-close js-modal-close"><i class="icon-x"></i><span hidden>닫기</span></button>
      <h1 class="modal-head-title">팟빵</h1>
    </header>
    <section class="modal-body">
      <!-- 한동안 안 듣던 팟빵을 퇴사 후 다시 듣고 있다. 586세대 진행자가 주축이 되는 상위권 시사 콘텐츠들이 시대정신에 못 미친다는 아쉬움은 뒤로하고, 스토어의 스크린샷으로 리뉴얼된 앱 화면을 처음 보았을 때는 와 많이 좋아졌네? 하는 인상이었다. 직접 써 보니 아쉬운 점이 많다.
      가장 큰 문제는 웹, 모바일웹, 앱이 다 다르다... 유지보수 비용은 차치하고,
      콘텐츠가 웹(리뉴얼안됨)에서는 여전히 순위기반인데, 모바일 쪽에서는 큐레이션 기반.
      모바일 바텀 네비게이션 유무.. 앱에서는 2번째 여전히 랭킹 탭....;
      모바일웹에는 햄버거에 주요 기능 다 들어 있고 랭킹도 햄버거 내부에 있어서 랭킹 강조가 안 됨.
      앱
      - 마이페이지에서 다운로드 한 콘텐츠를 관리할 수 없다.
      - 내 보관함이 바텀 네비 위에서 항상 열려있다.
      - 내 보관함이 바텀 시트라서 삭제 등의 관리가 어렵다. 편집 모드에서 최대 2개 밖에 안 보임..
      모바일웹에서 스킵 기본 -10초, +30초 너무 좋았는데
      웹은 -15/+15
      앱은 -30/+30 (설정할 수 있던 것으로 기억. 지금은 모르겠다.)
      
      다음 에피소드 듣기, 데이터, 재생 중인 에피소드 방송 페이지(?) -->
    </section>
  </article>
</aside>
