<main class="post">
  <style>
    .card.is-vertical {
      width: auto;
      overflow: hidden;
      margin: 4rem 0;
    }
    .card.is-vertical .card-thumbnail {
      float: left;
      border-radius: 0;
      margin-right: 4rem;
      padding-top: 0;
      width: 220px;
      height: 220px;
      border: 2px solid var(--gray800);
    }
    .card.is-vertical .card-thumbnail img {
      max-width: 150%;
      max-height: 150%;
    }
    .card.is-vertical .card-tags {
      margin-left: -0.25rem;
      margin-top: 0 !important;
    }
    .card.is-vertical .card-tags .tag {
      margin-left: 0;
    }
    .card.is-vertical .card-title {
      margin: 0 0 0.5rem 0;
      font-size: var(--font-size-large);
      text-indent: -2px;
    }
    .card.is-vertical .card-date {
      margin: 2rem 0 1rem 0;
      font-size: 1rem;
    }
    .card.is-vertical .card-note {
      display: none;
      justify-content: center;
      margin: 1rem 0 0;
    }
    .card.is-vertical .card-hashtags {
    }
    .card.is-vertical .card-hashtags span {
      margin-right: 0.5rem;
    }
  </style>
  <div class="card is-vertical">
    <figure class="card-thumbnail">
      <img src="/public/images/unnamed.jpg" />
    </figure>
    <!-- <img src="/public/images/star1.svg" alt="" style="position:absolute;left:-2rem;top:-2rem;width:80px;"> -->
    <div class="card-tags" role="group">
      <span class="tag" style="font-size:var(--font-size-body);">경제</span>
    </div>
    <h3 class="card-title">이자? 넣어둬, 넣어둬</h3>
    <div class="card-hashtags">
      <span>#기준금리</span>
      <span>#한국은행</span>
      <span>#경제</span>
    </div>
    <time class="card-date">2020-03-21 금요일</time>
    <div class="card-note">마일리지 적립 200P</div>
    <button class="card-more"><i class="icon-more"></i></button>
  </div>
  <div class="card is-vertical">
    <figure class="card-thumbnail">
      <img src="/public/images/unnamed.jpg" />
    </figure>
    <!-- <img src="/public/images/star1.svg" alt="" style="position:absolute;left:-2rem;top:-2rem;width:80px;"> -->
    <div class="card-tags" role="group">
      <span class="tag" style="font-size:var(--font-size-body);">경제</span>
    </div>
    <h3 class="card-title">이자? 넣어둬, 넣어둬</h3>
    <div class="card-hashtags">
      <span>#기준금리</span>
      <span>#한국은행</span>
      <span>#경제</span>
    </div>
    <time class="card-date">2020-03-21 금요일</time>
    <div class="card-note">마일리지 적립 200P</div>
    <button class="card-more"><i class="icon-more"></i></button>
  </div>

  <!-- <figure class="post-item">
		<span class="post-item-thumbnail"><img src="/public/images/springsteen.jpg" alt="" /></span>
		<span class="post-item-category">Sports</span>
		<time class="post-item-date">2019. 10. 27</time>
		<h1 class="post-item-title">레전드는 슬럼프로 만들어진다</h1>
		<p class="post-item-summary">
			장기간 최상의 결과를 낸 선수들을 우리는 ‘레전드’라고 부른다. 그리고 대부분의 야구팬들은 레전드들이 슬럼프와 관련이 없는, 특별한 사람들일 것이라고 생각한다. 야구를 사랑하는 심리학자 김수안은 정반대의 답변을 내놓는다. 레전드는 슬럼프를 겪지 않은 선수들이 아니라, 슬럼프를 성공적으로 극복한 선수들이라는 것이다. 한국 야구를 대표하는 레전드 박정태, 김종모, 송진우, 김용수를 인터뷰해 이들이 슬럼프를 극복한 과정을 생생하게 전한다.
		</p>
		<span class="post-item-tag">HTML5</span>
	</figure>
	<figure class="post-item">
		<span class="post-item-thumbnail"><img src="/public/images/springsteen.jpg" alt="" /></span>
		<span class="post-item-category">Pocketmon</span>
		<time class="post-item-date">2019. 10. 27</time>
		<h1 class="post-item-title">레전드는 슬럼프로 만들어진다</h1>
		<p class="post-item-summary">
			장기간 최상의 결과를 낸 선수들을 우리는 ‘레전드’라고 부른다. 그리고 대부분의 야구팬들은 레전드들이 슬럼프와 관련이 없는, 특별한 사람들일 것이라고 생각한다. 야구를 사랑하는 심리학자 김수안은 정반대의 답변을 내놓는다. 레전드는 슬럼프를 겪지 않은 선수들이 아니라, 슬럼프를 성공적으로 극복한 선수들이라는 것이다. 한국 야구를 대표하는 레전드 박정태, 김종모, 송진우, 김용수를 인터뷰해 이들이 슬럼프를 극복한 과정을 생생하게 전한다.
		</p>
	</figure> -->
</main>
