<main class="post">
  <header class="post-head js-post-head">
    <a class="post-head-category" href="#post">Murmur</a>
    <h2 class="post-head-headline">Lorem Ipsum is simply dummy text</h2>
    <p class="post-head-kicker">
      Our collective understanding of work—where it takes place and how it gets done—has been transformed over the last year.
    </p>
    <!-- byline은 상단 고정되지 않기 때문에 byline에 작성 시간과 리딩 시간 등을 포함하면 좋다. -->

    <!-- <time class="post-head-dateline">2022년 4월 9일</time> -->
    <!-- <i class="icon-bullet"></i>
    <span class="post-head-readingtime">약 40초 분량</span> -->
    <div class="post-head-progress" role="progressbar" aria-valuenow=""></div>
  </header>

  <div class="item" data-size="large" style="margin:2rem 0 2.5rem;">
    <figure class="item-avatar" data-size="large"></figure>
    <h2 class="item-name">수줍이</h2>
    <span class="item-description">Youtube Subscriber</span>
  </div>

  <!-- <hr role="separator" /> -->

  <!-- <address class="post-byline">
    <figure class="post-byline-avatar"><img src="" alt="" /></figure>
    <span class="post-byline-name">soojubm</span>
    <time class="post-byline-time">2018. 06. 29.</time>
  </address> -->
  <section class="post-body">
    <figure class="post-body-image" style="background:url('/public/images/springsteen.jpg') no-repeat center center fixed;">
      <figcaption class="post-body-caption"></figcaption>
    </figure>
    <!-- <p class="post-body-kicker">
      구조와 표현, 행동을 엄격하게 분리합니다.
      <span class="linebreak">하나의 엘리먼트는 하나의 시멘틱한 클래스를 가집니다. 형태가 같다고 하여 같은 클래스를 사용하지 않습니다.</span>
    </p> -->

    <p class="post-body-paragraph">
      한글 ipsum. 사랑의 없는 보이는 이상을 피어나기 청춘에서만 끓는다. 있음으로써 위하여 가치를 것이다. 군영과 보는 풀밭에 가장 아름다우냐? 되려니와,
      오직 트고, 부패뿐이다. 피고, 물방아 되는 얼음과 용감하고 방황하여도, 그림자는 목숨을 얼음에 부패뿐이다. 청춘을 평화스러운 끝에 청춘에서만 곳으로
      실로 가는 뿐이다. 부패를 미인을 소리다.이것은 힘차게 우리 사는가 예가 뜨고, 칼이다. 밝은 가치를 그들의 붙잡아 힘있다. 뼈 아니한 가슴이 이상
      대중을 있는가? 거친 영락과 위하여 밥을 얼마나 같은 간에 황금시대를 아니다. 온갖 심장의 예수는 곧 말이다.
    </p>

    <h3 class="post-body-subhead">소제목이라고 합니다.</h3>
    <p class="post-body-paragraph">
      하나의 엘리먼트에는 하나의 시멘틱한 클래스를 가집니다. 엘리먼트의 상태status를 위해 보조 클래스를 사용할 수 있습니다.
    </p>

    <p class="post-body-paragraph">
      track, media, supporting text(supporter), elevated (hover), 도어메트 네비게이션, 유틸리티 링크(네비게이션)
    </p>
    <ul class="post-body-paragraph" type="1">
      <li>들여쓰기는 2칸의 공백을 가지는 탭.</li>
      <li>아이디 선택자는 재사용과 재정의가 어렵기 때문에 스타일링 목적으로 사용하지 마세요.</li>
    </ul>

    <h3 class="post-body-subhead">스타일시트</h3>
    <p class="post-body-paragraph">
      한글 ipsum. 사랑의 없는 보이는 이상을 피어나기 청춘에서만 끓는다. 있음으로써 위하여 가치를 것이다. 군영과 보는 풀밭에 가장 아름다우냐? 되려니와,
      오직 트고, 부패뿐이다. 피고, 물방아 되는 얼음과 용감하고 방황하여도, 그림자는 목숨을 얼음에 부패뿐이다. 청춘을 평화스러운 끝에 청춘에서만 곳으로
      실로 가는 뿐이다. 부패를 미인을 소리다.이것은 힘차게 우리 사는가 예가 뜨고, 칼이다. 밝은 가치를 그들의 붙잡아 힘있다. 뼈 아니한 가슴이 이상
      대중을 있는가? 거친 영락과 위하여 밥을 얼마나 같은 간에 황금시대를 아니다. 온갖 심장의 예수는 곧 말이다.
    </p>
    <ul class="post-body-paragraph">
      <li>케밥 케이스kebab-case</li>
      <li>rem 단위 가이드</li>
      <li>Input zooming on iOS devices :: iOS devices will slightly zoom into the input when the font size is less than 16px.</li>
    </ul>

    <!-- <h3 class="post-body-subhead">에셋</h3>
		<ul class="post-body-paragraph">
			<li>아이콘은 svg, 이미지는 png를 사용하고 png는 추가 압축으로 용량을 줄입니다.</li>
			<li>영문 소문자와 숫자, 언더스코어로 네이밍합니다.</li>
			<li>글로벌과 로컬을 prefix로 구분하는데, 글로벌에는 icon_, 로컬에는, parentName_ </li>
			<li>색상과 사이즈를 suffix로 구분하는데,</li>
		</ul> -->

    <!-- <p class="post-body-paragraph">들어가기.</p>
		<ul class="post-body-paragraph" type="1">
			prefix, name, suffix는 언더스코어(_)로 구분합니다.
			direction / shape / status / color / size
			에셋의 용량을 줄여야 하는 경우는 jpg를 사용합니다.
			suffix에서는 direction, shape, status, color, size 등의 요소를 정의합니다.
			2개 이상의 suffix가 사용되는 경우 direction, shape, status, color, size의 순서로 작성합니다.
			suffix에서는 단어를 축약하지 않습니다.
			status는 에셋의 동작에 따른 상태를 정의합니다.
			size는 셋의 크기를 숫자와 단위를 조합하여 작성합니다.
			단위는 플랫폼에 맞춰서 작성합니다.
			예시) android → dp, iOS → px, web → px
			size는 가로를 기준으로 작성하고 세로는 표기하지 않습니다.
			해상도별로 구분해야 하는 경우 1x, 2x를 사용합니다.
			제플린과 같이 프로그램에 의해 자동으로 suffix가 붙는 경우는 1x, 2x 가이드를 따르지 않아도 됩니다.
			이미 배포되어 적용된 에셋에서 suffix가 추가되는 경우, 기존 에셋을 변형하지 않고 구별자를 추가합니다.
		</ul> -->

    <h3 class="post-body-subhead">리액션 유아이</h3>
    <p class="post-body-paragraph">무제한(스트리밍) / 1개 무제한(미디엄) / 여러 개 중 1개 (총 1 페이스북) / 여러 개 중 여러 개에 각 1번 (깃허브)</p>

    <section class="post-reaction">
      <button class="post-reaction-like">
        <figure class="post-reaction-like-icon">
          <span class="material-symbols-outlined">
            favorite
          </span>
        </figure>
        <span class="post-reaction-like-count">119</span>
      </button>
      <div class="post-reaction-share" hidden>
        <button class="post-reaction-share-trigger"></button>
      </div>
    </section>

    <h4 style="margin:2rem 0 1rem;font-weight:normal;color:var(--color-text-light);">더 작은 제목</h4>
    <code class="post-body-code">
      const { body } = document;
      <br />
      const bodySection = body.querySelector('section');
    </code>
    <p class="post-body-paragraph">스크립팅 클래스는 js- 접두어를 사용하여 합니다.</p>
    <!-- <p class="post-body-paragraph">포스트를 수정하고 삭제하기 위한 버튼이 필요하다. 신고를 위한 버튼은 처음부터 필요한 기능은 아니기 때문에 뺀다. 작성자에게만 필요한 버튼은 콘텐츠 내부가 아닌 브라우저의 구석에 눈에 띄게 배치한다.</p>
		<ol class="post-body-paragraph" type="1">
			<li>문단을 구분하는 들여쓰기는 개행을 사용한다.</li>
			<li>본문은 왼끝 맞추기(오른끝 흘리기)를 적용한다.</li>
			<li>스크롤 플로그래스 바(적용완료) 전체 윈도우 영영 혹은 본문 영역</li>
			<li>비회원의 댓글 유도를 위해 이름과 비밀번호 입력필드는 숨겨둔다.</li>
		</ol> -->
  </section>

  <section class="post-hashtag">
    <a class="post-hashtag-item"><span class="post-hashtag-item-label chip-label">#Webpack</span></a>
    <a class="post-hashtag-item"><span class="post-hashtag-item-label chip-label">#HTML5</span></a>
    <a class="post-hashtag-item"><span class="post-hashtag-item-label chip-label">#accessibility</span></a>
    <a class="post-hashtag-item"><span class="post-hashtag-item-label chip-label">#typography</span></a>
  </section>

  <aside class="post-attract">
    <div class="post-attract-blur"></div>
    <h2 class="post-attract-title">다음 내용이 궁금하신가요?</h2>
    <p class="post-attract-description">
      한 달 동안 무료로 모든 콘텐츠를 체험해보세요.<br />
      언제든 해지하실 수 있어요.
    </p>
    <a class="post-attract-signup" href="#">
      멤버십 가입하기
    </a>
  </aside>

  <section class="post-share">
    <h4 class="post-share-title" hidden>share</h4>
  </section>

  <hr style="margin:2rem 0" />

  <section class="post-comment">
    <!-- <header class="post-comment-title js-open-comment" roloe="button">
      <figure class="">chat</figure>
      댓글 <small>172</small>
      <button class="post-comment-title-icon" style="position:absolute;right:0;top:0;"></button>
    </header> -->
    <div class="post-comment-list">
      <div class="post-comment-list-item">
        <a class="post-comment-list-item-avatar" href="#"><img src="/public/images/springsteen.jpg"/></a>
        <a class="post-comment-list-item-author" href="#">soojubm</a>
        <time class="post-comment-list-item-date" datetime="2016">1 day ago</time>
        <p class="post-comment-list-item-text">
          우와 처음으로 댓글 남겨요! 댓글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요. 우와 처음으로 댓글 남겨요! 댓글이 길어지면 어떻게
          보일까요? 두 줄로 세 줄로 안녕하세요.
        </p>
        <button class="post-comment-list-item-reply">답글 <small>7</small></button>
        <button class="post-comment-list-item-morevert js-toggle"><i class="icon-more"></i></button>
        <menu class="post-comment-list-item-menu">
          <button class="">수정</button>
          <button class="">삭제</button>
        </menu>
      </div>
      <hr role="separator" />
      <form class="comment-write js-comment-write" action="">
        <div class="textfield comment-write-text">
          <label class="textfield-label" for="" aria-hidden="true">댓글</label>
          <textarea class="textfield-input js-comment-textfield" rows="1" name="comment" placeholder="내용을 입력하세요."></textarea>
        </div>
        <div class="textfield comment-write-name">
          <label class="textfield-label" for="" aria-hidden="true">이름</label>
          <input class="textfield-input js-comment-textfield" type="text" name="" id="comment-name" placeholder="이름을 입력하세요." />
        </div>
        <div class="textfield comment-write-password">
          <label class="textfield-label" for="" aria-hidden="true">비밀번호</label>
          <input class="textfield-input js-comment-textfield" type="text" name="" id="comment-password" placeholder="비밀번호을 입력하세요." />
        </div>
        <button class="comment-write-submit" type="submit">댓글 게시</button>
        <!-- ! 게시와 등록 구분-->
        <!-- <button class="comment-write-cancel">취소</button> -->
      </form>
    </div>
  </section>

  <br />
  <br />
</main>

<nav class="post-pagination">
  <a class="post-pagination-previous" href="#">
    <figure class="post-pagination-previous-media"><span class="material-symbols-outlined">arrow_back</span></figure>
    <h6 class="post-pagination-previous-label" title="prev article">이전 콘텐츠</h6>
    <span class="post-pagination-previous-postname">Return to all articles</span>
  </a>
  <a class="post-pagination-next" href="#">
    <figure class="post-pagination-next-media"><span class="material-symbols-outlined">arrow_forward</span></figure>
    <h6 class="post-pagination-next-label">다음 콘텐츠</h6>
    <span class="post-pagination-next-postname">Avoid invisible text during font loading</span>
  </a>
</nav>
