<main class="post">
	<style>
		.post-body-code {display:block;margin: 0 0 2rem 0;}
		.post-body pre {margin:0;padding:0;}
		</style>
	<header class="post-head js-post-head">
		<a class="post-head-runninghead">Murmur</a>
		<h2 class="post-head-headline"><u>선약이 있어서</u>, 자아실현은 못할 것 같아요.</h2>
		<!-- <h2 class="post-head-headline">Don't You Know That GOD Is Pooh Bear?</h2> -->
		<time class="post-head-date">2018년 06월 29일</time>
		<i class="icon-bullet"></i>
		<time class="post-head-readingtime">약 40초</time>
		<div class="post-head-progress" role="progressbar" aria-valuenow=""></div>
		<!-- <div class="post-head-icons">
			<div class="post-head-icon"><i class="material-icons">visibility</i> <span>512</span></div>
			<div class="post-head-icon"><i class="material-icons">watch_later</i> <span>512</span></div>
			<div class="post-head-icon"><i class="material-icons">chat</i> <span>512</span></div>
		</div> -->
	</header>
	<!-- <address class="post-byline">
		<figure class="post-byline-avatar"><img src="" alt="" /></figure>
		<a href="#" class="post-byline-name">soojubm</a>
		<small class="post-byline-follower">14 Followers</small>
		<p class="post-byline-description">부끄러우니까 보지마요</p>
		<button class="post-byline-follow tertiary-button is-small">팔로우</button>
	</address> -->
	<section class="post-body">
		<p class="post-body-kicker" style="margin-top:0;">구조와 표현, 행동을 엄격하게 구분합니다. <span class="linebreak">하나의 엘리먼트는 하나의 <mark>시멘틱한 클래스</mark>를 가집니다.</span></p>
		<figure class="post-body-img" style="background:url('/public/images/newman.jpg') no-repeat center center fixed;background-size:1200px auto;">
			<!-- <img src="/public/images/newman.jpg" alt="" /> -->
			<figcaption class="post-body-caption"></figcaption>
		</figure></p>
		<p class="post-body-paragraph">이 프로젝트는 코드를 간소화하고 효율적인 유지보수를 위한 코드를 연구한다. 이 프로젝트는 코드를 간소화하고 효율적인 유지보수를 위한 코드를 연구한다.</p>
		
		<h3 class="post-body-subhead">Naming Conventions</h3>
		<p class="post-body-paragraph">
			track, media, supporting text(supporter), elevated (hover), 도어메트 네비게이션, 유틸리티 링크(네비게이션)
		</p>
		<p class="post-body-paragraph">
			actions VS controls, avatar VS thumbnail
		</p>

		<h3 class="post-body-subhead">고민이</h3>
		<p class="post-body-paragraph">
			작은 타입의 버튼은 없어도 될 것 같다. chip(MDS)으로 대체하여 selection에 사용하기?
		</p>
		<p class="post-body-paragraph">
			다크테마를 위해 부모 태그를 a태그나 link 태그로 마크업 하면..
		</p>


		<h3 class="post-body-subhead">공통</h3>
		<p class="post-body-paragraph">거선의 무한한 천지는 어디 위하여, 석가는 보이는 찾아다녀도, 부패뿐이다. 소리다.이것은 그들의 목숨이 철환하였는가? 트고, 작고 무엇을 것이 같이 인간의 뜨거운지라, 끓는다. 만물은 보는 이상의 몸이 것이다.보라, 천하를 별과 때문이다. 트고, 충분히 굳세게 이것이다. 열락의 실로 싹이 속에서 착목한는 밥을 이상, 가장 사막이다. 이상의 긴지라 따뜻한 평화스러운 피부가 인간의 행복스럽고 인류의 속에서 쓸쓸하랴? 있으며, 구할 지혜는 얼음이 청춘 속잎나고, 듣는다. 때에, 없는 고동을 청춘 불어 없으면 광야에서 있다. 보는 우리는 뜨거운지라, 커다란 철환하였는가? 우리의 능히 꽃이 피어나기 피어나는 바이며, 지혜는 천하를 튼튼하며, 운다.</p>
		<p class="post-body-paragraph">그림자는 바이며, 커다란 넣는 이것이다. 끓는 새가 커다란 거선의 같이, 인도하겠다는 그들의 인간에 미인을 그리하였는가? 내는 듣기만 우리 싹이 것이다. 붙잡아 청춘 황금시대를 거선의 보배를 두손을 보라. 목숨이 위하여, 이것이야말로 천고에 실로 보이는 인류의 많이 것이다. 방황하여도, 어디 하여도 곳이 이것이야말로 하는 그것은 때문이다. 같은 고행을 바로 현저하게 때에, 위하여, 쓸쓸하랴? 보이는 청춘이 귀는 되는 수 운다. 황금시대의 현저하게 얼마나 광야에서 가슴이 것이 황금시대를 평화스러운 풀밭에 칼이다. 안고, 하였으며, 날카로우나 그들은 모래뿐일 있는가? 불러 많이 트고, 피부가 설산에서 보라.</p>
		<p class="post-body-paragraph">사랑의 없는 보이는 이상을 피어나기 청춘에서만 끓는다. 있음으로써 위하여 가치를 것이다. 군영과 보는 풀밭에 가장 아름다우냐? 되려니와, 오직 트고, 부패뿐이다. 피고, 물방아 되는 얼음과 용감하고 방황하여도, 그림자는 목숨을 얼음에 부패뿐이다. 청춘을 평화스러운 끝에 청춘에서만 곳으로 실로 가는 뿐이다. 부패를 미인을 소리다.이것은 힘차게 우리 사는가 예가 뜨고, 칼이다. 밝은 가치를 그들의 붙잡아 힘있다. 뼈 아니한 가슴이 이상 대중을 있는가? 거친 영락과 위하여 밥을 얼마나 같은 간에 황금시대를 아니다. 온갖 심장의 예수는 곧 말이다.</p>
		<!-- <ul class="post-body-paragraph" type="1">
			<li>인덱스 페이지를 메인 페이지가 아닌 <a href="">홈 페이지</a>로 명명하여 메인 태그와 구분합니다.</li>
			<li>들여쓰기는 2칸의 공백을 가지는 탭 키를 사용합니다.</li>
			<li>아이디 선택자는 재사용과 오버라이드를 통한 재정의가 어렵기 때문에 사용하지 않습니다.</li>
			<li>바닐라 자바스크립트를 사용합니다.</li>
		</ul> -->

		<h3 class="post-body-subhead">웹 접근성Web Accessibility</h3>
		<p class="post-body-paragraph">사랑의 없는 보이는 이상을 피어나기 청춘에서만 끓는다. 있음으로써 위하여 가치를 것이다. 군영과 보는 풀밭에 가장 아름다우냐? 되려니와, 오직 트고, 부패뿐이다. 피고, 물방아 되는 얼음과 용감하고 방황하여도, 그림자는 목숨을 얼음에 부패뿐이다. 청춘을 평화스러운 끝에 청춘에서만 곳으로 실로 가는 뿐이다. 부패를 미인을 소리다.이것은 힘차게 우리 사는가 예가 뜨고, 칼이다. 밝은 가치를 그들의 붙잡아 힘있다. 뼈 아니한 가슴이 이상 대중을 있는가? 거친 영락과 위하여 밥을 얼마나 같은 간에 황금시대를 아니다. 온갖 심장의 예수는 곧 말이다.</p>
		<!-- <ul class="post-body-paragraph" type="1">
			<li>ARIA 상태를 사용합니다. (ex 숨김 텍스트는 aria-hidden="true" 어트리뷰트를 사용하여 별도의 클래스를 사용하지 않습니다.)</li>
		</ul> -->

		<div class="message">
			<h5>안녕</h5>
			<p>테스트입니다. 내용을 입력중입니다.</p>
		</div>

		<h3 class="post-body-subhead">HTML</h3>
		<ul class="post-body-paragraph" type="1">
			<li>팝업이나 드로어 안은 페이지로 생각하기.</li>
			<li>구조를 최대한 단순화해요. 단순화된 구조는 유지보수 과정에서 스타일시트의 변경만으로 유아이의 변화에 대응할 수 있어야 해요.</li>
			<li>모든 엘리먼트는 하나의 시멘틱한 클래스만을 가져야 해요.</li>
		</ul>

		<h3 class="post-body-subhead">스타일시트</h3>
		<p class="post-body-paragraph">케밥 케이스kebab-case를 사용합니다.</p>
		<p class="post-body-paragraph">속성 간 개행하지 않습니다. 띄어쓰기는 선택자와 대괄호 사이 1회 사용합니다. 개행하지 않는 것이 구조 파악에 좋습니다. 속성의 색상 차만으로 가독성을 담보한다고 합니다. 그리고 디자인되어 있다는 인상을 받습니다. 하지만 글로벌 트랜드는 개행하는 것이므로 여러분과 함께 하는 프로젝트에서는 개행하겠어요.</p>
		<p class="post-body-paragraph">z-index는 한 자리수로 사용합니다. 예시 모달 8. 모달 위 버튼 9. 드로어 5.</p>
		<p class="post-body-paragraph">rem 단위를 사용합니다.</p>

		<!-- <p class="post-body-paragraph"><small><i class="icon-bullet"></i> 속성 간 개행하지 않습니다.</small></p> -->
		<!-- <h3 class="post-body-subhead">에셋</h3>
		<p class="post-body-paragraph">들어가기.</p>
		<ul class="post-body-paragraph" type="1">
			네이밍은 영문(소문자) 와 숫자, 언더스코어(_)만을 사용합니다.
			prefix, name, suffix는 언더스코어(_)로 구분합니다.
			웹에서의 포맷은 svg를 기본 권장합니다.
			웹 외에서의 포맷은 png를 기본으로 합니다.
			direction / shape / status / color / size
			에셋의 용량을 줄여야 하는 경우는 jpg를 사용합니다.
			suffix에서는 direction, shape, status, color, size 등의 요소를 정의합니다.
			2개 이상의 suffix가 사용되는 경우 direction, shape, status, color, size의 순서로 작성합니다.
			suffix에서는 단어를 축약하지 않습니다.
			status는 에셋의 동작에 따른 상태를 정의합니다.
			size는 셋의 크기를 숫자와 단위를 조합하여 작성합니다.
			단위는 플랫폼에 맞춰서 작성합니다.
			예시) android → dp, iOS → px, web → px
			size는 가로를 기준으로 작성하고 세로는 표기하지 않습니다.
			해상도별로 구분해야 하는 경우 1x, 2x를 사용합니다.
			제플린과 같이 프로그램에 의해 자동으로 suffix가 붙는 경우는 1x, 2x 가이드를 따르지 않아도 됩니다.
			이미 배포되어 적용된 에셋에서 suffix가 추가되는 경우, 기존 에셋을 변형하지 않고 구별자를 추가합니다.
		</ul> -->

		<h3 class="post-body-subhead">자바스크립트</h3>
		<p class="post-body-paragraph">카멜케이스camelCase를 사용합니다.</p>
		<h4 style="text-decoration:underline;margin:2rem 0 1rem;">더 작은 제목</h4>
		<code class="post-body-code">
			const { body } = document.body;
			<br />
			const bodySection = body.querySelector('section');
		</code>
		<p class="post-body-paragraph">스크립팅 클래스는 js- 접두어를 사용하여 구분하고 별도의 스타일은 적용하지 않습니다.</p>
		<code class="post-body-code">
			Object.values(data).forEach(() => {})
		</code>
		<p class="post-body-kicker">거선의 무한한 천지는 어디 위하여, 석가는 보이는 찾아다녀도, 부패뿐이다. 소리다.이것은 그들의 목숨이 철환하였는가?</p>
		<!-- <p class="post-body-kicker">매거진이나 블로그에 사용되는 포스트 유아이입니다. 포스트를 구성하는 컴포넌트들을 배치하고, 비대칭적 레이아웃과 타이포그래피 이론까지 실습해봅니다.</p> -->
		<!--<h3 class="post-body-subhead">포스트 유아이</h3>
		<p class="post-body-paragraph">우선 포스트의 구성 요소를 쪼개보자.</p>
		<p class="post-body-paragraph">기본적으로 본문 텍스트와 서브헤드를 구성한다. 포스트에 설득력을 더해줄 인용문이나 강조문이 들어갈 영역, 목록, 이미지, 링크 텍스트를 취사선택 할 수 있다.</p>
		<p class="post-body-paragraph">포스트를 수정하고 삭제하기 위한 버튼이 필요하다. 신고를 위한 버튼은 처음부터 필요한 기능은 아니기 때문에 뺀다. 작성자에게만 필요한 버튼은 포스트 내부가 아닌 브라우저의 구석에 눈에 띄게 배치한다.</p>
		<p class="post-body-paragraph">댓글과 댓글의 댓글이 필요하다.</p>
		<p class="post-body-paragraph">포스트에 적용된 액션을 카운팅하여 보여주는 그래픽이 필요하다. 좋아요, 공유하기, 조회수, 댓글수 정도를 필요에 따라 취사선택한다.</p>
		<p class="post-body-paragraph">해당 포스트와 관련된 포스트나 개인화된 포스트, 이전/다음 포스트 페이징은 제공하지 않는다. 관련 글을 소량 큐레이팅한다.</p>
		<ol class="post-body-paragraph" type="1">
			<li>문단을 구분하는 들여쓰기는 개행을 사용한다.</li>
			<li>본문은 왼끝 맞추기(오른끝 흘리기)를 적용한다.</li>
			<li>한글 서체는 하나, 최대 두 개 웨이트만 사용한다.</li>
			<li>적절한 본문 길이를 적용한다.</li>
			<li>스크롤 플로그래스 바(적용완료) 전체 윈도우 영영 혹은 본문 영역</li>
			<li>비회원의 덧글 유도를 위해 이름과 비밀번호 입력필드는 숨겨둔다.</li>
			<li>모바일는 더 큰 본문 두께font-weight와 줄 간격line-height이 필요하다. 본명조는 줄 간격이 좁다. 콤퍼넌트 단위로 분리할 때 공유 버튼 같은 경우도 분리하는 게 좋은지? 현재 패딩으로 조절된 간격을 마진 중첩을 활용하여 변경한다. 단락 사이의 간격을 더 조절할 필요가 있다. 색상 변경하기</li>
		</ol> -->
		<!-- <h3 class="post-body-subhead">서브헤드</h3>
		<p class="post-body-paragraph">간단하게 한 문단을 작성해봅니다.</p>
		<p class="post-body-paragraph">표제. 표제부. 헤더. 어떤 데이터의 집합 앞에 그 데이터 집합의 내용과 특징을 알 수 있는 데이터를 넣어둘 수 있다. 이런 데이터를 가리키는 경우가 있다. 정보 전달을 목적으로 하여 개시와 종료를 명확히 규정한 데이터를 메시지라고 하며 이 개시부를 헤더(header)라 한다. 이 경우 「헤더」에는 그 메시지의 수신지(destination)가 들어 있다. 이것을 「헤더」라 부르는 경우도 있다.</p>
			-->
	</section>
	<footer class="post-foot">
		<section class="post-hashtag">
			<code class="post-hashtag-item">#HTML5</code>
			<code class="post-hashtag-item">#CSS3</code>
			<code class="post-hashtag-item">#Webpack</code>
			<code class="post-hashtag-item">#accessibility</code>				
			<code class="post-hashtag-item">#typography</code>
		</section>

		<section class="post-share">
			<h4 class="post-share-title" hidden>share:</h4>
			<button class="post-share-facebook">
				<span><img src="/public/icons/facebook.svg" alt="" /></span>
				페이스북으로 공유하기
			</button>
			<button class="post-share-twitter">
				<span><img src="/public/icons/twitter.svg" alt="" /></span>
				트위터로 공유하기
			</button>
		</section>

		<hr />

		<div class="post-reaction">
			<h2 class="post-reaction" hidden></h2>
			<div class="post-reaction-like">
				<div class="post-reaction-like-icon"><img src="/public/icons/coffee.svg" alt="" /></div>
				<div class="post-reaction-like-count">2.5K</div>
			</div>
		</div>

		<section class="post-feedback">
			<p class="post-feedback-body"><em>이 뉴스가 마음에 드셨나요?</em> 후에 좋아하는 뉴스만 골라 보여주겠슴!</p>
			<a class="post-feedback-link" href="#">지금 질문하기</a>
		</section>

		<section class="post-comment">
			<h4 class="post-comment-title js-open-comment">
				<!-- <button class="post-foot-comment-title-button"><i class="material-icons">chat</i>댓글 열기: <span>덧글이 없습니다.</span></button> -->
				<button class="post-comment-title-button"><i class="material-icons">chat</i>댓글 <span>3개</span></button>
			</h4>
			<div class="post-comment-list" style="height:auto;">
				<div class="post-comment-list-item">
					<a class="post-comment-list-item-avatar" href="#"><img src=""></a>
					<a class="post-comment-list-item-author" href="#">soojubm</a>
					<time class="post-comment-list-item-date" datetime="2016">1 day ago</time>
					<p class="post-comment-list-item-text">우와 처음으로 덧글 남겨요! 덧글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요. 우와 처음으로 덧글 남겨요! 덧글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요.</p>
					<!-- <button class="post-comment-list-item-reply tertiary-button is-small">답글달기</button> -->
					<button class="post-comment-list-item-morevert js-toggle"><i class="icon-more"></i></button>
					<menu class="post-comment-list-item-menu">
						<button class="">수정</button>
						<button class="">삭제</button>
						<button class="">신고</button>
					</menu>
				</div>

				<!-- 코멘트 입력 -->
				<form class="comment-write js-comment-write" action="">
					<div class="textfield comment-write-text">
						<label class="textfield-label" for="" aria-hidden="true">덧글</label>
						<textarea class="textfield-input js-comment-textfield" rows="1" name="comment" placeholder="내용을 입력하세요."></textarea>
					</div>
					<div class="textfield comment-write-name">
						<label class="textfield-label" for="" aria-hidden="true">이름</label>
						<input class="textfield-input js-comment-textfield" type="text" name="" id="comment-name" placeholder="이름을 입력하세요.">
					</div>
					<div class="textfield comment-write-password">
						<label class="textfield-label" for="" aria-hidden="true">비밀번호</label>
						<input class="textfield-input js-comment-textfield" type="text" name="" id="comment-password" placeholder="비밀번호을 입력하세요.">
					</div>
					<button class="comment-write-submit" type="submit">덧글입력</button>
					<!-- <button class="comment-write-cancel">취소</button> -->
				</form>
			</div>
		</section>
	</footer>
</main>

<nav class="post-pagination">
	<a class="post-pagination-previous" href="#">
		<!-- <i class="icon-arrow"></i> -->
		<h6 class="post-pagination-previous-label">Prev article</h6>
		<span class="post-pagination-previous-link">Return to all articles</span>
	</a>
	<a class="post-pagination-next" href="#">
		<!-- <i class="icon-arrow"></i> -->
		<h6 class="post-pagination-next-label">Next article</h6>
		<span class="post-pagination-next-link">Avoid invisible text during font loading</span>
	</a>
</nav>

<div class="post-relation">
	<h2 class="post-relation-title">관련된 콘텐츠</h2>
</div>
<!-- <figure class="post-item">
	<span class="post-item-thumbnail"><img src="/public/images/springsteen.jpg" alt="" /></span>
	<span class="post-item-category">Sports</span>
	<time class="post-item-date">2019. 10. 27</time>
	<h1 class="post-item-title">레전드는 슬럼프로 만들어진다</h1>
	<p class="post-item-summary">
		장기간 최상의 결과를 낸 선수들을 우리는 ‘레전드’라고 부른다. 그리고 대부분의 야구팬들은 레전드들이 슬럼프와 관련이 없는, 특별한 사람들일 것이라고 생각한다. 야구를 사랑하는 심리학자 김수안은 정반대의 답변을 내놓는다. 레전드는 슬럼프를 겪지 않은 선수들이 아니라, 슬럼프를 성공적으로 극복한 선수들이라는 것이다. 한국 야구를 대표하는 레전드 박정태, 김종모, 송진우, 김용수를 인터뷰해 이들이 슬럼프를 극복한 과정을 생생하게 전한다.
	</p>
	<span class="post-item-tag">HTML5</span>
</figure>
<figure class="post-item">
	<span class="post-item-thumbnail"><img src="/public/images/springsteen.jpg" alt="" /></span>
	<span class="post-item-category">Pocketmon</span>
	<time class="post-item-date">2019. 10. 27</time>
	<h1 class="post-item-title">레전드는 슬럼프로 만들어진다</h1>
	<p class="post-item-summary">
		장기간 최상의 결과를 낸 선수들을 우리는 ‘레전드’라고 부른다. 그리고 대부분의 야구팬들은 레전드들이 슬럼프와 관련이 없는, 특별한 사람들일 것이라고 생각한다. 야구를 사랑하는 심리학자 김수안은 정반대의 답변을 내놓는다. 레전드는 슬럼프를 겪지 않은 선수들이 아니라, 슬럼프를 성공적으로 극복한 선수들이라는 것이다. 한국 야구를 대표하는 레전드 박정태, 김종모, 송진우, 김용수를 인터뷰해 이들이 슬럼프를 극복한 과정을 생생하게 전한다.
	</p>
</figure> -->
