		<!-- <figure class="post-item">
			<span class="post-item-thumbnail"><img src="/public/images/caleb-woods-182648-unsplash.jpg" alt=""></span>
			<span class="post-item-category">Sports</span>
			<time class="post-item-date">2019. 10. 27</time>
			<h1 class="post-item-heading">레전드는 슬럼프로 만들어진다</h1>
			<p class="post-item-summary">
				장기간 최상의 결과를 낸 선수들을 우리는 ‘레전드’라고 부른다. 그리고 대부분의 야구팬들은 레전드들이 슬럼프와 관련이 없는, 특별한 사람들일 것이라고 생각한다. 야구를 사랑하는 심리학자 김수안은 정반대의 답변을 내놓는다. 레전드는 슬럼프를 겪지 않은 선수들이 아니라, 슬럼프를 성공적으로 극복한 선수들이라는 것이다. 한국 야구를 대표하는 레전드 박정태, 김종모, 송진우, 김용수를 인터뷰해 이들이 슬럼프를 극복한 과정을 생생하게 전한다.</p>
			<span class="post-item-tag">HTML5</span>
			</figure>
		<figure class="post-item">
			<span class="post-item-thumbnail"><img src="/public/images/caleb-woods-182648-unsplash.jpg" alt=""></span>
			<span class="post-item-category">Pocketmon</span>
			<time class="post-item-date">2019. 10. 27</time>
			<h1 class="post-item-heading">레전드는 슬럼프로 만들어진다</h1>
			<p class="post-item-summary">
				장기간 최상의 결과를 낸 선수들을 우리는 ‘레전드’라고 부른다. 그리고 대부분의 야구팬들은 레전드들이 슬럼프와 관련이 없는, 특별한 사람들일 것이라고 생각한다. 야구를 사랑하는 심리학자 김수안은 정반대의 답변을 내놓는다. 레전드는 슬럼프를 겪지 않은 선수들이 아니라, 슬럼프를 성공적으로 극복한 선수들이라는 것이다. 한국 야구를 대표하는 레전드 박정태, 김종모, 송진우, 김용수를 인터뷰해 이들이 슬럼프를 극복한 과정을 생생하게 전한다.</p>
		</figure> -->
		<main class="post">
			<header class="post-head js-sticky">
				<a class="post-head-runninghead">Murmur</a>
				<h2 class="post-head-headline">Does greatness come from pursuing one singular focus or from cultivating more varied interests?</h2>
				<time class="post-head-time">2018. 06. 29</time>
				<div class="post-head-progress"></div>
				<!-- <div class="post-head-icons">
					<div class="post-head-icon"><i class="material-icons">visibility</i> <span>512</span></div>
					<div class="post-head-icon"><i class="material-icons">watch_later</i> <span>512</span></div>
					<div class="post-head-icon"><i class="material-icons">chat</i> <span>512</span></div>
				</div> -->
				<!-- 정사각형 / 가로형 직사각형 -->
			</header>
			<section class="post-byline">
				<figure class="post-byline-avatar"><img src="" alt=""></figure>
				<a href="#" class="post-byline-name">soojubm</a>
				<small class="post-byline-follower">14 Followers</small>
				<p class="post-byline-description">부끄러우니까 보지마요</p>
				<button class="post-byline-follow tertiary-button --small" type="button">팔로우</button>
			</section>
			<hr />
			<!-- <nav class="post-scrollspy">
				<p class="heading">Contents</p>
				<a href="">Simple Card</a>
				<a href="">Complex Interaction</a>
				<a href="">Media</a>
				<a href="">UI Controls</a>
				<a href="">API</a>
			</nav> -->
			<section class="post-body">
				<p class="post-body-kicker">구조와 표현, 행동을 엄격하게 구분합니다. <span class="linebreak">하나의 엘리먼트는 하나의 시멘틱한 클래스를 가집니다.</span></p>
				<figure class="post-body-img">
					<img src="" alt="">
					<figcaption class="post-body-caption"></figcaption>
				</figure>
				<p class="post-body-heading"><i class="material-icons">subject</i>본문 들어가기</p>
				<p class="post-body-paragraph">일관된 코드로 생산성을 높히기 위한 가이드를 작성합니다. 에어비앤비와 구글의 스타일시트/자바스크립트 가이드를 참고했습니다. 효율적인 코드를 위해 고민하고 기록하며 현재 제가 사용하는 방법론을 적용한 스타일 가이드를 만들어 봅니다.</p>
				<p class="post-body-paragraph">이 프로젝트는 코드를 간소화하고 효율적인 유지보수를 위한 코드를 연구한다.</p>
				
				<h3 class="post-body-subhead">개요</h3>
				<ul class="post-body-paragraph" type="1">
					<li>인덱스 페이지를 메인 페이지가 아닌 홈 페이지로 명명하여 메인 태그와 구분합니다.</li>
					<li>들여쓰기는 2칸의 공백을 가지는 탭 키를 사용합니다.</li>
					<li>아이디 선택자는 재사용과 오버라이드를 통한 재정의가 어렵기 때문에 사용하지 않습니다.</li>
					<li>바닐라 자바스크립트를 사용합니다.</li>
				</ul>

				<h3 class="post-body-subhead">웹 접근성Web Accessibility</h3>
				<ul class="post-body-paragraph" type="1">
					<li>ARIA 상태를 사용합니다. (ex 숨김 텍스트는 aria-hidden="true" 어트리뷰트를 사용하여 별도의 클래스를 사용하지 않습니다.)</li>
				</ul>

				<h3 class="post-body-subhead">HTML</h3>
				<ul class="post-body-paragraph" type="1">
					<li>구조를 최대한 단순화해요. 단순화된 구조는 유지보수 과정에서 스타일시트의 변경만으로 유아이의 변화에 대응할 수 있어야 해요. 따라서 float이나 flex는 지양하고 position을 적극 활용해요.</li>
					<li>모든 엘리먼트는 하나의 시멘틱한 클래스만을 가져야 해요. 클래스 네이밍이 과도하게 길어질 수 있으니 아토믹한 요소는 네스팅하여 정의하는 것을 허용합니다.</li>
				</ul>

				<h3 class="post-body-subhead">스타일시트</h3>
				<p class="post-body-paragraph">케밥 케이스kebab-case를 사용해요.</p>
				<p class="post-body-paragraph">속성 간 개행하지 않습니다. 띄어쓰기는 선택자와 대괄호 사이 1회 사용합니다. 개행하지 않는 것이 구조 파악에 훨씬 좋으며 속성의 색상 차만으로 가독성을 담보한다고 생각해요. 그리고 디자인되어 있다는 인상을 받습니다. 하지만 글로벌 트랜드는 개행하는 것이므로 여러분과 함께 하는 프로젝트에서는 개행하도록 하겠어요.</p>
				<p class="post-body-paragraph">z-index는 한 자리수로 사용합니다. 예시 모달 8. 모달 위 버튼 9. 드로어 5.</p>
				<p class="post-body-paragraph">마진과 패딩에 rem을 단위를 사용합니다.</p>

				<h3 class="post-body-subhead">자바스크립트</h3>
				<p class="post-body-paragraph">카멜케이스camelCase를 사용합니다.</p>
				<code class="post-body-code">
					const documentBody = document.body;
					<br/>
					const bodySection = documentBody.querySelector('section');
				</code>
				<p class="post-body-paragraph">스크립팅 클래스는 js- 접두어를 사용하여 구분하고 별도의 스타일은 적용하지 않습니다.</p>
				<p class="post-body-paragraph">변수가 오브젝트라는 것을 알 수 있도록 Object를 사용한다. (??)</p>
				<code class="post-body-code">
					Object.values(data).forEach(() => {})
				</code>
				<p class="post-body-kicker">매거진이나 블로그에 사용되는 포스트 유아이입니다. 포스트를 구성하는 컴포넌트들을 배치하고, 비대칭적 레이아웃과 타이포그래피 이론까지 실습해봅니다.</p>
				<!--<h3 class="post-body-subhead">포스트 유아이</h3>
				<p class="post-body-paragraph">우선 포스트의 구성 요소를 쪼개보자.</p>
				<p class="post-body-paragraph">기본적으로 본문 텍스트와 서브헤드를 구성한다. 포스트에 설득력을 더해줄 인용문이나 강조문이 들어갈 영역, 목록, 이미지, 링크 텍스트를 취사선택 할 수 있다.</p>
				<p class="post-body-paragraph">포스트를 수정하고 삭제하기 위한 버튼이 필요하다. 신고를 위한 버튼은 처음부터 필요한 기능은 아니기 때문에 뺀다. 작성자에게만 필요한 버튼은 포스트 내부가 아닌 브라우저의 구석에 눈에 띄게 배치한다.</p>
				<p class="post-body-paragraph">댓글과 댓글의 댓글이 필요하다.</p>
				<p class="post-body-paragraph">포스트에 적용된 액션을 카운팅하여 보여주는 그래픽이 필요하다. 좋아요, 공유하기, 조회수, 댓글수 정도를 필요에 따라 취사선택한다.</p>
				<p class="post-body-paragraph">해당 포스트와 관련된 포스트나 개인화된 포스트, 이전/다음 포스트 페이징은 제공하지 않는다. 관련 글을 소량 큐레이팅한다.</p>
				<ol class="post-body-paragraph" type="1">
					<li>문단을 구분하는 들여쓰기는 개행을 사용한다.</li>
					<li>본문은 왼끝 맞추기(오른끝 흘리기)를 적용한다.</li>
					<li>한글 서체는 하나, 최대 두 개 웨이트만 사용한다.</li>
					<li>적절한 본문 길이를 적용한다.</li>
					<li>스크롤 플로그래스 바(적용완료) 전체 윈도우 영영 혹은 본문 영역</li>
					<li>비회원의 덧글 유도를 위해 이름과 비밀번호 입력필드는 숨겨둔다.</li>
					<li>모바일는 더 큰 본문 두께font-weight와 줄 간격line-height이 필요하다. 본명조는 줄 간격이 좁다. 콤퍼넌트 단위로 분리할 때 공유 버튼 같은 경우도 분리하는 게 좋은지? 현재 패딩으로 조절된 간격을 마진 중첩을 활용하여 변경한다. 단락 사이의 간격을 더 조절할 필요가 있다. 색상 변경하기</li>
				</ol> -->
				<!-- <h3 class="post-body-subhead">서브헤드</h3>
				<p class="post-body-paragraph">간단하게 한 문단을 작성해봅니다.</p>
				<p class="post-body-paragraph">표제. 표제부. 헤더. 어떤 데이터의 집합 앞에 그 데이터 집합의 내용과 특징을 알 수 있는 데이터를 넣어둘 수 있다. 이런 데이터를 가리키는 경우가 있다. 정보 전달을 목적으로 하여 개시와 종료를 명확히 규정한 데이터를 메시지라고 하며 이 개시부를 헤더(header)라 한다. 이 경우 「헤더」에는 그 메시지의 수신지(destination)가 들어 있다. 이것을 「헤더」라 부르는 경우도 있다.</p>
				 -->

			</section>
			<footer class="post-foot">
				<section class="post-hashtag">
					<code class="post-hashtag-item">#HTML5</code>
					<code class="post-hashtag-item">#CSS3</code>
					<code class="post-hashtag-item">#Webpack</code>
					<code class="post-hashtag-item">#accessibility</code>				
					<code class="post-hashtag-item">#typography</code>
				</section>
				<section class="post-share">
					<h4 class="post-share-heading">share:</h4>
					<button type="button" class="post-share-button"><i class="fab fa-facebook-f"></i>페이스북으로 공유하기</button>
					<button type="button" class="post-share-button"><i class="fab fa-twitter"></i>트위터로 공유하기</button>
				</section>
				<hr>
				<section class="post-comment">
					<h4 class="post-comment-heading js-open-comment">
						<!-- <button type="button" class="post-foot-comment-heading-button"><i class="material-icons">chat</i>댓글 열기: <span>덧글이 없습니다.</span></button> -->
						<button type="button" class="post-comment-heading-button"><i class="material-icons">chat</i>댓글 <span>3개</span></button>
					</h4>
					<div class="post-comment-list" style="height:auto;">
						<div class="post-comment-list-item">
							<a class="post-comment-list-item-avatar" href="#"><img src=""></a>
							<a class="post-comment-list-item-author" href="#">soojubm</a>
							<time class="post-comment-list-item-date" datetime="2016">1 day ago</time>
							<p class="post-comment-list-item-text">우와 처음으로 덧글 남겨요! 덧글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요. 우와 처음으로 덧글 남겨요! 덧글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요.</p>
							<button type="button" class="post-comment-list-item-reply tertiary-button --small">답글달기</button>
							<button type="button" class="post-comment-list-item-morevert js-toggle"><i class="icon-more"></i></button>
							<menu class="post-comment-list-item-menu">
								<button type="button" class="">수정</button>
								<button type="button" class="">삭제</button>
								<button type="button" class="">신고</button>
							</menu>
							<!-- 코멘트 리플 -->
							<div class="post-comment-list-item -reply">
								<a class="post-comment-list-item-avatar" href="#"><img src=""></a>
								<a class="post-comment-list-item-author" href="#">mb</a>
								<time class="post-comment-list-item-date" datetime="2016">Yesterday at 12:30AM</time>
								<p class="post-comment-list-item-text">저도 덧글 남겨봅니다. 우와 처음으로 덧글 남겨요! 덧글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요. 우와 처음으로 덧글 남겨요! 덧글이 길어지면 어떻게 보일까요? 두 줄로 세 줄로 안녕하세요.</p>
							</div>
						</div>
						<div class="post-comment-list-item --typeb">
							<a class="post-comment-list-item-avatar" href="#"><img src=""></a>
							<a class="post-comment-list-item-author" href="#">mb</a>
							<time class="post-comment-list-item-date" datetime="2016">2018. 06. 28</time>
							<p class="post-comment-list-item-text">얼른 퇴근하고 싶어 일이 손에 안 잡히네요ㅜㅜ</p>
							<button type="button" class="post-comment-list-item-morevert js-toggle"><i class="icon-more"></i></button>
							<menu class="post-comment-list-item-menu">
								<button type="button" class="">수정</button>
								<button type="button" class="">삭제</button>
								<button type="button" class="">신고</button>
							</menu>
						</div>

						<!-- 코멘트 입력 -->
						<form class="comment-write js-comment-write" action="">
							<div class="textfield comment-write-text">
								<label class="textfield-label" for="" aria-hidden="true">덧글</label>
								<textarea class="textfield-input js-comment-textfield" rows="1" name="comment" placeholder="내용을 입력하세요."></textarea>
							</div>
							<div class="textfield comment-write-name">
								<label class="textfield-label" for="" aria-hidden="true">이름</label>
								<input class="textfield-input js-comment-textfield" type="text" name="" id="comment-name" placeholder="이름을 입력하세요.">
							</div>
							<div class="textfield comment-write-password">
								<label class="textfield-label" for="" aria-hidden="true">비밀번호</label>
								<input class="textfield-input js-comment-textfield" type="text" name="" id="comment-password" placeholder="비밀번호을 입력하세요.">
							</div>
							<button class="comment-write-submit" type="submit">덧글입력</button>
							<!-- <button class="comment-write-cancel" type="button">취소</button> -->
						</form>
					</div>
				</section>
			</footer>

			<nav class="post-navigation">
				<a class="post-navigation-prev" href="#">
					<!-- <i class="icon-arrow"></i> -->
					<h3 class="w-article-navigation__heading">Prev article</h3>
					Return to all articles
				</a>
				<a class="post-navigation-next" href="#">
					<!-- <i class="icon-arrow"></i> -->
					<h3 class="w-article-navigation__heading">Next article</h3>
					<p>Avoid invisible text during font loading</p>
				</a>
			</nav>
		</main>

<style>
.post-body-code {margin: 0 0 2rem 0;}
.post-body code {display:block;}
.post-body pre {margin:0;padding:0;}
</style>