<main class="component">
  <section class="hero" role="banner">
    <!-- <div class="hero-background"></div> -->
    <!-- <span class="hero-eyebrow">Components</span> -->
    <!-- <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;"><span style="color:var(--color-text-light);">We 🐷</span><br />built this city.</h1> -->
    <h1 class="hero-title">Presentations</h1>
    <p class="hero-description">modal / toast / drawer / sheet / popover</p>
  </section>

  <!-- <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Breadcrumb</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Tab</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Title Bar</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Bottom Navigation</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Paginations</span></a>
    </div>
  </nav> -->

  <section class="component-body"></section>
</main>
