<!DOCTYPE html>
<html>
  <head>
		<title></title>
		<script src="/dist/bundle.js">
		</script>
  </head>
  <body>
	<main class="pricing">
		<header class="pricing-head" style="background-image:linear-gradient(106deg,#ff3a4e,#7e4cff);">
			<h1 style="color:$gray0;">프라이싱</h1>
			<p class="pricing-head-headline" style="color:$gray0;">세상의 모든 개발자를 위한 플랜</p>
			<p class="pricing-head-description" style="color:rgba(255,255,255,.6);">Whether you’re starting an open source project or choosing new tools for your team, we’ve got you covered.</p>
		</header>
		<section class="pricing-body">
			<article class="pricing-item">
				<h1 class="pricing-item-title">Standard</h1>
				<span class="pricing-item-price">Free</span>
				<p class="pricing-item-description">추가 용량을 받고 액세스를 확대하세요.</p>
				<!-- <span class="pricing-item-price">$20 / user / month</span> -->
				<ul>
					<li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
					<li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
					<li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
				</ul>
				<button class="pricing-item-button secondary-button" type="button">업그레이드</button>
			</article>
			<article class="pricing-item">
				<h1 class="pricing-item-title">Advanced</h1>
				<span class="pricing-item-price">$ 500</span>
				<span class="pricing-item-period">month</span>
				<p class="pricing-item-description">추가 용량을 받고 액세스를 확대하세요.</p>
				<ul>
					<li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
					<li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
					<li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
				</ul>
				<button class="pricing-item-button secondary-button" type="button">업그레이드</button>
			</article>
			<article class="pricing-item">
				<h1 class="pricing-item-title">Enterprise</h1>
				<span class="pricing-item-price">$ 1,000</span>
				<span class="pricing-item-period">month</span>
				<p class="pricing-item-description">추가 용량을 받고 액세스를 확대하세요.</p>
				<ul>
					<li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
					<li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
					<li><i class="icon-check"></i>아무거나 하나 써 봅니다.</li>
				</ul>
				<button class="pricing-item-button secondary-button" type="button">업그레이드</button>
			</article>
		</section>


		<section class="coin">
			<div class="coin-top">
				<div>
					<h6 class="coin-top-title">BTC/USD</h6>
					<b>$14,242.12</b>
					<em>+ 2.30%</em>
				</div>
				<div>
					<h6>Quantity</h6>
					<b>3.00</b>
					<em>$54,231,76</em>
				</div>
			</div>
			<div class="coin-create">
				create new alert
			</div>
		</section>

		<section class="pricing-banner">
			<i class="pricing-banner-icon"><i class="material-icons">notifications_none</i></i>
			<h1 class="pricing-banner-title">아티스트 고르고 매일 믹스테잎 받기</h1>
			<p class="pricing-banner-description">지금 VIBE 앱에서 취향 길들이기를 해보세요!</p>
			<button class="pricing-banner-button primary-button">지금 들으러 가기</button>
			<div class="thumbnail_chart" style="color:$gray0;">
				<img style="width:53px;" src="https://cdn.music-flo.com/image/album/736/935/02/04/402935736_5cd51fdf.jpg?1557471200300/dims/resize/75x75/quality/90" width="53" height="53" alt="송하예의 니 소식 앨범사진" class="chart_thumbnail">
				<em class="chart_ranking" style="color:$gray0;">
					5
					<span class="rank_status steady">
						<!-- <span class="hidden">보합</span> -->
						-
					</span>
				</em>
				<strong class="chart_title" style="display:block;color:$gray0;">
					니 소식
					<span class="chart_artist" stlye="display:block;padding-left:64px;">송하예</span>
				</strong>
			</div>
		</section>
		<style>
			.pricing-banner {
				width: 1080px;height: 240px;
				background-image:linear-gradient(106deg,#ff3a4e,#7e4cff);
				margin: 0 auto;padding:3rem 0;box-sizing:border-box;text-align: center;
			}
			.pricing-banner-icon i {font-size:32px;color:$gray0;}
			.pricing-banner-title {font-size:1.5rem;color:$gray0;}
			.pricing-banner-description {color:rgba(255,255,255,.6);}
			.pricing-banner-button {margin:1rem 0 0 0;background:$gray0;border-color:$gray0;color:#7e4cff}
		</style>
	</main>
</body>