<main class="principle">
  <header class="principle-head">
    <h1 class="principle-head-title hero-title">Principles</h1>
    <!-- <p>시각적 스타일과 요소를 최소화. 사용자가 수행하는 데 필요한 정보의 양을 최소화합니다.</p> -->
  </header>
  <section style="display:flex;flex-wrap:wrap;margin:-1rem;">
    <article class="principle-item">
      <figure class="principle-item-avatar">🍐</figure>
      <h2 class="principle-item-title">commonality</h2>
      <p class="principle-item-kicker">우리가 궁극적으로 해결하려는 문제는<br />유저 인터페이스가 아니에요.</p>
      <p class="principle-item-description">
        <!-- Apple은 탄소 중립을 실천합니다. 그리고 같은 기준을 2030년까지 모든 제품에 대해서도 적용할
        예정입니다. 모든 Apple 제품과 포장재에 100% 재활용 및 재생 가능 소재만이 사용되는 그날을 위해 헌신적인 노력을 기울이고 있습니다. 또한, 모든
        제품을 탄소 발자국을 남기지 않고 청정 에너지로 생산할 예정이죠. -->
      </p>
    </article>
    <article class="principle-item">
      <figure class="principle-item-avatar">🍐</figure>
      <h2 class="principle-item-title">simplicity</h2>
      <p class="principle-item-kicker">디자인 시스템은<br />유아이 프레임워크가 아니에요.</p>
      <p class="principle-item-description">
        우리의 제품에 이렇게 많은 컬러 쉐이드가 필요한가요?<br />
        다이얼로그에서 버튼을 두 가지 방향으로 정렬할 필요가 있나요?
      </p>
    </article>
    <article class="principle-item">
      <figure class="principle-item-avatar">🍐</figure>
      <h2 class="principle-item-title" hidden>flexibility</h2>
      <p class="principle-item-kicker">
        우리의 제품은 아직 완성되지 않았어요.
        <p class="principle-item-description">
        초기 구축 비용이 조금 더 발생한다고 하더라도 변경하기 쉽도록 구조화하세요.
      </p>
      </p>
    </article>
  </section>
</main>
