<main class="principle">
  <header class="principle-head">
    <h1 class="principle-head-title">Principles</h1>
    <p class="principle-head-description">어떤 디자인 원칙이 있을까요?</p>
  </header>
  <section>
    <div class="principle-item">
      <h2>어떤 디자인 원칙이 있을까요?</h2>
      <p>
        어떤 디자인 원칙이 있을까요 어떤 디자인 원칙이 있을까요 어떤 디자인 원칙이 있을까요 어떤 디자인 원칙이 있을까요 어떤 디자인 원칙이 있을까요
      </p>
    </div>
    <div class="principle-item">
      <h2>어떤 디자인 원칙이 있을까요?</h2>
      <p>
        어떤 디자인 원칙이 있을까요 어떤 디자인 원칙이 있을까요 어떤 디자인 원칙이 있을까요 어떤 디자인 원칙이 있을까요 어떤 디자인 원칙이 있을까요
      </p>
    </div>
  </section>
</main>
