<main class="product">
	<div style="max-width:1280px;margin:0 auto;position:relative;">
		<section class="product-info">
			<h1 class="product-info-name">センチメンタル通り</h1>
			<p class="product-info-byline">Album by <a href="#">Hachimitsupai</a></p>
			<p class="product-info-price"><del>₩ 30,000</del> <span class="per">(30%)</span> <span>₩ 20,000</span></p>
			<p class="product-info-description">정통 루ROUX 방식으로 만든 크림소스와 풍부한 새우맛이 어우러진 정통 베네치아식 파스타소스</p>
			<b>track list</b>
			<ol>
				<li>塀の上で</li>
				<li>土手の向こうに</li>
				<li>ぼくの倖せ</li>
				<li>薬屋さん</li>
				<li>釣り糸</li>
				<li>ヒッチハイク</li>
				<li>月夜のドライヴ</li>
				<li>センチメンタル通り</li>
				<li>夜は静か通り静か</li>
				<li>君と旅行鞄(トランク)</li>
				<li>酔いどれダンス・ミュージック</li>
			</ol>
		</section>
		<section class="product-image">
			<div class="product-image-list">
				<img src="/public/images/product_sample.png" alt="제품 이미지">
			</div>
			<!-- <div class="product-image-navigation">
				<button type="button"> </button>
				<button class="is-current" type="button"> </button>
				<button type="button"> </button>
				<button type="button"> </button>
			</div> -->
		</section>
		<section class="product-order">
			<section class="product-order-info">뷰티포인트 460P 적립 / 찻잎 230P 적립<br>30,000원 미만 구매 시 배송료 2,500원</section>
			<section class="product-order-option">
				<div class="textfield">
					<select class="textfield-input" name="" id="">
						<option value="">정통 베네치아식 파스타소스</option>
					</select>
					<span class="selectbox-indicator icon-caret"></span>
				</div>
			</section>
			<section class="product-order-size">
				<h4 class="product-order-size-title">사이즈</h4>
				<button class="product-order-size-item">S</button>
				<button class="product-order-size-item is-selected">M</button>
				<button class="product-order-size-item">L</button>
			</section>
			<section class="product-order-color">
				<h4 class="product-order-color-title">칼라</h4>
				<button class="product-order-color-item is-crimson" type="button"></button>
				<button class="product-order-color-item is-salmon is-selected" type="button"></button>
			</section>
			<section class="product-order-count">
				<h4 class="product-order-count-title"><span class="aaa"></span> 정통 베네치아식 파스타소스 (M)</h4>
				<button class="product-order-count-close"><i class="icon-close"></i></button>
				<div class="product-order-count-variation variation js-variation">
					<input class="variation-input js-variation-input" type="text" value="1">
					<button class="variation-decrement js-variation-decrement" type="button"><i class="icon-minus"></i></button>
					<button class="variation-increment js-variation-increment" type="button"><i class="icon-plus"></i></button>
				</div>
				<p class="product-order-count-price">₩ 50,000</p>
			</section>
			<section class="product-order-price">
				<p class="product-order-price-label">합계</p>
				<div class="product-order-price-value">₩ 2,000,000<small aria-hidden="true">원</small></div>
			</section>
			<section class="product-order-control">
				<button type="button" class="product-order-control-purchase primary-button">구매하기</button>
				<button type="button" class="product-order-control-cart secondary-button">찜</button>
			</section>
		</section>
	</div>
	<aside class="product-quickorder">
		<figure class="product-quickorder-head">
			<img class="product-quickorder-head-image" src="/public/images/product_sample.png" alt="" />
			<figcaption>
				<h3 class="product-quickorder-head-title">センチメンタル通り SPF34 PA++</h3>
				<div class="product-quickorder-head-description"><del>₩ 29,000</del> <em class="rate">(25%)</em> <b>₩ 24,000</b></div>
			</figcaption>
		</figure>
		<section class="product-quickorder-total">
			<span class="product-quickorder-total-count">2개</span>
			<span class="product-quickorder-total-price">₩ 58,000<small class="unit"></small></span>
		</section>
		<footer class="product-quickorder-controls">
			<button type="button" class="product-quickorder-controls-purchase primary-button">구매하기</button>
		</footer>
	</aside>

	<section class="product-detail">
		<div class="images">
			<figure>
				<img src="" alt="" />
			</figure>
			<figure>
				<img src="" alt="" />
			</figure>
		</div>
		<h1 class="product-detail-headline">이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다.</h1>
		<h3 style="margin:2rem 0 1rem 0;font-size:14px;text-decoration:underline;">상품상세정보 고지</h3>
		<dl style="display:block;">
			<dt>제품명</dt>
			<dd>노멀 헤어퍼퓸</dd>
			<dt>제조업자</dt>
			<dd>별도표기</dd>
			<dt>제조일자</dt>
			<dd>2019. 11. 08.</dd>
			<dt>전성분</dt>
			<dd>정제수, 정제수, 정제수</dd>
			<dt>전성분</dt>
			<dd>정제수, 정제수, 정제수</dd>
			<dt>전성분</dt>
			<dd>이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다. 이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다.</dd>
			<dt>전성분</dt>
			<dd>이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다. 이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다.</dd>
		</dl>
		
		<section class="product-brand">
			<section class="hero" style="width:100%;height:240px;margin:3rem 0 0;">
				<div class="hero-background" style="background:url('https://source.unsplash.com/random') no-repeat center center;background-size:cover;"></div>
			</section>
		</section>

		<section class="product-center">
			<h1>우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다.</h1>
			<p>이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다.</p>
		</section>

		<section class="features">
			<!-- <header>
				<h2><u>선약</u>이 있어서</h2>
				<p>남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
			</header> -->
			<!-- <h1 class="features-title">숙소 호스팅</h1> -->
			<div class="features-item">
				<span class="features-item-avatar">💃</span>
				<h3 class="features-item-title">무료로 숙소 등록하기</h3>
				<p class="features-item-description">남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
				<a class="features-item-link" href="">숙소 등록</a>
			</div>
			<div class="features-item">
				<span class="features-item-avatar">🧞‍</span>
				<h3 class="features-item-title">호스팅 세부사항 설정하기</h3>
				<p class="features-item-description">호스팅할 수 있는 날짜, 숙소 요금, 게스트 필수요건을 선택하세요. 에어비앤비가 호스팅 전반에 걸쳐 도움을 드립니다.</p>
			</div>
			<div class="features-item">
				<span class="features-item-avatar">🧚‍</span>
				<h3 class="features-item-title">첫 게스트 맞이하기</h3>
				<p class="features-item-description">숙소가 게시되면 설정하신 예약 조건에 부합하는 게스트가 연락을 할 거예요. 게스트를 맞이하기 전에 궁금한 점이 있으면 언제든 메시지로 물어볼 수 있습니다.</p>
			</div>
		</section>

		<section class="product-brand">
			<div class="hero" style="width:100%;margin:0;">
				<div class="hero-background" style="background:url('https://source.unsplash.com/random') no-repeat center center;background-size:cover;"></div>
				<!-- <i class="hero-eyebrow">🐣</i> -->
				<h1 class="hero-title">노 브랜드</h1>
				<p class="hero-description">히어로 섹션의 마크업을 간단하게 해보았어요. Hero & Features. 배너 대신 빌보드로 네이밍하자.</p>
				<a class="hero-cta tertiary-button">브랜드 바로가기</a>
			</div>
		</section>
		
	</section>

	<!-- <div class="product-review-list" style="width:50%;">
	<div class="review">
		<a class="post-comment-list-item-avatar" href="#" style="display:block;position:static;"><img src=""></a>
		<a class="post-comment-list-item-author" href="#">soojubm</a>
		<h3 class="review-title">물건도 좋고 배송도 빨라요.</h3>
		<p>이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다. 이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다.</p>
		<time class="review-time">2019. 11. 08</time>
	</div> -->
	<!-- <section class="product-review">
		<div>
			<h3 class="product-review-eyebrow">리뷰</h3>
			<h1 class="product-review-title">총 83건의 리뷰가 있습니다.</h1>
		</div>
		<nav class="product-review-arrows">
			<button class="product-review-arrows-previous icon-button prev" style="background:#f1f3f4;">이전</button>
			<button class="product-review-arrows-next icon-button next">다음</button>
		</nav>
		<div class="product-review-list">
			<div class="inner">

			</div>
		</div>
	</section> -->
</main>
