<main class="product">
	<div style="max-width:1280px;margin:2rem auto;position:relative;">
		<section class="product-info">
			<h1 class="product-info-name">センチメンタル通り</h1>
			<p class="product-info-byline">Album by <a href="#">Hachimitsupai</a></p>
			<p class="product-info-price"><del>₩ 30,000</del> <span class="per">(30%)</span> <span>₩ 20,000</span></p>
			<p class="product-info-description">정통 루ROUX 방식으로 만든 크림소스와 풍부한 새우맛이 어우러진 정통 베네치아식 파스타소스</p>
			<b>track list</b>
			<ol>
				<li>塀の上で</li>
				<li>土手の向こうに</li>
				<li>ぼくの倖せ</li>
				<li>薬屋さん</li>
				<li>釣り糸</li>
				<li>ヒッチハイク</li>
				<li>月夜のドライヴ</li>
				<li>センチメンタル通り</li>
				<li>夜は静か通り静か</li>
				<li>君と旅行鞄(トランク)</li>
				<li>酔いどれダンス・ミュージック</li>
			</ol>
		</section>
		<section class="product-image">
			<div class="product-image-list">
				<img src="/public/images/product_sample.png" alt="제품 이미지" />
			</div>
		</section>
		<section class="product-order">
			<section class="product-order-info">뷰티포인트 460P 적립 / 찻잎 230P 적립<br />30,000원 미만 구매 시 배송료 2,500원</section>
			<section class="product-order-option">
				<div class="textfield">
					<select class="textfield-input" name="" id="" />
						<option value="">정통 베네치아식 파스타소스</option>
					</select>
					<span class="selectbox-indicator icon-caret"></span>
				</div>
			</section>
			<section class="product-order-size">
				<h4 class="product-order-size-title">사이즈</h4>
				<button class="product-order-size-item">S</button>
				<button class="product-order-size-item is-selected">M</button>
				<button class="product-order-size-item">L</button>
			</section>
			<section class="product-order-color">
				<h4 class="product-order-color-title">칼라</h4>
				<button class="product-order-color-item is-crimson"></button>
				<button class="product-order-color-item is-salmon is-selected"></button>
			</section>
			<section class="product-order-count">
				<h4 class="product-order-count-title"><span class="aaa"></span> 정통 베네치아식 파스타소스 (M)</h4>
				<button class="product-order-count-close"><i class="icon-close"></i></button>
				<div class="product-order-count-quantity quantity js-quantity">
					<input class="quantity-input js-quantity-input" type="number" value="1">
					<button class="quantity-decrement js-quantity-decrement"><i class="icon-minus"></i></button>
					<button class="quantity-increment js-quantity-increment"><i class="icon-plus"></i></button>
				</div>
				<p class="product-order-count-price">₩ 50,000</p>
			</section>
			<section class="product-order-price">
				<p class="product-order-price-label">합계</p>
				<div class="product-order-price-value">₩ 2,000,000<small aria-hidden="true" hidden>원</small></div>
			</section>
			<section class="product-order-control">
				<button class="product-order-control-purchase">구매하기</button>
				<button class="product-order-control-cart">찜</button>
			</section>
		</section>
	</div>
	<aside class="product-quick">
		<figure class="product-quick-head">
			<img class="product-quick-head-image" src="/public/images/product_sample.png" alt="" />
			<figcaption>
				<h3 class="product-quick-head-title">センチメンタル通り SPF34 PA++</h3>
				<div class="product-quick-head-description"><del>₩ 29,000</del> <em class="rate">(25%)</em> <b>₩ 24,000</b></div>
			</figcaption>
		</figure>
		<section class="product-quick-total">
			<span class="product-quick-total-count">2개</span>
			<span class="product-quick-total-price">₩ 58,000<small class="unit"></small></span>
		</section>
		<footer class="product-quick-controls">
			<button class="product-quick-controls-purchase">구매하기</button>
		</footer>
	</aside>

	<section class="product-detail">
		<div class="images">
			<figure>
				<img src="" alt="" />
			</figure>
			<figure>
				<img src="" alt="" />
			</figure>
		</div>
		<h1 class="product-detail-headline">이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, <span class="linebreak">우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다.</span></h1>
		
		<section class="product-detail-summary">
			<h3 class="product-detail-summary-title">상품상세정보 고지</h3>
			<dl>
				<dt>제품명</dt>
				<dd>노멀 헤어퍼퓸</dd>
				<dt>소재</dt>
				<dd>금속</dd>
				<dt>치수</dt>
				<dd>20mm * 40mm</dd>
				<dt>제조일자</dt>
				<dd>2019. 11. 08.</dd>
				<dt title="제조자 또는 수입자(수입국)">제조업자</dt>
				<dd>별도표기</dd>
				<dt title="제조국 또는 원산지">제조국</dt>
				<dd>대한민국</dd>
				<dt>전성분</dt>
				<dd>정제수, 정제수, 정제수</dd>
				<dt>전성분</dt>
				<dd>이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다. 이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다.</dd>
				<dt>AS책임자와 전화번호</dt>
				<dd>02 000 2000</dd>
			</dl>
		</section>

		<section class="product-detail-section">
			<h3>MS워드<br />총 2개의 작품 만들기</h3>
			<p>한 작품을 만들어보는 데에 <em>최대 24시간</em> 정도가 소요됩니다.</p>
			<div style="height:100px;margin:2rem 0 0;background:#ebebeb;"></div>
		</section>

		<section class="product-detail-section">
			<h3>MS워드<br />총 2개의 작품 만들기</h3>
			<p>저는 글쓰기를 예술이라고 생각하지 않습니다. 거대한 공장의 컨베이어 벨트 앞에 앉아 볼트와 너트를 반복해서 끼우는 것과 같은 숙달이 필요하다고 생각할 뿐입니다. 따라서 이 수업은 누군가의 마음을 무너뜨리는 예술적인 글쓰기가 아니라 언제나 필요한 순간에 필요한 만큼의 글을 쓰는 능력을 목표로 합니다.</p>
		</section>
		
		<section class="product-detail-brand" style="margin:6rem 0;">
			<div style="height:240px;background:url('https://source.unsplash.com/random') no-repeat center center;background-size:cover;border-radius:4px;"></div>
		</section>

		<section class="product-features">
			<header class="product-features-head">
				<h1>우리의 입맛에 맞는 파스타를 엄선하여 <span class="linebreak">이탈리아 지역별 정통 파스타소스를 재현하였습니다.</span></h1>
				<p>이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, <span class="linebreak">우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다.</span></p>
			</header>
			<div class="product-features-item">
				<span class="product-features-item-avatar" role="img">💃</span>
				<h3 class="product-features-item-title">무료로 숙소 등록하기</h3>
				<p class="product-features-item-description">남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
				<a class="product-features-item-link" href="">숙소 등록</a>
			</div>
			<div class="product-features-item">
				<span class="product-features-item-avatar" role="img">🧞‍</span>
				<h3 class="product-features-item-title">호스팅 세부사항 설정하기</h3>
				<p class="product-features-item-description">호스팅할 수 있는 날짜, 숙소 요금, 게스트 필수요건을 선택하세요. 에어비앤비가 호스팅 전반에 걸쳐 도움을 드립니다.</p>
			</div>
			<div class="product-features-item">
				<span class="product-features-item-avatar" role="img">🧚‍</span>
				<h3 class="product-features-item-title">첫 게스트 맞이하기</h3>
				<p class="product-features-item-description">숙소가 게시되면 설정하신 예약 조건에 부합하는 게스트가 연락을 할 거예요. 게스트를 맞이하기 전에 궁금한 점이 있으면 언제든 메시지로 물어볼 수 있습니다.</p>
			</div>
		</section>

		<!-- <p>제조연월일: 생산지에서 직접 배송되므로 고객님께 배송될 상품의 제조연월일이 파악되지 않습니다. 단, 주문일로부터 3일 이내에 생산된 제품이 배송됩니다. 정확한 제조연월일을 확인하시려면 생산자(전화번호)에게 문의하시기 바랍니다.</p> -->

		<section class="product-policy" style="display:flex;border-radius:4px;overflow:hidden;">
			<div style="width:50%;padding:2rem 3rem;border:1px solid #eee;box-sizing:border-box;">
				<h3 class="product-policy-title">배송 정책</h3>
				<ul>
					<li>반품 배송비: 3,000 / 교환 배송비: 6,000</li>
					<li>상품의 배송비는 공급업체의 정책에 따라 다르며 공휴일 및 휴일은 배송이 불가합니다.</li>
					<li>도서 산간 지역은 별도의 배송비와 반품비가 추가될 수 있습니다.</li>
					<li>상품별로 상품 특성 및 배송지에 따라 배송유형 및 소요기간이 달라질 수 있습니다.</li>
					<li>동일 브랜드의 상품이라도 상품별 출고일시가 달라 각각 배송될 수 있습니다.</li>
					<li>일부 주문상품 또는 예약상품의 경우 기본 배송일 외에 추가 배송 소요일이 발생될 수 있습니다.</li>
				</ul>
			</div>
			<div style="width:50%;padding:2rem 3rem;border:1px solid #eee;box-sizing:border-box;border-left:0;">
				<h3 class="product-policy-title">환불 및 교환 정책</h3>
				<ul>
					<li>환불 및 취소 요청은 soojubm@google.com로 가능합니다.</li>
					<li><strong>상품을 받으신 날로부터 7일 이내 교환/반품이 가능합니다.</strong> 단, 일부 제품의 경우 포장을 개봉하였거나 포장이 훼손되어 상품가치가 상실된 경우에는 교환 및 반품이 불가능합니다.</li>
					<li>상품의 내용이 표시, 광고 내용과 다르거나 계약내용을 다르게 이행한 경우에는 재화 등을 공급받은 날로부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날로부터 30일 이내에 교환 및 반품이 가능합니다.</li>
					<li>변심 반품의 경우는 왕복배송비를 차감한 금액이 환불되며, 제품 및 포장 상태가 재판매 가능하여야 합니다. 출고 이후 환불요청 시 상품 회수 후 처리됩니다.</li>
					<li>상품 불량인 경우는 배송비를 포함한 전액이 환불됩니다.</li>
					<!-- 잘못된 배송지 입력 시 -->
					<!-- <li>배송지를 잘못 기재하거나 창작자에게 사전 고지 없이 배송지를 수정하여 배송사고가 발생할 경우 책임을 지지 않습니다 .</li> -->
					<!-- <li>구매자가 미성년자인 경우에는 상품 구입 시 법정대리인이 동의하지 아니하면 미성년자 본인 또는 법정대리인이 구매취소 할 수 있습니다.</li> -->
					<!-- <li>환불 완료까지 최대 영업일 기준 4일이 소요될 수 있습니다.</li> -->
					<!-- 고객님의 책임있는 사유로 상품 등이 멸실 또는 훼손된 경우 교환/반품이 불가능합니다.
					고객님의 사용 또는 일부 소비에 의하여 상품의 가치가 현저히 감소한 경우 교환/반품이 불가능합니다.
					시간의 경과에 의하여 재판매가 곤란한 정도로 상품 등의 가치가 현저히 감소한 경우 교환/반품이 불가능합니다. -->
				</ul>
			</div>
		</section>

		<section class="product-brand">
			<div class="hero" style="width:100%;margin:0;">
				<div class="hero-background" style="background:url('https://source.unsplash.com/random') no-repeat center center;background-size:cover;"></div>
				<h1 class="hero-title"><mark>노 브랜드</mark></h1>
				<p class="hero-description"><mark>히어로 섹션의 마크업을 간단하게 해보았어요. Hero & Features. 배너 대신 빌보드로 네이밍하자.</mark></p>
				<a class="hero-cta">브랜드 바로가기</a>
			</div>
		</section>
		
	</section>

	<!-- <div class="product-review-list">
	<div class="review">
		<a class="review-avatar" href="#"><img src=""></a>
		<a class="review-author" href="#">soojubm</a>
		<time class="review-time">2019. 11. 08</time>
		<h3 class="review-title">물건도 좋고 배송도 빨라요.</h3>
		<p class="review-content">이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다. 이탈리아의 지역별 무궁무진한 특징을 가진 파스타 요리 중, 우리의 입맛에 맞는 파스타를 엄선하여 이탈리아 지역별 정통 파스타소스를 재현하였습니다.</p>
	</div>
	<section class="product-review">
		<div>
			<h3 class="product-review-eyebrow">리뷰</h3>
			<h1 class="product-review-title">총 83건의 리뷰가 있습니다.</h1>
		</div>
		<nav class="product-review-arrows">
			<button class="product-review-arrows-previous prev" style="background:#f1f3f4;">이전</button>
			<button class="product-review-arrows-next next">다음</button>
		</nav>
		<div class="product-review-list">
		</div>
	</section> -->
</main>
