
<main class="profile">
	<style>
		.card-byline {display:none;}
	</style>
	<!-- <header class="profile-head">
		<div class="profile-head-background"></div>
		<h1 class="profile-head-headline">부끄러우니까 보지마요.</h1>
		<p class="profile-head-description">순수자바스크립트로 작성한 정적페이지입니다. 가상의 디자인시스템을 구축하고 지속적으로 발전시키며 웹앱을 구성하는 컴포넌트와 페이지 유아이를 반응형으로 러프하게 그려봅니다.</p>
		<button class="profile-head-share" onclick="javascript:alert('준비중');">프로필 공유하기</button>
	</header> -->
	<!-- <aside class="banner" style="margin:-1rem 0 2rem 0;">
		<h2 class="banner-text">더 궁금하신가요?</h2>
		<button class="banner-button">자기소개서 보기</button>
	</aside> -->
	<section class="profile-user">
		<article class="user">
			<figure class="profile-user-avatar"></figure>
			<h2 class="profile-user-name">수줍이</h2>
			<span class="profile-user-id">soojubm@gmail.com</span>
			<span class="profile-user-career">UI Designer / Frontend Engineer</span>
		</article>
		<p class="profile-user-description">
			사용자 프로필 페이지 유아이를 포트폴리오 리스트로 사용합니다.
			<a class="profile-user-description-more" href="javascript:alert('준비중');">자세히보기</a>
		</p>
		<div class="profile-user-hashtags tag-group" role="group">
			<a class="tag" href="#">HTML5</a>
			<a class="tag" href="#">SASS</a>
			<a class="tag" href="#">VanillaJS</a>
			<a class="tag" href="#">ReactJS</a>
			<a class="tag" href="#">Mobx</a>
			<a class="tag" href="#">Typescript</a>
			<a class="tag" href="#">Storybook</a>
			<a class="tag" href="#">GoogleAnalytics</a>
			<a class="tag" href="#">GoogleOptimize</a>
			<a class="tag" href="#">Figma</a>
		</div>
		<div class="profile-user-controls">
			<button class="profile-user-controls-follow">팔로우</button>
			<button class="profile-user-controls-message">메세지</button>
		</div>
		<button class="profile-user-toggle js-toggle" hidden>
			수줍이님이 더 궁금하신가요?
			<span class="profile-user-toggle-icon"><i class="icon-caret"></i></span>
		</button>
		<section class="profile-user-info">
			<hr role="separator" />
			<div class="profile-user-statistic">
				<div class="statistic">
					<div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')" style="width:var(--grid-column);">
						<i class="statistic-label">팔로워</i>
						<span class="statistic-value">62</span>
					</div>
					<div class="statistic-item" onclick="javascript:alert('샘플 유아이에요!')" style="width:var(--grid-column);">
						<i class="statistic-label">팔로잉</i>
						<span class="statistic-value">8</span>
					</div>
				</div>
			</div>
			<hr role="separator" />
			<div class="profile-user-address">
				<div><b>Tel</b> <span>+82 10 3121 7045</span></div>
				<div><b>Email</b> <span>soojubm@gmail.com</span></div>
				<div><img hidden aria-hidden="false" src="/public/icons/map-pin.svg" alt="map" /><b>Location</b>
					<span>서울시 강서구 화곡동</span></div>
			</div>
			<hr role="separator" />
			<div class="profile-user-socials">
				<h2 class="profile-user-socials-title">소셜 미디어</h2>
				<a class="profile-user-socials-link" href="https://github.com/soojubm" target="_blank" rel="noopener noreferrer">
					<figure class="social-link-icon"></figure>
					<span class="social-link-label">github</span>
					<i class="icon-arrow is-external"></i>
				</a>
				<a class="profile-user-socials-link" href="https://www.pinterest.co.kr/soojubm/" target="_blank" rel="noopener noreferrer">
					<span class="social-link-label">pinterest</span>
				</a>
				<a class="profile-user-socials-link" href="https://www.facebook.com/soojubm/" target="_blank" rel="noopener noreferrer">
					<span class="social-link-label">facebook</span >
				</a>
				<a class="profile-user-socials-link" href="https://www.instagram.com/soojubm/" target="_blank" rel="noopener noreferrer">
					<span class="social-link-label">instagram</span>
				</a>

				<!-- <a
					class="social-item"
					href="https://www.instagram.com/soojubm/"
					target="_blank"
					rel="noopener noreferrer"
				>
					<figure class="social-item-icon"></figure>
					<span class="social-item-label">인스타그램</span>
				</a> -->
			</div>
		</section>
	</section>

	<section class="profile-body js-tab">
		<nav class="profile-tablist" role="tablist">
			<button class="profile-tablist-tab" role="tab" name="project" aria-selected="true">프로젝트
				<!-- <i class="profile-tablist-tab-badge">5</i> -->
			</button>
			<!-- <button class="profile-tablist-tab" role="tab" name="webpage" aria-selected="false">웹페이지 <i
					class="profile-tablist-tab-badge">5</i></button> -->
			<button class="profile-tablist-tab" role="tab" name="case-study" aria-selected="false">케이스스터디
				<!-- <i class="profile-tablist-tab-badge">5</i> -->
			</button>
			<button class="profile-tablist-tab" role="tab" name="blank" aria-selected="false">빈 상태
				</button>
			<i class="profile-tablist-indicator"></i>
		</nav>
		<div class="profile-display">
			<p class="profile-display-status" role="status" hidden>Viewing 1,000 Projects</p>
			<button class="profile-display-button js-display-grid js-display-button is-selected" name="grid">
				<i class="icon-grid">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</i>
				<b aria-hidden="true" hidden>Grid</b>
			</button>
			<button class="profile-display-button js-display-list js-display-button" name="list">
				<i class="icon-list">
					<span></span>
					<span></span>
					<span></span>
				</i>
				<b aria-hidden="true" hidden>List</b></button>
		</div>

		<!-- <div class="profile-sorting">
			<div class="sorting" style="position:relative;display:flex;;">
        <label class="" for="select2">Sort by</label>
        <select class="" id="select2" style="background:none;border:none;padding:0 var(--space) 0 0;font:inherit;color:var(--gray800);">
          <option class="select-option" value="select-option1">최신순</option>
        </select>
        <span class="selectbox-indicator" role="img" style="background:var(--gray100);position:relative;right:auto;top:auto;"><i class="icon-caret"></i></span>
      </div>
		</div> -->

		<hr role="separator" />

		<section class="profile-tabpanel" role="tabpanel" aria-hidden="false" data-index="1">
			<a class="card js-modal" href="#" data-modal="newneek">
				<figure class="card-thumbnail"><img style="margin:1rem auto 0;box-shadow:none;"
						src="https://newneek.co/static/media/gosum-home.7b7f5b6b.png" alt="" /></figure>
				<h3 class="card-title">뉴닉</h3>
				<!-- <span class="card-new">신규</span> -->
				<!-- <time class="card-date">2017-12-18</time> -->
				<div class="card-category">정리중</div>
				<!-- <div class="card-category2" style="width:48px;height:48px;border-radius:4px;box-shadow:var(--shadow400);position:absolute;right:10%;top:145px;border:var(--border100);background:#fff;">동</div> -->
				<div class="card-byline">
					<figure class="card-byline-avatar"><img src="/public/images/soo.png" alt="" /></figure>
					<span class="card-byline-name">수줍이</span>
				</div>
				<div class="card-tags" role="group">
					<span class="card-tags-item">일정산정/스펙정의</span>
					<span class="card-tags-item">디자인</span>
					<span class="card-tags-item">프론트엔드개발</span>
				</div>
				<!-- <hr /> -->
				<!-- <button style="display:flex;align-items:center;margin-top:-.25rem;margin-left:.5rem;color:var(--gray400);font-size:var(--font-size-caption);"><i class="icon-heart" style="margin-right:1.25rem;"></i> 좋아요</button> -->
				<button class="card-more" hidden><i class="icon-more"></i></button>
			</a>

			<!-- <a class="card js-modal" href="#" data-modal="newneek-book">
				<figure class="card-thumbnail"><img style="max-height:80%;box-shadow:none;"
						src="https://newneek.co/static/media/gosumbook-logo.8d73e3f9.png" alt="" /></figure>
				<h3 class="card-title">뉴닉 고슴책</h3>
				<div class="card-byline">
					<figure class="card-byline-avatar"><img src="/public/images/soo.png" alt="" /></figure>
					<span class="card-byline-name">수줍이</span>
				</div>
				<div class="card-tags" role="group">
					<span class="card-tags-item">태그1</span>
					<span class="card-tags-item">태그1</span>
				</div>
				<button class="card-more" hidden><i class="icon-more"></i></button>
			</a> -->

			<!-- <a class="card js-modal" href="#" data-modal="newneek-app">
					<figure class="card-thumbnail"><img src="" alt="" /></figure>
					<h3 class="card-title">뉴닉 앱</h3>
					<div class="card-byline">
						<figure class="card-byline-avatar"><img src="/public/images/soo.png" alt="" /></figure>
						<span class="card-byline-name">수줍이</span>
					</div>
					<div class="card-tags" role="group">
						<span class="tag">태그1</span>
						<span class="tag">태그1</span>
						<span class="tag">태그1</span>
					</div>
					<button class="card-more" hidden><i class="icon-more"></i></button>
				</a> -->

			<a class="card js-modal" href="#" data-modal="etc-works">
				<figure class="card-thumbnail"><img src="/public/images/work-studium.jpg" alt="" /></figure>
				<h3 class="card-title">Selected Works</h3>
				<!-- <time class="card-date">September 12, 2017</time> -->
				<button class="card-more" hidden><i class="icon-more"></i></button>
				<div class="card-byline">
					<figure class="card-byline-avatar"><img src="/public/images/soo.png" alt="" /></figure>
					<span class="card-byline-name">수줍이</span>
				</div>
				<div class="card-tags" role="group">
					<span class="card-tags-item">프리랜서</span>
					<span class="card-tags-item">구축</span>
				</div>
			</a>

			<!-- <a class="card js-modal" href="#" data-modal="etc">
					<figure class="card-thumbnail"><img src="/public/images/work-etc.jpg" alt="" /></figure>
					<h3 class="card-title">기타 모음</h3>
					<button class="card-more" hidden><i class="icon-more"></i></button>
					<div class="card-byline">
						<figure class="card-byline-avatar"><img src="/public/images/soo.png" alt="" /></figure>
						<span class="card-byline-name">수줍이</span>
					</div>
					<div class="card-tags" role="group">
						<span class="tag">기획</span>
						<span class="tag">디자인</span>
					</div>
				</a> -->

			<a class="card js-modal" href="#" data-modal="lettering">
				<figure class="card-thumbnail"><img src="/public/images/budha.png" alt="" /></figure>
				<!-- <div class="card-category">취미</div> -->
				<h3 class="card-title">레터링</h3>
				<!-- <time class="card-date">-</time> -->
				<button class="card-more" hidden><i class="icon-more"></i></button>
				<div class="card-byline">
					<figure class="card-byline-avatar"><img src="/public/images/soo.png" alt="" /></figure>
					<span class="card-byline-name">수줍이</span>
				</div>
				<div class="card-tags" role="group">
					<span class="card-tags-item">레터링</span>
				</div>
			</a>
		</section>

		<section class="profile-tabpanel" hidden role="tabpanel" aria-hidden="true" data-index="3">
			<a class="card js-modal" href="#" data-modal="noonnu">
				<figure class="card-thumbnail"></figure>
				<h3 class="card-title">눈누</h3>
				<button class="card-more" hidden><i class="icon-more"></i></button>
			</a>
			<a class="card js-modal" href="#" data-modal="podbbang">
				<figure class="card-thumbnail"></figure>
				<h3 class="card-title">팟빵</h3>
				<time class="card-date">-<time>
						<button class="card-more" hidden><i class="icon-more"></i></button>
			</a>
			<a class="card" href="#profile" onclick="javascript:alert('준비중')">
				<figure class="card-thumbnail"></figure>
				<h3 class="card-title">왓챠 피디아</h3>
				<time class="card-date">-<time>
						<div class="card-tags" role="group">
							<!-- <span class="tag">${i}</span> -->
						</div>
						<button class="card-more" hidden><i class="icon-more"></i></button>
			</a>
		</section>

		<section class="profile-tabpanel" hidden role="tabpanel" aria-hidden="true" data-index="4">
			<section class="empty">
				<i class="empty-icon">🧟</i>
				<h1 class="empty-title">아직 새 글이 없어요.</h1>
				<p class="empty-description">포트폴리오를 업로드하여<br />작업물을 홍보하세요.</p>
				<a class="empty-action" href="#">업로드하기</a>
			</section>
		</section>
	</section>
</main>