<style>
.notice-marquee {font-size:5rem;position:absolute;animation: marquee 5s linear infinite;}
.horizental-text {margin-bottom:100px;}
.horizental-text h1 {width:200%;text-align:right;font-family:'AritaBuri';font-size:10rem;position: absolute;right:-100%;transition: all .2s;}
</style>
<script>
	document.addEventListener('DOMContentLoaded', function(){
		const target = document.querySelector('.horizental-text h1');
		window.addEventListener('scroll', () => {
			console.log('aaa');
			let aaa = window.pageYOffset * 1 - 800;
			console.log(window.pageYOffset, target.offsetTop, target.scrollHeight);
			if(window.pageYOffset > target.offsetTop - target.clientHeight) {
			}
			target.style.right = aaa + 'px';
			//console.log(window.pageYOffset, element.offsetTop);
			//let aaa = (window.pageYOffset - element.offsetTop) * -1.5;
			//let bbb = aaa > 0 ? -aaa : aaa;
			//element.style.backgroundPosition = 'center ' + aaa + 'px'; 
		});	
	})
</script>
<!-- 
	<form class="filter">
		<h1 class="filter-heading">Filters</h1>
		<fieldset class="filter-fieldset">
			<legend class="filter-fieldset-legend">예약하기</legend>
			<div class="textfield" style="float:left;width:50%;">
				<label class="textfield-label" for="date-start"><i class="">시작일</i></label>
				<label class="textfield-icon" for="date-start"><i class="material-icons">today</i></label>
				<input class="textfield-input" type="date" id="date-start" placeholder="날짜를 설정해주세요." />
				<span class="textfield-unit">cm</span>
			</div>
			<div class="textfield" style="float:left;width:50%;">
				<label class="textfield-label" for="date-end">종료일</label>
				<label class="textfield-icon " for="date-start"><i class="material-icons">today</i></label>
				<input class="textfield-input" type="date" id="date-end" placeholder="날짜를 설정해주세요." style="border-left:none;" />
			</div>
		</fieldset>
		<fieldset class="filter-fieldset">
			<legend class="filter-fieldset-legend">체크박스</legend>
			<div class="checkbox">
				<input type="checkbox" id="line01" value="" checked />
				<label for="line01">Everyday is like sunday</label>
			</div>
			<div class="checkbox">
				<input type="checkbox" id="line02" value="" indeterminate />
				<label for="line02">Everyday is like sunday</label>
			</div>
			<div class="checkbox">
				<input type="checkbox" id="line03" value="" checked disabled />
				<label for="line03">Everyday is like sunday</label>
			</div>
		</fieldset>
		<fieldset class="filter-fieldset">
			<legend class="filter-fieldset-legend">라디오버튼</legend>
			<div class="radio">
				<input type="radio" id="gender-man" name="gender" value="" checked>
				<label for="gender-man">Video kills the radio button</label>
				<p class="radio-helper">My email campaigns are meant to be seen by the public. The more the merrier, in fact. If/when Mailchimp builds tools that help people discover me and sign up for this list, I'd like to take part in that.</p>
			</div>
			<div class="radio">
				<input type="radio" id="gender-women" name="gender" value="" checked disabled>
				<label for="gender-women">Video kills the radio button</label>
			</div>
		</fieldset>
		<fieldset class="filter-fieldset">
			<legend class="filter-fieldset-legend">증감</legend>
			<div class="variation js-variation">
				<input class="variation-input js-variation-input js-number-input" name="variation1" type="number" value="0">
				<button class="variation-decrement js-variation-decrement" type="button"><i class="icon-minus"></i></button>
				<button class="variation-increment js-variation-increment" type="button"><i class="icon-plus"></i></button>
			</div>
			<div class="variation js-variation">
				<input class="variation-input js-variation-input js-number-input" name="variation2" type="number" value="0">
				<button class="variation-decrement js-variation-decrement" type="button"><i class="icon-minus"></i></button>
				<button class="variation-increment js-variation-increment" type="button"><i class="icon-plus"></i></button>
			</div>
		</fieldset>
		<footer class="filter-foot">
			<button type="button" class="primary-button">필터링하기</button>
			<button type="button" class="ghost-button">clear filters</button>
		</footer>
	</form> -->
	<!-- <div class="horizental-text">
		<h1>이스래꼬꼬</h1>
	</div> -->

	<main class="profile">
		<figure class="profile-head">
			<div class="profile-head-background js-parallax"></div>
			<h1 class="profile-head-headline">부끄러우니까 보지마요.</h1>
			<p class="profile-head-description">이 프로젝트는 가상의 프로덕트에 대한 디자인시스템을 정의합니다. 모든 페이지는 순수 자바스크립트로 만들었습니다.</p>
			<button class="profile-head-share" type="button" onclick="javascript:alert('준비중');">프로필 공유하기</button>
			<!-- <div class="profile-head-temp">
				<h5 style="margin:0 0 1rem 0;color:$gray0;">내 프로필을 공유한 사람</h5>
				<div role="group">
					<div class="avatar" style="background:rgb(84, 136, 119);"></div>
					<div class="avatar" style="background:blueviolet;"></div>
					<div class="avatar" style="background:burlywood;">
						<img src="/public/images/chaplin.png" alt="" style="margin-left:0;" />
					</div>
					<div class="avatar" style="background:chocolate;color:$gray0;">+ 32</div>
				</div>
				<p style="margin-top:0.5rem;color:$gray0;">화니 외 5명</p>
			</div> -->
		</figure>
		<header class="profile-user">
			<figure class="profile-user-avatar"><img src="" alt=""></figure>
			<!-- <span class="profile-user-category">UI Designer</span> -->
			<div class="profile-user-name">수줍이</div>
			<span class="profile-user-id">@soojubm</span>
			<span class="profile-user-career">UI 디자인 / Frontend 개발</span>
			<p class="profile-user-description">
				구조를 단순화하고 하나의 엘리먼트는 SCSS로 모듈화된 하나의 독립적이고 시멘틱한 클래스를 가지는 스타일 방법론을 실험하고 있습니다. 바닐라 자바스크립트로 만듭니다.
				<a class="profile-user-description-more" href="javascript:alert('준비중');">더보기</a>
			</p>
			<div class="profile-user-hashtags">
				<span class="tag">#HTML5</span>
				<span class="tag">#SASS</span>
				<span class="tag">#VanillaJS</span>
				<span class="tag">#ReactJS</span>
				<span class="tag">#Mobx</span>
				<span class="tag">#Typescript</span>
				<span class="tag">#Storybook</span>
			</div>
			<div class="profile-controls" style="display:flex;">
				<button class="profile-controls-follow primary-button" type="button" style="width:68%;">Follow</button>
				<button class="profile-controls-follow secondary-button" type="button" style="min-width:auto;width:30%;margin-left:auto;">Message</button>
			</div>
			<!-- <button class="profile-user-toggle" type="button">More <i class="icon-caret"></i></button> -->
			<section class="profile-user-info">
				<div class="profile-user-address">
					<div><img src="/public/icons/phone.svg" alt="map" style="width:1rem;margin-right:.5rem;opacity:.4;" /><b aria-hidden="false">Tel:</b> <span>+82 10 3121 7045</span></div>
					<div><img src="/public/icons/mail.svg" alt="map" style="width:1rem;margin-right:.5rem;opacity:.4;" /><b aria-hidden="false">Email:</b> <span>soojubm@gmail.com</span></div>
					<div><img src="/public/icons/map-pin.svg" alt="map" style="width:1rem;margin-right:.5rem;opacity:.4;" /><b aria-hidden="false">Location:</b> <span>서울시 강서구 화곡동</span></div>
				</div>
				<div class="profile-user-statistic">
					<div class="statistic"><i class="statistic-label">경력</i><span class="statistic-value">24</span></div>
					<div class="statistic"><i class="statistic-label">팔로워</i><span class="statistic-value">24</span></div>
					<div class="statistic"><i class="statistic-label">팔로잉</i><span class="statistic-value">24</span></div>
				</div>
				<div class="profile-socials">
					<h2 class="profile-socials-heading">소셜 미디어</h2>
					<a href="" class="profile-socials-link">페이스북</a>
					<a href="" class="profile-socials-link">트위터</a>
					<a href="" class="profile-socials-link">인스타그램</a>
					<a href="" class="profile-socials-link">깃허브</a>
					<a href="" class="profile-socials-link">노션</a>
					<a href="" class="profile-socials-link"><i class="fab fa-facebook-f"></i></a>
				</div>
			</section>
		</header>
		
		<section class="profile-body">
			<nav class="profile-tablist" role="tablist">
				<!-- u 태그-->
				<div class="profile-tablist-active"></div>
				<button class="profile-tablist-tab" role="tab" aria-selected="true" data-index="1">웹사이트 <i class="profile-tablist-tab-badge">4</i></button>
				<button class="profile-tablist-tab" role="tab" aria-selected="false" data-index="2">웹페이지 <i class="profile-tablist-tab-badge">18</i></button>
				<button class="profile-tablist-tab" role="tab" aria-selected="false" data-index="3">빈 상태 <i class="profile-tablist-tab-badge">18</i></button>
			</nav>
			<div class="profile-display">
				<h6 class="profile-display-heading" aria-hidden="true">제목</h6>
				<!-- <p style="padding:0 0 1rem 0;">Viewing 1,000 Projects</p> -->
				<button class="profile-display-button js-display-list"><img src="/public/icons/list.svg" alt="list" /> <b aria-hidden="true">List</b></button>
				<button class="profile-display-button js-display-grid is-selected"><img src="/public/icons/grid.svg" alt="grid" /> <b aria-hidden="true">Grid</b></button>
			</div>

			<section class="profile-tablist-panel" role="tabpanel" aria-hidden="" data-index="1">
				<section class="works">
					<a class="card js-modal" href="#">
						<figure class="card-thumbnail"><img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" /></figure>
						<h3 class="card-title">문화예술위원회 창작산실.</h3>
						<time class="card-date">September 12, 2017</time>
						<div class="card-tags" role="group">
							<span class="tag">기획</span>
							<span class="tag">디자인</span>
							<span class="tag">개발(워드프레스)</span>
						</div>
						<button class="card-more icon-button" type="button"><i class="icon-more"></i></button>
					</a>
					<aside class="modal" role="dialog">
						<article class="modal-dialog">
							<header class="modal-head">
								<button class="js-modal-close" aria-hidden="true"><span class="off-screen">닫기</span></button>
								<h1 class="modal-head-title">한국문화예술위원회 창작산실 - 올해의 신작 2018</h1>
								<p class="modal-head-description">보름 남짓한 일정에 게시판이 필요해서 워드프래스로 개발했다.</p>
								<p class="modal-head-description">창작산실(아르코셀렉션) 브랜드 아이덴티티의 라틴 알파벳 심볼 A 가로 선을, 제목과 본문의 구분선 및 디자인 요소로 활용합니다.</p>
								<p class="modal-head-description">스마트폰과 데스크톱 이용 시 일관된 디자인 경험을 제공하기 위해 반응형 웹사이트로 제작합니다. 올해의 신작을 소개하고 전체일정을 제공하여 티켓구매(예매)를 유도하는 것이 주목적이며 지난 선정작을 아카이빙하여 창작산실이 걸어온 길을 환기하는 것이 부목적입니다.</p>
								<p class="modal-head-description">상단 이미지 영역은 웹사이트에 접속자들의 시선을 사로잡아야 하는 영역입니다. 창작산실 웹사이트에서 이 영역은 극무대를 메타포로 합니다. 깜깜한 배경은 연극 무대를 연상하는 동시에 인물을 강조합니다. 이미지 구도 역시 오른쪽으로 치우친 비대칭성을 강조하여 극적인 효과와 긴장감을 유도하는 동시에 왼쪽에는 깔끔한 텍스트 영역을 확보합니다. 이 구도를 웹사이트의 일관성을 위한 가이드로 제시합니다.</p>
								<p class="modal-head-description">하나의 큰 이미지를 강조함으로써 세련되며 압도적인 시각적 효과를 얻을 수 있는 반면, 특정 선정작에 치중될 여지가 있습니다. 이는 극예술 안에 공존하는 기쁨과 노여움, 슬픔과 즐거움의 희노애락과 비교할 수 있는, 모든 디자인 산출물의 특성이기도 합니다. 공연일정이 가까운 순서대로 배치하여 시의성을 높이고 시선이 머무는 네비게이션 아래에 선정작을 모아보는 링크를 제공하여 보완합니다.</p>
								<p class="modal-head-description">알림마당 영역은 공지사항과 보도자료로 채워집니다. 웹사이트 운영의 초기 단계에는 적정량의 언론 보도를 인용한 긍적적인 이미지 메이킹으로 신규 방문자 및 창작산실이 낯선 방문자에게 흥미를 유발합니다.</p>
								<p class="modal-head-description">선정작을 공연하는 극장을 소개하고 월별 공연일정 링크를 제공합니다. 한국문화예술위원회의 공연장인,대학로예술극장을 비롯 3군데 공간에 관심을 유도합니다.</p>
							</header>
							<section class="modal-body">
								<figure class="modal-body-image">
									<img src="/public/images/arko-main.jpg" alt="" />
									<img src="/public/images/arko-sub.jpg" alt="" />
								</figure>
							</section>
						</article>
					</aside>
					<span class="card js-modal">
						<figure class="card-thumbnail"><img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" /></figure>
						<h3 class="card-title">스터디움 프로모션 웹사이트</h3>
						<time class="card-date">September 12, 2017</time>
						<button class="card-more icon-button" type="button"><i class="icon-more"></i></button>
						<div class="card-tags" role="group">
							<span class="tag">기획</span>
							<span class="tag">디자인</span>
						</div>
					</span>
					<aside class="modal" role="dialog">
						<article class="modal-dialog">
							<header class="modal-head">
								<button class="js-modal-close" aria-hidden="true"><span class="off-screen">닫기</span></button>
								<h1 class="modal-head-title">스터디움 프로모션 웹사이트</h1>
								<p class="modal-head-description">가맹점주 모집을 위한 홍보용 원페이지 사이트. 로고를 모티브로 각 섹션의 타이틀 영역을 구성하고 로고의 쉼표를 그래픽 요소를 활용했다.</p>
							</header>
							<section class="modal-body">
								<figure class="modal-body-image">
									<img src="/public/images/work-studium.jpg" alt="" />
								</figure>
							</section>
						</article>
					</aside>
					<span class="card js-modal">
						<figure class="card-thumbnail"><img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" /></figure>
						<h3 class="card-title">페이머스 프로덕트 디자인</h3>
						<time class="card-date">재능 플랫폼 , September 12, 2017</time>
						<button class="card-more icon-button" type="button"><i class="icon-more"></i></button>
						<div class="card-tags" role="group">
							<span class="tag">기획</span>
							<span class="tag">디자인</span>
						</div>
					</span>
					<aside class="modal" role="dialog">
						<article class="modal-dialog">
							<header class="modal-head">
								<button class="js-modal-close" aria-hidden="true"><span class="off-screen">닫기</span></button>
								<h1 class="modal-head-title">페이머스 프로덕트 디자인</h1>
								<p class="modal-head-description">재능플랫폼 페이머스의 플랫폼 디자인과 퍼블리싱을 담당했다.</p>  
								<p class="modal-head-description">입사 초기 외주로 진행했던 플랫폼의 디자인을 퍼블리싱하는 일을 시작으로 부분적인 UI를 다시 만들고 UX를 개선했다. 정적 페이지도 일부 만들었다.</p>  
							</header>
							<section class="modal-body">
								<figure class="modal-body-image">
									<img src="/public/images/work-famus.jpg" alt="" />
								</figure>
							</section>
						</article>
					</aside>
					<span class="card js-modal">
						<figure class="card-thumbnail"><img src="/public/images/caleb-woods-182648-unsplash.jpg" alt="" /></figure>
						<h3 class="card-title">기타 모음</h3>
						<time class="card-date">-</time>
						<button class="card-more icon-button" type="button"><i class="icon-more"></i></button>
						<div class="card-tags" role="group">
							<span class="tag">기획</span>
							<span class="tag">디자인</span>
						</div>
					</span>
					<aside class="modal" role="dialog">
						<article class="modal-dialog">
							<header class="modal-head">
								<button class="js-modal-close" aria-hidden="true"><span class="off-screen">닫기</span></button>
								<h1 class="modal-head-title">기타 모음</h1>
								<p class="modal-head-description">초창기 작업물과 글자 디자인에 관심이 생겨 했던 레터링.</p>								
							</header>
							<section class="modal-body">
								<figure class="modal-body-image">
									<img src="/public/images/work-etc.jpg" alt="" />
									<img src="/public/images/form.jpg" alt="" />
									<img src="/public/images/lettering.png" alt="" />
								</figure>
							</section>
						</article>
					</aside>
				</section>
			</section>
			<section class="profile-tablist-panel" role="tabpanel" aria-hidden="false" data-index="2">
				<div class="components">
				</div>
			</section>
			<section class="profile-tablist-panel" role="tabpanel" aria-hidden="false" data-index="3">
				<section class="empty">
					<i class="empty-icon material-icons">delete_outline</i>
					<h1 class="empty-heading">아직 새 글이 없어요.</h1>
					<p class="empty-description">포트폴리오를 업로드하여 동료들에게 알리세요.</p>
					<a class="empty-action secondary-button" href="#">업로드하기</a>
				</section>
			</section>
		</section>
	</main>