<main class="rules">
    <!-- <div class="hero-features">
      <div class="">
        <h3 style="font-size:var(--font-size-subhead);font-weight:var(--font-weight-bold);margin:0 0 .5rem 0;">단순성</h3>
        <p>디자인 시스템은 유아이 라이브러리가 아닙니다. 가능한 모든 경우의 수를 나열하지 마세요. 모바일 퍼스트(또는 모바일 온리)로 시작하여, 서비스의 규묘와 리소스에 맞춰서 시스템을 확장하세요.</p>
      </div>
      <div class="">
        <h3 style="margin:0 0 .5rem 0;font-size:var(--font-size-subhead);font-weight:var(--font-weight-bold);">유연성 (지속 가능성)</h3>
        <p></p>
      </div>
      <div class="">
        <h3 style="font-size:var(--font-size-subhead);font-weight:var(--font-weight-bold);margin:0 0 .5rem 0;">명료성 (보편성?)</h3>
        <p>UI는 사용자의 추가적인 학습을 최소화할 정도로 보편타당해야 합니다.</p>
      </div>
    </div> -->
      <p>소셜 컴포넌트를 재사용하려면. 범용성을 위해 디자인은 톤다운된 회색 배경. 아이콘은 회색 또는 브랜드 컬러를 쓰는 게 좋아 보인다.</p>
      <p>coding - common : 스타일을 처음 선언할 때 margin:0 0 0 0 풀어서 사용하고, 재선언할 때 margin-left로 재할당을 암시하고 오버라이딩 최소화하기.</p>

      <p>overflow:hidden을 clear로 사용할 때 더 명확한 mixin으로 사용ㅎ세요</p>

      <p>반응형 이미지</p>

      <p>왜 엄격한 grid system을 사용하지 않는가 정리. 가로스크롤 트랜드 등</p>
  
      <p>iphone의 safe area 관련 코드 모듈화</p>
      <p>맥북 13인치 1680x1050 / x1나노 2160x1350 / 1440은 애매한 브레이크포인트</p>

      <li>ux writings 투표하는 서비스</li>
      <li>writing: (자세히보기 / 더보기 / -보러가기) => 더 알아보기</li>
      <li>writing: 복합명사는 붙여씁니다. 결제 완료 x /  결제완료</li>
      <li>writing: 총결제금액 / 결제예정금액</li>
      <li>writing: 유저->사용자, 및/혹은->또는, </li>

      <p>coding: 속성을 제거할 때 static 대신 relative를 사용하기. z-index 값을 보전할 수 있기 때문.</li>
      </p>
      <p>coding: -action(choice에서 안 어울림) vs -control</p>
    <p><del>두개</del> 2개</p>
    <dt>접근성</dt><dd>모양(네모, 동그란 등), 방향(왼쪽/오른쪽/위/아래), 위치(여기/이곳), 색상 등을 가이드 텍스트에 포함하지 마세요.</dd>
  </article>

  <article class="article js-scrollspy-section">
    <h1 class="article-title">Naming Conventions</h1>
    <p class="article-description"></p>
    <ul>
      <li>특정 스타일로 클래스 네이밍하지 마세요. 스타일(gui)는 언제나 변경될 수 있습니다.</li>
      <li>naming: -s vs - list</li>
    </ul>
  </article>

  <article class="article js-scrollspy-section">
    <h1 class=article-title>Rules</h1>
    <p class="article-description"></p>
    <ul>
      영어나 어려운 문장 최소화. 가이드는 모든 사람이 읽을 수 있어야 한다. 
      요소로(목적으로) 사용합니다.
      어포던스 -> '클릭할 수 있음'
      <li>아이템이 3개 이하일 때 제목 우측에 모두보기 버튼을 위치할 수 있지만, 아이템이 4개 이상이라면 아이템의 아래에 모두보기 버튼이 위치. 가로 스크롤인 경우 스크롤 최 우측.</li>

      <li>action indicator :이상 혹은 이하를 표기할 때 >, < 를 사용하지 않습니다. 액션 인디케이터와 혼동이 될 수 있어서. 이상, 이하 한글로 명확하게 전달하ㄱ시오!</li>
    </ul>
  </article>
</main>

  <!--
    <picture>
      <source srcset="photo-light.png" media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
      <source srcset="photo-dark.png" media="(prefers-color-scheme: dark)">
    </picture>
    <picture>
      <source type="image/svg+xml" srcset="pyramid.svg">
      <source type="image/webp" srcset="pyramid.webp">
      <img src="pyramid.png" alt="정삼각형 4개로 만든 일반적인 피라미드">
    </picture>
    <picture>
      <source media="(max-width: 799px)" srcset="elva-480w-close-portrait.jpg">
      <source media="(min-width: 800px)" srcset="elva-800w.jpg">
      <img src="elva-800w.jpg" alt="딸 엘바를 안고 서 있는 크리스">
    </picture>
  
    <img srcset="elva-fairy-320w.jpg,
      elva-fairy-480w.jpg 1.5x,
      elva-fairy-640w.jpg 2x"
    src="elva-fairy-640w.jpg" alt="요정 옷을 입은 엘바">

    <img srcset="elva-fairy-320w.jpg 320w,
              elva-fairy-480w.jpg 480w,
              elva-fairy-800w.jpg 800w"
      sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
      src="elva-fairy-800w.jpg"
      alt="요정 옷을 입은 엘바" /> -->

      <!--
        <h3>접근성 정리</h3>
      <p>도움말(helper text)이 있는 경우 aria-describedby=[id]</p>
      <p>유효하지 않은 입력 필드에 aria-invalid="true"</p>
      <p>enter key로 폼 제출</p>
    -->

    <!-- <p>스크린 리더는 페이지의 모든 목록을 탐색 할 수 있으며 목록 항목에서 목록 내 목록 항목으로 이동할 수도 있습니다. 목록을 사용하여 화면 판독기가 항목 그룹 (예 : 사람 목록)을 쉽게 탐색 할 수 있도록합니다.</p> -->

<!-- 결제가 완료되었습니다 => 상품이 결제되었습니다 ? 주문 목록에서 f깅할 때 결제완료, 결제대기가 익숙함.
하기 / 취소 / 다음에 -->




<main class="principle">
  <header class="principle-head">
    <h1 class="principle-head-title hero-title">Principles</h1>
    <!-- <p>시각적 스타일과 요소를 최소화. 사용자가 수행하는 데 필요한 정보의 양을 최소화합니다.</p> -->
  </header>
  <section style="display:flex;flex-wrap:wrap;margin:-1rem;">
    <article class="principle-item">
      <figure class="principle-item-avatar">🍐</figure>
      <h2 class="principle-item-title">commonality</h2>
      <p class="principle-item-kicker">우리가 궁극적으로 해결하려는 문제는<br />유저 인터페이스가 아니에요.</p>
      <p class="principle-item-description">
        <!-- Apple은 탄소 중립을 실천합니다. 그리고 같은 기준을 2030년까지 모든 제품에 대해서도 적용할
        예정입니다. 모든 Apple 제품과 포장재에 100% 재활용 및 재생 가능 소재만이 사용되는 그날을 위해 헌신적인 노력을 기울이고 있습니다. 또한, 모든
        제품을 탄소 발자국을 남기지 않고 청정 에너지로 생산할 예정이죠. -->
      </p>
    </article>
    <article class="principle-item">
      <figure class="principle-item-avatar">🍐</figure>
      <h2 class="principle-item-title">simplicity</h2>
      <p class="principle-item-kicker">디자인 시스템은<br />유아이 프레임워크가 아니에요.</p>
      <p class="principle-item-description">
        우리의 제품에 이렇게 많은 컬러 쉐이드가 필요한가요?<br />
        다이얼로그에서 버튼을 두 가지 방향으로 정렬할 필요가 있나요?
      </p>
    </article>
    <article class="principle-item">
      <figure class="principle-item-avatar">🍐</figure>
      <h2 class="principle-item-title" hidden>flexibility</h2>
      <p class="principle-item-kicker">
        우리의 제품은 아직 완성되지 않았어요.
        <p class="principle-item-description">
        초기 구축 비용이 조금 더 발생한다고 하더라도 변경하기 쉽도록 구조화하세요.
      </p>
      </p>
    </article>
  </section>
</main>
