<main class="rules">
  <h2>투두</h2>
  <article>
    <h2 class="design-article-title">writings</h2>
    <p>모두보기 / 전체보기 / 더보기 케이스 정의하기</p>
    <p>자세히보기 / 더보기 / -보러가기</p>
    <p>총결제금액 / 결제예정금액</p>

    <p>Bullet을 컴포넌트로 만들어서 사용하기.</p>
    <p>스타일을 처음 선언할 때 margin:0 0 0 0 풀어서 사용하고, 재선언할 때 margin-left로 재할당을 암시하고 오버라이딩 최소화하기.</p>
    <p>position 속성을 제거할 때 static 대신 relative를 사용하기. z-index 값을 보전할 수 있기 때문.</li>
    </p>
    <p>가운데 정렬 될 경우 large 컨테이너를 사용하기.</p>

    <p>spacing system 정의하기.</p>
    <p>iphone의 safe area 관련 코드 모듈화하기.</p>
    <p>breakpoint 정의하기</p>
    <p>맥북 13인치 1680x1050 / x1나노 2160x1350 / 1440은 애매한 브레이크포인트</p>
    <p>z-index 유아이 별로 정의하기</p>
  </article>
</main>

<!-- 결제가 완료되었습니다 => 상품이 결제되었습니다 ? 주문 목록에서 f깅할 때 결제완료, 결제대기가 익숙함.
하기 / 취소 / 다음에 -->