<main class="component">
  <section class="hero" role="banner">
    <!-- <div class="hero-background"></div> -->
    <!-- <span class="hero-eyebrow">Components</span> -->
    <!-- <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;"><span style="color:var(--color-text-light);">We 🐷</span><br />built this city.</h1> -->
    <h1 class="hero-title">Forms - Selections</h1>
    <p class="hero-description">작성 중.</p>

    <ul>
      <li>
        레거시 형태의 체크박스와 라디오는 모바일 친화적이지 않으며 사용 케이스도 감소세. 머티리얼3에도 포함되어 있지 않다. 약관 동의 정도를 제외하면
        거의.
      </li>
      <li>memo: selection 맥락의 컴포넌트: checkbox/switch/chipGroup/radio/selectbox</li>
    </ul>
  </section>

  <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Switch</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Checkbox</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Radio</span></a>
    </div>
  </nav>

  <section class="component-body">
    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title" title="or Box">Switch</h1>
      <p class="article-description">켜거나 끌 수 있는 설정 옵션입니다.</p>
      <p hidden>A switch is a visual toggle between two mutually exclusive states — on and off.</p>

      <aside class="article-aka">
        <span class="tag">a.k.a.</span>
        <span class="hashtag" title="protocol mozilla">Toggle</span>
      </aside>

      <br />
      <span class="switch">
        <input type="checkbox" id="switch1" name="" role="switch" value="on" checked />
        <label for="switch1" title="Receive weekly newsletter">뉴스레터 받아보기</label>
      </span>
      <span class="switch" style="margin-top:var(--space);">
        <input type="checkbox" id="switch2" name="" role="switch" value="off" disabled />
        <label for="switch2" title="Receive weekly newsletter">뉴스레터 받아보기</label>
      </span>

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <!-- <li>왼쪽 오른쪽에 필터나 탭으로 쓰지 않습니다.</li> -->
        <!-- <li>결과를 즉시 반영합니다. 그런데 두 번쨰 패턴은 그렇지 않음</li> -->
        <li>스위치의 왼쪽과 오른쪽에 각각 레이블을 배치하여 콘텐츠 스위칭으로 사용하지 않습니다.</li>
      </ul>

      <h4 class="article-subhead">Editing Checklist</h4>
      <ul data-align="horizontal">
        <li>동사 포함</li>
        <!-- <li>최대 2단어</li> -->
        <!-- <li>최대 8자</li> -->
      </ul>

      <br />

      <button class="button-elevated" title="" style="margin-bottom:.125rem;">
        <figure class="button-elevated-avatar">🦊</figure>
        <span class="button-elevated-label">사진 및 동영상 백업</span>
        <span class="switch" style="margin-left:auto;">
          <input type="checkbox" id="temp123456" name="" role="switch" />
          <label for="temp123456" style="padding-left:48px;"></label>
        </span>
      </button>
      <small style="display:block;margin:0 0 var(--space) 0;">Google 포토에 최대 해상도로 백업</small>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title" title="or Box">Checkboxes</h1>
      <p class="article-description">옵션 목록에서 하나 이상의 옵션을 선택합니다.</p>
      <!-- 체크할 수 있는 인터렉션 컨트롤. -->
      <fieldset role="checkgroup">
        <!-- <legend">checkgroup</legend> -->
        <div class="checkbox">
          <input
            class="js-checkall"
            type="checkbox"
            id="line00"
            value=""
            aira-checked="mixed"
            aria-controls="1 2"
            data-indeterminate="true"
            indeterminate
          />
          <label for="line00" title="Check All"><em>모두 동의합니다</em></label>
        </div>
        <div class="checkbox">
          <input class="js-check" type="checkbox" id="line03" value="" checked disabled />
          <label for="line03" title="Everyday is like sunday">비활성 체크박스에요</label>
        </div>
        <div class="checkbox textfield">
          <input class="js-check" type="checkbox" id="other" name="interest" value="other" />
          <label for="other">기타</label>
          <input type="text" name="other-more" class="textfield-input" placeholder="기타로 오토바이를 타자." hidden />
        </div>
      </fieldset>

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <!-- <li>선택하지 않을 수 있다. 체크하지 않은 상태로 제공합니다.</li>
        <li>switch 역할로 하나의 체크박스를 제공할 수 있습니다.</li> -->
        <li>
          memo tile 형태에서만 description이 나타나도록 사용? unchecked 상태에서 helper가 필요한 케이스 드물게 존재.(mailchimp). Form Elements로
          그루핑할 수도 있음.
        </li>
      </ul>

      <h4 class="article-subhead">Editing Checklist</h4>
      <ul data-align="horizontal">
        <li>동사 포함</li>
        <li>최대 2단어</li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title" title="or Box">Radioes</h1>
      <p class="article-description">옵션 목록에서 하나의 옵션을 선택합니다.</p>

      <fieldset role="radiogroup">
        <legend hidden>radiogroup</legend>
        <div class="radio" style="margin-top:0;">
          <input type="radio" id="gender-man" name="gender" value="" />
          <label for="gender-man" title="Video Killed the Radio Button">Video Killed the Radio Button</label>
          <p class="radio-helper">선택한 옵션의 보조 텍스트 영역입니다. 좁은 화면에서 충분한 공간 확보를 위해 들여쓰지 않습니다.</p>
        </div>
        <div class="radio">
          <input type="radio" id="gender-etc" name="gender" value="" checked disabled />
          <label for="gender-etc" title="Video Killed the Radio Button">Video Killed the Radio Button</label>
        </div>

        <div class="radio theme-button" style="margin:var(--space) 0 0 0;">
          <input type="radio" id="raidio5" name="gender" value="" />
          <label for="raidio5" title="">
            버튼 appearance
            <b>₩ 2,000</b>
          </label>
          <div>
            test
          </div>
        </div>
        <div class="radio theme-button">
          <input type="radio" id="raidio6" name="gender" value="" />
          <label for="raidio6" title="">
            버튼 appearance
            <b>₩ 8,000</b>
          </label>
          <div>
            test
          </div>
        </div>
      </fieldset>

      <h4 class="article-subhead">Guidelines</h4>
      <ul>
        <li>기본 옵션을 선택된 상태로 제공합니다.</li>
        <li>가로로 정렬하지 않습니다.</li>
        <li>옵션 목록은 최대 5개입니다.</li>
      </ul>

      <!-- <h4 class="article-subhead">Editing Checklist</h4>
      <ul>
        <li>동사 포함</li>
      </ul> -->

      <!-- A Toggle Switch lets people turn a single setting on or off immediately. -->
      <!-- (리액트에서 id  이슈 input in label.) -->
      <!-- <div
        role="checkbox"
        aria-checked="false"
        tabindex="0"
        onclick="toggleGroupCheckbox(event)"
        onkeydown="toggleGroupCheckbox(event)"
        onfocus="focusCheckbox(event)"
        onblur="blurCheckbox(event)">
      All condiments
      </div> -->

      <!-- <fieldset class="is-tile" role="checkgroup">
        <legend class="article-anatomy-title" style="margin-bottom:0;">checkgroup</legend>
        <div class="checkbox" style="margin-top:0;">
          <input class="js-checkall" type="checkbox" id="tile1" value="" aira-checked="mixed" aria-controls="1 2" data-indeterminate="true" indeterminate />
          <label for="tile1" title="tile1">
            <figure class="avatar-small"></figure>
            <span>tile1</span>
          </label>
        </div>
        <div class="checkbox">
          <input class="js-check" type="checkbox" id="tile2" value="" />
          <label for="tile2" title="tile2">
            <figure class="avatar-small"></figure>
            <span>tile2</span>
          </label>
        </div>
      </fieldset> -->

      <!-- <datalist></datalist> -->

      <!-- <span class="article-anatomy-title">selectbox</span>
      <div class="sorting" style="position:relative;display:flex;">
        <label cselect>lass="" for="select2">Sort by</label>
        <select class="" id="select2" style="background:none;border:none;padding:0 var(--space) 0 0;font:inherit;color:var(--color-text);">
          <option class="select-option" value="select-option1">최신순</option>
        </
        <span class="selectbox-indicator" role="img" style="background:var(--color-background-weak);position:relative;right:auto;top:auto;"><i class="icon-caret"></i></span>
      </div> -->
    </article>
  </section>
</main>
