<main>
  <section class="setting">
    <header class="setting-head">
      <h1 class="setting-head-title" hidden>설정</h1>
      <p class="setting-head-title">프로필을 완성하여<br />맞춤형 서비스를 받아보세요!</p>
      <p class="setting-head-description">이름, 사진과 같이 서비스에서 사용하는 기본 정보</p>
    </header>
    <div class="setting-body">
      <h2 class="setting-body-heading">기본 프로필</h2>
      <div class="setting-row is-opened" role="button" style="flex-wrap:wrap;">
        <h2 class="setting-row-label">닉네임</h2>
        <div class="setting-row-value">수줍이</div>
        <span class="setting-row-change"><b>변경하기</b> <i class="icon-arrow"></i></span>
        <form class="setting-row-form" style="width:100%;">
          <!-- <h1>어떻게 불러드릴까요?</h1> -->
          <div class="textfield">
            <label class="textfield-label" for="username">닉네임</label>
            <small class="textfield-byte"><b>0</b> / 20</small>
            <input class="textfield-input js-input-test" type="text" id="username" placeholder="예) 수줍이" aria-describedby="error" aria-invalid="true" />
            <small class="textfield-helper is-error" role="alert"></small>
          </div>
          <footer class="setting-row-foot">
            <button class="setting-row-foot-confirm">변경하기</button>
            <button class="setting-row-foot-cancel" type="button">취소</button>
          </footer>
        </form>
      </div>

      <div class="setting-row">
        <h2 class="setting-row-label">생년월일</h2>
        <div class="setting-row-value">1988년 1월 11일</div>
        <span class="setting-row-change"><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>
      <div class="setting-row">
        <h2 class="setting-row-label">성별</h2>
        <div class="setting-row-value">기타</div>
        <span class="setting-row-change"><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>

      <div class="setting-row">
        <h2 class="setting-row-label">배송지</h2>
        <div class="setting-row-value">
          <p class="setting-row-value-username">이경수</p>
          <p class="setting-row-value-address">[07655] 서울특별시 강서구 까치산로 182 702호 - 주소가 저장되어 있으면 이화면. 누르면 수정화면-주소 저장되어 있지 않으면 수정화면.</p>
          <p class="setting-row-value-phone">010-3121-7045</p>
        </div>
        <span class="setting-row-change"><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>
    </div>

    <div class="setting-body">
      <h2 class="setting-body-heading">뉴니커 정보</h2>
      <p class="setting-body-description">뉴니커 정보를 입력하고 뽐내보세요.</p>
      <div class="setting-row">
        <h2 class="setting-row-label">이모지</h2>
        <div class="setting-row-value" style="font-size:1.5rem;">🐻</div>
        <span class="setting-row-change"><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>
      <div class="setting-row">
        <h2 class="setting-row-label">관심분야</h2>
        <div class="setting-row-value">문화/예술</div>
        <span class="setting-row-change"><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>
    </div>

    <div class="setting-body">
      <h2 class="setting-body-heading">비밀번호 변경</h2>
      <div class="setting-row">
        <h2 class="setting-row-label">비밀번호</h2>
        <div class="setting-row-value" style="letter-spacing:.25rem;">••••••••</div>
        <span class="setting-row-change"><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>
    </div>

    <div class="setting-body">
      <h2 class="setting-body-heading">이메일 수신여부</h2>
      <div class="setting-row">
        <h2 class="setting-row-label">이메일</h2>
        <div class="setting-row-value">soojubm@gmail.com</div>
        <span class="setting-row-change"><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>
      <div class="setting-row">
        <h2 class="setting-row-label">뉴스레터</h2>
        <div class="setting-row-value">
          <span class="switch">
            <input type="checkbox" id="switch1" name="" role="switch" value="on" checked />
            <label for="switch1" title="Receive weekly newsletter">시사 뉴스레터</label>
          </span>
        </div>
      </div>
    </div>

    <footer class="setting-foot">
      <a class="setting-foot-delete" href="">계정 삭제하기</a>
    </footer>
  </section>
</main>
