<main>
  <section class="setting">
    <header class="setting-head">
      <h1 class="setting-head-title">설정</h1>
      <p class="setting-head-description">이름, 사진과 같이 서비스에서 사용하는 기본 정보</p>
    </header>
    <div class="setting-body">
      <h2>프로필</h2>
      <!-- <p style="margin:.5rem 0 0 0;">안녕하세요.</p> -->

      <div class="setting-row">
        <h2>닉네임</h2>
        <div>
          수줍이
          <!-- <div class="textfield" style="flex-grow: 1;">
            <label class="textfield-label" for="date-start"><i class="">체크인</i></label>
            <input class="textfield-input" type="text" id="date-start" placeholder="수줍이">
          </div> -->
        </div>
        <span><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>
      <div class="setting-row">
        <h2>생년월일</h2>
        <div>2020년 5월 24일</div>
        <span><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>
      <div class="setting-row">
        <h2>성별</h2>
        <div>기타</div>
        <span><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>
      <div class="setting-row">
        <h2>비밀번호</h2>
        <div>••••••••</div>
        <span><b>변경하기</b> <i class="icon-arrow"></i></span>
      </div>
    </div>


    <div class="setting-body">
      <h2>이메일 수신여부</h2>
      <!-- <p style="margin:.5rem 0 0 0;">안녕하세요.</p> -->
      <div class="setting-row">
        <h2>이메일</h2>
        <div>soojubm@gmail.com</div>
      </div>
      <div class="setting-row">
        <h2>뉴스레터</h2>
        <div>
          <span class="switch">
            <input type="checkbox" id="switch1" name="" role="switch" value="on" checked />
            <label for="switch1" title="Receive weekly newsletter">시사 뉴스레터</label>
          </span>
        </div>
      </div>
    </div>

    <footer class="setting-foot">
      <p class="setting-body-delete">계정 삭제하기</p>
    </footer>
  </section>
</main>