<main class="setting">
  <!-- <aside class="setting-background"></aside> -->
  <p class="setting-head-title"></p>

  <h2 class="article-subhead">Best practices</h2>
  <ul>
    <li>개인정보와 프로필 정보를 구분한다.</li>
    <li>프로필 수정은 프로필 페이지에서 진입할 수 있어야 한다.</li>
    <li>사이드메뉴 or 탭 vs 깊은 댑스 (최상위댑스가 사이드메뉴가 되는)</li>
    <li>계정 삭제 페이지와 비밀번호 찾기 페이지는 별도의 링크로 url이 존재하는 것는 좋다.</li>
    <!-- <p>Your name appears on your Profile page, as your byline, and in your responses. It is a required field.</p> -->
  </ul>

  <br />

  <div class="menu-item" data-tile="elevated" data-size="large">
    <figure class="menu-item-avatar" style="background-image: none">
      <span class="material-symbols-outlined">badge</span>
    </figure>
    <span class="menu-item-label">사용자 정보</span>
    <span class="menu-item-description">전자 메일, 일정, 연락처에서 사용하는 계정</span>
  </div>
  <button class="menu-item" role="menuitem">
    <figure class="menu-item-avatar" style="background-image: none">
      <span class="material-symbols-outlined">mail</span>
    </figure>
    <span class="menu-item-label">이메일</span>
    <!-- <span class="setting-item-icon"> <b hidden>변경하기</b>  </span> -->
  </button>
  <button class="menu-item" role="menuitem">
    <figure class="menu-item-avatar"></figure>
    <span class="menu-item-label">비밀번호 변경</span>
    <div class="menu-item-action">
      <div class="chip"><span class="chip-label">변경</span></div>
    </div>
    <span class="setting-item-icon"> <b hidden>변경하기</b> </span>
  </button>

  <hr />

  <div class="menu-item" data-tile="elevated" data-size="large">
    <figure class="menu-item-avatar" style="background-image: none">
      <span class="material-symbols-outlined"> campaign </span>
    </figure>
    <span class="item-label">알림</span>
    <p class="item-description">앱 및 시스템의 할인</p>
  </div>
  <button class="menu-item js-darkmode" role="menuitem" title="change theme">
    <figure class="menu-item-avatar" style="background-image: none"><span class="material-symbols-outlined">nights_stay</span></figure>
    <span class="menu-item-label">어둡게 보기</span>
    <div class="menu-item-action">
      <span class="switch">
        <input type="checkbox" id="temp55" name="" role="switch" />
        <label for="temp55" style="padding-left: 48px"></label>
      </span>
    </div>
  </button>

  <br /><br />

  <h3 class="article-subhead">프로필 사진</h3>
  <div class="setting-item">
    <figure class="user-avatar"></figure>
    <div class="stack" role="group" style="margin-top: 0.5rem; margin-bottom: 0.5rem">
      <button class="chip"><span class="chip-label">프로필 사진 추가 / 업데이트</span></button>
      <button class="chip">
        <span class="material-symbols-outlined"> delete </span>
      </button>
    </div>
    <p>10MB 이내의 JPEG, PNG, GIF 형식이어야 합니다.</p>
    <button>Go to your persnal profile</button>
    <!-- <aside class="callout" style="margin:.75rem 0 0 0;padding:.75rem;border:var(--radius);background:var(--green100);">
      <p>프로필 사진을 업데이트했습니다. 멋져 보이네요, soojubm님!</p>
      <p>프로필 사진을 삭제했습니다.</p>
    </aside> -->
  </div>

  <h3 class="article-subhead">Service sign-in / Integration</h3>
  <p>페이스북 연동</p>

  <h3 class="article-subhead">개인정보</h3>
  <div class="setting-item" style="margin-left: -0.5rem; margin-right: -0.5rem">
    <h2 class="setting-item-label">이메일</h2>
    <div class="setting-item-value">soojubm@gmail.com</div>
    <span class="setting-item-icon material-symbols-outlined"> arrow_forward </span>
  </div>
  <div class="setting-item" style="margin-left: -0.5rem; margin-right: -0.5rem">
    <h2 class="setting-item-label">배송지</h2>
    <div class="setting-item-value">배송지를 관리하고 기본 배송지를 설정하세요.</div>
    <span class="setting-item-icon material-symbols-outlined">arrow_forward</span>
  </div>

  <br />
  <br />

  <h2 class="article-subhead">프로필</h2>
  <!-- <p class="setting-description">뉴니커 정보를 입력하고 뽐내보세요.</p> -->
  <div class="setting-item">
    <h2 class="setting-item-label">닉네임</h2>
    <div class="setting-item-value">수줍이</div>
    <span class="setting-item-icon material-symbols-outlined">arrow_forward</span>
  </div>
  <small style="display: block; margin: -0.25rem 0 var(--space-4) 0; line-height: var(--font-line-height)">
    soojubm 닉네임을 만드세요! 60일 동안 변경할 수 없습니다 — 취소할 수 없습니다! Twitch 이용규약을 위반한 닉네임은 계정이 영구정지될 수 있으니
    주의하세요.
  </small>
  <div class="setting-item">
    <h2 class="setting-item-label">이모지</h2>
    <div class="setting-item-value">🐻</div>
    <span class="setting-item-icon material-symbols-outlined">arrow_forward</span>
  </div>
  <div class="setting-item">
    <h2 class="setting-item-label">관심분야</h2>
    <div class="setting-item-value">문화/예술, 인권, 환경</div>
    <span class="setting-item-icon material-symbols-outlined">arrow_forward</span>
  </div>
  <small style="display: block; margin: -0.25rem 0 var(--space-4) 0; line-height: var(--font-line-height)">
    관심있는 분야의 콘텐츠를 추천 받으세요.
  </small>
  <p></p>

  <br />
  <br />

  <h2 class="article-subhead">보안</h2>
  <div class="setting-item">
    <h2 class="setting-item-label">비밀번호 변경</h2>
    <div class="setting-item-value">강력한 비밀번호로 보안을 강화하세요.</div>
    <span class="setting-item-icon material-symbols-outlined">arrow_forward</span>
  </div>
  <small style="display: block; margin: -0.25rem 0 var(--space-3) 0; line-height: var(--font-line-height)">
    비밀번호 변경 관련 안내를 해주어도 좋겠다. 비밀번호는 설정, 분실 시 이메일 모두 동일할 수 있을까.
  </small>

  <br />
  <br />

  <h2 class="article-subhead">뉴스레터</h2>
  <button class="menu-item js-darkmode" role="menuitem" data-tile="elevated" data-size="medium" title="change theme">
    <figure class="menu-item-avatar"><span class="material-symbols-outlined">email</span></figure>
    <span class="item-label">시사 뉴스레터</span>
    <span class="switch" style="margin-left: auto">
      <input type="checkbox" id="temp55" name="" role="switch" />
      <label for="temp55" style="padding-left: 48px"></label>
    </span>
  </button>
  <small style="display: block; margin: 0 0 var(--space-3) 0; line-height: var(--font-line-height)">
    매 주 월요일, 수요일, 금요일 아침에 받아볼 수 있어요. 스위치만 클릭 또는 타일을 클릭.
  </small>

  <br /><br />

  <h2 class="article-subhead">계정삭제 vs 계정비활성화</h2>
  <div class="setting-item">
    <h2 class="setting-item-label">계정 비활성화</h2>
    <div class="setting-item-value"><a href="">비활성화 페이지</a>에서 할 수 있습니다.</div>
    <span class="setting-item-icon material-symbols-outlined">arrow_forward</span>
  </div>

  <footer style="margin: 2rem 0 0 0; text-align: center"><span class="button-tertiary">로그아웃</span></footer>

  <br /><br /><br />
  <div>
    <header class="titlebar js-titlebar" role="navigation" style="padding: 0">
      <div class="titlebar-background"></div>
      <h1 class="titlebar-title js-page-title" title="page title">이름 바꾸기</h1>
      <button class="titlebar-back" onclick="javascript:window.location.href='/';">
        <figure class="titlebar-back-icon material-symbols-outlined" title="이전 페이지로">arrow_back</figure>
        <!-- <span class="titlebar-back-label">뒤로</span> -->
      </button>
      <button class="titlebar-action" style="color: var(--color-primary)">
        <figure class="titlebar-action-icon" hidden></figure>
        <span class="titlebar-action-label">저장</span>
      </button>
    </header>
    <div class="is-opened" role="button" style="flex-wrap: wrap; box-shadow: none; border: none; padding: 1rem 0">
      <!-- <div>설정 - 프로필 - 이름</div> -->

      <form class="setting-item-form" style="padding: 0">
        <h1 style="line-height: var(--font-line-height)">개인 및 계정 정보</h1>
        <p style="margin: var(--space-after-subhead) 0 0 0">
          잠시 Twitch를 쉬고 싶으세요? 이미 준비되어 있습니다! 계정을 비활성화하면 프로필과 콘텐츠가 임시로 비활성화되며 유저 정보는 삭제되지
          않습니다. 나중에 마음이 바뀌면 계정에 다시 로그인하여 프로필을 다시 활성화할 수 있습니다.
        </p>
      </form>
      <hr />
      <fieldset role="radiogroup">
        <legend hidden>radiogroup</legend>

        <div class="radio">
          <input type="radio" id="gender-etc" name="gender" value="" checked />
          <label for="gender-etc" title="Video Killed the Radio Button">기타</label>
        </div>
        <div class="radio">
          <input type="radio" id="gender-man" name="gender" value="" />
          <label for="gender-man" title="Video Killed the Radio Button">남성</label>
        </div>
        <div class="radio">
          <input type="radio" id="gender-woman" name="gender" value="" />
          <label for="gender-woman" title="Video Killed the Radio Button">여성</label>
        </div>
      </fieldset>

      <form class="setting-item-form" style="padding: 0">
        <h1 style="line-height: var(--font-line-height)">어떻게<br />불러드릴까요?</h1>
        <p style="margin: var(--space-after-subhead) 0 0 0">
          성별 정보는 Google이 사용자를 지칭하는 방식을 포함해 Google 서비스에서 맞춤설정된 환경을 제공하는 데 사용될 수 있습니다.
          <a href="">더 알아보기</a>
        </p>
        <br />
        <div class="textfield">
          <label class="textfield-label" for="username">이름</label>
          <small class="textfield-byte"><b>0</b> / 20</small>
          <input class="textfield-input" type="text" id="username" placeholder="수줍이" aria-describedby="error" aria-invalid="true" />
          <small class="textfield-helper is-error" role="alert"></small>
        </div>
      </form>
    </div>
  </div>
</main>
