<main class="setting">
  <header class="setting-head">
		<button class="setting-head-back icon-button" style="transform:rotate(180deg);">
			<i class="icon-arrow --left"></i>
		</button>
    <h1 class="setting-heading">설정</h1>
  </header>
  <section class="setting-body">
		<h1 class="setting-body-heading">계정 설정</h1>
		<p class="setting-body-description">계정 정보를 설정하세요.</p>
    <a class="setting-link" href="">
      <i class="material-icons">notifications_none</i>
			동기화 및 Google 서비스
			<small>여러 피씨에서 사용할 수 있습니다.</small>
      <i class="icon-caret"></i>
    </a>
    <a class="setting-link" href="">
      <i class="material-icons">notifications_none</i>
      Google 계정 관리
      <i class="icon-caret"></i>
    </a>
    <a class="setting-link" href="">
      <i class="material-icons">notifications_none</i>
      Chrome 이름 및 사진
      <i class="icon-caret"></i>
    </a>
    <a class="setting-link" href="">
      <i class="material-icons">notifications_none</i>
      북마크 및 설정 가져오기
      <i class="icon-caret"></i>
		</a>
		<a class="setting-link" href="" style="margin-top:.5rem">
			<i class="material-icons">notifications_none</i>
			Chrome 이름 및 사진
			<i class="icon-caret"></i>
		</a>
		<a class="setting-link" href="">
			<i class="material-icons">notifications_none</i>
			북마크 및 설정 가져오기
			<i class="icon-caret"></i>
		</a>
  </section>
</main>
