<section class="home-hero">
  <form class="home-hero-form">
    <div class="title">빠른 상담신청</div>
    <div class="name"><input type="text" /></div>
    <div class="category">
      <select name="" id="">
        <option value=""></option>
      </select>
    </div>
    <div class="tel">
      <span>연락처</span>
      <input type="text" />
      <span>-</span>
      <input type="text">
      <span>-</span>
      <input type="text">
    </div>
    <div class="agree"><a href=""><b>개인정보 취급방침</span>에 동의</a></div>
    <button>상담신청</button>
  </form>
</section>

<section class="home-special">
  <div class="home-special-inbox">
    <header>
      <span></span>
      <h1></h1>
    </header>
    <div>
      <span></span>
      <h2></h2>
      <p></p>
    </div>
    <div>
      <span></span>
      <h2></h2>
      <p></p>
    </div>
    <div>
      <span></span>
      <h2></h2>
      <p></p>
    </div>
    <div>
      <span></span>
      <h2></h2>
      <p></p>
    </div>
  </div>
</section>

<section class="home-system">
  <div class="home-system-inbox">
    <header>
      <span></span>
      <h1></h1>
    </header>
    <div>
      <figure>
        <img src="" alt="" />
      </figure>
      <span></span>
      <h2></h2>
      <p></p>
      <a href=""></a>
    </div>
    <div>
      <figure>
        <img src="" alt="" />
      </figure>
      <span></span>
      <h2></h2>
      <p></p>
      <a href=""></a>
    </div>
    <div>
      <figure>
        <img src="" alt="" />
      </figure>
      <span></span>
      <h2></h2>
      <p></p>
      <a href=""></a>
    </div>
  </div>
</section>

<section class="home-review">
  <div class="home-review-inbox">
    <header>
      <span></span>
      <h1></h1>
    </header>
    <div class="home-review-tablist">
      <button>임플란트</button>
      <button>치아교정</button>
      <button>심미치료</button>
      <button>보철치료</button>
      <button>사랑니발치</button>
      <button>기타</button>
    </div>
    <div class="home-review-tabpanel">
      <div class="before"></div>
      <div class="after"></div>
    </div>
    <footer>
      <button>치료전후 더 보기</button>
    </footer>
  </div>
</section>

<section class="home-special">
  <div class="home-special-inbox">
    <header>
      <span></span>
    </header>
    <div>
      <span></span>
      <h2></h2>
      <p></p>
    </div>
    <div>
      <span></span>
      <h2></h2>
      <p></p>
    </div>
  </div>
</section>

<section class="home-community">
  <div class="home-community-inbox">
    <div class="home-community-notice">
      <h2>세빛치과 소식</h2>
      <p>세빛치과의 공지사항 및 소식을 알려드립니다.</p>
      <figure>
        <img src="" alt="" />
      </figure>
      <ul>
        <li>
          <p>공지사항 안내 공지사항 안내 공지사항 안내</p>
          <time>2020.00.00</time>
        </li>
        <li>
          <p>공지사항 안내 공지사항 안내 공지사항 안내</p>
          <time>2020.00.00</time>
        </li>
        <li>
          <p>공지사항 안내 공지사항 안내 공지사항 안내</p>
          <time>2020.00.00</time>
        </li>
        <li>
          <p>공지사항 안내 공지사항 안내 공지사항 안내</p>
          <time>2020.00.00</time>
        </li>
      </ul>
    </div>
    <div class="home-community-council">
      <h2>온라인 상담</h2>
      <p>치과치료에 궁금한 것 무엇이든 물어보세요.</p>
      <figure>
        <img src="" alt="" />
      </figure>
      <ul>
        <li>
          <p>공지사항 안내 공지사항 안내 공지사항 안내</p>
          <time>2020.00.00</time>
        </li>
        <li>
          <p>공지사항 안내 공지사항 안내 공지사항 안내</p>
          <time>2020.00.00</time>
        </li>
        <li>
          <p>공지사항 안내 공지사항 안내 공지사항 안내</p>
          <time>2020.00.00</time>
        </li>
        <li>
          <p>공지사항 안내 공지사항 안내 공지사항 안내</p>
          <time>2020.00.00</time>
        </li>
      </ul>
    </div>
    <div class="home-community-location">
      <h2>오시는 길</h2>
      <p>충북혁신도시 우미린스테이 정문 부근에 있습니다.</p>
      <figure>
        <img src="" alt="" />
      </figure>
    </div>
  </div>
</section>

<section class="home-promise">
  <div class="home-promise-inbox">
    <h1><b>기본에 충실</b>한 진료,<br /><b>꼭 필요한 진료</b>만 하는 정직한 진료.<br />세빛치과가 약속드립니다.</h1>
    <span></span>
    <div class="tel"></div>
    <div class="time"></div>
    <ul class="socials">
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
    </ul>
  </div>
</section>

<footer class="home-footer">
  <div class="home-footer-inbox">
    <div class="home-footer-logo"><img src="" alt="" /></div>
    <div class="home-footer-address"></div>
    <div class="home-footer-terms">
      <a href="">개인정보취급방침</a>
      <a href="">이용약관</a>
    </div>
  </div>
</footer>
