<main>
  <form class="signup" name="signup-foot-submit" action="" method="">
    <header class="signup-head">
      <h3 class="signup-head-title">웹사이트 회원가입</h3>
      <!-- <p class="signup-head-description">이름, 사진과 같이 Google 서비스에서 사용하는 기본 정보</p> -->
    </header>
    <fieldset class="signup-required">
      <legend hidden>필수입력</legend>
      <div class="textfield">
        <label class="textfield-label">이메일</label>
        <input class="textfield-input" type="text" name="email" placeholder="soojubm@gmail.com" />
        <!-- <small class="textfield-helper" role="alert">이메일을 입력하시와아요.</small> -->
        <span class="check-text -o" style="position: absolute;right:.5rem;bottom:40px;"><i class="icon-check" style="border-color:#3fbb65;"></i></span>
        <!-- <span class="check-text -x"><i class="icon-close"></i></span> -->
      </div>
      <div class="textfield">
        <label class="textfield-label" for="signup-password">비밀번호<abbr title="required" aria-hidden="true" hidden>*</abbr></label>
        <input class="textfield-input" type="password" name="password" id="signup-password" placeholder="비밀번호 (6자리 이상)" autocomplete="new-password" />
        <button class="textfield-reveal js-view-password">비밀번호 보기</button>
        <!-- <input class="textfield-input" type="password" id="signup-password-confirm" placeholder="비밀번호 확인 (6자리 이상)" /> -->
      </div>
      <div class="textfield">
        <label class="textfield-label" for="signup-password" hidden>비밀번호 확인</label>
        <input class="textfield-input" type="password" id="signup-password-confirm" placeholder="비밀번호 확인 (6자리 이상)" />
        <button class="textfield-reveal js-view-password">비밀번호 보기</button>
      </div>
    </fieldset>
    <fieldset class="signup-optional" style="margin-top:-2rem;">
      <legend hidden>선택입력</legend>
      <div class="textfield">
        <label class="textfield-label">닉네임 <small>선택입력</small></label>
        <input class="textfield-input" type="text" placeholder="수줍이" />
      </div>
      <div style="display:flex;justify-content:space-between;margin-top:-2rem;">
        <div class="textfield" style="width:calc(50% - .5rem);">
          <label class="textfield-label" for="signup-password">출생년도 <small>선택입력</small></label>
          <input class="textfield-input" type="password" id="signup-password-confirm" placeholder="출생년도" />
        </div>
        <div class="textfield" style="width:calc(50% - .5rem);">
          <label class="textfield-label" for="signup-password">성별 <small>선택입력</small></label>
          <select class="textfield-input" id="signup-password">
            <option value="women">여성</option>
            <option value="other">기타</option>
            <option value="man">남성</option>
          </select>
          <i class="selectbox-indicator icon-caret"></i>
        </div>
      </div>
    </fieldset>
    <fieldset class="signup-terms">
      <legend class="signup-terms-title" hidden>약관 동의</legend>
      <!-- <strong>회원가입 시 <a href="#">이용약관</a>과 <a href="#">개인정보처리방침</a>에 동의하는 것으로 간주합니다.</strong> -->
      <div class="checkbox">
        <input type="checkbox" class="js-checkall" id="check-all" />
        <label for="check-all"><em>모두 동의합니다.</em></label>
      </div>
      <div class="checkbox">
        <input type="checkbox" class="js-check js-required" id="agree-terms" />
        <label for="agree-terms">이용약관 동의</label>
        <div class="signup-terms-content">
          <p>
            - 개인정보를 제공받는 자: 엔에이치엔페이코(주)<br />
            - 제공항목: 광고ID, 이용자 단말기 내 설치된 어플리케이션 정보(앱 설치·실행시각 포함)<br />
            - 제공받는 자의 개인정보 이용목적: 이용자 관심 등에 기반한 맞춤형 서비스 제공<br />
            - 제공받는자의 개인정보 보유이용기간: 수집일로부터 2년
          </p>
        </div>
      </div>
      <div class="checkbox">
        <input type="checkbox" class="js-check js-required" id="agree-policy" />
        <label for="agree-policy">개인정보 수집/이용 동의</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" class="js-check" id="check-three" />
        <label for="check-three">이벤트 혜택 알림 수신 동의<small style="margin-left:.5rem;color:var(--gray400);">선택</small></label>
      </div>
    </fieldset>
    <!-- <div class="checkbox">
      <input type="checkbox" id="user-agree" />
      <label for="user-agree"><strong>웹사이트 <a href="#">이용약관</a>과 <a href="#">개인정보처리방침</a>에 동의합니다.</strong></label>
    </div> -->
    <footer class="signup-foot">
      <button type="submit" class="signup-foot-submit">가입하기</button>
    </footer>
  </form>
</main>
<script defer>
  function onChangePhoneNumberFormat(num) {
    let update = ''
    for (var i = 0; i < num.length; i++) {
      var changed = num.charAt(i).replace('-', '')
      update += changed
    }
    return update
  }
  // TODO other input

  document.addEventListener('DOMContentLoaded', () => {
    document.addEventListener(
      'blur',
      event => {
        if (event.target.matches('.email-input')) {
          if (event.target.value == '') {
          }
        }
      },
      true,
    )
    document.addEventListener(
      'keyup',
      event => {
        if (event.target.matches('.email-input')) {
          if (event.target.value.length < 6) {
            alert('너무 짧아요')
          }
        }
      },
      true,
    )
  })
</script>

<script>
    function createCustomer() {
      let billingEmail = document.querySelector('#email').value;
      return fetch('/create-customer', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: billingEmail,
        }),
      }).then((response) => {
          return response.json()
      }).then((result) => {
        // result.customer.id is used to map back to the customer object
        // result.setupIntent.client_secret is used to create the payment method
        return result
      });
    }
  ​
    let signupForm = document.getElementById('signup-form');
  ​
    signupForm.addEventListener('submit', function (evt) {
      evt.preventDefault();
      // Create Stripe customer
      createCustomer().then((result) => {
        customer = result.customer;
      });
    });


    function showCardError(event) {
      let displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    }
</script>
