<main class="pattern">
  <article class="article js-scrollspy-section">
    <h1 class="article-title" title="visual cue">Signifier <span hidden>Interaction States (MD)</span></h1>
    <p class="article-description">사용자가 다음에 일어날 일을 예측할 수 있도록 일관된 기표를 제공합니다.</p>

    <a href="https://developer.apple.com/design/human-interface-guidelines/components/layout-and-organization/disclosure-controls"
      >disclosure-controls</a
    >

    <ul>
      <li>Plus icon을 expandable로 사용하지 마세요.</li>
      <li>Bold text를 clickable로 사용하지 마세요. (참고. 단락 더 보기)</li>
      <li>todo: copy / refresh</li>
    </ul>

    <h4 class="article-subhead">Clickable? interactive element?</h4>
    <div class="token-group">
      <div class="tile-elevated token-item">
        <p>
          elevated 오브젝트는 클릭할 수 있다. 또는 오브젝트 내부에 클릭할 수 있는 요소가 존재한다.
        </p>
      </div>
      <div class="token-item" style="border:none;background:var(--color-background-weak);">
        <p>연한 회색의 오브젝트는 클릭할 수 있다.</p>
      </div>
      <div class="token-item">
        <p><em>브랜드 컬러 텍스트</em>는 클릭할 수 있다.</p>
      </div>
      <div class="token-item">
        <p>❤️ 아이콘(이모지)는 클릭할 수 있다. + 이미지</p>
      </div>
    </div>

    <!-- <h4 class="article-subhead">non-clickable</h4>
    <div class="token-item" style="cursor:default;">
      <div class="tag-group">
        <span class="tag" data-appearance="secondary" st>읽기전용readonly</span>
        <span class="tag">cursor default</span>
      </div>
    </div>
    <div class="token-item">
      <div class="tag-group" style="opacity:.5;cursor:not-allowed;">
        <span class="tag" data-appearance="secondary">비활성disabled state</span>
        <span class="tag">opacity 50%</span>
        <span class="tag">cursor not-allowed</span>
        <span class="tag">flat style</span>
      </div>
    </div> -->

    <h4 class="article-subhead">Icons</h4>
    <div class="token-group">
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-arrow is-external"></i>
        </figure>
        <span>External Link</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-arrow" style="display:inline-block;"></i>
        </figure>
        <span>internal Link (ex: view all)</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-chevron" style="display:inline-block;"></i>
        </figure>
        <span>Expanable & Collapsible (vertical)</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-chevron is-down"></i>
        </figure>
        <span>Expanable & Collapsible (horizental)</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon"><i class="icon-search"></i></figure>
        <span>Searchable</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-caret" style="display:inline-block;"></i>
        </figure>
        <span>Popover</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-x" style="display:inline-block;"></i>
        </figure>
        <span>Removable</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-plus" style="display:inline-block;"></i>
        </figure>
        <span>Addable</span>
      </div>
      <div class="token-item">
        <span class="textfield-check" style="margin-right:var(--space-2);position:relative;right:auto;top:auto;background:var(--green100);"
          ><i class="icon-check" style="border-color:var(--color-primary);"></i
        ></span>
        <span>Valid</span>
      </div>
      <div class="token-item">
        <span class="textfield-check" style="position:relative;right:auto;top:auto;background:var(--red100);"><i class="icon-x is-red"></i></span>
        <span>InValid</span>
      </div>
    </div>

    <!-- todo states -->
    <h4 class="article-subhead">Hover state</h4>
    <div class="token-group">
      <div class="token-item">
        <p style="margin:0 0 .25rem;">@mixin hover-text {}</p>
        <a href="#" style="text-decoration:underline;">Text</a>
      </div>
      <div class="token-item" style="z-index:1;">
        <p style="margin:0 0 var(--space-3);">@mixin hover-item {}</p>
        <div class="item is-hoverable" data-size="medium" title="sign out">
          <figure class="item-avatar" style="background-image:none;">
            <i class="icon-out"><span class="icon-out-door"></span></i>
          </figure>
          <span class="item-name">Item</span>
        </div>
      </div>
    </div>
    <article class="article-helper">
      <p>todo hover-item. hover-action. (smaller)</p>
    </article>

    <h4 class="article-subhead">Pressed / Progressing</h4>
  </article>
</main>
