<main class="pattern tokens">
  <div class="banner" style="text-align:center;margin:.75rem;background-color:antiquewhite;">
    <p class="banner-text">22.08. css icon에서 material icon으로 교체 중</p>
  </div>
  <article class="article js-scrollspy-section">
    <h1 class="article-title" title="visual cue">Signifier <span hidden>Interaction States (MD)</span></h1>
    <p class="article-description">사용자는 다음에 일어날 일을 예측할 수 있습니다.</p>

    <!-- <p style="color:var(--red800);">safari에서 outline이 radius를 못 가져옴. box-shadow는 컨테이너의 padding이 없으면 잘림. + ::before {border:0;radius} 수도 선택자의 장점. 역할(상태)를 확실히 분리할 수 있다ㅏ.</p> -->
    <!-- <li>aria-haspopup vs aria-expanded</li> -->
    <!-- todo -->
    <!-- <li> uncheckable을 명확히 정의.</li> -->

    <h4 class="article-subhead">Best Practices</h4>
    <ul>
      <li>
        상태를 표현하는 시각 언어는 일부 컴포넌트에 종속되지 않고 제품 전체에 일관됩니다. 색각 이상자를 위해 색상 외의 시각 언어로 상태 정보를
        표현하세요.
      </li>
      <li>addable을 expandable를 혼동하지 마세요.</li>
      <li>bold text를 clickable하지 마세요. (볼드 텍스트는 단락 더 보기에서 타 서비스에서 자주 사용되는 패턴)</li>
    </ul>

    <h4 class="article-subhead">References</h4>
    <ul>
      <li>
        <a href="https://developer.apple.com/design/human-interface-guidelines/components/layout-and-organization/disclosure-controls" target="_blank">disclosure-controls</a>
      </li>
      <li><a href="https://developer.apple.com/kr/design/tips/" target="_blank">UI 디자인 기본 원칙</a></li>
    </ul>

    <h4 class="article-subhead">Clickable<br />interactive elements</h4>
    <div class="token-group">
      <div class="tile-elevated token-item">
        <p>elevated 오브젝트는 클릭할 수 있다. 또는 오브젝트 내부에 클릭할 수 있는 요소가 존재한다.</p>
      </div>
      <div class="token-item" style="border:none;background:var(--color-background-weak);">
        <p>연한 회색의 오브젝트는 클릭할 수 있다.</p>
      </div>
      <div class="token-item">
        <em>브랜드 컬러 텍스트</em>는 클릭할 수 있다.</p>
      </div>
      <div class="token-item">
        <p>❤️ 아이콘(또는 이모지?)는 클릭할 수 있다. + 이미지</p>
      </div>
    </div>

    <h4 class="article-subhead">Icons</h4>
    <ul>
      <li>텍스트 레이블 없이 아이콘을 단독으로 사용할 수 있는 케이스.</li>
      <li>medium action / small for indicator</li>
      <li>iOS에서의 뒤로가기. chevron</li>
    </ul>
    <div class="token-group">
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">call_made</span>
        </figure>
        <b>External Link</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">
            arrow_right_alt
            </span>
        </figure>
        <b>Internal Link (ex: view all)</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">chevron_right</span>
        </figure>
        <b>Expanable & Collapsible (vertical)</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">expand_more</span>
        </figure>
        <b>Expanable & Collapsible (horizental)</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon"><span class="material-symbols-outlined">search</span></figure>
        <b>Searchable</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-caret" style="display:inline-block;"></i>
        </figure>
        <b>Popover</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">close</span>
        </figure>
        <b>Removable</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">add</span>
        </figure>
        <b>Addable</b>
      </div>
      <div class="token-item">
        <span class="icon-button is-positive" data-size="small">
          <span class="material-symbols-outlined">check</span>
        </span>
        <b>Valid</b>
      </div>
      <div class="token-item">
        <span class="icon-button is-negative" data-size="small"><span class="material-symbols-outlined">close</span></span>
        <b>InValid</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">
            content_copy
          </span>
        </figure>
        <b>copy</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">
            cached
            </span>
        </figure>
        <b>refresh</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">
            logout
            </span>
        </figure>
        <b>logout</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">light_mode</span>
        </figure>
        <b>day</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">nights_stay</span>
        </figure>
        <b>night</b>
      </div>
    </div>

    <h4 class="article-subhead">Hover states</h4>
    <div class="token-group">
      <div class="token-item">
        <b style="margin-bottom:.125rem;">@mixin hover-text</b>
        <a href="#" style="text-decoration:underline;">Text</a>
      </div>
      <div class="token-item" style="z-index:1;">
        <b style="margin-bottom:.5rem;">@mixin hover-item</b>
        <div class="item is-hoverable" data-size="medium">
          <figure class="item-avatar" style="margin-bottom:0;">
          </figure>
          <span class="item-name">Item</span>
        </div>
      </div>
      <div class="token-item">
        <b style="margin-bottom:.125rem;">@mixin hover-button</b>
        <button class="chip" style="box-shadow:var(--state-hover);"><span class="chip-label">button & chip</span></button>
      </div>
    </div>

    <h4 class="article-subhead">Disabled state</h4>
    <p>clickable이 아닌 모든 요소는 non-clickable입니다만 disabled은 명시적인 접근 불가 표현입니다.</p>
    <div class="tile-flat" style="opacity:.5;cursor:not-allowed;">
      <p>opacity 50% / cursor not-allowed / removed elevated style</p>
      <p style="margin:var(--space-2) 0 0 0;"><button class="button-primary">주문</button></p>
    </div>

    <h4 class="article-subhead">Pressed state</h4>
    <h4 class="article-subhead">Progressing state</h4>

    <h4 class="article-subhead">Feedbacks</h4>
    <p>inline / toast / modal / refresh</p>

    <h4 class="article-subhead">Error</h4>
    <div class="token-group">
      <div class="token-item">
        <b>globally</b>
        <p>인터넷연결오류: toast + callout</p>
      </div>
      <div class="token-item">
        <b>locally</b>
        <p>데이터패칭, 랜더링: result 컴포넌트</p>
      </div>
    </div>
  </article>
</main>
