<main class="tokens">
  <header class="" role="banner" style="padding: 0 var(--grid-margin);margin-left:-40px;">
    <div class="chat" style="max-width: 720px; margin: 2rem 0 var(--space-3)">
      <figure class="chat-avatar">📌</figure>
      <div class="chat-bubble is-primary">
        <b>Signifier</b>
        <p>서비스와 사용자 사이의 신뢰. 사용자는 실행의 결과를 예측할 수 있어야 합니다.</p>
      </div>
      <div class="chat-bubble">
        <p>
          상태를 표현하는 시각 언어는 일부 컴포넌트에 종속되지 않고 제품 전체에 일관됩니다.
        </p>
      </div>
      <div class="chat-bubble">
        <p>색각 이상자를 위해 색상 외의 시각 언어로 상태 정보를
          표현하세요.</p>
      </div>
      <div class="chat-bubble">
        <p>addable과 expandable을 명확히 구분하세요.</p>
      </div>
      <div class="chat-bubble">
        <p>bold text를 clickable로 제공하지 마세요. (단락 더 보기 등에서 사용되는 패턴)</p>
      </div>
      <div class="chat-bubble">
        <a href="https://developer.apple.com/design/human-interface-guidelines/components/layout-and-organization/disclosure-controls" target="_blank">disclosure-controls</a>
        <span class="icon-bullet"></span>
        <a href="https://developer.apple.com/kr/design/tips/" target="_blank">UI 디자인 기본 원칙</a>
        <span class="icon-bullet"></span>
        <a href="https://m3.material.io/foundations/interaction-states" target="_blank">MD interaction-states</a>
      </div>
    </div>
  </header>

  <article class="article">
    <h4 class="article-title">Clickable</h4>
    <p class="article-description">interactive elements</p>
    <div class="token-group">
      <div class="tile-elevated token-item">
        <p>elevated 오브젝트는 클릭할 수 있다. 또는 오브젝트 내부에 클릭할 수 있는 요소가 존재한다.</p>
      </div>
      <div class="token-item" style="border:none;background:var(--color-background-weak);">
        <p>연한 회색의 오브젝트는 클릭할 수 있다.</p>
      </div>
      <div class="token-item">
        <em>브랜드 컬러 텍스트</em>는 클릭할 수 있다.</p>
      </div>
      <div class="token-item">
        <p>❤️ 아이콘(또는 이모지)과 이미지는 클릭할 수 있다.</p>
      </div>
    </div>
  </article>

  <article class="article">
    <h4 class="article-title">Icons</h4>
    <p class="article-description">Action indicator</p>
    <ul>
      <li>아이콘 사이즈 토큰을 정의해야 한다. 라이브러리에 따라 font-size, width/height로 정의될 수 있다.</li>
      <li>텍스트 레이블 없이 아이콘 버튼으로 사용할 수 있는 메타포여야 한다. medium size는 action. small size는 indicator.</li>
      <li>mdn 등에서 아이콘을 불러오는 것 보다 정확한 기표를 위한 아이콘과 네이밍을 적용한다면 로컬에서 아이콘을 불러오는 것이 좋다. 각각의 아이콘을 컴포넌트로 만들 수 있다면 컴포넌트가 되어도. 변경되는 아이콘의 반영이 쉬워진다.</li>
    </ul>

    <h4 class="article-subhead">Indicator Icons<br />with small size token</h4>
    <section class="token-group">
      <div class="token-item" >
        <figure class="icon-indicator is-positive" data-size="small">
          <span class="material-symbols-outlined">check</span>
        </figure>
        <b>Valid</b>
        <b>done / check / positive</b>
      </div>
      <div class="token-item" data-size="small">
        <figure class="icon-indicator is-negative">
          <span class="material-symbols-outlined">close</span>
        </figure>
        <b>InValid</b>
      </div>
    </section>

    <h4 class="article-subhead">Action Icons (or Icon Button)<br />with medium size token</h4>
    <section class="token-group">
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">arrow_back</span>
        </figure>
        <b>to back</b>
        <!-- <small>iOS에서 뒤로가기(이전 페이지)는 chevron.</small> -->
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">call_made</span>
        </figure>
        <b>External Link</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">
            arrow_right_alt
            </span>
        </figure>
        <b>Internal Link (ex: view all)</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">chevron_right</span>
        </figure>
        <b>Expanable & Collapsible (vertical)</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">expand_more</span>
        </figure>
        <b>Expanable & Collapsible (horizental)</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon"><span class="material-symbols-outlined">search</span></figure>
        <b>Searchable</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-caret" style="display:inline-block;"></i>
        </figure>
        <b>Popover</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">close</span>
        </figure>
        <b>Removable</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">add</span>
        </figure>
        <b>Addable</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">
            content_copy
          </span>
        </figure>
        <b>copy</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">
            cached
            </span>
        </figure>
        <b>refresh</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">
            logout
            </span>
        </figure>
        <b>logout</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">light_mode</span>
        </figure>
        <b>day</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">nights_stay</span>
        </figure>
        <b>night</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">
            more_vert
            </span>
        </figure>
        <b>more_vert</b>
      </div>

      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">public</span>
        </figure>
        <b>public</b>
      </div>      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">group</span>
        </figure>
        <b>group</b>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">lock</span>
        </figure>
        <b>lock</b>
      </div>

      <div class="token-item">
        <figure class="chip-icon">
          <span class="material-symbols-outlined">settings</span>
        </figure>
        <b>setting</b>
      </div>
      
    </section>
  </article>

  <article class="article">
    <h4 class="article-title">States</h4>
    <p class="article-description">컴포넌트에 종속되지 않은 포괄적인 상태.</p>

    <p>clickable이 아닌 모든 요소는 non-clickable이지만 disabled은 실행 불가의 명시적인 표현입니다. opacity 50% (using token) / not-allowed cursor / removed elevated style</p>

    <h4 class="article-subhead">Hover states</h4>
    <div class="token-group">
      <div class="token-item">
        <b style="margin-bottom:.125rem;">@mixin hover-text</b>
        <a href="#" style="text-decoration:underline;">Text</a>
      </div>
      <div class="token-item" style="z-index:1;">
        <b style="margin-bottom:.5rem;">@mixin hover-item</b>
        <div class="item is-hoverable" data-size="medium">
          <figure class="item-avatar" style="margin-bottom:0;">
          </figure>
          <span class="item-name">Item</span>
        </div>
      </div>
      <div class="token-item">
        <b style="margin-bottom:.125rem;">@mixin hover-button</b>
        <button class="chip" style="box-shadow:var(--state-hover);"><span class="chip-label">button & chip</span></button>
      </div>
    </div>

    <h4 class="article-subhead">Disabled state</h4>
    
    <div class="token-item" style="cursor:not-allowed;">
      <button class="button-primary" style="pointer-events:none;opacity:.5;">주문</button>
    </div>

    <h4 class="article-subhead">Active state using ripple</h4>
    <h4 class="article-subhead">Pressed state</h4> 
    <h4 class="article-subhead">Progressing state</h4>
  </article>

  <article class="article js-scrollspy-section">
    <h4 class="article-title">Feedbacks</h4>
    <p class="article-description">role=status</p>

    <!-- <p style="color:var(--red800);">safari에서 outline이 radius를 못 가져옴. box-shadow는 컨테이너의 padding이 없으면 잘림. + ::before {border:0;radius} 수도 선택자의 장점. 역할(상태)를 확실히 분리할 수 있다ㅏ.</p> -->
    <!-- <li>aria-haspopup vs aria-expanded</li> -->
    <!-- <li> uncheckable을 명확히 정의.</li> -->

    <p>toast / modal / refresh - redirect</p>

  <p>inline error / detour derror / blocking error</p> 

    <div class="token-group">
      <div class="token-item">
        <b>inline</b>
        
        <p>
          <span class="icon-indicator material-symbols-outlined"> error </span>
          <span hidden="">가입하지 않은 이메일이거나??</span>
          잘못된 비밀번호입니다.
        </p>
    
        <div>
          <p>인터넷연결오류: toast + callout</p>
        </div>
      </div>
    </div>

    <h4 class="article-subhead">Errors</h4>
    <div class="token-group">
      <div class="token-item">
        <b>globally</b>
        <div>
          <p>인터넷연결오류: toast + callout</p>
          <!-- <p>인터넷연결시도 이벤트 알아보기 => online / offline을 다시 요청?</p> -->
        </div>
      </div>
      <div class="token-item">
        <b>locally</b>
        <div><p>데이터패칭, 랜더링: result 컴포넌트</p></div>
      </div>
    </div>
  </article>
</main>
