<main class="pattern tokens">
  <article class="article js-scrollspy-section">
    <h1 class="article-title" title="visual cue">Signifier <span hidden>Interaction States (MD)</span></h1>
    <p class="article-description">사용자는 다음에 일어날 일을 예측할 수 있어야 합니다.</p>
    <!-- <p style="color:var(--red800);">safari에서 outline이 radius를 못 가져옴. box-shadow는 컨테이너의 padding이 없으면 잘림. + ::before {border:0;radius} 수도 선택자의 장점. 역할(상태)를 확실히 분리할 수 있다ㅏ.</p> -->

    <ul>
      <li>plus icon을 expandable로 사용하지 마세요.</li>
      <li>bold text를 clickable로 사용하지 마세요. (참고. 단락 더 보기로 다른 서비스에서 자주 사용됨)</li>
      <li>텍스트 강조를 위해 브랜드 컬러 텍스트를 사용하지 마세요.</li>
      <li>removable과 uncheckable의 구분.</li>
      <li>22.08. material icon으로 교체 예정...</li>
    </ul>

    <h4 class="article-subhead">References</h4>
    <ul>
      <li>
        <a href="https://developer.apple.com/design/human-interface-guidelines/components/layout-and-organization/disclosure-controls" target="_blank">disclosure-controls</a>
      </li>
      <li><a href="https://developer.apple.com/kr/design/tips/" target="_blank">UI 디자인 기본 원칙</a></li>
    </ul>

    <h4 class="article-subhead">Clickable? interactive element?</h4>
    <div class="token-group">
      <div class="tile-elevated token-item">
        <p>
          elevated 오브젝트는 클릭할 수 있다. 또는 오브젝트 내부에 클릭할 수 있는 요소가 존재한다.
        </p>
      </div>
      <div class="token-item" style="border:none;background:var(--color-background-weak);">
        <p>연한 회색의 오브젝트는 클릭할 수 있다.</p>
      </div>
      <div class="token-item">
        <em>브랜드 컬러 텍스트</em>는 클릭할 수 있다.</p>
      </div>
      <div class="token-item">
        <p>❤️ 아이콘(또는 이모지?)는 클릭할 수 있다. + 이미지</p>
      </div>
    </div>

    <h4 class="article-subhead">Icons</h4>
    <ul>
      <li>icon button과 icon button을 포함하는 컨테이너</li>
      <li>aria-haspopup vs aria-expanded</li>
    </ul>
    <div class="token-group">
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-arrow is-external"></i>
        </figure>
        <span>External Link</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-arrow" style="display:inline-block;"></i>
        </figure>
        <span>internal Link (ex: view all)</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-chevron" style="display:inline-block;"></i>
        </figure>
        <span>Expanable & Collapsible (vertical)</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-chevron is-down"></i>
        </figure>
        <span>Expanable & Collapsible (horizental)</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon"><i class="icon-search"></i></figure>
        <span>Searchable</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-caret" style="display:inline-block;"></i>
        </figure>
        <span>Popover</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-x" style="display:inline-block;"></i>
        </figure>
        <span>Removable</span>
      </div>
      <div class="token-item">
        <figure class="chip-icon">
          <i class="icon-plus" style="display:inline-block;"></i>
        </figure>
        <span>Addable</span>
      </div>
      <div class="token-item">
        <span class="textfield-check" style="margin-right:var(--space-2);position:relative;right:auto;top:auto;background:var(--green100);"
          ><i class="icon-check" style="border-color:var(--color-primary);"></i
        ></span>
        <span>Valid</span>
      </div>
      <div class="token-item">
        <span class="textfield-check" style="position:relative;right:auto;top:auto;background:var(--red100);"><i class="icon-x is-red"></i></span>
        <span>InValid</span>
      </div>
      <div class="token-item">
        <span>copy</span>
      </div>
      <div class="token-item">
        <span>refresh</span>
      </div>
      <div class="token-item">
        <span>logout</span>
      </div>
    </div>

    <h4 class="article-subhead">Hover state</h4>
    <div class="token-group">
      <div class="token-item">
        <b style="margin:0 0 .125rem;">@mixin hover-text</b>
        <a href="#" style="text-decoration:underline;">Text</a>
      </div>
      <div class="token-item" style="z-index:1;">
        <b style="margin:0 0 var(--space-2);">@mixin hover-item</b>
        <div class="item is-hoverable" data-size="medium" title="sign out">
          <figure class="item-avatar" style="margin-bottom:0;">
            <i class="icon-out"><span class="icon-out-door"></span></i>
          </figure>
          <span class="item-name">Item</span>
        </div>
      </div>
      <div class="token-item">
        <b style="margin:0 0 .25rem;">@mixin hover-button</b>
        <button class="chip" style="box-shadow:var(--state-hover);"><span class="chip-label">button & chip</span></button>
      </div>
    </div>

    <h4 class="article-subhead">Disabled state</h4>
    <!-- <p class="article-description">clickable이 아닌 모든 것이 non-clickable이지만 명시적인 클릭 불가.</p> -->
    <div class="tile-flat" style="opacity:.5;cursor:not-allowed;">
      <p>opacity 50%</p>
      <p>cursor not-allowed</p>
      <p>removed elevated style</p>
      <p><button class="button-primary">주문</button></p>
    </div>

    <h4 class="article-subhead">Pressed / Progressing(or Loading) state</h4>

    <h4 class="article-subhead">Feedbacks</h4>
    <p>inline / toast / modal / refresh</p>

    <h4 class="article-subhead">Error</h4>
    <p>global. 인터넷연결오류: toast + callout</p>
    <p>local(section). 데이터패칭, 랜더링: result 컴포넌트</p>
  </article>
</main>
