<aside class="modal" role="dialog">
	<div class="modal-dim"></div>
	<article class="modal-dialog">
		<header class="modal-head">
			<button class="modal-close js-modal-close"><i class="icon-close"></i><span class="off-screen">닫기</span></button>
			<h1 class="modal-head-title">스터디움 프로모션 웹사이트</h1>
		</header>
		<section class="modal-body">
			<p class="modal-body-description">가맹점주 모집을 위한 홍보용 원페이지 사이트. 로고를 모티브로 각 섹션의 타이틀 영역을 구성하고 로고의 쉼표를 그래픽 요소를 활용했다. 일반 독서실과 차별화되는 프리미엄 독서실이라는 이미지를 강조하기 위해 어두운 색, 셰리프 폰트를 바탕으로 고급스러운 분위기를 환기했다. 신사업에 가맹점주 확보가 주목적이기 떄문에 사이트에서 보여지는 컨텐츠가 부족했는데, 원페이지 사이트로 페이지 전환 시 애니메이션을 활용하여 보완했다.</p>
			<figure class="modal-body-image">
				<img src="/public/images/work-studium.jpg" alt="" />
			</figure>
		</section>
	</article>
</aside>