<main class="component" style="margin:4rem var(--grid-margin);">
  <form class="subscribe" style="max-width:var(--layout-width-small);">
    <h2 class="subscribe-title">수줍이 뉴스레터</h2>
    <p class="subscribe-description">섭스크라이브 유아이 콤포넌트 입니다. <br />두 줄 단락을 위해 쓰고 있습니다.</p>
    <div class="subscribe-field textfield">
      <label for="" class="textfield-label">이메일 주소</label>
      <input class="textfield-input" type="text" placeholder="Enter Your Email.." />
    </div>
    <div class="subscribe-field textfield" style="margin:var(--space-4) 0;">
      <label for="" class="textfield-label">닉네임</label>
      <input class="textfield-input" type="text" placeholder="뭐라고 불러 드릴까요?" />
    </div>
    <p class="subscribe-helperr">
      샘플 텍스트. 걱정하지 마세요. 스팸은 없습니다! 귀하의 정보는 web.dev 및 Chrome 관련 업데이트에만 사용되며 당사에서 보내는 이메일은 일반적으로 한
      달에 1-2회를 넘지 않습니다. 언제든지 구독을 취소할 수 있습니다.
    </p>
    <div class="checkbox" style="margin:var(--space-4) 0;">
      <input class="checkbox-input" type="checkbox" />
      <label for="" class="checkbox-label"
        >본인은 Google의 <a href="" rel="noopener" target="_blank">이용 약관</a>에 동의하며 본인의 정보가 Google의
        <a href="" rel="noopener" target="_blank">개인정보보호 정책</a>에 따라 이용된다는 것을 인정합니다.</label
      >
    </div>

    <button class="subscribe-submit" type="submit">뉴스레터 구독</button>
  </form>
</main>
