<main class="notifications js-tab" style="padding-top:0;">
  <style>
    .navbar,
    .navbar-backdrop {
      display: none;
    }
  </style>

  <header class="titlebar js-titlebar" role="navigation" style="padding-left:0;padding-right:0;">
    <div class="titlebar-background"></div>
    <!-- <h1 class="titlebar-title js-page-title" title="page title">페이지 타이틀</h1> -->
    <button class="titlebar-back" onclick="javascript:window.location.href='/';">
      <figure class="titlebar-back-icon" title="이전 페이지로"><i class="icon-arrow is-left"></i></figure>
      <!-- <figure class="titlebar-back-icon"><i class="icon-close"></i></figure> -->
      <!-- <span class="titlebar-back-label">뒤로</span> -->
    </button>
    <!-- <button class="titlebar-action" style="color:var(--color-primary);">
      <figure class="titlebar-action-icon" hidden></figure>
      <span class="titlebar-action-label">공유</span>
    </button> -->
  </header>
  <!-- <div class="titlebar-backdrop js-header"></div> -->
  <nav class="follow-tablist" role="tablist" aria-label="sample tabs">
    <!-- <button class="profile-tablist-tab" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">All</button> -->
    <button class="profile-tablist-tab" role="tab" aria-selected="true" aria-controls="panel-2" id="tab-2" tabindex="-1">팔로워</button>
    <button class="profile-tablist-tab" role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">팔로잉</button>
    <i class="profile-tablist-indicator"></i>
  </nav>
  <div class="item" role="listitem" data-size="large" style="position: relative;">
    <figure class="item-avatar"></figure>
    <h2 class="item-name">Gyeongsoo I</h2>
    <span class="item-description">유튜브 구독자</span>
    <button class="item-action is-active" style="right:0;top:50%;transform:translateY(-50%);font-weight:var(--font-weight-normal);">
      <span class="item-action-label">팔로잉</span>
    </button>
  </div>
  <div class="item" role="listitem" data-size="large" style="position: relative;">
    <figure class="item-avatar"></figure>
    <h2 class="item-name">Gyeongsoo I</h2>
    <span class="item-description">유아이 디자이너</span>
    <button class="item-action is-active" style="right:0;top:50%;transform:translateY(-50%);font-weight:var(--font-weight-normal);">
      <span class="item-action-label">팔로잉</span>
    </button>
  </div>

  <footer style="margin:var(--space) 0 0 0;">
    <button class="link-outer">
      <span class="">더 보기</span>
    </button>
  </footer>
</main>
