<main class="tokens">
  <section class="tokens-body">
    <article class="article js-scrollspy-section">
      <h1 class="article-title">Texts 🔥</h1>
      <p class="article-description">텍스트.</p>

      <p>1줄 최소 24px</p>

      <h4 class="article-subhead">용어의 정의</h4>
      <p>제목</p>
      <p>본문</p>

      <h4 class="article-subhead">용법?</h4>
      <p>섹션은 항상 제목을 갖는다. 시각적으로 숨겨지지 않은 명시적인 텍스트 노드. 따라서 제목을 포함하는 유틸성 섹션 컴포넌트를 만들 수 있다.</p>
      <p>블로그, 뉴스 기사 등 긴 글의 텍스트 콘텐츠는 기본값(root element의)보다 크다.</p>
      <p>텍스트는 주변의 엘리먼트에 강하게 영향을 받는다. 주변 요소에 맞는 간격 변수.</p>

      <h4 class="article-subhead">텍스트의 강조</h4>
      <div style="display:flex;">
        <dl style="flex:auto;">
          <dt style="width:100%;">
            <span class="icon-button is-positive" data-size="small">
              <span class="material-symbols-outlined">circle</span>
            </span>
          </dt>
          <dd style="width:100%;">tag</dd>
          <dd style="width:100%;">light color</dd>
        </dl>
        <dl style="flex:auto;">
          <dt style="width:100%;">
            <span class="icon-button is-negative" data-size="small"><span class="material-symbols-outlined">close</span></span>
          </dt>
          <dd style="width:100%;">primary color</dd>
          <dd style="width:100%;">bold</dd>
          <dd style="width:100%;">underline</dd>
        </dl>
      </div>
    </article>
  </section>
</main>
