<main class="component">
  <section class="hero" role="banner">
    <!-- <div class="hero-background"></div> -->
    <!-- <span class="hero-eyebrow">Components</span> -->
    <h1 class="hero-title">Texts</h1>
    <p class="hero-description">작성 중.</p>
  </section>

  <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Bullet</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">List</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Statistic</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Summary</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Suggestion? Prices? Currency?</span></a>
    </div>
  </nav>

  <section class="component-body">
    <article class="article js-observer">
      <h1 class="article-title">Bullet</h1>
      <p class="article-description">작성 중.</p>
      <ul>
        <li>불릿, 콤마, 콜론, 슬래시, 따옴표, 괄호 등 지양. 정보의 복잡도가 증가하고 디자인하지 않았다는 인상.</li>
        <li>클립보드에 복사를 위해 드래그 했을 때 불릿은 선택되지 않아야 합니다.</li>
      </ul>
    </article>

    <article class="article js-observer">
      <h1 class="article-title">List</h1>
      <p class="article-description">테스트.</p>
    </article>

    <article class="article js-observer">
      <h1 class="article-title">Statistic</h1>
      <p class="article-description">테스트.</p>

      <ul>
        <li>todo medium/small</li>
        <li>todo countup</li>
        <li>todo clickable</li>
      </ul>

      <br />

      <div class="statistic">
        <div class="statistic-item">
          <i class="statistic-label">팔로워</i>
          <span class="statistic-value">21,682</span>
        </div>
        <div class="statistic-item">
          <i class="statistic-label">Repository</i>
          <span class="statistic-value">100만 이상</span>
        </div>
        <div class="statistic-item">
          <i class="statistic-label">Size</i>
          <span class="statistic-value">Small</span>
        </div>
      </div>
    </article>

    <article class="article js-observer">
      <h1 class="article-title">Summary</h1>
      <p class="article-description">커머스 도매인의 주문서(checkout) 요약 컴포넌트.</p>

      <section class="summary tile-flat">
        <div class="summary-item">
          <div class="summary-item-label">상품 금액</div>
          <div class="summary-item-value">₩ 160,000</div>
        </div>
        <div class="summary-item">
          <div class="summary-item-label">서비스 수수료</div>
          <div class="summary-item-value">₩ 3,000</div>
        </div>
        <div class="summary-total">
          <div class="summary-total-label">총 합계 (KRW)</div>
          <div class="summary-total-value">₩ 163,000</div>
        </div>
      </section>
    </article>

    <article class="article js-observer">
      <h1 class="article-title">Suggestion</h1>
      <p class="article-description">샘플.</p>

      <div class="product-info-price tile-flat" role="suggestion">
        <del class="product-info-price-deletion" role="deletion">₩ 30,000</del>
        <b class="product-info-price-insertion" role="insertion">₩ 20,000</b>
        <em class="product-info-price-percentage">(30%)</em>
      </div>
      <aside class="article-helper" style="margin:var(--space-small) 0 0 0;">
        <p>role=suggestion/deletion/insertion]</p>
      </aside>

      <br />

      <ul>
        <li>formattedCurrency() 함수로 금액을 표시하세요.</li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Texts</h1>

      <!-- checklist(price card 등에서 사용) 정의. -->
      <!-- <ul>
        <li>리스트 태그(ul, ol, dl)는 텍스트 형태의 목록에만 마크업하세요. role=listbox/listitem</li>
        <li>리스트는 2 댑스로 제공하지 않습니다.</li>
        <li>3가지 이상의 대비로 위계를 설정하지 않습니다.</li>
      </ul> -->

      <div class="article-section">
        <h4 class="article-subhead">List</h4>
        <div class=" tile-flat-small" style="padding-left:var(--space);">
          <ul>
            <!-- <li title="unordered list, level 1">순서가 없는 리스트
              <ul>
                <li title="unordered list, level 2">순서가 없는 리스트</li>
              </ul>
            </li> -->
            <li>순서가 없는 리스트</li>
            <li>순서가 없는 리스트</li>
          </ul>
          <!-- <ol style="margin:var(--space-small) 0 0 0;">
            <li>순서가 있는 리스트
              <ol>
                <li>순서가 있는 리스트</li>
              </ol>
            </li>
            <li>순서가 있는 리스트</li>
          </ol> -->
        </div>
        <div class="tile-flat-small" style="padding-left:var(--space);">
          <ul data-align="horizontal">
            <!-- <li title="unordered list, level 1">순서가 없는 리스트
              <ul>
                <li title="unordered list, level 2">순서가 없는 리스트</li>
              </ul>
            </li> -->
            <li>순서가 없는 리스트</li>
            <li>순서가 없는 리스트</li>
            <li>순서가 없는 리스트</li>
          </ul>
        </div>
      </div>

      <h6 class="article-subhead">Metadata (description list)</h6>
      <section class="kb tile-flat" style="margin-top:0;">
        <table>
          <tbody>
            <tr style="border:0;">
              <th>레이블</th>
              <td>값</td>
            </tr>
            <tr style="border:0;">
              <th>레이블</th>
              <td>값</td>
            </tr>
          </tbody>
        </table>
      </section>

      <!-- <p style="font-size:var(--font-size-caption);">아이콘을 레이블없이 단독으로 사용하지 않습니다. todo 참고 링크(아이콘은 클릭할 수 있음을 나타내는 역할)</p> -->
    </article>
  </section>
</main>
