<main class="component">
  <section class="hero" role="banner">
    <div class="hero-background"></div>
    <span class="hero-eyebrow">UI Components</span>
    <h1 class="hero-title">Texts</h1>
    <p class="hero-description">텍스트 형태의 시각 정보.</p>

    <ul>
      <li>foundations에 텍스트 강조를 포함하기.</li>
    </ul>
    <!-- <p>strong 태그는 의미론적 강조. mark, u, em, b, strong. 문장 안에서 텍스트를 두 가지 방법으로 강조할 수 있습니다. <mark>이렇게</mark>와 <u>이렇게</u></p> -->
  </section>

  <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Feature Item</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Bullet</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">List</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Statistic</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Summary</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Suggestion</span></a>
    </div>
  </nav>

  <section class="component-body">
    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Feature Item</h1>
      <p class="article-description"></p>
      <h6 class="article-subhead">Best practices</h6>

      <div class="feature-item tile-elevated" style="max-width:400px;">
        <span class="feature-item-avatar" role="img">💃</span>
        <h3 class="feature-item-title">무료로 숙소 등록하기</h3>
        <p class="feature-item-description">남는 방 하나부터 별장까지, 다양한 형태의 공간을 무료로 등록하고 공유하세요.</p>
        <a class="feature-item-link" href="#">숙소 등록</a>
      </div>

      <ul>
        <li><b>head. title. description.</b></li>
        <li><b>avatar.</b></li>
        <li><b>title.</b></li>
        <li><b>description.</b></li>
        <li><b>link.</b></li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Bullet</h1>
      <p class="article-description">작성 중.</p>
      <h6 class="article-subhead">Best practices</h6>
      <ul>
        <li>불릿, 콤마, 콜론, 슬래시, 따옴표, 괄호 등을 사용하는 맥락에서 bullet 컴포넌트를 사용합니다.</li>
        <li>클립보드 복사를 위해 텍스트 더미를 드래그앤드롭으로 선택할 때에 불릿은 선택되지 않아야 합니다.</li>
      </ul>

      <h4 class="article-subhead">Related components</h4>
      <a href="">Breadcrumb</a>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">List</h1>
      <p class="article-description">작성 중. 용어를 통일 (리스트 vs 목록).</p>

      <div class="tile-flat">
        <ul>
          <li>순서가 없는 리스트</li>
          <li>순서가 없는 리스트</li>
        </ul>
        <ol style="margin:var(--space-3) 0;">
          <li>순서가 있는 리스트</li>
          <li>순서가 있는 리스트</li>
        </ol>
        <ul data-align="horizontal">
          <li title="unordered list, level 1">순서가 없는 리스트</li>
          <li style="margin:0 2rem 0 1rem;">가로로 정렬할 수 있어요</li>
          <li>조건이 있어요</li>
        </ul>
        <table style="margin:var(--space-3) 0;">
          <tbody>
            <tr style="border:0;">
              <th>레이블</th>
              <td>값</td>
            </tr>
            <tr style="border:0;">
              <th>레이블</th>
              <td>값</td>
            </tr>
          </tbody>
        </table>
        <dl>
          <dt>Metadata</dt>
          <dd>description list</dd>
          <dt>Metadata</dt>
          <dd>description list</dd>
        </dl>
      </div>

      <!-- checklist(price card 등에서 사용) 정의. -->
      <h4 class="article-subhead">Best practices</h4>
      <ul>
        <li>텍스트 목록에 한정하여 리스트 태그(ul, ol, dl)로 마크업하세요. role=listbox/listitem</li>
        <li>목록은 2 댑스로 제공하지 마세요. 작은 화면에서 들여쓰기로 인한 공간 낭비.</li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Statistic</h1>
      <p class="article-description">테스트.</p>

      <div class="statistic">
        <div class="statistic-item">
          <i class="statistic-label">팔로워</i>
          <span class="statistic-value">21,682</span>
        </div>
        <div class="statistic-item">
          <i class="statistic-label">Repository</i>
          <span class="statistic-value">100만 이상</span>
        </div>
        <div class="statistic-item">
          <i class="statistic-label">Size</i>
          <span class="statistic-value">Small</span>
        </div>
      </div>

      <h6 class="article-subhead">Best practices</h6>
      <ul>
        <li>todo medium/small</li>
        <li>todo countup</li>
        <li>todo clickable</li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Summary</h1>
      <p class="article-description">커머스 도매인의 주문서(checkout) 요약 컴포넌트.</p>

      <section class="summary tile-flat">
        <div class="summary-item">
          <div class="summary-item-label">상품 금액</div>
          <div class="summary-item-value">₩ 160,000</div>
        </div>
        <div class="summary-item">
          <div class="summary-item-label">서비스 수수료</div>
          <div class="summary-item-value">₩ 3,000</div>
        </div>
        <div class="summary-total">
          <div class="summary-total-label">총 합계 (KRW)</div>
          <div class="summary-total-value">₩ 163,000</div>
        </div>
      </section>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <h1 class="article-title">Suggestion</h1>
      <p class="article-description">샘플.</p>

      <div class="product-info-price tile-flat" role="suggestion">
        <del class="product-info-price-deletion" role="deletion">₩ 30,000</del>
        <b class="product-info-price-insertion" role="insertion">₩ 20,000</b>
        <em class="product-info-price-percentage">(30%)</em>
      </div>
      <aside class="article-helper" style="margin:var(--space-2) 0 0 0;">
        <p>role=suggestion/deletion/insertion]</p>
      </aside>

      <h6 class="article-subhead">Best practices</h6>
      <ul>
        <li>formattedCurrency()</li>
      </ul>
    </article>
  </section>
</main>
