<main class="token">
  <section class="hero">
    <!-- <figure class="tokens-hero-image">
      <span class="tokens-hero-image-item">🐽</span>
      <span class="tokens-hero-image-item">🐷</span>
      <span class="tokens-hero-image-item">🐖</span>
    </figure> -->
    <!-- <span class="hero-eyebrow">🐽 Design Tokens</span> -->
    <!-- <h1 class="hero-title" style="line-height:1.3;margin-top:.25rem;"><span style="color:var(--color-text-light);">Design Tokens</span><br />simply dummy text of the printing<br />and typesetting industry.</h1> -->
    <h1 class="hero-title">Design Tokens</h1>
    <!-- <p class="hero-description">공통의 시각 언어를 정의하고,<br />일관된 시각적 경험을 제공합니다.</p> -->
    <p class="hero-description">디스크립션...</p>
    <!-- <p>의사 결정 시간 최소화</p> -->
<!-- 
    <h3 style="margin:0 0 var(--space) 0;">Naming Conventions</h3>
    <div class="tile-flat-small" style="margin:var(--space) 0;">
      <p>--[componentName]-[role]-[?state]</p>
    </div>
    <ul style="margin-left:1rem;list-style:disc;">
      <li>접두어를 쓰는 이유. 라이브러리를 사용할 때 변수의 충돌 방지.</li>
      <li>컴포넌트 스코프의 토큰. 을 글로벌로 정의할 필요가 있을까?</li>
      <li>값을 직접적으로 이름에 포함하지 마세요. 추상화를 통한 장점의 유실.</li>
    </ul>

    <ul class="article-checklist">
      <li>중요도: Primary, Secondary, Tertiary,</li>
      <li>강도: none, low, normal, medium, high,max</li>
      <li>강도: Weak, Moderate, Strong, Extreme</li>
      <li>속도: instant, immediate, quick / fast, moderate, slow,deliberate</li>
    </ul> -->
    <!-- <div class="temp8" style="display:flex;margin-top:2.25rem;">
      <div>
        <figure>🎨</figure>
        <span>Palette</span>
      </div>
      <div>
        <figure style="background:cadetblue;">📰</figure>
        <span>Palette</span>
      </div>
      <div>
    </div> -->
  </section>

  <nav class="component-navigation">
    <div class="component-navigation-background"></div>
    <div class="component-navigation-scroll">
      <a class="chip is-active js-scrollspy-trigger" href="#"><span class="chip-label">Palette</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Sizing</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Typography</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Layouts</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Spacing</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">z-index</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Animation</span></a>
      <a class="chip js-scrollspy-trigger" href="#"><span class="chip-label">Signifier</span></a>
    </div>
  </nav>

  <!-- <section style="font-size:1.5rem;letter-spacing:-.025rem;">
    <p style="padding:1rem 5%;border-bottom:var(--border);">테스트</p>
  </section> -->

  <section class="tokens-body">
    <!-- <article class="article tile-flat" style="margin:4rem auto;">
      <h1 class="article-title">Naming Conventions</h1>
      <p class="article-description"><span class="tag">--sds</span> prefix로 다른 라이브러리와 충돌을 방지합니다.</p>
      <p>component tokens은 컴포넌트 스코프</p>
      <p><span class="tag">--sds-{attributeName}-{}</span></p>
      <p>attributeName = size / space / radius / color / zindex / </p>
      <p>이름을 정하는 데 너무 많은 시간을 쓰지 않도록. </p>
    </article> -->

    <article class="article js-scrollspy-section">
      <h1 class="article-title">Palette</h1>
      <!-- <p class="article-description">컬러(background/border/text/state)와 표면surface(shadow/radius)을 정의합니다.</p> -->
      <!-- system: error / success / warning / info -->
      <h4 class="article-subhead">Guidelines</h4>
      <ul class="article-checklist">
        <li><i class="icon-check"></i>다크테마를 위한 인버트 컬러셋을 추가로 정의하지 않습니다.</li>
      </ul>

      <button class="user-logout js-darkmode2" title="change theme" style="background:var(--color-background);border-radius:var(--radius);box-shadow:var(--shadow);padding:.5rem;border:var(--border);">
        <figure class="user-logout-icon"><i class="icon-moon"></i></figure>
        <span class="user-logout-label">어둡게 보기</span>
        <span class="switch" style="margin-left:auto;">
          <input type="checkbox" id="temp55" name="" role="switch" />
          <label for="temp55" style="padding-left:48px;"></label>
        </span>
      </button>

      <h4 class="article-subhead">Radius</h4>
      <article class="token-item is-gray000">
        <figure class="token-item-avatar" style="border-left-color: var(--gray800);
        border-top-color:var(--gray800);
        border-left-width: 2px;
        border-top-width: 2px;
        /* border-bottom: 0; */
        /* border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; */
        "></figure>
        <b>--radius: 4px</b>
      </article>
      <aside class="article-helper">
        <p>크기와 비례해서 radius 조절이 필요하지만 경량화.</p>
      </aside>

      <h4 class="article-subhead">Grayscales</h4>
      <article class="token-item is-gray000">
        <figure class="token-item-avatar"></figure>
        <b>--gray0: #fff</b>
        <div>
          <p>--color-background</p>
          <!-- <p>--color-text: var(--gray800)</p> -->
        </div>
      </article>
      <!-- <aside class="article-helper">
        <p>다크 테마와 페어링 관련. 항상 검정색을 쓰는 예외 케이스.</p>
      </aside> -->

      <article class="token-item is-gray100">
        <figure class="token-item-avatar"></figure>
        <b>--gray100: #f1f4f1</b>
        <div>
          <p>--color-background-weak</p>
          <!-- <p>--button-background-color</p> -->
          <!-- <p>--button-border-color</p> -->
          <!-- <p>--textfield-background-color</p> -->
        </div>
      </article>
      <article class="token-item is-gray200">
        <figure class="token-item-avatar"></figure>
        <b>--gray200: #e0e2e1</b>
        <div>
          <p>--color-border</p>
          <!-- <p>--color-hover-background: var(--gray200)</p> -->
        </div>
      </article>
      <article class="token-item is-gray400">
        <figure class="token-item-avatar"></figure>
        <b>--gray400: #979d9a</b>
        <div>
          <p>--color-text-light</p>
          <!-- <p>--color-text-disabled</p> -->
          <!-- <p>--textfield-background-color-disabled</p> -->
        </div>
      </article>
      <article class="token-item is-gray800">
        <figure class="token-item-avatar"></figure>
        <b>--gray800: #343c38</b>
        <div>
          <p>--color-text</p>
          <p>--color-backgound-strong</p>
        </div>
      </article>

      <h4 class="article-subhead">Colored</h4>
      <article class="token-item is-primary100">
        <figure class="token-item-avatar"></figure>
        <b>--green100: rgba(10, 160, 80, 0.1)</b>
        <div>
          <strong>--color-primary-light</strong>
          <p>--color-background-primary-light</p>
          <p>--color-background-active</p>
        </div>
      </article>
      <article class="token-item is-primary200">
        <figure class="token-item-avatar"></figure>
        <b>--green800: #1b995c</b>
        <div>
          <strong>--color-primary</strong>
          <p>--color-background-primary</p>
          <p>--color-border-active</p>
          <!-- <p>--button-text-color-active</p>
          <p>--button-border-color-active</p>
          <p>--button-primary-background-color</p>
          <p>--link-text-color</p> -->
        </div>
      </article>
      <article class="token-item is-red800">
        <figure class="token-item-avatar" style="background:rgba(243, 68, 97, .06)"></figure>
        <b>--red100: rgba(243, 68, 97, .06)</b>
      </article>
      <article class="token-item is-red800">
        <figure class="token-item-avatar"></figure>
        <b>--red800: #f02849</b>
        <!-- <p>양식 유효성 unvalid 텍스트, 취소/삭제 부정 액션</p> -->
        <div>
          <strong>--color-danger: var(--red800)</strong>
          <!-- <p>--textfield-helper-color: var(--color-danger)</p> -->
        </div>
      </article>
      <article class="token-item">
        <figure class="token-item-avatar" style="background:gold"></figure>
        <b>--yellow800: gold</b>
        <div>
          <strong>--color-accent: var(--yellow800)</strong>
        </div>
      </article>

      <!-- <h4 class="article-subhead" title="Surface or Elevation">Gradient</h4>
        <article class="token-item is-elevation">
          <figure class="size-"></figure>
          <b>--color-gradient:var(--gradient);</b>
          <div>
            <p>--darktheme-color-gradient: null;</p>
          </div>
        </article>-->

      <h4 class="article-subhead" title="Surface or Elevation">Elevation</h4>
      <article class="token-item is-elevation">
        <figure class="token-item-avatar"></figure>
        <b>--shadow: 0 0 .5rem rgb(0 0 0 / 7.5%)</b>
        <div>
          <p>--shadow-tooltip</p>
          <p>--shadow-card</p>
          <p>--shadow-dropdown</p>
        </div>
      </article>

      <!-- <br />
      <h4 class="article-subhead">Skeleton</h4>
      <article class="token-item">
        <figure class="token-item-avatar size-huge color-skeleton"></figure>
        <b>skeleton</b>
        <div>
        </div>
      </article> -->
    </article>

    <article class="article js-scrollspy-section">
      <h1 class="article-title">Sizing</h1>
      <!-- <p class="article-description">엘리먼트의 너비와 높이를 정의합니다.</p> -->
      <!-- <ul class="article-checklist">
        <li><i class="icon-check"></i>간격.</li>
        <li><i class="icon-check"></i>너비는 반응형으로 유동적</li>
      </ul> -->
      <code style="padding:1rem;">
        <small>// 정의한 토큰과 같은 값이라도 독립적으로 사용하는 것이 좋은 케이스. (todo 근거)</small>
        <p><del>--navbar-height: var(--size-huge)</del></p>
        <p>--navbar-height: 4rem</p>
        <p>--titlebar-height: 4rem</p>
      </code>
      <div class="tokens">
        <div class="token-item">
          <!-- <figure class="token-item-avatar"></figure> -->
          <figure class="token-item-avatar size-huge"></figure>
          <b>--size-huge: 5rem</b>
          <div>
            <p>--avatar-huge</p>
          </div>
          <!-- <div class="token-item-tags" role="group">
            <span class="token-item-tag">avatar</span>
          </div> -->
        </div>
        <div class="token-item">
          <figure class="token-item-avatar size-large"></figure>
          <b>--size-large: 3rem</b>
          <div>
            <p>--avatar-large</p>
            <p>--button-height</p>
            <p>--textfield-height</p>
          </div>
        </div>
        <div class="token-item">
          <figure class="token-item-avatar size-medium"></figure>
          <b>--size-medium: 2rem</b>
          <div>
            <p>--avatar-medium</p>
            <p>--chip-height</p>
          </div>
        </div>
        <div class="token-item">
          <figure class="token-item-avatar size-small"></figure>
          <b>--size-small: 1.5rem</b>
          <div>
            <p>--avatar-small</p>
            <p>--tag-height</p>
            <p>--textfield-indicator-height</p>
          </div>
          <!-- <div class="token-item-tags" role="group">
            <span class="token-item-tag">button or indicator in textfield</span>
          </div> -->
        </div>
        <div class="token-item">
          <figure class="token-item-avatar size-tiny"></figure>
          <b>--size-tiny: 1rem</b>
          <div>
            <p>--avatar-tiny</p>
            <p>--checkbox-height</p>
            <p>--radio-height</p>
            <p>--switch-height</p>
          </div>
        </div>
      </div>
    </article>
  

    <!-- 
    <article class="article js-scrollspy-section">
      <h1 class="article-title">Breakpoints (Media queries)</h1>
      <p class="article-description">최소 pc, mobile device 2개. 모든 페이지의 컨테이너 모듈이 동일할 필요는 없습니다. calc(width-large + alpha)로 정의하는 것이 좋을꽈</p>
      <p>서비스가 출시 환경이 웹온리(웹/태블릿+모바일) vs 웹+모바일앱(웹+태블릿/모바일)</p>
      <dl>
        <dt>tiny</dt><dd>필수. 760 이하 / %퍼센티지</dd>
        <dt>medium</dt><dd>필수. 1080px 이하</dd>
        <dt>large</dt><dd>선택. > 1380 이하</dd>
      </dl>
      <hr />
      <code>
        <p>--width-container-tiny: 320px;</p>
        <p>--width-container-small: 480px;</p>
        <p>--width-container-medium: 640px;</p>
        <p>--width-container-medium2: 1024px;</p>
        <p>--width-container-large: 1180px;</p>
        <hr />
      </code>
    </article> -->


    <article class="article typography js-scrollspy-section">
      <h1 class="article-title">Typography</h1>
      <!-- <p class="article-description">텍스트 계층 구조를 정의합니다.</p> -->
      <ul class="article-checklist">
        <li><i class="icon-check"></i>단어나 구문을 underline, bold, primary color로 강조하지 않습니다.</li>
        <!-- <li><i class="icon-check"></i>불릿, 괄호, 쉼표 등으로 텍스트를 분류 않습니다. 디자인하지 않았다는 인상.</li> -->
        <!-- <li><i class="icon-check"></i>태그라인은 작은 화면에서도 임팩트를 줄 있도록 작성 단계에서 행갈이(개행?)를 고려합니다. 상대적으로 깨기 쉬운 법칙입니다. (todo: 글자 및 단어를 제한하고 개행 조건 정의)</li> -->
        <li><i class="icon-check"></i>bottom navigation의 label은 예외적으로 10px입니다.</li>
      </ul>
      <br />
      <button class="user-logout tile-elevated-small js-default-font" title="change theme">
        <span class="user-logout-label">시스템 폰트로 보기</span>
      </button>

      <h4 class="article-subhead">Typefaces<span hidden>Font Family</span></h4>
      <div class="design-typograph-group" style="margin-bottom:var(--space-small);">
        <div class="design-typograph-item">
          <span style="display:block;margin-top:var(--space-leading-subhead);color:var(--color-text-light);">한글</span>
          <b style="display:block;font-size:var(--font-size-subhead);line-height:1.5;font-weight:var(--font-weight-bold);">아리타 산스</b>
        </div>
        <div class="design-typograph-item">
          <span style="display:block;margin-top:var(--space-leading-subhead);color:var(--color-text-light);">영문</span>
          <b style="display:block;font-size:var(--font-size-subhead);line-height:1.5;font-weight:var(--font-weight-bold);">Asap</b style="display:block;font-size:var(--font-size-subhead);margin-top:.5rem;">
          <!-- <div class="tag-group" role="group" style="margin-top:var(--space-after-subhead);">
            <span class="token-item-tag">normal</span>
            <span class="token-item-tag">bold</span>
          </div> -->
        </div>
      </div>
      <div class="token-item">
        <p><b style="margin:0;">--fontstack: 'Asap', 'AritaSans', san-serif</b></p s>
      </div>
      <div class="token-item">
        <p><b>--font-weight-normal: 400</b></p>
        <p><b style="margin:0;">--font-weight-bold: 800</b></p>
      </div>
      <div class="token-item">
        <p><b>--font-line-height: 1.8</b></p>
        <p><b style="margin:0;">--font-line-height-small: 1.4</b></p>
      </div>

      <!-- <h4 class="article-subhead">Levels</h4>
      <p>long-form content는 항상 2줄에서 truncate.</p>
      <div class="token-item">
        <p><b>heading levels</b></p>
        <p>display/title - subhead - label</p>
        <br />

        <p><b>body levels</b></p>
        <p>작성 중.</p>
        <br />
        <p>@mixin truncate {}</p>
        <p>@mixin truncate-multiple {}</p>
      </div> -->

      <h4 class="article-subhead">Font Sizes</h4>
      <div class="tokens typography-group">
        <div class="token-item">
          <!-- <figure class="token-item-avatar"></figure> -->
          <!-- <figure class="token-item-avatar" style="float:none;justify-content:flex-start;width:100%;height:auto;margin:0 0 var(--space-small) 0;padding:var(--space-small) var(--space);line-height:1;">
            <span style="font-size:3rem;">선약이 있어서</span>
          </figure> -->
          <b>--font-size-huge: 3rem</b>
          <div>
            <p>@mixin text-display {}</p>
          </div>
        </div>
        <aside class="article-helper">
          <p>프로모션 페이지의 헤드라인으로 제한적으로 사용합니다.</p>
        </aside>
  
        <div class="token-item">
          <b>--font-size-large: 2rem</b>
          <div>
            <p>@mixin text-title</p>
          </div>
        </div>

        <div class="token-item">
          <b>--font-size-medium: 1.125rem</b>
          <div>
            <p>@mixin text-subhead {}</p>
            <p>@mixin text-body-large {}</p>
            <!-- <p>@mixin text-term-body {@include text-body-large}</p> -->
          </div>
          <!-- <span class="token-item-tag">body - kicker/overline</span> -->
        </div>

        <div class="token-item">
          <b>--font-size-small: .875rem</b>
          <div>
            <p>@mixin text-body {}</p>
          </div>
        </div>

        <div class="token-item">
          <b>--font-size-tiny: .75rem</b>
          <div>
            <p>@mixin text-lable {}</p>
            <p>@mixin text-helper {}</p>
            <p>@mixin text-helper-validity {}</p>
          </div>
        </div>
        <!-- <aside class="article-helper">
          <p>도움말 맥락에서 사용합니다.</p>
        </aside> -->
      </div>
    </article>


    <article class="article js-scrollspy-section">
      <h1 class="article-title">Layouts</h1>
      <!-- <p class="article-description">페이지 레벨과 섹션 레벨의 레이아웃을 정의합니다.</p> -->

      <h4 class="article-subhead">Guidelines</h4>
      <ul class="article-checklist">
        <li><i class="icon-check"></i>섹션, 아티클 그리고 모달, 드롭다운 등의 컴포넌트도 작은 화면에서는 페이지 맥락이 될 수 있음을 고려합니다.</li>
        <li><i class="icon-check"></i>모바일 퍼스트, 가로 스크롤 트랜드 기조로 12 column grid 등 엄격한 그리드 시스템을 정의하지 않습니다.</p>
        <li><i class="icon-check"></i>컨테이너는 최대 4개 칼럼을 가집니다.</p>
        <li><i class="icon-check"></i>리스트는 언제든 가로 스크롤로 변경할 수 있도록 설계합니다.</li>
        <li><i class="icon-check"></i>컨테이너 너비의 대비로 페이지의 맥락을 구분할 수 있습니다. 예를 들면 비밀번호찾기와 로그인/회원가입 페이지는 각각 다른 레이아웃 모듈을 사용합니다.</p>
        <li><i class="icon-check"></i>설정, 글쓰기, 소개 등 페이지에서 의도적으로 레이아웃 모듈이나 배경색에 대비를 줄 수 있습니다.</p>
      </ul>

      <h4 class="article-subhead">Media Queries</h4>
      <div class="token-item">
        <b>@custom-media --breakpoint-large (max-width:1200px)</b>
        <!-- <p style="color:var(--color-text-light);">일반적으로(? todo 모호한 writing) tablet보다 큰 폼 팩터 ex) desktop, tv</p> -->
        <div>
          <p>@media (--breakpoint-large) {}</p>
        </div>
      </div>
      <div class="token-item">
        <b>@custom-media --breakpoint-small (max-width:1000px)</b>
        <!-- <p style="margin-bottom:var(--space);color:var(--color-text-light);">tablet보다 작은 폼 팩터. ex) tablet, phone</p> -->
        <div>
          <p>@media (--breakpoint-small) {}</p>
        </div>
      </div>
      <div class="token-item">
        <del><b>--media-query-tiny: only screen and (max-width: 760px)</b></del>
      </div>

      <h4 class="article-subhead">Containers</h4>
      <!-- <p>full-width는 정의않고 grid-margin을 padding으로 씁니다.</p>
      <p>모든 container는 --breakpoint-small부터 max-width:100%을 갖는다.</p> -->
      <div class="token-item">
        <b>--container-huge: 1200px</b>
        <div>
          <p>--profile-container</p>
        </div>
      </div>
      <div class="token-item">
        <b>--container-large: 1000px</b>
        <div>
          <p>--forgot-container</p>
          <p>--post-container</p>
          <p>--terms-container</p>
        </div>
      </div>
      <div class="token-item">
        <b>--container-small: 640px</b>
        <div>
          <p>--login-container</p>
          <p>--signup-container</p>
        </div>
      </div>
      <div class="token-item">
        <b>--container-tiny: 400px</b>
        <div>
          <!-- <p>--dropdown-width: var(--container-tiny)</p> -->
          <p>--dialog-width</p>
          <!-- <p>--popover-width: var(--container-tiny)</p> -->
        </div>
      </div>
    </article>

    <article class="article js-scrollspy-section">
      <h1 class="article-title">Spacing</h1>
      <!-- <p class="article-description">엘리먼트 내부와 엘리먼트 간의 간격을 정의합니다.</p> -->

      <!-- <h4 class="article-subhead">Guidelines</h4>
      <ul class="article-checklist">
        <li><i class="icon-check"></i> 버튼 padding은 spacing으로 정의하지 않고 size로 정의합니다. 단, 버튼 레이블을 두 줄로 작성하지 않는다는 전제가 필요.</li>
      </ul> -->

      <!-- <blockquote>todo: space-inset 3가지로 확장. 코드에 반영.</blockquote> -->

      <h4 class="article-subhead">Primary</h4>
      <div class="token-item">
        <b>--space: 1rem</b>
        <div>
          <p>--space-after-subhead</p>
          <!-- <p>--space-after-description</p> -->
          <p>--space-inset</p>
          <p>--grid-gutter</p>
        </div>
      </div>

      <div class="token-item">
        <b>--space-small: .5rem</b>
        <div>
          <p>--space-inset-small</p>
        </div>
      </div>

      <div class="token-item">
        <b>--space-xsmall: .25rem</b>
        <div>
          <p>--space-after-tag</p>
        </div>
        <!-- Squish Inset/Stretch Inset --space-inset-squish, Stack margin -->
      </div>

      <h4 class="article-subhead">Secondary</h4>
      <div class="token-item">
        <div>
          <p>--space-between-article</p>
          <p>--space-between-section</p>
          <p style="color:var(--color-text-light);">inset, outset 구분이 필요.</p>
        </div>
      </div>

      <h4 class="article-subhead">grid</h4>
      <article class="token-item" style="display:flex;align-items:center;width:100%;height:10rem;text-align:center;font-size:var(--font-size-caption);padding:0;position:relative;">
        <div class="space" style="width:5%;writing-mode: vertical-rl"><span class="">var(--grid-margin)</span></div>
        <div style="display:flex;align-items:center;justify-content:center;width:calc(50% - 5% - .5rem);height:100%;">column<br />var(--grid-column)</div>
        <div class="space" style="width:1rem;writing-mode: vertical-rl"><span class="">var(--grid-gutter)</span></div>
        <div style="display:flex;align-items:center;justify-content:center;width:calc(50% - 5% - .5rem);height:100%;">colum<br />var(--grid-column)</div>
        <div class="space" style="width:5%;writing-mode: vertical-rl"><span class="">var(--grid-margin)</span></div>
      </article>

      <h4 class="article-subhead">Tile(article level)</h4>
      <article class="spacing-card">
        <div class="space" style="height:var(--space-tile-inset);position:absolute;left:0;right:0;top:-1px;"><span class="">var(--space-tile-inset)</span></div>
        <div class="space" style="height:var(--space-tile-inset);position:absolute;left:0;right:0;bottom:-1px;z-index:0;"><span class="">var(--space-tile-inset)</span></div>
        <div class="space" style="width:var(--space-tile-inset);height:100%;writing-mode:vertical-lr;position:absolute;left:0;top:0;bottom:0;z-index:0;"><span class="">var(--space-tile-inset)</span></div>
        <div class="space" style="width:var(--space-tile-inset);height:100%;writing-mode:vertical-lr;position:absolute;right:0;top:0;bottom:0;z-index:0;"><span class="">var(--space-tile-inset)</span></div>
       
        <h4 class="typography-subhead" style="font-size:var(--font-size-subhead);">선약이 있어서 ✋ <span style="display:block;">자아실현은 못할 것 같아요.</span></h4>
        <div class="space" style="height:var(--space-after-subhead);"><span class="">var(--space-after-subhead)</span></div>
        <p class="typography-paragraph">서브헤드와 디스크립션 혹은 패러그라프는 이렇게 작성하세요. 타이틀의 행간이 조정되었기 때문에 시각보정이 필요할 수도 있어요. line-height 조절이 필요할 수도 있습니다.</p>
        <div class="space" style="height:var(--space-after-description);"><span class="">var(--space-after-description)</span></div>
        <time class="typography-caption">10 January, 2020 (버튼 그룹이 올 수 있음)</time>
        <!-- <footer class="card-foot">
          <a href="#">Read More</a>
          <span class="token-item-tag">Category</span>
        </footer> -->
      </article>
    </article>

    <article class="article js-scrollspy-section">
      <h1 class="article-title">z-index</h1>
      <!-- <p class="article-description">작성 중.</p> -->

      <!-- <blockquote>
        <p>툴팁은 햄버거 메뉴에서 열릴 수 있다. 팝오버는 메뉴에서 열릴 수 있다. 모달은 메뉴보다 위에 있다. 토스트는 가장 위에 있다. 스티키 엘리먼트는 메뉴와 동일하지만 마이너스 마진이 필요할 수 있다.</p>
      </blockquote> -->

      <div class="token-item">
        <b style="margin:0;">--zindex-deepdive: -1</b>
      </div>
      <div class="token-item">
        <b style="margin:0;">--zindex-default: 1</b>
      </div>
      <div class="token-item">
        <b>--zindex-modal: 5</b>
        <div>
          <p>--zindex-modal-dim: 4</p>
        </div>
      </div>
      <div class="token-item">
        <b>--z-index-popover: 6</b>
        <div>
          <p>--zindex-dropdown: 6</p>
          <p>--zindex-tooltip: 6</p>
          <p>--zindex-drawer: 6</p>
        </div>
      </div>
      <div class="token-item">
        <b style="margin:0;">--zindex-sticky: 7</b>
      </div>
      <!-- <div class="token-item">
        <b style="margin:0;">--zindex-menu: 8</b>
      </div> -->
      <div class="token-item">
        <b style="margin:0;"b>--zindex-toast: 9</b>
      </div>
      <div class="token-item">
        <b style="margin:0;">--zindex-skipmenu: 10</b>
      </div>
    </article>

    <article class="article js-scrollspy-section">
      <h1 class="article-title">Animation</h1>
      <!-- <p class="article-description">inactive에는 항상 instantly.</p> -->
      <div class="token-item">
        <b style="margin:0;">--bazier-base: cubic-bezier(0.455, 0.03, 0.515, 0.955);</b>
      </div>
      <div class="token-item">
        <p>--transition-fade: null;</p>
      </div>
      <div class="token-item">
        <p>--duration: .4s</p>
        <p>--duration-instant: 0s;</p>
        <p>--duration-quick: .2s;</p>
        <p>--duration-slow: .8s;</p>
      </div>
    </article>


    <article class="article js-scrollspy-section">
      <h1 class="article-title">Signifier</h1>
      <p class="article-description">todo. fundations. 일관된 기표로 사용자의 인지를 돕습니다.</p>

      <ul class="article-checklist">
        <li><i class="icon-check"></i>'확장할 수 있음'으로 plus icon을 사용하지 마세요.</li>
        <li><i class="icon-check"></i>'클릭할 수 있음'으로 bold text를 사용하지 마세요.</li>
      </ul>

      <h4 class="article-subhead">Clickable</h4>
      <div class="tile-elevated token-item" style="cursor:pointer;">
        <p style="margin-top:var(--space-leading-subhead);">elevated 오브젝트는 대부분(?) 클릭할 수 있다. 또는 오브젝트 내부에 클릭할 수 있는 요소가 존재한다.</p>
      </div>
      <div class="token-item" style="display:block;background:var(--color-background-weak);border-radius:var(--radius);cursor:pointer;">
        <p>연한 회색의 오브젝트는 대부분 클릭할 수 있다.</p>
      </div>
      <div class="token-item" style="display:block;color:var(--color-primary);cursor:pointer;">
        <p><em>브랜드 컬러 텍스트</em>는 대부분 클릭할 수 있다.</p>
      </div>
      <div class="token-item" style="display:block;margin:var(--space-small) 0;cursor:pointer;">
        <p>❤️ 아이콘(이모지)는 대부분 클릭할 수 있다.</p>
      </div>

      <h4 class="article-subhead">non-clickable</h4>
      <div class="token-item" style="cursor:default;">
        <div>
          <span class="tag">읽기전용readonly</span>
          cursor default</div>
      </div>
      <div class="token-item" style="opacity:.5;cursor:not-allowed;">
        <div>
          <span class="tag">비활성disabled</span>
          opacity 50% / cursor not-allowed / flat style</div>
      </div>

      <h4 class="article-subhead">Icons</h4>
      <div class="token-item">
        <figure class="chip-thumbnail" style="margin:0 -.25rem 0 0;background:var(--color-background-weak);">
          <i class="icon-arrow is-external"></i>
        </figure>
        <span class="chip-label">External Link</span>
      </div>
      <div class="token-item">
        <figure class="chip-thumbnail" style="margin:0 -.25rem 0 0;background:var(--color-background-weak);">
          <i class="icon-arrow" style="display:inline-block;"></i>
        </figure>
        <span class="chip-label">internal Link (ex: view all)</span>
      </div>
      <div class="token-item">
        <figure class="chip-thumbnail" style="margin:0 -.25rem 0 0;background:var(--color-background-weak);">
          <i class="icon-chevron" style="display:inline-block;"></i>
        </figure>
        <span class="chip-label">Expanable & Collapsible (vertical)</span>
      </div>
      <div class="token-item">
        <figure class="chip-thumbnail" style="margin:0 -.25rem 0 0;background:var(--color-background-weak);"><i class="icon-chevron is-down"></i></figure>
        <span class="chip-label">Expanable & Collapsible (horizental)</span>
      </div>
      <div class="token-item">
        <figure class="chip-thumbnail" style="margin:0 -.25rem 0 0;background:var(--color-background-weak);">
          <i class="icon-caret" style="display:inline-block;"></i>
        </figure>
        <span class="chip-label">Popover</span>
      </div>
      <div class="token-item">
        <figure class="chip-thumbnail" style="margin:0 -.25rem 0 0;background:var(--color-background-weak);">
          <i class="icon-x" style="display:inline-block;"></i>
        </figure>
        <span class="chip-label">Removable</span>
      </div>
      <div class="token-item">
        <figure class="chip-thumbnail" style="margin:0 -.25rem 0 0;background:var(--color-background-weak);">
          <i class="icon-plus" style="display:inline-block;"></i>
        </figure>
        <span class="chip-label">Addable</span>
      </div>

      <!-- todo states -->
      <!-- <h4 class="article-subhead">hover</h4>
      <div class="token-item" style="margin:0 0 var(--space) 0;">
        <a href="#" style="text-decoration:underline;">Text Hover</a>
      </div>
      <button class="user-logout is-hover" title="sign out" style="margin:0;">
        <figure class="user-logout-icon">
          <i class="icon-out"><span class="icon-out-door"></span></i>
        </figure>
        <span class="user-logout-label">Item(or Card) Hover</span>
      </button> -->

      <h4 class="article-subhead">valid & invalid</h4>
      <div class="" role="group" style="display:flex;">
        <span class="textfield-check" style="margin-right:var(--space-small);position:relative;right:auto;top:auto;background:var(--green100);"><i class="icon-check" style="border-color:var(--color-primary);"></i></span>
        <span class="textfield-check" style="position:relative;right:auto;top:auto;background:var(--red100);"><i class="icon-x is-red"></i></span>
      </div>
      <!-- <code class="article-description" style="padding:1rem;">
        <p>@mixin hover-text {}</p>
        <p>@mixin hover-item {}</p>
        <hr />
        <p>--active-text-color: null;</p>
        <p>--active-border-color: null;</p>
        <p>--active-background-color: null;</p>
        <p>--disabled-opacity: .5;</p>
        <p>--warning-text-color: null;</p>
        <p>--warning-background-color: null;</p>
        <p>--warning-border-color: null;</p>
      </code> -->
    </article>
  </section>


</main>

<!-- https://www.wedesignx.com/knowledge/design-system -->
<!-- https://medium.com/eightshapes-llc/size-in-design-systems-64f234aec519 -->

<!-- 
<section>
  <p>seleect,  role="listbox" aria-orientation="vertical" ul/li role="option"</p>
  <p>role="group" 목록 컨텍스트에서는 자식이 role="listitem" / figure role="group"</p>
</section> -->