<main style="max-width:460px;margin:0 auto;padding:2rem var(--grid-margin);overflow:hidden;">
  <style>
    .subhead {
      margin: 0 0 var(--space-3) 0;
    }
  </style>

  <section>
    <h2 class="subhead">자산</h2>
    <div class="item" data-size="large" role="listitem">
      <figure class="item-avatar"></figure>
      <span class="item-description">내지갑통장</span>
      <h2 class="item-name" style="font-weight:var(--font-weight-bold);font-size:var(--font-size-subhead);">0 원</h2>
      <button class="item-action"><span class="item-action-label">송금</span></button>
    </div>
    <div class="item" data-size="large" role="listitem">
      <figure class="item-avatar"></figure>
      <span class="item-description">딴주머니</span>
      <h2 class="item-name" style="font-weight:var(--font-weight-bold);font-size:var(--font-size-subhead);">0 원</h2>
      <button class="item-action"><span class="item-action-label">송금</span></button>
    </div>
  </section>
</main>
