<aside class="modal" role="dialog">
  <article class="modal-dialog">
    <header class="modal-head">
      <button class="modal-close js-modal-close"><i class="icon-x"></i><span hidden>닫기</span></button>
      <h1 class="modal-head-title">이도타입 울프woolf</h1>
    </header>
    <section class="modal-body">
      <ul class="modal-body-paragraph">
        <li>
          재사용성을 고려한 UI 컴포넌트를 작성하여 페이지 개발 또는 새로운 feature를 개발하는 데 드는 시간을 단축하였습니다. 하지만 UI 개발을 넘어 더
          넓은 범위의 프론트엔드 개발에 참여하지 못한 부분이 아쉽습니다. nextjs, graphQL 등 새로운 기술 스텍에 익숙해져야 했기 때문에 (?) 풀타임
          개발자로서는 새로운 기술이나 기반 지식을 이해하는 데 많은 시간과 노력이 필요해보입니다.
        </li>
        <li>
          프로젝트 진행 상황의 개괄, 일정의 예측 가능성을 위해 스프린트를 제안하였습니다. 일련의 과정들이 즐겁기도 하였으나 우선순위를 엄격하게
          정의하고 일정을 맞추지 못한 부분들이 많이 아쉽습니다. task를 잘게 쪼개어 백로그에 쌓고 팀원들이 진행 상황을 확인할 수 있게 되어 좋았습니다.
        </li>
        <li>
          정책, flow, ux에 대해 고민하고 피드백 하였습니다. 여전히 아쉬운 부분들이 남아 있지만 전반적인 완성도를 높이는 데에 조금이나마 기여하였다면
          만족할 것 같습니다.
        </li>
      </ul>
    </section>
  </article>
</aside>
