
main {
  --item-width: 20%;
}


/* // todo page-padding / header-padding. minus */
.token-group {
  /* display:flex;flex-wrap:wrap;margin:calc(var(--space-3) / 2 * -1); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-3);
  margin: var(--space-3) 0 4rem;
}
.token-item {
  padding: var(--space-3);
  border: var(--border);
  border-radius: var(--radius);
  background: var(--color-background);
}
.token-item mm-group {
  display: none !important;
}
.token-item figure {
  width:var(--size-medium);
  height:var(--size-medium);
  background: var(--color-background-strong);
  margin:0 0 var(--space-1) 0;
  border-radius:var(--radius);
}
/* .token-item-avatar {@mixin avatar-large;width:100%;} */
.token-item b {
  display:block;
  font-family: var(--font-family-monospace);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
}
.token-item div {margin:var(--space-1) 0 0 0;position:relative;}
.token-item div p {}

.is-primary100 figure {background:var(--green100);}
.is-primary200 figure {background:var(--color-primary);}
.is-gradient figure {background-color:none;background-image:linear-gradient(106deg,var(--red800),var(--color-primary));}
.is-elevation figure {background:none;box-shadow:var(--shadow);}

.animation-rotation {animation:rotation 1s var(--bazier) infinite;}
.animation-fadeup {animation:fadeup 1s var(--bazier) infinite;}
.animation-marquee {animation:marquee 4s var(--bazier) infinite;}
.delay-second {animation-delay:var(--animation-delay-second);}
.delay-third {animation-delay:var(--animation-delay-third);}

.token-item .color-group {display:flex;flex-wrap:wrap;justify-content:space-between;}
/* .token-item .color-item {@mixin tile-flat-small;width:100%;} */
.token-item .color-item + .color-item {margin:var(--space-2) 0 0 0;}

@media (max-width: 1200px) {
  main {
    --item-width: 33.3333%;
  }
  .token-group {  grid-template-columns: repeat(2, 1fr);}
}

/* @media (--small) { */
@media (max-width: 800px) {
  .token-group {display:block;margin:0;}
  .token-item {max-width:100%;margin:var(--space-3) 0;}
}