<main class="page js-tab">
  <mm-title-with-description
    title="Tabs"
    description="페이지 내에서 같은 맥락으로 분류된 콘텐츠 뷰를 전환합니다."
  ></mm-title-with-description>

  <section class="component-example">
    <!-- <mm-tablist variant="primary">
      <mm-tab slot="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">
        첫번째 탭
      </mm-tab>
      <mm-tab slot="tab" aria-controls="panel-2" id="tab-2" tabindex="-1">두번째 탭</mm-tab>
      <i slot="indicator" class="tablist-indicator"></i>
    </mm-tablist> -->
    <mm-tablist>
      <mm-tab slot="tab">소개</mm-tab>
      <mm-tab slot="tab">갤러리</mm-tab>
      <mm-tab slot="tab">문의하기</mm-tab>
      <i slot="indicator" class="tablist-indicator"></i>

      <div slot="panel">
        <h1>서비스 소개</h1>
        <p>여기는 <strong>풍부한 HTML</strong> 컨텐츠가 들어갈 수 있습니다.</p>
      </div>

      <div slot="panel">
        <img src="gallery.jpg" alt="이미지도 가능" />
        <my-custom-component></my-custom-component>
      </div>

      <div slot="panel">
        <form>
          <input type="text" placeholder="이름을 입력하세요" />
          <button>전송</button>
        </form>
      </div>
    </mm-tablist>

    <div
      class="tabpanel"
      id="panel-2"
      role="tabpanel"
      tabindex="0"
      aria-labelledby="tab-2"
      aria-hidden="true"
    >
      <p>Content for the second panel</p>
    </div>
  </section>

  <section class="component-props">
    <!-- <mm-text variant="subhead">Props</mm-text> -->
    <dl>
      <dt>tablist</dt>
      <dd><del>OptionType[]</del>TabType[]</dd>
      <dt>tabPanel</dt>
      <dd>React.Node</dd>
      <!-- <dt>indicator (active bar)</dt> -->
    </dl>
  </section>

  <section class="component-guide">
    <section class="feature columns-2">
      <mm-feature
        icon="cursor-pointer"
        titleText="Interactive - content switching"
        subtitle="Easy scanning"
        description="페이지 링크, 콘텐츠 정렬, 콘텐츠 필터 또는 탭투스크롤로 사용하지 마세요."
      >
      </mm-feature>
      <mm-feature
        icon="task-list"
        titleText="Easy scanning"
        subtitle="Easy scanning"
        description="최대 2단어를 넘지 않도록 작성하고 두 줄이 되지 않도록 작성합니다. (그러나 폴더블과 워치 이후 말 줄임표나 두 줄 레이블을 허용해야 하는가)"
      >
      </mm-feature>
    </section>
    <mm-text>
      Make sure the controls within a pane affect content only in the same pane. Panes are mutually
      exclusive, so ensure they’re fully self-contained. Use a segmented control to provide closely
      related choices that affect an object, state, or view. For example, a segmented control can
      help people switch between views in a toolbar. Avoid using a segmented control to offer
      actions, such as adding, removing, or editing content.
    </mm-text>

    <mm-text-list
      texts='[
          "SearchParams과 브라우저 히스토리를 활용할 것인가? (?tab=projects) / url변경 ",
          "글로벌 네비게이션 패턴인 햄버거 메뉴와 탭(바텀네비게이션, 탭바)을 함께 사용할 수 있는가?",
          "탭의 가로 스크롤(+ MDI). 탭의 최대 갯수 제한.",
          "탭의 중첩. 페이지에서 수행하는 과업 중심 플로우 설계. 중첩을 허용한다면 탭의 중첩 패턴을 정의해야 함. Material 3의 primary tabs / secondary tabs 분류 등 참고. 또는 네이버 쇼핑의 4단계 5단계 탭.",
          "flutter. Scaffold - AppBar - bottom: TabBar - tabs - Tab / Scaffold - body - TabBarView"
        ]'
    >
    </mm-text-list>
  </section>

  <section class="component-references">
    <mm-text variant="subhead" hidden>References</mm-text>
    <a href="https://developer.apple.com/documentation/swiftui/navigationstack">
      swiftui navigationstack
    </a>
    <a
      href="https://developer.apple.com/design/human-interface-guidelines/tab-views"
      target="_blank"
    >
      HIG tab views
    </a>
    <a
      href="https://developer.apple.com/design/human-interface-guidelines/components/selection-and-input/segmented-controls/"
      target="_blank"
    >
      HIG Segmented controls
    </a>
    <a href="https://material.io/components/tabs" target="_blank">MD Tabs</a>
  </section>

  <!-- <section class="component-guide">
  </section> -->
</main>
