<main class="page js-tab">
  <mm-text variant="title">Tab</mm-text>
  <mm-text variant="body-large">같은 맥락의 콘텐츠를 주제별로 분류합니다.</mm-text>

  <!-- <mm-tablist>
      <mm-tab slot="tab" selected="true" aria-controls="panel-1" id="tab-1" tabindex="0"> Monthly </mm-tab>
      <mm-tab slot="tab" aria-controls="panel-2" id="tab-2" tabindex="-1">Yearly</mm-tab>
    </mm-tablist> -->

  <section class="component-example">
    <!-- TODO Primary style -->
    <!-- <mm-tablist variant="primary">
        <mm-tab slot="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">
          첫번째 탭
          <mm-badge>24</mm-badge>
        </mm-tab>
        <mm-tab slot="tab" aria-controls="panel-2" id="tab-2" tabindex="-1">두번째 탭</mm-tab>
        <mm-tab slot="tab" aria-controls="panel-3" id="tab-3" tabindex="-1">세번째 탭</mm-tab>
        <i slot="indicator" class="tablist-indicator"></i>
      </mm-tablist> -->
    <!-- data-tabs='{"name": "Chris Coyier", "job": "Web Person"}' -->
    <div style="display: flex; gap: 1rem">
      <mm-text variant="title">첫번째 탭</mm-text>
      <mm-text variant="title" style="opacity: 0.5">두번째 탭</mm-text>
      <mm-text variant="title" style="opacity: 0.5">세번째 탭</mm-text>
    </div>
    <mm-separator></mm-separator>
    <mm-tablist>
      <mm-tab slot="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">
        첫번째 탭
        <!-- <mm-badge slot="badge">24</mm-badge> -->
      </mm-tab>
      <mm-tab slot="tab" aria-controls="panel-2" id="tab-2" tabindex="-1"> 두번째 탭 </mm-tab>
      <mm-tab slot="tab" aria-controls="panel-3" id="tab-3" tabindex="-1"> 세번째 탭 </mm-tab>
      <i slot="indicator" class="tablist-indicator"></i>
    </mm-tablist>
    <div
      class="tabpanel"
      id="panel-1"
      role="tabpanel"
      tabindex="0"
      aria-labelledby="tab-1"
      style="margin: 1rem 0 0"
    >
      <p>Content for the first panel.</p>
    </div>
    <div
      class="tabpanel"
      id="panel-2"
      role="tabpanel"
      tabindex="0"
      aria-labelledby="tab-2"
      aria-hidden="true"
      style="margin: 0.5rem 0 0"
    >
      <p>Content for the second panel</p>
    </div>
    <div
      class="tabpanel"
      id="panel-3"
      role="tabpanel"
      tabindex="0"
      aria-labelledby="tab-3"
      aria-hidden="true"
      style="margin: 1rem 0 0"
    >
      <p>Content for the third panel</p>
    </div>
    <mm-separator></mm-separator>
    <div style="max-width: 200px">
      <mm-tablist>
        <mm-tab slot="tab" selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">
          Monthly
        </mm-tab>
        <mm-tab slot="tab" aria-controls="panel-2" id="tab-2" tabindex="-1">Yearly</mm-tab>
      </mm-tablist>
    </div>
  </section>

  <section class="component-props">
    <!-- <mm-text variant="subhead">Props</mm-text> -->
    <dl>
      <dt>tablist</dt>
      <dd><del>OptionType[]</del>TabType[]</dd>
      <dd></dd>
      <dt>tabPanel</dt>
      <dd>React.Node</dd>
      <dd></dd>
      <!-- <dt>indicator (active bar)</dt> -->
      <dt>counterBadge slot</dt>
      <dd>Number</dd>
      <dd></dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text variant="subhead">Behavior - Content switching</mm-text>
    <mm-text variant="body">
      콘텐츠 정렬 또는 콘텐츠 필터로 사용하지 마세요. 구조적으로 콘텐츠 필터의 맥락인 탭투스크롤로는
      사용할 수 없습니다.
    </mm-text>
    <mm-text variant="body">
      <del>페이지 링크로 사용하지 마세요.</del> SPA에서 페이지 링크의 개념이 모호하지만 탭을 클릭
      후의 뷰에서 탭 바는 유지되어야 합니다.
    </mm-text>
    <mm-text variant="body">
      Make sure the controls within a pane affect content only in the same pane. Panes are mutually
      exclusive, so ensure they’re fully self-contained.
    </mm-text>
    <mm-text variant="body">
      탭을 중첩하지 마세요. 페이지에서 수행할 수 있는 과업을 명확히. 플로우 설계.
    </mm-text>
    <mm-text variant="subhead">Editorial - Easy Scanning</mm-text>
    <mm-text variant="body">
      레이블은 최대 2단어. 페이지의 사이에 사용하지 않기. tile(paper) 내부에서는 허용됨
    </mm-text>
    <mm-text variant="body">
      레이블이 두 줄이 되면 안 됨. 말줄임표도 안 됨. 탭의 최대 갯수를 제한하거나 가로 스크롤 규칙을
      정의. 갯수를 제한하면 스크롤이 불필요.
    </mm-text>

    <mm-text variant="subhead">A11y</mm-text>
    <mm-text variant="body">키보드 접근성. 방향키 </mm-text>

    <mm-text variant="subhead">Notes</mm-text>
    <ul>
      <li>브라우저 히스토리 (?tab=projects). SearchParams</li>
      <li>Material 3에서 primary tabs / secondary tabs</li>
      <li>
        글로벌 네비게이션 패턴인 햄버거 메뉴와 탭(바텀네비게이션, 탭바)을 함께 사용할 수 있는가?
      </li>
    </ul>
  </section>

  <!--  segmented control -->
  <!-- Use a segmented control to provide closely related choices that affect an object, state, or view. For example, a segmented control can help people
    switch between views in a toolbar. Avoid using a segmented control to offer actions, such as adding, removing, or editing content. -->

  <div class="component-references">
    <mm-text variant="subhead">References</mm-text>
    <a
      href="https://developer.apple.com/design/human-interface-guidelines/components/layout-and-organization/tab-views"
      target="_blank"
    >
      HIG tab views
    </a>
    <a
      href="https://developer.apple.com/design/human-interface-guidelines/components/selection-and-input/segmented-controls/"
    >
      HIG Segmented controls
    </a>
    <a href="https://material.io/components/tabs">MD Tabs</a>
  </div>
</main>
