/* link with icon */
.link {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  text-decoration:underline;
  text-decoration-skip-ink:auto;
  line-height: inherit;
  color: var(--color-primary);
}

.link[data-variant=secondary] {
  font-size: var(--font-size-small);
  color: var(--color-text-light);
  text-decoration: none;
}