@mixin reset-button {
  padding:0;
  border:none;
  background:none;
  font:inherit;
  cursor:pointer;
  > * {
    pointer-events:none;
  }
  // button:not(:active),
  // button:not(:focus) {outline:0;}
  // button:active {outline:0;animation:ripple2 0.2s linear forwards;}
}

button {@include reset-button;}
button[aria-pressed=true] {}
button[aria-current] {}
button[aria-current=page] {}
// btn.setAttribute('aria-pressed', false);


@mixin button {
  display: inline-block;
  min-width:104px;
  padding:$padding200;
  box-sizing:border-box;
  border-radius:$radius400;
  text-align:center;
  cursor:pointer;
  position:relative;
  @content;
  &:disabled {cursor:not-allowed;}
  &.is-submitting {
    opacity: .75;
  }
}
@mixin button-primary {
  @include button {
    background:$color-primary;
    border:1px solid $color-primary;
    color:var(--gray0);
  }
  &:hover,
  &:focus {border-color:darken($color-primary, 2%);background:darken($color-primary, 2%);}
  &:active {}
  &:disabled {background:var(--gray600);border-color:var(--gray600);color:var(--gray200);}
}
@mixin button-secondary {
  @include button;
  border:1px solid $color-primary;background:transparent;color:$color-primary;
  &:hover, 
  &:focus {border-color:darken($color-primary, 5%);color:darken($color-primary, 5%);}
  &:active {}
  &:disabled {background:transparent;border-color:var(--gray200);color:var(--gray200);}
}
@mixin button-tertiary {
  @include button;
  border:1px solid var(--gray100);background:var(--gray100);color:var(--gray600);
  &:hover,
  &:focus {}
  &:active {}
  &:disabled {color:var(--gray400);}
}
@mixin button-text {
  @include button;
  background:none;border:1px solid transparent;color:$color-primary;
  &:hover,
  &:focus {border-color:var(--gray100);background:var(--gray100);}
  &:active {}
  &:disabled {color:var(--gray200);cursor:not-allowed;}
}

// backButton closeButton :: back close 아이콘은 어차피 단독으로 쓰이지 않는다!

.danger-button {@include button;background:$color-negative;border:1px solid $color-negative;color:var(--gray0);}
.success-button {@include button;background:$color-positive;border:1px solid $color-positive;color:var(--gray0);}


[role=group] {display:flex;margin:-.25rem;}
[role=group] > * {margin:.25rem;}
[role=group] input[type=radio] + label {margin:0 16px 0 0;color:var(--gray400);padding-left:0;}
[role=group] input[type=radio] + label:before {content:'';display:inline-block;width:2px;height:2px;background:var(--gray400);margin:0 10px 0 0;vertical-align:3px;position:static;left:auto;top:auto;}
[role=group] input[type=radio] + label:after {display:none;}
[role=group] input[type=radio]:checked + label {color:var(--gray800)}
[role=group] input[type=radio]:checked + label:before {border-color:var(--gray800);width:10px;height:4px;border-left: 2px solid #f3f2f1;border-bottom: 2px solid #f3f2f1;background:none;margin:0 8px 0 0;border-color:var(--gray400);vertical-align:3px;transform:rotate(-45deg);border-radius:0;border-right:0;border-top:0;position:static;left:auto;top:auto;}

// .button-group {display:flex;justify-content:space-between;width:100%;padding:.5rem 0;border-radius:4px;overflow:hidden;}
// .button-group button {margin:0 !important;border-radius:0;}// flex:1 1 auto;}
// .button-group button.is-active {background-color:$color-primary;color:var(--gray0);}
// .button-group button:first-child {border-top-left-radius:$radius400;border-bottom-left-radius:$radius400;}
// .button-group button:last-child {border-top-right-radius:$radius400;border-bottom-right-radius:$radius400;}