@mixin reset-button {
  padding:0;border:none;background:none;font:inherit;color:inherit;cursor:pointer;
  > * {pointer-events:none;} // for 이벤트 캡쳐
}

button {@include reset-button;}

@mixin button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--size-large);
  min-width: 6rem;
  padding: 0 var(--space-4);
  padding-top: 1px; // for quaannnn font
  border-radius: var(--radius);
  box-sizing:border-box;
  text-align: center;
  font-weight: var(--font-weight-bold);
  position: relative;
  @content;
  &:hover:not(:disabled), &.is-hover:not(:disabled) {
    // box-shadow: inset 0px 0px 2px rgba(0,0,0,.4);
    box-shadow: var(--state-hover);
  }
  &:focus, &.is-focus {
    outline: 0;
    box-shadow: var(--state-focus); // hover override
  }
  &:active {}
  &:visited {}
  &:disabled {opacity:.5;cursor:not-allowed;}
}

// ! role=button => spacebar X
// button:not(:active),
// button:not(:focus) {outline:0;}
// button:active {outline:0;animation:ripple2 0.2s linear forwards;}
// button:before {content:'';display:block;width:8px;height:8px;background:rgba(0,0,0,.2);position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);opacity:0;}
// button:active:before {width:100%;height:100%;animation:ripple .6s;}

// &[aria-pressed=true] {}
// &[aria-pressed=false] {}
// &[aria-current] {}
// &[aria-current=page] {}
// &.is-submitting {opacity: .75;}
// &:hover:not(:disabled), &.is-hover:not(:disabled) {// border-color:darken($green800, 2.5%);background:darken($green800, 2.5%);}
@mixin button-primary {
  @include button {
    background: var(--color-primary);
    border:1px solid var(--color-primary);
    color: #fff; // 다크테마와 동일한 스타일
  }
}
@mixin button-secondary {
  @include button {
    border:1px solid transparent;
    background:var(--green100);color:var(--color-primary);
  }
  }
@mixin button-tertiary {
  @include button {
    border: 1px solid var(--color-background-weak);
    background:var(--color-background-weak);
    color:var(--color-text);
  }
}
@mixin button-text {
  @include button {
    border:1px solid transparent;color:var(--color-primary);
  }
}

.button-primary {@include button-primary;}
.button-secondary {@include button-secondary;}
.button-tertiary {@include button-tertiary;}
.button-text {@include button-text;}

@mixin icon-button {@include avatar-medium;}
@mixin icon-button-small {
  @include avatar-small;
  
  // span {font-size:20px;}
}
@mixin icon-indicator {@include icon-button-small;margin:0 0 0 var(--space-2);}

.icon-button[data-size=medium] {@include icon-button;}
.icon-button[data-size=small] {@include icon-button-small;}
.icon-button.is-positive {background:var(--green100);color:var(--green800);}
.icon-button.is-negative {background:var(--red100);color:var(--red800);}

.icon-indicator {@include icon-indicator;}

// ! backButton closeButton :: back close 아이콘은 어차피 단독으로 쓰이지 않는다!
// ! 모바일에서 100%로 되는 컴포넌트가 있고 아닌 컴포넌트가 있다.
.button-elevated {@include tile-elevated-small;margin:var(--space-3) 0;display:flex;align-items:center;width:100%;}
.button-elevated:hover {@include hover-item;}
.button-elevated-avatar {@include avatar-medium;margin:0 var(--space-after-avatar-medium) 0 0;}
.button-elevated-label {padding:0 0 var(--adjust-label-line) 0;line-height:var(--size-medium);}
.button-elevated-helper {@include icon-button-small;margin-left:auto;}

.danger-button {@include button;background:var(--red800);border:1px solid var(--red800);color:var(--gray0);}