@mixin reset-button {
  padding:0;
  border:none;
  background:none;
  font:inherit;
  color: inherit;
  cursor: pointer;
  > * {
    pointer-events:none;
  }
  // ! role=button => spacebar X
  // img {
  //   display: inline-block;
  //   vertical-align: middle;
  //   margin-right: .5rem;
  // }
  // button:not(:active),
  // button:not(:focus) {outline:0;}
  // button:active {outline:0;animation:ripple2 0.2s linear forwards;}
  // button:before {content:'';display:block;width:8px;height:8px;background:rgba(0,0,0,.2);position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);opacity:0;}
  // button:active:before {width:100%;height:100%;animation:ripple .6s;}
}

button {@include reset-button;}

@mixin button {
  display: inline-block;
  min-width: 6rem;
  height: var(--size-large);
  padding: 9px 1rem; // btn pad
  box-sizing:border-box;
  border-radius: var(--radius400);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  @content;
  &:hover:not(:disabled), &.is-hover:not(:disabled) {
    // box-shadow: inset 0px 0px 2px rgba(0,0,0,.4);
    // box-shadow: 0 0 2px var(--gray400);
    border: 1px solid var(--gray800);
  }
  &:focus, &.is-focus {
    outline:0;
    box-shadow:0 0 0 2px var(--gray800);
    // box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3)
  }
  &:active {}
  &:visited {}
  &:disabled {opacity:.5;cursor:not-allowed;}

  &[aria-pressed=true] {}
  &[aria-pressed=false] {}
  &[aria-current] {}
  &[aria-current=page] {}
  // &.is-submitting {opacity: .75;}
}

@mixin button-primary {
  @include button {
    background: var(--color-primary);
    border:1px solid var(--color-primary);
    color: #fff; // 다크테마와 동일한 스타일
  }
  &:hover:not(:disabled), &.is-hover:not(:disabled) {
    // box-shadow: inset 0 0 2px rgba(27, 153, 92, 0.8);
    box-shadow: inset 0px 0px 2px rgba(0,0,0,.4);
    // border-color:darken($green800, 2.5%);background:darken($green800, 2.5%);
  }
  &:focus {}
  &:active {}
  &:disabled {}
}
@mixin button-secondary {
  @include button;
  border:1px solid transparent;
  background:var(--green100);color:var(--color-primary);
  &:hover:not(:disabled), &.is-hover:not(:disabled) {
    // border-color:darken($green100, 2%);background:darken($green100, 2%);color:darken($green800, 5%);
  }
  &:focus:not(:disabled) {}
  &:active {}
  &:disabled {}
}
@mixin button-tertiary {
  @include button;
  border:1px solid var(--color-box-border);background:var(--gray100);color:var(--gray800);
  &:hover:not(:disabled), &.is-hover:not(:disabled) {
    // border-color:var(--gray200);background:var(--gray200);
  }
  &:focus:not(:disabled) 
  &:active {}
  &:disabled {}
}
@mixin button-text {
  @include button;
  border:1px solid transparent;color:var(--color-primary);
  &:hover:not(:disabled), &.is-hover:not(:disabled) {
    // border-color:var(--gray100);background:var(--gray100);
  }
  &:focus:not(:disabled) {}
  &:active {}
  &:disabled {}
}

@mixin button-small {
  min-width: auto;
  height:var(--size-medium);padding:3px 1rem;font-size:var(--font-size-caption);
}

// ! backButton closeButton :: back close 아이콘은 어차피 단독으로 쓰이지 않는다!

// ! 모바일에서 100%로 되는 컴포넌트가 있고 아닌 컴포넌트가 있다.

.danger-button {@include button;background:var(--red800);border:1px solid var(--red800);color:var(--gray0);}

.group-sample {display:flex;justify-content:space-between;}
.group-sample-prev {@include button-tertiary;}
.group-sample-next {@include button-primary;}
.group-sample-cancel {@include button-text;}
.group-sample-next i {margin-left:1.5rem;background:var(--gray0);}


.button-heading {}
.button-tailing {@include avatar-small;display:inline-flex;}