@import 'button';
@import 'checkbox';
@import 'quantity';
@import 'textfield';
@import 'switch';

// todo 사파리에서 버튼 클릭 효과 제가
// :valid / :invalid
// 년도 월 일 순서로 포커싱 됨
// breadcrumb 등 상하 잘림
// 사파리의 인풋은 기본이 검정임. 그래서 텍스트도 흰색.

// button.visually-hidden:focus,
// input[type=submit].visually-hidden:focus {
//   position: fixed;
//   top: 10px;
//   left: 10px;
//   clip: unset;
//   width: unset;
//   height: unset;
//   border: 3px solid;
//   padding: 5px;
//   background: var(--gray0);
// }

// .focus-outline {
//   outline-width: 1px;
//   outline-style: auto;
//   outline-color: Highlight;
//   outline-color: -webkit-focus-ring-color;
// }


select {-webkit-appearance:none;padding-right:1.5rem;} // for appearance on safari
select::-ms-expand {display:none;}

textarea {}
textarea:focus {-webkit-appearance:none;} // on safari

input::-ms-clear {display:none;}

input[type=text] {-webkit-appearance:none;} // for inner shadow on safari

// 5보다 큰 값을 선택하세요 min / firefox
input[type=number] {-webkit-appearance:none;-moz-appearance:textfield;}  // for inner shadow on safari, // 파이어폭스에서 토글 없애긔
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;-moz-appearance:none;}

input[type=date] {-webkit-appearance:none;} // for appearance on safari
input[type=date] {display:block;max-height:48px;}  // 패딩으로 설정한 세로값 크롬에서(only?) 다른 텍스트 필드와 달라짐. iOS displayblock
input[type=date]::-webkit-calendar-picker-indicator {width:100%;opacity:0;position:absolute;left:0;bottom:0;}
input[type=date]::-webkit-inner-spin-button {display:none;}

input[type=password] {-webkit-appearance:none;letter-spacing:.5rem;}
input[type=password]::placeholder {letter-spacing:0;}

input[type=search] {-webkit-appearance:none;} // for corner rounded on sarafri
// input[type=search]::-webkit-search-cancel-button {display:none;}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {display:none;}


// input {
//   font-family: inherit;
// }



// rem 으로 모듈화하기 어렵다. ex 1.5rem => top:0.125rem
// line-heght로 리셋스타일에 종속되지 않도록 함. + block
// height 테이블 내에서 세로 정렬에 필요
// nextjs + css module에서 type selector 이슈 .checkbox-input / .checkbox-label
.checkbox,.radio {display:block;position:relative;}
input[type=checkbox] {width:0;height:0;opacity:0;position:absolute;} // outline:auto;
input[type=checkbox] + label {display:flex;align-items:center;height:var(--size-medium);padding-left:calc(var(--size-tiny) + .75rem);position:relative;}
input[type=checkbox] + label:before {content:'';display:block;width:var(--size-tiny);height:var(--size-tiny);border-radius:var(--radius);border:var(--border);box-sizing:border-box;position:absolute;left:0;}
input[type=checkbox] + label:after {content:'';display:none;width:8px;height:2px;border-left:2px solid;border-bottom:2px solid;border-color:var(--gray200);position:absolute;left:3px;top:40%;transform:rotate(-45deg);}
// input[type=checkbox]:focus + label {outline:2px solid #000;} // todo 

input[type=checkbox]:checked + label:before {border-color:var(--color-primary);animation:ripple2 0.2s linear forwards;}
input[type=checkbox]:checked + label:after {display:block;border-color:var(--color-primary);}
input[type=checkbox]:disabled + label {color:var(--gray200);cursor:not-allowed;}
input[type=checkbox]:disabled + label:before {background:var(--gray200);border-color:var(--gray200);}
input[type=checkbox]:disabled + label:after {border-color:var(--gray0);}
input[type=checkbox][indeterminate=true] + label:before,
input[type=checkbox][data-indeterminate=true] + label:before {border-color:var(--green800);background:var(--green100);}
input[type=checkbox][indeterminate=true] + label:after,
input[type=checkbox][data-indeterminate=true] + label:after {display:block;background:var(--color-primary);border:none;left:4px;top:48%;transform:rotate(0deg);}

input[type=radio] {width:0;height:0;opacity:0;position:absolute;}
input[type=radio] + label {display:flex;align-items:center;height:var(--size-medium);padding-left:calc(var(--size-tiny) + .75rem);position:relative;}
input[type=radio] + label:before {content:'';display:block;width:var(--size-tiny);height:var(--size-tiny);border-radius:50%;border:var(--border);box-sizing:border-box;position:absolute;left:0;}
input[type=radio] + label:after {content:'';width:6px;height:6px;border-radius:50%;background:var(--gray200);position:absolute;left:5px;transition:all 0.2s;transform:scale(0);}
input[type=radio]:checked + label:before {border-color:var(--color-primary);animation:ripple2 0.2s linear forwards;}
input[type=radio]:checked + label:after {display:block;background:var(--color-primary);transform:scale(1);}
input[type=radio]:disabled + label {color:var(--gray200);cursor:not-allowed;}
input[type=radio]:disabled + label:before {background:var(--gray200);border-color:var(--gray200);}
input[type=radio]:disabled + label:after {background:var(--gray0);}

// .checkbox-helper,.radio-helper {padding:0.5rem 0 1.5rem 28px;}
// hidden attribute
input[type=radio] + label + *,
input[type=checkbox] + label + * {display:none;}
input[type=radio]:checked + label + *,
input[type=checkbox]:checked + label + * {display:block;margin:0.25rem 0 var(--space) 0px;}



.checkbox,
.radio {
  &.theme-button {
    padding: 9px 1rem 11px;
    border: var(--border);
    box-shadow: var(--shadow);
    background: var(--gray0);
    label {
      display: flex;
      justify-content: space-between;
      height: auto;
      cursor: pointer;
    }
  }

  &.theme-button:first-child {
    border-radius: var(--radius) var(--radius) 0 0;
  }
  &.theme-button:last-child {
    border-radius: 0 0 var(--radius) var(--radius);
  }

  &.theme-button + .theme-button {
    border-top: 0;
  }

  &.theme-right {
    label:before {left:auto;right:0;}
    label:after {left:auto;right:3px;}
  }
}



.range {}
.range input[type=range] {width:100%;height:4px;background:var(--gray100);appearance:none;-webkit-appearance:none;}
.range input[type=range]::-webkit-slider-thumb {appearance:none;width:16px;height:16px;padding:4px;background:var(--red800);border-radius:var(--radius);cursor:pointer;appearance:none;-webkit-appearance:none;}
.range input[type=range]:focus::-webkit-slider-thumb {transform:scale(1.25);box-shadow:0 0 0 0.25rem rgba(0,153,255,0.3), 0 0.125rem 0.5rem rgba(0,0,0,0.1);}


.switch {display:block;position:relative;}
input[type=checkbox][role=switch] + label {display:block;height:20px;line-height:18px;padding-left:calc(48px + .75rem);cursor:pointer;}
input[type=checkbox][role=switch] + label:before {content:'';display:block;width:48px;height:20px;border:none;border-radius:var(--radius);box-sizing:border-box;background:var(--gray200);position:absolute;left:0;top:0;transition:background .2s;}
input[type=checkbox][role=switch] + label:after {content:'';display:block;/*18px*/width:16px;height:16px;border:none;border-radius:var(--radius);background:var(--gray0);box-shadow:var(--shadow);position:absolute;left:2px;top:2px;transition:left .2s;transform:rotate(0deg);}
input[type=checkbox][role=switch]:checked + label {color:var(--color-primary);}
input[type=checkbox][role=switch]:checked + label:before {background:var(--color-primary);}
input[type=checkbox][role=switch]:checked + label:after {left:calc(48px - 16px - 2px);}
input[type=checkbox][role=switch]:disabled {}
input[type=checkbox][role=switch]:disabled + label {cursor:not-allowed;}
input[type=checkbox][role=switch]:disabled:checked + label {color:var(--color-primary);}
input[type=checkbox][role=switch]:disabled:checked + label:before {background:var(--color-primary);}
input[type=checkbox][role=switch]:disabled:checked + label:after {left:30px;}

// .switch-wrap {display:inline-block;width:var(--size-medium);height:var(--size-medium);overflow:hidden;cursor:pointer;}
// .day {display:block;width:var(--size-medium);transition:all .4s ease;position:absolute;top:0;transition:all .4s ease .3s;}
// .night {display:block;width:var(--size-medium);position:absolute;top:32px;transition:all .4s ease 0s;}
// .theme-dark .day {top:var(--size-medium);transition:all .4s ease 0s;}
// .theme-dark .night {top:0;transition:all .4s ease .3s;}



.boxed-form {}
.boxed-form h4 {margin:2rem 0 0.75rem 0;}
.boxed-form div {background:var(--gray0);padding:1rem 2rem 1.25rem;border:var(--border);}
.boxed-form div:nth-of-type(1) {border-radius:var(--radius);border-bottom-left-radius:0;border-bottom-right-radius:0;}
.boxed-form div:nth-last-of-type(1) {border-radius:var(--radius);border-top-left-radius:0;border-top-right-radius:0;}
.boxed-form div label {margin:0;color:var(--gray400);}
.boxed-form div input {margin-top:-2px;padding:0;background:inherit;border:none;}
.boxed-form div + div {margin-top:-1px;}

.filter {display:flex;flex-direction:column;}
.filter-title {@include text-subhead;}
.filter-fieldset {margin:1rem 0;padding:1.75rem 0 2rem 0;position:relative;}
.filter-fieldset-legend {width:100%;line-height:1;font-weight:var(--font-weight-bold);position:absolute;top:0;}
.filter-fieldset-description {margin:0 0 8px 0;}
.filter-foot {margin:auto 0 0 0;}
.filter-foot-confirm {@include button-secondary;width:100%;}
.filter-foot-reset {@include button-text;width:100%;margin:var(--space-after-button) 0 0 0;}

// file
input[type=file] {width:0;height:0;opacity:0;position:absolute;}
input[type=file] + label {}
input[type=file] + label:after {display:none;}

.file {}
.file-title {}
.file-helper {margin:.25rem 0 0;}
.file-input {opacity:0;}
// todo
.file-label {@include button-secondary;padding-bottom:10px;cursor:pointer;}
.file-attachment {margin:2rem 0 0;}
.file-attachment-title {margin:.5rem 0;@include text-label;}
.file-attachment-helper {}
.file-attachment-list:after {content:'';display:block;clear:both;}
.file-attachment-item {@include tile-elevated-small;max-width:300px;}
.file-attachment-item:not(:first-child) {margin-top:.5rem;}
.file-attachment-item-image {width:var(--size-huge);height:var(--size-huge);border-radius:var(--radius);overflow:hidden;position:relative;}
.file-attachment-item-image img {width:auto;height:auto;max-width:auto;min-height:var(--size-huge);max-height:100px;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}
.file-attachment-item-name {display:block;margin:.25rem 0 -.25rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.file-attachment-item-size {color:var(--gray400);}
.file-attachment-item-delete {@include avatar-medium;@include position-right-top;}
.file-attachment-item-delete:hover {}


// date
.calendar {
  width: 250px;
  --date-width: 32px;
  --date-height: 32px;
  --date-background: #eee;
  position: relative;
}
.calendar h3 {
  font-size: 1rem;
  line-height: 32px;
}
.calendar-navigation {display:flex;position:absolute;right:0;top:0;font-size:var(--font-size-caption);}
.calendar-navigation-prev {width:var(--date-width);height:var(--date-width);margin-right:4px;background:var(--date-background);border-radius:var(--radius);}
.calendar-navigation-next {width:var(--date-width);height:var(--date-width);background:var(--date-background);border-radius:var(--radius);}
.calendar-head {margin-top: .5rem !important;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  gap: 4px !important;
  font-size:var(--font-size-caption);
}
.calendar-head div {
  display: flex;
  justify-content: center;
  align-items: center;
  width:var(--date-width);height:var(--date-width);border-radius:var(--radius);
}
.calendar-body {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  gap: 4px !important;
}
.calendar-body-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width:var(--date-width);height:var(--date-width);border-radius:var(--radius);background:#eee;font-size:var(--font-size-caption);
  cursor: pointer;
  &:hover {
    background: var(--color-primary);
    color: var(--gray0);
  }
}





progress[value] {
  border: 0;
  background-color: #bbb;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #bbb;
}

progress[value]::-webkit-progress-value {
  background: rebeccapurple;
}
progress[value]::-moz-progress-bar { 
  background: rebeccapurple;
}

progress:not([value]) {
  /* indeterminate styles */
}