// button:before {content:'';display:block;width:8px;height:8px;background:rgba(0,0,0,.2);position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);opacity:0;}
// button:active:before {width:100%;height:100%;animation:ripple .6s;}

// button, input, textarea, select {border-radius:0px;-webkit-appearance:none;-moz-appearance:none;appearance:none;font:inherit;color:inherit;}


input::-ms-clear {display:none;}
input, textarea {-webkit-appearance:none;-webkit-border-radius:0}
input, select, textarea {
  border-radius:0px;-webkit-border-radius:0;font:inherit;color:inherit;background:none;border:none;
}
select {-webkit-appearance:none;appearance:none;}
button {padding:0;border:none;background:none;cursor:pointer;font:inherit;position:relative;}
button > * {pointer-events:none;}
button:not(:active),
button:not(:focus) {outline:0;}
// button:active {outline:0;animation:ripple2 0.2s linear forwards;}

input:focus,
textarea:focus,
select:focus {}

// todo::
button.is-small {width:auto !important;min-width:72px !important;padding: .2rem 1rem .1rem!important;
  height: 32px;font-size:12px !important;}
button.is-addable {min-width:auto !important;height:32px;padding-right:40px !important;text-align:left;}
button.is-addable.is-added {background:$color-primary;border-color:$color-primary;color:$gray0;}

@mixin button {display:inline-block;min-width:104px;background:$color-primary;padding:$padding200;border-radius:$radius400;text-align:center;color:$gray0;cursor:pointer;position:relative;}

.primary-button {@include button;background:$color-primary;border:1px solid $color-primary;color:$gray0;}
.primary-button:disabled {background:$gray600;border-color:$gray600;color:$gray200;cursor:not-allowed;}
.primary-button:hover:not(:disabled) {background:#1a650b;}
.primary-button:focus:not(:disabled) {background:#1a650b;}
.primary-button:active:not(:disabled) {}
.primary-button.-facebook {background:#3664a2;border-color:#3664a2;}
.primary-button.-twitter {background:#3664a2;border-color:#3664a2;}
.primary-button.-kakao {background:#3664a2;border-color:#3664a2;}
.primary-button.-naver {background:#3664a2;border-color:#3664a2;}
.secondary-button {@include button;border:1px solid $color-primary;background:transparent;color:$color-primary;}
.secondary-button:disabled {background:transparent;border-color:$gray200;color:$gray200;cursor:not-allowed;}
.secondary-button:hover:not(:disabled) {background:$color-primary;color:$gray0;}
.secondary-button:focus:not(:disabled) {background:$color-primary;color:$gray0;}
.secondary-button:active:not(:disabled) {}
.tertiary-button {@include button;border:1px solid $gray100;background:$gray100;color:$gray800;}
.tertiary-button:disabled {color:$gray400;cursor:not-allowed;}
.tertiary-button:hover:not(:disabled) {background:$color-primary;border-color:$color-primary;color:$gray0;}
.tertiary-button:focus:not(:disabled) {background:$color-primary;color:$gray0;}
.tertiary-button:active:not(:disabled) {}
.danger-button {@include button;background:$color-negative;border:1px solid $color-negative;color:$gray0;}
.danger-button:disabled {background:$gray400;border-color:$gray400;color:$gray0;cursor:not-allowed;}
.danger-button:hover:not(:disabled) {background:$color-negative;}
.danger-button:focus:not(:disabled) {background:$color-negative;}
.danger-button:active:not(:disabled) {}
.success-button {@include button;background:$color-positive;border:1px solid $color-positive;color:$gray0;}
.success-button:disabled {background:$gray400;border-color:$gray400;color:$gray0;cursor:not-allowed;}
.success-button:hover:not(:disabled) {background:$color-positive;}
.success-button:focus:not(:disabled) {background:$color-positive;}
.success-button:active:not(:disabled) {}
.ghost-button {@include button;background:none;border:1px solid transparent;color:$color-primary;}
.ghost-button:disabled {color:$gray200;cursor:not-allowed;}
.ghost-button:hover:not(:disabled) {border-color:$gray100;background:$gray100;}
.ghost-button:focus:not(:disabled) {background:$gray100;}
.ghost-button:active:not(:disabled) {}
.icon-button {display:flex;align-items:center;justify-content:center;width:32px;height:32px;line-height:0;border-radius:$radius400;box-sizing:border-box;}

.button-group {display:flex;width:100%;overflow:hidden;}// justify-content:space-between;}
.button-group.is-left {padding:.5rem 0;}
.button-group.is-left button {margin:0 1rem;}
.button-group.is-center {justify-content:center;padding:.5rem 0;}
.button-group.is-center button {margin:0 1rem;}
.button-group.is-right {justify-content:flex-end;padding:.5rem 0;}
.button-group.is-right button {margin:0 1rem;}
.button-group button {margin:0 !important;border-radius:0;}// flex:1 1 auto;}
.button-group button.is-active {background-color:$color-primary;color:$gray0;}
.button-group button:first-child {border-top-left-radius:$radius400;border-bottom-left-radius:$radius400;}
.button-group button:last-child {border-top-right-radius:$radius400;border-bottom-right-radius:$radius400;}

input[type=text] {}
input[type=password] {}
input[type=password]:nth-of-type(2) {margin-top:1px;}
input[type=password]:focus {position:relative;z-index:2;}
input[type=search] {}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {display:none;}
input[type=phone] {}
input[type=number] {outline:none;}
input[type=number]:focus {background:$gray0;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;}
input[type=date] {max-height:48px;}  // 패딩으로 설정한 세로값 크롬에서(only?) 다른 텍스트 필드와 달라짐.
input[type=date]::-webkit-calendar-picker-indicator {width:100%;opacity:0;position:absolute;left:0;bottom:0;}
input[type=date]::-webkit-inner-spin-button {display:none;}

// rem 으로 모듈화하기 어렵다. ex 1.5rem => top:0.125rem
// line-heght로 리셋스타일에 종속되지 않도록 함. + block // height 테이블 내에서 세로 정렬에 필요
.checkbox,.radio {display:block;padding:.5rem 0;position:relative;}
input[type=checkbox] {width:0;height:0;opacity:0;-webkit-appearance:checkbox;position:absolute;outline:auto;}
input[type=checkbox] + label {display:block;height:16px;padding-left:2rem;line-height:16px;position:relative;}
input[type=checkbox] + label:before {content:'';display:block;width:16px;height:16px;border-radius:$radius400;border:1px solid $gray400;box-sizing:border-box;position:absolute;left:0;top:0;}
input[type=checkbox] + label:after {content:'';display:none;width:8px;height:2px;border-left:2px solid;border-bottom:2px solid;border-color:$gray200;position:absolute;left:3px;top:5px;transform:rotate(-45deg);}
input[type=checkbox]:checked + label:before {border-color:$color-primary;animation:ripple2 0.2s linear forwards;}
input[type=checkbox]:checked + label:after {display:block;border-color:$color-primary;}
input[type=checkbox]:disabled + label {color:$gray200;cursor:not-allowed;}
input[type=checkbox]:disabled + label:before {background:$gray200;border-color:$gray200;}
input[type=checkbox]:disabled + label:after {border-color:$gray0;}
input[type=checkbox][indeterminate=true] + label:before {}
input[type=checkbox][indeterminate=true] + label:after {display:block;background:$color-primary;border:none;left:4px;top:7px;transform:rotate(0deg);}
input[type=checkbox][data-indeterminate=true] + label:before {}
input[type=checkbox][data-indeterminate=true] + label:after {display:block;background:$color-primary;border:none;left:4px;top:7px;transform:rotate(0deg);}

input[type=radio] {width:0;height:0;opacity:0;-webkit-appearance:radio;position:absolute;}
input[type=radio] + label {display:block;height:16px;padding-left:2rem;line-height:16px;position:relative;}
input[type=radio] + label:before {content:'';display:block;width:16px;height:16px;border-radius:50%;border:1px solid $gray400;box-sizing:border-box;position:absolute;left:0;top:0;}
input[type=radio] + label:after {content:'';display:none;width:6px;height:6px;border-radius:50%;background:$gray200;position:absolute;left:5px;top:50%;transform:translateY(-50%);transition:all 0.2s;}
input[type=radio]:checked + label:before {border-color:$color-primary;animation:ripple2 0.2s linear forwards;}
input[type=radio]:checked + label:after {display:block;background:$color-primary;}
input[type=radio]:disabled + label {color:$gray200;cursor:not-allowed;}
input[type=radio]:disabled + label:before {background:$gray200;border-color:$gray200;}
input[type=radio]:disabled + label:after {background:$gray0;}

// .checkbox-helper,.radio-helper {padding:0.5rem 0 1.5rem 28px;}
input[type=radio] + label + *,
input[type=checkbox] + label + * {display:none;}
input[type=radio]:checked + label + *,
input[type=checkbox]:checked + label + * {display:block;margin:0.5rem 0 1.5rem 0px;}
input[type=radio]:checked + label + input,
input[type=checkbox]:checked + label + input {display:block;margin:0.75rem 0 1.5rem 0px;}

.range {}
.range input[type=range] {width:100%;height:8px;background:$gray100;}
.range input[type=range]::-webkit-slider-thumb {appearance:none;-webkit-appearance:none;width:16px;height:16px;padding:4px;background:$color-positive;border-radius:$radius400;cursor:pointer;}
.range input[type=range]:focus::-webkit-slider-thumb {transform:scale(1.25);box-shadow:0 0 0 0.25rem rgba(0,153,255,0.3), 0 0.125rem 0.5rem rgba(0,0,0,0.1);}
// ::-webkit-slider-runnable-track
// ::-moz-range-thumb
// ::-ms-thumb

.switch {display:block;position:relative;}
input[type=checkbox][role=switch] + label {display:block;height:20px;padding-left:64px;line-height:20px;cursor:pointer;}
input[type=checkbox][role=switch] + label:before {content:'';display:block;width:48px;height:20px;border:none;border-radius:$radius400;box-sizing:border-box;background:$gray200;position:absolute;left:0;top:0;transition:background .2s;}
input[type=checkbox][role=switch] + label:after {content:'';display:block;/*18px*/width:16px;height:16px;border:none;border-radius:$radius400;background:$gray0;box-shadow:$shadow400;position:absolute;left:2px;top:2px;transition:left .2s;transform:rotate(0deg);}
input[type=checkbox][role=switch]:checked + label {color:$color-primary;}
input[type=checkbox][role=switch]:checked + label:before {background:$color-primary;}
input[type=checkbox][role=switch]:checked + label:after {left:30px;}
input[type=checkbox][role=switch]:disabled {}
input[type=checkbox][role=switch]:disabled + label {cursor:not-allowed;}
input[type=checkbox][role=switch]:disabled:checked + label {color:$color-primary;}
input[type=checkbox][role=switch]:disabled:checked + label:before {background:$color-primary;}
input[type=checkbox][role=switch]:disabled:checked + label:after {left:30px;}

.switch-wrap {display:inline-block;width:32px;height:32px;overflow:hidden;margin-top:7px;margin-left:1rem;cursor:pointer;}
.day {display:block;transition:all .4s ease;position:absolute;top:0;transition:all .4s ease .3s;}
.night {display:block;position:absolute;top:32px;transition:all .4s ease 0s;}
.darkmode .day {top:32px;transition:all .4s ease 0s;}
.darkmode .night {top:0;transition:all .4s ease .3s;}


.textfield {margin:0px 0;position:relative;}
.textfield-label {display:block;margin:0 0 0.25rem 0;}
.textfield-icon {width:48px;height:48px;line-height:46px;text-align:center;position:absolute;left:0;}
.textfield-icon i {display:inline-block;font-size:19px;vertical-align:middle;opacity:0.4;}
.textfield-icon + .textfield-input {padding-left:48px;}
.textfield-input {display:block;width:100%;padding:$padding200;padding-right:40px;background:$gray100;border:1px solid $gray100;border-radius:4px;box-sizing:border-box;font:inherit;color:$gray800;-webkit-appearance:none;appearance:none;transition:all 0.2s;}
.textfield-input:not(select):read-only {background:none;padding-left:0;padding-right:0;border:none;outline:none;}
.textfield-input:not(select):read-only::placeholder {color:$gray800;}
.textfield-input:focus {background:$gray0;border-color:$gray200;box-shadow:$shadow100;outline:0;}
.textfield-input.-textarea {height:auto;}
.textfield-input.-inline {display:inline;width:80px;padding:2px 12px;}
.textfield-unit {width:40px;height:46px;padding:0 16px;line-height:50px;text-align:right;color:rgba(0, 0, 0, 0.4);position:absolute;right:0;bottom:0;}
.textfield-helper {display:block;margin-top:.25rem;color:$color-negative;}
.textfield-button {border-top-left-radius:0;border-bottom-left-radius:0;position:absolute;right:0;top:0;}
.textfield-label ~ .textfield-button {top:28px;}
.textfield-link {font-size:12px;position:absolute;right:0;top:0;}
.textfield-prefix {display:inline-block;display:none;width:100px;}
.textfield-prefix + .textfield-input {display:inline-block;padding-right:100px;}
.textfield-suffix {display:inline-block;padding:0 1.5rem;line-height:46px;cursor:default;color:$gray400;position:absolute;right:0;top:28px;}
.textfield-reset {display:none;}
.selectbox-indicator {position:absolute;right:16px;bottom:22px;}
.textfield.is-small {padding:0 !important;font-size:12px !important;}
.textfield.is-small .textfield-label {margin-bottom:0;}
.textfield.is-small .textfield-input {padding:5px 1.25rem 6px;}
.textfield.is-inline.textfield {padding-left:5rem !important;}
.textfield.is-inline .textfield-label {line-height:32px;position:absolute;left:0;top:0;}
.textfield.is-inline .textfield-input {}
.textfield.is-floating {}
.textfield.is-floating input {padding:0.75rem 0rem;border-top:none;border-left:none;border-right:none;}
.textfield.is-floating input {padding:0.75rem 0rem;border-top:none;border-left:none;border-right:none;}
.textfield.is-floating label {height:20px;position:absolute;left:0;top:6px;transition:all 0.2s ease;cursor:text;}
.textfield.is-floating input:focus + label {color:$gray400;font-size:11px;top:-12px;}

.is-invalid .textfield-label {color:$color-negative;}
.is-invalid .textfield-input {border-color:$color-negative;color:$color-negative;}
.is-invalid .textfield-byte {color:$color-negative;}
.is-invalid .textfield-byte b {color:$color-negative;}

input[type=email]:invalid {border-color:crimson;}

.boxed-form {}
.boxed-form h4 {margin:2rem 0 0.75rem 0;}
.boxed-form div {background:$gray0;padding:$padding400;border:1px solid #e9e9e6;}
.boxed-form div:nth-of-type(1) {border-radius:4px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.boxed-form div:nth-last-of-type(1) {border-radius:4px;border-top-left-radius:0;border-top-right-radius:0;}
.boxed-form div label {margin:0;color:$gray400;}
.boxed-form div input {margin-top:-2px;padding:0;background:inherit;border:none;}

.filter {width:320px;background:$gray0;overflow-y:scroll;margin:0 auto;padding:2rem 3rem;position:fixed;right:0;top:0;bottom:0;z-index:1;}
.filter-title {font-size:1.5rem;}
.filter-fieldset {margin:1.5rem 0;padding:1.75rem 0 2rem 0;border-bottom:1px solid #e9e9e6;position:relative;}
.filter-fieldset-legend {line-height:1;position:absolute;top:0;}
.filter-fieldset-description {margin:0 0 8px 0;}

input[type=file] {width:0;height:0;opacity:0;position:absolute;}
input[type=file] + label {display:inline-block;}
input[type=file] + label:after {display:none;}

.file {}
.file-title {}
.file-helper {margin:4px 0 16px 0;}
.file-input {opacity:0;}
.file-label {@extend .secondary-button;cursor:pointer;}
.file-attachment {margin:2rem 0 0;}
.file-attachment-title {margin:8px 0;font-size:$body;text-decoration:underline;}
.file-attachment-helper {margin:-4px 0 0;}
.file-attachment-list:after {content:'';display:block;clear:both;}
.file-attachment-item {display:block;width:100%;background:$gray100;overflow:hidden;position:relative;}
.file-attachment-item:not(:first-child) {margin-top:.5rem;}
.file-attachment-item-image {float:left;width:80px;height:80px;margin-right:1.5rem;overflow:hidden;position:relative;}
.file-attachment-item-image img {width:auto;height:auto;max-width:auto;min-height:80px;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}
.file-attachment-item-name {display:block;margin:.75rem 0 -.25rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.file-attachment-item-size {color:$gray400;}
.file-attachment-item-delete {position:absolute;right:0;top:0;}
.file-attachment-item-delete:hover {background:#f9f9f6;}


// qty
.variation {max-width:10rem;height:32px;margin:.75rem 0 0rem 0;text-align:center;position:relative;}
.variation-input {width:calc(100% - 64px);height:100%;background:$gray100;border:1px solid $gray200;box-sizing:border-box;text-align:center;}
.variation-decrement {width:32px;height:32px;border:1px solid $gray200;border-radius:$radius400 0 0 $radius400;position:absolute;left:1px;top:0px;}
.variation-increment {width:32px;height:32px;border:1px solid $gray200;border-radius:0 $radius400 $radius400 0;position:absolute;right:1px;top:0px;}
.variation-decrement.is-disabled {opacity:.5;cursor:not-allowed;}
.variation-increment.is-disabled {opacity:.5;cursor:not-allowed;}


[aria-haspopup=true] {} // dialog . menu, grid, listbox, tree
[aria-pressed=true] {} // 음소거 등
[aria-modal=true] {}
[aria-label=close] {}
[aria-hidden=true] {width:1px;height:1px;clip:rect(1px 1px 1px 1px);overflow:hidden;position:absolute;user-select:none;} // if(true) 리더기가 무시.
[aria-hidden=false] {width:1px;height:1px;clip:rect(1px 1px 1px 1px);overflow:hidden;position:absolute;user-select:none;}
[role=listitem] {}



// input:invalid {box-shadow: 0 0 5px 1px red;}
// input:focus:invalid {box-shadow: none;}



.calendar {
  width: 250px;
  --date-width: 32px;
  --date-height: 32px;
  --date-background: #eee;
  position: relative;
}
.calendar h3 {
  font-size: 1rem;
  line-height: 32px;
}
.calendar-navigation {display:flex;position:absolute;right:0;top:0;font-size:12px}
.calendar-navigation-prev {width:var(--date-width);height:var(--date-width);margin-right:4px;background:var(--date-background);border-radius:4px;}
.calendar-navigation-next {width:var(--date-width);height:var(--date-width);background:var(--date-background);border-radius:4px;}
.calendar-head {margin-top: .5rem !important;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  gap: 4px !important;
  font-size:12px;
}
.calendar-head div {
  display: flex;
  justify-content: center;
  align-items: center;
  width:var(--date-width);height:var(--date-width);border-radius:4px;
}
.calendar-body {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  gap: 4px !important;
}
.calendar-body-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width:var(--date-width);height:var(--date-width);border-radius:4px;background:#eee;font-size:12px;
  cursor: pointer;
  &:hover {
    background: $color-primary;
    color: $gray0;
  }
}