@import 'button';
@import 'checkbox';
@import 'quantity';

input, optgroup, select, textarea { -webkit-appearance: none; }

@mixin reset-textinput {
  -webkit-appearance:none;-moz-appearance:none;appearance:none;
}




input, textarea {
  // iOS inner shadow
  -webkit-appearance:none;-moz-appearance:none;appearance:none;
}
input, select, textarea {
  // border-radius:0px;
  // -webkit-border-radius:0;
  // color:inherit;
  // font:inherit;
}

select {-webkit-appearance:none;-moz-appearance:none;appearance:none;padding-right:1.5rem;}
select::-ms-expand {display: none;}
input::-ms-clear {display:none;}
input[type=text] {}
input[type=password] {}
input[type=search] {-webkit-appearance:textfield;}
input[type=search]::-webkit-search-cancel-button {display:none;}
// input[type=search]::-webkit-search-decoration,
// input[type=search]::-webkit-search-cancel-button,
// input[type=search]::-webkit-search-results-button,
// input[type=search]::-webkit-search-results-decoration {display:none;}
input[type=phone] {}
input[type=number] {outline:none;} /* -moz-appearance: textfield; */
input[type=number]:focus {background:var(--gray0);}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;}
input[type=date] {display:block;max-height:48px;}  // 패딩으로 설정한 세로값 크롬에서(only?) 다른 텍스트 필드와 달라짐. iOS displayblock
input[type=date]::-webkit-calendar-picker-indicator {width:100%;opacity:0;position:absolute;left:0;bottom:0;}
input[type=date]::-webkit-inner-spin-button {display:none;}
input[type=email]:invalid {border-color:crimson;}

// rem 으로 모듈화하기 어렵다. ex 1.5rem => top:0.125rem
// line-heght로 리셋스타일에 종속되지 않도록 함. + block
// height 테이블 내에서 세로 정렬에 필요
.checkbox,.radio {display:block;position:relative;}
input[type=checkbox] {-webkit-appearance:none;position:absolute;}
input[type=checkbox] + label {display:flex;align-items:center;height:2.25rem;line-height:16px;padding-left:2rem;position:relative;}
input[type=checkbox] + label:before {content:'';display:block;width:16px;height:16px;border-radius:$radius400;border:$border100;box-sizing:border-box;position:absolute;left:0;}
input[type=checkbox] + label:after {content:'';display:none;width:8px;height:2px;border-left:2px solid;border-bottom:2px solid;border-color:var(--gray200);position:absolute;left:3px;top:40%;transform:rotate(-45deg);}
input[type=checkbox]:checked + label:before {border-color:$color-primary;animation:ripple2 0.2s linear forwards;}
input[type=checkbox]:checked + label:after {display:block;border-color:$color-primary;}
input[type=checkbox]:disabled + label {color:var(--gray200);cursor:not-allowed;}
input[type=checkbox]:disabled + label:before {background:var(--gray200);border-color:var(--gray200);}
input[type=checkbox]:disabled + label:after {border-color:var(--gray0);}
input[type=checkbox][indeterminate=true] + label:before {}
input[type=checkbox][indeterminate=true] + label:after {display:block;background:$color-primary;border:none;left:4px;top:11px;transform:rotate(0deg);}
input[type=checkbox][data-indeterminate=true] + label:before {}
input[type=checkbox][data-indeterminate=true] + label:after {display:block;background:$color-primary;border:none;left:4px;top:13px;transform:rotate(0deg);}

input[type=radio] {-webkit-appearance:none;position:absolute;}
input[type=radio] + label {display:flex;align-items:center;height:2.25rem;line-height:16px;padding-left:2rem;position:relative;}
input[type=radio] + label:before {content:'';display:block;width:16px;height:16px;border-radius:50%;border:$border100;box-sizing:border-box;position:absolute;left:0;}
input[type=radio] + label:after {content:'';display:none;width:6px;height:6px;border-radius:50%;background:var(--gray200);position:absolute;left:5px;transition:all 0.2s;}
input[type=radio]:checked + label:before {border-color:$color-primary;animation:ripple2 0.2s linear forwards;}
input[type=radio]:checked + label:after {display:block;background:$color-primary;}
input[type=radio]:disabled + label {color:var(--gray200);cursor:not-allowed;}
input[type=radio]:disabled + label:before {background:var(--gray200);border-color:var(--gray200);}
input[type=radio]:disabled + label:after {background:var(--gray0);}

// .checkbox-helper,.radio-helper {padding:0.5rem 0 1.5rem 28px;}
// hidden attribute
input[type=radio] + label + *,
input[type=checkbox] + label + * {display:none;}
input[type=radio]:checked + label + *,
input[type=checkbox]:checked + label + * {display:block;margin:0.25rem 0 1.5rem 0px;}

.range {}
.range input[type=range] {width:100%;height:8px;background:var(--gray100);appearance:none;-webkit-appearance:none;}
.range input[type=range]::-webkit-slider-thumb {appearance:none;width:16px;height:16px;padding:4px;background:$red800;border-radius:$radius400;cursor:pointer;appearance:none;-webkit-appearance:none;}
.range input[type=range]:focus::-webkit-slider-thumb {transform:scale(1.25);box-shadow:0 0 0 0.25rem rgba(0,153,255,0.3), 0 0.125rem 0.5rem rgba(0,0,0,0.1);}


.switch {display:block;position:relative;}
input[type=checkbox][role=switch] + label {display:block;height:20px;line-height:20px;padding-left:64px;cursor:pointer;}
input[type=checkbox][role=switch] + label:before {content:'';display:block;width:48px;height:20px;border:none;border-radius:$radius400;box-sizing:border-box;background:var(--gray200);position:absolute;left:0;top:0;transition:background .2s;}
input[type=checkbox][role=switch] + label:after {content:'';display:block;/*18px*/width:16px;height:16px;border:none;border-radius:$radius400;background:var(--gray0);box-shadow:$shadow400;position:absolute;left:2px;top:2px;transition:left .2s;transform:rotate(0deg);}
input[type=checkbox][role=switch]:checked + label {color:$color-primary;}
input[type=checkbox][role=switch]:checked + label:before {background:$color-primary;}
input[type=checkbox][role=switch]:checked + label:after {left:30px;}
input[type=checkbox][role=switch]:disabled {}
input[type=checkbox][role=switch]:disabled + label {cursor:not-allowed;}
input[type=checkbox][role=switch]:disabled:checked + label {color:$color-primary;}
input[type=checkbox][role=switch]:disabled:checked + label:before {background:$color-primary;}
input[type=checkbox][role=switch]:disabled:checked + label:after {left:30px;}
.switch-wrap {display:inline-block;width:$cell-light;height:$cell-light;overflow:hidden;margin-top:7px;margin-left:1rem;cursor:pointer;}
.day {display:block;width:$cell-light;transition:all .4s ease;position:absolute;top:0;transition:all .4s ease .3s;}
.night {display:block;width:$cell-light;position:absolute;top:32px;transition:all .4s ease 0s;}
.darkmode .day {top:$cell-light;transition:all .4s ease 0s;}
.darkmode .night {top:0;transition:all .4s ease .3s;}


.textfield {margin:0px 0;position:relative;}
.textfield-label {display:block;margin:0 0 0.25rem 0;}
.textfield-label small {margin:0 0 0 .5rem;color:var(--gray400);}
.textfield-icon {display:flex;align-items:center;justify-content:center;width:48px;height:100%;position:absolute;left:0;}
.textfield-icon i {display:inline-block;font-size:19px;vertical-align:middle;opacity:0.4;}
.textfield-icon + .textfield-input {padding-left:48px;}
.textfield-input {width:100%;padding:$padding200;padding-right:40px;background:var(--gray100);border:1px solid var(--gray100);border-radius:$radius400;box-sizing:border-box;font:inherit;color:var(--gray800);/*-appearance:none;*/transition:all 0.2s;}
.textfield-input:disabled {border-color:var(--gray200);background:var(--gray200);color:var(--gray100);cursor:not-allowed;}
// .textfield-input:not(select):readonly {background:none;padding-left:0;padding-right:0;border:none;outline:none;}
// .textfield-input:not(select):readonly::placeholder {color:var(--gray800);}
.textfield-input:focus {background:var(--gray0);border-color:var(--gray200);box-shadow:$shadow100;outline:0;}
.textfield-input.-textarea {height:auto;}
.textfield-input.-selectbox {height:auto;}
.textfield-input.-inline {display:inline;width:80px;padding:2px 12px;}
.view-password {position:absolute;right:1rem;bottom:1rem;z-index:2;font-size:$caption;color:var(--gray400);}
.textfield-unit {width:40px;height:46px;padding:0 16px;line-height:50px;text-align:right;color:rgba(0, 0, 0, 0.4);position:absolute;right:0;bottom:0;}
.textfield-helper {margin-top:.25rem;color:$color-negative;}
.textfield-button {border-top-left-radius:0;border-bottom-left-radius:0;position:absolute;right:0;top:0;}
.textfield-label ~ .textfield-button {top:28px;}
.textfield-link {font-size:$caption;position:absolute;right:0;top:0;}
.textfield-prefix {display:inline-block;display:none;width:100px;}
.textfield-prefix + .textfield-input {display:inline-block;padding-right:100px;}
.textfield-suffix {display:inline-block;padding:0 1.5rem;line-height:46px;cursor:default;color:var(--gray400);position:absolute;right:0;top:28px;}
.textfield-reset {}
.selectbox-indicator {position:absolute;right:16px;bottom:22px;}

.textfield.is-small {padding:0 !important;font-size:$caption !important;}
.textfield.is-small .textfield-label {margin-bottom:0;}
.textfield.is-small .textfield-input {height:$cell-light;padding:6px 1.25rem;}
.textfield.is-inline.textfield {padding-left:5rem !important;}
.textfield.is-inline .textfield-label {line-height:$cell-light;position:absolute;left:0;top:0;}
.textfield.is-inline .textfield-input {}
.textfield.is-floating {}
.textfield.is-floating input {padding:0.75rem 0rem;border-top:none;border-left:none;border-right:none;}
.textfield.is-floating input {padding:0.75rem 0rem;border-top:none;border-left:none;border-right:none;}
.textfield.is-floating label {height:20px;position:absolute;left:0;top:6px;transition:all 0.2s ease;cursor:text;}
.textfield.is-floating input:focus + label {color:var(--gray400);font-size:11px;top:-12px;}

.textfield.is-text {display:flex;align-items:center;}
.textfield.is-text .textfield-input {width:auto;margin-left:1rem;margin-top:-.25rem;padding:0;background:none;border:none;box-shadow:none;color:$color-primary;}
.textfield.is-text .selectbox-indicator {margin-bottom:5px;margin-left:.5rem;position:static;right:auto;bottom:auto;}

.is-invalid .textfield-label {color:$color-negative;}
.is-invalid .textfield-input {border-color:$color-negative;color:$color-negative;}
.is-invalid .textfield-byte {color:$color-negative;}
.is-invalid .textfield-byte b {color:$color-negative;}

.boxed-form {}
.boxed-form h4 {margin:2rem 0 0.75rem 0;}
.boxed-form div {background:var(--gray0);padding:1rem 2rem 1.25rem;border:$border100;}
.boxed-form div:nth-of-type(1) {border-radius:$radius400;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.boxed-form div:nth-last-of-type(1) {border-radius:$radius400;border-top-left-radius:0;border-top-right-radius:0;}
.boxed-form div label {margin:0;color:var(--gray400);}
.boxed-form div input {margin-top:-2px;padding:0;background:inherit;border:none;}
.boxed-form div + div {margin-top:-1px;}

.filter {width:320px;background:var(--gray0);overflow-y:scroll;margin:0 auto;padding:2rem 3rem;position:fixed;right:0;top:0;bottom:0;z-index:1;}
.filter-title {font-size:1.25rem;}
.filter-fieldset {margin:1.5rem 0;padding:1.75rem 0 2rem 0;border-bottom:1px solid #e9e9e6;position:relative;}
.filter-fieldset-legend {width:100%;line-height:1;position:absolute;top:0;}
.filter-fieldset-description {margin:0 0 8px 0;}
.filter-foot {}
.filter-foot-confirm {@include button-primary;}

// file
input[type=file] {width:0;height:0;opacity:0;position:absolute;}
input[type=file] + label {display:inline-block;}
input[type=file] + label:after {display:none;}

.file {}
.file-title {}
.file-helper {margin:.25rem 0 0;}
.file-input {opacity:0;}
.file-label {@include button-secondary;cursor:pointer;}
.file-attachment {margin:2rem 0 0;}
.file-attachment-title {margin:.5rem 0;font-size:$body;text-decoration:underline;}
.file-attachment-helper {}
.file-attachment-list:after {content:'';display:block;clear:both;}
.file-attachment-item {display:block;width:100%;background:var(--gray100);border-radius:$radius400;overflow:hidden;position:relative;}
.file-attachment-item:not(:first-child) {margin-top:.5rem;}
.file-attachment-item-image {float:left;width:80px;height:80px;margin-right:1.5rem;overflow:hidden;position:relative;}
.file-attachment-item-image img {width:auto;height:auto;max-width:auto;min-height:80px;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}
.file-attachment-item-name {display:block;margin:.75rem 0 -.25rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.file-attachment-item-size {color:var(--gray400);}
.file-attachment-item-delete {position:absolute;right:0;top:0;}
.file-attachment-item-delete:hover {background:#f9f9f6;}



// date
.calendar {
  width: 250px;
  --date-width: $cell-light;
  --date-height: $cell-light;
  --date-background: #eee;
  position: relative;
}
.calendar h3 {
  font-size: 1rem;
  line-height: $cell-light;
}
.calendar-navigation {display:flex;position:absolute;right:0;top:0;font-size:$caption}
.calendar-navigation-prev {width:var(--date-width);height:var(--date-width);margin-right:4px;background:var(--date-background);border-radius:$radius400;}
.calendar-navigation-next {width:var(--date-width);height:var(--date-width);background:var(--date-background);border-radius:$radius400;}
.calendar-head {margin-top: .5rem !important;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  gap: 4px !important;
  font-size:$caption;
}
.calendar-head div {
  display: flex;
  justify-content: center;
  align-items: center;
  width:var(--date-width);height:var(--date-width);border-radius:$radius400;
}
.calendar-body {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  gap: 4px !important;
}
.calendar-body-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width:var(--date-width);height:var(--date-width);border-radius:$radius400;background:#eee;font-size:$caption;
  cursor: pointer;
  &:hover {
    background: $color-primary;
    color: var(--gray0);
  }
}





progress[value] {
  border: 0;
  background-color: #bbb;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #bbb;
}

progress[value]::-webkit-progress-value {
  background: rebeccapurple;
}
progress[value]::-moz-progress-bar { 
  background: rebeccapurple;
}

progress:not([value]) {
  /* indeterminate styles */
}