.quantity {max-width:8rem;height:var(--size-medium);text-align:center;position:relative;}
.quantity-input {width:calc(100% - 64px);height:100%;padding-bottom:2px;background:var(--gray100);border:var(--border);box-sizing:border-box;font-family:inherit;font-size:var(--font-size-body);color:var(--color-text);text-align:center;border-radius:0;} // br = iOS
.quantity-decrement {display:flex;align-items:center;justify-content:center;width:var(--size-medium);height:var(--size-medium);border:var(--border);border-radius:var(--radius) 0 0 var(--radius);cursor:pointer;position:absolute;left:1px;top:0px;}
.quantity-increment {display:flex;align-items:center;justify-content:center;width:var(--size-medium);height:var(--size-medium);border:var(--border);border-radius:0 var(--radius) var(--radius) 0;cursor:pointer;position:absolute;right:1px;top:0px;}
.quantity-decrement:disabled {opacity:.5;cursor:not-allowed;}
.quantity-increment:disabled {opacity:.5;cursor:not-allowed;}


// firefox decrement/increment 버튼 정렬