@font-face {font-family: 'AritaBuri';src: url(/public/webfonts/AritaBuriL.otf); }
@font-face {font-family: 'AritaDotum';src: url(/public/webfonts/AritaDotumMedium.ttf); }
@font-face {font-family: 'DunkelSans';src: url(/public/webfonts/Dunkelsansv0.5-Heavy.woff2); }
@font-face {font-family: 'DKHM';src: url(/public/webfonts/Dunkelsansv0.5-HeavyMedium.woff2); }
@font-face {font-family: 'Asap';src: url(/public/webfonts/Asap-Regular.otf); }
// @import url('https://fonts.googleapis.com/css?family=Kristi&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Barlow:400&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Zeyada&display=swap');

// 고정폭 숫자 폰트 아카이빙
//@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
// @import url('https://fonts.googleapis.com/css?family=Asap');
// transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
// UI 구성 요소를 만들 때마다 구조 스타일 (패딩, 레이아웃 등)과
// 스킨 (색상, 서체 등)의 두 부분으로 나눌 수 있는지보십시오.
// todo url 등록 시 www 및 https:// 기본 입력

// article 안에 정보는 adress
// checkbox 클릭시 열리는 부분
// 모달의 클래스 상속
// 인풋필드가 선택된 상태에서만이라도 옆에 헬퍼 텍스트가 출력되도록
// scroll-behavior:smooth;

// express -c sass -e
// writing-mode: horizontal-tb;  writing-mode: vertical-rl;  writing-mode: vertical-lr;
// text-decoration-skip 찾아보기
body,dl,dd,figure,blockquote,h1,h2,h3,h4,h5,h6,p,input[type=radio] {margin:0;}
ul,ol,menu,fieldset,legend {margin:0;padding:0;}
fieldset,iframe,img,hr {border:0 none} dl,ol,ul,menu {list-style:none}
main {display:block;}
iframe,img,video {width:100%;} img {vertical-align:middle;}
h1,h2,h3,h4,h5,h6 {line-height:1.4;font-weight:normal;color:$gray80;}
strong,b,th,legend {font-weight:normal;color:$gray80;}
cite,i,address,em,dfn {font-style:normal;} em {color:$color-primary;} small {font-size:12px;} time {} abbr {text-decoration:none;}
a {text-decoration:none;text-decoration-skip-ink:auto;color:$color-primary;}
a:link,a:visited {} a:hover,a:focus {} a:active {}
mark {padding:0 .25rem;border-radius:2px;background:rgba(0,0,0,1);color:#fff;}
code, kbd {padding:.25rem .5rem;font-family:'consolas';font-size:12px;color:rgba(0,0,0,.6);background-color: $gray20;border-radius:$radius400;font-family:inherit;vertical-align:middle;}
u {text-decoration:none;position:relative;z-index:1;}
u:before {content:'';width:104%;margin-left:-2%;height:6px;border-radius:4px;background:$color-primary;position:absolute;left:0;right:0;bottom:-1px;z-index:-1;}
hr {height:1px;overflow:visible;position:relative;}
// hr:before {content:'';display:block;width:8px;height:8px;margin-left:-12px;border-radius:50%;border:8px solid #fff;background:$gray40;position:absolute;left:50%;top:-12px;z-index:5;}
hr:after {content:'';display:block;width:100%;height:1px;background:#eee;}

html {min-width:320px;height:100%;font:14px/1.8 'Asap', 'AritaDotum', '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', sans-serif;color:$gray60;-webkit-text-size-adjust:100%;}
body {overflow-x:hidden;}

table {width:100%;border-collapse:collapse;border-spacing:0;border-left-style:hidden;border-right-style:hidden;}
table caption {padding:.5rem 0;font-size:12px;text-align:left;}
table thead tr {}
table thead tr th {padding:1rem;font-size:12px;line-height:1.4;color:$gray40;text-align:left;}
table tbody tr th {padding:.75rem 1rem;box-sizing:border-box;line-height:1.4;vertical-align: top;}
table tbody tr td {padding:1rem 1rem;border: 1px solid #e9e9e6;border-left:none;border-right:none;box-sizing:border-box;color:$gray80;line-height:1.4;}
table .right {text-align:right;}

table thead tr th:first-child {padding-left:0;}
table thead tr th:last-child {padding-right:0;}
table tbody tr td:first-child {padding-left:0;}
table tbody tr td:last-child {padding-right:0;}

input::-ms-clear {display:none;}
input, textarea{-webkit-appearance:none;-webkit-border-radius:0}
select {}
input, select, textarea {border-radius:0px;-webkit-border-radius:0;font:inherit;color:inherit;background:none;border:none;}
button {background:none;padding:0;border:none;outline:0;cursor:pointer;font:inherit;position:relative;}
button > * {pointer-events:none;}

input:focus,
textarea:focus,
select:focus {}

::selection {background:$gray80;color:#fff;}
::placeholder {color:rgba(0,0,0,.4);}
// ::-webkit-scrollbar {width:auto;height:auto;}
// ::-webkit-scrollbar-track {background:inherit;}
// ::-webkit-scrollbar-thumb {background:inherit;}
// ::-webkit-scrollbar-button {display:none;background-color:inherit;}
// ::-webkit-scrollbar-corner {background-color:inherit;}

// textarea {resize:none;}
// Aria-haspopup=”false”, indicates the element does not have any popup
// Aria-haspopup=”true”, indicates that popup is menu
// Aria-haspopup=”menu”, indicates that popup is menu
// Aria-haspopup=”dialog”, indicates that popup is dialog
// Aria-haspopup=”grid”, indicates that popup is grid
// Aria-haspopup=”listbox”, indicates that popup is listbox
// Aria-haspopup=”tree”, indicates that popup is tree
[aria-pressed="true"] {} // 음소거 등
[aria-modal="true"] {}

// [aria-live="polite | assertive | off"] {} 
// if(true) 리더기가 무시.
// 라이브러리 사용 시, 모달 등에서 선언되어 있는 경우가 있음. 믹스인 만들어서 적용하기.
[aria-label="close"] {}
[aria-hidden="true"] {width:1px;height:1px;clip:rect(1px 1px 1px 1px);overflow:hidden;position:absolute;-webkit-user-select:none;-ms-user-select:none;}
[aria-hidden="false"] {width:1px;height:1px;clip:rect(1px 1px 1px 1px);overflow:hidden;position:absolute;-webkit-user-select:none;-ms-user-select:none;}

.js-accordion {}
.js-accordion.is-expanded {}
[aria-expanded="false"] {}
[aria-expanded="true"] {}