@mixin reset-textinput {
  background: var(--color-background-weak);
  border: 1px solid transparent;
  border-radius: var(--radius);
  box-sizing: border-box;
  font: inherit;
  color: var(--color-text); // for safari #fff
}

// input:-internal-autofill-selected {}

@mixin textfield-prefix {@include icon-indicator;position:absolute;left:var(--space-3);top:36px;}
@mixin textfield-surfix {@include icon-indicator;position:absolute;right:var(--space-3);top:33px;}

.textfield-group {display:flex;justify-content:space-between;}
.textfield-group .textfield {width:calc(50% - var(--space-1))}

.textfield {position:relative;}

.textfield-label {display:block;}
.textfield-label small {margin:0 0 0 var(--space-1);color:var(--color-text-light);}

.textfield-input {@include reset-textinput;display:block;width:100%;height:var(--size-large);padding:var(--space-2) var(--space-4);}
.textfield-input:focus {outline:0;background:var(--color-background);box-shadow:var(--state-hover);}
.textfield-input:disabled {border-color:var(--gray200);background:var(--gray200);color:var(--gray100);cursor:not-allowed;}
.textfield-input:read-only {color:var(--color-text-light);cursor:default;}


.textfield-link {@include link-outside;font-size:var(--font-size-small);position:absolute;right:0;top:0;}
.textfield-helper {margin-top:.25rem;color:var(--red800);}

.textfield-reveal {@include textfield-surfix;width:auto;font-size:var(--font-size-small);color:var(--color-text-light);}
.textfield-check {@include textfield-surfix;}
.textfield-clear {@include textfield-surfix;}

.textfield-unit {}

.textfield-prefix {@include textfield-prefix;}
.textfield-prefix ~ .textfield-input {padding-left:calc(var(--size-medium) + var(--space-after-avatar-medium));}
.textfield-input:focus + .textfield-clear {display:flex;}


.searchfield-clear {@include textfield-surfix;top:11px;display:none;}

.select-indicator {@include textfield-surfix;pointer-events:none;}


.searchfield {}
.searchfield-prefix {top:11px;}
.searchfield-clear {right:calc(var(--size-medium) + var(--space-after-avatar-medium) + var(--space-3));}
.searchfield-cancel {@include button-text;min-width:auto;width:var(--size-medium);position:absolute;right:0;top:0;padding:0;}

.is-focused .searchfield-input {display:block;width:calc(100% - var(--size-medium) - var(--space-after-avatar-medium));}
.is-focused .searchfield-cancel {right:0;}

// 검색필드는 레이블이 없다. label ~로 하면 되긴 함.
// input container

.is-invalid .textfield-label {}
.is-invalid .textfield-input {border-color:var(--red800);color:var(--red800);}
.is-invalid .textfield-byte {color:var(--red800);}
.is-invalid .textfield-byte b {color:var(--red800);}