
@mixin reset-textinput {
  background: var(--color-background-weak);
  border: 1px solid transparent;
  border-radius: var(--radius);
  box-sizing: border-box;
  font: inherit;
  color: var(--color-text); // for safari #fff
}


@mixin textfield-prefix {@include icon-button-small;position:absolute;left:var(--space-3);top:36px;}
@mixin textfield-surfix {@include icon-button-small;position:absolute;right:var(--space-3);top:37px;}

.textfield-group {display:flex;justify-content:space-between;}
.textfield-group .textfield {width:calc(50% - var(--space-1))}
.textfield {position:relative;}
.textfield-label {display:block;}
.textfield-label small {margin:0 0 0 .25rem;color:var(--color-text-light);}
// todo padding top bottom은 textarea를 위해서
.textfield-input {display:block;width:100%;height:var(--size-large);padding:11px var(--space-4);@include reset-textinput;}
.textfield-input:focus {background:var(--color-background);outline:0;box-shadow:var(--state-hover);} // todo outline -> shadow
.textfield-input:disabled {border-color:var(--gray200);background:var(--gray200);color:var(--gray100);cursor:not-allowed;}
.textfield-input:read-only {color:var(--color-text-light);cursor:default;}
.textfield-input:read-only:focus {}
.textfield-reveal {position:absolute;right:1rem;bottom:calc(1rem - 2px);z-index:var(--zindex-default);font-size:var(--font-size-caption);color:var(--color-text-light);}
.textfield-helper {margin-top:.25rem;color:var(--red800);}
.textfield-button {border-top-left-radius:0;border-bottom-left-radius:0;position:absolute;right:0;top:0;}
.textfield-link {@include link-outside;font-size:var(--font-size-caption);position:absolute;right:0;top:0;}
.textfield-unit {}

.textfield-check {@include textfield-surfix;}
.textfield-check {@include textfield-surfix;}

.textfield-prefix {@include textfield-prefix;}
.textfield-prefix ~ .textfield-input {padding-left:calc(var(--size-medium) + var(--space-after-avatar-medium));}
.selectbox-indicator {@include textfield-surfix;pointer-events:none;}

.textfield-clear {@include icon-button-small;@include textfield-surfix;top:11px;display:none;}
.textfield-input:focus + .textfield-clear {display:flex;}

.searchfield {}
.searchfield-prefix {top:11px;}
.searchfield-clear {right:calc(var(--size-medium) + var(--space-after-avatar-medium) + var(--space-3));} // + inset
// todo... size-medium + after-avatar-medium
.searchfield-cancel {@include button-text;min-width:auto;width:var(--size-medium);position:absolute;right:0;top:0;padding:0;}
.is-focused .searchfield-input {display:block;width:calc(100% - var(--size-medium) - var(--space-after-avatar-medium));}
.is-focused .searchfield-cancel {right:0;}

// 검색필드는 레이블이 없다. label ~로 하면 되긴 함.
// input container

.textfield.is-floating {}
.textfield.is-floating input {padding:var(--space-3) 0rem;border-top:none;border-left:none;border-right:none;}
.textfield.is-floating label {height:20px;position:absolute;left:0;top:6px;transition:all 0.2s ease;cursor:text;}
.textfield.is-floating input:focus + label {color:var(--color-text-light);font-size:11px;top:-12px;}

.is-invalid .textfield-label {}
.is-invalid .textfield-input {border-color:var(--red800);color:var(--red800);}
.is-invalid .textfield-byte {color:var(--red800);}
.is-invalid .textfield-byte b {color:var(--red800);}