.profile {max-width:1480px;margin:0 auto;padding:2rem var(--grid-margin) 8rem;}
.profile::after {content:'';display:block;clear:both;}

.profile-head {
  height:200px;
  margin: -2rem -5vw 2rem;
  /* margin-top:calc((2rem + var(--navbar-height)) * -1); */
  border-radius: 12px;
  background:rgb(53, 54, 53);
}

.profile-user {float:left;width:320px;position:relative;z-index:var(--zindex-default);}
.profile-user-description {max-height:5.4em;margin:var(--space-4) 0;white-space:normal;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;position:relative;}

/* // todo active state
// 텍스트(아바타를 제외한 엘리먼트)에 마진레프트를 주면 아이콘 버튼으로 사용할 ㅜㅅ 잇지만 코드가 많아짐. 어차피 토큰을 사용하면 문제 없음.
// 여기서 변하는 값은 item height 뿐임.
// todo... */

.profile-body {padding:0 0 64px calc(320px + var(--size-large));box-sizing:border-box;position:relative;}

.tabpanel {display:flex;flex-wrap:wrap;justify-content:space-between;}
.tabpanel > * {width:calc(33.3333% - .75rem);}

.card {
  display:flex;
  flex-direction:column;
  gap:var(--space-2);
  position:relative; 
}
.card mm-tag {
  position: absolute;
  left: var(--space-2);
  top: var(--space-2);
  z-index: 1;
}
.card mm-icon-button {
  position: absolute;
  right: var(--space-2);
  top: var(--space-2);
  z-index: 1;
}


@media (max-width: 1320px) {
  .profile {max-width:1000px;}
  .profile-user {float:none;width:100%;box-sizing:border-box;}
  
  .profile-body {padding-left:0;}

  .tabpanel .card {width: 100%;}
}


@media (max-width: 800px) {
  .tabpanel mm-tile {
    width:100%;
  }
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
}
/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
}
/* Nintendo Wii controller, Microsoft Kinect */
@media (hover: hover) and (pointer: coarse) {
}
/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
}


.list .card {float:none;display:block;width:100% !important;margin-bottom: var(--space-3);}
.list mm-media {float:left;width:var(--size-huge);height:var(--size-huge);margin-right:var(--space-after-avatar-huge);padding-top:0;}
.list mm-media img {max-width:150%;}
.list .card-byline {margin-top:.5rem;margin-bottom:.5rem;}
