.profile {
  display: flex;
  width: 100%;
  max-width: 1480px;
  gap: var(--size-large);
  margin: 0 auto;
  padding: 2rem var(--grid-margin) 8rem;
}

.profile-user {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 320px;
  gap: var(--space-4);
}

.profile-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-4);
  box-sizing: border-box;
  position: relative;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
  width: 100%;
}
.portfolio-grid > * {
  width: calc(33.3333% - 0.75rem);
}

@media (max-width: 1320px) {
  .profile {
    flex-direction: column;
    max-width: 640px;
  }
  .profile-user {
    max-width: 100%;
  }
  .profile-body {
  }
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
}
/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
}
/* Nintendo Wii controller, Microsoft Kinect */
@media (hover: hover) and (pointer: coarse) {
}
/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
}

mm-sheet[id^='sheet-'] {
  --sheet-radius: var(--radius-large);
  --sheet-size-large: 800px;
}

.list mm-portfolio-item {
  width: 100%;
}
.list mm-media {
  width: 120px;
  height: var(--size-huge);
}
