
/* reset */
button {
  padding: 0;
  border: 0;
  font-family: var(--font-family);
  font-size: inherit;
}
em, i  {
  font-style: normal;
}

:host {
  --chip-color-border: 0;
  --chip-color-background: var(--color-background-weak);
  --chip-color-text: var(--color-text);
  --chip-radius: var(--radius);
  --chip-border: 1px solid transparent;
  --chip-size: var(--size-medium);
  --chip-inset: null;
  --chip-shadow: none;
}

/* TODO 요거 .chip */
:host([variant=plain]) {
  --chip-color-background: none;
  --chip-color-border: 0;
}

:host([variant=back]) {
  --chip-color-background: none;
  --chip-border: var(--border);
  --chip-radius: 50%;
  --chip-shadow: var(--shadow);
}
/* 아래는 안됨. 상속을 못 함 data attr */
.chip[data-variant=back] {
}

/* @media (hover) and (pointer: fine) {
  &:hover {box-shadow:var(--status-hover);}
}
*/


  /* TODO donesnt using ? for chip in textfield  */
  /* gap 제거. icon only에 label 태그 때문. */
  /* 이모지 2개 나옴.. */
  /* outline: 2px solid var(--color-background); */

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--size-medium);
  height: var(--chip-size);
  /* gap: var(--space-2); */
  padding: 0 var(--space-3);
  border: var(--chip-border);
  border-radius: var(--chip-radius);
  box-shadow: var(--chip-shadow);
  background: var(--chip-color-background);
  color: var(--chip-color-text);
  position: relative;

}
.chip:disabled {
  opacity:.5;
  cursor:not-allowed;
}
.chip:hover {
  box-shadow:var(--status-hover);
  cursor: pointer;
}

.chip-label {
  color: inherit;
}
.chip-name {
  margin: 0 var(--space-1) 0 0;
  color:var(--color-text-light);}
.chip-name:after {content:': ';}

.chip[aria-selected] {
  --chip-color-background: var(--color-background-strong);
  color: var(--color-text-strong);
}
.chip[aria-checked=true] {
  border: 1px solid var(--color-background-strong);
}

.chip[aria-expanded] {}
.chip[aria-pressed] {}
.chip[aria-haspopup] {}

.chip[data-variant=destructive] {
  background-color: var(--red100);
  color: var(--red800);
}

::slotted([slot=icon]) {margin:0 -.75rem;}
::slotted([slot=prefix]) {margin-right:var(--space-2);}
::slotted([slot=suffix]) {margin-left:var(--space-2);}

/* .chip-label ~ ::slotted([slot=icon]) {
  margin-left: -0.25rem;
}
.chip-label ~ ::slotted([slot=badge]) {
  margin-right: -0.25rem;
} */

// .chip[aria-expanded=true] {
//   background-image: url(
//     'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M480 696 280 497h400L480 696Z"/></svg>');
//   background-repeat: no-repeat;
//   background-size: 14px;
//   background-position: 90% 50%;
// }