.navbar {
  display:flex;align-items: center;
  height:var(--navbar-height);
  margin:0 auto;
  padding:var(--space-3) var(--grid-margin);
  box-sizing:border-box;background:var(--color-background);
  position:fixed;top:0;left:0;right:0;z-index:var(--zindex-menu);}
  /* sticy 위로 스크롤 하면 */
.navbar-logo {
  width:var(--size-medium);height:var(--size-medium);
  box-shadow: 0 0 3px var(--yellow800);
  background:url('/public/images/soojubm.png') no-repeat 64% 60%;background-size:80%;background-color:var(--color-background-strong) !important;border-radius:50%;
}
.navbar-burger {margin:0 var(--space-2) 0 0;z-index:calc(var(--zindex-menu) + 1);}

.navbar-menu {
  display: flex;
  align-items: center;
  margin: 0 0 0 1.5rem;
  position:relative;
}
.navbar-menu > a {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: 0 var(--space-4);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  position:relative;
  z-index: 1;
}
.navbar-menu a:hover menu {top:var(--navbar-height);}
.navbar-menu menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  gap:var(--space-4);
  padding-bottom: 2rem;
  background: var(--color-background);
  position:fixed;
  left:0;right:0;top:-100px;
  z-index: 0;
  transition:var(--transition-base);
}
.navbar-menu menu a {
  display:block;
  position:relative;
  z-index:var(--zindex-default);
}

.navbar-backdrop {height:var(--navbar-height);}

.navbar-notification {margin:0 .5rem;position:relative;}
.navbar-notification-menu {}
.navbar-notification-menu:before {content:'';display:block;position:absolute;left:50%;right:0;top:-8px;bottom:0;}
.navbar-notification-menu-title {}
.navbar-notification-menu-all {position:absolute;top:13px;right:1rem;}
.is-active + .navbar-notification-menu {height:auto;transform:scale(1);}

.navbar-user {display:flex;align-items:center;margin:0 0 0 auto;position:relative;}
/* .navbar-user-card {max-width:var(--width-medium);height:0;position:absolute;top:32px;right:0;z-index:var(--zindex-popover);transform:scale(0);} */

/* // .is-active .navbar-logo {z-index:calc(var(--zindex-menu) + 2);z-index:5;}
// .is-active .navbar-user {z-index:calc(var(--zindex-menu) + 2);z-index:5;}
// .is-active .navbar-user .navbar-user-trigger img {background:var(--color-background);}
// .is-active .navbar-menu-item {color:var(--gray0);}
// .is-active .navbar-menu-item > a {position:relative;z-index:calc(var(--zindex-menu) + 2);}
// .is-active .navbar-menu-item i {border-top-color:var(--gray0);}
// .is-active .navbar-menu-item menu {top:0;}
// .is-active .navbar-menu-item menu a {opacity:1;}
// .is-darktheme .navbar-menu-item {color:var(--gray0);} */

/* PAGE COMPONENT */
/* page에 패딩을 줄 수 있고, articleㅇ에 패딩을 줄 수 있다. 마이너스 마진을 줄 수도 있다. */
/* Page container. 컨테이너의 특정 섹션은 또 사이즈가 달라질 수 있다. */
/* ReactNative safeAreaView, scrollView */

.page {
  /* margin: 0 auto 때문에 모션이 안 됨 */
  margin: 0 auto;
  padding: var(--space-4) var(--grid-margin) 4rem;
  box-sizing: border-box;
  position:relative;
}

/* fluid or with sidemenu */
.page[data-size=fluid] {
  max-width: 100%;
  padding: 0 0 8rem;
}

/* 1. with sidemenu */
/* 2. navbar with sidebar fluid layout */
.page[data-size=wide] {
  display: flex;
  justify-content: space-between;
}
.page[data-size=narrow] {}

.sidebar-menu {
  display:block;
  width: 100%;
  max-width: var(--width-sidemenu);
  /* height: calc(100vh - var(--navbar-height)); */
  /* 1.25rem is scroll */
  padding: var(--space-4) 1.25rem var(--space-4) calc(var(--grid-margin));
  background:var(--color-background);
  scrollbar-gutter: stable;
  transition:transform var(--duration-slowly) cubic-bezier(.165,.84,.44,1);
  transform:translateX(-120%);
  position: fixed;
  left:0px;
  top:calc(var(--navbar-height));
  bottom:0px;
  z-index:var(--zindex-menu);

}
.sidebar-menu span {}
.sidebar-menu menu {display:flex;flex-direction: column;margin:2rem 0 0 0;
}
.sidebar-menu mm-menuitem {margin:0 0 var(--space-1) 0;}
.sidebar-menu menu a {
  display:flex;align-items:center;
  height: var(--size-medium);
  margin: 0 0 0 1rem;
  padding: 0 0 0 1.5rem;
  border-left: var(--border);
  /* font-size:var(--font-size-small); */
  color:var(--color-text);
  text-transform: capitalize;
  position: relative;
}
.sidebar-menu menu a i {display:none;}
.sidebar-menu::-webkit-scrollbar {display:none;width:.5rem;height:auto;padding:.125rem;}
.sidebar-menu:hover::-webkit-scrollbar {display:block;}
.sidebar-menu::-webkit-scrollbar-track {background:inherit;}
.sidebar-menu::-webkit-scrollbar-thumb {margin:.125rem;background:var(--color-background-strong);border-radius:var(--radius);}
.sidebar-menu::-webkit-scrollbar-button {display:none;background-color:inherit;}
.sidebar-menu::-webkit-scrollbar-corner {background-color:inherit;}

/* using hover-item */
.sidebar-menu menu a[aria-current=page] {
  border-color: var(--color-primary);
  --hover-outline: calc(var(--space-2) / 2 * -1);
  cursor: pointer;
}
.sidebar-menu menu a:hover:before,
.sidebar-menu menu a[aria-current=page]:before {
  /* // z-idnex 이슈 */
  content:'';
  display:block;
  background-color:var(--color-background-weak);
  border-radius:var(--radius);
  position:absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin-left: -1.125rem;
  /* margin: var(--space-1-minus) var(--space-2-minus); */
  /* left:var(--hover-outline);right:var(--hover-outline);top:var(--hover-outline);bottom:var(--hover-outline); */
  z-index: -1;
}

.is-menu-opened .sidebar-menu {
  transform:translateX(0);overflow-y:auto;
  overscroll-behavior:contain;
}

.is-menu-opened .page,
.is-menu-opened .footer {margin-left:calc(var(--width-sidemenu) + var(--grid-margin) + 1rem);}


/* --small */
@media (max-width:1080px) {
  .is-menu-opened .page,
  .is-menu-opened .footer {margin-left: 0;}
}

/* prioriy navigation patterns */
/* ul {
  display: flex;
  height: 3rem;
  overflow: hidden;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 80%;
}
li {
  a {
    display: block;
    padding: 1rem 0.5rem;
    text-decoration: none;
    white-space: nowrap;
  }
}
&.open {
  ul {
    height: auto;
    display: block;
  }
}
} */



.navbar-user-trigger + * {
  width: 100%;
  min-width: 320px;
  max-width: 320px;
  position: absolute;
  right: 0;
  top: 40px;

}
.navbar-user-trigger.is-active + * {
  display: block;
}