
.switch {
  --switch-width: 40px;
  --switch-height: 20px;
  --switch-radius: var(--radius);

  /* 
  --switch-thumb-size: 24px;
  --switch-thumb-inset: 4px;
  --switch-thumb-transform: calc(100% - var(--switch-thumb-inset));
  --switch-border-color: var(--color-border-secondary);
  --switch-border: 2px solid var(--switch-border-color);
  */

  display:flex;
  align-items: center;
  gap: var(--space-2);
  height: var(--switch-height);
  position:relative;
}

.switch input {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin: 0;

  /* flex-shrink: 0; */
  --b1: 100% 0 0;
  --bc: 27.8078% .029596 256.847952;
  --tglbg: oklch(var(--b1) / 1);
  /* offset height */
  --handleoffset: var(--switch-height);
  --handleoffsetcalculator: calc(var(--handleoffset)* -1);
  --togglehandleborder: 0 0;
  --padding: 0 0 0 2px var(--tglbg) inset;
  
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: var(--switch-radius);
  border: var(--border);
  border-color: var(--color-border-stronger);
  background-color: var(--color-background-weak);
  color: black;
  transition: background, box-shadow .2s ease-out;
  /* box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset, 0 0 0 2px var(--tglbg) inset, var(--togglehandleborder); */
  box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset, var(--padding);
}

.switch input:checked {
  background-image: none;
  --handleoffsetcalculator: var(--handleoffset);
  --tw-text-opacity: 1;
  /* color: black; */
  background-color: var(--color-primary);
}
.switch input:disabled {}
.switch input:disabled + label {cursor:not-allowed;opacity:.5;}
.switch:focus-within label:before {
  outline: 3px solid var(--color-point);
}