
.switch {
  --switch-width: 40px;
  --switch-height: var(--size-tiny);
  --switch-radius: var(--radius);

  display:block;
  height: var(--switch-height);
  position:relative;
}

.switch input {
  opacity: 0;
  inline-size: 100%;
  position: absolute;
  left: -.5rem;
  right: -.5rem;
  top: -.5rem;
  bottom: -.5rem;

  inline-size: 100%;
}

.switch input + label {
  display:flex;gap:var(--space-2);line-height:var(--switch-height);cursor:pointer;

  /* 
  --switch-thumb-size: 24px;
  --switch-thumb-inset: 4px;
  --switch-thumb-transform: calc(100% - var(--switch-thumb-inset));
  --switch-border-color: var(--color-border-secondary);
  --switch-border: 2px solid var(--switch-border-color);
  */
}
.switch input + label:before {
  content:'';
  display:block;
  width:var(--switch-width);
  height:var(--switch-height);
  border-radius:var(--radius);
  box-sizing:border-box;
  background:var(--gray200);
  transition:background-color .125s;
  transition:all .25s;
}
.switch input + label:after {
  content:'';
  display:block;
  width:var(--switch-height);
  height:var(--switch-height);
  border-radius:var(--radius);
  box-sizing:border-box;
  background:var(--color-background);
  box-shadow:var(--shadow);
  position:absolute;left:0;top:0;
  transition:transform .2s;
}
.switch input:checked + label {}
.switch input:checked + label:before {content:'';background:var(--color-primary);}
.switch input:checked + label:after {transform:translateX(calc(var(--switch-width) - 16px));}
.switch input:disabled {}
.switch input:disabled + label {cursor:not-allowed;opacity:.5;}
.switch:focus-within label:before {
  outline: 3px solid var(--color-point);
}