<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Tooltip</test-text>
    <test-text variant="body-large"
      >용어를 설명하거나 정보의 근거를 보충합니다. 클릭할 수 없는 버튼은 툴팁이 필요
      없다.</test-text
    >

    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd>Popover</dd>
      <dd>Coachmark</dd>
    </dl>

    <section class="component-example">
      <test-group>
        <test-tooltip
          content="제1항의 해임건의는 국회재적의원 3분의 1 이상의 발의에 의하여 국회재적의원 과반수의 찬성이 있어야 한다."
        >
          <!-- <span class="tooltip-trigger" aria-describedby="tooltip1"></span> -->
          <test-icon slot="trigger" name="help-circle"></test-icon>
        </test-tooltip>
        <test-tooltip content="로그인" class="is-icon">
          <test-chip slot="trigger">
            <test-icon slot="icon" name="user"></test-icon>
          </test-chip>
        </test-tooltip>
      </test-group>
      <!-- <span class="tooltip" data-tooltip="Just like this one.">Any element</span> -->
    </section>

    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>trigger</dt>
        <dd>slot || React.ReactNode</dd>
        <dd>아이콘우</dd>
        <dt>content</dt>
        <dd>string</dd>
        <dd>short text, long form text</dd>
      </dl>
    </section>

    <section class="component-guide">
      <test-text variant="subhead">Use when / Don't use when</test-text>
      <test-text variant="body">툴팁의 트리거를 페이지 링크로 사용하지 마세요.</test-text>
      <test-text variant="subhead">Behavior (supportive? supporting)</test-text>
      <test-text variant="body">
        행동을 유도하는 가이드로 사용하지 마세요. 사용자가 반드시 숙지해야 하는 중요한 정보를
        툴팁으로 제공하지 마세요. cognitive? button이나 text link 등으로 충분히 강조하세요. 정보를
        보충하는 다른 맥락. 아코디언? 과 expanded/collapsed
      </test-text>
      <test-text variant="bdoy"> 툴팁의 트리거를 페이지 링크로 사용하지 마세요. </test-text>
      <test-text variant="body"
        >A tooltip is not considered to be a popup in this context, as it is not
        interactive.</test-text
      >
      <test-text variant="body">
        미리 열어두지 마라이. 페이지 로딩 시점에 열려 있는 경우 doorhanger/pointing arrow 필요.
        하지만 그것은 툴팁이 아닌 새로운 컴포넌트로 정의할 필요가 있겠다. 하지만 이것이 필요하지
        않는 인터페이스 설계가 best.
      </test-text>

      <p>MD3 rich tooltip(title, description, actions-link/button) / plain tooltip</p>
    </section>
  </article>
</main>
