<main class="page">
  <mm-pageheader
    title="Tooltip"
    description="용어를 설명하거나 정보의 근거를 보충합니다."
  ></mm-pageheader>

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd>Popover</dd>
    <dd>Coachmark</dd>
  </dl>

  <section class="component-example">
    <mm-group variant="button">
      <mm-tooltip content="로그인" align="center">
        <mm-icon-button slot="trigger" icon="user"></mm-icon-button>
      </mm-tooltip>
      <mm-tooltip content="우측 정렬" align="right">
        <mm-icon-button slot="trigger" icon="user"></mm-icon-button>
      </mm-tooltip>
      <mm-tooltip
        content="제1항의 해임건의는 국회재적의원 3분의 1 이상의 발의에 의하여 국회재적의원 과반수의 찬성이 있어야 한다."
      >
        <!-- <span class="tooltip-trigger" aria-describedby="tooltip1"></span> -->
        <mm-icon slot="trigger" name="help-circle"></mm-icon>
      </mm-tooltip>
    </mm-group>
    <mm-separator></mm-separator>
    <span
      class="tooltip has-tooltip-fade"
      data-tooltip="Just like this one."
      style="display: inline; width: auto; position: relative"
    >
      Any element
    </span>
  </section>
  <style>
    [data-tooltip]:not([disabled]).has-tooltip-fade:before {
      transition: opacity 0.15s linear, visibility 0.15s linear;
    }
    [data-tooltip]:not([disabled]):hover:before {
      opacity: 1;
      visibility: visible;
    }
    [data-tooltip]:not([disabled]):before {
      display: inline-block;
      /* hyphens: auto; */
      content: attr(data-tooltip);
      opacity: 0;
      font-size: 12px;
      overflow: hidden;
      pointer-events: none;
      visibility: hidden;
      background: goldenrod;
      border-radius: var(--radius);
      padding: var(--space-1) var(--space-2);
      text-overflow: ellipsis;
      white-space: pre;
      position: absolute;
      right: auto;
      bottom: auto;
      left: 50%;
      top: 0;
      z-index: 35;
      margin-top: -5px;
      /* margin-bottom: auto; */
      -webkit-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
    }
  </style>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <dt>trigger</dt>
      <dd>slot || React.ReactNode</dd>
      <dt>content</dt>
      <dd>string</dd>
      <dd>short text, long form text</dd>
      <dt>align</dt>
      <dd>'left' | 'right' | 'center'</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text variant="body">
        툴팁의 트리거를 페이지 링크로 사용하지 마세요. 대안. coachmark와 명확한 구분이 필요.
      </mm-text>
      <mm-text variant="body">
        페이지 로딩 시점에 열려 있는 인터페이스는 엄밀히 말하면 툴팁은 아님. doorhanger/pointing
        arrow가 필요하며 새로운 기능을 가이드하는 역할.
      </mm-text>
      <mm-text variant="body">
        작은 화면에서 바텀 시트나 모달 또는 논모달로 제공해야 한다.
      </mm-text>
      <mm-text variant="body"
        >"MD3 rich tooltip(title, description, actions-link/button) / plain tooltip"</mm-text
      >
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">Platform problems</mm-text>
      <mm-text variant="body">
        Behavior - supportive / not interactive. 사용자가 반드시 숙지해야 하는 중요한 정보를
        툴팁으로 제공하지 마세요. 정보를 보충하여 설명하는 맥락. 아코디언도 마찬가지. 행동을
        유도하는 가이드로 사용하지 마세요. 중요한 액션을 요할 때는 cognitive? button이나 text link
        등 충분히 강조되고 눈에 띄는 컴포넌트를 사용.
      </mm-text>
    </mm-text-group>
  </section>
</main>
