<main class="page js-tab">
  <header class="page-header">
    <mm-pageheader title="ButtonGroup" description="버튼 그룹"></mm-pageheader>
    <dl class="article-aka">
      <dt>a.k.a</dt>
      <dd>button</dd>
      <dd>text - icon(avatar)</dd>
    </dl>
  </header>
  <section class="component-example">
    <mm-group variant="chip">
      <mm-tile size="small">
        <mm-group variant="chip">
          <mm-button variant="tertiary" size="large">취소</mm-button>
          <mm-button variant="primary" size="large">저장</mm-button>
        </mm-group>
      </mm-tile>
      <mm-tile size="small">
        <mm-group variant="chip">
          <mm-button variant="text" size="large">건너뛰기</mm-button>
          <mm-button variant="secondary" size="large">다음</mm-button>
        </mm-group>
      </mm-tile>
      <mm-tile size="small">
        <mm-group variant="chip">
          <mm-button variant="tertiary" size="large">이전</mm-button>
          <mm-button variant="secondary" size="large">다음</mm-button>
        </mm-group>
      </mm-tile>
      <mm-tile size="small">
        <mm-group variant="chip" class="hero-actions">
          <mm-button variant="primary" size="large" href="#components">지금 가입하기</mm-button>
          <mm-button variant="text" size="large">더 알아보기</mm-button>
        </mm-group>
      </mm-tile>
    </mm-group>
  </section>

  <section class="component-props">
    <!-- <mm-text variant="subhead">Props</mm-text> -->
    <dl>
      <dt>primaryAction</dt>
      <dd>{label: string, onClick: () => void}</dd>
      <dt>secondaryAction</dt>
      <dd>{label: string, onClick: () => void}</dd>
      <!-- <dt>tertiaryAction<abbr>?</abbr></dt>
      <dd>{label: string, onClick: () => void}</dd> -->
    </dl>
  </section>
  <!-- 참고: 버튼 네이밍. 'link' | 'subtle' | 'primary' / 'solid' | 'outline' | 'plain' |'text' -->
  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text>
        항상primary action에 먼저 포커스되어야 합니다. tabindex 속성은 대신 마크업 순서와 정렬
        스타일링의 결합.
      </mm-text>
      <mm-text>
        텍스트 버튼은 버튼 처럼 보이지 않을 수 있기 때문에 학습된? 보편적인? 약속된? 누구랑 약속?
        패턴에서 사용하세요. 이 시스템에는 정의하지 않지만 세로 정렬되는 버튼 그룹에서 text button이
        아래에 배치되는 패턴과 혼동되지 않도록 버튼의 아래 가이드 텍스트를 배치하지 않습니다. ->
        사실은 모든 버튼에서 전환을 유도하는 텍스트를 사용없이 인터페이스만으로.
      </mm-text>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">Platform problems</mm-text>
    </mm-text-group>
    <br /><br />
    <mm-tile>
      <mm-text variant="label-strong">이 문서가 도움이 되었나요?</mm-text>
      <small title="17 out of 439 found this helpful"> 417명 중 349명이 도움을 받았어요. </small>
      <div style="height: 1rem"></div>
      <mm-group variant="">
        <mm-button>도움이 됐어요</mm-button>
        <mm-button>부족해요</mm-button>
      </mm-group>
    </mm-tile>
  </section>
</main>
