<main class="component">
  <article class="article">
    <test-text variant="title">Entity</test-text>
    <p class="article-description">개체. menu item과 구별이 되나?</p>

    <test-text variant="subhead">Best practices</test-text>
    <ul>
      <li>학습이 필요없는 보편 케이스와 도메인에 종속적인 특수 케이스를 구분하기.</li>
    </ul>

    <test-text variant="subhead">Related</test-text>
    <ul>
      <li>Avatar</li>
      <li>Action - Chip</li>
      <li>Text - name / description / description2</li>
      <li>Utility - Truncated text</li>
    </ul>

    <p>
      <test-avatar size="huge">#</test-avatar>
      <b class="item-name">windows-emoji</b>
      <p class="item-description">tag page head</p>
    </p>

    <test-text variant="subhead">User</test-text>
    <test-text variant="body-large">
      하나의 유저를 표현. 클릭할 수 있는 요소가 아니라 페이지를 대표하는 요소, 시각 정보로만 동작한다. <mark>페이지 레벨</mark> 정보의 주체.
    </test-text>

    <test-text variant="subhead">User item</test-text>
    <test-text variant="body-large">다수의 유저 목록을 표현. 또는 <mark>아티클 레벨</mark> 정보의 주체.</test-text>
      <test-tag>large size avatar with toggle action</test-tag>

    <test-text variant="subhead">Share item</test-text>
    <test-text variant="body-large">페이지 공유. 소셜 미디어 링크.</test-text>
    <test-menu-item label="github">
      <test-avatar slot="avatar">
        <i class="iconoir-github-circle"></i>
      </test-avatar>
      <test-chip slot="action"></test-chip>
    </test-menu-item>
    <!-- class="social-link social-github"
    role="menuitem"
    href="https://github.com/soojubm"
    target="_blank"
    rel="noopener noreferrer" -->
    </div>
  </article>
</main>
