<main class="page">
  <mm-pageheader
    title="Switch"
    description="켜고 끄는 옵션입니다. 사용자는 실행한 옵션의 결과를 즉시 확인할 수 있습니다."
  ></mm-pageheader>

  <!-- A switch is a visual toggle between two mutually exclusive states — on and off.  -->

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd>Toggle</dd>
  </dl>

  <section class="component-example">
    <mm-switch name="newsletter">뉴스레터 받아보기</mm-switch>
    <div style="height: var(--space-3)"></div>
    <mm-switch name="newsletter" checked disabled>Receive weekly newsletter</mm-switch>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <dt>label?</dt>
      <dd>string</dd>
      <dt>value</dt>
      <dd>boolean</dd>
      <dt>isDisabled<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>onChange</dt>
      <dd>(event: React.ChangeEvent&lt;HTMLInputElement&gt;) => void</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-group>
        <mm-tag> Behavior- instantly action</mm-tag>
        <mm-tag> On & off context</mm-tag>
      </mm-group>
    </mm-text-group>

    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text variant="body">
        단일한 옵션을 즉시 실행하고 즉각 결과를 반영합니다. 따라서 저장 버튼과 함께 사용하지
        않습니다.
      </mm-text>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">Platform problems</mm-text>
      <mm-text variant="body">
        스위치의 왼쪽과 오른쪽에 각각 레이블을 배치하여 콘텐츠를 스위칭하는 맥락으로 사용하지
        마세요. 콘텐츠 스위칭을 위해 탭이나 칩 그룹을 사용하세요.
      </mm-text>
      <mm-text variant="body">레이블은 행동을 암시하는 동사를 반드시 포함해야 합니다.</mm-text>
    </mm-text-group>
  </section>
</main>
