<main class="page">
  <mm-text variant="title" title="or Box">Switch</mm-text>
  <mm-text variant="body-large"
    >켜거나 끌 수 있는 옵션입니다. 사용자는 변경한 옵션에 대한 결과를 즉시 확인할 수
    있습니다.</mm-text
  >
  <p hidden>A switch is a visual toggle between two mutually exclusive states — on and off.</p>

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd>Toggle</dd>
  </dl>

  <section class="component-example">
    <mm-switch name="newsletter">뉴스레터 받아보기</mm-switch>
    <div style="height: var(--space-3)"></div>
    <mm-switch name="newsletter" disabled>Receive weekly newsletter</mm-switch>
  </section>

  <section class="component-props">
    <!-- <mm-text variant="subhead">Props</mm-text> -->
    <dl>
      <dt>name</dt>
      <dd>string</dd>
      <dd>id={props.name} props 필요 object/type 불필요</dd>
      <dt>label?</dt>
      <dd>string</dd>
      <dd>isHiddenLabel.</dd>
      <dt>value</dt>
      <dd>boolean ? on || off</dd>
      <dd>TODO</dd>
      <dt>isDisabled<attr>?</attr></dt>
      <dd>boolean</dd>
      <dd></dd>
      <dt>onChange</dt>
      <dd>(event: React.ChangeEvent[HTMLInputElement>) => void</dd>
    </dl>
  </section>

  <!-- <mm-text variant="subhead">anatomy</mm-text>
    <ul>
      <li>Switch</li>
      <li>SwitchLabel</li>
    </ul> -->

  <section class="component-guide">
    <mm-text variant="subhead">Behavior</mm-text>
    <mm-text variant="body">
      instantl action, not batch. 단일한 옵션을 즉시 실행하고 즉각 결과를 반영합니다. 다중 옵션의
      부분으로 저장 버튼과 함께 사용하지 않습니다.
    </mm-text>
    <mm-text variant="subhead">Visual style</mm-text>
    <mm-text variant="body">
      on & off context. 스위치의 왼쪽과 오른쪽에 각각 레이블을 배치하여 콘텐츠를 스위칭하는 맥락으로
      사용하지 마세요. 대안. 탭이나 칩.
    </mm-text>
    <mm-text variant="subhead">Content</mm-text>
    <mm-text variant="body"> 레이블은 동사를 포함합니다. </mm-text>

    <mm-text variant="subhead">A11y</mm-text>
    <mm-text variant="body">on & off label</mm-text>
  </section>
</main>
