@import '/public/stylesheets/shared/webfonts.css';
@import '/public/stylesheets/shared/reset.css';
@import '/public/stylesheets/shared/variables.css';
@import '/public/stylesheets/shared/keyframes.css';

/* @import '/public/components/navbar/navbar.css';
@import '/public/components/footer/footer.css'; */


.feature {display:flex;flex-wrap:wrap;gap:2rem;}

.feature-head {width:100%;margin:0 auto 2rem;}
.feature-head-title {word-break:keep-all;}

.feature-title {width:100%;margin:0 0 var(--space-after-title) 0;@mixin text-subhead;}

.feature-item {width:100%;max-width:320px;margin:2rem 0;position:relative;z-index:1;}
.feature-item test-avatar {display:block;margin:0 0 .5rem 0;}
/* .feature-item-avatar {display:block;margin:0 0 var(--space-1) 0;font-size:2rem;position:relative;}
.feature-item-avatar:before {
  content:'';
  display:block;
  width: 100%;
  height: var(--size-tiny);
  background: var(--color-background-weak);
  border-radius: var(--radius);
  position:absolute;left:0rem;top:0;z-index:-1;} */
.feature-item-link {display:block;margin:var(--space-after-description) 0 0 0;}

.feature-item[data-variant=simple] {
  padding: 2rem;
  box-sizing: border-box;
  border-radius: var(--radius);
  background: var(--color-background-weak);
}

@media (--tiny) {
	.feature-item {max-width:100%;}
}