/* @charset 'utf-8'; */
@import 'shared/webfonts.css';
@import 'shared/variables.css';
@import 'shared/reset.css';
@import 'layout/navbar.css';
@import 'pages/component.css';

/*
.scroll {position: fixed;bottom: 1rem;right: 1rem;z-index: var(--z-index-default);}
.scroll-indicator {}
.scroll-indicator i {
  width: 2px;
  height: 8px;
  background: var(--gray800);
  margin: 8px auto 0;
  animation: bounce 0.5s infinite alternate;
  transform: rotate(90deg);
}
 */

/* // todo icon -> indicator */
.design-ticker-item {
  width:380px;
  filter: grayscale(.5);
}
.design-ticker-overay {
  height: inherit;
  background: linear-gradient(to bottom, rgba(255,255,255,.25),rgba(255,255,255,.25),rgba(255,255,255,.25),rgba(255,255,255,1));
  z-index: 0;
  top: auto;
}

[data-theme=dark] .design-ticker-overay {
	background: linear-gradient(to bottom, rgba(31,35,33,0), rgba(31,35,33,.5), rgba(31,35,33,1));
}



@define-mixin image-centered {width:auto;height:auto;max-width:150%;max-height:150%;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}
[data-temp=bleeding] {
  margin: 0 -50vw;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@define-mixin clearfix {
  &:after {content:'';display:block;clear:both;}
}

/* // item in card component // active */
@define-mixin hover-item {
  --hover-outline: calc(var(--space-3) / 2 * -1);
  cursor: pointer;

  &:before {
    /* // z-idnex 이슈 */
    content:'';
    display:block;
    background-color:var(--color-background-weak);
    border-radius:var(--radius);
    position:absolute;
    left:var(--hover-outline);right:var(--hover-outline);top:var(--hover-outline);bottom:var(--hover-outline);
    z-index: -1;
  }
  figure {box-shadow:var(--shadow) !important;}
}

/* // @media (prefers-color-scheme: dark) {
//   :root {
//     // --title-color: #EFEFEF;
//     // --desc-color: peachpuff; 
//   }
//   // img {filter: brightness(.8) contrast(1.2);}
// } */

.browser {
  text-align: center;
  padding: 2rem;
  background: var(--red800);
  background: var(--color-background);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zindex-modal);
}

/* 
// todo flex일 대 min-width가 필수가 된다.. margin/padding은 container에 의존
@mixin stack-vertical-scroll {
  display:flex; // 중복
  flex-wrap: nowrap;
  white-space:nowrap;
  overflow:auto;

  scroll-behavior: smooth;
  > * {min-width:auto;}
  &::-webkit-scrollbar {display:none;}
} */

