@charset 'utf-8';

@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'components/avatars'; // -elevated-avatar
@import 'components/tiles'; // for elevated-button

@import 'abstracts/webfonts';
@import 'abstracts/icon';
@import 'abstracts/keyframes';

@import 'base/reset';
@import 'base/form';

@import 'pages/presentations';


@import 'components/chip';
@import 'components/breadcrumb.css';
@import 'components/graph.css';
@import 'components/modal';
@import 'components/snackbar';
@import 'components/step';
@import 'components/toast';
@import 'components/tooltip';
@import 'components/pagination';
@import 'components/banner';
@import 'components/cursor';
@import 'components/empty';
@import 'components/hero';
@import 'components/loader';
@import 'components/tag';
@import 'components/share';
@import 'components/dropdown';
@import 'components/timeline';
@import 'components/skip';
@import 'components/skeleton';

@import 'components/item';

@import 'layout/navbar';
@import 'layout/titlebar';
@import 'layout/footer';

@import 'pages/design';
@import 'pages/component';
@import 'pages/about';
@import 'pages/post';
@import 'pages/cake';
@import 'pages/profile';
@import 'pages/cart';
@import 'pages/product';
@import 'pages/class';
@import 'pages/contact';
@import 'pages/terms';
@import 'pages/help';
@import 'pages/music';
@import 'pages/sign';
@import 'pages/faq';
@import 'pages/setting';
@import 'pages/checkout';
@import 'pages/tokens';
@import 'pages/order';
@import 'pages/changelog';
@import 'pages/landing';
@import 'pages/filter';

// .is-loading h1,
// .is-loading p {
//   background: var(--color-background-weak);
//   color: var(--color-background-weak);
// }


// bottom:calc(constant(safe-area-inset-bottom) + 1rem);bottom:calc(env(safe-area-inset-bottom) + 1rem);
.bottombar {display:flex;justify-content:space-around;padding:.25rem 0 calc(constant(safe-area-inset-bottom) + .5rem);padding:.5rem 0 calc(env(safe-area-inset-bottom) + .5rem);border-radius:var(--radius);background:var(--color-background);box-shadow:var(--shadow);}
.bottombar-item {width:100%;color:var(--color-text);position:relative;}
.bottombar-item-icon {@include avatar-medium;margin:0 auto;background:none;}
.bottombar-item-label {display:block;margin:-.25rem 0 0 0;text-align:center;font-size:10px;text-decoration:none;color:var(--color-text);}
.bottombar-item em {display:flex;width:4px;height:4px;background:var(--red800);border-radius:var(--radius);position:absolute;left:50%;top:50%;transform:translate(var(--space-3),-1.125rem);}
.bottombar.is-temp-real {@include position-bottom;
  // padding-bottom:.5rem;bottom:calc(constant(safe-area-inset-bottom));bottom:calc(env(safe-area-inset-bottom));margin:.5rem;z-index:var(--zindex-bottombar);
}
.bottombar-item.is-active {}


.scroll {position:fixed;bottom:1rem;right:1rem;z-index:var(--z-index-default);}
.scroll-indicator {}
.scroll-indicator i {width:2px;height:8px;background:var(--gray800);margin:8px auto 0;animation:bounce 0.5s infinite alternate;transform:rotate(90deg);}
.scroll-top {@include avatar-medium;box-shadow:1px 1px 1rem rgba(0,0,0,.1)}
.scroll-top i {transform:rotate(-90deg);}
.scroll-bottom {display:none;}
.scroll-top .is-visible {right:50px;}

.ellipsis {
	height: 20px;
	background: var(--color-background);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	&:after {
		content: '...';
		display: block;
		letter-spacing: 1px;
		position: absolute;
		bottom: -6px;
		left: 0;
		z-index: 2;
	}
}


.avatar-badge {@include avatar-tiny;border:2px solid var(--color-background);background:var(--color-accent);position:absolute;left:-.25rem;top:-.25rem;z-index:1;}

.statistic {display:flex;justify-content:space-evenly;}
.statistic-item {position:relative;}
.statistic-item:hover {@include hover-item;}
.statistic-label {display:block;color:var(--color-text-light);}
.statistic-value {display:block;margin:-.25rem 0 0 0;@include text-subhead;}

.statistic[data-size=small] {align-items:center;justify-content:center;margin:var(--space-3);line-height:var(--font-line-height-small);}
.statistic[data-size=small] .statistic-item {display:flex;align-items:center;}
.statistic[data-size=small] .statistic-item + .statistic-item {margin-left:var(--space-2);}
.statistic[data-size=small] .statistic-value {margin:0 0 0 var(--space-1);font-size:var(--font-size-body);}

.full-width {
	width: 100vw;
	max-width: 100vw;
	margin: 0 -50vw;
	position: relative;
	left: 50%;
	right: 50%;
}

.carousel {position:relative;}
.carousel-viewer {@include group-bleeding;display:block;margin:-1rem;padding:1rem;}
.carousel-viewer-slide {@include tile-elevated-small;display:inline-block;width:10rem;margin-right:var(--space-after-item);}
.carousel-viewer-slide:hover {@include hover-item;}
.carousel-viewer-slide-media {display:block;@include avatar-medium;margin:0 0 2rem;}
.carousel-viewer-slide-name {color:var(--color-text);}
.carousel-dots {width:100px;height:10px;margin-left:-36px;text-align:center;position:absolute;left:50%;bottom:-25px;z-index:var(--zindex-popover);}
.carousel-dots-dot {float:left;width:10px;height:10px;margin:0px 4px;border-radius:50%;background:rgba(0,0,0,1);cursor:pointer;}
.carousel-dots-dot:hover {width:30px;border-radius:5px;opacity:.5;}
.carousel-arrows {}
.carousel-arrows-prev {@include avatar-medium;box-shadow:var(--shadow);position:absolute;left:calc(0 - 16px);top:50%;z-index:var(--zindex-default);transform:translateY(-50%);}
.carousel-arrows-prev:hover {}
.carousel-arrows-next {@include avatar-medium;box-shadow:var(--shadow);position:absolute;right:-16px;top:50%;z-index:var(--zindex-default);transform:translateY(-50%);}
.carousel-arrows-next:hover {}
.carousel-arrows button.is-disabled {opacity:.2;}

.quote {max-width:400px;@include tile-elevated;}
.quote-avatar {@include avatar-medium;}
.quote-title {margin:var(--space-4) 0 .5rem;@include text-subhead;}
.quote-body {}
.quote-byline {display:block;margin:1rem 0 0 0;}
.quote-byline div {color:var(--color-text);}
.quote-byline div + div {color:var(--color-text-light);}
.quote-action {@include button-primary;width:50%;margin:2rem 0 0 0;}


.offline {display:none;max-width:400px;margin:0 auto;padding:.5rem 1rem;border-radius:var(--radius);background:var(--red800);text-align:center;position:fixed;left:10%;right:10%;top:45%;z-index:var(--zindex-modal);}
.offline p {color:var(--gray0);}

@keyframes shine {
  to {
    background-position:
      100% 0, /* move highlight to right */
      0 0,
      120px 0,
      120px 30px,
      120px 60px;
  }
}



@media (--small) {

  .scroll {display:none}
  .carousel-arrows {display:none;}
  .carousel:hover .carousel-arrows {display:block;}
}



.font-default {font-family:sans-serif;}


.pricing-item {max-width:400px;@include tile-elevated;}
.pricing-item-title {@include text-subhead;}
.pricing-item-price {display:block;margin:1.5rem 0 1rem 0;@include text-title;}
.pricing-item-price-unit {}
.pricing-item-price-per {display:block;margin:0 0 -.25rem 0;color:var(--color-text-light);line-height:var(--font-line-height);}
.pricing-item-description {margin:var(--space-4) 0;}
.pricing-item ul {margin:var(--space-4) 0 1rem 0;}
.pricing-item ul li {}
.pricing-item-upgrade {@include button-primary;width:100%;}
.pricing-item-more {width:100%;@include button-text;margin:var(--space-after-button) 0 0 0;}


// mask-size: contain;
// mask-repeat: no-repeat;
// mask-position: center;
// mask-size: 1rem;
// mask-image: url(./icon-back.svg);
// background-color: var(--link-color);



.subscribe-gosum {    position: absolute;
  top: 5rem;
  left: 50%;
  width: 100%;
  max-width: 480px;
  margin-left: 60px;}
.intro-head{overflow:hidden;position:relative}
.intro-head-title{padding:1rem 0;border-bottom:1px solid #000;font-size:3rem;}
.intro-head-subhead{display:block;font-size:var(--font-size-subhead);position:relative;z-index:1}
.intro-head-subhead b{font-weight:var(--font-weight-bold);}
.intro-head-description{padding:2rem 0 3rem;background:#fb7800;box-sizing:border-box}
.intro-head-description p{max-width:560px;font-size:var(--font-size-subhead);}
.intro-head-description .textfield-input {
  margin: 0 0 .5rem 0;
  border-radius: 0;
  border-color:#000;
  background:#fff;
}
.intro-footer{padding:2rem 0;background:#ebebeb;position:relative}

.intro-subscribe {
  max-width: 400px;
  margin: 1.5rem 0 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.subscribe-field-cta {
  display: inline-block;
  min-width: 104px;
  background: #fb7800;
  padding: 10px 1.5rem 11px;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  background: #161616;
  border: 1px solid #161616;
  color: #fff;
  background: #161616;
  margin: 1rem 0 0;
  padding-right: 1.75rem;
}
@media (max-width:1080px){
.intro-head-title{background:#ebebeb;border-top:1px solid #161616;margin-top:-10rem;font-size:var(--font-size-huge);text-align:center;position:relative;z-index:6}.subscribe-gosum{width:75%;left:auto;top:auto;margin:-2rem auto auto;position:relative;z-index:6}.intro-head-description{position:relative;z-index:7}
.intro-footer{padding:2rem 0 2.5rem}}





.home-mangrove {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #000;
  background: var(--color-newneek);
  position: relative;
  .mangrove1 {
    display: block;
    max-width: 240px;
    margin-top: -140px;
    margin-bottom: 110px;
    transition: all 0.4s;
  }
  .mangrove2 {
    display: block;
    max-width: 230px;
    margin-left: 2rem;
    position: absolute;
    bottom: 2rem;
    transition: all 0.4s ease 0.05s;
  }
  .mangrove-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .5rem 0;
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
    background: #fff;
    position: relative;
    z-index: 1;
    span {
      font-size: 16px;
      color: #000;
    }
  }

  &:hover {
    .mangrove1 {
      transform: translateY(-1.5rem);
    }
    .mangrove2 {
      transform: translateY(-1.05rem);
    }
  }
}


.menulist {@include tile-elevated;}



// :root {
//   --zigzag-size: 1rem;
// }
// .zigzag {background:var(--color-newneek);position:relative;}
// .zigzag:before {
//   content: "";
//   width: 100%;
//   height: var(--zigzag-size);
//   position: absolute;
//   left: 0;
//   top: calc(var(--zigzag-size) * -1);
//   background-image:
//     linear-gradient(-45deg, transparent var(--zigzag-size), var(--color-newneek) 0),
//     linear-gradient(45deg, transparent var(--zigzag-size), var(--color-newneek) 0);
//   background-size: var(--zigzag-size) var(--zigzag-size);
//   background-repeat: repeat-x;
//   background-position: -3px 0;
//   transform: rotateX(180deg);
// }


q {position:relative;}
q:before {
  content: "“";
  display: block;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
}







main, .footer {transition:all .6s ease;}

.is-opened-menu .design,
.is-opened-menu .component,
.is-opened-menu .tokens,
.is-opened-menu .pattern,
.is-opened-menu .foundation {padding-left:calc(var(--menu-width));}

.is-opened-menu .navbar-logo {z-index: 8;}

@media (--small) {
  .is-opened-menu .design,
  .is-opened-menu .component,
  .is-opened-menu .tokens,
  .is-opened-menu .pattern,
  .is-opened-menu .foundation {padding-left:var(--grid-margin);}
}

.foundation {}
.foundation-tile {padding:4rem var(--grid-margin);}
.foundation-c1 {}

.foundation-c2 {display:flex;}
.foundation-c2 div {width:50%;padding:4rem var(--grid-margin);}


.foundation-unit {@include layout-large;display:flex;flex-wrap:wrap;justify-content:space-between;}
.foundation-unit-title {width:100%;@include text-title;}
.foundation-unit-box {width:calc(50%);@include tile-flat;}


.dictoinary-item {
  padding: 1rem var(--grid-margin);
  display: flex;
  // justify-content: space-between;
  font-size: var(--font-size-title);
  b {width:40%;font-weight:var(--font-weight-normal);}
  span {width:60%;}
}




.bookitem {@include tile-elevated;}
.bookitem-cover {padding-top:50%;background:var(--gray100);border-radius:var(--radius);position:relative;}
.bookitem-cover img {
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 100%;
  margin: auto;
  box-shadow: var(--shadow);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -.5rem;
  transition: all .4s;}
.bookitem-name {margin:1rem 0 0;font-size:var(--font-size-body);white-space:normal;}
.bookitem-description {display:block;color:var(--color-text-light);}
.bookitem-byline {}
.bookitem-publishedyear {color:var(--color-text-light);}

.ticker-headline {
  cursor: default;
  display: flex;
  text-align: center;
  user-select: none;
}
.ticker-headline h1 {
  animation: marquee 12s linear infinite;
  white-space: nowrap;
  padding: 0 1em;
}
.ticker-headline:hover h1 {
  animation-play-state: paused;
}





.graph2 {
  display: flex;
  align-items: center;
}
.graph-bar {
  flex: auto;
  height: 0.5rem;
  margin: 0 var(--space-2);
  background-color: var(--color-background-weak);
  border-radius: var(--radius);
  overflow: hidden;
  position: relative;
}
.graph-bar b {
  width: 90%;
  height: inherit;
  display: block;
  background: var(--color-accent);
  position: absolute;
}
.graph-label {
  display: block;
  width: 46px;
  font-weight: var(--font-weight-normal);
}
.graph-value {
  width: 1.75rem;
  text-align: right;
  color: var(--color-text-light);
}



.feeds {@include layout-medium;}
.feed {margin:3rem 0;}
.feed-content {padding:1rem;}
.feed-content-media {height:200px;margin:0 0 var(--space-3) 0;overflow:hidden;object-fit:cover;border-radius:var(--radius);
}
.feed-content-paragraph {margin:0 0 var(--space-3) 0;line-height:1.6;}
.feed-reaction {margin:var(--space-4) 0 0 0;position:relative;z-index:1;}
.feed-reaction-icon {width:24px;height:24px;font-size:var(--font-size-caption);}
.feed-user {margin:var(--space-3) 0;}