@charset 'utf-8';

@import 'abstracts/variables';
@import 'abstracts/mixins';

// todo mixins
@import 'abstracts/avatars';
@import 'abstracts/tiles';


@import 'abstracts/webfonts';
@import 'abstracts/icon';
@import 'abstracts/keyframes';

@import 'base/reset';
@import 'base/form';

@import 'components/chip';
@import 'components/breadcrumb.css';
@import 'components/graph.css';
@import 'components/modal';
@import 'components/snackbar';
@import 'components/step';
@import 'components/toast';
@import 'components/tooltip';
@import 'components/pagination';
@import 'components/banner';
@import 'components/cursor';
@import 'components/empty';
@import 'components/hero';
@import 'components/loader';
@import 'components/tag';
@import 'components/share';
@import 'components/dropdown';

@import 'components/skip';
@import 'components/skeleton';

// todo components
@import 'abstracts/item';


@import 'layout/navbar';
@import 'layout/titlebar';
@import 'layout/footer';

@import 'pages/design';
@import 'pages/component';
@import 'pages/about';
@import 'pages/post';
@import 'pages/cake';
@import 'pages/profile';
@import 'pages/cart';
@import 'pages/product';
@import 'pages/contact';
@import 'pages/terms';
@import 'pages/help';
@import 'pages/music';
@import 'pages/sign';
@import 'pages/faq';
@import 'pages/setting';
@import 'pages/checkout';
@import 'pages/tokens';
@import 'pages/order';
@import 'pages/changelog';


// bottom:calc(constant(safe-area-inset-bottom) + 1rem);bottom:calc(env(safe-area-inset-bottom) + 1rem);
.bottombar {display:flex;justify-content:space-around;padding:.25rem 0 calc(constant(safe-area-inset-bottom) + .5rem);padding:.5rem 0 calc(env(safe-area-inset-bottom) + .5rem);border-radius:var(--radius);background:var(--color-background);box-shadow:var(--shadow);}
.bottombar-item {width:100%;position:relative;}
.bottombar-item-icon {@include avatar-medium;margin:0 auto;background:none;}
.bottombar-item-label {display:block;margin:-.25rem 0 0 0;text-align:center;font-size:10px;text-decoration:none;color:var(--color-text);}
.bottombar-item em {display:flex;width:4px;height:4px;background:var(--red800);border-radius:var(--radius);position:absolute;left:50%;top:50%;transform:translate(.75rem,-1.125rem);}
.bottombar.is-temp-real {@include position-bottom;
  // padding-bottom:.5rem;bottom:calc(constant(safe-area-inset-bottom));bottom:calc(env(safe-area-inset-bottom));margin:.5rem;z-index:var(--zindex-bottombar);
}
.bottombar-item.is-active {}

.star {padding:0;font-size:var(--font-size-subhead);line-height:1;color:var(--color-text-light);transition:all .2s ease;}
.star + .star {}
.star.is-rated {color:#ffe623;transform:scale(1.2);}
.star.is-hovered {color:#fc0;transform:scale(1.2);}

.rating {text-align:center;position:relative;}
.rating-title {}
.rating-score {display:block;font-size:var(--font-size-huge);color:var(--color-text);}
.rating-star {display:flex;justify-content:center;height:32px;position:relative;}
.rating-star i {color:var(--gray200);}
.rating-star-front {position:absolute;left:0;top:0;z-index:var(--zindex-default);}
.rating-star-front i {color:rgba(255,200,0,1);}
.rating-star-back {position:absolute;left:0;top:0;z-index:0;}
.rating-count {}

.rating2 {display:flex;align-items:center;}
.rating2-star {margin:0 .25rem 0 0;font-size:var(--font-size-body);color:var(--red800);}
.rating2-score {font-size:var(--font-size-body);}

.rating2.is-large {display:flex;align-items:center;}
.rating2.is-large .rating2-star {margin:0 .5rem 0 0;font-size:var(--font-size-subhead);color:var(--red800);}
.rating2.is-large .rating2-score {font-size:1.25em;}

.scroll {position:fixed;bottom:1rem;right:1rem;z-index:var(--z-index-default);}
.scroll-indicator {}
.scroll-indicator i {width:2px;height:8px;background:var(--gray800);margin:8px auto 0;animation:bounce 0.5s infinite alternate;transform:rotate(90deg);}
.scroll-top {@include avatar-medium;box-shadow:1px 1px 1rem rgba(0,0,0,.1)}
.scroll-top i {transform:rotate(-90deg);}
.scroll-bottom {display:none;}
.scroll-top .is-visible {right:50px;}

.ellipsis {
	height: 20px;
	background: var(--color-background);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	&:after {
		content: '...';
		display: block;
		letter-spacing: 1px;
		position: absolute;
		bottom: -6px;
		left: 0;
		z-index: 2;
	}
}


.avatar-badge {
  @include avatar-tiny;border:2px solid var(--color-background);background:gold;position:absolute;left:-.25rem;top:-.25rem;
}
// todo
.notification-unread {
  @include avatar-tiny;border:2px solid var(--gray0);background:gold;position:absolute;left:-.25rem;top:-.25rem;
}


.statistic {display:flex;justify-content:space-between;}
.statistic-item {position:relative;z-index:1;}
.statistic-item:hover {@include hover-item;}
.statistic-label {display:block;color:var(--color-text-light);}
.statistic-value {display:block;margin:-.25rem 0 0 0;@include text-subhead;}

.full-width {
	width: 100vw;
	max-width: 100vw;
	margin: 0 -50vw;
	position: relative;
	left: 50%;
	right: 50%;
}

.carousel {position:relative;}
.carousel-viewer {@include group-bleeding;margin:-1rem;padding:1rem;}
/* .carousel-viewer .inbox {width:1500px;position:absolute;} */
.carousel-viewer-slide {display:inline-block;@include tile-elevated-small;width:10rem;margin-right:0 !important;font-size:var(--font-size-body);}
.carousel-viewer-slide:nth-of-type(1) {}
.carousel-viewer-slide + .carousel-viewer-slide {margin-left:var(--space);}
.carousel-viewer-slide:hover {@include hover-item;}
.carousel-viewer-slide-media {display:block;@include avatar-medium;margin:0 0 2rem;}
.carousel-viewer-slide-name {color:var(--color-text);}
.carousel-dots {width:100px;height:10px;margin-left:-36px;text-align:center;position:absolute;left:50%;bottom:-25px;z-index:var(--zindex-popover);}
.carousel-dots-dot {float:left;width:10px;height:10px;margin:0px 4px;border-radius:50%;background:rgba(0,0,0,1);cursor:pointer;}
.carousel-dots-dot:hover {width:30px;border-radius:5px;opacity:.5;}
.carousel-arrows {}
.carousel-arrows-prev {@include avatar-medium;box-shadow:var(--shadow);position:absolute;left:calc(0 - 16px);top:50%;z-index:var(--zindex-default);transform:translateY(-50%);}
.carousel-arrows-prev:hover {@include hover-chip;}
.carousel-arrows-next {@include avatar-medium;box-shadow:var(--shadow);position:absolute;right:-16px;top:50%;z-index:var(--zindex-default);transform:translateY(-50%);}
.carousel-arrows-next:hover {@include hover-chip;}
.carousel-arrows button.is-disabled {opacity:.2;}

.quote {max-width:400px;@include tile-elevated;}
.quote-avatar {@include avatar-medium;}
.quote-title {margin:var(--space) 0 .5rem;@include text-subhead;}
.quote-body {}
.quote-byline {display:block;margin:1rem 0 0 0;}
.quote-byline div {color:var(--color-text);}
.quote-byline div + div {color:var(--color-text-light);}
.quote-action {@include button-primary;width:50%;margin:2rem 0 0 0;}


.offline {display:none;max-width:400px;margin:0 auto;padding:.5rem 1rem;border-radius:var(--radius);background:var(--red800);text-align:center;position:fixed;left:10%;right:10%;top:45%;z-index:var(--zindex-modal);}
.offline p {color:var(--gray0);}

.skeleton-screen:empty{
  width: 500px;
  height: 200px;
  background-image:
    linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 50% ), /* highlight */
    radial-gradient( circle 40px at 40px 40px, lightgray 100%, transparent 0 ),
    linear-gradient( lightgray 1rem, transparent 0 ),
    linear-gradient( lightgray 1rem, transparent 0 ),
    linear-gradient( lightgray 1rem, transparent 0 );
  // background-image:
  //   -webkit-linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
  //   -webkit-radial-gradient( 50px 50px, circle cover, lightgray 50px, transparent 0 ),
  //   -webkit-linear-gradient( lightgray 20px, transparent 0 ),
  //   -webkit-linear-gradient( lightgray 20px, transparent 0 ),
  //   -webkit-linear-gradient( lightgray 20px, transparent 0 ),
  //   -webkit-linear-gradient( lightgray 20px, transparent 0 ); 
  background-repeat: no-repeat;
  background-size:
    40px 200px, /* highlight */
    100px 200px, 
    150px 200px,          
    350px 200px,
    300px 200px;
  background-position:
    120px 0, /* highlight */
    0 0, 
    120px 0,
    120px 30px,
    120px 60px;
   animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position:
      100% 0, /* move highlight to right */
      0 0,
      120px 0,
      120px 30px,
      120px 60px;
  }
}



@media (--breakpoint-small) {

  .scroll {display:none}
  .carousel-arrows {display:none;}
  .carousel:hover .carousel-arrows {display:block;}
}


.loadmore {
  @include button-tertiary;
  display: flex;
  align-items: center;
  .spinner {
    margin: 0 0 0 0.5rem;
  }
}




.font-default {font-family:sans-serif;}


.pricing-item {max-width:400px;@include tile-elevated;}
.pricing-item-title {@include text-subhead;}
.pricing-item-price {display:block;margin:1.5rem 0 1rem 0;@include text-title;}
.pricing-item-price-unit {}
.pricing-item-price-per {display:block;margin:0 0 -.25rem 0;color:var(--color-text-light);line-height:var(--font-line-height);}
.pricing-item-description {margin:var(--space) 0;}
.pricing-item ul {margin:var(--space) 0 1rem 0;}
.pricing-item ul li {}
.pricing-item-upgrade {@include button-primary;width:100%;}
.pricing-item-more {width:100%;@include button-text;margin:var(--space-after-button) 0 0 0;}

.sheet-toggle {width:80px;height:.25rem;border-radius:var(--radius);background:var(--gray100);position:absolute;left:50%;top:.5rem;transform:translateX(-50%);}







// mask-size: contain;
// mask-repeat: no-repeat;
// mask-position: center;
// mask-size: 1rem;
// mask-image: url(./icon-back.svg);
// background-color: var(--link-color);





// newneek
.newneek {}
.newneek .modal-dialog {}
.newneek-orange {}


.newneek-section2 {background:#ebebeb;}
.newneek-section2 figure {max-width:600px;margin:0 auto;}
.newneek-section2 footer {padding:1rem 1rem;border:1px solid #000;border-top:0;border-bottom:0;}
.newneek .numbering {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  margin: auto auto 1rem;
  border-radius: 50%;
  font-size: 12px;
  background: #000;
  color: #fff;
  display: none;
}

.newneek-section3 {background:#fff;color:#000;}
.newneek-section2, 
.newneek-section3 {
  h1, h2, h3, h4, b {color:#000;}
}




.newneek-section1 {margin:4rem 0 0;padding:4rem var(--grid-margin);background:#fb7800;color:#000;position:relative;}
.newneek-section1 footer {width:100%;margin:4rem 0 0 0;}
.bubble {}
.bubble + .bubble {margin-top:1rem;}
.bubble-user {padding:.5rem 1rem;border:2px solid #000;background:#000;font-size:var(--font-size-body);color:#fff;font-weight:var(--font-weight-bold);}
.bubble-text {padding:1rem;border:1px solid #000;background:#ebebeb;}



















.subscribe-gosum {    position: absolute;
  top: 5rem;
  left: 50%;
  width: 100%;
  max-width: 480px;
  margin-left: 60px;}

.intro-inner {    max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--grid-margin);
  box-sizing: border-box;}
.intro-head{overflow:hidden;position:relative}
.intro-head-title{padding:1rem 0;border-bottom:1px solid #000;font-size:3rem;letter-spacing:-.025rem}
.intro-head-subhead{display:block;font-size:1.125rem;position:relative;z-index:1}
.intro-head-subhead b{font-weight:700}
.intro-head-description{padding:2rem 0 3rem;background:#fb7800;box-sizing:border-box}
.intro-head-description p{max-width:560px;font-size:1.125rem}
.intro-head-description .textfield-input {
  margin: 0 0 .5rem 0;
  border-radius: 0;
  border-color:#000;
  background:#fff;
}
.intro-footer{padding:2rem 0;background:#ebebeb;position:relative}

.intro-subscribe {
  max-width: 400px;
  margin: 1.5rem 0 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.subscribe-field-cta {
  display: inline-block;
  min-width: 104px;
  background: #fb7800;
  padding: 10px 1.5rem 11px;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  background: #161616;
  border: 1px solid #161616;
  color: #fff;
  background: #161616;
  margin: 1rem 0 0;
  padding-right: 1.75rem;
}
@media (max-width:1080px){
.intro-head-title{background:#ebebeb;border-top:1px solid #161616;margin-top:-10rem;font-size:var(--font-size-huge);text-align:center;position:relative;z-index:6}.subscribe-gosum{width:75%;left:auto;top:auto;margin:-2rem auto auto;position:relative;z-index:6}.intro-head-description{position:relative;z-index:7}
.intro-footer{padding:2rem 0 2.5rem}}






.newneek .charaters {}
.newneek .charaters figure {width:400px;margin:1rem 0;padding:1.5rem;border:1px solid #000;}
.newneek .charaters figure i {}
.newneek .charaters figure b {font-size:var(--font-size-body);}
.newneek .charaters figure p {font-size:var(--font-size-body);}






.home-mangrove {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #000;
  background: var(--color-newneek);
  position: relative;
  .mangrove1 {
    display: block;
    max-width: 300px;
    margin-top: -140px;
    margin-bottom: 110px;
    transition: all 0.4s;
  }
  .mangrove2 {
    display: block;
    max-width: 270px;
    margin-left: 4rem;
    position: absolute;
    bottom: 2rem;
    transition: all 0.4s ease 0.05s;
  }
  .home-mangrove-object {
    margin-right: 2rem;
  }
  .mangrove-foot {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
    background: #fff;
    position: relative;
    z-index: 1;
    span {
      font-size:var(--font-size-subhead);
      color: #000;
    }
  }

  &:hover {
    .mangrove1 {
      transform: translateY(-1.5rem);
    }
    .mangrove2 {
      transform: translateY(-1.05rem);
    }
  }
}




.portfolio-features {}
.portfolio-features-item {margin:2rem 0;}
.portfolio-features-item-title {margin:0 0 .5rem 0;font-size:var(--font-size-body);}
.portfolio-features-item-description {}

// .daylist {display:flex;}
// .day {@include tile-elevated;flex-wrap:wrap;margin:0 1rem 0 0;text-align:center;}
// .day:hover {@include hover-item;}
// .day-label {width:100%;font-size:var(--font-size-caption);color:var(--color-text-light);text-transform:uppercase;}
// .day-value {width:100%;margin:-2rem 0 0 0;@include text-subhead;}


.menulist {@include tile-elevated;}

.class-head-thumbnail {width:50%;margin-left:-5%;overflow:hidden;border-radius:4px;}

.class {max-width:var(--width-large);margin:0 auto;position:relative;}
.class-head {padding:0 0 0;}
.class-head-eyebrow {@include tag-primary;display:inline-block;padding:0 .5rem;}
.class-head-title {@include text-title;margin:1rem 0 0 0;}
.class-head-description {margin:1rem 0 0 0;}
.class-order {@include tile-elevated;width:100%;max-width:60%;padding:3rem;position:absolute;right:0;top:4rem;}
.class-order-price {font-size:var(--font-size-subhead);}
.class-order-action-purchase {@include button-primary;width:100%;}
.class-order-action-share {}


// :root {
//   --zigzag-size: 1rem;
// }
// .zigzag {background:var(--color-newneek);position:relative;}
// .zigzag:before {
//   content: "";
//   width: 100%;
//   height: var(--zigzag-size);
//   position: absolute;
//   left: 0;
//   top: calc(var(--zigzag-size) * -1);
//   background-image:
//     linear-gradient(-45deg, transparent var(--zigzag-size), var(--color-newneek) 0),
//     linear-gradient(45deg, transparent var(--zigzag-size), var(--color-newneek) 0);
//   background-size: var(--zigzag-size) var(--zigzag-size);
//   background-repeat: repeat-x;
//   background-position: -3px 0;
//   transform: rotateX(180deg);
// }


q {position:relative;}
q:before {
  content: "“";
  display: block;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
}
