/* @charset 'utf-8'; */

@import 'shared/webfonts.css';
@import 'shared/variables.css';
@import 'shared/reset.css';

@import 'layout/navbar.css';

@import 'pages/component.css';



/*

.scroll {position: fixed;bottom: 1rem;right: 1rem;z-index: var(--z-index-default);}
.scroll-indicator {}
.scroll-indicator i {
  width: 2px;
  height: 8px;
  background: var(--gray800);
  margin: 8px auto 0;
  animation: bounce 0.5s infinite alternate;
  transform: rotate(90deg);
}

.scroll-top {
  @mixin avatar-medium;
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, .1)
}





.carousel {position: relative;}
.carousel-viewer {}
.carousel-viewer-slide {}
.carousel-viewer-slide:hover {}
.carousel-viewer-slide-media {}
.carousel-viewer-slide-name {}
.carousel-dots {display: flex;align-items: center;}
.carousel-dots-dot {width: 10px;height: 10px;margin: 0px 4px;border-radius: 50%;background: rgba(0, 0, 0, 1);cursor: pointer;}
.carousel-dots-dot:hover {opacity: .5;}
.carousel-arrows {}
.carousel-arrows-prev {box-shadow:var(--shadow);position: absolute;left:-.5rem;top: 50%;z-index: var(--zindex-default);transform:translateY(-50%);}
.carousel-arrows-prev:hover {}
.carousel-arrows-next {box-shadow:var(--shadow);position: absolute;right:-.5rem;top: 50%;z-index: var(--zindex-default);transform:translateY(-50%);}
.carousel-arrows-next:hover {}
.carousel-arrows button.is-disabled {opacity: .2;}
@media (--small) {
  .scroll {
    display: none
  }

  .carousel-arrows {
    display: none;
  }
  .carousel:hover .carousel-arrows {display: block;}
}

main,
.footer {
  transition: all .6s ease;
}


/* .dictoinary-item {
  padding: .5rem var(--grid-margin);
  display: flex;
  font-size: var(--font-size-large);

  b {
    margin-right: 1rem;
    font-weight: var(--font-weight-normal);
  }

  span {
    width: 60%;
  }
} */


.iconoir-nav-arrow-down {
  margin-top: -1px;
}


.bookitem-cover {
  padding-top: 50%;
  background: var(--gray100);
  border-radius: var(--radius);
  position: relative;
}

.bookitem-cover img {
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 100%;
  margin: auto;
  box-shadow: var(--shadow);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -.5rem;
  transition: all .4s;
}



.stamp {
  /* // position: absolute;
  // right: 6vmax;
  // top: 6vmax; */
  z-index: 2;
}
.stamp p {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin: 0;
  --tt: 15deg
}
.stamp .circle {
  display: block;
  width: 1px;
  height: 1px;
  background-color: transparent;
  animation: rotation 9.5s linear infinite;
}
.stamp .circle span {
  height: 4vmax;
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  transform-origin: bottom center;
}


.stamp .circle span:nth-of-type(1) {transform: rotate(15deg);}
.stamp .circle span:nth-of-type(2) {transform: rotate(35deg);}
.stamp .circle span:nth-of-type(3) {transform: rotate(45deg);}
.stamp .circle span:nth-of-type(4) {transform: rotate(50deg);}
.stamp .circle span:nth-of-type(5) {transform: rotate(16deg);}

/* .userlist {@mixin tile-elevated;}
.userlist .profile-user:hover {@mixin hover-item;}
.userlist-cta {@mixin button-tertiary;}

.jobitem {@mixin tile-elevated;}
.jobitem-name {margin:var(--space-leading-subhead) 0 var(--space-2) 0;@mixin text-subhead;}
.jobitem-tags {@mixin stack;}
.jobitem-tags .tag {}
.jobitem-view {@mixin chip;margin:var(--space-4) 0 0 0;}

.textbox {}
.textbox-toolbar {@mixin tile-elevated-small;display:flex;}
.textbox-toolbar-bold {@mixin avatar-medium;margin:0 .5rem 0 0;}
.textbox-toolbar-italic {@mixin avatar-medium;}
.textbox-view {@mixin tile-flat;margin:var(--space-4) 0;}
.textbox-footer {margin:var(--space-4) 0 0 0;}
.textbox-footer-publish {@mixin button-primary;}
.textbox-footer-back {}

@define-mixin group-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.greeting {}
.greeting-avatar {@mixin avatar-container-large;float:right;margin:0 0 0 var(--space-4);position:relative;}

/*

.payment-method-list {@mixin stack;}
.payment-method-item {
  @mixin tile-elevated-small;
  figure {
    @mixin avatar-huge;
    height:var(--size-large);
  font-size:var(--font-size-huge);
  }
  span {display:block;margin:var(--space-1) 0 0;text-align:center;font-size:var(--font-size-medium);}
}



/* // todo icon -> indicator */

.uxsitemap {position:relative;}
.uxsitemap .map {margin-left:1rem;}
.uxsitemap .map-head {margin:1rem 0;}
.uxsitemap .map-body {margin:1rem 1rem;}
// .uxsitemap > section {width:8rem;height:8rem;margin:1rem 0;background:var(--green100);}

.design-ticker-item {width:380px;margin:0 var(--space-3) !important;box-shadow:none !important;
  filter: grayscale(.5);
}
.design-ticker-overay {
  /* // position: absolute;left:0;right:0;top:0;bottom:0; */
  height: inherit;
  background: linear-gradient(to bottom, rgba(255,255,255,.25),rgba(255,255,255,.25),rgba(255,255,255,.25),rgba(255,255,255,1));
  /* @mixin bleeding; */
  z-index: 0;
  top: auto;
}
.theme-dark .design-ticker-overay {
	background: linear-gradient(to bottom, rgba(31,35,33,0), rgba(31,35,33,.5), rgba(31,35,33,1));
}



.principle {padding:0 0 0 50%;position:relative;}
.principle-head {width:50%;height:100vh;padding:4rem var(--grid-margin);box-sizing:border-box;background:var(--green800);position:absolute;left:0;top:0;}

.principle {padding:0 var(--grid-margin);position:relative;}
.principle-head {padding:4rem 0;}
.principle-head-title {}
.principle-head-description {margin:var(--space-after-subhead) 0 0 0;}

/* .theme-dark .design-ticker-item {
  filter: grayscale(0);
  > * {
    filter: grayscale(.875);

  }
} */


.purchase {border-radius:var(--radius);overflow:hidden;}
.purchase-head {padding:var(--space-4);background-color: var(--color-temp1);}
.purchase-body {padding:var(--space-4);background:var(--color-background);}

.browser {
  text-align: center;
  padding: 2rem;
  background: var(--red800);
  background: var(--color-background);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zindex-modal);
}

/*
.user {display:block;color:var(--color-text);position:relative;@mixin clearfix;}
.user-name {display:block;@mixin text-subhead;margin:var(--space-2) 0 0 0;}
.user-id {margin:-.125rem 0 0 0;}
.user-footer a {font-size:var(--font-size-small);color:var(--color-text-light);}

.notification-item-avatar {@mixin avatar-large;position:absolute;left:0;top:0;}
.notification-item-avatar + p {margin-bottom:var(--space-05);}
.notification-item-user {font-size:var(--font-size-medium);}
.notification-item-content {@mixin truncate-multi;}
.notification-item-content b {font-weight:var(--font-weight-normal);}
.notification-item-date {margin:0 0 0 var(--space-1);font-size:var(--font-size-small);color:var(--color-text-light);}

.search {}
.search-form-close {@mixin avatar-medium;position:absolute;left:1rem;top:14px;transform:rotate(180deg);}
.search-form-title {margin:0 auto 1rem;font-size:var(--font-size-large);}
.search-recent {position:relative;z-index:1;}
.search-suggestion {}

.sorting-group {display:flex;align-items:center;position:relative;}
.sorting-title {margin:0 var(--space-2) 0 0;}
.sorting-item {display:flex;align-items:center;}

 */


.checklist li {list-style: none;margin-left:0;padding-left: var(--space-2);position: relative;}
.checklist li:before {
  content: '✔️';
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-tiny);
  height: var(--size-tiny);
  border-radius: 50%;
  background-color: gold;
  font-size: 10px;
  color: #fff;
  position: absolute;
  left: -16px;
  top: 4px;
}


@define-mixin image-centered {width:auto;height:auto;max-width:150%;max-height:150%;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}
[data-temp=bleeding] {
  margin: 0 -50vw;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@define-mixin clearfix {
  &:after {content:'';display:block;clear:both;}
}

/* // item in card component // active */
@define-mixin hover-text {text-decoration:underline;}
@define-mixin hover-item {
  --hover-outline: calc(var(--space-3) / 2 * -1);
  cursor: pointer;

  &:before {
    /* // z-idnex 이슈 */
    content:'';
    display:block;
    background-color:var(--color-background-weak);
    border-radius:var(--radius);
    position:absolute;
    left:var(--hover-outline);right:var(--hover-outline);top:var(--hover-outline);bottom:var(--hover-outline);
    z-index: -1;
  }
  figure {box-shadow:var(--shadow) !important;}
}

/* // hover-item */
.is-hoverable {
  --hover-outline: calc(var(--space-3) / 2 * -1);
  cursor: pointer;
}
.is-hoverable::before {
  content:'';
  display:block;
  background-color:var(--color-background-weak);
  border-radius:var(--radius);
  position:absolute;
  left:var(--hover-outline);right:var(--hover-outline);top:var(--hover-outline);bottom:var(--hover-outline);
  z-index: -1;
}

/* @define-mixin position-left-top {position:absolute;left:var(--space-1);top:var(--space-1);}
@define-mixin position-right-top {position:absolute;right:var(--space-2);top:var(--space-2);}
@define-mixin position-bottom {position:fixed;left:0;right:0;bottom:0;z-index:var(--zindex-menu);}
@define-mixin reset-position {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  transform: none;
} */

/* // @media (prefers-color-scheme: dark) {
//   :root {
//     // --title-color: #EFEFEF;
//     // --desc-color: peachpuff; 
//   }
//   // img {filter: brightness(.8) contrast(1.2);}
// } */


/* // todo 자식이 elevated일 때...
@mixin stack {
  display:flex;flex-wrap:wrap;align-items:center;margin:var(--space-1-minus);
  > * {
    margin:var(--space-1);
  }
}

// todo flex일 대 min-width가 필수가 된다.. margin/padding은 container에 의존
@mixin stack-vertical-scroll {
  display:flex; // 중복
  flex-wrap: nowrap;
  white-space:nowrap;
  overflow:auto;

  scroll-behavior: smooth;
  > * {min-width:auto;}
  &::-webkit-scrollbar {display:none;}
} */



.bookitem-cover {
  padding-top: 50%;
  background: var(--gray100);
  border-radius: var(--radius);
  position: relative;
}

.bookitem-cover img {
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 100%;
  margin: auto;
  box-shadow: var(--shadow);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -.5rem;
  transition: all .4s;
}





.browser {
  text-align: center;
  padding: 2rem;
  background: var(--red800);
  background: var(--color-background);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zindex-modal);
}

.sorting-group {display:flex;align-items:center;position:relative;}
.sorting-title {margin:0 var(--space-2) 0 0;}
.sorting-item {display:flex;align-items:center;}

.scroll {position: fixed;bottom: 1rem;right: 1rem;z-index: var(--z-index-default);}
.scroll-indicator {}
.scroll-indicator i {
  width: 2px;
  height: 8px;
  background: var(--gray800);
  margin: 8px auto 0;
  animation: bounce 0.5s infinite alternate;
  transform: rotate(90deg);
}











@keyframes fade-in {
  from { opacity: 0 }
}

@keyframes fade-out {
  to { opacity: 0 }
}

@keyframes slide-in {
  from { transform: translateY(var(--_travel-distance, 10px)) }
}


// .gui-toast-group {
//   position: fixed;
//   z-index: 1;
//   inset-block-end: 0;
//   inset-inline: 0;
//   padding-block-end: 5vh;
// }
// .gui-toast-group {
//   display: grid;
//   justify-items: center;
//   justify-content: center;
//   gap: 1vh;
// }
// .gui-toast {
//   max-inline-size: min(25ch, 90vw);
//   padding-block: .5ch;
//   padding-inline: 1ch;
//   border-radius: 3px;
//   font-size: 1rem;
// }
// .gui-toast-group {
//   pointer-events: none;
// }
// .gui-toast {
//   --_bg-lightness: 90%;

//   color: black;
//   background: hsl(0 0% var(--_bg-lightness) / 90%);
// }

// @media (prefers-color-scheme: dark) {
//   .gui-toast {
//     color: white;
//     --_bg-lightness: 20%;
//   }
// }

// .gui-toast {
//   --_duration: 3s;
//   --_travel-distance: 0;

//   will-change: transform;
//   animation: 
//     fade-in .3s ease,
//     slide-in .3s ease,
//     fade-out .3s ease var(--_duration);
// }

// @media (prefers-reduced-motion: no-preference) {
//   .gui-toast {
//     --_travel-distance: 5vh;
//   }
// }