<main class="page js-tab">
  <mm-page-header
    title="Icon Button"
    description="레이블 없이 메타포 아이콘만 사용하는 간결한 액션 버튼입니다. 사용자에게 툴팁으로 버튼의 용도를 명확히 전달합니다."
  ></mm-page-header>

  <mm-component-example>
    <mm-group>
      <mm-icon-button variant="primary" icon="arrow-right"></mm-icon-button>
      <mm-icon-button variant="primary" icon="arrow-up"></mm-icon-button>
      <mm-icon-button variant="primary" size="small" icon="arrow-right"></mm-icon-button>
      <mm-icon-button variant="primary" size="small" icon="arrow-up"></mm-icon-button>
    </mm-group>
    <mm-separator></mm-separator>
    <div style="display: flex; align-items: center; gap: var(--space-2)">
      <mm-icon-button variant="" icon="heart"></mm-icon-button>
      <mm-tooltip content="로그인">
        <mm-icon-button slot="trigger" icon="user"></mm-icon-button>
      </mm-tooltip>
      <mm-icon-button variant="" icon="star-solid"></mm-icon-button>
      <mm-icon-button variant="" icon="star"></mm-icon-button>
    </div>
    <mm-separator></mm-separator>
    <mm-group>
      <mm-icon-button variant="navigator" icon="arrow-left"></mm-icon-button>
      <mm-icon-button variant="navigator" icon="arrow-right" color="gold"></mm-icon-button>
    </mm-group>
  </mm-component-example>
  <mm-component-props>
    <mm-prop name="src" type="string"></mm-prop>
    <mm-prop name="alt" type="string"></mm-prop>
    <mm-prop name="ratio" type="'1:1' | '16:9' | '4:3' = '1:1'"></mm-prop>
    <mm-prop name="clickable" type="boolean"></mm-prop>
    <mm-prop name="@click" type="(e: MouseEvent) => void" kind="event"></mm-prop>
  </mm-component-props>

  <section class="component-guide">
    <mm-text size="14">
      Toggled states. Buttons can swap icons based on data states.
      <br />
      There are several icons within our library that have a “Filled” counterpart to indicate
      whether a state is toggled on. The “Outlined” version indicates it is toggled off.
    </mm-text>
  </section>

  <mm-component-section title="MoreMenuButton, ActionMenuButton, ContextMenuButton">
    <mm-icon-button variant="navigator" icon="more-vert"></mm-icon-button>
  </mm-component-section>

  <mm-component-section title="Close Button" description="">
    <mm-icon-button variant="navigator" icon="xmark"></mm-icon-button>
  </mm-component-section>
  <mm-component-section title="Clear Button" description="search field에서 사용.">
    <mm-clear-button></mm-clear-button>
  </mm-component-section>
  <mm-component-section title="Expand Button / Indicator" description="">
    <mm-icon-button variant="navigator" size="small" icon="nav-arrow-down"></mm-icon-button>
  </mm-component-section>
</main>
