/* // rem 으로 모듈화하기 어렵다. ex 1.5rem => top:0.125rem
// line-heght로 리셋스타일에 종속되지 않도록 함. + block
// height 테이블 내에서 세로 정렬에 필요. 2줄 이상 레이블
// nextjs + css module에서 type selector 이슈 */
  /* TODO: 체크 박스 내부에 링크 태그가 있으면  */



/* .checkbox:checked{
  background: linear-gradient(140deg, #ff6a6a 0%, #e6ff59 40%, #41c4fc 98%);
}

.checkbox::before{
  content: '';
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url(check.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

.checkbox {
  --checkbox-size: var(--size-tiny);
  --checkbox-radius: 4px;
  --checkbox-inset: var(--space-2);

  display: flex;
  align-items: center;
  gap: var(--space-2);
  line-height: var(--checkbox-size);
  /* 2줄 TODO:  minHeight */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--size-medium); */

  /* menuitem 클릭 영ㅇ력을 위해 이거 없애야. */
  position: relative;
}

.checkbox input {
  /* reset */
  margin: 0; 

  display:block;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border: var(--border);
  border-radius: var(--checkbox-radius);
  background: var(--color-background);
  box-sizing: border-box;

  /* opacity: 0;
  inline-size: 100%; */
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox input:checked {
  background: var(--color-primary);
}

.checkbox:focus-within label {
}


.checkbox input[indeterminate=true] ~ label:before,
.checkbox input[data-indeterminate=true] ~ label:before {border-color:var(--green800);background:var(--green100);}
.checkbox input[indeterminate=true] ~ label:after,
.checkbox input[data-indeterminate=true] ~ label:after {display:block;width:8px;background:var(--color-primary);border:none;left:4px;top:48%;transform:rotate(0deg);}

.checkbox input:disabled ~ label {opacity:.5;cursor:not-allowed;}

.checkbox-description {display:block !important;padding-left:calc(var(--size-tiny) + var(--space-2));color:var(--color-text-light);}

/* // hidden attribute */
input[type=radio] + label + *,
input[type=checkbox] + label + * {display:none;}
input[type=radio]:checked + label + *,
input[type=checkbox]:checked + label + * {display:block;}

/* // size */
.checkbox[data-size=large] input {
  --checkbox-size: var(--size-small);
}