/* // rem 으로 모듈화하기 어렵다. ex 1.5rem => top:0.125rem
// line-heght로 리셋스타일에 종속되지 않도록 함. + block
// height 테이블 내에서 세로 정렬에 필요. 2줄 이상 레이블
// nextjs + css module에서 type selector 이슈 */

.checkbox {
  --checkbox-size: var(--size-tiny);
  --checkbox-radius: 4px;
  --checkbox-inset: var(--space-2);

  padding: var(--checkbox-inset) 0;
  position: relative;
}

.checkbox input {
  opacity: 0;
  inline-size: 100%;
  position: absolute;
  left: -.5rem;
  right: -.5rem;
  top: -.5rem;
  bottom: -.5rem;
}

.checkbox:focus-within label {
  box-shadow: var(--status-hover);
}

.checkbox input ~ label {
  display: flex;
  align-items: center;
  gap: var(--space-2);

  line-height: var(--checkbox-size);
  position: relative;
}

.checkbox input ~ label:before {
  content:'';
  display:block;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border: var(--border);
  border-radius: var(--checkbox-radius);
  background: var(--color-background);
  box-sizing: border-box;
}
.checkbox input ~ label:after {
  content:'';
  width:7px;
  height:2px;
  border-left:1px solid;
  border-bottom:1px solid;
  border-color:var(--gray200);
  position:absolute;
  left:4px;
  top:6px;
  transform:rotate(-50deg) scale(0);
}

/* checked */
.checkbox input:checked ~ label:before {
  border-color:var(--color-primary);
  animation:ripple2 0.2s linear forwards;
}
.checkbox input:checked ~ label:after {
  border-color:var(--color-primary);
  transform: rotate(-50deg) scale(1);
}

.checkbox input[indeterminate=true] ~ label:before,
.checkbox input[data-indeterminate=true] ~ label:before {border-color:var(--green800);background:var(--green100);}
.checkbox input[indeterminate=true] ~ label:after,
.checkbox input[data-indeterminate=true] ~ label:after {display:block;width:8px;background:var(--color-primary);border:none;left:4px;top:48%;transform:rotate(0deg);}

.checkbox input:disabled ~ label {opacity:.5;cursor:not-allowed;}
.checkbox input:disabled ~ label:before {border-color:var(--gray200);}
.checkbox input:disabled ~ label:after {border-color:var(--gray200);}

.checkbox-description {display:block !important;padding-left:calc(var(--size-tiny) + var(--space-2));color:var(--color-text-light);}

/* // hidden attribute */
input[type=radio] + label + *,
input[type=checkbox] + label + * {display:none;}
input[type=radio]:checked + label + *,
input[type=checkbox]:checked + label + * {display:block;}

/* // size */
.checkbox[data-size=large] label:before {
  --checkbox-size: var(--size-small);
}
.checkbox[data-size=large] label:after {
  width: 10px;
  height: 3px;
  left: 7px;
  top: 9px;
}