/* // ! avatar-medium의 display:flex가 hidden 속성과 충돌 */
/* @define-mixin avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-medium);
  height: var(--size-medium);
  background: url('/public/images/soojubm.png') no-repeat 64% 55%;
  background-size: 80%;
  background-color: var(--color-background-weak);
  border-radius: var(--radius);
  box-sizing: border-box;
  position: relative;
}

@define-mixin avatar-container-large {@mixin avatar-large;background-image:none;}
@define-mixin avatar-container {@mixin avatar;background-image:none;}
@define-mixin avatar-container-small {@mixin avatar-small;background-image:none;}
@define-mixin avatar-container-tiny {@mixin avatar-tiny;background-image:none;} */

/* .avatar-fallback {
  background:url('/public/images/springsteen.jpg') no-repeat center;
  background-size: cover;
} */

/* //todo reset */
/* figure {margin:0;} */

img {
  width: 100%;
}

.avatar {
  margin: 0 !important;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-medium);
  height: var(--size-medium);
  background: url('/public/images/soojubm.png') no-repeat 64% 55%;
  background-size: 80%;
  background-color: var(--color-background-weak);
  border-radius: var(--radius);
  box-sizing: border-box;
  position: relative;


  box-shadow: var(--color-background) 0px 0px 0px 2px;
  --avatar-size: 0px;
  --avatar-background-color: #fff;
  --avatar-border: var(--border);
}

.avatar.no {
  background-image: none;
}
.avatar img {
    height: inherit;
    border-radius: var(--radius);
    object-fit: cover;
}

.avatar[data-size=huge] {width:var(--size-huge);height:var(--size-huge);}
.avatar[data-size=large] {width:var(--size-large);height:var(--size-large);}
.avatar[data-size=medium] {width:var(--size-medium);height:var(--size-medium);}
.avatar[data-size=small] {width:var(--size-small);height:var(--size-small);}
.avatar[data-variant=secondary] {border:var(--border);background-color:var(--color-background);}

.avatar-badge {
  width: var(--size-tiny);
  height: var(--size-tiny);
  border: 2px solid var(--color-background);
  border-radius: var(--radius);
  background: var(--color-accent);
  position: absolute;
  left: -.25rem;
  top: -.25rem;
  z-index: 1;
}

.avatar-group {display:flex;}
/* .avatar-group > * {box-shadow:var(--color-background) 0px 0px 0px 2px;} */
.avatar-group > * + * {margin-left:-.5rem;}
/* .avatargroup-label {margin:0 0 0 var(--space-2);line-height:var(--size-small);} */ 


.entity {position: relative;}
.entity-label {font-size:var(--font-size-medium);font-weight:var(--font-weight-bold);}

.entity ::slotted([slot=tag]) {
  position: absolute;
  left: var(--space-1-minus);
  top: var(--space-1-minus);
}

.entity-label {
  display: block;
  margin: var(--space-2) 0 0 0;
  line-height: var(--size-small);
}

.entity-description {
  line-height: var(--size-small);
  /* color: var(--color-text-light); */
}