// ! avatar-medium의 display:flex가 hidden 속성과 충돌
@mixin avatar($size: var(--size-medium)) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  // border: var(--border);
  // border-color: transparent;

  background:url('/public/images/springsteen.jpg') no-repeat center;
  background-size: cover;
  background-color: var(--color-background-weak);
  border-radius: var(--radius);
  box-sizing: border-box;
  position: relative;
  img {
    height: inherit;
    border-radius: var(--radius);
    object-fit: cover;
  }
}

@mixin avatar-huge {@include avatar(var(--size-huge));}
@mixin avatar-large {@include avatar(var(--size-large));}
@mixin avatar-medium {@include avatar;}
@mixin avatar-small {@include avatar(var(--size-small));}
@mixin avatar-tiny {@include avatar(var(--size-tiny));}

.avatar {
  @include avatar;
}

@mixin avatar-container-large {@include avatar(var(--size-large));background-image:none;}
@mixin avatar-container {@include avatar;background-image:none;}
@mixin avatar-container-small {@include avatar(var(--size-small));background-image:none;}
@mixin avatar-container-tiny {@include avatar(var(--size-tiny));background-image:none;}
@mixin avatar-fallback {
  background:url('/public/images/springsteen.jpg') no-repeat center;
  background-size: cover;}


.avatar[data-size=huge] {width:var(--size-huge);height:var(--size-huge);}
.avatar[data-size=large] {width:var(--size-large);height:var(--size-large);}
.avatar[data-size=medium] {width:var(--size-medium);height:var(--size-medium);}
.avatar[data-size=small] {width:var(--size-small);height:var(--size-small);}

.avatar-badge {
  @include avatar-tiny;
  border: 2px solid var(--color-background);
  background: var(--color-accent);
  position: absolute;
  left: -.25rem;
  top: -.25rem;
  z-index: 1;
}