// ! avatar-medium의 display:flex가 hidden 속성과 충돌
@mixin avatar($size: var(--size-medium)) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  // border: var(--border);
  // border-color: transparent;
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background-weak);
  background-size: cover !important;
  // overflow:hidden; // for badge
  position: relative;
  img {
    height: inherit;
    border-radius: var(--radius);
  }
}

@mixin avatar-huge {@include avatar(var(--size-huge));}
@mixin avatar-large {@include avatar(var(--size-large));}
@mixin avatar-medium {@include avatar;}
@mixin avatar-small {@include avatar(var(--size-small));}
@mixin avatar-tiny {@include avatar(var(--size-tiny));}