// ! avatar-medium의 display:flex가 hidden 속성과 충돌
@mixin avatar($size: var(--size-medium)) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  // border: var(--border);
  // border-color: transparent;
  border-radius: var(--radius);
  box-sizing: border-box;
  background:url('/public/images/springsteen.jpg') no-repeat center var(--color-background-weak);
  background-size: cover;
  position: relative;
  img {
    height: inherit;
    border-radius: var(--radius);
    object-fit: cover;
  }
}

@mixin avatar-huge {@include avatar(var(--size-huge));}
@mixin avatar-large {@include avatar(var(--size-large));}
@mixin avatar-medium {@include avatar;}
@mixin avatar-small {@include avatar(var(--size-small));}
@mixin avatar-tiny {@include avatar(var(--size-tiny));}

.avatar {
  @include avatar;
}


@mixin avatar-container {@include avatar;background-image:none;}
@mixin avatar-container-tiny {@include avatar(var(--size-tiny));background-image:none;}
@mixin avatar-fallback {background:url('/public/images/springsteen.jpg') no-repeat center var(--color-background-weak);}

.avatar[data-size=huge] {width:var(--size-huge);height:var(--size-huge);}
.avatar[data-size=large] {width:var(--size-large);height:var(--size-large);}
.avatar[data-size=medium] {width:var(--size-medium);height:var(--size-medium);}
.avatar[data-size=small] {width:var(--size-small);height:var(--size-small);}