
:host {
  --badge-height: var(--size-tiny);
}

.badge {
  /* reset */
  font-style: normal;

  display:inline-flex;align-items:center;justify-content:center;
  height:var(--size-tiny);
  padding:0 var(--space-2);
  border-radius: var(--radius);
  box-sizing: border-box;
  /* background-color: var(--gray400); */
  background:var(--green100);
  color:var(--color-primary);
  font-weight: var(--font-weight-normal);
  font-size:var(--font-size-small);
  line-height: 1;


  background-color: #fff;
  /* border: var(--border); */
  font-size: 10px;
  color: var(--color-text);
}
.badge[data-variant=primary] {background:var(--color-accent);color: var(--gray800);}
.badge[data-variant=secondary] {background:var(--green100);color:var(--color-primary);}