.topbanner {margin:0 auto;padding:2rem 10%;box-sizing:border-box;position:relative;}
.topbanner-background {max-width:1920px;height:100%;background:$gray10;margin:0 auto;/*border-bottom:1px solid $gray20;*/position:absolute;left:-500%;right:-500%;top:0;bottom:0;z-index:2;}
.topbanner-heading {display:none;margin: 0 0 .5rem 0;position:relative;z-index:2;}
.topbanner-body {margin:0 0 1.5rem 0;position:relative;z-index:2;}
.topbanner-checkbox {display:inline-block;text-align:left;}
.topbanner-cta {display:inline-block;margin:0 2rem 0 0;position:relative;z-index:2;}
.topbanner-close {position:absolute;right:0;top:50%;z-index:2;transform:translateY(-50%);}
.topbanner label {position:relative;z-index:2;}
.topbanner img {display:none;max-width:240px;position:absolute;left:0;top:.5rem;}


.banner {width:80%;margin:0 auto;padding:2rem 0;border-radius:4px;background:$gray80;text-align:center;position:relative;z-index:4;}
.banner p {display:inline-block;margin:0 2rem 0 0;font-size:1.25rem;color:#fff;}
.banner button {}


@media (max-width:$breakpoint-small) {
  .banner {width:90%;}
}
.is-closed-topbanner .header {background:#ffff;margin-top:-225px;transition:margin .2s, background-color .4s;}
.is-closed-topbanner .topbanner {z-index:-1;}