// for mobile
.banner {padding:var(--space-4);border-radius:var(--radius);background:var(--color-background-weak);position:relative;}
.banner-background {@include bleeding;}
.banner-eyebrow {@include tag;margin:0 0 .5rem 0;}
.banner-title {font-size:var(--font-size-medium);font-weight:var(--font-weight-bold);}
.banner-description {margin:var(--space-1) 0 0;line-height:var(--font-line-height-small);}
.banner-button {margin:0 0 var(--space-after-description) 0;@include button-text;}
// 버튼이 생략될 수 있다.

.banner[data-style=colored] .banner-title {color:var(--gray0);}
.banner[data-style=colored] .banner-description {color:var(--gray0);opacity:.75;}

@media (--small) {
  // .banner {flex-wrap:wrap;}
  // .banner-title {width:100%;margin:0 0 1rem 0;}
}

.is-closed-topbanner .header {background:var(--color-background);margin-top:-225px;transition:margin .2s, background-color .4s;}
.is-closed-topbanner .topbanner {z-index:-1;}