/* @define-mixin button {
  --button-text: null;
  --button-font-weight: var(--font-weight-bold);
  --button-radius: var(--radius);

  --button-color-background
  --button-color-border
  --button-color-text
  --button-space-inset
  --button-size-height
  --button-size-min-width
  --button-font-size
  --button-font-weight

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 6rem;
  height: var(--size-large);
  padding: 1px var(--space-4) 0;
  border-radius: var(--radius);
  box-sizing: border-box;
  font-weight: var(--button-font-weight);
  position: relative;

  &:hover:not(:disabled), &.is-hover:not(:disabled) {
    box-shadow: var(--status-hover);
  }
  &:focus, &.is-focus {
    outline: 0;
    box-shadow: var(--state-focus); // hover override
  }
  &:active {}
  &:disabled {opacity:.5;cursor:not-allowed;}
} */

/* // button:not(:active),
// button:not(:focus) {outline:0;} */
/* button:before {content:'';display:block;width:8px;height:8px;background:rgba(0,0,0,.2);position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);opacity:0;} */
/* button:active:before {width:100%;height:100%;animation:ripple .6s;}  */

/* // ! 커스텀엘리먼트를 쓰는 경우 클래스이름으로 독자적인 */

.button[aria-pressed=true] {}

/* host에서 정의하면 커스텀 엘리먼트가 아닐 .class로 사용할 때 못 가져온다.  */
.button,
:host {
  --button-min-width: 5rem;
  --button-height: var(--size-large);

  --button-border: var(--border);
  --button-radius: var(--radius);

  --button-color: 0;

  --button-font-weight: var(--font-weight-bold);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--button-min-width);
  height: var(--button-height);
  padding: 0 var(--space-4);
  border: var(--button-border);
  border-radius: var(--button-radius);
  box-sizing: border-box;
  
  font-weight: var(--button-font-weight);

  text-transform: capitalize;
  /* position: relative; */

  /* // reset */
  font-family: inherit;
  font-family: var(--font-family);
}
.button[data-variant=primary] {
  --button-border: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: #fff;
  /* // 다크테마와 동일한 스타일 */
}
.button[data-variant=secondary] {
  border:1px solid transparent;
  background:var(--green100);
  color:var(--color-primary);
}
.button[data-variant=tertiary] {
  border: 1px solid var(--color-background-weak);
  background:var(--color-background-weak);
  color:var(--color-text);
}
.button[data-variant=text] {
  background: transparent;
  border:1px solid transparent;
  color:var(--color-primary);
}
.button[data-variant=destructive] {
  background:var(--red800);
  border:1px solid var(--red800);
  color:var(--gray0);
}
.button[data-size=large] {
  height: 64px;
  font-size: var(--font-size-large);
}
.button[data-isfullwidth] {
  width: 100%;
}


.button:hover, .button[data-status=hover] {
  box-shadow: var(--status-hover);
}
.button:focus, .button[data-status=focus] {
  outline: 0;
  box-shadow: var(--state-focus);
}
.button:disabled, .button[data-status=disabled] {opacity:.5;cursor:not-allowed;}

/* close-button {position:absolute;right:var(--space-2);top:var(--sopace-2);} */