
.chat {
  --chat-bubble-border: var(--border);

  --chat-avatar-border: 1px solid transparent;

  padding:0 0 0 calc(var(--size-medium) + var(--space-2));
  box-sizing:border-box;
  position:relative;
}
.chat-avatar {
  border-radius: 50%;
  border: var(--chat-avatar-border);
  border-top-left-radius: var(--radius);
  overflow:hidden;position:absolute;left:0;top:0;}
.chat-avatar img {height:100%;}
.chat-username {display:block;margin:0 0 var(--space-1) 0;font-size:var(--font-size-small);}
.chat-time {margin:0 0 0 var(--space-1);color:var(--color-text-light);font-size:var(--font-size-small);color:var(--color-text-light);position:absolute;bottom:-1.5rem;}
.chat-bubble {
  width:fit-content;
  max-width:calc(90% - var(--size-medium));
  padding:var(--space-3) var(--space-4);
  /* border:var(--chat-bubble-border); */
  border-radius:1rem;
  border-top-left-radius:var(--radius);
  background-color: var(--color-background-weak);
}
.chat-bubble.has-image {width:85%;padding:0;background:none;overflow:hidden;}
.chat-bubble figure {}

.chat-bubble p, .chat-bubble li {
  line-height: 1.6;
}

.chat + .chat {margin-top:var(--space-4);}
.chat-bubble + .chat-bubble {margin-top:var(--space-2);}

.chat.is-mine {text-align:right;}
.is-mine .chat-avatar {display:none;}
.is-mine .chat-time {right:0;}
.is-mine .chat-bubble {margin-left:auto;border-radius:1.5rem;border-top-right-radius:var(--radius);text-align:left;}
.is-mine .chat-inputing  {right:0;}

.chat-bubble.is-primary,
.is-mine .chat-bubble {border-color:var(--color-primary);background:var(--color-primary);}


.chat-bubble.is-primary p,
.chat-bubble.is-primary b,
.is-mine .chat-bubble p {color:var(--gray0);}



.chat-date {text-align:center;}
