.chip-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-2);
}
/* 롤 그룹으로 대체? */
[role="group"] {}

i {
  font-style: normal;
}
/* reset */
button {
  padding: 0;
  border: 0;
  font-family: var(--font-family);
  font-size: inherit;
}
em {
  font-style:normal;
  font-weight: var(--font-weight-bold);
}

:host {
  --chip-color-background: 0;
  --chip-color-border: 0;
  --chip-color-text: 0;

  --chip-color-background: var(--color-background-weak);
  --chip-color-text: var(--color-text);
}
/* TODO 요거 */
:host([status=info]) {
  --chip-color-background: none;
  --chip-color-border: 0;
}

/* @media (hover) and (pointer: fine) {
  &:hover {box-shadow:var(--status-hover);}
}
&:disabled {border-color:transparent;}
&.is-active {
  border-color: var(--color-background-strong);
  background: var(--color-background-strong);
  color: var(--color-text-weak);
} */

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--size-medium);
  height: var(--size-medium);
  /* border: var(--border); */
  border-radius: var(--radius);
  background: var(--chip-color-background);
  color: var(--chip-color-text);
  position: relative;

  /* TODO for chip in avatar */
  /* TODO donesnt using ? for chip in textfield  */
  /* outline: 2px solid var(--color-background); */
  --chip-height: 0;
  --chip-inset: null;
  --chip-radius: 0;
}
.chip:hover {
  box-shadow:var(--status-hover);
  cursor: pointer;
}

.chip-icon {
  width: var(--size-medium);
  height: var(--size-medium);
  margin: 0 0 0 var(--space-1);
  background-color: var(--color-background);
  border-radius: var(--radius);
  font-size: 14px;
}
.chip-remove:hover {box-shadow:var(--status-hover);}
.chip-name {margin:0 0 0 var(--space-3);font-weight:var(--font-weight-normal);color:var(--color-text-light);}
.chip-name:after {content:': ';}
.chip-label {
  padding:0 var(--space-3) var(--adjust-label-line);
  color:inherit;
}
.chip:disabled {opacity:.5;cursor:not-allowed;}

.chip[aria-expanded] {}
.chip[aria-selected] {
  background: var(--color-background-strong);
  color: var(--color-text-strong);
}
.chip[aria-checked=true] {
  border: 1px solid var(--color-background-strong);
  /* background: var(--green100); */
  /* color: var(--green800); */
}
.chip[aria-pressed] {}
.chip[aria-haspopup] {}

.chip[data-variant=destructive] {
  background-color: var(--red100);
  color: var(--red800);
}

::slotted([slot=icon]) {
  display:flex !important;
  align-items: center;
  justify-content: center;
  width:var(--size-medium);
  background-image: none;
  /* margin-right: -.5rem; */
}

::slotted([slot=badge]) {
  display: flex;
  margin: 0 var(--space-2);
  /* margin: 0 .75rem 0 -.25rem; */
}
.chip-name ~ ::slotted([slot=badge]) {
  margin-left: -.25rem;
  margin-right: .5rem;
}

// .chip[aria-expanded=true] {
//   background-image: url(
//     'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M480 696 280 497h400L480 696Z"/></svg>');
//   background-repeat: no-repeat;
//   background-size: 14px;
//   background-position: 90% 50%;
// }
