.chip-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-2);
}

/* reset */
button {
  padding: 0;
  border: 0;
  font-family: var(--font-family);
  font-size: inherit;
}
em, i  {
  font-style: normal;
}

:host {
  --chip-color-background: 0;
  --chip-color-border: 0;
  --chip-color-text: 0;

  --chip-color-background: var(--color-background-weak);
  --chip-color-text: var(--color-text);
}

/* TODO 요거 */
:host([status=info]) {
  --chip-color-background: none;
  --chip-color-border: 0;
}

/* @media (hover) and (pointer: fine) {
  &:hover {box-shadow:var(--status-hover);}
}
*/

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--size-medium);
  height: var(--size-medium);
  gap: var(--space-2);
  padding: 0 var(--space-3) 1px;

  border-radius: var(--radius);
  background: var(--chip-color-background);
  color: var(--chip-color-text);
  position: relative;

  /* TODO donesnt using ? for chip in textfield  */
  outline: 2px solid var(--color-background);
  --chip-size: var(--size-small);
  --chip-height: 0;
  --chip-inset: null;
  --chip-radius: 0;
}
.chip:disabled {
  opacity:.5;
  cursor:not-allowed;
}
.chip:hover {
  box-shadow:var(--status-hover);
  cursor: pointer;
}
.chip-label {
  display: block;
  line-height: var(--chip-size);
  color: inherit;
}
.chip-name {
  font-weight:var(--font-weight-normal);
  color:var(--color-text-light);}
.chip-name:after {content:': ';}

.chip[aria-selected] {
  background: var(--color-background-strong);
  color: var(--color-text-strong);
}
.chip[aria-checked=true] {
  border: 1px solid var(--color-background-strong);
}

.chip[aria-expanded] {}
.chip[aria-pressed] {}
.chip[aria-haspopup] {}

.chip[data-variant=destructive] {
  background-color: var(--red100);
  color: var(--red800);
}

::slotted([slot=icon]), ::slotted([slot=badge]) {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.chip-label ~ ::slotted([slot=icon]) {
  margin-left: -0.25rem;

}
.chip-label ~ ::slotted([slot=badge]) {
  margin-right: -0.25rem;
}
// .chip[aria-expanded=true] {
//   background-image: url(
//     'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M480 696 280 497h400L480 696Z"/></svg>');
//   background-repeat: no-repeat;
//   background-size: 14px;
//   background-position: 90% 50%;
// }