@mixin chip {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--size-medium);
  height: var(--size-medium);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background-weak);
  color: var(--color-text);
  position: relative;

  @media (hover) and (pointer: fine) {
    &:hover {box-shadow:var(--state-hover);}
  }
  &:disabled {border-color:transparent;}
  &.is-active {
    border-color: var(--color-background-strong);
    background: var(--color-background-strong);
    color: var(--color-text-weak);
  }
}

@mixin chip-label {padding:1px var(--space-3) var(--adjust-label-line);pointer-events:none;}

.chip {@include chip}
.chip-icon {@include avatar-container;}
.chip-label {@include chip-label;}
.chip-remove {@include avatar-container;cursor:pointer;}
.chip-remove:hover {box-shadow:var(--state-hover);}

.is-active .chip-icon {background:inherit;color:inherit;}

.chip[aria-expanded] {}
.chip[aria-selected] {}
.chip[aria-checked] {}
.chip[aria-pressed] {}
.chip[aria-haspopup] {}


// .chip[aria-expanded=true] {
//   background-image: url(
//     'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M480 696 280 497h400L480 696Z"/></svg>');
//   background-repeat: no-repeat;
//   background-size: 14px;
//   background-position: 90% 50%;
// }
