@define-mixin chip {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--size-medium);
  height: var(--size-medium);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background-weak);
  color: var(--color-text);
  position: relative;

  @media (hover) and (pointer: fine) {
    &:hover {box-shadow:var(--state-hover);}
  }
  &:disabled {border-color:transparent;}
  &.is-active {
    border-color: var(--color-background-strong);
    background: var(--color-background-strong);
    color: var(--color-text-weak);
  }
}


button {
  padding: 0;
  border: 0;
}

em {
  font-style:normal;
  font-weight: var(--font-weight-bold);
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--size-medium);
  height: var(--size-medium);
  border-radius: var(--radius);
  background: var(--color-background-weak);
  color: var(--color-text);
  position: relative;

  /* reset */
  font-family: var(--font-family);
}

.chip-icon {width:var(--size-medium);
  /* @mixin avatar-container; */
  width: 24px;
  height: 24px;
  margin: 0 0 0 var(--space-1);
  background-color: var(--color-background);
  border-radius: var(--radius);
  font-size: 14px;
}
.chip-remove:hover {box-shadow:var(--state-hover);}
.chip-label {
  padding:1px var(--space-3) var(--adjust-label-line);
  font-weight:var(--font-weight-normal);
  color:inherit;}
.chip-value {color:var(--color-primary);}

/*
.chip-remove {@mixin avatar-container;cursor:pointer;} */
.chip-remove:hover {box-shadow:var(--state-hover);}
.is-active .chip-icon {background:inherit;color:inherit;}

.chip:disabled {opacity:.5;cursor:not-allowed;}
.chip[aria-expanded] {}
.chip[aria-selected] {
  background: var(--color-background-strong);
  color: var(--color-text-strong);
}
.chip[aria-checked=true] {
  background: var(--color-background-strong);
}
.chip[aria-pressed] {}
.chip[aria-haspopup] {}

// .chip[aria-expanded=true] {
//   background-image: url(
//     'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M480 696 280 497h400L480 696Z"/></svg>');
//   background-repeat: no-repeat;
//   background-size: 14px;
//   background-position: 90% 50%;
// }


/* @define-mixin chip {

  @media (hover) and (pointer: fine) {
    &:hover {box-shadow:var(--state-hover);}
  }
  
  &.is-active {
    border-color: var(--color-background-strong);
    background: var(--color-background-strong);
    color: var(--color-text-weak);
  }

} */

/* @define-mixin chip-icon {@mixin avatar-medium;pointer-events:none;} */