.dropdown {position:relative;}
.dropdown-trigger {display:flex;align-items:center;color:var(--gray800);cursor:pointer;}
.is-active .icon-caret {transform:rotate(180deg);}
.dropdown-trigger-icon {@include box-small;}

.dropdown-menu {
  @include container-dropdown;
  height:0;
  position:absolute;
  z-index:5;
  transition:all 0.2s ease;
  transform:scale(0);
  transform-origin:left top;
}
.dropdown-menu.is-visible {
  height:auto;
  margin:.5rem 0 0 0;
  transform:scale(1);
}
.dropdown-menu-title {
  padding:0.5rem 1rem;
  font-size:var(--caption);;
}
.dropdown-menu-link {
  display:block;
  padding:0.25rem 1rem;
  color:var(--gray800);
  position:relative;
  z-index:1;
}
.dropdown-menu-link:hover {background:rgba(0, 0, 0, .05);}