// todo mixin menu title

.dropdown {position:relative;}
.dropdown-trigger {@include chip;}
.dropdown-trigger-label {padding:var(--space-chip-inset);}
.dropdown-trigger-icon {@include avatar-medium;@include chip-tailing;background:var(--gray0);}

.is-active .icon-caret {transform:rotate(180deg);}

.dropdown-menu {@include tile-elevated-small;min-width:var(--width-dropdown);padding:0;position:absolute;z-index:var(--zindex-popover);height:0;transform:scale(0);transform-origin:left top;}

.dropdown-menu-title {}
.dropdown-menu-link {display:block;margin:var(--space);color:var(--gray800);position:relative;z-index:var(--zindex-default);}
.dropdown-menu-link:hover {@include hover-item;}
.is-active + .dropdown-menu {height:auto;transform:scale(1);}