.empty {padding:4rem 0;box-sizing:border-box;}
.empty-icon {display:block;width:80px;height:80px;line-height:80px;border-radius:4px;margin:0 0 2rem;background:$color-negative;color:#fff;font-size:40px;text-align:center;}
.empty-heading {font-size:1.5rem;}
.empty-description {margin:.5rem 0 2.5rem;}
.empty-action {}