.empty {width:100%;max-width:var(--width-small);margin:0 auto;padding:4rem var(--grid-margin);box-sizing:border-box;text-align:center;}
.empty-icon {@mixin avatar-huge;border:var(--border);background:none;margin:0 auto 1.5rem;font-size:40px;}
.empty-title {@mixin text-subhead;}
.empty-description {margin:var(--space-after-subhead) 0 0;}
.empty-action {@mixin button-secondary;margin:2rem 0 0 0;}


.error {
  padding: 8rem 5%;
  position: relative;
}
.error-title {
  @mixin text-title;
}
.error-name {
  font: 300px/1 'Courier New';
  color: rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -20%);
}
.error-description {
  margin: 1rem 0 4rem 0;
}
.error-control {
}
.error-control-back {
}
.error-control-home {
  @mixin button-secondary;
}