// ? 부모에 flex-wrap이 있으면 자식에게 width: 100%을 주어야?
.empty {width:100%;padding:4rem 0;text-align:center;}
.empty-icon {@include box-large;margin:0 auto 2rem;font-size:40px;}
.empty-title {@include subhead;}
.empty-description {margin:1rem 0 2rem;}
.empty-list {margin:2rem 0 4rem;}
.empty-list-item {display:flex;justify-content:space-between;margin:.25rem 0;}
.empty-list-item b {color:var(--gray400);}
.empty-list-item span {}
.empty-action {@include button-secondary;width:50%;max-width:20rem;}


.error {
  padding: 8rem 5%;
  position: relative;
}
.error-title {
  @include title;
}
.error-name {
  font: 300px/1 'Courier New';
  color: rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -20%);
}
.error-description {
  margin: 1rem 0 4rem 0;
}
.error-control {
}
.error-control-back {
}
.error-control-home {
  @include button-secondary;
}