
/* form:invalid [type="submit"] {

  opacity: 50%;
  
  pointer-events: none;
  
  } */
.range {}
.range input[type=range] {width:100%;height:4px;background:var(--color-background-weak);appearance:none;-webkit-appearance:none;}
.range input[type=range]::-webkit-slider-thumb {appearance:none;width:16px;height:16px;padding:4px;background:var(--red800);border-radius:var(--radius);cursor:pointer;appearance:none;-webkit-appearance:none;}
.range input[type=range]:focus::-webkit-slider-thumb {transform:scale(1.25);box-shadow:0 0 0 0.25rem rgba(0,153,255,0.3), 0 var(--space-05) 0.5rem rgba(0,0,0,0.1);}


progress[value] {
  border: 0;
  background-color: #bbb;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #bbb;
}

progress[value]::-webkit-progress-value {
  background: rebeccapurple;
}
progress[value]::-moz-progress-bar { 
  background: rebeccapurple;
}

progress:not([value]) {
  /* indeterminate styles */
}

/* // custom file */
input:blank {}
input[type=file] {width:0;height:0;opacity:0;position:absolute;}
input[type=file] + label {}
input[type=file] + label:after {display:none;}


.file {}
.file-title {}
.file-helper {margin:.25rem 0 0;}
.file-input {}
.file-label {
font-family: inherit;
font-family: var(--font-family);
font-size: inherit;

display: inline-flex;
align-items: center;
justify-content: center;
min-width: var(--button-min-width);
height: var(--button-size);
padding: 0 var(--space-4) 2px;
border: var(--button-border);
border-radius: var(--button-radius);
box-sizing: border-box;

background: var(--button-color);
color: var(--button-text-color);
font-weight: var(--button-font-weight);
text-transform: capitalize;
}
.file-attachment {margin:2rem 0 0;}
.file-attachment-title {margin:.5rem 0;@mixin text-label;}
.file-attachment-helper {}
.file-attachment-list:after {content:'';display:block;clear:both;}
.file-attachment-item {@mixin tile-elevated;max-width:300px;}
.file-attachment-item:not(:first-child) {margin-top:.5rem;}
.file-attachment-item-image {width:var(--size-huge);height:var(--size-huge);border-radius:var(--radius);overflow:hidden;position:relative;}
.file-attachment-item-image img {width:xo;height:auto;max-width:auto;min-height:var(--size-huge);max-height:100px;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}
.file-attachment-item-name {display:block;margin:.25rem 0 -.25rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.file-attachment-item-size {color:var(--color-text-light);}
.file-attachment-item-delete {right:.5rem;top:.5rem;}

/* // date */
.calendar {
  width: 250px;
  --date-width: 32px;
  --date-height: 32px;
  --date-background: #eee;
  position: relative;
}
.calendar h3 {
  font-size: 1rem;
  line-height: 32px;
}
.calendar-navigation {display:flex;position:absolute;right:0;top:0;font-size:var(--font-size-small);}
.calendar-navigation-prev {width:var(--date-width);height:var(--date-width);margin-right:4px;background:var(--date-background);border-radius:var(--radius);}
.calendar-navigation-next {width:var(--date-width);height:var(--date-width);background:var(--date-background);border-radius:var(--radius);}
.calendar-head {margin-top: .5rem !important;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  gap: 4px !important;
  font-size:var(--font-size-small);
}
.calendar-head div {
  display: flex;
  justify-content: center;
  align-items: center;
  width:var(--date-width);height:var(--date-width);border-radius:var(--radius);
}
.calendar-body {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  gap: 4px !important;
}
.calendar-body-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width:var(--date-width);height:var(--date-width);border-radius:var(--radius);font-size:var(--font-size-small);
  cursor: pointer;
  &:hover {
    background: var(--color-primary);
    color: var(--gray0);
  }
}


/* // button.visually-hidden:focus,
// input[type=submit].visually-hidden:focus {
//   position: fixed;
//   top: 10px;
//   left: 10px;
//   clip: unset;
//   width: unset;
//   height: unset;
//   border: 3px solid;
//   padding: 5px;
//   background: var(--color-background);
// }

// .focus-outline {
//   outline-width: 1px;
//   outline-style: auto;
//   outline-color: Highlight;
//   outline-color: -webkit-focus-ring-color;
// } */

.counter-input {}
.price-input {}
.number-input {}

.counter {display:flex;position:relative;}
.counter-input {width:100%;margin:0 var(--space-2);background:var(--color-background-weak);border-radius:var(--radius);text-align:center;}
/* // radius = iOS */
.counter-decrement {@mixin chip;}
.counter-increment {@mixin chip;border-radius:0 var(--radius) var(--radius) 0;}
.counter-decrement[aria-disabled=true] {opacity:.5;cursor:not-allowed;}
.counter-increment[aria-disabled=true] {opacity:.5;cursor:not-allowed;}