.graph {padding:0px 0 48px;text-align:center;position:relative;}
.graph-title {padding:16px 5%;}
.graph-item {display:inline-block;width:48px;height:100px;margin:0 .5rem;background:var(--gray100);position:relative;}
.graph-item-bar {height:30px;background:crimson;position:absolute;left:0;right:0;bottom:0;}
.graph-item-value {font-size:12px;text-align:center;color:var(--gray800);position:absolute;left:0;right:0;bottom:32px;}
.graph-item-label {display:block;font-size:12px;text-align:center;position:absolute;left:0;right:0;bottom:-32px;}



.graph-item.is-horizontal {width:120px;height:4px;margin-right:2rem;border-radius:$radius400;}
.graph-item.is-horizontal .graph-item-bar {width:90%;height:4px;border-radius:$radius400;}
.graph-item.is-horizontal .graph-item-value {text-align:right;bottom:-8px;right:-2rem;}