.hero {width:auto;margin: 0 10%;padding: 3rem 4rem 4rem;border-radius: 4px;box-sizing: border-box;position: relative;z-index: 1;}
.hero-background {max-width: 100%;margin: 0 auto;background: $gray800;position: absolute;left: -50%;right: -50%;top: 0;bottom: 0;z-index: -1;}
.hero-eyebrow {display:block;font-size:1.5rem;color:$gray0;}
.hero-title {font-size:1.5rem;color:$gray0;text-indent:-2px;}
.hero-description {width:50%;margin:1rem 0 3rem 0;color:rgba(255,255,255,.8);}
.hero-cta {}
.hero-detail {margin-left:.5rem;}


.hero-head {}
.hero-body {}
.hero-foot {}

@media (max-width:$breakpoint-large) {
  .hero {margin:-4rem 5% 0;}
}

@media (max-width:$breakpoint-small) {
  // .hero {padding:2rem 3rem 3rem;}
}