// ! width inherit ::::: for button element
// 비효율 position:relative;z-index:1;

.dropdown {position:relative;}
.dropdown-menu {@include tile-elevated;min-width:var(--width-tiny);position:absolute;transform:scale(0);transform-origin:left top;}
.dropdown-menu-title {}
.dropdown-menu-item {display:block;margin:0 -.25rem;padding:0 .25rem;line-height:var(--size-medium);color:var(--color-text);position:relative;z-index:var(--zindex-default);}
.dropdown-menu-item:hover {border-radius:var(--radius);background:var(--color-background-weak);}

// 드롭다운이 항상 칩은 아니다.
.is-active + .dropdown-menu {transform:scale(1);top:calc(var(--size-medium));z-index:var(--zindex-popover);}

.menu {position:relative;z-index:1;}
.menu-heading {@include text-label;}
.menu-link {display:flex;align-items:center;height:var(--size-medium);margin:var(--space-2) 0;@include text-subhead;position:relative;}
.menu-link:hover {@include hover-item;}
.menu-link[data-size=small] {}

.menu-item {display:flex;align-items:center;width:100%;position:relative;}
.menu-item:hover {@include hover-item;}
.menu-item-avatar {@include avatar-container;margin:0 var(--space-after-avatar-medium) 0 0;}
.menu-item-label {padding:0 0 var(--adjust-label-line) 0;line-height:var(--size-medium);}
.menu-item-description {color:var(--color-text-light);}
.menu-item-helper {@include icon-indicator;margin-left:auto;}
.menu-item-action {margin-left:auto;} // container...

.menu-item + .menu-item {margin:var(--space-3) 0 0 0;}

.menu-item[data-tile=elevated] {@include tile-elevated-small;}

.menu-item[data-size=large] {display:block;@include clearfix;} // align for button element
.menu-item[data-size=large] .menu-item-avatar {float:left;width:var(--size-large);height:var(--size-large);}
.menu-item[data-size=large] .menu-item-label {line-height:var(--font-line-height);}
.menu-item[data-size=large] .menu-item-description {display:block;line-height:var(--font-line-height);}
.menu-item[data-size=large] .menu-item-action {@include position-right-top;}

.menu-item[data-align=vertical] {display: block;}
.menu-item[data-align=vertical] .menu-item-label {display: block;margin: var(--space-after-avatar-large) 0 0 0;}

.menu-item-avatar.material-symbols-outlined {background-image:none;}

.menu-item-indicator {}

@mixin item-avatar-huge {@include avatar-huge;float:left;margin-right:var(--space-after-avatar-huge);}
@mixin item-avatar-large {@include avatar-large;float:left;margin-right:var(--space-after-avatar-large);}
@mixin item-avatar-medium {@include avatar-medium;float:left;margin-right:var(--space-after-avatar-medium);}
@mixin item-avatar-small {@include avatar-small;float:left;margin-right:var(--space-after-avatar-small);}

.item {@include clearfix;width:inherit;position:relative;z-index:1;}
.item:hover {@include hover-item;}
.item + .item {margin:var(--space-after-item) 0 0 0;}
.item-avatar {@include item-avatar-large;}
.item-name {font-size:var(--font-size-medium);color:var(--color-text);}
.item-description {display:block;color:var(--color-text-light);line-height:var(--font-line-height);}
.item-description + .item-name {margin-top:-.125rem;}

.item .checkbox {display:flex;justify-content:flex-end;position:absolute;left:0;right:0;top:0;bottom:0;}
.item .checkbox label {width:100%;}
.item .checkbox label:before {display:none;left:auto;right:0;top:4px;}
.item .checkbox label:after {left:auto;right:7px;top:12px;}

// chip-togglable
.item-action {@include chip;background:var(--green100);color:var(--color-primary);position:absolute;right:0;top:50%;transform:translateY(-50%);}
.item-action.is-active {border-color:transparent;background:var(--color-background-weak);color:var(--color-text);}
.item-action-label {@include chip-label;}
.item-follow {}
.item-delete {@include chip;position:absolute;right:0;top:0;}
.item-delete:hover {}


[data-size=huge] .item-avatar {@include item-avatar-huge;}
[data-size=huge] .item-name {font-size:var(--font-size-large);}

[data-size=large] .item-avatar {@include item-avatar-large;}
[data-size=large] .item-name {font-weight:var(--font-weight-normal);}
[data-size=medium] .item-avatar {@include item-avatar-medium;}
[data-size=medium] .item-name {line-height:var(--size-medium);}
[data-size=small] .item-avatar {@include item-avatar-small;}
[data-size=small] .item-name {line-height:var(--size-small);}

.item[role=menuitem] {display:flex;align-items:center;}
[role=menuitemcheckbox] {}
[role=menuitemradio] {}