.lock-scroll {width:100%;position:fixed;overflow-y:scroll;overflow:hidden;margin-right:17px;}
.lock-scroll {
  // height: 100vh;
  overflow-y: hidden;
  padding-right: 17px;
}
// todo 닫을 때 popState 되기 때문에 스크롤이 최상단으로 가 버림...

.is-modal-visible {
  width:100%;position:fixed;overflow-y:scroll;overflow:hidden;margin-right:17px;
}

@mixin dialog {}

.modal {@include dim;} /* pointer-events:none */
.modal-dim {display:none;@include dim;}
.modal-dialog {@include modal-dialog;}
.modal-head {    display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding:var(--space-2) 0;background:var(--color-background);position:sticky;top:0;}
.modal-close {@include avatar-medium;}
.modal-head-title {margin:0 0 var(--space-after-title) 0;@include text-title;}

.modal-body {}
.modal-body-subhead {margin:var(--space-4) 0;font-size:var(--font-size-body);}
.modal-body-description {max-width:560px;margin:var(--space-after-subhead) 0 var(--space-after-description);}
.modal-body-paragraph {margin:var(--space-after-subhead) 0 var(--space-after-description);}
.modal-body-image {}
.modal-body-image img {display:block;}
.modal-body-image img + img {margin:var(--space-4) 0 0 0;}
.modal-foot {padding:var(--space-4) 0;text-align:right;}

@media (--small) {
  .modal-dialog {padding-top:2rem;}
}

@keyframes modal {
  from {opacity:0;transform:scale(1.05);}
  to {opacity:1;transform:scale(1);}
}

.is-active .modal {display:block;}