// .body-lock {width:100%;position:fixed;overflow-y:scroll;overflow:hidden;margin-right:17px;}
.body-lock {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 17px;
}

@mixin dialog {}

// todo dialog container
.modal {overflow:auto;background:rgba(0,0,0,.6);position:fixed;left:0;top:0;right:0;bottom:0;z-index:var(--zindex-modal);} /* pointer-events:none */
.modal-close {@include avatar-medium;}
.modal-dim {display:none;background:rgba(0,0,0,.6);position:fixed;left:0;right:0;top:0;bottom:0;z-index:-1;cursor:zoom-out;}
.modal-dialog {max-width:var(--width-medium);margin:5% auto;padding:4rem 5%;background:var(--color-background);border-radius:var(--radius);box-shadow:var(--shadow);animation:modal .2s forwards;position:relative;z-index:var(--zindex-modal);}
.modal-head {}
.modal-head-title {margin:2rem 0 var(--space-after-subhead) 0;@include text-subhead;}
.modal-body {}
.modal-body-subhead {margin:2rem 0 var(--space) 0;font-size:var(--font-size-body);}
.modal-body-description {max-width:560px;margin:var(--space-after-subhead) 0 var(--space-after-description);}
.modal-body-paragraph {margin:var(--space-after-subhead) 0 var(--space-after-description);}
.modal-body-image {}
.modal-body-image img {display:block;}
.modal-body-image img + img {margin:var(--space) 0 0 0;}
// todo
.modal-foot {padding:16px 0;text-align:right;}

@media (--breakpoint-small) {
  .modal-dialog {padding-left:5%;padding-right:5%;padding-top:2rem;}
}

@keyframes modal {
  from {opacity:0;transform:scale(1.05);}
  to {opacity:1;transform:scale(1);}
}

/*팝업을 띄우면서 스크롤을 막으려면 스크롤바를 없애줘야 하는데, 이게 생각보다 복잡하다. 크롬에서는 html에 overflow:hidden를 잘 주면 끝인데, 익스플로러에선 스크롤 제어하려면 body에 먹여야 한다. html에 overflow:hidden;을주고 모달에 overflow-y를 주면(조건:모달이 윈도우창보다 작아질때)*/