.pagination {display:flex;justify-content:center;padding:32px 0;position:relative;}
.pagination-previous {line-height:$cell-small;position:absolute;left:0;}
.pagination-next {line-height:$cell-small;position:absolute;right:0;}
.pagination-link {@include box-small;border:none;background-color:var(--gray0);color:var(--gray400);}
.pagination-link:hover {background-color:var(--gray100);}
.pagination-link.is-current {background-color:$color-primary;color:var(--gray0);}
.pagination-ellipsis {@include box-small;border:none;background-color:var(--gray0);color:var(--gray400);letter-spacing:1px;}
// .pagination-last:before {content:'...';display:block;width:32px;height:32px;cursor:default;}


 
.pagination2 {display:flex;justify-content:center;}
.pagination2-prev {margin-right:2rem;}
.pagination2-next {margin-left:2rem;}
.pagination2-current {}
.pagination2-divider {margin:0 .5rem;}
.pagination2-all {}