:host {}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.radio {
  --checkbox-size: var(--size-tiny);
  position:relative;
}

input[type=radio] {width:0;height:0;opacity:0;position:absolute;}

.radio label {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  line-height: var(--checkbox-size);
  position:relative;
}
.radio label:before {content:'';
  display:block;width:var(--size-tiny);height:var(--size-tiny);border-radius:50%;border:var(--border);
  /* border-color:var(--color-background-strong); */
  box-sizing:border-box;
  /* position:absolute;left:0; */
}
.radio label:after {content:'';width:.5rem;height:.5rem;border-radius:50%;background:var(--gray200);
  position:absolute;left:4px;
  transition:background-color 0.2s;
  transform:scale(0);
}

input[type=radio]:checked + label:before {
  border-color:var(--color-primary);
  animation:ripple2 0.2s linear forwards;}
input[type=radio]:checked + label:after {
  display:block;
  background:var(--color-primary);
  transform:scale(1);}

input[type=radio]:disabled + label {color:var(--gray200);cursor:not-allowed;}
input[type=radio]:disabled + label:before {background:var(--gray200);border-color:var(--gray200);}
input[type=radio]:disabled + label:after {background:var(--color-background);}