
.share-trigger {@include box-small;margin:0 0 1rem 0;}
.share-trigger svg {width:1rem;}
.share {display:flex;flex-wrap:wrap;justify-content:center;max-width:400px;padding:2rem 3rem;background:var(--gray0);border:$border100;border-radius:$radius400;box-shadow:$shadow400;box-sizing:border-box;position:relative;}
.share-back {@include box-small;position:absolute;right:.5rem;top:.5rem;}
.share-title {width:100%;margin:1rem 0 1.5rem;font-size:$subhead;font-weight:bold;text-align:center;}
.share-facebook {@include box-medium;margin:.25rem;background:$color-facebook;color:var(--gray0);font-size:$caption;}
.share-twitter {@include box-medium;margin:.25rem;background:$color-twitter;color:var(--gray0);font-size:$caption;}
.share-kakao {@include box-medium;margin:.25rem;background:$color-kakao;color:var(--gray0);font-size:$caption;}
.share-copy {display:flex;flex-wrap:wrap;width:100%;margin:2rem 0;}
.share-copy-label {}
.share-copy-url {}
.share-copy-button {@include box-small;width:100%;margin:.5rem 0;background:transparent;border:1px solid $blue100;background:$blue100;color:$color-primary;font-weight:bold;}