.color-skeleton {
  height: 100%;
  background: none;
  position: relative;
  &::before {
    content: "";
    background: linear-gradient(-90deg, var(--gray100) 0%, var(--gray200) 50%, var(--gray100) 100%);
    background-size: 400% 400%;
    border-radius: var(--radius);
    // line-height: 1rem;
    animation: pulse 2s ease-in-out infinite;
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    z-index: 1;
  }
  @keyframes pulse {
    0% {background-position: 0% 0%;}
    100% {background-position: -135% 0%;}
  }
}
