.alert {@include tile-flat;display:flex;flex-wrap:wrap;align-items:center;padding:1rem;border-left:4px solid var(--color-primary);color:var(--gray800);position:relative;}
.alert-icon {@include box-small;margin:-.75rem 1rem -.75rem 0;font-size:var(--subhead);}
.alert-close {@include box-small;position:absolute;right:.5rem;top:.5rem;}
.alert-head {position:relative;}
.alert-body {}
