.step {}
.step-item {margin:1rem 0;padding-left:calc(32px + 1rem);position:relative;}
.step-item-icon {@include box-small;font-weight:bold;position:absolute;left:0;}
.step-item-title {font-size:1rem;font-weight:bold;line-height:$cell-small;vertical-align:1px;}
.step-item-description {font-size:$caption;line-height:1.5;}
.step-space {display:none;margin:-.5rem 0 0 0;}
.step-space-dot {float:left;display:block;width:3px;height:3px;margin:21px 2px;border-radius:50%;background:var(--gray400);}

.is-active .step-item-icon {/*width:40px;height:40px;margin-top:-4px;*/background:$color-primary;color:var(--gray100);}
.is-active .step-item-title {/*margin-top:3px;*/color:$color-primary;}
.is-active .step-space-dot {background:$color-primary;}

// @media (--viewport-small) {
//   .step-item {display:flex;width:auto;margin:0;}
//   .step-item-title {margin-top:0;line-height:$cell-small;}
//   .step-item-icon {margin:0 1.25rem 0 0;}
//   .step-space {width:32px;margin:1rem 0 1rem 14px;}
//   .step-space-dot {float:none;margin:.25rem 0;}
// }