/* @charset 'utf-8'; */

/* @import 'shared/webfonts.css';
@import 'shared/variables.css';
@import 'shared/reset.css';

@import 'layout/navbar.css'; */

/* @import 'pages/design.css'; */
/* @import 'pages/component.css'; */


/* @import 'shared/mixins.css'; */
/* 
@import 'shared/icon.css';
@import 'shared/keyframes.css';
@import 'shared/utilites.css';

@import 'components/chip.css';

@import 'shared/button.css';

@import 'base/form.css';

@import 'components/breadcrumb.css';
@import 'components/graph.css';
@import 'components/snackbar.css';
@import 'components/step.css';
@import 'components/tooltip.css';
@import 'components/pagination.css';
@import 'components/banner.css';
@import 'components/cursor.css';
@import 'components/empty.css';
@import 'components/hero.css';
@import 'components/loader.css';
@import 'components/tag.css';
@import 'components/share.css';
@import 'components/timeline.css';
@import 'components/skip.css';
@import 'components/skeleton.css';
@import 'components/tab.css';

@import 'components/item.css';

@import 'pages/presentations.css';

@import 'layout/titlebar.css';
@import 'layout/footer.css'; */

/* @import 'pages/authentication.css'; */
/*
@import 'pages/about.css';
@import 'pages/post.css';
@import 'pages/cake.css';
@import 'pages/profile.css';
@import 'pages/cart.css';
@import 'pages/product.css';
@import 'pages/class.css';
@import 'pages/contact.css';
@import 'pages/terms.css';
@import 'pages/help.css';
@import 'pages/music.css';
@import 'pages/setting.css';
@import 'pages/checkout.css';
@import 'pages/order.css';
@import 'pages/changelog.css';
@import 'pages/filter.css'; */
/*
.scroll-top {
  @mixin avatar-medium;
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, .1)
}



@media (--small) {
  .scroll {
    display: none
  }

  .carousel-arrows {
    display: none;
  }
  .carousel:hover .carousel-arrows {display: block;}
}

main,
.footer {
  transition: all .6s ease;
}

.foundation {}

.foundation-tile {
  padding: 4rem var(--grid-margin);
}


.foundation-c2 {
  display: flex;
}

.foundation-c2 div {
  width: 50%;
  padding: 4rem var(--grid-margin);
}

/* .dictoinary-item {
  padding: .5rem var(--grid-margin);
  display: flex;
  font-size: var(--font-size-large);

  b {
    margin-right: 1rem;
    font-weight: var(--font-weight-normal);
  }

  span {
    width: 60%;
  }
} */

.bookitem-cover {
  padding-top: 50%;
  background: var(--gray100);
  border-radius: var(--radius);
  position: relative;
}

.bookitem-cover img {
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 100%;
  margin: auto;
  box-shadow: var(--shadow);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -.5rem;
  transition: all .4s;
}





.browser {
  text-align: center;
  padding: 2rem;
  background: var(--red800);
  background: var(--color-background);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zindex-modal);
}

.sorting-group {display:flex;align-items:center;position:relative;}
.sorting-title {margin:0 var(--space-2) 0 0;}
.sorting-item {display:flex;align-items:center;}

.obbbb {
  width: var(--size-tiny);
  background: var(--color-primary);
  height: var(--size-tiny);
  margin-bottom: 1rem;
  border-radius: var(--radius);
}

.bottombar {
  display: flex;
  justify-content: space-around;
  padding: var(--space-1) 0 calc(constant(safe-area-inset-bottom) + var(--space-2));
  padding: var(--space-2) 0 calc(env(safe-area-inset-bottom) + var(--space-2));
  border-radius: var(--radius);
  background: var(--color-background);
  box-shadow: var(--shadow);
}

.bottombar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--space-2);
  color: var(--color-text);
  position: relative;
}
.bottombar-item:hover {
  /* @mixin hover-item; */
}

.bottombar-item-icon {
  /* @mixin avatar-medium; */
  margin: 0 auto;
  background: none;
}

.bottombar-item-label {
  display: block;
  margin: -.25rem 0 0 0;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  color: var(--color-text);
}

.bottombar-item em {
  display: flex;
  width: 4px;
  height: 4px;
  background: var(--red800);
  border-radius: var(--radius);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(var(--space-3), -1.125rem);
}
.bottombar-item.is-active {}

.scroll {position: fixed;bottom: 1rem;right: 1rem;z-index: var(--z-index-default);}
.scroll-indicator {}
.scroll-indicator i {
  width: 2px;
  height: 8px;
  background: var(--gray800);
  margin: 8px auto 0;
  animation: bounce 0.5s infinite alternate;
  transform: rotate(90deg);
}