
[role=tablist] {@include tile-elevated-tiny;display:flex;}
.tablist {border-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.tablist-tab {display:flex;align-items:center;justify-content:center;flex:auto;height:var(--size-medium);padding:1px var(--space-4) var(--adjust-label-line);color:var(--color-text-light);position:relative;z-index:var(--zindex-default);}
.tablist-tab[aria-selected=true] {color:var(--color-text-weak);}
// .tablist-tab[aria-selected=true]:before {content:'✓';margin:0 var(--space-2) 0 0;}
.tablist-tab-label {padding:0 0 var(--adjust-label-line) 0;}
.tablist-tab-badge {}
.tablist-indicator {display:block;height:calc(100% - .5rem);background:var(--color-background-strong);border-color:var(--color-background-strong);border-radius:var(--radius);position:absolute;transition:all var(--duration);}
// .tablist-tab:nth-child(1)[aria-selected=true] ~ .tablist-indicator {transform: translateX(clac(70px * 1))}


.type-t[role=tablist] {padding:0 !important;border:none;border-bottom:var(--border);border-radius:0;box-shadow:none;}
.type-t .tablist-indicator {background:none;border-radius:0;border:0;border-bottom:.125rem solid var(--color-primary);bottom:-1px;}
.type-t [role=tab] {height:48px;font-weight:bold;color:var(--color-text-light);}
.type-t [role=tab][aria-selected=true] {color:var(--color-text);}

.type-sc[role=tablist] {padding:.125rem !important;border:none;box-shadow:none;background:var(--color-background-weak);}
.type-sc [role=tab] {width:50%;color:var(--color-text);height:var(--size-small);font-size:var(--font-size-small);}
.type-sc .tablist-indicator {width:33.3333%;height:var(--size-small);box-shadow:var(--shadow);background:var(--color-background);border-color:transparent !important;}

.tabpanel {display:flex;flex-wrap:wrap;margin:0 -.375rem;}
.tabpanel[aria-hidden=true] {display:none;}
.tabpanel .card {width:calc(33.3333% - .75rem);margin:0 calc(.75rem / 2) .75rem;}


.profile-display {display:flex;@include tile-elevated-tiny;margin:0 0 var(--space-3) 0;border-top:0;border-top-left-radius:0;border-top-right-radius:0;}
.profile-display-title {margin:0 0 var(--space-1) 0;font-size:var(--font-size-small);}
.profile-display-button {@include chip;background:none;}
// .profile-display-button:hover {@include hover-item;}
.profile-display-button.is-selected {background:var(--color-background-weak);}
.profile-display-button i {vertical-align:middle;}

