
.tablist {
  display:flex;
  border-radius: var(--radius);
  background:var(--color-background-weak);
  position: relative;
}
[role=tab] {}
[role=tabpanel][aria-hidden=false] {display:block;}
[role=tabpanel][aria-hidden=true] {display:none;}

::slotted([slot=tab]) {
  flex: auto;
}

.tab {
  display:flex;align-items:center;justify-content:center;
  flex:auto;
  width: 100%;
  /* width - tabSlot */
  height:var(--size-medium);
  color:var(--color-text-light);
  /* font-weight:var(--font-weight-bold); */
  position:relative;z-index:var(--zindex-default);

  /* // reset */
  border: 1px solid transparent;
  background: none;
  font-family: inherit;
}
.tab[aria-selected=true] {
  border: var(--border);
  border-radius: var(--radius);
  background:var(--color-background);
  box-shadow: var(--shadow);
  box-sizing: border-box;
  font-weight: var(--font-weight-bold);
  color:var(--color-text);
}

.tab-label {padding:0 0 var(--adjust-label-line) 0;}
.tablist-tab-badge {}
.tablist-indicator {display:block;height:calc(100% - .5rem);background:var(--color-background);box-shadow:var(--shadow);border-color:var(--color-background-strong);border-radius:var(--radius);position:absolute;transition:all var(--duration);}
.tablist-tab:nth-child(1)[aria-selected=true] ~ .tablist-indicator {transform: translateX(clac(70px * 1))}

// TODO: .type-t
// .tablist {margin:0 0 var(--space-3) 0;padding:0 !important;border:none;border-bottom:var(--border);border-radius:0;box-shadow:none;}
// .tablist .tablist-indicator {background:none;border-radius:0;border:0;border-bottom:3px solid var(--color-primary);bottom:-1px;}
// .tablist [role=tab] {height:48px;font-weight:bold;color:var(--color-text-light);}
// .tablist [role=tab][aria-selected=true] {color:var(--color-text);}


.profile-display {display:flex;margin:0 0 var(--space-3) 0;}
.profile-display-title {margin:0 0 var(--space-1) 0;font-size:var(--font-size-small);}
.profile-display-button {@mixin chip;background:none;}
// .profile-display-button:hover {@mixin hover-item;}
.profile-display-button.is-selected {background:var(--color-background-weak);}
.profile-display-button i {vertical-align:middle;}
