/* // ! text-heading-medium / text-heading-small */
@define-mixin text-title {font-size:var(--font-size-huge);font-weight:var(--font-weight-bold);line-height:var(--font-line-height);color:var(--color-text);}
@define-mixin text-subhead {font-size:var(--font-size-large);font-weight:var(--font-weight-bold);color:var(--color-text);}
@define-mixin text-body {font-size:.875rem;font-weight:var(--font-weight-normal);}
@define-mixin text-body-large {font-size:var(--font-size-large);font-weight:var(--font-weight-normal);}
@define-mixin text-label {font-size:var(--font-size-medium);font-weight:var(--font-weight-normal);color:var(--color-text-light);}
@define-mixin text-caption {font-size:var(--font-size-small);font-weight:var(--font-weight-bold);}

/* // utilities */
@define-mixin truncate {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
@define-mixin truncate-multi {
  /* // height:3rem;
  // white-space:normal;word-wrap:break-word; */
  /* overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical; */
}

/* reset */
h1, h2, h3, p {
  margin: 0;
  line-height: var(--font-line-height-large);
}

h1, h2, h3, h4, h5, h6 {}
p {}

[data-variant=display] {
  font-size: 64px;
  line-height: 1;
  font-weight: var(--font-weight-bold);
}

.text-title, [data-variant=title] {
  line-height: var(--line-height);
  
  font-size:var(--font-size-huge);font-weight:var(--font-weight-bold);line-height:var(--font-line-height);color:var(--color-text);}
.text-subhead, [data-variant=subhead] {
  /* // 단독으로 쓰이지 않음 */
  line-height: var(--line-height);
  font-size:var(--font-size-large);
  font-weight:var(--font-weight-bold);
  color: var(--color-text);
}

[data-variant=subhead] + [data-variant=body] {
  display:block;
  margin:var(--space-after-subhead) 0 0 0;
}

[data-variant=body] {
  max-width: 640px;
  /* line-height: 24px; */
}

[data-variant=body-bold] {
  /* line-height: 24px; */
  font-weight: var(--font-weight-bold);
}


[data-variant=body-large] {
  display: block;
  max-width: 800px;
  font-size:var(--font-size-large);
}

[data-variant=label] {
  /* text-transform: uppercase;
  letter-spacing: .5px; */
  font-size:var(--font-size-medium);
  font-weight:var(--font-weight-normal);color:var(--color-text-light);
}

.text-label {font-size:var(--font-size-medium);font-weight:var(--font-weight-normal);color:var(--color-text-light);}
.util-truncate {
    height:3rem;
  white-space:normal;word-wrap:break-word;
  overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;
}


/* TODO 임시... 테마 */
/* [data-variant=title], [data-variant=subhead] {
  color: #000;
} */
