p {
  margin: 0;
}

.reset-input {
  background: var(--color-background-weak);
  border: 1px solid transparent;
  border-radius: var(--radius);
  box-sizing: border-box;
  font: inherit;
  color: var(--color-text); // for safari #fff. 사파리의 인풋은 기본이 검정임. 그래서 텍스트도 흰색.
}

// input:-internal-autofill-selected {}
/* // 이거 이름 바꿨을 때 의존서이 너무 큼. mixin */

.icon-indicator {  @mixin avatar-small;
  background-image:none;
  .material-symbols-outlined {
    font-size: 1rem;
  }}

// todo 사파리에서 버튼 클릭 효과 제가
// 년도 월 일 순서로 포커싱 됨

input:valid {}
input:invalid {}

input:focus-visible {outline: 0;}

textarea {}
textarea:focus {-webkit-appearance:none;} // on safari

input::-ms-clear {display:none;}

input[type=text] {-webkit-appearance:none;} // for inner shadow on safari

// firefox decrement/increment 버튼 정렬
// 5보다 큰 값을 선택하세요 min / firefox
input[type=number] {-webkit-appearance:none;-moz-appearance:textfield;}  // for inner shadow on safari, // 파이어폭스에서 토글 없애긔
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;-moz-appearance:none;}
// textfied를 오버라이드해버림
// input[type=number] {font-family:inherit;border:0;border-radius:0;color:inherit;}

input[type=date] {-webkit-appearance:none;} // for appearance on safari
input[type=date] {display:block;max-height:48px;}  // 패딩으로 설정한 세로값 크롬에서(only?) 다른 텍스트 필드와 달라짐. iOS displayblock
input[type=date]::-webkit-calendar-picker-indicator {width:100%;opacity:0;position:absolute;left:0;bottom:0;}
input[type=date]::-webkit-inner-spin-button {display:none;}

input[type=password] {-webkit-appearance:none;letter-spacing:.5rem;}
input[type=password]::placeholder {letter-spacing:0;}

input[type=search] {-webkit-appearance:none;} // for corner rounded on sarafri
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {display:none;}


// todo indicator
@define-mixin textfield-prefix {
  @mixin avatar-medium;
  position:absolute;left:var(--space-2);top:29px;}
@define-mixin textfield-suffix {
  @mixin icon-indicator;
  position:absolute;right:var(--space-2);top:36px;}

.textfield-group {display:flex;justify-content:space-between;}
.textfield-group .textfield {width:calc(50% - var(--space-1))}

.textfield {position:relative;}

.textfield-label {display:block;margin-bottom:var(--space-1);}
.textfield-label small {margin:0 0 0 var(--space-1);color:var(--color-text-light);}

.textfield-input {
  display:block;width:100%;height:var(--size-large);padding:var(--space-2) var(--space-4);}


.textfield-input:focus {outline:0;background:var(--color-background);box-shadow:var(--state-hover);}
.textfield-input:disabled {
  border-color:var(--gray200);
  background:var(--gray200);
  color:var(--gray100);
  cursor:not-allowed;}
.textfield-input:read-only {color:var(--color-text-light);cursor:default;}

.textfield-link {@mixin link-outside;font-size:var(--font-size-small);position:absolute;right:0;top:0;}

.textfield-helper {margin-top:.25rem;color:var(--red800);}

/* // 오른쪽에 2개의 액션이 있을 수도 있다. 리빌 + 클리어. 그런데, 클리어가 있는데 리빌이 필요한가 */
.textfield-reveal {@mixin textfield-surfix;width:auto;padding:0 .5rem;background:var(--color-background);font-size:var(--font-size-small);color:var(--color-text-light);}
.textfield-check {@mixin textfield-surfix;}
.textfield-clear {@mixin textfield-surfix;border-radius:50%;background-color:var(--color-background);}
.textfield-unit {}
.textfield-prefix {@mixin textfield-prefix;}
.textfield-indicator {@mixin textfield-surfix;pointer-events:none;}

.searchfield-prefix ~ .searchfield-input,
.textfield-prefix ~ .textfield-input {padding-left:calc(var(--size-medium) + var(--space-after-avatar-medium) + .5rem);}

/* // 검색필드는 레이블이 없다. label ~로 하면 되긴 함. */
.searchfield {position:relative;}
.searchfield-prefix {@mixin textfield-prefix;top:7px;}
.searchfield-clear {@mixin textfield-surfix;top:7px;display:none;}
.searchfield-clear {right:calc(var(--size-medium) + var(--space-after-avatar-medium) + var(--space-3));}
/* // .searchfield-cancel {@mixin button-text;min-width:auto;width:var(--size-medium);position:absolute;right:0;top:0;padding:0;} */

/* // android pattern */
.is-focused .searchfield-input {display:block;width:calc(100% - var(--size-medium) - var(--space-after-avatar-medium));}
.is-focused .searchfield-cancel {right:0;}

[data-size=small] .textfield-prefix {left:var(--space-1);top:0;}
[data-size=small] .textfield-input {height:var(--size-medium);padding-left:2.25rem;}

.is-invalid .textfield-label {}
.is-invalid .textfield-input {border-color:var(--red800);color:var(--red800);}
.is-invalid .textfield-byte {color:var(--red800);}