// 텍스트가 올 때 시각보정. 아이콘이 오면 아이콘에서 margin-top:.5rem?
// hoverable. 전체가 클릭 영역일 수도 있지만 내부에 버튼이 있을 수도.
// flat / raised / elevated / floating / lifted
@mixin tile {
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  position: relative;

  &:hover {
    background-color: none !important;
  }
}
@mixin tile-flat {
  @include tile;
  margin: var(--space-3) 0;
  padding: var(--space-3);
}
@mixin tile-flat-small {
  @include tile;
  margin: var(--space-2) 0;
  padding: var(--space-2);
}
@mixin tile-flat-tiny {
  @include tile;
  padding: var(--space-1);
}

@mixin tile-elevated {@include tile-flat;border:0;box-shadow:var(--shadow-tile);}
@mixin tile-elevated-small {@include tile-flat-small;border:0;box-shadow:var(--shadow-tile);}
@mixin tile-elevated-tiny {@include tile-flat-tiny;border:0;box-shadow:var(--shadow-tile);}

.tile-flat {@include tile-flat;}
.tile-flat-small {@include tile-flat-small;}
.tile-elevated {@include tile-elevated;}
.tile-elevated-small {@include tile-elevated-small;}
.tile-elevated-tiny {@include tile-elevated-tiny;}