.tile {
  padding: var(--space-3);
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  position: relative;


  /* // 임시 */
  /* margin: var(--space-3) 0; */
}

.tile-flat {
  padding: var(--space-3);
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  position: relative;
}

.tile[data-variant=nuded] {
  padding: 0;
  border: 0;
  background: none;
}

.tile[data-variant=elevated] {
  padding: var(--space-3);
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  position: relative;box-shadow:var(--shadow-tile);
}

.tile[data-size=small] {
  padding: var(--space-2);
}

/* reset  */
figure {
  margin: 0;
}
p {margin: 0;}
img {display:block;width:100%;}


::slotted([slot=actions]) {
  position: absolute;
  right: var(--space-1);
  top: var(--space-1);
  z-index: 1;
}
::slotted([slot=tags]) {
  margin: var(--space-2) 0;
}

/* // 텍스트가 올 때 시각보정. 아이콘이 오면 아이콘에서 margin-top:.5rem?
// hoverable. 전체가 클릭 영역일 수도 있지만 내부에 버튼이 있을 수도.
// flat / raised / elevated / floating / lifted

@define-mixin tile {
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  position: relative;

  &:hover {
    background-color: none !important;
  }
}
@define-mixin tile-flat {
  @mixin tile;
  margin: var(--space-3) 0;
  padding: var(--space-3);
}
@define-mixin tile-flat-small {
  @mixin tile;
  margin: var(--space-2) 0;
  padding: var(--space-2);
}
@define-mixin tile-flat-tiny {
  @mixin tile;
  padding: var(--space-1);
}

@define-mixin tile-elevated {@mixin tile-flat;border:0;box-shadow:var(--shadow-tile);}
@define-mixin tile-elevated-small {@mixin tile-flat-small;border:0;box-shadow:var(--shadow-tile);}
@define-mixin tile-elevated-tiny {@mixin tile-flat-tiny;border:0;box-shadow:var(--shadow-tile);}

  

.tile-flat {@mixin tile-flat;}
.tile-flat-small {@mixin tile-flat-small;}
.tile-elevated {@mixin tile-elevated;}
.tile-elevated-small {@mixin tile-elevated-small;}
.tile-elevated-tiny {@mixin tile-elevated-tiny;} */






.card {
  width: 30%;
  max-width: 400px;
}
.card-thumbnail {padding-top:50%;overflow:hidden;background:var(--color-background-weak);border-radius:var(--radius);box-sizing:border-box;position:relative;}
.card-thumbnail img {display:block;width:auto;height:auto;max-width:100%;max-height:130%;margin:auto;position:absolute;left:-1px;right:-1px;top:-1px;bottom:-1px;}
.card-avatar {position:absolute;right:1.5rem;top:172px;}
.card-byline {display:flex;align-items:center;margin:var(--space-2) 0 0 0;position:relative;z-index:1;}
.card-byline:hover {@mixin hover-item;}
.card-byline-name {color:var(--color-text);line-height:var(--size-small);}
.card-title {padding:var(--space-3) 0 0;font-size:var(--font-size-medium);font-weight:var(--font-weight-bold);color:var(--color-text);}
.card-text {@mixin truncate-multi;margin:var(--space-1) 0;}
.card-category {position:absolute;left:var(--space-2);top:var(--space-2);}
.card-date {margin:0 0 0 .5rem;color:var(--color-text-light);}
.card-note {@mixin tag;justify-content:center;width:100%;margin:var(--space-3) 0 0 0;}
.card-more {@mixin chip;display:none;position:absolute;right:var(--inset);top:var(--inset);}

@media (hover) and (pointer: fine) {
  .card:hover:not(.has-clickable) {@mixin hover-item;}
  .card:hover .card-more {display:flex;}
}

.list .card {float:none;width:100% !important;margin-bottom: var(--space-3);}
.list .card-thumbnail {float:left;width:var(--size-huge);height:var(--size-huge);margin-right:var(--space-after-avatar-huge);padding-top:0;}
.list .card-thumbnail img {max-width:150%;}
.list .card-title {padding-top:0;}
.list .card-byline {margin-top:.5rem;margin-bottom:.5rem;}
