// 텍스트가 올 때 시각보정. 아이콘이 오면 아이콘에서 margin-top:.5rem?
// hoverable. 전체가 클릭 영역일 수도 있지만 내부에 버튼이 있을 수도.
// flat / raised / elevated / floating / lifted


@mixin tile-flat {
  margin: .75rem 0;
  padding: .75rem;
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  position: relative;
  // z-index: 1; // for item hover. tile 안에 tile z-index 중복.
  // @media (--breakpoint-small) {}
}
@mixin tile-elevated {@include tile-flat;box-shadow:var(--shadow);}
@mixin tile-flat-small {@include tile-flat;margin:var(--space-small) 0;padding:var(--space-small);}
@mixin tile-elevated-small {@include tile-flat;margin:var(--space-small) 0;padding:var(--space-small);box-shadow:var(--shadow);}

.tile-flat {@include tile-flat;}
.tile-flat-small {@include tile-flat-small;}
.tile-elevated {@include tile-elevated;}
.tile-elevated-small {@include tile-elevated-small;}