.timeline {position:relative;}
.timeline-item {padding:1rem 0 0 calc(var(--size-medium) + var(--space-after-avatar-medium));line-height:var(--font-line-height-small);position:relative;}
.timeline-item:before {content:'';display:block;position:absolute;left:15px;top:0;bottom:0;width:1px;background:var(--gray200);}
.timeline-item-icon {@include avatar-medium;position:absolute;left:0;top:1rem;}
.timeline-item-title {display:block;}
.timeline-item-date {color:var(--color-text-light);}
.timeline-item-description {margin:1rem 0 0 0;}
.timeline-item-panel {margin:1rem 0 0 0;padding:1.5rem;border:var(--border);border-radius:var(--radius);background:var(--color-background);position:relative;}
.timeline-item-panel.is-expanded {height:auto;overflow:auto;}
.timeline-item-panel-title {margin:.5rem 0;font-size:var(--font-size-body);font-weight:var(--font-weight-bold);}
.timeline-item-panel-description {margin:0 0 var(--space-3) 0;}
.timeline-item-panel-subhead {margin:0 0 .5rem 0;color:var(--color-text-light);font-size:var(--font-size-body);font-weight:400;}