/* @todo icon > i font-size:inherit; */
.timeline {position:relative;}
.timeline-title {font-size:$body;padding:1rem 0;}
.timeline-item {position:relative;}
.timeline-item + .timeline-item {padding:2rem 0 0 0;}
.timeline-item:before {content:'';display:block;position:absolute;left:15px;top:0;bottom:0;width:1px;background:var(--gray200);}
.timeline-item-head {padding:0 0 0 3.5rem;position:relative;}
.timeline-item-head-icon {@include box-small;position:absolute;left:0;top:0;}
.timeline-item-head-title {font-size:1rem;line-height:$cell-small;}
.timeline-item-head-date {color:var(--gray400);}
.timeline-item-body {padding:0 0 0 3.5rem;}
.timeline-item-body-panel {margin:.5rem 0 0 0;padding:$padding200;border:var(--border100);border-radius:var(--radius400);position:relative;}
// .timeline-item-body-panel.is-expanded {height:auto;overflow:auto;}
.timeline-item-body-cancel {}
.timeline-item-body-cancel button {}

.is-temp .timeline-item-head-icon {background:var(--color-primary);color:var(--gray100);}