/* @todo icon > i font-size:inherit; */
.timeline {position:relative;}
.timeline-title {font-size:var(--font-size-body);padding:1rem 0;}
.timeline-item {position:relative;}
.timeline-item + .timeline-item {padding:2rem 0 0 0;}
.timeline-item:before {content:'';display:block;position:absolute;left:15px;top:0;bottom:0;width:1px;background:var(--gray200);}
.timeline-item-head {padding:0 0 0 3.5rem;position:relative;}
.timeline-item-head-icon {@include avatar-medium;position:absolute;left:0;top:0;}
.timeline-item-head-title {font-size:var(--font-size-body);line-height:var(--size-medium);}
.timeline-item-head-date {color:var(--gray400);}
.timeline-item-head-description {margin:1rem 0 0 0;}
.timeline-item-head-description a {color:var(--gray800);text-decoration:underline;}
// .timeline-item-body {}
.timeline-item-panel {margin:1rem 0 0 0;padding:1.5rem;border:var(--border);border-radius:var(--radius);background:var(--gray0);position:relative;}
.timeline-item-panel.is-expanded {height:auto;overflow:auto;}
.timeline-item-panel-title {margin:.5rem 0;font-size:var(--font-size-body);font-weight:var(--font-weight-bold);}
.timeline-item-panel-description {margin:0 0 .75rem 0;}
.timeline-item-panel-subhead {margin:0 0 .5rem 0;color:var(--gray400);font-size:var(--font-size-body);font-weight:400;}
.timeline-item-note {margin:1rem 0 0 0;padding:0 1rem;border-left: 4px solid var(--color-primary);border-radius:var(--radius);background:var(--green100);color:var(--color-primary);position:relative;}
.timeline-item-cancel {}
.timeline-item-cancel button {}

.is-temp .timeline-item-head-icon {background:var(--color-primary);color:var(--gray100);}