.dialog {max-width:400px;@include tile-elevated;}
.dialog-head {display:flex;justify-content:space-between;}
.dialog-head-title {margin:0 auto;@include text-subhead;}
.dialog-title {@include text-subhead;}
.dialog-description {margin:.5rem 0 1.5rem;}
.dialog-footer {display:flex;flex-direction:row-reverse;justify-content:space-between;margin:2rem 0 0;}
.dialog-footer-confirm {@include button-primary;width:var(--grid-column);width:calc(50% - .25rem);}
.dialog-footer-cancel {@include button-tertiary;width:var(--grid-column);width:calc(50% - .25rem);}
// todo coloumn size
.dialog-close {@include chip;@include position-right-top;}



.toast {position:fixed;left:1rem;bottom:1rem;z-index:var(--zindex-toast);}
@media (--breakpoint-small) {
  .toast {width:auto;max-width:100%;left:1rem;right:1rem;bottom:calc(constant(safe-area-inset-bottom) + 1rem);bottom:calc(env(safe-area-inset-bottom) + 1rem);}
}














@keyframes fade-in {
  from { opacity: 0 }
}

@keyframes fade-out {
  to { opacity: 0 }
}

@keyframes slide-in {
  from { transform: translateY(var(--_travel-distance, 10px)) }
}




// .gui-toast-group {
//   position: fixed;
//   z-index: 1;
//   inset-block-end: 0;
//   inset-inline: 0;
//   padding-block-end: 5vh;
// }
// .gui-toast-group {
//   display: grid;
//   justify-items: center;
//   justify-content: center;
//   gap: 1vh;
// }
// .gui-toast {
//   max-inline-size: min(25ch, 90vw);
//   padding-block: .5ch;
//   padding-inline: 1ch;
//   border-radius: 3px;
//   font-size: 1rem;
// }
// .gui-toast-group {
//   pointer-events: none;
// }
// .gui-toast {
//   --_bg-lightness: 90%;

//   color: black;
//   background: hsl(0 0% var(--_bg-lightness) / 90%);
// }

// @media (prefers-color-scheme: dark) {
//   .gui-toast {
//     color: white;
//     --_bg-lightness: 20%;
//   }
// }

// .gui-toast {
//   --_duration: 3s;
//   --_travel-distance: 0;

//   will-change: transform;
//   animation: 
//     fade-in .3s ease,
//     slide-in .3s ease,
//     fade-out .3s ease var(--_duration);
// }

// @media (prefers-reduced-motion: no-preference) {
//   .gui-toast {
//     --_travel-distance: 5vh;
//   }
// }