.toast {width:100%;max-width:400px;padding:1.5rem 2rem;border-radius:$radius400;box-sizing:border-box;background:$gray0;border-radius:$radius400;box-shadow:$shadow400;position:fixed;left:1rem;bottom:1rem;z-index:8;}
.toast-title {font-size:$subhead;}
.toast-description {margin:0.5rem 0 1.5rem 0;}
.toast-check {/*position:absolute;right:24px;bottom:20px;*/}
.toast-close {background:$gray100;border-radius:$radius400;position:absolute;right:.5rem;top:.5rem;}
@media (--viewport-small) {
  .toast {width:auto;max-width:100%;left:0;right:0;bottom:0;}
}