.dialog {max-width:320px;padding:1.75rem 2rem 0;border-radius:$radius400;box-sizing:border-box;background-color:var(--gray0);box-shadow:$shadow400;position:relative;}
.dialog-object {position:absolute;left:50%;top:0;z-index:-1;width:100px;transform:translate(-50%, -50%);}
.dialog-title {font-size:$subhead;font-weight:bold;}
.dialog-description {margin:1rem 0 1.5rem;}
.dialog-footer {display:flex;justify-content:space-around;margin:2rem -2rem 0;padding:.25rem;border-top:1px solid var(--gray100)}
.dialog-footer button {width:100%;}
.dialog-footer-close {@include button-text;color:var(--gray400);}
.dialog-footer-confirm {@include button-text;color:$color-primary;}
.dialog-close {@include box-light;position:absolute;right:.5rem;top:.5rem;}

.toast {max-width:400px;position:fixed;left:1rem;bottom:1rem;z-index:8;}
@media (--viewport-small) {
  .toast {width:auto;max-width:100%;left:5%;right:5%;bottom:2rem;}
}