/* // todo buttongroup column과 그냥 column 달르다. */
.dialog {
  width: 100%;
  max-width:var(--popover-width-dialog);
  padding:var(--space-4);
  border:var(--border);
  border-radius:var(--radius);
  box-shadow:var(--shadow);
  box-sizing:border-box;
  background:var(--color-background);}

.dialog-head {display:flex;justify-content:space-between;}
.dialog-head-title {margin:0 auto;}

.dialog-title {}
.dialog-description {margin:.5rem 0 1.5rem;}

.dialog-head {}
.dialog-foot {}

.dialog-foot {
  display:flex;
  justify-content: flex-end;
  /* justify-content:space-between;flex-direction:row-reverse; */
  margin:1.5rem 0 0;
}

.dialog-close {position:absolute;right:.5rem;top:.5rem;}
