<main class="page">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Seperator</test-text>
    <test-text variant="body-large">
      선으로 콘텐츠를 구획합니다. 반복과 대비가 구획되었다는 인상을 주기 때문에 남용하지 않습니다.
    </test-text>
    <section class="component-example">
      <test-separator></test-separator>
    </section>
    <section class="component-props">
      <dl>
        <dt>text</dt>
        <dd>string</dd>
        <dd>ex. 또는</dd>
      </dl>
    </section>
    <section class="component-guide">
      <ul>
        <li>
          아티클 레벨에서 사용합니다. 섹션 레벨과 페이지 레벨에서는 충분한 여백으로 콘텐츠를
          구획합니다.
        </li>
        <li>
          border 속성으로 스타일링하지 않습니다. hr 태그를 사용하면 의미론적으로 주제를 분리할 수
          있고 컴포넌트의 고유성을 유지할 수 있습니다. + 선의 굵기 버그.
        </li>
        <li>seperato mode를 바꿔 bullet으로 쓰는 것은?</li>
      </ul>
    </section>
  </article>
  <!-- <li>불릿, 콤마, 콜론, 슬래시, 따옴표, 괄호 등을 사용하는 맥락에서 bullet 컴포넌트를 사용합니다.</li>
  <li>클립보드 복사를 위해 텍스트 더미를 드래그앤드롭으로 선택할 때에 불릿은 선택되지 않아야 합니다.</li> -->
</main>
