<main class="page">
  <mm-title-with-description
    title="Seperator"
    description="선으로 콘텐츠를 구획합니다. 반복과 대비가 구획되었다는 인상을 주기 때문에 남용하지 마세요."
  ></mm-title-with-description>

  <section class="component-example">
    <div
      style="
        height: var(--size-huge);
        background: var(--green100);
        border-radius: var(--radius-large);
      "
    ></div>
    <mm-separator></mm-separator>
    <div
      style="
        height: var(--size-huge);
        background: var(--green100);
        border-radius: var(--radius-large);
      "
    ></div>
  </section>

  <section class="component-props">
    <dl>
      <dt>size</dt>
      <dd>'large' | 'medium'</dd>
      <dt>text</dt>
      <dd>string</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-list
      texts='[
        "hr 태그를 사용하면 의미론적으로 주제를 분리할 수 있고 컴포넌트의 고유성을 유지할 수 있습니다. + 선의 굵기 버그.",
        "size에 따른 간격 차이를 시각적으로 가이드하기",
        "아티클 레벨에서 사용합니다. 섹션 레벨과 페이지 레벨에서는 충분한 여백으로 콘텐츠를 구획합니다. ODO 이 콘텐츠 레벨도 foundations에서 정의하고 있다. 내 마음속으로..",
        "불릿 컴포넌트의 정의. 불릿, 콤마, 콜론, 슬래시, 따옴표, 괄호 등으로 나열하는 맥락에 불릿 컴포넌트를 사용한다. 클립보드 복사를 위해 텍스트 더미를 드래그앤드롭으로 선택할 때에 불릿은 선택되지 않아야 한다."
      ]'
    >
    </mm-text-list>
  </section>
</main>
