<main class="page">
  <mm-pageheader
    title="Seperator"
    description="선으로 콘텐츠를 구획합니다. 반복과 대비가 구획되었다는 인상을 주기 때문에 남용하지 마세요."
  ></mm-pageheader>
  <section class="component-example">
    <mm-separator></mm-separator>
  </section>
  <section class="component-props">
    <dl>
      <dt>size</dt>
      <dd>'large' | 'medium'</dd>
      <dt>text</dt>
      <dd>string</dd>
    </dl>
  </section>
  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text variant="body">
        hr 태그를 사용하면 의미론적으로 주제를 분리할 수 있고 컴포넌트의 고유성을 유지할 수
        있습니다. + 선의 굵기 버그.
      </mm-text>
      <mm-text>size에 간격도 포함하는 것이 좋을까?</mm-text>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">Platform problems</mm-text>
      <mm-text variant="body">
        아티클 레벨에서 사용합니다. 섹션 레벨과 페이지 레벨에서는 충분한 여백으로 콘텐츠를
        구획합니다.
      </mm-text>
    </mm-text-group>
  </section>
  <!-- <li>불릿, 콤마, 콜론, 슬래시, 따옴표, 괄호 등을 사용하는 맥락에서 bullet 컴포넌트를 사용합니다.</li>
  <li>클립보드 복사를 위해 텍스트 더미를 드래그앤드롭으로 선택할 때에 불릿은 선택되지 않아야 합니다.</li> -->
</main>
