<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Tags <span hidden>(or badge/label)</span></test-text>
    <p class="article-description">
      인접 요소나 부모 요소를 부연하는 시각 정보입니다. 상태, 카테고리, 키워드로 강조된 시각 정보는 사용자가 복잡한 정보 더미에서 중요한 정보를
      우선적으로 파악하도록 돕습니다.
    </p>

    <test-row class="article-aka">
      <test-tag>a.k.a.</test-tag>
      <span class="hashtag" title="">Badge</span>
      <span class="hashtag" title="">Label</span>
      <span class="hashtag" title="">Keyword</span>
    </test-row>

    <section class="component-example">
      <test-tile>
        <test-row>
          <!--  role="listitem" -->
          <test-tag variant="primary" label="primary"></test-tag>
          <test-tag variant="secondary" label="secondary"></test-tag>
          <test-tag variant="tertiary" label="tertiary"></test-tag>
          <test-tag variant="tertiary" label="🔥 with icon"></test-tag>
          <test-tag role="listitem" style="background: var(--red100); border-color: var(--red100); color: var(--red800)">15</test-tag>
          <!-- <figure class="tag-icon" role="img">🔥</figure> -->
        </test-row>
      </test-tile>
      <article class="component-props">
        <test-text variant="subhead">Props</test-text>
        <dl>
          <dt>label</dt>
          <dd>string</dd>
          <dd>2단어 이하의 형용사 또는 명사</dd>
          <dt>appearance</dt>
          <dd>'primary' | <del>'secondary'</del> | 'tertiary<sup>default value</sup>'</dd>
          <dd>하나의 컨테이너에 primary는 하나만 존재한다.</dd>
        </dl>
      </article>
    </section>

    <test-text variant="body-large" class="article-kicker">
      <b>4개 이상의 태그를 그룹화하지 마세요. </b>태그는 <mark>핵심 키워드를 요약</mark>하여 사용자의 콘텐츠 탐색과 선택을 돕는 역할입니다. 너무 많은
      태그 목록을 노출하는 것은 되려 콘텐츠 탐색을 어렵게 할 수 있습니다.
    </test-text>

    <p>groupable</p>
    <!-- <li>Primary style 하나만.</li> -->
    <!-- <test-text variant="subhead">Best practices</test-text>
        <li>non-clickable<span hidden>triggering interaction</span></li>
        <li>Groupable</li>
      </ul> -->
    <!-- <li>최대 2단어</li> -->
  </article>

  <!-- <p>Badges show the count of some adjacent data. A dot badge notifies the user that something is new or updated without showing a count.</p> -->
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Badges</test-text>
    <p class="article-description">수량, 상태.</p>

    <section class="component-example">
      <test-tile>
        <test-row>
          <!-- <test-badge variant="primary">24</test-badge> -->
          <test-badge variant="secondary">16</test-badge>
          <test-chip>
            <span style="display: inline-block; line-height: 16px">메뉴 &nbsp;</span>
            <test-badge>16</test-badge>
          </test-chip>
          <test-tag>
            <em style="display: inline-flex; width: 6px; height: 6px; margin-right: var(--space-2); background: crimson; border-radius: 50%"></em>
            live
          </test-tag>
        </test-row>
      </test-tile>
    </section>
  </article>
</main>
