<main class="component">
  <!-- 그랜드센트럴/직업/모던타임즈/빵과장미/나다니엘블레이크/내일을위한시간/하층민들/성냥공장소녀/천국으로가는노동계급/동지 -->
  <!-- 스시 장인: 지로의 꿈 우리 함께 장인에 대해 이야기해보자며 미슐랭 쓰리 스타 운운하는 천박함 -->
  <!-- 전시 2022.08.17 헝가리 -->
  <!-- 일루시브 웨이브즈 Illusive Waves: Breathing under Water 
    밀라드 모자리 & 미추 새먼
    인천아트플랫폼 창고갤러리
  -->
  <test-chip-group>
    <test-chip status="active">전체</test-chip>
    <test-chip>2020년대</test-chip>
    <test-chip>2010년대</test-chip>
    <test-chip>일본</test-chip>
    <test-chip>한국</test-chip>
    <test-chip>이탈리아</test-chip>
  </test-chip-group>
  <br />
  <p class="length" role="status"></p>
  <div class="group" style="display: flex; flex-wrap: wrap; gap: 1rem"></div>
</main>
