<main class="page">
  <!-- 그랜드센트럴/직업/모던타임즈/빵과장미/나다니엘블레이크/내일을위한시간/하층민들/성냥공장소녀/천국으로가는노동계급/동지 -->
  <!-- 스시 장인: 지로의 꿈 우리 함께 장인에 대해 이야기해보자며 미슐랭 쓰리 스타 운운하는 천박함 -->
  <!-- 전시 2022.08.17 헝가리 -->
  <!-- 일루시브 웨이브즈 Illusive Waves: Breathing under Water 
      밀라드 모자리 & 미추 새먼
      인천아트플랫폼 창고갤러리
    -->
  <mm-group variant="chip">
    <mm-button status="active">전체</mm-button>
    <mm-button>2020년대</mm-button>
    <mm-button>2010년대</mm-button>
    <mm-button>일본</mm-button>
    <mm-button>한국</mm-button>
    <mm-button>이탈리아</mm-button>
  </mm-group>
  <br />
  <p class="length" role="status"></p>
  <div class="group" style="display: flex; flex-wrap: wrap; gap: 1rem"></div>
</main>

<!-- 고래사냥/어느날밤에생긴일/후지산의혈창/도플갱어/바람꽃/소년/죽음의안토니오/바보선언/불을찾아서/치쿠잔의여행/방랑자/인투더와일드/와일드/아귀레,신의분노/삼포가는길/문라이즈킹덤/이지라이더/우리에게내일은없다/미치광이피에로/광란의사랑/황무지/오!형제여어디에있는가?/브루스브라더스/해롤드와모드/내친구의집은어디인가/진짜로일어날지도몰라기적/텐텐/영원한휴가/레닌그라드카우보이미국에가다/천국보다낯선/시간의흐름속으로/파리텍사스/기쿠지로의여름/미드나잇카우보이/허수아비/워커힐에서만납시다/역마차

만사형통/로프/나라야마부싴/동반자살/12명의성난사람들/단지세상의끝/지난해마리앙바드에서/엘리펀트송/눈먼짐슴/안조가의무도회/나의경우/미라클워커/태아가밀렵될때/얼굴들/교사형/왕자와무희/천국과지옥/가을소나타/뜨거운양철지붕위의고양이/누가버지니아울프를두려워하랴/그의연인프라이데이

팔월의젖은모래/현대야쿠자/짓소지아키오1969/변태가족,형의새각시/하우스/수풀속의검은고양이/월요일의유카/분화구의두사람/나기의휴식/아오하라이드/고교대패닉/스자키파라다이스적신호/부초/69식스티나인/은행털이범과어머니/그곳에서만빛난다/태양의묘지/녹차의맛/타오름/쌀/썸머타임머신블루스/청춘의살인자/미친과실/러브&팝/시간을달리는소녀/썸머워즈/모래의여자/라쇼몽/소나티네/색정암컷시장/숨은요새의세악인/쏘아올린불꽃/청춘잔혹이야기/철남/아무도모른다/오니바바/우나기/소년,소녀그리고바다/기쿠지로의여름/동반자살일본의여름/그여름가장조용한바다/광열의계 -->
