<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">MenuItem</test-text>
    <test-text variant="body-large">
      사용자가 수행할 수 있는 행동 목록. 단독으로 쓸 수 있다.
    </test-text>

    <!-- a11ym menu - group - menuitem -->

    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd title="shopify 22 12">Action list</dd>
      <dd title="shopify 22 12">Menu group</dd>
      <dd>action menu</dd>
    </dl>

    <section class="component-example">
      <test-menuitem size="large" style="margin: 0 0 var(--space-2)">
        <test-avatar slot="avatar" size="large">🦊</test-avatar>
        <div slot="text">
          <test-text variant="body">사진 및 동영상 백업</test-text>
          <test-text variant="label">디스크립션이다</test-text>
        </div>
        <test-chip slot="action">버튼</test-chip>
      </test-menuitem>
      <!-- TODO prefix / suffix -->
      <test-group variant="menuitem">
        <test-menuitem label="메뉴아이템 링크" role="menuitem">
          <test-avatar slot="avatar" name="bell"> </test-avatar>
        </test-menuitem>
        <test-menuitem role="menuitemradio" label="메뉴아이템 스위치">
          <test-avatar slot="avatar"></test-avatar>
          <test-switch slot="action"></test-switch>
        </test-menuitem>
        <test-menuitem label="메뉴아이템 체크박스" role="menuitemcheckbox">
          <test-avatar slot="avatar"></test-avatar>
          <test-checkbox
            slot="check"
            id="check1"
            name="check1"
            value=""
            checked="true"
          ></test-checkbox>
        </test-menuitem>
        <test-menuitem label="메뉴아이템 라디오" role="menuitemradio">
          <test-avatar slot="avatar"></test-avatar>
          <test-radio slot="check" id="radio1" name="radio1" value="" checked="true"></test-radio>
        </test-menuitem>
        <test-menuitem label="windows 패턴">
          <test-avatar slot="avatar"></test-avatar>
          <test-group slot="action" variant="chip">
            <test-chip>with quick action</test-chip>
            <test-avatar>
              <test-icon name="arrow-right"></test-icon>
            </test-avatar>
          </test-group>
        </test-menuitem>
        <test-tile variant="elevated" size="small" role="menuitemcheckbox">
          <test-menuitem label="강조된 메뉴아이템" description="리스트가 될 수 없어">
            <test-avatar slot="avatar" style="font-size: var(--font-size-large)">🦊</test-avatar>
            <test-switch slot="action" role="switch"></test-switch>
          </test-menuitem>
          <small style="display: block; margin: var(--space-2) 0 0"
            >Google 포토에 최대 해상도로 백업. TODO menuitem에 tile이 포함되어야 hover 상태.</small
          >
        </test-tile>
      </test-group>
    </section>

    <section class="component-props">
      <!-- <test-text variant="subhead">Props</test-text> -->
      <dl>
        <dt>name</dt>
        <dd>string</dd>
        <dd></dd>
        <dt>size</dt>
        <dd>'large' | 'medium'</dd>
        <dd>text 크기의 차이. large는 without avatar</dd>
        <dt>action</dt>
        <dd>'checkbox' | 'radio' | 'switch' | 'link (default)'</dd>
        <dd>actionSlot :: checkbox / radio / switch</dd>
        <dt>avatar?</dt>
        <dd>React.ReactNode</dd>
        <dd>avatarSlot => leadingSlot (leadingVisual)</dd>
        <dt>tag<attr>?</attr></dt>
        <dd>React.ReactNode</dd>
        <dd></dd>
        <dd></dd>
        <dt>tile ???</dt>
        <dd>elevated | none</dd>
      </dl>
    </section>

    <section class="component-guide">
      <test-text variant="subhead">Behavior</test-text>
      <test-text variant="body">
        모든 menuitem container가 clickable은 아니다. 액션 버튼이 따로 존재할 수도 있어야 한다.
        하지만 이 케이스는 팔로우 팔로잉. 또는 전체 영역이 팔로우. 이 정보가 중요한 이유 hover 상태
        표현을 위해.
      </test-text>
      <test-text variant="body"> <b>맥락.</b> 스위치는 설정 메뉴, 체크박스는 선택 메뉴. </test-text>

      <test-text variant="subhead">Visual style</test-text>
      <test-text variant="body">
        <b>메뉴 아이템의 우측(action) 슬롯에는 액션 또는 액션 인티케이터가 위치합니다.</b> 정보를
        보충하는 맥락의 태그 컴포넌트('new' 등)를 배치하지 마세요. (case 토스. 우측 new)
      </test-text>
      <test-text variant="body">
        <b>목록.</b> elevated menu item은 강조를 위해 하나만 사용할 수 있습니다.
      </test-text>

      <blockquote>
        <p>전체 액션 props, 내부 액션 slot props</p>
        <ul class="checklist" style="margin: 0">
          <li>
            labelSlot / textSlot / contentSlot :: 사이즈에 따라 두 줄이 될 수 있는데, 세부적인
            정의를 실무자가 암기할 필요 없어야. 캡슐화
          </li>
          <li>
            변경하기 쉽도록 데이터 타입을 통일해야 함. 변경 가능성을 고려할 때는 받는 데이터를
            따라갈 수도 있겠다. 뭔 말이야 확실하게 메모해놓기..
          </li>
          <li>TODO :: list action ( + add product )</li>
        </ul>
      </blockquote>

      <test-text variant="subhead">Anatomy</test-text>
      <ul>
        <li>* MenuBar</li>
        <li>Menu -> MenuButton(Trigger) / MenuList - MenuItem, MenuLink</li>
        <li>MenuItemAvatar. sizes: large | medium</li>
        <li>MenuItemLabel - title(truncated)</li>
        <li>MenuItemAction. toggle | more | delete</li>
        <li>MenuHelper. role: setting-item. filter-item.</li>
        <li>
          Menus appear when users interact with a button, action, or other control.
          <br />
          They can be opened from a variety of elements, most commonly icon buttons, buttons, and
          text fields.
        </li>
        <li>avatarSlot. text14px. 32px size = 24px size + 8px space</li>
      </ul>

      <test-text variant="body-bold">Dropdown menu</test-text>
      <test-text variant="body-bold">Sheet menu</test-text>
      <test-text variant="body-bold">Modal menu</test-text>
      <test-text variant="body-bold">Sidebar menu</test-text>
      <test-text variant="body-bold">Navigation? menu</test-text>
    </section>

    <section style="width: 100%; max-width: 400px">
      <test-tile variant="flat">
        <test-group variant="dropdown">
          <test-text variant="label">menu heading / gap margin left on label</test-text>
          <test-menuitem role="menuitem" href="#design">
            <test-icon slot="check" name="check"></test-icon>
            <span slot="text">Only Text</span>
          </test-menuitem>
          <test-menuitem role="menuitem">
            <span slot="check"></span>
            <span slot="text">on popover</span>
          </test-menuitem>
          <test-menuitem class="dropdown-menu-item">
            <span slot="check"></span>
            <span slot="text">with dropdown/pulldown</span>
          </test-menuitem>
          <test-menuitem class="dropdown-menu-item">
            <span slot="check"></span>
            <span slot="text">with popover</span>
          </test-menuitem>
        </test-group>
      </test-tile>

      <br />

      <test-tile variant="flat" class="share">
        <test-titlebar heading="공유"></test-titlebar>
        <br />
        <test-text variant="subhead" class="share-title"
          >가족이나 친구와<br />함께 보세요!</test-text
        >
        <br />
        <test-group variant="menuitem">
          <!-- <close-button></close-button> -->
          <test-menuitem class="share-facebook" label="facebook으로 공유">
            <test-avatar
              slot="avatar"
              size="medium"
              icon="facebook"
              style="background-color: var(--color-facebook); color: #fff"
            >
            </test-avatar>
          </test-menuitem>
          <test-menuitem class="share-twitter" label="twitter로 공유">
            <test-avatar
              slot="avatar"
              icon="twitter"
              style="background-color: var(--color-twitter); color: #fff"
            >
            </test-avatar>
          </test-menuitem>
          <test-menuitem class="share-kakao" label="kakao talk으로 공유">
            <test-avatar slot="avatar" icon="message" style="background-color: var(--color-kakao)">
            </test-avatar>
          </test-menuitem>
        </test-group>
        <test-separator></test-separator>
        <test-textfield
          value="https://newneek.co/post/jadebabo"
          placeholder="이건 사실 입력 기능이 없다 커스텀 컴포넌트."
          size="small"
          class="share-copy"
        >
          <!-- <input class="share-copy-url textfield-input" type="text" value=" readonly /> -->
          <button class="share-copy-button js-copy" type="button" tabindex="0">복사</button>
        </test-textfield>
      </test-tile>

      <br />

      <test-tile variant="flat" class="access">
        <test-titlebar heading="공개 대상 선택"></test-titlebar>
        <br />
        <test-group variant="menuitem">
          <test-menuitem ize="large" label="전체 공개" description="Facebook 안팎의 모든 사람">
            <test-radio slot="check" checked></test-radio>
            <test-avatar slot="avatar" size="large" icon="group"> </test-avatar>
          </test-menuitem>
          <test-menuitem
            class="is-active"
            size="large"
            label="친구만"
            description="회원님의 Facebook 친구"
          >
            <test-radio slot="check"></test-radio>
            <test-avatar slot="avatar" size="large" icon="group"> </test-avatar>
          </test-menuitem>
          <test-menuitem data-size="large" label="나만 보기" description="부끄러우니까">
            <test-radio slot="check"></test-radio>
            <test-avatar slot="avatar" size="large" icon="lock"> </test-avatar>
            <span class="item-label" style="line-height: var(--size-large)"></span>
            <spa slot="description"></spa>
          </test-menuitem>
        </test-group>
      </test-tile>

      <br />

      <test-tile>
        <test-tile>
          <b>Personal License</b>
          <small style="display: block; color: var(--color-text-light)">1 user</small>
          <b style="position: absolute; right: var(--space-3); top: var(--space-3)">18,800 KRW</b>
        </test-tile>
        <div style="margin: var(--space-3) 0">
          <test-menuitem>
            <test-avatar
              slot="avatar"
              size="large"
              fallback="🎅🏻"
              src="/public/images/springsteen.jpg"
            ></test-avatar>
            <div slot="text">
              <b class="item-name">Widgefy iOS Widgets</b>
              <p style="color: var(--color-text-light); line-height: 24px">떡볶이</p>
            </div>
            <div slot="action" style="text-align: right">
              <p class="item-price">18,800 KRW</p>
              <span style="color: var(--color-text-light)">6410</span>
            </div>
          </test-menuitem>
        </div>
        <footer>
          <test-button variant="primary">Buy now</test-button>
        </footer>
      </test-tile>

      <test-separator></test-separator>

      <test-menuitem size="large">
        <test-avatar slot="avatar" size="large"></test-avatar>
        <div
          slot="text"
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 48px;
            margin-top: -0.125rem;
          "
        >
          <test-text variant="body-bold">사진 및 동영상 백업</test-text>
          <test-group variant="avatar">
            <test-avatar size="small"></test-avatar>
            <test-avatar size="small"></test-avatar>
            <test-avatar size="small"></test-avatar>
            <test-avatar size="small"></test-avatar>
            <test-text variant="label">label</test-text>
          </test-group>
        </div>
        <test-text slot="description">멤바 45명</test-text>
        <test-chip slot="action">추가</test-chip>
      </test-menuitem>

      <br /><br />

      <test-tile
        variant="flat"
        class="userlist"
        style="width: 100%; max-width: 400px; overflow: hidden; z-index: 1"
      >
        <test-titlebar heading="팔로우하는 사람"></test-titlebar>
        <br />
        <!-- <a class="link-outside" href="#">모두 보기</a> -->
        <!-- <test-group variant="chip" style="margin: 0 0 var(--space-3)">
          <test-chip status="active">모두</test-chip>
          <test-chip>바보만</test-chip>
        </test-group> -->
        <div style="max-width: 200px; margin-bottom: var(--space-3)">
          <test-tablist>
            <test-tab slot="tab" selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">
              모두
            </test-tab>
            <test-tab slot="tab" aria-controls="panel-2" id="tab-2" tabindex="-1">바보만</test-tab>
          </test-tablist>
        </div>
        <test-group variant="menuitem">
          <test-menuitem size="large">
            <test-avatar
              slot="avatar"
              size="large"
              default="true"
              style="background-color: yellowgreen"
            ></test-avatar>
            <div slot="text">
              <test-text variant="body-bold" style="line-height: 24px">coffee</test-text>
              <test-text variant="label" style="line-height: 24px">유아이 디자이너</test-text>
            </div>
            <test-chip slot="action" status="active">팔로우</test-chip>
          </test-menuitem>
          <test-menuitem size="large">
            <test-avatar
              slot="avatar"
              size="large"
              default="true"
              style="background-color: blueviolet"
            ></test-avatar>
            <div slot="text">
              <test-text variant="body-bold" style="line-height: 24px">soojubm</test-text>
              <test-text variant="label" style="line-height: 24px">유투브 구독자</test-text>
            </div>
            <test-chip slot="action">팔로우 중</test-chip>
          </test-menuitem>
          <test-tile variant="elevated" size="small">
            <test-menuitem label="더 많은 친구를 찾아보세요!" description="">
              <test-avatar slot="avatar"></test-avatar>
            </test-menuitem>
          </test-tile>
          <div style="height: var(--space-2)"></div>
          <test-text variant="label"
            >칩 그룹으로 필터링을 제공하니 팔로우 버튼과 위계가 안 맞다. 아바타도 너무 작아서 유저
            사이의 간격이 좁아 콘텐츠 분리가 안 된다.</test-text
          >
        </test-group>
      </test-tile>

      <br /><br />
      <div>
        <test-titlebar heading="See this post in">
          <test-link slot="action">적용</test-link>
        </test-titlebar>
        <br />
        <test-group variant="menuitem">
          <test-menuitem label="수줍이 앱">
            <test-avatar slot="avatar" size="large" secondary></test-avatar>
            <test-chip slot="action">열기</test-chip>
          </test-menuitem>
          <test-menuitem label="사파리 브라우저">
            <test-avatar slot="avatar" size="large"></test-avatar>
            <test-chip slot="action" status="active">실행</test-chip>
          </test-menuitem>
        </test-group>
      </div>
    </section>
  </article>

  <article class="article">
    <test-text variant="title">Entity</test-text>
    <test-text variant="body-large">
      분류. bottom nav item, icon button with label, user(entity huge). icon button vertical
      horizontal label이 박스 위 안에 있나 밖에 있나. 슬롯을 써도 그것은 결국 컴포넌트에서
      일회성으로 이루어지는 것이기 때문에 공통 아이콘 요소는 슬롯으로 가는 것이 어떨까.
    </test-text>

    <section class="component-example">
      <test-group alignment="vertical">
        <test-entity
          size="huge"
          label="이거 subhead는 형태이고 name은 역할인데."
          description="list로 사용할 때 maxWidth"
          description2="description area2."
        >
          <test-avatar slot="avatar" size="huge" variant="secondary"></test-avatar>
        </test-entity>
        <test-entity description="공유 TODO bottom nav">
          <test-avatar slot="avatar" size="large" variant="secondary" icon="share-ios">
          </test-avatar>
        </test-entity>
        <test-group variant="menuitem">
          <test-menuitem label="더보기">
            <test-avatar slot="avatar" size="large" variant="secondary" icon="more-horiz-circle">
            </test-avatar>
          </test-menuitem>
          <test-entity description="툴">
            <test-avatar slot="avatar" size="large" variant="secondary" icon="share-ios">
            </test-avatar>
          </test-entity>
        </test-group>
        <test-menuitem size="large" label="EntityLarge" description="individual, user">
          <test-avatar slot="avatar" size="large"></test-avatar>
        </test-menuitem>
        <test-menuitem label="EntityMedium" time="36.4만">
          <test-avatar slot="avatar"></test-avatar>
          <test-chip slot="action" class="item-delete"></test-chip>
        </test-menuitem>
        <test-menuitem size="small" label="EntitySmall">
          <test-avatar slot="avatar" size="small"></test-avatar>
        </test-menuitem>
      </test-group>
    </section>

    <test-text variant="subhead">Best practices</test-text>
    <ul>
      <li>
        크기 별로 특정 컨테이너의 주체가 나뉜다. 예를 들면 huge는 페이지 레벨의 정보 주체가 될 수
        있음.
      </li>
      <li>학습이 필요없는 보편 케이스와 도메인에 종속적인 특수 케이스를 구분하기.</li>
    </ul>
  </article>

  <section
    style="
      margin: 4rem 0 0;
      padding: 2rem var(--grid-margin) 4rem;
      background: var(--color-background-weak);
    "
  >
    <test-text variant="subhead">User</test-text>
    <test-text variant="body">
      <mark>페이지 레벨</mark> 정보의 주체. 단독으로 사용. 클릭할 수 있는 요소가 아니라 페이지를
      대표하는 요소, 시각 정보로만 동작한다. 왜냐하면 이미 해당 페이지의 타이틀 롤이기 때문.
    </test-text>
    <test-tile style="margin: 1rem 0 0 0">
      <test-entity label="windows-emoji" description="tag page head">
        <test-avatar slot="avatar" variant="secondary" size="huge">#</test-avatar>
      </test-entity>
    </test-tile>
    <br /><br />
    <test-text variant="subhead">User item</test-text>
    <test-text variant="body"
      >다수의 유저 목록을 표현. 또는 <mark>아티클 레벨</mark> 정보의 주체. 피드 등에서
      사용하는.</test-text
    >
    <test-tile size="small" style="margin: 1rem 0 0 0">
      <test-menuitem label="수줍이">
        <test-avatar slot="avatar">
          <i class="iconoir-github-circle"></i>
        </test-avatar>
        <test-chip slot="action">팔로우</test-chip>
      </test-menuitem>
    </test-tile>
    <!-- class="social-link social-github"
  role="menuitem"
  href="https://github.com/soojubm"
  target="_blank"
  rel="noopener noreferrer" -->
  </section>
</main>
