<main class="page">
  <mm-text variant="title">MenuItem</mm-text>
  <mm-text variant="body-large">
    사용자가 수행할 수 있는 행동 목록. 선택과는 다른 맥락. 단독으로 쓸 수 있다.
  </mm-text>

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd title="shopify 22 12">Action list</dd>
    <dd title="shopify 22 12">Menu group</dd>
    <dd>action menu</dd>
  </dl>

  <section class="component-example">
    <!-- TODO prefix / suffix -->
    <mm-group variant="menuitem">
      <mm-menuitem>
        <mm-avatar slot="avatar" size="large">🦊</mm-avatar>
        <div slot="text">
          <mm-text variant="body-bold">사진 및 동영상 백업</mm-text>
          <mm-text variant="body">디스크립션이다</mm-text>
        </div>
        <mm-button slot="action">버튼</mm-button>
      </mm-menuitem>
      <mm-menuitem label="메뉴아이템 링크" role="menuitem">
        <mm-avatar slot="avatar">🦊</mm-avatar>
      </mm-menuitem>
      <mm-menuitem role="menuitemradio" label="메뉴아이템 스위치">
        <mm-avatar slot="avatar">🦊</mm-avatar>
        <mm-switch slot="action"></mm-switch>
      </mm-menuitem>
      <mm-menuitem label="메뉴아이템 체크박스" role="menuitemcheckbox">
        <mm-avatar slot="avatar">🦊</mm-avatar>
        <mm-checkbox slot="check" id="check1" name="check1" value="" checked="true"></mm-checkbox>
      </mm-menuitem>
      <mm-menuitem label="메뉴아이템 라디오" role="menuitemradio">
        <mm-avatar slot="avatar">🦊</mm-avatar>
        <mm-radio slot="check" id="radio1" name="radio1" value="" checked="true"></mm-radio>
      </mm-menuitem>
      <mm-tile variant="elevated" size="small" role="menuitemcheckbox">
        <mm-menuitem label="강조된 메뉴아이템" description="리스트가 될 수 없어">
          <mm-avatar slot="avatar">🦊</mm-avatar>
          <mm-switch slot="action" role="switch"></mm-switch>
        </mm-menuitem>
        <div style="height: var(--space-1)"></div>
        <small>
          Google 포토에 최대 해상도로 백업. TODO menuitem에 tile이 포함되어야 hover 상태.
        </small>
      </mm-tile>
    </mm-group>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <dt>name</dt>
      <dd>string</dd>
      <dd></dd>
      <dt>size</dt>
      <dd>'large' | 'medium'</dd>
      <dd>text 크기의 차이. large는 without avatar</dd>
      <dt>action</dt>
      <dd>'checkbox' | 'radio' | 'switch' | 'link (default)'</dd>
      <dt>avatar?</dt>
      <dd>React.ReactNode</dd>
      <dd>avatarSlot => leadingSlot (leadingVisual)</dd>
      <dt>tag<attr>?</attr></dt>
      <dd>React.ReactNode</dd>
      <dd></dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text variant="subhead">Behavior</mm-text>

    <mm-text variant="subhead">Visual style</mm-text>
    <div style="height: var(--space-3)"></div>
    <mm-text variant="body-bold">
      메뉴 아이템의 우측(action) 슬롯에는 액션 또는 액션 인티케이터가 위치합니다.
    </mm-text>
    <mm-text variant="body">
      정보를 보충하는 시각 정보 컴포넌트, 예를 들면 태그 컴포넌트('new' 등)를 배치하지 마세요.
    </mm-text>

    <mm-text variant="subhead">Anatomy</mm-text>
    <ul>
      <li>Menu -> MenuButton(Trigger) / MenuList - MenuItem, MenuLink</li>
      <li>MenuItemAvatar. sizes: large | medium</li>
      <li>MenuItemLabel - title(truncated)</li>
      <li>MenuItemAction. toggle | more | delete</li>
      <li>MenuHelper. setting-item. filter-item.</li>
    </ul>

    <mm-text variant="subhead">Cases</mm-text>
    <mm-text variant="body-bold">Dropdown menu.</mm-text>
    <mm-text variant="body-bold">Sheet menu / Modal menu : size</mm-text>
    <mm-text variant="body-bold">Sidebar menu</mm-text>
    <mm-text variant="body-bold">Sitemap menu</mm-text>
    <mm-text variant="body-bold">Global navigation menu</mm-text>

    <ul class="checklist">
      <li>align-items: center가 없어도 되는. border가 있고 내부 간격이 있으면.</li>
      <li>
        textSlot :: 사이즈에 따라 두 줄이 될 수 있는데, 세부적인 정의를 실무자가 암기할 필요 없어야.
        캡슐화
      </li>
      <li>메뉴 아이템에 2가지 이상의 액션을 허용할 것인가?</li>
      <li>
        모든 menuitem container가 clickable은 아니다. 액션 버튼이 따로 존재할 수도 있어야 한다. 이
        정보가 중요한 이유 hover 상태 표현을 위해. 케이스. 팔로우 팔로잉. 또는 전체 영역이 팔로우.
      </li>
      <li>맥락. 스위치는 설정 메뉴, 체크박스는 선택 메뉴.</li>
    </ul>
  </section>

  <section class="component-case">
    <mm-tile variant="flat">
      <mm-group variant="dropdown">
        <mm-text variant="label">menu heading / line height</mm-text>
        <mm-menuitem role="menuitem" href="#design">
          <mm-text slot="text" variant="subhead">Anxiety </mm-text>
        </mm-menuitem>
        <mm-menuitem role="menuitem" href="#design">
          <mm-text slot="text" variant="subhead">General worry</mm-text>
        </mm-menuitem>
      </mm-group>
    </mm-tile>
    <mm-tile>
      <mm-menuitem label="windows 패턴">
        <mm-avatar slot="avatar"></mm-avatar>
        <mm-group slot="action" variant="chip">
          <mm-button>퀵 액션</mm-button>
          <mm-icon-button icon="arrow-right"> </mm-icon-button>
        </mm-group>
      </mm-menuitem>
    </mm-tile>
    <mm-tile variant="flat">
      <mm-group variant="dropdown">
        <mm-text variant="label">menu heading / gap margin left on label</mm-text>
        <mm-menuitem role="menuitem" href="#design">
          <mm-icon slot="check" name="check"></mm-icon>
          <span slot="text">Only Text</span>
        </mm-menuitem>
        <mm-menuitem role="menuitem">
          <span slot="check"></span>
          <span slot="text">on popover</span>
        </mm-menuitem>
        <mm-menuitem class="dropdown-menu-item">
          <span slot="check"></span>
          <span slot="text">with dropdown/pulldown</span>
        </mm-menuitem>
        <mm-menuitem class="dropdown-menu-item">
          <span slot="check"></span>
          <span slot="text">with popover</span>
        </mm-menuitem>
      </mm-group>
    </mm-tile>
    <mm-tile variant="flat" class="share">
      <mm-titlebar heading="공유"></mm-titlebar>
      <div style="height: var(--space-3)"></div>
      <mm-text variant="subhead" class="share-title">가족이나 친구와<br />함께 보세요!</mm-text>
      <div style="height: var(--space-3)"></div>
      <mm-group variant="menuitem">
        <!-- <close-button></close-button> -->
        <mm-menuitem class="share-facebook" label="facebook으로 공유">
          <mm-avatar
            slot="avatar"
            size="medium"
            icon="facebook"
            style="background-color: var(--color-facebook); color: #fff"
          >
          </mm-avatar>
        </mm-menuitem>
        <mm-menuitem class="share-twitter" label="twitter로 공유">
          <mm-avatar
            slot="avatar"
            icon="twitter"
            style="background-color: var(--color-twitter); color: #fff"
          >
          </mm-avatar>
        </mm-menuitem>
        <mm-menuitem class="share-kakao" label="kakao talk으로 공유">
          <mm-avatar slot="avatar" icon="message" style="background-color: var(--color-kakao)">
          </mm-avatar>
        </mm-menuitem>
      </mm-group>
      <mm-separator></mm-separator>
      <mm-textfield
        value="https://newneek.co/post/jadebabo"
        placeholder="이건 사실 입력 기능이 없다 커스텀 컴포넌트."
        size="small"
        class="share-copy"
        label=""
        hiddenLabel
      >
        <mm-button slot="suffix" class="js-copy">복사 </mm-button>
      </mm-textfield>
    </mm-tile>
    <mm-tile variant="flat" name="access">
      <mm-titlebar heading="공개 대상 선택"></mm-titlebar>
      <br />
      <mm-group variant="menuitem">
        <mm-menuitem>
          <mm-radio slot="check" checked></mm-radio>
          <mm-avatar slot="avatar" size="large" icon="group"> </mm-avatar>
          <div slot="text">
            <mm-text variant="word-strong">사진 및 동영상 백업</mm-text>
            <mm-text variant="word-weak">우측 액션은 사실 그냥 시각 정보인데.</mm-text>
          </div>
        </mm-menuitem>
        <mm-menuitem>
          <mm-radio slot="check"></mm-radio>
          <mm-avatar slot="avatar" size="large" icon="group"> </mm-avatar>
          <div slot="text">
            <mm-text variant="word-strong">친구만</mm-text>
            <mm-text variant="word-weak">회원님의 Facebook 친구</mm-text>
          </div>
        </mm-menuitem>
        <mm-menuitem data->
          <mm-radio slot="check"></mm-radio>
          <mm-avatar slot="avatar" size="large" icon="lock"> </mm-avatar>
          <div slot="text">
            <mm-text variant="word-strong">나만 보기</mm-text>
            <mm-text variant="word-weak">부끄러우니까</mm-text>
          </div>
        </mm-menuitem>
      </mm-group>
    </mm-tile>
    <mm-tile>
      <mm-tile>
        <mm-menuitem>
          <div slot="text">
            <mm-text variant="word-strong">Personal License</mm-text>
            <mm-text variant="word-weak">1 user</mm-text>
          </div>
          <div slot="action">
            <mm-text variant="word-strong"> 18,800 KRW </mm-text>
          </div>
        </mm-menuitem>
      </mm-tile>
      <div style="height: var(--space-3)"></div>
      <mm-group>
        <mm-menuitem>
          <mm-avatar slot="avatar" fallback="🎅🏻"></mm-avatar>
          <div slot="text">
            <mm-text variant="word-strong">Widgefy iOS Widgets</mm-text>
            <mm-text variant="word-weak">떡볶이</mm-text>
          </div>
          <div slot="action" style="text-align: right">
            <span style="display: block; line-height: 18px">18,800 KRW</span>
            <mm-text variant="word-weak">6410</mm-text>
          </div>
        </mm-menuitem>
      </mm-group>
      <div style="height: var(--space-3)"></div>
      <footer>
        <mm-button variant="primary" size="large">Buy now</mm-button>
      </footer>
    </mm-tile>
    <mm-tile variant="flat">
      <mm-titlebar heading="팔로우하는 사람"></mm-titlebar>
      <br />
      <div style="max-width: 200px; margin: 0 -0.25rem var(--space-3)">
        <mm-tablist>
          <mm-tab slot="tab" selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">
            모두
          </mm-tab>
          <mm-tab slot="tab" aria-controls="panel-2" id="tab-2" tabindex="-1">바보만</mm-tab>
        </mm-tablist>
      </div>
      <mm-group variant="menuitem">
        <mm-menuitem>
          <mm-avatar
            slot="avatar"
            size="large"
            default="true"
            style="background-color: yellowgreen"
          ></mm-avatar>
          <div slot="text">
            <mm-text variant="word-strong">coffee</mm-text>
            <mm-text variant="word-weak">유아이 디자이너</mm-text>
          </div>
          <mm-button slot="action" variant="secondary">팔로우</mm-button>
        </mm-menuitem>
        <mm-menuitem>
          <mm-avatar
            slot="avatar"
            size="large"
            default="true"
            style="background-color: blueviolet"
          ></mm-avatar>
          <div slot="text">
            <mm-text variant="word-strong">soojubm</mm-text>
            <mm-text variant="word-weak">유투브 구독자</mm-text>
          </div>
          <mm-button slot="action">팔로우 중</mm-button>
        </mm-menuitem>
        <div style=""></div>
        <mm-tile variant="elevated" size="small">
          <mm-menuitem label="더 많은 친구를 찾아보세요!" description="">
            <mm-avatar slot="avatar"></mm-avatar>
          </mm-menuitem>
        </mm-tile>
        <div style="height: var(--space-1)"></div>
        <mm-text variant="label"
          >칩 그룹으로 필터링을 제공하니 팔로우 버튼과 위계 충돌. 아바타가 작아서 콘텐츠 분리가 안
          된다.</mm-text
        >
      </mm-group>
    </mm-tile>
    <mm-tile>
      <mm-titlebar heading="See this post in"> </mm-titlebar>
      <br />
      <mm-group variant="menuitem">
        <mm-menuitem label="수줍이 앱">
          <mm-avatar slot="avatar" variant="secondary" size="large" default="true"></mm-avatar>
          <mm-button slot="action">열기</mm-button>
        </mm-menuitem>
        <mm-menuitem label="사파리 브라우저">
          <mm-avatar slot="avatar" size="large" default="true"></mm-avatar>
          <mm-button slot="action" status="active">실행</mm-button>
        </mm-menuitem>
      </mm-group>
    </mm-tile>
  </section>
</main>
