.tag {
  display: inline-flex;
  align-items: center;
  height: var(--size-small);
  padding: 0 var(--space-2);
  /* border: 1px solid transparent; */
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  box-shadow: var(--color-background) 0px 0px 0px 2px;
  font-size: var(--font-size-small);
  color: var(--color-text);
  text-transform: capitalize;
  --tag-border: var(--border);
}

.tag[data-variant=primary] {border-color:var(--color-accent);background-color:var(--color-accent);color:var(--gray800);}
.tag[data-variant=secondary] {background-color:var(--green100);color:var(--green800);}
.tag[data-variant=destructive] {
  background: var(--red100);  color: var(--red800);
}
.tag[data-variant=indicator] {
  background: var(--color-background-weak);
}

.tag[data-variant=hashtag] {
  padding: 0;
  border: 0;
  color: var(--color-text-light);
  &::before {
  content: '#';
  }
}

.tag[data-variant=up] {
  background: var(--red100);
  color: var(--red800);
}
.tag[data-variant=down] {
  background: var(--color-temp1);color:blue;
}

.tag[data-variant=feature1] {background: var(--color-temp1);color:var(--gray800);}
.tag[data-variant=feature2] {background: var(--color-temp2);color:var(--gray800);}
.tag[data-variant=feature3] {background: var(--color-temp3);color:var(--gray800);}
.tag[data-variant=feature4] {background: var(--color-temp4);color:var(--gray800);}
