.tag {
  display: inline-flex;
  align-items: center;
  height: var(--size-small);
  padding: 0 var(--space-2);
  /* border: 1px solid transparent; */
  border: var(--tag-border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  font-size: var(--font-size-small);
  color: var(--color-text);

  --tag-border: var(--border);
  --tag-color: 0;
}

.tag[data-variant=primary] {
  border-color: transparent;
  border-color:var(--color-accent);
  background-color:var(--color-accent);
  color:var(--gray800);
}
.tag[data-variant=secondary] {
  background-color: var(--color-background-weak);
  border-color: transparent;
}

.tag[data-variant=feature1] {border-color: transparent;background: var(--color-temp1);color:var(--gray800);}
.tag[data-variant=feature2] {border-color: transparent;background: var(--color-temp2);color:var(--gray800);}
.tag[data-variant=feature3] {border-color: transparent;background: var(--color-temp3);color:var(--gray800);}
.tag[data-variant=feature4] {border-color: transparent;background: var(--color-temp4);color:var(--gray800);}


.tag[data-variant=hashtag] {
  padding: 0;
  border: 0;
  color: var(--color-text-light);
  &::before {
  content: '#';
  }
}