body.darkmode {
  background: rgba(0,0,0,9);
  color: $gray40;
}
.darkmode * {
  $gray80: $gray0; // ?
  .profile-user-name, .card-title {
    color: $gray0;
  }
}

.darkmode .navigation ul li a {color:$gray0;}

// .darkmode header,
// .darkmode aside,
// .darkmode nav,
// .darkmode footer {
//   background: rgba(0,0,0,1);
//   color: rgba(255,255,255,.75);
// }

.darkmode .design-body-title, .darkmode h1 {
  color: $gray0;
}

.darkmode .toast {
  background: $gray80;
}
// 백그라운드 컬러가 들어간 컴포넌트들. transparent 로 유지할지. border  zjffjrk qkswjsehla
// 변수 :: 다크모듈 고려하여 네이밍


// TOdo aaa 부터 정리하기.

@media (prefers-color-scheme: light) {
  .themed {
    background: white;
    color: $gray80;
  }
}