body {
  transition: background .6s ease;
}

body.darkmode {
  transition: all 1.4s ease;
  background: rgba(0,0,0,1);
  color: rgba(255,255,255,.75);
}
.darkmode * {
  // font-size: inherit;
}

.darkmode .navigation ul li a {color:#fff;transition: all 1.4s ease;}

.darkmode header,
.darkmode div,
.darkmode aside,
.darkmode nav {
  background: rgba(0,0,0,1);
  color: rgba(255,255,255,.75);
  transition: all 1.4s ease;
}
.darkmode .design-body-heading, .darkmode h1 {
  color: #fff;
  transition: all 1.4s ease;
}
// 백그라운드 컬러가 들어간 컴포넌트들. transparent 로 유지할지. border  zjffjrk qkswjsehla
// sass 변수 :: 다크모듈 고려하여 네이밍


// TOdo aaa 부터 정리하기.


@media (prefers-color-scheme: light) {
  .themed {
    background: white;
    color: $gray80;
  }
}