// .darkmode * {
//   :root {
//   --gray0: #333;
// }
//   // var(--gray800): #f1f3f4;
//   .profile-user-name, .card-title {
//     color: var(--gray0);
//   }
//   .hero-background {
//     background:var(--gray800);
//   }
// }

// .darkmode {
//   background: rgba(0,0,0,9);
//   color: var(--gray400);

//   h1, h2, h3, h4, h5, h6 {
//     color: var(--gray0);
//   }
//   .navbar {background:var(--gray800);}
//   .navbar-menu-item,
//   .navbar-menu-item a {color:var(--gray0);}

//   .header.is-fixed {background:var(--gray800);}

//   .toast {background: var(--gray800);}

//   .design-body-title,
//   .darkmode h1 {
//     color: var(--gray0);
//   }

//   .statistic-value {
//     color:var(--gray0)
//   }
//   // userCard
//   .user-name,
//   .user-email + button {
//     color:var(--gray0);
//   }
// }

// .darkmode header,
// .darkmode aside,
// .darkmode nav,
// .darkmode footer {
//   background: rgba(0,0,0,1);
//   color: rgba(255,255,255,.75);
// }

// 백그라운드 컬러가 들어간 컴포넌트들. transparent 로 유지할지. border  zjffjrk qkswjsehla
// 변수 :: 다크모듈 고려하여 네이밍
