.calendar {
  width: 250px;
  --date-width: 32px;
  --date-background-color: var(--background-subtle-color);
  position: relative;
}
.calendar h3 {
  font-size: 1rem;
  line-height: 32px;
}
.calendar-navigation {
  display: flex;
  gap: var(--space-1);
  position: absolute;
  right: 0;
  top: 0;
}
.calendar-head {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--space-1);
}
.calendar-head div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--date-width);
  height: var(--date-width);
  border-radius: var(--radius);
}
.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--space-1);
}
.calendar-body-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--date-width);
  height: var(--date-width);
  border-radius: var(--radius);
  cursor: pointer;
  &:hover {
    background: var(--interaction-hover-background-color);
  }
}

.ios .searchfield-input:focus {
  width: 90%;
}
