.timeline {
  position: relative;
}
.timeline:before {
  content: '';
  display: block;
  width: 1px;
  background: var(--border-color);
  position: absolute;
  bottom: 0;
  left: 15px;
  top: 0;
  z-index: -1;
}
.timeline-item {
  padding: var(--space-4) 0 0 0;
}
.timeline-item-panel {
  display: flex;
  gap: var(--space-3);
  margin: var(--space-2) 0 0 0;
  position: relative;
}
