.setting {@mixin layout-medium;}

.setting-item {margin:0 0 1.5rem 0;}
.setting-item-label {@mixin text-label;}
.setting-item-value {}
.setting-item-value-username {width:100%;}
.setting-item-value-address {width:100%;}
.setting-item-value-phone {width:100%;}


.setting-item-helper {margin:var(--space-2) 0 var(--space-3) 0;font-size:var(--font-size-small);line-height: var(--font-line-height)}

.setting-item-icon {position:absolute;right:.5rem;top:50%;transform:translateY(-50%);}
.setting-item-form {padding:1rem 0 0;cursor:default;}

@media (--small) {
}