/* .avatar-fallback {
  background:url('/public/images/springsteen.jpg') no-repeat center;
  background-size: cover;
} */

img {
  width: 100%;
}

.avatar {
  margin: 0 !important;
  
  --avatar-size: var(--size-medium);
  --avatar-background-color: #fff;
  --avatar-border: var(--border);

  --avatar-badge-size: var(--size-tiny);

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--avatar-size);
  height: var(--avatar-size);
  background: url('/public/images/soojubm.png') no-repeat 64% 55%;
  background-size: 80%;
  background-color: var(--color-background-weak);
  border-radius: var(--radius);
  box-shadow: var(--color-background) 0px 0px 0px 1px;
  box-sizing: border-box;
  position: relative;

}

.avatar.no {
  background-image: none;
}
.avatar img {
    height: inherit;
    border-radius: var(--radius);
    object-fit: cover;
}

.avatar[data-size=huge] {
  --avatar-size: var(--size-huge);
  font-size:var(--font-size-huge);
}
.avatar[data-size=large] {
  --avatar-size: var(--size-large);
}
.avatar[data-size=medium] {
  --avatar-badge-size: 8px;
}
.avatar[data-size=small] {
  --avatar-size:var(--size-small);
}
.avatar[data-variant=secondary] {
  border:var(--border);background-color:var(--color-background);
}
.avatar[data-variant=tertiary] {
  border:none;background-color:transparent;
}


.avatar-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--avatar-badge-size);
  height: var(--avatar-badge-size);
  border: 2px solid var(--color-background);
  border-radius: var(--radius);
  background: var(--color-accent);
  font-size: 10px;
  position: absolute;
  left: -.25rem;
  top: -.25rem;
  z-index: 1;
}

.entity {}
.entity[data-alignment=center] {text-align: center;}
.entity-label {display:block;margin:.5rem 0 0;font-size:var(--font-size-medium);font-weight:var(--font-weight-bold);}
.entity ::slotted([slot=tag]) {
  position: absolute;
  left: var(--space-1-minus);
  top: var(--space-1-minus);
}

.entity[data-size=medium] {
  
}
