<main class="page">
  <mm-page-header
    title="ToggleButtonGroup"
    description="셀렉트와 드롭다운, 세그먼트 컨트롤을 어떤게 분류할 것인가"
  ></mm-page-header>

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd title="">dropdown</dd>
    <dd title="">Picker</dd>
    <dd title="shopify">Choice list</dd>
    <dd title="shopify">Action list</dd>
  </dl>

  <!-- <mm-component-section
    title="ToggleButton ToggleButtonGroup"
    description="전환 및 선택. 팔로우 팔로잉, 북마크, 좋아요 등"
  >
    <div style="display: flex; gap: var(--space-0)">
      <style>
        button mm-icon {
          pointer-events: none;
        }
        .is-selected {
          border-radius: var(--radius);
          background-color: var(--color-background-subtle);
        }
      </style>
      <button class="is-selected js-test-toggle" data-name="grid" style="width: 32px; height: 32px">
        <mm-icon name="view-grid"></mm-icon>
      </button>
      <button
        icon="view-columns-3"
        aria-label=""
        class="js-test-toggle"
        status="active"
        data-name="list"
        style="width: 32px; height: 32px"
      >
        <mm-icon name="view-columns-3"></mm-icon>
      </button>
    </div>
  </mm-component-section> -->

  <mm-component-example>
    <script type="module">
      const toggle = document.querySelector('#view-toggle')

      console.log(toggle.value)

      toggle.addEventListener('optionChange', () => {
        console.log(toggle.value)
      })
    </script>

    <div style="display: flex; flex-direction: column; gap: 1rem; width: 400px">
      <mm-toggle-button-group
        id="view-toggle"
        options='[
    {
      "label": "Grid",
      "value": "grid"
    },
    {
      "label": "List",
      "value": "list"
    }
  ]'
      >
      </mm-toggle-button-group>
      <mm-toggle-button-group
        options='[
    {
      "label": "Grid",
      "value": "grid",
      "icon": "view-grid"
    },
    {
      "label": "List",
      "value": "list",
      "icon": "list"
    }
  ]'
      >
      </mm-toggle-button-group>
      <mm-toggle-button-group
        options='[
    {
      "value": "grid",
      "icon": "view-grid",
      "ariaLabel": "Grid view"
    },
    {
      "value": "list",
      "icon": "table-rows",
      "ariaLabel": "List view"
    }
  ]'
      >
      </mm-toggle-button-group>
      <mm-toggle-button-group
        options='[
    {
      "label": "Compact",
      "value": "compact",
      "icon": "minus"
    },
    {
      "label": "Default",
      "value": "default",
      "icon": "circle"
    },
    {
      "label": "Comfortable",
      "value": "comfortable",
      "icon": "plus",
      "disabled": true
    }
  ]'
      >
      </mm-toggle-button-group>
    </div>
    <script>
      const buttonList = document.getElementById('button-list')

      buttonList.addEventListener('optionChange', event => {
        console.log('Selected value:', event.detail.value)
      })

      buttonList.setAttribute(
        'options',
        JSON.stringify([
          { label: 'Orange', value: 'orange' },
          { label: 'Grapes', value: 'grapes' },
        ]),
      )
    </script>
  </mm-component-example>

  <mm-component-props>
    <mm-prop name="src" type="string"></mm-prop>
    <mm-prop name="alt" type="string"></mm-prop>
    <mm-prop name="ratio" type="'1:1' | '16:9' | '4:3' = '1:1'"></mm-prop>
    <mm-prop name="clickable" type="boolean"></mm-prop>
    <mm-prop name="@click" type="(e: MouseEvent) => void" kind="event"></mm-prop>
  </mm-component-props>

  <section class="component-guide">
    <section class="feature columns-2">
      <mm-feature
        icon="task-list"
        titleText="Interactive - choice"
        subtitle="Easy scanning"
        description="TODO"
      >
      </mm-feature>
    </section>
    <!-- 
          "select :: label tag 클릭 시 옵션이 열리지 않고 셀렉트에 포커스만 동작한다. icon position으로 넣고 옵션에 말줄임표를 넣어야.",
          "changelog: 250203 label + select 패턴이 모던 웹에서 필요할까? ", -->
    <mm-text-list
      texts='[
          "옵션 개수가 4~5개 이상 화면 공간이 좁고 옵션을 숨겨야 함 선택이 자주 변경되지 않음 복잡한 폼(form)의 입력 항목 옵션 라벨이 길거나 설명이 필요한 경우"
        ]'
    >
    </mm-text-list>
  </section>

  <!-- <mm-component-section
    title="view-toggle-group, filter-toggle-group, sort-toggle-group"
    description="숙박 인원 선택 예시"
  >
    <div class="range">
      <label for="myRange">숙박 인원</label>
      <input type="range" min="1" max="10" value="2" step="any" list="tickmarks" id="myRange" />
      <datalist id="tickmarks_temp">
        <option value="0" label="0"></option>
        <option value="5" label="5"></option>
      </datalist>
    </div>
  </mm-component-section> -->

  https://polaris-react.shopify.com/components/lists/resource-list?example=resource-list-default
  https://m3.material.io/components/button-groups/overview cinnected button group
</main>
