/* stylelint-disable color-no-hex -- 브라우저 리셋 파일이므로 hex 값 허용 */
body,
dl,
dd,
figure,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input[type='radio'],
input[type='checkbox'] {
  margin: 0;
}
ul,
ol,
menu,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
fieldset,
iframe,
img {
  border: none;
}
hr {
  margin-block: 0;
  border: none;
}
main,
picture {
  display: block;
}
iframe,
img,
video {
  width: 100%;
  display: block;
}
strong,
b,
th,
legend {
  font-weight: var(--font-weight-bold);
}
cite,
i,
address,
em,
dfn {
  font-style: normal;
}
em {
  color: var(--color-primary);
}
small {
}
abbr,
ins {
  text-decoration: none;
}
/* del {color:var(--color-foreground-light);} */
a {
  text-decoration: none;
  /* text-decoration-skip-ink:auto; */
}
pre {
  margin-block: 0;
  background-color: var(--color-background);
}
a:link,
a:visited {
}
a:hover,
a:focus {
}
a:active {
}

code {
  display: block;
  font-family: var(--font-family-code);
  font-size: var(--font-size-12);
  letter-spacing: 0.0125rem;
}
svg {
  color: var(--color-foreground);
}

/* // for appearance on safari */
select {
  -webkit-appearance: none;
  background: none;
  border: none;
  font: inherit;
  color: var(--color-foreground);
}
select:focus {
  border: 1px solid;
}
select:focus-visible {
  outline: none;
}
select::-ms-expand {
  display: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  text-align: left;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

button:focus-visible {
  outline: none;
}

html {
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: var(--font-line-height-24);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overscroll-behavior: contain;
}
body {
  /* min-height: 100%; */
  /* height 100%는 sticky 오류 생길 수 있다. */
  /* max-width: 1440px;
  margin: 0 auto; */
  background: var(--color-background);
  color: var(--color-foreground);
  font-weight: var(--font-weight-normal);
  font-size: 0.875rem;
}

blockquote {
  padding: var(--space-4);
  border: var(--border);
  border-left: 4px solid var(--color-border);
  border-radius: var(--radius) 0 0 0;
  box-sizing: border-box;
}
q {
  position: relative;
}
q:before {
  content: '“';
  display: block;
  font-size: 48px;
  font-weight: var(--font-weight-bold);
  line-height: 1rem;
}

table {
  --table-lineheight: 1.6;
  --table-row-border: var(--border);
  --table-cell-padding: var(--space-2) 0;
  --table-cell-padding-inline: var(--space-2);
  --table-cell-background: var(--color-background);
  --table-cell-background-hover: var(--color-background-subtle);

  border-collapse: collapse;
  border-spacing: 0;
  border-left-style: hidden;
  border-right-style: hidden;
  font-size: inherit;

  /* 스크롤 */
  width: max-content;
  min-width: 100%;
  table-layout: fixed;

  background: var(--table-cell-background);

  --col-checkbox: 32px;
  --col-id: 80;
}
table caption {
  padding: 0.5rem 0;
  font-size: var(--font-size-12);
  text-align: left;
}
table thead {
}
table thead tr th {
  padding: var(--space-1) 0;
  padding-inline: var(--table-cell-padding-inline);
  font-size: var(--font-size-12);
  line-height: var(--table-lineheight);
  color: var(--color-foreground-light);
  text-align: left;
}
table tbody {
}
table tbody tr {
  /* border:var(--border); */
  border-bottom: var(--table-row-border);
  line-height: var(--table-lineheight);
  position: relative;
}
table tbody tr:hover {
  background-color: var(--table-cell-background-hover);
}
table tbody tr th {
  padding-inline: var(--table-cell-padding-inline);
  text-align: left;
}
table tbody tr td {
  padding: var(--table-cell-padding);
  padding-inline: var(--table-cell-padding-inline);
}
table .table-cell-ellipsis {
  flex: 1;
  width: 0;
  min-width: 0;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* // th[scope='col'] {background: #ccc;}
// tr:nth-child(even) {}
// tr:nth-child(odd) {} */
table .right {
  text-align: right;
}
table tbody[role='rowgroup'] tr th {
  width: 25%;
}
table tbody[role='rowgroup'] tr th + th {
  width: auto;
}

/* TODO li 도 결국 text variant=body */
ul,
ol {
  padding-left: var(--space-4);
}
ul li {
}
ul li:not(:first-child) {
  margin: var(--space-1) 0 0;
}
ul li::marker {
  font-size: var(--font-size-12);
}
li::marker {
  width: 24px;
}

/* ::selection {background:var(--gray800);color:var(--gray0);} */
::placeholder {
  color: var(--color-foreground-light);
}

/* // writing-mode: horizontal-tb / vertical-rl / vertical-lr;
// ::-webkit-scrollbar {width:auto;height:auto;}
// ::-webkit-scrollbar-track {background:inherit;}
// ::-webkit-scrollbar-thumb {background:inherit;}
// ::-webkit-scrollbar-button {display:none;background-color:inherit;}
// ::-webkit-scrollbar-corner {background-color:inherit;} 
// [aria-live="polite | assertive | off"] {}  */
/* [aria-haspopup=true] {} // dialog . menu, grid, listbox, tree
[aria-pressed=true] {} // 음소거 등
[aria-modal=true] {}
[aria-label=close] {} */

/* @custom-selector :--heading h1, h2, h3, h4, h5, h6; */
/* float-clear-logical-values */
/* span:first-child {
  float: inline-start;
} */
/* a:has(> img) {
  display: block;
} */

@media print {
  /* For links in content, visually display the link */
  a::after {
    content: '(' attr(href) ')';
  }
}

/*
// duplicated
// thin solid
// all: unset
// ol,ul,menu {list-style:none}
// h1,h2,h3,h4,h5,h6 {font-weight:var(--font-weight-bold);color:var(--color-foreground);word-break:keep-all;}
img {vertical-align:middle;}
u {text-decoration:none;position:relative;}
u:after {content:'';height:.4em;border-radius:2px;background:var(--color-primary-subtle);position:absolute;left:-.125rem;right:-.125rem;bottom:0;z-index:-1;}
mark {color:inherit;} mark::before {content: " [강조 시작] ";opacity:0;position:absolute;} mark::after {content: " [강조 끝] ";opacity:0;position:absolute;}
// [hidden] {display:none !important;}

// ol li {margin:var(--space-1) 0;padding:0 0 0 1rem;position:relative;counter-increment:listitem;}
// ol li:before {content: counter(listitem) '.';position:absolute;left:0;}
// ol li ol {margin:0 0 .5rem 0;}
// ol li ol li {counter-increment:sub-list-item;}
// ol li ol li:before {content: counter(sub-list-item,lower-alpha) '.';}
*/

.marquee {
  display: flex;
}
.marquee mm-paragraph {
  /* // width: 50%; */
  /* gap or margin쓰면 안 됨. */
  padding: 1.25rem;
  white-space: nowrap;
  animation: marquee 4s linear infinite;
  animation-play-state: running;
}
.marquee mm-paragraph:hover {
  transform: scale(1.2);
  opacity: 0.5;
  cursor: pointer;
}
.marquee:hover mm-paragraph {
  animation-play-state: paused;
}

.lock-scroll {
  overflow: hidden;
}

/* common */
.offline {
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  background: var(--color-danger);
  color: var(--color-foreground-on-solid);
  text-align: center;

  position: fixed;
  left: 10%;
  right: 10%;
  top: 45%;
  z-index: var(--zindex-modal);
}

.skip {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: var(--zindex-toast);
}
.skip-link {
  display: block;
  background: var(--color-background-strong);
  color: var(--color-foreground-on-solid);
  text-align: center;
  height: 0;
  font-size: 0;
}
.skip-link:focus {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}

/* // box-shadow:inset 0 1px 2px #F3F6F9,0 1px 0.5px rgba(229, 234, 242, 0.6); */
.theme-toggle {
  width: var(--size-medium);
  height: var(--size-medium);
  overflow: hidden;
  position: relative;
}
.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: top 0.2s ease 0.3s;
}
.night {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: var(--size-medium);
  transition: top 0.2s ease 0s;
}
[data-theme='dark'] .day {
  top: var(--size-medium);
  transition-delay: 0s;
}
[data-theme='dark'] .night {
  top: 0;
  transition-delay: 0.3s;
}

/* // hover-item */
.is-hovered {
  box-shadow: 0 0 0 2px var(--color-background-subtle);
  background: var(--color-background-subtle);
  border-radius: 4px;
}

/* TODO reset focus styles 등 */
.is-focused,
a:focus-visible,
button:focus-visible,
menu-item:focus-visible {
  outline: 2px solid var(--color-interaction-focus);
  outline-offset: 2px;
}

/* .is-hovered {
  position: relative;
  z-index: 1;
  --hover-outline: calc(var(--space-2) / 2 * -1);
  cursor: pointer;
}
.is-hovered::before {
  content:'';
  display:block;
  background-color:var(--color-background-subtle);
  border-radius:var(--radius);
  position:absolute;
  left:var(--hover-outline);
  right:var(--hover-outline);
  top:var(--hover-outline);
  bottom:var(--hover-outline);
  z-index: -1;
} */

.animation-chatting {
  display: flex;
  gap: var(--space-1);
}
.animation-chatting span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--color-foreground);
  animation: chatting 0.6s 0s ease infinite;
}
.animation-chatting span:nth-of-type(1) {
}
.animation-chatting span:nth-of-type(2) {
  animation-delay: var(--animation-delay-first);
}
.animation-chatting span:nth-of-type(3) {
  animation-delay: var(--animation-delay-second);
}
@keyframes chatting {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.125rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* newneek */
.cta-arrow {
  max-width: 67px;
  flex-grow: 1;
  margin-left: 11px;
  margin-right: 3px;
  padding: 17px 0;
}
.cta-arrow .line {
  width: 100%;
  height: 2px;
  background: var(--color-foreground);
  position: relative;
}
.cta-arrow .line:before {
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}
.cta-arrow .line:after,
.cta-arrow .line:before {
  background: inherit;
  position: absolute;
  width: 12px;
  height: 2px;
  content: '';
  right: 0;
}
.cta-arrow .line:after {
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}
.cta-arrow.theme-white .line {
  background: var(--color-foreground-on-solid);
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes marquee-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.home-economy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 14rem 0 8rem;
  border-top: 2px solid var(--color-foreground);
  background: var(--color-newneek);
  position: relative;
}
.home-economy .home-economy-object {
  max-width: 340px;
  margin-top: -6rem;
  margin-bottom: -3rem;
  -webkit-transition: all 0.4s ease 0.05s;
  transition: all 0.4s ease 0.05s;
}
.home-economy .mangrove-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--color-foreground);
  border-bottom: 2px solid var(--color-foreground);
  background: var(--color-background);
  position: relative;
}
.home-economy .mangrove-foot span {
  font-size: var(--font-size-18);
  color: var(--color-foreground);
}
.home-economy:hover .home-economy-object {
  -webkit-transform: translateY(-1.05rem);
  transform: translateY(-1.05rem);
}
.books {
  margin: 0 auto;
  padding: 0 0 8rem;
}
.books .books-head {
  width: 100%;
  padding: 4rem 0 0;
  background: var(--color-newneek);
  text-align: center;
  position: relative;
}
.books .books-head .books-head-logo {
  max-width: var(--size-tiny);
  margin: 0 auto;
}
.books .books-head .books-head-background {
  display: none;
  z-index: -1;
}
.books .books-head .books-head-eyebrow {
  display: block;
  margin: 2rem 0 0;
}
.books .books-head h1 {
  margin: 2rem 0 3rem;
  font-size: 3rem;
  letter-spacing: -0.075rem;
  position: relative;
}
.books .books-head h1 b {
  display: inline-block;
  border: 2px solid var(--color-foreground);
  background: var(--color-newneek);
  padding: 1rem;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}
.books .books-head h1 > span {
  position: relative;
}
.books .books-head h1 > span span {
  display: inline-block;
  border: 2px solid var(--color-foreground);
  background: var(--color-background-strong);
  color: var(--color-foreground-on-solid);
  padding: 1rem;
  margin-left: -1rem;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  position: relative;
  z-index: 1;
}
.books .books-head h1 > span img {
  width: 200px;
  height: 0;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(5deg);
  transform: translateX(-50%) rotate(5deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 0;
}
.books .books-head h1 > span:hover img {
  height: auto;
  bottom: 4rem;
}
.books .books-head > p {
  margin: 0 auto;
  padding: 0 var(--layout-padding-inline);
  font-size: var(--font-size-18);
}
.books .books-head .book-head-how {
  margin: 6rem auto 0;
  padding: 4rem 0 3rem;
  border: 1px solid var(--color-foreground);
  border-left: 0;
  border-right: 0;
  background: var(--color-newneek-gray);
  position: relative;
}
.books .books-head .book-head-how h2 {
  font-size: var(--font-size-32);
}
.books .books-head .book-head-how .book-head-how-description {
  margin: 0.5rem 0 2rem;
}
.books .books-head .book-head-how .book-head-how-helper {
  margin: 3rem 0 1rem;
  padding: 0 5%;
}
.books .books-head .book-head-how ul {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}
.books .books-head .book-head-how ul li {
  width: 25%;
  padding: 0;
}
.books .books-head .book-head-how ul li .emoji {
  display: block;
  font-size: var(--font-size-32);
}
.books .books-head .book-head-how ul li .numbering {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: auto auto 1rem;
  border-radius: 50%;
  font-size: var(--font-size-12);
  background: var(--color-background-strong);
  color: var(--color-foreground-on-solid);
}
.books .books-head .book-head-how ul li:before {
  display: none;
}
.books .books-navigation {
  display: flex;
  justify-content: center;
  margin: 0 0 16rem;
  padding: 2rem 0;
  border-bottom: 1px solid var(--color-foreground);
  background: var(--color-background);
}
.books .books-navigation button {
  margin: 0 2rem;
  font-size: var(--font-size-18);
}
.books .books-navigation button.is-active {
  color: var(--color-newneek);
}
.bookcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}
.bookcard {
  max-width: 47%;
  margin: 0 0 20rem;
  border: 1px solid var(--color-foreground);
  background: var(--color-background);
  position: relative;
}
.bookcard-head {
  padding: 12rem 0 2rem;
  background: var(--color-newneek-gray);
  text-align: center;
  position: relative;
}
.bookcard-head .bookcard-head-media {
  width: 180px;
  border: 1px solid var(--color-foreground);
  position: absolute;
  left: 50%;
  bottom: 7.5rem;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}
.bookcard-head .bookcard-head-media img {
  width: 100%;
}
.bookcard-head .bookcard-head-title {
  margin: 0 0 0.5rem;
}
.bookcard-head .bookcard-head-description {
  color: var(--color-foreground-light);
}
.bookcard-body {
  padding: 2rem 3rem 5rem;
}
.bookcard-body .bookcard-body-title {
  margin: 0 0 1rem;
  font-size: var(--font-size-14);
  line-height: 1.8;
}
.bookcard-body .bookcard-body-more {
  padding: 0;
  margin-left: 0.5rem;
  text-decoration: underline;
}
.bookcard-body .bookcard-body-temp {
  margin: 0 0 0.5rem;
  font-size: 12px;
  color: var(--color-foreground-light);
}
.bookcard-body .bookcard-body-link {
  display: block;
  padding: 0.25rem 0;
  text-decoration: underline;
}
.bookcard-body div {
  margin: 2.5rem 0 0;
}
.bookcard-foot .bookcard-foot-apply {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: calc(100% - 6rem);
  height: 4.5rem;
  border: 1px solid var(--color-foreground);
  background: var(--color-background-strong);
  color: var(--color-foreground-on-solid);
  box-sizing: border-box;
  position: absolute;
  left: 3rem;
  right: 3rem;
  bottom: -2.75rem;
}
/* .books .books-head .books-head-logo{width:60%;max-width:220px}.books .books-head h1{padding:0 var(--layout-padding-inline);font-size:var(--font-size-32)}.books .books-head h1>span{margin-top:-.5rem}.books .books-head .book-head-how ul{flex-wrap:wrap}.books .books-head .book-head-how ul li{width:100%;margin:1.5rem 0}.bookcard{max-width:100%}.bookcard-body{padding-left:1.5rem;padding-right:1.5rem}.bookcard-foot .bookcard-foot-apply{min-width:calc(100% - 3rem);left:1.5rem}}.books-form{padding:0 5%}.books-form dl{display:flex;margin:.5rem 0}.books-form dl dt{width:20%}.books-form dl dd{width:80%}.books-complete{text-align:center;padding:4rem 5% 6rem}.books-complete h1{margin:1rem 0 2rem;font-size:var(--font-size-32)} */

.layout {
  --layout-width: 100%;
  max-width: var(--layout-width);
}
.layout[data-size='small'] {
  --layout-width: var(--layout-width-small);
}

.component {
  --section-margin: var(--space-4);
}

.spacing-card {
  padding: var(--space-inset-tile);
  overflow: hidden;
  position: relative;
}
.space {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: var(--radius);
  background: var(--color-primary-subtle);
  position: relative;
}
.space span {
  font-size: 10px;
}
