/* stylelint-disable color-no-hex -- 브라우저 리셋 파일이므로 hex 값 허용 */
body,
dl,
dd,
figure,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input[type='radio'],
input[type='checkbox'] {
  margin: 0;
}
ul,
ol,
menu,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
fieldset,
iframe,
img {
  border: none;
}
hr {
  margin-block: 0;
  border: none;
}
main,
picture {
  display: block;
}
iframe,
img,
video {
  width: 100%;
  display: block;
}
strong,
b,
th,
legend {
  font-weight: var(--font-weight-bold);
}
cite,
i,
address,
em,
dfn {
  font-style: normal;
}
em {
  color: var(--color-primary);
}
abbr,
ins {
  text-decoration: none;
}
a {
  text-decoration: none;
}
pre {
  margin-block: 0;
  background-color: var(--color-background);
}
code {
  display: block;
  font-family: var(--font-family-code);
  font-size: var(--font-size-12);
  letter-spacing: 0.0125rem;
}
svg {
  color: var(--color-foreground);
}

select {
  -webkit-appearance: none;
  background: none;
  border: none;
  font: inherit;
  color: var(--color-foreground);
}
select:focus {
  border: 1px solid;
}
select:focus-visible {
  outline: none;
}
select::-ms-expand {
  display: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  text-align: left;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

button:focus-visible {
  outline: none;
}

html {
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: var(--font-line-height-24);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overscroll-behavior: contain;
}
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-weight: var(--font-weight-normal);
  font-size: 0.875rem;
}

blockquote {
  padding: var(--space-4);
  border: var(--border);
  border-left: 4px solid var(--color-border);
  border-radius: var(--radius) 0 0 0;
  box-sizing: border-box;
}
q {
  position: relative;
}
q:before {
  content: '“';
  display: block;
  font-size: 48px;
  font-weight: var(--font-weight-bold);
  line-height: 1rem;
}

table {
  --table-row-border: var(--border);
  --table-cell-padding: var(--space-2) 0;
  --table-cell-padding-inline: var(--space-2);
  --table-cell-background: var(--color-background);
  --table-cell-background-hover: var(--color-background-subtle);

  border-collapse: collapse;
  border-spacing: 0;
  border-left-style: hidden;
  border-right-style: hidden;
  font-size: inherit;

  width: max-content;
  min-width: 100%;
  table-layout: fixed;

  background: var(--table-cell-background);

  --col-checkbox: 32px;
  --col-id: 80;
}
table caption {
  padding: 0.5rem 0;
  font-size: var(--font-size-12);
  text-align: left;
}
table thead tr th {
  padding: var(--space-1) 0;
  padding-inline: var(--table-cell-padding-inline);
  font-size: var(--font-size-12);
  color: var(--color-foreground-light);
  text-align: left;
}
table tbody tr {
  border-bottom: var(--table-row-border);
  position: relative;
}
table tbody tr:hover {
  background-color: var(--table-cell-background-hover);
}
table tbody tr th {
  padding-inline: var(--table-cell-padding-inline);
  text-align: left;
}
table tbody tr td {
  padding: var(--table-cell-padding);
  padding-inline: var(--table-cell-padding-inline);
}
table .table-cell-ellipsis {
  flex: 1;
  width: 0;
  min-width: 0;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table .right {
  text-align: right;
}
table tbody[role='rowgroup'] tr th {
  width: 25%;
}
table tbody[role='rowgroup'] tr th + th {
  width: auto;
}

ul,
ol {
  padding-left: var(--space-4);
}
ul li:not(:first-child) {
  margin: var(--space-1) 0 0;
}
ul li::marker {
  font-size: var(--font-size-12);
}
li::marker {
  width: 24px;
}

::placeholder {
  color: var(--color-foreground-light);
}

@media print {
  a::after {
    content: '(' attr(href) ')';
  }
}

.lock-scroll {
  overflow: hidden;
}

.offline {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  background: var(--color-danger);
  color: var(--color-foreground-on-solid);
  text-align: center;

  position: fixed;
  left: 10%;
  right: 10%;
  top: 45%;
  z-index: var(--material-zindex-modal);
}

.skip {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: var(--material-zindex-toast);
}
.skip-link {
  display: block;
  background: var(--color-background-strong);
  color: var(--color-foreground-on-solid);
  text-align: center;
  height: 0;
  font-size: 0;
}
.skip-link:focus {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}

.is-hovered {
  box-shadow: 0 0 0 2px var(--color-background-subtle);
  background: var(--color-background-subtle);
  border-radius: 4px;
}

.is-focused,
a:focus-visible,
button:focus-visible,
menu-item:focus-visible {
  outline: var(--interaction-focus-outline);
  outline-offset: 2px;
}

.cta-arrow {
  max-width: 67px;
  flex-grow: 1;
  margin-left: 11px;
  margin-right: 3px;
  padding: 17px 0;
}
.cta-arrow .line {
  width: 100%;
  height: 2px;
  background: var(--color-foreground);
  position: relative;
}
.cta-arrow .line:before {
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}
.cta-arrow .line:after,
.cta-arrow .line:before {
  background: inherit;
  position: absolute;
  width: 12px;
  height: 2px;
  content: '';
  right: 0;
}
.cta-arrow .line:after {
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}
.cta-arrow.theme-white .line {
  background: var(--color-foreground-on-solid);
}
