.timeline {position:relative;}
.timeline:before {
  content: "";
  display: block;
  width: 1px;
  background: var(--gray200);
  position: absolute;
  bottom: 0;
  left: 15px;
  top: 0;
  z-index: -1;
}
.timeline-item-panel {margin:1rem 0 0 0;padding:1.5rem;border:var(--border);border-radius:var(--radius);background:var(--color-background);position:relative;}
.timeline-item-panel.is-expanded {height:auto;overflow:auto;}