/* TODO 가운데 정렬된 목록의 가로 스크롤 방법 */

/* 
// todo flex일 대 min-width가 필수가 된다.. margin/padding은 container에 의존
@mixin stack-vertical-scroll {
  display:flex;
  flex-wrap: nowrap;
  white-space:nowrap;
  overflow:auto;
  > * {min-width:auto;}
} */

.group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
}

.group[data-variant=menuitem] {
  flex-direction: column;
  gap: var(--space-2);
}

.group[data-variant=dropdown] {
  flex-direction: column;
  gap: 0;
}

.group[data-variant=avatar] {align-items:center;gap:0;}
.group[data-variant=avatar] > * + * {margin-left:-.5rem;}

/* 6px spacing 예외케이스 */
.group[data-variant=tag] {gap:6px}
.group[data-variant=button] {
  gap:var(--space-2);
}

.group[data-variant=hashtag] {
  column-gap: var(--space-2);
  row-gap: -.25rem;
}

.group[data-variant=radio],
.group[data-variant=checkbox] {
  flex-direction:column;
  align-items:flex-start;
  gap: 0;
}

.group[data-variant=form] {
  flex-direction:column;
  gap:var(--space-3);
}

.group[data-alignment=vertical] {
  flex-direction:column;align-items:flex-start;gap:var(--space-2);
  & > * {
    width: 100%;
  }
}

/* TODO: align 은 네이티브 값과 충돌할 수 있어서? 빨갛게 뜸? */
.group[data-alignment=center] {
  justify-content: center;
}

.group[data-direction=row] {}
.group[data-direction=column] {}
.group[data-alignment=right] {}

.group[data-alignment='bleeding-vertical'] {
  display: flex;
  flex-wrap: nowrap;  /* 아이템들이 한 줄로만 배치되도록 설정 */
  white-space: nowrap;
  padding: var(--space-3) 0 var(--space-0);
  overflow-x: auto;   /* 수평 스크롤 활성화 */

  scroll-behavior: smooth;
  /* > * { min-width: auto; } */
  /* &::-webkit-scrollbar {
    display: none;
  }
  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  } */
}
