/* TODO 가운데 정렬된 목록의 가로 스크롤 방법 */
/* // stack과 grid */
/* group과 row */

.group {
  display:flex;
  flex-wrap:wrap;
}
/* .stack[data-scroll=vertical] {@include stack-vertical-scroll;} */
/* // space-between + column width */

.group[data-variant=menuitem] {
  flex-direction: column;
  gap: var(--space-2);
}

.group[data-variant=dropdown] {
  flex-direction: column;
}

/* .group[data-variant=avatar] {gap:var(--space-2);} */
/* TODO : last-of-tpye은 avagtar와 label 모두에 적용됨 */
.group[data-variant=avatar] > * + * {margin-left:-.5rem;}
/* .group[data-variant=avatar] > *:nth-last-child(1) {margin-left:var(--space-2);} */

.group[data-variant=button],
.group[data-variant=tag],
.group[data-variant=chip] {
  gap:var(--space-2);
}

.group[data-variant=hashtag] {
  column-gap: var(--space-2);
}

.group[data-variant=radio],
.group[data-variant=checkbox] {
  flex-direction:column;
  align-items:flex-start;
}

.group[data-variant=form] {
  flex-direction:column;
  gap:var(--space-3);
}

.group[data-alignment=vertical] {
  flex-direction:column;align-items:flex-start;gap:var(--space-2);
}
/* .row[data-direction=column] > * {width:100%;} */
.group[data-alignment=vertical] > * {
  width: 100%;
}

/* TODO: align 은 네이티브 값과 충돌할 수 있어서? 빨갛게 뜸? */
.group[data-alignment=center] {
  justify-content: center;
}

.group[data-direction=row] {}
.group[data-direction=column] {}
.group[data-alignment=right] {}
.group[data-alignment=bleeding-vertical] {
  /* display:flex; */
  flex-wrap: nowrap;
  white-space:nowrap;
  /* overflow:auto; */

  margin: var(--space-3-minus);
  padding: var(--space-3);

  scroll-behavior: smooth;
  > * {min-width:auto;}
  &::-webkit-scrollbar {display:none;}
}
