/* TODO 가운데 정렬된 목록의 가로 스크롤 방법 */
/* TODO: align 은 네이티브 속성과 충돌할 수 있다. title 같은 느낌 */

/* 
// todo flex일 대 min-width가 필수가 된다.. margin/padding은 container에 의존
@mixin stack-vertical-scroll {
  display:flex;
  flex-wrap: nowrap;
  white-space:nowrap;
  overflow:auto;
  > * {min-width:auto;}
} */

:host {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
}

:host[data-variant=menuitem] {
  flex-direction: column;
  gap: var(--space-2);
}


:host[data-variant=avatar] {align-items:center;gap:0;}
:host[data-variant=avatar] > * + * {margin-left:-.25rem;}

/* 6px spacing 예외케이스 */
:host[data-variant=tag] {gap:6px}
:host[data-variant=button] {
  gap:var(--space-2);
}

:host[data-variant=hashtag] {
  column-gap: var(--space-2);
  row-gap: -.25rem;
}

:host[data-variant=radio],
:host[data-variant=checkbox] {
  flex-direction:column;
  gap: var(--space-3);
}

:host[data-variant=form] {
  flex-direction:column;
  gap:var(--space-3);
}


:host[data-direction=row] {}
:host[data-direction=column] {}
:host[data-alignment=right] {}

:host[data-alignment='bleeding-vertical'] {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: var(--space-3) 0 var(--space-0);
  overflow-x: auto;   /* 수평 스크롤 활성화 */

  scroll-behavior: smooth;
  /* > * { min-width: auto; } */
  /* &::-webkit-scrollbar {
    display: none;
  }
  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  } */
}
