
/* main visual */
.main-visual { margin-top:-174px;height:930px;}
.main-visual-inbox {}
.main-visual-slide {height:1000px;position:relative;}
.main-visual-slide .inbox {max-width:1240px;margin:0 auto;padding:375px 0 0 0;position: relative;z-index:2;}
.main-visual-slide .inbox h1 {font-size:54px;line-height:76px;letter-spacing:-.3px;color:#fff;}
.main-visual-slide .inbox p {margin:35px 0 0 0;font-weight:400;color:#fff;}
.main-visual-slide .inbox p b {font-weight:bold;position:relative;}
.main-visual-slide .inbox p b:before {content:'';display:block;width:4px;height:4px;border-radius:50%;background:#c79f62;position:absolute;top:-8px;left:5px;}
.main-visual-slide:nth-last-of-type(1) {background:url('../images/main_visual/visual_1.png') no-repeat center top;}
.main-visual-slide:nth-last-of-type(2) {background:url('../images/main_visual/visual_1.png') no-repeat center top;}
.main-visual-slide:nth-last-of-type(3) {background:url('../images/main_visual/visual_1.png') no-repeat center top;}
/* .main-visual > div { height:100vh;background:#000;cursor:pointer; } */
.main-visual .slick-dots { position:absolute; left:50%; bottom:110px; width:100%; transform:translateX(-50%); font-size:0; text-align:center; }
.main-visual .slick-dots li { display:inline-block; padding:0px 5px; }
.main-visual .slick-dots li button { width:10px; height:10px; font-size:0; border:2px solid #FFF; background:none; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; outline:0px; }
.main-visual .slick-dots li.slick-active button { background-color:#FFF; border:0px; transition:0.2s; }



.home-hero {}
.home-hero-form {width:100%;max-width:1240px;height:78px;margin:-36px auto 0;background:#fff;overflow:hidden;box-shadow:2px 2px 16px rgba(0,0,0,.1);font-size:19px;position: relative;z-index:3;}
.home-hero-form .title {float:left;width:189px;padding-left:25px;border-right:1px solid #e2e2e2;box-sizing:border-box;font-size:19px;line-height:78px;}
.home-hero-form .name {float:left;width:180px;border-right:1px solid #e2e2e2;}
.home-hero-form .name input {width:100%;height:78px;padding-left:25px;box-sizing:border-box;border:0;font-size:inherit;line-height:78px;color:#999;}
.home-hero-form .category {float:left;width:180px;padding-left:25px;box-sizing:border-box;border-right:1px solid #e2e2e2;}
.home-hero-form .category select {height:78px;border:0;font-size:inherit;color:#999;}
.home-hero-form .tel {float:left;width:340px;padding-left:25px;box-sizing:border-box;}
.home-hero-form .tel span {color:#242424;line-height:78px;}
.home-hero-form .tel input {width:80px;height:78px;border:0;text-align:right;}
.home-hero-form .agree {float:left;width:200px;}
.home-hero-form .agree a {font-size:14px;line-height:78px;}
.home-hero-form .agree a b {text-decoration:underline;}
.home-hero-form button {float:right;display:block;width:144px;height:78px;background:#c59b5c;font-size:inherit;font-weight:bold;color:#fff;}


.home-special {padding:140px 5% 130px;background:#f6f6f6;}
.home-special-inbox {max-width:1400px;margin:0 auto;}
.home-special-inbox header {text-align: center;}
.home-special-inbox header span {font-size:14px;color:#c79f62;letter-spacing:5px;text-transform:uppercase;}
.home-special-inbox header h1 {margin:10px 0 65px 0;font-size:44px;font-weight:bold;}
.home-special-main {width:100%;overflow:hidden;}
.home-special-main > div {float:left;height:370px;color:#fff;text-align:center;position:relative;}
.home-special-main > div > div {width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.home-special-main > div span {font-family:'Open Sans';font-size:12px;letter-spacing:5px;color:rgba(255,255,255,.8);text-transform:uppercase;}
.home-special-main > div span:after {content:'';display:block;width:20px;height:1px;margin:20px 0;background:rgba(255,255,255,.4)}
.home-special-main > div h2 {margin:0 0 12px 0;font-weight:bold;font-size:28px;}
.home-special-main > div p {font-size:17px;line-height:25px;font-weight:300;}

.home-special-main > div:nth-of-type(1) {width:935px;padding:120px 80px;box-sizing:border-box;background:url('../images/home-special1.png') no-repeat right bottom #c59b5c;text-align:left;}
.home-special-main > div:nth-of-type(1) span {}
.home-special-main > div:nth-of-type(1) span:after {}
.home-special-main > div:nth-of-type(1) h2 {}
.home-special-main > div:nth-of-type(1) p {} 

.home-special-main > div:nth-of-type(2) {width:465px;background:url('../images/home-special2.png') no-repeat right bottom;}
.home-special-main > div:nth-of-type(2) span {}
.home-special-main > div:nth-of-type(2) span:after {margin-left:auto;margin-right:auto;}
.home-special-main > div:nth-of-type(2) h2 {}
.home-special-main > div:nth-of-type(2) p {} 

.home-special-main > div:nth-of-type(3) {width:465px;background:url('../images/home-special3.png') no-repeat right bottom;}
.home-special-main > div:nth-of-type(3) span {}
.home-special-main > div:nth-of-type(3) span:after {margin-left:auto;margin-right:auto;}
.home-special-main > div:nth-of-type(3) h2 {}
.home-special-main > div:nth-of-type(3) p {} 

.home-special-main > div:nth-of-type(4) {width:935px;background:url('../images/home-special4.png') no-repeat right bottom;background-size:102% auto;}}
.home-special-main > div:nth-of-type(4) span {}
.home-special-main > div:nth-of-type(4) span:after {margin-left:auto;margin-right:auto;}
.home-special-main > div:nth-of-type(4) h2 {}
.home-special-main > div:nth-of-type(4) p {} 




.home-system {padding:125px 5% 130px;}
.home-system-inbox {max-width:1400px;margin:0 auto;}
.home-system header {text-align:center;}
.home-system header span {font-size:14px;color:#c79f62;letter-spacing:5px;}
.home-system header h1 {margin:10px 0 0 0;font-size:44px;font-weight:bold;color:#242424;}
.home-system-main {width:100%;overflow:hidden;}
.home-system-main div {float:left;width:33.3333%;box-sizing:border-box;text-align:center;}
.home-system-main div figure {height:390px;position:relative;}
.home-system-main div figure img {position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.home-system-main div span {font-size:18px;color:#222;}
.home-system-main div h2 {margin:10px 0 25px;font-size:32px;color:#c79f62;}
.home-system-main div p {font-size:17px;line-height:23px;color:#6b6b69;}
.home-system-main div a {display:inline-block;width:164px;height:34px;margin-top:40px;line-height:34px;text-align:center;border-radius:30px;border:1px solid #696969;font-size:13px;}
.home-system-main div a span {display:inline-block;width:12px;height:1px;margin-right:12px;vertical-align:4px;background:#232323;}
.home-system-main div:nth-of-type(1) {}
.home-system-main div:nth-of-type(1) figure {}
.home-system-main div:nth-of-type(1) figure img {}
.home-system-main div:nth-of-type(1) span {}
.home-system-main div:nth-of-type(1) h2 {}
.home-system-main div:nth-of-type(1) p {}
.home-system-main div:nth-of-type(1) a {}
.home-system-main div:nth-of-type(2) {border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;}
.home-system-main div:nth-of-type(2) figure {}
.home-system-main div:nth-of-type(2) figure img {}
.home-system-main div:nth-of-type(2) span {}
.home-system-main div:nth-of-type(2) h2 {}
.home-system-main div:nth-of-type(2) p {}
.home-system-main div:nth-of-type(2) a {}
.home-system-main div:nth-of-type(3) {}
.home-system-main div:nth-of-type(3) figure {}
.home-system-main div:nth-of-type(3) figure img {}
.home-system-main div:nth-of-type(3) span {}
.home-system-main div:nth-of-type(3) h2 {}
.home-system-main div:nth-of-type(3) p {}
.home-system-main div:nth-of-type(3) a {}


.home-review {padding:125px 0;background:#333;}
.home-review-inbox {max-width:1400px;margin:0 auto;position:relative;}
.home-review header {text-align:center;}
.home-review header span {color:#fff;}
.home-review header h1 {margin:15px 0 0 0;font-size:44px;font-weight:bold;color:#fff;letter-spacing:-.3px;}
.home-review-tablist {margin:65px 0 60px;padding:10px 0;border-top:2px solid #fff;border-bottom:1px solid #fff;text-align:center;}
.home-review-tablist a {display:inline-block;padding:10px 35px;font-size:21px;color:#fff;position: relative;}
.home-review-tablist span {display:inline-block;width:1px;height:16px;margin:0 12px;background:rgba(255,255,255,.4)}
.home-review-tablist a.on {background:#c79f62;border-radius:25px;font-weight:bold;}
.home-review-tabpanel {display:none;width:100%;overflow:hidden;}
.home-review-tabpanel.on {display:block;}
.home-review-tabpanel figure {float:left;width:614px;}
.home-review-tabpanel figure img {}
.home-review-tabpanel figure figcaption {text-align:center;color:#fff}
.home-review-tabpanel .before {margin-right:12px;}
.home-review-tabpanel .before img {}
.home-review-tabpanel .before figcaption {background:#202020;}
.home-review-tabpanel .after {}
.home-review-tabpanel .after img {}
.home-review-tabpanel .after figcaption {background:#65615b;}
.home-review footer {margin-top:70px;}
.home-review footer a {display:block;width:270px;height:54px;margin:0 auto;line-height:54px;border:1px solid #fff;border-radius:30px;text-align:center;font-size:20px;color:#fff;}



.home-clinic {padding:90px 0 110px;background:#ebe7df;}
.home-clinic-inbox {max-width:1400px;margin:0 auto;}
.home-clinic header {margin:0 0 40px 0;text-align:center;}
.home-clinic header span {font-size:14px;color:#c79f62;letter-spacing:5px;text-transform:uppercase;}
.home-clinic-main {width:100%;overflow:hidden;}
.home-clinic-main div {float:left;width:50%;height:420px;padding:70px 50px;box-sizing:border-box;text-align:right;}
.home-clinic-main div span {font-size:18px;line-height:26px;}
.home-clinic-main div h2 {margin:10px 0 20px;font-size:42px;font-weight:bold;}
.home-clinic-main div p {font-size:17px;line-height:24px;font-weight:300;color:#252020;}
.home-clinic-implant {background:url('../images/home-clinic-implant.png') no-repeat 0 0;}
.home-clinic-implant h2 {color:#242424;}
.home-clinic-implant span {color:#82363a;}
.home-clinic-correction {background:url('../images/home-clinic-correction.png') no-repeat 0 0;}
.home-clinic-correction span {color:#222;}
.home-clinic-correction h2 {color:#c79f62;}


.home-community {}
.home-community-inbox {max-width:1400px;margin:0 auto;overflow:hidden;}
.home-community-inbox h2 {text-align:center;font-size:28px;font-weight:bold;color:#333;}
.home-community-inbox p {margin:15px 0 0 0;text-align:center;font-size:18px;font-weight:300;color:#333;}
.home-community-inbox figure {margin:35px 0 0 0;border-top:2px solid #000;}
.home-community-inbox ul {}
.home-community-inbox ul li {padding:15px 0;border-bottom:1px solid #ddd;overflow:hidden;font-size:14px;}
.home-community-inbox ul li span {float:left;width:75%;font-size:14px;text-align:left;}
.home-community-inbox ul li time {float:right;width:25%;text-align:right;color:#999;}
.home-community-notice {float:left;max-width:385px;padding:130px 40px;box-sizing:content-box;}
.home-community-council {float:left;max-width:385px;padding:130px 40px;box-sizing:content-box;border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;}
.home-community-location {float:left;max-width:385px;padding:130px 40px;box-sizing:content-box;}
.home-community-location figure {position: relative;}
.home-community-location figure > img {}
.home-community-location figure figcaption {height:68px;padding:16px;overflow:hidden;background:#fff;line-height:19px;position:absolute;left:12px;right:12px;bottom:10px;}
.home-community-location figure figcaption img {float:left;display:block;}
.home-community-location figure figcaption span {float:left;display:block;width:1px;height:34px;margin:0 17px;background:#e4e4e4;}


.home-promise {padding:125px 5% 130px;background:url('../images/home-promise-bg.png') no-repeat center center;color:#fff;}
.home-promise-inbox {max-width:1400px;margin:0 auto;}
.home-promise h1 {color:#fff;font-size:44px;line-height:64px;font-weight:300;letter-spacing:-1px;}
.home-promise h1 b {font-weight:bold;}
.home-promise .eng {display:block;margin:40px 0 45px;text-transform:uppercase;letter-spacing:6.3px;font-family:'Open Sans';font-size:13px;color:rgba(255,255,255,.2)}
.home-promise .tel {}
.home-promise .tel .title {display:block;margin-bottom:10px;font-size:18px;font-weight:400;}
.home-promise .tel .title img {margin-right:10px;}
.home-promise .tel .number {font-size:35px;font-weight:bold;}
.home-promise .time {margin:35px 0 0 0;font-size:14px;line-height:18px;}
.home-promise .time .title {display:block;margin-bottom:8px;font-size:18px;font-weight:400;}
.home-promise .time .title img {margin-right:10px;}
.home-promise .time div {}
.home-promise .time .timetable {width:100%;margin:0 0 8px 0;overflow:hidden;font-size:15px;}
.home-promise .time .timetable .left {float:left;width:280px;padding-right:20px;border-right:1px solid #fff;}
.home-promise .time .timetable .right {float:left;width:280px;padding-left:20px;}
.home-promise .time .timetable dl {margin:5px 0;overflow:hidden;}
.home-promise .time .timetable dl em {color:#c59b5c;}
.home-promise .time .timetable dl dt {float:left;}
.home-promise .time .timetable dl dd {float:right;text-align:right;}
.home-promise .time .timetable p {font-size:14px;font-weight:300;line-height:19px;}
.home-promise .socials {width:100%;overflow:hidden;margin:33px 0 0 0;}
.home-promise .socials a {float:left;display:block;margin-right:12px;}

@media (max-width:1401px) {
  .home-special-inbox {max-width:935px;}

  .home-system-main div {width:100%;}

  .home-review {padding:64px 0;}
  /* .home-review-inbox {max-width:1400px;margin:0 auto;position:relative;}
  .home-review header {text-align:center;}
  .home-review header span {color:#fff;}
  .home-review header h1 {margin:15px 0 0 0;font-size:44px;color:#fff;letter-spacing:-.3px;} */
  .home-review-tablist {margin:65px 0 60px;padding:10px 5%;font-size:0;text-align:center;}
  .home-review-tablist a {display:inline-block;width:33.3333%;padding:10px 35px;font-size:21px;color:#fff;position: relative;}
  .home-review-tablist span {display:none;}
  .home-review-tablist a.is-active {background:#c79f62;border-radius:25px;font-weight:bold;}
  /* .home-review-tabpanel {width:100%;overflow:hidden;}
  .home-review-tabpanel figure {float:left;width:614px;}
  .home-review-tabpanel figure img {}
  .home-review-tabpanel figure figcaption {text-align:center;color:#fff}
  .home-review-tabpanel .before {margin-right:12px;}
  .home-review-tabpanel .before img {}
  .home-review-tabpanel .before figcaption {background:#202020;}
  .home-review-tabpanel .after {}
  .home-review-tabpanel .after img {}
  .home-review-tabpanel .after figcaption {background:#65615b;}
  .home-review footer {margin-top:70px;}
  .home-review footer a {} */

  .home-clinic {padding:90px 5% 110px;}


  .home-clinic-inbox {max-width:700px;margin:0 auto;}
  .home-clinic-main div {width:100%;}

  .home-community-notice {max-width:100%;padding:130px 40px;box-sizing:content-box;}
  .home-community-council {max-width:100%;padding:130px 40px;box-sizing:content-box;border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;}
  .home-community-location {max-width:100%;padding:130px 40px;box-sizing:content-box;}
}

@media (max-width:1241px) {
.home-hero-form {width:90%;height: auto;font-size:16px;}
.home-hero-form .title {float:none;width:100%;padding-left:0;border-right:0;border-bottom:1px solid #e2e2e2;text-align:center;}
  .home-hero-form .name {float:left;width:180px;border-right:1px solid #e2e2e2;border-bottom:1px solid #eee;}
  .home-hero-form .name input {width:100%;height:78px;padding-left:25px;box-sizing:border-box;border:0;font-size:inherit;line-height:78px;}
  .home-hero-form .category {float:left;width:180px;padding-left:25px;box-sizing:border-box;border-right:1px solid #e2e2e2;border-bottom:1px solid #eee;}
  .home-hero-form .category select {height:78px;border:0;font-size:inherit;color:#999;}
  .home-hero-form .tel {float:left;width:340px;padding-left:25px;border-bottom:1px solid #eee;box-sizing:border-box;}
  .home-hero-form .tel span {color:#242424;line-height:78px;}
  .home-hero-form .tel input {width:80px;height:78px;border:0;text-align:right;}
  .home-hero-form .agree {float:left;width:200px;}
  .home-hero-form .agree a {font-size:14px;line-height:78px;}
  .home-hero-form .agree a b {text-decoration:underline;}
  .home-hero-form button {float:right;display:block;width:144px;height:78px;background:#c59b5c;font-size:inherit;font-weight:bold;color:#fff;}

}

@media (max-width:936px) {
  .home-special-inbox {max-width:100%;}
  .home-special-main > div:nth-of-type(1) {width:100%;}
  .home-special-main > div:nth-of-type(2) {width:50%;}
  .home-special-main > div:nth-of-type(3) {width:50%;}
  .home-special-main > div:nth-of-type(4) {width:100%;}


  .home-clinic {padding:80px 0 100px;}
  .home-clinic-inbox {padding:0 5%;}
  .home-clinic-main div {height:320px;}
  .home-clinic-main div span {font-size:14px;line-height:20px;}
  .home-clinic-main div h2 {margin:10px 0 20px;font-size:28px;}
  .home-clinic-main div p {font-size:14px;line-height:20px;}
  .home-clinic-implant {background:url('../images/home-clinic-implant.png') no-repeat 0 0;}
  .home-clinic-correction {background-color:#fcfcfc;background-size:80% auto;}

  .home-promise {padding:64px 5%;}
  .home-promise h1 {color:#fff;font-size:32px;line-height:44px;font-weight:300;letter-spacing:-1px;}
  .home-promise .eng {margin:25px 0 35px;font-size:11px;}
  .home-promise .tel .title {display:block;margin-bottom:10px;font-size:18px;font-weight:400;}
  .home-promise .time .timetable .left {width:100%;overflow:hidden;border-right:0;}
  .home-promise .time .timetable .right {width:100%;overflow:hidden;margin-top:-5px;padding-left:0;}
  .home-promise .time .timetable dl {width:100%;overflow:hidden;}
  .home-promise .time .timetable dl dt {float:left;width:140px;text-align:left;}
  .home-promise .time .timetable dl dd {float:left;text-align:left;}
  .home-promise .socials {margin:20px 0 0 0;}
}