.class {
  display: flex;
  flex-wrap: wrap;

  /* max-width: 1400px; */
  margin: 0 auto;

  color: var(--foreground-color);
  --width-section: 60%;
  --outset-section: 4rem 0;
  --border-width: null;
  --border: var(--border-width) solid var(--foreground-color);
  --section-padding: 4rem;

  --border: 1px solid;
  --color-primary: var(--foreground-color);
}

.class-media {
  width: 100%;
  max-width: 50%;
  border: var(--border);
  border-right: 0;
  background: var(--color-newneek-gray);
  box-sizing: border-box;
}
.class-order {
  width: 100%;
  max-width: 50%;
  border: var(--border);
  box-sizing: border-box;
  background-color: var(--color-newneek);
  color: var(--foreground-color);
}
.class-order > * {
  padding: 1rem 1.5rem;
}

.class-order-title {
  border-top: var(--border);
}
.class-order-description {
  border-top: var(--border);
}
.class-order-price {
  border-top: var(--border);
  font-size: var(--font-size-18);
}
.class-order-action {
  border-top: var(--border);
}
.class-order > mm-paragraph {
  border-top: var(--border);
}

.class-order-btn {
  font-size: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  height: var(--size-48);
  padding: 0 var(--space-4) 2px;
  border: none;
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-primary);
  color: var(--foreground-color-on-solid);
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
  cursor: pointer;
  width: 50%;
}
.class-order-btn .line {
  background-color: var(--foreground-color-on-solid);
}

.minicards {
  display: flex;
  padding: 0;
  border-top: var(--border);
}
.minicards .minicard {
  width: 25%;
  padding: 1.25rem 1rem 1rem;
  border-right: var(--border);
  box-sizing: border-box;
  text-align: center;
}
.minicards .minicard span {
  font-size: 1.5rem;
}

.minicard--closed {
  position: relative;
}
.minicard--closed mm-paragraph:last-child {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(-3.75deg);
}

mm-marquee {
  width: 100%;
  border: var(--border);
  border-top: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.class-intro {
  width: 100%;
  padding: 4rem var(--section-padding);
  border: var(--border);
  border-top: 0;
  text-align: center;
}
.class-intro-image {
  max-width: 480px;
  margin: 2rem auto 0;
  border: var(--border);
  border-width: 2px;
}
.class-intro-image figcaption {
  padding: 1rem;
  border-top: var(--border);
  text-align: center;
}

.class-why {
  width: 100%;
  padding: var(--section-padding);
  padding-bottom: 6rem;
  border: var(--border);
  border-top: 0;
  background: var(--color-newneek-gray);
}

.class-feature {
  display: flex;
  width: 100%;
}
.class-feature > div {
  width: 50%;
  margin-top: -1px;
  padding: var(--section-padding);
  border: var(--border);
  box-sizing: border-box;
}
.class-feature > div:nth-of-type(1) {
  background: var(--background-strong-color);
}

.class-who {
  width: 100%;
  padding: 4rem var(--section-padding);
  border: var(--border);
  border-top: 0;
  box-sizing: border-box;
}
.class-who-grid {
  max-width: 1200px;
  margin: 2rem auto 0;
}
.class-who-note {
  max-width: 1200px;
  margin: 2rem auto 0;
}

.class-curriculum {
  width: 100%;
  border: var(--border);
  border-top: 0;
  background: var(--color-newneek-gray);
}
.class-curriculum > * {
  padding: 2rem var(--section-padding);
  border-top: var(--border);
}

.class-curriculum > div {
  display: flex;
}

.class-curriculum > div mm-thumbnail {
  width: 240px;
  margin: 0 1.25rem 0 0;
}
.class-curriculum > div mm-tag {
  margin: 0 0 var(--space-2) 0;
}

.class-faq {
  width: 100%;
  border: var(--border);
  border-top: 0;
  background-color: var(--color-newneek-gray);
}
.class-faq > * {
  display: block;
  padding: 2rem;
}
.class-faq-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: var(--border);
  &:hover {
    background: var(--background-color);
  }
}

.class-refund {
  width: 100%;
  border: var(--border);
  border-top: 0;
}

/* .class-media {max-width:100%;border-right:var(--border);border-bottom:0;}
.class-order {max-width:100%;padding:var(--section-padding);} */

.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-left: var(--border);
}
.products-item {
  width: 25%;
  border: var(--border);
  border-width: 0 1px 1px 0;
  box-sizing: border-box;
}
.products-item-thumbnail {
  height: 320px;
  border-bottom: var(--border);
}
.products-item-brand {
  display: block;
  margin: var(--space-4) 1.5rem 0;
}
.products-item mm-text {
  display: block;
  margin: var(--space-4) 1.5rem;
}
.products-item-price {
  display: block;
  margin: 0 1.5rem var(--space-4);
}
