.class {
  display:flex;
  flex-wrap:wrap;

  /* max-width: 1400px; */
  margin: 0 auto;

  color: #000;
  --width-section: 60%;
  --outset-section: 4rem 0;
  --border-width: null;
  --border: 1px solid #000;
  --section-padding: 4rem;

  --border: 1px solid;
  --color-primary: #000;
  --color-text: #000;
}
.class-media {width:100%;max-width:50%;border:var(--border);border-right:0;background:var(--color-newneek-gray);box-sizing:border-box;}
.class-order {width:100%;max-width:50%;border:var(--border);box-sizing:border-box;background-color:#FFCE2E;background-color:var(--color-newneek);color:#000;}
.class-order > * {
  padding: 1rem 1.5rem;
}
.class-order-title {border-top:var(--border);}
.class-order-description {border-top:var(--border);}
.class-order-price {border-top:var(--border);font-size:var(--font-size-large);}
.class-order-action {border-top:var(--border);}
.class-order-action-purchase {@mixin button-primary;width:100%;border:var(--border);border-bottom-width:4px;border-right-width:4px;}
.class-order-action-share {}

.minicards {display:flex;padding:0;border-top:var(--border);}
.minicards .minicard {width:25%;padding:1rem;border-right:var(--border);box-sizing:border-box;text-align:center;}
.minicards .minicard span {font-size:1.5rem;}
.minicards .minicard p {}


.class-intro {width:100%;padding:2rem var(--section-padding);border:var(--border);border-top:0;}

.class-why {width:100%;padding:var(--section-padding);border:var(--border);border-top:0;background:var(--color-newneek-gray);}
.class-why-item {}

.class-feature {display:flex;width:100%;}

.class-feature > div, .class-who > div {
  width: 50%;
  margin-top:-1px;
  padding:var(--section-padding);
  border:var(--border);
  box-sizing: border-box;
}
.class-feature > div:nth-of-type(1), .class-who > div:nth-of-type(1) {
  background: #000;
}


.class-who {display:flex;width:100%;}
.class-who-item {margin:2rem 0;}

.class-curriculum {width:100%;border:var(--border);border-top:0;background:var(--color-newneek-gray);}
.class-curriculum > * {
  padding: 2rem var(--section-padding);
  border-top:var(--border);
}
.class-curriculum div figure {float:left;width:200px;height:120px;margin:0 1.25rem 0 0;background:var(--color-newneek);}
.class-curriculum div h3 {margin:var(--space-2) 0;}

.class-faq {width:100%;border:var(--border);border-top:0;background-color:var(--color-newneek-gray);}
.class-faq > * {
  display: block;
  padding:2rem;
}
.class-faq-item {border-top:var(--border);}

.class-refund {width:100%;border:var(--border);border-top:0;}


.class-media {max-width:100%;border-right:var(--border);border-bottom:0;}
.class-order {max-width:100%;padding:var(--section-padding);}

.class-why-item {width:100%;}
.class-why-item + .class-why-item {margin:2rem 0 0 0;}

.products {display:flex;flex-wrap:wrap;width:100%;border-left:var(--border);}
.products-item {width:25%;border:var(--border);border-width:0 1px 1px 0;box-sizing:border-box;}
.products-item-thumbnail {height:320px;border-bottom:var(--border);}
.products-item-brand {display:block;margin:1rem 1.5rem 0;}
.products-item-name {margin:.5rem 1.5rem 1rem;@mixin text-subhead;}
.products-item-price {display:block;margin:1rem 1.5rem;}