<main class="component">
  <!-- <form action="">
    <input type="checkbox" />
    <input type="radio" />
    <test-separator></test-separator>
    <select name="" id="">
      <option value=""></option>
    </select>
    <input type="text" placeholder="text" />
    <input type="email" placeholder="email" />
    <input type="password" placeholder="password" />
    <input type="url" placeholder="url" />
    <input type="tel" placeholder="tel" />
    <input type="date" placeholder="date" />
    <input type="time" placeholder="time" />
    <textarea name="" id=""></textarea>
    <input id="myURL" name="myURL" type="url" list="defaultURLs" />
    <datalist id="defaultURLs">
      <option value="https://developer.mozilla.org/"></option>
      <option value="http://www.google.com/"></option>
    </datalist>
    <button type="submit">제출</button>
  </form> -->

  <!-- Dropdown(*Menu, Contextual Menu)*
    displays a list of actions, options or links.
    It is triggered when a user interacts with a Button, Textfield or other control.
    Dropdown allows for complex functionality that can’t be accomplished with SelectList.

    3개 이상.
    select보다 복잡한 액션의 조합.
    immediate action.
    Place destructive actions at the bottom
  -->

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Textfields</test-text>
    <test-text variant="body-large">
      사용자가 데이터를 입력할 수 있는 인러렉티브한? 필드입니다.
    </test-text>
    <!-- - 콤보박스 textfield + select -->
    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd>TextInput</dd>
      <dd>Input</dd>
    </dl>
    <section class="component-example">
      <test-group variant="form">
        <test-textfield type="text" size="small" placeholder="Small size..."></test-textfield>
        <test-textfield type="text" placeholder="Medium size... (default)"></test-textfield>
      </test-group>
      <test-separator></test-separator>
      <test-group variant="form">
        <test-textfield type="text" placeholder="Disabled..." disabled></test-textfield>
        <test-textfield
          type="email"
          label="Invalid"
          value="soojubm@gmail.com"
          placeholder="Placeholder..."
          aria-invalid="true"
          aria-describedby="error"
          aria-errormessage="msgID"
          helper="이미 등록된 이메일입니다."
        ></test-textfield>
      </test-group>
      <test-separator></test-separator>
      <div style="display: flex; flex-direction: column; gap: var(--space-3)">
        <!-- TODO hiddenLabel or ariaLabel -->
        <test-textfield type="search" hiddenLabel>
          <label slot="prefix" class="searchfield-prefix">
            <test-icon name="search"></test-icon>
          </label>
          <test-icon name="xmark"></test-icon>
          <!-- button slot="suffix" class="searchfield-clear" aria-label="clear keyword"></button> -->
          <button class="searchfield-cancel" aria-label="back">취소</button>
        </test-textfield>
        <test-textfield type="password" label="Password field">
          <test-chip slot="suffix" icon="eye-solid" aria-label="비밀번호 보기"> </test-chip>
        </test-textfield>
        <test-textfield
          type="number"
          label="Number field (금액)"
          value="20000"
          placeholder="Textarea Placeholder..."
        ></test-textfield>
        <!-- oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" -->
      </div>
      <test-separator></test-separator>
      <div class="textfield">
        <label class="textfield-label" for="search1">Textarea or Commentfield</label>
        <small class="textfield-byte"><b>0 KB</b> / 100 KB</small>
        <textarea
          class="textfield-input"
          rows="3"
          placeholder="Textarea Placeholder..."
          style="height: auto"
        ></textarea>
      </div>
      <test-separator></test-separator>
      <div class="counter js-counter" style="max-width: 200px">
        <label for="numberfield" style="position: absolute; opacity: 0">
          레이블 라이트하우스용
        </label>
        <test-chip
          icon="minus"
          class="js-counter-decrement"
          aria-controls="numberfield"
          tabindex="-1"
        >
        </test-chip>
        <test-textfield size="small" value="20"></test-textfield>
        <!-- <input
          class="counter-input reset-input textfield-input js-counter-input js-number-input"
          type="number"
          name="counter1"
          id="numberfield"
          min="5"
          max="20"
          value="0"
        /> -->
        <test-chip icon="plus" class="js-counter-increment" tabindex="-1"> </test-chip>
      </div>
      <test-separator></test-separator>
      <div style="display: flex; align-items: center; justify-content: space-between">
        <div>
          <test-text variant="word-strong">1 sandbox</test-text>
          <test-text variant="word-weak"> $100.00 / addl sandbox </test-text>
        </div>
        <test-group variant="chip">
          <test-chip
            icon="minus"
            class="counter-decrement js-counter-decrement"
            aria-controls="numberfield"
            tabindex="-1"
          >
          </test-chip>
          <test-chip icon="plus" class="counter-increment js-counter-increment" tabindex="-1">
          </test-chip>
        </test-group>
      </div>
      <!-- <test-textfield type="text" label="" hiddenLabel placeholder="Placeholder...">
          <test-icon slot="prefix" name="xray-view"></test-icon>
        </test-textfield>
        <test-textfield type="email" label="" hiddenLabel placeholder="with Suffix...">
          <test-icon slot="suffix" name="xray-view"></test-icon>
        </test-textfield> -->
      <!-- <p>unit, choose/enter</p> -->
      <!-- <abbr title="필수입력">*</abbr> -->
    </section>

    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>type</dt>
        <dd>HTMLInputTypeAttribute? | 'search' | "text" | "number" | "tel" | "textarea"</dd>
        <dd>TODO</dd>
        <dt>name</dt>
        <dd>string</dd>
        <dd>id={props.name}</dd>
        <dt>label</dt>
        <dd>string</dd>
        <dd><del>레이블을 쓰지 않으면 hiddenLabel 스타일.</del></dd>
        <dt>isHiddenLabel</dt>
        <dd>boolean</dd>
        <dd>
          labelHidden 형태라도 label prop 은 필수. 스크린리더. 시각적으로 숨기기 위한 옵셔널 prop.
          aria-invalid
        </dd>
        <dt>value</dt>
        <dd>string</dd>
        <dd></dd>
        <dt>placeholder</dt>
        <dd>string</dd>
        <dd></dd>
        <dt>helper<attr>?</attr></dt>
        <dd>string</dd>
        <dd>validation / helper</dd>
        <dd>isInvalid = helper.length === 0</dd>
        <dt>state</dt>
        <dd>'disabled' | 'readonly' | 'focused' | 'invalid'</dd>
        <dd></dd>
        <dt>isAutoFocus<attr>?</attr></dt>
        <dd>boolean</dd>
        <dd></dd>
        <dt>onChange</dt>
        <dd>(event: React.ChangeEvent[HTMLInputElement]) => void</dd>
        <dd></dd>
        <dt>onKeyDown</dt>
        <dd>(event: KeyboardEvent[HTMLButtonElement]) => void</dd>
      </dl>
    </section>

    <section class="component-guide">
      <test-text variant="subhead">Visual Style</test-text>
      <test-text variant="body"> 레이블을 텍스트필드 왼쪽에 배치하지 마세요.</test-text>
      <test-text variant="body">
        이중 레이블링하지 마세요. 아이콘은 텍싀트 레이블을 대체할 수 있습니다. (아이콘 레이블을
        사용하는 예시: 이메일로 사용자를 추가할 때 입력 정보를 아이콘으로 직관화)
      </test-text>
      <test-text variant="body">
        일반 텍스트필드와 특수한? 텍스트필드 구별을 위한 시각적인 단서를 제공하세요.
      </test-text>
      <test-text variant="body" data-temp="required indicator / optional indicator">
        불필요한 정보 입력을 유도하지 마세요. 사용자 여정에 허들이 될 수 있습니다. 다시 말해 모든
        텍스트필드는 필수 입력을 보장(?)합니다. 단, 사용자 정보를 수집하여 사용자 또는 비즈니스에
        이점이 명확한 경우 선택 필드를 제안할 수 있습니다. 이 때 선택 입력 필드에 '선택입력'
        텍스트로 가이드합니다.
      </test-text>

      <blockquote>
        <test-text variant="body-bold">Notes</test-text>
        <ul class="checklist">
          <li>TODO utilities. 앞자리 0 제거. 숫자만입력3자리마다콤마. 소숫점 컨트롤.</li>
          <li>url field. www 및 https://</li>
          <li>
            form 컴포넌트는 간격에 대한 구조 컴포넌트. form patterns. FormField label / TextInput
            으로 나누는 방안. groupable은 속성. 그래서 컴포넌트 이름은 form layout / fieldset /
            fieldgroup FormLabel checkbox-label와 input-label을 똑같이 할 수 있나? field label :
            fieldset legend, label - input/textarea 그러면 searchField 등의 대안이 될 수 있나?
          </li>
          <li>
            helper(help message)와 feedback(feedback message / validation feedback)을 구분하기.
          </li>
          <li>field feedback / fieldset feedback(checkbox group, login)</li>
          <li>props: minValue, maxValue, value, onDecreseClick, onIncreseClick</li>
          <li>221021: - + 버튼에 포커스는 필요가 없다. input 키보드 위 아래로?</li>
        </ul>
      </blockquote>
    </section>

    <aside class="component-references">
      <test-text variant="subhead">References</test-text>
      <a href="https://developer.apple.com/documentation/uikit/uisearchbar">HIG searchbar</a>
    </aside>

    <section class="component-case">
      <test-tile>
        <test-text variant="body-bold">Field group</test-text>
        <test-text variant="body"
          >그룹이 되는 모든 필드는 선택 입력입니다. 다시말해 필수 입력 필드를 그룹으로 제공하지
          마세요.</test-text
        >
        <test-group variant="textfield" style="width: 100%; align-items: flex-end">
          <test-textfield label="Length" placeholder="cm unit"></test-textfield>
          <div style="display: flex; align-items: center; height: var(--size-large)">
            <test-icon name="xmark"></test-icon>
          </div>
          <test-textfield label="Width" placeholder="x means"></test-textfield>
          <div style="display: flex; align-items: center; height: var(--size-large)">
            <test-icon name="xmark"></test-icon>
          </div>
          <test-textfield label="Height" placeholder="cm"></test-textfield>
        </test-group>
      </test-tile>
      <test-tile>
        <div style="display: flex; justify-content: space-between; gap: var(--space-3)">
          <div style="flex: auto; width: 50%">
            <test-textfield
              type="date"
              name="date-start"
              label="체크인"
              placeholder="YYYY. MM. DD."
            >
              <test-icon slot="suffix" name="calendar"></test-icon>
            </test-textfield>
          </div>
          <div style="flex: auto; width: 50%">
            <test-textfield
              type="date"
              name="date-end"
              label="체크아웃"
              placeholder="YYYY. MM. DD."
            >
              <test-icon slot="suffix" name="calendar"></test-icon>
            </test-textfield>
          </div>
        </div>
      </test-tile>

      <test-tile>
        <test-titlebar heading="배송지 등록"> </test-titlebar>
        <br />
        <test-group variant="form">
          <test-textfield
            label="받는 사람"
            stype="text"
            name="email"
            id="login-email"
            placeholder="수줍이"
          ></test-textfield>
          <test-textfield
            label="연락처"
            type="text"
            name="email"
            id="login-email"
            placeholder="01012345678"
          ></test-textfield>
          <test-textfield
            label="주소"
            type="text"
            name="email"
            id="address"
            placeholder="클릭하여 우편번호 찾기"
          ></test-textfield>
          <test-textfield
            label="상세주소"
            type="text"
            name="email"
            id="address"
            placeholder="클릭하여 우편번호 찾기"
          ></test-textfield>
          <!-- First name, Last Name, Country / Region, State, Zipcode" -->
          <!-- <test-textfield label="공동현관 출입번호" type="text" isOptional name="email" id="login-email" placeholder=""></test-textfield> -->
          <test-textfield
            label="배송 메시지"
            type="text"
            isOptional
            name="email"
            id="login-email"
            placeholder="직접 입력"
          ></test-textfield>
          <test-checkbox label="개인정보 수집 및 이용 동의(수취인정보?)"></test-checkbox>
          <test-button variant="primary" label="배송지 등록"></test-button>
        </test-group>
      </test-tile>

      <test-tile>
        <test-titlebar heading="장바구니"> </test-titlebar>
        <div style="height: var(--space-3)"></div>
        <test-menuitem>
          <test-avatar slot="avatar" size="huge"">
            <img src="/public/images/product_sample.png" alt="" />
          </test-avatar>
          <div slot="text">
            <test-text variant="word-strong"> 폰타나 베네치아 로스티드 쉬림프 크림 </test-text>
            <test-text variant="word-weak">Brown, 3개</test-text>
            <test-text variant="word-large">₩ 22,500</test-text>
          </div>
          <!-- <div class="cart-item-name">
            <span>product</span>
            <b> 폰타나 베네치아 로스티드 쉬림프 크림 </b>
          </div>
          <div class="cart-item-color">
            <span>color</span>
            <b>Brown</b>
          </div>
          <div class="cart-item-qty">
            <span>qty</span>
            <b>3</b>
          </div>
          <div class="cart-item-price">
            <span>price</span>
            <b>₩ 22,500</b>
          </div> -->

          <test-chip>수량/옵션 변경</test-chip>

          <test-chip>close</test-chip>

          <test-group variant="chip" class="counter js-counter" style="max-width: 200px">
            <test-chip
              icon="minus"
              class="js-counter-decrement"
              aria-controls="numberfield"
              tabindex="-1"
            ></test-chip>
            <test-textfield size="small" value="20"></test-textfield>
            <!-- <input class="quantity-input js-quantity-input" type="number" value="1" /> -->
            <test-chip icon="plus" class="js-counter-increment" tabindex="-1"> </test-chip>
          </test-group>

          <div class="counter js-counter" style="max-width: 200px">
            <label for="numberfield" style="position: absolute; opacity: 0">
              레이블 라이트하우스용
            </label>
            <!-- <input
              class="counter-input reset-input textfield-input js-counter-input js-number-input"
              type="number"
              name="counter1"
              id="numberfield"
              min="5"
              max="20"
              value="0"
            /> -->
          </div>

          <div class="cart-item-addition">
            <b class="cart-item-addition-title">AppleCare+ for Macbook/MacBook Air</b>
            <p class="cart-item-addition-description">
              Automatically registered width your Apple hardware.
            </p>
            <span class="cart-item-addition-price">₩ 20,000</span>
          </div>
        </test-menuitem>

        <test-separator></test-separator>

        <footer class="cart-summary">
          <div class="cart-summary-subtotal">
            <span class="cart-summary-label">총 상품금액</span>
            <span class="cart-summary-value">₩ 30,000</span>
          </div>
          <div class="cart-summary-shipping">
            <span class="cart-summary-label">배송료</span>
            <span class="cart-summary-value">₩ 3,000</span>
          </div>
          <div class="cart-summary-shipping">
            <span class="cart-summary-label">할인</span>
            <span class="cart-summary-value"><span hidden>(-)</span> ₩ 2,000</span>
          </div>
          <div class="cart-summary-total">
            <span class="cart-summary-label">최종 결제 금액</span>
            <b class="cart-summary-value">₩ 37,000</b>
          </div>
          <div class="cart-summary-controls">
            <test-button variant="primary" isfullwidth="true">결제</test-button>
          </div>
        </footer>
      </test-tile>
    </section>
  </article>
</main>

<!-- <test-text variant="body-bold">NumberField</test-text> -->
<!-- <input type="text" inputmode="numeric" pattern="[0-9]*" />
<small id="" class="textfield-helper" aria-live="assertive">pattern="[0-9]+"</small> -->
<!-- <test-text variant="body-bold">DateRangeField / DateField</test-text> -->
