<main class="component">
  <!-- <form action="">
    <input type="checkbox" />
    <input type="radio" />
    <test-separator></test-separator>
    <select name="" id="">
      <option value=""></option>
    </select>
    <input type="text" placeholder="text" />
    <input type="email" placeholder="email" />
    <input type="password" placeholder="password" />
    <input type="url" placeholder="url" />
    <input type="tel" placeholder="tel" />
    <input type="date" placeholder="date" />
    <input type="time" placeholder="time" />
    <textarea name="" id=""></textarea>
    <input id="myURL" name="myURL" type="url" list="defaultURLs" />
    <datalist id="defaultURLs">
      <option value="https://developer.mozilla.org/"></option>
      <option value="http://www.google.com/"></option>
    </datalist>
    <button type="submit">제출</button>
  </form> -->

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Textfields</test-text>
    <test-text variant="body-large">
      사용자가 데이터를 입력할 수 있는 인러렉티브한? 필드입니다.
    </test-text>

    <ul>
      <li>fieldset variant=checkbox-group horizontal / flex=1</li>
      <li>
        label 은 받아야 함. 왜냐하면 스크린리더. 시각적으로 숨기기 위한 prop이 필요하다.
        aria-invalid
      </li>
      <li>유틸함수 만들기. 앞자리 0 제거. 숫자만입력3자리마다콤마. 소숫점 컨트롤.</li>
      <!-- <input type="text" inputmode="numeric" pattern="[0-9]*" />
      <small id="" class="textfield-helper" aria-live="assertive">pattern="[0-9]+"</small> -->
      <li>value=0 있으면 안 li됨</li>
      <li>props: minValue, maxValue, value, onDecreseClick, onIncreseClick</li>
      <li>221021: - + 버튼에 포커스는 필요가 없다. input 키보드 위 아래로?</li>
      <li>
        url field. www 및 https://<br />
        todo: helper(help message)와 feedback message를 구별. required indicator / optional
        indicator / validations / masked / validation feedback 기본 입력 일반 텍스트필드와 특수한?
        텍스트필드 구별을 위한 시각적인 단서를 제공하세요. 검색 아이콘 등
      </li>
      <li>
        form 컴포넌트는 간격에 대한 구조 컴포넌트. form patterns. FormField label / TextInput 으로
        나누는 방안. 그러면 searchField 등의 대안이 될 수 있나? checkbox-label와 input-label을
        또같이.
      </li>
      <li>
        기본 Textfield를 확장하여 NumberField, DateField, DateRangeField, SearchField, EmailField,
        PasswordField??
      </li>
      <li>field label : fieldset legend, label - input/textarea</li>
      <li>fieldset feedback - checkbox group, login</li>
      <li>textarea, select, combo</li>
      <li>helper와 feedback을 구분하기. assertive 속성의 차이도 존재하기 때문.</li>
    </ul>
    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd>TextInput</dd>
      <dd>Input</dd>
    </dl>
    <section class="component-example">
      <div style="max-width: 400px">
        <test-textfield type="email" label="Default" placeholder="Placeholder..." isOptional>
          <test-icon slot="suffix" name="verified-badge"></test-icon>
        </test-textfield>
        <hr />
        <test-textfield
          type="email"
          label="Invalid"
          value="soojubm@gmail.com"
          placeholder="Placeholder..."
          aria-invalid="true"
          aria-describedby="error"
          aria-errormessage="msgID"
          helper="이미 등록된 이메일입니다."
        ></test-textfield>
        <hr />
        <test-textfield type="email" label="Disabled" placeholder="Placeholder..." disabled />

        <!-- <p>unit, choose/enter</p> -->
        <!-- <abbr title="필수입력">*</abbr> -->
        <test-separator></test-separator>
        <test-textfield
          size="small"
          label="Smaller label"
          placeholder="Textarea small Placeholder..."
        ></test-textfield>
      </div>
    </section>

    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>type</dt>
        <dd>HTMLInputTypeAttribute? | 'search' | "text" | "number" | "tel" | "textarea"</dd>
        <dd>
          TODO Searchfield / Commentfield / counterField / PriceField... label, validation, helper를
          포함하지 않는 케이스와 구분해보기
        </dd>
        <dt>name</dt>
        <dd>string</dd>
        <dd>id={props.name}</dd>
        <dt>label<attr>?</attr></dt>
        <dd>string</dd>
        <dd>레이블을 쓰지 않으면 hiddenLabel 스타일.</dd>
        <dt>value</dt>
        <dd>string</dd>
        <dd></dd>
        <dt>placeholder</dt>
        <dd>string</dd>
        <dd></dd>
        <dt>helper<attr>?</attr></dt>
        <dd>string</dd>
        <dd>isInvalid = helper.length === 0</dd>
        <dt>state</dt>
        <dd>'disabled' | 'readonly' | 'focused' | 'invalid'</dd>
        <dd></dd>
        <dt>isAutoFocus<attr>?</attr></dt>
        <dd>boolean</dd>
        <dd></dd>
        <dt>onChange</dt>
        <dd>(event: React.ChangeEvent[HTMLInputElement]) => void</dd>
        <dd></dd>
        <dt>onKeyDown</dt>
        <dd>(event: KeyboardEvent[HTMLButtonElement]) => void</dd>
      </dl>
    </section>

    <section class="component-guide">
      <test-text variant="subhead">Visual Style</test-text>
      <test-text variant="body"> 레이블을 텍스트필드 왼쪽에 배치하지 마세요. </test-text>
      <test-text variant="body">
        이중 레이블링하지 마세요. prefix icon은 텍싀트 레이블을 대체합니다. 추가하는 맥락에서 아이콘
        레이블 사용. (예시 이메일로 사용자 추가).
      </test-text>
      <test-text variant="body">
        불필요한 정보 입력을 유도하지 마세요. 사용자 여정에 허들이 될 수 있는 불필요한 입력 필드
        최소화. 다시말해 모든 텍스트 필드는 필수 입력이어야 한다. 사용자 정보를 제공하여 사용자 또는
        비즈니스 이점이 명확한 경우 선택 필드를 제안할 수 있습니다. 선택 입력 필드는 '선택입력'
        텍스트로 가이드합니다.
      </test-text>

      <test-text variant="subhead">Best practices</test-text>
      <test-text variant="body">
        넘버필드는 작은 사이즈인데 결국 두 개의 사이즈로? 수량 뿐 아니라 숫자만 입력할 수 있는 필드.
        헬퍼 텍스트(위/아래). label :: line-height: 24px
      </test-text>
      <!--
      <test-text variant="body"> 일반 텍스트필드와 특수한? 텍스트필드 구별을 위한 시각적인 단서를 제공하세요. 검색 아이콘 등 </test-text> -->
    </section>

    <test-text variant="subhead">Groupable (patterns)</test-text>
    <test-text variant="body">서비스 이용에 필수적인 필드는 그루핑 하지마요마요. ?? </test-text>
    <section class="component-case">
      <fieldset class="textfield-group" style="width: 100%; max-width: 400px">
        <test-textfield label="Length" placeholder="cm unit"></test-textfield>
        <test-icon
          name="delete-circle"
          style="padding: 0 var(--space-1); color: var(--color-text-light); line-height: 48px"
        >
          close
        </test-icon>
        <test-textfield label="Width" placeholder="x means"></test-textfield>
        <test-icon
          name="delete-circle"
          style="padding: 0 var(--space-1); color: var(--color-text-light); line-height: 48px"
        >
          close
        </test-icon>
        <test-textfield label="Height" placeholder="cm"></test-textfield>
      </fieldset>
    </section>

    <test-text variant="subhead">PasswordField</test-text>
    <section class="component-case">
      <test-textfield type="password" label="비밀번호">
        <test-icon slot="suffix" name="eye-empty"></test-icon>
      </test-textfield>
    </section>

    <test-text variant="subhead">SearchField</test-text>
    <section class="component-case">
      <test-searchfield label="서치필드 테스트"></test-searchfield>
      <hr />
      <form class="searchfield" style="max-width: 400px">
        <label class="searchfield-prefix">
          <test-icon name="search"></test-icon>
        </label>
        <input
          class="searchfield-input"
          type="search"
          placeholder="궁금한 인물이나 이슈가 있나요?"
        />
        <button class="searchfield-clear" aria-label="clear keyword">
          <span class="material-symbols-outlined">close</span>
        </button>
        <button class="searchfield-cancel" aria-label="clear keyword">
          <span class="material-symbols-outlined">취소</span>
        </button>
      </form>
    </section>

    <test-text variant="subhead">NumberField</test-text>
    <section class="component-case">
      <test-textfield
        type="number"
        label="금액"
        value="20000"
        placeholder="Textarea Placeholder..."
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
      ></test-textfield>
    </section>
    <test-text variant="subhead">DateRangeField</test-text>
    <section class="component-case">
      <fieldset class="textfield-group" style="width: 100%; max-width: 400px">
        <test-textfield type="date" name="date-start" label="체크인" placeholder="YYYY. MM. DD.">
          <test-icon slot="suffix" name="calendar"></test-icon>
        </test-textfield>
        <test-textfield type="date" name="date-end" label="체크아웃" placeholder="YYYY. MM. DD.">
          <test-icon slot="suffix" name="calendar"></test-icon>
        </test-textfield>
      </fieldset>
    </section>
    <test-text variant="subhead">Counter</test-text>
    <section class="component-case">
      <div class="counter js-counter" style="max-width: 240px; display: flex; gap: 0.5rem">
        <label for="numberfield" style="position: absolute; opacity: 0">
          레이블 라이트하우스용
        </label>
        <test-chip
          class="counter-decrement js-counter-decrement"
          aria-controls="numberfield"
          tabindex="-1"
        >
          <test-icon slot="icon" name="minus"></test-icon>
        </test-chip>
        <input
          class="counter-input reset-input textfield-input js-counter-input js-number-input"
          type="number"
          name="counter1"
          id="numberfield"
          min="5"
          max="20"
          value="0"
          style="text-align: center"
        />
        <test-chip class="counter-increment js-counter-increment" tabindex="-1">
          <test-icon slot="icon" name="plus"></test-icon>
        </test-chip>
      </div>
      <test-separator></test-separator>
      <test-group style="align-items: center">
        <div>
          <p style="margin: 0"><b>1 sandbox</b></p>
          <small style="display: block; color: var(--color-text-light)"
            >$100.00 / addl sandbox</small
          >
        </div>
        <test-group style="width: max-content; margin-left: auto">
          <test-chip
            class="counter-decrement js-counter-decrement"
            aria-controls="numberfield"
            tabindex="-1"
          >
            <test-icon slot="icon" name="minus"></test-icon>
          </test-chip>
          <test-chip class="counter-increment js-counter-increment" tabindex="-1">
            <test-icon slot="icon" name="plus"></test-icon>
          </test-chip>
        </test-group>
      </test-group>
    </section>

    <test-text variant="subhead">Textarea</test-text>
    <section class="component-case">
      <div class="textfield">
        <label class="textfield-label" for="search1">레이블</label>
        <small class="textfield-byte"><b>0 KB</b> / 100 KB</small>
        <textarea
          class="textfield-input"
          rows="3"
          placeholder="Textarea Placeholder..."
          style="height: auto"
        ></textarea>
      </div>
    </section>

    <div class="component-references">
      <test-text variant="subhead">References</test-text>
      <a href="https://developer.apple.com/documentation/uikit/uisearchbar">HIG searchbar</a>
    </div>
  </article>
</main>
