<main class="page js-tab">
  <mm-pageheader
    title="Icon Button"
    description="레이블을 제공하지 않고 학습된 메타포를 사용한 간결한 액션 버튼입니다. 툴팁이나 대체 텍스트로 목적을 명확히 해야 합니다."
  ></mm-pageheader>

  <section class="component-example">
    <div style="display: flex; align-items: center; gap: var(--space-2)">
      <mm-icon-button variant="" icon="heart"></mm-icon-button>
      <mm-tooltip content="로그인">
        <mm-icon-button slot="trigger" icon="user"></mm-icon-button>
      </mm-tooltip>
    </div>
    <mm-separator></mm-separator>
    <mm-group>
      <mm-icon-button variant="navigator" icon="arrow-left"></mm-icon-button>
      <mm-icon-button variant="navigator" icon="arrow-right" color="gold"></mm-icon-button>
      <mm-icon-button variant="navigator" icon="star-solid"></mm-icon-button>
      <mm-icon-button variant="navigator" icon="star"></mm-icon-button>
      <mm-icon-button variant="navigator" icon="xmark"></mm-icon-button>
      <mm-clear-button></mm-clear-button>
    </mm-group>
  </section>
  <section class="component-props">
    <dl>
      <dt>name</dt>
      <dd>iconNameType</dd>
      <dt>variant</dt>
      <dd>'default?' | 'navigator'</dd>
      <dt>ariaLabel</dt>
      <dd>string</dd>
      <dt>onClick</dt>
      <dd>event:(React.MouseEvent&lt;HTMLButtonElement&gt;) => void</dd>
    </dl>
    <!-- <mm-text-group>
      <mm-text variant="body">
        버튼으로 아이콘 버튼을 대체하기 어렵다. 레이블과 함께 사용될 때 내부 간격의 조절이
        불가피하다. 아이콘 버튼은 레이블 대신 대체 텍스트나 툴팁을 제공해야 하는데 옵셔널한 값으로
        버튼의 책임이 불필요하게 커질 수 있다.
      </mm-text>
      <mm-text variant="body"
        >Toggled states. Buttons can swap icons based on data states. There are several icons within
        our library that have a “Filled” counterpart to indicate whether a state is toggled on. The
        “Outlined” version indicates it is toggled off.
      </mm-text>
    </mm-text-group> -->
  </section>
</main>
