<main class="page js-tab">
  <header class="page-header">
    <mm-text variant="title">Icon Button</mm-text>
    <mm-text variant="body-large">아이콘 버튼. 툴팁 포함. selectable?</mm-text>
  </header>
  <section class="component-example">
    <mm-group>
      <mm-icon-button variant="" icon="heart"></mm-icon-button>
      <mm-icon-button variant="navigator" icon="xmark"></mm-icon-button>
      <mm-icon-button variant="navigator" icon="arrow-left"></mm-icon-button>
      <mm-icon-button variant="navigator" icon="arrow-right"></mm-icon-button>
    </mm-group>
  </section>
  <section class="component-props">
    <dl>
      <dt>variant</dt>
      <dd>'' | 'navigator'</dd>
      <dt>ariaLabel</dt>
      <dd>string</dd>
      <dt>onClick<attr>?</attr></dt>
      <dd>event:(React.MouseEvent&lt;HTMLButtonElement&gt;) => void</dd>
    </dl>
  </section>
  <section class="component-guide">
    <mm-text variant="subhead">
      공간 절약, 간단한 동작(닫기, 공유 등).익숙한 메타포 아이콘으로 학습된.
    </mm-text>
    <mm-text variant="body">버튼과 통일했을 때 패딩 정의가 복잡하다.</mm-text>
    <mm-text variant="body">툴팁을 통한 접근성 최적화.</mm-text>

    <mm-text variant="subhead">A11y</mm-text>
    <mm-text variant="body"></mm-text>
  </section>
</main>
