/* height variable */
.titlebar {
  display:flex;
  align-items:center;
  padding: var(--space-3) 0;
  gap:var(--space-3);
  position:relative;
}
.titlebar-title {
  font-size:var(--font-size-medium);font-weight:var(--font-weight-bold);
  /* position:absolute;left:50%;transform:translateX(-50%); */
}
.titlebar-back {}

.titlebar[data-size=large] {align-items:baseline;height:100px;}
.titlebar[data-size=large] .titlebar-title {font-size:1.5rem;position:absolute;left:0;top:calc(var(--titlebar-height) - .25rem);transform:translateX(0);}

.is-sticky-titlebar .titlebar {position:fixed;top:0;}
.is-sticky-titlebar .titlebar-background {box-shadow:var(--shadow);}

::slotted([slot=action]) {
  margin:0 0 0 auto;
}