/* TODO make thte com */
.summary {display:flex;flex-direction:column;width:100%;gap:var(--space-2);}
.summary-item {
  display:flex;justify-content:space-between;
}
.summary-item[data-alignment=inline] {
  justify-content: baseline;
  gap: var(--space-2);
}
/* .summary-item[data-size='large'] {font-size: var(--font-size-large);} */



.statistic {display:flex;gap:2rem;}
.statistic-item {position: relative;}
.statistic-item:hover {}
.statistic-label {display: block;color: var(--color-text-light);line-height:24px;}
.statistic-value {display: block;font-size:var(--font-size-large);font-weight:var(--font-weight-bold);}
.statistic[data-size=small] {}
.statistic[data-size=small] .statistic-item {display: flex;align-items: center;}
.statistic[data-size=small] .statistic-value {margin: 0 0 0 var(--space-1);font-size: var(--font-size-medium);}