<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title" title="or Box">Tiles</test-text>
    <test-text variant="body-large">연관 정보를 묶어 시각적으로 강조하는 컨테이너입니다.</test-text>
    <!-- 추가 콘텐츠에 대한 티저로 사용할 수 있습니다 -->
    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd title="protocol mozilla">EmphasisBox</dd>
      <dd title="biings">Box</dd>
      <dd title="">Card</dd>
      <dd title="pinterest gestalt">Module</dd>
      <dd title="radix">Section</dd>
      <dd title="radix">Container</dd>
      <dd title="mui">Paper</dd>
      <dd title="mui">Building block</dd>
      <dd title="fluent UI">Segment</dd>
      <dd title="elastic UI">Panel</dd>
    </dl>

    <section class="component-example">
      <test-tile variant="flat">
        <test-text variant="subhead">flatted with subhead</test-text>
        <p style="margin: 1rem">
          문제: 크기에 따른 변별력이 없다. inset이 더 커진다면 작은 화면에서 미디어쿼리로 inset
          조정이 불가피하기 때문에 컴포넌트의 디바이스나 화면 크기에 컴포넌트가 의존된다. 솔루션:
          inset이 1rem 초과할 때 콘텐츠 모듈을 가운데 정렬로 제한.
        </p>
      </test-tile>
      <div style="height: var(--space-3)"></div>
      <test-tile variant="elevated">
        <b>elevated</b>
      </test-tile>
    </section>

    <section class="component-props">
      <dl>
        <dt>variant</dt>
        <dd>'flat' | 'elevated'</dd>
        <dd>variant? surface?: none | primary | secondary ? // plain</dd>
        <dt>size</dt>
        <dd>'large' | 'medium' | 'small'</dd>
        <dd>TODO tiny size for tablist</dd>
        <dt>children</dt>
        <dd>React.Node</dd>
      </dl>
    </section>

    <section class="component-guide">
      <blockquote>
        <p>padding은 유연하게 적용할 수도 있다.</p>
        <p>
          TODO: space-4는 너무 크고 -2는 너무 작다 small 2를 쓰는 곳이 있나? 3이 적당하긴 함. 내부에
          아바타가 있을 때 보통 small, space-2를 사용함.
        </p>
      </blockquote>
      <test-text variant="subhead">Behavior</test-text>
      <test-text variant="body"> flat 형태는 non-clickable. </test-text>
      <test-text variant="body">
        '클릭할 수 있음'의 기표로 elevated 스타일을 사용합니다. 타일 전체가 하나의 클릭 가능한
        요소일 수 있지만 타일 내부에 클릭 가능한 요소를 포함할 수도 있습니다.
      </test-text>

      <test-text variant="subhead">Visual style</test-text>
      <test-text variant="body"
        >자식 컴포넌트에 따라 내부 간격 및 사이즈 속성이 결정됨. 이에 대한 정의.</test-text
      >
      <test-text variant="body"
        >타일 내부 leading, tailing 엘리먼트의 시각보정이 필요할 수 있습니다.</test-text
      >
      <test-text variant="body">타일이 페이지 레벨의 컴포넌트가 될 수 있는 경우.</test-text>

      <test-text variant="subhead">Memo</test-text>
      <ul>
        <li>2:1. 블리딩 시 높이를 고정해야 한다. ??</li>
        <li>TODO: 모든 contentbox가 tile 이어야 하는가.</li>
        <li>
          content area with padding. 또는 마이너스 마진을 가지는 컨텐츠 영역을 별도로 정의하는 것은
          어떤지. 정렬을 변경할 때의 대응.
        </li>
      </ul>

      <test-text variant="subhead">Changelog</test-text>
      <test-text variant="body">flat 형태와 변별을 위해 elevated의 쉐도우를 강화.</test-text>
    </section>

    <section class="component-case">
      <div
        class="quote"
        style="
          background-image: url('../public/images/springsteen.jpg');
          background-size: cover;
          padding: 8rem 1rem 1rem;
          box-sizing: border-box;
          border-radius: var(--radius);
        "
      >
        <test-text variant="subhead" style="color: #fff">Quote</test-text>
        <p class="quote-body" style="color: #fff">Don't you know that God is Pooh bear?</p>
        <cite class="quote-byline">
          <div class="quote-byline-name" style="color: #fff">Jack Kerouac</div>
          <div class="quote-byline-job">Musician</div>
        </cite>
        <div style="height: 1rem"></div>
        <test-chip>더 알아보기</test-chip>
      </div>

      <test-tile>
        <test-tilebar heading="Ratings"></test-tilebar>
        <div aria-label="별점 5개 만점에 3.9개를 받았습니다.">
          <test-text variant="word-weak">리뷰 116만개</test-text>
          <test-text variant="word-large">⭐ 4.8</test-text>
        </div>
        <test-separator></test-separator>
        <div class="graph2">
          <b class="graph-label">5 Stars</b>
          <span class="graph-value">68%</span>
          <progress class="progress" value="40" max="100">40%</progress>
          <!-- <div class="graph-bar"><b style="width: 68%"></b></div> -->
        </div>
        <div class="graph2">
          <b class="graph-label">4 Stars</b>
          <span class="graph-value">24%</span>
          <progress class="progress" value="40" max="100">40%</progress>
        </div>
        <small>별 다섯개에서 점수만큼 채우는 유아이는 최근 잘 보이지 않는다. 구현이 어려움.</small>
      </test-tile>

      <test-tile>
        <test-avatar>🥫</test-avatar>
        <test-text variant="subhead">Quote</test-text>
        <test-text variant="body">Don't you know that God is Pooh bear?</test-text>
        <div style="height: var(--space-2)"></div>
        <cite class="quote-byline">
          <test-text variant="word-strong">Jack Kerouac</test-text>
          <test-text variant="word-weak">Poet / Novelist</test-text>
        </cite>
        <div style="height: 1rem"></div>
        <test-group variant="chip">
          <test-chip>더 알아보기</test-chip>
          <test-chip class="quote-later">지금은 괜찮아요</test-chip>
        </test-group>
      </test-tile>

      <test-tile variant="" role="listitem">
        <test-text variant="subhead">2022년 3월</test-text>
        <test-text variant="body">
          텍스트는 최대 두 줄 무야호 따봉 북마크 장바구니 등의 액션이 있을 수 있고 내부 외부
          가이드를 만들어야해
        </test-text>
        <div style="height: var(--space-3)"></div>
        <test-link>자세히 알아보기</test-link>
        <br />
        <figure
          style="border-radius: var(--radius); height: 120px; margin: 1rem 0 0; overflow: hidden"
        >
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
      </test-tile>

      <test-tile variant="" role="listitem">
        <figure slot="thumbnail">
          <img src="/public/images/springsteen.jpg" alt="" />
        </figure>
        <test-tag slot="category" variant="primary">카테고리</test-tag>
        <test-menuitem slot="item" size="large" label="퓨어 오렌지 주스" description="">
          <test-avatar slot="avatar" size="large">🍊</test-avatar>
          <div class="item-description"><del>₩19,000</del> ₩16,000 <em>할인율 20%</em></div>
        </test-menuitem>
        <!-- TODO: menuitem이 애매한 네이밍 -->
        <test-menuitem slot="byline" label="수줍이" description="2년 전">
          <test-avatar slot="avatar" size="small"></test-avatar>
        </test-menuitem>
        <!-- <figure class="card-avatar">🍊</figure> -->
        <test-text slot="heading" variant="subhead">카드 유아이</test-text>
        <test-text slot="body" variant="body">
          텍스트는 최대 두 줄 무야호 따봉 북마크 장바구니 등의 액션이 있을 수 있고 내부 외부
          가이드를 만들어야해
        </test-text>

        <div style="height: var(--space-4)"></div>
        <test-chip slot="action" icon="more-vert"> </test-chip>
        <test-group slot="tags" variant="tag">
          <test-tag variant="hashtag">프로젝트관리</test-tag>
          <test-tag variant="hashtag">프로덕트디자인</test-tag>
          <test-tag variant="hashtag">프론트엔드개발</test-tag>
        </test-group>
        <test-tag class="card-note">마일리지 적립 200P</test-tag>
      </test-tile>

      <test-tile variant="flat">
        <test-avatar style="background: aliceblue">
          <test-icon name="graph-up"></test-icon>
        </test-avatar>
        <div style="height: var(--space-3)"></div>
        <b class="item-name">상해종합주가지수</b>
        <p class="item-description" style="margin: 0 0 0.5rem">2999.55p</p>
        <test-tag variant="up">4.33% 상승</test-tag>
        <div style="margin-top: 0.5rem; color: var(--color-text-light); line-height: 1.2">
          <small>10분 지연. live</small>
          <br />
          <small>현지 시간 기준 10.27. 01:27</small>
        </div>
      </test-tile>

      <br />

      <test-tile variant="flat">
        <test-tag style="position: absolute; left: -0.5rem; top: var(--space-3)">
          🔥 Most Popular
        </test-tag>
        <div style="height: 2rem"></div>
        <test-text variant="subhead">Standard</test-text>
        <test-text variant="body">
          전직대통령의 신분과 예우에 관하여는 법률로 정한다. 대법원장은 국회의 동의를 얻어 대통령이
          임명한다.
        </test-text>
        <br />
        <div class="pricing-item-price">
          <span class="pricing-item-price-per">한 달에 한 번</span>
          <test-text variant="title">₩ 6,800</test-text>
        </div>
        <!-- <div>
          <test-text variant="subhead"><em>iCloud+</em> 50GB</test-text>
          <span>₩1,100/월 </span>
        </div> -->
        <ul class="checklist">
          <li>스토리지 2TB</li>
          <li>Google 전문가와의 상담</li>
          <li>회원을 위한 추가 혜택</li>
        </ul>
        <test-group>
          <test-button variant="primary">업그레이드</test-button>
          <test-button variant="text">And More...</test-button>
        </test-group>
      </test-tile>

      <header style="display: flex; align-items: center; justify-content: space-between">
        <h2>내 요금제</h2>
        <button style="color: var(--color-primary); font-weight: bold; text-decoration: underline">
          요금제 변경하기
        </button>
      </header>
      <test-tile variant="elevated">
        <test-menuitem>
          <test-avatar slot="avatar" size="huge"></test-avatar>
          <div slot="text">
            <test-text variant="word-large">개인</test-text>
            <test-text variant="body">Apple One</test-text>
            <test-text variant="label">가족 구독</test-text>
          </div>
        </test-menuitem>
        <test-separator></test-separator>

        <test-group alignment="vertical">
          <test-keyvalue key="이용기간" value="23.04.09. ~ 23.05.02."> </test-keyvalue>
          <test-keyvalue key="이번 달 결제금액" value="4,258원"> </test-keyvalue>
          <test-keyvalue key="다음 결제일" value="2023. 3. 10."> </test-keyvalue>
        </test-group>

        <ul class="checklist" style="margin: var(--space-4) 0 0 0">
          <li>다음 청구일은 2023. 3. 10.입니다.</li>
          <li>언제든 해지 가능합니다. 혜택 약관이 적용됩니다.</li>
        </ul>
        <test-text variant="caption">
          약정 기간이 없습니다. 갱신일 최소 하루 전까지 설정 > Apple ID에서 언제든지 취소할 수
          있습니다. 취소할 때까지 요금제가 자동 갱신됩니다.
        </test-text>
        <test-separator></test-separator>
        <p style="color: var(--color-text-light)">계정: soojubm@gmail.com</p>
      </test-tile>

      <test-tile>
        <test-text variant="subhead">Senior Front-end Developer</test-text>
        <test-group variant="hashtag">
          <test-tag variant="hashtag">Full-Time</test-tag>
          <test-tag variant="hashtag">Korea</test-tag>
          <test-tag variant="hashtag">Remote friendly</test-tag>
        </test-group>
        <div style="height: var(--space-3)"></div>
        <!-- <test-chip>View Job</test-chip> -->
        <button
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            margin: 0 -1rem;
            padding: var(--space-3) 1rem 0;
            border-top: var(--border);
          "
        >
          View Job
          <test-icon name="arrow-right"></test-icon>
        </button>
      </test-tile>
      <picture>
        <source
          srcset="photo-light.png"
          media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)"
        />
        <source srcset="photo-dark.png" media="(prefers-color-scheme: dark)" />
        <source type="image/svg+xml" srcset="pyramid.svg" />
        <source type="image/webp" srcset="pyramid.webp" />
        <source media="(max-width: 799px)" srcset="elva-480w-close-portrait.jpg" />
        <source media="(min-width: 800px)" srcset="elva-800w.jpg" />
        <img src="elva-800w.jpg" alt="딸 엘바를 안고 서 있는 크리스" />
      </picture>
      <img
        srcset="elva-fairy-320w.jpg 320w, elva-fairy-480w.jpg 480w, elva-fairy-640w.jpg 2x, elva-fairy-800w.jpg 800w"
        sizes="(max-width: 320px) 280px, (max-width: 480px) 440px, 800px"
        src="elva-fairy-800w.jpg"
        alt="요정 옷을 입은 엘바"
      />
    </section>
  </article>
</main>
