<main class="page">
  <mm-text variant="title" title="or Box">Tiles</mm-text>
  <mm-text variant="body-large">연관 정보를 묶어 시각적으로 강조하는 컨테이너입니다.</mm-text>
  <!-- 추가 콘텐츠에 대한 티저로 사용할 수 있습니다 -->
  <!-- 세로값을 지정하지 않으면, border-width 만큼 세로 값이 더해진다. -->
  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd title="protocol mozilla">EmphasisBox</dd>
    <dd title="biings">Box</dd>
    <dd title="">Card</dd>
    <dd title="pinterest gestalt">Module</dd>
    <dd title="radix">Section</dd>
    <dd title="radix">Container</dd>
    <dd title="mui">Paper</dd>
    <dd title="mui">Building block</dd>
    <dd title="fluent UI">Segment</dd>
    <dd title="elastic UI">Panel</dd>
  </dl>

  <section class="component-example">
    <mm-tile variant="flat">
      <mm-text variant="subhead">flatted with subhead</mm-text>
      <p style="margin: 1rem">
        문제: 크기에 따른 변별력이 없다. inset이 더 커진다면 작은 화면에서 미디어쿼리로 inset 조정이
        불가피하기 때문에 컴포넌트의 디바이스나 화면 크기에 컴포넌트가 의존된다. 솔루션: inset이
        1rem 초과할 때 콘텐츠 모듈을 가운데 정렬로 제한.
      </p>
    </mm-tile>
    <div style="height: var(--space-3)"></div>
    <mm-tile variant="elevated">
      <b>elevated</b>
    </mm-tile>
  </section>

  <section class="component-props">
    <dl>
      <dt>variant? surface?</dt>
      <dd>'flat' | 'elevated' | 'plain? soft?'</dd>
      <dt>size</dt>
      <dd>'large' | 'medium' | 'small'</dd>
      <dt>children</dt>
      <dd>React.Node</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text variant="subhead">Meta problems</mm-text>
    <ul class="checklist">
      <li>
        모든 contentbox가 tile인 것은 어떤가? transparent tile 을 정의한다면, 빈 태그나 빈
        컴포넌트(Box, Row)와는 어떤 변별이 있나? row는 레이아웃 컴포넌트, tile은 형태 컴포넌트이다.
      </li>
      <li>이 컴포넌트는 조금 더 유연한 방식이 되어도 좋겠다. inset을 nuber 타입으로 정의하는.</li>
      <li>
        content area with padding. 또는 마이너스 마진을 가지는 컨텐츠 영역을 별도로 정의하는 것은
        어떤지. 정렬을 변경할 때의 대응.
      </li>
    </ul>
    <mm-text variant="subhead">Behavior</mm-text>
    <mm-text variant="body"> flat 형태는 non-clickable. </mm-text>
    <mm-text variant="body">
      '클릭할 수 있음'의 기표로 elevated 스타일을 사용합니다. 타일 전체가 하나의 클릭 가능한 요소일
      수 있지만 타일 내부에 클릭 가능한 요소를 포함할 수도 있습니다.
    </mm-text>

    <mm-text variant="subhead">Visual style</mm-text>
    <mm-text variant="body">
      자식 컴포넌트에 따라 내부 간격 및 사이즈 속성이 결정됨. 이에 대한 정의. 내부에 아바타가 있을
      때 보통 small, space-2를 사용함.
    </mm-text>
    <mm-text variant="body">
      타일 내부 leading, tailing 엘리먼트의 시각보정이 필요할 수 있습니다.
    </mm-text>

    <br />

    <mm-tile variant="elevated">
      <mm-avatar src="/public/images/springsteen.jpg"> </mm-avatar>
      <div style="height: var(--space-2)"></div>
      <mm-text variant="word-strong">Bruce Springsteen</mm-text>
      <mm-text variant="word">Product Design Intern @soojubm</mm-text>
      <div style="position: absolute; right: 1rem; top: 1rem">
        <mm-button>팔로우</mm-button>
      </div>
    </mm-tile>
  </section>

  <aside
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2rem 0;
      padding: 0.5rem 2rem;
      border: var(--border);
      border-radius: var(--radius);
    "
  >
    <mm-avatar size="large" default="true"></mm-avatar>
    <mm-text variant="subhead"> You can download this product with the All-Access Pass. </mm-text>
    <mm-button variant="primary">Get All-Access</mm-button>
  </aside>

  <div style="max-width: 400px">
    <!-- TODO menuitem이 불필요 내부 요소들이 컴포넌트. 그러면 메뉴아이템 자체가 불필요할 수도 있다. 이것은 합성된 역할 컴포넌트. -->
    <div style="display: flex; gap: var(--space-4); margin-bottom: 1rem">
      <mm-avatar size="huge" src="/public/images/springsteen.jpg"> </mm-avatar>
      <div>
        <mm-text variant="subhead" style="margin-top: 0">제목의 영역</mm-text>
        <mm-text variant="word">Facebook 안팎의 모든 사람</mm-text>
        <div style="height: var(--space-1)"></div>
        <mm-group variant="chip">
          <mm-tag variant="hashtag">React</mm-tag>
          <mm-tag variant="hashtag">Java</mm-tag>
          <mm-tag variant="hashtag">Phython</mm-tag>
        </mm-group>
      </div>
    </div>
  </div>

  <section class="component-case">
    <div
      class="quote"
      style="
        background-image: url('../public/images/springsteen.jpg');
        background-size: cover;
        padding: 8rem 1rem 1rem;
        box-sizing: border-box;
        border-radius: var(--radius);
      "
    >
      <mm-text variant="subhead" style="color: #fff">Quote</mm-text>
      <p class="quote-body" style="color: #fff">Don't you know that God is Pooh bear?</p>
      <cite class="quote-byline">
        <div class="quote-byline-name" style="color: #fff">Jack Kerouac</div>
        <div class="quote-byline-job">Musician</div>
      </cite>
      <div style="height: 1rem"></div>
      <mm-button>더 알아보기</mm-button>
    </div>

    <mm-tile>
      <mm-tilebar heading="Ratings"></mm-tilebar>
      <div aria-label="별점 5개 만점에 3.9개를 받았습니다." style="text-align: center">
        <mm-text variant="word-weak">리뷰 116만개</mm-text>
        <mm-text variant="word-large">⭐ 4.8</mm-text>
      </div>
      <mm-separator></mm-separator>
      <div class="graph2">
        <b class="graph-label">5 Stars</b>
        <span class="graph-value">68%</span>
        <progress class="progress" value="40" max="100">40%</progress>
        <!-- <div class="graph-bar"><b style="width: 68%"></b></div> -->
      </div>
      <div class="graph2">
        <b class="graph-label">4 Stars</b>
        <span class="graph-value">24%</span>
        <progress class="progress" value="40" max="100">40%</progress>
      </div>
      <small>별 다섯개에서 점수만큼 채우는 유아이는 최근 잘 보이지 않는다. 구현이 어려움.</small>
    </mm-tile>

    <mm-tile variant="" role="listitem">
      <div style="margin-top: -0.125rem"><mm-text variant="subhead">2022년 3월</mm-text></div>
      <!-- FIXME:: tile 안에서의 subhead와 body -->
      <div style="margin-top: 0.5rem">
        <mm-text variant="body" truncated="true">
          텍스트는 최대 두 줄 무야호 따봉 북마크 장바구니 등의 액션이 있을 수 있고 내부 외부
          가이드를 만들어야해
        </mm-text>
      </div>
      <div style="height: var(--space-3)"></div>
      <mm-link>자세히 알아보기</mm-link>
      <div style="height: var(--space-3)"></div>
      <figure style="border-radius: var(--radius); height: 120px; overflow: hidden">
        <img src="/public/images/springsteen.jpg" alt="" />
      </figure>
    </mm-tile>

    <mm-tile variant="" role="listitem">
      <mm-tag slot="category" variant="primary">카테고리</mm-tag>
      <mm-button slot="action" icon="more-vert"> </mm-button>
      <figure class="media">
        <img src="/public/images/springsteen.jpg" alt="" />
      </figure>
      <div style="height: var(--space-2)"></div>
      <mm-menuitem label="수줍이" description="2년 전">
        <mm-avatar slot="avatar" size="small"></mm-avatar>
      </mm-menuitem>
      <div style="height: var(--space-2)"></div>
      <mm-text variant="body-bold">카드 유아이</mm-text>
      <mm-text variant="body">
        텍스트는 최대 두 줄 무야호 따봉 북마크 장바구니 등의 액션이 있을 수 있고 내부 외부 가이드를
        만들어야해
      </mm-text>
      <div style="height: var(--space-3)"></div>
      <mm-group variant="tag">
        <mm-tag variant="hashtag">프로젝트관리</mm-tag>
        <mm-tag variant="hashtag">프로덕트디자인</mm-tag>
        <mm-tag variant="hashtag">프론트엔드개발</mm-tag>
      </mm-group>
      <div style="height: var(--space-2)"></div>
      <mm-tag class="card-note">마일리지 적립 200P</mm-tag>
      <div style="height: var(--space-3)"></div>
      <mm-menuitem label="퓨어 오렌지 주스" description="">
        <mm-avatar slot="avatar">🍊</mm-avatar>
        <div><del>₩19,000</del> ₩16,000 <em>할인율 20%</em></div>
      </mm-menuitem>
    </mm-tile>
    <!-- TODO: menuitem이 애매한 네이밍 . avatar with bold text -->
    <mm-tile variant="flat">
      <mm-avatar style="background: aliceblue">
        <mm-icon name="graph-up"></mm-icon>
      </mm-avatar>
      <div style="height: var(--space-3)"></div>
      <b class="item-name">상해종합주가지수</b>
      <p class="item-description" style="margin: 0 0 0.5rem">2999.55p</p>
      <mm-tag variant="up">4.33% 상승</mm-tag>
      <div style="margin-top: 0.5rem; color: var(--color-text-light); line-height: 1.2">
        <small>10분 지연. live</small>
        <br />
        <small>현지 시간 기준 10.27. 01:27</small>
      </div>
    </mm-tile>

    <mm-tile>
      <q>
        I'm impressed by how GitHub Copilot seems to know exactly what I want to type next. GitHub
        Copilot is particularly helpful when working on React components, where it makes eerily
        accurate predictions. GitHub Copilot has become an indispensable part of my programmer
        toolbelt.
      </q>
      <figcaption style="margin: var(--space-3) 0 0 0; color: var(--color-text-light)">
        Byline
      </figcaption>
    </mm-tile>

    <mm-tile variant="elevated">
      <mm-menuitem>
        <mm-avatar slot="avatar" size="huge"></mm-avatar>
        <div slot="text">
          <mm-text variant="word-large">개인</mm-text>
          <mm-text variant="body">Apple One</mm-text>
          <mm-text variant="label">가족 구독</mm-text>
        </div>
      </mm-menuitem>
      <mm-separator></mm-separator>
      <mm-group alignment="vertical">
        <mm-keyvalue key="이용기간" value="23.04.09. ~ 23.05.02."> </mm-keyvalue>
        <mm-keyvalue key="이번 달 결제금액" value="4,258원"> </mm-keyvalue>
        <mm-keyvalue key="다음 결제일" value="2023. 3. 10."> </mm-keyvalue>
      </mm-group>
      <ul class="checklist" style="margin: var(--space-4) 0 0 0">
        <li>다음 청구일은 2023. 3. 10.입니다.</li>
        <li>언제든 해지 가능합니다. 혜택 약관이 적용됩니다.</li>
      </ul>
      <mm-tile size="small">
        <mm-text variant="caption">
          약정 기간이 없습니다. 갱신일 최소 하루 전까지 설정 > Apple ID에서 언제든지 취소할 수
          있습니다. 취소할 때까지 요금제가 자동 갱신됩니다.
        </mm-text>
      </mm-tile>
      <mm-separator></mm-separator>
      <mm-text variant="">계정: soojubm@gmail.com</mm-text>
    </mm-tile>

    <mm-tile>
      <mm-text variant="subhead">Senior Front-end Developer</mm-text>
      <mm-group variant="hashtag">
        <mm-tag variant="hashtag">Full-Time</mm-tag>
        <mm-tag variant="hashtag">Korea</mm-tag>
        <mm-tag variant="hashtag">Remote friendly</mm-tag>
      </mm-group>
      <div style="height: var(--space-3)"></div>
      <!-- <mm-button>View Job</mm-button> -->
      <button
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: 0.5rem;
          padding: var(--space-3) 1rem 0;
          border-top: var(--border);
        "
      >
        View Job
        <mm-icon name="arrow-right"></mm-icon>
      </button>
    </mm-tile>

    <mm-tile variant="flat" style="width: 100%; max-width: 24rem">
      <mm-tag style="position: absolute; left: -0.25rem; top: var(--space-3)">
        🔥 Most Popular
      </mm-tag>
      <div style="height: 1.75rem"></div>
      <mm-text variant="subhead">Standard</mm-text>
      <!-- <mm-text variant="body"> 대법원장은 국회의 동의를 얻어 대통령이 임명한다. </mm-text> -->
      <div style="margin: var(--space-2) 0 var(--space-3) 0">
        <mm-text variant="title">₩ 6,800</mm-text>
        <mm-text variant="word-weak">한 달에 한 번</mm-text>
      </div>
      <mm-group>
        <mm-button variant="primary" isfullwidth="true">업그레이드</mm-button>
      </mm-group>
      <!-- <div>
        <mm-text variant="subhead"><em>iCloud+</em> 50GB</mm-text>
        <span>₩1,100/월 </span>
      </div> -->
      <ul class="checklist" style="margin: 1rem 0 0 0">
        <li>스토리지 2TB</li>
        <li>Google 전문가와의 상담</li>
        <li>회원을 위한 추가 혜택</li>
      </ul>
    </mm-tile>

    <picture>
      <source
        srcset="photo-light.png"
        media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)"
      />
      <source srcset="photo-dark.png" media="(prefers-color-scheme: dark)" />
      <source type="image/svg+xml" srcset="pyramid.svg" />
      <source type="image/webp" srcset="pyramid.webp" />
      <source media="(max-width: 799px)" srcset="elva-480w-close-portrait.jpg" />
      <source media="(min-width: 800px)" srcset="elva-800w.jpg" />
      <img src="elva-800w.jpg" alt="딸 엘바를 안고 서 있는 크리스" />
    </picture>
    <img
      srcset="elva-fairy-320w.jpg 320w, elva-fairy-480w.jpg 480w, elva-fairy-640w.jpg 2x, elva-fairy-800w.jpg 800w"
      sizes="(max-width: 320px) 280px, (max-width: 480px) 440px, 800px"
      src="elva-fairy-800w.jpg"
      alt="요정 옷을 입은 엘바"
    />
  </section>
</main>
