<main class="page" role="" aria-label="site">
  <mm-page-header
    heading="Dialog"
    description="사용자의 정보나 재산의 변경 또는 삭제 확인."
  ></mm-page-header>

  <mm-component-aka items='["Alert", "Modal", "Prompt"]'></mm-component-aka>

  <mm-component-example>
    <mm-button-group>
      <mm-button data-open-dialog="alert">Alert</mm-button>
      <mm-button data-open-dialog="confirm">Confirm</mm-button>
      <mm-button data-open-dialog="cookie">Cookie</mm-button>
    </mm-button-group>

    <mm-dialog
      id="dialog-alert"
      heading="Alert Dialog"
      description="부끄러우니까 보지마요!"
    ></mm-dialog>

    <mm-dialog
      id="dialog-confirm"
      heading="페이지를 나가시겠어요?"
      description="저장되지 않은 변경 사항이 있습니다. 이 페이지에서 나가면 변경 사항이 취소됩니다."
    ></mm-dialog>

    <mm-dialog id="dialog-cookie" heading="쿠키 사용 안내">
      <mm-paragraph>
        By clicking "Accept Cookies", you agree to the storing of cookies on your device to enhance
        site navigation, analyze site usage, and assist in our marketing efforts. View our Cookie
        Policy for more information.
      </mm-paragraph>
    </mm-dialog>
  </mm-component-example>

  <mm-component-props>
    <mm-prop name="open" type="boolean"></mm-prop>
    <mm-prop name="heading" type="string"></mm-prop>
    <mm-prop name="description" type="string"></mm-prop>
    <mm-prop
      name="primaryAction"
      type="{ label: string; onClick?: () => void; disabled?: boolean }"
    ></mm-prop>
    <mm-prop
      name="secondaryAction"
      type="{ label: string; onClick?: () => void; disabled?: boolean }"
    ></mm-prop>
    <mm-prop name="slot='footer'" type="actions"></mm-prop>
    <mm-prop name="dialog-close" type="CustomEvent" kind="event"></mm-prop>
  </mm-component-props>

  <mm-component-guide>
    <mm-component-feature-list>
      <mm-feature
        heading="Feedback"
        subtitle=""
        description="다이얼로그를 닫기 전에는 이전 콘텐츠로 포커스 불가능. 다이얼로그를 닫은 후 열기 버튼으로 포커스 복귀. 레이어를 2개 이상 쌓지 마세요."
      ></mm-feature>
      <mm-feature
        heading="Interactive - action"
        subtitle=""
        description="프라이머리 버튼의 레이블은 다이얼로그 제목의 동사와 페어링되어야 한다. 부정어로 묻지 말 것."
      ></mm-feature>
      <mm-feature
        heading="Dismissible"
        description="닫기 버튼과 ESC로 사용자가 언제든 흐름을 중단하고 빠져나갈 수 있어야 합니다."
      ></mm-feature>
    </mm-component-feature-list>
  </mm-component-guide>
</main>
