<main class="page">
  <mm-pageheader
    title="SearchField / Searching pattern"
    description="검색 필드. 검색 패턴 공부."
  ></mm-pageheader>

  <section class="component-example">
    <div style="max-width: 400px; position: relative">
      <mm-searchfield placeholder="궁금한 인물이나 이슈가 있나요?"></mm-searchfield>
    </div>
  </section>
  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <dt>name</dt>
      <dd>string</dd>
      <dt>label</dt>
      <dd>string</dd>
      <dd>aria-label / aria-invalid</dd>
      <dt>value</dt>
      <dd>string</dd>
      <dt>placeholder</dt>
      <dd>string</dd>
      <dt>isAutoFocus<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>onChange<attr>?</attr></dt>
      <dd>(event: React.ChangeEvent&lt;HTMLInputElement&gt;) => void</dd>
      <dt>onKeyDown<attr>?</attr></dt>
      <dd>(event: KeyboardEvent&lt;HTMLInputElement&gt;) => void</dd>
      <dt>onFocus<attr>?</attr></dt>
      <dd>(event: React.FocusEvent&lt;HTMLInputElement&gt;) => void</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text>
        검색 인지 (또는 탐색 중 검색) -> 검색어 입력 대기 -> 검색어 입력 중(검색 결과) -> 검색 요청
        -> 검색 결과
      </mm-text>
      <mm-text variant="label-strong">검색 기표</mm-text>
      <mm-text-list
        texts='[
        "키워드 입력으로 즉시 검색. 추천, 자동완성.",
        "해시태그 또는 카테고리 목록으로 제안된 인기/추천 키워드로 검색",
        "searchfield를 클릭하여 검색 뷰로 이동"
      ]'
      ></mm-text-list>
      <mm-text variant="label-strong">Checklist</mm-text>
      <mm-text-list
        texts='[
          "검색의 범위. 글로벌, 로컬",
          "모바일 키보드의 높이를 고려한 쿼리의 적정 갯수",
          "결과 페이지의 공유",
          "검색 데이터의 수집",
          "최근 검색 내역 삭제. 검색 히스토리, 비회원 검색 데이터",
          "전체 검색 내역과 최근 검색 내역. 활동 로그. (facebook. 나만 보기)",
          "조회수(틱톡)/이카테고리에글쓰기(미디엄)/카테고리팔로우(개인화)",
          "tabIndex: back -> input"
        ]'
      ></mm-text-list>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">제안Suggestions</mm-text>
      <mm-text-list
        texts='[
          "자동완성",
          "추천 및 인기 또는 개인화 큐레이션",
          "이전 검색 내역. 개별 내역의 삭제. 휘발성이 높은 정보라 편집 모듈 없이 우측 삭제 버튼으로 개별 삭제를 제공한다. 전체 내역의 삭제. 사용자 편의와 리스크가 공존. 검색 내역의 삭제가 개인화 콘텐츠에 영향을 주는가?"
        ]'
      ></mm-text-list>
      <mm-text variant="label-strong"> onFocus - keyword.length === 0. 대기 </mm-text>
      <mm-text variant="label-strong"> 키워드를 입력할 때 마다 검색 실행 onChange event </mm-text>
      <mm-text-list
        texts='[
          "검색어 자동 완성을 사용하지 않는다.",
          "결과 없음 상태를 사용하지 않는다. 일치하는 결과가 없더라도 유사 콘텐츠 또는 추천 콘텐츠로 대체하여 <mark>하나 이상의 결과를 항상 보여주어야 합니다.</mark> 큐레이션이 강화된 콘텐츠 플랫폼에서 이탈 방지를 위해 활용할 수 있지만 사용자는 명확한 결과를 기대하기 어렵습니다."
        ]'
      ></mm-text-list>
      <mm-text variant="label-strong">
        키워드 입력 후 검색 실행. 검색 버튼 클릭 또는 enter key : onSubmit event
      </mm-text>
      <mm-text-list
        texts='[
          "일치하는 결과만 표시하고 새로운 검색을 유도.",
          "하나 또는 하나 이상의 명확한 결과를 요구하는 경우 사용한다. 체류시간을 확보해야 하는 콘텐츠 플랫폼에는 적합하지 않다. 상대적으로 개발 리소스가 적게 들기 때문에 MVP 단계에서 유용하다.",
          "자동완성? 자동완성이 아니라 입력한 결과물 노출하는 것. 이것 또는 바로가기를 최상단에 노출해줄 수 있다."
        ]'
      ></mm-text-list>
      <table hidden>
        <thead>
          <tr>
            <th style="width: 10rem">-</th>
            <th>키워드를 입력할 때 마다 검색</th>
            <th>검색 버튼 클릭 또는 enter key 검색</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>결과없음 상태</th>
            <td>x</td>
            <td>o</td>
          </tr>
          <tr>
            <th>검색어 자동완성</th>
            <td>x</td>
            <td>o</td>
          </tr>
        </tbody>
      </table>
    </mm-text-group>

    <mm-tile>
      <div style="max-width: 400px; position: relative">
        <mm-searchfield placeholder="궁금한 인물이나 이슈가 있나요?"></mm-searchfield>

        <mm-group
          alignment="bleeding-vertical"
          class="suggestions"
          style="
            width: calc(100vw - var(--grid-margin) - var(--grid-margin));
            padding-inline: var(--grid-margin);
            margin: -1.25rem calc(var(--grid-margin) * -1) 0;
          "
        >
          <mm-button>아파트열쇠를빌려드립니다</mm-button>
          <mm-button>로얄테넌바움</mm-button>
          <mm-button>소매치기</mm-button>
          <mm-button>이탈리아여행</mm-button>
        </mm-group>

        <div style="height: var(--space-3)"></div>
        <mm-group variant="menuitem" class="search-suggestion">
          <mm-tile variant="elevated" size="small">
            <mm-menuitem label="자동완(으)로 검색">
              <mm-avatar slot="avatar" icon="search"> </mm-avatar>
            </mm-menuitem>
          </mm-tile>
          <mm-menuitem label="자동완성">
            <mm-avatar slot="avatar" icon="search"></mm-avatar>
          </mm-menuitem>
          <mm-menuitem label="자동완성유아이">
            <mm-avatar slot="avatar" icon="search"></mm-avatar>
          </mm-menuitem>
        </mm-group>

        <div style="margin: 1.25rem 0 0 0">
          <mm-separator></mm-separator>
        </div>

        <mm-group alignment="vertical">
          <mm-text variant="label">최근 검색</mm-text>
          <mm-menuitem label="고슴이">
            <mm-avatar slot="avatar" style="background: beige">🦔</mm-avatar>
            <mm-clear-button slot="action" aria-label="고슴이 검색 내역 삭제"></mm-clear-button>
          </mm-menuitem>
          <mm-menuitem label="개구리">
            <mm-avatar slot="avatar" style="background: var(--green100)">🐸</mm-avatar>
            <mm-clear-button
              slot="action"
              icon="xmark"
              aria-label="개구리 검색 내역 삭제"
            ></mm-clear-button>
          </mm-menuitem>
        </mm-group>
        <div style="height: var(--space-3)"></div>
        <mm-group alignment="vertical">
          <div style="display: flex; align-items: center; gap: 0.5rem">
            <mm-text variant="label">People</mm-text>
          </div>
          <mm-menuitem label="수줍이" time="Yesterday">
            <mm-avatar slot="avatar" default="true"></mm-avatar>
          </mm-menuitem>
          <mm-menuitem label="W. G. 제발트" time="April 4, 2022">
            <mm-avatar slot="avatar" default="true"></mm-avatar>
          </mm-menuitem>
        </mm-group>

        <div style="height: var(--space-3)"></div>

        <mm-group alignment="vertical">
          <mm-text variant="label">Channels</mm-text>
          <mm-menuitem label="Design Thinking" description="12 Members">
            <mm-avatar slot="avatar">#</mm-avatar>
          </mm-menuitem>
          <mm-menuitem label="Frontend Group" description="24 Members">
            <mm-avatar slot="avatar">#</mm-avatar>
          </mm-menuitem>
        </mm-group>

        <br />
        <mm-tile>
          <mm-result title="'[키워드]와(과) 일치하는 내용이 없습니다.">
            <mm-group alignment="center">
              <mm-button>🦔 검색어 제공 </mm-button>
              <mm-button>🐈‍ 애옹</mm-button>
            </mm-group>
          </mm-result>
        </mm-tile>
      </div>
    </mm-tile>
    <style>
      .ios .searchfield-input:focus {
        width: 90%;
      }
    </style>
    <mm-text variant="label-strong">iOS 패턴</mm-text>
    <form class="searchfield ios" style="max-width: var(--width-medium)">
      <label class="searchfield-prefix">
        <mm-icon name="search"></mm-icon>
      </label>
      <input class="searchfield-input" type="search" placeholder="iOS pattern" />
      <mm-clear-button aria-label="clear keyword">
        <mm-icon slot="icon" name="xmark"></mm-icon>
      </mm-clear-button>
      <button class="searchfield-cancel" aria-label="clear keyword">
        <span class="material-symbols-outlined">취소</span>
      </button>
    </form>
    <mm-tile>
      <form class="searchfield" style="max-width: var(--width-medium)">
        <div style="position: absolute; left: 0">
          <mm-icon-button icon="arrow-left" class="searchfield-prefix"> </mm-icon-button>
        </div>
        <input
          class="searchfield-input"
          type="search"
          placeholder="Android pattern"
          style="padding-left: 3rem"
        />
        <div style="position: absolute; right: var(--space-3); top: var(--space-3); z-index: 1">
          <mm-clear-button> </mm-clear-button>
        </div>
      </form>
    </mm-tile>

    <address class="component-references">
      <a href="https://developer.apple.com/documentation/uikit/uisearchbar" target="_blank"
        >Apple Developer - searchbar</a
      >
      <a href="https://material.io/design/navigation/search.html">MD search</a>
      <a href="https://developer.android.com/reference/android/widget/SearchView">
        android searchview
      </a>
    </address>
  </section>
</main>
