/* .separator {
  margin:var(--space-3) 0;
  border: 0;
  border-top: var(--border);
  position:relative;
} */


.separator {width:100%;height:1px;margin:var(--space-4) 0;text-align:center;position:relative;z-index:var(--zindex-default);}
.separator:before {content:'';display:block;width:100%;height:1px;background:var(--color-border);position:absolute;top:50%;transform:translateY(-1px);}
/* .separator:after {content:'또는';width:4rem;line-height:24px;background:var(--color-background);font-size:var(--font-size-small);color:var(--color-text-light);position:absolute;left:50%;top:0;transform:translateX(-50%);} */
.separator:after {content:'';width:4rem;line-height:24px;background:var(--color-background);font-size:var(--font-size-small);color:var(--color-text-light);position:absolute;left:50%;top:0;transform:translateX(-50%);}

hr[role=separator] {}