.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: var(--space-3) var(--layout-padding-inline);
  box-sizing: border-box;
  background: var(--material-chrome-background, var(--color-background));
  backdrop-filter: var(--material-chrome-backdrop-filter, none);

  position: fixed;
  top: 0;
  z-index: calc(var(--material-zindex-chrome) + 1);
}

.navbar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 12px;
  inset-inline: 0;
  inset-block-end: -12px;
  background: var(--material-chrome-edge-start, transparent);
}

.navbar-logo {
  width: var(--size-medium);
  height: var(--size-medium);
  background: url('../../images/soojubm.png') no-repeat center;
  background-size: cover;
  background-color: var(--color-background-strong);
  border-radius: var(--radius-round);
}

.navbar-backdrop {
  height: var(--navbar-height);
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  margin: 0 0 0 auto;
  position: relative;

  background: var(--control-background);
  border: var(--control-border);
  border-radius: var(--control-border-radius);
  padding: var(--control-padding);
  backdrop-filter: var(--control-backdrop-filter, none);
  box-shadow: var(--control-shadow);
  -webkit-backdrop-filter: var(--control-backdrop-filter, none);
}

.page {
  min-height: calc(100vh - var(--navbar-height));
  padding: var(--space-4) var(--layout-padding-inline) calc(var(--space-4) * 6);
  box-sizing: border-box;
  position: relative;
}

.page[data-size='fluid'] {
  max-width: 100%;
  padding: 0 0 calc(var(--space-4) * 8);
}

.page[data-size='wide'] {
  display: flex;
  justify-content: space-between;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--layout-width-sidebar);
  gap: var(--space-2);
  padding: var(--space-4) var(--space-3) calc(var(--space-4) + env(safe-area-inset-bottom))
    calc(var(--layout-padding-inline));
  background: var(--sidebar-menu-background, var(--color-background));
  box-shadow: var(--sidebar-menu-shadow, none);
  backdrop-filter: var(--sidebar-menu-backdrop-filter, none);
  -webkit-backdrop-filter: var(--sidebar-menu-backdrop-filter, none);
  scrollbar-gutter: stable;
  transition: transform var(--duration-slowly) cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(-120%);
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  overflow-y: auto;
  z-index: calc(var(--material-zindex-chrome) + 1);

  &::-webkit-scrollbar {
    width: var(--space-2);
    height: auto;
    opacity: 0;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-background);
    border-radius: var(--radius);
  }
  &::-webkit-scrollbar-button {
    display: none;
    background-color: inherit;
  }
  &::-webkit-scrollbar-corner {
    background-color: inherit;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: var(--color-background-strong);
  }
}

.sidebar-menu > div {
  display: flex;
  flex-direction: column;
}
.sidebar-menu > div .sidebar-category-trigger {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-1);
}
.sidebar-menu > div .sidebar-category-trigger + menu {
  display: none;
}
.sidebar-menu > div .sidebar-category-trigger[aria-expanded='true'] + menu {
  display: block;
}
.sidebar-menu > div .sidebar-category-trigger[aria-expanded='true'] > mm-icon {
  transform: rotate(180deg);
}

.sidebar-menu > div mm-menu-item-link {
  --menuitem-border-radius: 0 var(--radius) var(--radius) 0;
  --menuitem-padding-inline-start: calc(var(--space-4) + var(--space-2));

  display: block;
  margin: 0 0 0 var(--space-4);

  border-left: var(--border);
  position: relative;
}

.sidebar-menu > div mm-menu-item-link mm-list-row {
  margin-left: 1rem;
}

.sidebar-menu > div mm-menu-item-link:hover,
.sidebar-menu > div mm-menu-item-link[aria-current='page'] {
  border-color: var(--color-primary);
}

.is-menu-opened .sidebar-menu {
  transform: translateX(0);
  overscroll-behavior: contain;
}
.is-menu-opened .page {
  padding-left: calc(
    var(--layout-width-sidebar) + var(--layout-padding-inline) + var(--layout-padding-inline) +
      var(--space-4)
  );
}

@media (max-width: 1100px) {
  .is-menu-opened .page {
    padding-left: var(--layout-padding-inline);
  }
}
