<nav class="navbar js-navbar" role="navigation">
  <div style="display: flex; gap: var(--space-2)">
    <mm-hamburger-button aria-label="전체메뉴"></mm-hamburger-button>
    <a class="navbar-logo" href="./index.html"></a>
  </div>

  <!-- main-menu / primary-menu / global-menu / navigation-menu / top-menu -->
  <!-- <div class="navbar-menu">
    <a href="/pages/home/">Home</a>
    <a href="/pages/patterns/tokens/">Tokens</a>
    <a href="/pages/patterns/signifier/">Signifier</a>
  </div> -->
  <div class="navbar-user">
    <mm-theme-switcher></mm-theme-switcher>
    <div style="position: relative">
      <mm-icon-button
        icon="profile-circle"
        class="navbar-user-trigger js-navbar-user-trigger"
        aria-haspopup="menu"
        aria-expanded="false"
      ></mm-icon-button>
      <div class="navbar-user-menu" hidden>
        <mm-surface variant="elevated" size="medium">
          <mm-user-snippet
            name="수줍이"
            email="soojubm@gmail.com"
            phone="010 3121 7045"
            description="UI Designer"
            avatar-src="/src/images/soojubm.png"
            avatar-size="huge"
            avatar-variant="secondary"
            \
            tag-label="접속 중"
            tag-variant="primary"
          ></mm-user-snippet>
          <div style="margin: var(--space-2) 0 0">
            <mm-button>내 프로필 관리</mm-button>
          </div>
          <div style="position: absolute; right: var(--space-4); top: var(--space-4)">
            <mm-tag variant="primary" size="large">샘플 유아이</mm-tag>
          </div>
          <mm-separator></mm-separator>
          <mm-menu-item-group>
            <mm-menu-item-row icon="megaphone" label="고객센터 및 도움말"></mm-menu-item-row>
          </mm-menu-item-group>
          <mm-separator></mm-separator>
          <mm-menu-item-row icon="log-out" label="로그아웃"></mm-menu-item-row>
          <mm-separator></mm-separator>
          <mm-group style="margin-top: -0.25rem">
            <mm-link variant="secondary" href="#">개인정보처리방침</mm-link>
            <mm-link variant="secondary" href="#">서비스 약관</mm-link>
          </mm-group>
        </mm-surface>
      </div>
    </div>
  </div>
</nav>
<div class="navbar-backdrop"></div>

<mm-sidebar></mm-sidebar>
