.navbar {
  display: flex;
  align-items: center;
  width: 100%;

  /* max-width: var(--layout-width-wide);
  margin: 0 auto;
  padding:var(--space-3) 0; */

  height: var(--navbar-height);
  padding: var(--space-3) var(--layout-padding-inline);
  box-sizing: border-box;
  background: var(--color-background);
  /* position:sticky; */
  position: fixed;
  top: 0;
  z-index: calc(var(--zindex-fixed-bottom) + 1);
}
/* sticy 위로 스크롤 하면 */
.navbar-logo {
  width: var(--size-medium);
  height: var(--size-medium);
  background: url('../../images/soojubm.png') no-repeat center;
  background-size: cover;
  background-color: var(--color-background-strong);
  border-radius: var(--radius-round);
}

.navbar-backdrop {
  height: var(--navbar-height);
}

.js-search-sheet {
  --sheet-z-index: calc(var(--zindex-fixed-bottom) + 2);
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  margin: 0 0 0 auto;
  position: relative;
}

.navbar-user-menu {
  position: relative;
}

.navbar-profile-action {
  margin: var(--space-2) 0 0;
}

.navbar-profile-tag {
  position: absolute;
  right: var(--space-4);
  top: var(--space-4);
}

/* PAGE COMPONENT */
/* page 패딩, article에 패딩. 마이너스 마진. page size="" */
/* ReactNative safeAreaView, scrollView */

.page {
  /* width: calc(var(--layout-width-wide) - var(--layout-width-sidebar) - var(--layout-padding-inline)); */
  /* margin: 0 auto; */

  min-height: calc(100vh - var(--navbar-height) - var(--width-small));
  padding: var(--space-4) var(--layout-padding-inline) calc(var(--space-4) * 6);
  /* padding: var(--space-4) 0 calc(var(--space-4) * 6); */
  /* padding-left: calc(var(--layout-width-sidebar) + var(--layout-padding-inline)); */
  position: relative;
}

/* fluid or with sidemenu */
.page[data-size='fluid'] {
  max-width: 100%;
  padding: 0 0 calc(var(--space-4) * 8);
}

/* 2. navbar with sidebar fluid layout */
.page[data-size='wide'] {
  display: flex;
  justify-content: space-between;
}
.page[data-size='narrow'] {
}

/* height를 명시적으로 지정하지 않으면, unpositioning 시 문제 */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--navbar-height) - var(--space-4) - var(--space-4));
  max-width: var(--layout-width-sidebar);
  gap: var(--space-2);
  padding: var(--space-4) var(--space-3) var(--space-4) calc(var(--layout-padding-inline));
  /* 스크롤 ㄷ할 때 navbar와 충돌 */
  background: var(--color-background);
  scrollbar-gutter: stable;
  transition: transform var(--duration-slowly) cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(-120%);
  position: fixed;
  /* left: 50%;
  width: var(--layout-width-sidebar);
  height: 100%; */

  overflow-y: auto;

  /* 1200px 전체 중앙 정렬 안에서 왼쪽에 붙이기 */
  /* transform: translateX(calc(-1 * var(--layout-width-wide) / 2)); */
  z-index: calc(var(--zindex-fixed-bottom) + 1);

  &::-webkit-scrollbar {
    width: var(--space-2);
    height: auto;
    padding: var(--space-05);
    opacity: 0;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &::-webkit-scrollbar-thumb {
    margin: var(--space-05);
    background: var(--color-background);
    border-radius: var(--radius);
  }
  &::-webkit-scrollbar-button {
    display: none;
    background-color: inherit;
  }
  &::-webkit-scrollbar-corner {
    background-color: inherit;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: var(--color-background-strong);
  }
}

/* .sidebar-menu > a {
  display:flex;
  align-items:center;
  height: var(--size-medium);
  gap: var(--space-4);
  border-left: var(--border);
  color:var(--color-foreground);
  text-transform: capitalize;
  position: relative;
} */

.sidebar-menu > div {
  display: flex;
  flex-direction: column;
}
.sidebar-menu > div .sidebar-category-trigger {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-1);
}
.sidebar-menu > div .sidebar-category-trigger + menu {
  display: none;
}
.sidebar-menu > div .sidebar-category-trigger[aria-expanded='true'] + menu {
  display: block;
}
.sidebar-menu > div .sidebar-category-trigger[aria-expanded='true'] > mm-icon {
  transform: rotate(180deg);
}
.sidebar-menu > div mm-menu-item-link {
  --menuitem-radius: 0 var(--radius) var(--radius) 0;
  --menuitem-padding-inline-start: calc(var(--space-4) + var(--space-2));

  display: flex;
  align-items: center;
  height: var(--size-medium);
  margin: 0 0 0 var(--space-4);
  border-left: var(--border);
  color: var(--color-foreground);
  text-transform: capitalize;
  position: relative;
}

.sidebar-menu > div mm-menu-item-link:hover,
.sidebar-menu > div mm-menu-item-link[aria-current='page'] {
  border-color: var(--color-primary);
  cursor: pointer;
}

.navbar-user-panel {
  width: 100%;
  min-width: calc(var(--width-small) + var(--space-4) * 7.5);
  max-width: calc(var(--width-small) + var(--space-4) * 7.5);
  position: absolute;
  right: 0;
  top: calc(var(--space-4) * 2.5);
  z-index: calc(var(--zindex-fixed-bottom) + 1);
}

.is-menu-opened .sidebar-menu {
  transform: translateX(0);
  overflow-y: auto;
  overscroll-behavior: contain;
}
.is-menu-opened .page {
  padding-left: calc(
    var(--layout-width-sidebar) + var(--layout-padding-inline) + var(--layout-padding-inline) +
      var(--space-4)
  );
  /* transform: translateX(calc(var(--layout-padding-inline) + var(--layout-width-sidebar))); */
}

/* --small */
@media (max-width: 1100px) {
  .is-menu-opened .page {
    padding-left: var(--layout-padding-inline);
  }
}
