<nav class="navbar js-navbar" role="navigation">
  <mm-icon-button
    variant="plain"
    icon="menu-scale"
    class="navbar-burger js-navbar-toggle"
    aria-label="전체메뉴"
    aria-haspopup="true"
    aria-expanded="false"
  >
  </mm-icon-button>
  <a class="navbar-logo" href="./index.html"></a>

  <!-- main-menu / primary-menu / global-menu / navigation-menu / top-menu -->
  <!-- <div class="navbar-appmenu">
    <a href="index.html"> Home </a>
    <a href="tokens.html">
      Tokens
      <mm-icon name="nav-arrow-down"></mm-icon>
    </a>
    <menu>
      <a href="tokens.html"> Tokens </a>
      <a href="signifier.html">Signifier</a>
    </menu>
    <a href="signifier.html">Signifier</a>
  </div> -->

  <div class="navbar-user">
    <button class="js-brutalmode" aria-label="change theme">brutal theme</button>

    <button class="theme-toggle js-darkmode" aria-label="change theme">
      <span class="day iconoir-sun-light"></span>
      <span class="night iconoir-half-moon"></span>
    </button>
    <div style="position: relative">
      <mm-icon-button
        icon="profile-circle"
        class="navbar-user-trigger js-toggle"
        aria-haspopup="menu"
        aria-expanded="false"
      ></mm-icon-button>
      <div hidden>
        <mm-surface variant="elevated" size="medium">
          <mm-user-snippet
            name="수줍이"
            email="soojubm@gmail.com"
            phone="010 3121 7045"
            description="UI Designer"
          >
            <mm-avatar
              slot="avatar"
              size="huge"
              variant="secondary"
              src="/src/images/soojubm.png"
            ></mm-avatar>
            <mm-tag slot="tag" variant="primary">접속 중</mm-tag>
          </mm-user-snippet>
          <div style="margin: var(--space-2) 0 0">
            <mm-button>내 프로필 관리</mm-button>
          </div>
          <div style="position: absolute; right: var(--space-4); top: var(--space-4)">
            <mm-tag variant="primary" size="large">샘플 유아이</mm-tag>
          </div>
          <mm-separator></mm-separator>
          <mm-group variant="menuitem">
            <mm-menuitem
              icon="half-moon"
              label="어둡게 보기"
              class="js-darkmode"
              aria-label="change theme"
            >
              <mm-switch slot="action"></mm-switch>
            </mm-menuitem>
            <mm-menuitem icon="megaphone" label="고객센터 및 도움말"> </mm-menuitem>
          </mm-group>
          <mm-separator></mm-separator>
          <mm-menuitem icon="log-out" label="로그아웃"> </mm-menuitem>
          <mm-separator></mm-separator>
          <mm-group style="margin-top: -0.25rem">
            <mm-link variant="secondary" href="#">개인정보처리방침</mm-link>
            <mm-link variant="secondary" href="#">서비스 약관</mm-link>
          </mm-group>
        </mm-surface>
      </div>
    </div>
  </div>
</nav>
<div class="navbar-backdrop"></div>

<mm-sidebar></mm-sidebar>
