body,dl,dd,figure,blockquote,h1,h2,h3,h4,h5,h6,p,input[type=radio],input[type=checkbox] {margin:0;}
ul,ol,menu,fieldset,legend {margin:0;padding:0;}
fieldset,iframe,img,hr {border:none}
main,picture {display:block;}
iframe,img,video {width:100%;display:block;}
strong,b,th,legend {font-weight:var(--font-weight-bold);}
cite,i,address,em,dfn {font-style:normal;}
em {color:var(--color-primary);}
small {font-size:var(--font-size-small);}
abbr,ins {text-decoration:none;}
/* del {color:var(--color-text-light);} */
a {text-decoration:none;
  /* text-decoration-skip-ink:auto;color:var(--color-primary); */
}
a:link,a:visited {} a:hover,a:focus {} a:active {}

code {display:block;background:var(--color-background-weak);border-radius:var(--radius);font-family:var(--font-family-code);font-size:var(--font-size-small);letter-spacing:.0125rem;}
svg {color:var(--gray800);}
p, li, dt, dd {line-height:var(--font-line-height-large);}

/* // for appearance on safari */
select {-webkit-appearance:none;background:none;border:none;font:inherit;color:var(--color-text);}
select:focus-visible {outline:none;}
select::-ms-expand {display:none;}

textarea {border:0 none;font-family:inherit;}

button {
  padding:0;border:none;background:none;text-align:left;font:inherit;color:inherit;cursor:pointer;
  /* > * {pointer-events:none;} // for 이벤트 캡쳐} */
}

html {min-width:320px;height:100%;overflow-x:hidden;font-size:16px;line-height:var(--font-line-height);font-family: var(--font-family);-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;overscroll-behavior:contain;}
body {background:var(--color-background);color:var(--color-text);font-size:.875rem;}

blockquote {
  margin:2rem 0;padding:var(--space-4);background:var(--color-background-weak);border-left:4px solid var(--gray200);border-radius:var(--radius) 0 0 0;
}
q {position:relative;}
q:before {
  content: "“";
  display: block;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
}

table {
  width:100%;
  border-collapse:collapse;
  border-spacing:0;
  border-left-style:hidden;
  border-right-style:hidden;
  font-size: inherit;
  --table-lineheight: 1.6;
}
table caption {padding:.5rem 0;font-size:var(--font-size-small);text-align:left;}
table thead {}
table thead tr {}
table thead tr th {padding:var(--space-2) 0;line-height:var(--table-lineheight);color:var(--color-text-light);text-align:left;}
table tbody {}
table tbody tr {border:var(--border);line-height:var(--table-lineheight);position:relative;}
table tbody tr th {width:6rem;padding:var(--space-3) 0;text-align:left;color:var(--color-text-light);vertical-align:baseline;}
table tbody tr td {padding:var(--space-3) 0;}
table tbody tr:hover {}
table .right {text-align:right;}
table tbody[role=rowgroup] tr th {width:25%;}
table tbody[role=rowgroup] tr th + th {width:auto;}

/*
// th,
// td {
//   padding: 10px;
// }
// th[scope='col'] {
//   background: #ccc;
// }
// tr:nth-child(even) {}
// tr:nth-child(odd) {}
*/

ul {padding-left:var(--space-4);}
ul li {line-height:var(--font-line-height);}
ul li::marker {font-size:var(--font-size-small);}
ul li + li {margin:var(--space-2) 0 0 0;}

ol {padding-left:var(--space-4)}

dl {display:flex !important;flex-wrap:wrap;}
dl dt {margin:0 var(--space-2) 0 0;color:var(--color-text-light);}
dl dt attr {}
dl dd {margin:0 var(--space-4) 0 0;}

::selection {background:var(--gray800);color:var(--gray0);}
::placeholder {color:var(--color-text-light);}

/* // writing-mode: horizontal-tb / vertical-rl / vertical-lr;

// ::-webkit-scrollbar {width:auto;height:auto;}
// ::-webkit-scrollbar-track {background:inherit;}
// ::-webkit-scrollbar-thumb {background:inherit;}
// ::-webkit-scrollbar-button {display:none;background-color:inherit;}
// ::-webkit-scrollbar-corner {background-color:inherit;} 
// [aria-live="polite | assertive | off"] {}  */
/* [aria-haspopup=true] {} // dialog . menu, grid, listbox, tree
[aria-pressed=true] {} // 음소거 등
[aria-modal=true] {}
[aria-label=close] {} */


/* @custom-selector :--heading h1, h2, h3, h4, h5, h6; */
/* float-clear-logical-values */
/* span:first-child {
  float: inline-start;
} */
/* a:has(> img) {
  display: block;
} */


@media print {
  /* For links in content, visually display the link */ 
  a::after { 
    content: "(" attr(href) ")";
  }
}

/*
// duplicated
// thin solid
// all: unset
// ol,ul,menu {list-style:none}
// h1,h2,h3,h4,h5,h6 {font-weight:var(--font-weight-bold);color:var(--color-text);word-break:keep-all;}
img {vertical-align:middle;}
u {text-decoration:none;position:relative;}
u:after {content:'';height:.4em;border-radius:2px;background:var(--green100);position:absolute;left:-.125rem;right:-.125rem;bottom:0;z-index:-1;}
mark {color:inherit;} mark::before {content: " [강조 시작] ";opacity:0;position:absolute;} mark::after {content: " [강조 끝] ";opacity:0;position:absolute;}
// [hidden] {display:none !important;}

// ol li {margin:var(--space-1) 0;padding:0 0 0 1rem;position:relative;counter-increment:listitem;}
// ol li:before {content: counter(listitem) '.';position:absolute;left:0;}
// ol li ol {margin:0 0 .5rem 0;}
// ol li ol li {counter-increment:sub-list-item;}
// ol li ol li:before {content: counter(sub-list-item,lower-alpha) '.';}
*/



.marquee {
  display: flex;
}
.marquee p {
  /* // width: 50%; */
  /* gap or margin쓰면 안 됨. */
  padding: 1rem;
  font-size: var(--font-size-medium);
  white-space: nowrap;
  animation: marquee 4s linear infinite;
  animation-play-state: running;
}
.marquee p:hover {
  transform: scale(1.2);
  opacity: .5;
  cursor: pointer;
}
.marquee:hover p {
  animation-play-state: paused;
}

/* // ! width inherit ::::: for button element
// 비효율 position:relative;z-index:1; */
.dropdown {position:relative;}
.dropdown-trigger {}
/* .dropdown-menu {@mixin tile-elevated;min-width:var(--width-tiny);position:absolute;transform:scale(0);transform-origin:left top;} */
.dropdown-menu-title {}
.dropdown-menu-item {display:block;margin:0 -.25rem;padding:0 .25rem;line-height:var(--size-medium);color:var(--color-text);position:relative;z-index:var(--zindex-default);}
.dropdown-menu-item:hover {border-radius:var(--radius);background:var(--color-background-weak);}
/* // 드롭다운이 항상 칩은 아니다. */
.is-active + .dropdown-menu {transform:scale(1);top:calc(var(--size-medium));z-index:var(--zindex-popover);}

.story {width:var(--size-huge);height:var(--size-huge);text-align:center;position:relative;}
/* .story:hover {@mixin hover-item;} */
.story figure {font-size:24px;}
.story-name {display:block;width:var(--size-huge);margin:var(--space-2) 0 0 0;color:var(--color-text);@mixin truncate;}

.story[aria-selected='true'] figure {
  border: 2px solid var(--green800);
  background-color: var(--green100);
}
.story[aria-selected='true'] span {
  color: var(--color-primary);
}


.lock-scroll {width:100%;position:fixed;overflow-y:scroll;overflow:hidden;margin-right:17px;}
.lock-scroll {
  /* // height: 100vh; */
  overflow-y: hidden;
  padding-right: 17px;
}

/* // todo 닫을 때 popState 되기 때문에 스크롤이 최상단으로 가 버림... */
.is-modal-visible {
  width:100%;position:fixed;overflow-y:scroll;overflow:hidden;margin-right:17px;
}

/* .modal-outer.open {
  opacity: 1;
  pointer-events: all;
} */
.modal {@mixin overay;
  overflow:auto;
  background:rgba(0,0,0,.6);
  position:fixed;left:0;top:0;right:0;bottom:0;
  z-index:var(--zindex-modal);
} /* pointer-events:none */
.modal-overay {display:none;@mixin overay;}
.modal-dialog {
  @mixin modal-dialog;
  max-width: 800px;
  margin:5% auto;
  padding:4rem var(--grid-margin);
  background:var(--color-background);
  border-radius:var(--radius);
  box-shadow:var(--shadow);
  animation:modal .2s forwards;
  position:relative;
}
.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding:var(--space-2) 0;background:var(--color-background);position:sticky;top:0;}
.modal-close {}
.modal-head-title {margin:0 0 var(--space-after-title) 0;@mixin text-title;}

.modal-body {}
.modal-body-subhead {margin:var(--space-4) 0;font-size:var(--font-size-medium);}
.modal-body-description {max-width:560px;margin:var(--space-after-subhead) 0 var(--space-after-description);}
.modal-body-paragraph {margin:var(--space-after-subhead) 0 var(--space-after-description);}
.modal-body-image {}
.modal-body-image img {display:block;}
.modal-body-image img + img {margin:var(--space-4) 0 0 0;}
.modal-foot {padding:var(--space-4) 0;text-align:right;}

@media (--small) {
  .modal-dialog {padding-top:2rem;}
}

@keyframes modal {
  from {opacity:0;transform:scale(1.05);}
  to {opacity:1;transform:scale(1);}
}

.is-active .modal {display:block;}

/* TODO golobal */
[role=tabpanel][aria-hidden=false] {display:flex;}
[role=tabpanel][aria-hidden=true] {display:none;}


.pricing-item-price-unit {}
.pricing-item-price-per {display: block;margin-bottom:-.125rem;font-size:var(--font-size-medium);font-weight:var(--font-weight-normal);color: var(--color-text-light);}


/* textfield 중복 / for select */
.textfield {
  max-width: 400px;
  position:relative;

  --textfield-height: var(--size-large);
  --textfield-background-color: 0;
  --textfield-border: var(--border);
  --textfield-radius: var(--radius);
  --textfield-text-color: 0;
}
.textfield-label {display:block;line-height:var(--size-small);}
.textfield-label small {margin:0 0 0 var(--space-1);color:var(--color-text-light);}
.textfield-input {
  display:block;
  width:100%;
  height:var(--textfield-height);
  padding:var(--space-2) var(--space-4);
  border-radius:var(--radius);
  background:var(--color-background-weak);
  color: var(--color-text);
}
.textfield-input:focus {box-shadow:var(--status-hover);}
.textfield-input:read-only {color:var(--color-text-light);cursor:default;}
.textfield-input:disabled {opacity:.5;cursor:not-allowed;}
.textfield-helper {margin:var(--space-1) 0 0;color:var(--red800);}


.textfield-suffix, 
::slotted([slot=icon]) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-large);
  height: var(--textfield-height);
  /* color:var(--color-primary); */
  position:absolute;top:var(--size-small);right:0;
}

.textfield-prefix,
::slotted([slot=leading]) {
  display: flex;
  align-items: center;
  height: var(--textfield-height);
  position:absolute;top:var(--size-small);left:var(--space-4);
}


/* common */
.offline {
  display: none;
  max-width: 400px;
  margin: 0 auto;
  padding: .5rem 1rem;
  border-radius: var(--radius);
  background: var(--red800);
  text-align: center;
  position: fixed;
  left: 10%;
  right: 10%;
  top: 45%;
  z-index: var(--zindex-modal);
}

.skip {position:fixed;left:0;right:0;top:0;z-index:var(--zindex-toast);}
.skip-link {display:block;background:rgba(0,0,0,1);color:rgba(255,255,255,.8);text-align:center;height:0;font-size:0;}
.skip-link:focus {display:block;height:50px;line-height:50px;font-size:14px;}


/* // box-shadow:inset 0 1px 2px #F3F6F9,0 1px 0.5px rgba(229, 234, 242, 0.6); */
.theme-toggle {width:var(--size-medium);height:var(--size-medium);background:var(--color-background-weak);border-radius:var(--radius);overflow:hidden;position:relative;}
.day {display:flex;align-items:center;justify-content:center;width:100%;height:100%;position:absolute;top:0;transition:top .2s ease .3s;}
.night {display:flex;align-items:center;justify-content:center;width:100%;height:100%;position:absolute;top:var(--size-medium);transition:top .2s ease 0s;}
.theme-dark .day {top:var(--size-medium);transition-delay:0s;}
.theme-dark .night {top:0;transition-delay:.3s;}




/* TODO temp */
.tile {
  display: block;
  padding: var(--space-4);
  border: var(--border);
  border-radius: var(--radius);
  box-sizing: border-box;
  background: var(--color-background);
  position: relative;
  /* // 임시 */
  /* margin: var(--space-3) 0; */
}



/* // hover-item */
.is-hoverable {
  box-shadow: 0 0 0 2px var(--color-background-weak); background: var(--color-background-weak); border-radius:
        4px;
}
/* .is-hoverable {
  position: relative;
  z-index: 1;
  --hover-outline: calc(var(--space-2) / 2 * -1);
  cursor: pointer;
}
.is-hoverable::before {
  content:'';
  display:block;
  background-color:var(--color-background-weak);
  border-radius:var(--radius);
  position:absolute;
  left:var(--hover-outline);
  right:var(--hover-outline);
  top:var(--hover-outline);
  bottom:var(--hover-outline);
  z-index: -1;
} */


.animation-chatting {display:flex;gap:var(--space-1);}
.animation-chatting span {
	display:block;
	width: 4px;
	height:4px;
	border-radius: 50%;
	background: #fff;
  animation: chatting .6s 0s ease infinite;
}
.animation-chatting span:nth-of-type(1) {}
.animation-chatting span:nth-of-type(2) {animation-delay:var(--animation-delay-first);}
.animation-chatting span:nth-of-type(3) {animation-delay:var(--animation-delay-second);}
@keyframes chatting {
  0% {transform:translateY(0)}
  50% {transform:translateY(.125rem)}
  100% {transform:translateY(0)}
}






/* // 검색필드는 레이블이 없다. label ~로 하면 되긴 함. */
.searchfield {position:relative;}
.searchfield-input {
  width: 100%;
  height:var(--size-large);
  padding:var(--space-2) var(--size-large);
  border: 0;
  border-radius: var(--radius);
  background: var(--color-background-weak);
  overflow: hidden;

  transition: all .2s ease;
  position: relative;
  z-index: 1;
}
.ios .searchfield-input:focus {
  width: 90%;
}
.searchfield-input:focus ~ .searchfield-cancel {right: 0;}
.searchfield-prefix {
  display:flex;align-items:center;justify-content:center;width:var(--size-large);height:var(--size-large);
  /* height:46px; */
  position:absolute;left:0;top:0;z-index:2;}
.searchfield-prefix ~ .searchfield-input {padding-left:calc(var(--size-medium) + var(--space-after-avatar-medium) + .5rem);}
.searchfield-clear {width:var(--size-large);height:var(--size-large);position:absolute;right:0;top:0;display:none;}
.searchfield-cancel {right:calc(var(--size-medium) + var(--space-after-avatar-medium) + var(--space-3));height:var(--size-large);position:absolute;right:var(--size-large);top:0;transition:all .2s ease;}

/* // android pattern */
.is-focused .searchfield-input {display:block;width:calc(100% - var(--size-medium) - var(--space-after-avatar-medium));}
.is-focused .searchfield-cancel {right:0;}




.checklist {padding-left:0;}
.checklist li {list-style: none;
  margin-left:0;padding-left: 1.5rem;position: relative;}
.checklist li:before {
  /* content: '✔️'; */
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  width: 5px;
  height: 10px;
  border: 1px solid var(--color-primary);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}