
  
.font-default {font-family:sans-serif;}

.option:checked { box-shadow: 0 0 0 3px lime; color: red; }

.full-width {
	width: 100vw;
	max-width: 100vw;
	margin: 0 -50vw;
	position: relative;
	left: 50%;
	right: 50%;
}

.linebreak-always {}
.linebreak-desktop {
  display:block;
  @media (--small) {display:inline;}
}
.linebreak-mobile {
  display:inline;
  @media (--small) {display:block;}
}

.visually-hidden {width:1px;height:1px;clip:rect(1px 1px 1px 1px);overflow:hidden;position:absolute;user-select:none;} // if(true) 리더기가 무시. // speak: never;
.resize-animation-stopper * {animation: none !important;transition: none !important;}
// accessibility-text(visually-hidden)


/* 
.cta-arrow {
  width:25%;
  max-width: 500px;
  padding: 17px 0;
  position: relative;
  transition: all .4s;
  .line {
    width: 100%;
    height: 2px;
    background: var(--gray800);
    position: relative;
    &:before {
      background: inherit;
      position: absolute;
      width: 17px;
      height: 2px;
      content: '';
      right: 0;
      transform: rotate(-50deg);
      transform-origin: top right;
    }
    &:after {
      background: inherit;
      position: absolute;
      width: 17px;
      height: 2px;
      content: '';
      right: 0;
      transform: rotate(50deg);
      transform-origin: bottom right;
    }
  }
} */