/*
- 모든 surface는 border transparent를 갖는 것이 좋은가.
- 모든 container는 position: relative를 갖는 것이 좋은가.
*/

@custom-media --large (max-width: 1560px);
@custom-media --small (max-width: 1080px);
@custom-media --tiny (max-width: 880px);

:root {
  color-scheme: light dark;
  /* // -apple-system === san-serif / system-ui === BlinkMacSystemFont */
  /* --font-family: 'Pretendard', system-ui, sans-serif; */
  --font-family: 'IBM Plex Sans', 'Gothic A1', system-ui, sans-serif;
  --font-family-heading: null;
  --font-family-body: null;
  --font-family-caption: null;
  --font-family-code: null;
  --font-family-monospace: 'Courier New', Courier, monospace;

  /* font-size-heading / font-size-body  */
  --font-size-huge: 2rem;
  --font-size-large: 1.125rem; 
  --font-size-medium: .875rem;
  --font-size-small: .75rem;

  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-extrabold: null;

  --font-line-height-large: 1.715;
  --font-line-height: 1.5;

  --adjust-label-line: 0px;

  --navbar-height: calc(32px + 1.5rem);
  --titlebar-height: calc(32px + 1.5rem);

  --textfield-height: var(--size-large);

  --layout-width-wide: 1280px;
  --layout-width-narrow: 400px;
  --layout-width-small: 640px;
  --layout-width-tiny: 480px;
  /*
  1. dropdown
  2. textfield/card/form
  3. layout - layout + @ (with large body)
  4. layout large
  */
  --width-sidemenu: 16rem;
  --width-medium: 25rem;
  --width-small: 200px;

  --popover-width-small: 200px;
  --popover-width-dialog: var(--width-medium);
  --popover-width-dropdown: var(--width-small);

  --grid-column: calc(50% - var(--space-1));
  --grid-gutter: null;
  --grid-margin: 5vw;
  --grid-margin-minus: calc(var(--grid-margin) * -1);

  --gray0: #fff;
  --gray100: #f5f6f5;
  /* --gray100: #fafbfa; */
  --gray150: #eff1ef;
  /* --gray100: #f2f5f2; */
  --gray200: #e4e9e7;
  
  --gray400: #979d9a;
  --gray800: #343c38;
  --gray800: #3d4943;

  --green100: rgba(10, 160, 80, 0.1);
  --green100: rgba(10, 160, 80, 0.075);
  --green800: #1b995c;
  --red100: rgba(243, 68, 97, .06);
  --red800: #f02849;
  --yellow800: gold;


  --color-white: var(--gray0);
  --color-black: #000;

  --color-primary: var(--green800);
  --color-primary-light: null;
  --color-secondary: var(--yellow800);
  --color-accent: var(--yellow800);
  --color-warning: var(--red800);
  --color-danger: var(--red800);

  --color-google: #fff;
  --color-facebook: hsl(214, 89%, 52%);
  --color-twitter: rgb(29, 161, 242);
  --color-naver: #03cf5d;
  --color-kakao: #ffdf00;
  --color-newneek: #fb7800;
  --color-newneek-gray: #ebebeb;
  --color-pinterest: #e60023;
  --color-github: #000;
  --color-instagram: #1c1e21;

  --color-temp1: cadetblue;
  --color-temp2: darkseagreen;
  --color-temp3: lightsalmon;
  --color-temp4: rosybrown;
  --color-temp1: aliceblue;
  --color-temp2: #edf8ed;
  --color-temp3: antiquewhite;
  --color-temp4: #f6edf6;

  --color-background: var(--gray0);
  --color-background-weak: var(--gray100);
  --color-background-strong: var(--gray800);
  --color-background-darkest: null;
  --color-border: var(--gray200);
  --color-border-hover: var(--gray800);
  --color-text: var(--gray800);
  /* --color-text: #1e1e23; */
  --color-text-light: var(--gray400);

  --color-background-interaction: null;
  --color-background-non-interaction: null;

  /* TODO */
  /* --color-text-weak: var(--gray0); */
  --color-text-strong: var(--gray0);

  --color-gradient-from: null;
  --color-gradient-to: null;
  --color-gradient: linear-gradient(to bottom, var(--gray100), var(--gray800));
  --color-gradient-unused: linear-gradient(to bottom, var(--gray1000), rgba(37,45,41,.75), var(--gray800));

  /* // size => square */
  --size-huge: 5rem;
  --size-large: 3rem;
  --size-medium: 2rem;
  --size-small: 1.5rem;
  --size-tiny: 1rem;

  /* squished-stretched */
  --space-05: .125rem;
  --space-1: .25rem;
  --space-2: .5rem;
  --space-3: .75rem;
  --space-4: 1rem;
  --space-8: 2rem;
  --space-1-minus: calc(var(--space-1) * -1);
  --space-2-minus: calc(var(--space-2) * -1);
  --space-3-minus: calc(var(--space-3) * -1);

  --space-after-title: 1rem;
  --space-after-subhead: var(--space-3);
  --space-after-description: 2rem;
  --space-after-button: var(--space-2);
  --space-after-textfield: var(--space-4);
  --space-after-avatar-huge: var(--space-3);
  --space-after-avatar-large: var(--space-2);
  --space-after-avatar-medium: var(--space-2);
  --space-after-avatar-small: var(--space-2);

  --space-leading-title: -.25rem;
  --space-leading-subhead: -.125rem;
  --space-leading-body: -.125rem;

  --border-width: 1px;
  --color-border: var(--gray200);
  --border: var(--border-width) solid var(--color-border);
  --border-active: 1px solid var(--color-primary);
  --border-thin: null;
  --border-thick: null;

  /* // radius-round / radius-pill */
  --radius: 6px;
  --radius-round: 50%; 
  --radius-sharp: null;
  --radius-soft: null;

  /* 여기서 2배로 하면 다른 모든 곳에서도 두 배로 가져간다. */
  /* As an element gets closer to the user, the offset should increase, the blur radius should increase, and the shadow's opacity should decrease. */
  /* You can skip some of these calculations by using our intuition. */

  --shadow-vertical-offset: 4px;
  --shadow-horizontal-offset: 2px;

  --shadow: 0 0 0.5rem rgba(0,0,0,.05);
  --shadow-tile: 0 2px 0.3125rem rgba(23,24,24,.05),0 0.0625rem 0.125rem rgba(0,0,0,.15);
  --shadow-active: null;

  --shadow: 0 0 .25rem rgb(0 0 0 / 7.5%);
  --shadow-tile: 0 0 0 1px rgb(0 0 0/5%),0 2px 2px rgb(0 0 0/4%);

  --shadow-test: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 2px 5px rgba(0, 0, 0, 0.05), 0px 8px 40px rgba(0, 0, 0, 0.04);

  /* // elevation-floating / elevation-raised-bottom / elevation-raised-top */

  --status-focus: 0 0 0 2px var(--color-border-hover);
  --status-hover: 0 0 0 2px rgba(0,0,0,.1);

  --duration: .4s;
  --duration-quickly: .2s;
  --duration-slowly: .6s;

  --bazier: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --transition-base: all 0.4s var(--bazier);
  --animation-duration: .4s;

  --animation-delay-first: .2s;
  --animation-delay-second: .4s;
  --animation-delay-third: .6s;
  --animation-timing-function-ease: null;

  --zindex-default: 1;
  --zindex-popover: 5;
  --zindex-tooltip: 2;
  --zindex-menu: 2;
  --zindex-dropdown: 2;
  --zindex-sticky: 4;
  --zindex-fixed: 4;
  --zindex-modal-overay: 8;
  --zindex-modal: 9;
  --zindex-toast: 9;
  --zindex-menu: 8;
  --zindex-bottombar: 8;
  --zindex-loader: 10;
  --zindex-sheet: 7;

  --safearea-inset-bottom1: constant(safe-area-inset-bottom);
  --safearea-inset-bottom2: env(safe-area-inset-bottom);

  /* brutal theme */
  /* --border: 1px solid var(--gray800); */
}

@media (--small) {
  :root {
    --font-size-huge: 1.5rem;
  }
}

:root [data-theme=dark] {
  /* // img {filter: invert(100%) hue-rotate(180deg);mix-blend-mode: screen;mix-blend-mode: multiply;} */
  /* // 같은 변수도 재할당이 필요하다. */
  --gray200: #252d29;

  --color-text: #d3d4d5;
  --color-text-weak: var(--gray800);
  --color-text-light: var(--gray400);
  --color-text-strong: var(--gray800);

  --color-background: rgb(31, 35, 33);
  --color-background-weak: var(--gray800);
  --color-background-strong: var(--gray0);

  --color-border: var(--gray800);
  --color-border-hover: var(--gray0);

  --border: 1px solid var(--color-border);

  --status-focus: 0 0 0 2px var(--color-border-hover);
  --status-hover: 0 0 0 2px rgba(255,255,255,.25);

  --shadow: 0px 0px 2rem rgba(0, 0, 0, 0.25);
  --shadow-tile: 0 2px 0 1px #343c38,0 1px 6px rgba(0, 0, 0, 0.4);

  --gradient: linear-gradient(to bottom, var(--gray400), var(--gray800));
}

/* // $p-breakpoints-lg-only: '(min-width: 65em) and (max-width: 89.9975em)'; */

@media (prefers-color-scheme: light) {}
@media (prefers-color-scheme: dark) {}