.post-head {
  position: relative;
}
.post-head-progress {
  display: none;
  height: 2px;
  background: var(--color-primary);
  border-radius: var(--radius);
  position: absolute;
  bottom: 0;
}

.is-sticky-post-head .post-head {
  background: var(--color-background);
  text-align: left;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: var(--zindex-menu);
}
.is-sticky-post-head .post-head-category {
  display: none;
}
.is-sticky-post-head .post-head-headline {
  padding: var(--space-4) var(--layout-padding-inline) 1rem;
  box-sizing: border-box;
  font-size: var(--font-size-18);
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.is-sticky-post-head .post-head-progress {
  display: block;
}

.post-body {
  position: relative;
} /* graident 때문에 아래요소에서 마진값주기 */

.post-body-image {
  height: 240px;
  overflow: hidden;
  margin: 0 0 2rem;
  border-radius: var(--radius-large);
  background-color: var(--color-background-strong);
}

.post-body-paragraph:first-line {
}
.post-body-paragraph:not(:nth-of-type(1))::first-letter {
  padding-left: 0;
}
.post-body-code {
  display: block;
  margin: 0 0 2rem 0;
}
.post-body pre {
  margin: 0;
  padding: 0;
}

.comment {
  position: relative;
}

.comment-write {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* // line-height 때무네 space로 간격을 주지 않고 1rem을 줌. */
.comment-write-name {
  display: none;
  margin: 0 0 1rem 0;
}
.comment-write-password {
  display: none;
  margin: 0 0 1rem 0;
}

.is-focused .comment-write-name {
  display: block;
}
.is-focused .comment-write-password {
  display: block;
}

.post-pagination {
  display: flex;
  justify-content: space-between;
  gap: var(--space-4);
  padding: 2rem var(--layout-padding-inline);
}
.post-pagination-previous {
  padding: var(--space-4);
  background-color: var(--color-background-subtle);
  border-radius: var(--radius);
  text-align: left;
  color: var(--color-foreground);
  position: relative;
}
.post-pagination-previous:hover {
  background-color: var(--color-background-subtle);
}
.post-pagination-previous-media {
  display: block;
  margin-bottom: 1rem;
}
.post-pagination-previous-label {
  margin: 0 0 0.25rem 0;
  font-size: var(--font-size-14);
  font-weight: normal;
  color: var(--color-foreground-light);
}
.post-pagination-next {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--space-4);
  background-color: var(--color-background-subtle);
  border-radius: var(--radius);

  text-align: right;
  color: var(--color-foreground);
  position: relative;
}
.post-pagination-next:hover {
  background-color: var(--color-background-subtle);
}
.post-pagination-next-media {
  display: block;
  margin-bottom: 1rem;
  margin-left: auto;
}
.post-pagination-next-label {
  margin: 0 0 0.25rem 0;
  font-size: var(--font-size-14);
  font-weight: normal;
  color: var(--color-foreground-light);
}

@media (max-width: 1100px) {
  .post-pagination {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .post-pagination-previous {
    width: 100%;
    margin-top: 0;
  }
  .post-pagination-next {
    width: 100%;
    margin: 0 0 var(--space-4) 0;
  }
}

.post-attract-blur {
  height: 20rem;
  background: linear-gradient(
    to bottom,
    transparent,
    color-mix(in srgb, var(--color-background) 75%, transparent),
    var(--color-background)
  );
  position: absolute;
  left: 0;
  right: 0;
  top: -20rem;
}
