p {margin: 0;}

/*
form:invalid button {}
fieldset:invalid ~ fieldset { display: none; }
input:valid {} input:invalid {} 
*/
/* label height 가 있으면 아이콘 포지셔닝에 좋다. */

.reset-input {
  background: transparent;
  border: 1px solid transparent;
  border-radius: var(--radius);
  box-sizing: border-box;
  font: inherit;
  color: var(--color-text);
  /* // for safari #fff. 사파리의 인풋은 기본이 검정임. 그래서 텍스트도 흰색. */
}

/* // todo 사파리에서 버튼 클릭 효과 제가
// 년도 월 일 순서로 포커싱 됨 */

textarea {}
textarea:focus {-webkit-appearance:none;}

/* // on safari */
input:focus-visible {outline:0;}
input:-internal-autofill-selected {}
input:-ms-clear {display:none;}

 /* // for inner shadow on safari */
input[type=text] {-webkit-appearance:none;}
/* // firefox decrement/increment 버튼 정렬 / 5보다 큰 값을 선택하세요 min / firefox */

/* // for inner shadow on safari, // 파이어폭스에서 토글 */
input[type=number] {-webkit-appearance:none;-moz-appearance:textfield;} 
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;-moz-appearance:none;}
/* // textfied를 오버라이드해버림
// input[type=number] {font-family:inherit;border:0;border-radius:0;color:inherit;} */

/* // for appearance on safari */
/* // 패딩으로 설정한 세로값 크롬에서 다른 텍스트 필드와 괴리. iOS displayblock */
input[type=date] {display:block;max-height:var(--size-large);-webkit-appearance:none;}
input[type=date]::-webkit-calendar-picker-indicator {width:100%;opacity:0;position:absolute;left:0;bottom:0;}
input[type=date]::-webkit-calendar-picker-indicator {width:100%;opacity:0;position:absolute;left:0;bottom:0;}
input[type=date]::-webkit-inner-spin-button {display:none;-webkit-appearance: none;}

input[type=password] {-webkit-appearance:none;letter-spacing:.5rem;}
input[type=password]::placeholder {letter-spacing:0;}

/* // for corner rounded on sarafri */
/* font-size */
input[type=search] {font-family:inherit;font-size:inherit;-webkit-appearance:none;}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {display:none;}

/* textfield 중복 / for select */
:host,
.textfield {
  /* width: 100%; */
  position:relative;

  --textfield-padding: null;
  --textfield-color-border: null; 
  --textfield-color-border-hover: null; 

  --textfield-color-background: null;
  --textfield-background-color: null;
  --textfield-border-width: null; 

  --textfield-height: var(--size-large);
  --textfield-background-color: var(--color-background-weak);
  --textfield-border: var(--border);
  --textfield-radius: var(--radius);
  --textfield-text-color: 0;
  /* TODO icon -> addon */
  --textfield-icon-position: var(--size-small);
  --textfield-placeholder-color: null;
}
.textfield-label {
  display:block;
  line-height:var(--size-small);
}
.textfield-label small {
  margin:0 0 0 var(--space-1);
  color:var(--color-text-light);
}
.textfield-input {
  display:block;
  width:100%;
  height:var(--textfield-height);
  padding:var(--space-2) var(--space-4);
  box-sizing: border-box;
  border-radius:var(--textfield-radius);
  background: var(--textfield-background-color);
  color: var(--color-text);

  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px; */
}
.textfield-input:hover {border-color:var(--color-primary);}
.textfield-input:focus {box-shadow:var(--status-hover);}
.textfield-input:read-only {color:var(--color-text-light);cursor:default;}
.textfield-input:disabled {opacity:.5;cursor:not-allowed;}
.textfield-helper {margin:var(--space-1) 0 0;color:var(--red800);}

.textfield-suffix ~ .textfield-input {padding-right:4rem;}

/* // 오른쪽에 2개의 액션이 있는 ui가 있었음. 좋은 ui는 아님. 리빌 + 클리어. 클리어가 있는데 리빌이 필요하지 않음 */
.textfield-reveal {font-size:var(--font-size-small);color:var(--color-text-light);}
.textfield-check {} .textfield-unit {}

::slotted([slot=suffix]) {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: var(--size-large); */
  height: var(--textfield-height);
  /* color:var(--color-primary); */
  position:absolute;top:var(--textfield-icon-position);right:var(--space-2);
}

::slotted([slot=prefix]) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--textfield-height);
  position:absolute;top:var(--textfield-icon-position);left:0;
}

::slotted([slot=link]) {
  font-size:var(--font-size-small);
  position:absolute;right:0;top:0;
}


/* :: 조건부 append 시 slotted 안됨 */
.textfield[data-label=false] {
  --textfield-icon-position: 0;
}
.textfield[data-label=false] .textfield-label {}
[data-label=false] .textfield-input {padding-left:var(--textfield-height);}
/* 왜 안 됨. */
/* ::slotted([slot=prefix]) ~ .textfield-input {padding-left:48px !important;} */

/* sizes */
.textfield[data-size=small] {
--textfield-height: var(--size-medium); 
}

.is-invalid .textfield-label {}
.is-invalid .textfield-input {border-color:var(--color-danger);}
/* .is-invalid .textfield-byte {color:var(--red800);} */
