.callout {
  --callout-text-color: var(--color-text);

  display:flex;align-items:center;
  gap: var(--space-2);
  padding:var(--space-3);
  border: var(--border);
  border-radius:var(--radius);
  color: var(--callout-text-color);
  position:relative;
}
.callout-title {}
.callout-icon {}
.callout-text {}
.callout-close {position:absolute;right:.5rem;top:.5rem;}

.callout[data-variant=success] {
  --callout-text-color: var(--green800);
  border:none;background:var(--green100);
}
.callout[data-variant=danger] {
  --callout-text-color: var(--red800);
  border:none;background:var(--red100);
}

.callout[data-variant=warning] {
  --callout-text-color: sienna;
  border:none;
  background:cornsilk;
}

figure {margin: 0;padding:0;}
h3, p {margin: 0;}

@media (--small) {
}

.is-closed-topbanner .header {background:var(--color-background);margin-top:-225px;transition:margin .2s, background-color .4s;}