.carousel {
  position: relative;
}
.js-carousel-viewer {
  scroll-behavior: smooth;
}
.carousel-slide {
  flex: 0 0 220px;
  text-align: center;
}
@media (max-width: 1100px) {
  .carousel-arrows {
    display: none;
  }
  .carousel:hover .carousel-arrows {
    display: block;
  }
}
