.footer {
  /* border-top: var(--border); */
  padding: 2rem var(--grid-margin);
  /* width: calc(var(--layout-width-wide) - var(--width-sidemenu) - var(--grid-margin)); */
  margin: 0 auto;
  /* TODO minus footer height */

  /* padding: 2rem 0 4rem; */
  /* padding-left: calc(var(--width-sidemenu) + var(--grid-margin)); */
  position: relative;
}
.footer-background {
  display: none;
  margin: 0 -50vw;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 0;
  z-index: -1;
  border-top: var(--border);
}
.footer-address {
}
.footer-address-slogan {
  margin: var(--space-4) 0;
  font-size: var(--font-size-18);
  letter-spacing: 0.5px;
}
.footer-address-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-2);
}
.footer-address-info dt {
  color: var(--color-foreground-light);
}
.footer-copyright {
  display: block;
}

.footer-scroll {
}
