
.menu-group {
  display:flex;
  flex-direction:column;
  /* gap:var(--space-2); */
}

/* default vertical */
.menu-group[aria-orientation=vertical] {}
.menu-group[aria-orientation=horizontal] {}

/* selected */
.menu-group[aria-activedescendant] {}
.menu-group [role=option] {}
.menu-group [role=option][aria-selected=true] {}
.menu-group [role=option][aria-selected=false] {}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: var(--size-medium);
  gap: var(--space-1);

  position:relative;
  z-index:1;
}

/* reset */
/* TODO */
button {
  all: unset;
}
a {
  text-decoration: none;
  color: var(--color-foreground);
}

::slotted([slot=prefix]) {}
::slotted([slot=action]) {margin:0 0 0 auto !important;}

.item:hover {
  --hover-outline: calc(var(--space-2) / 2 * -1);
  --hover-outline: 0;
  cursor: pointer;
  &:before {
    /* // z-idnex 이슈 */
    content:'';
    display:block;
    background-color:var(--color-background-subtle);
    border-radius:var(--radius);
    position:absolute;
    left:var(--hover-outline);right:var(--hover-outline);top:var(--hover-outline);bottom:var(--hover-outline);
    z-index: -1;
  }
}

/* TODO mm-text mm-avatar */
.item[data-tone='danger'] mm-avatar,
.item[data-tone='danger'] mm-text[variant='body'] {
  color: #d93025; /* 혹은 원하는 danger 색상 (예: 밝은 빨간색) */
}

/* TODO navbar detect current page */
.item[aria-current=page] {
  --hover-outline: calc(var(--space-2) / 2 * -1);
  --hover-outline: 0;
  cursor: pointer;
  &:before {
    /* // z-idnex 이슈 */
    content:'';
    display:block;
    background-color:var(--green100);
    border-radius:var(--radius);
    position:absolute;
    left:var(--hover-outline);right:var(--hover-outline);top:var(--hover-outline);bottom:var(--hover-outline);
    z-index: -1;
  }
}

/*
[role=menuitem] {display:flex;align-items:center;width:100%;}
[role=menuitemcheckbox] {}
[role=menuitemradio] {} */