
.menu-group {
  display:flex;
  flex-direction:column;
  /* gap:var(--space-2); */
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--space-2);
  position:relative;
  z-index:1;
}

::slotted([slot=text]),
.item-label {
  font-size:var(--font-size-medium);
  line-height: var(--size-medium);
  color:var(--color-text);
}
.item-description {
  line-height: var(--size-medium);
  color: var(--color-text-light);
}

/* reset */
menu {margin:0;padding:0;}
a {
  text-decoration: none;
  color: var(--color-text);
}

::slotted([slot=avatar]) {
  /* display:flex; */
  /* align-items:center; */
}
::slotted([slot=check]) {
  display:flex;
  align-items: center;
  justify-content: center;
  width:var(--size-small);
  font-size:var(--font-size-small);
}
::slotted([slot=action]) {margin:0 0 0 auto !important;}
::slotted([slot=text]) {}
::slotted([slot=text]) p {line-height:24px;}

[data-size=large] {}
[data-size=large] .item-label {}
[data-size=large] .item-description {}


[data-alignment=vertical] {flex-direction:column;gap:0;}


.item-description {display:block;color:var(--color-text-light);line-height:var(--font-line-height);}
.item-description + .item-name {margin-top:-.125rem;}
.item-tag {margin-left:var(--space-2);}

.item:hover {
  --hover-outline: calc(var(--space-2) / 2 * -1);
  --hover-outline: 0;
  cursor: pointer;
  &:before {
    /* // z-idnex 이슈 */
    content:'';
    display:block;
    background-color:var(--color-background-weak);
    border-radius:var(--radius);
    position:absolute;
    left:var(--hover-outline);right:var(--hover-outline);top:var(--hover-outline);bottom:var(--hover-outline);
    z-index: -1;
  }
}

/* .item .checkbox {display:flex;justify-content:flex-end;position:absolute;left:0;right:0;top:0;bottom:0;}
.item .checkbox label {width:100%;}
.item .checkbox label:before {display:none;left:auto;right:0;top:4px;}
.item .checkbox label:after {left:auto;right:7px;top:12px;} */

/* // chip-togglable
// 이건 필요 없다. 팔로우 팔로잉. 외에는 switch */
.item-action.is-active {border-color:transparent;background:var(--color-background-weak);color:var(--color-text);}

/* [role=menuitem] {display:flex;align-items:center;width:100%;}
[role=menuitemcheckbox] {}
[role=menuitemradio] {} */