<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Breadcrumb</test-text>
    <p class="article-description">사용자의 현재 위치를 계층 구조로 보여줍니다.</p>

    <section class="component-example">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <a class="breadcrumb-item breadcrumb-home" href="/">홈</a>
        <i class="breadcrumb-divider">/</i>
        <a class="breadcrumb-item" href="#">페이지 이름</a>
        <i class="breadcrumb-divider">/</i>
        <span class="breadcrumb-item" aria-current="page">현재 페이지</span>
      </nav>
    </section>

    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>currentPage</dt>
        <dd>string</dd>
        <dd>aria-current="page"</dd>
      </dl>
    </section>

    <section class="component-guide">
      <test-text variant="body" class="article-p"> <b>상위 규칙. Foundation.</b> flat sitemap. 페이지 댑스가 3이 넘ㅈ ㅣ않도록 유지. </test-text>
      <test-text variant="body" class="article-p">
        <b>3개 이상의 페이지 댑스에서 사용합니다.</b> flat sitemap 트렌드에서 사용 빈도가 높지 않습니다. 주로 도움말, 상품 등 카테고리 구조에서
        제한적으로 활용하며, pg 심사 시 요구될 수 있습니다. (토스페이-구엘지페이먼츠시절)
      </test-text>
      <test-text variant="body" class="article-p"><b>활용</b> 상위 댑스의 페이지 타이틀이 길어지면 truncated할 수 있다.</test-text>
      <li>모바일의 네비게이션 바(탑 바/타이틀 바/바텀 네비게이션 등)와 함께 사용하지 마세요.</li>
      <li>푸터에서 사이트맵과 함께 사용할 수 있습니다.</li>
      <li>프로모션용 랜딩 페이지에서 사용자 여정을 돕기 위해 사용할 수 있습니다.</li>
    </section>
  </article>
</main>
