<main class="page">
  <mm-pageheader
    title="Breadcrumb"
    description="사용자의 현재 위치를 계층 구조로 보여줍니다."
  ></mm-pageheader>

  <section class="component-example">
    <nav class="breadcrumb" aria-label="breadcrumb">
      <a class="breadcrumb-item breadcrumb-home" href="/">홈</a>
      <i class="breadcrumb-divider" aria-hidden="true">/</i>
      <a class="breadcrumb-item" href="#">페이지 이름</a>
      <i class="breadcrumb-divider" aria-hidden="true">/</i>
      <span class="breadcrumb-item" aria-current="page">현재 페이지</span>
    </nav>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <dt>currentPage</dt>
      <dd>string</dd>
      <dd>aria-current="page"</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text-list
        texts='[
          "flat sitemap 트렌드에서 사용 빈도가 높지 않습니다. 모바일의 네비게이션 바(탑 바/타이틀 바/ 네비게이션 등)와 함께 사용하지 마세요. 현대 웹사이트에서 대부분의 경우 불필요하다. 주로 도움말, 상품 등 카테고리 구조에서 제한적으로 사용하는 추세입니다. (상위 규칙foundation. flat sitemap. 페이지 댑스의 제한)",
          "푸터에서 사이트맵과 함께 사용할 수 있습니다. 프로모션용 랜딩 페이지에서 사용자 여정을 돕기 위해 사용할 수 있습니다.",
          "PG 심사 시 카테고리 표현을 위해 요구했던 적 있음",
          "상위 깊이의 페이지 제목이 길어질 때 엣지 케이스"
        ]'
      >
      </mm-text-list>
    </mm-text-group>

    <mm-text-group>
      <mm-text variant="subhead">Platform problems</mm-text>
      <mm-text>
        페이지의 깊이가 3단계를 넘을 때 사용합니다. 사용자는 현재 위치를 파악하고 이전 수준의
        페이지로 쉽게 돌아갈 수 있습니다.
      </mm-text>
      <mm-text>
        사이트맵의 역할로 브레드크럼의 역할을 확대하지 마세요. 드롭다운으로 페이지 구조를 표현할
        필요가 없습니다.
      </mm-text>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">Changelog</mm-text>
      <table>
        <tr>
          <th>Jan 2022</th>
          <td>
            홈 아이콘을 텍스트로 변경. 페이지에서 상대적으로 중요도가 낮은 정보이기 때문에 주목도를
            낮춤
          </td>
        </tr>
      </table>
    </mm-text-group>
  </section>
</main>
