<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Breadcrumb</test-text>
    <test-text variant="body-large">사용자의 현재 위치를 계층 구조로 보여줍니다.</test-text>

    <section class="component-example">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <a class="breadcrumb-item breadcrumb-home" href="/">홈</a>
        <i class="breadcrumb-divider" aria-hidden="true">/</i>
        <a class="breadcrumb-item" href="#">페이지 이름</a>
        <i class="breadcrumb-divider" aria-hidden="true">/</i>
        <span class="breadcrumb-item" aria-current="page">현재 페이지</span>
      </nav>
    </section>

    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>currentPage</dt>
        <dd>string</dd>
        <dd>aria-current="page"</dd>
      </dl>
    </section>
    <section class="token-group" style="margin-top: -2rem">
      <article class="token-item">
        <b>breadcrumb</b>
      </article>
      <!-- <test-text variant="label">breadcrumb-home</test-text>
      <test-text variant="label">breadcrumb-item</test-text>
      <test-text variant="label">breadcrumb-currentPage - not interactive</test-text>
      <test-text variant="label">breadcrumb-divider - Visual separator</test-text> -->
    </section>

    <section class="component-guide">
      <test-text variant="subhead">Use when</test-text>
      <test-text variant="body">
        페이지 댑스가 3이 넘을 때 사용합니다. flat sitemap 트렌드에서 사용 빈도가 높지 않습니다.
        주로 도움말, 상품 등 카테고리 구조에서 제한적으로 사용하는 추세입니다. (상위 규칙foundation.
        flat sitemap. 페이지 댑스의 제한)
      </test-text>
      <test-text variant="body">
        푸터에서 사이트맵과 함께 사용할 수 있습니다. 프로모션용 랜딩 페이지에서 사용자 여정을 돕기
        위해 사용할 수 있습니다.
      </test-text>
      <test-text variant="body">
        pg 심사 시 요구될 수 있습니다. (토스페이-구엘지페이먼츠시절)
      </test-text>
      <test-text variant="subhead">Don't use when</test-text>
      <test-text variant="body">
        모바일의 네비게이션 바(탑 바/타이틀 바/ 네비게이션 등)와 함께 사용하지 마세요.
      </test-text>
      <test-text variant="subhead">Behavior</test-text>
      <test-text variant="body">
        사이트맵의 역할을 할 필요가 없습니다. 드롭다운으로 페이지 구조를 표현하지 마세요.
      </test-text>
      <test-text variant="subhead">Editorial</test-text>
      <test-text variant="body">
        상위 댑스의 페이지 제목이 길어지면 truncated 허용할 것인가.
      </test-text>
      <test-text variant="subhead"> Changelog </test-text>
      <test-text variant="body">
        홈 아이콘을 텍스트로 변경. 페이지에서 상대적으로 중요도가 낮은 정보이기 때문에 주목도를
        낮춤.
      </test-text>
    </section>
  </article>
</main>
