.cake {
  padding: 0 var(--layout-padding-inline) var(--space-section);
}

.cake-head {
  position: relative;
}

.cake-summary,
.cake-meta {
  max-width: var(--layout-width-small);
}

.cake-poster {
  width: 50%;
  max-width: 17rem;
  overflow: hidden;
  border-radius: var(--radius);
  position: absolute;
  right: 0;
  z-index: var(--zindex-default);
}

.cake-poster img {
  display: block;
  width: 100%;
}

@media (max-width: 1100px) {
  .cake-head {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
  }

  .cake-poster {
    width: 100%;
    position: static;
  }
}
