<main class="page js-tab">
  <mm-page-header
    title="Button"
    description="페이지 이동이나 양식 제출 등 사용자 여정의 핵심 과업입니다. (이 디스크립션은 칩이 있었을 때 유효)"
  ></mm-page-header>

  <!-- <mm-tablist class="tablist">
    <mm-tab slot="tab" name="" selected="true" data-index="1"> 베리언트 </mm-tab>
    <mm-tab slot="tab" name="" selected="false" data-index="2"> 상태 </mm-tab>
    <i class="tablist-indicator"></i>
  </mm-tablist> -->

  <mm-component-example>
    <mm-tabpanel role="tabpanel" aria-hidden="false" data-index="1">
      <mm-group>
        <mm-button variant="primary" size="large">primary</mm-button>
        <mm-button variant="secondary" size="large">secondary</mm-button>
        <mm-button variant="tertiary" size="large">tertiary</mm-button>
        <mm-button variant="destructive" aria-label="danger">destructive</mm-button>
        <mm-button variant="text" size="large">text</mm-button>
        <mm-button variant="text" size="large" disabled>text</mm-button>
      </mm-group>
      <mm-separator></mm-separator>
      <mm-group>
        <mm-button variant="primary" size="large">large</mm-button>
        <mm-button variant="primary">small</mm-button>
      </mm-group>
    </mm-tabpanel>
    <mm-separator></mm-separator>
    <mm-tabpanel role="tabpanel" aria-hidden="true" data-index="2">
      <mm-group variant="chip">
        <mm-button variant="tertiary" status="hover">hovered</mm-button>
        <mm-button variant="tertiary" status="focus">focused</mm-button>
        <mm-button variant="`tertiary" disabled>disabled</mm-button>
      </mm-group>
    </mm-tabpanel>
  </mm-component-example>

  <mm-component-props>
    <mm-prop name="src" type="string"></mm-prop>
    <mm-prop name="alt" type="string"></mm-prop>
    <mm-prop name="ratio" type="'1:1' | '16:9' | '4:3' = '1:1'"></mm-prop>
    <mm-prop name="clickable" type="boolean"></mm-prop>
    <mm-prop name="@click" type="(e: MouseEvent) => void" kind="event"></mm-prop>
  </mm-component-props>

  <mm-component-guide>
    <section class="feature columns-2">
      <mm-feature
        icon="cursor-pointer"
        titleText="Actionable"
        description="버튼은 페이지 내에서 여러 번 반복될 수 없는 최종적인 인터렉션입니다. 단, 전송이 실패하는 경우 여러 번 반복해서 실행할 수 있습니다."
      >
      </mm-feature>
      <mm-feature
        icon="reply-to-message"
        titleText="Feedback needed"
        subtitle="Easy scanning"
        description="물리적인 인터페이스의 출현만이 수행 결과의 피드백이 아닙니다. 예측할 수 있는 페이지 이동이나 페이지 새로고침, 정보 구조의 변화도 피드백으로 취급될 수 있습니다. (ex bad case: 인스타그램 앱에서 로그인되었다는 toast. 홈으로 이동과 피드 노출만으로 로그인 상태를 인지할수 있다.)"
      >
      </mm-feature>
      <mm-feature
        icon="multi-window"
        titleText="Groupable"
        subtitle="Easy scanning"
        description="TODO"
      >
      </mm-feature>
    </section>

    <br />

    <!-- <mm-text-group>
      <mm-text size="18">Changelog</mm-text>
          <table class="table">
      <tbody>
        <tr>
          <th>21-07-28</th>
          <td>chip-label 엘리먼트 항상 사용. space-chip-inset 레이블에 패딩을 주면 아이콘
            컨트롤이 쉬워짐.</td>
        </tr>
        <tr>
          <th>2022년</th>
          <td>button small 삭제. chip과 형태의 변별력이 없고 용법이 중복.</td>
        </tr>
        <tr>
          <th style="width:100px;">Aug 2024</th>
          <td>The stroke color was softened to improve visual hierarchy between chips and
            buttons. 버튼과의 위계를 위하여 나는, 사이즈 제한으로도 충분하다고 생각</td>
        </tr>
        <tr>
          <th style="width:100px;">Nov 2024</th>
          <td>칩과 통합하고 사이즈 토큰과 동일한 사이즈 프로토콜을 사용한다. 추후 선택 또는 필터링에
            따른 기능 버튼을 추가한다. 문제. 아이콘 버튼이 필요. 간격. Chip을 제거한 이유. 형태에 기반한
            액션이라는 것은 둘 다 동일. 게다가 새로운 역할을 부여 받는 버튼은 어차피 새로운 컴포넌트로
            정의되어야 하는데, filterButton이 filterChip이 되어야 하는 이유를 못 찾겠음. 결론적으로
            버튼의 형태, 이것은 input과 textfield도 마찬가지로 적용이 되는데, 버튼의 형태는 고유한
            프리미티브 컴포넌트가 갖고, 도메인에 맞게 역할를 갖는 새로운 컴포넌트를 별도 정의한다.
            ButtonPrimitive (orbit)</td>
        </tr>
      </tbody>
    </table>
    </mm-text-group> -->

    <mm-text-group>
      <mm-text size="18">
        사용자 여정을 보조하는 액션입니다. 실행 페이지에서 사용자는 즉각적인 결과를 기대할 수
        있습니다. icon only chip 링크. 링크 개념 모호. 팝업. 쿼리스트링.
      </mm-text>

      <mm-component-aka items='["Tag", "Pill", "Badge", "Token", "Label", "Pick Button"]'></mm-component-aka>

      <mm-component-example>
        <mm-group variant="chip">
          <mm-button icon="check" status="checked"> checkable </mm-button>
          <mm-button icon="xmark" status="checked"> dismiss </mm-button>
          <mm-button icon="nav-arrow-down" aria-expanded="true"> expandable </mm-button>
        </mm-group>

        <mm-text size="18">
          Single selection for contents filtering. togglebuttonGroup mui
        </mm-text>
        <mm-group variant="chip">
          <mm-button status="checked" class="js-toggle is-active">전체</mm-button>
          <mm-button class="js-toggle">입금확인</mm-button>
          <mm-button class="js-toggle">결제완료</mm-button>
          <mm-button class="js-toggle">배송중</mm-button>
        </mm-group>

        <mm-text size="18">Multiple selections</mm-text>
        <mm-group variant="chip" aria-multiselectable="true">
          <mm-button role="option" name="check" aria-selected="true" status="checked"
            >소설</mm-button
          >
          <mm-button role="option" icon="check" aria-selected="false" status="checked">
            영화</mm-button
          >
          <mm-button role="option" aria-selected="false">타이포그래피</mm-button>
        </mm-group>
      </mm-component-example>

      <mm-text-list
        texts='[
        "menuitem, checkbox로 대체 가능한 selection role. TODO 그렇다면 언제 메뉴아이템과 체크박스를 사용하고 언제 칩그룹을 사용하는지 가이드가 필요하다.",
        "button과 통합 하느냐 tag와 통합하느냐. 인터렉션을 기준으로 정의할 수 있어 버튼이 유리. 문제는 selected 상태에 관한 스타일은 chip의 고유한 형태. 기능으로 분류하는 것이 중요함. "
        "chipGroup selected=[] role=listbox aria-orientation="vertical" aria-multiselectable="true",
        "chip value="" role="option" aria-selected="true" | aria-checked="""
      ]'
      >
      </mm-text-list>

      <mm-text-list
        texts='[
          "Avoid disabled buttons. Let the user send incomplete form and use error messages to explain what is wrong.",
          "실행 결과를 에측할 수 있는 레이블을 작성하세요. 툴팁으로 부연하거나, 실행을 유도하는 보조 텍스트 또는 실행 결과를 보충하는 보조 텍스트로 버튼 이외의 가이드가 필요하지 않습니다.",
          "동사가 포함된 2자 ~ 8자 한글(!). 레이블 줄임?(truncated) 불가. 사용자 시점 (ex 보내기 => 받기).",
          "맥락이 다른 액션을 그룹으로 제공할 수 있습니다. 이 때 단일선택, 다중선택, 삭제여부, 펼침메뉴 등의 기표를 충분히 제공하세요. ariaHaspopup/ariaSelected"
        ]'
      ></mm-text-list>
      <mm-text-list
        texts='["Split button이란? 사용자에게 더 많은 작업을 표시하는 경우 작업을 선택하여 트리거할 수 있도록 선택 + 버튼 조합을 사용. 것이 좋습니다.", "Link Button, Action Button의 구분으로 책임 분리. href / disabled, onClick", Link 안에 button의 형태를 포함하도록 하는 방법은?", "빈 버튼이 필요한가? 리액트에서 포커싱이 가능한 전체 영역의 버튼. 도는 버튼 내부에서포지셔닝되는 버튼. 시각적으로는 버튼 내부의 버튼이지만 구조적으로 대안이 되는 형태의 버튼", "Dropdown은 버튼과 목록을 포함한 합성된 컴포넌트임. 최근 바텀 셀렉트 시트 같은 느낌."]'
      ></mm-text-list>
      <mm-text>
        group과 sets 차이. 머티리얼 칩스에서 구분해서 사용함. 그룹은 순서나 구조가 있는.
      </mm-text>
      <style>
        td {
          text-align: center;
        }
      </style>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>RawChip / Chip</th>
            <th>FilterChip</th>
            <th>ChoiceChip</th>
            <th>ActionChip</th>
            <th>InputChip</th>
            <th>AssistChip</th>
            <th>SuggestionChip</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Material 2 (Rounded)</th>
            <td></td>
            <td>🔵 (multiple select Filter chip, dissmissable)</td>
            <td>🔵 (radio)</td>
            <td>🔵 (toggle)</td>
            <td>🔵 (dissmissable)</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Material 3</th>
            <td></td>
            <td>🟣 (ChoiceChip). 필터 칩의 서브셋. 단독 사용 안 됨</td>
            <td></td>
            <td></td>
            <td>🟣 dismissable</td>
            <td>🟣 (ActionChip)</td>
            <td>🟣 (ActionChip)</td>
          </tr>
          <tr>
            <th>Flutter</th>
            <td>🔵</td>
          </tr>
        </tbody>
      </table>
    </mm-text-group>
  </mm-component-guide>

  <mm-component-section
    title="Button Group"
    description="버튼 그룹은 관련된 액션을 묶어 사용자가 선택할 수 있도록 합니다. 항상primary action에 먼저 포커스되어야 합니다. tabindex는 불필요. 마크업 순서와 정렬 스타일링으로 해결."
  >
    <div>
      <mm-text-group>
        <dl>
          <dt>primaryAction</dt>
          <dd>{label: string, onClick: () => void}</dd>
          <dt>secondaryAction</dt>
          <dd>{label: string, onClick: () => void}</dd>
        </dl>
      </mm-text-group>
      <div style="display: flex; flex-direction: column; gap: 1.5rem">
        <mm-group variant="chip">
          <mm-button variant="tertiary" size="large">취소</mm-button>
          <mm-button variant="primary" size="large">저장</mm-button>
        </mm-group>
        <mm-group variant="chip">
          <mm-button variant="text" size="large">건너뛰기</mm-button>
          <mm-button variant="secondary" size="large">다음</mm-button>
        </mm-group>
        <mm-group variant="chip">
          <mm-button variant="tertiary" size="large">이전</mm-button>
          <mm-button variant="secondary" size="large">다음</mm-button>
        </mm-group>
        <mm-group variant="chip" class="hero-actions">
          <mm-button variant="primary" size="large" href="#components">지금 가입하기</mm-button>
          <mm-button variant="text" size="large">더 알아보기</mm-button>
        </mm-group>
      </div>
      <mm-surface>
        <mm-text size="14" weight="bold">이 문서가 도움이 되었나요?</mm-text>
        <small title="17 out of 439 found this helpful"> 417명 중 349명이 도움을 받았어요. </small>
        <div style="height: 1rem"></div>
        <mm-group variant="">
          <mm-button>도움이 됐어요</mm-button>
          <mm-button>부족해요</mm-button>
        </mm-group>
      </mm-surface>
    </div>
  </mm-component-section>

  <mm-component-section
    title="ShowMoreButton"
    description="Image Button, CheckoutButton. fullWidth로 사용하지 마세요. 콘텐츠 목록의 너비와의 대비를 통한 강조."
  >
    <div>
      <div class="columns-3" style="gap: 1rem">
        <div
          class=""
          style="background: var(--green100); height: 4rem; border-radius: var(--radius-large)"
        ></div>
        <div
          class=""
          style="background: var(--green100); height: 4rem; border-radius: var(--radius-large)"
        ></div>
        <div
          class=""
          style="background: var(--green100); height: 4rem; border-radius: var(--radius-large)"
        ></div>
      </div>
      <div style="display: flex; justify-content: center; padding: 1.5rem 0 0">
        <mm-button variant="tertiary">
          Show more
          <mm-icon slot="suffix" name="nav-arrow-down"></mm-icon>
        </mm-button>
      </div>
    </div>
  </mm-component-section>

  <mm-component-section title="ViewMoreButton" description="TODO define expandable indicator">
    <mm-group>
      <mm-button variant="text" icon="nav-arrow-down">View More</mm-button>
      <mm-button variant="text" icon="nav-arrow-up">View Less</mm-button>
    </mm-group>
  </mm-component-section>

  <mm-component-section title="FilterButton / FilterOption" description="...">
  </mm-component-section>
  <mm-component-section
    title="SortButton"
    description="목록의 재정렬Sort을 위한 옵션 목록을 group으로 제공하지 마세요. 현재 정렬 상태만 요약 표기하고
    확장가능한 메뉴로 정렬 목록을 제공하세요. (bad case: 2022.04 구글 지도 바뀐 것)"
  >
    <div>
      <mm-paragraph>TODO fit-content/fullWidth</mm-paragraph>
      <mm-dropdown id="my-dropdown">
        <option value="profile">최신순</option>
        <option value="settings">오래된순</option>
        <option value="notice" type="checkbox" checked>공지사항 알림 받기</option>
        <option value="marketing" type="checkbox">마케팅 정보 수신 동의</option>
      </mm-dropdown>
    </div>
  </mm-component-section>

  <mm-component-section title="FileUpload Button" description="이미지 업로드와 파일 업로드 구분">
    <div>
      <form class="file" method="" enctype="multipart/form-data">
        <div>
          <mm-button>사진 업로드. 여기로 드래그 하셔도 되어요.</mm-button>
          <input
            class="js-file-input visually-hidden"
            type="file"
            id="file2"
            accept=".jpg,.png"
            capture="camera"
            multiple
            hidden
          />
        </div>
        <mm-text size="12">Only .jpg and .png files. 500kb max file size.</mm-text>
      </form>

      <mm-separator></mm-separator>

      <mm-text size="14" color="var(--color-foreground-light)">첨부한 파일</mm-text>
      <mm-text size="14" role="status" class="js-file-attachment-helper">
        No files currently selected for upload.
      </mm-text>

      <div class="file-attachment-list js-file-attachment-list">
        <figure
          style="
            width: 100px;
            padding: var(--space-3);
            border-radius: var(--radius);
            background-color: var(--color-background-subtle);
            border-radius: var(--radius);
            position: relative;
          "
        >
          <img
            src="/src/images/springsteen.jpg"
            alt="${file.name}"
            style="border-radius: var(--radius)"
          />
          <figcaption>
            <mm-text size="14" weight="bold">${file.name}</mm-text>
            <mm-text size="12">${returnFileSize(file.size)}</mm-text>
          </figcaption>
          <div style="position: absolute; right: var(--space-1); top: var(--space-1)">
            <mm-clear-button class="js-remove-this">close</mm-clear-button>
          </div>
        </figure>
      </div>
    </div>
  </mm-component-section>

  <mm-component-section title="ToTopButton" description="페이지 최상단으로 스크롤합니다.">
    <mm-to-top-button></mm-to-top-button>
  </mm-component-section>

  <mm-component-references>
    <mm-link external href="https://developer.android.com/reference/android/widget/HorizontalScrollView">
      Android - HorizontalScrollView
    </mm-link>
    <mm-link
      external
      href="https://developer.android.com/reference/com/google/android/material/chip/ChipGroup"
    >
      Android - ChipGroup
    </mm-link>
    <mm-link external href="https://m3.material.io/components/segmented-buttons/overview">Segmented buttons</mm-link>
    <mm-link external href="https://developer.apple.com/design/human-interface-guidelines/segmented-controls">Segmented controls</mm-link>
    <mm-link external href="https://www.w3.org/WAI/ARIA/apg/patterns/listbox/">WAI listbox</mm-link>
  </mm-component-references>
</main>
