<main class="page">
  <mm-title-with-description
    title="Checkbox"
    description="옵션 목록에서 하나 이상의 옵션을 선택합니다."
  ></mm-title-with-description>

  <section class="component-example">
    <!-- a11y checkgroup not valid -->
    <!-- <legend">checkgroup</legend> -->
    <!-- <mm-group>
      <mm-checkbox name="checkbox" size="large" checked> 체크박스</mm-checkbox>
      <mm-checkbox name="checkbox" checked> </mm-checkbox>
    </mm-group> -->
    <mm-group variant="checkbox">
      <mm-checkbox
        name="checkbox"
        value="value"
        size="large"
        aria-helper="주로 세팅 페이지에서 사용되는 디스크립션 영역. 항상 텍스트 더미인 것은 아님. 하지만 그렇다면 expanded/collapsed 맥락이 아닐까?"
        checked
      >
        체크박스 레이블
      </mm-checkbox>
      <mm-checkbox name="checkbox" size="large" disabled>체크박스 비활성</mm-checkbox>
      <mm-checkbox name="checkbox" size="large" checked disabled>체크박스 비활성 체크</mm-checkbox>
    </mm-group>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <!-- <dt>name</dt>
        <dd>string</dd>
        <dd>radio에서도 직접 입력 id={props.name}</dd> -->
      <dt>value</dt>
      <dd>string</dd>
      <dt>label?</dt>
      <dd>string</dd>
      <dt>isChecked<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>isDisabled<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>onChange</dt>
      <dd>(event: React.ChangeEvent&lt;HTMLInputElement&gt;) => void</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-list
      texts='[
        "미리 선택된 기본값을 제공하는 것은 편향된 데이터를 수집할 위험이 있습니다.",
        "체크박스 그룹은 관련된 옵션들을 함께 묶어 사용자에게 제공할 수 있습니다. 이 경우, 그룹의 제목(legend)을 명확하게 표시하여 사용자가 옵션들의 맥락을 이해할 수 있도록 합니다.",
        "레이블은 최대 2단어로 작성합니다. choice냐 action option(?)이냐. action option일 때는 동사를 포함하여 작성합니다.",
        "옵션 목록을 파악하기 쉽게 수직 정렬합니다. 강조가 필요한 경우 체크박스 컴포넌트는 독립적인 형태를 유지하고 체크박스의 크기 또는 컨테이너를 강조하고... 근데 이런 제약은 너무 과하다. 초기의 최소한의 정의 라는 foundation의 시효 소멸..",
        "MasterCheckbox / TermsCheckbox / TermsCheckboxGroup"
      ]'
    ></mm-text-list>
    <mm-tile variant="tinted">
      <mm-checkbox
        size="large"
        class="js-checkall"
        aira-checked="mixed"
        aria-controls="1 2"
        data-indeterminate="true"
        indeterminate
      >
        모두 동의합니다
      </mm-checkbox>
      <mm-separator spacing="small"></mm-separator>
      <mm-group variant="checkbox">
        <mm-row justifyContent="space-between">
          <mm-checkbox size="large" class="js-check" id="terms5" name="terms">
            이용약관에 동의합니다.
            <mm-link href="#">이용약관 바로가기</mm-link>
          </mm-checkbox>
        </mm-row>
        <mm-row justifyContent="space-between">
          <mm-checkbox size="large" class="js-check" id="terms6" name="terms">
            이용약관에 동의합니다.
            <mm-link href="#">이용약관 바로가기</mm-link>
          </mm-checkbox>
        </mm-row>
        <mm-row justifyContent="space-between">
          <mm-checkbox size="large" class="js-check" id="terms7" name="terms">
            이용약관에 동의합니다.
          </mm-checkbox>
        </mm-row>
      </mm-group>
    </mm-tile>

    <div style="display: flex; flex-direction: column; gap: var(--space-3)">
      <mm-tile>
        <mm-titlebar titletext="컬렉션에 추가"></mm-titlebar>
        <br />
        <mm-tile variant="elevated" size="small">
          <mm-menuitem label="새 컬렉션 만들기">
            <mm-avatar slot="avatar" icon="plus"> </mm-avatar>
          </mm-menuitem>
        </mm-tile>
        <div style="height: var(--space-3)"></div>
        <mm-group variant="checkbox">
          <!-- aira-checked="mixed" aria-controls="1 2" -->
          <mm-checkbox size="large">컬렉션 1</mm-checkbox>
          <mm-checkbox size="large">컬렉션 2 - 관리: 수정/삭제 등</mm-checkbox>
        </mm-group>
      </mm-tile>
      <mm-tile>
        <mm-titlebar titletext="컬렉션 만들기">
          <mm-button slot="action" variant="text">완료</mm-button>
        </mm-titlebar>
        <div style="height: 1rem"></div>
        <mm-textfield label="컬렉션 이름" placeholder="컬렉션 이름"></mm-textfield>
        <div style="height: 0.75rem"></div>
        <!-- aira-checked="mixed" aria-controls="1 2" -->
        <button-list-component
          id="button-list"
          options='[
          {"label": "공개", "value": "apple"},
          {"label": "비공개", "value": "banana"}
        ]'
        ></button-list-component>
      </mm-tile>
    </div>
  </section>
</main>
