<main class="page">
  <mm-pageheader
    title="Checkbox"
    description="옵션 목록에서 하나 이상의 옵션을 선택합니다."
  ></mm-pageheader>

  <section class="component-example">
    <!-- a11y checkgroup not valid -->
    <!-- <legend">checkgroup</legend> -->
    <!-- <mm-group>
      <mm-checkbox name="checkbox" size="large" checked> 체크박스</mm-checkbox>
      <mm-checkbox name="checkbox" checked> </mm-checkbox>
    </mm-group> -->
    <mm-group variant="checkbox">
      <mm-checkbox
        name="checkbox"
        value="value"
        size="large"
        aria-helper="주로 세팅 페이지에서 사용되는 디스크립션 영역. 항상 텍스트 더미인 것은 아님. 하지만 그렇다면 expanded/collapsed 맥락이 아닐까?"
        checked
      >
        체크박스 레이블
      </mm-checkbox>
      <mm-checkbox name="checkbox" size="large" disabled>체크박스 비활성</mm-checkbox>
      <mm-checkbox name="checkbox" size="large" checked disabled>체크박스 비활성 체크</mm-checkbox>
    </mm-group>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <!-- <dt>name</dt>
        <dd>string</dd>
        <dd>radio에서도 직접 입력 id={props.name}</dd> -->
      <dt>value</dt>
      <dd>string</dd>
      <dt>label?</dt>
      <dd>string</dd>
      <div style="width: 100%; margin: var(--space-2) 0 var(--space-3)">
        <mm-text variant="body">
          레이블은 최대 2단어로 작성합니다. choice냐 action option(?)이냐. action option일 때는
          동사를 포함하여 작성합니다.
        </mm-text>
      </div>
      <dt>isChecked<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>isDisabled<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>onChange</dt>
      <dd>(event: React.ChangeEvent&lt;HTMLInputElement&gt;) => void</dd>
    </dl>

    <section class="feature columns-3">
      <mm-feature
        icon="cursor-pointer"
        titleText="Interactive - choice"
        subtitle="Easy scanning"
        description="미리 선택된 기본값을 제공하는 것은 편향된 데이터를 수집할 위험이 있습니다. 데이터가 왜곡될
        수 있습니다. 만약 미리 선택된 값을 적용하는 경우 첫 번째 옵션을 기본 옵션으로."
      >
      </mm-feature>
      <mm-feature
        icon="task-list"
        titleText="Easy scanning"
        subtitle="Easy scanning"
        description="수직 정렬로 옵션 목록을 파악하기 쉽게. 체크박스를 강조가 필요한 경우 체크박스의 크기 또는 컨테이너를 강조하고, 체크박스 컴포넌트는 독립적인 형태를 유지합니다. 근데 이런 제약은 일단 하지 않는 것이 좋음. 초기의 최소한의 정의 라는 foundation의 시효 소멸.."
      >
      </mm-feature>
    </section>

    <mm-feature
      icon="component"
      titleText="MasterCheckbox / TermsCheckbox / CheckboxGroup"
      description="모바일 사용성을 위한 약관 동의를 위한 패턴에서 전체동의 체크박스와 개별 체크박스를 하나의
      TermsCheckboxGroup으로 정의할 수 있다. 약관보기 버튼을 포함해야 하며, 시각적으로 강조된 형태의
      체크박스이다."
    >
      <mm-tile variant="tinted">
        <mm-checkbox
          class="js-checkall"
          aira-checked="mixed"
          aria-controls="1 2"
          data-indeterminate="true"
          indeterminate
        >
          모두 동의합니다
        </mm-checkbox>
        <mm-separator spacing="small"></mm-separator>
        <mm-group variant="checkbox">
          <mm-row justifyContent="space-between">
            <mm-checkbox class="js-check" id="terms" name="terms">
              이용약관에 동의합니다.
              <mm-link href="#">이용약관 바로가기</mm-link>
            </mm-checkbox>
          </mm-row>
          <mm-row justifyContent="space-between">
            <mm-checkbox class="js-check" id="terms" name="terms">
              이용약관에 동의합니다.
              <mm-link href="#">이용약관 바로가기</mm-link>
            </mm-checkbox>
          </mm-row>
          <mm-row justifyContent="space-between">
            <mm-checkbox class="js-check" id="terms" name="terms">
              이용약관에 동의합니다.
            </mm-checkbox>
          </mm-row>
        </mm-group>
      </mm-tile>
    </mm-feature>
    <br />
    <mm-feature icon="component" titleText="다시 묻지 않기" description="내용 없음">
      <mm-checkbox>다시 묻지 않기 Don't ask again</mm-checkbox>
    </mm-feature>
  </section>

  <mm-text-group>
    <div style="display: flex; flex-direction: column; gap: var(--space-3)">
      <mm-tile>
        <mm-titlebar titletext="컬렉션에 추가"></mm-titlebar>
        <br />
        <mm-tile variant="elevated" size="small">
          <mm-menuitem label="새 컬렉션 만들기">
            <mm-avatar slot="avatar" icon="plus"> </mm-avatar>
          </mm-menuitem>
        </mm-tile>
        <div style="height: var(--space-3)"></div>
        <mm-group variant="checkbox">
          <!-- aira-checked="mixed" aria-controls="1 2" -->
          <mm-checkbox size="large">컬렉션 1</mm-checkbox>
          <mm-checkbox size="large">컬렉션 2 - 관리: 수정/삭제 등</mm-checkbox>
        </mm-group>
      </mm-tile>
      <mm-tile>
        <mm-titlebar titletext="컬렉션 만들기">
          <mm-button slot="action" variant="text">완료</mm-button>
        </mm-titlebar>
        <div style="height: 1rem"></div>
        <mm-textfield label="컬렉션 이름" placeholder="컬렉션 이름"></mm-textfield>
        <div style="height: 0.75rem"></div>
        <!-- aira-checked="mixed" aria-controls="1 2" -->
        <button-list-component
          id="button-list"
          options='[
          {"label": "공개", "value": "apple"},
          {"label": "비공개", "value": "banana"}
        ]'
        ></button-list-component>
      </mm-tile>
    </div>
  </mm-text-group>
</main>
