<main class="page">
  <mm-page-header
    title="Checkbox"
    description="옵션 목록에서 하나 이상의 옵션을 선택합니다."
  ></mm-page-header>

  <mm-component-example>
    <mm-checkbox-group legend="관심 분야" name="interest">
      <mm-checkbox size="large" value="basic" checked> 체크박스 기본 </mm-checkbox>
      <mm-checkbox size="large" value="disabled" disabled> 체크박스 비활성 </mm-checkbox>
      <mm-checkbox size="large" value="disabled-checked" checked disabled>
        체크박스 비활성 체크
      </mm-checkbox>
    </mm-checkbox-group>
  </mm-component-example>

  <mm-component-props>
    <mm-prop name="src" type="string"></mm-prop>
    <mm-prop name="alt" type="string"></mm-prop>
    <mm-prop name="ratio" type="'1:1' | '16:9' | '4:3' = '1:1'"></mm-prop>
    <mm-prop name="clickable" type="boolean"></mm-prop>
    <mm-prop name="@click" type="(e: MouseEvent) => void" kind="event"></mm-prop>
  </mm-component-props>

  <mm-component-guide>
    <section class="feature columns-2">
      <mm-feature
        icon="task-list"
        titleText="Interactive - choice"
        subtitle="Easy scanning"
        description="미리 선택된 기본값을 제공하는 것은 편향된 데이터를 수집할 위험이 있습니다."
      >
      </mm-feature>
      <mm-feature
        icon="task-list"
        titleText="Easy scanning"
        subtitle="Easy scanning"
        description="옵션 목록을 파악하기 쉽게 수직 정렬합니다. 레이블은 최대 2단어로 작성합니다. choice냐 action option(?)이냐. action option일 때는 동사를 포함하여 작성합니다."
      >
      </mm-feature>
      <mm-feature
        icon="task-list"
        titleText="Groupable"
        subtitle="Easy scanning"
        description="체크박스 그룹은 관련된 옵션들을 함께 묶어 사용자에게 제공할 수 있습니다. 이 경우, 그룹의 제목(legend)을 명확하게 표시하여 사용자가 옵션들의 맥락을 이해할 수 있도록 합니다."
      >
      </mm-feature>
    </mm-component-guide>
  </section>

  <mm-component-section title="MasterCheckbox" description="TermsAllCheckbox, TermsCheckboxGroup">
    <div>
      <mm-surface variant="elevated" size="medium">
        <mm-checkbox size="large" aria-controls="main-terms-group">
          <mm-text size="14" weight="bold">모두 동의합니다 (선택동의 포함)</mm-text>
        </mm-checkbox>
      </mm-surface>

      <div style="margin-bottom: var(--space-3)"></div>

      <mm-checkbox-group id="main-terms-group" name="terms">
        <div class="terms-nested-item">
          <mm-row>
            <mm-checkbox value="terms5" size="large"> 이용약관 동의 (필수) </mm-checkbox>
            <mm-icon-button
              variant="navigator"
              size="small"
              aria-label="이용약관 바로가기"
              href="#"
              icon="arrow-up-right"
            ></mm-icon-button>
          </mm-row>

          <mm-surface variant="tinted" style="width: 100%; margin-top: var(--space-1)">
            <mm-checkbox-group name="terms-detail">
              <mm-checkbox value="gender" size="small"> 성별 </mm-checkbox>
              <mm-checkbox value="birth" size="small"> 생년월일 </mm-checkbox>
            </mm-checkbox-group>
          </mm-surface>
        </div>

        <mm-checkbox value="terms6" size="large"> 개인정보 수집/이용 동의 </mm-checkbox>

        <mm-checkbox value="terms7" size="large"> 개인정보 제3자 제공 동의 </mm-checkbox>
      </mm-checkbox-group>
    </div>
  </mm-component-section>

  <mm-component-section title="Sampler" description="연습">
    <div style="width: 400px">
      <mm-titlebar variant="close" label="컬렉션에 추가" hiddenBack>
        <mm-button slot="action" variant="text">새 컬렉션</mm-button>
      </mm-titlebar>
      <div style="height: var(--space-3)"></div>
      <mm-group variant="checkbox">
        <mm-option-row primaryText="을지로 맛집" secondaryText="test">
          <mm-avatar slot="avatar" size="large" style="font-size: 1.5rem; overflow: hidden">
            💳
          </mm-avatar>
        </mm-option-row>
        <mm-menuitem label="을지로 맛집">
          <mm-avatar
            slot="avatar"
            size="large"
            fallback="💳"
            style="background: aliceblue; font-size: 1.5rem"
          ></mm-avatar>
          <mm-checkbox slot="action" name="checkbox" size=""></mm-checkbox>
        </mm-menuitem>
        aira-checked="mixed" aria-contro?ls="1 2"
      </mm-group>
      <mm-separator></mm-separator>
      <mm-titlebar label="새 컬렉션">
        <mm-button slot="action" variant="text">완료</mm-button>
      </mm-titlebar>
      <div style="height: 1rem"></div>
      <mm-textfield label="컬렉션 이름" placeholder="컬렉션 이름"></mm-textfield>
      <div style="height: 0.75rem"></div>
      <!-- aira-checked="mixed" aria-controls="1 2" -->
      <mm-toggle-button-group
        id="button-list"
        options='[
              {"label": "공개", "value": "apple"},
              {"label": "비공개", "value": "banana"}
            ]'
      ></mm-toggle-button-group>
      <br />
      <mm-menuitem label="이 컬렉션에 멤버 추가">
        <mm-avatar slot="avatar" icon="plus"> </mm-avatar>
      </mm-menuitem>
      <mm-separator></mm-separator>
      <mm-titlebar label="멤버 추가">
        <mm-button slot="action" variant="text">완료</mm-button>
      </mm-titlebar>
      <div style="height: var(--space-4)"></div>
      <mm-textfield label="TODO 멤버 검색" placeholder="멤버 이름"></mm-textfield>
      <div style="height: var(--space-4)"></div>
      <mm-text-list texts='["추천", "멤버 오른쪽 체크박스"]'></mm-text-list>
    </div>
  </mm-component-section>
</main>
