:host {
}

.radio {
  --radio-size: var(--size-tiny);
  --radio-color: var(--color-border-stronger);
  --radio-border: 1px solid var(--radio-color);
  --radio-radius: 50%;
  --radio-inset: var(--space-2);

  display: flex;
  align-items: center;
  min-height: var(--size-medium);
  gap: var(--space-2);
  position:relative;
}

.radio label {
  line-height: var(--radio-size);
}

.radio input {
  /* // reset */
  margin: 0;
  background-color: var(--color-background);

  display: block;
  width:var(--radio-size);
  height:var(--radio-size);
  border:var(--radio-border);
  border-radius: var(--radio-radius);
  box-shadow: var(--shadow);
  box-sizing:border-box;
  /* animation:ripple2 0.2s linear forwards; */

  /* TODO pointer cursor on radio container */
  /* cursor: pointer; */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio input:checked {
  --b1: 25.3267% .015896 252.417568;
  --b2: 23.2607% .013807 253.100675;
  background: var(--color-primary);
  border-color: var(--color-primary);

  animation: radiomark var(--animation-input, .2s) ease-out;
  box-shadow:
    0 0 0 4px var(--color-background) inset; 

}

.radio input:disabled {
  opacity:.4;cursor:not-allowed;
}
.radio input:disabled + label {
  opacity:.6;cursor:not-allowed;
}