<main class="page">
  <mm-pageheader title="TextPair" description="텍스트의 쌍"></mm-pageheader>

  <section class="component-example">
    <mm-keyvalue key="keyvalue key text" value="keyvalue value text"></mm-keyvalue>
    <mm-separator></mm-separator>
    <mm-text-pair
      labelText="textpair label text"
      descriptionText="textpair description text"
    ></mm-text-pair>
    <mm-separator></mm-separator>
    <mm-group style="gap: 2rem">
      <div>
        <mm-text variant="label">사이즈</mm-text>
        <mm-text variant="subhead">보통</mm-text>
      </div>
      <div>
        <mm-text variant="label">한글</mm-text>
        <mm-text variant="subhead">작은 거 필요하나</mm-text>
      </div>
      <mm-keyvalue size="large" alignment="column" key="Move" value="562 kcal"> </mm-keyvalue>
    </mm-group>
  </section>
  <section class="component-props">
    <dl>
      <dt>variant<attr>?</attr></dt>
      <dd>'labelWithDescription' | 'KeyValue'</dd>
      <dd>TODO. keyvalue를 포함할 것인지.</dd>
      <dt>labelText</dt>
      <dd>string</dd>
      <dt>descriptionText</dt>
      <dd>string | string[]</dd>
      <dt>alignment<attr>?</attr></dt>
      <dd>inline.......</dd>
    </dl>
  </section>
  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">menuItem. with Avatar.</mm-text>
      <mm-text-list
        texts='["예: ProfileKeyValuePair, FeatureLabelWithDescription.", "KeyValuePair :: Key와 Value가 동일한 위계를 갖는다. 리스트 형태이다. alignment/size", "LabelWithDescription :: Label이 강조된다. size?", "keyvalue 에서 value가 subhead의 형태는 가질 수 있으나 그 역할은 아님. keyvalue는 추상화ㅏ된 컴포넌트이긴 함."]'
      ></mm-text-list>
    </mm-text-group>
  </section>
</main>
