<main class="" style="max-width: 1000px; margin: 0 auto; padding: 0 var(--grid-margin)">
  <nav class="sidebar" style="float: left; width: 100%; max-width: var(--width-tiny); margin-top: 4rem">
    <!-- <button class="sidebar-current tile-elevated" style="width:100%;margin:0 0 1rem 0;text-align:left;font-weight:bold;">
      <span>Avatars</span>
    </button> -->
    <h4 class="sidebar-heading">Visual Informations</h4>
    <div class="item" role="listitem">
      <span class="item-label">Avatars</span>
    </div>
    <div class="item" role="listitem">
      <span class="item-label">Texts</span>
    </div>
    <hr style="margin: 1.5rem 0" />
    <h4 class="sidebar-heading">Interactions</h4>
    <div class="item" role="listitem">
      <span class="item-label">Button</span>
    </div>
    <div class="item" role="listitem">
      <span class="item-label">Chip</span>
    </div>
    <div class="item" role="listitem">
      <span class="item-label">Checkbox</span>
    </div>
  </nav>

  <article class="article" style="max-width: auto; margin: 0; padding-top: 4rem">
    <!-- <aside class="toc" style="margin-bottom:4rem;">
      <h4>Contents</h4>
      <a href="#" class="toc-item" style="display:block;margin-top:var(--space-2);font-size:var(--font-size-medium);">Quickstart</a>
      <a href="#" class="toc-item" style="display:block;margin-top:var(--space-2);font-size:var(--font-size-medium);">Tutorial</a>
    </aside> -->

    <test-tag data-style="primary" style="margin: 0 0 var(--space-2) 0">interaction</span>
    <test-tag style="margin: 0 0 var(--space-1) 0">selection</span>
    <test-text variant="title" title="or Box">Chips</h1>
    <p class="article-kicker">3칼럼으로 우측에 주로 목차가 배치됨.</p>
    <p class="article-description">
      불러 멀리 마디씩 어머님, 자랑처럼 이름과 청춘이 그러나 위에 계십니다. 어머님, 강아지, 옥 남은 듯합니다. 둘 별 이국 위에 계십니다. 가득 어머니
      하나에 계십니다. 나의 위에 파란 겨울이 별 프랑시스 책상을 거외다. 나의 어머니, 별 나는 많은 이름과, 둘 있습니다. 프랑시스 지나가는 애기 추억과
      까닭입니다. 부끄러운 어머니 남은 어머님, 오는 별에도 무성할 아무 계십니다. 별 이런 부끄러운 다 하나 써 하나에 까닭이요, 흙으로 까닭입니다.
    </p>
    <p class="article-description">
      이름자 무덤 속의 봅니다. 것은 어머니, 피어나듯이 아직 잔디가 시인의 비둘기, 이제 나는 듯합니다. 별 이름자를 봄이 가을 쓸쓸함과 오면 가득
      이네들은 있습니다. 그리고 헤는 하나에 어머니, 별 이름과 듯합니다. 내 어머님, 써 속의 부끄러운 않은 다 계십니다. 별들을 너무나 이런 나는 오는 다
      하나에 하나에 지나고 까닭입니다. 내일 이런 무덤 쓸쓸함과 계절이 청춘이 듯합니다. 파란 하나에 이런 별 있습니다. 보고, 사람들의 무성할 별을
      까닭입니다. 그러나 새겨지는 헤일 멀리 별빛이 새워 사랑과 우는 듯합니다.
    </p>
    <test-text variant="subhead">Generate tokens</h2>
    <p class="article-description">
      이름자 무덤 속의 봅니다. 것은 어머니, 피어나듯이 아직 잔디가 시인의 비둘기, 이제 나는 듯합니다. 별 이름자를 봄이 가을 쓸쓸함과 오면 가득
      이네들은 있습니다.
    </p>

    <test-text variant="subhead">References</h2>
    <a href="#">Human Interface Best practices</a>
    <a href="#">Plant Interface Best practices</a>
    <a href="#">Animal Interface Best practices</a>
  </article>
</main>
