<main class="" style="max-width: 560px; margin: 0 auto; padding: 2rem var(--grid-margin)">
  <div class="chat-date">
    <span class="tag">2022년 5월 17일</span>
  </div>
  <div class="chat">
    <figure class="chat-avatar"></figure>
    <div>
      <h5 class="chat-username">수좁이</h5>
      <!-- <time class="chat-time">12:00 am</time> -->
    </div>
    <div class="chat-bubble">
      <p>
        날짜는 버블 밖으로 나와야한다. width fit-content 속성의 브라우저 지원 알아보기. 이름과 날짜를 어떻게 보여줄지가 중요해보임. 리얼타임.. 챗이
        제대로 전송되었는지 상태를 알려주어야 한다. reaction. iMessage에서 날짜는 터치 제스쳐. 1:1대화 / 1:n 대화
      </p>
    </div>
    <div class="chat-bubble">
      <p>
        버블은 역할이 명확하기 때문에 기존 토큰이나 컴포넌트와 별개로 정의하는 것이 좋다. 예를 들면 스포티파이의 Track Row 컴포넌트. 도메인의 특수성이
        고려된 컴포넌트는 재사용성보다 유동성이 중요하다. 또, 버블의 radius는 글로벌 토큰으로 정의할 필요는 없고 컴포넌트 토큰으로 정의해도 충분하다.
        radius의 굴곡에 따른 시각보정이 필요하다. 아바타의 radius도 비율을 맞춰주는 게 보기 좋겠다.
      </p>
    </div>
    <div class="chat-bubble has-image">
      <figure>
        <img src="/public/images/springsteen.jpg" alt="" />
      </figure>
      <time class="chat-time">12:00 am</time>
    </div>
  </div>

  <div class="chat is-mine">
    <figure class="chat-avatar" hidden>
      <img src="/public/images/springsteen.jpg" alt="" />
    </figure>
    <div>
      <h5 class="chat-username">수줍이</h5>
    </div>
    <div class="chat-bubble">
      <p>감사합니다! 아바타와 닉네임 없어도 됨.</p>
      <small class="chat-time chat-bubble-status" role="status">전송됨</small>
    </div>
  </div>
</main>
