<main class="dashboard">
  <style>
    .dashboard {
      height: 100vh;
      padding: 2rem calc(var(--grid-margin) + 80px);
      background-color: var(--gray100);
    }
    .navbar,
    .navbar-backdrop {
      display: none;
    }

    .dashboard-body {
      max-width: 800px;
      margin: 1rem auto;
    }
  </style>
  <header class="dashboard-nav tile-elevated" style="position: fixed; left: var(--space-3); top: 0; bottom: 0">
    <a href="" style="font-size: 1.25rem">🐤</a>
  </header>

  <header class="dashboard-head">
    <h1 class="dashboard-head-title">Dashboard</h1>
  </header>
</main>
