<main class="dashboard">
  <style>
    .dashboard {
      height: 100vh;
      padding: 2rem calc(var(--grid-margin) + 80px);
      background-color: var(--gray100);
    }
    .navbar,
    .navbar-backdrop {
      display: none;
    }

    .dashboard-body {
      max-width: 800px;
      margin: 1rem auto;
    }
  </style>
  <header class="dashboard-nav tile-elevated" style="position:fixed;left:var(--space-3);top:0;bottom:0;">
    <a href="" style="font-size:1.25rem;">🐤</a>
  </header>

  <header class="dashboard-head">
    <h1 class="dashboard-head-title">Dashboard</h1>
  </header>

  <form action="">
    <input type="checkbox" />
    <input type="radio" />
    <hr />
    <select name="" id="">
      <option value=""></option>
    </select>
    <input type="text" placeholder="text" />
    <input type="email" placeholder="email" />
    <input type="password" placeholder="password" />
    <input type="url" placeholder="url" />
    <input type="tel" placeholder="tel" />
    <input type="date" placeholder="date" />
    <input type="time" placeholder="time" />
    <textarea name="" id=""></textarea>
    <input id="myURL" name="myURL" type="url" list="defaultURLs" />
    <datalist id="defaultURLs">
      <option value="https://developer.mozilla.org/"> </option>
      <option value="http://www.google.com/"> </option>
    </datalist>
    <button type="submit">제출</button>
  </form>
</main>
