<main class="authentication delete">
  <header class="authentication-head">
    <h1 class="authentication-head-title">회원 탈퇴</h1>
    <p class="authentication-head-description">디스크립션</p>
  </header>

  <section>
    <h3>이메일이 너무 많이 오나요?</h3>
    <p>내 정보 페이지에서 수신거부 할 수 있어요.</p>
  </section>

  <fieldset class="authentication-fieldset">
    <h3 class="delete-why-title">어떤 점이 불편하셨나요?</h3>
    <p class="delete-why-description">디스크립션.</p>
    <!-- <legend>어떤 점이 불편하셨나요?</legend> -->
    <mm-checkbox>
      <input class="js-check" type="radio" id="delete01" name="delete" />
      <label for="delete01">콘텐츠 품질 및 서비스 정보 불만족</label>
    </div>
    <mm-checkbox>
      <input class="js-check" type="radio" id="delete02" name="delete" />
      <label for="delete02">다른 이메일로 재가입</label>
    </div>
    <mm-checkbox>
      <input class="js-check" type="radio" id="delete03" name="delete" />
      <label for="delete03">너무 많은 이메일을 받고 있음</label>
      <p><a href="#">이메일 설정</a>을 변경할 수 있다는 사실을 알고 계셨나요?</p>
    </div>
    <mm-checkbox>
      <input class="js-check" type="radio" id="delete03" name="delete" />
      <label for="delete03">잦은 시스템 장애</label>
    </div>
    <mm-checkbox>
      <input class="js-check" type="radio" id="delete04" name="delete" />
      <label for="delete04">개인정보 노출 우려</label>
    </div>
    <mm-checkbox>
      <input class="js-check" type="radio" id="delete05" name="delete" value="other" />
      <label for="delete05">기타</label>
      <input type="text" name="other" class="textfield-input" placeholder="제이드" />
    </div>
  </fieldset>
  <footer class="authentication-foot">
    <button class="authentication-foot-submit">계정과 계정 정보를 모두 삭제합니다</button>
    <button class="authentication-foot-back">조금 더 이용해볼게요</button>
  </footer>
</main>
