<main class="component" style="padding-bottom: 8rem">
  <header class="hero">
    <h1 class="hero-title">Dictionary</h1>
    <p class="hero-title">+ ux writing rules + naming conventions</p>
  </header>

  <!-- <p>텍스트컬러를 상속받지 않고 모든 텍스트에 넣어주어야? 또는 a태그에 기본 링크 색을 제거하는 것이.</p>
  <p>align -> direction: vertical | horizontal</p>
  <p>형태 컴포넌트와 역할 컴포넌트를 분류하는 좋은 방법이 없을까.</p>-->

  <div class="tile-elevated" style="max-width: 400px; margin: 0 auto">
    <sds-chip type="primary" size="large" label="테스트"></sds-chip>
    <h3>커스텀 엘리먼트</h3>
    <ul>
      <li>클래스 문법 공부가 되겠다.</li>
      <li>리액트 마이그레이션을 위해 f12.</li>
      <li>style. 웹팩 번들링 되는 스타일을 어떻게 넣어야 하나.</li>
      <li>style. scss include 마찬가지. 번들링과 연관하여.</li>
      <li>style. reset css를 다시 넣어줘야 함. import reset.css?</li>
      <li>extends보다 css variables을 활용해야 함.</li>
      <li>결국 모듈화 방법의 문제.</li>
    </ul>
  </div>

  <div class="dictoinary-item">
    <b>label vs text</b>
    <span>button, checkbox - label (iOS) / text (andriod)</span>
  </div>
  <div class="dictoinary-item">
    <b>행동</b>
    <span>action</span>
  </div>
  <div class="dictoinary-item">
    <b>다중 선택</b>
    <span>multiple selections</span>
  </div>
  <div class="dictoinary-item">
    <b>선택</b>
    <span>choice vs select</span>
  </div>
  <div class="dictoinary-item">
    <span>cancel, delete, remove</span>
  </div>
  <div class="dictoinary-item"><span>leading/tailing vs prefix/surfix</span></div>
  <div class="dictoinary-item">
    <b>목록</b>
    <span>List</span>
  </div>
  <div class="dictoinary-item">
    <b>메뉴 vs 네비게이션</b>
  </div>
  <div class="dictoinary-item">저장 vs 등록</div>
  <div class="dictoinary-item">작업 / 액션 / 실행</div>
  <hr />
  <div class="dictoinary-item"><b>큰 화면은 주로(주로라는 것은 모호한 용어라서 수정하기),</b> <b>PC 또는 태블릿</b></div>
  <div class="dictoinary-item"><b>작은 화면은 주로,</b> <b>모바일</b></div>
  <hr />
  <div class="dictoinary-item"><del>유저</del> <b>사용자</b></div>
  <div class="dictoinary-item"><del>리뷰</del> <b>후기</b></div>
  <div class="dictoinary-item"><del>및/혹은</del> <b>또는</b></div>
  <div class="dictoinary-item"><del>자세히보기/더보기/~보러가기</del> <b>더 알아보기</b></div>
  <hr />
  <div class="dictoinary-item">복합명사는 붙여쓴다/띄어쓴다</div>
  <div class="dictoinary-item">비효율 1: 테마 토글을 위한 인터페이스가 toggle과 switch 2가지 형태. 엘리먼트 속성이 달라짐.</div>
  <hr />
  <div class="dictoinary-item">comment UI vs Review UI. 별점유무. 사진유무. 제목없음.</div>
  <div class="dictoinary-item">버튼 네이밍 케이스. 'link' | 'subtle' | 'primary' / 'solid' | 'outline' | 'plain' |'text'</div>

  <hr />

  <article class="article js-scrollspy-section">
    <h1 class="article-title">Javascript</h1>
    <div class="article-description">
      <p><span></span> early return.</p>
      <p><span></span> isTrue. boolean.</p>
    </div>
  </article>

  <article class="article js-scrollspy-section">
    <h1 class="article-title">React</h1>
    <div class="article-description">
      <p><span></span> event handler naming</p>
    </div>
  </article>

  <article class="article js-scrollspy-section">
    <div class="dictoinary-item">모든 요소에 position: relative; 넣는 것은 어떤가. 과하다. => 컨테이너 요소를 정의하면 해결.</div>

    <ul>
      <li>SCSS/LESS: kebab-case</li>
      <li>JS: PascalCase</li>
      <li>Android: snake_case</li>
      <li>iOS: PascalCase</li>
      <li>강도: none, low, normal, medium, high,max</li>
      <li>tone / shade / tint / subtle intense또는 vibrant더 강렬하고 다채로운 bold / prominent - pronounced 더 눈에 띄는</li>
    </ul>
    <p>
      역할에 근거합니다. 역할 기반의 네이밍. 여러 개의 tag를 감싸는 부모 태그는 tag group이 tags보다 좋고, tag list보다 좋습니다. 컴포넌트, 클래스
      네이밍에 방향(left, right)을 사용하지 마세요. 레이아웃은 변경 가능성이 크기 때문.
    </p>
    <p>21-07-28 chip-label 엘리먼트 항상 사용. space-chip-inset 레이블에 패딩을 주면 아이콘 컨트롤이 쉬워짐.</p>

    <div class="dictoinary-item">
      <p>naming: appearance | theme => style (andriod 코드, iOS 가이드 참고)</p>
      <p>Style prop value must be an objecteslintreact/style-prop-object</p>
      <p>iOS button role action label</p>
      <p>token - utility class</p>
    </div>

    <p>
      The goal isn't "all or nothing"; every improvement you can make will help the cause of accessibility. Using clear language The language you use
      can also affect accessibility. In general, you should use clear language that is not overly complex and doesn't use unnecessary jargon or slang
      terms. This not only benefits people with cognitive or other disabilities; it benefits readers for whom the text is not written in their first
      language, younger people…, everyone, in fact! Apart from this, you should try to avoid using language and characters that don't get read out
      clearly by the screen reader. For example: Don't use dashes if you can avoid it. Instead of writing 5–7, write 5 to 7. Expand abbreviations —
      instead of writing Jan, write January. Expand acronyms, at least once or twice, then use the tag to describe them.
    </p>
    <img src="dinosaur.png" aria-labelledby="dino-label" />

    <p id="dino-label">The Mozilla red Tyrannosaurus…</p>
  </article>
</main>
