<main class="search pattern js-tab" role="" aria-label="site">
  <article class="article">
    <test-text variant="title">Feedback</h1>
    <p class="article-description"></p>

    <ul>
      <li>
        모든 액션에 피드백할 필요는 없습니다. (ex bad case: 인스타그램 앱에서 로그인되었다는 toast. 홈으로 이동과 피드 노출만으로 로그인 상태를 인지할
        수 있다.)
      </li>
    </ul>
  </article>

  <article class="article">
    <!-- <test-text variant="title">Messaging</h1>
    <p class="article-description">형식으로는 inline, toast, modal로 표현할 수 있고,</p> -->

    <test-text variant="subhead">Helper</h2>

    <test-text variant="subhead">Status</h2>
    <p>inline / box</p>

    <test-text variant="subhead">Attention required</h2>
    <test-text variant="subhead">Feedback needed</h2>
  </article>
</main>
