<main class="notifications js-tab">
  <ul>
    <li>
      <b>popover: </b>
      <span>전체 알림 목록을 볼 수 있는 페이지 필요. 모두보기 링크 버튼 필요. </span>
    </li>
    <li><b>modal: </b> <span>전체 알림 목록을 볼 수 있는 페이지 불필요. 모달에서 infinite scroll이나 more load</span></li>
    <li>개별 알림 액션: 읽음처리/삭제/신고.</li>
    <li>전체 알림 액션: 모두 읽은 상태로 표시</li>
    <li>속도를 위해 알림 컴포넌트가 간결하게 만들 수 있다. 전체를 하나의 클릭 영역으로 정의하고, 콘텐츠와 작성자를 분리하지 않고 텍스트 더미로.</li>
  </ul>
  <!-- 
  <button class="navbar-notification-trigger" aria-haspopup="true" aria-expanded="false">
    <span class="material-symbols-outlined">notifications</span>
    <em>new</em>
  </button> -->

  <header class="titlebar js-titlebar" role="navigation" style="padding-left: 0; padding-right: 0">
    <div class="titlebar-background"></div>
    <h1 class="titlebar-title js-page-title" title="page title">알림</h1>
    <button class="titlebar-back" onclick="javascript:window.location.href='/';">
      <figure class="titlebar-back-icon material-symbols-outlined" title="이전 페이지로">arrow_back</figure>
      <!-- <figure class="titlebar-back-icon material-symbols-outlined">close</figure> -->
      <!-- <span class="titlebar-back-label">뒤로</span> -->
    </button>
    <button class="titlebar-action" style="color: var(--color-primary)">
      <figure class="titlebar-action-icon" hidden></figure>
      <span class="titlebar-action-label">편집</span>
    </button>
  </header>

  <nav class="tablist type-t" role="tablist" aria-label="sample tabs" style="margin-bottom: var(--space-3); z-index: 7">
    <button class="tablist-tab" role="tab" aria-selected="true" aria-controls="panel-2" id="tab-2" tabindex="-1">좋아요</button>
    <button class="tablist-tab" role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">코멘트</button>
    <i class="tablist-indicator"></i>
  </nav>

  <div class="notification-filter stack" style="margin-bottom: var(--space-3)">
    <button class="chip is-active"><span class="chip-label">모두</span></button>
    <button class="chip"><span class="chip-label">읽지않음</span></button>
  </div>

  <div class="notification notification-list" style="margin-left: 0; padding-bottom: 8rem">
    <menu class="notification-menu">
      <test-tile variant="elevated">
        <article class="item" data-size="medium">
          <figure class="item-avatar"></figure>
          <b class="item-name">응암동 주간 인기글</b>
          <time class="item-time" style="margin-left: var(--space-2); color: var(--color-text-light)">5일 전</time>
          <p style="width: 100%; margin: var(--space-2) 0; line-height: var(--line-height)">
            '송명섭 막걸리 6도 750m...' 외 1개 상품이 오늘 도착예정입니다~
          </p>
        </article>
      </test-tile>
      <test-tile variant="elevated">
        <article class="item" data-size="medium">
          <figure class="item-avatar"></figure>
          <b class="item-name">오늘의 주요 종목 종가</b>
          <time class="item-time" style="margin-left: var(--space-2); color: var(--color-text-light)">5시간 전</time>

          <p style="width: 100%; margin: var(--space-2) 0; line-height: var(--line-height)">HSD 엔진 -2.4%</p>
        </article>
      </test-tile>
    </menu>

    <footer style="margin: var(--space-4) 0 0 0">
      <button class="link-outside">
        <span class="">더 보기</span>
      </button>
    </footer>

    <section class="empty" role="status">
      <h2 class="empty-title">최근 알림 메세지가 없습니다.</h2>
    </section>
  </div>
</main>
