<!-- // invoice랑 구분 -->
<main class="order">
  <header class="order-head">
    <h1 class="order-head-title"></h1>
    <p class="order-head-description"></p>
  </header>

  <ul>
    <li>주문 하나에 여러 개의 상품 vs 하나의 상품</li>
    <li>order detail: 결제 정보. 주문자 정보.</li>
  </ul>
  <section>
    <div class="statistic-item">
      <i class="statistic-label">배송중</i>
      <span class="statistic-value">4</span>
    </div>
    <div class="statistic-item">
      <i class="statistic-label">주문완료</i>
      <span class="statistic-value">15</span>
    </div>
    <div class="statistic-item">
      <i class="statistic-label">취소/교환/환불</i>
      <span class="statistic-value">1</span>
    </div>
  </section>

  <section class="order-detail">
    <div class="order-detail-item">
      <h2>배송지정보</h2>
    </div>
    <div class="order-detail-item">
      <h2>결제정보</h2>
      <p>카드 간편결제</p>
      <b>53,800원</b>
      <p>현대(5121-****-****-****) 일시불</p>
    </div>
  </section>
</main>
