<main class="tokens">
  <section class="tokens-body">
    <article class="article js-scrollspy-section">
      <test-text variant="title">Vertical Scrolling</h1>
      <p class="article-description">작성 중.</p>

      <p>aka. carousel, slider,</p>
      <p>cases. chip group, item group. item의 갯수가 많지 않을 때는 스크롤을 통한 탐색이 더 유용할 수 있다.</p>

      <blockquote>
        <p>
          -webkit-appearance: slider-vertical slider<br />CSS 속성에서 사용하기 때문에 slider보다 carousel로 명명하는 것이 더 좋음. input type="range"
          형태를 slider 또는 stepper로 명명하는 경우를 고려.
        </p>
      </blockquote>
    </article>
  </section>
</main>
