<main class="tokens">
  <section class="tokens-body">
    <article class="article js-scrollspy-section">
      <h1 class="article-title">Texts</h1>
      <p class="article-description">작성 중.</p>

      <p>sequentially-descending order</p>

      <h4 class="article-subhead">용어 정의 및 분류</h4>
      <p>제목 heading - title / subhead / caption</p>
      <p>본문 body</p>
      <!-- <li>kicker/overline</li> -->

      <h4 class="article-subhead">디지털 환경의<br />타이포그래피 일반</h4>
      <ul>
        <li>폰트마다 기준선이 다르기 때문에 섞어짤 때 또는 폰트를 변경할 때 주변 요소와 부모 요소에 맞춰 시각보정이 필요할 수 있습니다.</li>
        <li>한 줄은 24px(small size token)의 line-height를 갖는 것이 좋은가?</li>
        <li>블로그, 뉴스 기사 등 긴 글의 텍스트 페이지의 폰트 크기는 기본값(?)보다 크다.</li>
        <li>텍스트는 주변의 엘리먼트에 강하게 영향을 받기 때문에 주변 요소와 연동해서 추상화 변수를 활용합니다.</li>

        <li>todo. x-height가 낮은 영문 폰트와 섞어짤 때.</li>
      </ul>

      <h4 class="article-subhead">Best practices</h4>
      <ul>
        <li>태그라인은 작은 화면에서도 임팩트를 줄 있도록 작성 단계에서 행갈이를 고려하세요. 글자의 수와 단어의 수를 제한하고 개행 조건을 정의하세요.</li>
        <li>long-form content에서 truncate-multiple은 항상 2줄로 자릅니다.</li>
        <li>truncated heading. 제목을 자르는 것을 허용할 것인가? 허용하지 않을 것인가?</li>
        <li>섹션은 항상 제목을 가져야 한다. 시각적으로 숨겨지지 않은 명시적인 텍스트 노드를. 제목을 포함하는 섹션 컴포넌트를 활용할 수 있다.</li>
        <!-- <li>프로모션 페이지의 헤드라인으로 제한적으로 사용합니다.</li> -->
      </ul>

      <h4 class="article-subhead">Stat과 Summary의 차이</h4>

      <p class="article-subhead">텍스트 모듈</p>
      <p>본문은 왼끝 맞추기(오른끝 흘리기). 가운데 정렬은 상태 또는 결과 맥락.</ㅔ>

      <h4 class="article-subhead">들여쓰기</h4>
      <p>작은 화면에서 공간의 활용도를 높이기 위해 단락의 왼쪽에서 들여쓰지 않습니다. 단락의 상하 간격을 충분히 활용합니다.</p>

      <h4 class="article-subhead">텍스트의 강조</h4>
      <ul>
        <!-- <li>
          strong 태그는 의미론적 강조. mark, u, em, b, strong. 문장 안에서 텍스트를 두 가지 방법으로 강조할 수 있습니다. <mark>이렇게</mark>와 <u>이렇게</u></li> -->
        <li>
          단락에 포함된 단어 또는 구문을 underline, <del>bold</del>, primary color로 강조하지 않습니다. underline과 pirmary colored text는 <mark>클릭할 수 있는</mark> 기표입니다.
        </li>
      </ul>
    </article>
  </section>
</main>
