<main class="component" style="padding-bottom: 8rem">
  <!-- <header class="hero">
    <h1 class="hero-title">Utilities</h1>
    <p class="hero-title">테스트.</p>
  </header> -->

  <section class="component-body">
    <article class="article" date-temp="검색 결과">
      <test-text variant="title">OptionType</p>
      <p>OptionType[]. Option Group 또는 Choice Group ? 컴포넌트는 항상 동일한</p>
    </article>

    <article class="article" date-temp="">
      <test-text variant="title">Classes</p>
      <div class="dictoinary-item">linebreaker-desktop</div>
      <div class="dictoinary-item">linebreaker-mobile</div>
      <div class="dictoinary-item">animation-stopper-resize</div>
      <div class="dictoinary-item">hidden</div>
      <div class="dictoinary-item">removed hover style</div>
    </article>

    <article class="article" date-temp="">
      <test-text variant="title">Mixins</p>
    </article>
  </section>
</main>
