<main class="component">
  <!-- ChangeEvent / FormEvent -->
  <article class="article js-scrollspy-section">
    <test-text variant="title">CSS</test-text>
    <test-text variant="body-large">작성 중.</test-text>

    <div class="token-group">
      <div class="token-item">
        <b>inline</b>
        <p>
          <span class="icon-indicator material-symbols-outlined"> error </span>
          <span hidden="">가입하지 않은 이메일이거나??</span>
          잘못된 비밀번호입니다.
        </p>
        <div>
          <p>인터넷연결오류: toast + callout</p>
        </div>
      </div>
    </div>

    <test-text variant="subhead">Errors</test-text>
    <div class="token-group">
      <div class="token-item">
        <b>globally</b>
        <div>
          <p>인터넷연결오류: toast + callout</p>
          <p>인터넷연결시도 이벤트 알아보기 => online / offline을 다시 요청?</p>
        </div>
      </div>
      <div class="token-item">
        <b>locally</b>
        <div><p>데이터패칭, 랜더링: result 컴포넌트</p></div>
      </div>
    </div>

    <test-text variant="title">Indicators / Signifier와</test-text>
    <section class="component-example">
      <div class="token-item">
        <figure class="chip-icon"><span class="material-symbols-outlined">search</span></figure>
      </div>
      <div class="token-item">
        <menu class="sorting-group">
          <span class="sorting-title">Sort by</span>
          <div class="sorting-item">
            <select class="" id="">
              <option value="select-option1">최신순</option>
            </select>
            <span class="icon-indicator material-symbols-outlined" role="img">arrow_drop_down</span>
          </div>
        </menu>
        <button class="title-button">
          <h1 class="hero-title" style="display: flex; align-items: center">
            Dummies
            <span class="icon-indicator material-symbols-outlined" data-size="small" role="img">arrow_drop_down</span>
          </h1>
        </button>
        <button style="display: flex; align-items: center; line-height: 24px">
          See more trending developers
          <span class="icon-indicator material-symbols-outlined">arrow_right_alt</span>
        </button>
        <button class="" style="display: flex; align-items: center; line-height: 24px; position: relative">
          Show more
          <span class="icon-indicator material-symbols-outlined">expand_more</span>
        </button>
      </div>
    </section>
  </article>
</main>
