<main class="page">
  <mm-text-group variant="title">
    <mm-text variant="title">Text</mm-text>
    <mm-text variant="body-large">
      Typography helps establish hierarchy and communicate important content by creating clear
      visual patterns.
      <div class="js-counter" data-number="234">234</div>
      단어(word)" → "구(phrase)" → "문장(sentence)" → "문단(paragraph)"
      <p>TextGroup, ContentGroup, TextStack</p>
      <p>subhead는 단독으로 쓰이지 않음</p>
    </mm-text>
  </mm-text-group>
  <!-- Truncate for secondary text that isn’t essential to a user’s comprehension of steps to take. Examples include dynamic data ad IDs in tables, lists of user names, and Pin titles that come from outside sources. Use an ellipsis or a link that indicates there is more content available. -->

  <!-- summary list gov.uk -->
  <!-- Use a summary list to summarise information, for example, a user’s responses at the end of a form. -->
  <!-- 이걸 세팅 등 결과 값 패턴에도 쓰는 구나. -->
  <!-- last updates :: multiple summary lists -->
  <!-- ‘key’ that’s a description or label of a piece of information, like “Name”
‘value’ which is the piece of information itself, such as “John Smith” -->
  <!-- summary list - row / column -->
  <!-- ally -->
  <!-- To give more context, add visually hidden text to the links. This means a screen reader user will hear the row action and the ‘key’ label for the information it will affect, like ‘Change name’ or ‘Change date of birth’. -->

  <!-- Write link text for card actions to tell the user what the card action will do and that it will apply to the entire summary card. It should also be as short as possible, usually 2 words.

Example card actions include:

Remove tenant
Edit qualification
Update issue
Approve application
Cancel order -->

  <!-- Task List 라는 확장된 형태 -->
  <!-- 키벨류 구조는 결국 아바타랑 쓸 수도 있는.. / mindsphere  -->
  <!-- The value can be:
Plain text single line
Plain text multiline
Array of items, for example lists, categories (tags or badges)
Image
Video
Any generic entity, lists, tables or another key value pair
3. Supporting visual

The font size of a key is never bigger than the value.
 -->
  <!-- 사이트맵 / 메가메뉴 -->
  <!-- expressive type  / productive type 표현 영역 -->

  <!-- labels for captions and helper text, as well as legal copy -->
  <!-- ibm / body / body-compact 2px 차이, Fluid heading styles-->

  <section class="component-example">
    <div>
      <mm-text variant="title">heading1, title</mm-text>
      <mm-text variant="subhead">heading2, subhead</mm-text>
      <mm-text variant="body-bold">heading3</mm-text>
      <mm-text variant="label">label, light</mm-text>
      <mm-separator></mm-separator>
      <mm-text variant="body">body</mm-text>
      <mm-text variant="body-large">body large</mm-text>
      <mm-text variant="body-bold">body bold - button & meta</mm-text>
      <p>title은 도큐먼트의 타이틀 또는 타이틀 속성과 구분하기 위해 사용하지 않기. heading,</p>
      <p>sentence, caption, tagline</p>
      <mm-separator></mm-separator>
      <mm-text variant="word">word</mm-text>
      <mm-text variant="word-weak">word-weak</mm-text>
      <mm-text variant="word-strong">word-strong</mm-text>
      <mm-text variant="word-large">word-large</mm-text>
      <mm-separator></mm-separator>
      <!-- TODO link, text button일 수도 있다. -->
      <section style="display: flex; flex-direction: column; gap: var(--space-2)">
        <mm-row gap="var(--space-1)">
          <mm-icon name="pipe-3d"></mm-icon>
          <mm-text variant="body">궁금증이 해결되지 않는다면?</mm-text>
          <mm-link>지금 문의하기</mm-link>
        </mm-row>
        <mm-row>
          <mm-icon name="pipe-3d"></mm-icon>
          <mm-text variant="body">Something's not right?</mm-text>
          <mm-link>Get in touch with us.</mm-link>
        </mm-row>
      </section>

      <mm-separator></mm-separator>

      <div class="product-info-price" role="suggestion">
        <del class="product-info-price-deletion" role="deletion">₩ 30,000</del>
        <b class="product-info-price-insertion" role="insertion">₩ 20,000</b>
        <em class="product-info-price-percentage">(30%)</em>
      </div>

      <mm-separator></mm-separator>

      <mm-group style="gap: 2rem">
        <div style="">
          <mm-text variant="label">사이즈</mm-text>
          <mm-text variant="word-large">보통</mm-text>
        </div>
        <div style="">
          <mm-text variant="label">한글</mm-text>
          <mm-text variant="subhead">작은 거 필요하나</mm-text>
        </div>
        <div style="">
          <mm-text variant="label">Move</mm-text>
          <mm-text variant="title">562 kcal</mm-text>
        </div>
      </mm-group>

      <mm-separator></mm-separator>

      <p class="util-truncate">
        이런 생각을 한 건 다들 식탁에 앉은 후였고,<br />나는 재미있는 고래잡이 이야기를 들을 기대에
        부풀었다. 그런데 이거 참 놀랍게도 거의 모두가 깊은 침묵에 잠겼다. 그것도 모자라 다들
        난감해하는 눈치였다. 아니, 폭풍우가 몰아치는 가운데 엄청나게 큰 고래, 그것도 생전 처음 보는
        고래를 수줍은 기색 없이 잡아 올리고 눈도 깜빡하지 않은 채 사투를 벌여서 죽이는 용맹한
        바닷사람들이 직업도 똑같고 취향까지 비슷한 사람들이 모여 앉은 아침 식탁에서는 그린 산맥의
        목장을 한 번도 떠나 본 적 없는 양 떼마냥 부끄러워하며 서로를 힐끔거릴 뿐이었다. 이 얼마나
        희한한 광경인가! 숫기 없는 곰, 소심한 전사 같은 고래잡이들이라니! ...
        <button style="font-weight: var(--font-weight-bold)">더 보기</button>
      </p>

      <mm-separator></mm-separator>

      <nav style="display: flex; gap: 4rem">
        <mm-text variant="" hidden aria-hidden="true">사이트맵</mm-text>
        <mm-group alignment="vertical">
          <mm-text variant="subhead">사이트맵 컴포넌트</mm-text>
          <mm-text variant="label" href="#">샘플</mm-text>
          <mm-text variant="label" href="#">사이트맵 </mm-text>
          <mm-text variant="label" href="#">사이트맵 샘플</mm-text>
          <mm-text variant="label" href="#">사이트맵 컴포넌트 샘플</mm-text>
        </mm-group>
        <mm-group alignment="vertical">
          <mm-text variant="subhead">level attr=1</mm-text>
          <mm-text variant="label" href="#">level attr=2</mm-text>
          <mm-text variant="label" href="#">level attr=2</mm-text>
          <mm-text variant="label" href="#">level attr=2</mm-text>
          <mm-text variant="label" href="#">level attr=2</mm-text>
        </mm-group>
        <mm-group alignment="vertical">
          <mm-text variant="subhead">꺼이꺼이</mm-text>
          <mm-text variant="subhead">호이호이</mm-text>
        </mm-group>
      </nav>

      <mm-separator></mm-separator>
      <ul style="margin: 0">
        <li>순서가 없는 리스트</li>
        <li>순서가 없는 리스트</li>
      </ul>

      <ol style="margin: var(--space-3) 0">
        <li>순서가 있는 리스트</li>
        <li>순서가 있는 리스트</li>
      </ol>

      <mm-text-list texts='["mm-text-list 1", "mm-text-list 1"]'> </mm-text-list>
    </div>
  </section>
  <section class="component-props">
    <dl>
      <dt>variant ?? level</dt>
      <dd>'title' | 'subhead' | 'body' | 'body-large'</dd>
      <dt>lineHeight</dt>
      <dd>'small' | 'medium'</dd>
      <dd>TODO. 단어나 구문용을 추가하는 것이 좋을지.</dd>
      <dt>truncatedLine<attr>?</attr></dt>
      <dd>'single' | 'multi'</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-list texts="[]">
      <li>
        텍스트 목록만 리스트 태그(ul, ol, dl)로 마크업하세요. 그렇지 않으면 대부분의 컨텐츠가
        리스트로 취급될 수 있음. role=listbox/listitem
      </li>
      <li>
        텍스트 목록을 2 댑스(nested)로 제공하지 마세요. 중첩된 목록은 콘텐츠를 읽기 어렵게 하며 작은
        화면에서는 공간을 낭비.
      </li>
      <li>
        지금보다 주문 확인 등에서는 조금 더 눈에 띄는 형태가 필요하며, 푸터 등에서는 덜 강조된
        형태가 필요하다. 굉장히 다양하게 정의해두는 것이 좋도 있겠지만 제약을 해 봄.
      </li>
      <li>text dense, help text :: Form fields, metadata, secondary info</li>
      <li>description list - set :: term / description</li>
      <li>text group이 있으면 좋다. paragraph group.</li>
      ' 태그라인은 작은 화면에서도 임팩트를 줄 수 있도록 작성 단계에서 행갈이를 고려하세요. 글자의
      수와 단어의 수를 제한하고 개행 조건을 정의하세요.'
    </mm-text-list>

    <mm-text-group>
      <mm-text variant="subhead">용어 정의 및 분류</mm-text>
      <ul>
        <li>제목 heading - title / subtitle / subhead / caption (label)</li>
        <li>subheading</li>
        <li>본문 body - paragraph / label, help text</li>
        <li>kicker/overline/eyebrow</li>
      </ul>
    </mm-text-group>

    <mm-text-group>
      <mm-text variant="subhead">Utilities. - Truncated.</mm-text>
      <mm-text variant="body"> long-form content. truncate-multiple은 항상 2줄.</mm-text>
      <mm-text variant="body">제목을 자르는 것을 허용할 것인가? 허용하지 않을 것인가?</mm-text>
    </mm-text-group>

    <mm-text-group>
      <mm-text variant="subhead">디지털 환경의<br />타이포그래피 규칙</mm-text>
    </mm-text-group>

    <mm-text-list
      texts='[
    "폰트마다 기준선이 다르기 때문에 섞어짤 때 또는 폰트를 변경할 때 주변 요소와 부모 요소에 맞춰 시각보정이 필요할 수 있다. 텍스트는 주변의 엘리먼트에 강하게 영향을 받기 때문에 주변 요소와 연동해서 추상화 변수를 활용할 수 있다.",
    "블로그, 뉴스 기사 등 텍스트 기반의 콘텐츠 페이지를 위한 body 폰트 크기가 필요하다.",
    "message: 사용자, description: 시스템",
  ]'
    >
    </mm-text-list>
    <mm-text-group>
      <mm-text variant="subhead">텍스트 모듈</mm-text>
      <mm-text variant="body">
        본문은 왼끝 맞추기(오른끝 흘리기). 사용자의 주목을 요할 때, 또는 맥락의 전환을 표현하기 위해
        콘텐츠 모듈을 가운데 정렬할 수 있다. ex) result component
      </mm-text>
    </mm-text-group>

    <mm-text-group>
      <mm-text variant="subhead">들여쓰기</mm-text>
      <mm-text variant="body">
        단락의 위 아래 간격을 활용합니다. 작은 화면에서 공간 활용을 위해 좌측 들여쓰기 하지
        않습니다. TODO 그렇다면, 이 간격은 어떻게 정의할 것인가?
      </mm-text>
    </mm-text-group>

    <mm-text-group>
      <mm-text variant="subhead">텍스트의 강조</mm-text>
      <mm-text variant="body-bold">형태적 강조 :: mark, u, em, b</mm-text>
      <mm-text variant="body-bold">의미론적 강조 ::strong - 개인정보처리방침 등</mm-text>
      <mm-text variant="body">
        단락에 포함된 단어나 구문을 underline, <del>bold</del>, primary color로 강조하지 마세요.
        우리는 underlined와 pirmary colored text를 <mark>clickable</mark>로 엄격하게 정의하고
        있습니다.
      </mm-text>
    </mm-text-group>

    <mm-text-group>
      <mm-text variant="subhead">Stat과 Summary의 차이</mm-text>
      <ul>
        <li>clickable / non-clickable</li>
      </ul>
    </mm-text-group>

    <mm-tile>
      <p>이 문서가 도움이 되었나요?</p>
      <small title="17 out of 439 found this helpful"> 417명 중 349명이 도움을 받았어요. </small>
      <mm-group variant="">
        <mm-button>도움이 됐어요</mm-button>
        <mm-button>부족해요</mm-button>
      </mm-group>
    </mm-tile>
  </section>

  <section class="hero">
    <div class="hero-obj">
      <div class="hero-obj1"></div>
      <div class="hero-obj2"></div>
      <div class="hero-obj3"></div>
    </div>
    <mm-text variant="title">히어로 섹션 제목</mm-text>
    <mm-text variant="body-large" truncated="true">
      이런 생각을 한 건 다들 식탁에 앉은 후였고, 나는 재미있는 고래잡이 이야기를 들을 기대에
      부풀었다. 그런데 이거 참 놀랍게도 거의 모두가 깊은 침묵에 잠겼다.
    </mm-text>
    <footer class="hero-actions" style="margin: 2rem 0 0">
      <mm-button variant="primary" size="large">콜 투 액션</mm-button>
      <mm-button variant="text" size="large">더 알아보기</mm-button>
    </footer>
  </section>

  <section class="component-case">
    <mm-tile>
      <header
        style="
          height: var(--size-large);
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <mm-text variant="subhead">내 요금제</mm-text>
        <button style="color: var(--color-primary); font-weight: bold; text-decoration: underline">
          요금제 변경하기
        </button>
      </header>
      <mm-tile>
        <div
          style="
            padding: 1rem;
            box-sizing: border-box;
            border-radius: var(--radius);
            background: var(--color-background-weak);
            text-align: center;
          "
        >
          택배사에 직접 연락하지 않아도<br />영업일 기준 3일 이내에 방문합니다.
          <small style="display: block; margin: var(--space-2) 0 0">방문 택배사 : 한진택배</small>
        </div>
        <mm-text-list texts="[]">
          <li>
            환불은 반품상품 도착 이후 결제방법에 따라 진행됩니다. 상품에 이상이 있는 경우는
            반품처리가 되지 않을 수도 있으며, 이 경우 고객센터에서 연락을 드립니다.
          </li>
        </mm-text-list>
      </mm-tile>
    </mm-tile>

    <div
      style="
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: var(--space-4);
        gap: var(--space-2);
        background-color: var(--color-background);
        border-radius: var(--radius);
        width: 160px;
      "
    >
      <mm-text variant="title">266</mm-text>
      <div style="margin-top: -0.75rem"><mm-text variant="body">NETWORKS</mm-text></div>
    </div>
    <progress class="progress is-normal" value="40" max="100">40%</progress>
  </section>
</main>
