<main class="tokens">
  <article class="article js-scrollspy-section">
    <test-text variant="title">Texts</test-text>
    <test-text variant="body-large">작성 중.</test-text>

    <test-text>message, description,</test-text>
    <test-text>p와 ul, dl 등은 항상 텍스트.</test-text>
    <test-text>paragraph와 name?value?(size lineheight-one line)의 variation</test-text>
    <test-text>
      dl variant: 'summary' | 'statistic' | 'suggestion', size: 'medium' | 'large' / onClick?
    </test-text>

    <section class="component-example">
      <test-text variant="title">heading1, title</test-text>
      <test-text variant="subhead">
        <p style="margin-bottom: -0.5rem">heading2, subhead</p>
      </test-text>
      <test-text variant="label">heading3, label</test-text>
      <test-text variant="body-large">body1 (large)</test-text>
      <test-text variant="body">body2</test-text>
      <test-text variant="body-bold">body bold - button & meta</test-text>

      <test-separator></test-separator>

      <footer style="display: flex; flex-direction: column; gap: var(--space-2)">
        <div style="display: flex; align-items: center; gap: var(--space-1)">
          <i class="iconoir-pipe-3d"></i>
          궁금증이 해결되지 않는다면?
          <test-link>지금 문의하기</test-link>
        </div>
        <div style="display: flex; align-items: center; gap: var(--space-1)">
          <i class="iconoir-pipe-3d"></i>
          Something's not right?
          <test-link>Get in touch with us.</test-link>
        </div>
      </footer>

      <br />
      <test-separator></test-separator>

      <test-text>EuiDescriptionList is a component for listing pairs of information together. You can use the component on its own, passing in an object for the list.</test-text>
      <test-text>type: column | inline</test-text>
      <section class="summary">
        <div class="summary-item">
          <div class="summary-item-label">상품 금액</div>
          <div class="summary-item-value">₩ 160,000</div>
        </div>
        <div class="summary-item">
          <div class="summary-item-label">서비스 수수료</div>
          <div class="summary-item-value">₩ 3,000</div>
        </div>
        <div class="summary-total">
          <div class="summary-total-label">총 합계 (KRW)</div>
          <div class="summary-total-value">₩ 163,000</div>
        </div>
      </section>

      <test-separator></test-separator>

      <section class="summary">
        <div class="summary-item">
          <div class="summary-item-label" style="font-weight: var(--font-weight-bold)">
            서비스 수수료
          </div>
          <div class="summary-item-value" style="font-weight: var(--font-weight-bold)">3,000원</div>
        </div>
        <div class="summary-item">
          <div
            class="summary-item-label"
            style="font-weight: var(--font-weight-bold); color: var(--color-primary)"
          >
            서비스 수수료
          </div>
          <div
            class="summary-item-value"
            style="font-weight: var(--font-weight-bold); color: var(--color-primary)"
          >
            ₩ 3,000
          </div>
        </div>
        <footer style="margin: var(--space-4) 0 0 0">
          <test-button variant="primary">구매 확정하고</test-button>
        </footer>
      </section>

      <test-separator></test-separator>

      <div class="statistic">
        <test-group>
          <test-text variant="label">Metadata</test-text>
          <test-text variant="body">description list</test-text>
        </test-group>
        <test-group>
          <test-text variant="label">Metadata</test-text>
          <test-text variant="body">description list</test-text>
        </test-group>
        <test-group>
          <test-text variant="label">Repository</test-text>
          <test-text variant="body-bold">100만 이상</test-text>
        </test-group>
        <test-group>
          <test-text variant="label">Size</test-text>
          <test-text variant="body-bold">Small</test-text>
        </test-group>
      </div>

      <test-separator></test-separator>

      <div class="product-info-price" role="suggestion">
        <del class="product-info-price-deletion" role="deletion">₩ 30,000</del>
        <b class="product-info-price-insertion" role="insertion">₩ 20,000</b>
        <em class="product-info-price-percentage">(30%)</em>
      </div>

      <test-separator></test-separator>

      <test-group style="gap:2rem;">
        <div>
          <test-text variant="label">Repository</test-text>
          <test-text variant="subhead">100만 이상</span>
        </div>
        <div>
          <test-text variant="label">Size</test-text>
          <test-text variant="subhead">Small</test-text>
        </div>
        <div>
          <test-text variant="label">한글</test-text>
          <test-text variant="subhead">한글로 시작</test-text>
        </div>
      </test-group>

      <test-separator></test-separator>

      <test-group style="gap:2rem;">
        <div class="statistic-item">
          <test-text variant="label">Size</test-text>
          <test-text variant="body-bold">Small</test-text>
        </div>
        <div class="statistic-item">
          <test-text variant="label">Repository</test-text>
          <test-text variant="body-bold">TODO with avatar. line height.</test-text>
        </div>
      </test-group>

      <test-separator></test-separator>

      <p class="util-truncate">
        이런 생각을 한 건 다들 식탁에 앉은 후였고, 나는 재미있는 고래잡이 이야기를 들을 기대에
        부풀었다. 그런데 이거 참 놀랍게도 거의 모두가 깊은 침묵에 잠겼다. 그것도 모자라 다들
        난감해하는 눈치였다. 아니, 폭풍우가 몰아치는 가운데 엄청나게 큰 고래, 그것도 생전 처음 보는
        고래를 수줍은 기색 없이 잡아 올리고 눈도 깜빡하지 않은 채 사투를 벌여서 죽이는 용맹한
        바닷사람들이 직업도 똑같고 취향까지 비슷한 사람들이 모여 앉은 아침 식탁에서는 그린 산맥의
        목장을 한 번도 떠나 본 적 없는 양 떼마냥 부끄러워하며 서로를 힐끔거릴 뿐이었다. 이 얼마나
        희한한 광경인가! 숫기 없는 곰, 소심한 전사 같은 고래잡이들이라니!
        <button style="font-weight: var(--font-weight-bold)">더 보기</button>
      </p>

      <test-separator></test-separator>

      <nav>
        <div class="sitemap-background"></div>
        <test-text varinat="" hidden aria-hidden="true">사이트맵</test-text>
        <test-group alignment="vertical">
          <test-text variant="label">사이트맵 컴포넌트</test-text>
          <test-link href="#">사이트맵 컴포넌트 샘플</test-link>
          <test-link href="#">사이트맵 컴포넌트 샘플</test-link>
          <test-link href="#">사이트맵 컴포넌트 샘플</test-link>
        </test-group>
      </nav>

      <test-separator></test-separator>
      
      <ul style="margin: 0">
        <li>순서가 없는 리스트</li>
        <li>순서가 없는 리스트</li>
      </ul>

      <ol style="margin: var(--space-3) 0">
        <li>순서가 있는 리스트</li>
        <li>순서가 있는 리스트</li>
      </ol>
      <!-- <ul data-align="horizontal" style="margin: 0">
          <li title="unordered list, level 1">순서가 없는 리스트</li>
          <li style="margin: 0 2rem 0 1rem">가로로 정렬할 수 있어요</li>
          <li>조건이 있어요</li>
        </ul> -->
      <ul>
        <li>
          텍스트 목록만 리스트 태그(ul, ol, dl)로 마크업하세요. 그렇지 않으면 대부분의 컨텐츠가
          리스트로 취급될 수 있음. role=listbox/listitem
        </li>
        <li>
          텍스트 목록을 2 댑스(nested)로 제공하지 마세요. 중첩된 목록은 콘텐츠를 읽기 어렵게 하며
          작은 화면에서는 공간을 낭비.
        </li>
        <li>todo. checklist.</li>
      </ul>

    <section class="hero" style="max-width: 560px">
      <test-text variant="title">Hero heading</test-text>
      <test-text variant="body-large" class="article-description">
        이런 생각을 한 건 다들 식탁에 앉은 후였고, 나는 재미있는 고래잡이 이야기를 들을 기대에
        부풀었다. 그런데 이거 참 놀랍게도 거의 모두가 깊은 침묵에 잠겼다.
      </test-text>
      <footer class="hero-actions" style="margin: 1.5rem 0 0">
        <test-button variant="primary" href="#components">Call to action</test-button>
        <test-button variant="text">더 알아보기</test-button>
      </footer>
    </section>
    </section>

    <p>sequentially-descending order</p>

    <test-text variant="subhead">Truncated</test-text>
    <test-text variant="body">long-form content. truncate-multiple은 항상 2줄.</test-text>

    <test-text variant="subhead">용어 정의 및 분류</test-text>
    <ul>
      <li>제목 heading - title / subtitle / subhead / caption (label)</li>
      <li>본문 body - body large / body</li>
      <li>kicker/overline/eyebrow</li>
    </ul>

    <test-text variant="subhead">디지털 환경의<br />타이포그래피 일반</test-text>
    <ul>
      <li>
        폰트마다 기준선이 다르기 때문에 섞어짤 때 또는 폰트를 변경할 때 주변 요소와 부모 요소에 맞춰
        시각보정이 필요할 수 있습니다.
      </li>
      <li>한 줄은 24px(small size token)의 line-height를 갖는 것이 좋은가?</li>
      <li>블로그, 뉴스 기사 등 긴 글의 텍스트 페이지의 폰트 크기는 기본값(?)보다 크다.</li>
      <li>
        텍스트는 주변의 엘리먼트에 강하게 영향을 받기 때문에 주변 요소와 연동해서 추상화 변수를
        활용합니다.
      </li>
      <li>todo. x-height가 낮은 영문 폰트와 섞어짤 때.</li>
    </ul>

    <test-text variant="subhead">Best practices</test-text>
    <ul>
      <li>
        태그라인은 작은 화면에서도 임팩트를 줄 있도록 작성 단계에서 행갈이를 고려하세요. 글자의 수와
        단어의 수를 제한하고 개행 조건을 정의하세요.
      </li>
      <li>제목을 자르는 것을 허용할 것인가? 허용하지 않을 것인가?</li>
      <li>
        섹션은 항상 제목을 가져야 한다. 시각적으로 숨겨지지 않은 명시적인 텍스트 노드를. 제목을
        포함하는 섹션 컴포넌트를 활용할 수 있다.
      </li>
      <!-- <li>프로모션 페이지의 헤드라인으로 제한적으로 사용합니다.</li> -->
    </ul>

    <test-text variant="subhead">Stat과 Summary의 차이</test-text>
    <ul>
      <li>clickable / non-clickable</li>
    </ul>

    <test-text variant="subhead">텍스트 모듈</test-text>
    <test-text variant="body">
      본문은 왼끝 맞추기(오른끝 흘리기). 가운데 정렬은 상태 또는 결과 맥락에 사용하여 사용자의
      주목을 높입니다.
    </test-text>

    <test-text variant="subhead">들여쓰기</test-text>
    <test-text variant="body">
      작은 화면에서 공간 활용을 위해 왼쪽에서 들여쓰지 않습니다. 단락의 위 아래 간격을 활용합니다.
    </test-text>

    <test-text variant="subhead">텍스트의 강조</test-text>
    <ul>
      <li>
        strong 태그는 의미론적 강조에만 사용합니다. mark, u, em, b, strong. 문장 안에서 텍스트를 두
        가지 방법으로 강조할 수 있습니다.
        <mark>이렇게</mark>와
        <u>이렇게</u>
      </li>
      <li>
        단락에 포함된 단어나 구문을 underline, <del>bold</del>, primary color로 강조하지 않습니다.
        underline과 pirmary colored text는 <mark>클릭할 수 있는clickable</mark> 기표입니다.
      </li>
    </ul>

    <aside class="help-feedback tile-elevated">
      <p class="help-feedback-title">이 문서가 도움이 되었나요?</p>
      <small class="help-feedback-status" title="17 out of 439 found this helpful"
        >417명 중 349명이 도움을 받았어요.</small
      >
      <footer style="display: flex">
        <test-chip class="help-feedback-button">도움이 됐어요</test-chip>
        <test-chip class="help-feedback-button">부족해요</test-chip>
      </footer>
    </aside>
    <ul>
      <li>todo countup</li>
      <li>role=suggestion/deletion/insertion]</li>
    </ul>
  </article>

  <section class="section-example">
    <test-card>
      <article slot="entire" class="overview-item" style="position: relative">
        <test-text variant="body">수신</test-text>
        <test-tag style="position: absolute; right: 1rem; top: 0.875rem">태그</test-tag>
        <test-text variant="title">
          1,508
          <small style="font-size: var(--font-size-medium); vertical-align: super">90%</small>
        </test-text>
        <div class="meter">
          <div class="meter-track">
            <b class="meter-thumb" style="width: 68%"></b>
          </div>
          <span class="meter-text">200GB 중 115.72GB 사용</span>
        </div>
      </article>
    </test-card>

    <div class="graph" style="border: var(--border); border-radius: var(--radius)">
      <div class="graph-title">
        1월 26일 <em>컴퓨터통신 분야</em>에서는<br /><em>7백명의 지식iN</em>들이 답변하셨습니다.
      </div>
      <div class="graph-item">
        <span class="graph-item-value">40%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">10대</span>
      </div>
      <div class="graph-item">
        <span class="graph-item-value">30%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">20대</span>
      </div>
      <div class="graph-item">
        <span class="graph-item-value">20%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">30대</span>
      </div>
      <div class="graph-item">
        <span class="graph-item-value">10%</span>
        <div class="graph-item-bar"></div>
        <span class="graph-item-label">40대</span>
      </div>
    </div>

    <test-card>
      <article slot="entire" class="meter">
        <h1 class="meter-title">200 GB 중 187.23 GB 사용됨</h1>
        <div class="meter-graph">
          <div class="meter-graph-item" data-type="facebook" style="width: 40%"></div>
          <div class="meter-graph-item" data-type="twitter" style="width: 30%"></div>
          <div class="meter-graph-item" data-type="instagram" style="width: 7%"></div>
        </div>
        <div class="meter-legend">
          <div class="meter-legend-item">
            <i class="meter-legend-item-color" data-type="facebook"></i>
            <test-text variant="body" class="meter-legend-item-title">페이스북</test-text>
            <test-text variant="body" class="meter-legend-item-value">800,000원</test-text>
          </div>
          <div class="meter-legend-item">
            <i class="meter-legend-item-color" data-type="twitter"></i>
            <test-text variant="body" class="meter-legend-item-title">트위터</test-text>
            <test-text variant="body" class="meter-legend-item-value">800,000원</test-text>
          </div>
          <div class="meter-legend-item">
            <i class="meter-legend-item-color" data-type="instagram"></i>
            <test-text variant="body" class="meter-legend-item-title">핀터레스트</test-text>
            <test-text variant="body" class="meter-legend-item-value">800,000원</test-text>
          </div>
        </div>
      </article>
    </test-card>
  </section>

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Links</test-text>
    <test-text variant="body-large"
      >사용자 여정 목적지. 페이지 이동. destination that can be bookmarked. 정보 확장 기능은 따로
      정의해야 함.</test-text
    >

    <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd title="">Anchor</dd>
    </dl>

    <section class="component-example">
      <p style="display: flex; flex-wrap: wrap; gap: var(--spae-2)">
        형무소 안에서는 소장의 말이 곧 법이었으며 죄수들의 잘못과 실수는 결코 용납되지 않는다.
        어머니의 사망 소식을 듣고 인해 2번이나 탈옥을 시도했다가 체포된
        <test-link href="#">루크</test-link>의 발에 쇠통이 채워지며 루크는…<test-link href="#"
          >더 보기</test-link
        >
      </p>
      <br />
      <div>
        <a href="">이것은헤시태그</a>
        <a href="">해시태그는클릭할수있다?</a>
        <a href="">해시태그를통한검색</a>
      </div>
    </section>

    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>style</dt>
        <dd>'inside' | 'outside'</dd>
        <dd>
          단락 내부와 외부에서의 형태를 구분합니다. 단락 내부에서는 본문 텍스트와 대비를 높이기 위해
          언더라인을 표시합니다. 불필요해보이는 규칙.
        </dd>
        <dt>href?</dt>
        <dd>string</dd>
        <dd>NNNNN</dd>
        <dt>isExternal<attr>?</attr></dt>
        <dd>boolean</dd>
        <dd>속성들... target=_blank rel=noopener noreferrer</dd>
      </dl>
    </section>
    <test-text variant="body">text button과의 차이. 항상 텍스트 단락과 함께 사용합니다.</test-text>

    <p>
      <button style="display: flex; align-items: center; gap: 0.5rem; color: var(--color-primary)">
        View More <test-icon name="nav-arrow-down"></test-icon>
      </button>
      <button style="display: flex; align-items: center; gap: 0.5rem; color: var(--color-primary)">
        View Less <test-icon name="nav-arrow-up"></test-icon>
      </button>
    </p>
  </article>
</main>
