

.meter {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.meter-track {
  height: 0.5rem;
  background-color: var(--color-background-weak);
  border-radius: var(--radius);
  overflow: hidden;
  flex: auto;
  /* margin: 0 var(--space-2); */
  /* position: relative; */
}
.meter-thumb {
  display: block;
  width: 90%;
  height: inherit;
  background: var(--color-accent);
}
.meter-text {
  display: block;
  font-size: 12px;
}

/* .meter-title {
  margin: 0 0 var(--space-1) 0;
  @mixin text-subhead;
}

.meter-status {
  @mixin text-title;
} */

.meter-graph {
  display: flex;
  gap: .25rem;

  padding: var(--space-1);
  border-radius: var(--radius);
  background: var(--color-background-weak);

  /* position: absolute;
  left: var(--space-1-minus);
  right: var(--space-1-minus);
  top: var(--space-1-minus);
  bottom: var(--space-1-minus); */
}

.meter-graph-item {
  height: var(--size-tiny);
  border-radius: var(--radius);
}

.meter-legend {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
  max-width: var(--width-medium);
  margin: 0 auto;
}
.meter-legend test-text[variant=word] {margin-left:auto}
.meter-legend-item {
  display: flex;
  align-items: center;
  position: relative;
}
/* .meter-legend-item:before {content:'';display:block;width:100%;border-bottom:1px dotted #ccc;position:absolute;z-index:-1;} */
.meter-legend-item-color {
  display: block;
  width: var(--size-tiny);
  height: var(--size-tiny);
  border-radius: var(--radius);
  margin: 0 var(--space-2) 0 0;
}

.meter [data-type=facebook] {
  background: var(--color-facebook);
}
.meter [data-type=twitter] {
  background: var(--color-twitter);
}
.meter [data-type=instagram] {
  background: var(--color-pinterest);
}

.graph {padding:1rem 0 4rem;text-align:center;position:relative;}
.graph-title {padding:16px 5%;}
.graph-item {display:inline-block;width:48px;height:100px;margin:0 .5rem;border-radius:var(--radius);background:var(--color-background-weak);position:relative;}
.graph-item-bar {height:30px;border-radius:0 0 var(--radius) var(--radius);background:var(--red800);position:absolute;left:0;right:0;bottom:0;}
.graph-item-value {font-size:var(--font-size-small);text-align:center;color:var(--color-text);position:absolute;left:0;right:0;bottom:32px;}
.graph-item-label {display:block;font-size:var(--font-size-small);text-align:center;position:absolute;left:0;right:0;bottom:-1.5rem;}


.graph-label {
  display: block;
  width: 46px;
  font-weight: var(--font-weight-normal);
}
.graph-value {
  width: 1.75rem;
  text-align: right;
  color: var(--color-text-light);
}


.hero {padding:4rem var(--grid-margin) 6rem;position:relative;z-index:var(--zindex-default);}
.hero-background {@mixin bleeding;background:inherit;}
.hero-eyebrow {display:block;margin:0 0 var(--space-2) 0;font-weight:var(--font-weight-bold);color:var(--color-primary);}
.hero-title {@mixin text-title;}
.hero-description {margin:var(--space-after-title) 0 0 0;@mixin text-body-large;}
.hero-actions {@mixin hero-actions;}
.hero-action {display:flex;}
.hero-action-primary {@mixin hero-actions-primary;}
.hero-action-secondary {@mixin hero-actions-secondary;}

.hero-object1 {
  width:160px;height:160px;overflow:hidden;
  background:url('/public/images/me-min_800x.png') center;background-size:cover;
  border-radius:var(--radius);
  /* position:absolute;right:var(--grid-margin);top:1rem; */
  filter: grayscale(1);
}
.hero-object2 {width:100%;max-width:360px;z-index:1;position:absolute;right:calc(var(--grid-margin) + 5rem);top:3rem;pointer-events:none;}
.is-observed .hero-eyebrow {animation:fadeup var(--animation-duration) .1s backwards;}
.is-observed .hero-title {animation:fadeup var(--animation-duration) var(--animation-delay-first) backwards;}
.is-observed .hero-description {animation:fadeup var(--animation-duration) var(--animation-delay-second) backwards;}
.is-observed .hero-actions {animation:fadeup var(--animation-duration) var(--animation-delay-third) backwards;}
.is-observed .hero-object1 {animation:bounceY 2s ease infinite alternate;}
.is-observed .hero-object2 {animation:bounceY 4s ease infinite alternate;}

/* // .hero-obj1 {position:absolute;right:-1rem;top:1rem;width:40px;height:40px;background:var(--color-accent);border-radius:50%;}
// .hero-obj2 {position:absolute;right:480px;bottom:-2rem;width:80px;height:80px;background:var(--color-accent);border-radius:50%;}
// .hero-obj3 {position:absolute;right:420px;top:24px;width:16px;height:16px;background:#0057ff;border-radius:50%;}
// .hero-obj4 {position:absolute;right:0;top:-9rem;width:32rem;transform:scale(0);}
// .is-observed .hero-obj1 {animation:scaleout .4s ease .8s both;}
// .is-observed .hero-obj2 {animation:scaleout .4s ease 1.4s both;}
// .is-observed .hero-obj3 {animation:scaleout .4s ease 1.2s both;}
// .is-observed .hero-obj4 {animation:scaleout .4s ease 1s both;} */

@media (--small) {
  .hero-obj1, .hero-obj2, .hero-obj3, .hero-obj4 {display:none;}
  .hero-obj4 {top:-18rem;right:-2rem;}
}

@media (--small) {
	/* // .hero {max-width:1080px;margin:0 auto;} */
	.hero-object1 {display:none;}
	.hero-object2 {display:none;}
}


.block:not(:last-child) {
  margin-bottom: 1.5rem;
}