<main class="page">
  <mm-pageheader
    title="PasswordField"
    description="웹 컴포넌트 생성 아직 안 됨. Textfield 샘플."
  ></mm-pageheader>

  <section class="component-example">
    <div style="max-width: 400px">
      <div style="display: flex; flex-direction: column; gap: var(--space-3)">
        <mm-textfield type="password" label="Password field">
          <mm-icon-button
            slot="suffix"
            icon="eye-solid"
            aria-label="비밀번호 보기"
          ></mm-icon-button>
        </mm-textfield>
      </div>
    </div>

    <mm-separator></mm-separator>

    <section>
      <div class="validation-item validation1">8 - 12 characters / 8 characters minimum</div>
      <div class="validation-item validation2">
        One lowercase character / One uppercase character / One Number
      </div>
      <div class="validation-item validation3">One special character</div>
      <div class="validation-item validation4">동일한 문자 6개 연속</div>
    </section>
    <div class="textfield">
      <label class="textfield-label" for="signup-password-confirm">비밀번호 확인</label>
      <input
        class="textfield-input js-password-test"
        type="password"
        id="signup-password-confirm"
        placeholder="6자리 이상"
      />
      <mm-button variant="tertiary" class="js-view-password" type="button">비밀번호 보기</mm-button>
    </div>

    <style>
      .validation-item {
        display: flex;
        align-items: center;
        gap: var(--space-2);
      }
      .is-valid1 .validation1 {
        color: red;
      }
      .is-valid2 .validation2 {
        color: red;
      }
      .is-valid3 .validation3 {
        color: red;
      }
      .is-valid4 .validation4 {
        color: red;
      }
      .is-valid5 .validation5 {
        color: red;
      }
    </style>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <dt>name</dt>
      <dd>string</dd>
      <dt>label</dt>
      <dd>string</dd>
      <dt>isHiddenLabel<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>value</dt>
      <dd>string</dd>
      <dt>placeholder</dt>
      <dd>string</dd>
      <dt>isAutoFocus<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>onChange<attr>?</attr></dt>
      <dd>(event: React.ChangeEvent&lt;HTMLInputElement&gt;) => void</dd>
      <dt>onKeyDown<attr>?</attr></dt>
      <dd>(event: KeyboardEvent&lt;HTMLInputElement&gt;) => void</dd>
      <dt>onFocus<attr>?</attr></dt>
      <dd>(event: React.FocusEvent&lt;HTMLInputElement&gt;) => void</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text variant="body">RevealButton</mm-text>
      <mm-text variant="body">카드번호, 주민등록번호 뒷자리 등의 마스킹 처리가 필요한 필드</mm-text>
      <mm-text variant="body">input password의 native reset button</mm-text>
      <mm-text variant="body"
        >비밀번호 확인 필드를 사용하지 않으려면, 리빌 버튼을 필수로 제공해야 한다. 국내 서비스에는
        익숙하지 않은 경험. 또는 다른 인풋을 배제하고 하나의 인풋만 노출해서 사용자의 집중도를
        높여주기.</mm-text
      >
    </mm-text-group>
  </section>
  <address class="component-references">
    <mm-link
      href="https://support.google.com/accounts/answer/32040?visit_id=637702064644854938-965259796&p=pw_dont_reuse&hl=ko&rd=1"
    >
      구글의 비밀번호 만들기 팁꾸
    </mm-link>
  </address>
</main>
