<main class="component" role="" aria-label="site">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Layout</test-text>
    <test-text variant="body-large">
      group의 자식 엘리먼트의 크기와 연동하는 네이밍 vs 역할에 근거하는 네이밍
    </test-text>
    <test-text variant="body-large">
      group의 role이 navigation이나 tab이 될 때의 시멘틱 마크업 방식.
    </test-text>
    <!-- <dl class="article-aka">
      <dt>a.k.a.</dt>
      <dd title="">Alert</dd>
      <dd title="">Modal</dd>
      <dd title="lightning">Prompt</dd>
    </dl> -->

    <section class="component-example"></section>

    <section class="component-guide">
      <test-text variant="subhead">소제목</test-text>
      <test-text variant="body"> 내용 </test-text>
    </section>
  </article>
</main>
