<main class="component" role="" aria-label="site">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Layout</test-text>
    <test-text variant="body-large">
      group의 자식 엘리먼트의 크기와 연동하는 네이밍 vs 역할에 근거하는 네이밍
    </test-text>
    <test-text variant="body-large">
      group의 role이 navigation이나 tab이 될 때의 시멘틱 마크업 방식.
    </test-text>
    <test-text variant="body-large">
      사용자의 화면 크기를 한정하지 마세요. 새로운 플랫폼이나 새로운 디바이스가 출시되더라도 빠르게
      대응할 수 있어야 합니다. 일정한 크기가 아니라 환경에 구애받지 않는 경험과 인터페이스를
      설계한다는 태도가 필요합니다.
    </test-text>

    <blockquote>
      <li>
        Presentation style="modal | toast | sheet" ... 이렇게 되면 윈도우 사이즈가 변경될 때 props를
        변경해주어야 함.
      </li>
    </blockquote>
    <ul>
      <li>fixed layout / fluid layout</li>
      <li>
        page container가 padding? page head에 따라 page의 padding.pagehead의 마이너스 마진을 활용할
        수도.
      </li>
      <li>
        왜 디자이너들은 작업판의 크기 정의를 어려워 하는가? => 375px 등의 고정된 가로 크기는
        편의상의 정의. 실제 사용자의 문제를 해결하거나 사용자의 화면을 아름답고 편리하게 만드는 게
        아닌 디자이너 자신의 디자인 툴을 사용하기 쉽게 만드는 일. 내가 만든 대시보드에서 자동으로
        말줄임표를 만든다거나... 등등 이것이 무슨 문제를 해결하는가? 말줄임표가 발생하면 레이블의
        의미를 전달하지 못 하기 때문에 또 다른 솔루션의 필요해짐. 엄격한 ux writing 가이드 만드는
        일이 유아이 툴의 자동화보다 중요한 일이 되어야 함. +
      </li>
    </ul>

    <test-text variant="title">Container</test-text>
    <test-text variant="body-large">컨테이너의 레벨에 따라 자식 컴포넌트 결정.</test-text>

    <test-text variant="subhead">Section level (section, aside) / Paper</test-text>
    <test-text variant="body">
      섹션 컴포넌트가 가질 수 있는 컴포넌트는? tab / title / description / CTA / item list / article
      levels
    </test-text>

    <test-text variant="subhead">Article Level</test-text>
    <test-text variant="body">
      아티클 컴포넌트는 실험의 대상이 되어 변경이 자주 발생. 특수한 이름을 부여(또는 컴포넌트화).
      다른 컴포넌트와의 의존도를 낮춰야 함. 하나의 아이템.
    </test-text>
    <test-text variant="body">
      아티클 컴포넌트가 가질 수 있는 컴포넌트는? subhead / description / filtering contents - chip
      group / entity list
    </test-text>

    <p>
      그룹 . column 상하 간격 또는 세로 크기와 checkbox의 기본 클릭 영역의 조절. radio가 타일안에
      잇을때
    </p>

    <test-text variant="subhead">Group Level (List)</test-text>
    <test-text variant="body">콘텐츠와 연결되어 액션이나 보조.</test-text>
    <test-text variant="subhead">
      소음. 목표. 우선순위. 중요한 문제에 집중. 비판적인 관점. 정보 필터링. 주식투자도 마찬가지.
    </test-text>
    <br /><br />
    <test-text variant="body">
      <b>디지털 프로덕에 엄격한 그리드 시스템은 소음이다.</b> 디자인 이론에 근거한 그리드 시스템,
      예를 들면 12칼럼 그리드를 사용하면 코드 환경에서 사용자의 다양하고 예측 불가능한 화면 크기에
      대응하기 어렵다. 그리드 시스템은 디자이너에게만 유효하게 동작한다. 장점이 없음. 2~4개의 칼럼을
      가지는 레이아웃 케이스와 간격 시스템을 정의하고 가로 스크롤을 활용. 대안 솔루션도 작성하가.
    </test-text>
    <test-text variant="body">
      디자인시스템이라는 용어 자체가 소음이다. 스타일가이드 또는 유아이라이브러리가 디자인시스템으로
      불린다.
    </test-text>
    <section class="component-guide">
      <test-text variant="subhead">소제목</test-text>
      <test-text variant="body"> 내용 </test-text>
    </section>
  </article>
</main>
