body {letter-spacing:-.3px;}
body.fixed {overflow:hidden;}

/* Slider */
.slick-slider { position:relative; }
.slick-list { position: relative; display: block;overflow-x:hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-list{ -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.slick-slide{ display: none; float: left; height: 100%; min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-initialized .slick-slide{ display: block;}


.icon-hamberger {display:block;width:16px;height:2px;margin:auto;background:#000;position:relative;}
.icon-hamberger:before {content:'';display:block;width:100%;height:2px;background:#000;position:absolute;left:50%;top:-5px;transform:translate(-50%,0);}
.icon-hamberger:after {content:'';display:block;width:100%;height:2px;background:#000;position:absolute;left:50%;top:5px;transform:translate(-50%,0);transition:all .2s ease;}


/* header */
.header {position:fixed;left:0;right:0;top:0;z-index:1100;}
.header-inbox {max-width:1240px;height:120px;margin:0 auto;padding:0 5%;box-sizing:content-box;overflow:hidden;position:relative;}
.header-logo {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
.header-logo img {width:100%;}
.header-user {float:right;overflow:hidden;margin-top:50px;}
.header-user a {float:left;font-size:15px;color:#fff;margin-left:15px;}
.header-socials {float:left;overflow:hidden;margin-top:45px;}
.header-socials a {float:left;display:block;margin-right:20px;}
.header-backdrop {height:120px;}
/* .header .default {display:block;}
.header .over {display:none;} */

.navigation {border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2);position:fixed;left:0;right:0;top:120px;z-index:1000;}
.navigation .inner {max-width:1240px;height:52px;margin: 0 auto;position:relative;z-index:1001;}
.navigation .gnb {font-size:0;}
.navigation .gnb li {display:inline-block;width:184px;position:relative;}
.navigation .gnb li:nth-of-type(2) {width:220px;}
.navigation .gnb li:nth-of-type(7) {width:100px;}
.navigation .gnb li > a {display:block;font-size:17px;line-height:52px;color:#fff;}
.navigation .gnb li:hover > a {color:#262626;}
.navigation .gnb li:hover div {background:#fff;}
.navigation .gnb li div {width:100%;opacity:0;visibility:hidden;height:0px;transition:all .3s;position:absolute;top:53px;left:1px;right:0;z-index:1000;}
.navigation .gnb li:first-child div {width:179px;}
.navigation .gnb li div a {display:block;font-size:15px;line-height:32px;color:#464646;font-weight:300;}
.navigation .gnb li div a:hover {color:#c59b5c;}
.navigation .gnb li div a:first-child {border-top:none;}

.navigation-bg {height:0;overflow:hidden;background:#fff;box-sizing:border-box;transition:all .2s;position:absolute;margin-top:0px;left:0;right:0;z-index:999;}
.navigation-backdrop {height:56px;}

/* 네비게이션이 열렸을 때 */
.is-opened-navigation .header {background:#fff;}
.is-opened-navigation .header .default {display:none}
.is-opened-navigation .header .over {display:block;}
.is-opened-navigation .header .header-user a {color:#262626;}
.is-opened-navigation .navigation {border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:#fff;}
.is-opened-navigation .navigation .gnb li a {color:#262626;}
.is-opened-navigation .navigation .gnb li div {opacity:1;padding:12px 0;visibility:visible;height:358px;}
.is-opened-navigation .navigation-bg {height:550px;border-bottom:1px solid #dadada;}


/*  상단 고정 헤더 */
.is-fixed-header .header {background:#fff;}
.is-fixed-header .header .default {display:none}
.is-fixed-header .header .over {display:block;}
.is-fixed-header .header .header-user a {color:#262626;}
.is-fixed-header .navigation {border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:#fff;}
.is-fixed-header .navigation .gnb li a {color:#262626;}
.is-fixed-header .navigation-bg {background:#fff;position:fixed;left:0;right:0;top:0;}



.footer {padding:60px 5% 65px;box-sizing:border-box;background:#262626;}
.footer-inbox {width:100%;max-width:1400px;margin:0 auto;overflow:hidden;}
.footer-logo {float:left;width:250px;}
.footer-address {float:left;width:800px;margin-left:50px;font-size:14px;line-height:1.8;color:#777;}
.footer-address .item {margin-right:30px;}
.footer-address .block {display:block;}
.footer-terms {float:right;width:300px;margin-top:4px;}
.footer-terms a {margin-left:35px;color:#8d8d8d;}


@media (max-width:1401px) {
  .footer-logo {width:100%;text-align:center;}
  .footer-address {width:100%;margin:1rem 0;text-align:center;}
  .footer-address .item {margin:0 12px;}
  .footer-terms {float:right;width:100%;margin:40px 0 10px;text-align:center;}
  .footer-terms a {margin:0 24px;color:#8d8d8d;}
}

@media (max-width:1241px) {
	.header {border-bottom:1px solid #dcdcdc;}
	.header {position:fixed;left:0;right:0;top:0;}
	.header-inbox {height:80px;}
	.header-logo {width:200px;}
	.header-user {display:none;margin-top:16px;line-height:48px;}
	.header-socials {display:none;}

	.navbar-burger {display:block;width:48px;height:48px;background:#f7f7f7;border:1px solid #dcdcdc;position:absolute;left:5%;top:16px;}

	.navigation {height:auto;border-top:1px solid #dcdcdc;background:#fff;position:fixed;left:0;right:0;top:-100%;bottom:100%;overflow:auto;}
	.navigation .inner {max-width:100%;}
	.navigation .gnb {}
	.navigation .gnb li {display:block;border-bottom:1px solid #dcdcdc;position:relative;}
	.navigation .gnb li:nth-of-type(1),
	.navigation .gnb li:nth-of-type(2),
	.navigation .gnb li:nth-of-type(3),
	.navigation .gnb li:nth-of-type(4),
	.navigation .gnb li:nth-of-type(5),
	.navigation .gnb li:nth-of-type(6),
	.navigation .gnb li:nth-of-type(7) {width:100%;}
	.navigation .gnb li > a {padding:0 5%;text-align:left;color:#262626;}
	.navigation .gnb li:hovr div {background:#fff;}
	.navigation .gnb li div {width:100%;position:static;left:auto;right:auto;top:auto;bottom:auto;}
	.navigation .gnb li:first-child div {width:100%;}
	.navigation .gnb li div a {display:block;padding:5px 5%;color:#464646;}

	.navigation .gnb li.on div {padding:0 0 16px 0;opacity:1;visibility:visible;height:auto;}


	.is-opened-navigation-mobile .icon-hamberger {background:transparent;}
	.is-opened-navigation-mobile .icon-hamberger:before {transform:rotate(45deg) translate(0,0);left:0px;top:50%;}
	.is-opened-navigation-mobile .icon-hamberger:after {transform:rotate(-45deg) translate(0,0);left:0px;top:50%;}
	.is-opened-navigation-mobile .header .default {display:none}
	.is-opened-navigation-mobile .header .over {display:block;}
	.is-opened-navigation-mobile .header-logo {display:none;}
	.is-opened-navigation-mobile .header-socials {display:block;margin-top:0;position:fixed;right:5%;top:32px;}
	.is-opened-navigation-mobile .header-user {display:block;margin-top:0;line-height:60px;position:fixed;left:0;right:0;top:80px;}
	.is-opened-navigation-mobile .header-user a {float:left;display:block;width:50%;margin:0;border-bottom:1px solid #e6e6e6;text-align:center;color:#262626;}
	.is-opened-navigation-mobile .header-user a:first-child {border-right:1px solid #e6e6e6;}
	.is-opened-navigation-mobile .navigation {padding-top:140px;transform:translateY(100%);}
	/* .header {width:100%;background:#fff;position:fixed;left:0;right:0;top:0;z-index:1500;}

	.navigation {display:none;} */
	.footer-address .item {display:block;margin:0;}
}

