@font-face {
	font-family: 'S-CoreDream-5Medium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-CoreDream-6Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* main visual */
.main-visual {height:940px;}
.main-visual-inbox {}
.main-visual-slide {height:1000px;position:relative;}
.main-visual-slide .inbox {max-width:1240px;margin:0 auto;padding:375px 5% 0;box-sizing:content-box;position: relative;}
.main-visual-slide .inbox h1 {font-size:54px;line-height:76px;letter-spacing:-.3px;color:#fff;}
.main-visual-slide .inbox p {margin:55px 0 0 0;font-weight:300;color:#c7c7c7;}
.main-visual-slide .inbox p b {font-weight:var(--font-weight-bold);color:#fff;position:relative;}
.main-visual-slide .inbox p b:before {content:'';display:block;width:4px;height:4px;border-radius:50%;background:#c79f62;position:absolute;top:-8px;left:5px;}
.main-visual-slide:nth-last-of-type(1) {background:url('../images/main-visual/visual_1.png') no-repeat center top;}
.main-visual-slide:nth-last-of-type(2) {background:url('../images/main-visual/visual_1.png') no-repeat center top;}
.main-visual-slide:nth-last-of-type(3) {background:url('../images/main-visual/visual_1.png') no-repeat center top;}
/* .main-visual > div { height:100vh;background:#000;cursor:pointer; } */
.main-visual .slick-dots { position:absolute; left:50%; bottom:140px; width:100%; transform:translateX(-50%); font-size:0; text-align:center; }
.main-visual .slick-dots li { display:inline-block; padding:0px 5px; }
.main-visual .slick-dots li button { width:10px; height:10px; font-size:0; border:2px solid #FFF; background:none; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; outline:0px; }
.main-visual .slick-dots li.slick-active button { background-color:#FFF; border:0px; transition:0.2s; }


.main-hero {}
.main-hero-form {width:100%;max-width:1240px;height:78px;margin:-39px auto 0;background:#fff;overflow:hidden;box-shadow:2px 2px 16px rgba(0,0,0,.1);font-size:19px;position: relative;z-index:var(--zindex-default);}
.main-hero-form .title {float:left;width:189px;padding-left:25px;border-right:1px solid #e2e2e2;box-sizing:border-box;font-size:19px;font-weight:var(--font-weight-bold);line-height:78px;}
.main-hero-form .title img {margin-right:10px;vertical-align:-2px;}
.main-hero-form .name {float:left;width:180px;border-right:1px solid #e2e2e2;}
.main-hero-form .name input {width:100%;height:78px;padding-left:25px;box-sizing:border-box;border:0;font-size:inherit;line-height:78px;color:#999;}
.main-hero-form .category {float:left;width:180px;padding-left:25px;box-sizing:border-box;border-right:1px solid #e2e2e2;}
.main-hero-form .category select {width:90%;height:78px;border:0;font-size:inherit;color:#999;}
.main-hero-form .tel {float:left;width:340px;padding-left:25px;box-sizing:border-box;}
.main-hero-form .tel span {color:#242424;}
.main-hero-form .tel input {width:80px;height:78px;border:0;text-align:right;}
.main-hero-form .agree {float:left;width:200px;}
.main-hero-form .agree label {font-size:14px;line-height:78px;}
.main-hero-form .agree label b {margin-left:5px;text-decoration:underline;}
.main-hero-form button {float:right;display:block;width:144px;height:78px;background:#c59b5c;border:0;font-size:inherit;font-weight:var(--font-weight-bold);color:#fff;}


.main-special {margin-top:-39px;padding:179px 0 130px;background:url('../images/main/main-special-bg.png') no-repeat center top #f6f6f6;}
.main-special-inbox {max-width:1400px;margin:0 auto;}
.main-special-inbox header {text-align: center;}
.main-special-inbox header span {font-size:14px;color:#c79f62;letter-spacing:5px;text-transform:uppercase;}
.main-special-inbox header h1 {margin:20px 0 65px 0;font-size:44px;font-weight:var(--font-weight-bold);}
.main-special-list {width:100%;overflow:hidden;}
.main-special-list a {float:left;display:block;height:370px;color:#fff;text-align:center;position:relative;}
.main-special-list a > div {width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.main-special-list a span {font-family:'Open Sans';font-size:12px;letter-spacing:5px;color:rgba(255,255,255,.8);text-transform:uppercase;}
.main-special-list a span:after {content:'';display:block;width:20px;height:1px;margin:20px 0;background:rgba(255,255,255,.4)}
.main-special-list a h2 {margin:0 0 12px 0;font-weight:var(--font-weight-bold);font-size:28px;}
.main-special-list a p {font-size:17px;line-height:25px;font-weight:300;}

.main-special-list a:nth-of-type(1) {width:935px;padding:120px 80px;box-sizing:border-box;background:url('../images/main/main-special1.png') no-repeat right bottom #c59b5c;text-align:left;}
.main-special-list a:nth-of-type(1) span {}
.main-special-list a:nth-of-type(1) span:after {}
.main-special-list a:nth-of-type(1) h2 {}
.main-special-list a:nth-of-type(1) p {} 

.main-special-list a:nth-of-type(2) {width:465px;background:url('../images/main/main-special2.png') no-repeat right bottom;background-size:101% auto;}
.main-special-list a:nth-of-type(2) span {}
.main-special-list a:nth-of-type(2) span:after {margin-left:auto;margin-right:auto;}
.main-special-list a:nth-of-type(2) h2 {}
.main-special-list a:nth-of-type(2) p {} 

.main-special-list a:nth-of-type(3) {width:465px;background:url('../images/main/main-special3.png') no-repeat right bottom;}
.main-special-list a:nth-of-type(3) span {}
.main-special-list a:nth-of-type(3) span:after {margin-left:auto;margin-right:auto;}
.main-special-list a:nth-of-type(3) h2 {}
.main-special-list a:nth-of-type(3) p {} 

.main-special-list a:nth-of-type(4) {width:935px;background:url('../images/main/main-special4.png') no-repeat right bottom;background-size:102% auto;}}
.main-special-list a:nth-of-type(4) span {}
.main-special-list a:nth-of-type(4) span:after {margin-left:auto;margin-right:auto;}
.main-special-list a:nth-of-type(4) h2 {}
.main-special-list a:nth-of-type(4) p {} 


.main-system {padding:125px 5% 130px;}
.main-system-inbox {max-width:1400px;margin:0 auto;}
.main-system header {text-align:center;}
.main-system header span {font-size:14px;color:#c79f62;letter-spacing:5px;text-transform:uppercase;}
.main-system header h1 {margin:20px 0 0 0;font-size:44px;font-weight:var(--font-weight-bold);color:#242424;}
.main-system-list {width:100%;overflow:hidden;}
.main-system-list div {float:left;width:33.3333%;box-sizing:border-box;text-align:center;}
.main-system-list div figure {height:390px;position:relative;}
.main-system-list div figure img {position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.main-system-list div span {font-family:'S-CoreDream-5Medium';font-size:18px;color:#222;}
.main-system-list div h2 {font-family:'S-CoreDream-6Bold';margin:12px 0 25px;font-size:32px;color:#c79f62;}
.main-system-list div p {font-size:17px;line-height:23px;color:#6b6b69;}
.main-system-list div a {display:inline-block;width:164px;height:34px;margin-top:40px;line-height:34px;text-align:center;border-radius:30px;border:1px solid #696969;font-size:13px;}
.main-system-list div a span {display:inline-block;width:12px;height:1px;margin-right:12px;vertical-align:4px;background:#232323;}
.main-system-list div:nth-of-type(1) figure img {left:25%;}
.main-system-list div:nth-of-type(2) {border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;}



.main-review {padding:125px 0;background:url('../images/main/main-review-bg.png') no-repeat center top #333;}
.main-review-inbox {max-width:1240px;margin:0 auto;position:relative;}
.main-review header {text-align:center;}
.main-review header span {color:#c59b5c;letter-spacing:5px;text-transform:uppercase;}
.main-review header h1 {margin:20px 0 0 0;font-size:44px;font-weight:var(--font-weight-bold);color:#fff;letter-spacing:-.3px;}
.main-review header h1 i {font-style:italic;font-weight:var(--font-weight-bold);}
.main-review-tablist {margin:65px 0 60px;padding:10px 0;border-top:2px solid #fff;border-bottom:1px solid #fff;text-align:center;}
.main-review-tablist a {display:inline-block;padding:10px 35px;font-size:21px;color:#fff;position: relative;}
.main-review-tablist span {display:inline-block;width:1px;height:16px;margin:0 12px;background:rgba(255,255,255,.4)}
.main-review-tablist a.on {background:#c79f62;border-radius:25px;font-weight:var(--font-weight-bold);}
.main-review-tabpanel {display:none;}
.main-review-tabpanel.on {display:block;}
.main-review-tabpanel .before {float:left;width:49.5%;max-width:614px;}
.main-review-tabpanel .after {float:right;width:49.5%;max-width:614px;}
.main-review-tabpanel .images .before {margin-right:1%;overflow:hidden;}
.main-review-tabpanel .images .before img {width:100%;}
.main-review-tabpanel .images .after {}
.main-review-tabpanel .images .after img {width:100%;}
.main-review-tabpanel .captions {height:50px;line-height:50px;}
.main-review-tabpanel .captions img {width:50px;margin-top:-4px;}
.main-review-tabpanel .captions .before {background:#202020;text-align:center;color:#fff}
.main-review-tabpanel .captions .after {background:#65615b;text-align:center;color:#fff}
.main-review footer {margin-top:70px;}
.main-review footer a {display:block;width:270px;height:54px;margin:0 auto;line-height:54px;border:1px solid #fff;border-radius:30px;text-align:center;font-size:20px;color:#fff;}

.main-review .slick-arrow {width:50px;height:50px;border:0;text-indent:-111111px;position:absolute;top:50%;}
.main-review .slick-arrow.slick-prev {background:url('../images/main/main-review-arrow-left.png') no-repeat 0 0;left:-80px;}
.main-review .slick-arrow.slick-next {background:url('../images/main/main-review-arrow-right.png') no-repeat 0 0;right:-80px;}



.main-clinic {padding:90px 0 110px;background:#ebe7df;}
.main-clinic-inbox {max-width:1400px;margin:0 auto;}
.main-clinic header {margin:0 0 40px 0;text-align:center;}
.main-clinic header span {font-size:14px;color:#c79f62;letter-spacing:5px;text-transform:uppercase;}
.main-clinic-list {width:100%;overflow:hidden;}
.main-clinic-list div {float:left;width:50%;height:420px;padding:70px 50px;box-sizing:border-box;text-align:right;}
.main-clinic-list div span {font-family:'S-CoreDream-5Medium';font-size:18px;line-height:26px;position:relative;}
.main-clinic-list div h2 {font-family:'S-CoreDream-6Bold';margin:10px 0 20px;font-size:42px;font-weight:var(--font-weight-bold);position:relative;}
.main-clinic-list div p {font-size:17px;line-height:24px;font-weight:300;color:#252020;position:relative;}
.main-clinic-list div a {display:inline-block;width:164px;height:34px;margin-top:40px;line-height:34px;text-align:center;border-radius:30px;border:1px solid #696969;font-size:13px;position:relative;}
.main-clinic-list div a span {display:inline-block;width:12px;height:1px;margin-right:12px;vertical-align:4px;background:#232323;}
.main-clinic-implant {position:relative;}
.main-clinic-implant figure {position:absolute;left:0;right:0;top:0;bottom:0;z-index:0;}
.main-clinic-implant h2 {color:#242424;}
.main-clinic-implant span {color:#82363a;}
.main-clinic-correction {position:relative;}
.main-clinic-correction  figure {position:absolute;left:0;right:0;top:0;bottom:0;z-index:0;}
.main-clinic-correction span {color:#222;}
.main-clinic-correction h2 {color:#c79f62;}


.main-community {}
.main-community-inbox {max-width:1400px;margin:0 auto;overflow:hidden;}
.main-community-inbox h2 {text-align:center;font-size:28px;font-weight:var(--font-weight-bold);color:#333;}
.main-community-inbox p {margin:15px 0 0 0;text-align:center;font-size:18px;font-weight:300;color:#333;}
.main-community-inbox figure {margin:35px 0 0 0;border-top:2px solid #000;}
.main-community-inbox ul {}
.main-community-inbox ul li {padding:15px 0;border-bottom:1px solid #ddd;overflow:hidden;font-size:14px;}
.main-community-inbox ul li span {float:left;width:75%;font-size:14px;text-align:left;}
.main-community-inbox ul li time {float:right;width:25%;text-align:right;color:#999;}
.main-community-notice {float:left;width:385px;padding:130px 40px;box-sizing:content-box;}
.main-community-council {float:left;width:385px;padding:130px 40px;box-sizing:content-box;border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;}
.main-community-location {float:left;width:385px;padding:130px 40px;box-sizing:content-box;}
.main-community-location figure {position: relative;}
.main-community-location figure > img {}
.main-community-location figure figcaption {height:68px;padding:16px;overflow:hidden;background:#fff;line-height:19px;position:absolute;left:12px;right:12px;bottom:10px;}
.main-community-location figure figcaption img {float:left;display:block;}
.main-community-location figure figcaption span {float:left;display:block;width:1px;height:34px;margin:0 17px;background:#e4e4e4;}


.main-promise {padding:125px 5% 130px;background:url('../images/main/main-promise-bg.png') no-repeat center center;color:#fff;}
.main-promise-inbox {max-width:1400px;margin:0 auto;}
.main-promise h1 {color:#fff;font-size:44px;line-height:64px;font-weight:300;letter-spacing:-1px;}
.main-promise h1 b {font-weight:var(--font-weight-bold);}
.main-promise .eng {display:block;margin:40px 0 45px;text-transform:uppercase;letter-spacing:6.3px;font-family:'Open Sans';font-size:13px;color:rgba(255,255,255,.2)}
.main-promise .tel {}
.main-promise .tel .title {display:block;margin-bottom:10px;font-size:18px;font-weight:400;}
.main-promise .tel .title img {margin-right:10px;}
.main-promise .tel .number {font-size:35px;font-weight:var(--font-weight-bold);}
.main-promise .time {margin:35px 0 0 0;font-size:14px;line-height:18px;}
.main-promise .time .title {display:block;margin-bottom:8px;font-size:18px;font-weight:400;}
.main-promise .time .title img {margin-right:10px;}
.main-promise .time div {}
.main-promise .time .timetable {width:100%;margin:0 0 8px 0;overflow:hidden;font-size:15px;}
.main-promise .time .timetable .left {float:left;width:280px;padding-right:20px;border-right:1px solid rgba(255,255,255,.2);}
.main-promise .time .timetable .right {float:left;width:280px;padding-left:20px;}
.main-promise .time .timetable dl {margin:5px 0;overflow:hidden;}
.main-promise .time .timetable dl em {color:#c59b5c;}
.main-promise .time .timetable dl dt {float:left;}
.main-promise .time .timetable dl dd {float:right;text-align:right;}
.main-promise .time .timetable p {font-size:14px;font-weight:300;line-height:19px;}
.main-promise .socials {width:100%;overflow:hidden;margin:33px 0 0 0;}
.main-promise .socials a {float:left;display:block;margin-right:12px;}

@media (max-width:1420px) {
  .main-special {margin-top:-253px;padding-top:360px;}
  .main-special-inbox {max-width:935px;margin:0 auto;}

  .main-system header {margin:0 0 40px;}
  
  .main-system-list div {width:100%;}
  .main-system-list div:nth-of-type(1) figure img {left:30%;}

  .main-clinic {padding:90px 5% 110px;}

  .main-special-list a:nth-of-type(2) {width:50%;}
  .main-special-list a:nth-of-type(3) {width:50%;background-size:101% auto;}


  .main-clinic-inbox {max-width:700px;margin:0 auto;}
  .main-clinic-list div {width:100%;}

  .main-community-notice {float:none;max-width:100%;margin:40px auto 0;padding:40px 5%;box-sizing:content-box;}
  .main-community-council {float:none;max-width:100%;margin:0 auto;padding:40px 5%;box-sizing:content-box;border-left:0;border-right:0;}
  .main-community-location {float:none;max-width:100%;margin:0 auto 40px;padding:40px 5%;box-sizing:content-box;}
}

@media (max-width:1241px) {

  .main-hero-form {width:90%;height: auto;font-size:16px;}
  .main-hero-form .title {float:none;width:100%;padding-left:0;border-right:0;border-bottom:1px solid #e2e2e2;text-align:center;}
  .main-hero-form .name {float:left;width:25%;border-right:1px solid #e2e2e2;border-bottom:1px solid #eee;}
  .main-hero-form .name input {width:100%;height:78px;padding-left:25px;box-sizing:border-box;border:0;font-size:inherit;line-height:78px;}
  .main-hero-form .category {float:left;width:25%;padding-left:25px;box-sizing:border-box;border-right:1px solid #e2e2e2;border-bottom:1px solid #eee;}
  .main-hero-form .category select {height:78px;border:0;font-size:inherit;color:#999;}
  .main-hero-form .tel {float:left;width:50%;padding-left:25px;border-bottom:1px solid #eee;box-sizing:border-box;}
  .main-hero-form .tel span {color:#242424;}
  .main-hero-form .tel input {width:80px;height:78px;border:0;text-align:right;}
  .main-hero-form .agree {float:none;width:100%;text-align:center;}
  .main-hero-form .agree label {line-height:56px;}
  .main-hero-form button {float:right;display:block;width:100%;height:78px;background:#c59b5c;font-size:inherit;font-weight:var(--font-weight-bold);color:#fff;}

  /* // section header */
  .main-special-inbox header span {font-size:12px;}
  .main-special-inbox header h1 {font-size:28px;}
  .main-system header span {font-size:12px;}
  .main-system header h1 {font-size:28px;}
  .main-clinic header span {font-size:12px;}
  .main-review header span {font-size:12px;}
  .main-review header h1 {font-size:28px;}

  .main-system-list div span {font-size:15px;}
  .main-system-list div h2 {margin-top:15px;font-size:22px;}
  .main-system-list div p {font-size:15px;}
  .main-system-list div a {margin-top:30px;}
  .main-system-list div a span {}
  .main-system-list div:nth-of-type(2) {border-left:0;border-right:0;}

  .main-review {padding:56px 0;}
  .main-review header {}
  .main-review header span {font-size:12px;}
  .main-review header h1 {font-size:28px;}
  .main-review-tablist {margin:65px 0 30px;padding:10px 5%;font-size:0;text-align:center;}
  .main-review-tablist a {display:inline-block;width:33.3333%;padding:10px 35px;font-size:15px;color:#fff;position: relative;}
  .main-review-tablist span {display:none;}
  .main-review-tablist a.is-active {background:#c79f62;border-radius:25px;font-weight:var(--font-weight-bold);}
  .main-review-tabpanel .captions {height:40px;line-height:40px;}
  .main-review-tabpanel .captions img {width:36px;}
  .main-review-tabpanel {padding: 0 16px;} 
  .main-review .slick-arrow {width:40px;height:40px;top:45%;z-index:var(--zindex-default);}
  .main-review .slick-arrow.slick-prev {background-size:40px 40px;left:-8px;}
  .main-review .slick-arrow.slick-next {background-size:40px 40px;right:-8px;}
  .main-review footer {margin-top:40px}
  .main-review footer a {font-size:15px;}
}

@media (max-width:936px) {
  .main-visual {height:600px;}
  .main-visual-slide .inbox {padding-top:160px;}
  .main-visual-slide .inbox h1 img {width:80%;}



  .main-special {margin-top:-288px;padding-top:380px;}

  .main-hero-form .name {width:50%;}
  .main-hero-form .name input {height:56px;}
  .main-hero-form .category {width:50%;border-right:0;}
  .main-hero-form .category select {height:56px;}
  .main-hero-form .tel {width:100%;}
  .main-hero-form .tel input {width:25%;height:56px;}
  .main-hero-form button {float:right;display:block;width:100%;height:78px;background:#c59b5c;font-size:inherit;font-weight:var(--font-weight-bold);color:#fff;}


  .main-review-tablist a {padding-left:1rem;padding-right:1rem;}

  .main-special-inbox {max-width:100%;}

  .main-special-list a {padding:30px;text-align:left;}
  .main-special-list a span:after {margin-left:0 !important;margin-right:0 !important;}
  .main-special-list a h2 {font-size:19px;}
  .main-special-list a p {font-size:13px;line-height:20px;background-size:auto 100%;}
  .main-special-list a > div {width:auto;position:static;left:auto;top:auto;transform:translate(0, 0);}
  .main-special-list a:nth-of-type(1) {width:100%;height:280px;padding:30px;background-size:60% auto;}
  .main-special-list a:nth-of-type(2) {width:100%;height:280px;}
  .main-special-list a:nth-of-type(3) {width:100%;height:280px;}
  .main-special-list a:nth-of-type(4) {width:100%;height:280px;background-size:auto 100%;}

  .main-clinic {padding:80px 0 100px;}
  .main-clinic-inbox {padding:0 5%;}
  .main-clinic-list div {height:auto;padding:25px;text-align:center;}
  .main-clinic-list div figure {height:240px;margin:-25px -25px 20px -25px;overflow:hidden;position:static;left:auto;right:auto;top:auto;bottom:auto;}
  .main-clinic-list div figure img {height:100%;}
  .main-clinic-list div span {font-size:14px;line-height:20px;}
  .main-clinic-list div h2 {margin:10px 0 20px;font-size:28px;}
  .main-clinic-list div p {font-size:14px;line-height:20px;}
  .main-clinic-list div a {margin-top:20px;margin-bottom:10px;}
  .main-clinic-implant {margin:0 0 30px 0;background:#fff;border:1px solid #e2e2e2;}
  .main-clinic-correction {background:#fff;border:1px solid #e2e2e2;}

  .main-promise {padding:64px 5%;}
  .main-promise h1 {color:#fff;font-size:28px;line-height:40px;font-weight:300;letter-spacing:-1px;}
  .main-promise .eng {margin:25px 0 35px;font-size:11px;}
  .main-promise .tel .title {display:block;margin-bottom:10px;font-size:18px;font-weight:400;}
  .main-promise .time .timetable .left {width:100%;overflow:hidden;border-right:0;}
  .main-promise .time .timetable .right {width:100%;overflow:hidden;margin-top:-5px;padding-left:0;}
  .main-promise .time .timetable dl {width:100%;overflow:hidden;}
  .main-promise .time .timetable dl dt {float:left;width:140px;text-align:left;}
  .main-promise .time .timetable dl dd {float:left;text-align:left;}
  .main-promise .socials {margin:20px 0 0 0;}
}



@media (max-width:386px) {
  .main-community-notice {width:100%;box-sizing:border-box;}
  .main-community-notice figure img {width:100%;}
  .main-community-council {width:100%;box-sizing:border-box;}
  .main-community-council figure img {width:100%;}
  .main-community-location {width:100%;box-sizing:border-box;}
  .main-community-location figure > img {width:100%;}
}