<main class="page">
  <mm-text variant="title" title="or Box">Panels</mm-text>
  <mm-text variant="body-large"> expansion panel : 체크박스나 버튼 형태의 트리거로 상태 </mm-text>

  <dl class="article-aka">
    <dt>a.k.a.</dt>
  </dl>

  <section class="component-example"></section>

  <section class="component-props"></section>

  <section class="component-guide">
    <mm-text variant="subhead">Behavior</mm-text>
    <mm-text variant="body"> </mm-text>

    <mm-text variant="subhead">Visual style</mm-text>
    <mm-text variant="body"> </mm-text>
  </section>
</main>
