<main class="page">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title" title="or Box">Panels</test-text>
    <test-text variant="body-large">
      expansion panel : 체크박스나 버튼 형태의 트리거로 상태
    </test-text>

    <dl class="article-aka">
      <dt>a.k.a.</dt>
    </dl>

    <section class="component-example"></section>

    <section class="component-props"></section>

    <section class="component-guide">
      <test-text variant="subhead">Behavior</test-text>
      <test-text variant="body"> </test-text>

      <test-text variant="subhead">Visual style</test-text>
      <test-text variant="body"> </test-text>
    </section>
  </article>
</main>
