.icon-hamberger {display:block;width:14px;height:2px;margin:auto;background:var(--icon-background);position:relative;}
.icon-hamberger:before {content:'';display:block;width:100%;height:2px;background:var(--icon-background);position:absolute;left:50%;top:-5px;transform:translate(-50%,0);transition:all .2s ease;}
.icon-hamberger:after {content:'';display:block;width:100%;height:2px;background:var(--icon-background);position:absolute;left:50%;top:5px;transform:translate(-50%,0);transition:all .2s ease;}
// .is-active .icon-hamberger {background:transparent;}
// .is-active .icon-hamberger:before {transform:rotate(45deg) translate(0,0);left:0px;top:50%;}
// .is-active .icon-hamberger:after {transform:rotate(-45deg) translate(0,0);left:0px;top:50%;}


.icon-filter {@include avatar-medium;flex-direction:column;}
.icon-filter span:nth-of-type(1) {display:block;width:18px;height:2px;border-radius:var(--radius);background:var(--icon-background);position:relative;}
.icon-filter span:nth-of-type(1):after {content:'';display:block;padding:1px;background:var(--color-background-weak);border:2px solid var(--icon-background);border-radius:50%;position:absolute;top:-2px;right:2px;}
.icon-filter span:nth-of-type(2) {display:block;width:18px;height:2px;margin:6px 0 0 0;background:var(--icon-background);position:relative;}
.icon-filter span:nth-of-type(2):after {content:'';display:block;padding:1px;background:var(--color-background-weak);border:2px solid var(--icon-background);border-radius:50%;position:absolute;top:-2px;left:2px;}

.icon-minus {position:relative;}
.icon-minus:before {content:'';display:inline-block;width:8px;height:2px;background-color:var(--icon-background);position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);transition:all .5s ease;}

.icon-plus {position:relative;transition:all .5s ease;}
.icon-plus:before {content:'';display:inline-block;width:10px;height:2px;background-color:var(--icon-background);position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);}
.icon-plus:after {content:'';display:inline-block;width:2px;height:10px;background:var(--icon-background);position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);}
.is-active .icon-plus {transform:rotate(135deg);}

.icon-o {display:block;width:6px;height:6px;border:2px solid var(--icon-background);border-radius:50%;position:relative;transition:all .5s ease;}

.icon-x {display:inline-block;vertical-align:middle;width:var(--size-tiny);height:var(--size-tiny);position:relative;transition:all .5s ease;}
.icon-x:before {content:'';width:10px;height:2px;background-color:var(--icon-background);position:absolute;left:50%;top:50%;transform:translate(-50%, -50%) rotate(45deg);}
.icon-x:after {content:'';width:2px;height:10px;background-color:var(--icon-background);position:absolute;left:50%;top:50%;transform:translate(-50%, -50%) rotate(45deg);}

.icon-x.is-red {}
.icon-x.is-red:before {background-color:var(--red800);}
.icon-x.is-red:after {background-color:var(--red800);}

.icon-heart {position:relative;}
.icon-heart:before {content:'';background:var(--icon-background);width:7px;height:12px;border-radius:50px 50px 0 0;transform: rotate(-45deg);position:absolute;left:-5px;top:-6px;}
.icon-heart:after {content:'';background:var(--icon-background);width:7px;height:12px;border-radius: 50px 50px 0 0;	transform: rotate(45deg);position:absolute;left:-1px;top:-6px;}


.icon-ribbon {}
.icon-ribbon:before {content: '';display: block;width:8px;height:12px;background:var(--icon-background);margin:6px auto 0;}
.icon-ribbon:after {content: '';display: block;width:8px;height:8px;background:var(--gray100);margin:-2px auto 0;transform: rotate(45deg);}

.icon-search {}
.icon-search:before {content: '';display: block;width:9px;height:9px;border-radius:50%;margin:0 auto;border:2px solid var(--icon-background);transform:translateX(-1px)}
.icon-search:after {content: '';display: block;width:6px;height:2px;background: var(--icon-background);margin:0 auto;border-radius:var(--radius);transform: rotate(45deg) translate(3px,-5px);}
// .is-active .icon-search:before {content:'';width:10px;height:2px;background-color:var(--icon-background);position:absolute;left:50%;top:50%;transform: translate(-50%, -50%) rotate(45deg);border:none;border-radius:0;}
// .is-active .icon-search:after {content:'';width:2px;height:10px;background:var(--icon-background);position:absolute;left:50%;top:50%;transform:translate(-50%, -50%) rotate(45deg);}


// sort
.icon-caret {width:0;height:0;margin:0 0 1px 0;border-top:4px solid var(--icon-background);border-left:4px solid transparent;border-right:4px solid transparent;border-radius:var(--radius);}
.icon-caret.is-left {transform:rotate(90deg);}
.icon-caret.is-right {transform:rotate(-90deg);}
.is-active .icon-caret {border-top-color:var(--color-primary);}

// 지워도 됨
// .icon-exclamation {display:inline-block;vertical-align:middle;width:16px;height:16px;border:1px solid;border-radius:50%;position:relative;}
// .icon-exclamation:before {content:'';display:block;width:2px;height:7px;margin:2px auto 1.5px;background:var(--icon-background);}
// .icon-exclamation:after {content:'';display:block;width:2px;height:2px;margin:0 auto;background:var(--icon-background);}


// >
// display:block;width:6px;height:6px;border-left:2px solid var(--icon-background);border-top:2px solid var(--icon-background);transform:rotate(-135deg);position:absolute;right:16px;bottom:22px;

.icon-circled-arrow {display:inline-block;margin:0 0 0 6px;padding:8px;border:1px solid var(--color-primary);border-radius:50%;vertical-align:middle;position:relative;}
.icon-circled-arrow:before {content:'';display:block;width:8px;height:1px;background:var(--color-primary);position:absolute;left:4px;top:8px;transition:all .4s ease;}
.icon-circled-arrow:after {content:'';display:block;width:3px;height:1px;background:var(--color-primary);position:absolute;left:8px;top:6px;transform:rotate(45deg);transition:all .4s ease;}

.icon-chevron {display:block;margin:0 3px 0 0;padding:3px;border:solid var(--icon-background);border-width:0 2px 2px 0;transform:rotate(-45deg);}
.icon-chevron.is-left {margin:0 0 0 3px;transform:rotate(135deg);}
.icon-chevron.is-up {margin-top:4px;transform:rotate(-135deg);}
.icon-chevron.is-down {transform:rotate(45deg) translate(0, -3px);}

.icon-bullet:before {content:'\002F';margin:0 var(--space-2);color:var(--gray200);}



// todo icon-back
.icon-arrow {position:relative;}
.icon-arrow:before {
  content: '';
  border-top: 2px solid var(--icon-background);
  border-left: 2px solid var(--icon-background);
  width: 5px;
  height: 5px;
  position: absolute;
  left: calc(50% + 2px);
  top: 50%;
  transform: translate(-50%, -50%) rotate(135deg);}
.icon-arrow:after {
  content: '';
  width: 10px;
  height: 2px;
  background-color: var(--icon-background);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-arrow.is-left {transform:rotate(-180deg);}
.icon-arrow.is-down {transform:rotate(90deg);}

.icon-arrow-right {padding:16px;position:relative;}
.icon-arrow-right:before {content:'';display:block;width:16px;height:1px;background:var(--icon-background);position:absolute;left:16px;top:24px;}
.icon-arrow-right:after {content:'';display:block;width:5px;height:1px;background:var(--icon-background);position:absolute;left:27px;top:22px;transform:rotate(45deg);}

.icon-out {position:relative;}
.icon-out-door {display:block;width:8px;height:12px;margin-left:-2px;border:2px solid var(--icon-background);border-right:0;}
.icon-out:before {
  content: '';
  position: absolute;
  border-top: 2px solid var(--icon-background);
  border-left: 2px solid var(--icon-background);
  top: 50%;
  width: 4px;
  height: 4px;
  right: -1px;
  transform: translate(50%, -50%) rotate(135deg);}
.icon-out:after {
  content: '';
  position: absolute;
  background-color: var(--icon-background);
  top: 50%;
  right: -3px;
  width: 8px;
  height: 2px;
  transform: translate(0, -50%);
}



.icon-person {position:relative;}
.icon-person:before {content:'';display:block;width:4px;height:4px;border-radius:50%;margin:0 auto 2px;border:2px solid var(--icon-background);}
.icon-person:after {content:'';display:block;width:14px;height:4px;margin:0 auto;border-top-left-radius:var(--radius);border-top-right-radius:var(--radius);border:2px solid var(--icon-background);}

.icon-more {display:block;width:3px;height:3px;margin:4px auto;background:var(--icon-background);border-radius:50%;position:relative;}
.icon-more::before {content:'';display:block;width:3px;height:3px;background:inherit;border-radius:50%;position: absolute;top:-5px;left:50%;margin-left:-1.5px;}
.icon-more::after {content:'';display:block;width:3px;height:3px;background:inherit;border-radius:50%;position: absolute;top:5px;left:50%;margin-left:-1.5px;}

.is-active .icon-more {background-color:var(--color-primary);}
.is-active .icon-more::before {background-color:var(--color-primary);}
.is-active .icon-more::after {background-color:var(--color-primary);}
// .icon-home {display:inline-block;position:relative;}
// .icon-home span:nth-of-type(1):before {content:'';display:block;width:10px;height:10px;background:var(--icon-background);transform:rotate(45deg);position:absolute;left:2px;top:-9px;}
// .icon-home span:nth-of-type(1):after {content:'';display:block;width:16px;height:8px;background:var(--color-background);position:absolute;left:-2px;top:-4px;}
// .icon-home span:nth-of-type(2):before {content:'';display:block;width:10px;height:6px;background:var(--icon-background);position:absolute;left:2px;top:-4px;}
// .icon-home span:nth-of-type(2):after {content:'';display:block;width:4px;height:4px;background:var(--color-background);position:absolute;left:5px;top:-1px;}

.icon-home {display:inline-block;position:relative;}
.icon-home span:nth-of-type(1):before {content:'';display:block;width:10px;height:10px;border:2px solid var(--color-primary);box-sizing:border-box;transform:rotate(45deg);position:absolute;left:2px;top:-9px;}
.icon-home span:nth-of-type(1):after {content:'';display:block;width:16px;height:8px;background:var(--color-background);position:absolute;left:-2px;top:-3px;}
.icon-home span:nth-of-type(2):before {content:'';display:block;width:10px;height:6px;border:2px solid var(--color-primary);border-top:none;box-sizing:border-box;position:absolute;left:2px;top:-4px;}

/*
.icon-star {position: relative;display: inline-block;width:0;height:0;margin-bottom: 1.2em;border-right: .3em solid transparent;border-bottom: .7em  solid var(--gray400);border-left:.3em solid transparent;font-size:var(--font-size-caption);}
.icon-star:before {content: '';display: block;width: 0;height: 0;position: absolute;top: .6em;left: -1em;border-right:  1em solid transparent;border-bottom: .7em  solid var(--gray400);border-left:   1em solid transparent;transform: rotate(-35deg);}
.icon-star:after {content: '';display: block;width: 0;height: 0;position: absolute;top: .6em;left: -1em;border-right:  1em solid transparent;border-bottom: .7em  solid var(--gray400);border-left:   1em solid transparent;transform: rotate(35deg);}
*/




.icon-file {position:relative;transform:translate(2px, 2px);}
.icon-file::before {content:'';display:block;padding:3px;border:2px solid var(--icon-background);position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.icon-file::after {content:'';display:block;padding:3px;border:2px solid var(--icon-background);border-right:0;border-bottom:0;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);margin:-5px}


.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}