
// todo
// figure 왼쪽 vs 오른쪽 margin-right는 size에 따라 변함.
// heading name / title, tiny font-sze 작음
// description 수치(날짜/금액/수량) 이륾보다 더 강조될 수도 있음.
// action ~2 follow 버튼 등. 우측에 정렬되어야 함.

// => avatar medium, avatar large(우측정렬, 버튼 아래)

// item disaply:flex; align-items:center;

@mixin item {
  @include clearfix;
  width:100%;
  position:relative;
  z-index:1;
}
@mixin item-avatar {
  float:left;
  @include avatar-large;
}
@mixin item-avatar-medium {
  float:left;
  @include avatar-medium;
}
@mixin item-label {
  // ! 아이콘 단독으로 사용하는 경우 대응 레이블에 마진을 적용
  // ! a 태그 텍스트 컬러 초기화
  margin-left: var(--space-after-avatar-medium);
  color: var(--color-text);
}

// todo entry / message / created
.item {@include item;}
.item + .item {margin:var(--space-after-item) 0 0 0;}
.item-avatar {@include item-avatar;}
.item-name {font-size:var(--font-size-body);}
.item-description {display:block;line-height:var(--font-line-height-small);color:var(--color-text-light);}
.item-description + .item-name {margin-top:-.125rem;}
.item-action {@include chip;background:var(--green100);color:var(--color-primary);@include position-right-top;right:0;}
.item-action.is-active {border-color:transparent;background:var(--color-background-weak);color:var(--color-text);}
.item-action-label {@include chip-label;}
// todo 팔로우 버튼은 특수한 패턴임.
.entity-follow {}

// todo small
.item-delete {@include chip;width:var(--size-small);height:var(--size-small);margin:0 0 0 auto;}
.item-delete:hover {}
// todo active style

.item:hover {@include hover-item;}

.item[data-size=huge] .item-avatar {width:var(--size-huge);height:var(--size-huge);margin-right:var(--space-after-avatar-huge);}
.item[data-size=huge] .item-name {@include text-subhead;}
.item[data-size=large] .item-avatar {width:var(--size-large);height:var(--size-large);margin-right:var(--space-after-avatar-large);}
.item[data-size=large] .item-name {font-weight:var(--font-weight-bold);font-size:var(--font-size-body);}
.item[data-size=medium] .item-avatar {width:var(--size-medium);height:var(--size-medium);margin-right:var(--space-after-avatar-medium);}
.item[data-size=medium] .item-name {width:calc(100% - var(--size-medium) - 1rem);height:var(--size-medium);line-height:var(--size-medium);}
.item[data-size=small] .item-avatar {width:var(--size-small);height:var(--size-small);margin-right:var(--space-after-avatar-small);}
.item[data-size=small] .item-name {width:calc(100% - var(--size-small) - .5rem);height:var(--size-small);line-height:var(--size-small);}
