@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}


@mixin fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 6;
}

@mixin ellipsis {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
@mixin title_style($size, $color) {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:$size;color:$color;}

@mixin container {
  margin: $margin400;
  padding: $padding400;
  border: none;
  box-shadow: $shadow400;
}



@mixin image-centered {
  width:auto;height:auto;max-width:150%;max-height:150%;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;
}