

@mixin title {font-size:var(--font-size-huge);line-height:1.4;font-weight:var(--font-weight-bold);letter-spacing:-.025rem;text-indent:-1px;color:var(--gray800);}
@mixin subhead {font-size:var(--font-size-subhead);font-weight:var(--font-weight-bold);letter-spacing:-.025rem;}

@mixin text-headlilne {text-indent:-3px;}
@mixin text-title {font-size:var(--font-size-huge);line-height:1.4;font-weight:var(--font-weight-bold);letter-spacing:-.025rem;text-indent:-1px;}
@mixin text-subheading {font-size:var(--font-size-subhead);font-weight:var(--font-weight-bold);letter-spacing:-.025rem;}
@mixin text-caption {font-size:var(--font-size-caption);font-weight:var(--font-weight-bold);}
@mixin text-label {font-size:var(--font-size-body);font-weight:normal;color:var(--gray400);}
@mixin text-body-large {font-size:var(--font-size-subhead);}

@mixin truncate {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
@mixin truncate-multi {@include truncate;height:2.4em;white-space:normal;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;}


@mixin link-inner {
  display:inline-block;
  color:var(--color-primary);
  text-decoration:underline;
  &:hover {text-decoration:none;}
}
@mixin link-outer {
  color:var(--color-primary);
  &:hover {text-decoration:underline;}
}

@mixin hover-tertiary {border-color:var(--gray800);}
@mixin hover-text {
  // color:var(--color-primary);
  text-decoration:underline;
}


@mixin image-centered {width:auto;height:auto;max-width:150%;max-height:150%;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}
@mixin bleeding {
	margin: 0 -50vw;
	position: absolute;
	left: 50%;
	right: 50%;
	top: 0;
	bottom: 0;
	z-index: -1;
}



@mixin clearfix {
  &:after {content:'';display:block;clear:both;}
}

// item in card component // active
@mixin hover-item {
  // 부모태그에 position: relative;zindex:1;
  // background: var(--gray100);
  cursor: pointer;
  &:before {
    --hover-outline: calc(var(--space) / 2 * -1);
    content:'';display:block;background:var(--gray100);border-radius:var(--radius400);position:absolute;left:var(--hover-outline);right:var(--hover-outline);top:var(--hover-outline);bottom:var(--hover-outline);z-index:-1;
  }
  figure {background-color:var(--gray0);border:1px solid var(--gray200);box-sizing:border-box;}
}

@mixin container-page {
  // width: 100%;
  margin: 0 auto;
  padding: 2rem var(--grid-margin) 8rem; // mobile padding
  position: relative;
}
@mixin container-large {
  max-width: var(--width-large);
  @include container-page;
}
@mixin container-medium {
  max-width: var(--width-medium);
  @include container-page;
}
@mixin container-small {
  max-width: var(--width-small);
  @include container-page;
}



// padding .5rem / 1.5rem
// 1.5 => 1 모바일에서도 동일하게 가기 위해. 아니면 모바일만 따로.
@mixin tile-flat {
  padding: 1rem; // 텍스트가 올 때 시각보정. 아이콘이 오면 아이콘에서 margin-top:.5rem?
  border: var(--border100);
  border-radius: var(--radius400);
  box-sizing: border-box;
  background: var(--gray0);
  position: relative;
  // @media (--breakpoint-tiny) {
  //   margin:0 var(--grid-margin-minus);
  //   padding: 1rem var(--grid-margin);
  //   border-radius: 0;
  // }
}
@mixin tile-elevated {@include tile-flat;box-shadow:var(--shadow400);}
@mixin tile-flat-small {@include tile-flat;padding:.5rem;}
@mixin tile-elevated-small {@include tile-flat;padding:.5rem;box-shadow:var(--shadow400);}

// layout 유동성을 위해. centered mixin은 layou의 유동성을 해친다.
// ! avatar-medium의 display:flex가 hidden 속성과 충돌
@mixin tile-avatar($cell) {
  display: flex;align-items: center;justify-content: center;
  width: $cell;height: $cell;
  border: var(--border100); // 여기서
  border-color: transparent;
  border-radius: var(--radius400);
  box-sizing: border-box;
  background: var(--gray100);
  position: relative;
}


// [role=group] input[type=radio] + label {margin:0 16px 0 0;color:var(--gray400);padding-left:0;}
// [role=group] input[type=radio] + label:before {content:'';display:inline-block;width:2px;height:2px;background:var(--gray400);margin:0 10px 0 0;vertical-align:3px;position:static;left:auto;top:auto;}
// [role=group] input[type=radio] + label:after {display:none;}
// [role=group] input[type=radio]:checked + label {color:var(--gray800)}
// [role=group] input[type=radio]:checked + label:before {border-color:var(--gray800);width:10px;height:4px;border-left: 2px solid #f3f2f1;border-bottom: 2px solid #f3f2f1;background:none;margin:0 8px 0 0;border-color:var(--gray400);vertical-align:3px;transform:rotate(-45deg);border-radius:0;border-right:0;border-top:0;position:static;left:auto;top:auto;}




// ! group vs row vs rowgroup
// 그냥나열되는경우(display:flex flex-wrap vs inline-block) 마진중첩서로 다르게 적용이 된다. / 
// ? bleeding vs default = design navigation vs taglist
@mixin group {
  display:flex;flex-wrap:wrap;margin:var(--space-between-groupitem-minus);
  > * {
    margin:var(--space-between-groupitem);
  }
}
@mixin group-pull {display:flex;justify-content:space-between;align-items:center;}
@mixin group-wrap {display:flex;flex-wrap:wrap;}
@mixin group-bleeding {
  // display:block;
  white-space:nowrap;font-size:0;overflow:auto;
  // display:inline-flex; // ! todo
  > * {display:inline-block;margin:0 calc(var(--space-between-groupitem) * 2) 0 0;font-size:var(--font-size-body);}
  &::-webkit-scrollbar {display:none;}
}
@mixin chip-group {
  @include group;
}

.chip-group {@include chip-group;}
.tag-group {@include chip-group;}
.avatar-group {@include chip-group;}

@mixin avatar-huge {@include tile-avatar(var(--size-huge));}
@mixin avatar-large {@include tile-avatar(var(--size-large));}
@mixin avatar-medium {@include tile-avatar(var(--size-medium));}
@mixin avatar-small {@include tile-avatar(var(--size-small));}
@mixin avatar-tiny {@include tile-avatar(var(--size-tiny));}

.link-inner {@include link-inner;}
.link-outer {@include link-outer;}
.tile-flat {@include tile-flat;}
.tile-flat-small {@include tile-flat-small;}
.tile-elevated {@include tile-elevated;}
.tile-elevated-small {@include tile-elevated-small;}


.linebreak-always {}
.linebreak-desktop {
  display:block;
  @media (--breakpoint-small) {display:inline;}
}
.linebreak-mobile {
  display:inline;
  @media (--breakpoint-small) {display:block;}
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     // --title-color: #EFEFEF;
//     // --desc-color: peachpuff;
//   }
//   // img {filter: brightness(.8) contrast(1.2);}
// }


@mixin position-left-top {position:absolute;left:.5rem;top:.5rem;}
@mixin position-right-top {position:absolute;right:.5rem;top:.5rem;}
@mixin position-center {position:absolute;left:50%;transform:translateX(-50%);}
@mixin position-center-center {position:absolute;left:50%;top:50%;transform:translate(-50%, -50%)}
@mixin position-bottom {position:fixed;left:0;right:0;bottom:0;z-index:var(--zindex-navigation);}
@mixin reset-position {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  transform: none;
}


@mixin chip {
  display: flex;align-items: center;
  // flex, inline-flex인 경우 a, button 차이 발생..
  // 다음에 hr 태그가 오면 그룹 내부 간격이 안맞음
  height:var(--size-medium);padding:0 1rem;border:1px solid transparent;border-radius:var(--radius400);box-sizing:border-box;
  background:var(--gray100);
  line-height:30px;color:var(--gray800);position:relative;

  &:hover {border-color:var(--gray800);}
  &:hover figure {border-color:var(--gray800);border-right:var(--border100);}

  &.is-active {border-color:var(--color-primary);background:var(--green100);color:var(--color-primary);}
  &.is-active .chip-icon {border-color:var(--color-primary) !important;}
}
@mixin chip-heading {float:left;margin:0 var(--space) 0 -17px;border-top-right-radius:0;border-bottom-right-radius:0;}
@mixin chip-tailing {float:right;margin:0 -17px 0 var(--space);border-top-left-radius:0;border-bottom-left-radius:0;}

@mixin badge {@include avatar-tiny;}



@mixin title-bordered {
  // height: 24px;
  // line-height: .8;
  height: 32px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  font-size:var(--font-size-caption);
}
.title-bordered {@include title-bordered;}


@mixin theme($theme: DarkGray) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, .25);
  color: #fff;
}