@custom-media --breakpoint-large (max-width: 1380px);
@custom-media --breakpoint-small (max-width: 1080px);
@custom-media --breakpoint-tiny (max-width: 760px);

$bezier-base: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$transition-base: all 0.4s $bezier-base;
$transition-fade: opacity 0.15s linear;

:root {
  color-scheme: light dark;

  // ! 세로 고정값으로 사용
  --padding-input: 9px 1rem 11px; // 48
  --padding-inupt-small: 4px 1rem 5px; // 32

  // ! viewport : desktop first

  --fontstack: 'Asap', 'AritaDotum', sans-serif;
  --font-family: 0;
  --font-family-heading: null;
  --font-family-body: null;
  --font-family-caption: null;

  --navbar-height: 56px;
  --titlebar-height: 56px;

  --font-size-huge: 2rem;
  --font-size-large: 1.125rem;
  --font-size-medium: .875rem;
  --font-size-tiny: .75rem;

  // mixin
  --font-size-display: var(--font-size-huge);
  --font-size-title: var(--font-size-huge);
  --font-size-subhead: var(--font-size-large);
  --font-size-body: var(--font-size-medium);
  --font-size-body-large: null;

  --font-size-helper: var(--font-size-tiny);
  --font-size-caption: var(--font-size-tiny);

  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-weight-extrabold: null;
  --font-color: var(--gray800);
  --font-color-light: var(--gray400);
  --font-color-dark: 0;
  --font-color-highlight: var(--gray800);
  --font-line-height: 1.8;
  --font-line-height-small: 1.4;
  --font-line-height-heading: null;

  --font-letter-spacing: 0;

  // ! colours
  --gray0: #fff; // white for dark theme
  --gray100: #f1f4f1; // bg 156
  --gray200: #e0e2e1; // divider border F8F7F5
  --gray400: #979d9a; // caption
  // --gray600: #4e5351;
  --gray800: #343c38; // heading
  --green100: rgba(10, 160, 80, 0.1); // previous #ddf5e9;
  --green800: #1b995c;
  // --red100: rgba(243, 68, 97 / 6%);
  --red100: rgba(243, 68, 97, .06);
  --red800: #f02849;

  --color-primary: var(--green800);
  --color-secondary: gold;
  --color-google: #fff;
  --color-facebook: hsl(214, 89%, 52%);
  --color-twitter: rgb(29, 161, 242);
  --color-naver: #03cf5d;
  --color-kakao: #ffdf00;
  --color-newneek: #fb7800;


  // ! what-target-option(thiness/states), 타크테마에도 바뀌지 않는.
  // ! gray is... non semantic
  --color-background: var(--gray0);
  --color-background-gray: var(--gray100);
  --color-background-darkest: null;
  
  --color-background-hover: 0;
  --color-background-ative: 0;
  --color-border: var(--gray200);
  --color-border-hover: var(--gray800);
  --color-border-active: 0;
  --color-text: var(--gray800);
  --color-text-light: var(--gray400);

  --color-warning: var(--red800);

  --text-color: null;

  --color-container-border: #000;
  --color-box-border: var(--gray100);
  --color-button-border: #000;
  --color-button-body: #000;
  
  // todo icon scope
  --icon-background: var(--gray800);
  --icon-border-color: var(--gray800);

  // dark / light / gray?
  // --gradient: linear-gradient(to bottom, var(--gray1000), rgba(37,45,41,.75), var(--gray800));
  --gradient: linear-gradient(to bottom, var(--gray100), var(--gray800));

  // container width
  // size => square
  --width-tiny: 320px;
  --width-small: 480px;
  --width-medium: 640px;
  --width-large: 1180px;

  --width-dropdown: 280px;
  --width-popover: 280px;
  --width-dialog: 0;

  --size-huge: 5rem; // 80px
  --size-large: 3rem; // 3rem
  --size-medium: 2rem; // 32px
  --size-small: 1.5rem; // 24px
  --size-tiny: 1rem; // 1rem

  --space: 1rem;
  --space-minus: calc(var(--space) * -1);

  --space-small: .5rem;
  --space-small-minus: calc(var(--space-small) * -1);

  // todo: only mixin positioning
  --space-inset: var(--space-small);


  // ! in TILE
  --space-leading-title: -.25rem;
  --space-leading-subhead: -.125rem;
  --space-leading-body: -.125rem;

  --space-after-title: 1.5rem;
  --space-after-subhead: 1rem;
  --space-after-description: 2rem;
  --space-after-button: .75rem;
  --space-after-textfield: 1rem;

  --space-after-avatar-huge: 1rem;
  --space-after-avatar-large: var(--space);
  --space-after-avatar-medium: var(--space-small);
  --space-after-avatar-small: var(--space-small);
  
  --space-before-tag: .125rem;
  --space-before-tag-minus: calc(var(--space-before-tag) * -1);

  --space-groupitem: .25rem; // listitem
  --space-groupitem-minus: calc(var(--space-groupitem) * -1);
  
  --space-before-article: 10rem;
  --space-before-section: 12rem;
  --space-before-badge: .75rem;

  // todo, position
  --space-inset-card: null;
  --space-tile-inset: var(--space);
  --space-tile-inset-small: var(--space-small);
  --space-inset-head: 2rem;
  --space-inset-chip: .75rem;

  --border: 1px solid var(--color-border);
  --border-active: 1px solid var(--color-primary);
  --background-active: null;
  --text-active: var(--color-primary);


  // ! 필요에 따라 린하게 추가하기. 지금은 하나만 쓰는 중.
  --radius: 4px;
  --radius-avatar: var(--radius);
  --radius-card: var(--radius);
  --radius-container: var(--radius);

  // --shadow: 0px 0px 1rem rgba(0, 0, 0, 0.125);
  // --shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
  // --shadow-bold: 0px 0px 2rem rgba(0, 0, 0, 0.5);
  --shadow: 0 0 .5rem rgb(0 0 0 / 7.5%);
  --shadow-tooltip: 0;
  --shadow-hover: 0;
  --shadow-modal: 0;
  --shadow-card: 0;
  --shadow-active: 0;
  --shadow-pageheader: 0;

  --duration-quickly: 0;
  --duration-slowly: 0;

  --card-background: #fff;
  --card-border: 1px solid #fff;
  --card-padding: 1.5rem;

  --button-background: #fff;
  --button-text-color: #fff;

  // ! z-index
  // ! padding 중첩되면 같은 역할이라도. 마이너스 마진.
  --zindex-default: 1;

  --zindex-popover: 5; // !
  --zindex-tooltip: 2;
  --zindex-menu: 2;
  --zindex-dropdown: 2;

  --zindex-sticky: 4;
  --zindex-fixed: 4;

  --zindex-modal-dim: 8; // !
  --zindex-modal: 9; // !

  --zindex-floating: null;
  --zindex-toast: 9; // !

  --zindex-menu: 8;
  --zindex-bottombar: 8;
  --zindex-loader: 10;

  --grid-column: calc(50% - var(--space-small));
  --grid-gutter: 1rem;
  --grid-margin: 5vw;
  --grid-margin-minus: calc(var(--grid-margin) * -1);

  --grid-column-small: calc(50% - .125rem);

  --safearea-inset-bottom1: constant(safe-area-inset-bottom);
  --safearea-inset-bottom2: env(safe-area-inset-bottom);

  --button-background: 0;
  --button-border: 0;
  --button-radius: var(--radius);
  --button-border-color: null;

  --textfield-background-color: var(--background-gray);



  // components
  --dialog-inset: 0;






  

  @media (--breakpoint-large) {
    --width-large: 1020px;
  }
  

  html[date-theme=dark] {}
  .theme-dark {
    // img {
    //   filter: invert(100%) hue-rotate(180deg);
    //   mix-blend-mode: screen;
    //   mix-blend-mode: multiply;
    // }
    
    // todo
    // --gray0: #252d29;
    // --gray100: #343c38; // bg gray800
    --gray200: #4e5351; // divider border
    // --gray800: #d1d2d3; // heading // 너무 밝아서 잠시


    --color-text: #d1d2d3;
    --color-text-light: var(--gray400);
    --color-background: #252d29;
    --color-background-gray: var(--gray800);
    --color-border: var(--gray800);
    --color-border-hover: var(--gray0);


    // 변수가 같더라도 재할당이 필요하다.
    --border: 1px solid var(--color-border);


    // todo gray800
    --icon-background: #d1d2d3;
    --icon-border-color: #d1d2d3;

    // --color-box-border: var(--gray100);

    --shadow: 0px 0px 2rem rgba(0, 0, 0, 0.25);

    --gradient: linear-gradient(to bottom, var(--gray400), var(--gray800));

    input[type=checkbox][role=switch] + label::after {background:#fff;}
  }
}
