@custom-media --breakpoint-large (max-width: 1440px);
.is-disabled {
  cursor: not-allowed;
}
:root {
  --font-size: 1.2rem;
  --background-color: #fff;
  --text-color: #222;
}
aside {
  --font-size: 1rem;
  --background-color: #222;
  --text-color: #fafafa;
}
.row {
  display: flex;
  align-items: center;
  height: 56px;
  border-top: 1px solid #f1f3f4;
  border-bottom: 1px solid #f1f3f4;
  margin-right: -200px;
  margin-top: -1px;
  line-height: 16px;
  --spacer: 0 1.5rem;
}
.row-checkbox {
  width: 4rem;
  height: 16px;
}
.row-avatar {
  width: 4rem;
}
.row-id {
  width: 6rem;
  padding: var(--spacer);
}
.row-phone {
  width: 10rem;
  padding: var(--spacer);
}
.row-address {
  width: 10rem;
  padding: var(--spacer);
}
.row-delete {
  width: 6rem;
  padding: var(--spacer);
}
.row.is-head {
  border-top: none;
  font-size: 12px;
  color: #848c94;
}
