// mediaquery, desktop first

// ^ html에서 선언 or 제목용 / 본문용 디자인이 다를 때만 필요.
$fontstack: ('Helvetica', sans-serif);
$headline: 3rem;
$title: 2rem;
$subhead: 1.25rem;
$body: 1rem;
$caption: 0.75rem;

$gray0: #fff; // white for dark theme
$gray100: #f1f3f4; // bg
$gray200: #dadce0; // divider border
$gray400: #848c94; // caption
$gray600: #666d75; // body
$gray800: #343a40; // bg || heading

$color-primary: #0070c9;
$color-positive: #00783e; // sucess
$color-negative: #da1e28; // danger, warning
$color-google: #fff;
$color-facebook: hsl(214, 89%, 52%);
$color-twitter: rgb(29, 161, 242);
$color-naver: #03cf5d;
$color-kakao: #ffdf00;

$breakpoint-large: 1440px;
$breakpoint-medium: 1280px;
$breakpoint-small: 1080px;
$breakpoint-tiny: 720px;

@custom-media --breakpoint-large (max-width: 1440px);

$height-header: 60px;

$padding200: 10px 1.5rem 11px; // 버튼, 텍스트인풋
$padding400: 1rem 1.5rem 1.25rem;

//box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
$shadow100: 0px 1px 1px rgba(136, 26, 26, 0.075); // unused
$shadow400: 1px 1px 4px rgba(0, 0, 0, 0.2);
$shadow450: 2px 4px 8px rgba(0, 0, 0, 0.2); // hover

$border400: 1px solid $gray100;

$radius400: 4px;

$avatar100: 16px;
$avatar200: 32px;
$avatar400: 48px;
$avatar600: 80px;

$quote: 0;
$placeholder: 0;

$width-medium: 800px;
$width-large: 1080px;
$width-huge: 1440px;

$bezier-base: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$transition-base: all 0.4s $bezier-base;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;

$zindex-dropdown: 1;
$zindex-sticky: 4;
$zindex-fixed: 4;
$zindex-modal-backdrop: 5;
$zindex-modal: 6;
$zindex-popover: 6;
$zindex-tooltip: 6;


.is-disabled {cursor:not-allowed;}
.is-actived {}
.is-succesed {}
.is-expanded {}
.is-valid {}
.is-invalid {}



:root {
  --font-size: 1.2rem;
  --background-color: $gray0;
  --text-color: #222;
}

aside {
  --font-size: 1rem;
  --background-color: #222;
  --text-color: #fafafa;
}

main,
aside {
  // font-size: var(--font-size);
  // color: var(--text-color);
  // background-color: var(--background-color);
}

.row {
  display: flex;
  align-items: center;
  height: 56px;
  border-top: 1px solid $gray100;
  border-bottom: 1px solid $gray100;
  margin-right: -200px;
  margin-top: -1px;
  line-height: 16px;
  --spacer: 0 1.5rem;
}
.row-checkbox {
  width: 4rem;
  height: 16px;
}
.row-avatar {
  width: 4rem;
}
.row-id {
  width: 6rem;
  padding: var(--spacer);
}
.row-phone {
  width: 10rem;
  padding: var(--spacer);
}
.row-address {
  width: 10rem;
  padding: var(--spacer);
}
.row-delete {
  width: 6rem;
  padding: var(--spacer);
}

.row.is-head {
  border-top: none;
  font-size: 12px;
  color: $gray400;
}
