// ! viewport : desktop first
@custom-media --viewport-large (max-width: 1440px);
@custom-media --viewport-medium (max-width: 1280px);
@custom-media --viewport-small (max-width: 1080px);

// ! container 
$container800: 1440px;
$container600: 1140px;
$container400: 640px; 
$container100: 400px; // dialog & form

$cell-large: 80px;
$cell-medium: 48px;
$cell-small: 32px;
$cell-tiny: 16px;

// ! typhography
$headline: 3rem;
$title: 2rem;
$subhead: 1.25rem;
$body: 1rem;
$caption: 0.875rem;
@mixin title {font-size:$title;line-height:1.4;font-weight:bold;letter-spacing:-.025rem;text-indent:-1px;color:var(--gray800);}
@mixin subhead {font-size:1.25rem;font-weight:bold;letter-spacing:-.025rem;}

$color-primary: #00783e;
$gray100: #dadce0;
$red100: #fff0f5;
$red800: #da1e28;
$blue100: honeydew;
$blue800: blue;

$color-google: #fff;
$color-facebook: hsl(214, 89%, 52%);
$color-twitter: rgb(29, 161, 242);
$color-naver: #03cf5d;
$color-kakao: #ffdf00;

$padding100: 4px 1rem 5px; // 32
$padding200: 9px 1.5rem 11px; // 버튼, 텍스트인풋 48

$radius400: 4px;
$radius800: 50%;

$shadow400: 0px 0px 2rem rgba(0, 0, 0, 0.125);

$border100: 1px solid var(--gray200); // button 빼고는 다 150인듯.. 그러면 
$border150: 1px solid var(--gray200);

$bezier-base: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$transition-base: all 0.4s $bezier-base;
$transition-fade: opacity 0.15s linear;

$zindex-dropdown: 1;
$zindex-sticky: 4;
$zindex-modal: 8;
$zindex-modal-dim: 7;
$zindex-popover: 6;
$zindex-tooltip: 8;

$height-header: 56px;

:root {
  color-scheme: light dark;
  --fontstack: 'Asap', 'AritaDotum', 'Apple SD Gothic Neo', sans-serif;
  // ! fontSize
  --weight700: bold;
  --weight400: normal;
  // ! colours
  --gray0: #fff; // white for dark theme
  --gray100: #f1f5f6; // bg
  --gray200: #dadce0; // divider border
  --gray400: #979d9a; // caption
  --gray800: #1c1d1d; // heading
  // --gray600: #4e5351; // body
  // --gray999: #000;
  --blue100: honeydew;
  --red100: #fff0f5;
  --color-primary:#00783e;
  
  --border100: $border100;

  --radius400: 4px;
  --radius800: 50%;
  --radius-default: var(--radius400);
  --radius-avatar: var(--radius400);

  --shadow400: 0px 0px 2rem rgba(0, 0, 0, 0.125);

  .theme-dark {
    --gray0: #1c1d1d;
    --gray100: #4e5351; // bg
    --gray200: #4e5351; // divider border
    --gray400: #979d9a; // caption
    --gray800: #f1f5f6; // heading

    --shadow400: 0px 0px 2rem rgba(0, 0, 0, 0.5);

    color: var(--gray400);
    input[type=checkbox][role=switch] + label::after {background:#fff;}
  }
}

@mixin truncate {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
@mixin truncate-multi {@include truncate;height:2.7em;white-space:normal;word-wrap:break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}

@mixin container {
  border: $border100;
  border-radius: $radius400;
  box-shadow: $shadow400;
}

@mixin image-centered {width:auto;height:auto;max-width:150%;max-height:150%;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}


@mixin hover-tertiary {
  border-color: var(--color-primary);
}

// layout 유동성을 위해. centered mixin은 layou의 유동성을 해친다.
// ! box-small의 display:flex가 hidden 속성과 충돌
@mixin box($cell) {
  display: flex;
  align-items: center;
  justify-content: center;
  width:$cell;
  height:$cell;
  border: 1px solid transparent;
  overflow: hidden;
  background-color: var(--gray100);
  border-radius: $radius400;
  box-sizing: border-box;
  position: relative;
}
@mixin box-large {@include box($cell-large);}
@mixin box-medium {@include box($cell-medium);}
@mixin box-small {@include box($cell-small);}
@mixin box-tiny {@include box($cell-tiny);}

@mixin clearfix {
  &:after {content: '';display:block;clear:both;}
}



@mixin grid-container {
  width: 100%;
  padding-right: padding(mobile);
  padding-left: padding(mobile);
  @include breakpoint(bp--xs--major) {
    padding-right: padding(xs);
    padding-left: padding(xs);
  }
}


.linebreaker-desktop {
  display:block;
  @media (--viewport-small) {display:inline;}
}
.linebreaker-mobile {
  display:inline;
  @media (--viewport-small) {display:block;}
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     // --title-color: #EFEFEF;
//     // --desc-color: peachpuff;
//   }
//   // img {filter: brightness(.8) contrast(1.2);}
// }

// <picture>
//   <!-- Use this image if the user's OS setting is light or unset -->
//   <source srcset="photo-light.png" media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)">
//   <!-- Use this image if the user's OS setting is dark -->
//   <source srcset="photo-dark.png" media="(prefers-color-scheme: dark)">
// </picture>
