
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&family=Karla:wght@400;700&display=swap');


// @font-face {font-family: 'AritaDotum';src:url(/public/webfonts/AritaDotumMedium.woff); }
// @font-face {font-family: 'AritaDotum';src:url(/public/webfonts/Arita-dotum-SemiBold_OTF.woff);font-weight:bold;}
// @font-face {font-family: 'Asap';src: url(/public/webfonts/Asap-Regular.otf); }
// @font-face {font-family: 'Asap';src:url(/public/webfonts/Asap-Medium.otf);font-weight:bold;}
// @font-face {font-family: 'DunkelSans';src: url(/public/webfonts/Dunkelsansv0.5-Heavy.woff2); }

// @import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
// @font-face {font-family: 'AritaDotum';src:url(/public/webfonts/NotoSansKR-Medium-Hestia.woff);}
// @font-face {font-family: 'AritaDotum';src:url(/public/webfonts/NotoSansKR-Bold-Hestia.woff);font-weight:bold;}
// @font-face {font-family: 'Arvana';font-weight:400;src: url(/public/webfonts/Arvanav0.3-Regular.woff2); }
// @font-face {font-family: 'Arvana';font-weight:800;src: url(/public/webfonts/Arvanav0.3-Black.woff2); }
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');