<main class="page">
  <mm-text-group variant="title">
    <mm-text variant="title">Links</mm-text>
    <mm-text variant="body-large"
      >사용자 여정 목적지. 페이지 이동. destination that can be bookmarked. 정보 확장 기능은 따로
      정의해야 함.</mm-text
    >
  </mm-text-group>

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd title="">Anchor</dd>
  </dl>

  <section class="component-example">
    <p class="util-truncate" style="max-width: 560px">
      이런 생각을 한 건 다들 식탁에 앉은 후였고, 나는 재미있는
      <mm-link href="#">고래잡이</mm-link> 이야기를 들을 기대에 부풀었다. 그런데 이거 참 놀랍게도
      거의 모두가 깊은 침묵에 잠겼다. 그것도 모자라 다들 난감해하는 눈치였다. 아니, 폭풍우가
      몰아치는 가운데 엄청나게 큰 고래, 그것도 생전 처음 보는 고래를 수줍은 기색 없이 잡아 올리고
      눈도 깜빡하지 않은 채 사투를 벌여서 죽이는 용맹한 바닷사람들이 직업도 똑같고 취향까지 비슷한
      사람들이 모여 앉은 아침 식탁에서는 그린 산맥의 목장을 한 번도 떠나 본 적 없는 양 떼마냥
      부끄러워하며 서로를 힐끔거릴 뿐이었다. 이 얼마나 희한한 광경인가! 숫기 없는 곰, 소심한 전사
      같은 고래잡이들이라니! ...
      <button style="font-weight: var(--font-weight-bold)">더 보기</button>
    </p>
    <div style="height: var(--space-3)"></div>
    <mm-group variant="tag">
      <mm-tag variant="hashtag">이것은헤시태그</mm-tag>
      <mm-tag variant="hashtag">해시태그는클릭할수있다?</mm-tag>
      <mm-tag variant="hashtag">해시태그를통한검색</mm-tag>
    </mm-group>
    <mm-separator></mm-separator>
    <p>
      <button style="display: flex; align-items: center; gap: 0.5rem; color: var(--color-primary)">
        View More <mm-icon name="nav-arrow-down"></mm-icon>
      </button>
      <button style="display: flex; align-items: center; gap: 0.5rem; color: var(--color-primary)">
        View Less <mm-icon name="nav-arrow-up"></mm-icon>
      </button>
    </p>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <!-- <dt>variant</dt>
        <dd>'inside' | 'outside'</dd>
        <dd>
          단락 내부와 외부에서의 형태를 구분합니다. 단락 내부에서는 본문 텍스트와 대비를 높이기 위해
          언더라인을 표시합니다. 불필요해보이는 규칙.
        </dd> -->
      <dt>href</dt>
      <dd>string</dd>
      <dt>isExternal<attr>?</attr></dt>
      <dd>boolean</dd>
      <dd>target=_blank rel=noopener noreferrer</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text variant="body">
        최상단의 옵션을 기본 선택으로 제공합니다. 설정 등에서 사용자가 직접 선택한 이력이 있는
        경우는 기선택 옵션을. default value
      </mm-text>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">Platform problems</mm-text>
      <mm-text variant="body"
        >text button과의 차이. Link는 항상 텍스트 단락과 함께 사용합니다.</mm-text
      >
      <mm-text variant="body"> Link가 paragraph와 사용 될 때. word, phrase와 사용될 때. </mm-text>
    </mm-text-group>

    <mm-text-list>
      <mm-text variant="subhead">Avoid disabled buttons</mm-text>
      <mm-text variant="body">
        Let the user send incomplete form and use error messages to explain what is wrong.
      </mm-text>
    </mm-text-list>
  </section>
</main>
