<main class="page">
  <mm-text variant="title">Links</mm-text>
  <mm-text variant="body-large"
    >사용자 여정 목적지. 페이지 이동. destination that can be bookmarked. 정보 확장 기능은 따로
    정의해야 함.</mm-text
  >

  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd title="">Anchor</dd>
  </dl>

  <section class="component-example">
    <p>
      형무소 안에서는 소장의 말이 곧 법이었으며 죄수들의 잘못과 실수는 결코 용납되지 않는다.
      어머니의 사망 소식을 듣고 인해 2번이나 탈옥을 시도했다가 체포된
      <mm-link href="#">루크</mm-link>의 발에 쇠통이 채워지며 루크는…
      <a href="#" style="color: var(--color-text); font-weight: bold">더 보기</a>
    </p>
    <div style="height: var(--space-3)"></div>
    <mm-group variant="tag">
      <mm-tag variant="hashtag">이것은헤시태그</mm-tag>
      <mm-tag variant="hashtag">해시태그는클릭할수있다?</mm-tag>
      <mm-tag variant="hashtag">해시태그를통한검색</mm-tag>
    </mm-group>
    <mm-separator></mm-separator>
    <p>
      <button style="display: flex; align-items: center; gap: 0.5rem; color: var(--color-primary)">
        View More <mm-icon name="nav-arrow-down"></mm-icon>
      </button>
      <button style="display: flex; align-items: center; gap: 0.5rem; color: var(--color-primary)">
        View Less <mm-icon name="nav-arrow-up"></mm-icon>
      </button>
    </p>
  </section>

  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <!-- <dt>variant</dt>
        <dd>'inside' | 'outside'</dd>
        <dd>
          단락 내부와 외부에서의 형태를 구분합니다. 단락 내부에서는 본문 텍스트와 대비를 높이기 위해
          언더라인을 표시합니다. 불필요해보이는 규칙.
        </dd> -->
      <dt>href</dt>
      <dd>string</dd>
      <dt>isExternal<attr>?</attr></dt>
      <dd>boolean</dd>
      <dd>target=_blank rel=noopener noreferrer</dd>
    </dl>
  </section>

  <section class="component-guide">
    <ul class="checklist">
      <li>
        Link가 문단과 함께 사용되면 line-height-large가 되어야 한다. 링크가 word와 함께 사용될 수
        있는가? 블라블라? + ~하기 패턴.
      </li>
      <li>text button과의 차이. Link는 항상 텍스트 단락과 함께 사용합니다.</li>
    </ul>

    <mm-text variant="subhead">Avoid disabled buttons</mm-text>
    <mm-text variant="body">
      Let the user send incomplete form and use error messages to explain what is wrong.
    </mm-text>
  </section>
</main>
