<main class="page">
  <mm-page-header
    title="RadioGroup"
    description="옵션 목록에서 하나의 옵션을 선택합니다."
  ></mm-page-header>

  <mm-component-example>
    <fieldset role="radiogroup" style="max-width: 640px">
      <mm-radio-group id="plan-group" name="membership" value="premium">
        <mm-radio value="basic">베이직 요금제</mm-radio>
        <mm-radio value="premium">프리미엄 요금제</mm-radio>
        <mm-radio value="ultimate" disabled>얼티메이트 요금제</mm-radio>
      </mm-radio-group>
    </fieldset>
  </mm-component-example>
  <mm-component-props>
    <mm-prop name="src" type="string"></mm-prop>
    <mm-prop name="alt" type="string"></mm-prop>
    <mm-prop name="ratio" type="'1:1' | '16:9' | '4:3' = '1:1'"></mm-prop>
    <mm-prop name="clickable" type="boolean"></mm-prop>
    <mm-prop name="@click" type="(e: MouseEvent) => void" kind="event"></mm-prop>
  </mm-component-props>
  <mm-component-guide>
    <section class="feature columns-2">
      <mm-feature
        icon="interactive"
        titleText="Interactive - choice"
        subtitle="Easy scanning"
        description="미리 선택된 기본값을 제공하는 것은 편향된 데이터를 수집할 위험이 있습니다. 만약 미리 선택된 값을 적용하는 경우 첫 번째 옵션을 기본 옵션으로."
      >
      </mm-feature>
      <mm-feature
        icon="task-list"
        titleText="Easy scanning"
        subtitle="Easy scanning"
        description="수직 정렬로 옵션 목록을 쉽게 스킨할 수 있도록 합니다. 최대 5개의 옵션을 제공할 수 있으며, 그 이상의 옵션이 필요하다면 셀렉트Select 또는 가로 스크롤되는 칩Chip으로 제공하세요."
      >
      </mm-feature>
    </mm-component-guide>
  </section>

  <mm-component-section title="Access 권한" description="TODO">
    <div>
      <mm-titlebar label="공개 대상 선택"></mm-titlebar>
      <br />
      <mm-group variant="menuitem">
        <mm-list-row icon="group" primaryText="전체공개" secondaryText="모든 Facebook 사용자">
          <mm-radio slot="action"></mm-radio>
          <mm-avatar slot="avatar" size="large" icon="group"> </mm-avatar>
        </mm-list-row>
        <mm-list-row icon="group" primaryText="친구만" secondaryText="회원님의 Facebook 친구">
          <mm-radio slot="action"></mm-radio>
        </mm-list-row>
        <mm-list-row icon="lock" primaryText="나만 보기" secondaryText="부끄러우니까 보지마요">
          <mm-radio slot="action"></mm-radio>
        </mm-list-row>
      </mm-group>
    </div>
  </mm-component-section>
  <mm-component-section title="Tile Radio?" description="TODO">
    <mm-surface variant="elevated" style="width: 100%">
      <mm-radio name="gender" id="option1" value="">
        <mm-text size="14" color="var(--color-foreground-light)">Standard License</mm-text>
        <mm-text size="14" weight="bold">₩ 2,000</mm-text>
        <div style="height: var(--space-2)"></div>
        <mm-tag>460P 적립</mm-tag>
      </mm-radio>
    </mm-surface>
  </mm-component-section>
</main>
