<main class="component">
  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title" title="or Box">Radioes or Radiogroup</test-text>
    <test-text variant="body-large">옵션 목록에서 하나의 옵션을 선택합니다.</test-text>

    <section class="component-example">
      <fieldset role="radiogroup">
        <legend hidden>radiogroup</legend>
        <test-radio-group>
          <test-radio id="gender-man" name="gender" value="" label="Man"></test-radio>
          <test-radio id="gender-woman" name="gender" value="" label="Woman"></test-radio>
          <!-- <p class="radio-helper">선택한 옵션의 보조 텍스트 영역입니다. 좁은 화면에서 충분한 공간 확보를 위해 들여쓰지 않습니다.</p> -->
          <test-radio
            id="gender-etc"
            name="gender"
            value=""
            label="Video Killed the Radio Button"
            checked
            disabled
          ></test-radio>
        </test-radio-group>
      </fieldset>
    </section>
    <section class="component-props">
      <!-- <test-text variant="subhead">Props</test-text> -->
      <dl>
        <dt>name</dt>
        <dd>string</dd>
        <dd>id={props.name} props 필요 object/type 불필요</dd>
        <dt>label?</dt>
        <dd>string</dd>
        <dd></dd>
        <dt>value</dt>
        <dd>boolean ? on || off</dd>
        <dd>TODO</dd>
        <dt>isDisabled<attr>?</attr></dt>
        <dd>boolean</dd>
        <dd></dd>
        <hr />
        <dt>isChecked / checked</dt>
        <dd>boolean</dd>
        <dd>RadioGroup에서</dd>
        <dt>onChange</dt>
        <dd>(event: React.ChangeEvent[HTMLInputElement>) => void</dd>
      </dl>
    </section>

    <section class="component-case">
      <test-tile variant="elevated">
        <test-radio label="개인" name="gender" value="" checked>
          <b style="margin-left: auto">₩ 2,000</b>
        </test-radio>
        <div style="margin: var(--space-2) 0 0">
          <test-text variant="body">1개월 무료 후 14,900원 / 개월</test-text>
          <small>현재 구독하고 있는 서비스는 체험할 수 없습니다.</small>
        </div>
        <figure
          style="
            margin: var(--space-2) 0 0 0;
            padding: 0.75rem;
            background: var(--color-background-weak);
            border-radius: var(--radius);
          "
        >
          <small>
            기존 라디오 컴포넌트의 형태를 유지할 수 있는 디자인. props로 checked 상태만 갖는
            radio/checkbox 뭔말?
          </small>
        </figure>
      </test-tile>
    </section>

    <!-- TODO 단락의 구조도 컨테이너가 있어야 변경이 쉽다. -->
    <section class="component-guide">
      <test-text variant="subhead">Visual Style</test-text>
      <test-text variant="body">
        옵션 목록은 최대 5개로 유지하세요.5개 이상의 옵션 목록은 select나 chip group으로 제공하세요.
      </test-text>
      <test-text variant="body">
        최상단의 옵션을 기본 선택으로 제공합니다. 설정 등에서 사용자가 직접 선택한 이력이 있는
        경우는 기선택 옵션을. default value
      </test-text>
      <test-text variant="body">
        항상 세로 정렬하세요. 이게 조금 더 강조되어야 하는 내용인데, 어떤 방식으로 말하면 좋을지.
        부정어를 사용하여 가로로 정렬하지 마세요. 가 조금 더 나을지.
      </test-text>

      <test-text variant="subhead">Editorial</test-text>
    </section>

    <!-- <test-text variant="body-large">Use cases</test-text>
      <ul>
        <li>기본 배송지 선택</li>
      </ul> -->
    <!-- (리액트에서 id  이슈 input in label.) -->
  </article>
</main>
