<main class="page">
  <mm-text variant="title">RadioGroup</mm-text>
  <mm-text variant="body-large">옵션 목록에서 하나의 옵션을 선택합니다.</mm-text>
  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd aria-label="">Radio group</dd>
  </dl>

  <section class="component-example">
    <fieldset role="radiogroup">
      <legend hidden>radiogroup</legend>
      <mm-group variant="checkbox">
        <mm-radio id="gender-man" name="gender" value="">Video Killed the Radio Button</mm-radio>
        <!-- <p class="radio-helper">선택한 옵션의 보조 텍스트 영역입니다. 좁은 화면에서 충분한 공간 확보를 위해 들여쓰지 않습니다.</p> -->
        <mm-radio id="gender-etc" name="gender" value="" checked disabled>
          Video Killed the Radio Button
        </mm-radio>
      </mm-group>
    </fieldset>
  </section>
  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <dt>options</dt>
      <dd>Option{label: string, value: string}[]</dd>
      <dt>value? selectedValue</dt>
      <dd>boolean</dd>
      <dt>isDisabled<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>onChange</dt>
      <dd>(event: React.ChangeEvent&lt;HTMLInputElement&gt;) => void</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text variant="subhead">Visual Style</mm-text>
    <mm-text variant="body">
      최대 5개의 목록을 옵션으로 제공하세요. 6개 이상의 옵션 목록은 셀렉트Select 또는 가로
      스크롤되는 칩Chip으로 제공하세요.
    </mm-text>
    <mm-text variant="body">
      최상단의 옵션을 기본 선택으로 제공합니다. 설정 등에서 사용자가 직접 선택한 이력이 있는 경우는
      기선택 옵션을. default value
    </mm-text>

    <mm-text variant="subhead">Groupable</mm-text>
    <mm-text variant="body"> 가로로 정렬하지 마세요. </mm-text>

    <mm-text variant="subhead">Editorial</mm-text>

    <mm-radio name="gender" id="option1" value="" style="margin-top: -0.5rem">
      <mm-text variant="label">Standard License</mm-text>
      <mm-text variant="word-large">₩ 2,000</mm-text>
      <div style="height: var(--space-2)"></div>
      <mm-tag>460P 적립</mm-tag>
    </mm-radio>
    <mm-separator></mm-separator>
    <mm-radio name="gender" value="" checked style="margin-top: -0.5rem">
      <b>₩ 2,000</b>
      개인
    </mm-radio>
    <div style="margin: 0 0 var(--space-2) 0">
      <mm-text variant="body">1개월 무료 후 14,900원 / 개월</mm-text>
      <small>현재 구독하고 있는 서비스는 체험할 수 없습니다.</small>
    </div>
    <figure
      style="
        padding: 0.75rem;
        background: var(--color-background-weak);
        border-radius: var(--radius);
      "
    >
      기존 라디오 컴포넌트의 형태를 유지할 수 있는 디자인. props로 checked 상태만 갖는
      radio/checkbox 뭔말?
    </figure>
    <!-- (리액트에서 id  이슈 input in label.) -->
  </section>
</main>
