<main class="page">
  <mm-pageheader
    title="RadioGroup"
    description="옵션 목록에서 하나의 옵션을 선택합니다."
  ></mm-pageheader>
  <dl class="article-aka">
    <dt>a.k.a.</dt>
    <dd aria-label="">Radio group</dd>
  </dl>

  <section class="component-example">
    <fieldset role="radiogroup" style="max-width: 520px">
      <legend hidden>radiogroup</legend>
      <mm-group variant="checkbox">
        <mm-radio id="gender-man" name="gender" value="">Video Killed the Radio Button</mm-radio>
        <!-- <p class="radio-helper">선택한 옵션의 보조 텍스트 영역입니다. 좁은 화면에서 충분한 공간 확보를 위해 들여쓰지 않습니다.</p> -->
        <mm-radio id="gender-etc" name="gender" value="" disabled> disabled </mm-radio>
        <mm-radio id="gender-etc" name="gender" value="" checked disabled>
          checked and disabled
        </mm-radio>
        <mm-separator></mm-separator>
        <mm-tile variant="elevated" style="width: 100%">
          <mm-radio name="gender" id="option1" value="" style="margin-top: -0.25rem">
            <mm-text variant="label">Standard License</mm-text>
            <mm-text variant="label-strong">₩ 2,000</mm-text>
            <div style="height: var(--space-2)"></div>
            <mm-tag>460P 적립</mm-tag>
          </mm-radio>
        </mm-tile>
      </mm-group>
    </fieldset>
  </section>
  <section class="component-props">
    <mm-text variant="subhead">Props</mm-text>
    <dl>
      <dt>legend<attr>?</attr></dt>
      <dd>string</dd>
      <dt>options</dt>
      <dd>Option{label: string, value: string}[]</dd>
      <dt>value</dt>
      <dd>boolean</dd>
      <dt>isDisabled<attr>?</attr></dt>
      <dd>boolean</dd>
      <dt>onChange</dt>
      <dd>(event: React.ChangeEvent&lt;HTMLInputElement&gt;) => void</dd>
    </dl>
  </section>

  <section class="component-guide">
    <mm-text-group>
      <mm-text variant="subhead">Meta problems</mm-text>
      <mm-text variant="body">
        default value. 편향된 데이터를 수집할 의향이 있습니다. 기본값으로 값을 설정하면 경험이
        편향되거나 변경되어 데이터가 왜곡될 수 있습니다. 미리 선택된 값을 적용하는 경우 첫 번째
        옵션을 기본 옵션으로.
      </mm-text>
    </mm-text-group>
    <mm-text-group>
      <mm-text variant="subhead">Platform problems</mm-text>
      <mm-text variant="body"
        >수평 정렬은 옵션 목록을 스캔하기 어렵기 때문에 항상 수직 정렬합니다.</mm-text
      >
      <mm-text variant="body">
        최대 5개의 목록을 옵션으로 제공하세요. 6개 이상의 옵션 목록은 셀렉트Select 또는 가로
        스크롤되는 칩Chip으로 제공하세요.
      </mm-text>
    </mm-text-group>
    <!-- (리액트에서 id  이슈 input in label.) -->
  </section>
</main>
