<main class="component">
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2rem 0;
      padding: 0.5rem 2rem;
      border: var(--border);
      border-radius: 50px;
    "
  >
    <figure style="width: 48px; height: 48px; border-radius: 50%; border: var(--border)"></figure>
    <test-text variant="subhead">
      You can download this product with the All-Access Pass.
    </test-text>
    <test-button variant="primary">Get All-Access</test-button>
  </div>

  <p>
    사용자는 디스크립션을 자세히 읽기를 원하지 않으므로, 필요한 내용을 빠르게 캐치할 수 있도록
    간결하게 쓰는 게 좋다. 한 줄에 50자, 세 줄 이하로 쓸 것을 권장하고 있다. 텍스트를 간결하게
    유지하고 전달할 내용을 스캐너블한 덩어리로 나누는 것은, 유저들이 그들의 이해도와 이 서비스를
    활용하는 능력에 대해 신뢰를 갖게 만든다. (Easy scanning)
  </p>

  <section class="textbox" style="margin: 4rem var(--grid-margin); position: relative">
    <test-group
      data-e="menu"
      class="textbox-toolbar"
      style="width: max-content; position: absolute; top: var(--space-1); left: var(--space-1)"
    >
      <test-chip class="textbox-toolbar-bold">
        <test-icon slot="icon" name="bold"></test-icon>
      </test-chip>
      <test-chip class="textbox-toolbar-italic">
        <test-icon slot="icon" name="italic"></test-icon>
      </test-chip>
    </test-group>
    <div
      class="textbox-view"
      role="textbox"
      contenteditable="true"
      aria-placeholder=""
      aria-labelledby=""
      style="padding: 48px var(--space-2) var(--space-1)"
    >
      <h1
        class="textbox-view-heading"
        style="margin: 0 0 var(--space-4) 0; color: var(--color-text-light)"
      >
        제목
      </h1>
      <div class="textbox-view-bdoy" style="color: var(--color-text-light)">
        제목 / 내용 선택 영역에 is-selected
      </div>
    </div>
    <footer class="textbox-footer">
      <button class="textbox-footer-publish">게시</button>
    </footer>
  </section>

  <!-- https://story.pxd.co.kr/1451 -->
  <p>loading state/dfn/abbr</p>
  https://material.io/design/interaction/states.html

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Paginations</test-text>
    <test-text variant="body-large">작성 중.</test-text>

    <section class="component-example">
      <nav class="pagination" role="navigation" aria-label="pagination">
        <test-chip class="pagination-previous" aria-label="앞 페이지로 이동"> 이전 </test-chip>
        <test-chip class="pagination-next" aria-label="뒷 페이지로 이동">다음</test-chip>
        <test-chip class="pagination-link" aria-label="맨 앞 페이지로 이동">1</test-chip>
        <i class="pagination-ellipsis" aria-label="맨 앞 페이지로 이동">...</i>
        <test-chip class="pagination-link" href="#" aria-label="1 페이지로 이동">5</test-chip>
        <test-chip class="pagination-link" href="#" aria-label="1 페이지로 이동">6</test-chip>
        <test-chip
          class="pagination-link is-current"
          aria-label="1 페이지로 이동"
          aria-current="true"
        >
          7
        </test-chip>
        <test-chip class="pagination-link" href="#" aria-label="1 페이지로 이동">8</test-chip>
        <test-chip class="pagination-link" href="#" aria-label="1 페이지로 이동">9</test-chip>
        <i class="pagination-ellipsis" aria-label="맨 앞 페이지로 이동">...</i>
        <test-chip class="pagination-link" aria-label="맨 뒤 페이지로 이동">50</test-chip>
      </nav>
      <aside>
        <small>숙소 300개 이상 중 281 – 300 (airbnb)</small>
      </aside>

      <b class="pagination-current">1</b>
      <span class="pagination-divider"> / </span>
      <span class="pagination-all">44</span>
      <span>page 2 of 22</span>
    </section>

    <section class="component-props">
      <test-text variant="subhead">Props</test-text>
      <dl>
        <!-- <dt>offset</dt>
            <dd>number</dd> -->
        <dt>initialPageNumber? selecedPageNumber?</dt>
        <dd>number</dd>
        <dt>lastPageNumber</dt>
        <dd>number</dd>
        <dd>서버에서 받는다.</dd>
      </dl>
    </section>

    <section class="component-guide">
      <test-text variant="body">
        첫 페이지와 마지막 페이지에 더블 화살표 아이콘을 사용하지 않습니다. 최초와 최종 페이지
        넘버로 사용자가 대략적인 콘텐츠 수량을 파악할 수 있도록 도와주세요.
      </test-text>

      <test-text variant="subhead">메모</test-text>
      <test-text variant="body">서버에서 offset을 0으로 줄 수도 있고 1로 줄 수도 있다.</test-text>
      <!-- <p>pagination vs more load vs infinite scroll. 느린 탐색 경험이 필요할 때. 게시판이나 상품 목록의 탐색에서 이전에 탐색한 상품의 위치를 찾기 편리함. 최근 본 목록이나 섬네일에서 북마크를
              제공한다면?</p> -->
    </section>
  </article>

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">File Uploader</test-text>
    <test-text variant="body-large">프로필 사진 또는 이미지 업로드.</test-text>
    <section class="component-example">
      <form class="file" method="" enctype="multipart/form-data">
        <b class="file-title">프로필 사진</b>
        <div class="file-upload">
          <test-button variant="primary">사진 업로드. 여기로 드래그 하셔도 되어요.</test-button>
          <!-- //  accept=".jpg,.png" capture="camera" -->
          <input class="file-input js-file-input visually-hidden" type="file" id="file2" multiple />
          <label class="file-label visually-hidden" for="file2"
            >사진 업로드. 여기로 드래그 하셔도 되어요.</label
          >
          <p class="file-helper"><small>Only .jpg and .png files. 500kb max file size.</small></p>
        </div>
        <div class="file-attachment">
          <b class="file-attachment-title">첨부한 파일</b>
          <p class="file-attachment-helper js-file-attachment-helper" role="status">
            No files currently selected for upload.
          </p>
          <section class="file-attachment-list js-file-attachment-list"></section>
        </div>
      </form>
    </section>
  </article>

  <!-- // Chris said Marcus replied -->

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Carousel</test-text>
    <test-text variant="body-large">작성 중.</test-text>
    <p>aka. carousel, slider</p>
    <p>
      -webkit-appearance: slider-vertical slider<br />CSS 속성에서 사용하기 때문에 slider보다
      carousel로 명명하는 것이 더 좋음. input type="range" 형태를 slider 또는 stepper로 명명하기도.
    </p>
    <p>https://web.dev/carousel-best-practices/</p>
    <p><b>block</b> -> inline / font-size: 0</p>
    <p><b>flex</b> -> block + min-width</p>
    <p>scroll-behavior: smooth</p>
    <section class="component-example">
      <section class="carousel js-carousel">
        <test-group class="carousel-viewer js-carousel-viewer">
          <test-entity size="huge" label="폴 뉴먼" description="주연">
            <test-avatar
              slot="avatar"
              variant="tertiary"
              size="huge"
              src="/public/images/springsteen.jpg"
            ></test-avatar>
          </test-entity>
          <test-entity size="huge" label="폴 뉴먼" description="주연">
            <test-avatar
              slot="avatar"
              variant="tertiary"
              size="huge"
              src="/public/images/springsteen.jpg"
            ></test-avatar>
          </test-entity>
          <test-entity size="huge" label="폴 뉴먼" description="주연">
            <test-avatar
              slot="avatar"
              variant="tertiary"
              size="huge"
              src="/public/images/springsteen.jpg"
            ></test-avatar>
          </test-entity>
          <test-entity size="huge" label="폴 뉴먼" description="주연">
            <test-avatar
              slot="avatar"
              variant="tertiary"
              size="huge"
              src="/public/images/springsteen.jpg"
            ></test-avatar>
          </test-entity>
          <test-entity size="huge" label="폴 뉴먼" description="주연">
            <test-avatar
              slot="avatar"
              size="huge"
              src="/public/images/springsteen.jpg"
            ></test-avatar>
          </test-entity>
        </test-group>
        <!-- <nav class="carousel-dots">
                <button class="carousel-dots-dot">1</button>
                <button class="carousel-dots-dot">1</button>
                <button class="carousel-dots-dot">1</button>
              </nav> -->
        <nav class="carousel-arrows">
          <test-chip class="carousel-arrows-prev js-carousel-prev" aria-label="이전">
            <test-icon slot="icon" name="arrow-left"></test-icon>
          </test-chip>
          <test-chip class="carousel-arrows-next js-carousel-next" aria-label="다음">
            <test-icon slot="icon" name="arrow-right"></test-icon>
          </test-chip>
        </nav>
      </section>
      <test-separator></test-separator>
      <!-- data-scroll="vertical" -->
    </section>

    <ul>
      <li>서드파티 라이브러리를 사용하지 마세요.</li>
      <li>터치 제스쳐를 지원하지 않는 환경에서는 arrow 버튼을 제공하세요.</li>
      <!-- // todo 가로 스크롤 패턴 -->
    </ul>
  </article>

  <article class="article js-observer js-scrollspy-section">
    <test-text variant="title">Table</test-text>
    <test-text variant="body-large">표.</test-text>
    <section class="component-example">
      <div>
        <style>
          [role='cell'] {
            width: 25%;
            padding: var(--space-3);
          }
        </style>
        <section>
          <div
            role="row"
            style="
              display: flex;
              margin: var(--space-3) 0 0 0;
              font-size: var(--font-size-small);
              font-weight: var(--font-weight-bold);
              color: var(--color-text-light);
            "
          >
            <span role="cell" style="flex: auto">이름</span>
            <span role="cell" style="flex: auto">소유자</span>
            <span role="cell" style="flex: auto">마지막으로 수정한 날짜</span>
            <span role="cell" style="flex: auto">파일 크기</span>
          </div>
          <div class="" role="row" style="display: flex; border-top: var(--border)">
            <span role="cell" style="flex: auto">이름</span>
            <span role="cell" style="flex: auto">소유자</span>
            <span role="cell" style="flex: auto">2023. 05. 05</span>
            <span role="cell" style="flex: auto">2KB</span>
          </div>
        </section>

        <br /><br />

        <div class="album-track">
          <header class="album-track-label" role="row">
            <span class="album-track-label-item" role="columnheader">#</span>
            <span class="album-track-label-item">제목</span>
            <span class="album-track-label-item">Gengre</span>
            <span class="album-track-label-item">Progress</span>
            <span class="album-track-label-item">Status</span>
            <span class="album-track-label-item">러닝타임</span>
            <span class="album-track-label-item" title=" date added(sort)">Date</span>
          </header>
          <div class="album-track-row" role="row">
            <span class="album-track-row-column" data-cell="number">1</span>
            <span class="album-track-row-column">
              <test-menu-item label="Dancing in the Dark" description="Bruce Springsteen">
                <test-avatar slot="avatar"></test-avatar>
              </test-menu-item>
            </span>
            <span class="album-track-row-column stack">
              <test-tag>hiphop</test-tag><test-tag>rap</test-tag>
            </span>
            <span class="album-track-row-column">In Review --</span>
            <span class="album-track-row-column">
              <em
                class="badge"
                style="height: auto; margin-right: 0.5rem; background: gold; padding: 3px"
              ></em>
              Error
            </span>
            <span class="album-track-row-column">7 : 02</span>
          </div>
        </div>

        <br />
        <br />

        <table>
          <caption>
            히라가나 오십음도
          </caption>
          <!-- <colgroup>
            <col>
            <col span="2" class="batman">
            <col span="2" class="flash">
          </colgroup> -->
          <thead role="rowgroup">
            <tr role="row">
              <th role="columnheader" aria-sort="none" class="table-checkbox">
                <test-checkbox></test-checkbox>
              </th>
              <th scope="col">항목</th>
              <th scope="col">い단</th>
              <th scope="col">う단</th>
              <th scope="col">え단</th>
              <th scope="col">お단</th>
              <th scope="col" class="right">숫자</th>
            </tr>
          </thead>
          <tbody role="rowgroup">
            <tr role="row" aria-rowindex="11">
              <td>
                <test-checkbox></test-checkbox>
              </td>
              <td>2022년 상반기 구매회원-링크</td>
              <td>に</td>
              <td>ぬ</td>
              <td>ね</td>
              <td>の</td>
              <td class="right">9,600</td>
            </tr>
            <tr>
              <td>
                <test-checkbox></test-checkbox>
              </td>
              <td>わ</td>
              <td>ゐ wi</td>
              <td>-</td>
              <td>ゑ we</td>
              <td>を wo(o)</td>
              <td class="right">ん n/nn</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />

        <table>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
          </tr>
          <tr>
            <th scope="row">Gabriel</th>
            <td>13</td>
            <td>Male</td>
          </tr>
          <tr>
            <th scope="row">Elva</th>
            <td>8</td>
            <td>Female</td>
          </tr>
          <tr>
            <th scope="row">Freida</th>
            <td>5</td>
            <td>Female</td>
          </tr>
        </table>
      </div>

      <br /><br />

      <table style="font-size: 12px">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>container</td>
            <td></td>
          </tr>
          <tr>
            <td>content</td>
            <td>이미지, 텍스트, 아이콘, 이모지를 포함할 수 있습니다.</td>
          </tr>
        </tbody>
      </table>
    </section>
  </article>

  <article class="article">
    <test-text variant="title">Range</test-text>
    <test-text variant="body-large"></test-text>
    <section class="component-example">
      <div class="range">
        <label for="">숙박 인원</label>
        <input type="range" min="1" max="10" value="2" step="any" list="tickmarks" id="myRange" />
        <datalist id="tickmarks">
          <option value="0" label="0"></option>
          <option value="5" label="5"></option>
        </datalist>
      </div>
    </section>
  </article>

  <article class="article">
    <test-text variant="title">Calendar</test-text>
    <test-text variant="body-large"></test-text>
    <section class="component-example">
      <div class="calendar">
        <b>2020년 12월</b>
        <nav class="calendar-navigation">
          <button class="calendar-navigation-prev" aria-label="앞으로">
            <i class="icon-caret is-left"></i>
          </button>
          <button class="calendar-navigation-next" aria-label="뒤로">
            <i class="icon-caret is-right"></i>
          </button>
        </nav>
        <div class="calendar-head">
          <div>일</div>
          <div>월</div>
          <div>화</div>
          <div>수</div>
          <div>목</div>
          <div>금</div>
          <div>토</div>
        </div>
        <div class="calendar-body">
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
        </div>
      </div>
    </section>
  </article>

  <article class="article">
    <label for="cb1-edit">레이블</label>
    <!-- a11y combobox -->
    <input
      type="text"
      aria-activedescendant="cb1-opt1"
      aria-readonly="true"
      aria-owns="cb1-list"
      aria-autocomplete="list"
      aria-label="label"
      id="cb1-edit"
    />
    <ul aria-expanded="true" role="listbox" id="cb1-list">
      <li role="option" id="cb1-opt1">Alabama</li>
      <li role="option" id="cb1-opt2">Alaska</li>
      <li role="option" id="cb1-opt3">American Samoa</li>
    </ul>

    <p>ID <span id="output-element"></span></p>
    <p>텍스트 <span id="output-text"></span></p>
    <form>
      <label for="ta-example-one">레이블</label>
      <textarea id="ta-example-one" rows="3" cols="40">
  텍스트 영역 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, lorem a porttitor molestie, odio nibh iaculis libero, et accumsan nunc orci eu dui.</textarea
      >
      <label for="ta-example-two">레이블</label>
      <textarea id="ta-example-two" rows="3" cols="40">
  텍스트 영역 2. Fusce ullamcorper, nisl ac porttitor adipiscing, urna orci egestas libero, ut accumsan orci lacus laoreet diam. Morbi sed euismod diam.</textarea
      >
    </form>

    <test-card variant="flat" size="medium" class="pricing-item">
      <div slot="entire">
        <test-tag style="position: absolute; left: -0.5rem; top: var(--space-3)">
          🔥 Most Popular
        </test-tag>
        <br />
        <br />
        <test-text variant="subhead">Standard</test-text>
        <div style="height: var(--space-after-subhead)"></div>
        <div class="pricing-item-price">
          <span class="pricing-item-price-per">한 달에 한 번</span>
          <test-text variant="title">₩ 6,800</test-text>
        </div>
        <div style="height: var(--space-after-subhead)"></div>
        <div>
          <test-text variant="subhead"><em>iCloud+</em> 50GB</test-text>
          <span>₩1,100/월 </span>
        </div>
        <div style="height: var(--space-after-subhead)"></div>
        <test-text variant="body"
          >전직대통령의 신분과 예우에 관하여는 법률로 정한다. 대법원장은 국회의 동의를 얻어 대통령이
          임명한다.</test-text
        >
        <div style="height: var(--space-after-subhead)"></div>
        <ul>
          <li>스토리지 2TB</li>
          <li>Google 전문가와의 상담</li>
          <li>회원을 위한 추가 혜택</li>
        </ul>
        <div style="height: var(--space-after-subhead)"></div>

        <div style="height: 2rem"></div>
        <test-group>
          <test-button variant="primary">업그레이드</test-button>
          <test-button variant="text">And More...</test-button>
        </test-group>
      </div>
    </test-card>

    <header
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 400px;
        margin: 0 0 var(--space-3);
      "
    >
      <h2>내 요금제</h2>
      <button style="color: var(--color-primary); font-weight: bold; text-decoration: underline">
        요금제 변경하기
      </button>
    </header>

    <test-tile variant="elevated" style="max-width: 400px">
      <test-menuitem>
        <test-avatar slot="avatar" size="huge"></test-avatar>
        <div slot="text">
          <test-text variant="subhead">개인</test-text>
          <test-text variant="body">Apple One</test-text>
          <test-text variant="label">가족 구독</test-text>
        </div>
      </test-menuitem>
      <test-separator></test-separator>
      <test-text variant="body-bold">1개월 무료 체험</test-text>
      <small>오늘(2023년 05월 22일)부터</small>
      <test-text variant="text-subhead">14,900원/개월</test-text>
      <test-separator></test-separator>

      <div class="purchase">
        <header class="purchase-head">
          <h3>Premium 베이직</h3>
          <small>Premium 베이직 계정 1개 / 클라우드 330GB (월 5,500원)</small>
        </header>
        <div class="add_money_area" style="padding: 1rem">
          <div class="add_inner">
            <p class="use_time">이용기간 23.04.09. ~ 23.05.02.</p>
            <div class="add_money">
              이번 달 결제금액 <em class="accent"><span id="sale_price">4,258</span>원</em>
              <em class="num">(<span id="remainDays">24</span>일 이용요금)</em>
            </div>
          </div>
        </div>
        <div class="purchase-body">
          <dl>
            <dt style="width: 50%; margin: 0">오늘부터 시작</dt>
            <dd style="width: 50%; margin: 0; text-align: right">월 8,690 KRW</dd>
            <dt style="width: 50%; margin: 0">다음 결제일</dt>
            <dd style="width: 50%; margin: 0; text-align: right">2023. 3. 10.</dd>
          </dl>
          <ul style="margin: var(--space-4) 0 0 0">
            <li>다음 청구일은 2023. 3. 10.입니다.</li>
            <li>언제든 해지 가능합니다. 혜택 약관이 적용됩니다.</li>
          </ul>
        </div>
      </div>
      <p>
        약정 기간이 없습니다. 갱신일 최소 하루 전까지 설정 > Apple ID에서 언제든지 취소할 수
        있습니다. 취소할 때까지 요금제가 자동 갱신됩니다.
      </p>
      <test-separator></test-separator>
      <p style="color: var(--color-text-light)">계정: soojubm@gmail.com</p>
    </test-tile>

    <header class="greeting" data-temp="이 패턴에서 아바타는 시각 정보가 아니라 링크로 사용">
      <test-avatar variant="" size="huge">🐶</test-avatar>
      <test-text variant="subhead">Hello, Spring 👋</test-text>
      <test-text variant="body">Tender is the night.</test-text>
    </header>

    <test-menuitem data-size="large" style="margin-bottom: var(--space-3)">
      <test-avatar></test-avatar>
      <span class="item-description">관심사가 비슷한 사용자</span>
      <h2 class="item-name">Gyeongsoo I</h2>
      <!-- <button class="item-action"><span class="item-action-label">팔로우</span></button> -->
    </test-menuitem>

    <test-tile>
      <test-text variant="subhead">Senior Front-end Developer</test-text>
      <test-group>
        <test-tag>Full-Time</test-tag>
        <test-tag>Korea</test-tag>
        <test-tag>Remote friendly</test-tag>
      </test-group>
      <test-chip>View Job</test-chip>
    </test-tile>

    <section>
      <test-textfield label="임시" placeholder="you@gamil.com">
        <test-icon slot="prefix" name="mail"></test-icon>
      </test-textfield>
      <test-tile variant="elevated" size="small">
        <test-menuitem label="Add the member" style="max-width: 50%">
          <test-avatar slot="avatar">
            <test-icon slot="icon" name="plus"></test-icon>
          </test-avatar>
        </test-menuitem>
      </test-tile>
    </section>

    <test-separator></test-separator>

    <p>TeeVee</p>
    <p>icon-indicator (textfield-check/select indicator) - inline or float: right</p>
    <p>
      Note: Make sure the role of the element that serves as the container for the popup content is
      a menu, listbox, tree, grid or dialog and that the value of aria-haspopup matches the role of
      the popup container.
    </p>

    <div class="file-attachment-item" style="max-width: 400px">
      <figure class="file-attachment-item-image">
        <img src="/public/images/springsteen.jpg" alt="${file.name}" />
      </figure>
      <b class="file-attachment-item-name">${file.name}</b>
      <small class="file-attachment-item-size">${returnFileSize(file.size)}</small>
      <button class="file-attachment-item-delete js-remove-this">
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>

    <!-- ! flex-wrap: warp일 때 min-width가 fixed -->
    <!-- ! width:100% and max-width doesnt' work-->
    <section style="max-width: 400px; z-index: 1">
      <test-titlebar heading="컬렉션에 추가"> </test-titlebar>
      <br />
      <test-group alignment="vertical">
        <!-- aira-checked="mixed" aria-controls="1 2" -->
        <test-checkbox>재생 목록 1</test-checkbox>
        <test-checkbox>재생 목록 2</test-checkbox>
      </test-group>
      <br />
      <test-tile variant="elevated" size="small">
        <test-menuitem label="새 컬렉션 만들기">
          <test-avatar slot="avatar">+</test-avatar>
        </test-menuitem>
      </test-tile>
      <test-separator></test-separator>
      <test-button variant="primary" isfullwidth>저장</test-button>
    </section>
    <section style="max-width: 400px; margin-top: 2rem; z-index: 1">
      <test-titlebar heading="컬렉션 만들기">
        <test-chip slot="action">만들기</test-chip>
      </test-titlebar>
      <div style="height: 1rem"></div>
      <test-textfield label="컬렉션 이름" placeholder="컬렉션 이름"></test-textfield>
      <test-tile variant="elevated" size="small">
        <test-menuitem label="사용자 및 그룹 추가">
          <test-avatar slot="avatar">+</test-avatar>
        </test-menuitem>
      </test-tile>
    </section>

    <br />

    <test-tile>
      <q>
        I'm impressed by how GitHub Copilot seems to know exactly what I want to type next. GitHub
        Copilot is particularly helpful when working on React components, where it makes eerily
        accurate predictions. GitHub Copilot has become an indispensable part of my programmer
        toolbelt.
      </q>
      <figcaption style="margin: var(--space-3) 0 0 0; color: var(--color-text-light)">
        Byline
      </figcaption>
    </test-tile>

    <aside
      style="
        position: fixed;
        top: 6rem;
        left: calc(50% + var(--width-sidemenu) - var(--grid-margin));
        transform: translateX(-50%);
        z-index: 8;
      "
    >
      <button
        style="
          padding: 0.5rem 1rem;
          border-radius: 50px;
          box-shadow: var(--shadow);
          background: var(--color-primary);
          color: var(--color-text-weak);
        "
        onclick="javascript:alert('샘플 유아이')"
      >
        1월 1일 변경된 내용 보기
      </button>
    </aside>
  </article>
</main>
