<!-- https://simplicable.com/new/visual-information -->
<!-- https://nuli.navercorp.com/community/article -->
<!-- todo top hat -->

<!-- https://ustyle.guide/pattern-library/javascript.html -->

<!-- https://career.programmers.co.kr/pr/beolsae 이력서 -->

<!-- https://tailwindui.com/components/#product-application-ui -->

<!-- https://www.albertgao.xyz/2019/09/07/reuse-react-router-routes-constants-with-hooks-when-navigating/ -->

<!-- <h3>getFormattedDate(20220610) / getFormattedCurrency(30000)</h3>
<p>30,000원 / 30,000 won / ₩ 30,000</p> -->

<!-- // article-title 이 의미가 있을까. test-text variant="title" -->
<main class="component">
  <style>
    .tile {
      max-width: 800px;
    }
  </style>
  <!-- <section class="textbox" style="margin: 4rem var(--grid-margin)">
      <menu class="textbox-toolbar">
        <div class="chip" style="margin: 0 var(--space-2) 0 0">
          <select
            class="chip-label"
            id="select2"
            style="background: none; border: none; padding: 0 var(--space-4) 0 0; font: inherit; color: var(--color-text)"
          >
            <option value="select-option1">나눔고딕</option>
          </select>
          <span class="chip-indicator" role="img"><span class="material-symbols-outlined"> arrow_drop_down </span></span>
        </div>
        <button class="textbox-toolbar-bold" style="font-weight: var(--font-weight-bold)">B</button>
        <button class="textbox-toolbar-italic" style="font-style: italic">I</button>
      </menu>
      <div class="textbox-view" role="textbox" contenteditable="true" aria-placeholder="" aria-labelledby="">
        <h1 class="textbox-view-heading" style="margin: 0 0 var(--space-4) 0; color: var(--color-text-light)">제목</h1>
        <div class="textbox-view-bdoy" style="color: var(--color-text-light)">제목 / 내용 선택 영역에 is-selected</div>
      </div>
      <footer class="textbox-footer">
        <button class="textbox-footer-publish">게시</button>
      </footer> -->
  <!-- </section> -->
  <!--
      <p>
      유저는 대부분 디스크립션을 자세히 읽기를 원하지 않으므로,
      필요한 내용을 빠르게 캐치할 수 있도록 간결하게 쓰는 게 좋다.
      한 줄에 50자, 세 줄 이하로 쓸 것을 권장하고 있다. 텍스트를 간결하게 유지하고
      전달할 내용을 스캐너블한 덩어리로 나누는 것은,
      유저들이 그들의 이해도와 이 서비스를 활용하는 능력에 대해 신뢰를 갖게 만든다.
    </p>
    <p>
      유저가 중요한 액션을 수행했을 경우,
      완료 메시지를 전달하기 위해 한 화면 전체를 사용하는 경우가 있다.
      이때는 유저가 집중할 수 있는 정보가 하나뿐이어서 맥락이 복잡하지 않으므로,
      \"이미지가 담긴 포스팅이 완료되었습니다.\" 등의 문장형으로 길게 설명할 필요 없이,
      \"제출 완료!\"같은 단일 단어로 대체할 수 있다.
    </p>
    <p>
      알림은 언제나 유저에게 베네핏을 주거나,
      긴급한 메시지이거나, 적어도 적절한 타이밍의 내용이어야 한다.
      똑같은 텍스트가 각각의 컴포넌트에 쓰였을 때
      어떤 맥락으로 유저에게 닿을 수 있는지를.
    </p> -->
  <!-- https://story.pxd.co.kr/1451 -->

  <!-- 
      <p>loading state/dfn/abbr</p>
      https://material.io/design/interaction/states.html
      <test-text variant="body-large">목록의 나머지를 더 보여줄 때는 [모두보기], 미리보기 형식의 텍스트를 더 보여줄 때는 [전체보기]</test-text>
      <dt>모두보기</dt><dd>see all(15)(internal, arrow-right)</dd>
      <dt>더보기</dt><dd>더보기vs더불러오기(more, arrow-down), 자세히보기, learn more 등(external, arrow-right-top)</dd>
      variants
      부정어/긍정어/명령어 / 한자 지양 / -적
      '-때', '경우', '사용' 최소화.
      하세요, 할 수 있습니다. 보다 합니다. 입니다
    </section> -->

  <header class="" role="banner" style="padding: 0 var(--grid-margin); margin-left: -40px">
    <div class="chat" style="margin: 2rem 0 var(--space-2)">
      <figure class="chat-avatar"></figure>
      <div class="chat-bubble is-primary">
        <b>Components</b>
        <word-count>test</word-count>
      </div>
      <div class="chat-bubble">
        <p>할 수 있다 -> 하세요/합니다</p>
        <p>
          MVP 검증을 위한 최소한의 컴포넌트 라이브러리로 시작했습니다. 이후 시각 언어를 추가하며 다양한 도메인에 활용할 수 있도록 구성하고 있습니다.
        </p>
        <p>도메인 특수성이 있는 컴포넌트. 예를 들면 스포티파이의 encore에서 track row 컴포넌트.</p>
        <p>1~2가지 케이스는 예외 케이스로 정의한다.</p>
        <p>모든 시각정보는 non-clickable. 모든 인터렉션은 clickable.</p>
        <p>dos / don'ts 케이스는 이미지를 사용하지 않고 간결하게 서술합니다. 컴포넌트는 계속 변경되기 때문에 유지보수 비용 증가.</p>
        <p>
          2023년 3월 말. Props를 디자인 가이드와 묶어서 정리하기. 이렇게 하면 Props 존재 이유를 설명할 필요도 없고, 디자인 패턴을 한 번에 망라할 수
          있다. 형태를 위한 프롭스와 기능을 위한 프롭스를 나눌 수 있을까? Anatomy와 Props를 통합할 수 있을까? 메타 푸라불럼를 함께 푸롭스에서
          다뤄보기.
        </p>
      </div>
      <p>background 컴포넌트. lazy load 기능을 포함하는.</p>
      <p>역할과 형태 구분. 형태는 textfield, action와 2개의 사이즈? 예시. select는 textfield / chip 2가지. 아니다. 토큰으로 충분하다.</p>
      <p>
        시스템 디자이너로서 제품을 소비할 때 디자이너와 개발자의 경험을 대규모로 최적화하는 것은 우리의 의무입니다. 시스템 자체. 스타일 프리미티브
        구성이 우선순위가 지정되지 않으면 디자이너와 개발자 사이에 많은 마찰이 있을 뿐만 아니라 토큰 아키텍처를 통해 피할 수 있는 많은 스타일 불일치가
        있을 것입니다.
      </p>
    </div>
  </header>

  <test-dialog></test-dialog>

  <nav class="component-navigation" role="menubar">
    <div class="component-navigation-background"></div>
    <test-row>
      <test-chip class="js-scrollspy-trigger" label="Links"></test-chip>
      <test-chip class="js-scrollspy-trigger" label="Badges">Badges</test-chip>
      <test-chip class="js-scrollspy-trigger" label="Switch"></test-chip>

      <test-chip class="js-scrollspy-trigger" label="Select"></test-chip>
      <test-chip class="js-scrollspy-trigger" label="Seporator"></test-chip>

      <test-chip class="js-scrollspy-trigger" label="Breadcrumb"></test-chip>
      <test-chip class="js-scrollspy-trigger" label="Title Bar">Title Bar</test-chip>
      <test-chip class="js-scrollspy-trigger" label="Bottom Navigation">Bottom Navigation</test-chip>
      <test-chip class="js-scrollspy-trigger" label="Paginations"></test-chip>

      <!-- // navigations -->
      <test-chip class="js-scrollspy-trigger">File Uploader</test-chip>
      <test-chip class="js-scrollspy-trigger">Carousel></test-chip>
      <test-chip class="js-scrollspy-trigger">Table</test-chip>
      <test-chip class="js-scrollspy-trigger">Accordions</test-chip>
      <test-chip class="js-scrollspy-trigger">Dialog</test-chip>
    </test-row>
  </nav>

  <section class="component-body">
    <!-- <p class="hero-description">keywords: attention / feedback / confirm</p> -->
    <!-- <div>
        <div>Presentation style="modal | toast | sheet" ... 이렇게 되면 윈도우 사이즈가 변경될 때 props를 변경해주어야 함.</div>
        <div>React migration classNames 라이브러리를 활용하기 위해서 aria- 또는 data- 속성으로 스타일링 하지 않는 것이 좋다.</div>
        <div>roles (for designers): filter sort select</div>
      </div> -->

    <!-- <article class="article">
        <p>사용하다 -> 제공하다 / 사용자 관점으로. 도큐멘터이션의 사용자가 아닌 서비스의 사용자.</p>
        <p>Actions: remove, select, check/uncheck, add, link, action? toggle?, submit</p></ul>
      </article> -->

    <!-- <div class="js-tab">
        <nav class="tablist type-sc" role="tablist" aria-label="sample tabs" style="max-width: 11rem; margin: 0.5rem auto">
          <button class="tablist-tab" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0" style="padding-top: 3px">
            Style
          </button>
          <button class="tablist-tab" role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="-1" style="padding-top: 3px">
            Role
          </button>
          <i class="tablist-indicator" style="width: 50%"></i>
        </nav>
      </div> -->

    <!-- <p>button small 형태를 액션으로. chip.</p> -->

    <!-- <p class="article-description"><em>post 페이지에서 태그와 컴포넌트에서의 태그. hashtag는 tag 컴포넌트와 역할이 다르기 때문에 별도의 컴포넌트로 만들어주어야 한다. 현재 hashtag(keyword)는 chip으로 대체. todo. 댑스가 2이상 인 케이스.</em></p> -->

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Links</test-text>
      <p class="article-description">사용자 여정 목적지. 페이지 이동. destination that can be bookmarked. 정보 확장 기능은 따로 정의해야 함.</p>

      <aside class="article-aka">
        <test-tag>a.k.a.</test-tag>
        <span class="hashtag" title="">Anchor</span>
      </aside>

      <section class="component-example">
        <test-tile>
          <p>
            형무소 안에서는 소장의 말이 곧 법이었으며 죄수들의 잘못과 실수는 결코 용납되지 않는다. 어머니의 사망 소식을 듣고 인해 2번이나 탈옥을
            시도했다가 체포된 <a class="link-inner" href="#">루크</a>의 발에 쇠통이 채워지며 루크는…<a
              class="more link-outside"
              href="#"
              style="margin-left: 0.25rem"
              >더 보기</a
            >
          </p>
          <div style="margin-top: var(--space-3)">
            <a class="hashtag" href="">이것은헤시태그</a>
            <a class="hashtag" href="">해시태그는클릭할수있다?</a>
            <a class="hashtag" href="">해시태그를통한검색</a>
          </div>
        </test-tile>
        <div class="component-props">
          <test-text variant="subhead">Props</test-text>
          <dl>
            <dt>style</dt>
            <dd>'inside' | 'outside'</dd>
            <dd>
              단락 내부와 외부에서의 형태를 구분합니다. 단락 내부에서는 본문 텍스트와 대비를 높이기 위해 언더라인을 표시합니다. 불필요해보이는 규칙.
            </dd>
            <dt>href?</dt>
            <dd>string</dd>
            <dd>NNNNN</dd>
            <dt>isExternal<attr>?</attr></dt>
            <dd>boolean</dd>
            <dd>속성들... target=_blank rel=noopener noreferrer</dd>
          </dl>
        </div>
      </section>

      <test-text variant="body-large" class="article-kicker"><b>항상 텍스트 단락과 함께 사용합니다.</b> TODO text button과의 차이</test-text>
    </article>

    <!-- <p>Badges show the count of some adjacent data. A dot badge notifies the user that something is new or updated without showing a count.</p> -->
    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Badges</test-text>
      <p class="article-description">수량, 상태.</p>

      <section class="component-example">
        <test-tile>
          <test-row>
            <!-- <test-badge variant="primary">24</test-badge> -->
            <test-badge variant="secondary">16</test-badge>
            <test-chip>
              <span style="display: inline-block; line-height: 16px">메뉴 &nbsp;</span>
              <test-badge>16</test-badge>
            </test-chip>
            <test-tag>
              <em style="display: inline-flex; width: 6px; height: 6px; margin-right: var(--space-2); background: crimson; border-radius: 50%"></em>
              live
            </test-tag>
          </test-row>
        </test-tile>
      </section>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title" title="or Box">Switch</test-text>
      <p class="article-description">켜거나 끌 수 있는 옵션입니다. 설정. 필터.</p>
      <p hidden>A switch is a visual toggle between two mutually exclusive states — on and off.</p>

      <aside class="article-aka">
        <test-tag>a.k.a.</test-tag>
        <span class="hashtag" title="protocol mozilla">Toggle</span>
      </aside>

      <section class="component-example">
        <test-tile>
          <span class="switch">
            <input type="checkbox" id="switch1" name="" role="switch" value="on" checked />
            <label for="switch1" title="Receive weekly newsletter">뉴스레터 받아보기</label>
          </span>
          <span class="switch" style="margin-top: var(--space-3)">
            <input type="checkbox" id="switch2" name="" role="switch" value="off" disabled />
            <label for="switch2" title="Receive weekly newsletter">뉴스레터 받아보기</label>
          </span>
        </test-tile>
        <article class="component-props">
          <test-text variant="subhead">Props</test-text>
          <dl>
            <dt>name</dt>
            <dd>string</dd>
            <dd>id={props.name}</dd>
            <dt>label? - isHiddenLabel</dt>
            <dd>string</dd>
            <dd>동사를 포함합니다. choice보다 action에 가깝다.</dd>
            <dt>value</dt>
            <dd>string</dd>
            <dt>isChecked<attr>?</attr></dt>
            <dd>boolean</dd>
            <dd>TODO checked?</dd>
            <dt>isDisabled<attr>?</attr></dt>
            <dd>boolean</dd>
            <dd></dd>
            <dt>onChange</dt>
            <dd>(event: React.FormEvent[HTMLInputElement]) =] void</dd>
          </dl>
        </article>
      </section>

      <test-text variant="body-large" class="article-kicker">
        <b>즉시 실행</b>
        단일 옵션을 즉시 실행하고 결과를 반영합니다. 다중 옵션 중 하나의 옵션으로 저장 버튼과 함께 사용하지 않습니다.
      </test-text>
      <test-text variant="body-large" class="article-kicker">
        <b>on & off context</b>
        스위치의 왼쪽과 오른쪽에 각각 레이블을 배치하여 콘텐츠 스위칭으로 사용하지 마세요.
      </test-text>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Select</test-text>
      <p class="article-description">input shape와 chip shape</p>
      <aside class="article-aka">
        <test-tag>a.k.a.</test-tag>
        <span class="hashtag" title="">dropdown</span>
        <span class="hashtag" title="shopify">Choice list</span>
        <span class="hashtag" title="shopify">Action list</span>
      </aside>
      <section class="component-example">
        <test-tile>
          <div class="textfield">
            <label class="textfield-label" for="select1">셀렉트박스</label>
            <select class="textfield-input" id="select1">
              <option value="select-option1">Choose an option</option>
            </select>
            <span class="textfield-indicator material-symbols-outlined" role="img">unfold_more</span>
          </div>
        </test-tile>
        <test-tile>
          <span class="chip" style="width: 200px">
            <select class="chip-label" id="select2" style="pointer-events: auto">
              <option value="select2-option1">Choose an option long long texts</option>
              <option value="select2-option2">option2</option>
            </select>
            <span class="chip-icon material-symbols-outlined" role="img" style="font-size: 16px">unfold_more</span>
          </span>
        </test-tile>
        <article class="component-props">
          <dl>
            <dt>options</dt>
            <dd>Option[]</dd>
            <dd></dd>
            <dt>label - option label과 혼동될 수도</dt>
            <dd>string</dd>
            <dd></dd>
            <dt>selectedValue</dt>
            <dd>Option.value</dd>
            <dd></dd>
            <dt>onChange - handleSelectChange</dt>
            <dd>(event: React.FormEvent[HTMLSelectElement]) => void</dd>
            <dd></dd>
          </dl>
        </article>
      </section>

      <test-callout icon="📌">
        <test-text variant="body-large" class="article-kicker">
          native select와 dropdown을 함께 가져갈 필요가 있나. native select는 모바일 사용성에 장점이 있고, 초기 구축이 쉽다는 장점이 있다. 하지만 제품
          또는 제품 개발 과정이 궤도에 올라왔을 때는 일정 수준의 컴포넌트가 확보되어 있을 것이기 때문. naming select / width / input bar(google font)
        </test-text>
      </test-callout>

      <test-text variant="subhead">Native</test-text>
      <ul>
        <li>레이블 클릭해도 셀렉트박스 안 열림. id prop 필요없음.</li>
        <li>셀렉트 옵션에 따라 박스의 너비가 자동 조절된다. indicator를 position으로 넣고 옵션에 말줄임표를 넣어야.</li>
      </ul>

      <test-text variant="subhead">Best practices</test-text>
      <ul>
        <!-- <li>다중 선택(combobox)을 셀렉트로 제공하지 마세요. chip group으로 선택 옵션을 풀어서 제공하세요. 선택 목록이 많지 않다는 가정 하.</li> -->
        <li>
          memo. 레이블을 포함하는 형태. select 엘리먼트가 아니라 부모 엘리먼트에 컨테이너 스타일링이 필요하고, 클릭 영역까지 지정해야 했다. 그리고
          드롭다운으로 구현해야 한다.
        </li>
      </ul>
      <!-- var selected = Array.from(dnd.options).filter((option) => {
        return option.selected;
      }).map((option) => option.value); -->
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Seperator</test-text>
      <p class="article-description">선으로 콘텐츠를 구획합니다. 반복과 대비가 구획되었다는 인상을 주기 때문에 남용하지 않습니다.</p>
      <hr role="separator" />
      <br />
      <ul>
        <li>아티클 레벨에서 사용합니다. 섹션 레벨과 페이지 레벨에서는 충분한 여백으로 콘텐츠를 구획합니다.</li>
        <li>
          border 속성으로 스타일링하지 않습니다. hr 태그를 사용하면 의미론적으로 주제를 분리할 수 있고 컴포넌트의 고유성을 유지할 수 있습니다. + 선의
          굵기 버그.
        </li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Breadcrumb</test-text>
      <p class="article-description">사용자의 현재 위치를 계층 구조로 보여줍니다.</p>

      <section class="component-example">
        <test-tile>
          <nav class="breadcrumb" aria-label="breadcrumb">
            <a class="breadcrumb-item breadcrumb-home" href="/">홈</a>
            <i class="breadcrumb-divider">/</i>
            <a class="breadcrumb-item" href="#">페이지 이름</a>
            <i class="breadcrumb-divider">/</i>
            <span class="breadcrumb-item" aria-current="page">페이지 이름</span>
          </nav>
        </test-tile>
        <article class="component-props">
          <test-text variant="subhead">Props</test-text>
          <dl>
            <dt>currentPage</dt>
            <dd>string</dd>
            <dd>aria-current="page"</dd>
          </dl>
        </article>
      </section>
      <test-text variant="subhead">Memo</test-text>
      <ul>
        <li>모바일의 네비게이션 바(탑 바/타이틀 바/바텀 네비게이션 등)와 함께 사용하지 마세요.</li>
        <li>푸터에서 사이트맵과 함께 사용할 수 있습니다.</li>
        <li>프로모션용 랜딩 페이지에서 사용자 여정을 돕기 위해 사용할 수 있습니다.</li>
      </ul>
      <test-text variant="body-large" class="article-kicker">
        <b>3개 이상의 페이지 댑스에서 사용합니다.</b> flat sitemap 트렌드에서 사용 빈도가 높지 않습니다. 주로 도움말, 상품 등 카테고리 구조에서
        제한적으로 활용하며, pg 심사 시 요구될 수 있습니다. (토스페이-구엘지페이먼츠시절)
      </test-text>
      <test-text variant="body-large" class="article-kicker"><b>활용</b> 상위 댑스의 페이지 타이틀이 길어지면 truncated할 수 있다.</test-text>
    </article>

    <article class="article js-observer js-scrollspy-section js-tab">
      <test-text variant="title">Tab</test-text>
      <p class="article-description">같은 맥락의 콘텐츠를 주제별로 분류합니다.</p>
      <p></p>

      <section class="component-example">
        <test-tile>
          <test-tablist
            data-tabs='{"name": "Chris Coyier", "job": "Web Person"}'
            class="tablist"
            role="tablist"
            aria-label="sample tabs"
            style="margin: 0 0 var(--space-2) 0"
          >
          </test-tablist>

          <!-- <button class="tablist-tab" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">
            첫번째 탭
            <em class="tablist-tab-badge badge">24</em>
          </button>
          <button class="tablist-tab" role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="-1">두번째 탭</button>
          <button class="tablist-tab" role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">세번째 탭</button>
          <i class="tablist-indicator"></i> -->

          <div class="tabpanel" id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1" style="margin: 0">
            <p>Content for the first panel. tablist는 tile inset에 .25rem을 쓰는 예외 케이스...</p>
          </div>
          <div class="tabpanel" id="panel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" aria-hidden="true" style="margin: 0">
            <p>Content for the second panel</p>
          </div>
          <div class="tabpanel" id="panel-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3" aria-hidden="true" style="margin: 0">
            <p>Content for the third panel</p>
          </div>
        </test-tile>
        <article class="component-props">
          <test-text variant="subhead">Props</test-text>
          <dl>
            <dt>tablist</dt>
            <dd><del>OptionType[]</del>TabType[]</dd>
            <dd>TODO SPA에서 탭은 라우팅 또는 브라우저 히스토리를 관리가 필요하다.</dd>
            <dt>tabPanel</dt>
            <dd>React.Node</dd>
            <dd>TODO SPA에서 Tablist를 따로 정의해야 한다.</dd>
            <!-- <dt>indicator (active bar)</dt> -->
            <dt>badge? counter? isUnread?</dt>
            <dd></dd>
            <dd></dd>
          </dl>
        </article>
      </section>

      <test-text variant="body-large" class="article-kicker">
        <b>탭을 중첩하여 플로우를 설계하지 마세요.</b>
      </test-text>
      <test-text variant="body-large" class="article-kicker">
        <b>콘텐츠 스위칭</b>
        콘텐츠 정렬 또는 콘텐츠 필터로 사용할 수 없습니다. 구조적으로 콘텐츠 필터의 맥락인 탭투스크롤로 사용할 수 없습니다.
      </test-text>
      <test-text variant="body-large" class="article-kicker">
        <b>키보드 접근성</b>
        방향키
      </test-text>

      <ul>
        <li>글로벌 네비게이션 패턴인 햄버거 메뉴와 탭(바텀네비게이션, 탭바)을 함께 사용하지 마세요. (todo: tab과 tab bar(app bar)를 구분)</li>
        <li><del>페이지 링크로 사용하지 마세요.</del> SPA에서 페이지 링크의 개념이 모호하지만 탭을 클릭 후의 뷰에서 탭 바는 유지되어야 합니다.</li>
        <li>todo 탭 갯수의 제한과 가로 스크롤. 브라우저 히스토리 저장. (?tab=projects)</li>
      </ul>

      <div class="component-references">
        <test-text variant="subhead">References</test-text>
        <a href="https://developer.apple.com/design/human-interface-guidelines/components/layout-and-organization/tab-views" target="_blank"
          >HIG tab views</a
        >
        <i class="icon-bullet"></i>
        <a href="https://developer.apple.com/design/human-interface-guidelines/components/selection-and-input/segmented-controls/"
          >HIG Segmented controls</a
        >
        <i class="icon-bullet"></i>
        <a href="https://material.io/components/tabs">MD Tabs</a>
      </div>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Title Bar</test-text>
      <p class="article-description">작성 중. 모바일</p>

      <section class="component-example">
        <test-tile>
          <header class="titlebar js-titlebar" role="navigation" style="padding: 0">
            <div class="titlebar-background"></div>
            <h1 class="titlebar-title js-page-title" title="page title">쇼핑 탭</h1>
            <test-chip class="titlebar-action"> 장바구니 </test-chip>
          </header>
        </test-tile>
        <test-tile>
          <header class="titlebar js-titlebar" role="navigation" style="padding: 0">
            <div class="titlebar-background"></div>
            <h1 class="titlebar-title js-page-title" title="page title">페이지 타이틀</h1>
            <test-chip class="titlebar-back" onclick="javascript:window.location.href='/';">
              <span class="titlebar-back-icon material-symbols-outlined">arrow_back</span>
            </test-chip>
            <test-chip class="titlebar-action" style="color: var(--color-primary)"> 공유 </test-chip>
          </header>
        </test-tile>
        <test-tile style="overflow: hidden">
          <header class="titlebar js-titlebar" role="navigation" style="padding: 0">
            <test-chip class="titlebar-back" onclick="javascript:window.location.href='/';"> Back to Blahblah Page </test-chip>
          </header>
        </test-tile>
        <test-tile style="overflow: hidden">
          <header class="titlebar js-titlebar" role="navigation" data-size="large" style="padding: 0">
            <div class="titlebar-background"></div>
            <h1 class="titlebar-title js-page-title" title="page title">Large Case</h1>
            <test-chip class="titlebar-back" onclick="javascript:window.location.href='/';">
              <span class="material-symbols-outlined">close</span>
            </test-chip>
            <test-chip style="color: var(--color-primary)">저장</test-chip>
          </header>
        </test-tile>
        <!-- <div class="titlebar-backdrop js-header"></div> -->
        <article class="component-props">
          <test-text variant="subhead">Props</test-text>
          <dl>
            <dt>title<attr>?</attr></dt>
            <dd>string</dd>
            <dd>
              최대 8자로 제한합니다. 타이틀이 말줄임표로 표시되지 않아야. 하지만 화면 크기는 점점 작아지니(접힌 상태의 폴더블폰) 대안이 필요하다.
            </dd>
            <dt>backType????<attr>?</attr></dt>
            <dd>'close' | 'back'</dd>
            <dd>TODO 패턴 정의. 탭 바로 접근하는 경우 등. close에서는 우측 액션을 제한해야 할 지도.</dd>
            <dt>actions</dt>
            <dd>React.Node</dd>
            <dd>todo 우측 actions. 갯수 제한. md에서 최대 3개. hamberger case.</dd>
            <!-- <dt>hasNext<attr>?</attr></th>
              <dd>
                boolean / 함수만 넘겨줘서 next 액션을 랜더링하는 방법이 나을 지도.
              </dd> -->
            <dt>onComplete(?) / onCancel<attr>?</attr></dt>
            <dd>() => void</dd>
          </dl>
        </article>
      </section>
      <!-- <li>현재 페이지와 관련된 액션을 제공합니다.</li> -->

      <div class="component-references">
        <test-text variant="subhead">References</test-text>
        <a href="https://m3.material.io/components/top-app-bar/overview" target="_blank">MD3 top app bar</a>
      </div>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Bottom Navigation / Navigation Bar ??</test-text>
      <p class="article-description">모바일 환경의 글로벌 네비게이션.</p>

      <aside class="article-aka">
        <test-tag>a.k.a.</test-tag>
        <span class="hashtag" title="google">Navigation Bar</span>
      </aside>

      <section class="component-example">
        <test-tile>
          <nav class="bottombar">
            <a href="#" class="bottombar-item is-active">
              <figure class="bottombar-item-icon">
                <span class="material-symbols-outlined"> account_circle </span>
              </figure>
              <span class="bottombar-item-label">홈</span>
              <em></em>
            </a>
            <a href="#" class="bottombar-item">
              <figure class="bottombar-item-icon">
                <span class="material-symbols-outlined"> account_circle </span>
              </figure>
              <span class="bottombar-item-label">카테고리</span>
            </a>
            <a href="#" class="bottombar-item">
              <figure class="bottombar-item-icon">
                <span class="material-symbols-outlined"> account_circle </span>
              </figure>
              <span class="bottombar-item-label">설정</span>
            </a>
          </nav>
        </test-tile>
      </section>

      <ul>
        <li>TODO 바텀 네비게이션과 햄버거 메뉴를 혼용할 수 있는 패턴을 정의.</li>
        <li>바텀 네비게이션의 메뉴로 햄버거 아이콘을 사용하는 케이스: 커머스 도매인에서 카테고리 메뉴. 주로 왼쪽에 배치.</li>
        <li>bottom navigation의 label은 예외적으로 10px입니다. 예외 케이스는 어디에서 정의해야 하는가. => 컴포넌트 스코프 + 관련 패턴 페이지</li>
      </ul>

      <div class="component-references">
        <test-text variant="subhead">References</test-text>
        <a href="https://m2.material.io/components/bottom-navigation" target="_blank">M2 Bottom Navigation</a>
        <i class="icon-bullet"></i>
        <a href="https://m3.material.io/components/navigation-bar/overview" target="_blank">M3 Navigation Bar</a>
        <i class="icon-bullet"></i>
        <a href="https://developer.apple.com/design/human-interface-guidelines/components/navigation-and-search/tab-bars" target="_blank"
          >HIG Tab bars</a
        >
      </div>
      <!-- // iOS isTranslucent: Bool -->
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Paginations</test-text>
      <p class="article-description">작성 중.</p>

      <section class="component-example">
        <test-tile>
          <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous" href="#" title="앞 페이지로 이동" aria-label="">이전</a>
            <a class="pagination-next" href="#" title="뒷 페이지로 이동">다음</a>
            <a class="pagination-link" href="#" title="맨 앞 페이지로 이동">1</a>
            <i class="pagination-ellipsis" title="맨 앞 페이지로 이동">...</i>
            <a class="pagination-link" href="#" title="1 페이지로 이동">5</a>
            <a class="pagination-link" href="#" title="1 페이지로 이동">6</a>
            <a class="pagination-link is-current" href="#" title="1 페이지로 이동" aria-current="true">7</a>
            <a class="pagination-link" href="#" title="1 페이지로 이동">8</a>
            <a class="pagination-link" href="#" title="1 페이지로 이동">9</a>
            <i class="pagination-ellipsis" title="맨 앞 페이지로 이동">...</i>
            <a class="pagination-link" href="#" title="맨 뒤 페이지로 이동">50</a>
          </nav>
          <aside>
            <small role="" style="display: block; margin: var(--space-4) 0 0; text-align: center">숙소 300개 이상 중 281 – 300 (airbnb)</small>
          </aside>
        </test-tile>

        <article class="component-props">
          <test-text variant="subhead">Props</test-text>
          <dl>
            <!-- <dt>offset</dt>
              <dd>number</dd> -->
            <dt>initialPageNumber? selecedPageNumber?</dt>
            <dd>number</dd>
            <dt>lastPageNumber</dt>
            <dd>number</dd>
            <dd>서버에서 받는다.</dd>
          </dl>
        </article>

        <!-- <b class="pagination-current">1</b>
          <span class="pagination-divider"> / </span>
          <span class="pagination-all">44</span> -->
        <!-- <span>page 2 of 22</span> -->
      </section>

      <p>
        첫 페이지와 마지막 페이지에 더블 화살표 아이콘을 사용하지 않습니다. 최초와 최종 페이지 넘버로 사용자가 대략적인 콘텐츠 수량을 파악할 수 있도록
        도와주세요.
      </p>
      <p>서버에서 offset을 0으로 줄 수도 있고 1로 줄 수도 있다.</p>
      <!-- <p>pagination vs more load vs infinite scroll. 느린 탐색 경험이 필요할 때. 게시판이나 상품 목록의 탐색에서 이전에 탐색한 상품의 위치를 찾기 편리함. 최근 본 목록이나 섬네일에서 북마크를
            제공한다면?</p> -->
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">File Uploader</test-text>
      <p class="article-description">프로필 사진 또는 이미지 업로드.</p>
      <section class="component-example">
        <test-tile>
          <form class="file" method="" enctype="multipart/form-data">
            <b class="file-title" hidden>프로필 사진</b>
            <div class="file-upload">
              <input class="file-input js-file-input" type="file" id="file2" multiple accept=".jpg,.png" capture="camera" />
              <label class="file-label" for="file2">사진 업로드. 여기로 드래그 하셔도 되어요.</label>
              <p class="file-helper"><small>Only .jpg and .png files. 500kb max file size.</small></p>
            </div>
            <div class="file-attachment">
              <b class="file-attachment-title">첨부한 파일</b>
              <p class="file-attachment-helper js-file-attachment-helper" role="status">No files currently selected for upload.</p>
              <section class="file-attachment-list js-file-attachment-list"></section>
            </div>
          </form>
        </test-tile>
      </section>
    </article>

    <!-- // Chris said Marcus replied -->

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Carousel</test-text>
      <p class="article-description">작성 중.</p>
      <p>https://web.dev/carousel-best-practices/</p>
      <p><b>block</b> -> inline / font-size: 0</p>
      <p><b>flex</b> -> block + min-width</p>
      <p>scroll-behavior: smooth</p>
      <section class="component-example">
        <test-tile>
          <section class="carousel js-carousel" style="max-width: auto">
            <div class="carousel-viewer js-carousel-viewer">
              <a class="carousel-viewer-slide" href="#profile">
                <span class="carousel-viewer-slide-media">🧑‍🦱</span>
                <p class="carousel-viewer-slide-name">사용자 프로필</p>
              </a>
              <a class="carousel-viewer-slide" href="#signup">
                <span class="carousel-viewer-slide-media">🗂️</span>
                <p class="carousel-viewer-slide-name">회원가입</p>
              </a>
              <a class="carousel-viewer-slide" href="#login">
                <span class="carousel-viewer-slide-media">🗂️</span>
                <p class="carousel-viewer-slide-name">로그인</p>
              </a>
              <a class="carousel-viewer-slide" href="#forgot">
                <span class="carousel-viewer-slide-media">🔑</span>
                <p class="carousel-viewer-slide-name">비밀번호 찾기</p>
              </a>
              <a class="carousel-viewer-slide" href="#post">
                <span class="carousel-viewer-slide-media">✍️</span>
                <p class="carousel-viewer-slide-name">포스트</p>
              </a>
              <a class="carousel-viewer-slide" href="#product">
                <span class="carousel-viewer-slide-media">🧴</span>
                <p class="carousel-viewer-slide-name">상품</p>
              </a>
            </div>
            <!-- <nav class="carousel-dots">
                  <button class="carousel-dots-dot">1</button>
                  <button class="carousel-dots-dot">1</button>
                  <button class="carousel-dots-dot">1</button>
                </nav> -->
            <nav class="carousel-arrows">
              <button class="carousel-arrows-prev js-carousel-prev" title="이전"><span class="material-symbols-outlined">chevron_left</span></button>
              <button class="carousel-arrows-next js-carousel-next" title="다음"><span class="material-symbols-outlined">chevron_right</span></button>
            </nav>
          </section>
        </test-tile>
      </section>

      <ul>
        <li>서드파티 라이브러리를 사용하지 마세요.</li>
        <li>터치 제스쳐를 지원하지 않는 환경에서는 arrow 버튼을 제공하세요.</li>
        <!-- // todo 가로 스크롤 패턴 -->
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Table</test-text>
      <p class="article-description">표.</p>
      <section class="component-example">
        <test-tile variant="elevated">
          <table>
            <caption>
              히라가나 오십음도
            </caption>
            <!-- <colgroup>
              <col>
              <col span="2" class="batman">
              <col span="2" class="flash">
            </colgroup> -->
            <thead role="rowgroup">
              <tr role="row">
                <!-- <th role="columnheader" aria-sort="none" class="table-checkbox">
                  <div>
                    <input type="checkbox" id="temp1">
                    <label for="temp1"></label>
                  </div>
                </th> -->
                <th scope="col">あ단</th>
                <th scope="col">い단</th>
                <th scope="col">う단</th>
                <th scope="col">え단</th>
                <th scope="col">お단</th>
                <th scope="col" class="right">숫자</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              <tr role="row" aria-rowindex="11">
                <td>な</td>
                <td>に</td>
                <td>ぬ</td>
                <td>ね</td>
                <td>の</td>
                <td class="right">9,600</td>
              </tr>
              <tr>
                <td>わ</td>
                <td>ゐ wi</td>
                <td>-</td>
                <td>ゑ we</td>
                <td>を wo(o)</td>
                <td class="right">ん n/nn</td>
              </tr>
            </tbody>
          </table>
        </test-tile>

        <test-tile variant="elevated">
          <table>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
            </tr>
            <tr>
              <th scope="row">Gabriel</th>
              <td>13</td>
              <td>Male</td>
            </tr>
            <tr>
              <th scope="row">Elva</th>
              <td>8</td>
              <td>Female</td>
            </tr>
            <tr>
              <th scope="row">Freida</th>
              <td>5</td>
              <td>Female</td>
            </tr>
          </table>
        </test-tile>
      </section>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Accordions</test-text>
      <p class="article-description">사용자의 필요에 따라 취사선택할 수 있도록 정보 목록을 요약합니다.</p>

      <section class="component-example">
        <test-tile>
          <details class="details">
            <summary class="details-summary">native details / summary tags</summary>
            <p>안녕</p>
          </details>
        </test-tile>
        <section class="faq tile-flat">
          <!-- <header style="padding-bottom: 1.5rem; text-align: center">
              <abbr title="Frequently asked questions" hidden>FAQ</abbr>
              <small>Find Your Answers</small>
              <h2 style="font-size: var(--font-size-huge)" title="FAQs">궁금한 점이 있으신가요?</h2>
            </header> -->
          <article class="accordion js-accordion is-active">
            <button class="accordion-title" role="heading" aria-label="3" aria-expanded="false" aria-controls="1" aria-disable="true">
              탈퇴하고 싶어요.
              <figure class="accordion-title-icon material-symbols-outlined">arrow_right</figure>
            </button>
            <div class="accordion-panel">
              <p>모든 국민은 건강하고 쾌적한 환경에서 생활할 권리를 가지며, 국가와 국민은 환경보전을 위하여 노력하여야 한다.</p>
              <p>
                제1항의 지시를 받은 당해 행정기관은 이에 응하여야 한다. 국회의원은 법률이 정하는 직을 겸할 수 없다. 대통령의 임기연장 또는 중임변경을
                위한 헌법개정은 그 헌법개정 제안 당시의 대통령에 대하여는 효력이 없다.
              </p>
            </div>
          </article>
          <article class="accordion js-accordion is-active">
            <button class="accordion-title" role="heading" aria-expanded="false">
              탈퇴하고 싶어요.
              <figure class="accordion-title-icon material-symbols-outlined">arrow_right</figure>
            </button>
            <div class="accordion-panel">
              <p>모든 국민은 건강하고 쾌적한 환경에서 생활할 권리를 가지며, 국가와 국민은 환경보전을 위하여 노력하여야 한다.</p>
              <p>
                제1항의 지시를 받은 당해 행정기관은 이에 응하여야 한다. 국회의원은 법률이 정하는 직을 겸할 수 없다. 대통령의 임기연장 또는 중임변경을
                위한 헌법개정은 그 헌법개정 제안 당시의 대통령에 대하여는 효력이 없다.
              </p>
            </div>
          </article>
          <!-- <footer>
              <p style="margin:var(--space-4) 0 0 0;">궁금증이 해결되지 않는다면? <a href="#">Get in touch with us.</a></p>
            </footer> -->
        </section>
      </section>

      <test-text variant="subhead">Best practices</test-text>
      <p>사용자가 반드시 숙지해야 하는 정보를 아코디언으로 요약해서 보여주지 마세요. (참고. Tooltip과 같은 맥락)</p>

      <!-- <test-text variant="body-large">Writing guidelines</test-text> -->

      <ul>
        <li>role button - space keycode를 추가하여 스페이스 키 또한 확장/축소할 수 있는 키로 인식되도록 합니다. a 엔터키로만동작</li>
        <li>heading은 한 문장으로 간결하게 작성하세요.</li>
        <li>클릭 영역의 정의. 본문을 클릭하여 닫을 수 있게 되면, 본문에 페이지 링크를 제공할 수 없음.</li>
      </ul>

      <!-- <test-text variant="body-large">FAQ<br />자주묻는질문</test-text> -->
      <blockquote>
        <p>자주묻는질문(FAQ) 정도 외에는 잘 쓰지 않음. 교육 도매인의 커리큘럼 정도에서 보임. 그 외에는 모바일 친화적인 모달이나 시트를 사용.</p>
      </blockquote>

      <test-text variant="subhead">References</test-text>
      <a href="https://nuli.navercorp.com/community/article/1132889">nuli</a>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Dialog</test-text>
      <p class="article-description">
        사용자의 정보나 재산의 변경 또는 삭제 확인. 사용자는 모달 형태의 집중된 환경에서(?) 리스크를 관리할 수 있습니다.
      </p>

      <aside class="article-aka" style="margin: 0">
        <test-tag>a.k.a.</test-tag>
        <span class="hashtag" title="">Alert</span>
        <span class="hashtag" title="">Modal</span>
      </aside>

      <section class="component-example">
        <aside class="dialog" role="alertdialog" aria-modal="true" aria-labelledby="dialog-title1" aria-describedby="dialog-description2">
          <header class="dialog-head">
            <h2 class="dialog-head-title"></h2>
            <button class="dialog-close js-close" aria-label="delete"></button>
          </header>
          <div class="dialog-body"></div>
          <test-text variant="subhead" class="dialog-title" id="dialog-title1">부끄러우니까 보지마요!</test-text>
          <p class="dialog-description" id="dialog-description1">다이얼로그 디스크립션입니다.</p>
          <footer class="dialog-footer">
            <test-button variant="primary" class="dialog-footer-cancel" style="flex: auto">확인</test-button>
          </footer>
        </aside>

        <aside class="dialog" role="alertdialog" aria-modal="true" aria-labelledby="dialog-title2" aria-describedby="dialog-description2">
          <!-- <header class="dialog-head">
            <h2 class="dialog-head-title"></h2>
            <button class="dialog-close js-close" aria-label="delete"></button>
          </header>
          <div class="dialog-body"></div> -->
          <test-text variant="subhead" class="dialog-title" id="dialog-title2">부끄러우니까 보지마요!</test-text>
          <p class="dialog-description" id="dialog-description2">다이얼로그 디스크립션입니다.</p>
          <footer class="dialog-footer">
            <test-button variant="tertiary" class="dialog-footer-confirm">안 볼래요</test-button>
            <test-button variant="primary" class="dialog-footer-cancel">볼래요</test-button>
          </footer>
          <close-button></close-button>
        </aside>
      </section>

      <ul>
        <!-- <li>레이어를 2개 이상 쌓지 마세요. 모달의 가이드</li> -->
        <li>버튼의 레이블은 다이얼로그 제목의 동사와 페어링합니다.</li>
        <li>memo: modal의 구조: header/body/footer. 단순 다이얼로그는 복잡한 구조가 필요 없다.</li>
        <li>memo: overay엘리먼트 클릭 시 모달을 닫으면 리액트에서 구현이 쉬움. 이 overay은 sheet에서 재사용할 수 있다.</li>
        <li>buttonGroup type="unary(confirm) | binary(cancel/confirm)</li>
      </ul>

      <test-text variant="subhead">Props</test-text>
      <dl>
        <dt>title</dt>
        <dd>string</dd>
        <dt>description<abbr>?</abbr></dt>
        <dd>string</dd>
        <dt>React.Node - ButtonGroup 또는 label</dt>
        <dt>primaryActionLabel<abbr>?</abbr></dt>
        <dd>string</dd>
        <dt>secondaryActionLabel<abbr>?</abbr></dt>
        <dd>string | '취소?'</dd>
        <dt>onSubmit</dt>
        <dd>function()</dd>
      </dl>

      <test-text variant="body-large">Accessibility</test-text>
      <ul>
        <li>다이얼로그(또는 모달)를 닫은 후 열기 전으로 포커스.</li>
        <li>다이얼로그를 닫기 전까지 기본 콘텐츠로 포커스할 수 없다.</li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Workflow</test-text>
      <p class="article-description">내용 없음.</p>

      <aside class="article-aka">
        <test-tag>a.k.a.</test-tag>
        <span class="hashtag" title="">Timeline</span>
        <span class="hashtag" title="">Stepper</span>
      </aside>

      <section class="component-example">
        <test-tile>
          <section class="step is-vertical">
            <div class="step-item is-active">
              <span class="step-item-icon">1</span>
              <b class="step-item-label">장바구니</b>
            </div>
            <div class="step-item">
              <span class="step-item-icon">2</span>
              <b class="step-item-label">결제</b>
            </div>
            <div class="step-item">
              <span class="step-item-icon">3</span>
              <b class="step-item-label">주문완료</b>
            </div>
          </section>
        </test-tile>
        <test-tile>
          <section class="step">
            <div class="step-item is-active">
              <span class="step-item-icon">1</span>
              <b class="step-item-label">장바구니</b>
              <p class="step-item-description">
                대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다. 국가원로자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 국가는
                대외무역을 육성하며, 이를 규제·조정할 수 있다.
              </p>
            </div>
            <div class="step-item">
              <span class="step-item-icon">2</span>
              <b class="step-item-label">결제</b>
            </div>
            <!-- <div class="step-space">
                <span class="step-space-dot"></span>
                <span class="step-space-dot"></span>
                <span class="step-space-dot"></span>
              </div> -->
            <div class="step-item">
              <span class="step-item-icon">3</span>
              <b class="step-item-label">주문완료</b>
            </div>
          </section>
        </test-tile>
      </section>

      <ul>
        <li>타임라인과 구분. 타임라인은 히스토리 맥락으로 스텝의 역순. 확장, 링크, indentation</li>
      </ul>

      <test-text variant="body-large">Changelog</test-text>
      <p>클릭하고 싶지 않은 형태로 변경 2021.10</p>
    </article>

    <!-- <article class="article js-observer js-scrollspy-section">
        <test-text variant="title">Bullet</test-text>
        <p class="article-description">작성 중.</p>
        <ul>
          <li>불릿, 콤마, 콜론, 슬래시, 따옴표, 괄호 등을 사용하는 맥락에서 bullet 컴포넌트를 사용합니다.</li>
          <li>클립보드 복사를 위해 텍스트 더미를 드래그앤드롭으로 선택할 때에 불릿은 선택되지 않아야 합니다.</li>
        </ul>
      </article> -->

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">List</test-text>
      <p class="article-description">작성 중.</p>

      <section class="component-example">
        <test-tile>
          <ul style="margin: 0">
            <li>순서가 없는 리스트</li>
            <li>순서가 없는 리스트</li>
          </ul>
          <ol style="margin: var(--space-3) 0">
            <li>순서가 있는 리스트</li>
            <li>순서가 있는 리스트</li>
          </ol>
          <!-- <ul data-align="horizontal" style="margin: 0">
            <li title="unordered list, level 1">순서가 없는 리스트</li>
            <li style="margin: 0 2rem 0 1rem">가로로 정렬할 수 있어요</li>
            <li>조건이 있어요</li>
          </ul> -->
        </test-tile>
        <test-tile>
          <dl>
            <dt>Metadata</dt>
            <dd>description list</dd>
            <dt>Metadata</dt>
            <dd>description list</dd>
          </dl>
        </test-tile>
      </section>
      <ul>
        <li>텍스트 목록만 리스트 태그(ul, ol, dl)로 마크업하세요. role=listbox/listitem</li>
        <li>
          텍스트 목록을 2 댑스(nested)로 제공하지 마세요. 중첩된 목록은 콘텐츠를 읽기 어렵게 하고 작은 화면에서의 들여쓰기는 불필요한 공간을
          차지합니다.
        </li>
        <li>todo. checklist.</li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Statistic</test-text>
      <p class="article-description">수치 데이터.</p>
      <section class="component-example">
        <test-tile style="position: relative; z-index: 1">
          <div class="statistic">
            <div class="statistic-item">
              <i class="statistic-label">팔로워</i>
              <span class="statistic-value">21,682</span>
            </div>
            <div class="statistic-item" style="margin: 0 1rem">
              <i class="statistic-label">Repository</i>
              <span class="statistic-value">100만 이상</span>
            </div>
            <div class="statistic-item">
              <i class="statistic-label">Size</i>
              <span class="statistic-value">Small</span>
            </div>
          </div>
        </test-tile>
        <test-tile style="position: relative; z-index: 1">
          <div class="statistic" data-size="small">
            <div class="statistic-item">
              <i class="statistic-label">팔로워</i>
              <span class="statistic-value">21,682</span>
            </div>
            <div class="statistic-item">
              <i class="statistic-label">Repository</i>
              <span class="statistic-value">100만 이상</span>
            </div>
            <div class="statistic-item">
              <i class="statistic-label">Size</i>
              <span class="statistic-value">Small</span>
            </div>
          </div>
        </test-tile>
      </section>

      <ul>
        <li>todo countup</li>
        <li>todo clickable. non-clickable.</li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Summary</test-text>
      <p class="article-description">정보 요약. cart / order / checkout / result /</p>

      <section class="component-example">
        <section class="summary tile-flat">
          <div class="summary-item">
            <div class="summary-item-label">상품 금액</div>
            <div class="summary-item-value">₩ 160,000</div>
          </div>
          <div class="summary-item">
            <div class="summary-item-label">서비스 수수료</div>
            <div class="summary-item-value">₩ 3,000</div>
          </div>
          <div class="summary-total">
            <div class="summary-total-label">총 합계 (KRW)</div>
            <div class="summary-total-value">₩ 163,000</div>
          </div>
        </section>
      </section>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Suggestion</test-text>
      <p class="article-description">작성중</p>

      <section class="component-example">
        <div class="product-info-price tile-flat" role="suggestion">
          <del class="product-info-price-deletion" role="deletion">₩ 30,000</del>
          <b class="product-info-price-insertion" role="insertion">₩ 20,000</b>
          <em class="product-info-price-percentage">(30%)</em>
        </div>
      </section>

      <ul>
        <li>getFormattedCurrency()</li>
        <li>role=suggestion/deletion/insertion]</li>
      </ul>
    </article>

    <article class="article js-observer js-scrollspy-section">
      <test-text variant="title">Pagehead</test-text>
      <p class="article-description">패턴 분석...</p>

      <aside class="article-aka">
        <test-tag>a.k.a.</test-tag>
        <span class="hashtag" title="">Page Header</span>
      </aside>

      <section class="component-example"></section>

      <test-text variant="body-large">Anatomy</test-text>
      <ul>
        <li>breadcrumb</li>
        <li>titlebar</li>
        <li>hero with padding</li>
      </ul>
    </article>

    <article class="article">
      <test-text variant="title">Calendar</test-text>
      <p class="article-description"></p>
      <div class="calendar">
        <b>2020년 12월</b>
        <nav class="calendar-navigation">
          <button class="calendar-navigation-prev" aria-label="앞으로"><i class="icon-caret is-left"></i></button>
          <button class="calendar-navigation-next" aria-label="뒤로"><i class="icon-caret is-right"></i></button>
        </nav>
        <div class="calendar-head">
          <div>일</div>
          <div>월</div>
          <div>화</div>
          <div>수</div>
          <div>목</div>
          <div>금</div>
          <div>토</div>
        </div>
        <div class="calendar-body">
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
          <div class="calendar-body-column">1</div>
          <div class="calendar-body-column">2</div>
          <div class="calendar-body-column">3</div>
          <div class="calendar-body-column">4</div>
          <div class="calendar-body-column">5</div>
          <div class="calendar-body-column">6</div>
          <div class="calendar-body-column">7</div>
        </div>
      </div>
    </article>

    <article class="article">
      <label for="cb1-edit">레이블</label>
      <!-- a11y combobox -->
      <input
        type="text"
        aria-activedescendant="cb1-opt1"
        aria-readonly="true"
        aria-owns="cb1-list"
        aria-autocomplete="list"
        aria-label="label"
        id="cb1-edit"
      />
      <ul aria-expanded="true" role="listbox" id="cb1-list">
        <li role="option" id="cb1-opt1">Alabama</li>
        <li role="option" id="cb1-opt2">Alaska</li>
        <li role="option" id="cb1-opt3">American Samoa</li>
      </ul>

      <p>ID <span id="output-element"></span></p>
      <p>텍스트 <span id="output-text"></span></p>
      <form>
        <label for="ta-example-one">레이블</label>
        <textarea id="ta-example-one" rows="3" cols="40">
  텍스트 영역 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, lorem a porttitor molestie, odio nibh iaculis libero, et accumsan nunc orci eu dui.</textarea
        >
        <label for="ta-example-two">레이블</label>
        <textarea id="ta-example-two" rows="3" cols="40">
  텍스트 영역 2. Fusce ullamcorper, nisl ac porttitor adipiscing, urna orci egestas libero, ut accumsan orci lacus laoreet diam. Morbi sed euismod diam.</textarea
        >
      </form>
    </article>
  </section>
</main>
<!-- <article class="article">
        <test-text variant="title">Range</h1>
        <p class="article-description"></p>
        <div class="range">
          <label for="">숙박 인원</label>
          <input type="range" min="1" max="10" value="2" step="any" list="tickmarks" id="myRange">
          <datalist id="tickmarks">
            <option value="0" label="0"></option>
            <option value="5" label="5"></option>
          </datalist>
        </div>
      </article> -->
