.component {
  transition: all .4s;
  --container-width: var(--layout-width-small);
}
.component-example {
  /* max-width: 50%; */
  padding: 3rem calc(var(--grid-margin) - 1rem);
  border-radius: var(--radius-large) var(--radius-large) 0 0;
  margin: 2.5rem 0 3rem calc(-5vw + 1rem);
  border: var(--border-stronger);
  border-bottom: 0;
  border-left-color: var(--text-color);
  
  /* background: linear-gradient(to bottom, #155799, #159957); */
  /* box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.0125),
  0 2px 2px hsl(0deg 0% 0% / 0.0125),
  0 4px 4px hsl(0deg 0% 0% / 0.0125),
  0 8px 8px hsl(0deg 0% 0% / 0.0125),
  0 16px 16px hsl(0deg 0% 0% / 0.0125); */
}

.component-props {
  /* max-width: 50%; */
  margin: 2rem 0 0 calc(-5vw + 1rem);
  padding: 1.5rem calc(var(--grid-margin) - 1rem) 1.75rem;
  margin-top: -3rem;
  border: var(--border-stronger);
  border-top-color: var(--color-border);
  border-radius: 0 0 var(--radius-large) var(--radius-large);
  position:relative;
}

.component-guide {
  /* display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding: 2.5rem 0 2.5rem calc(var(--grid-margin) - 1rem);
  margin: 0 0 0 calc(-5vw + 1rem);
}

.component-guide mm-text-group {
  /* padding: 1.5rem 2rem; */
  border: var(--border);
  border-radius: var(--radius-large);
  margin: 0 0 0 calc(-5vw + 1rem);
  padding: 2rem calc(var(--grid-margin) - 1rem);
}

.component-guide mm-text-group::part(mm-text) {
  display: block;
  border-bottom: var(--border);
}

.component-props mm-text[variant=subhead] {display:none}
.component-props dl {
  height: 11rem;
  column-gap:var(--space-1);
  border: 1px solid transparent;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  &:hover {
  }
  
  &:after {
    content: '...더보기';
    display: block;
    padding: .75rem 2rem 1rem;
    font-weight: bold;
    background-color: inherit;
    /* background: linear-gradient(to bottom, rgba(255,255,255,0), var(--color-background-weak), var(--color-background-weak)); */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

  }
}
.component-props dl dt {color:var(--color-text-light);line-height:1.25;position:relative}
.component-props dl dt::before {content:'\2669';display:block;font-size: 12px;color:var(--color-text);font-style:normal;font-weight: bold;;}
.component-props dl dt::after {content:':'}
.component-props dl dd {font-style:italic;}
.component-props dl dd + dt {margin-top:var(--space-3);}
.component-props dl dd + dd {margin:0 0 var(--space-1) 0;font-style:normal;font-weight:var(--font-weight-normal);font-size:var(--font-size-medium)}

.component-props.is-opened dl {
  height: auto;

  &:after {
    display: none;
  }
}

.component-props dl {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-4);
  /* column-gap: 2rem !important; row-gap: 0 !important; */
}
.component-props dl dt {
  display: flex;
  align-items: center;
}
.component-props dl dt::before {
  display: none;
}
.component-props dl dt::after {
    content: "";
    display: block;
    width: 100%;
    /* width: calc(100% - 7.5rem);
    left: 100px;
    right: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    height: 1px;
    margin-left: var(--space-4);
    background: var(--color-border);
}
.component-props dl dt {
  width: 33%;
  padding: var(--space-1) 0;
}
.component-props dl dd {
  width: calc(100% - 33% - 2rem);
  padding: var(--space-1) 0;
  word-break: break-all;
  position: relative;
}
.component-props dl dd + dt {
  margin-top: 0;
}

.component-props dl {
    column-gap: var(--space-1);
    display: block;
    /* flex-wrap: wrap; */
    /* font-size: var(--font-size-large); */
    background: var(--color-background-weak);
    border-radius: var(--radius-large);
    margin: 0 -2rem 2rem;
    padding: 1.25rem 2rem;
    & dt:after {
      display: none;
    }
}
.component-props dl dt {
  padding: 0;
}
.component-props dl dd {
  padding: 0;
  margin-right: var(--space-4);
  font-weight: var(--font-weight-bold);
}
.component-props dl dd + dt {
  margin-top: var(--space-3);
}

.component-references {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin: 2rem 0;
  padding: 2rem 0 0;
  border-top: 2px dashed var(--color-border);
  & mm-text[variant=subhead] {
    display: none !important;
   
  }
  & a {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
  }
}


.component-temp {
  margin: 2rem 0;
}

.article-aka {display:none;gap:var(--space-3);margin:2rem 0 0 0;}
.article-aka dt {margin: 0;}
.article-aka dd {margin: 0;}

.component-guide [variant=label-strong] {
  display: block;
  margin-top: var(--space-2);
}

.spacing-card {padding:var(--space-inset-tile);overflow:hidden;position:relative;}
.space {display:flex;align-items:center;justify-content:center;height:100%;border-radius:var(--radius);background:var(--green100);position:relative;}
.space span {font-size:10px;}

@media (max-width: 1100px) {
  .component-example {
    max-width: 100%;
    margin-inline: calc(var(--grid-margin) * -1);
    padding-inline: var(--grid-margin);
    border-inline: 0;
    border-radius: 0;
  }
  .component-props {
    max-width: 100%;
    margin-inline: calc(var(--grid-margin) * -1);
    padding-inline: var(--grid-margin);
    border-inline: 0;
    border-radius: 0;
  }
  .component-guide {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    top: auto;
  }
}

