.component {
}
.component-example {margin:3rem -5vw;padding:2rem var(--grid-margin) 3rem;
  border: var(--border);
  border-right: none;
  border-top-left-radius:var(--radius);border-bottom-left-radius:var(--radius);position:sticky;top:0;
  /* // background: #159957;
  // fallback for old browsers
  // background: -webkit-linear-gradient(to bottom, #155799, #159957);
  Chrome 10-25, Safari 5.1-6
  // background: linear-gradient(to bottom, #155799, #159957);
  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.component-example > * {
  display: block;
  max-width: 800px;
}

.component-props {
  border:none;margin:-4rem -1rem 3rem;padding:var(--space-4);
  background: var(--color-background-strong);
  border-radius: var(--radius);
  font-size: 12px;
  font-family:'revert';position:relative;
}
.component-props dl {}
.component-props dl dt {color:gold;}
.component-props dl dt:after {content:':';}
.component-props dl dd {color:greenyellow;}
.component-props dl dd + dd {width:100%;margin:0 0 var(--space-1);color:#ddd;}
/* 
.component-props dl dd + dd:before {content:'*'}
.component-props dl dd + dd:after {content:'*}
*/
.component-props [variant=subhead] {display:none;}
.component-guide {
  margin:3rem 0;
}

.component-references {
  margin: 1rem 0 0;
  padding: 1rem;
  background: var(--color-background-weak);
  border-radius: var(--radius);
}
.component-references .article-subhead {
  margin-top: 0;
  margin-right: var(--space-4);
}
.component-references a {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}
.component-references a:hover {
  text-decoration: underline;
}


.component-navigation {
  width:calc(100% + .25rem);
  box-sizing: border-box;
  background:var(--color-background);
  position:sticky;top:calc(var(--navbar-height));z-index:7;padding:var(--space-2) var(--grid-margin) !important;
  scroll-behavior: smooth;
}
.component-navigation-background {
  position: absolute;
  display: none;
}

  
  .article {padding:4rem var(--grid-margin) 8rem;overflow:hidden;position:relative;}
.article + .article {padding-top:6rem;}


p + [variant="subhead"],
[variant=body] + [variant="subhead"] {display:block;margin-top: 2.5rem;}
[variant="subhead"] + p {margin: 0 0 var(--space-after-subhead) 0;}

[variant="subhead"] + test-row,
[variant="subhead"] + test-tile {
  display: block;
  margin: var(--space-after-subhead) 0 0 0;
}


.article-aka {gap:var(--space-3)}
.article-aka dt {margin: 0;}
.article-aka dd {margin: 0;}
.article-aka .hashtag:before {content:'';}

.article-title {font-size:var(--font-size-huge);font-weight:var(--font-weight-bold);line-height:var(--font-line-height);color:var(--color-text);}
.article-description {margin:var(--space-after-title) 0 2rem;font-size:var(--font-size-large);line-height:var(--font-line-height);color:var(--color-text);}
.article ul {margin:var(--space-after-subhead) 0 2rem;}

.article p, .article ul, .article dl {max-width: 720px;}


.article-p {
  display: block;
  max-width: 720px;
  margin:1rem 0;
}
.article-p b {
  display: block;
}
.article-kicker {
display: block;
max-width: 720px;
margin: 2rem 0;font-size:var(--font-size-large);color:var(--color-text);line-height:var(--font-line-height-large);}
.article-kicker b {margin-right:var(--space-3);font-weight: var(--font-weight-bold);}
.article-kicker + .article-kicker {margin-top: -1.5rem;} 

.article-dont {padding:1rem;border-radius:var(--radius);background:var(--red100);}

.article > .hashtag {margin:0 .25rem 0 0;font-size:var(--font-size-small);}

.spacing-card {padding:var(--space-inset-tile);overflow:hidden;position:relative;}
.space {display:flex;align-items:center;justify-content:center;height:100%;border-radius:var(--radius);background:var(--green100);position:relative;}
.space span {font-size:10px;font-weight:var(--font-weight-bold);}


@media (--small) {
  .component-example {margin-top:2rem;margin-bottom:2rem;padding-top:1rem;padding-bottom:1rem;border-radius:0;
  }
  /* // .component-example > *,
  // .article .tile-elevated,
  // .article .tile-flat {
  // margin-left:-5vw;margin-right:-5vw;padding-left:5vw;padding-right:5vw;border-radius:0;
  // }
  // .component-example > *:first-child {margin-top:-1.75rem;} */
}